[2016-03-13 20:15] georgemarrows opened #587 "Compiler crash with non-constant method parameter default"
In the grammar, seems you can have pretty much any expression after the '=' of an optional argument (parser.c:78).

However I can crash the latest compiler (047e9ad) in a variety of exciting ways if I actually try putting a non-constant expression in there.

This test prog compiles fine:
[code]

With either of
[code]
I get "Error: internal failure not reported"

With either of
[code]
I get a segfa

[2016-03-13 20:41] SeanTAllen opened #588 "Arrange package entities in documentation by test/non-test & public/private"
Similar to #585, in package documentation, we have a list of entities that are part of the package. Currently the list mixes up public and private items together and also mixes test and non-test items together. You can see an example of this at

http://www.ponylang.org/ponyc/regex--index/

What we would rather have is

Non-test public entities
Non-test private entities
Test public entities
Test pr

[2016-03-14 12:32] sylvanc commented on #548
A typearg that is the typeparam now always satisfies its own constraint. Your example works now, thanks!

[2016-03-14 12:32] #548 closed

[2016-03-14 13:12] sblessing commented on #446
bintray is actually set up, and binaries/packages should be uploaded once we do the next "make release"

[2016-03-14 21:09] kcrimson commented on #541
Thanks for all your help and suggestions. I am closing this issue, all works fine.

[2016-03-14 21:09] #541 closed

[2016-03-14 23:03] jemc commented on #588
How does one programatically distinguish between test entities and non-test entities?

I'll take this opportunity to go on record saying again that I am against having test entities in prod packages - tests should be in a subpackage to separate the namespace, for this reason and others.

For example, instead of having test entities mixed into the `collections` package, we could put them in a `coll

[2016-03-14 23:07] cgiffard opened #589 "Homebrew install requires CPU with AVX support"
I brew-installed Pony to run through the tutorial, but found that the compiler would immediately crash regardless of input:

[code]

I did a little hunting around to ascertain whether I could fix it myself, and it superficially appears to be fixed by the addition of a [clang flag](http://stackoverflow.com/questions/10177038/illegal-instruction-4-shows-up-in-os-x-lion) — though not having an opport

[2016-03-14 23:09] sylvanc commented on #588
That's an interesting point, @jemc. The ability to have nested packages in Pony makes it easy to do exactly what you propose.

Some random thoughts:

* One of the things I like about tests being in packages is that it allows a package to be "self-testing". That is, you can compile the package, and there are your test cases.
* I also like the idea of tests having access to private types and methods

[2016-03-15 05:03] jemc commented on #567
Resolved in #590

[2016-03-15 05:03] #567 closed

[2016-03-15 08:32] sylvanc commented on #589
That looks very much like you're getting a version built by homebrew on a
machine that supports AVX or AVX2 and your machine does not. It used to be
that homebrew built on non-AVX machines to avoid this, but perhaps that's
no longer be true.

Can you let us know your OS version (ponyc needs 10.8 or later) and whether
your box supports AVX/AVX2?

As long as you are on OSX 10.8 or later, if you buil

[2016-03-15 12:47] cgiffard commented on #589
Hey, thanks for your help — indeed, my machine does not have AVX. I'll try to recompile from source and let you know if it works.

[2016-03-15 21:31] georgemarrows commented on #588
I agree with @jemc that the current arrangement feels ... odd.

Opinion in the Java world is/was polarised on this, as summarised here: http://stackoverflow.com/questions/34571/how-to-test-a-class-that-has-private-methods-fields-or-inner-classes

Is there an argument for tests having access to private methods on Pony because the unit of visibility is the package, rather than Java's class? If so, w

[2016-03-15 23:37] SeanTAllen commented on #585
Closed by #591

[2016-03-15 23:37] #585 closed

[2016-03-16 08:37] sylvanc commented on #588
The problem with giving access to private things to packages that happen to be "in a directory" is that it establishes a trust relationship that is difficult to pick apart. If someone then makes a packages that isn't tests, and puts it in a sub-directory of another package, it then has access it shouldn't have. This is not good, but it's even worse if later that package is moved during refactoring

[2016-03-16 11:39] sylvanc commented on #537
Having gone through a lot of different options for this, it boils down to a "closed world" type problem. Any definition of `ByteSeq` that isn't closed world (i.e. a union of concrete types) will allow interception.

Having a builtin type that encapsulates a pointer and length either becomes a closed world issue (i.e. @magusofthebizarre still can't implement his own `ByteSeq` without once again exp

[2016-03-16 11:39] #537 closed

[2016-03-16 11:43] sylvanc commented on #539
I think we're all in agreement that @jemc's example **should** be possible.

Anybody want to volunteer to figure out how to type check the default arguments in the definition scope, and then use them in the caller scope?

[2016-03-16 16:19] jemc commented on #588
@sylvanc I know that @andymcn had a bit of debate about this on the old mailing list.  Neither one of us came away being convinced by the other :wink:.

So yes, I think he would have an argument to make in this ticket when he is available.

[2016-03-16 19:15] sylvanc commented on #588
Ok, let's wait for @andymcn before we do anything rash :)

[2016-03-16 20:16] andymcn commented on #588
I'm still travelling, but have internet access for a while so I'll weigh in.

The problem with only testing your public interface is that sometimes that
means you can't test part of your code. For example, you may have code to
handle error conditions returned from the file system if the disk is full
or you don't have required permissions. There's really no way to test
things like that though a pub

[2016-03-16 20:16] SeanTAllen commented on #588
I'm pretty sure the last thing @andymcn said before he left was "CHANGE
EVERYTHING WHILE I AM GONE"

On Wed, Mar 16, 2016 at 3:15 PM, Sylvan Clebsch <notifications@github.com>
wrote:

[2016-03-16 20:18] andymcn commented on #575
Not that I know of, I'm not sure if we have any case functions in stdlib at all. It's very easy to test though, just write a class with 2 case functions, give each of them a doc string and see what the generated docs look like.

[2016-03-16 20:51] jemc commented on #588
base/foo/test
base/foo/bar

directories are then related in a way that base/foo and base/foo/bar are
not.

The only thing special about the relationship between `base/foo/test` and `base/foo` is that it some files in `base/foo/test` probably contain `use ".."`.  This same could be true of `base/foo/bar`, or it might not be.  There's still nothing special about tests vs other code with dependencies

[2016-03-17 05:49] jeremyheiler commented on #557
An alternative to changing how the method is named is to change how the method is invoked. Methods that are deemed operators could require a syntax like `foo~add(x)` and `~add(x)`. (The specific use of `~` is completely arbitrary here. Anything that isn't a `.` or ambiguous could be used.) This would then allow the methods to be named as the operator, I think. So, the add method could look like th

[2016-03-17 08:08] sylvanc commented on #576
Fixed by @jeremyheiler in #598

[2016-03-17 08:08] #576 closed

[2016-03-17 08:43] sylvanc commented on #589
@cgiffard did this work for you?

[2016-03-17 10:56] sylvanc commented on #587
This was a collection of bugs:

* Literal coercion needed to happen in lookup.c when default args are type checked in advance.
* Checks for referencing `this` and method parameters in default args had "drifted" below other code, and needed to be run earlier.

All your examples work now. Thanks!

[2016-03-17 10:57] #587 closed

[2016-03-17 11:15] sylvanc commented on #558
Nice catch. This is fixed now, plus some associated improved error reporting when an expression doesn't return a value.

[2016-03-17 11:15] #558 closed

[2016-03-17 11:37] sylvanc commented on #520
Fixed. The problem was that `typeparam_constraint` wasn't finding a terminating constraint. Now it does, and checks for recursive definitions, treating them as unconstrained.

[2016-03-17 11:37] #520 closed

[2016-03-17 11:38] sylvanc commented on #315
LLVM 3.7 support has been merged to master.

[2016-03-17 11:38] #315 closed

[2016-03-17 11:44] sylvanc commented on #309
Somewhere along the line, this was fixed, and works now.

[2016-03-17 11:45] sylvanc commented on #281
Somewhere along the line, this was fixed, and works now.

[2016-03-17 12:30] cgiffard commented on #589
Looks good! Got it to run:

[code]

Thanks again. :)

[2016-03-17 12:30] #589 closed

[2016-03-17 12:43] Earnestly opened #599 "readdir_r deprecation -Werror"
* glibc 2.23-41-gad1b6d8

Glibc's `readdir_r` and `readdir64_r` will be deprecated in 2.24: https://www.sourceware.org/ml/libc-alpha/2016-02/msg00093.html

-- from **readdir_r**(3)

[code]

This AFAICT does not make `readdir` thread-safe so I'm not sure what an acceptable solution is here.

Perhaps adding a temporary `#pragma GCC diagnostic ignored "-Werror=deprecated-declarations"`. Clang also su

[2016-03-17 13:35] sylvanc commented on #599
Nice catch.

It turns out, from going through the libc sources (glibc, FreeBSD, Apple), that `readdir` is already thread-safe as long as only a single thread is reading from a given `DIR*`. The issue is reading the same `DIR*` from multiple threads, which we don't do. Fixed in #600.

[2016-03-17 13:35] #599 closed

[2016-03-17 14:30] Earnestly opened #602 "net/Broadcast timeout failure and nanosleep hang"
* linux 4.5.0
* gcc 5.3.0
* ponyc 0.2.1-630-gf2030d0

[code]

After building ponyc and running the tests I get a `net/Broadcast` failure:

[code]

[code]

Once it reaches this point it stops without returning or continuing, so I attached a strace to the `./stdlib` process and saw it produce a seemingly endless stream of `nanosleep`:

[code]

[2016-03-17 15:14] jemc commented on #557
Note that the `~` syntax you demonstrate is actually the syntax for [partial application](http://tutorial.ponylang.org/expressions/partial-application/).

I still think changing to names like `op_add` across the board is the best approach.

[2016-03-17 15:19] jemc commented on #602
@Earnestly This test fails for me as well - unless I disable my firewall.  I suspect that you have some kind of firewall running that prevents sending or receiving broadcasts, something we can't check for or disable from within Pony.

Interestingly enough, this test was the reason we first added timeouts to the `ponytest` package - it makes it clear that this test has failed instead of just hangin

[2016-03-17 15:29] jeremyheiler commented on #557
/me facepalm

I was trying to think of a symbol that looked good there. Oops.

[2016-03-17 15:33] Earnestly commented on #602
Hm, I was using `nftables` mostly for traffic control which did happen to reject incoming by default except ICMP and well formed established connections.

Disabling this firewall does allow the test to finish successfully which is fair enough but it seems that the hang on failure shouldn't happen.  The other issue with tests failing due to the environment is it makes automation more difficult, tha

[2016-03-17 17:16] jemc commented on #602
The best solution I can think of is having the standard library test suite provide an option to skip tests that are dependent on the environment.

[2016-03-17 19:17] ackalker commented on #540
Thanks for the explanation :-)

[2016-03-17 19:59] jupvfranco opened #603 "ring benchmark seg faults"
I'm trying to run the ring benchmark that I found in this repository on a 64 cores machine, however I get a seg fault.
https://github.com/ponylang/ponyc/blob/master/examples/ring/main.pony

The interesting part is that it only crashes when using 64 cores and after it has finished all its work.
It works perfectly with 32, 16, 8 and 4 cores.
I've tried the different core counts using the `--ponythre

[2016-03-17 23:38] andymcn commented on #309
I'm afraid this isn't fixed.

To reproduce:
* Edit builtin/arithmetic.pony
* Change the type parameter `C` in `trait _SignedInteger` to be called `B` instead.
* Try to build something, you'll get errors.

The `B` you've just put on `_SignedInteger` is confused with the `B` on function `from()` inherited from `Real`. This is why that type parameter is currently called `C`, as a crude work around to

[2016-03-17 23:42] andymcn commented on #281
That isn't fixed for me (tested on Linux). The code sample above still hits the same assert (although now it's at line 149 in genname.c).

[2016-03-18 09:34] sylvanc commented on #309
Thanks! Was able to reproduce with `_SignedInteger`. This is now _actually_ fixed, including getting rid of the `C instead of B` hack.

The problem was in reify.c, in `reify_typeparamref` where reification was being done based on the name, rather than the scoped definition.

[2016-03-18 09:34] #309 closed

[2016-03-18 09:39] moonbingbing opened #605 "can pony connect to redis or mysql?"

[2016-03-18 10:15] sylvanc commented on #281
Thanks, don't know why I thought I had validated that as working!

This is fixed now, along with a collection of other control structure codegen bugs that were happening when the expression as a whole had a control type.

[2016-03-18 10:15] #281 closed

[2016-03-18 11:17] SeanTAllen commented on #602
@jeremyheiler reported via IRC that this failed for him then didn't with no change. His last report was that it failed for him while connected to a VPN.

[2016-03-18 11:23] Nyarum commented on #605
Only if you will write wrapper of C library :)

[2016-03-18 13:08] albertnetymk commented on #603
I could reproduce it on ubuntu 14.04 using af215f69

Built with: `make config=debug`
The error message:
[code]

[2016-03-18 13:14] SeanTAllen commented on #605
You don't have to write a wrapper, you can use C FFI directly. No wrapping is required. It just makes for a more pleasurable API experience.

[2016-03-18 13:30] Nyarum commented on #605
@SeanTAllen so we can do in many new langs, but it is not very beautiful

[2016-03-18 15:40] sylvanc commented on #603
Thanks for the report! The problem was that the cycle detector was being finalised on quiescence before all threads had joined, which could result in a scheduler thread executing the cycle detector while it was finalised.

This should be fixed now.

[2016-03-18 15:40] #603 closed

[2016-03-18 15:54] sylvanc commented on #552
This was a tricky bug, and ended up being the same as #603. Should be fixed now.

[2016-03-18 16:06] jonas-l commented on #552
I've updated to version `0.2.1-637-ga1deebb` but still seeing `segmentation fault`, `bus error`, etc.

Is it just my machine, or somebody else experience this as well?

[2016-03-18 16:26] sylvanc commented on #552
I tested the skynet code with an initial parameter of `11_000_000` and it runs fine for me (OSX 10.11.3, 2 core laptop).

But "works for me" is not the same thing as fixed :) Can you `make clean` ponyc, rebuild the skynet test, and try again, just in case?

[2016-03-18 16:32] SeanTAllen commented on #552
If you installed by doing make config=release, make sure you do make clean config=release

[2016-03-18 16:33] jonas-l commented on #552
It works! Thanks a lot.

[2016-03-18 16:33] #552 closed

[2016-03-18 16:47] sylvanc commented on #552
Thank goodness! You had me _seriously_ worried :)

[2016-03-18 17:08] andrenth opened #606 "Stringables have incompatible signatures for string()"
Hello

The code below fails to compile with "a member of the union type has an incompatible method signature".

[code]

If `F32` and `F64` are removed, then it compiles. On IRC Praetonus indicated that for integers, `string()` expects a `FormatSettings[FormatInt]` while for floats it expects a `FormatSettings[FormatFloat]`. jemc then indicated that this might not be the intended behavior, so I'm o

[2016-03-18 17:22] andrenth opened #607 "Assertion failure in "Generating" phase"
The following code triggers an assertion error in ponyc:

[code]

[code]

I've noticed that changing either types `S` or `U` to be an alias to a primitive type (i.e. `type S = I8` or `type U = U8`) then the assertion will not fail. It also won't fail if in the `match` expression I write one branch for `S` and one for `U`, instead of matching on the union.

[2016-03-18 17:55] andrenth commented on #605
I'm currently working on MySQL bindings. I should have something kinda sort-of working next week :)

[2016-03-18 18:00] SeanTAllen commented on #605
^5 @andrenth

That's great to hear.

[2016-03-18 19:23] sylvanc commented on #607
Nice catch! Fixed.

[2016-03-18 19:23] #607 closed

[2016-03-19 02:09] SeanTAllen commented on #588
@andymcn @sylvanc @jemc

While folks work out a "good" solution to this, does anyone have an issue with my proceeding by doing...

* Mark anything that starts with `_Test` as being a "test item"
* Mark anything that is a subtype of `TestList` as being a "test item"

I think that covers pretty much everything in the stdlib which at the moment is my primary concern.

[2016-03-19 08:14] sylvanc commented on #588
I think that's a good interim plan.

[2016-03-19 13:00] SeanTAllen commented on #605
Hopefully the question has been answered. Closing.

For questions like this, the mailing list is best: https://groups.io/g/pony+user

[2016-03-19 13:00] #605 closed

[2016-03-19 13:27] SeanTAllen opened #616 "Improve INI package documentation"
Per @andymcn:

It would be good to document how we handle the various details that vary between standard implementations (especially Windows vs everyone else). Things like:

supported characters to indicate comments
full line vs partial line comments
case (in)sensitivity of string matching
supported escape sequences
Basically anything where the linked Wikipedia article indicates a difference betwe

[2016-03-19 14:19] SeanTAllen opened #617 "Embed string literal in string literal"
That sounds insane!

Except maybe for this case.

You are writing documentation for a class and want to be able to use a string literal in your example code... You can't and are forced to do awful things like...

https://github.com/ponylang/ponyc/pull/615/files

[2016-03-19 16:52] darach commented on #588
There are good use cases for both tests in the same package and tests in a different package.
Packaging tests with code encourages distributing tests with code, this is good. But it also couples
production code with dependencies only useful during testing. So a separate directory hierarchy for
tests also has its merits.

Same goes for DI w.r.t. flexibility for users. Sometimes this is good. So bei

[2016-03-19 17:53] saem opened #621 "Ease building by shipping specific LLVM version"
This came up as I'm trying to building ponyc from source on Fedora 23, unfortunately, there are no particularly good packages with LLVM 3.7.1 (latest is 3.7.0, which doesn't build).

LLVM in general doesn't care too much about API and behaviour changes between even minor releases, and some projects just ship with the exact version they need, rather than having it as a general dependency. I know Ru

[2016-03-19 21:46] SeanTAllen commented on #621
@saem how do they handle this across platforms?

[2016-03-19 22:44] georgemarrows commented on #570
@andymcn - is the scope of this effectively tests for the whole of literal.c? Can't promise full coverage, but happy to do another 2 or 3 rounds.

[2016-03-19 23:32] saem commented on #621
@SeanTAllen just to make sure I understand what you're asking, ponyc wants to support a number of platforms (OSX, Linux, FreeBSD, Windows, etc...) and how do other projects (eg. Rust's compiler) support that? Moreover, this isn't referring to cross-compiling.

So taking a cursory look at the [readme](https://github.com/rust-lang/rust#building-from-source) docs, they do support a number of platform

[2016-03-20 01:02] SeanTAllen commented on #571
I think I'm going to need to pick this up soon.

Mkdocs is excellent for small documentation sets. It isn't good for larger ones. In order to improve the the standard library docs, I'm going to need to move them off Mkdocs. The tools that would be good for supporting StdLib would make creating a doc site for a small library much more difficult. So, sounds like multiple backends are going to be nee

[2016-03-20 21:39] #424 closed

[2016-03-20 21:44] #346 closed

[2016-03-20 21:45] #303 closed

[2016-03-20 21:47] SeanTAllen commented on #563
@sylvanc i feel like you told me this had been fixed. am i misremembering?

[2016-03-20 21:54] pdtwonotes opened #623 "pony runtime GC gets segfault"
I encounter a segfault in the actor garbage collector, file gc.c, routine ponyint_gc_markactor.  This small routine calls ponyint_actormap_getactor to obtain a pointer to an actorref_t structure.  It then procedes to pass this pointer to mark_remote_actor which dereferences it.  That is where the segfault occurs, because the pointer returned from ponyint_actormap_getactor is NULL, and nobody check

[2016-03-20 21:57] SeanTAllen commented on #302
Whatever is going on starts somewhere between 10000000 and 2000000.

I'm calling this a bug at this point.

[2016-03-20 22:01] SeanTAllen commented on #623
@sylvanc could this be related to the problem you saw the other day?

[2016-03-21 07:18] sylvanc commented on #621
Building all of LLVM as a submodule is certainly possible, but building LLVM can take a long time (hours on a 32-bit ARM, for example). The ponyc approach is to support several LLVM versions: currently 3.6, 3.7.0, 3.7.1, with 3.8 support on the way. That way, it is more likely that a given platform has binary packages available.

You can even build ponyc against different LLVM versions if you have

[2016-03-21 07:18] #621 closed

[2016-03-21 09:37] SeanTAllen commented on #588
Closed by #620.

[2016-03-21 09:37] #588 closed

[2016-03-21 13:31] pdtwonotes commented on #623
See the whole project at https://github.com/pdtwonotes/secretary
The actor in question is in speechin.pony.   That creates a Recognition class (in recognizer.pony)
That then creates a class RuleStore in (grammar.pony), which is where the disk I/O happens, in two routines _loadTerms and _loadRules.  Commenting out BOTH of those _load routines makes the segfault go away.  Leaving EITHER ONE of them

[2016-03-21 15:25] jemc opened #625 "Should we encourage test code not to be in the same package as code under test?"
This is a discussion we were having in #588, which is now closed because the actual issue at hand was solved with an interim solution while we finish discussing this question.

Right now, in the standard library, test code is kept in the same package as the code under test.  This seems to be the official recommendation.  However, I think this creates more problems than it solves and argue that the

[2016-03-21 16:36] hugovincent commented on #505
There seems to be a new, likely-related problem (using ponyc built today (9a3a8a524fb2711fb9fd2b6cf7175c223ddd7390)):
[code]

[2016-03-21 17:04] andymcn commented on #505
That looks entirely correct to me.

`_` is not a legal variable name, it is the "don't care" symbol. The first error tells you where "don't care" can appear, which isn't here.

The second error is correct, although it's not very helpful, so maybe we should get rid of it. But I wouldn't call it a problem.

This issue was originally raised because this erroneous code caused a crash rather than givin

[2016-03-21 18:03] hugovincent commented on #505
Thanks, that makes sense. I understood that `_` was don't-care ... I wanted to be able to be able to ignore the loop variable. Would you consider amending the syntax to permit don't-care for loops? It's quite common to need to repeat something N times, but not need access to the loop variable. (e.g. `for _ in Range(0,5) do ...` instead of `for dummy in Range(0,5) do ...`). There doesn't seem to be

[2016-03-21 20:41] andymcn commented on #505
Sorry, I misunderstood what you were saying.

We certainly *could* allow `for` loops to take `_` for unused index variables. But is it worth it? Is:

[code]

(where `x` is any variable name you don't use) actually any clearer than:

[code]

I'm not sure really.

If you think it is a big enough deal then please open a new issue requesting it.

[2016-03-22 10:15] doublec opened #628 "Inserting and removing items from Map causes map items to not be found"
This is the example program:

    use "collections"

    actor Main
      new create(env:Env) =>
       try
        let x: Map[U32, String] = Map[U32,String]
        x.update(1, "one")
        x.remove(1)
        x.update(2, "two")
        x.remove(2)
        x.update(11, "here")
        env.out.print(x(11).string())
       end

When run, the `x(11)` call raises an error. It doesn't find the '11'

[2016-03-22 11:33] SeanTAllen commented on #628
interesting

[code]

doesn't cause the issue but

[code]

does.

[2016-03-22 11:40] SeanTAllen commented on #628
Changing the original backing allocated array size to more than 25 "fixes" the issue:

[code]

[2016-03-22 11:42] SeanTAllen commented on #628
The bug would have to be in the resize code...

[code]

Which gets triggered when the prealloc size is 24 or less and you add 2 items.

[2016-03-22 12:27] sylvanc commented on #628
It wasn't in resize! This code:

[code]

Should instead be:

[code]

I'm adding a test case for this, then I will push the fix.

[2016-03-22 12:31] sylvanc commented on #628
Fix is now pushed, with a test case added. Thanks @doublec !

[2016-03-22 12:31] #628 closed

[2016-03-22 12:43] andymcn commented on #570
@georgemarrows, the scope of the desired tests is really the whole of literal.c and also its use throughout the compiler. Basically that boils down to 3 areas of testing.

Firstly there's checking that literals are inferred to be the correct type, which you've made a great start on. Things to test include:
* Trivial inference to `U8`.
* Trivial inference to `F32`.
* Trivial inference to a selectio

[2016-03-22 14:49] doublec opened #629 "Segfault in SSL._final doing multiple SSL requests"
I get a segfault intermittently when doing SSL requests. I get it on an IMAP server when getting disconnected from it but I've been able to reproduce it with the following cut down program running against my own website:

    use "net"
    use "net/ssl"

    actor Main
      new create(env:Env) =>
        Tester(env)

    actor Tester
      var _conn:(TCPConnection | None) = None
      let _env:En

[2016-03-22 14:58] SeanTAllen commented on #625
I'm completely conflicted on this at the moment. I'm going to spend a couple days thinking it through and will try to chime in with something useful.

[2016-03-22 15:04] jemc commented on #629
Note that OpenSSL has some hoops you have to jump through to use their library from multiple threads.  I suspect that we're not quite clearing one of these hoops somewhere.

I'm not sure exactly what these hoops are, because I've never had to construct an low-level system based on OpenSSL, but I just wanted to chime in that they exist.

This might be a good place to start: https://www.openssl.org/

[2016-03-22 15:10] SeanTAllen commented on #629
Thanks @jemc

[2016-03-22 15:36] SeanTAllen commented on #629
@doublec did you do a debug or non-debug build of the program and run it? so far i can reproduce with non-debug builds but can't otherwise.

[2016-03-22 21:06] georgemarrows commented on #570
Awesome write-up @andymcn, thank you!

I've got some tuple-related tests queued. Will add some of the easy cases you list above then send a new PR.

I'd already started thinking about inference in function arguments - will move on to that next.

[2016-03-22 21:19] pdtwonotes commented on #623
Further clue:  If I move the creation of the Recognition object into a delayed behaviour, rather than happening right in the SpeechIn actor constructor, the segfault still happens, but a different actor is the one being examined by ponyint_gc_markactor at the time of aref being NULL.   I suspect that which actor gets 'hit' is not related to the actual problem - it is rather the order in which thin

[2016-03-22 21:25] pdtwonotes commented on #623
Running with --ponythreads=1 does not change the backtrace or the actor getting hit

[2016-03-22 21:33] Praetonus opened #635 "Embedded fields and recover expressions"
[code]

Currently, this example doesn't compile because is impossible to initialize an embedded field from a recover expression, even if it contains only a constructor expression. Would it be possible to relax the requirements for embedded fields initialization to allow constructors in recover expressions?

[2016-03-22 21:48] doublec commented on #629
It's a non-debug build. I can't reproduce it with a debug build either.

[2016-03-22 22:13] doublec commented on #629
Sorry, I just did some more testing and I can reproduce it in builds with "-d" built with a "config=debug" and a "config=release" ponyc as well as without "-d".

[2016-03-22 22:45] georgemarrows commented on #570
Tracking here what is still left to be done:
- Inference to invalid unions (eg (Bool | String)).
- inference through binary expressions
- inference through control-type expressions (if, while, for, match, try, while)]
- passing a literal as a function argumentt
- passing a literal as an FFI call argument
- using a literal number in an array literal
- returning a literal from a function
- operators

[2016-03-22 23:09] SeanTAllen commented on #629
Testing a fix for this.

[2016-03-22 23:51] hakvroot commented on #623
I saw @pdtwonotes talking about the issue in #ponylang and was curious as to what could be the underlying cause. After trimming the reproduction down a bit I ended up at the [following gist](https://gist.github.com/hakvroot/ce3674e2581eb2092636). After replacing Debug.out with printf I haven't been able to reproduce the segault (although I'll try and see if I can stress it a bit more).

Tested wit

[2016-03-23 00:14] tmmcguire opened #638 "String.compare is testing lengths before contents"
[code]

produces

    Greater
    Greater

[2016-03-23 00:17] SeanTAllen commented on #623
Awesome. Thanks @hakvroot

[2016-03-23 00:30] hakvroot commented on #623
Another small addition: the reason why printf didn't cause the segfault and Debug.out did is the fact that printf doesn't allocate additional memory (and thus never triggers a gc). Triggering a gc within the actor construction will result in a segfault for the given reproduction, which can also be seen in [this gist](https://gist.github.com/hakvroot/a6afb072602766a63cfa) which segfaults with Debug

[2016-03-23 01:10] #638 closed

[2016-03-23 01:20] jemc opened #640 "PonyTest CLI option to include/exclude test cases by tag."
Some other tests frameworks support "tagging" test cases with arbitrary tags, then passing a config or CLI option to include/exclude cases with those tags.

One compelling example is in elixir, with the idiom:
[code]

This would exclude tests that are tagged as "external" because they depend on external factors in the environment.  This is useful for skipping these cases when your environment isn'

[2016-03-23 01:21] jemc commented on #602
I'm closing this issue in favor of #640, which would support the ability to tag specific test cases, then exclude or include them by tag.

[2016-03-23 01:38] Earnestly commented on #602
This still needs to address the issue of the seemingly endless hanging...

[2016-03-23 01:40] SeanTAllen commented on #640
I think this would be useful for indicating things like unit, integration etc.

+1

[2016-03-23 01:48] Praetonus commented on #638
Well in fact it's not fully fixed. Commutativity is now correct but the function still doesn't respect the lexicographical order.

[2016-03-23 02:15] SeanTAllen commented on #623
I think we should have a fix for this within a day or so tops.

[2016-03-23 02:15] SeanTAllen commented on #638
@Praetonus can you open a new issue for whatever still doesn't work? Thanks.

[2016-03-23 02:16] SeanTAllen commented on #623
@hakvroot you're two gists were huge in helping me make the progress I have so far. Thank you!

[2016-03-23 02:28] tmmcguire opened #641 "String.compare is testing lengths before contents"
Praetonus:

"abc" should be less than "bc".

[2016-03-23 02:50] SeanTAllen commented on #629
Close by #637

[2016-03-23 02:50] #629 closed

[2016-03-23 02:58] jemc commented on #602
@Earnestly - Sorry, I misunderstood your explanation.

I now understand how this is broken, and can reproduce locally.

The PonyTest timeout mechanism was added for this very test, as discussed here: https://github.com/ponylang/ponyc/issues/409#issuecomment-162953048

Somewhere between dc5209cf695b120a162ebca7166ac6280e32af20 and master, this broke.  I'm going to do a `git bisect` and see what I c

[2016-03-23 04:39] #641 closed

[2016-03-23 05:30] jemc commented on #602
`git bisect` tells me this was broken in b88f6da911b86cc7bbb869e8476908f0d9a5b626

[2016-03-23 08:23] #602 closed

[2016-03-23 11:36] SeanTAllen commented on #623
Fixed by https://github.com/ponylang/ponyc/commit/95b6009184b0149084f1677e45b34e43074543dc

[2016-03-23 11:36] #623 closed

[2016-03-23 13:59] Earnestly commented on #602
Ah thank you very much

[2016-03-23 23:51] tmmcguire commented on #563
@SeanTAllen I cannot get the code from #561 to fail (on Ubuntu Linux), but assert_array_eq is still segfaulting for me. This is with 0.2.1-700-g19ce40c.

It's usually a segfault, but I've seen the out of memory, too.

(gdb) bt
#0  0x0000000000000000 in ?? ()
#1  0x000000000040542f in String_join (this=0x41f6e0 <$string72>, data=0x7fffe57b5080) at /home/mcguire/soft/pony/git/ponyc/packages/builtin/

[2016-03-24 07:47] sylvanc commented on #563
Definitely not fixed yet. This is a subtle and interesting problem. Currently, the type checker attempts to disallow machine words as subtypes for method parameters and results when checking method subtyping, for the purposes of determining trait and interface subtyping. This is largely successful, but fails in cases when a subtyping relationship goes through a generic.

#561 has more thoughts on

[2016-03-24 14:53] SeanTAllen opened #647 "Uncontrolled memory usage"
When the attached program is run with 2 pony threads, everything is dandy.
When run with 4 there is a massive memory explosion that grows faster and faster the longer the program runs.

Passing `1 100000000` as arguments is a good way to see the issue.

@sylvanc already has an idea of what the issue is. Adding this issue for posterity so we can refer back to it when I add the code to minimal-case

[2016-03-24 19:01] sparseinference commented on #517
I can reproduce this problem on build: 0.1.2-700-g827a243
I am using Linux x86_64, with kernel: 4.2.0-34, and I have 4 cores with 8GB of memory.

With the default number of threads (5) the process slowly starts to leak and continues leaking until all the free memory is used and then starts to swap.

With --ponythreads 8 as mentioned above by @hakvroot the leak is greatly accelerated.
I haven't loo

[2016-03-24 20:04] SeanTAllen commented on #517
@sparseinference how many physical cpus do you have in your machine 4 or 2?

[2016-03-24 20:31] sparseinference commented on #517
@SeanTAllen  I have 1 physical CPU : Intel(R) Core(TM)2 Quad  CPU  Q8200  @ 2.33GHz

according to:  /proc/cpuinfo

[2016-03-24 22:15] SeanTAllen commented on #573
If you are interested in working on this issue, speak to @seantallen.

[2016-03-24 22:15] SeanTAllen commented on #572
If you are interested in working on this issue, speak to @seantallen.

[2016-03-24 22:16] SeanTAllen commented on #571
If you are interested in working on this issue, speak to @seantallen.

[2016-03-24 22:17] SeanTAllen commented on #569
Closing this as #626 was merged.

[2016-03-24 22:17] #569 closed

[2016-03-24 22:20] SeanTAllen commented on #570
@georgemarrows did your PR that Sylvan merged close this issue?

[2016-03-24 22:23] SeanTAllen commented on #574
@sylvanc did you touch on any of this during the recursive to iterative work?

[2016-03-24 22:44] jemc commented on #571
As per our conversation yesterday, one of the initial blockers for this work is getting a Pony AST parser in Pony.  Then we can invoke `ponyc` to spit out an AST file that was processed up to an appropriate pass, then run a document generator written in Pony on the AST.

[2016-03-24 23:23] georgemarrows commented on #570
@SeanTAllen not yet, sadly. The to do / done comments above describe the state after that PR (#636). I've come up with a better way of writing the tests now, so it should be simple to rattle through most of the rest of the cases. Just need to find more hacking time...

[2016-03-25 02:25] Praetonus opened #648 "Compiler release build fails on Linux"
On master, latest commit (e7d4c55), release build fails at link stage with the following errors:

[code]

Build environment:

- OS: Tested on both Debian and Archlinux
- LLVM: Version 3.7.1
- ponyc: Commit e7d4c55

[2016-03-25 03:22] SeanTAllen commented on #648
This doesn't happen on our Travis Linux builds. Can you be more specific as to which distribution versions you are testing on?

On Thu, Mar 24, 2016 at 7:25 PM -0700, "Benoît Vey" <notifications@github.com> wrote:

On master, latest commit (e7d4c55), release build fails at link stage with the following errors:

/usr/bin/ld.gold : error : ponyc : no archive symbol table (run ranlib)
/usr/bin/ld.gol

[2016-03-25 04:29] sparseinference opened #649 "Release build of ponyc seg faults when building helloworld"
I installed the Ubuntu 15.10 pre-built binary of LLVM 3.8 from the LLVM website.
I built ponyc from source with a clean build directory, both debug and release versions.

ponyc: 0.2.1-703-ge7d4c55

I then compiled "examples/helloworld" with the release build of ponyc.

I got:

`Reachability
Selector painting
Data prototypes
Data types
Function prototypes
Descriptors
Functions
Stack dump:
0.      R

[2016-03-25 12:22] SeanTAllen commented on #648
I did free Debian Jesse builds for Pony using llvm 3.7 package and llvm 3.8 package and had no issue with either debug or release builds.

Which Jesse are you using?

Note, I started from a completely clean Jesse install and followed the steps that are waiting to be merged into master via PR 650.

[2016-03-25 12:28] SeanTAllen commented on #649
@sparseinference What prebuilt binaries would those be? Can you provide a link to where you got them and a the name of whatever links you used on that page? Thanks.

[2016-03-25 16:36] sparseinference commented on #649
@SeanTAllen  they are here: [http://llvm.org/releases/download.html#3.8.0](http://llvm.org/releases/download.html#3.8.0)

[2016-03-25 17:05] Praetonus commented on #648
I'm using Debian Testing. There is no problem when using the LLVM package from llvm.org, the problematic package seems to be the one from the official repositories (both on Debian Testing and latest Archlinux).

Also, it looks like the error is different between gcc and clang. The error above is for clang only in release builds, and gcc outputs this in both debug and release builds:

[code]

[2016-03-25 19:22] tmmcguire opened #651 "Shared libraries in nonstandard locations are not found on Linux"
I have pcre2-8 installed in my home directory rather than in a directory in my system's search path. Building the stdlib tests with the command line:

    build/debug/ponyc --path /home/mcguire/soft/pony/libpcre2/lib packages/stdlib

works, but the resulting binary cannot find libpcre2-8:

    $ ./stdlib
    ./stdlib: error while loading shared libraries: libpcre2-8.so.0: cannot open shared object

[2016-03-28 14:40] sylvanc opened #653 "Initial and maximum TCPConnection read buffer sizes"
In `TCPConnection`, the initial read buffer size is 64 bytes, and it grows when a full buffer is read. It would be good to make the initial size configurable as a constructor parameter, as well as being able to specify a maximum read buffer size.

[2016-03-28 14:42] jemc commented on #653
This should also apply to `UDPSocket` - it should have the same read buffer options as `TCPConnection`.

[2016-03-28 15:09] satbyy opened #654 ""weak digest" warning for deb packages"
Hi,

I've started to see this warning recently in Debian Stretch:

[code]

It means that the GPG signature on the "Release" file was made with SHA1. Debian has deprecated SHA1, more info on [their wiki](https://wiki.debian.org/Teams/Apt/Sha1Removal).

It is very easy to fix though. You must pass  `--digest-algo SHA256` or `--digest-algo SHA512` to gpg when signing the file.

[2016-03-28 15:45] Ivo-Balbaert commented on #434
I think this really should be given a higher priority

[2016-03-28 17:15] Praetonus opened #655 "New code generator log messages should use the new verbosity parameter"
72c5727 introduced new compiler progress messages such as "Reachability", "Selector Painting", etc. Since we now have a verbosity parameter in the compiler, these messages should use it. The question is, what verbosity level should we use?

[2016-03-28 17:44] SeanTAllen commented on #655
Per https://github.com/ponylang/ponyc/pull/626

I believe that would be any level other than 0.

[2016-03-28 20:00] Nyarum commented on #653
@jemc there is already "size" parameter.

[2016-03-29 00:19] Praetonus commented on #655
Since it is detailed information on a specific compilation stage, I think it should be level 2. I'll make a PR if we agree on that.

[2016-03-29 00:25] SeanTAllen opened #659 "Parameterize Array.find and Array.rfind on a comparator"
Allow you to do find based on identity, equality or some other test like Map and MapIs.

[2016-03-29 00:31] SeanTAllen opened #660 "Enhance Array with 'add' method"
Currently if you have a String, you can add to it via

`"foo" + data`

or

`"foo".append(data)`

assuming data is a String.

However if data is a ByteSeq, you can do the `+` as Array only supports `append` not `add`.

After talking with @sylvanc the type of add would probably be something like:

`fun add(that: this->Array[A]): Array[this->A!] iso^`

and should return a new array comprised of the t

[2016-03-29 00:37] SeanTAllen commented on #655
Per the Original ticket, level 1 is for compilation steps.

`1: compilation stages, e.g. "Generating", "Linking"`

[2016-03-29 01:19] Praetonus commented on #655
Yes, but it seems that these messages are sub-steps of a compilation stage, code generation. I think it is too specific for level 1.

[2016-03-29 01:22] SeanTAllen commented on #434
@midraal @Hades32 currently @andymcn is away.

[2016-03-29 01:36] SeanTAllen commented on #655
I believe it should be 1.

@sylvanc @jemc have any input?

[2016-03-29 01:48] SeanTAllen commented on #651
@sylvanc @jemc thoughts?

[2016-03-29 01:50] SeanTAllen commented on #649
@sparseinference can you try out the directions that are in the README for installing via package manager and see if you get the same issue?

[2016-03-29 01:52] SeanTAllen commented on #648
@Praetonus i'm not a debian expert. Any idea why I wouldn't have this problem with Jesse but you have with testing?

[2016-03-29 03:15] sparseinference commented on #649
@SeanTAllen  - I would like to, but the LLVM APT repositories are completely messed up. The instructions for installing there are wrong and were last updated in January - even though 3.8 was released in March.

The latest APT packages that I can install from there are version 3.6.
It looks like the LLVM group has stopped maintaining the APT packages.

I saw something interesting yesterday: Apple i

[2016-03-29 03:26] SeanTAllen commented on #649
I guess this is a case where Debian is out in front of Ubuntu as they have spring APT repos.

[2016-03-29 03:57] kulibali commented on #655
Oops, I didn't see this issue, and made a PR already: #662.  I used level 1.

[2016-03-29 04:35] jemc commented on #651
I'm probably not the most knowledgeable source for a direction on something like this, but to my ear this approach sounds the best:

@sylvanc @tmmcguire Are there any downsides to this approach?

[2016-03-29 04:36] jemc commented on #651
Also, based on the description, I think I ran into this issue when I was working with libsodium in Pony.

[2016-03-29 04:46] jemc commented on #655
Merged @kulibali's PR with level 1 before seeing this.

I have no strong opinion on the matter, but another PR can always be opened to change the verbosity level of those messages if that is agreed upon here.

[2016-03-29 10:13] SeanTAllen commented on #655
ATM, I'm in favor of level 1 and closing this.

@kulibali thanks for #662.

[2016-03-29 11:38] SeanTAllen opened #664 "Compiler thinks this doesn't initialize all fields."
Pulled from our codebase. This compiles:

[code]

This doesn't because it says _socket isn't initialized. I feel like it should compile:

[code]

_socket does get initialized despite what the compiler thinks.

[2016-03-29 12:00] sblessing commented on #664
Not necessarily, since ```let auth = env.root as AmbientAuth``` might fail.

[2016-03-29 12:24] Praetonus commented on #655
Since this is in and most are in favor of level 1, I close the issue.

[2016-03-29 13:08] Praetonus commented on #648
I'd say it's something with the LLVM package, since it works with the package from llvm.org and doesn't with the official Debian one (which isn't available on Jessie for 3.6+). Maybe the release build expects a specific LLVM setup that the Debian folks changed in their package.

[2016-03-29 13:22] Praetonus commented on #655
Reopening, because after using the new version, it do seem really inadequate to me. Currently, at level 1 we have

[code]

And at level 2 we have

[code]

I don't see why "generating" and "optimising" are level 2 and sub-steps of code generation are level 1. It should be reversed.

[2016-03-29 14:31] SeanTAllen commented on #648
@Praetonus So the directions in our README for installing on Debian work for you?

[2016-03-29 14:40] jemc commented on #655
@Praetonus I think you make a good point.  I think I'd be in favor of swapping those two levels as you suggest (and updating the help text for the `--verbose` option to match).

@SeanTAllen @kulibali @sylvanc?

[2016-03-29 15:08] kulibali commented on #655
Yes, that seems better.

[2016-03-29 15:10] jemc commented on #655
I should add that after swapping these levels, it probably makes sense to make `2` the default (instead of `1`).

[2016-03-29 15:13] Kambis opened #665 "Linker ignores library"
I am trying to use Intel MKL in pony but I have problems forcing pony to link to libm or libimf (Intel version of libm) which is required by mkl_core.

Here is an example:
[code]

It compiles but I get the runtime error
`symbol lookup error: /opt/intel/compilers_and_libraries_2016.0.109/linux/mkl/lib/intel64/libmkl_core.so: undefined symbol: log10`

Using ldd I can see that the executable is not l

[2016-03-29 15:21] SeanTAllen commented on #655
I'm convinced.

[2016-03-29 15:21] kulibali commented on #655
I can do this tonight (PDT).

[2016-03-29 15:39] Praetonus commented on #648
Yes, it works for me on Debian. However, there is still no solution on Archlinux since llvm.org doesn't provide pacman packages.

[2016-03-29 15:41] SeanTAllen commented on #648
It's going to be a while before I have a chance to setup Arch and try to address this. If you have time and can find something that works, please update the README. Otherwise this is going to sit for a week or two until I have time to look at or someone else picks it up.

[2016-03-29 16:18] Praetonus commented on #648
@SeanTAllen I'll see what I can do.

Some more info: removing the link-time optimisation flags specific to release builds in the Makefile solves the problem. However, I still think it is related to LLVM since some LLVM distributions works fine with these flags.

[2016-03-29 16:19] Kambis commented on #665
As a work-around I changed the liker options in genexe.c from "-lm" to "-Wl,--whole-archive -l:libm.a -Wl,--no-whole-archive". Please let me know if there is a better way to solve the problem. Still it would be nice to control the behavior with the _use_ command.

[2016-03-29 17:40] tmmcguire commented on #651
On 03/28/2016 11:35 PM, Joe Eli McIlvain wrote:

That was my initial inclination as well. The only downside I can think
of is that ponyc is probably going to have to get some more command line
arguments for weird cases (like -Wl for general linker arguments) at
some point. But it might be better to wait to burn that bridge until
Pony gets there.

--
Tommy M. McGuire
mcguire@crsr.net

[2016-03-29 17:44] andrenth opened #666 "Compilation times doubles on each additional union member"
I'm seeing extremely long compilation times after commit 72c5727 in some cases. Here is what I believe is a minimal example:

[code]

Uncommenting the `C0` line in `actor Main`, ponyc takes around 40s to run if the union goes up to member `T14`, 70s if it goes up to `T15`, 134s for `T16`, 280s for `T17`, 492s for `T18` and 999s for `T19`, that is, it seems to roughly double with each additional un

[2016-03-29 20:21] Praetonus commented on #648
Found it. The problem is that LLVMgold, a LLVM plugin, is required for link-time optimisation in release builds, but currently, even if the plugin isn't found in the expected directory, LTO is enabled and obviously linking fails. I think the best way to fix the problem would be to modify the Makefile to search for `LLVMgold.so` and disable LTO if it isn't found.

[2016-03-30 04:50] jemc commented on #655
Should be resolved by #668.

[2016-03-30 04:50] #655 closed

[2016-03-30 10:40] SeanTAllen commented on #665
@sylvanc this is out of my current wheelhouse. anything you can weigh in with?

[2016-03-30 13:48] doublec commented on #664
This is a smaller piece of code that shows the same problem:

    class Test
      let x:U32

      new create(y:U32) =>
        try
         x = 5
        else
         x = 3
        end

[2016-03-30 13:52] pdtwonotes commented on #664
The first method, with the union including None, means you then have to use a 'match' on _every_ reference ot the field later, which gets tedious.

Any time you use an Array or Hash reference, or do some parsing (for example, JsonDoc.parse, you have to involve a try block at some point.

[2016-03-30 13:53] Praetonus commented on #664
@doublec: I think your example is still illegal, since `x` is a `let` and is assigned twice. So that's the wrong error being reported in your case.

[2016-03-30 13:56] doublec commented on #664
@Praetonus Interesting that it doesn't give an error about that. Changing `let` to `var` gives the same "field left undefined" error though.

[2016-03-30 14:32] rurban commented on #665
How about this?
[code]

[2016-03-30 15:04] SeanTAllen commented on #664
@pdtwonotes that's not relevant to this issue.

[2016-03-30 15:47] Kambis commented on #665
@rurban, I get the same error,
[code]
The reason probably lies in mkl_rt and how it works. `--no-as-needed` seems to be a necessary option when linking against it: [https://software.intel.com/en-us/articles/intel-mkl-link-line-advisor](url)

[2016-03-30 19:45] sylvanc commented on #666
Thanks for the report - this looks like it will need some careful consideration. Either there's a bug in the subtyping check, or we may need to cache subtyping results.

[2016-03-30 19:52] sylvanc commented on #665
It looks like Pony needs library linking annotations. I think the right solution is a comma separated list, for example:

[code]

The second example is silly, since there's no need to have both flags, but I include it as an example of what I mean by delimited annotations.

Other than `noasneeded` and `wholearchive`, are there any other linker annotations that are needed?

[2016-03-30 19:58] SeanTAllen opened #669 "Confusing compiler message"
[code]

will result in an error that not all fields are initialized. the solution is to do:

[code]

We could enhance the error reporting from compiler to address.

[2016-03-30 19:59] SeanTAllen commented on #664
Closing after discussion with @sylvanc and I am going to write an FAQ.

[2016-03-30 19:59] #664 closed

[2016-03-30 19:59] sylvanc commented on #651
I think adding an -rpath for all --path arguments is a great idea.

[2016-03-30 20:08] sylvanc commented on #647
The actual problem appears to be over-reporting block messages to the CD. I'm looking at this.

[2016-03-30 20:14] SeanTAllen commented on #640
Ponytest currently has a filter by name. We want to be able to filter by a user supplied 'label'.

fun label(): String => ""

added to the trait.

Then you can exclude, only etc on label. That is to be determined.

If you want to pick this up and have questions, contact me.

[2016-03-30 20:18] Kambis commented on #665
'static' could also be useful. I would also appreciate the ability to use environment variables in path command.

[2016-03-30 23:51] #651 closed

[2016-03-31 01:11] #660 closed

[2016-03-31 04:59] #648 closed

[2016-03-31 09:44] hakvroot commented on #647
This sounds like it is closely related to https://github.com/ponylang/ponyc/issues/517, is that correct?

[2016-03-31 09:46] SeanTAllen commented on #647
Quite possible. I'm hoping so.

[2016-03-31 14:58] Praetonus opened #675 "Expose basic GC object refcounting as a simple C interface"
Sometimes when calling C from Pony, we want to take advantage of the Pony memory allocator instead of using plain `malloc`s. The current memory allocation interface, `pony_alloc`, works well for single-use objects since memory allocated that way will be collected in the next GC pass unless it is passed back to Pony in a Pointer. However, it doesn't work for objects that live between C function cal

[2016-03-31 19:31] jemc opened #676 "Fix and re-enable CI build of Linux / LLVM 3.8"
The Linux / LLVM 3.8 matrix item in the CI build was disabled in #674 because it was broken.

We need to fix that build item and re-enable it.

[2016-03-31 20:01] jeremyheiler opened #677 "ponyc built on OS X with llvm-config 3.8 doesn't compile hello world"
I pulled master (as of this writing: e4427917a3cccc04dd3633777a31e17b5133a743) and could not build hello world on OS X (El Capitan 10.11.4) when `ponyc` is compiled with LLVM 3.8.

I have both LLVM 3.6.2 and LLVM 3.8 installed with homebrew. I'm not sure if anything other than the location of `llvm-config` matters here.

Compiling hello world works after compiling pony with LLVM 3.6.2 like so:

[c

[2016-03-31 20:23] jemc commented on #677
I'll suggest that we should add to `travis.yml` configuration that we compile all examples (we don't have to run them, just compile them) after compiling and running package tests.

[2016-03-31 20:44] SeanTAllen commented on #677
This works for me.

@jeremyheiler can you try doing rm -rf build/* in your ponyc directory before you do it and try again?

[2016-03-31 22:40] SeanTAllen commented on #677
I've tried replicating this in every way possible and can not.

[2016-03-31 22:41] SeanTAllen commented on #677
We share the same OS version, pcre, llvm, libressl except we get different results.

[2016-03-31 23:05] jeremyheiler commented on #677
I was unable to reproduce on another machine with all the same versions of things. The only difference is that on this other machine, I only have Xcode command line tools. On the machine that has the error, I have full Xcode installed.

[2016-03-31 23:20] SeanTAllen commented on #677
I have full xcode installed on mine that doesnt have the issue.

What's your CPU etc?

[2016-03-31 23:23] jeremyheiler commented on #677
[code]

[2016-03-31 23:54] tmmcguire opened #678 "HashMap.contains is slow"
HashMap.contains calls apply within try...else...end to return true or false and thus doing much extra work. The information is available from _search directly.

[2016-04-01 00:41] SeanTAllen commented on #677
This is mine:

sysctl -n machdep.cpu.brand_string
Intel(R) Core(TM) i7-3720QM CPU @ 2.60GHz

I'll check my other machine tomorrow.
What is it for your machine that works?

[2016-04-01 01:29] jeremyheiler commented on #677
It works on:

[code]

[2016-04-01 21:43] #678 closed

[2016-04-02 01:50] dckc opened #681 "files package uses synchronous I/O"
This isn't by design, is it?

[2016-04-02 02:20] jemc commented on #681
I've considered the same fact - I think it was probably a stopgap implementation when it was created.

[2016-04-02 18:23] SeanTAllen opened #682 "Improve reporting of optional values in generated documentation"
If you check out the generated documentation for a method that has an optional parameter, for example

http://www.ponylang.org/ponyc/regex-Regex/

you'll see that rather than providing the default value, it just puts optional. We'd rather have it put the value itself.

If you have rudimentary C knowledge, then you should be able to add this relatively easily. See:

https://pony.groups.io/g/dev/thr

[2016-04-02 22:04] graham commented on #303
It appears this is still an issue.

[2016-04-02 22:08] SeanTAllen commented on #303
We are working on new packages. In the meantime, please build from source.

[2016-04-03 02:44] jemc opened #683 "Functions with constraints on type parameters of containing type."
We currently have type parameters on types (`class`, `actor`, etc), which allow passing in type parameters when referring to that type (for example, `Array[String]`).  We also have type parameters on functions, which allow passing in type parameters when calling the function (for example, `h.assert_equal[String]("foo", "foo")`).  Both of these involve the compiler generating separate LLVM function

[2016-04-03 04:28] jemc opened #684 "Local let in trait function causes compiler error."
With ponyc e4427917a3cccc04dd3633777a31e17b5133a743:

Declaring a local `let` in a `trait`'s function causes a compiler error:
[code]
[code]

Clearly this should be okay.

Note that if I change it to a `var`, it compiles fine.
[code]
[code]

[2016-04-03 06:20] sylvanc commented on #684
This is a bug in the way `traits.c:449` resets the scope.

[2016-04-03 07:01] sylvanc commented on #683
This is something I've been thinking about for a while. I think adding constraints is definitely interesting. I think it's also possible we could have a "type language" for computing a type for some instantiation, for example:

[code]

I think in the specific example of turning an `Array[A]` into a `String`, there are three options (these are all not the actual code you'd want for a string represe

[2016-04-03 15:22] fribeiro1 opened #685 "Can't Build on FreeBSD 10.2"
I've installed the required packages but got the following error when running "make config=release":

	make: "/usr/home/fribeiro/ponyc/Makefile" line 4: Missing dependency operator
	make: "/usr/home/fribeiro/ponyc/Makefile" line 6: Need an operator
	make: "/usr/home/fribeiro/ponyc/Makefile" line 9: Missing dependency operator
	make: "/usr/home/fribeiro/ponyc/Makefile" line 13: Need an operator
	ma

[2016-04-03 15:25] sylvanc commented on #685
You need to use gmake, not the FreeBSD default make.

[2016-04-03 15:35] fribeiro1 commented on #685
Fixed, just sent a PR to fix the instructions.

[2016-04-03 15:35] #685 closed

[2016-04-03 17:14] #653 closed

[2016-04-03 17:15] SeanTAllen commented on #653
@Nyarum thanks for your help in closing this.

[2016-04-03 17:24] SeanTAllen commented on #684
Sorry. I found this last week. I should have opened a ticket. I forgot to after discussing it with Sylvan. In the tests for logger, I used `var` instead of `let` in a couple places because of this bug. Those need to be switched once this is fixed.

[2016-04-04 00:54] SeanTAllen commented on #684
@sylvanc if you have time tomorrow, i'd love to have you walk me through this so i can start to learn a bit about the compiler and try to fix this. really i want to learn more compiler so i can help a little with it and help a lot with it by being able to write about it so others can help with it.

[2016-04-04 00:55] SeanTAllen commented on #676
This is working again. Closing.

[2016-04-04 00:55] #676 closed

[2016-04-04 07:34] sylvanc commented on #684
@SeanTAllen sounds good!

[2016-04-04 14:46] #684 closed

[2016-04-04 19:12] Praetonus commented on #675
It turns out it is already possible easily by simulating message sending. So the question is now: do we need convenience functions wrapping the necessary stuff in the runtime or should we leave this to user libraries?

[2016-04-04 20:10] jemc commented on #675
@Praetonus - Probably depends on how straightforward your current scheme is - can you post a snippet of what you're doing, for the curious?

[2016-04-04 20:36] tmmcguire commented on #683
Is this anything like the `List.contains` (https://github.com/ponylang/ponyc/blob/master/packages/collections/list.pony#L491-L499) type parameters (which I've been unable to duplicate for an array element comparison lambda),
[code]

[2016-04-04 21:13] shepheb opened #690 "LTO-related linker problems while building ponyc"
[code]

`ponyc` runs fine, but running the resulting binary causes the above `SIGILL`.

Possibly related, if I do a release build I get the following:

[code]
and so on until:

[code]
and a few more similar missing symbol errors

This is a freshly installed Arch Linux running in VirtualBox. x86_64, LLVM 3.7.1, gcc 5.3.0

[code]

[2016-04-04 21:46] jersey99 opened #691 "ByteSeqIter related 'Segmentation fault:11'"
OS X
version: 0.2.1-735-ge442791

Adding the line below as line 142 in packages/net/test.pony (after sock.write("pong!")) results in a segfault upon execution. My lldb skills are limited, but I am reasonably sure the error occurs in the call to the iterator `data.values()`.

[code]

Looking at @jemc 's post from the past, below is the backtrace from lldb.

[code]
I also noticed that writev is used

[2016-04-04 22:36] Praetonus commented on #690
Regarding the linking issues it is related to my recent changes to LTO handling in the Makefile (2cd505c). The problem is that some versions of gcc don't really like to use LLVMgold as their LTO plugin. To fix it we could:

- Add another layer of conditional code in the Makefile to detect the special gcc and feed it its default plugin.
- Drop dynamic LTO detection and explain the manual setup in t

[2016-04-04 22:38] Praetonus commented on #675
It's quite simple, less than 10 lines per function.

[code]

The `malloc` function tells the gc it is sending the allocated memory in a message but actually doesn't send anything. Since an object sitting in a message will not be GC'd until it is received, the memory is safe to use. The `free` function "receives" the object to allow its collection. In this implementation the `malloc`ing actor must

[2016-04-04 22:48] tmmcguire commented on #665
How about this instead:

[code]

That way, the individual strings can be passed to the linker rather than having a look-up table to interpret the annotations?

On the other hand, it's a potential security hole, since the linker arguments are passed to a shell command or could otherwise be exploited. Compiling a source file shouldn't result in all of your files being infected with scabies.

[2016-04-04 22:50] jemc commented on #675
Ah, I see.

That may work fine for your use case, but it seems like a subtle gotcha that might make me shy away from advocating this convenience function be exposed within the runtime as a general solution to others.

[2016-04-04 22:55] jemc commented on #690
@Praetonus - thanks for troubleshooting this - I agree with your preferred suggestion of dropping the complexity from the Makefile.

[2016-04-05 01:17] aturley opened #692 ""illegal hardware instruction error" from compiler with case methods that have guard statements"
# System

OS: OSX 10.10.4
compiler: ponyc 0.2.1-748-gf504469

# Description

When compiling the following code:

[code]

I get the following error:

[code]

If I remove the case method with the guard statement it compiles correctly with no error.

I also tried moving the guarded method to the position before the general case, but that still produced the same error.

# Expected Behavior

Programs w

[2016-04-05 12:01] shepheb commented on #692
My code in #690 doesn't use case functions (I didn't know about them until ten seconds ago) but also fires an illegal instruction. Not sure if they're related, or just have similar symptoms.

[2016-04-05 12:04] Kambis commented on #665
@tmmcguire That is not a good idea because some flags need to be disabled afterwards, for example --no-as-needed should be followed by --as-needed before linking to other libraries.

[2016-04-05 12:16] shepheb opened #693 "Illegal instruction in Pony binaries"
Having solved the LTO-related linker problems - see #690 - I have fully exposed a separate and apparently unrelated problem: illegal instruction errors in the binaries output by `ponyc`.

Running `make test` (debug config) on latest master (f504469a6ea66e7cf85f3797d9ccc600de65fd2b) I see the error during `make test` but can't get a useful stack trace from the core dump.

Running my debug-built `po

[2016-04-05 12:18] shepheb commented on #690
There were actually two issues here in parallel. I've split the illegal instruction out into #693.

As a workaround until Makefile fixes land in master, I can build successfully for debug and release with

`make blah blah lto=yes LTO=""`

[2016-04-05 12:43] SeanTAllen commented on #692
@aturley can you make sure you are using a debug build of the compiler. run it under lldb

`lldb ponyc`

at the lldb prompt

`run`

it will run until boom

then do

`bt`

and put that stacktrace in here.

Thanks.

[2016-04-05 12:44] SeanTAllen commented on #690
@shepheb can you make sure you are using a debug build of the compiler. run it under lldb

`lldb dcpu test.bin`

at the lldb prompt

`run`

it will run until boom

then do

`bt`

and put that stacktrace in here.

Thanks.

[2016-04-05 12:53] SeanTAllen commented on #693
@shepheb do you have a minimal example i can test with? or worst case, can i get the full source?

[2016-04-05 13:03] SeanTAllen commented on #692
@aturley this works for me now on latest master. can you build latest and try again?

[2016-04-05 13:04] SeanTAllen commented on #693
@shepheb can you test this against latest master? i know of a couple of illegal instruction crashes that the latest compiler fixes. Thanks.

[2016-04-05 13:16] SeanTAllen commented on #691
Can reproduce.

[2016-04-05 13:20] shepheb commented on #693
Same results with the latest master (5238dbdc18a06644754aa6ac1f7a05e4d1fd51cd).

[2016-04-05 13:24] shepheb commented on #693
Here's the backtrace from LLDB:

[code]

[2016-04-05 13:57] aturley commented on #692
Yup, works for me now with 0.2.1-757-g5238dbd

[2016-04-05 13:57] #692 closed

[2016-04-05 14:09] SeanTAllen commented on #691
I looked into this some. I got stuck at a certain point as I can't single step into dispatch at actor.c line 93. Which is an issue I brought up with @sylvanc. ByteSeqIter is definitely not coming in right for whatever reason, accessing `values().next()` will segfault.

If you use

`recover val ["pony",  "pong"] end`

instead of

`recover val [[U8(1), U8(2)]] end`

it runs to completion.

[2016-04-05 15:30] Praetonus opened #694 "Creating a SetIs of TCPConnection causes segfault on compiler cleanup"
Minimal example:

[code]

Compiling this program causes a segfault in `ponyint_hashmap_destroy`. Full call stack:

[code]

Using `git bisect` indicates the bug was introduced in c9073a3. The Pony-level changes probably uncovered a corner case in the compiler. I was unable to find the exact problem with the changes in TCPConnection.

OS: Latest Archlinux 64 bits
Ponyc:  5238dbd
LLVM: 3.7.1

[2016-04-05 21:11] georgemarrows commented on #694
The same code fails for me in compilation.

OSX 10.11.1
Ponyc: 5238dbd
LLVM: 3.6.2 / 3.7.1 (doubt llvm involved though...)

[code]

[2016-04-05 21:49] aturley opened #696 "illegal instruction error when case functions have different numbers of parameters"
# System

OS: OSX 10.11.1
ponyc version: 0.2.1-757-g5238dbd

# Description

When compiling the following code I get an "illegal instruction" error:

[code]

Here's the backtrace when I run the compiler in lldb:

[code]

# Expected Behavior

I'm not sure if this should be allowed or not.

If it is allowed then I would expect it to compile correctly.

If it is not allowed then I would expect a compi

[2016-04-05 23:26] Theodus opened #697 "Persistent Data Structures"
Hello, I have some experience implementing persistent data structures in Go and would be interested in contributing to this project. Specifically, I think that the standard library could benefit greatly from tries similar to that of Clojure's vector or the Dtrie that I have contributed to the Workiva/go-datastructures package. These collections provide the benefits of immutability while also maint

[2016-04-05 23:40] SeanTAllen commented on #697
@Theodus Awesome! There was some work done on this by @jtfmumm. Please join the dev list and bring the topic up: https://pony.groups.io/g/dev

[2016-04-05 23:40] #697 closed

[2016-04-06 00:23] SeanTAllen commented on #694
This segfaults for me before commit `c9073a3bb7f6c393d126be1184e933441f5f2b7e`. I don't believe that is the source.

[2016-04-06 02:02] SeanTAllen commented on #694
at commit ea01b4d17b159c417e5bbb4555609fe7dcd6093e, this resulted in

`Assertion failed: (token != NULL), function token_get_id, file src/libponyc/ast/token.c, line 74.`

[2016-04-06 02:07] SeanTAllen commented on #694
@sylvanc in a none too shocking event, this bug was introduced in the code generator rewrite: 72c5727093dd1e643dc95efc326f3b34672d69bc

[2016-04-06 02:31] SeanTAllen commented on #696
Slightly more minimal case:

[code]

Note this slight variation does not crash

[code]

and we get some nice errors:

[code]

Its appears to be a problem where it handles illegal input and its hidden because:

[code]

gets to the root of the issue

[code]

I think you threw so many incorrect things at it that you confused the crap out of it.

[2016-04-06 02:40] SeanTAllen commented on #696
Just to sum up. Differing number of paramters by itself doesnt trigger kaboom. That just does this:

[code]

and putting a non type doesn't kaboom:

[code]

Combine together and KABOOM.

[2016-04-06 02:42] SeanTAllen commented on #693
@shepheb do you have full code that can be used to reproduce?

[2016-04-06 02:43] SeanTAllen commented on #690
@Praetonus sounds like a great idea. I like the simplifying of the the Makefile at this point. We can always revisit later. Can I get you to take that on?

[2016-04-06 11:22] shepheb commented on #693
https://github.com/shepheb/pony-dcpu reproduces, but there's a lot of code there.

A few basic experiments to see if I can trigger this:

- `env.out.print("Hello, World!")`: fine
- Creating a `List[U16]` in `Main.create`: illegal instruction!
[code]
    - As above but `List[String]` instead: illegal instruction
    - Creating the `List[String]` inside `create`: illegal instruction
    - Sugar-free

[2016-04-06 11:27] Praetonus commented on #690
@SeanTAllen I'll take it.

[2016-04-06 11:28] SeanTAllen commented on #690
Awesome @Praetonus. ^5.

[2016-04-06 11:29] shepheb commented on #693
Disassembly just for fun:
[code]

I can't read x86 assembly well enough to tell what's up there. This is an x86_64 virtual machine running with VT-x acceleration on an actual x86_64 processor, for the record.

[2016-04-06 13:09] SeanTAllen commented on #681
This is by design. Access to any given file should be controlled via an actor making sychronous safe and faster than async. I'm closing this. If you'd like to discuss further, please raise on the pony dev list.

https://pony.groups.io/g/dev

[2016-04-06 13:09] #681 closed

[2016-04-06 13:21] SeanTAllen commented on #561
#563 is the same bug.

[2016-04-06 13:22] SeanTAllen commented on #563
referenced this from #561.

Closing this.

[2016-04-06 13:22] #563 closed

[2016-04-06 13:26] SeanTAllen commented on #302
Closing this.

1. mailbox is a stress test it should use lots of memory: note has been added re: this to the code.
2. there is however extra memory usage that is related to a different issue.

Thanks for bringing this up. It did help find a hidden issue.

[2016-04-06 13:26] #302 closed

[2016-04-06 13:33] SeanTAllen commented on #547
Given the PR was rejected. I am closing this. If you would like to bring this up again, please feel free. I'm partially just cleaning up issues here. I'd suggest bringing up on the dev mailing list: https://pony.groups.io/g/dev

[2016-04-06 13:33] #547 closed

[2016-04-06 13:34] SeanTAllen commented on #570
@georgemarrows made any progress on this?

[2016-04-06 13:37] SeanTAllen commented on #571
This is currently waiting @jemc's pony parser work.

[2016-04-06 13:42] SeanTAllen commented on #350
This is currently blocked by distributed pony work

[2016-04-06 13:54] SeanTAllen commented on #254
Closing. Opening new issues.

[2016-04-06 13:54] #254 closed

[2016-04-06 13:54] SeanTAllen opened #700 "libressl and pcre2 should be brew dependencies in the ponyc formula."

[2016-04-06 13:54] #256 closed

[2016-04-06 13:56] SeanTAllen commented on #293
We have something in place for this. I'm closing this issue as part of issue clean up.

If anyone would like to continue this discussion (as there was some disagreement, please pull it over to dev list):

https://pony.groups.io/g/dev

[2016-04-06 13:56] #293 closed

[2016-04-06 14:13] aturley commented on #696
While your minimal case hits the same error, I'd point out that `fun different_args(1): String => "1"` is not "incorrect" if it is part of a case function with another case that clarifies the type, such as `fun different_args(n: U64): String => ""`.

[2016-04-06 14:21] SeanTAllen commented on #696
The compiler disagrees w you

On Wed, Apr 6, 2016 at 7:13 AM -0700, "Andrew Turley" <notifications@github.com> wrote:

While your minimal case hits the same error, I'd point out that fun different_args(1): String => "1" is not "incorrect" if it is part of a case function with another case that clarifies the type, such as fun different_args(n: U64): String => "".

—
You are receiving this because y

[2016-04-06 14:27] SeanTAllen commented on #696
Or perhaps I don't understand what you are saying. Can you give an example.

On Wed, Apr 6, 2016 at 7:13 AM -0700, "Andrew Turley" <notifications@github.com> wrote:

While your minimal case hits the same error, I'd point out that fun different_args(1): String => "1" is not "incorrect" if it is part of a case function with another case that clarifies the type, such as fun different_args(n: U64): St

[2016-04-06 15:41] SeanTAllen commented on #690
closed by #699.

[2016-04-06 15:41] #690 closed

[2016-04-06 15:51] aturley commented on #696
Sean and I talked. I'm sort of right, in that the compiler happily accepts this case function:

[code]

However, Sean convinced me that the compiler should complain in this case, because the `1` in `fun ex(1): I32 => 3` is ambiguous. As an analogy, the compiler will complain about this code, because it refuses to blithely infer `7` as a `U64`:

[code]

Keep in mind that if `match` can unambiguousl

[2016-04-06 18:10] sylvanc commented on #351
While we still need exhaustive match, that's a separate issue. Closing this one.

[2016-04-06 18:10] #351 closed

[2016-04-06 18:19] SeanTAllen commented on #606
This is the same issue as #318. Closing this one.

[2016-04-06 19:48] dckc commented on #681
OK. Please fix "One of Pony's key features is there are no blocking operations." in the [waiting pattern](http://patterns.ponylang.org/async/waiting.html) then.

[2016-04-06 19:50] jemc opened #701 "Define functions with no receiver (for the purpose of C callbacks)."
We'd like some way to define functions for C callbacks that _don't_ follow the pattern of passing the `void *` for the receiver as the first argument.  This implies functions where all of the parameters are explicit, with no implicit receiver argument at the front.

[2016-04-06 19:51] jemc commented on #701
The syntax for this might look something like using `cfun` and no cap where `fun [cap]` is expected.  That's one idea.

[2016-04-06 19:52] Theodus commented on #700
I have submitted the update to homebrew-core.

[2016-04-06 19:57] sylvanc commented on #677
On the machine that fails, does it work if you compile without optimisations? ie

`ponyc -d`

[2016-04-06 19:57] SeanTAllen commented on #677
also... @jeremyheiler which machine does it go boom on? Is that an IMac? Would like to try to see if we can find someone else with the same machine type to see if that plays a part.

[2016-04-06 20:03] dipinhora commented on #693
@shepheb,

I noticed that you mentioned that you're on `an x86_64 virtual machine` when getting these `received signal SIGILL, Illegal instruction.` errors.

I ran into similar errors using an older version of Virtualbox (I don't remember which version but it was a 4.3.x release) on my Macbook a few weeks ago which went away when I upgraded Virtualbox to the latest release (5.0.16 at the time).

M

[2016-04-06 20:18] SeanTAllen commented on #415
Closing. @jemc is opening a new issue.

[2016-04-06 20:19] georgemarrows commented on #696
Thanks @aturley, I'll steal some of your literal inference examples for the tests I'm writing here: https://github.com/georgemarrows/ponyc/tree/pony570 for #570

[2016-04-06 20:23] georgemarrows commented on #570
@SeanTAllen yes, progress has been made (here: https://github.com/georgemarrows/ponyc/tree/pony570), but real life has got in the way. i'll clean up what is already in place and issue a PR.

[2016-04-06 20:30] jemc opened #702 "Auto-recover constructor expressions when assigning to an explicit type."
In cases where we are constructing a new object and assigning to that to an explicit type (either as an actual assignment with an explicit type or as an argument passed to a method), and there is a subtyping issue in that assignment which would be solved by surrounding the constructor in a `recover ... end`, we want to auto-recover the expression and allow that `recover ... end` to be implicit rat

[2016-04-06 20:31] jemc commented on #415
Closing in favor of #702, since this is a special case of that.

[2016-04-06 20:31] jeremyheiler commented on #677
Yes, it is the iMac that is having the issue.

[code]

[2016-04-06 20:46] jemc commented on #683
As discussed in a call today, we need some syntax to use in conditionals for constraining that `A` is a subtype of `B`.  When we have this, we can apply it to a function signature (similar to existing case methods) to conditionally compile a function, or in function bodies as an expression with a `Bool` result that is computed at compile time.

One obvious approach might be to use `<:` as a binary

[2016-04-06 21:06] tmmcguire commented on #683
I, for one, would like to go on record as supporting the turnstile syntax option, but only if you require the unicode RIGHT TACK character (⊢). Every language should have at least one un-typable, impossible to find operator glyph. And it would put Pony ahead of Perl. (I think.)

[2016-04-06 21:22] jemc commented on #683
going with the pony style of keywords that are words smushed together we could try something like this:

[code]

[2016-04-06 22:06] #659 closed

[2016-04-07 04:16] jemc commented on #317
In this week's sync call, @sylvanc expressed interest in this feature, as a long term solution for use cases like #555.  He made reference to the [Modula-3](https://en.wikipedia.org/wiki/Modula-3) type system, but the way he described it, it sounded like basically the same feature as was being discussed here.

[2016-04-07 05:37] sylvanc commented on #675
This is the approach used for `pony_asio_event_create` and `pony_asio_event_destroy`. However, I think there's a better general approach.

This is basically GC pinning. It's use is to allow memory to be referenced by Pony and another language simultaneously over a long period (i.e. any amount of time that exceeds the current stack frame). Pinning allows the memory to have a lifetime that is long e

[2016-04-07 05:40] sylvanc commented on #649
The LLVM apt repos are indeed awkward, but not as messed up as you might think. The instructions make it seem like you should use the `-3.8` apt repo to install `llvm-3.8`. But, in fact, you need to use the unversioned repos to do that.

So, for Wily, you need to use:

[code]

and then

[code]

[2016-04-07 06:01] sylvanc commented on #677
This is looking suspiciously like an LLVM bug. Can you please try:

`pony -d --verify`

And see if it generates any more useful information? Not being able to emit an extension instruction is very suspect.

[2016-04-07 07:01] sylvanc commented on #635
We should do this. The issue right now is that in `operator.c`, lines 499-500, the check for a constructor should be expanded to be "is the result of the expression generated by a constructor", rather than the simple "is the expression a constructor" check that is there now.

This need to be mirrored in `gencall.c`, line 326, which determines whether to allocate a new object or use an offset point

[2016-04-07 10:49] Praetonus commented on #675
@sylvanc It does seem better that way.

I think I can take it but I have a few questions to make sure I'm not going in a completely wrong direction.

- Is the acquire set an existing data structure or something that have to be implemented?
- What if `p` is already in the acquire set? Is it illegal (exactly one acquire and one release on a given object) or do we simply increment the reference count

[2016-04-07 11:33] shepheb commented on #693
Upgraded VirtualBox to 5.0.16 as well (it's still the latest, I guess) and it works now.

Since the illegal instruction was from the SSE extension set, I guess either that older VirtualBox mistakenly reported SSE support and couldn't back it up, or had a bug in its SSE support. Probably the latter.

This is resolved. Sorry for the noise - not a Pony bug at all.

[2016-04-07 11:33] #693 closed

[2016-04-07 12:07] sylvanc commented on #693
Phew, that's a relief :) Thanks @dipinhora ! And thanks @shepheb for sticking with this one to a solution.

[2016-04-07 12:50] SeanTAllen commented on #693
@shepheb can you open a PR against ponyc:README and install instructions in the tutorial about the minimum vbox version required so no one else goes through this pain?

[2016-04-07 13:42] SeanTAllen commented on #700
PR against homebrew is here: https://github.com/Homebrew/homebrew-core/pull/107

[2016-04-07 13:54] SeanTAllen commented on #700
Thanks for taking this on @Theodus. Looks like it will be good to merge into homebrew once you make one change that was asked for by a homebrew person. Once it's merged, can you pop back over here and close this issue?

Thanks again!

[2016-04-07 15:02] sparseinference commented on #649
Thanks @sylvanc  - I see that they updated the repositories for "wily" today! And, they have the debug libraries too. I will install and retest.

[2016-04-07 15:19] SeanTAllen commented on #649
@sparseinference if that works, please issue a PR against install instructions in the ponyc README and the install instructions in the tutorial?

[2016-04-07 19:06] sparseinference commented on #649
I installed LLVM-3.8 from the llvm apt repository for "Wily". The actual version installed was 3.8.1.
I built ponyc (release and debug) and tested all the examples, on two different machines.

I could not reproduce the problem.

[2016-04-07 21:09] Theodus commented on #700
The commit has been merged in [5e0016a](https://github.com/Homebrew/homebrew-core/commit/5e0016a78b59c7b74f53e6bd28c3a370f303715a)

[2016-04-07 21:16] jemc commented on #700
Thanks!

[2016-04-07 21:16] #700 closed

[2016-04-07 23:52] Praetonus commented on #675
I implemented it but there are still things to discuss. See #710.

[2016-04-07 23:52] SeanTAllen commented on #649
@sparseinference awesome. Can you PR the README for ponyc and the install instructions on the Pony tutorial?

[2016-04-08 03:09] sparseinference commented on #649
@SeanTAllen - yes, I'll do that this weekend.

[2016-04-08 09:05] SeanTAllen commented on #649
Thank you @sparseinference

[2016-04-08 10:06] sylvanc commented on #694
Fixed in #714. Thanks!

[2016-04-08 10:06] #694 closed

[2016-04-08 10:46] SeanTAllen commented on #694
@sylvanc in the future with these, you need to remember to create a minimal-example case related to the issue so we can test for regressions later.

[2016-04-08 12:37] #682 closed

[2016-04-08 14:30] Praetonus opened #715 "Regression: _final isn't called for actors"
Minimal example:

[code]

`git bisect` points to 72c5727, the code generator rewrite.

[2016-04-08 14:40] jemc opened #716 "Idiomatic package for running subprocesses."
We need a package for running subprocesses in a way that is more Pony-idiomatic than running FFI calls to `@system`.  Among other things, we want clean patterns for linking up to the `stdin` and `stdout`/`stderr` streams of the subprocess.

[2016-04-08 14:41] jemc commented on #716
It's my understanding that @lispmeister is already working on this (and near completion), so I've assigned the ticket accordingly.

[2016-04-08 14:44] jemc opened #717 "Integration tests in ponyc CI to prevent some regressions."
We need a system for integration tests in the ponyc CI to prevent regressions that are difficult to unit-test in-process with the `ponytest` package.

We would probably want to write an integration test suite in Pony with `ponytest` that runs subprocesses using the upcoming subprocess package described in #716.

[2016-04-08 14:46] jemc commented on #717
We have been collecting some minimal repro test cases for hard-to-test bugs [here](https://github.com/ponylang/ponyc/tree/master/minimal-cases).

We can also link to other tickets from this ticket so that we know to write some integration tests for those as well.

[2016-04-08 14:47] Praetonus commented on #715
Fixed by 20d960c.

[2016-04-08 14:47] #715 closed

[2016-04-08 14:47] jemc commented on #717
We need to integration-test that finalizers are called for all object types (actors, primitives, classes, etc), as we have seen this regress before in https://github.com/ponylang/ponyc/issues/715

[2016-04-08 14:48] jemc commented on #716
This is a blocker for #717, I think.

[2016-04-08 23:14] #574 closed

[2016-04-09 00:07] tmmcguire opened #721 "The Compare type is behaving strangely"
The following program:

[code]

fails to compile with the following error:

[code]

I first noticed this with ponyc version 0.2.1-747-g6aa1bf2, but git bisect reports

[code]

[2016-04-09 01:45] SeanTAllen commented on #721
With latest head... `3dc75e9`

I get:

[code]

[2016-04-09 01:53] SeanTAllen commented on #721
If I break this down to its core bit...

[code]

it works fine.

[2016-04-09 01:55] SeanTAllen commented on #721
The particular issue that causes the assertion failure I get is:

`lambda(l: U32, r: U32): Compare => l.compare(r) end`

[2016-04-09 07:07] sylvanc commented on #721
Thanks! Fixed in #722.

[2016-04-09 07:07] #721 closed

[2016-04-09 13:58] jtfmumm opened #723 "Compiler doesn't treat typeargs in a match as open-ended"
The compiler should know that List[B] is a possible reification of a type A, but it currently does not.  The compiler treats type variables in a match as open ended but not when they are typeargs in another type.

[2016-04-09 14:39] SeanTAllen commented on #723
Can you give an example of what you think is in error and what you believe the compiler should be doing?

[2016-04-09 14:49] jtfmumm commented on #723
Here's my implementation of flatten() on a persistent List.  List[A] is a type alias for (Cons[A] | Nil[A]):

[code]

Here's the compiler error:
[code]

[2016-04-09 14:49] jtfmumm commented on #723
The compiler should know that List[B] is a possible reification of A, but here it's telling us that that is not possible.

[2016-04-09 17:30] jemc opened #724 "Printed AST format misrepresents string literals containing triple quotes."
In the printed AST format, all string literals are printed by [simply surrounding the bytes with triple-quotes (with no escaping of any bytes in the contents)](https://github.com/ponylang/ponyc/blob/ce08b1dfd90064f75df5388ae9b4b381323212b2/src/libponyc/ast/ast.c#L71).

For example, the following Pony source code is represented with the following printed AST:
[code]
[code]

Because there is no esca

[2016-04-09 18:02] SeanTAllen commented on #717
Why do we need the process package for this? So that if any individual test crashes, we still run the entire suite?

[2016-04-09 18:06] jemc commented on #724
I can think of a few basic approaches to fix this:

## fall back to single quote escaped

One approach is to use the current AST printing scheme of triple-double-quotes with unescaped contents for most string literals, but when the contents contain one or more triple-double-quotes, then fall back to a scheme with single-double-quotes as the delimiter and in the contents replace every instance of `

[2016-04-09 18:11] jemc commented on #717
@SeanTAllen - at least some integration tests would need to parse the output of stdout and/or stderr (such as the finalizer tests).  We could probably hack up something with FFI calls to make this happen, but at that point you've kind of half-written the process package anyway.  Since you've said that the process package is nearly complete (or at least an initial version is nearly complete) it see

[2016-04-09 18:24] SeanTAllen commented on #717
@jemc makes sense

[2016-04-09 18:59] SeanTAllen opened #725 "Write class String documentation"
There's some method level documentation but the class level where we should have lots of example code etc is just:

`Strings don't specific an encoding`

[2016-04-10 00:54] jemc commented on #724
Again, I should emphasize that we're only talking about string literals in the printed AST format, *not* in Pony source code - so ease of human read/writeability is somewhat secondary to machine read/writability (instead of being the other way around, as in source code.

[2016-04-10 01:16] tmmcguire commented on #721
Yep, I can confirm it is fixed. Thanks!

[2016-04-10 01:41] ryanai3 opened #728 "Compiler doesn't allow use of sendable fields in recover expressions."
Take the following example:
[code]

new_array2 compiles, but new_array1 doesn't, with the following message:

Error: can't read a field through RecoverTest tag
    recover Array[USize].create(size) end
                                                ^

[2016-04-10 06:13] ryanai3 commented on #683
@jemc  Why is ```TypeName``` expanded to ```TypeName.create()```?
I'd argue that ```A``` should always refer to the type A, and ```A()``` should expand to ```A.create()``` instead. Expanding it to the creation method on the type by default is ambiguous and inconsistent in my view. Take:
[code]

Should we then take any instances of the string ```SomeContainer``` as ```SomeContainer.create()```? If

[2016-04-10 15:22] jemc commented on #683
I'd argue that ```A``` should always refer to the type A, and ```A()``` should expand to ```A.create()``` instead. Expanding it to the creation method on the type by default is ambiguous and inconsistent in my view. Take:
[code]

It's all about context.  The Pony parser is a LL(1) parser that consumes a stream of lexeme tokens from a lexer.  So, expanding on your example to include some more examp

[2016-04-10 19:59] ryanai3 commented on #683
Makes sense, thanks

Can we get around the parsing issue by turning ```<:``` into an infix operator macro? That seems to be the way julia and scala handle it.

Otherwise, I think ```checktype``` is better than a symbol for the more complex case, but I still think we should have a syntax for simple constraints on methods:
[code]

How far do you think this should go in terms of constraining non-conc

[2016-04-10 21:30] jemc commented on #683
I think there are some good questions here, but I'll leave them for @sylvanc to ponder because he has a clearer vision of where he wants the type system to go.

[2016-04-11 16:37] jemc commented on #675
@SeanTAllen - can you please add @Praetonus to the "Contributor" group so he can be assigned to this ticket?  I don't think I have the access to do this.

[2016-04-11 17:00] Praetonus opened #736 ""Collection of arrays" collection"
I think we need a new collection in the standard library providing a `Seq` interface over a collection of arrays (like the chunks in `net.Buffer`), with the class providing a direct access on its elements (being a `Seq[A]`) The advantages of this would be:

- Cheap insertion/removal near the beginning compared to an array by having less elements to shift.
- Less overhead with reallocation when out

[2016-04-11 17:07] jemc commented on #736
Why is that?  If it's a `Seq[Array[A]]`, that implies that it implements `push(value: Array[A])`, which means that the array comes from externally (as I believe it should be for these use cases).  Maybe I'm missing part of your point, though.

[2016-04-11 17:21] Praetonus commented on #736
@jemc In fact it would be a `Seq[A]`. I'll modify the issue to specify it clearly. The idea for this class comes from the discussion on a resizeable write buffer in #732. Since `TCPConnection` and friends take `ByteSeq` in their send methods, this class must provide an interface to access its elements directly, regardless of the intermediate collection. However, for the `(Read)Buffer` class we alr

[2016-04-11 17:44] SeanTAllen commented on #675
@jemc invite sent. @Praetonus, you'll need to accept the invite.

[2016-04-11 19:50] jtfmumm commented on #728
If you use
[code]
it works.  Does that not express what you want to express?

[2016-04-11 19:51] jtfmumm commented on #728
My guess is that if you say box, then `this` can be a `ref`, which is not sendable.  I'm guessing a reference to a field is also implicitly a reference to the receiver.

[2016-04-12 00:57] ryanai3 commented on #728
@jtfmumm unfortunately, this needs to happen in a box because ref methods rely on it :\

thanks for the pointer to ```this```, I think I see why it happens, but I'd still argue that it's incorrect behavior. ```this``` can be a ref, but we're not sending ```this``` into the recover expression, we're sending something that is sendable - having it as a field should make no difference.

If you have so

[2016-04-12 06:07] h00gs opened #738 "name of USize"
The name USize seems inconsistent with ULong. Why not UInt?

[2016-04-12 06:20] jemc commented on #738
`USize`/`ISize` correspond to the bitwidth of the native type `size_t`, which varies by platform. `ULong`/`ILong` similarly correspond to the bitwidth of the native type `long`, which also varies by platform.  The bitwidth of a native `int` is the same across all the platforms that Pony supports, and you can use `U32`/`I32` for this.

[2016-04-12 06:35] h00gs commented on #738
Yep recognise that but UInt/Int (refering directly to the abstract type) would be a lot more intuitive than USize/ISize (refering to the machine bitwidth), particularly since the machine native long is ULong/ILong (refering to the abstract type).

[2016-04-12 06:44] sylvanc commented on #738
My reaction to Int / UInt is that it must refer to an integer the same size as `int` and `unsigned int`, which is not how ISize / USize work. They refer to `ssize_t` and `size_t`, effectively, and they represent something concrete: the number of things which can exist in a memory space, which is also an integer the same size as a native pointer.

[2016-04-12 06:58] h00gs commented on #738
Ok I see you're point, I'll take that on board, spend some more time digesting the std lib and have more to say.

[2016-04-12 08:00] sylvanc commented on #677
How unfortunate. This means that ponyc is emitting IR that LLVM-3.8 considers totally valid, and we aren't optimising it, and LLVM-3.8 is still failing to emit a bit extension instruction. That's... unusual. Theoretically, with a verified IR, this "can't happen" (ha).

In `src/libponyc/codegen/genopt.cc`, there's an `optimise()` function. Can you try disabling bits of that function, searching for

[2016-04-12 08:59] sylvanc commented on #728
Your `new_array1` example could work, but it would need a compiler change. The reason is that `recover` works by isolating a lexical scope: only sendable types from outside the scope are visible. If `this` wouldn't be visible in the scope, it is treated as a `tag`, so that it is visible.

With a bit of work, it would be possible to look at how `this` is used inside a `recover` expression and deter

[2016-04-12 09:09] sylvanc commented on #724
Yup, this is definitely a problem.

Is it the same problem as the "nested triple quoted strings" problem? I think it isn't, because here we have an arbitrary unescaped string and we need to manufacture a container, which I think turns out to be undecidable.

I'm sort of leaning towards writing all AST strings as double quoted strings rather than triple quoted strings. A double quoted string, while

[2016-04-12 09:20] sylvanc commented on #691
This turns out to be a very subtle and very complex problem.

When a method is reified for code generation, it is reified with a single receiver rcap. If that method is a `fun box` and it constructs a type that has a type argument that is an arrow type which is adapted with `this->`, then the reification will be correct only for `box` receivers. For `ref` and `val` receivers, the reified construct

[2016-04-12 10:15] h00gs commented on #738
It looks to me like most of the usage of ISize, USize in the std lib is just for generic machine size ints, uints without any requirement to be able to act as pointers, although it is used for arrays.  Go doesn't have pointers, and its use of int for array indexing hides that minimum size detail from the user.  Why wouldn't you want to do something similar for Pony users?

[2016-04-12 10:24] sylvanc commented on #738
Go uses a platform-specific size for `int` and `uint`. This results in code where assumptions are made that may not be valid, especially as Go does auto-promotion on assignment and arithmetic. Rather than it being a good thing to "hide" this, I think it results in Go sharing many of the platform-portability problems of C.

Pony uses ISize and USize in the stdlib specifically for "counted things".

[2016-04-12 12:29] SeanTAllen commented on #691
That seems like a reasonable way forward.

[2016-04-12 12:29] SeanTAllen commented on #691
D'oh. Hit the wrong button and closed this.

[2016-04-12 14:14] h00gs commented on #738
Ok so Pony has this machine dependence, too, right? And that seems to be
necessary. Then its just a question of semantics. ISize, USize are
machine-dependent ints with minimum size. They're just ints and users will
need them a lot. Why not call them Ints which is more intuitive. I'm not
seeing why you have to make reference to C terminology for such a
fundamental primitive.
On 12 Apr 2016 6:24 p.m

[2016-04-12 14:38] jeremyheiler commented on #677
I was able to compile and run helloworld after commenting out this line:

[code]

Instead of commenting it out, I fiddled with the number. It works for 1, 2, and 3. Anything (that I tried) 4 or greater generated the error.

[2016-04-12 15:24] SeanTAllen commented on #677
^5 @jeremyheiler. thanks for the time you've put into this.

[2016-04-12 15:26] jemc commented on #724
I think this approach is the simplest lexing rules, but has the downside that the lexer must allocate a new string to put the unescaped contents into - instead of pointing to a region of the original string.  This may or may not be a big deal.

[2016-04-12 15:32] SeanTAllen commented on #738
@h00gs the reference is made to c terminology because both Go and older C code did what you are suggesting and it created a lot of problems that people had to deal with down the road. The solution is the abstract the problem away, had a size whose machine primitive can vary by architecture.

[2016-04-12 16:00] h00gs commented on #738
Sean there's some typos in there and I'm not clear what you're saying. To
clarify my understanding (correct if wrong). Go uses machine-dependent int
and uint, minimum 4 bytes. Pony has ISize, USize, also machine dependent
with minimum size. So I'm not arguing about the use or value of machine
dependent integer sizes, just the name. I get why "Size" is used, I'm
suggesting it shouldn't be necessary

[2016-04-12 16:53] jemc commented on #738
The "Size" terminology is used to indicate that it is for "counted things", as @sylvanc.

Also, using terminology that is consistent with C is important, because we have a C FFI and thus we need to be able to easily remember which types correspond to which C types.  So, calling a `size_t` a `USize` is much less surprising than calling it a `UInt`, when it doesn't refer to an `unsigned int` at all.

[2016-04-12 16:55] jemc commented on #738
I don't think we can be convinced to rename `USize` as `UInt`, so I'm going to close this issue ticket.  However, that doesn't mean we can't continue to discuss the matter here and explain our reasons if you have more questions.

[2016-04-12 16:55] #738 closed

[2016-04-12 19:45] SeanTAllen commented on #736
@Praetonus have you seen ArrayValues? Are you talking about something that is like that but you can write to?

[2016-04-12 20:01] jemc commented on #736
One variation of this idea is the ["rope" data structure](https://en.wikipedia.org/wiki/Rope_%28data_structure%29), which is a tree of strings that presents the interface of a single string composed of its segments.  Such a data structure is quite well suited to zero-copy scatter-gather IO patterns.  I think this is more along the lines of what @Praetonus is picturing.

I built [a specialized rope

[2016-04-12 21:28] jtfmumm commented on #728
I can't think of an edge case you're missing.

[2016-04-13 00:19] h00gs commented on #738
Ok but at the least the "counted things" explanation needs to find its way
into documentation. I'm surprised that this nomenclature choice is not
obvious. Go does this little thing better.
On 13 Apr 2016 12:55 a.m., "Joe Eli McIlvain" <notifications@github.com>
wrote:

I don't think we can be convinced to rename USize as UInt, so I'm going to
close this issue ticket. However, that doesn't mean we

[2016-04-13 12:36] #649 closed

[2016-04-13 16:26] MrMormon opened #743 "Improve repo description"
I use GitHub searches to discover new programming languages, and "Pony compiler" gives no information.

[2016-04-13 19:55] jemc commented on #677
@jeremyheiler - That line is only run when compiling in release mode.  Does it make a difference to change that line if you're compiling with `--debug` (in a sane world, it shouldn't)?

[2016-04-13 19:57] sylvanc commented on #736
I think @jemc is right on this one: a nice, generic rope would be perfect. Not only is it a good data structure for scatter/gather, it's pretty much the only data structure you need to write a text editor.

[2016-04-13 20:08] jtfmumm opened #744 "No need to consume a ref at the end of a recover block"
Currently the compiler requires the "consume" at the end of this recover block:
[code]

However, since any `ref` inside a recover block was declared inside the block and that all its aliases will be destroyed when leaving the block, there is no need to explicitly consume.

[2016-04-13 20:46] SeanTAllen opened #745 "Documentation needs access to original type definition for type aliases"
By time the doc generation run ends, we have a type checked AST. This is awesome because it's easy to know for any name, what package etc it is in and allows for easy cross linkage in documentation. However, for type aliases instead of putting the alias like:

`Compare`

we instead get

`(Less | Equal | Greater)`

which is the fully type checked version of

`type Compare is (Less | Equal | Greater

[2016-04-13 21:17] yonkeltron opened #746 "Request for a CSV processing library"
#### Context:

In my professional life, I work on a team which deals with a great many flat files. One of the things which would make Pony immediately relevant to me and my team would be some sort of facility for reading flat files. Specifically, files such as those containing tabular data separated by delimiters. Most commonly, these are comma-separated or tab-separated values but it's not uncomm

[2016-04-13 22:21] SeanTAllen commented on #746
@yonkeltron thanks for your interest in Pony. We happily accept community PRs for features. If you would like to add CSV handling, we'd be happy to you with design however a CSV library is not on our roadmap at this time. It would have to come from the community.

[2016-04-14 00:55] SeanTAllen commented on #743
anything in particular that you think would be better?

[2016-04-14 02:20] MrMormon commented on #743
Pony is a compiled, actor-oriented programming language with a focus on productivity and performance. Its design philosophy emphasizes data-race, memory, and exception safety while being fun to use, preferring composition to inheritance and other choices that avoid ambiguity. Built upon LLVM, It shares several practical attributes with Java, Go, Rust, Erlang, and the functional paradigm. http://po

[2016-04-14 02:23] MrMormon commented on #743
May be too long. I think Julia used to have a description like that.

[2016-04-14 02:27] SeanTAllen commented on #743
I'm going to leave as is for now.

[2016-04-14 02:27] #743 closed

[2016-04-14 02:44] jemc commented on #746
Welcome to the community!

As @SeanTAllen suggests most of our "official resources" are booked up at the moment with other features on our roadmap.  However, the good news is that you totally don't need our permission to build this for yourself!

Given that you have an interest in this kind of library and some idea about how it should work, your best bet is to go ahead and start implementing it.

[2016-04-14 02:51] jemc commented on #745
The idea I proposed in our discussion for solving this one - refactoring the compiler AST to represent the type as a list of types (instead of a single type).  The first item in the list would be the nominal type given in the source code, if any; the last item in the list would be the fully resolved type (up to the latest pass run by the compiler so far); the items in between would be the various

[2016-04-14 12:52] PSUPing commented on #746
+1

[2016-04-14 14:13] Praetonus commented on #736
My initial idea looks like this (in poor ascii art):

[code]

Here, the DS is composed of 3 sub-arrays. The middle one is full and there is still room in the others. The numbers are the indices in the sequence. The sequence is random-access in O(1) and can extend in either direction in O(1) amortized (not exactly in Pony because of memory manipulation restrictions. Insertion at front will be O(`su

[2016-04-15 02:37] MrMormon commented on #247
@TehShrike You forgot the link.

[2016-04-15 02:47] TehShrike commented on #247
Oh true enough!  The package manager is [pony-stable](https://github.com/jemc/pony-stable).

[2016-04-15 03:19] jemc commented on #247
I'm the author of `pony-stable` and now a member of the core Pony team.  That little project was intended as a quick stopgap measure to get some basic dependency tracking in place in some of my other projects.

Soon, I'd like to get down to the work of integrating proper package managers, using some of the great ideas in this thread.  I think we can do it in a way that provides a good user experie

[2016-04-15 14:34] Theodus opened #753 "Improved Persistent Map"
I implemented a persistent hashmap in Pony that uses a Compressed Hash Array Mapped Prefix-tree rather than the current Hash Array Mapped Trie implementation. It is based on a paper by Michael J. Steindorfer and Jurgen J. Vinju from last year and results in similar benchmarking results for lookups and greatly improved updates as well as deletions. The benchmarks on my macbook pro with a core i5 ar

[2016-04-15 16:08] jemc commented on #753
For the curious, is this the paper?
http://michael.steindorfer.name/publications/oopsla15.pdf

[2016-04-15 16:09] Theodus commented on #753
Yup, that's the one.

[2016-04-15 19:07] SeanTAllen commented on #753
Where is the benchmark code?

[2016-04-16 05:04] MrMormon opened #755 "Error message suggests that a local variable can start with an underscore"
[code]
[code]
Using `_x`:
[code]

[2016-04-16 05:14] MrMormon opened #756 "Error message calls strings literals but literals are an undocumented type?"
Why does the compiler respond to
[code]
with `Literal doesn't terminate` (same as when using a mis/unmatched double quote/triple double quote) when nothing I'm aware of starts with single quotes?

I see that replacing `'` with `''` errors with `Could not infer literal type, no valid types found`.

EDITED.

[2016-04-16 06:04] MrMormon opened #757 "Error message suggests bad parsing of variable name ending with _'"
I understand that primes are, in a way, intended to be added to names which are already valid. This is wrong, though:
[code]
fails to compile with `local variable name "x_'" cannot end with underscores`.

[2016-04-16 06:22] MrMormon opened #758 "Normal string that ends in escaped single quote may ignore backslash"
[code]
prints `\'`. Likewise, `"\\'"` gives `\'`. `\'` is printed as `'`.
Unlike the third case, the first case appears to interpret `\'` literally (like in docstrings).

Note that the [sandbox](http://sandbox.ponylang.org/)'s `env.out.print` behavior (debug mode?) skips over invalid escape sequences, and `\'` is highlighted like any other invalid one. I'm not sure if this is a (separate) issue.

[2016-04-16 07:04] jemc commented on #758
It's not that it's ignoring the blackslash - it's that `\'` is being treated as a valid escape sequence for `'`.

In your first example, `\\\'`, the lexer sees a string made of two characters (`\` and `'`), each prefixed (escaped) by a backslash.
In your second example, `\\'`, the lexer sees a string made of two characters - an escaped `\` and an unescaped `'`.
In your third example, `\'`, the lex

[2016-04-16 07:07] jemc commented on #758
To fix this, one could change the `escape` static function in `lexer.c` to accept another `bool` param that indicates whether to use the logic for single-quote or double-quote literals.  That is, for double-quote literals, an escaped single-quote should be an invalid escape sequence, and vice-versa.

[2016-04-16 07:14] jemc commented on #756
Similar to in C, single-quotes are used to delimit single-character literals.  For example:
[code]
[code]

[2016-04-16 07:16] jemc commented on #756
I'm closing this issue ticket because it isn't really an issue, except in the sense that we apparently haven't documented single-quote character literals well enough.  I added a ticket to track that issue here: https://github.com/ponylang/pony-tutorial/issues/102

[2016-04-16 07:16] #756 closed

[2016-04-16 07:21] jemc commented on #755
Yep, this is an error reporting snafoo. It should adapt the `must start` message depending on whether it is a local variable or a field.  This code is in `id.c` if anyone wants to file a PR (might want to wait until after #752 is merged, though, to avoid merge conflicts).

[2016-04-16 14:47] SeanTAllen opened #759 "What's my compiler doing flag"
Have the compiler take a flag that would output what options it has turned on by default.

For example, cpu and triple default to values that vary by host. Knowing these and potentially, what llvm features are on by default could be a great boon for both end user developers and pony developers.

In the case of pony developers, it would allow us to ask the user to run a single command that can get

[2016-04-16 17:29] MrMormon commented on #758
I must have been tired. You brought up escaping in single quoted literals, but I think I can close this as unrelated and dumb on my part.

[2016-04-16 17:29] #758 closed

[2016-04-16 17:40] MrMormon opened #760 "Fix quote escaping in single-quote versus double-quote (string) literals"
Although single-quote literals are pending [documentation](https://github.com/ponylang/pony-tutorial/issues/102), @jemc stated in [another issue](https://github.com/ponylang/ponyc/issues/758):

[2016-04-16 17:55] jemc commented on #760
We could have just changed the title of the other ticket, but oh well.  I'll transfer the tags here.

[2016-04-16 17:58] jemc commented on #758
We could have just renamed this ticket, but since #760 was already opened, I'll move the labels to that ticket.

[2016-04-16 18:51] SeanTAllen commented on #746
Closing this as issues aren't where we'd keep track of something like this. If the community gets large enough, perhaps there could be a place for bounties. If anyone does do a CSV library and would like to have it considered for standard library inclusion (unless we have a package manager before then), let me know.

[2016-04-16 18:51] #746 closed

[2016-04-16 18:52] SeanTAllen commented on #736
@Praetonus i'd say the way forward with this it to implement it and issue a PR.

[2016-04-18 01:09] mkfifo commented on #736
@Praetonus +1

The similarity to a rope, AFAIK, is only that the internal representation differs from the external - externally it is a sequence of characters, internally a tree.

Your structure externally is a sequences of A, internally is it Array[Array[A]]

Given your 3 array example
[code]
You can extend it in O(1) obviously by appending a new array to the end, and thankfully it doesn't really

[2016-04-18 13:30] sylvanc commented on #691
Fixed in PR #762

[2016-04-18 13:30] #691 closed

[2016-04-18 19:23] MrMormon commented on #757
We added the [naming rules](https://github.com/ponylang/pony-tutorial/pull/104) to the tutorial. If that's not wrong, let's change the error message to e.g.
[code]

[2016-04-18 19:36] jemc commented on #757
Yes, strictly speaking, `x_'` does not *end* with an underscore.  However, I would still call it a "trailing underscore".  Changing the message to "cannot end with that" is removing useful information about what specifically is the problem with the name.  I think "cannot have a trailing underscore" is more accurate than what we have now, but still useful for understanding how to remedy the error.

[2016-04-18 20:20] MrMormon commented on #757
That's just vague enough to work.

[2016-04-18 20:23] #757 closed

[2016-04-19 02:56] MrMormon commented on #755
#752 has been merged.

[2016-04-19 03:06] MrMormon opened #765 "Should this underscore parsing in integer/float literals be changed?"
[code]
prints `749.6` but
[code]
fails to compile with
[code]
. This goes against the 'no trailing underscore' and 'no double underscore' rules, but grammar-wise numbers aren't names/identifiers anyway.

[2016-04-19 05:20] mkfifo commented on #736
Actually on second thought, this proposal actually shared more in common with ropes than I initially let on.

The key differences are that ropes are trees on characters (and character sequences), whereas this proposal is arrays of arrays of A.

Other than this, they are equivalent in that they present themselves externally as an iterable sequence while internally being more.

[2016-04-20 08:35] sylvanc commented on #724
Hmm, is allocating in the lexer what we want?

If it's for printing, could we do it the opposite way, i.e. in `token_print` we could generate an escaped version of the string if we didn't have one?

[2016-04-20 13:37] jemc commented on #724
@sylvanc - right now libponyc only prints ASTs - it does not lex/parse them.  When I talk about the "lexer" here I'm talking about the one that reads ASTs and does not exist yet in libponyc.  I can see why it would be confusing, because we have a `lexer.c` that lexes pony source code, and is not what I'm talking about.

[2016-04-20 19:59] SeanTAllen commented on #765
Will fix to disallow trailing underscore and double underscore in numbers.

[2016-04-20 20:05] SeanTAllen commented on #759
Options:

* spit out on version
* spit out verbose 4
* define own flag for this

[2016-04-20 20:29] MrMormon commented on #765
Thanks, @SeanTAllen.

[2016-04-21 08:41] sylvanc commented on #724
Ah, sorry, I misunderstood. Yes, an AST parser would then need to allocate, but I think it would anyway, as it should have stringtab'd, null terminated values for string tokens.

[2016-04-21 18:53] Nyarum opened #770 "Small errors in tutorial about overload function"
As now we have a http://tutorial.ponylang.org/pattern-matching/case-functions.html with overload functions.

There is two issues in other places:
http://tutorial.ponylang.org/expressions/infix-ops.html
[code]

and

http://tutorial.ponylang.org/expressions/methods.html
[code]

I think it should be changed to another descriptions :)

[2016-04-21 19:09] jemc commented on #770
@Nyarum - I think this issue is covered by this ticket, in the tutorial repo: https://github.com/ponylang/pony-tutorial/issues/106

If so, I would say please add your thoughts to that ticket.  If not, please open another ticket in the `pony-tutorial` repo instead of here.

Thanks!

[2016-04-21 20:05] Nyarum commented on #770
@jemc yep, it is. Thank you.
I will close this ticket and copy my message with details to https://github.com/ponylang/pony-tutorial/issues/106.

[2016-04-21 20:05] #770 closed

[2016-04-22 16:18] nlalevee commented on #247
By "integrating", do you mean using an existing package manager ?

[2016-04-23 16:47] Praetonus opened #774 "Change name of identityof operator to digestof."
This isn't consistent with other pointer/address related stuff. Is it an oversight from the 32 bits port, which introduced `USize`?

[2016-04-23 17:18] jemc commented on #774
Probably, yes. But I'll wait for @sylvanc to weigh in.

[2016-04-24 02:07] melvinzhang opened #775 "simplify Dockerfile by changing base image to ubuntu:16.04"
Thanks for adding the Dockerfile, it makes it much easier to try out ponyc without installing the dependencies manually.

I noticed that the Dockerfile can be simplified if we use a more recent Linux distro as the base, eg ubuntu:16.04 as all dependencies can be installed with apt-get. The dependency setup step is reduced to
[code]

The benefits are a simpler Dockerfile, fewer image layers, faster

[2016-04-24 03:34] jemc commented on #775
Cool, I'm glad the Dockerfile is already appreciated - I guess it was worth the couple of hours of sleep a lost last night working on it :wink:.

Regarding `debian => ubuntu`, I'm not opposed to such a change (and I don't know why anyone else would be, considering the Dockerfile is brand new in the last 24 hours).

However, note that my later intention is to make a far *more* minimal Dockerfile us

[2016-04-24 03:40] jemc commented on #716
This is being worked on at PR #772.  It was previously worked on at PR #763 and then #766, but both of those PRs were closed in favor of #772.

[2016-04-24 05:15] melvinzhang commented on #775
Thanks for the explanation. Using Alpine is a good way to reduce the size further.

[2016-04-24 16:48] jemc commented on #775
Resolved by #776.

[2016-04-24 16:48] #775 closed

[2016-04-25 05:44] jemc opened #778 "Enhance for loop sugar to support multiple iterators at once."
Our `for` loop sugar currently only supports one iterator.

[code]

If you want to iterate over two collections alongside eachother, you can't use the `for` loop sugar, and instead must use alias and use the iterator explicitly.

[code]

Not only is this a bit laborious, but it's also a bit dangerous in terms of swallowing extra `error`s.  That is, because [we have no way to mark an `error`-free b

[2016-04-25 05:46] jemc commented on #778
Note that in the case where the return value of the iterator is a tuple, we should probably support some extra tuple destructuring on the left side:
[code]

We also must make sure that the semantics of a multi-iterator for loop are clear to the user.  Specifically, the `for` loop will iterate as long as *both* iterators have a `next` value.  If one iterator is "longer" than another, then we iterat

[2016-04-25 07:24] sylvanc commented on #778
I like this very much. Since the result is a tuple, would it also be valid to refer to the tuple rather than destructure it? For example:

[code]

I think that should be straightforward to implement.

[2016-04-27 13:33] Theodus commented on #753
The benchmark code can be found at github.com/theodus/persistent-pony along with the up-to-date benchmark results in the README

[2016-04-27 14:20] SeanTAllen commented on #753
What changed about the code that resulted in new benchmark values @Theodus ?

[2016-04-27 14:27] Theodus commented on #753
The entries of the map are now compressed, as described in the paper. The original benchmarks are also misleading since they show average times rather than the total execution times.

[2016-04-27 19:36] #753 closed

[2016-04-27 19:57] sylvanc commented on #778
@jemc says the third one should be valid too.

[2016-04-27 20:50] jemc commented on #774
We discussed this on this week's sync call.

This question brings up another problem, which is that the `identityof` operator doesn't return a unique value.  For example, on `U128` and on tuples, we are using `XOR` to "encode" more bits into a `U64`.  This means that there are many different `U128`s that have the same `identityof`.  However, the `is` operator doesn't use the same mechanism, and ac

[2016-04-27 20:51] jemc commented on #774
Also, we want to keep the size at `U64`, even on 32-bit machines, since it means fewer hash collisions.

[2016-04-28 03:20] melvinzhang opened #780 "Dockerfile make command builds both release and debug versions"
The problem is in this line
[code]
The last part is missing the config=release setting, so `make install` defaults to `config=debug` and it first builds the debug libponyrt, libponyc, and ponyc and installs the debug version.

As the goal is to install ponyc in the container and the container is clean, there is no need for the `make clean` and `make all` command which also builds the tests.

There

[2016-04-28 03:26] jemc commented on #780
:+1:

[2016-04-28 05:53] jemc commented on #780
Resolved in #781.

[2016-04-28 05:53] #780 closed

[2016-04-28 21:08] #561 closed

[2016-04-29 00:11] Theodus opened #789 "bad link to freenode in README"
I noticed that the link to freenode in the README redirects to a 404 page. This should either be removed or replaced with a new URL.

[2016-04-29 00:32] jemc commented on #789
Will be fixed by #790.

[2016-04-29 12:15] Praetonus commented on #774
I'm not sure everything is consistent here. We currently have a `Hashable` interface and an operator hashing stuff.

The interface

- Isn't provided for everything.
- Is provided for the numeric primitives. The implementation for `I/U64` and below is doing a sequence of xor and bit shift. The implementation for `I/U128` is xor'ing the upper part with the lower part.
- On complex objects, the imple

[2016-04-29 15:07] jemc commented on #774
That's not quite true, the `identityof` operator isn't providing a hash - it provides a number that *can be* hashed.  The provided number isn't really intended to be used for anything else, which is why `identityof` is a bad name.

As you imply in this paragraph, if we want to make `(identityof x) == (identityof y)` work, then the `identityof` operator can't return a number as it does now, making

[2016-04-29 20:15] aturley commented on #778
It looks like this is pretty similar to what itertools/ZipN from PR #779 does. Would this obviate the need for including ZipN in itertools?

[2016-04-29 20:31] jemc commented on #778
This feature would take care of the most immediate use case, perhaps, but I can still imagine wanting to pass a zipped iterator to another actor, for example.  I think `ZipN` probably still has a place in `itertools`.

[2016-04-29 21:54] jemc commented on #716
#772 was merged.

[2016-04-29 21:54] #716 closed

[2016-04-29 21:56] jemc commented on #717
#772 was merged and we now have the package we need for running subprocesses, so this unblocked.

[2016-05-02 08:58] #789 closed

[2016-05-02 09:45] sylvanc commented on #774
I agree with @jemc. The name `identityof` has mislead people. It does not, never has, and never can, return an identity. What it can return is a number suitable for hashing that is derived from an identity - in other words, a digest.

The relation `(identityof x) == (identityof y) <=> x is y` cannot, and need not, hold. Treating an `identityof` result as a `tag` is also fundamentally wrong: it con

[2016-05-02 10:06] sylvanc commented on #774
PR #791

[2016-05-02 10:44] sylvanc commented on #774
Closed via #791

[2016-05-02 10:44] #774 closed

[2016-05-04 12:40] Praetonus opened #796 "The interface of pony_alloc_msg expects a POOL_INDEX"
This is fine for message sending generated by the compiler, but problematic for message sending by hand in C code since `POOL_INDEX` is a runtime internal. I suggest we modify the function to take a plain size and calculate the `POOL_INDEX` internally (or use `ponyint_pool_alloc_size`).

[2016-05-04 13:32] Praetonus commented on #796
On second thought, simply modifying the existing function wouldn't be good for generated code since the index is currently computed by the compiler.

We could expose `POOL_INDEX` in the public runtime interface but I don't think this would be a good thing because it's easy to forget that the function takes an index.

I think the best compromise is to rename `pony_alloc_msg` to `pony_alloc_msg_inde

[2016-05-04 22:24] Earnestly opened #797 "GCC 6.1 build failure"
* gcc 6.1.1

Possibly related: http://developers.redhat.com/blog/2016/02/29/why-cstdlib-is-more-complicated-than-you-might-think/

library.

*(Edit: Removed <> from quote because lolmarkdown)*

[code]

[2016-05-04 22:57] SeanTAllen commented on #797
@Earnestly can you provide more info: what OS, libc, llvm, etc so we can try and reproduce.

Thanks.

[2016-05-04 23:03] Earnestly commented on #797
Sure, sorry.

* linux 4.5.2
* glibc 2.23.90 (2.23-64-g1eb8930)
* llvm 3.7.1
* gcc 6.1.1 (as above)

Builds flags (environmental):

[code]

[2016-05-04 23:53] SeanTAllen commented on #797
@Earnestly which distro?

[2016-05-05 00:16] Earnestly commented on #797
Arch Linux (but this is a little less concrete since I run lots of userspace from development head)

[2016-05-05 14:56] doublec opened #801 "JsonDoc data gets corrupted when passing to behaviour"
I parse a string of JSON using the Json package. Printing the JsonDoc shows correct data. Passing that same JsonDoc to a behaviour then printing it shows corrupt data. Changing the behaviour to a function makes the data print correctly again.

The following is test code that demonstrates the issue:

[code]

The first print of the json string in the constructor displays:

[code]

The second print i

[2016-05-05 15:05] jemc commented on #415
There's actually a bit more to it with lambdas.  For example, a `lambda` with no captures is generated as a primitive (so the object is a `val`), so you can't pass it to an interface that expects an `iso` (like promises, for example).  Even using `recover` (or, in the future, auto-recover) doesn't work, as you can't recover a `val` to an `iso`.

[2016-05-05 15:09] jemc commented on #415
Inferring the receiver capability for the apply function is also not covered by auto-recover, but this may be a little less crucial and could maybe get its own ticket when the more important issue is fixed.

[2016-05-05 15:10] jemc commented on #415
Removed the bug label, as this is really more of a usability/interoperability enhancement.

[2016-05-05 17:44] tmmcguire opened #802 "Runtime terminal setup for stdin"
This issue should have a priority of something like "lower than very low."

If stdin is a terminal, the runtime currently puts the terminal into a pseudo-raw mode. See lang/stdfd.c:stdin_tty(). (It's not quite full raw mode since ISIG is still on; that would be _very_ painful. :-)) In this mode, input characters are not automatically echoed, they're read one-at-a-time, and some special characters

[2016-05-05 19:29] sylvanc commented on #801
Great bug report. PR #805 fixes this.

[2016-05-05 19:43] #801 closed

[2016-05-05 20:19] pdtwonotes opened #806 "Lack of backpressure support on TCP connections"
TCPConnection knows when the OS is ready to accept more data on a connection, when the _pending buffer goes empty.  I think this is discovered in the function _pending_writes.  But this event is not communicated back to the Notify routine.

Without this information, the sending actor can not throttle its writes to the speed with which the data is being consumed at the other end.  For example, stre

[2016-05-05 21:45] jemc commented on #806
Agreed that we need some backpressure mechanism to the user.

I think it merits some discussion about what this mechanism should look like and how it interacts with both the notify object and with the calling user actor.

[2016-05-05 21:46] pdtwonotes commented on #806
It looks like net/http/responsebuilder.pony may also need additions to take advantage of this.  It appears to want to deal with an entire response in one go.

[2016-05-05 21:56] jemc commented on #796
Sounds right to me, but I'll let @sylvanc weigh in.

[2016-05-06 01:21] SeanTAllen opened #807 "Vary capabilities on generics"
The following code compiles fine:

[code]

However, if we want to make this generic and just be a `Store` where we pass in any sort of data structure, not just a Map, then we hit a problem:

[code]

The issue is, that we need to be able to say `DataStructure iso` in our constructor but can't as that is currently disallowed. If we put it on our type params, then our `_state` variable is no longer a

[2016-05-06 08:00] russel opened #808 "Arrays of lambdas build a union typearg; could infer a common interface"
The construct:

[code]

leads to the error message:

[code]

which is not only a wee bit incomprehensible, but (I am reliably informed) is a compiler error that should be reported. Hence this issue.

[2016-05-06 08:53] sylvanc commented on #808
For an array literal, the type checker uses the union of the type of all elements for the array element type. In this case, that's the concrete primitive type of the lambda, whereas you want the interface type. You can work around it like this:

[code]

That tells the compiler "don't infer the array type: it's an array of {(I128): I128} val, and if the elements aren't that type, it's a compile tim

[2016-05-06 16:03] russel commented on #808
@sylvanc The workaround is working for me. I have no moved to using an array of tuples, so the type in my code is now ({(I128): I128} val, String).

I also note the ref^ in the type specification in the points above is redundant.

[2016-05-06 16:38] #755 closed

[2016-05-06 23:52] yodalee commented on #456
I ran into problem when I tried to compile ponyc
here is my OS and compile environment:
`Archlinux 4.4.5-1 x64 with LLVM 3.7.0`
The make command simply ran into problem when compile these files: `genopt.cc, gencontrol.c, gendebug.cc`: Most error related to LLVM class, I'm still looking into this.
Here is part ot the error msg when compiling `genopt.cc`
[code]

[2016-05-07 00:56] SeanTAllen commented on #456
@yodalee LLVM 3.7.0 doesn't work (in general, not just ponyc), you need to use 3.7.1

[2016-05-07 01:07] yodalee commented on #456
OK, I found that I compile LLVM 3.7.0 by myself and it block the LLVM 3.7.1 I installed.
Now ponyc compiled.

[2016-05-07 16:36] jemc opened #810 "Allow reading sendable fields of non-sendable objects inside recover expressions."
I ran into this unexpected error.  I'm not sure if the error is correct or incorrect, but intuitively this code seems okay:
[code]
[code]

Also, I don't understand why that lambda is being seen as a `lambda() end tag`, when it is actually a `lambda box() end val`.  That may be part of the bug if this is indeed a bug.

[2016-05-07 16:59] sylvanc commented on #810
The code is indeed intuitively ok, but very subtly wrong, and only because the compiler should be enhanced to let you do that.

The issue is that inside the _second_ `recover` expression, you are capturing `a`, which at this point is a field of the containing `lambda`. Thus `a` is rewritten as `this.a`. In this case, `this` is `box`, since the `lambda` has a `fun box apply`. In a `recover` express

[2016-05-08 08:05] ryanai3 commented on #810
Is this the same issue as #728?

[2016-05-08 14:21] jemc commented on #810
Thanks @ryanai3.  I think it's *nearly* the same.  The only difference is in that ticket we're talking about locals, and in this ticket we're talking about fields.  May or may not be the same fix - I haven't looked at that part of the codebase yet.

[2016-05-09 05:49] cquinn opened #812 "It seems like Range should be in builtins"
Yes, it is kind of a collection. But, since it is needed for such basic for-loop control that it should be available as a builtin.

[2016-05-09 07:56] sylvanc commented on #812
The idea is to limit `builtin` to types that:

* Need compiler support, such as machine words and `Array[A]`, and
* Types that are required to write the types that need compiler support, such as `String` and `Iterator[A]`.

`Range[A]` doesn't seem to be needed in `builtin`, since we can use a `while` loop instead.

Have you run into a problem where `Range[A]` was needed inside the `builtin` packag

[2016-05-09 10:35] jkleiser opened #813 "Missing eq() method for Array"
It could be handy to have an eq(Array) method for testing if two Arrays have identical contents.

[2016-05-09 10:38] sylvanc commented on #813
Such an `Array.eq` method would have to be parameterised on a predicate for determining the equality of the array elements, since array elements are not required to supply an `eq` method themselves (nor would it be a good idea to do so: e.g. an array of `tag` elements should determine equality by identity, not structurally).

That would mean an `Array.eq` method couldn't be used for pattern matchi

[2016-05-09 10:40] jkleiser commented on #813
Thanks a lot for quick answer!

[2016-05-09 13:35] jemc commented on #812
Limiting the types that are in `builtin` to the bare necessities lets us allow users more name choices for their own types without collisions.

A lot of types were moved out of `builtin` and the remaining ones changed to less collidable names in #286.

For example, I can have my own type called `Range`, which won't collide with the one in `collections` unless I `use "collections"`.  I can even hav

[2016-05-09 17:44] cquinn commented on #812
I don't really have a problem working with Range in collections myself.

My motivation for filling this suggestion is that while reading the tutorials and writing examples, I find so many cases we show Pony loops with a for-loop. And just to get Pony to have the basic functionality of a for loop iterating over a range, which most languages provide intrinsically, we need to add an import into the e

[2016-05-10 09:20] jkleiser opened #815 "Array not printable as is"
I just came across a case where I struggled to make an Array[U8] "printable", i.e. I could not just do `env.out.print(myArr)`. However, I got help on https://pony.groups.io/g/user/threads. Here is an example where `_arr2` gets special treatment through the `printableArray` function:
[code]
Could this `printableArray` function have been made simpler, or could it have been eliminated somehow?

[2016-05-10 12:21] SeanTAllen commented on #815
Array are printable, I'm not sure what you are trying to accomplish here. Lets pick it up on the mailing list.

[2016-05-10 12:21] #815 closed

[2016-05-10 14:39] pdtwonotes opened #816 "Building on ARM does not like march=native"
Trying to build ponyc on my new RaspberryPi 3, the C compiler gets some sort of fatal error.  This is a Broadcom BCM2837 SoC with a 1.2 GHz 64-bit quad-core ARM Cortex-A53 processor, with 512 KB shared L2 cache.  But Ubuntu-MATE, which I have installed on it, runs it in only 32bit mode.  The uname command identifies is as in armv7l.

I have tried this on both Ubuntu 16.04 and 15.10.  On 15.10 the

[2016-05-10 15:14] MrMormon commented on #247
I don't know if this adds to the discussion, but I had a reason to mention Pony in a [Chapel](http://chapel.cray.com/) mailing list. They don't have a package manager yet either, but someone had this to say:

Python way. Both have a central, curated repository, so there are the
problems of high priest bias for the content, and the separation of
experimental and published content. However this solv

[2016-05-10 15:33] yodalee commented on #760
May I ask that, is there single-quote literals? I cannot compile the following code:
[code]

[2016-05-10 15:43] SeanTAllen commented on #760
@yodalee you need to let it know the type, U32, U8 etc...

`var x: U8 = 'x'`

[2016-05-10 15:44] jemc commented on #760
@yodalee - Single-quote literals represent a number, and there are many numeric literal types, so you most specify one.  The most common use of single-quote literals is for ASCII chars, so usually `U8` is what you want:
[code]

[2016-05-10 15:53] SeanTAllen commented on #760
@jemc jinx

[2016-05-10 15:56] pdtwonotes commented on #816
More info from the gcc-5 crash report.  PackageArchitecture was armhf.  Command line had -march=native.  (uname reports armv7l, slightly different)

[2016-05-10 16:19] jemc commented on #816
Just a quick sanity check since it's a small device - you're not running out of memory in the compile, right?

[2016-05-10 16:46] pdtwonotes commented on #816
I don't think so.  The device has 1GB of memory, and htop shows it using under 200MB even with the GUI running.  Without the GUI logged in, it is even less.  It idles at only 110MB used.  (This is Ubuntu-MATE, which is optimized for this sort of thing).   The error happens right away, and I do not see the memory usage moving much at all in that brief interval.

[2016-05-10 19:12] pdtwonotes commented on #816
It isn't Pony's fault.  It seems march=native is the problem:
[code]

[2016-05-10 19:15] darach commented on #816
Interesting. Should also note that -march=native also causing issues on
MIPS as it isn't supported by eglibc.

On Tue, May 10, 2016 at 8:12 PM, pdtwonotes <notifications@github.com>
wrote:

[2016-05-10 19:22] pdtwonotes commented on #816
The arch value can be overidden on the make command line.  I find that the following works:
[code]
Unfortunately, the value return by uname is "armv7l", which gcc will not accept.  It will accept armv7.

[2016-05-10 22:44] tmmcguire commented on #797
Looks like I have this same issue following an update. Arch Linux (bog-standard), llvm 3.7.1, gcc 6.1.1 20160501 (not sure what version I had previously).

Doing `make verbose=t` produces

[code]

Fiddling around with the command line suggests the issue involves the `-isystem /usr/include/` argument; removing it allows the build to continue. The following change in Makefile (replacing -isystem wit

[2016-05-10 23:56] Earnestly commented on #797
@tmmcguire Good find; thanks to your change the build completes successfully here too, along with both test phases passing.

[2016-05-11 08:19] #813 closed

[2016-05-11 13:46] SeanTAllen commented on #812
@cquinn do you think that an addition to Tutorial about why builtin exists makes sense? It seems out of scope to me, perhaps more of an FAQ thing.

[2016-05-11 16:19] tmmcguire commented on #797
A question: is anyone cross-compiling Pony? *I think* that might be the only way this change would break anything. From the gcc docs:

[code]

The assumption I'm making here is that the Makefile is using `-isystem` to favor the headers that LLVM uses for the *target* architecture while preventing the *host's* headers from confusing the issue. But I don't know enough about LLVM to know what I'm tal

[2016-05-11 16:49] SeanTAllen commented on #797
Yes. We cross compile for RPi from AMD64.

[2016-05-11 19:38] SeanTAllen commented on #816
@dipinhora is looking into.

@pdtwonotes can you add a note to README.md for this?

[2016-05-11 19:45] sylvanc commented on #807
We discussed this on the sync call, and the consensus was that treating a type parameter in the same way as a type alias (as @jemc said "a localised type alias") makes sense.

[2016-05-11 19:51] SeanTAllen commented on #806
Add TCPConnectionNotify event for when writable state changes on the connection.

Single method, include Bool for state.

For Unix types we can do something like:

Fire immediately when we go writable == false
Wait til pending queue is empty before firing event for writable again.
See TCPConnection.pony around line 354, for general area this occurs.

Windows needs more investigation for how this m

[2016-05-11 19:53] sylvanc commented on #806
I think we also need a behaviour on TCPConnection to tell it to stop/restart reading from the socket.

[2016-05-11 19:57] SeanTAllen commented on #802
via @sylvanc stdfd.c code should probably be moved out of the runtime to pony userland.

[2016-05-11 19:58] SeanTAllen commented on #802
via @jemc this functionality should be moved created as an option to turn on and off requiring ambient authority to change the TTY.

[2016-05-11 20:00] jemc commented on #802
That is, it makes sense to require an authority token primitive derived from `AmbientAuth` (see `NetAuth` token for an example of this).

[2016-05-11 20:04] SeanTAllen commented on #797
Call is for someone to pick this up and change from isystem to i

[2016-05-11 20:06] sylvanc commented on #796
I think this sounds good, but can we use:

[code]

That's more in keeping with things like `pony_alloc` and `pony_alloc_size`.

@Praetonus, are you up for implementing this?

[2016-05-11 20:36] jemc commented on #806
Going to assign myself to this one.

[2016-05-11 21:20] pdtwonotes commented on #816
Pull request submitted for additional README words for building on MIPS and ARM

[2016-05-12 00:34] SeanTAllen commented on #797
Sadly #819 didn't work out and the build blew up because of it, perhaps we might not have an easy way out on this.

[2016-05-12 09:10] Praetonus commented on #796
I agree with that, it's best to keep things consistent.

@sylvanc I'll take it.

[2016-05-12 10:02] #675 closed

[2016-05-12 10:02] sylvanc commented on #796
Great, thanks!

[2016-05-12 10:59] #796 closed

[2016-05-12 13:53] jkleiser opened #822 "syntax error: unterminated while loop"
I came across this slightly confusing case the other day. I forgot a `let` or `var` after an if-then-end block and got this message:
syntax error: unterminated while loop
Here is a case where it happens:

[code]

PS: Now I see that the if-then-end block plays no part. If I delete it, I still get that message.

[2016-05-12 19:53] tmmcguire commented on #797
Yep, that wasn't pretty.

I've filed bugs with GCC and Arch Linux (more or less for heck of it), since I suspect this is an upstream problem.

* [Arch Bug 49313](https://bugs.archlinux.org/task/49313)

* [GCC Bug 71090](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=71090)

Let's see which one gets me yelled at first.

[2016-05-12 20:34] jemc commented on #797
It was a close finish, but as might be expected, Arch surpassed in both the speed and the snide-ness of the response :wink:

[2016-05-12 20:46] tmmcguire commented on #797
I dunno; the GCC response gets extra points for pointing to *some* unspecified Mozilla bug.

[2016-05-12 23:30] Scimmia22 commented on #797
You call it snide, I call it common sense. If something doesn't work when you do something dumb, don't do something dumb.

[2016-05-12 23:41] jemc commented on #797
This is the kind of dismissive attitude that I was calling snide.  I don't see any attempt to engage with the OP, whether to better understand their issue or to help them better understand why their issue is or is not valid.

You're absolutely free to have this attitude (especially on your own issue tracker).  But I'm also free to call it "snide", and I do so because I see it as counterproductive

[2016-05-12 23:52] Earnestly commented on #797
@jemc Don't fret, this is just how Scimmia is.  They're respondible for bug wrangling but not development or packaging, which brings me to my next point: it's somewhat unclear why the issue was closed as this appears to be a genuine regression in GCC 6.1.1 unless `-isystem` working prior to 6.1.1 was dumb luck.

Using `-isystem` is not "dumb", it's used throughout toolchain bootstrapping (at least

[2016-05-13 00:25] Scimmia22 commented on #797
Nobody said that you can't use -isystem, just that you can't use it this way. #include_next depends on things being in a certain order, and you're screwing with that order. That this worked previously was, in fact, dumb luck as there wasn't multiple versions of math.h before.

The Arch report was closed for the same reason the GCC report was closed - this is expected behavior. I could have assigne

[2016-05-13 00:52] #797 closed

[2016-05-13 00:57] jemc commented on #797
@Scimmia22 - Thank you for providing some constructive, explanatory thoughts about the ticket and a related reference for further context.  Your extra effort to engage is appreciated.

[2016-05-13 02:58] aturley opened #826 "using assert_array_eq with a machine word type doesn't work"
# System
Mac OS X 10.11.4
ponyc version 0.2.1-880-ge12dd53

# Summary

If try to do something like `h.assert_array_eq[U8]([as U8: 0x0B, 0x0E, 0x0E, 0x0F], [as U8: 0x0B, 0x0E, 0x0E, 0x0F])` the compiler fails an assertion.

# Expected Behavior

Using `assert_array_eq[U8]` in a test lets me compare to arrays of U8 values.

# Actual Behavior

When I compile my code I get this:

[code]
Writing build/a

[2016-05-13 03:03] jemc commented on #826
I edited formatting in the OP to make the code fences render correctly.

[2016-05-13 15:50] srdjanstipic opened #828 "Invalid lambda return type crashes the compiler"
The following program is incorrect:

[code]

and ponyc gives a correct error message:

[code]

Simmilar incorrect program:

[code]

crashes the compiler:

[code]
Pony version:

[code]

[2016-05-13 16:13] SeanTAllen commented on #828
thanks for the report @srdjanstipic

[2016-05-13 22:58] cquinn commented on #812
Yeah, it doesn't look like there is a nice place to mention it in the tutorial, as the for-loop there doesn't use Range. I think an FAQ is a good place to describe the rules of what goes into builtin.

[2016-05-13 23:10] aturley commented on #812
Would it make sense to mention this in the package doc for builtin?

[2016-05-13 23:43] jemc commented on #812
@aturley - yes, explaining the scope of what belongs in `builtin` is a great candidate for the module docs of `builtin`.

Again, here is a quick rundown by @andymcn in this ticket description for reference: #286

[2016-05-14 21:59] willemneal opened #829 "Error installing on Fedora 23"
After installing LLVM from the distro, I discovered that install image doesn't come with gcc-c++ preinstalled and I got an error when compiling.  My current issue is the following:

`Linking libponyrt-pic
gtest_main.cc
gtest-all.cc
Linking libgtest
main.c
Linking ponyc
/usr/bin/ld: cannot find -lz
collect2: error: ld returned 1 exit status
Makefile:455: recipe for target 'build/release/ponyc' fail

[2016-05-14 22:09] SeanTAllen commented on #829
Per README:

`You may need to install zlib, ncurses, pcre2, and ssl `

In this case, that error appears to be that zlib isn't installed.

[2016-05-14 22:10] SeanTAllen commented on #829
@willemneal once you figure out exactly what you have to install from base for Fedora, can you issue a PR against the README w/ Fedora specific instructions (yum commands and what not)

[2016-05-14 22:21] SeanTAllen commented on #812
This already exists in the `builtin` package:

[code]

I think I might have been the one who added that a while back.

@cquinn do you think anything else is needed?

[2016-05-14 22:21] #829 closed

[2016-05-14 22:25] willemneal commented on #829
I indeed didn't have pcre2 installed, the first two are preinstalled and it couldn't find ssl, openssl is already installed though.

I am still, however, getting the same error.

[2016-05-14 23:33] SeanTAllen commented on #829
So zlib is installed? The error is that ld can't find it.

Where is zlib installed?
What's it called?
Is the path to it in your linker path?

[2016-05-14 23:34] SeanTAllen commented on #829
@willemneal you could also consider using the docker container. that might be easier for initially getting started.

[2016-05-15 02:13] MrMormon opened #831 "Links in stdlib docs (gh-pages branch) are folders, not files"
http://www.ponylang.org/ponyc/ has no problem redirecting eg. http://www.ponylang.org/ponyc/files--index/ to http://www.ponylang.org/ponyc/files--index/index.html, but a search and replace is needed for offline use.

[2016-05-15 12:08] SeanTAllen commented on #831
For non hosted docs, it is advised that you build yourself. You'll need mkdocs installed:

from your pony source directory:

[code]

[2016-05-15 12:08] #831 closed

[2016-05-15 13:53] MrMormon opened #832 "Segfault building packages/stdlib docs"
The debug and release builds of ponyc (master, LLVM 3.8, Linux) print the same thing:
`build/debug/ponyc packages/stdlib --docs`
[code]
I'm guessing this happens in a C library?

[2016-05-15 13:53] MrMormon commented on #831
All right. [A related issue](https://github.com/ponylang/ponyc/issues/832).

[2016-05-15 14:40] SeanTAllen commented on #832
* Which linux distribution?
* How was llvm installed?
* Does it happen with release build?

Please run

``lldb --build/debug/ponyc packages/stdlib --docs``

once lldb starts up.

you want to do

`run`

and then when you hit the error

`bt`

and let us know what you get.

[2016-05-15 14:41] SeanTAllen commented on #832
Also are you using the debug version of LLVM 3.8? It has issues and shouldn't be used.

[2016-05-15 14:57] willemneal commented on #829
Hey @SeanTAllen thanks for the help. I got it to work!  All I needed was `zlib-devel`.  I have kept notes and will update the READme soon.

[2016-05-15 15:08] MrMormon commented on #832
Sorry! I [should've used](http://tutorial.ponylang.org/appendices/compiler-args.html) `build/{release,debug}/ponyc --debug packages/stdlib --docs`.

I had missing dependencies having nothing to do with LLVM. Now mkdocs and everything work (Fedora 24).

[2016-05-15 15:08] #832 closed

[2016-05-15 15:14] SeanTAllen commented on #829
Awesome. Thanks @willemneal.

[2016-05-15 15:14] SeanTAllen commented on #832
That's the best kind of issue.

[2016-05-16 00:41] willemneal opened #835 "Parallel Quicksort"
Hey everybody,

I have an algorithm in mind and would like to describe it as best I could to get your feedback on how to get started.

The algorithm works by spiting up an array into bins.  The bins are split among the number of actors. So it would look like

`|0|1|2|0|1|2|0|1|2|0|1|2|`

A single pivot is used.  This organization of bins means that each Actor will find the pivot in a different bin

[2016-05-16 02:25] SeanTAllen commented on #835
Hi @willemneal.

The proper forum for this would be the user mailing list.

https://pony.groups.io/g/user

[2016-05-16 02:25] #835 closed

[2016-05-16 14:50] jemc commented on #835
@SeanTAllen - If we're not going to field general questions in issue tickets, it might be worth clarifying this [in the README](https://github.com/ponylang/ponyc/blob/master/README.md#getting-help), where I think the current format doesn't do a good job of distinguishing what kinds of "getting help" are appropriate in each forum.

[2016-05-16 16:12] SeanTAllen commented on #835
@jemc i thought that was gone. I could have sworn I removed that. But apparently I didn't.

[2016-05-16 21:19] SeanTAllen opened #837 "Memory Leak"
This issue is a public opening up of a memory leak I've been tracking for a while and recently came up with a minimal case for and started discussing with @sylvanc.

[code]

You can use a smaller Array in `apply` and it will grow more slowly. The large array guarantees that it grows very quickly. Note the bug appears from my testing to only occur when passing data between actors.

[2016-05-16 21:26] SeanTAllen opened #838 "Seqfault on multiple actor data pass w expect"
This is a minimal use case extracted from our code base. Note that this bug does not occur if you aren't using the `expect()` method on `TCPConnection`.

[code]

Note that there are 2 ways to fix this bug, both of which are weird. If you change `be received(msg: ByteSeq, at: U64)`  on `Store` to be a `Array[U8] iso` instead of a `ByteSeq`, there will be no more seqgault.

OR

You can change the `b

[2016-05-16 21:42] jemc commented on #837
I think @sylvanc recently (in the last few months) made some optimizations for sending large `val` messages - seems like this could be related to the special treatment that `val`s now get in the memory management code (I don't personally know - I haven't really examined any of this code yet myself).

@SeanTAllen - If `NumberReceiver.foo` takes an `iso` instead of a `val` parameter, does the memory

[2016-05-16 22:02] SeanTAllen commented on #837
@jemc yes and no. it still leaks memory but at a much slower rate.

It went from 1.8 to 2.5 to 3.8 gigs of memory used and then held steady instead of continuing to climb rapidly.

[2016-05-16 22:32] SeanTAllen commented on #837
Just to be clear though. The difference between val and iso is huge and yes, that probably plays a large part.

[2016-05-17 16:00] willemneal opened #841 "Compile Error when trying to update Array"
Here is my code:

[code]

I get the following compile error:

[code]

I'm sure it is a reference issue, but am confused why it's a partial.

Thanks in advance!!
Willem

[2016-05-17 16:12] Theodus commented on #841
The constructor is partial because an error could be raised if the index is out of bounds. The explanation is shown in the [docs](http://www.ponylang.org/ponyc/builtin-Array/#apply).

[2016-05-17 16:12] jemc commented on #841
@willemneal - Pony requires you to explicitly handle any `error` that might be raised in your code.  So, you either have to surround the relevant code with a `try` block to catch the error (and an optional `else` block to take an action in case of failure), or you have to mark the entire function as a partial function with a `?`.  Here, partial function just means a function that might raise an `e

[2016-05-17 17:05] willemneal commented on #841
Thank you both for the replies.  That was exactly my problem and I learned something!

[2016-05-17 17:21] #841 closed

[2016-05-18 10:45] #456 closed

[2016-05-18 10:45] SeanTAllen commented on #380
Recent merge of WriteBuffer class addresses this.

[2016-05-18 10:45] #380 closed

[2016-05-18 19:32] SeanTAllen commented on #826
This passes for @sylvanc @aturley can you come up with a minimal case that we can use to reproduce?

[2016-05-18 21:39] georgemarrows commented on #808
@russel Is this the same issue as #568?

[2016-05-19 07:46] russel commented on #808
@georgemarrows At a quick glance (I can't investigate this properly till the weekend) they certainly seem highly related even if not the same problem. If I don't re-answer the question by Sunday afternoon, hassle me.

[2016-05-19 15:32] SeanTAllen opened #845 "Union type method call strictness"
This is an interesting bug I discovered:

compiles:

`| let x: (Bool | F64 | I64) => x.string()`

doesn't compile:

`| let x: (F64 | I64) => x.string()`

you get many errors along the lines of

[code]

[2016-05-19 16:14] jemc commented on #606
I don't think this is necessarily a dup of #318.

[2016-05-19 16:16] jemc commented on #845
I think this is a dup of #606, which was closed as a dup of #318, but I don't think it necessarily is.

I think the intention of the original stringable interface was to make this work, but pretty sure that compatibility was broken by e0ecfc15048b00e19e5c7a179f44f40f7e3d1c1c.

[2016-05-19 16:24] aturley commented on #826
Seems to work for me now with the following test case:

[code]

Closing.

[2016-05-19 16:24] #826 closed

[2016-05-19 21:09] malthe commented on #290
I think ``implements`` and ``extends`` work better than ``is`` in the following two situations:

1. a class *implements* one or more interfaces;
2. an interface *extends* one or more interfaces.
[code]

[2016-05-20 10:52] jonas-l opened #849 ""Error: internal failure not reported" when one of tuple's element type is union type"
Compiling
[code]
reports `Error: internal failure not reported` (`ponyc` v0.2.1-894-g91e2ad7).

If tuple contains only one element of union type, then it compiles fine.

Latest version of `ponyc` I could find which compiles successfully is 149a97d. Subsequent revisions break the `ponyc` itself.

I can reproduce this issue on OS X 10.10.5 and Ubuntu 14.04.

[2016-05-20 11:24] SeanTAllen commented on #849
This however works:

[code]

as does

[code]

or

[code]

this however does not:

[code]

It appears that returning the `U16` is an issue.

This error occurs with U16, U32, U64, F64,  F32, I32 etc

The error was introduced by commit 071db1051b01b02a1224867c5bdbae3983634231 that @sylvanc made on March 15. "assign function results as tuples if the result type is known to be a tuple". Unfortunately t

[2016-05-20 11:52] sylvanc commented on #849
Thanks, for both the report and the diagnosis! Fixed in PR #850.

[2016-05-20 12:40] #849 closed

[2016-05-20 12:51] jonas-l commented on #849
Thanks for a fast fix.

[2016-05-20 19:34] pdtwonotes opened #852 "ponyc compile error on ARM"
This used to work, so it is a recent change.  Building ponyc on armv7 with the command:
[code]
Gets this error on the gentype module:
[code]
Compilation works on x86_64 so I am guessing this is a difference in the meaning of the default sizes, and maybe tigher checking of conversion warnings.

[2016-05-20 22:56] sylvanc commented on #852
PR #853

[2016-05-20 23:15] #852 closed

[2016-05-20 23:50] mdlemay opened #854 "Incorrect vectorized floating point computation"
The following program gives me an unexpected result.
[code]
I expected it to print:
[code]
but it actually prints:
[code]
I looked at the IR and noticed that the compiler vectorizes some of the floating-point computations in f and g.

Here's the info about my environment:
OS: Ubuntu 15.10 64-bit
CPU: Intel Core i7-4770R
Pony version: 0.2.1 (pulled latest from Docker Hub on May 20, 2016)

[2016-05-21 00:07] jemc commented on #854
Thanks for the report.

With `ponyc` f7f288c72e4671b3fe15e390c549cab9e9fee1af (latest at the time of this comment), I *can* reproduce this (on x86-64 Linux with LLVM 3.6.1).

However, that pony program prints the expected output when you run `ponyc` with `--debug`, so it appears to be an optimization problem.

[2016-05-21 12:56] SeanTAllen commented on #812
Given lack of additional conversation on this topic, I'm going to go with "the existing documentation is enough" and closing the issue for now.

[2016-05-21 12:56] #812 closed

[2016-05-21 16:14] nlalevee opened #856 "Segfault on compilation of an alias of a function signature"
This simple line of code:
[code]

is generating this error:
[code]

I am using the master of Pony, I am on MacOS, LLVM 3.7.1.

[2016-05-21 16:28] #760 closed

[2016-05-21 16:33] SeanTAllen opened #857 "Lexer escape errors aren't reported til very late in the process"
`lexer.c` has an `escape` function that is used for handling escaping inside on character and string literals. At the time of handling if an invalid escape is found, we don't immediately handle. Comments at both call sites make clear that this handling is intentional. However, after talking with @sylvanc, he agrees that the late stage we currently get the error reporting is indicative of a bug som

[2016-05-21 16:38] SeanTAllen commented on #856
Can confirm on OSX, with LLVM 3.8

[2016-05-21 16:48] sylvanc commented on #854
After much spelunking, the problem is that the LLVM BBVectorize pass is rather buggy. Also, we were using both BBVectorize and SLPVectorize, which was probably wrong. Here's a summary of LLVM vectorisation:

https://archive.fosdem.org/2014/schedule/event/llvmautovec/attachments/audio/321/export/events/attachments/llvmautovec/audio/321/AutoVectorizationLLVM.pdf

Fixed in PR #858.

[2016-05-21 18:33] SeanTAllen commented on #570
@georgemarrows is this finished now? should I close this?

[2016-05-21 18:35] #854 closed

[2016-05-21 18:44] SeanTAllen commented on #434
we are working on nightlies for everything and hopefully this should be resolved in the not so horribly distant future (but also not so immediate future)

[2016-05-21 18:50] SeanTAllen commented on #350
Closing this as work is underway and we are soon going to be moving tickets like this over to our RFC system and given that work on distributed Pony is underway, doing an RFC seems like time that could be better spent on other things.

[2016-05-21 18:50] #350 closed

[2016-05-21 18:53] SeanTAllen commented on #347
@sylvanc @jemc does #806 that we discussed the other day and Joe assigned himself to cover this?

[2016-05-21 18:59] SeanTAllen commented on #744
@jemc would this case be covered by auto-recover?

[2016-05-21 19:52] jemc commented on #347
@SeanTAllen - good point.  I totally forgot about this earlier ticket.  I'm going to close this one in favor of #806.

[2016-05-21 19:52] #347 closed

[2016-05-21 19:53] jemc commented on #744
No, I think this counts as a separate enhancement.

[2016-05-22 01:37] MrMormon commented on #743
How about from the home page:

[2016-05-22 01:58] SeanTAllen commented on #743
Updating

[2016-05-22 04:46] cquinn commented on #812
That's fine. Sorry I didn't reply earlier.

[2016-05-22 07:30] georgemarrows commented on #570
hi @SeanTAllen. The coverage isn't everything Andy suggested, but it's pretty good. Writing the tests didn't throw up any significant issues, so I think the impl is solid.

I'm not intending to do any more on this personally. I suggest closing this issue and adding more tests on demand.

Areas originally identified by Andy that don't yet have tests. There are doubtless other cases too.
- passing a

[2016-05-22 08:00] #857 closed

[2016-05-22 08:15] #856 closed

[2016-05-22 08:17] sylvanc commented on #570
Great, thanks @georgemarrows 1

[2016-05-22 08:17] #570 closed

[2016-05-22 11:38] SeanTAllen commented on #570
Thanks @georgemarrows.

[2016-05-22 11:46] Praetonus opened #862 "The compiler is too strict when checking consumed variables in try-else blocks"
Currently, a consumed variable in a `try` block can't be consumed in the associated `else` block, even if the variable isn't consumed in the erroring path of the `try` block. For example:

[code]

If we enter the `else` here, `env` wasn't consumed in the `try`, but the compiler says we can't use a consumed variable.

The compiler should find the last erroring operation in a `try` and ignore anythi

[2016-05-22 11:51] SeanTAllen commented on #862
Thanks for the report @Praetonus
This is a known issue and something that is remarkably hard to get right. There are a few issues in this general family.

The "simple" solution is:

[code]

but that might not work for all cases.

[2016-05-22 12:45] Praetonus opened #863 "Side-effect ordering in function call expressions"
Expressions for arguments in function calls seem to be evaluated before the expression for the function object itself. This behavior produces unexpected results when combined with throwing expressions. This is demonstrated by the following program, printing 42 where 0 would IMHO be more coherent.

[code]

[2016-05-22 19:16] jemc commented on #863
Not really related to the question at hand, but note that the signature for the `foo` function should be partial:
[code]

[2016-05-22 19:33] Praetonus commented on #863
@jemc: Yes, probably copy/pasting shenanigans.

[2016-05-22 19:35] jemc commented on #863
I was confused by the description in this PR at first.

In my opinion the real question is not about when argument expressions should be evaluated compared to the method call - instead, the question is about when chained method calls (and consequently, their argument expressions) should be evaluated compared to their precursors in the chain.

That said, I agree with @Praetonus about what is most r

[2016-05-22 22:48] Praetonus commented on #863
This isn't limited to chained method calls. The following program has the same behavior.

[code]

[2016-05-23 00:35] jemc commented on #863
Sure, maybe my choice of words is imprecise, but I'd definitely describe your second example as being "chained" in the same way.  I was trying to explain that your initial language confused me when you used the term "arguments in function calls seem to be evaluated before the expression for the function object itself" - I was thrown off my the term "function object" here - perhaps "function receiv

[2016-05-23 08:56] Praetonus commented on #863
@jemc: I agree, "receiver" is definitely a better term here.

By looking at the compiler code (`expr/gencall.c`), a comment on the relevant part says this:

I guess this is talking about code like this:

[code]

IMHO this should be a compile error. I don't think this is a sane thing to do.

[2016-05-24 11:58] #828 closed

[2016-05-24 11:59] srdjanstipic commented on #828
@SeanTAllen I have closed this issue.
Should you add the reference to the PR that solved the bug?

[2016-05-24 13:15] SeanTAllen commented on #828
This commit was closed by #851

[2016-05-24 13:35] SeanTAllen opened #870 "Improve "type inference on field" compiler error"
Currently when you try to use type inference on a field (which isn't allowed) you get the message:

"syntax error: expected : after NAME OF VARIABLE"

this could be much more clear such as

"syntax error: Fields must declare their type"

[2016-05-24 14:23] srdjanstipic commented on #828
I see. :)

[2016-05-24 14:41] MrMormon opened #872 "itertools-Filter docs have $29$15 instead of a type"
From https://github.com/ponylang/ponyc/blob/gh-pages/itertools-Filter/index.html -
[code]
is rendered as
[code]
(http://www.ponylang.org/ponyc/itertools-Filter/)

[2016-05-24 19:18] SeanTAllen commented on #872
Yeah, its an anonymous function so it has an autogenerated name. Not sure what is best to do in that situation.

[2016-05-24 19:24] dipinhora commented on #816
I haven't had a chance to dig into this to confirm that the fix is in the Ubuntu repos but the following GCC bug report notes that this was a GCC bug that has been resolved:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=70132

[2016-05-24 19:52] jemc commented on #872
For lambdatypes it should be possible to construct a representation that would be valid Pony lambdatype syntax, to display in the docs.  Currently we do something like this in error messages, but the error messages aren't valid lambdatype syntax and they leave out the receiver capability.  That's a separate issue, but the two could be addressed at the same time by writing some logic to construct t

[2016-05-25 09:38] jonas-l opened #874 "Can't lookup field in a union type even when both a name and a type match"
When trying to access field in the union type:

[code]

compiler complains:

[code]

Fields have the same name and type so it would be great if compiler could look the field up. Method with the same name and return type works just fine.

Ponyc v0.2.1-898-g120ba47, Ubuntu 14.04

[2016-05-25 10:02] sylvanc commented on #874
Use an accessor method.

Methods go in the vtable, so that method access on a union type is resolved with dynamic dispatch. Fields on different types can have different binary offsets even if they have the same name, for example:

[code]

Here, should the compiler look at the position of `f` in `Foo` or the position of `f` in `Bar`? Both would be wrong. The compiler would have to generate a new fu

[2016-05-25 10:03] #874 closed

[2016-05-25 18:53] shepheb opened #876 "Matching against type only is awkward"
I recently had cause to `match` against a non-primitive type. I didn't need the value, I just needed to confirm the type was one of the possibilities, and not another.

I tried

[code]

but that fails with `not enough arguments` because it's trying to construct a value with `TypeA()` and compare them.

I tried

[code]

which doesn't parse. Neither does

[code]

so I was finally forced to create a

[2016-05-25 18:57] jemc commented on #876
I'd agree that allowing for `_` here probably makes sense.

[2016-05-25 19:04] Theodus commented on #876
I agree. I have encountered this situation a couple times and always found it odd that the underscore could not serve as a blank identifier.

[2016-05-25 19:40] SeanTAllen commented on #606
Reopening.

[2016-05-25 19:48] jemc commented on #606
I've agreed to do an RFC taking a look at a different approach to this.

[2016-05-25 19:51] SeanTAllen commented on #863
@sylvanc is going to take a look at this. He thinks the compiler is doing the right thing in the typechecker, wrong thing in the code checker.

[2016-05-25 19:56] SeanTAllen commented on #872
ast_nice_name perhaps

[2016-05-25 19:57] jemc commented on #872
The representation used in error messages is `ast_nice_name`, though I'd argue this should be spruced up to use real pony lambdatype syntax to represent lambdatypes.

[2016-05-25 20:36] SeanTAllen commented on #876
We implemented an RFC process today see:https://github.com/ponylang/rfcs.
This feels like a good candidate for an RFC. @shepheb would you be up for creating an RFC for this?

[2016-05-25 20:47] jemc commented on #876
I'm not sure this is worth an RFC since we're not talking about defining and refining some complex API or language feature - it's more of a "yes, we want to support this" or "no, we don't want to support this" kind of thing.

[2016-05-25 21:04] SeanTAllen commented on #876
@jemc i think this falls under:

"Any semantic or syntactic change to the language that is not a bugfix."

[2016-05-26 00:34] jemc commented on #876
Okay, we may need to revise that language then (unless we want to consider this as a bugfix, which I might be able to be convinced of).

I think the RFC process is too heavyweight for a change like this - for example, I don't think we need a waiting period especially the waiting period for comments on what is essentially a yes or no answer.

@sylvanc - do you have any thoughts on this?

[2016-05-26 02:03] jemc opened #879 "Compiler crash when handling object literal with uninitialized fields."
This was encountered by @shepheb this morning, who mentioned it on IRC.

The following Pony program hits an assertion failure in the compiler:
[code]

The expected behaviour is that it would print an compiler error about the `x` field being uninitialized.

[2016-05-26 02:15] jemc commented on #845
I think we discussed and @sylvanc decided that there are two issues at play here, one of them being a dup of #606 and the other being a dup of #318.

As such, I'm going to close this ticket and we can track progress on the other two tickets.  If there is another issue at play here other than these two, we should clarify and reopen or open a new ticket.

[2016-05-26 02:15] #845 closed

[2016-05-26 06:10] sylvanc commented on #876
I don't think we need an RFC for this. The `_` is intended as an identifier that is always valid to assign to, but never valid to read from, and in this case that's not happening. Thinking about it, I think I will recategorise this as a bug instead of an enhancement.

I suspect the right solution is to remove `TK_DONTCARE` from the parsing rules (simplifying the BNF), allow `_` as a valid `TK_ID`,

[2016-05-26 09:08] #879 closed

[2016-05-26 10:56] SeanTAllen commented on #876
@jemc I think an important part of the RFC process is it remove "yes/no from language maintainers". I think we need, via the RFC process, to open that up to the wider community. People could open ideas that are a very poor fit for Pony, however, if they have gone through the RFC process and language maintainers have added to drawbacks for the problem, we have an official document of why X won't be

[2016-05-26 11:08] sylvanc commented on #876
I agree that the BDFL model is not a good one. Discussing this more sounds good!

[2016-05-26 14:17] jemc commented on #876
@SeanTAllen - I think you make some really good points, and I do think we should discuss this more.

After thinking more about this, I wonder whether perhaps our mental model of categorizing things as "bug" or "enhancement" might be missing out on some subtleties that become more important in light of the RFC process.  For example, this ticket isn't quite a "bug" in the traditional sense, but more

[2016-05-26 14:32] SeanTAllen commented on #876
@jemc excellent point. let's talk this over more at the next sync meeting.

[2016-05-27 21:40] tmmcguire commented on #872
@jemc, I didn't touch any error messages, as far as I can tell, in my PR. I did add the pre-parameters reference capability to the generate nice name/type declaration. Is that what you had in mind?

[2016-05-27 21:59] jemc commented on #872
@tmmcguire - looks like you cleared up the main issues in the original ticket here.  I'll open another ticket about the error messages if it's still a problem.  Thanks for taking care of this in #888!

[2016-05-27 21:59] #872 closed

[2016-05-28 16:15] tmmcguire commented on #765
@MrMormon, I'm not actually stalking you, I'm just picking issues which I think I can find in the code.

[2016-05-28 17:50] SeanTAllen commented on #765
keep it up @tmmcguire

[2016-05-29 19:24] srdjanstipic opened #891 "Pony compiler craches while generating library"
This code:

[code]

crashes ponyc when creating library:

[code]

Pony version:
[code]

[2016-05-29 19:57] SeanTAllen commented on #891
What is the @ in the actor name?

[2016-05-29 20:18] srdjanstipic commented on #891
If I am correct, @ in the name of the actor suggest to the ponyc that we want to create the actor that is visible when creating c library.

[2016-05-29 21:59] #765 closed

[2016-05-30 10:46] malthe opened #893 "Prefer named methods over "apply""
The ``List`` and ``Map`` collection objects both use ``apply(...)`` to retrieve an item.

I think spelling it out is preferable here, i.e. ``get(...)``. Note that for ``Map`` we already have ``get_or_else(...)``.

The argument is two-fold:

1. It makes it clear at the call-site what is happening.
2. It encourages using "apply" only for function-like objects (which might be an anti-pattern in the f

[2016-05-30 12:55] Praetonus opened #894 "Should we change the default compiler build from debug to release?"
A debug build is a special case meant for project developers. Most users probably want an optimised version of the tools, so it should be the default behaviour in my opinion.

[2016-05-30 14:19] jkleiser commented on #893
I also think it would make it easier for a person learning to code Pony (like me) if there was a 'get' function for retrieving.

[2016-05-30 14:27] SeanTAllen commented on #893
@malthe are you suggesting adding `get` or are you suggesting removing `apply` and replacing with `get` ?

If it is the latter, then this should go through RFC process.

Re your arguments:

1. `map(key)` is in my mind, quite clear at the call site what is going on.
2. before you convince me with that argument, you'll need to explain why you consider that encouragement a good thing.

In general, th

[2016-05-30 14:31] jemc commented on #893
Yes, I think this would be an RFC candidate either way, since either is an API change that isn't a bugfix or a correction to an accidental API mistake - when these APIs were being designed, they were designed to use the `apply` and `update` sugar, since they look like element access operations in other languages.  For whatever it's worth, I'd like to keep it that way, but I can't stop you from fil

[2016-05-30 14:32] SeanTAllen commented on #894
In general, I think issues like this are better discussed at the sync meeting or on the pony+dev mailing list. That said, its open here, so I will discuss it here.

I'm inclined to leave as a debug build as it results in less work to get backtraces for bug reports which is still a somewhat common occurrence.  That said, this isn't a strongly held opinion. @jemc @sylvanc @aturley @jtfmumm @darach @

[2016-05-30 14:37] jemc commented on #894
I was about to say I was inclined to agree with @Praetonus, but after thinking more about it, I remembered that this is only relevant for those building from source.  Right now, basically everyone is building from source to use Pony because we haven't had a release in a long time, so I can see why it would be a problem, but it seems like only a temporary problem.

Soon, we'll have some nightly rel

[2016-05-30 18:06] Praetonus commented on #894
@jemc: That sounds right to me. I'll close the issue, unless somebody wants to discuss it more.

[2016-05-30 18:06] #894 closed

[2016-05-30 18:09] Theodus opened #895 "Possible optimization problem on Ubuntu 16.04"
compiling my project and running the produced binary results in the following:
`Illegal instruction (core dumped)`
but compiling with the --debug flag produces a binary without any issues.
I'm using Ubuntu 16.04 LTS (64 bit)

[2016-05-30 18:40] malthe commented on #893
Closing this and opening as RFC.

[2016-05-30 18:40] #893 closed

[2016-05-30 19:01] jemc commented on #895
This isn't really actionable unless we have a way to reproduce it (preferably a minimal case).  I would suggest trying to remove parts of your project to try to isolate the problematic section - the more minimal you can make the reproduction, the more motivated people will be to try to investigate and resolve it.

[2016-05-30 19:11] Theodus commented on #895
I'll see what I can do.

[2016-05-30 19:34] jemc opened #896 "MapIs with Pointer keys causes compiler crash."
Compiling the following Pony code gives the following assertion failure:
[code]
[code]

This came about when working on an actor that needs to manage a map with `AsioEventId`s as keys, where `AsioEventId` is defined as a `Pointer[AsioEvent] tag`.

[2016-05-30 19:46] malthe commented on #893
I added an RFC pull requests: https://github.com/ponylang/rfcs/pull/3.

@SeanTAllen, I think ``map(key)`` is problematic because unlike in mathematics, you are allowed to attempt getting a value for a missing key. It is a leaky abstraction if you will. Having ``map.get(key)`` is to my mind clearer.

In C++ you would first get an iterator with ``map.find(key)`` and then continue based on this inter

[2016-05-31 15:53] #724 closed

[2016-05-31 21:16] Theodus commented on #895
I'm closing this issue since I cannot reproduce the problem on an equivalent Docker container. It seems the problem was with my LLVM installation.

[2016-05-31 21:16] #895 closed

[2016-06-01 10:43] SeanTAllen commented on #891
This was closed by a PR

[2016-06-01 10:43] #891 closed

[2016-06-02 05:28] jemc commented on #837
Hm.  When I run this locally, I seem to memory seems to "plateau" and stabilize at a threshold - it doesn't grow indefinitely - maybe there is an OSX vs Linux difference?

[2016-06-02 10:52] SeanTAllen commented on #837
Interesting. Where does it "plateau"?

[2016-06-02 11:32] SeanTAllen commented on #837
Hmmm... I ran this with something that has minimal memory usage in the items passed in memory usage and after 10 minutes, it stabilized on OSX.

[2016-06-02 13:08] maxim-belkin opened #900 "Unable to compile ponyc with llvm3.8"
Hi,
I'm trying to compile `ponyc` with `llvm 3.8.0` and I get the following [errors](https://gist.github.com/4eb8c03b559b69e5e4d7f6c6689b123c). Does anyone instantly see the problem there?

More details:
I'm actually updating Homebrew `llvm` formula to version 3.8 and, as a result, `ponyc` has to be recompiled... There is a `llvm38` formula in `homebrew/versions` tap but compiling `ponyc` with tha

[2016-06-02 20:03] maxim-belkin commented on #900
Here is a diff to fix `genopt`:
[code]

[2016-06-02 20:24] maxim-belkin commented on #900
Please disregard this message. I've been trying to build `ponyc 0.2.1` instead of the development version.

[2016-06-02 20:24] #900 closed

[2016-06-03 13:57] lisael opened #901 "Segfault in ponyc on recursive type alias if one of the type is a Map"
I know recursive type are not allowed, but it should not segfault.

[code]
[code]
I found it happens only if there's a `Map` in the complex type.

Here is my setup (I'm not sure how to output the exact version of llvm).

[code]
[code]

[2016-06-03 17:47] jtfmumm opened #902 "Serializing refs"
The way the serialise package is currently written, you can serialize any `box`.  That seems a little weird to me, since it means you can share a `ref`.  Of course, it will be treated as an `iso^` on the other side and so there shouldn't be memory conflicts.  But I'm wondering if there is a reason to limit serializing to `val` and `iso^` only.

[2016-06-03 18:54] jemc commented on #902
If this was closed because you came upon new information or a different perspective, please share what you found so that others who may have the same question can understand.

[2016-06-03 19:34] jtfmumm opened #903 "Unhelpful compiler message on match error"
If you try to match on the return value of a method and forget to call the method, you get the following unhelpful compiler message:

`Assertion failed: (0), function is_x_match_nominal, file src/libponyc/type/matchtype.c, line 381.`

There's no indication of where you went wrong in your code.

The following code is an illustration:

[code]

[2016-06-03 19:37] jtfmumm commented on #902
Good point.  I'll leave it open to hear other opinions.  Talking to @SeanTAllen, it's true that serializing is a form of copying.  My concern was that even given this, it feels weird to send a `ref` across the wire, even though since you're actually copying, it's still safe.

[2016-06-03 19:38] jtfmumm commented on #902
I closed it because I wasn't sure I had a point.

[2016-06-03 20:31] SeanTAllen commented on #902
@jtfmumm i dont think you have a point ;)

[2016-06-03 20:32] SeanTAllen commented on #837
I found the source of this. Its pathological memory fragmentation that results on my machine in a never end string of allocations.

[2016-06-03 20:55] #902 closed

[2016-06-03 20:55] jemc commented on #902
Thanks for the explanation - I wasn't asking you to re-open it, just to make the explanation public for others.

[2016-06-03 21:31] lisael commented on #901
I don't practice enough C (gdb, valgrind...) however I narrowed down the error using prints in
`src/libponyc/pass/names.c`

[code]
The tail of the output of a buggy run is
[code]
Looks like in `ast_id(*astp);` `*astp` is a dangling pointer.

[2016-06-03 21:53] lisael commented on #901
Using gdb:
[code]
0x8 is not a place for a token

[2016-06-04 01:37] #901 closed

[2016-06-04 05:31] jemc commented on #901
@lisael - Thanks for the report and for the initial round of debugging!

[2016-06-04 20:18] jemc opened #905 "Compiler messages for some operators still use old names."
The pony compiler complains when you try to use an operator keyword in the wrong context.  However, some operators whose names have changed from their original names still have error messages using the old name.

So far, these are the ones I've noticed, but there may be others:
- `identityof` => `digestof`
- `&` => `addressof`

Someone needs to track down the error message strings in the compiler

[2016-06-05 16:20] Perelandric opened #906 "Segmentation fault when 'new create' incorrectly written as 'fun create' in actor Main"
The following program incorrectly substitutes `fun` for `new`.

[code]

Tested on Linux.

[code]

Expected:
[code]

Received:
[code]
*EDIT:*

Generally seems to be a Seg fault when the required constructor is left out of `actor Main`.

[2016-06-05 21:56] SeanTAllen commented on #906
Can confirm.

[2016-06-05 23:35] jemc commented on #906
@Perelandric - Thanks for the great, easy-to-reproduce report and welcome to the community!

There were already some checks in place that enforce the right shape of `Main.create`, but not a check to verify that it is a `new` and not a `fun`.

This will be fixed by #907.

[2016-06-06 00:18] Perelandric commented on #906
@jemc: My pleasure, and thank you! Been watching this repo for months. Finally have a chance to jump in and give it a go. So far, so good!

[2016-06-07 04:51] jemc opened #913 "Arrays no longer grow by nearest power-of-two."
Until recently, when an `Array` needed to be "grown" to a larger buffer size, it would be expanded to the next highest power-of-two.  This tactic helped to amortize the cost of reallocation and copying the old buffer into the new.

[A recent commit](https://github.com/ponylang/ponyc/commit/8acbed8425e4a6d39abbde91132ca2c524b4cd6d#diff-e139d2c76ec80d19c404fe1ce8e7067dL77) (amidst other changes) cha

[2016-06-07 09:24] malthe commented on #913
This is also the case with ``String``.

[2016-06-08 11:21] SeanTAllen commented on #913
This was intentional on @sylvanc's part. I'll let him weigh in with reasoning.

[2016-06-08 11:22] #905 closed

[2016-06-08 11:23] #906 closed

[2016-06-08 12:56] lukecheeseman opened #918 "Generic type causes compiler to not return"
[code]

The above class definition causes the compiler to loop infinitely.

[2016-06-08 13:00] lukecheeseman opened #919 "Type parameters in type aliases aren't usable in lambdas"
[code]

The above example causes compilation to fail, reporting:
" can't find definition of 'A' "

[2016-06-09 04:21] jemc opened #922 "Appveyor builds are not running `make test`."
Our Windows CI is currently somewhat useless as it's only building `ponyc`, not running `make test` to test the compiler and standard library packages.  This means that PRs will pass Appveyor CI even if they are broken, which is not good.

I'm not sure where the Appveyor configuration is kept, but it needs to be fixed.

[2016-06-09 13:19] SeanTAllen opened #923 "Update from source Linux install instructions"
LLVM turned off the apt repo that we are advising people to use. Need a new recommended method for installing ponyc from source. Current idea is to use pre-built binaries from http://llvm.org/releases/download.html#3.8.0.

These need to be tested per distro.

[2016-06-09 13:31] SeanTAllen commented on #919
Is this legal? I'm not sure it is when defining a type.

@sylvanc? @jemc?

[2016-06-09 13:34] SeanTAllen commented on #918
Can confirm.

[2016-06-09 13:36] SeanTAllen commented on #913
Per sync call yesterday. After looking at performance change with #914. @sylvanc believes his reasoning for removing may have been a mistake that that we should investigate apply the same change to Array that @malthe did for String in #914. Then benchmark and see what the results are.

[2016-06-09 15:06] jemc commented on #919
Not sure if it's supposed to be legal, but it does seem *reasonable* to me.

[2016-06-09 17:07] Perelandric opened #925 "Partial function call in tuple with untyped literal causes unexpected error."
The following code is unable to see the partial function call in the `try`, when part of a tuple with an untyped numeric literal:
[code]

**Result:**

**Expected:**

---

Assigning the `try` result to a variable with a type produces the same error:
[code]
**Result:**

**Expected:**
Successful compilation because of explicit type `let x: (U8, U8)`

---

The expected error or success *(depending on

[2016-06-09 21:34] SeanTAllen commented on #919
It does? So what is this doing?

wouldn't that be

class or primitive not type?

I thought type was an alias, not a generic alias. I'm not sure what a generic alias would be. I'm confused by what it would mean.

@jemc or @lukecheeseman could you explain the idea to me and how it would know that [A] is supposed to be a generic and not a concrete type?

[2016-06-10 12:29] maun opened #927 "ponyc SIGSEV (Address boundary error) on OSX"
On latest stable OSX el capitan, Xcode 7.3.1 with command line tools. I installed ponyc via `homebrew --HEAD` and llvm38 by editing the formula.

Compiling the hello world program from the tutorial produces this error (fish shell):
[code]

[code]

Verbose or debug mode had the same result.

[2016-06-10 15:29] SeanTAllen commented on #927
can you create a debug version of the compiler.

run it in lldb and report back what the backtrace is that you get?

`make config=debug`
`lldb ponyc`
`> run`
`>  bt`

[2016-06-10 19:04] maun commented on #927
I get this:
[code]

[2016-06-10 19:11] SeanTAllen commented on #927
Are you running a debug version of the compiler? That looks like a release version.

[2016-06-10 19:19] maun commented on #927
In my brew file it says `config=debug`, is there a way i can confirm this?

[2016-06-10 20:08] maun commented on #927
Ok I recompiled without brew and now got a better stack trace:
[code]

`opt`seems to be null at this point.

[2016-06-10 20:13] maun commented on #927
Ok I had a typo in my hello world: If `create` is not  called `create` this crash occurs.

[2016-06-10 20:13] #927 closed

[2016-06-11 10:26] renatoathaydes commented on #247
It would be nice to be able to use existing tools for package management. I am a big fan of [Gradle](http://gradle.org) for that. With Gradle, dependencies can come pretty much from anywhere - local files, servers, [GitHub](https://github.com/layerhq/gradle-git-repo-plugin) etc... the hard part, resolving transitive dependencies and versions, is done by Gradle itself (you can choose different stra

[2016-06-11 10:31] lukecheeseman commented on #919
I believe these are generic aliases. For example, the following compiles:
[code]
I think the definition of A is used to decide whether the type is a generic or concrete type. Here the A type definition is in StringableArray[A: Stringable]

[2016-06-11 11:22] nlalevee commented on #247
Using an existing package management will probably be a nice quick win. But then it would make better sense to choose the tool which is the closer to the way Pony builds. One thing quite particular is that it builds everything form source. Since it is very new it doesn't have to be compatible to any existing packaging. Also some Pony project may need some native dependencies.

Actually behind Grad

[2016-06-11 11:39] renatoathaydes commented on #247
I understand your point of view, but I should mention Gradle supports native languages like C and C++ (see [Gradle native](https://docs.gradle.org/current/userguide/native_software.html) ) so it seems that supporting native libs is not a problem. Ivy is not nearly as approachable as Gradle in my opinion, and less powerful. Gradle can also support OSGi dependencies (in fact, I wrote [osgi-run](http

[2016-06-11 11:57] SeanTAllen commented on #247
It depends. Can those multiple versions co-exist in the same binary without shenanigans? Then yes. If the library does something to prevent that, then no.

[2016-06-11 12:00] SeanTAllen commented on #247
At this point, the way to get what you want in a package manager is to build it.

@jemc has said he is working on a package manager. he's seen this input but in the end, he gets to build what he wants.

At Sendence, we've been using and contributing to @jemc's simple stand-in 'pony-stable' tool that has been working quite well for us.

If someone was to do Pony support for gradle and could get eno

[2016-06-11 12:02] SeanTAllen commented on #919
Thanks @lukecheeseman. With a bit of sleep and a little prodding, this all makes much more sense to me now.

[2016-06-11 12:03] SeanTAllen commented on #919
@lukecheeseman for triage purposes i marked this as low priority as I think there are some ways to work around this (although they are slightly unpleasant). If this is a blocking issue for you or a significant hinderance, let me know and I can change the priority level.

[2016-06-11 12:22] nlalevee commented on #247
Note that that there are two things here: the dependency management and the build workflow. Ivy is just about dependency management, and Gradle is using it in its build workflow. So for instance Ivy is supporting OSGI in the sense that it understand the 'Import Package' primitives within a Manifest of a bundle and thus supports OBR repositories, and Gradle is supporting OSGi because it can build a

[2016-06-11 15:06] Perelandric opened #929 "Segmentation fault when 'as' operator is used with a lambda type."
The following program produces a seg fault:
[code]

**Expected:**

**Received:**

---

[code]

---

Building with `debug` produces:

[2016-06-11 15:13] renatoathaydes commented on #247
If you keep the format of the package file simple and generic enough, it may be possible to use different engines to actually fetch the dependencies.

Perhaps Pony, the language, should have a package file specification to allow users to declare the versions of the libraries that will be used and the full paths to fetching them (or just define repositories where the dependencies are). This would b

[2016-06-11 15:32] renatoathaydes commented on #247
One more suggestion: use `organisation` as part of the dependency coordinate (besides name and version). For github deps, that would just be the user under which the repo is located, for example.

This will avoid silly fights over popular project names, as we've seen in other languages, make it clear the origin of a project, and perhaps offer some protection against [typo squatting](http://incolum

[2016-06-11 16:33] Perelandric commented on #929
A workaround is to create a type alias.
[code]

[2016-06-11 16:51] nlalevee commented on #247
To make things even simpler, I'm advocating for only two kind of coordinates:
- the package name (and probably at some point a version), which would be the api coordinates: it would be in the `use` of the Pony sources.
- the location of the implementation of an api, which could be a github repository at a specific hash, or an url to download some packaged sources, or a local folder.

No need for a

[2016-06-12 12:45] renatoathaydes commented on #247
I've created a Gradle plugin for Pony.

It uses the same dependencies file format as pony-stable.

https://github.com/renatoathaydes/pony-gradle-plugin

Feedback welcome.

[2016-06-12 15:01] 0joshuaolson1 commented on #923
More distros have llvm 3.8 in their repositories by now than the download page provides for. Is the problem that older distros don't?

[2016-06-12 15:07] 0joshuaolson1 opened #931 "Combine ponyc and tutorial install instructions"
Here's a [diff](https://github.com/0joshuaolson1/ponyc/commit/86e417fee591109f3f9777f0ec7e5fd04403f7ff) between [ponyc's readme](https://github.com/ponylang/ponyc/blob/master/README.md#installation) and [tutorial/installation](https://github.com/ponylang/pony-tutorial/blob/master/getting-started/installation.md).

[2016-06-12 18:10] SeanTAllen commented on #931
It was previously decided to keep them separate which leaves it to me to keep them in sync which I do on a monthly basis.

[2016-06-12 18:10] #931 closed

[2016-06-12 18:12] SeanTAllen commented on #247
That's awesome @renatoathaydes.

[2016-06-12 18:40] 0joshuaolson1 commented on #931
Sorry, when I said combine I meant keep in sync.

[2016-06-12 20:58] SeanTAllen commented on #931
Yeah, that's my current miserable job that I do from time to time.

[2016-06-12 21:04] 0joshuaolson1 commented on #931
Bummer. You can't do it all. I'm happy to know it gets done, though. I'm writing a readme for a project of mine, and for now I'll just link to both.

[2016-06-12 22:03] SeanTAllen commented on #931
Eventually we need to have a single location for install instructions. That is true.

[2016-06-13 00:28] #929 closed

[2016-06-13 14:40] jpbempel opened #934 "empty docstring causes compiler crash"
Here the simplest snippet to reproduce the crash:

[code]

[2016-06-13 14:54] jemc commented on #934
@jpbempel - I can't reproduce.  Are you running with latest `ponyc` from the master branch?

If so, can you give more info on your system, LLVM version, etc?

[2016-06-13 15:08] jpbempel commented on #934
I have built the compiler from this commit: a4a6c1e665824431dd7ee38e090ec24c9dc3c462
on windows 7 with LLVM 3.7.1

[2016-06-13 15:11] jpbempel commented on #934
Here some more information about the crash on windows (sorry in french)

[code]

[2016-06-14 01:16] Cloven opened #935 "Type Inference on Lambdas may not be working"
Version: 0.2.1-942-gb7e1747 (osx; from github)

Repro case:

actor Main
  new create(env: Env) =>

    let l1 = lambda(x: U32, y: U32) => x + y end
    env.out.print(l1(5,6).string())

    let l2 = lambda(x: U32, y: U32) : U32 => x + y end
    env.out.print(l2(5,6).string())

Expected output:

11
11

Actual output:

None
11

Suspicion: ponyc's surmising a wrong type on L1 somehow, because the retu

[2016-06-14 02:24] Perelandric commented on #935
I thought this was the correct behavior. The examples I see in the docs where a value is returned all have an explicitly defined return type.

Being that a lambda is sugar for an object with a method, and the "methods" section of the tutorial states that the return type can be omitted if you're not going to return anything, this would seem correct.

[2016-06-14 02:46] Cloven commented on #935
That makes a certain sense coming from the implementation details, but then
I'd expect a lambda of no return value to error on assignment.

On Mon, Jun 13, 2016 at 7:24 PM, Perelandric <notifications@github.com>
wrote:

[2016-06-14 05:17] jemc commented on #935
Pony doesn't try to guess or infer a return type based on the last expression for any function or any lambda - if you have no explicit return type, `None` is used as the default.

Note that this does not mean the lambda has "no return value" - instead, it returns the primitive named `None`, [which happens to have a `string` method](https://github.com/ponylang/ponyc/blob/e992d202d551ec3d64d07ddd128

[2016-06-14 14:12] Perelandric commented on #923
Successfully built on Ubuntu 16.04 (64-bit). Should be able to test some more today.

[2016-06-14 16:49] Cloven commented on #935
I see, the error was in my intuition.  I expected 'fun derp(x: U32) => x + 5' to be type-inferred in the same way that a let of a typed fun is, and indeed it isn't.  Thanks for the pointers!

[2016-06-14 16:49] #935 closed

[2016-06-14 17:11] jemc commented on #935
Yeah, I can see why that would seem counterintuitive.  I think the idea is that functions are used for their side-effects (when impure) just as often as they are used to produce a return value, so having the return type default to `None` is reasonable and common for those that are used for side effects only.  Assignments, by contrast, are conceptually always for producing a specific value to be as

[2016-06-14 17:14] Cloven commented on #935
I feel a little weird about core language functionality returning None --
feels like null by another name.  Gonna have to mull that one over for a
while though.

On Tue, Jun 14, 2016 at 10:11 AM, Joe Eli McIlvain <notifications@github.com

[2016-06-14 17:20] jemc commented on #935
The difference is that `None` is really a primitive just like any other.  You could easily define `primitive MyNone` within the language, and there would be no substantial difference between it and the builtin `None`, other than the fact that they represent distinct types when doing subtype checks and distinct values when doing `is` comparisons.  So, in Pony `None` is not the absence of a value or