[2016-06-15 10:33] luowuzhe opened #937 "examples/httpserver collapse"
[code]

[2016-06-15 12:28] SeanTAllen commented on #934
@jpbempel

Can you create a debug version of the compiler. Try compiling your code via a debugger and report on the backtrace you get?

[2016-06-15 16:27] n3f4s opened #940 "Compilation error due to size_t -> uint64_t on 32bit Arch"
Hi,
I tried to compiled ponyc on Linux Manjaro (based on arch linux) (version 4.5.7) 32 bits but I've got an error :
[code]
I'm using gcc (g++) 6.1.1 to compile (and I tried with clang++ 3.8.0, same error).
Since I'm on a 32bit, size_t is smaller than uint64_t, hence the error.

[2016-06-15 16:42] SeanTAllen commented on #940
This was added in:

5637d26f66d9afca01671322f9e22b4af1f8919b

and is almost assuredly a bug. Thanks @n3f4s.

[2016-06-15 16:51] jemc commented on #940
@Praetonus, can you take a look at this at some point?

[2016-06-15 16:52] jemc commented on #940
It's also a bit of a shame that Travis CI doesn't offer 32-bit CI for us to test against...

[2016-06-15 17:01] SeanTAllen commented on #940
we have the ability to do it at Sendence but its manual at the moment which isn't much help.

[2016-06-15 18:00] SeanTAllen commented on #937
I haven't been able to reproduce this. Is this something you can easily reproduce?

[2016-06-15 19:22] luowuzhe commented on #937
@SeanTAllen
has been in the press f5 to refresh the browser will appear

[2016-06-15 19:54] SeanTAllen commented on #937
what platform are you running on? if on linux, which distro?

what version of pony?

what version of llvm?

[2016-06-15 20:15] luowuzhe commented on #937
linuxmint18
0.2.1-946-ge992d20
llvm-3.6

[2016-06-15 22:21] Praetonus commented on #940
It should be fixed in #941.

[2016-06-16 02:25] #940 closed

[2016-06-16 09:38] ryanai3 commented on #913
@SeanTAllen do we need a benchmark? It seems like a simple question of run-time complexity to me.
Geometric growth of array means amortized O(1) append-to-end.
Any constant growth makes it O(n).
IIRC java collections have 1.5x growth when the array isn't big enough.
Next power of 2 should be the same - there could be benchmarking there to determine the optimal multiplier but I don't think it'll ma

[2016-06-16 14:40] jemc commented on #913
To be clear, @sylvanc's original reasoning for removing the power-of-two growth was that something similar to this was already being handled by the runtime.  That is, `Pointer._realloc` ends up calling [`pony_heap_realloc`](https://github.com/ponylang/ponyc/issues/913#issuecomment-226437039) from the runtime, which is often able to reuse memory in some cases where the alloced chunk is big enough t

[2016-06-16 14:57] SeanTAllen opened #943 "int.addc issue"
This came in via a slightly different error reported in IRC. Also related to int.addc.

On OSX with LLVM 3.8, commit f573f95
[code]

results in

[code]

with debug and release versions of the compiler.

[2016-06-16 15:02] jemc commented on #943
I get the same result as @SeanTAllen with LLVM 3.8.0 on 64-bit linux.

[2016-06-16 15:05] SeanTAllen commented on #943
From IRC report, the error is apparently slightly different when running in VirtualBox but still traceable to `addc`.

[2016-06-16 15:09] Perelandric commented on #943
Reduced example:
[code]

[2016-06-16 15:14] Praetonus commented on #943
Compiling the generated IR with llc shows the problem:

[code]

The intrinsic must return a `{i8, i1}` tuple. This bug was probably introduced by the switch from `i1` to `i8` for Pony's `Bool`.

[2016-06-16 15:27] Praetonus commented on #943
Also, this is catched by passing the `--verify` flag to `ponyc`. I suggest we add this flag to CI builds.

[2016-06-16 16:07] sylvanc commented on #943
Nice work, @Praetonus. That's the problem, and that's exactly when it was introduced.

I think in `gencall.c:548` we need to generate the signature differently for intrinsics. Specifically, any `Bool` in an intrinsic parameter or return type must be converted to an `i1`. This is both for types and for actual values, which will be a bit fiddly.

[2016-06-16 16:48] lispmeister opened #945 "STDIN processing bug in process package"
# Nature of the bug

When sending data to STDIN of a forked process that is managed by the process-monitor
the pony process and it's forked child die.
# To reproduce on OSX
1. Clone https://github.com/lispmeister/ponyc.git
2. Switch to branch "jvm-io"
3. Build the ponyc compiler
4. Install or run just run the resulting ponyc compiler
5. compile "packages/process/jvm-io/jvm-test.pony"
6. Run the te

[2016-06-16 17:05] lispmeister commented on #945
@dipinhora suggested the following:
I believe it’s because you’re not buffering writes and the pipe buffer gets full… see `PIPE_BUF` section at http://man7.org/linux/man-pages/man7/pipe.7.html.. you likely need to handle writes the same way as reads with EAGAIN logic and retries...

[2016-06-16 17:15] jemc commented on #945
Note that other Pony "writer" actors are polling on readable events and buffering writes - like `TCPConnection` for example.  So yes, if `ProcessMonitor` is not doing this, it should be.

[2016-06-16 18:14] ryanai3 commented on #913
that makes a lot more sense, thanks @jemc!

[2016-06-16 18:24] sylvanc commented on #943
PR #946

[2016-06-16 18:36] jemc commented on #943
Looks like @sylvanc has a PR to fix this issue, but in order to prevent regressions, I think we should also be sure to capture this in our "minimal test cases" folder, or in a `builtin` test before we mark this issue as resolved.

[2016-06-16 22:01] n3f4s opened #947 "soft link issue with make install on linux"
Hi,
I'm trying to create a PKGBUILD for Manjaro linux (distribution based on Arch Linux) since ponyc isn't in the (manjaro) official repository (nor in AUR).

For those who are not familiar with Arch PKGBUILD and makepkg, it build the soft in a fakeroot, bundle it in a package then pacman (the Arch package manager) install it.

The issue is that during ```make install``` (in the fakeroot), \<faker

[2016-06-16 22:42] jemc commented on #947
Using a relative link sounds right to me, though I wasn't the author of this section of `Makefile`.  Would you want to file a PR for this change?

[2016-06-16 23:27] SeanTAllen commented on #943
@jemc we could merge my bad_pony test PR. thoughts?

[2016-06-16 23:40] jemc commented on #943
@SeanTAllen I don't like using `badpony.cc` to test code that is actually good pony code that should compile - I know there is one test like that there already, but they should both either be [builtin tests](https://github.com/ponylang/ponyc/blob/master/packages/builtin_test/test.pony) or be captured in our minimal test cases folder to later become integration tests.  In this case, I think this on

[2016-06-17 00:42] SeanTAllen commented on #943
I've never thought of builtin as a test to make sure we don't have a "won't compile" regression. That seems odd for builtin test.

[2016-06-17 00:48] jemc commented on #943
In general, you're right, the `builtin` tests probably shouldn't really be about compiling or not compiling.

But in this case, `I8.addc` is a method on a type in `builtin`.  If we had full test coverage for all methods on all types in `builtin`, we would have had a test for `addc` (and other related methods that were also broken by the `Bool` change), and we never would have had this regression i

[2016-06-17 15:32] n3f4s commented on #947
The PR with use of relative link in the makefile is filed

[2016-06-17 16:31] SeanTAllen commented on #640
is this done @kcrimson @jemc?

[2016-06-17 16:57] jemc commented on #947
Thanks! Resolved in #948.

[2016-06-17 16:57] #947 closed

[2016-06-17 16:59] jemc commented on #640
I think we can mark it as done, and make subsequent improvements later as needed.

[2016-06-17 16:59] #640 closed

[2016-06-18 00:12] ryanai3 opened #950 "pushing multiple times to array with pre-allocated length more than or equal to number of pushes causes SIGILL when compiled normally, but not when compiled with debug mode"
a mouthful. - originally found this when I tried to use random/mt.pony to benchmark some stuff. Minimal case follows:

The following causes a SIGILL when compiled with ```ponyc ./```, but not when compiled with ```ponyc -d ./```
[code]
which gives you
[code]
values for prealloc length of array larger than 2 also cause fail.  values less than two work fine. from testing various numbers of pushes an

[2016-06-18 00:12] ryanai3 commented on #950
I don't think it's the vmovq instruction - since that shows up in the binaries that work fine.

[2016-06-18 00:23] SeanTAllen commented on #950
I did a quick test on my machine and I do not get this on OSX.

[2016-06-18 01:08] jemc commented on #950
@Praetonus - could this be related to the realloc optimization passes?

[2016-06-18 07:57] ryanai3 commented on #950
I also get a SIGILL when trying to run ./collections. This is when the code is compiled with both debug and non-debug. I'll try and put a minimal case together tomorrow, but just wanted to get this up there in case they're connected. This time, the offending instruction is a vmovdqu32.

lldb run and backtrace:
[code]
bt:
[code]
and the non-debug run so we can see the asm:
[code]

[2016-06-18 08:36] ryanai3 commented on #950
So I tried to run a couple git bisects, but it would just tell me the offending commit is the one right after the one I marked as good - as far back as a couple months, and for every selection of a good commit I made... So maybe something's wrong with my install?

[2016-06-18 10:23] SeanTAllen commented on #950
Thanks for looking into this. Can you try w clang and see if you get different results?

[2016-06-18 18:22] ryanai3 commented on #950
clang gives me the same results, including the ./collections fail on both debug and non debug. I'll run git bisect to see if it also thinks all the versions are bad

[2016-06-18 18:49] ryanai3 commented on #950
I found something in dmesg!
collections run:
```traps: collections[1800] trap invalid opcode ip:4059a1 sp:7ff4464aabf0 error:0 in collections[400000+64000]```
array pushing run:
[code]

This holds up on restart, so it doesn't look like it's related to a suspend bug re instructions.
This holds up on clang and LLVM.

Is there any way I can disable certain instruction sets with the compiler to try an

[2016-06-18 19:22] SeanTAllen commented on #950
`ponyc --help` gives you a number of options.

i believe what you want is `--features`

[2016-06-18 20:47] ryanai3 commented on #950
Disabling AVX fixes everything.
Weird, because my cpu reports supporting it, and I've had no trouble with it or the pony compiler in the past.

[2016-06-18 21:00] ryanai3 commented on #950
[code]

[2016-06-18 23:01] SeanTAllen commented on #950
So there was a point in the past where it worked without AVX disabled?

[2016-06-18 23:12] ryanai3 commented on #950
yes

[2016-06-18 23:21] jemc commented on #950
@ryanai3 - if you run `ponyc` with `--pass=ir` you'll get the LLVM IR that pony is generating - it might help illuminate the problem.

[2016-06-18 23:47] ryanai3 commented on #950
@jemc, here's the IR for [good](https://gist.github.com/anonymous/31e577f5c3c8780de5f782e3f3c49b35), and [bad](https://gist.github.com/anonymous/99811b8fae5814d267e91c0c969c5683)
I have little idea how to parse it though.

[2016-06-19 11:37] Praetonus commented on #950
The LLVM IR looks perfectly good here. The problem seems to be related to machine code generation and vector instructions.

[2016-06-19 16:01] fagossa opened #952 "linking problem for 'hello world' in brew installation"
Hi,

I'm just trying to execute a simple example following the [official documentation](http://tutorial.ponylang.org/getting-started/hello-world.html). However, I'm getting this error and code doesn't link.

Any ideas?

[code]

And the whole code is just:
[code]
PS:
* ponyc version 0.2.1
* OSX 10.11.4

Thanks a lot!

[2016-06-21 13:07] Perelandric commented on #876
I think it would be useful to have something specific to 'type cases' in a `match` to handle this issue.

Maybe using `as` instead of `|` to begin the case.
[code]

This aligns with the current use of `as`, and doesn't require dealing with an `error`. It would also seem that `foo` could be made available within that case as a `TypeA` object.

[2016-06-22 01:58] Perelandric opened #959 "Segmentation fault at runtime by accessing uninitialized fields indirectly."
With the help of @doublec on IRC, we found that the following code results in a runtime seg fault.

[code]

The `Foo` class has field that references a `Bar`, and the `Bar` class has a field that references a `Foo`.

If we assign a `Bar` instance inside the `Foo` constructor, the compiler lets us then assign `this` *(the `Foo`)* to the new `Bar`, which then lets us indirectly access fields of `Foo

[2016-06-22 02:32] Perelandric opened #960 "Illegal instruction or Segmentation fault with mutually recursive constructors."
The following (ridiculous) program results in an "Illegal instruction" error, or a "Segmentation fault" if the `-d` flag is used with `ponyc`.

Not sure if this is truly a bug, but it seemed odd enough to be worth reporting anyway.

[code]

**Expected:**
Not sure what the result should be.

**Received:**
Illegal instruction or Segmentation fault depending on inclusion of the `-d` flag.

[2016-06-22 09:55] Praetonus commented on #960
I don't think this should be considered a compiler/runtime bug. You're creating an infinite recursion in your program so you're overflowing your stack, causing the crash.

[2016-06-22 11:58] Perelandric commented on #960
Yeah, that's what I figured. Just wasn't sure how it fit into the scheme of memory safety.

[2016-06-22 12:28] jsaacmk opened #961 "ponyc segfault"
The following test program causes a segfault in ponyc during compilation:

[code]

I'm using the docker distribution running in a VirtualBox guest, so here's my relevant versions:

[code]

[2016-06-22 12:31] jsaacmk commented on #961
Build command and output:

[code]

[2016-06-22 12:33] jsaacmk commented on #961
When I put the -V4 option to give more compile info, the behavior changes slightly

[code]

But no executable is generated.

[2016-06-22 13:00] SeanTAllen commented on #961
Can confirm.

[code]

lldb hangs when I try to get a backtrace.

[2016-06-22 13:03] SeanTAllen commented on #959
Can confirm.

[2016-06-22 13:27] sylvanc commented on #919
Definitely legal, definitely a bug :)

[2016-06-22 13:54] jemc commented on #960
Yeah, unfortunately I doubt that we can really do much in the compiler to prevent infinite recursion in the program - see the [Halting problem](https://en.wikipedia.org/wiki/Halting_problem).  Regarding memory safety, I think overflowing the stack is a form of *running out of memory*, which is something Pony can't really protect against.

[2016-06-22 14:20] Perelandric commented on #960
I see. I'll close this since it seems further discussion is likely not needed.

[2016-06-22 14:20] #960 closed

[2016-06-22 15:28] sylvanc commented on #913
This is done for both Array and String.

[2016-06-22 15:28] #913 closed

[2016-06-22 18:19] jsaacmk opened #963 "String.read_int fails for minimum int values"
[code]

Outputs "error" where -128 is expected.

[2016-06-22 18:25] Perelandric opened #964 "Compiler assertion failure when values having `eq()` method are used in `match`"
The following program produces an assertion failure when compiled with the the `debug` build.

[code]

---

If I remove the `fun eq()` from the `primitive B`, I get a different failure.

[code]

---

Same issue when `A` and `B` are `class` instead of `primitive`, except that when `B` does not have an `eq()` method, it results in a Segmentation fault in the compiler.

[code]

---

It compiles succe

[2016-06-22 19:40] jemc commented on #950
FWIW I wasn't able to reproduce the SIGILL locally with LLVM 3.8.0 on Linux 64 bit.

[2016-06-22 19:45] Cloven commented on #950
Ryan -- could you elaborate on what you mean by 'arch math gcc 6.1.1 fix for compiling ponyc'?  It sounds like you may be out there on the bleeding edge a little and it'd be interesting to know whether maybe you've stepped on an llvm or gcc bug.

[2016-06-22 19:51] lispmeister commented on #952
Your ponyc version is quite a bit behind the curve. Could you try to reproduce with a more current XCode setup and building ponyc from HEAD of master? Ping me if you need help setting that up.

[2016-06-22 19:57] jemc commented on #896
The `MapIs` type uses the `K` type parameter in a `match`, but the compiler doesn't realize that `K` in this case is a `struct` (`Pointer` is defined as a `struct`), which cannot be used in a `match`.

[2016-06-22 20:06] jemc commented on #896
For this specific situation where I want a map of `AsioEventId`, I can use an FFI call to get the asio event's file descriptor and put that in the `K` of the `MapIs` instead.

[2016-06-22 20:30] jemc commented on #896
For the solution as discussed in the sync call, we plan to disallow `struct`s from being used as type arguments.

If this proves to be enough of an issue for people to complain about blocking real-world problems, we can consider adding a notation for marking that a given type parameter should allow a `struct` argument (and enforce that the type parameter is not used in such a way that a `struct` c

[2016-06-22 20:32] jemc opened #966 "Real.from and similar functions should be converted to constructors."
In another conversation on the sync call, we discussed that `Real.from` (and similar machine word creation functions) should probably be converted to a constructor, since they return an instance of the type.

@sylvanc thinks that these were probably implemented before it was possible to make these constructors.

[2016-06-22 20:47] jemc commented on #963
The [overflow detection logic](https://github.com/ponylang/ponyc/blob/1db8f7761415db806032f097cb42ad7ac9d54c9d/packages/builtin/string.pony#L1176-L1179) should be changed to take the `minus` into account if present.

[2016-06-22 20:48] jemc commented on #963
If anyone decides to pick this up and work on it, don't forget to add a test case when you fix it.

[2016-06-22 20:55] georgemarrows commented on #966
First go at this is throwing up some errors when testing the stdlib (nb net/Broadcast already failed on my Mac):
[code]

This was after converting min_value() to be a constructor (all worked fine), and then max_value() (gives the errors above). I'll see if I can track down what is going wrong.

[2016-06-22 21:17] Perelandric commented on #966
Perhaps parens `()` to invoke constructors that don't have `.apply()`.

[2016-06-23 00:58] luowuzhe opened #967 "tcp service a client 100 milliseconds per message cpu 100%"
[code]

[2016-06-23 01:01] jemc commented on #967
FYI - I edited the post to fix formatting with triple backticks.

[2016-06-23 01:34] luowuzhe commented on #967
linuxmint18
llvm 3.6
pony 0.2.1-964-g1db8f77

[2016-06-23 01:54] luowuzhe opened #968 "examples/httpserver Concurrent requests blocked"
[code]
[code]
[code]
[code]

[2016-06-23 02:14] jemc commented on #968
@luowuzhe - You shouldn't use `@sleep` in a serious Pony program for this very reason - the currently executing actor on that scheduler thread will sleep, tying up the thread.  This is why Pony doesn't have a "sleep" function built-in - we want to avoid blocking calls entirely.

If you want to simulate requests that wait for results from some backend service, use a one-shot `Timer` instead of `@sl

[2016-06-23 02:17] jemc commented on #967
As I said in #968, avoid calling `@sleep` or `@usleep` from a serious Pony application.

[2016-06-23 02:20] luowuzhe commented on #967
@jemc
Thank you for your reply

[2016-06-23 02:20] luowuzhe commented on #968
@jemc
Thank you for your reply

[2016-06-23 02:24] luowuzhe commented on #967
@jemc
but,
Commented @usleep (100),
cpu load is still 100%.

[2016-06-23 02:44] jemc commented on #967
What do you expect to happen?  When your server receives a message, it responds immediately - when your client receives a message, it responds immediately.  So it will continue in a tight ping-pong back and forth between the two actors until you stop the program.  I would *expect* your CPU to be fully used - if it weren't that would point to some excessive latency in Pony's event handling system.

[2016-06-23 02:45] jemc commented on #968
I'm going to close this, as I don't think this is a bug or problem in Pony.  The stdlib HTTP server may have other performance problems right now (it does), but this isn't one of them.

[2016-06-23 02:45] #968 closed

[2016-06-23 04:58] #963 closed

[2016-06-23 17:27] #943 closed

[2016-06-24 15:51] Theodus opened #973 "segfault with field named _final"
The following program causes a segfault during the "final" pass of the compiler because of the field name.
[code]
When the field is changed to _f the program compiles as expected.

[2016-06-24 16:11] SeanTAllen commented on #973
Can confirm.

[2016-06-25 15:16] luowuzhe opened #974 "env.out.print Resulting in skyrocketing memory"
[code]

linuxmint18 64
llvm3.6
0.2.1-966-g6e98a13 [debug]

[2016-06-25 16:04] SeanTAllen commented on #974
garbage collection only happens between behaviors so, all those strings you are creating won't get garbage collected until you are done iterating over the range.

There's a tradeoff here. My running gc only between behavior calls on an actor, you get predictable performance within the behavior and an easier to write, modify and understand garbage collector.

OTOH, you can hang yourself by doing wh

[2016-06-25 16:04] #974 closed

[2016-06-25 16:10] SeanTAllen commented on #974
@jemc @sylvanc i think we need more documentation around this. certainly there is a pony pattern or two in here. Does performance deserve a section in the tutorial? I'm not sure on that. In my mind, the tutorial is "Pony for the Impatient" to get you started. And performance etc type things would be either patterns or part of another book specifically addressing performance or other more advanced

[2016-06-25 17:03] jemc commented on #974
I think we should start with a Pony pattern or two - perhaps a "performance" section of the patterns collection.  We could also consider adding a "where to go from here" page at the end of the tutorial which links to the patterns collection.

[2016-06-25 22:53] jeffgran commented on #247
I'm late to the party, but thought this might be of interest: https://github.com/whyrusleeping/gx -- a language-agnostic package manager system built on IPFS, which in itself is a very cool futuristic technology.

[2016-06-26 08:15] ryanai3 commented on #950
@Cloven there's a commit that fixes an issue with compiling ponyc using gcc 6.1.1 that was merged a while back - [here](https://github.com/ponylang/ponyc/pull/824).

[2016-06-26 08:49] fagossa commented on #952
I picked the docker image and everything is working just fine; thanks a lot

[2016-06-26 08:49] #952 closed

[2016-06-26 11:10] sylvanc commented on #896
Fixed in #977

[2016-06-26 12:04] #896 closed

[2016-06-26 21:38] Praetonus opened #979 "Assigning a remote embedded field to a local field causes assertion failure in GC marking"
The following program is a minimal case for the CI failures of #978 (caused by `time.Timer._node`, a `ListNode[Timer]`).

[code]

Output: `src/libponyrt/gc/gc.c:365: void mark_remote_object(pony_ctx_t *, pony_actor_t *, void *, pony_type_t *, int): Assertion 'mutability != PONY_TRACE_MUTABLE' failed.`

Debugger call stack (relevant frames):

[code]

Possibly related to #937.

[2016-06-27 03:10] Scramblejams opened #980 "Compiler assertion failure when default value for parameter lacks required `recover` block"
Reproduction code:

[code]

Compiler output:

[code]

Pulled ponyc 5 minutes ago on Debian Sid kernel 4.3.0 AMD64 with LLVM 3.6.2.

[2016-06-27 03:11] Scramblejams opened #981 "Compiler assertion failure"
Reproduction code:

[code]

Compiler output:

[code]

Pulled ponyc 5 minutes ago on Debian Sid kernel 4.3.0 AMD64 with LLVM 3.6.2.

[2016-06-27 17:42] Praetonus commented on #966
@georgemarrows It looks like the problem is caused by the `ifdef` block handling machine word size on different platforms in some primitives. For these (`I/USize` and `I/ULong`), it is screwing up both `min_value` and `max_value`. The constructors are generated like this:

[code]

In addition to the wrong value being returned, the type is wrong too (`i64` in the declaration, `i8` in the return sta

[2016-06-27 19:15] aturley commented on #980
Confirmed. Backtrace from lldb:

[code]

@Scramblejams there's actually an error in the code. It compiles if you `recover` the default assignment to `s`, since `s` is a `val` but `String` returns a ref:

[2016-06-27 19:19] aturley commented on #981
Confirmed. Backtrace:

[code]

[2016-06-27 21:06] Praetonus commented on #973
I'll take this one, but I'm not sure if we should forbid `_final` for field names. It seems to me that allowing it could make life a bit harder for programmers and tools for no real benefits.

[2016-06-27 21:54] SeanTAllen commented on #973
@Praetonus are you suggesting the fix should be to outlaw _final as a variable name?

[2016-06-27 22:02] Praetonus commented on #973
Only as a field name (local variable names can't start with underscores). The two possible fixes here (disallowing `_final` for fields or ignoring fields called `_final` when generating finalisers) are both trivial, I'm only inclined to restricting the name uses because of my above reasoning.

[2016-06-27 22:39] SeanTAllen commented on #973
what is the problem with it being called `_final` currently? why does that cause an issue?

[2016-06-27 22:53] Praetonus commented on #973
Currently, the the compiler checks if `_final` is a `fun`, but only if it really is a function (i.e. `fun`, `be` or `new`). This is done early in the compilation when the compiler goes through every function in the program (`expr/reference.c:check_finaliser`). But if `_final` is a field it isn't catched by that check, so when the compiler tries to generate the finaliser, it fails because it is exp

[2016-06-27 22:55] jemc commented on #973
If a type is allowed to have a `be _final` or `new _final` (which are rightly ignored by the finaliser generation), it seems weird to disallow a `let _final`.  I'd rather see the second solution you mentioned - "ignoring fields called `_final` when generating finalisers".

[2016-06-27 23:08] Praetonus commented on #973
@jemc Sorry, my explanation probably wasn't clear. I meant to say that `be _final` and `new _final` are currently disallowed. This is checked in `check_finaliser`.

[2016-06-28 11:45] SeanTAllen commented on #973
If that is the case, it makes sense to disallow _final as a field name as well.

[2016-06-28 11:47] SeanTAllen commented on #973
as a general statement, the ability of "magic" pony methods to conflict with user code and ways like that that are not at all obvious bothers me a little. I kind of want to say, that internal things like the generated _final should be named something like __final that can't conflict with user code because it isn't legal. That's probably another mess unto itself though.

[2016-06-28 12:49] SeanTAllen commented on #979
I can confirm this with a debug build of the compiler.
I can not confirm this with a release build of the compiler.
I'm on OSX w llvm 3.8 and this doesn't happen to me.

Interestingly, I would expect the release version to segfault but it apparently takes a different code path than the debug one or perhaps that assertion isn't actually needed?

[2016-06-28 13:03] SeanTAllen commented on #964
When I run this with the release compiler I get:

`Assertion failed: ((i >= FTy->getNumParams() || FTy->getParamType(i) == Args[i]->getType()) && "Calling a function with a bad signature!"), function init, file /private/tmp/llvm3820160316-8183-11u7j5k/llvm-3.8.0.src/lib/IR/Instructions.cpp, line 245.
[1]    21290 illegal hardware instruction  ponyc`

Note however that this is fixable by removing t

[2016-06-29 13:00] georgemarrows commented on #966
Thanks for that @Praetonus, been a bit distracted watching my country fall apart (can you guess where I'm from?).

Would you mind explaining what you did to extract the LLVM IR for the constructor and format it cleanly?

[2016-06-29 19:40] sylvanc commented on #979
In `gc.c` an assumption was made that only `val` objects in messages could result in tracing remote objects that the current actor has no foreign reference count for. However, this can also happen due to embedded fields.

[2016-06-29 19:49] sylvanc commented on #973
[code]

[2016-06-29 19:56] sylvanc commented on #964
I appears the `ast->type` on the `pattern` node is being set to the type of the argument instead of the type of the receiver.

[2016-06-30 07:40] #981 closed

[2016-06-30 11:01] sylvanc commented on #973
Plus a change in reach.c. Doing a PR now.

[2016-06-30 11:29] #980 closed

[2016-06-30 13:35] sylvanc commented on #863
It turns out the compiler and the type checker are both doing "the right thing", given some definition of the right thing that includes the current semantics :)

For example:

[code]

@Praetonus made a comment that `foo1.go(foo1 = recover Foo end)` should be illegal. I think that's problematic, as it creates a situation where a legal expression becomes not legal due to a complex enclosing expressi

[2016-06-30 13:36] #964 closed

[2016-06-30 13:59] #959 closed

[2016-06-30 14:01] #979 closed

[2016-06-30 15:02] jemc commented on #973
Fixed in #990.

[2016-06-30 15:02] #973 closed

[2016-06-30 15:08] jemc commented on #863
How can we document this?  It seems like to obscure an edge case for the tutorial, but I think we need to document it somewhere - even if it's the best semantics we can provide, it's not necessarily intuitive.

[2016-06-30 15:44] SeanTAllen commented on #863
agreed. hmmm....

[2016-06-30 15:45] Praetonus commented on #966
You can generate the LLVM IR by passing the `--pass=ir` (or `-r ir`) flag to `ponyc`. This flag can also be used to output a Pony AST, LLVM bitcode, assembly, etc.

[2016-06-30 15:50] Praetonus commented on #863
@sylvanc That makes sense.

I think the right place to document this would be a full language specification, though we probably still have lots of things to do before getting here.

[2016-06-30 17:21] aturley commented on #961
For reference, here's the start of the backtrace:

[code]

It looks like `check_constraints` at reify.c:236 is where things start to go badly.

[2016-07-01 02:52] pdtwonotes opened #991 "UDPSocket.writev sends multiple packets"
When using a WriteBuffer to construct a message with multiple fields, internally this is represented as an Array[ByteSeq].  That is, WriteBuffer is not actually concatenating the fields into a single byte stream.  This Array[ByteSeq] is what gets returned by done().

If I then pass that to UDPSocket.writev, internally writev just iterates over the Array and calls the internal _write function for e

[2016-07-01 04:11] SeanTAllen commented on #991
Can you post your write buffer code?

[2016-07-01 04:12] SeanTAllen commented on #991
As to writev on UDP, I would expect it to send multiple messages.

[2016-07-01 04:20] jemc commented on #991
It looks like `@writev` (the system call) when called with a UDP socket actually does combine to one datagram:

So it seems to me that we *should* try to match that behaviour if possible, since we are using the same name as the system call.

[2016-07-01 07:10] sylvanc commented on #991
This is indeed a bug. The right thing to do is to actually use `@writev` in both `UDPSocket` and `TCPConnection`. On Windows, the IOCP interfaces we use support scatter-gather, so it's possible there as well.

[2016-07-01 11:39] pdtwonotes commented on #991
Here is the code I am using.
[code]

I discovered that two packets were being sent, the first being two bytes, matching the u16_be, when the receiving program received them.  I then verified this using the wireshark program.

[2016-07-01 11:44] SeanTAllen commented on #991
I'll take care of this

[2016-07-01 12:18] SeanTAllen commented on #991
So what I see as order of importance:

1: have UDP writev use @writev and update documentation so its clear that this will result in a single message (which might be surprising for someone using write buffer to buffer many messages)
2: switch TCP writev to use @writev
3: address windows- I'm not a windows person. Looking for guidance here.
4: possibly address the new UDP writev/write buffer issue

[2016-07-01 12:30] pdtwonotes commented on #991
I would attack it from the other end, adding a second fun like done() that returns the flattened value.  This does not disrupt people who expect the old behavior from UDPSocket, and increases the general usefulness of WriteBuffer.

[2016-07-01 15:35] jemc commented on #991
I'd rather not encourage an "easy path" to bad performance (extra allocations and copying) when we can instead encourage use of `writev` and fix the underlying issues by making it use `@writev` directly (which was already on the roadmap before this issue popped up).

We're treating the fact that `writev` doesn't act like `@writev` as a principle-of-least-surprise bug.  Anyone who is relying on the

[2016-07-01 20:03] Praetonus opened #993 "Arithmetic conversions can result in LLVM undefined values"
Currently, integer to floating point and floating point to integer conversions compile down to LLVM `uitofp`, `sitofp`, `fptoui` and `fptosi` instructions. In case of overflow on the destination type, these instructions produce [undefined values](http://llvm.org/docs/LangRef.html#undefined-values). I think this is not something we want in Pony and we need to address this concern, while impacting t

[2016-07-01 20:10] Praetonus opened #994 "Unsigned numeric primitives have a wrong neg function"
For unsigned numbers, the signature of the `neg` function is:

[code]

Of course, the result has no mathematical sense.

I think this function should either be removed from unsigned numbers or return signed numbers (and be made partial to avoid inputs outside of the meaningful space).

[2016-07-01 20:26] jemc commented on #993
Definitely agreed that having the result of these operations be formally undefined is a big problem, however, given that the effect that many of us (myself included) have been depending on is truncation, I'm currently thinking it might make more sense to make the language semantics formally specify that the conversion performs a truncation if the source type is larger width than the target type.

[2016-07-01 20:41] jemc commented on #994
In the context of a bounded, wrapped number space, it does make mathematical sense.

That is, `U16(x).neg() == U16(0).sub(x)`.

In other words, if `neg` were made partial, it would imply that `sub` (and `add` and `mul`) should be made partial as well, since those operations can also result in over/underflows.

We have operations like `addc` and `subc` if people want to do operations that guard aga

[2016-07-01 21:31] aturley commented on #961
I'm still not exactly sure what's going on, but I'm going to dump some of what I've found here.

First of all, reversing the order of the items in the intersection type (`fun f[A: (Integer[A] val & (I8))]() =>`) causes the code to compile.

After looking at this for a while, I came up with what seems to be a minimal test case:

[code]
Same thing, if you reverse the order of the items in the inters

[2016-07-02 00:15] Perelandric opened #995 "Compiler assertion failure when a variable of a union type is used as a `match` case."
This seems closely related to #964, which was recently fixed.

[code]

Aborted

I don't know if a variable is meant to be used as a `match` case, but this example causes the assertion failure in the `debug` build of the compiler.

- Same failure if `primitive A` does not have an `eq()` method.
- If `primitive B` does not have an `eq()` method, we get `Error: ...this pattern can never match`
- If n

[2016-07-02 09:03] peterzandbergen opened #996 "Segmentation fault in examples/httpserver"
When I use the standard httpserver code on Ubuntu Willy Mate and I apply intensive load, the program causes a segmentation fault. httpserver runs stable when logging is disabled using DiscardLog.

OS: Ubuntu Mate Willy
LLVM: 3.8 from UIbuntu repo
Virtualbox, latest version

Stacktrace after compiling the httpserver with ponyc debug version with ponyc -d

[code]

[2016-07-02 13:47] Praetonus commented on #993
I don't really like the idea of the default behaviour being errors for floating point conversions and truncation in base 2 for integer conversions. I feel like conversion and truncation should be separated in different functions, maybe a `fun truncate(digits: USize, base: USize)` for integers.

After trying various things with LLVM and optimisations, it seems that `%` isn't the best candidate here

[2016-07-02 14:03] jemc commented on #993
Right now, I don't really think *any* of the conversion functions should be partial - they should just all have defined semantics.

[2016-07-02 14:04] jemc commented on #993
It would be good to hear @sylvanc's perspective on this, though.

[2016-07-02 14:12] Praetonus commented on #993
The big issue is that the only alternative to partial functions to fix the floating point issue would be to return an arbitrary value if the input can't be represented by the integer type. That includes trying to convert NaN, and I don't see any sane default value for this (and it's undefined behaviour in C).

[2016-07-02 14:18] Praetonus commented on #994
Yes, making the function partial doesn't look like the best solution, but I still feel like given its name, `neg` should only return signed numbers (like `abs` only returns unsigned numbers).

Would removing the function from unsigned integer type make sense?

[2016-07-04 00:10] luowuzhe commented on #996
#937
Remove logger no longer crashes

[2016-07-04 00:10] luowuzhe commented on #937
Remove logger no longer crashes

[2016-07-04 18:00] pdtwonotes opened #1000 "Segfault in Pony scheduler"
This in on an ARMv7 processor running in 32bit mode.   It does not happen all the time - there are several complex actors running as well as a UDP and a TCP network link.  Note that the actor parameter to ponyint_actor_run has a value of -6 when it should be an address, and that GDB suspects a corrupt stack.

The compiler is version 0.2.1-899-gf7f288c, built from source, so the RT should match tha

[2016-07-05 09:44] sylvanc commented on #993
Integer truncation and extension should remain as it is. Pony integers are _not_ abstract numbers: they are real machine words with a bit size that perform modular arithmetic :) As a result, `U8(256)` is `0`, and by the same token, `U16(256).u8()` should be zero. Truncation is simply a fast way to handle the required modular arithmetic.

Think of it in pure functional terms: generate a `U8` with a

[2016-07-05 09:53] sylvanc commented on #995
Fixed in #1001

[2016-07-05 09:58] sylvanc commented on #994
No, it wouldn't make sense I'm afraid :) Negation is well defined on unsigned numbers, and the existing `neg` function does exactly what it should. Unsigned numbers represent modular arithmetic, as @jemc pointed out. When viewed in that context, the function does exactly what is expected.

An alternate type that represented all natural numbers, using a `big number` encoding, but disallowing negati

[2016-07-05 09:58] #994 closed

[2016-07-05 09:59] sylvanc commented on #995
Also, nice catch, thank you yet again @Perelandric :)

[2016-07-05 10:56] #995 closed

[2016-07-05 15:28] sylvanc commented on #925
Fixed in #1002

[2016-07-05 15:29] sylvanc commented on #922
This is working now.

[2016-07-05 15:29] #922 closed

[2016-07-05 15:30] jemc commented on #922
Thanks, you're right.  For historical reference, this was fixed in #957.

[2016-07-05 16:11] #925 closed

[2016-07-05 16:29] Perelandric commented on #995
Thank you, @sylvanc!

[2016-07-06 12:37] #967 closed

[2016-07-06 19:59] SeanTAllen commented on #996
@peterzandbergen what version of pony are you using?

[2016-07-06 20:01] SeanTAllen commented on #1000
@pdtwonotes i know this is going to be hard but we're not sure what we can do without a minimal test case.

[2016-07-06 20:31] aturley opened #1005 "Add something like `expect` for reading stdout in `ProcessNotify`"
When using `ProcessNotify`, it makes sense to have something like `expect` (from `TCPConnection`/`TCPNotify`) to set the number of bytes to read before calling `stdout`.

`ProcessNotify.stdout` doesn't provide something like the `TCPConnection` from `TCPNotify`, so I'm not quite sure which class should provide this method.

[2016-07-06 20:40] pdtwonotes commented on #1000
Happened again, slightly differently..  This time actor pointer is OK but look what it points to:
[code]
That looks like it has been overwritten by character data.  Decoding it may give me a clue as to where it came from.

[2016-07-06 20:45] jemc commented on #1000
@pdtwonotes - that actor pointer is probably pointing to some random place in memory, instead of being a valid actor pointer.

[2016-07-06 20:49] peterzandbergen commented on #996
Hi Sean,

I ran the test using the latest build at that time. I also tried it on AWS
this Monday with a clean VM and a new build. It had the same behaviour. I
can try again tomorrow with the latest build if you like.

It never crashes when the logger is the DiscardLog.

Op wo 6 jul. 2016 21:59 schreef Sean T Allen <notifications@github.com>:

--

Peter Zandbergen
Tel: +31 6 460 55 872

linkedIn: p

[2016-07-06 20:54] pdtwonotes commented on #1000
It looks like some pieces of string I recently printed out, somewhat chopped up

[2016-07-06 21:10] pdtwonotes commented on #1000
Happened again, just as the program starts up.  This time I thought to print the scheduler block from the ctx parameter.  Note that ctx->actor = 0x1.
[code]

[2016-07-07 07:56] peterzandbergen commented on #996
Hi All,

some more information about versions.
ponyc --version: 0.2.1-988-g4e0a773 [debug]

lldb version: lldb version 3.8.0 ( revision )
llvm version: 3.8
VirtualBox version: 5.0.24
Linux version: Ubuntu Mate Willy (16.04) 64 bits

command I ran: sudo lldb --file ./httpserver -- --ponythreads 1 --port 80 --logger common
Source code for httpserver is here: https://github.com/peterzandbergen/httpse

[2016-07-07 10:15] wizeman opened #1007 "Actors don't seem to be getting garbage collected?"
I'm running `ponyc` from the master branch (commit afc74c61e500dbc5e5e04ce227f978cb52c777cc) on an x86-64 machine with 4 cores.

While testing the following very small program, it seems that the peak memory usage of the program (as measured by `/usr/bin/time -v`), and also the memory usage of the program at time of exit (as measured by setting a breakpoing in the `_exit` symbol and inspecting memo

[2016-07-07 11:01] SeanTAllen commented on #1005
I'm unclear on what "ProcessNotify.stdout doesn't provide something like the TCPConnection from TCPNotify, so I'm not quite sure which class should provide this method." means.

Do you mean that, in order to provide the expect functionality that the process package needs to expose something like that TCPConnection that allows you to interact with the external process? In particular in the notify.

[2016-07-07 11:03] SeanTAllen opened #1008 "Inconsistent naming in process package"
Other packages name notifiers as

tcpnotify.pony
ansinotify.pony

whereas Process package has

process-monitor.pony
process-notify.pony

This inconsistency should be fixed as soon as https://github.com/ponylang/rfcs/pull/11 is finished.

[2016-07-07 12:28] SeanTAllen commented on #937
Where you using VirtualBox?

Can you try again using the latest ponyc from masteR?

[2016-07-07 12:36] SeanTAllen opened #1009 "RFC: Crypto Library"
See RFC:

https://github.com/ponylang/rfcs/blob/master/text/0001-crypto.md

[2016-07-07 12:39] SeanTAllen opened #1010 "RFC: Optimisation Inhibition"
See rfc: https://github.com/ponylang/rfcs/blob/master/text/0002-optimisation-inhibition.md

[2016-07-07 12:41] afritfr opened #1011 "Testing pony and gsl on Raspberry pi 3 B Model"
When running gsl from pony I get incorrect results like  sqrt(9) = 9
here is the binding i used :
main.c : https://gist.github.com/afritfr/bedf3a898b674b06b6a8b2ac5ee8b3c9
sqrt.pony : https://gist.github.com/afritfr/6239d0a55ab9bb4cb583615c523b9b21
when every thing works just fine when running the main function in c, when pony calls the same function I get the previously stated error.

I compiled

[2016-07-07 12:43] SeanTAllen opened #1012 "RFC: Array/String Compact"
See https://github.com/ponylang/rfcs/blob/master/text/0003-array-string-compact.md

[2016-07-07 12:45] SeanTAllen commented on #1011
Thanks for reporting @afritfr

[2016-07-07 13:21] malthe commented on #996
It seems to me that ``pony_os_std_write`` uses ``fwrite`` without checking the return value (which is the number of bytes written) – see [fwrite man page](http://linux.die.net/man/3/fwrite).

[2016-07-07 13:30] aturley commented on #1005
I mean that it isn't exactly analogous to using `expect` when dealing with TCP, because in that case you call `expect` on a the `TCPconnection` object, which is passed to methods in the `TCPNotify` object, whereas the methods in `ProcessNotify` don't get an object like that. What you've suggested seems like it could be a reasonable way of doing things.

[2016-07-07 13:38] SeanTAllen commented on #1005
Given that this breaks the ProcessNotify API I want to raise on pony+dev if this should go through RFC.

[2016-07-07 13:41] aturley commented on #1005
Sounds very reasonable. Or maybe somebody has a non-breaking suggestion.

[2016-07-07 13:43] SeanTAllen commented on #1005
Per my email to pony+dev, I don't think there is a non-breaking suggestion. I think all notifiers need to be given a reference to "that which is notifying them". Personally, I think there are enough issues that this doesn't need an RFC but, the process for bypassing is still new so... feedback.

Link to the email for folks who are interested in the future:

https://pony.groups.io/g/dev/message/227

[2016-07-07 14:23] sylvanc commented on #1009
#1006

[2016-07-07 14:23] #1009 closed

[2016-07-07 14:25] #133 closed

[2016-07-07 14:26] #135 closed

[2016-07-07 14:26] #136 closed

[2016-07-07 14:27] #290 closed

[2016-07-07 14:28] sylvanc commented on #353
This work was done by Luke Cheeseman and will be PR'd soon.

[2016-07-07 14:28] #353 closed

[2016-07-07 14:29] sylvanc commented on #434
Appveyor for windows works and runs tests now.

[2016-07-07 14:29] #434 closed

[2016-07-07 15:06] jemc commented on #1007
What happens if you move the creation of the next actor out of the constructor and into a behaviour - for example,
[code]

[2016-07-07 15:14] wizeman commented on #1007
@jemc I just tried that, and it behaves the same as if the creation of the next actor was in the constructor, i.e. the memory usage is still the same (very high) and proportional to `N()`.

In fact, I ran into this problem in a more complex program that didn't create actors in the constructors, but in an attempt to create a minimal test case, I wrote the simplest one I could that still exhibited t

[2016-07-07 15:35] jemc commented on #1011
@afritfr - is this reproducible only on ARM, or can it be reproduced on an x86 machine as well?

[2016-07-07 16:25] SeanTAllen commented on #1005
Thats a solid quorum of @jemc, @sylvanc and I then.

No RFC. Need to implement.

[2016-07-07 20:18] Hades32 commented on #434
Why close this while Appveyor still doesn't produce artifacts?

At least I could not find any under https://ci.appveyor.com/project/sylvanc/ponyc

[2016-07-07 20:59] afritfr commented on #1011
@jemc : Well i think my mac is X86 compatible and i don't have the same problem I've got with the raspberry. when i run the command "uname -m" i get x86_64.

[2016-07-07 21:04] jemc commented on #1011
okay, thanks - the fact that it doesn't reproduce on x86_64 is helpful to know

[2016-07-08 00:58] luowuzhe commented on #937
linuxmint18

siege -c 100 -r 100 http://127.0.0.1:50000/

`localhost - - [08/Jul/2016:00:52:10 +0000] "GET / HTTP/1.1" 200 15 "" "Mozilla/5.0 (pc-x86_64-linux-gnu) Siege/3.0.8"
localhost - - [08/Jul/2016:00:52:10 +0000] "GET / HTTP/1.1" 200 15 "" "Mozilla/5.0 (pc-x86_64-linux-gnu) Siege/3.0.8"
localhost - - [08/Jul/2016:00:52:10 +0000] "GET / HTTP/1.1" 200 15 "" "Mozilla/5.0 (pc-x86_64-linux-gnu)

[2016-07-08 01:09] luowuzhe opened #1015 "json library uses a lot of memory is not released"
[code]

[2016-07-08 09:49] SeanTAllen commented on #1015
Garbage collection for an actor runs between behaviors. Because of how you've written this, gc wouldn't run before the program exits.

[2016-07-08 09:49] #1015 closed

[2016-07-08 12:27] wizeman commented on #1007
Some more data: I built `ponyc` with `use=valgrind` and then ran the test program (with `N() = 1_000_000`) under valgrind:
[code]

So it seems that at exit, there was more than 400 MB of heap memory in use, i.e., the memory allocations weren't lost, but they weren't freed either.

[2016-07-08 12:39] SeanTAllen commented on #1007
@wizeman what's your more complex case its possible that your simple case is exhibiting a different issue.

[2016-07-08 12:53] wizeman commented on #1007
@SeanTAllen it's a test/benchmarking program that spins-up an actor assigned to the root directory. This actor reads the directory and for each entry in the directory, it prints out the path and spins-up a new copy of itself assigned to that entry.

In the end, all the actors will end up traversing the entire filesystem tree (without following symlinks) and print out all the files in it. I was int

[2016-07-08 13:39] lispmeister commented on #945
Fixed in PR #1014

[2016-07-09 17:14] Theodus opened #1017 "error parsing multiline array of tuples"
I have discovered a very peculiar parsing error with the following examples:

[code]

produces the output:

[code]

But removing a comma, as so:

[code]

produces the output:

[code]

But if the tuples contain U8s rather than strings, as so:

[code]

throws an error:

[code]

[2016-07-09 17:59] locksfree opened #1018 "Compiler crash on lambda capturing not-yet declared variables"
I am running on the latest master (commit d65c22629f) on Ubuntu, ponyc compiled from source in release mode, and with this snippet alone, ponyc crashes:

[code]

I am not sure if referencing a variable that has not yet been declared is legal, but it currently crashes:

[code]

Re-building in debug mode and compiling the same snippet did not get any extra information, the exact same output was prod

[2016-07-09 20:41] jemc commented on #1018
This isn't legal, but the compiler should print a compile error instead of crashing.

[2016-07-10 11:33] hibnico opened #1019 "Method body / return type mismatch error should preempt receiver recovery error."
Ponyc was reporting me an error about an incorrect reference capability use. I got stuck on that error a long time until I realized that I forgot to properly return a value as expected by the function signature.

I have managed to reduce the issue to this simple code:

[code]

The compiler output:

[code]

I have the issue with ponyc compiled from source at today's hash d65c226 of the master branc

[2016-07-10 16:24] jemc commented on #1019
I don't follow - can you explain more explicitly - what's the problem with that error?

[2016-07-10 16:43] SeanTAllen commented on #1019
@jemc

The "real error" is that the it isn't returning a U8.

[code]

compiles fine.

But the error messages don't indicate that.

[2016-07-10 17:18] jemc commented on #1019
Just to be clear, the other error is still correct, though.  When the return type of a method is not `None`, the evalutaion of the last expression in the body is considered to provide the return value.  Since the return value of `s.clear()` is not sendable (`String ref`) and it is being used (it is the last expression in the body of a method whose return type is not `None`), the call's receiver ca

[2016-07-13 19:46] SeanTAllen commented on #1011
We haven't tested on 64 bit ARM and technically haven't ported to it yet. Its possible there are bugs that need to be worked out.

We are going to test on the 32 but to see if there is the same issue and then loop back around.
@lispmeister is handling the testing.

[2016-07-13 19:58] sylvanc commented on #1017
We covered this in the sync call. While the parser is doing the right thing, the error message is totally unhelpful. We could catch a `TK_SEQ` with more than one element as an array element and `ast_error` something useful that tells the programmer "did you meant to put a sequence here? if so, put it in parens".

[2016-07-13 20:07] jemc commented on #1019
This is actually related to some other work I was doing, trying to decouple some of the checks in the `expr` pass to another compiler pass that runs *after* the `expr` pass.  This auto-recover for receivers check that causes the error you're seeing is one of the things I wanted to move to the other pass.

If I complete this work, then this issue would be solved because the type check for the retur

[2016-07-13 22:37] SeanTAllen opened #1023 "RFC: String/Array trim"
see rfc: https://github.com/ponylang/rfcs/blob/master/text/0004-string-array-trim.md

[2016-07-13 22:39] SeanTAllen opened #1024 "RFC: File Naming Guidelines"
see rfc: https://github.com/ponylang/rfcs/blob/master/text/0005-file-naming-guidelines.md

[2016-07-13 22:40] SeanTAllen opened #1025 "Update CONTRIBUTING to include filenaming guidelines"
As adopted in https://github.com/ponylang/rfcs/blob/master/text/0005-file-naming-guidelines.md

[2016-07-14 15:24] #1025 closed

[2016-07-14 17:20] SeanTAllen commented on #966
@georgemarrows are you still working on this?

[2016-07-14 18:23] georgemarrows commented on #966
hi @SeanTAllen, no, not at the moment. Others should feel free to pile in.

[2016-07-14 18:26] Triangle345 commented on #434
I'm also having trouble building this under Windows 10 ,VS2015 LLVM 3.8.1.  It would be great if we can grab a windows binary somewhere.

[2016-07-14 21:55] SeanTAllen commented on #1010
@Praetonus i know you created the RFC for this. @aturley is going to start on this unless you already have.

[2016-07-14 22:12] Praetonus commented on #1010
@SeanTAllen I'm working on it, I've got an almost finished implementation.

[2016-07-14 22:23] SeanTAllen commented on #1010
cool. in the future can you change the issue to 'in progress', assign yourself and also update the RFC to 'in progress' ?

I switched it over to you.

[2016-07-15 08:35] Praetonus commented on #1010
Sure, I'll do that next time.

[2016-07-15 16:14] MikeMcQuaid opened #1029 "Request 0.2.2 release"
Hi, I'm one of the Homebrew maintainers. We've updated our version of `ponyc` to a snapshot from your `master` to upgrade the underlying version of LLVM to 3.8. We'd like to humbly request a 0.2.2 release so we can get back on an official, stable version.

Thanks for your software!

[2016-07-16 12:03] killerswan commented on #1029
Interesting, from the [tagged releases](https://github.com/ponylang/ponyc/releases) it does seem like it's been a wee bit of time since the last one.

Lots of [changes](https://github.com/ponylang/ponyc/compare/73803cbe9d181110964f4265b02b1c999e1f0120...a3e7e76e2f9cac6dacef20c7d0a7b4388f867beb), although I don't know enough to adequately summarize the progress:

As of a3e7e76 on master, at least,

[2016-07-16 13:26] SeanTAllen commented on #1029
@killerswan we would have done a release by now if we had all of our release stuff automated for packages etc. we'd like to be doing them regularly (at least quarterly, if not monthly). Big issue has been no one owns the process and people have stepped forward and done a bit but we really need someone to take ownership and get everything up to snuff and document it. I'd happily cut a 0.3 release i

[2016-07-16 17:58] jemc commented on #1029
The Docker images are currently built continuously from latest master, and are generally intended as an option for people who can't or don't want to build from source, but still want to try the latest Pony.  We mainly need someone to take charge of the Bintray and Appveyor stuff (building and pushing all the relevant release artifacts whenever we want to create a release).

[2016-07-17 19:37] killerswan commented on #1029
Hmm.  So I've now set up my own AppVeyor build of ponyc, and now see some of the missing pieces.  For binary packaging, it seems like:
* for Windows builds on AppVeyor, we should start [packaging artifacts](http://www.appveyor.com/docs/packaging-artifacts) and [deploying to Bintray](http://www.appveyor.com/docs/deployment/bintray),
* for [Windows LLVM builds](https://github.com/ponylang/ponyc-wind

[2016-07-17 19:40] MikeMcQuaid commented on #1029
Yes, please!

[2016-07-17 21:51] Theodus opened #1032 "problems with Optimization Inhibition"
Either I'm doing it wrong or DoNotOptimize does not observe the given value. Here is an example:
[code]
It produces the following output:
[code]

[2016-07-17 23:51] jemc commented on #1029
@killerswan - thanks for looking into it!  Let us know if we can do anything to help your efforts. :heart:

[2016-07-18 11:05] sylvanc commented on #1029
Yes, thank you @killerswan! And also thank @MikeMcQuaid for prodding us. And also thanks for Homebrew :)

[2016-07-18 15:22] Theodus commented on #1010
Either I'm doing it wrong or DoNotOptimize does not observe the given value. Here is an example:
[code]
It produces the following output:
[code]

[2016-07-18 15:23] Theodus commented on #1032
moved to #1010

[2016-07-18 15:23] #1032 closed

[2016-07-18 20:09] Theodus commented on #1024
I'll go ahead and implement this.

[2016-07-18 20:32] Theodus commented on #1024
Should files named `test.pony` be renamed to `main.pony` or should they remain as `test.pony`?

[2016-07-18 20:44] jemc commented on #1024
IMO they should be `main.pony` for consistency (and to follow the RFC directly), but someone else may have a different opinion (in which case they may want to amend/extend the RFC).

Personally, I would prefer to have tests each be in a subpackage as I advocate for #625 and #588 and on the mailing lists.  That would totally avoid this as a possible confusion problem, since the filename of the `Mai

[2016-07-18 20:49] Theodus commented on #1024
I will rename them to `main.pony` and avoid the question of test placement at this time.

[2016-07-18 23:08] Theodus commented on #1024
resolved by #1034

[2016-07-18 23:10] Theodus commented on #1008
resolved by #1034

[2016-07-19 02:10] #1024 closed

[2016-07-19 02:10] #1008 closed

[2016-07-19 15:13] Praetonus commented on #1010
@Theodus There are 2 issues here.

- `DoNotOptimise.observe` is about writes to the content of an object, not aliases for that object. Since the content of a numeric primitive is an immutable number, there are no writes involved. Your loop should be like this:

[code]

- `Fib(5)` is constant and the result is computed at compile-time (it's constant propagation). This means your loops will look lik

[2016-07-19 15:26] Theodus commented on #1010
@Praetonus Thanks for the explanation, I expected that I may have done something wrong :).

[2016-07-19 16:02] jemc commented on #1010
I'm going to close this issue, since the work is done, but it can be reopened if there is a need to do so.

[2016-07-19 16:02] #1010 closed

[2016-07-19 18:41] #1018 closed

[2016-07-20 19:51] cquinn commented on #471
I have the bulk of this coded up now, and just need to write some more tests.

I took the tact of writing a more full-featured cli package, like Golang's Kingpin (https://github.com/alecthomas/kingpin) or CodeGangsta's CLI (https://github.com/urfave/cli). The flags and args parsing can be used standalone by only creating the one root CommandSpec to hold the flag and arg specs.

I'll write up an RF

[2016-07-20 19:58] Praetonus commented on #1012
This is done.

[2016-07-20 19:58] #1012 closed

[2016-07-20 20:06] SeanTAllen opened #1040 "Rename main.pony tests to _test.pony"
to follow RFC.

[2016-07-20 20:26] SeanTAllen opened #1041 "RFC: http-status"
see the RFC: https://github.com/ponylang/rfcs/pull/18

[2016-07-20 20:49] SeanTAllen commented on #1040
Closed by #1042

[2016-07-20 20:49] #1040 closed

[2016-07-20 21:35] #1041 closed

[2016-07-20 22:40] cquinn commented on #471
My implementation is here: https://github.com/cquinn/ponycli
I still need to add some docs.

[2016-07-20 23:20] Praetonus opened #1045 "Link error caused by PR #1037 on Archlinux"
ponyc fails at link stage with:

[code]

The compiler tries to use `x86_64-linux-gnu-gcc` but the platform-specific gcc on my machine (Archlinux 64 bits) is `x86_64-pc-linux-gnu-gcc`.

Also, I'm usually using clang around ponyc and using gcc here is impractical for various reasons.

I think trying to infer platform-specific stuff contains lots of edge cases such as this one. Perhaps a better solut

[2016-07-20 23:26] jemc commented on #1045
Yeah, I'd tend to agree, which is one reason why I said that #1037 was outside of my expertise on the sync call.

[2016-07-20 23:39] SeanTAllen commented on #1000
@pdtwonotes are you using regexes in your app?

[2016-07-21 02:37] pdtwonotes commented on #1000
No regexes.  I do use the json package pretty extensively, both coding and decoding.  Also UDP and TCP comms.   Does the entire test suite get run on 32b ARM platforms?  If not, I could do that and see what happens.

[2016-07-21 02:45] SeanTAllen commented on #1000
There was a bug fixed with pcre2 recently that was clobbering some memory for the scheduler. Thus my question. As far as I can remember, the entire test suite runs on on ARM 32bit.

[2016-07-21 15:50] sylvanc commented on #1045
Ouch, that's my fault for merging it. I thought the compiler name was deterministic.

[2016-07-22 13:49] wizeman commented on #1045
I ran into exactly the same issue on NixOS Linux:
[code]

[2016-07-22 14:00] wizeman commented on #1045
As a workaround, I have reverted commit 31222953a9cbaca0e83cb1b51d5ab26530605145 on my local git clone. This made the issue disappear for me.

[2016-07-22 14:10] jemc commented on #1045
@dipinhora - can we revert your commit on master to avoid causing this trouble for our users, then figure out separately how to fix your problem in a way that doesn't cause problems for others?

[2016-07-22 15:08] dipinhora commented on #1045
Ouch. Sorry about that.

Yes, please revert the change @jemc.

I was initially thinking along the lines of an extra argument to override the linker but then found a deterministic pattern for naming of GCC on Ubuntu. My fault for not confirming it was the same pattern on other Linux variants.

I'll submit another PR to override with a command line argument instead.

[2016-07-22 15:30] Theodus opened #1048 "assertion failure"
When compiling the standard library on one of my branches of ponyc I got this error:
[code]
I have gone through every package individually and they have all compiled and every test has passed. This only occurs when all packages are compiled at once. I am using the most current version of the compiler and no modifications have been made anything other than the standard library.

[2016-07-22 16:42] jemc commented on #1045
Reverted in #1049.

[2016-07-22 16:42] #1045 closed

[2016-07-22 21:53] SeanTAllen commented on #1048
@Theodus what platform and llvm are you running on?

[2016-07-22 21:59] Theodus commented on #1048
I have tested this on OSX 10.10.5 with llvm 3.6.2 and on Ubuntu 16.04 with llvm 3.8.0, both give the same result.

[2016-07-22 22:59] SeanTAllen commented on #1048
@Theodus is your branch up to date? On OSX with llvm 3.8.0, I dont have this problem.

[2016-07-22 23:07] Theodus commented on #1048
I'm 5 commits ahead of the master branch of ponyc. I have made some modifications to string formatting, but these modifications seem to have uncovered some issue in the compiler. I'm trying to figure out what combination of packages being compiled is causing this.

[2016-07-22 23:14] SeanTAllen commented on #1048
Awesome. Let us know when you figure it out. I'm going to close this issue under the expectation that you'll have a new one coming.

[2016-07-22 23:14] #1048 closed

[2016-07-23 14:00] Praetonus opened #1050 "Using control flow instructions in parenthesis suppresses error checks"
[code]

This code should result in an error (`use return only to exit early from a method, not at the end`) but produces the following invalid LLVM IR.

[code]

`ret` is a terminator instruction and should only occur as the last instruction of a basic block.

This issue exists for all control flow instructions (`return`, `break` and `continue`).

[2016-07-23 14:16] Praetonus commented on #1050
I know what the problem is, I'll take this one.

[2016-07-23 21:33] Praetonus commented on #966
I've looked into it, the problem is that since the `ifdef` block is the last expression of a constructor, its result is considered unneeded and is discarded at codegen. I think I know how to handle that, I'll take this one.

[2016-07-23 23:37] Praetonus commented on #736
Closing since that would require a RFC.

[2016-07-23 23:37] #736 closed

[2016-07-24 21:58] npruehs opened #1059 "Windows paths with spaces cause -p option to fail"
I am trying to build a Pony program that relies on an external library. The library resides in a folder which contains spaces on a Windows 10 system.

The following compiler call causes an error:

[code]

Moving the file requested by the linker to a directory without spaces resolves the issue.

I'm using ponyc 0.2.1-955-g4eb42e2 [release].

[2016-07-25 15:02] jemc commented on #1059
Can someone with a Windows setup look into this?

[2016-07-26 19:31] npruehs commented on #1059
Update: The issue still persists in the latest compiler version built from source.
0.2.1-1016-ga309b6c [release]

[2016-07-26 22:44] Praetonus opened #1062 "The reachability pass is duplicating a lot of AST nodes"
The reachability pass is very slow and is allocating lots of memory (about 2GB when building the standard library unit tests). This seems to be caused by the frequent duplication of AST nodes.

In profiled runs, the `ast_dup` function took about 60% of the total execution time.

[2016-07-27 16:25] kulibali commented on #1059
@npruehs can you run Pony with -V3 and post the output here?  I tried with a new DLL and it worked fine for me.

    use "lib:NativeLib"

    actor Main
      new create(env: Env) =>
        let n: I32 = @fnNativeLib[I32]()
        env.out.print("n is " + n.string())

When I compile with

    ponyc.exe -V3 -p "..\Native Lib\x64\Debug" .

I get the following output, and it links and runs fine.

[2016-07-27 19:34] #1050 closed

[2016-07-27 19:38] #635 closed

[2016-07-27 19:39] #966 closed

[2016-07-27 19:41] #744 closed

[2016-07-27 19:56] sylvanc commented on #1062
Good catch. I think the problem is `reach.c:230`, where the entire reified function is dup'd. This is needed for code generation, but we could hold off and do it during codegen, such that only one reified function is dup'd at a time, to significantly reduce memory usage.

[2016-07-27 21:03] npruehs commented on #1059
I did, and it seems like it is ignoring the path completely:

[code]

Supplying multiple paths with -p is supported, right? Unfortunately, I'm running out of time for now, but I'll take a look at it again tomorrow. Maybe it's somehow related to the path being on a different drive.

I also double-checked the directory exists. The compiler does not complain if it doesn't, which it should maybe?

[2016-07-27 23:04] #728 closed

[2016-07-27 23:06] Praetonus commented on #810
Implemented in ab98037.

[2016-07-27 23:06] #810 closed

[2016-07-27 23:37] kulibali commented on #1059
Turns out it isn't the spaces, it's the parentheses.

[2016-07-27 23:39] kulibali commented on #1059
There's also a couple more bugs I found just now that I'll work on fixing:

 - There's a bug in the code that looks for the latest Windows SDK.
 - We should also link ucrt.lib by default with a Windows 10 kit.

[2016-07-28 02:44] mkfifo commented on #870
bumping to sub myself.

[2016-07-28 02:44] mkfifo commented on #1023
bumping to sub myself.

[2016-07-28 02:45] mkfifo commented on #725
bumping to sub myself.

[2016-07-28 03:18] Perelandric opened #1076 "Improve error message when trying to access tuple member directly on union of tuples"
The following code creates a type `Foobar` that is a union of two similar tuples. It then creates a value of that type and attempts to directly access a member of the tuple without first disambiguating the type.

[code]

This produces the following error messages:

This is a little confusing and makes it look like there's a bug in the compiler. Perhaps a more specific message about accessing field

[2016-07-28 04:31] Perelandric opened #1077 "Segmentation fault in compiler when `for-in` loop has `continue` in an `else` branch."
The following reduced example results in a seg fault.

[code]

Writing ./test.o
Stack dump:
0.	Running pass 'Function Pass Manager' on module 'test'.
1.	Running pass 'Exception handling preparation' on function '@Main_tag_create_oo'
Segmentation fault

It seems to require both a `break` and `continue` in the branches of an `if-else` or a `match`, within a `for-in`.

Compiling the above example wit

[2016-07-28 04:34] Perelandric commented on #1077
The version that fails without the `-d` option requires a `match` instead of `if-else`.
[code]

Stack dump:
0.	Running pass 'Simplify the CFG' on function '@Main_tag_create_oo'
Segmentation fault

[2016-07-28 04:45] Perelandric commented on #1077
Seems the `break` doesn't contribute to the issue after all, and substituting `None` for `continue` fixes the problem, so I guess that's the culprit.

[2016-07-28 06:10] npruehs commented on #1059
Nice, thanks for the fix! Will test later and close the issue!

[2016-07-28 11:38] Praetonus commented on #1077
I found the problem and this is my fault, sorry for that. The problem is that in cbc6b11, the lifetime informations are sometimes inserted at the wrong place, resulting in invalid LLVM IR.

[2016-07-28 15:48] #1059 closed

[2016-07-28 18:55] SeanTAllen commented on #870
@mkfifo does that mean you are working on this?

[2016-07-28 19:38] #1077 closed

[2016-07-28 21:11] npruehs commented on #1059
Just built ponyc 0.2.1-1028-g09c9420 [release] from source and it works like charm :) Thank you!

[2016-07-29 13:20] Praetonus opened #1083 "The wrong version of compile_intrinsic box functions is called"
At codegen, multiple versions of functions with a receiver capability of `box` are generated, one for each receiver capability in `box`, `ref` and `val`. The correct version is then called depending on the reference capability of the receiver in the caller.

All of this works fine for normal functions but not for `compile_intrinsic` ones, as the `box` version is called in all cases.

[2016-07-30 02:31] Theodus commented on #923
I can confirm on Ubuntu 15.04 and 16.04 (both 64-bit)

[2016-07-30 03:24] mkfifo commented on #870
@SeanTAllen I would like to give this one a go, although I don't want to put anyone else off from trying.

In general when I bump something it doesn't mean I'm doing it, but that I could be interested in doing it when I have time (I'm keen to contribute more to pony - just have to find some interesting low-hanging fruit).

I had a quick look at this the other day and figured out where the generic

[2016-07-30 03:36] mkfifo commented on #870
Test case

[code]

should instead say something like "syntax error: fields must declare their type"

[2016-07-30 04:25] mkfifo commented on #870
Have created PR #1086 to attempt to resolve, message is now

"syntax error: expected mandatory type declaration on field after fur"

Please let me know what you think.

[2016-07-30 05:46] mkfifo commented on #725
First pass attempt in #1087, feedback welcome :)

[2016-07-30 06:12] mkfifo opened #1088 "String class useability concerns"
When working on #1087  it was clear how... painful? the String class is to use.

I can easily make one, but as soon as I want to take it apart it becomes very difficult to use.

## Characters
Getting a single 'character' out
[code]

How am I meant to take the 'character' I get from applying String and produce an actual representation of that character?

## Substring
How can I get a substring rangi

[2016-07-30 06:22] mkfifo commented on #725
Still need to add examples showing how encoding works, how accessing characters works

Not entirely happy with substring behaviour.

Filed #1088

[2016-07-30 11:03] SeanTAllen commented on #1005
I reopened this issue because this was only half the fix for this @jemc and @Theodus.

The change to take the process monitor in the notify that @Theodus did is part of this however, this is for adding `expect` to process monitor handling and that wasn't implemented.

[2016-07-30 11:27] sparrisable opened #1089 "Misspelled "create()", spelled as "crate()" gives an "Adress boundary error""
Program:
[code]

Terminates the compiler (pulled and compiled 2016-07-30 0.2.1-1030-g4a47eec):

I stumbled on this error when I misspelled the "create()" function with "crate()", I expected an error message not an "Adress boundary error".

Thank you for a very interesting compiler.

[2016-07-30 14:28] Perelandric commented on #1088
Since a string is really an array of `U8`, not of characters, you'd need to do this manually since there is no designated encoding in the `String` type. Having a `U8.string()` return something other than its own numeric representation would be confusing.

I would imagine the string formatter param to `.string()` gives you an option to set a UTF encoding, but I don't know. In the meantime `String.f

[2016-07-30 20:15] #870 closed

[2016-07-31 03:19] mkfifo commented on #1088
From a user's POV this is frustrating, as far as I am concerned when I created the string I had the encoding information, but when I pull out 'characters' I no longer have the information.

here the 4th character is clearly 'o', and I would like to be able to perform operations on this without having to specify an encoding - just like how I was able to construct the String without specifying an en

[2016-07-31 04:48] Perelandric commented on #1088
You definitely still have the encoding information, but getting the display you want is another matter. Isn't it just the reality of character encoding beyond ASCII? Specifying an encoding seems like a necessity if strings are to be encoding agnostic.

In your example, you're taking for granted that the 5th character fits into 8 bits. But what if the string had multi-byte characters?

[code]

Now

[2016-08-01 14:40] Praetonus commented on #1089
Thanks for the report.

The problem is in `codegen/genexe.c`, line 382. We have to pass `c->opt` instead of `NULL` to `lookup`.

[2016-08-01 15:40] #1089 closed

[2016-08-01 18:00] Theodus commented on #937
I can confirm the Segmentation fault result on Linux Mint 18 with the latest version of ponyc (1e96984) and llvm 3.8.0

[2016-08-01 18:08] Theodus commented on #937
Running lldb gives this result:
[code]

[2016-08-01 21:33] JONBRWN opened #1092 "Segmentation fault: 11 using regex package"
ponyc version: `0.2.1-1033-g1e96984 [release]`
llvm version: `3.8.0`
pcre2 version: `10.20`
OS: `OSX 10.10.5`
Processor: `2.5 GHz Intel Core i7`
Memory: `16 GB 1600 MHz DDR3`

When running the following code, it always exits with `Segmentation fault: 11`.
If the commented line of  `env.out.print(updated_d)` is added, odd strings are printed out and the process hangs
[code]

Works as expected when

[2016-08-01 22:27] aturley commented on #1092
I banged on this for a little while. It looks like the value of `len` is getting set to some outlandish value here: https://github.com/ponylang/ponyc/blob/master/packages/regex/regex.pony#L120. If I ignore that value and initialize the array with a more reasonable value then the problem goes away.

But as @JONBRWN mentions, it seems to work fine when you debug it.

[2016-08-02 01:44] killerswan commented on #1029
Worth mentioning, for @MikeMcQuaid: there's some stuff on https://github.com/ponylang/ponyc/pull/1064 now where we're trying to get ready for better release mgmt. 😸

[2016-08-02 01:47] aturley opened #1093 "setting string precision with hex formatting results in incorrect string"
The following program prints out `    000xF`:

[code]

I would have expected `    0x00F` or even maybe `  0x0000F`.

[2016-08-02 06:48] sparrisable commented on #1089
Thanks!!

[2016-08-02 09:48] MikeMcQuaid commented on #1029
Thanks @killerswan!

[2016-08-02 12:55] Praetonus commented on #903
The problem is that we have to reject `TK_FUNTYPE` in `is_x_match_nominal`.

[2016-08-02 13:25] Praetonus commented on #876
@Perelandric This seems nice but I think it would require a RFC, as it introduces new syntax.

[2016-08-02 13:40] Perelandric commented on #876
@Praetonus You're right. I'll do an RFC in a day or so.

[2016-08-02 15:34] #1093 closed

[2016-08-02 18:50] Praetonus commented on #876
@sylvanc After digging into it, I'm not sure if allowing `_` as an identifier and sugaring it to `TK_DONTCARE` really is the best solution. Doing that would introduce a lot of invalid cases (type names, function names, `_` in an expression, etc) and I think checking for those cases would be less straightforward than keeping `TK_DONTCARE` in the grammar and allowing it only where we want it.

[2016-08-02 19:04] jemc commented on #876
@Praetonus - if you feel it's not helpful or feasible to proceed that way, I trust your judgment.  We can discuss this further in @Perelandric's forthcoming RFC.

[2016-08-02 22:07] SeanTAllen commented on #1088
String is probably going to be rewritten, there's been lots of noise around that for a while.

[2016-08-02 22:39] Perelandric commented on #1088
@SeanTAllen Would that mean that I could use string functions on a `Array[U8]`, for example? That would be super. Tonight I'll be reading up on what Erlang does for sure.

[2016-08-03 00:09] Perelandric commented on #876
@Praetonus, @jemc, et al, here's the [RFC](https://github.com/ponylang/rfcs/pull/25).

[2016-08-03 07:53] sparrisable commented on #1088
I got curious about the string handling in Erlang and found the following quote regarding performance (from https://erlangcentral.org/wiki/index.php?title=String_Basics):

The advantage seems to be:

I am a hobby user that so far have been pleasantly suprised with pony and really like your philosophy:

So to me, I would think that the Erlang string representation might not be the best fit for pony

[2016-08-03 12:19] SeanTAllen commented on #1088
@sparrisable you are reading an awful lot into what I said.

I said nothing about using 8 bytes rather than 8 bits for characters.

I have endorsed nothing beyond:

"Its binary and you have different functions to work on it.

A string becomes a view with encoding onto the underlying data."

That's it.

[2016-08-03 12:48] SeanTAllen opened #1097 "Incorrect handling of Array data in String.from_array"
Here is a sample program:

[code]

You would expect this to print "OK" but it doesn't because of a bug in size handling in String.from_array. In the block that handles null terminated arrays, it should set size to size - 1 before exiting as the last element is a null terminator and pony doesn't count that as part of string length.

Note that fixing this bug results in a test elsewhere that fails a

[2016-08-03 14:17] Theodus commented on #1097
@SeanTAllen The problem should be solved by s5 having an extra `U8(0)` for the null terminator created by String.from_array

[2016-08-03 14:18] sparrisable commented on #1088
@SeanTAllen thanks for your clarification, I suspected that I had misunderstood the discussion.

[2016-08-03 15:08] Perelandric commented on #1088
@sparrisable Thanks for doing that research. Interesting information and concerns worth bringing up.

[2016-08-03 15:52] SeanTAllen commented on #1097
@Theodus agreed. BUT... I want to bring it up for discussion because maybe I'm missing something. I don't think I am, but I might be.

[2016-08-03 16:02] SeanTAllen commented on #1097
I believe this would be correct:

https://github.com/Sendence/ponyc/commit/4ead6e06bd3f1e0fa24cb2df29ebb984307a8169

[2016-08-03 16:08] aturley opened #1099 "`String.from_array` does too much"
I mentioned to @SeanTAllen yesterday with respect to #1097, that I think `from_array` is trying to do too much. I could see a few possible ways to improve the API:
* make `from_array` assume that the entire array it has received should become a `String`, and create a new method (`from_carray`?) that assumes it is dealing with a null-terminated array
* change `from_cstring` to take either a `Pointe

[2016-08-03 16:12] SeanTAllen commented on #937
out of curiousity. @Theodus could you apply

https://github.com/Sendence/ponyc/commit/4ead6e06bd3f1e0fa24cb2df29ebb984307a8169

and run this again and see if the bug still exists. I assume it does, but... I'm wondering if it might fix. Mostly shot in the dark.

[2016-08-03 16:56] SeanTAllen commented on #1099
I disagree with this. The proposed change would involve calling different methods rather than from_array based on whether the array is null terminated. The null termination is only important as an implementation detail in String and shouldnt be pushed up into user code to check to see if a particular array or slice on an array/byteseq is null terminated in order to call the "correct" method. It ma

[2016-08-03 17:37] Theodus opened #1101 "Unclear error message when reassigning tuple fields"
When reassigning the field of a tuple like so:
[code]
you get the following error message:
[code]

I know that this is explained in the tutorial, but I think that this message should be more clear, maybe `cannot reassign an element in a tuple`.

[2016-08-03 17:53] Theodus commented on #937
@SeanTAllen, it made no difference. Worth a shot though.

[2016-08-03 18:16] Perelandric commented on #1097
I think much of the String package likely needs a review. Looking at some of the methods, I see conditions that are `_size < _alloc`, which should always be true, since `_alloc` should always be at least `_size + 1`.

The `compact()` method is one such example, that can be demonstrated with the following example:

[code]

The output shows:

0 18446744073709551615

[2016-08-03 18:27] Praetonus commented on #1097
@Perelandric Looks like I forgot about the null terminator when I implemented `compact`, sorry for that. I'll fix it.

[2016-08-03 18:35] Perelandric commented on #1097
@Praetonus No problem at all. Didn't mean to do any finger pointing. Mostly was just saying that it may not be a bad idea to go over some of these methods. I was about to do a fix for `compact()`, but if you're on it, I'll let you handle it, and I'll look around for anything else that stands out.

[2016-08-03 19:24] aturley commented on #1099
How Pony represents a `String` internally is an implementation detail that should not be exposed to the programmer, but whether or not a byte array that you want to turn into a `String` is null-terminated is definitely a detail that I would expect the programmer to be aware of, so I think it makes sense from an API perspective to specify how they want to handle that array when turning it into a `S

[2016-08-03 19:52] #903 closed

[2016-08-03 20:00] jemc commented on #1092
This could be a bug in one of our optimization passes, since the given `len` line @aturley pointed to holds a garbage value when not run in debug mode.

[2016-08-03 20:09] killerswan commented on #1099
I'm just glad to see the whole conversation so far isn't about gofmt. 😉

[2016-08-03 20:50] aturley commented on #1099
After some discussion with @SeanTAllen and looking some of the other `String` methods, I've decided that while I don't think `from_array` does what I'd expect, I also think it's tied up to some larger problems with `String` in general.

I'm going to close this out and refer anyone who has an opinion to https://github.com/ponylang/ponyc/issues/1088 and the mailing list discussions of how we can imp

[2016-08-03 20:50] #1099 closed

[2016-08-03 21:03] Praetonus commented on #1092
So this one is coming from me in cbc6b11. `llvm.lifetime.start` should precede any store.

[2016-08-04 00:53] Theodus commented on #1005
I'm going out of town for a couple of days. If this is not resolved when I get back, then I'll get back to it.

[2016-08-04 10:50] SeanTAllen commented on #1101
I think this shows the issue a bit better:

[code]

[2016-08-04 11:05] SeanTAllen opened #1105 "RFC: change location of ReadBuffer and WriteBuffer classes"
See RFC: https://github.com/ponylang/rfcs/blob/master/text/0007-buffers.md

[2016-08-04 12:50] #1092 closed

[2016-08-04 13:57] SeanTAllen commented on #1092
@JONBRWN can you try the latest pony compiler and verify this is fixed for you?

[2016-08-04 18:17] SeanTAllen commented on #1097
@jemc thoughts on this in light of the trim PR? append and from_array do very weird and different things with null terminators. from_array is currently broken but changing it would make it act different than append.

[2016-08-04 19:37] jemc commented on #1097
@SeanTAllen - in light of the trim PR, I'd suggest making `from_array` and `append` *not* do any null-terminator adding.  That is, since strings now have the possibility of not being null-terminated, and there are recommended methods for using in all FFI calls that require null-terminated strings, I think we can make these two methods work in a more straightforward way by ditching the adding of an

[2016-08-04 20:48] JONBRWN commented on #1092
@SeanTAllen verifying that this is now fixed, thanks @Praetonus

[2016-08-06 00:00] Perelandric commented on #937
I get the same behavior, and using `DiscardLog` or removing logging altogether from the HTTP package makes no difference.

I'm on LinuxMint 17.3 with LLVM 3.6.

I did some digging, and was able to eliminate the seg fault by screwing around with the code in the `received()` method in `_request_builder.pony`. My edits wouldn't be correct code, but the nature of what does and does not eliminate the s

[2016-08-06 01:41] SeanTAllen opened #1108 "Array performance issue"
If you look in Array.append, you can see it wisely does the follow:

[code]

To make sure there is enough room in the Array for the items to be appended. It then goes on to call `push` to do the appending:

[code]

And therein is our problem because `push` does the following:

[code]

it attempts to reserve again for each value pushed onto the array by `append`. Thankfully it won't reserve additio

[2016-08-06 02:05] jemc commented on #1108
Seems fairly straightforward to use `_ptr._update` directly in `append` to fix that method (and then follow up by setting `_size` once at the end).

Not sure if we can do anything about the case of the user calling `push` a bunch of times?

[2016-08-06 03:12] SeanTAllen commented on #1108
I've done some awful things to temporarily get past this so I could get to deeper perf issues. I like the append idea. In my hacked up version, `push` takes a flag that will let you skip the safety check. Which honestly helps a good amount if you are doing push a ton in tight loops (which we are). That doesn't feel like a good general purpose solution and I'm open to Sendence running with a custom

[2016-08-06 03:45] jemc commented on #1108
@SeanTAllen - I will prepare a quick PR now that fixes `append`.

For the areas where you are calling `push` in a loop - can you use `Array.concat` instead (with an iterator, and a size)?  I'm pretty sure I can make the same improvement to `concat` that I'm about to make to `append`.

[2016-08-06 04:10] SeanTAllen commented on #1108
@jemc probably. i didn't spend much time thinking about it, i just shoved the issue out of the way so i could dig into lower level issues. i'll give it a go sometime this weekend and see how that works out.

[2016-08-06 04:11] SeanTAllen commented on #1108
Thank you very much for the PR @jemc. I only opened this to get feedback before I did a fix this weekend. I wasn't expecting anyone else to step into the breach.

[2016-08-06 04:21] jemc commented on #1108
What can I say, the :baby: is asleep *and* I actually have enough :zap: left from the day to contribute to Pony tonight - this turned out to be a PR of about the perfect size :smile:.

[2016-08-06 10:28] SeanTAllen commented on #1105
Closed by #1107

[2016-08-06 10:28] #1105 closed

[2016-08-06 15:30] #1108 closed

[2016-08-08 04:49] wilbertom commented on #557
Is anyone working on the RFC for this issue? I'd like to take a crack at it if not.

[2016-08-08 06:39] mkfifo commented on #557
Just adding in my 2c as I am going through the same issue in a toy language I am designing and I am interested in how others are solving this.

It seems to me that pony currently has 2 inconsistencies here:

1. `op_` prefix for keywords: `and` -> `op_and`
2. "pronunciation" for symbols: `+` -> `add`

I think my ideal solution would be

1) convert all symbols to pronunciations (`+` -> `add`)
2) use

[2016-08-08 06:54] wilbertom commented on #557
I would cross out the Python style even though I like it in Python since underscore methods in Pony are private, and we want this to be legal: `x.add(y)`.

I think making `and`, `or`, and `xor` valid method names would make the most sense even though it would require more work on the compiler.

[2016-08-08 06:55] wilbertom commented on #557
So basically :+1: on @mkfifo.

[2016-08-08 07:17] mkfifo commented on #557
@wilbertom fwiw I also dislike the Python semantics as far as Pony is concerned, mentioned just because it is one of the approaches out there (I tried to find a sampling of a few different approaches from well-known languages).

[2016-08-08 07:49] Perelandric opened #1118 "Segmentation fault when actor receives a reference to itself via a class created in a different actor."
**_EDIT:**_ Skip down to https://github.com/ponylang/ponyc/issues/1118#issuecomment-238431412 to see the most reduced example of the issue.

---

I gutted the HTTP server down to this, which I think is a reproduction of the seg fault in #937. I kept the original type names so that they could be somewhat related back to that package if necessary. Seems to have something to do with the partial funct

[2016-08-08 15:35] Perelandric commented on #1118
Here's a further reduced example:

[code]

If I change the `dispatch` method to this, it compiles:

[code]

but if I leave off the `: (ResponseHandler | None)` on the `x` declaration, it complains of capture violations, but if I then make it recover to `val`, it again compiles.

[code]

[2016-08-08 15:57] Perelandric commented on #1118
Given that last bit of info, I can reduce it just a bit more:

[code]

Note that if I create the `Payload` directly in `dispatch` instead of passing it from `do_it()`, we don't get the seg fault. Same if I eliminate `_ServerConnection` and put all its methods right in `Test`.

[2016-08-08 16:32] Perelandric commented on #1118
We really don't need the partial function at all. The same seg fault can be found by having `Payload` directly reference the `_ServerConnection` object.

[code]

[2016-08-09 00:57] SeanTAllen commented on #1118
So this last 8 line example is enough on its own to cause a segfault? Nicely narrowing of the issue down @Perelandric

[2016-08-09 00:58] SeanTAllen commented on #1023
@jemc should this be closed now?

[2016-08-09 01:00] SeanTAllen commented on #996
see #1118. @Perelandric has been doing some excellent sleuthing related to this issue. Closing this issue in favor of that one.

[2016-08-09 01:00] #996 closed

[2016-08-09 01:53] Perelandric commented on #1118
@SeanTAllen Thanks, and yes, with the `Main` and `Test` actors from the example above it, it should reproduce the seg fault. I'll put a full version of the smallest example in this comment.

It'll be interesting to see if this actually fixes the httpserver example. There was some other odd behavior that I noted in issue #937 which is where my investigation began, but this is certainly a piece of t

[2016-08-09 02:36] SeanTAllen commented on #1118
Have you tried running a debug version in LLDB to see what is causing the segfault?

[2016-08-09 02:59] Perelandric commented on #1118
@SeanTAllen Never used LLDB but this'll be as good a reason as any to tinker. I'll see if I can give it a shot tomorrow.

[2016-08-09 05:26] jemc commented on #1023
Come to think of it, we're still missing some of the ["how do we teach this" points](https://github.com/ponylang/rfcs/blob/master/text/0004-string-array-trim.md#how-we-teach-this), I think.

[2016-08-10 16:13] Praetonus commented on #557
@wilbertom I'm not aware of any work on this at the moment. I think you can go for it.

[2016-08-11 20:29] Praetonus opened #1123 "Capability violation with tuple recovery"
From today VUG presentation.

[code]

This program compiles but is clearly wrong (`ref` and `val` aliases to the same object).

[2016-08-11 23:50] jemc commented on #1123
#1124 is intended to fix this bug by disallowing tuple recovery in all cases, but I personally wouldn't want to see this happen unless we're sure this is the best solution.  I think there are lots of legitimate places where we can recover tuples, and indeed - cases where recovering tuples is the only sane way to recover multiple objects that have to be constructed in the same block, or are otherwi

[2016-08-12 19:26] Theodus opened #1125 "Segfault on lambda capture"
The following code causes a segfault when compiling:
[code]
But the following doesn't:
[code]

[2016-08-13 11:57] Praetonus commented on #1125
The problem is in `expr/lambda.c` line 64. The function should check if `ast_type(value)` is valid before using it. This is because an invalid expression has no type in the compiler.

[2016-08-13 16:38] Praetonus commented on #1083
The problem comes from `box_function` in `codegen/genprim.c`. When generating `ref` and `val` versions, the already generated `box` version is reused as is. It was fine back when that decision was made since the generated code for different receiver capabilities of the same `compiler_intrinsic` didn't have to be different. However, this is no longer the case since 12ca5ac so the generation of the

[2016-08-14 12:06] shawnye opened #1129 "unable to link: no vcvars"
I have `vs2010 ` express installed and `cl` is OK

Then I'm starting my first pony program from [tutorial](http://tutorial.ponylang.org/getting-started/hello-world.html), compile ok but link failed:
<pre>
g:\dev\pony\test>ponyc
Building builtin -&gt; e:\yexy6\ponyc\ponyc-master-0.2.1-1328.d6f759a-win64\packages\builtin
Building . -&gt; g:\dev\pony\test
Generating
 Reachability
 Selector painting

[2016-08-14 16:21] SeanTAllen commented on #1129
@kulibali any ideas?

[2016-08-14 17:00] kulibali commented on #1129
The compiler only knows about VS2013 and higher.

[2016-08-17 20:11] jemc opened #1131 "Audit use of Seq and try to make it less restrictive."
As discussed on the sync call, we want to audit the `Seq` interface, as it currently contains a lot of methods that make extra assumptions about what kind of sequence is being dealt with, whether it has a fixed size, whether the underlying pointer can be resized, etc.

In the upcoming value-dependent type changes, we will have a `Vector` type with a fixed size that won't be compatible with `Seq` a

[2016-08-17 20:14] #1125 closed

[2016-08-17 20:26] sylvanc commented on #1083
You're absolutely right. What `box_function` does is now subtly broken.

[2016-08-18 19:41] toblux opened #1133 "Missing newline"
This simple program

[code]

sometimes outputs

[code]

instead of

[code]

Flushing `stderr` with `@fflush[I32](...)` before printing to it with `@fprintf[I32](...)` in https://github.com/ponylang/ponyc/blob/master/packages/assert/assert.pony#L27 resolves this issue, but I'm not sure if that's the best solution.

[2016-08-19 04:35] Theodus opened #1135 "Bad error message in with block"
Below is a bit of code followed by the compiler error message.
[code]
[code]
This error should only be shown once and it should not refer to `file` as `$1$0`

[2016-08-19 05:03] Theodus opened #1136 "strange behavior of embedded field assigned in a tuple"
This one is a bit difficult to explain.
[code]
The expected output of this program should be nothing since calling the `apply` method of `foo` should result in an error caused by trying to get index 0 of an empty array. But instead, it outputs a random 8-bit number. This doesn't happen when compiling in debug mode. Here is where things get weird.

Two things are required for this behavior to occur

[2016-08-19 09:06] sylvanc commented on #1133
`Fact` calls `@fprintf` synchronously, whereas `Stdout.print` is asynchronous. So there is no ordering guarantee between these. If you run your program using a single ponythread (`--ponythreads=1`) you should always get:

[code]

With more than one thread, the ordering is non-deterministic, including possibly getting interleaved output, depending on the `FILE` semantics of your local `libc`.

I th

[2016-08-19 09:22] toblux commented on #1133
I'm on OS X 10.11.6.

[2016-08-19 13:09] SeanTAllen opened #1137 "RFC: Ponybench"
see: https://github.com/ponylang/rfcs/blob/master/text/0008-ponybench.md

[2016-08-19 13:44] SeanTAllen opened #1138 "RFC: Copy Idiom"
see: https://github.com/ponylang/rfcs/blob/master/text/0009-copy-idiom.md

[2016-08-21 15:06] Praetonus commented on #1136
The code handling embedded field constructors in `codegen/gencall:gen_call` must be extended to work correctly with tuple assignment.

For debug vs. release, the generated code is wrong in both modes. It probably "works" in debug mode because allocated memory is zero-initalised.

[2016-08-21 16:03] nlalevee opened #1140 "Ponyc assertion failure in function ast_get_children on incorrect function pattern matching"
I have wrote incorrect code and ponyc was crashing. After further investigation and switching to the debug config of ponyc, I have found the issue in my code.
Here is some code to reproduce the issue:
[code]
Here is the ponyc output on my Mac with LLVM 3.7.1, build from source hash f333878d):
[code]

[2016-08-21 21:52] Praetonus commented on #1140
The problem is in `pass/casemethod:param_without_type`. We must duplicate the value AST instead of popping it from its parent because popping modifies sibling AST relationship, which screws up parameter counting in `process_params`, silencing an error and ultimately causing the segfault you're getting. That's a tricky one !

[2016-08-22 10:33] Triangle345 opened #1145 "Built in code completion"
This feature request is definitely a "nice to have" so I'm not expecting people to jump on this.

Currently pony has several syntax highlighting supported editors.  Highlighting is nice but a statically typed language really benefits from an IDE/Editor that has code completion/assistance.

One such way of pushing this is to offer built in code completion mechanics by the compiler itself such as th

[2016-08-22 11:27] CatEars opened #1146 "Segfault related to tuples not carrying type description"
I managed to encounter a segmentation fault, already reproduced with the help of doublec on IRC.

By compiling the following program and running it with `./program 1:2` I get a segmentation fault.

[code]

I expected the output to be

[code]

running `ponyc -v` yields `0.2.1-1064-gf333878 [debug]` and I use Ubuntu 16.04 as operating system. Thanks to doublec on IRC for recreating the issue and sim

[2016-08-22 11:41] doublec commented on #1146
It's not the split that's doing it. This demonstrates further:

    actor Main

      fun foo(args: String): (U32, (U32 | None)) ? =>
        let values: Array[String] = args.split(":")
        if values.size() == 2 then
          (values(0).u32(), values(1).u32())
        else
          (0, None)
        end

      new create(env: Env) =>
        try
          (let lstart, let lend) = foo("1:2")

[2016-08-22 13:33] Perelandric commented on #1146
This version of `foo` results in an error message:

[code]

    (let x, let y) = if true then

---

This version gives no error message, even though it's basically doing the same assignment via the call:

[code]

It seems like there's a check that's not being performed when the RHS of an assignment is a function call.

[2016-08-22 13:40] Perelandric commented on #1146
This version of foo results in an error message:

[code]

    (let x, let y) = if true then

This version gives no error message, even though it's basically doing the same assignment via the call:

[code]

[2016-08-22 15:15] Praetonus commented on #1146
The problem comes from the compiler not boxing a numeric primitive when it should.

The type of the `(1, 2)` tuple in LLVM is `{i32, i32}`, where `i32` is the type of a plain number. The type of `(1, None)` is `{i32, __object*}`, with `__object*` a pointer to a Pony object. The union type of these two tuples (`((U32, U32) | (U32, None))` in Pony) is `{i32, __object*}`. The second `i32` is boxed in

[2016-08-22 15:28] Perelandric commented on #1146
@Praetonus Oh, I see. I was thinking the compiler would make a union of the tuple's second position, resulting in `(U32, (U32 | None))`. Your explanation makes more sense. Thank you.

[2016-08-22 15:29] Praetonus commented on #1146
Whoops, it is indeed `(U32, (U32 | None))`, typo on my side.

[2016-08-22 16:00] nisanharamati opened #1149 "Segmentation fault when using `Serialised` with an empty array field"
When `Serialised` is used on an object with an `Array` field that is empty, this results in a segfault.
If the array field isn't empty, `Serialised` completes successfully.

To reproduce:
[code]

Backtrace:
[code]

[2016-08-22 21:24] #1140 closed

[2016-08-23 00:16] Steven-Wilson opened #1150 "Windows Hello world Link Error: cannot open 'ucrt.lib'"
On Windows with a fresh copy of **ponyc-master-0.2.1-1370.519fd3b** downloaded from bintray (latest at the time of reporting this issue) and extracted the files with 7zip as shown in the instructions.I get the following error message when trying to build the first example in the tutorial:
**LINK : fatal error LNK1104: cannot open file 'ucrt.lib'**

I believe I'm using the latest version:
E:\pony\e

[2016-08-23 00:41] Steven-Wilson commented on #1150
Installing the Windows 10 SDK solved my problem.  If anyone else finds this issue, the download for the windows 10 SDK is here: https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk

[2016-08-23 00:41] #1150 closed

[2016-08-23 01:57] Triangle345 opened #1153 "LINK : fatal error LNK1104: cannot open file 'ucrt.lib'"
On windows 10 I'm getting a linker error withe current master build from bintray

    PS C:\Users\user1\Downloads\ponyc-master-0.2.1\ponyc\bin\test> ..\ponyc.exe .
    Building builtin -> C:\Users\user1\Downloads\ponyc-master-0.2.1\packages\builtin
    Building . -> C:\Users\user1\Downloads\ponyc-master-0.2.1\ponyc\bin\test
    Generating
    Reachability
    Selector painting
    Data prototypes

[2016-08-23 05:30] jemc commented on #1153
Seems like this was resolved by #1151 - if not feel, free to reopen.

[2016-08-23 05:30] #1153 closed

[2016-08-23 14:18] jemc commented on #1149
I can reproduce.

[2016-08-23 14:25] jemc commented on #1149
Note that an empty `Array` does not allocate a pointer, and the underlying `_ptr` field is a null pointer instead of a valid one that points to a dereferencable address space.  My guess is that the serialise code has an implicit assumption that the pointer is dereferencable, which doesn't hold in this case.

Under this assumption, I had thought that adding a `a.reserve(1)` would ensure a valid poi

[2016-08-23 14:37] jemc commented on #1149
Note that `Array` and `String` have special-case serialisation functions, which are generated by [`genprim_array_serialise`](https://github.com/ponylang/ponyc/blob/1db13cec8acf34d6d612514ac0f66342d40369dc/src/libponyc/codegen/genprim.c#L756) instead of having their serialise method generated using a generic strategy for classes.

A few things to note about this code-generator function:

* [the `_a

[2016-08-23 14:38] jemc commented on #1149
I also wanted to note that there is a more minimal case for reproducing this - the `Array[U64]` does not have to be a field - it can be the top level data passed to `Serialise`:

[code]

[2016-08-23 15:07] jemc commented on #1149
I have to stop looking at this one for now - other work to get to.  I'll remove the "under investigation" tag and someone else can take a look if they like.

[2016-08-23 20:26] #1149 closed

[2016-08-23 20:27] jemc commented on #1149
@dipinhora thanks for finishing this up and taking care of this!

@nisanharamati thanks for the excellent bug report!

[2016-08-24 16:01] gds12 commented on #1123
I think I've figured out the most permissive way of doing this, which is more or less as we discussed in the call last week with a few amendments:

- If a tuple type only contains immutable capabilities or is only being recovered to an immutable type, recovery proceeds as normal (e.g. `let x: (Foo val, Foo box) = recover val (Foo, Foo) end` works as expected. Note this also includes that tag recov

[2016-08-24 16:21] jemc commented on #1123
I'd like to be able to allow this, but I'm not sure how this would be tested in practice.

Theoretically, it should be possible for the compiler to determine this, with the caveat that the no-sharing-of-fields would have to be enforced for every branch of conditional logic - the compiler can't know statically which branch will be executed at runtime, so all branches would have to be safe.

However

[2016-08-24 19:26] Praetonus opened #1156 "The for loop sugar generates bad code"
A `for` loop such as this one

[code]

is sugared as

[code]

This last code is very poorly optimised. Namely, iterating over an `Array` without modifying it doesn't result in range check elimination.

I'm not entierely sure why this is happening but it seems to come from the `continue`. With a default value instead, range checks are eliminated. I'm not sure if it would be possible to find another

[2016-08-24 19:39] #1137 closed

[2016-08-24 19:39] jemc commented on #1156
Here's a related question that may help us pin down the required pseudocode - to the extent that `has_next` and `next` overlap in the information they implement (when the iteration is done, `has_next` should return `false` and `next` should `error`) what are the correct program semantics when the two give conflicting information?

For example, what would be the "correct" behaviour in a for loop of

[2016-08-24 19:40] #1083 closed

[2016-08-24 19:51] SeanTAllen commented on #1097
Closing. This is no longer relevant due to from_array changes.

[2016-08-24 19:51] #1097 closed

[2016-08-24 20:00] SeanTAllen commented on #1129
@shawnye you need to use VS2015 per the README. VS2013 might work but it isnt supported.

[2016-08-24 20:00] #1129 closed

[2016-08-24 20:02] SeanTAllen commented on #1133
@toblux what version are you using of Pony?

[2016-08-24 23:43] Perelandric commented on #1118
@SeanTAllen One more observation: It seems if the parameter of the `answer()` method is `tag` or `iso`, there's no segfault. Only a problem with `val`.

[code]

[2016-08-25 04:08] killerswan opened #1157 "Travis (intermittently) stalls on OS X build jobs"
Well, I've noticed this once, and it's puzzling.  I cancelled this build after noticing the "Elapsed time 8 hrs 55 min 4 sec":
https://travis-ci.org/ponylang/ponyc/builds/154847479

In recent days it looks like there may have been similar OS X non-builds here:
https://travis-ci.org/ponylang/ponyc/builds/154821305
https://travis-ci.org/ponylang/ponyc/builds/154281474

I wonder what Travis' issue is

[2016-08-25 04:22] killerswan opened #1158 "release ponyc 0.3.0"
This evening, I'm eying the [`make release` target](https://github.com/ponylang/ponyc/blob/f0fa3fc0c7c128c05b2493e5231eed94289d8f01/Makefile#L638) with a wee bit of suspicion.

It conflates:
* editing the version file (`make setversion`) with
* compiling ponyc (`make prerelease`) with
* confirming this is the master branch and fully committed with
* tagging the commit with
* merging master onto th

[2016-08-25 04:22] SeanTAllen commented on #1157
I've seen this too

:(

[2016-08-25 04:24] killerswan commented on #1158
Re: step 1: decide which commit is golden...

* Master is currently ponylang/ponyc@f0fa3fc.
* On AppVeyor everything passed [here](https://ci.appveyor.com/project/ponylang/ponyc/build/ponyc-master-0.2.1-1387.f0fa3fc).
* On Travis...
* On Bintray...

[2016-08-25 04:26] killerswan commented on #1157
I wish we had logs for whatever's stalling there.  Probably I need to file an issue with someone at Travis.CI.

[2016-08-25 04:27] killerswan commented on #1157
But before I do that:
https://www.traviscistatus.com/

[2016-08-25 04:32] killerswan commented on #1157
What's happening today, at least, is not just us.  🎱

[2016-08-25 04:32] #1157 closed

[2016-08-25 09:16] toblux commented on #1133
@SeanTAllen I've tried both the latest release on Homebrew

[code]

and the current master branch.

[2016-08-26 09:53] lispmeister opened #1163 "File.sync call results in compiler abort"
The code below (which has a type and calls `sync` instead of `sync()` results in a
compiler abort:
[code]

Example code:
[code]

[2016-08-26 11:19] killerswan commented on #1158
Tomorrow.  But it looks like Travis is mostly [back in action](https://www.traviscistatus.com/)...

[2016-08-26 12:01] Perelandric opened #1164 "String.rfind does not find match when it's the last character."
`"foof".rfind("f")` results in `0` instead of `3`. Explicitly providing the string size as the `offset` parameter fixes it. `"foof".rfind("f", 4) == 3`

The default value of the `offset` parameter is `-1`, but there's no documentation for that parameter, so I don't know if it's meant to be exclusive, and if exclusive, I don't know what the default should be in order to not prevent matching on the

[2016-08-26 13:24] Praetonus commented on #1163
The problem comes from the various `is_x_sub_x` functions in `type/subtype.c`. These functions can be passed invalid types if the program contains errors and we have to check for those invalid types.

[2016-08-26 16:19] Praetonus commented on #1156
@jemc That's an interesting point. IMO, `next` should have the last word since it is producing the actual value. It would mean that `next` `error`ing marks the end of the iteration and that we should exit the loop. Replacing `continue` with `break` gives that behaviour and is nicely optimised, which solves the original issue.

We also have to find a value to return from the `break`. The iterated t

[2016-08-26 16:57] #1163 closed

[2016-08-26 17:10] jemc commented on #1164
There was a point in history when we decided ranges should be *inclusive*, where they were previously exclusive.  It could be that some of the weirdness you're finding is problems and unchanged issues that were leftover from that change.

[2016-08-26 17:18] Perelandric commented on #1164
@jemc Thanks. So the `-1` is currently considered inclusive, and the default offset of `-1` ought to include the last character of the string. If that's right, I'll put through a patch in a bit.

[2016-08-26 18:20] #1101 closed

[2016-08-26 18:23] Perelandric commented on #1164
@jemc: Sorry to bother, but should this succeed?

[code]

The current implementation of `rfind` would not find `"bar"` because it subtracts out the `.size()` of the search pattern from the offset, so you'd have to pass `6` to account for the subtraction. This seems wrong to me but I don't want to change the behavior without confirmation.

[2016-08-26 18:39] jemc commented on #1164
I'd expect 3 and 6 to behave the same way, since they'd both point to characters beyond the edge of the string.  But maybe I'm misunderstanding.

[2016-08-26 18:42] Perelandric commented on #1164
@jemc Right, I'd expect them both to find the match because `3` points to the first character in `bar`, irrespective of the fact that the rest of the word exceeds that index.

The current behavior requires that the entire match be within the range of the provided index. Should I change it, or hold off on that aspect?

[2016-08-26 19:46] Praetonus commented on #1156
I rmodified `gen_while` to generate code where `continue` is optimised, I'll do a PR soon. I'll leave the issue open to continue discussing the semantic for iterators.

[2016-08-26 20:16] #1135 closed

[2016-08-26 21:16] #1164 closed

[2016-08-27 03:44] killerswan commented on #1158
Taking another look now!

### Re: step 1: decide which commit is golden...

* Master is ponylang/ponyc@5657444a2abb6bf88fa12033b38c9c865f76f719.
* On AppVeyor, everything passed [here](https://ci.appveyor.com/project/ponylang/ponyc/build/ponyc-master-0.2.1-1413.5657444).
* On Travis, everything passed [here](https://travis-ci.org/ponylang/ponyc/builds/155468391).  (Note, as discussed on https://gi

[2016-08-27 03:45] killerswan commented on #1158
I also notice that there is currently no "release" branch upstream.  I'm going to make it in a moment, once I see the "-rc1" suffix doesn't break stuff.

[2016-08-27 04:15] killerswan commented on #1158
### Re: step 2 / step 3 / step 4: Tag this commit on the release branch, and push the branch and tag...

All four of those builds smell OK, even those on the release branch, so I'm tagging and pushing ponylang/ponyc@7cf3825ef7a32 (tag: 0.3.0).

This will create the following to builds to watch:
* https://ci.appveyor.com/project/ponylang/ponyc/build/ponyc-release-0.3.0-1419.7cf3825
* https://travis

[2016-08-27 04:37] killerswan commented on #1158
Here we are:
[code]

And the [instructions in the README for RPM and DEB](https://github.com/ponylang/ponyc#linux-using-an-rpm-package-via-bintray) seem OK so far with "ponyc-release".  😎

[2016-08-27 04:44] killerswan commented on #1158
OK, @SeanTAllen, you should give this a quick eyeball and then I think we can tell @MikeMcQuaid (re: Homebrew, #1029), and Felix Yan (re: Arch Linux's [ponyc](https://www.archlinux.org/packages/community/x86_64/ponyc/), see [here](https://pgp.mit.edu/pks/lookup?op=vindex&fingerprint=on&exact=on&search=0x786C63F330D7CB92)), and @stefantalpalaru (re: Gentoo Linux's package) to carry on with a rev fo

[2016-08-27 13:25] stefantalpalaru commented on #1158
New version available on Gentoo.

[2016-08-27 14:24] emilbayes opened #1176 "CPU default features are not correct for some processors."
I was having an attempt at my first contribution to anything pony related today; [pony-sodium](https://github.com/jemc/pony-sodium)

However I can't compile with the HEAD of ponyc' master branch. Here's my output:

[code]

[2016-08-27 14:43] Praetonus commented on #1156
It turns out my loops aren't as good as I thought. The general case is optimised better but `continue` is still a hard problem. It looks like it's caused by the test for the branching to the `else` block. LLVM doesn't seem to like loops where the condition testing block doesn't dominate the body block, and a `continue` gives that kind of construct, as we're testing the condition in different place

[2016-08-27 15:02] Praetonus commented on #1176
It seems the problem is with AVX and we have [unresolved issues](https://github.com/ponylang/ponyc/issues/950) with AVX. You have a skylake processor, so you have AVX-512. I think the pass expects an `i1` but gets an `i8` instead. This is probably related to the `i1`/`i8` conversions for `Bool`s in the code generator. I think we can simplify this stuff and maybe fix the bug at the same time by doi

[2016-08-27 15:06] Praetonus commented on #696
This is now fixed.

[2016-08-27 15:06] #696 closed

[2016-08-27 16:12] dipinhora commented on #1176
@Praetonus That's not necessarily true regarding AVX-512 and Skylake CPUs (See: https://llvm.org/bugs/show_bug.cgi?id=27003). This seems to be an LLVM bug which is fixed in 3.9 where LLVM incorrectly assumes all Skylake CPUs have AVX-512 when only a few server class Skylake CPUs have AVX-512 and all other Skylake CPUs (desktop/laptop/etc) only have AVX2.

A potential solution might be to do what C

[2016-08-27 16:45] killerswan commented on #1158
@stefantalpalaru 😸

[2016-08-27 16:59] Praetonus commented on #1176
@dipinhora Great find!

I'm not sure the solution on the LLVM mailing list can work for us. We're compiling programs ahead of time, potentially with cross-compilation, so that would mean retrieving the target CPU features instead of the host CPU features, and LLVM might return the wrong result for that. I think adding a note in the readme would be enough. Thoughts?

[2016-08-27 17:55] ilovezfs commented on #1158
FYI:
https://github.com/Homebrew/homebrew-core/commit/1de1078fac593bfe323ad29dddfaca53eae11426
https://github.com/Homebrew/homebrew-core/commit/ed73a854b295c23d4c9b4d99f7553aa962809ed0

[2016-08-27 17:56] ilovezfs commented on #1029
@MikeMcQuaid https://github.com/Homebrew/homebrew-core/pull/4262 :ship:'d so probably this can be :closed_book:

[2016-08-27 18:28] dipinhora commented on #1176
@Praetonus I think we should make the experience for the average ponyc user (people compiling locally for their host cpu) as bulletproof, seamless and robust as possible. Given that assumption, I think adding a note in the readme is not an ideal solution.

I understand your concern regarding people cross compiling but that is an advanced use case and those users can be expected to also know enough

[2016-08-27 21:18] van-de-bugger opened #1177 "Buffer overflow in package.c, function add_exec_dir"
Hi,

Look at `add_exec_dir` function located in `src/libponyc/pkg/package.c` file. It allocates buffer:

    char path[FILENAME_MAX];

then reads executable path to that buffer:

    readlink("/proc/self/exe", path, FILENAME_MAX - 1);

then finds the last slash in the path:

    char *p = strrchr(path, PATH_SLASH);

and chops it:

    p++;
    *p = '\0'

then appends a suffix tho the path:

    st

[2016-08-27 21:23] Praetonus commented on #1176
@dipinhora That makes sense. I think we can go ahead and tag it ready for work.

[2016-08-28 04:47] jemc commented on #1029
Thanks for the tipoff @ilovezfs.

I'll go ahead and close this now, but feel free to reopen if there are remaining concerns.

@killerswan - thanks for all your hard work getting us back up to release-readiness!

[2016-08-28 04:47] #1029 closed

[2016-08-28 13:36] SeanTAllen commented on #1158
@killerswan the above steps, should do you have time to copy those over into a markdown doc in the repo? If not, I can do it.

[2016-08-28 13:36] SeanTAllen commented on #1158
HUGE thank you to everyone who put work in to making this happen.

[2016-08-28 13:37] SeanTAllen commented on #1131
Is there anything this should be tagged as?

[2016-08-28 15:17] jemc commented on #1131
Thanks, I added some tags.  This is ready for someone to pick up if they want to do an audit.

[2016-08-28 15:19] jemc commented on #1158
So exciting!  Thanks!

[2016-08-28 16:56] Perelandric commented on #1131
Just an audit of usage in the standard library? Or anything else?

[2016-08-28 21:03] jemc commented on #1131
I'd say just do the standard library.  If there are conflicts between the proposed new interfaces and users existing code, hopefully those will come to light in the RFC process.

[2016-08-28 22:09] Perelandric commented on #1131
@jemc: Sounds good, here's an overview. I can do something more in depth in a day or so to see where and how the various returned `Seq` instances are used.

---

Implemented explicitly by:
 - `String`
 - `Array`
 - `List` Includes the following "dummy" methods to satisfy `Seq`:
  - `create`
  - `reserve`

Used as return in interfaces (other than `Seq`):
 - `promises.ReadlineNotify.tab()`

Used as

[2016-08-29 17:24] Theodus commented on #1138
While trying to implement this I encountered the following error when changing the signature of `List.from`  in [list.pony#L21](https://github.com/ponylang/ponyc/blob/5ee9286a429f1bcdfbfa8714cd7a3d1fa314cccc/packages/collections/list.pony#L21) to ` fun from(that: List[A^] box) =>`:
[code]

I'm confused about what the problem is and how it can be solved, especially since it works fine when `that` i

[2016-08-30 12:53] SeanTAllen commented on #1138
Is that the only thing you changed @Theodus ?

[2016-08-30 12:59] Theodus commented on #1138
It is the only change made to `List`.

[2016-08-30 13:57] srenatus commented on #1177
Hi.
Digging through the code, this issue made me curious. (Thanks for the detailed report.)

I can't seem to create a test case, though:

Running in `docker run -v $(pwd):/ponyc -it ponylang/ponyc bash` (where pwd is a recent checkout):
[code]

So I haven't dug into this enough to find where it is caught, but I think this buffer overflow might not be a problem after all? [There are checks for path

[2016-08-30 21:09] van-de-bugger commented on #1177
That's up to you.

How are you going to test buffer overflow? Program behavior is undefined in such a case. Who knows what the memory will be overwritten and how it will affect the running program.

Frankly, I do not see a discussion topic. IMHO, any buffer overflow (even potential and hardly reproducible) **must** be fixed. Period. (You may have opposite opinion, though.)

The only possible discu

[2016-08-30 21:30] dckc opened #1179 "Time.now() is ambient authority"
along with seconds(), millis() etc.

A clock capability should be created from AmbientAuth.

[2016-08-30 21:40] dckc opened #1180 "ProcessManager Auth missing"
The Process package doesn't require anything beyond FilePath access to create a subprocess. Is that by design?

If so, please documented it in the files package: if you pass a FilePath("/abc") to a library, that library can create sub-processes to any path under "/abc". The FileExec bit isn't even checked.

[2016-08-30 21:54] SeanTAllen commented on #1180
Would you be up for PR'ing some of that @dckc ?

[2016-08-30 21:55] SeanTAllen commented on #1179
Would you be up for opening a RFC for that @dckc ?

[2016-08-30 21:58] dckc commented on #1179
Here's hoping I find time. Unfortunately, I can justify very little time for this.

[2016-08-30 21:59] dckc commented on #1180
I'm willing, but my availability is limited.

But first, I would need to know the answer: is it by design?

[2016-08-30 22:01] jemc commented on #1180
This part at least definitely sounds like a bug to me.

[2016-08-31 03:16] dckc commented on #1179
I wrote an RFC for a class of issues that includes this one: https://github.com/ponylang/rfcs/pull/28

[2016-08-31 06:06] srenatus commented on #1177
Hey @van-de-bugger, thanks for responding so quickly.

I probably just qualify as an interested bystander, trying to help with this project -- not an authority of any kind.

Sorry if I was unclear in my last post, I do agree 100% that there shouldn't be any buffer overflows, anywhere. That said, thinking about how to solve the problem, my preferred course of action is roughly like this:

1. gather

[2016-08-31 06:40] srenatus commented on #1177
Update, I've been digging some more:

* [ponyc calls ponyc_init](https://github.com/ponylang/ponyc/blob/master/src/ponyc/main.c#L360)
* [ponyc_init calls package_init](https://github.com/ponylang/ponyc/blob/master/src/libponyc/ponyc.c#L11)
* [package_init calls the offending add_exec_dir](https://github.com/ponylang/ponyc/blob/master/src/libponyc/pkg/package.c#L645)

And I've [pushed a commit here

[2016-08-31 19:42] SeanTAllen commented on #1177
@van-de-bugger we'd love a PR to fix this. Thanks!

[2016-08-31 19:44] SeanTAllen commented on #1145
@Triangle345 thanks for the pointer to how Nim is doing this.

[2016-08-31 19:46] kulibali commented on #1145
Microsoft Common Language Protocol: https://code.visualstudio.com/blogs/2016/06/27/common-language-protocol

[2016-08-31 19:47] SeanTAllen commented on #1145
We discussed this during the sync call. Anyone who wants to take this one, we are happy to assist as we can but this isn't something that any of the committers is currently hankering to take on. We'd suggest opening a RFC so you get feedback on your approach and assure that your idea and hard work would be something that would be merged.

[2016-08-31 19:49] SeanTAllen commented on #1179
Thanks for the RFC @dckc, I'm closing and locking this issue. Everyone who is interested in this, please refer to the RFC and discuss there:

https://github.com/ponylang/rfcs/pull/28

[2016-08-31 19:49] #1179 closed

[2016-08-31 19:49] aturley commented on #1145
Hey @Triangle345, I don't know if you've seen it or not, but you can run the compiler with the `--ast` flag to produce a representation of the program's AST, which you could then parse with a separate tool to produce something like IDE autocomplete information. The format of the AST output is kind of like s-expressions, so it should be reasonably easy to parse (certainly easier that trying to pars

[2016-08-31 19:52] sylvanc commented on #1180
Certainly not checking `FileExec` is a bug, no question!

But it is _also_ a bug that `ProcessMonitor` doesn't yet require some sub-authority generated from `AmbientAuth`. Just because you have `FileExec` access to some part of the file system doesn't necessarily mean you should be allowed to start processes.

Thanks @dckc !

[2016-08-31 19:56] Triangle345 commented on #1145
Let me take a look at the -ast flag and see what I can come up with. Thanks!

On Wed, Aug 31, 2016 at 3:49 PM, Andrew Turley <notifications@github.com>
wrote:

[2016-08-31 20:06] SeanTAllen opened #1184 "RFC: generic type inference"
see RFC here: https://github.com/ponylang/rfcs/blob/master/text/0010-generic-type-inference.md

[2016-08-31 20:08] SeanTAllen opened #1185 "RFC: Make Map.upsert return the value for the given key"
see RFC: https://github.com/ponylang/rfcs/blob/master/text/0011-upsert-returns-value.md

[2016-08-31 20:14] jemc commented on #1138
We discussed on the call that there are compiler limitations that prevent this idiom from working as expected.

Action items (as I understand them):
- Adjust the `new from` constructor to take a type parameter for the input type, constrained by `#read` instead of being `Object box`.
- Use type parameter inference as described in https://github.com/ponylang/rfcs/pull/26 to make this less onerous.
-

[2016-08-31 21:31] lisael opened #1186 "Segfault in String.find() (maybe linked to #1146)"
Hello. I had a segfault running this code:

[code]

I couldn't narrow the LoC using Debug.out() traces, yet (I guess in ponybench) because the error doesn't happen when I compile in debug mode (`ponyc -d`).

[code]

[2016-08-31 21:37] lisael commented on #1186
note, the segfault happens only when there's no match in find. I guess the try...else...end block is suspicious.

[2016-08-31 23:16] SeanTAllen commented on #1185
PR opened: https://github.com/ponylang/ponyc/pull/1187

[2016-09-01 02:38] Perelandric commented on #1177
Listening to the sync call, I think there was some confusion. The offer to make it PR-able came from @srenatus regarding the [commit referenced above](https://github.com/srenatus/ponyc/commit/e20065259a8b3ded1311411091b91b6021727bc3).

[2016-09-01 07:06] srenatus commented on #1177
@Perelandric @SeanTAllen: yup, I'd be happy to contribute. If you glance at e20065259a8b3ded1311411091b91b6021727bc3, what would be missing to PR this? (Does anyone with a better understanding of the source code put this someplace else or reuse something existing I've overlooked?)

[2016-09-01 09:01] lisael commented on #1186
If I use a lambda instead of a callable object it works fine:

[code]

the error appends here : https://github.com/ponylang/ponyc/blob/master/packages/ponybench/_bench.pony#L15

I suspected `DoNotOptimise` at first, but a simple call `f()` segfaults too.

I Couldn't find a code example that fails without ponybench. It has to do with the way the callable expression is passed around internally.

[2016-09-01 10:09] Theodus commented on #1186
I ran this through lldb and got the following output:
[code]

[2016-09-01 12:17] SeanTAllen commented on #1186
@Theodus can you run with a debug compiler in debug mode and put the backtrace after the SIGSEGV in here?

[2016-09-01 12:50] Theodus commented on #1186
Here is the backtrace:
[code]
Here is the output with a breakpoint at `ponybench__Bench_ISize_val_Dispatch`:
[code]
Here is the output with the breakpoint when compiled in debug mode:
[code]

[2016-09-01 14:19] SeanTAllen commented on #1186
Is that from a debug person of the compiler? It looks like it came from a release version.

[2016-09-01 14:48] Theodus commented on #1186
I'm using the command `/usr/local/ponyc/build/debug/ponyc`. It was compiled using `make config=debug`. Is there something else that I need to do in order to make a debug version of the compiler?

[2016-09-01 14:56] SeanTAllen commented on #1186
create a debug version of the binary you are running.

ponyc --debug

[2016-09-01 14:58] Praetonus commented on #1186
* frame #0: 0x0000000000000001
[code]

[2016-09-01 15:04] Theodus commented on #1186
A debug binary runs without a segfault.

[2016-09-01 15:38] SeanTAllen commented on #1185
Closed by #1187

[2016-09-01 15:38] #1185 closed

[2016-09-01 15:39] jemc commented on #1177
@srenatus - it looks good to me, other than needing an entry in the `CHANGLOG.md`, and possibly making the error message a bit more descriptive (though I'm at a loss for exactly what words to choose).

[2016-09-01 15:40] lisael commented on #1186
Here's the simplest failing code I could write ( uses only builtin )

[code]
The lambda works well while `apply()` segfaults. Output:
[code]

[2016-09-01 15:45] SeanTAllen commented on #1186
Hmm, ok so... @Theodus that tells us something at least.

[2016-09-01 16:51] Perelandric commented on #1186
This doesn't segfault for me with LLVM 3.6 but it does with 3.8

[2016-09-01 16:54] Praetonus commented on #1186
It looks like something in LLVM really doesn't like `llvm.invariant.start`, and that thing is reacting by stomping landing pads for exception handling. Maybe we're using `llvm.invariant.start` wrong but I can't find anything in the documentation. I think I'll just remove it from code generation, it shouldn't have any noticeable effect on optimised programs since we have a quite precise type-based

[2016-09-02 03:30] lisael commented on #1186
:/ the code in https://github.com/ponylang/ponyc/issues/1186#issuecomment-244120040 still segfaults

[code]
And, i checked, it runs fine with --debug

[2016-09-02 12:23] lispmeister opened #1191 "Compiling files package tests dies in assertion"
When trying to compile the tests in the files package without `--debug` flag I get the
following error:

[code]

Pony version: 0.3.0-14-gd8c6c55 [debug]

[2016-09-02 13:39] Praetonus commented on #1186
Sorry for that, I thought I had reduced your example to a more minimal case but apparently there are multiple factors here. I can't find anything wrong in the generated IR. Since it works with LLVM 3.6 maybe it's a bug within LLVM?

If somebody else wants to look into it, the bug is sometimes appearing during `pony_throw` (when raising an exception and unwinding the stack). At some point, the save

[2016-09-02 13:49] Praetonus commented on #1191
I can't reproduce. What is your LLVM version?

[2016-09-02 13:56] lispmeister commented on #1191
The above is with current master of ponyc and LLVM version stable 3.8.1 on OSX.
As soon as we have this fixed I can add better tests for the new error handling for the `files` package in PR #1192

[2016-09-02 13:57] Theodus opened #1193 "Unclear error: type argument is outside its constraint"
While exploring alternatives to [rfcs/pull/30](https://github.com/ponylang/rfcs/pull/30) I came across this error while trying to add a fold method to the Seq interface:

[code]

Here is the code for this fold method:

[code]

I'm confused because this method exists in [list.pony#L323](https://github.com/ponylang/ponyc/blob/d8c6c555d8b9cdfc9288fd9ebfe21d4548906356/packages/collections/list.pony#L3

[2016-09-02 15:28] lisael commented on #1186
So, here's the workaround, at the moment if you're stuck: compile with llvm 3.6

[code]

or ( depending on your distribution)

[code]

[2016-09-02 18:09] Perelandric commented on #1186
Here's a reduced example if it helps:

[code]

There's no segfault if any of these are true:
 - If `h` is not a field of `Foo`
 - If we throw our own error manually: `try h.find("x"); error end`
 - If we use a different method to get the error: `try h.i32() end`

[2016-09-02 20:11] Triangle345 opened #1194 "How to run system command on windows?"
Is ProcessMonitor the only way to run a sys command (such as "ls" or something)?  This seems like overkill if one just wants run a process and view output.  Is there a more simple way to run a command inside pony?

[2016-09-02 23:47] SeanTAllen commented on #1194
Nope. That would be the current means of doing that.

[2016-09-02 23:48] SeanTAllen commented on #1194
This is really more of a mailing list question. IRC would also be good for this.

[2016-09-02 23:48] #1194 closed

[2016-09-03 18:50] CandleCandle commented on #247
https://github.com/CandleCandle/pony-maven-plugin

I've built this, there are, obviously holes in it, issues and PRs welcome. I hope that the initial documentation I've put there is enough to get started.

[2016-09-03 19:36] Praetonus commented on #1000
This issue was investigated recently on IRC, this is almost certainly a synchronisation issue in the [mpmc queue](https://github.com/ponylang/ponyc/blob/master/src/libponyrt/sched/mpmcq.c), used for schedulers.

I double-checked the functions and I think there is something wrong in `ponyint_mpmcq_push_single`.

[code]

While there is indeed no need to use an atomic exchange on `q->head`, having no

[2016-09-04 15:50] dipinhora commented on #1191
I am able to reproduce on OSX.
`LLVM_VERSION = 3.8.0`.
Output of `uname -a`:
[code]
Output of `cc --version`:
[code]

Git bisect indicates this issue was introduced in commit `bbff5b54cd92914ccd701a849d7c88737d139c40` (PR #1144).

`make test` doesn't pick this up because it always runs tests without optimizing the binaries. Maybe it would be better to run tests without `-d -s` in order to catch op

[2016-09-05 16:14] Praetonus commented on #1191
That assertion is checking that a given allocation goes through a constructor at most once. It can't work because of embedded fields, and because the optimiser can merge function calls in conditionals. I probably couldn't reproduce it because the enabled optimisations on OSX and on Linux differ slightly. I'll make a fix shortly.

[2016-09-05 17:07] Praetonus opened #1198 "Optimisation pass order tuning"
We're currently using the standard LLVM pass order when optimising programs. This doesn't look like the best strategy as I've often observed improvements to the generated IR when rerunning `opt` on it. We should tune the pass order to suit our needs more precisely.

Current areas to investigate:

- Range check elimination in loop. Some useless checks aren't eliminated even when the loop invariant

[2016-09-06 13:58] aturley commented on #1186
As another data point, there is no segfault if `h` is assigned by calling the `String` constructor rather than using a string literal.

[2016-09-06 14:58] Praetonus commented on #1186
Using Clang instead of Ponyc for the machine code generation solves the problem. That means the issue is on our side. I'll keep looking.

[2016-09-06 16:03] Praetonus commented on #1186
Some more data.

[code]

Building this actor as a library and sending a message for `test` from C results in `_Unwind_RaiseException` failing with error code `_URC_END_OF_STACK`. That means the exception handling code reached the end of the call stack without finding a suitable landing pad.

[2016-09-07 09:31] 0x1997 opened #1202 "SIGILL with List"
[code]

[code]

The problem disappeared if it's compiled without optimization.

OS: ArchLinux x86-64
CPU: Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz
ponyc: `0.3.0-17-g112ead1 [debug] (llvm 3.8.1)`

[code]

[2016-09-07 09:45] Praetonus commented on #1202
This is a bug with LLVM 3.8 and skylake processors. See [this issue](https://github.com/ponylang/ponyc/issues/1176) for a more detailed explanation. Until we implement a workaround in the compiler, you can pass `--features=-avx512` to ponyc to fix the problem.

I'll close the issue since it is a duplicate.

[2016-09-07 09:45] #1202 closed

[2016-09-07 10:38] Triangle345 commented on #1145
So after looking into the compiler AST output...

Use "--astpackage" instead of "--ast" because "--ast" is the AST of the entire program which takes a while to generate and is too much. It is also a subset of all the objects included.

The following command could be ran for each file to determine its AST:
    ponyc.exe --pass=parse --astpackage --verbose=0

The following can be ran on a project to

[2016-09-07 10:43] Triangle345 opened #1203 "Need ProcessMonitor windows support"
Currently the process monitor is only written/works for linux.

For windows one would need to use the createprocess call:
https://msdn.microsoft.com/en-us/library/windows/desktop/ms682425(v=vs.85).aspx

[2016-09-07 10:49] Triangle345 opened #1204 "Simple command runner"
Most languages have simple sys command running functions.

eg. system("") in c, subprocess in python,exec in golang, etc

It would be nice to have a simple way to run one command and get output without having to setup ProcessMonitor every time.

However; when I mentioned this on IRC, someone replied and told me this is not possible because of Ambient Authority.  I would like to find out if there i

[2016-09-07 16:03] jemc commented on #1191
Probably would be best to run both debug and non-debug, to be honest.  I've opened a PR for that change (https://github.com/ponylang/ponyc/pull/1200), but I still have to work out a few kinks before merging it.

[2016-09-07 20:01] lispmeister commented on #1203
Any PR will be gratefully accepted.

[2016-09-07 20:05] sylvanc commented on #1198
This is a really good idea.

[2016-09-07 20:08] sylvanc commented on #1193
I'm a bit baffled too - can you give me a minimal example I can compile? Well, "fail to compile", but debug :)

[2016-09-07 20:08] #1158 closed

[2016-09-07 20:13] jemc commented on #1204
In addition to ambient authority issues, another large issue is that Pony tries to avoid exposing all blocking operations.  This is because blocking in Pony will block the entire scheduler thread, and no other messages will be handled on that thread while blocking.

However, you *can* do this using FFI.  For example, you can call the `system` C function via FFI on POSIX systems to run a process in

[2016-09-07 20:13] #1204 closed

[2016-09-07 20:16] sylvanc commented on #1000
Wow, nice catch! Yes, I think that's right. The x86 has an implicit release ordering there, but the ARM does not.

[2016-09-07 20:18] #1177 closed

[2016-09-07 20:57] #1191 closed

[2016-09-07 22:45] #1000 closed

[2016-09-07 22:52] Triangle345 commented on #1204
Thanks I will do some prototyping and create an RFC

[2016-09-07 23:06] jemc commented on #1204
For whatever it's worth, it may end up being more convenient to return something like a `Promise[ProcessResult]` where `ProcessResult` is a class that contains the `stdout`, `stderr`, `exit_code`, etc. instead of making you type out and deal with the tuple form each time.

[2016-09-08 19:25] IngoHohmann commented on #937
./httpserver
Listening on 127.0.0.1:50000
fume.fritz.box - - [08/Sep/2016:19:16:15 +0000] "GET /xxx HTTP/1.1" 200 18 "" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.92 Safari/537.36"
fume.fritz.box - - [08/Sep/2016:19:16:16 +0000] "GET /favicon.ico HTTP/1.1" 200 26 "" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.278

[2016-09-09 16:39] Theodus commented on #1193
A gist of the entire output can be found at [https://gist.github.com/Theodus/fd8efcdfaa9153f16e04b4260dd17fb2](https://gist.github.com/Theodus/fd8efcdfaa9153f16e04b4260dd17fb2)

[2016-09-10 02:55] Triangle345 opened #1208 "ponyc rpm installs but compiler doesnt work libtinfo.so.5 error (ncurses package re-org)"
Using fedora 24 kernel 4.6.6

I am able to install the rpm just fine. However; when running ponyc I get the following error

[code]

Is this a known issue or am I missing some other dependency?

[2016-09-10 13:28] SeanTAllen commented on #1208
@Triangle345 i'm not aware of this being an issue. Sounds like a missing dependency of some sort. If you are able to track it down so we can fix for others, that would be awesome.

[2016-09-10 13:37] #669 closed

[2016-09-10 13:37] SeanTAllen commented on #665
@sylvanc did we ever finalize this?

[2016-09-10 13:54] Triangle345 commented on #1208
So the issue is that on new versions of linux (like fedora 24) libtinfo.so.6 exists but 5 does not.  So one remedy for this is to trick pony into thinking libtinfo.so5 exists. To my understanding libtinfo is part of the ncurses package.  Simply create a sym link:

    sudo ln -s libtinfo.so.6 libtinfo.so.5

Not sure how you guys want to handle this during rpm install though

[2016-09-10 13:59] SeanTAllen commented on #1208
I'm not familiar with how the RPM builds happen at this point. @killerswan can you weigh in?

[2016-09-10 19:41] killerswan commented on #1208
The RPMs that get uploaded are built one of Travis's Ubuntu systems, using this make command:
https://github.com/ponylang/ponyc/blob/master/.travis.yml#L200

That is defined here:
https://github.com/ponylang/ponyc/blob/master/Makefile#L669

So the real magic is that FPM call at 697...

Is there another package we can make the RPM require that'll provide the version of ncurses, or that library, we

[2016-09-10 19:53] Triangle345 commented on #1208
Maybe just package version 5  of ncurses with the rpm/deb?

On Sep 10, 2016 3:41 PM, "Kevin Cantú" <notifications@github.com> wrote:

[2016-09-11 18:49] Praetonus commented on #1186
It also works with LLVM 3.7, so the breaking change is somewhere in LLVM 3.8.

[2016-09-12 23:21] mogud commented on #353
The PR is not ready? Could you tell the current status please?

[2016-09-13 00:23] SeanTAllen commented on #353
i'd suggest asking on the mailing list. Luke sometimes lurks there. He also sometimes lurks on IRC.

[2016-09-13 01:10] SeanTAllen commented on #683
@sylvanc any further thoughts on this?

[2016-09-13 04:06] pdtwonotes commented on #1011
I have an Rpi3, and I am pretty sure it is an armv7, not 8.  So it is 32 bits.

[2016-09-13 22:05] SeanTAllen opened #1212 "Nasty OSX String formatting bug"
This is a really nasty one. It was introduced by commit e56075d46d7d9e1d8c5e8be7ed0506ad2de98734

https://github.com/ponylang/ponyc/commit/e56075d46d7d9e1d8c5e8be7ed0506ad2de98734

Here's a program to demonstrate it:

[code]

When this is run as of the noted commit, output is:

[code]

When run with the commit previous to this commit, you get:

[code]

As soon as we fix this, we should do a 3.0.1

[2016-09-13 22:07] SeanTAllen commented on #1212
As an addendum, I don't know what else this might be causing for issues. @Praetonus do you have access to OSX to test? I'm thinking we should revert the commit for now, thoughts?

[2016-09-13 22:28] jemc commented on #1212
@SeanTAllen - reverting for now is a good idea, since the commit was an optimization only.  The optimization can be re-committed later when its determined how the bug is caused.

[2016-09-13 22:35] SeanTAllen commented on #1212
@jemc reverted. we should do a 3.0.1 release asap.

[2016-09-13 22:39] SeanTAllen commented on #1212
arg. i did it on master by mistake. bad Sean. i'll do better next time.

[2016-09-14 12:28] SeanTAllen opened #1213 "release 0.3.1"
We need to do a new release 0.3.1 in order to get the fix (a reversion in this case) for #1212 out to the public.

I'm going to be doing this release and documenting based on the work that @killerswan did and I'll be getting his help with it so it will be a little slow in happening, but we should come out of it with some good documentation that anyone can follow.

Given that we said we would be do

[2016-09-14 12:32] SeanTAllen commented on #1213
@killerswan's original notes on doing a release are in https://github.com/ponylang/ponyc/issues/1158

[2016-09-14 16:47] SeanTAllen commented on #1212
I'm changing this to low priority as i reverted the change that caused this. We just need to understand the problem before reintroducing that optimization.

[2016-09-14 17:56] SeanTAllen commented on #1213
@stefantalpalaru this is happening today.

[2016-09-14 18:08] SeanTAllen commented on #1213
release has been updated and tagged.

travis et al are doing their thing.

CHANGELOG has been updated on master to have a new "unreleased" section.

[2016-09-14 18:12] stefantalpalaru commented on #1213
New version available in my Gentoo overlay.

[2016-09-14 18:25] SeanTAllen commented on #1213
@MikeMcQuaid how do we go about updating homebrew?

[2016-09-14 18:53] SeanTAllen commented on #1213
windows release is available on bintray:

https://bintray.com/pony-language/ponyc-win/ponyc-release

[2016-09-14 18:58] SeanTAllen commented on #1213
deb and rpm versions are now available in bintray.

[2016-09-14 18:59] SeanTAllen commented on #1213
thanks @stefantalpalaru

[2016-09-14 19:18] sylvanc commented on #1212
I'm very sorry I didn't notice this on the original PR. I think the right solution in the long-term is to leave this reverted.

`LLVMNoUnwind` seems like it tells LLVM that the function will not _propagate_ an exception. But, in fact, it tells LLVM that it will not _raise_ an exception. So a Pony function that raises an exception but also traps it (i.e. it does so in a `try` expression) when it is

[2016-09-14 19:19] Theodus commented on #1212
I'm getting this bug as well on Linux Mint 18.

[2016-09-14 19:52] MikeMcQuaid commented on #1213
@SeanTAllen Either you can create one or someone else will eventually get around to creating a PR for this. @ilovezfs has a script that'll eventually get around to it.

[2016-09-14 19:53] SeanTAllen commented on #1088
Closing this. Anyone on this who wants to open an RFC for improvements to the existing String class or an entirely new and better approach please do. We all agree the current API is lacking and painful to work with sometimes and agree that the RFC process is the right way to address this.

[2016-09-14 19:53] #1088 closed

[2016-09-14 19:54] SeanTAllen commented on #1213
@MikeMcQuaid do i need to do anything other than change the URL to pull form and SHA in the ponyc formula?

[2016-09-14 19:55] sylvanc commented on #1088
@mkfifo , @Perelandric , if you would be up for leading or participating in an RFC for a better string API, that would be great. I think your contributions would be a huge help.

[2016-09-14 20:00] sylvanc commented on #1133
I think the issue is that writing to stderr and stdout on OSX doesn't guarantee atomicity between the streams.

So I think actually @toblux your initial idea is fine - `fflush` of `stderr` when writing synchronously in `Assert`. Are you up for filing a PR?

[2016-09-14 20:07] sylvanc commented on #1208
This seems to be a problem for other compiles as well:

https://github.com/commercialhaskell/stack/issues/257

https://github.com/commercialhaskell/stack/issues/2300

https://github.com/commercialhaskell/stack/issues/2302

[2016-09-14 20:15] Triangle345 commented on #1208
Why isnt pony built statically to include everything? Sure the binary would
be larger but not by that much.

On Wed, Sep 14, 2016 at 4:07 PM, Sylvan Clebsch <notifications@github.com>
wrote:

[2016-09-14 20:22] Theodus commented on #1193
The following code causes this issue:
[code]

[2016-09-14 20:25] MikeMcQuaid commented on #1213
@SeanTAllen Nope, that's all you need!

[2016-09-14 20:31] SeanTAllen commented on #1213
Awesome. Will open soon.

[2016-09-14 21:28] SeanTAllen commented on #1213
I've opened a PR for homebrew:

https://github.com/Homebrew/homebrew-core/pull/4817

[2016-09-14 22:05] SeanTAllen commented on #1213
@Perelandric it looks like this is failing in atomics.h

in particular, on mavericks it can't find stdatomics.h

this built on homebrew for all OSX in version 0.3.0, you touched atomics.h since then, can you take a look?

https://bot.brew.sh/job/Homebrew%20Core%20Pull%20Requests/7717/version=mavericks/testReport/junit/brew-test-bot/mavericks/install_ponyc/

[2016-09-14 22:32] Perelandric commented on #1213
@SeanTAllen probably meant @Praetonus

[2016-09-14 22:46] Praetonus commented on #1213
@SeanTAllen Looks like it needs to use a more recent compiler. `stdatomics.h` is provided since version 4.9 for GCC and since version 3.6 for Clang.

[2016-09-14 23:05] SeanTAllen commented on #1213
can you take a look at the error in jenkins @Praetonus because its using that. and it works on yosemite and el capitan.

[2016-09-14 23:14] SeanTAllen commented on #1213
@Praetonus its using Clang: 6.0 build 600

[2016-09-15 01:53] Praetonus commented on #1213
Apple uses a custom version number for the Clang shipped with XCode. Apparently Apple's Clang 6.0 is based on Clang 3.5svn, which is somewhere between Clang 3.4 and 3.5.

[2016-09-15 01:59] SeanTAllen commented on #1213
I think in the future when we are doing PRs that will deprecate platforms, we need to be clear about that. It would have been worth a conversation on whether we felt effectively dropping Mavericks as a supported platform was something we were ready to do.

[2016-09-15 02:05] SeanTAllen commented on #1213
I'm updating the brew formula to only build bottles for yosemite and el capitan. Aka we've basically deprecated Mavericks.

[2016-09-15 02:07] SeanTAllen commented on #1213
Homebrew PR waiting to get merged:

https://github.com/Homebrew/homebrew-core/pull/4826

[2016-09-15 07:58] Jbbouille commented on #1208
We could add a dependency to "ncurses-devel" in the rpm package with [-d flag](https://github.com/jordansissel/fpm/wiki) ?

Like :
[code]

[2016-09-15 08:31] Jbbouille commented on #1208
Also I think that ponyc needs "openssl"  and "pcre2" libraries. We could add these two dependencies to the rpm package with the same '-d' flag ?

[2016-09-15 10:31] Triangle345 commented on #1208
Even if adding a dependency to the rpm as you suggest, wont this still be
an issue if the distribution does not have version 5 of ncurses.  For
example, you require ncurses-devel, so fedora package manager installs the
only version it has, which is 6 , which brings us back to the same
predicament.  I think the only true way to solve this is, is to  build the
binary statically or include the specif

[2016-09-15 10:39] Triangle345 commented on #1208
Another option that i touched on a little bit, but is dirty and easy is to
create a symbolic link to 6 but name it with 5.  Even if we put this right
next to ponyc executable it should work.  This is provided that the
interface from 5 to 6 did not change.  This can be done through logic
inside the pre or post install in the rpm/deb.

On Thu, Sep 15, 2016 at 6:31 AM, Eugene Feldman <efeldman21@gmai

[2016-09-15 11:19] Jbbouille commented on #1208
Well it seems that there is "libtinfo.so.5" in "ncurses-compat-libs" so instead of using `-d "ncurses-devel"` we could use `-d "ncurses-compat-libs"`.

[2016-09-15 11:48] SeanTAllen commented on #1213
Homebrew has been updated 0.3.1 is released.

[2016-09-15 11:48] #1213 closed

[2016-09-15 11:49] SeanTAllen opened #1215 "Write up release process"
I took Kevin's notes on doing releases and wrote up a checklist as I did yesterday's 0.3.1 release. This is an issue for me to create a markdown document that lives in the ponyc repo for step by step instructions on doing a release.

[2016-09-15 11:55] SeanTAllen commented on #1133
@toblux newline is ascii character 10, carriage return is 13.

so if you have a "10" for your U* in your Array[U8], that's a newline.

[2016-09-15 14:49] Praetonus commented on #1213
@SeanTAllen Sorry for that, I wasn't aware of that when I made that change. Is there any testing suite we could set up to catch accidental platform deprecations?

[2016-09-15 14:57] Triangle345 commented on #1208
that will work for fedora as of this moment but what happens when we have a
similar situation on other distributions? We would need to find the package
that provides compat libs if one exists.

Building it statically solves all these issues.

On Thu, Sep 15, 2016 at 7:19 AM, Jean-Baptiste Petit <
notifications@github.com> wrote:

[2016-09-15 15:19] Theodus opened #1216 "Infinite compilation of interface"
The following code sends the compiler on what seems to be an infinite loop:

[code]

[2016-09-15 15:31] SeanTAllen commented on #1213
@Praetonus not sure. travis wouldnt catch it because it only tests on a single osx as far as i know. i'm not sure there is an easy way to deal with that. Sounds like a good sync meeting conversation, could you bring it up next week? I'm unable to attend next week's but getting the conversation wouldn't hurt. Or I could bring up on pony+dev.

[2016-09-15 15:31] SeanTAllen commented on #1208
And building statically open up an entire new host of issues as well.

[2016-09-15 15:40] Triangle345 commented on #1208
what sorts of issues are you thinking about, if I may ask?

On Thu, Sep 15, 2016 at 11:31 AM, Sean T Allen <notifications@github.com>
wrote:

[2016-09-15 15:46] Perelandric commented on #1216
Reduced example:

[code]

[2016-09-15 18:16] SeanTAllen commented on #1215
PR open for this.

[2016-09-15 18:16] #1215 closed

[2016-09-15 18:40] furkanusta opened #1218 "Ponyc installed from package manager assumes ponyc build C compiler for linking"
I've installed ponyc from rpm repo (Bintray) and it gives an error while linking

sh: gcc-5: command not found
Error:
unable to link: gcc-5 -o ./alternation -O3 -march=native -mcx16 -fuse-ld=gold  ./alternation.o -L"/usr/lib/pony/0.3.1-1885.8a8ee28/bin/" -Wl,-rpath,"/usr/lib/pony/0.3.1-1885.8a8ee28/bin/" -L"/usr/lib/pony/0.3.1-1885.8a8ee28/bin/../lib" -Wl,-rpath,"/usr/lib/pony/0.3.1-1885.8a8ee28/b

[2016-09-15 18:45] SeanTAllen commented on #1218
@killerswan would this be an artifact of our process for building?

[2016-09-15 19:30] furkanusta commented on #1218
I've tested some example programs in examples directory. Most of them looks fine but files and httpget doesn't work. (Maybe symlink isn't a correct solution)

I am not sure if I am using httpget correctly but I've checked files example and both the code and file looks fine

They both print

Illegal instruction (core dumped)

I am not sure what is the reason but I thought it could be because of thi

[2016-09-15 19:41] SeanTAllen opened #1219 "Restore GCC 4.7/4.8 support. Restore OSX Mavericks support"
We unintentionally deprecated support for GCC 4.7 and 4.8 as well as OSX Mavericks when we merged #1206.

In the case of GCC 4.7 and 4.8, its because the stdatomic.h header was missing due to a bug in GCC release. In the case of OSX Mavericks, its because C11 support wasn't available til XCode 7 which was never available for Mavericks and is available to Yosemite as an upgrade.

After discussing w

[2016-09-15 19:43] sylvanc commented on #1219
Possibly we could get away with including a copy of `stdatomic.h` (in a place where no `-I` would find it) and only reference it on these platforms?

[2016-09-15 19:46] SeanTAllen commented on #1219
I don't think that would work on Mavericks as it isn't just the header being missing. None of the "how to I get around this" stackoverflow entries that I read suggested that for dealing with GCC 4.7/4.8 so...

¯\_(ツ)_/¯

It might work but if it did, I suspect that someone would have mentioned it. The bug perhaps goes deeper?

[2016-09-15 19:50] sylvanc commented on #1219
Yeah, we'd have to ifdef out support for Mavericks, I suppose. Which might be problematic, I'm not sure.

[2016-09-15 20:11] Perelandric opened #1220 "Makefile uses git define --tags --always to set version."
This is fine as long as takes are kept synced properly on the local repo.

Should the version be fetched exclusively from the VERSION file?

[2016-09-15 20:13] SeanTAllen commented on #1220
I think it makes sense to use the version from the VERSION file and only get the commit from git.

[2016-09-15 20:14] SeanTAllen commented on #1212
This was fixed and is out in 0.3.1

[2016-09-15 20:15] SeanTAllen commented on #1212
I'm closing this as, I don't think we want to re0do NoUnwind.

[2016-09-15 20:15] #1212 closed

[2016-09-15 20:17] Perelandric commented on #1220
Hmm... Looking at the rest of `Makefile`, it uses `$(tag)`, which comes from `git define --tags` to *set* the `VERSION` file.

[code]

...so it doesn't seem like it would make sense to get `$(tag)` from `VERSION` and `VERSION` from `$(tag)`... but I may be missing something else.

[2016-09-15 20:19] SeanTAllen commented on #1220
We shouldn't be getting VERSION from tag. That is set on release time. I'd say that we should remove that.

[2016-09-15 20:21] Perelandric commented on #1220
Makes sense. I'll do a pull in a minute with these changes for you to review.

[2016-09-15 20:32] SeanTAllen commented on #1220
Awesome. Thanks.

[2016-09-16 10:51] SeanTAllen commented on #1216
Thanks for the simplified example @Perelandric

[2016-09-16 10:55] SeanTAllen commented on #1208
statically linking all dependencies becomes a real issue when minor bug fix releases are done in the dependencies. its really problematic when it prevents easily upgrading to incorporate security fixes.

i've worked at more than 1 place that had a policy against deploying applications that statically linked standard libraries like ncurses.

[2016-09-16 12:39] jupvfranco opened #1222 "Running forever unless I print the size of the data structure"
Hi All,

I wrote a piece of code that is running forever and I believe it should not.
The code is below.
Note that if rather than `env.out.print("here forever ")` I write `env.out.print("here forever " + list.size().string())` then it behaves correctly, and it stops executing when it's supposed to.
I believe this is a bug.

I'm using the latest pony version (master branch). And this is happening o

[2016-09-16 12:41] peterzandbergen commented on #1118
Just out of curiosity, is there any news on this one? After watching the VUG about garbage collection I wondered if the error should be looked for in that area. Just a wild guess.

[2016-09-16 13:59] SeanTAllen commented on #1118
Nothing yet.

[2016-09-16 14:04] SeanTAllen commented on #1222
I can confirm this. The code works correctly if you run a debug build without optimizations. Its an incorrect LLVM optimization of some sort.

@Praetonus could you take a look?

[2016-09-16 14:05] Perelandric commented on #1222
Seems like the `for` loop is optimized away.

Given this example, the `print` call inside the loop doesn't print anything.

[code]

Works properly if the `for` iterates over an Iterator from an `Array` instead of a `Range`.

[code]

But if the Array is declared as a variable *before* the `while` loop, we get `Illegal instruction`.

[2016-09-16 14:05] peterzandbergen commented on #1118
Difficult one I guess

[2016-09-16 14:07] SeanTAllen commented on #1118
And we could use more folks contributing. Its hard to keep up and do the day job and all that. Such is things... ¯\_(ツ)_/¯

[2016-09-16 14:13] SeanTAllen commented on #1222
This bug was introduced by commit #1080

This works prior to that commit but doesn't work afterwards:

https://github.com/ponylang/ponyc/commit/12ca5acecff41f4a17fc7bbcb52f58f3af1779ea

[2016-09-16 14:17] SeanTAllen commented on #1222
As part of a fix for this, we should add a test that verify this sort of code works going forward.

[2016-09-16 14:23] SeanTAllen commented on #1220
Fix for thiw was merged #1221

[2016-09-16 14:23] #1220 closed

[2016-09-16 14:41] SeanTAllen commented on #1222
@Praetonus would it make sense to revert #1080 to solve the issue then try reimplementing sans issues?

[2016-09-16 16:43] SeanTAllen opened #1223 "Consider turning LTO back on for OSX as a default"
this is re: https://github.com/ponylang/ponyc/pull/1207

We saw a about a 10% performance drop with our app on OSX with change #1207 . When we turned LTO back on, no more issue. I don't this that LTO off should be the default in order to deal with Travis issues. I think if that is an issue, we should turn LTO off for the Travis runs. Our defaults for Pony should be the fastest options based on mos

[2016-09-16 16:54] Triangle345 commented on #1208
I guess  adding ncurses-compat-libs as a dep should work for awhile until
curses 6 catches on.  Should be a straight forward change.

On Fri, Sep 16, 2016 at 6:55 AM, Sean T Allen <notifications@github.com>
wrote:

[2016-09-16 17:04] avsej opened #1225 "Compile error: "Pass 'Move heap allocations to the stack' is not initialized""
I've just tried to build trivial helloworld from
tutorial, and it fails to compile. I've tried the build from bintray
and manually compiled, all of the output something like this:

[code]

Backtrace:

[code]

Although when I disable optimizations (-d) it works as expected

[code]

[2016-09-16 17:26] jemc commented on #1223
@SeanTAllen sounds right to me.

[2016-09-16 17:32] avsej commented on #1225
Pull docker image

    docker run --rm -ti fedora:24 /bin/bash

Checkout and build

    dnf groupinstall -y 'Development Tools'
    # not everywhere 'which' is installed, but Makefile assumes it
    dnf install -y llvm-devel gcc-c++ which zlib-devel ncurses-devel
    git clone git://github.com/ponylang/ponyc.git
    cd ponyc
    make
    cd examples/helloworld
    ../../build/debug/ponyc

Output a

[2016-09-16 18:30] aturley commented on #1118
Hrm ... I just tried @Perelandric's minimal example [from August 8](https://github.com/ponylang/ponyc/issues/1118#issuecomment-238431412) and I didn't get a seg fault. I tried both a debug and release build on OS X (10.11.4) using compiler version 0.3.0-14-gd8c6c55.

[2016-09-16 18:54] SeanTAllen commented on #1118
@perelandric can you see if this still happens for you?

[2016-09-16 19:03] Perelandric commented on #1118
@SeanTAllen Yep, took a few extra runs before it would segfault, but it got there.

@aturley Try upping the range from `10_000` to `100_000`. That gives me the segfault more reliably.

[2016-09-17 02:02] SeanTAllen commented on #1222
@jemc @sylvanc it would seem that @Praetonus isn't around today, any objection to my reverting the offending commit and it could be reimplemented later?

[2016-09-17 04:56] jemc commented on #1222
@SeanTAllen - I worry that some later commits might be depending on it, but if it reverts cleanly, then I say go for it.

[2016-09-17 11:24] SeanTAllen commented on #1223
@sylvanc @Praetonus @jemc why is LTO off by default on Linux? Anyone remember?

[2016-09-17 13:32] jemc commented on #1223
@SeanTAllen good question.

[2016-09-17 21:39] SeanTAllen commented on #1223
I am closing this and opening a new one for LTO on none OSX platforms.

[2016-09-17 21:39] #1223 closed

[2016-09-17 21:40] SeanTAllen opened #1231 "Consider turning on LTO across all supported platforms"
Does anyone remember why we have it off?

Assuming that:

1. it provides a performance boost
2. it doesn't cause bugs

I can't see any reason why it shouldn't be on.

Our standard for defaults is: highest performance option that doesn't violate the principal of least surprise. From that, I would assume that LTO should be on for supported platforms.

[2016-09-17 21:46] SeanTAllen commented on #1222
@jemc i tried reverting this. it became a nightmare. it looks like the only way to solve is to move forward from this and fix whatever it is in #1080 that is causing the bug.

[2016-09-17 23:09] jemc commented on #1231
Agreed on all points, but I have no information to give about why it is disabled by default.

Additionally, if LTO causes problems on some platforms, we need to have documentation for which platforms and what those problems are.

[2016-09-17 23:12] jemc commented on #1222
I found a simple change that solves the problem for this particular repro, but I want to spend at least some time trying to figure out why there was a problem, and whether other bits of invariant information added in #1080 need to be removed as well.

If it starts taking a long time to figure out I will just file a PR with the fix that I don't yet understand.

[2016-09-17 23:55] jemc commented on #1222
I mostly figured out what was going on. though the details are fuzzy and I don't have additional time to resolve them at the moment.

See #1232.

[2016-09-18 01:11] #1222 closed

[2016-09-18 01:29] SeanTAllen opened #1234 "release 0.3.2"
#1232 fixes high priority issue #1222.

doing a release on the morning of 2016-09-18 to get that fix out.

[2016-09-18 01:30] SeanTAllen commented on #1234
@ponylang/committer please don't merge any PRs tomorrow morning without checking this issue to see if the release is underway. i'll inform here when it starts and when its safe to start doing merges again. (there's a short time window when merges can mess up the CHANGELOG).

[2016-09-18 01:41] jemc commented on #1231
Here is the original commit, that disables `lto` by default on linux unless `gcc-ar` is found - https://github.com/ponylang/ponyc/commit/07d791305e2fa0301b3688f6816758e7d490ebd4

This FAQ page holds some clues: https://gcc.gnu.org/wiki/LinkTimeOptimizationFAQ

[2016-09-18 11:33] SeanTAllen commented on #1234
Starting the release.

924a778 is our golden commit.

* Everything looks good for that in bintray.
* Appveyor is up.
* Travis is up.

[2016-09-18 11:44] SeanTAllen commented on #1234
I'm done versioning. VERSION and CHANGELOG.md are updated on master.

[2016-09-18 11:48] SeanTAllen commented on #1234
I've left notes on all PRs that include CHANGELOG.md entries that will need to be updated in order to move their entry into the new "unreleased" section.

[2016-09-18 12:01] SeanTAllen commented on #1234
Homebrew formula has been updated. A PR was issued:

https://github.com/Homebrew/homebrew-core/pull/4940

[2016-09-18 12:02] SeanTAllen commented on #1234
@stefantalpalaru a release is underway. you can update Gentoo at your leisure.

[2016-09-18 12:03] SeanTAllen commented on #1234
RPM, Deb and Windows releases for 0.3.2 are in bintray.

[2016-09-18 12:13] stefantalpalaru commented on #1234
Gentoo ebuild updated.

[2016-09-18 12:20] SeanTAllen commented on #1234
Thanks @stefantalpalaru

[2016-09-18 13:22] SeanTAllen commented on #1234
homebrew PR merged.

[2016-09-18 13:22] SeanTAllen commented on #1234
I informed user list and #ponylang of the release.

All done.

See y'all next time.

[2016-09-18 13:22] #1234 closed

[2016-09-19 02:01] aturley commented on #1118
I got a little more information from lldb:

[code]

Something is going a little sideways here in GC land.

[2016-09-19 02:56] SeanTAllen commented on #1118
Yeah. At the moment, this is waiting on @sylvanc or I having time to address. At the moment, I'm working on new website before returning back to the land of pony code. I'm not going to get to this til sometime in mid October. If anyone wants to take a shot at it before then, have at it.

[2016-09-19 13:19] Praetonus commented on #1219
Considering we implicitly require C11 support by compiling with `-std=gnu11`, and that GCC claims full C11 support since [version 4.9](https://gcc.gnu.org/gcc-4.9/changes.html), I feel like we should state that compiling ponyc requires C11 support in the readme and drop GCC 4.7 and 4.8. Since those versions are at least 3 years old, and since many Linux distributions include a recent GCC by defaul

[2016-09-19 13:34] avsej opened #1236 "Illegal instruction when using floats"
Pull docker image

    docker run --rm -ti fedora:24 /bin/bash

Checkout and build

    dnf groupinstall -y 'Development Tools'
    # not everywhere 'which' is installed, but Makefile assumes it
    dnf install -y llvm-devel gcc-c++ which zlib-devel ncurses-devel
    git clone git://github.com/ponylang/ponyc.git
    cd ponyc
    make

The following example is using `ponyc -d` because of the issue

[2016-09-19 13:35] avsej commented on #1236
The issue is reproducing under docker, as well as native x86_64 without any virtualization.

[2016-09-19 13:50] rurban commented on #1236
not repro on darwin x64_86, with latest release version.
0.3.2-722dc89 [release] (llvm 3.8.1)
[code]

[2016-09-19 13:55] avsej commented on #1236
I've noticed that ponyc is using `/usr/bin/cc`, which is gcc 6.1.1 on Fedora 24. Is pony sensitive to the compiler?

[2016-09-19 13:56] Praetonus commented on #1236
Is your processor an Intel Skylake?

[2016-09-19 13:57] avsej commented on #1236
Yes, it is Skylake: i7-6820HQ

[2016-09-19 14:03] Praetonus commented on #1236
This is a bug in LLVM 3.8, where all Skylake processors are incorrectly assumed to support AVX-512 instructions. You can find a more detailed explanation in [this issue](https://github.com/ponylang/ponyc/issues/1176). Until we implement a workaround in the compiler, you can fix the problem by passing `--features=-avx512` to ponyc.

[2016-09-19 14:04] avsej commented on #1236
Passing `--features=-avx512` does not help

[code]

[2016-09-19 14:18] avsej commented on #1236
Okay, llvm-3.9 works, and fixes #1225 as well.

[2016-09-19 14:34] sparrisable commented on #1088
Some discussion regarding the Swift language's string API that apparently is perceived as hard to use, but there is a blogger who disagrees:

"I'm going to explain just why Swift's String API is designed the way it is (or at least, why I think it is) and why I ultimately think it's the best string API out there in terms of its fundamental design."

https://www.mikeash.com/pyblog/friday-qa-2015-11-

[2016-09-19 15:17] SeanTAllen opened #1237 "Incorrect version info"
The versions that are coming from CI have incorrect version info.

In the Makefile, we get the version from VERSION and then try to get the commit from git info.
However, we appear to be doing that even when not running in a git repo as this was reported on IRC:

"I am running ponyc in the helloworld dir with no args. If I run it with -v I get: 0.3.2-fatal: Not a git repository (or any of the pare

[2016-09-19 15:49] jemc commented on #1088
@sparrisable - thanks for the link - I'll be sure to read through the post.

[2016-09-19 16:24] Perelandric commented on #1237
When not a git repo, it just uses VERSION.

[2016-09-19 16:26] Perelandric commented on #1237
...oh wait, maybe `premake.lua` doesn't handle this if the user was on Windows.

[2016-09-19 17:38] avsej commented on #1225
As I noted in #1236, the problem is not reproducing on llvm-3.9

[2016-09-19 19:05] SeanTAllen commented on #1237
Closed by #1238

[2016-09-19 19:05] #1237 closed

[2016-09-19 19:05] SeanTAllen commented on #1237
Thanks @Perelandric!

[2016-09-19 22:34] aturley opened #1240 "using tuples to describe C structures from FFI doesn't seem to work"
# System
OS X 10.11.4
ponyc version -- 0.3.0-14-gd8c6c55
clang version -- Apple LLVM version 7.3.0 (clang-703.0.29)

# Description

When I return a structure from a C function (called via FFI), the structure values are wrong.

# Expected behavior

When I run this program:

[code]

[code]

I expect to see

[code]

# Actual Behavior

I see

[code]

I've done this using both static linking and a dyna

[2016-09-19 22:46] jemc commented on #1240
@aturley - If you replace the `F32`s with more `U8`s, does it work as expected?

[2016-09-19 22:56] Praetonus commented on #1240
In the LLVM IR for the Pony part, `get_pos` is declared as returning a `{i8, float, float}`, but it actually returns a `{i64, float}` in the C part, with the `i64` containing the first two members. I guess this is done like that to save a register when returning the value from the function.

I'm not sure how to solve it if it is a pattern we want to support. I don't know if the behaviour is consis

[2016-09-19 23:04] jemc commented on #1240
@Praetonus - just to clarify, would we see this same problem when using Pony `struct` instead of tuples?  That is, do we need to fix our struct packing across the board, or only for the tuple case?

[2016-09-19 23:11] Praetonus commented on #1240
@jemc I believe Pony structs are fine. They can only be retrieved through pointers, which means the struct must be in memory with its true layout.

[2016-09-19 23:23] SeanTAllen commented on #1176
@ponylang/committer if this is an LLVM 3.8 issue and other llvm's are available, I think we should stop recommending 3.8.

[2016-09-20 14:12] aturley commented on #1219
I don't know how big of a deal this is for us right now, but my experience with larger organizations is that they're perfectly happy to run "old" releases of OSes with long-term support contracts. Apple has it's own shortened support cycle (practically, if not explicitly), but a 3-year-old linux distro (with older versions of tools) isn't that uncommon.

Based on that, I don't think we can assume

[2016-09-20 14:39] aturley commented on #1240
@jemc I'm seeing this with all kinds of tuple shapes (including `(U8, U32, U32)`).

@jemc @Praetonus I've been using Pony `struct`s and they seem to be fine. That makes sense to me, because this seems to be a problem with the way the return value is represented (broken up between the two registers), which isn't an issue with `struct`s.

On my machine, the disassembly of the line that assigns the v

[2016-09-20 15:25] SeanTAllen commented on #1219
Sendence is looking to deploy a Pony based application soon into conservative environments and I think 4.9 requirement could be problematic for us. I'd very much like to see this discussed at the sync tomorrow (which I can't attend).

[2016-09-20 15:57] Praetonus commented on #1219
My main concern here is portability and compatibility with future platforms. The previous version of atomics in the runtime wasn't portable. Instead of using `_Atomic` types and standard functions, it was manually specifying memory layouts and was using compiler-specific functions. Adding support for a new platform or a new compiler would have required a thorought review to ensure that the correct

[2016-09-20 16:13] jemc commented on #1219
Just to confirm, is it true that the requirement only applies to building `ponyc`, and not to building or running pony programs?  If so, it seems like deploying into conservative environments would still be possible by compiling and distributing `ponyc` from a separate (compatible) machine, or doing so with your application binary.

[2016-09-20 16:25] Praetonus commented on #1219
@jemc It seems to work. I tested by compiling ponyc with gcc 4.9 and then invoking it with `ponyc --linker=gcc-4.8`.

[2016-09-20 16:39] jemc commented on #1219
That makes me wonder if `ponyc` should avoid hard-coding its "environment" (like which linker to use) at compile time.  That is, it seems like it could detect this at runtime and be more easily portable across otherwise compatible environments.

[2016-09-20 20:22] SeanTAllen commented on #1219
@Praetonus i strongly disagree. i'm not suggesting we ditch the new code, i'm suggesting we continue supporting the previous versions of GCC which means support linux environments that are only 3 years old. "At least 3 years old" really worries me frankly. 3 years is not a long time. Especially not in enterprise environments.

[2016-09-20 21:15] jemc commented on #1219
@Praetonus - would something like [this](https://gist.github.com/nhatminhle/5181506) be helpful?  It claims to be "A portable version of `stdatomic.h`" - could it be bundled with `ponyc`?

[2016-09-21 07:24] wilbertom commented on #557
@Praetonus sorry about this I got really busy with work and haven't been able to start on this. If you want to start I would love to review the RFC and contribute in other ways. If not I can give it a try this weekend.

[2016-09-21 19:33] #1005 closed

[2016-09-21 20:09] sylvanc commented on #1219
The header @jemc found looks like a strong possibility.

[2016-09-21 20:13] jemc commented on #1219
@sylvanc says in the sync call - let's try shipping this header as a fallback for when the building platform actually has `stdatomic.h`.  He thinks it looks at least as correct as his old hacked-up atomics that @Praetonus replaced with standard atomics.

Also, we'd want to look at adding a "built with" section to `ponyc --version` that tells what C compiler built the ponyc compiler.  This would he

[2016-09-21 20:16] sylvanc commented on #1225
As @Praetonus pointed out in #1225, this looks like it could be an LLVM 3.8 bug, in combination with gcc 6.

[2016-09-21 20:21] jemc commented on #1218
@Praetonus suggested on the sync call to use the environment variable `CC` to determine the default linker to use when `ponyc` is run.  @sylvanc and I agree.

I think it's definitely a good idea to not assume that the environment when running `ponyc` is the same as the environment when building `ponyc`, which is not often true now that we are regularly distributing releases.

[2016-09-21 20:25] sylvanc commented on #1208
Does anyone know how to make `ncurses-compat-libs` a dependency only if it's actually available? Is that a normal Linux thing? We can't require it everywhere, as `ncurses-5` systems have no such package.

[2016-09-21 20:26] sylvanc commented on #1208
Also, yes, `ncurses-compat-libs` is The Right Thing (tm) to do :)

[2016-09-21 20:29] SeanTAllen commented on #1218
Is there an issue to open from this?

[2016-09-21 20:30] SeanTAllen commented on #1219
So we need an issue for the additional version info, yes?

[2016-09-21 20:31] jemc commented on #1218
@SeanTAllen - I think this can serve as the ticket.  I've renamed the ticket title to specify the general problem.

[2016-09-21 20:34] jemc opened #1245 "Add "built with" information to ponyc --version."
We want to show the C compiler that ponyc was built with when a user invokes `ponyc --version`.

See https://github.com/ponylang/ponyc/issues/1219#issuecomment-248729236

[2016-09-21 20:34] jemc commented on #1219
@SeanTAllen, sounds good - see https://github.com/ponylang/ponyc/issues/1245

[2016-09-21 20:50] Praetonus commented on #1218
I'm not sure how to handle some details here. What should we do if `CC` is undefined? On Windows, the linking fails if there is no environment variable for the linker (`genexe.c:311`), would the same behaviour on other platforms be acceptable?

[2016-09-21 21:06] jemc commented on #1218
@Praetonus - I think a reasonable path forward would be:

1. if `CC` is set, use it, otherwise:
2. (the current behaviour)

This should keep things backwards compatible for folks who happen to be running `ponyc` on platforms without `CC` set.

[2016-09-21 21:34] Triangle345 commented on #1208
hmm
try using Recommends: tag as this is a weak dependency. It will require a
package but not throw errors if its not installed.

another option:
 A lot people just distribute for different versions like .deb for ubuntu
1404 or .deb for ubuntu < 10.04 etc.  Same thing with rpms. We may have to
build rpms for different versions of the same operating system if huge
differences like that will break i

[2016-09-21 22:03] sylvanc commented on #1146
The core problem is that, since tuples don't carry a type descriptor, they are treated as if they were the type that the AST believes them to be. As a result:

[code]

That asserts! Because we try to do `assign_to_tuple`, but we treat the right-hand side as `((U32, U32) | (U32, None))`, which is not a tuple, and we assert at `genexpr.c:210`.

There are several parts of the language that suffer fro

[2016-09-21 22:09] SeanTAllen opened #1246 "Fix CHANGELOG formatting"
After today's merges, the Added section of unreleased contains extra blank lines between some entries. They should be removed.

[2016-09-21 22:31] Praetonus commented on #1218
@jemc That seems reasonable. I think I'll also add a warning issued when ponyc falls back on `PONY_COMPILER`, to make sure users are aware of that behaviour.

[2016-09-21 23:31] SeanTAllen commented on #1246
Fixed

[2016-09-21 23:31] #1246 closed

[2016-09-22 00:38] SeanTAllen commented on #1231
Was this discussed during the sync call?

[2016-09-22 01:32] Praetonus commented on #1146
Would that change anything for #1124?

[2016-09-22 01:43] doublec opened #1248 "MaybePointer works different for Pointer vs structs"
The documentation for MaybePointer states that it's only usable for structs. This is borne out by the following which is a compiler error:

    actor Main
      new create(env:Env) =>
        let a: MaybePointer[U8] = MaybePointer[U8](0)
        @printf[None]("%p\n".cstring(), a)

If I have a MaybePointer[SomeStruct] and print the address of the pointer I get a pointer value as expected:

    stru

[2016-09-22 02:04] Praetonus commented on #1248
This is the correct behaviour in both cases. The problem is that the `Pointer` in `MaybePointer` is misleading.

`MaybePointer` doesn't add an indirection and doesn't exist at runtime, it is only a type system construct. When you create and handle a `MaybePointer`, you're actually handling the source reference.

So in your first example you allocate a `Foo` on the heap and "re-encode" it into a `M

[2016-09-22 02:15] doublec commented on #1248
Ok, that makes sense, thanks. I think a better name would be useful. `OptionalStruct`, `MaybeStruct`, `NullOr`, `NoneOr`, `NotReallyAStructButCouldBe`. These examples are good arguments for never asking me for a potential name!

[2016-09-22 02:38] SeanTAllen commented on #1248
At the minimum, this definitely calls for updating the documentation for MaybePointer

[2016-09-22 02:39] SeanTAllen commented on #1146
@sylvanc couldn't find a rubber duck? ;)

[2016-09-22 03:42] #1218 closed

[2016-09-22 03:51] jemc commented on #1231
It was discussed, but not fully resolved.

The issue with LTO on Linux is specifically with (not-so) old versions of `gcc`, so the discussion dovetailed a bit into the discussion for #1219.  For these versions of `gcc`, `gcc-ar` is necessary, hence the logic in the `Makefile`.  I asked about `clang`, but @sylvanc said that `clang` had other problems on Linux relating to not being able to use the "

[2016-09-22 10:37] dimiii commented on #1118
Hi, seems like by happy coincidence it's just a simple typo.
[code]
After a quick fix all is fine.

[2016-09-22 11:28] SeanTAllen commented on #1118
@dimiii all CI jobs failed with a segfault with that change applied. I left some questions for you on #1249.

[2016-09-22 13:42] Praetonus commented on #1118
It looks like this is an uninitialised type descriptor pointer problem. I'll try digging into it.

[2016-09-22 14:20] Praetonus commented on #1118
I think I got it. This is a premature free issue.

Full tracing of `val` objects sent in messages is deffered until a GC cycle on the owner. This means the `_ServerConnection` assigned to the `Payload` and then sent in a message (via the `Payload`) has a reference count greater than 0 but isn't aware of it until the `Payload` is traced. By then, the `_ServerConnection` might have been GC'd, which

[2016-09-22 14:57] jemc commented on #267
@SeanTAllen - I don't think this should be labelled as "turn into rfc" - it doesn't introduce any new API or concepts, it simply makes the compiler able to understand a class of programs that the current implementation cannot.  I'm going to remove that label.

Also, I see this was labelled as "enhancement" before we added the various levels of work for "enhancement" - I'm going to mark it as "read

[2016-09-22 15:04] dimiii commented on #1118
@Praetonus
@SeanTAllen

BTW, Do you have plans to bootstrap the compiler?

[2016-09-22 17:03] jemc commented on #1118
@dimiii - Building a pony compiler in Pony is a long-term goal, though it represents a major amount of work.  There are no plans to write the runtime in Pony, as it is built on lower-level constructs that would be impractical to provide in Pony.

[2016-09-22 17:06] SeanTAllen commented on #1118
@dimiii re: the runtime point @jemc from a safety standpoint, a Pony runtime written in something like Rust would be awesome. However, C is far more accessible to the community and as such, the plans are to stay with C for the forseeable future for the runtime.

[2016-09-22 18:59] malthe commented on #316
Closing this since we now have `errno()` which can be checked after an error.

[2016-09-22 18:59] #316 closed

[2016-09-22 19:31] malthe commented on #1088
It seems very reasonable to go with that design in Pony. This should be an RFC then, but very briefly this would allow us to remove all codec-specific code from the built-in string module and shift it to views:
[code]
(Where the codec argument is a primitive.)

[2016-09-22 22:09] Jbbouille commented on #1208
So we should replace [L657](https://github.com/ponylang/ponyc/blob/master/Makefile#L657) by:
[code]
Something like that ?

[2016-09-22 23:55] Triangle345 commented on #1208
I've never used fpm before but the tag -d seems correct.  However; dont you
have those two backwards? shoudnt compat lib be required only for fedora >
24?  You have compat lib set up for < 24

On Thu, Sep 22, 2016 at 6:09 PM, Jean-Baptiste Petit <
notifications@github.com> wrote:

[2016-09-23 02:16] Praetonus commented on #1240
I've investigated that, it is because returning floating point values in SSE registers is mandatory on x86_64.

[2016-09-23 15:02] SeanTAllen commented on #1218
This is a high priority item which means release. I'll handle this release.

[2016-09-23 15:03] SeanTAllen opened #1255 "release 0.3.3"
We closed another high priority issue:

https://github.com/ponylang/ponyc/issues/1218

Which means... time for another release. I'll handle it sometime this weekend to do another verification on the release instructions as there were a couple tweeks last time.

[2016-09-23 15:22] Praetonus commented on #557
@wilbertom I don't think I'll have time to handle it anytime soon. Feel free to take it.

[2016-09-23 15:57] Praetonus opened #1256 "pony_continuation is not thread-safe even in the single producer case"
The documentation of `pony_continuation` states that the function is thread-safe as long as only one actor pushes a continuation to another actor. This is not true as the producer (`pony_continuation`) doesn't _synchronize-with_ the consumer (`ponyint_actor_run`). Fixing this problem would require a CAS loop, which would be expensive and would remove the wait-free property of message dequeuing (we

[2016-09-23 17:23] jemc commented on #1255
#1252 was also a high priority bug fix, and was merged just now.

[2016-09-23 17:29] jemc commented on #1256
I'm not aware of any third party uses of this feature.

Digging through history I couldn't find any clues about the feature - it seems to predate [the point when](3ded8100ebf6443f09d1f784bb33bd149d1b5328) `ponyrt` and `ponyc` repos were merged together.

Getting context from @sylvanc is probably our only path forward.

[2016-09-23 17:51] SeanTAllen commented on #1255
nice!

[2016-09-23 17:52] SeanTAllen commented on #1136
@Praetonus should this issue be closed?

[2016-09-23 17:57] Praetonus commented on #1136
@SeanTAllen Github should close it automatically as soon as #1257 is merged, thanks to the commit message. That's a really nice feature.

[2016-09-23 21:31] #1136 closed

[2016-09-23 22:18] SeanTAllen commented on #1255
Heads up @ponylang/committer.

This is starting soon.

fd2f20647f8e402391560c2fc244530a72466e58 is the blessed commit

[2016-09-23 22:22] SeanTAllen commented on #1255
CHANGELOG updated on `master`.

Any CHANGELOG changes in PRs need to be updated.

[2016-09-23 22:30] SeanTAllen commented on #1219
Homebrew has dropped support for Mavericks.

[2016-09-23 22:32] SeanTAllen commented on #1255
Homebrew update PR opened: https://github.com/Homebrew/homebrew-core/pull/5160

[2016-09-23 22:33] SeanTAllen commented on #1255
@stefantalpalaru NEW RELEASE!

[2016-09-23 22:34] SeanTAllen commented on #1255
RPM, Deb and Windows packages are ready.

Waiting on Homebrew....

[2016-09-23 22:52] stefantalpalaru commented on #1255
Gentoo ebuild updated.

[2016-09-24 01:40] SeanTAllen commented on #1255
Still waiting on homebrew update to be merged

[2016-09-24 07:59] #1062 closed

[2016-09-24 21:25] SeanTAllen commented on #1255
Its been about 24 hours since I opened the homebrew. I'm announcing the release with a "waiting for homebrew caveat"

[2016-09-24 21:30] SeanTAllen commented on #1255
Ha. looks like its moving finally.

[2016-09-25 00:24] SeanTAllen commented on #1255
All done.

[2016-09-25 00:24] #1255 closed

[2016-09-25 03:17] Theodus opened #1259 "Bad error message if Main actor has no constructor"
A pony program where the Main actor has no constructor produces the following error message:
[code]
This should be changed to `A Main actor must have a create constructor which takes a single Env parameter` so that it would make sense in this case.

[2016-09-25 16:23] Theodus opened #1261 "File.open-error test fails when run as root"
This is mostly an issue because it means that the test will always fail in Docker containers.

[2016-09-25 17:34] #1259 closed

[2016-09-25 17:49] SeanTAllen commented on #1261
Why does it fail when run as root?

[2016-09-25 18:21] SeanTAllen opened #1262 "Invalid documentation generated"
Here's an example:

from `FilePath` source:

[code]

This ends up in the generated documentation as:

[code]

The expansion of the `FileCaps` union is expected, however the `= recover` isn't.

This is probably an issue with it being an expression rather than a value that is used for the default value. If you decide to take this on and need help, let me know.

_N.B. Basic knowledge of C is required

[2016-09-25 18:29] SeanTAllen opened #1263 "Improve HTML document creation for expanded union types"
The length of the union type created here results in an awful "scrollbar" experience. We should look for a way to handle better:

<img width="775" alt="screenshot 2016-09-25 14 27 15" src="https://cloud.githubusercontent.com/assets/193596/18817362/5f59d1ba-832c-11e6-8950-b4a98b643c1f.png">

The example here is from `FilePath`.

If you pick up this issue, please provide screenshots with your PR of

[2016-09-25 22:25] SeanTAllen opened #1265 "Unexpected ordering of messages in ProcessManager"
So, imagine you are an intrepid Pony user on IRC.
Let's call you "polypus74". You have some code that
does something like this:

pm.writev(some_data)
pm.done_writing()

You reasonably expect that your data will be written
and then shutdown because you told it you were done
writing. Sadly, before this commit you would be wrong.
You might even go on IRC and ask folks about it. You
might in fact, poi

[2016-09-25 22:28] SeanTAllen commented on #1265
Fix for this is #1264

[2016-09-26 00:10] Theodus commented on #1261
The test involves asserting that file permission is denied

[2016-09-26 00:17] SeanTAllen commented on #1261
Suggestions on a fix?

[2016-09-26 03:36] SeanTAllen opened #1267 "release 0.4.0"
Once #1264 is merged to fix high priority issue #1265, we should do a 0.4.0 release.

[2016-09-26 13:04] Praetonus commented on #1156
It turns out this is caused by the dynamic memory allocation. I guess that from the optimiser standpoint, it is possible for `pony_throw` to access memory returned by `pony_alloc` so the whole thing isn't removable. Maybe adding some aliasing metadatas would solve the problem.

[2016-09-26 19:06] SeanTAllen opened #1268 "SSL connection ignores notifier and calls directly into write_final"
`SSLConnection` calls directly into `write_final` on TCPConnection rather than going through the notifier. This should be fixed. Its a fairly serious bug.

You can see the call to `write_final` in `SSLConnection`'s `_poll(conn: TCPConnection ref)` method.

As part of this, we need to add tests that verify that the notifier is used correctly.

Also as part of fixing this, `write_final` on `TCPConne

[2016-09-26 19:11] SeanTAllen commented on #1267
I'm waiting for #1082 to get merged as well and then I'll release later tonight.

[2016-09-26 19:12] SeanTAllen commented on #1265
Closed by the merging of #1264

[2016-09-26 19:12] #1265 closed

[2016-09-26 19:26] jemc commented on #1267
I've updated the ticket title and description, since we decided that #1082 implies a bump to `0.4.0`.

[2016-09-26 19:26] SeanTAllen commented on #1267
Ah good call.

[2016-09-26 22:18] SeanTAllen commented on #1267
Blessing 525866f as our golden commit.

[2016-09-26 22:20] SeanTAllen commented on #1267
tagged 0.4.0 and pushed to release

[2016-09-26 22:22] SeanTAllen commented on #1267
Changelog and VERSION have been updated on master.

[2016-09-26 22:28] SeanTAllen commented on #1267
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/5266

[2016-09-26 22:28] SeanTAllen commented on #1267
@stefantalpalaru release underway

[2016-09-26 22:31] SeanTAllen commented on #1267
0.4.0 for Windows is now available in bintray

[2016-09-26 22:48] SeanTAllen commented on #1267
0.4.0 for Linux Debian and RPM packages are now available in bintray

[2016-09-26 22:48] SeanTAllen commented on #1267
Waiting on homebrew now...

[2016-09-26 23:22] SeanTAllen commented on #1225
Could we get away, once 3.9 is in place with advising people not to use LLVM 3.8?

[2016-09-26 23:35] stefantalpalaru commented on #1267
Gentoo ebuild updated.

[2016-09-26 23:37] SeanTAllen commented on #1267
thanks @stefantalpalaru!

[2016-09-27 00:39] DemiMarie opened #1269 "Disallow `and` and `or` operators on non-Bool types, or find an alternative that preserves short-circuiting"
Currently `Bool.and` and `Bool.or` short circuit, using compiler magic.  This could be a subtle source of bugs if an actual boolean is replaced by a user-defined type that overloads these operators.

[2016-09-27 00:56] jemc commented on #1269
@DemiMarie - as far as I can tell, this isn't true:

[code]
[code]

Do you have a code example of short-circuiting on non-`Bool` types?

[2016-09-27 03:46] DemiMarie commented on #1269
Sorry.  I meant that the fact that and and or short circuit on bool ONLY is
confusing and a misfeature.

I would prefer an approach that tested the left operand for some user
defined form of truthiness and the returned the appropriate operand.

On Sep 26, 2016 8:56 PM, "Joe Eli McIlvain" <notifications@github.com>
wrote:

[2016-09-27 04:15] jemc commented on #1269
I don't think I fully understand the complaint, but if you wanted to propose a language change of this kind, the way to go about it would be through the RFC process.  Seeing the motivation and proposal laid out in the RFC format would probably also help me understand the complaint better.  I'm going to tag this issue ticket with the "turn into RFC" label so that you or someone else can make a form

[2016-09-27 07:24] malthe commented on #1268
I took a look at this but ran into some problems:

1. Shouldn't `TCPConnection.close` be a behavior?
2. Should the notifier protocol use an interface (or multiple interfaces) instead of directly relying on `TCPConnection` – ? It's awkward to write a tests for `SSLConnection` since you need an actual `TCPConnection` and can't substitute with a dummy.

For example, `TCPConnectionNotify.closed` takes

[2016-09-27 11:17] SeanTAllen commented on #1268
No TCPConnection.close shouldn't be a behavior and no, tag isn't sufficient.

Why?

A notifier is run in the context of the actor. Its responding to events that are happening in the actor at that time. It needs to make changes to the actor's state then. Thus it needs a ref, not a tag.

For example, if an action calls for closing the connection, that close shouldn't be enqueued behind 20 waiting me

[2016-09-27 11:21] SeanTAllen commented on #1267
for what appears to be reasons unrelated to any of the content in the PR, the homebrew PR https://github.com/Homebrew/homebrew-core/pull/5266 failed their CI and hasn't been restarted yet. So, we are waiting on that. The first couple times I did this, homebrew was painless and made it through their CI and was merged in a couple hours.

Last time it took about 26-28 hours.

We are currently at 13 h

[2016-09-27 14:51] SeanTAllen commented on #1267
I sent the release notice email to pony+user and also dropped a note in IRC. I'm leaving this open til the Homebrew PR is merged.

[2016-09-27 22:05] SeanTAllen commented on #416
@aturley does your RFC impact on this?

[2016-09-27 22:12] SeanTAllen commented on #1269
I think this is definitely something that needs to go through an RFC. @jemc objection to closing?

[2016-09-27 22:20] jemc commented on #1269
I have no objection to closing this issue ticket, but I didn't want to come across as "too harsh" by closing without giving @DemiMarie another chance to comment.

At any rate, I'll continue with the closing of this issue ticket, but please understand that this doesn't mean your ideas / contributions will not be valued.  We want to close the ticket because it adds friction to our process to have da

[2016-09-27 22:20] #1269 closed

[2016-09-28 00:05] SeanTAllen commented on #1118
@Praetonus should this be relabeled from "ready for work"?

[2016-09-28 00:44] Praetonus commented on #1118
I'm not sure. I can see a fix for this but I think it would have some performance penalty. Maybe removing it until we've discussed it on the sync call would make sense.

[2016-09-28 02:11] SeanTAllen commented on #1267
They kicked their jenkins CI again and after a couple hours it finally got to run so we are just wanted on someone to merge the Homebrew PR at this point.

[2016-09-28 02:59] DemiMarie commented on #1269
You did not come across as too harsh!  Thanks for the suggestion.

On Sep 27, 2016 6:20 PM, "Joe Eli McIlvain" <notifications@github.com>
wrote:

[2016-09-28 05:04] peterzandbergen commented on #1118
Stability should be more important, imho. I would not advocate using a tool for server applications if it could occasionally crash.

[2016-09-28 05:07] peterzandbergen commented on #1118
Especially when the design of the language is to eliminate crashes caused by the programmer.

[2016-09-28 10:01] SeanTAllen commented on #1118
no one is suggesting not fixing. the concern is, can we find a way to fix without having a performance impact.

[2016-09-28 10:06] SeanTAllen commented on #1267
Homebrew PR merged. 0.4.0 released!

[2016-09-28 10:06] #1267 closed

[2016-09-28 10:42] SeanTAllen opened #1273 "Investigate why 187b32f fixed our failing `net` tests"
I recently committed a change that seems to have fixed our regularly failing `net` tests on Windows. The change itself was minor and can be seen here:

https://github.com/ponylang/ponyc/commit/187b32f1c13876fa88e1304e169fb8f198b7ca37

The important question is, why did this take care of the issue? It would seem there's a lurking hidden bug in there.

[2016-09-28 10:43] SeanTAllen commented on #1273
Given that we don't know how difficult this might be to find or fix, I've labelled as medium as a general guess and guide to anyone looking for something to pick up.

[2016-09-28 10:44] SeanTAllen commented on #1273
To anyone looking at this, I would suggest waiting a few days to further verify the fix before moving forward with this. All signs point strongly towards this being an actual fix but, it always possible it fixed a passing environmental issue on the appveyor side (equally disturbing but perhaps not investigatable)