[2018-06-05 11:46] SeanTAllen commented on #2746
TravisCI did not kick off for... unknown reason.

[2018-06-05 11:52] SeanTAllen commented on #2746
A little manual intervention and TravisCI is running again.

[2018-06-05 11:52] SeanTAllen commented on #2746
Thanks @stefantalpalaru

[2018-06-05 12:08] SeanTAllen commented on #2746
Deb package available in bintray.

[2018-06-05 12:09] SeanTAllen commented on #2746
Docker image is available.

[2018-06-05 12:10] SeanTAllen commented on #2746
Pony playground is updated to 0.22.5

[2018-06-05 12:11] SeanTAllen commented on #2746
COPR build failed

[2018-06-05 12:27] SeanTAllen commented on #2746
Waiting on homebrew.

[2018-06-05 14:00] SeanTAllen commented on #2746
Homebrew done

[2018-06-05 18:49] sgebbie commented on #2741
I can verify the bug on OS X with LLVM 5.0.1

[code]

[2018-06-05 19:00] sgebbie commented on #2741
Generating asm output from ponyc and correlating this with lldb I can see that the crash takes place on line 105 `cmpq    %rax, (%rsi)` in the listing below. This seems to have something to do with GC tracing during a message send to an actor.

But, again, from the listing, it is clear that the constant `5` has been loaded into a representation of the tuple in line 90 `movq    $5, 16(%rbx)` and th

[2018-06-06 00:19] SeanTAllen commented on #2526
@slfritchie i take it item 2 still needs to be done?

[2018-06-06 00:28] SeanTAllen commented on #2389
This is fixed on master. Can no longer recreate.

[2018-06-06 00:28] #2389 closed

[2018-06-06 00:49] SeanTAllen commented on #2317
This appears to be resolved.

[2018-06-06 00:49] #2317 closed

[2018-06-06 01:02] SeanTAllen commented on #2298
Can no longer reproduce. Closing.

[2018-06-06 01:02] #2298 closed

[2018-06-06 01:07] SeanTAllen commented on #2237
backtrace with latest ponyc:

[code]

[2018-06-06 01:11] SeanTAllen commented on #2208
Closing as I am unable to confirm this is still an issue.

[2018-06-06 01:11] #2208 closed

[2018-06-06 01:13] SeanTAllen commented on #2162
I'm unable to create this with latest packages that get installed from the new PPA. Closing for now.

[2018-06-06 01:13] #2162 closed

[2018-06-06 01:14] SeanTAllen commented on #2154
No longer able to reproduce. Closing.

[2018-06-06 01:14] #2154 closed

[2018-06-06 01:15] SeanTAllen commented on #2153
This works on master. Closing.

[2018-06-06 01:15] #2153 closed

[2018-06-06 01:17] SeanTAllen commented on #2144
This is fixed on master error message is now:

[code]

closing.

[2018-06-06 01:17] #2144 closed

[2018-06-06 01:20] SeanTAllen commented on #2132
This is now:

[code]

@Theodus I believe that is what we want, yes?

[2018-06-06 01:28] SeanTAllen commented on #1968
@jemc do you have minimal code for this? the example won't compile.

[2018-06-06 01:31] SeanTAllen commented on #1576
@dipinhora is this still an issue?

[2018-06-06 01:33] SeanTAllen commented on #1465
This no longer segfaults.

[2018-06-06 01:33] #1465 closed

[2018-06-06 02:52] dipinhora commented on #1576
Still a segfault. But with a slightly different stack trace (see below). I tried with both llvm-3.9 and llvm-6.0. Same results.

The following snippet shows what occurs:

[code]

Runing the command with `gdb`:

[code]

[2018-06-06 03:39] dipinhora commented on #1576
Possibly related... As of current master both `regex/Regex.groups` and `net/http/_HTTPConnection._new_conn` also segfault. However, their backtraces seem to be corrupt.

`regex/Regex.groups` results:

[code]

`net/http/_HTTPConnection._new_conn` results:

[code]

[2018-06-06 07:11] mfelsche commented on #2088
This has been implemented with the new stdlib theme: https://github.com/ponylang/mkdocs-theme

[2018-06-06 07:11] #2088 closed

[2018-06-06 12:28] #2684 closed

[2018-06-06 15:28] krokite commented on #161
+1, Benchmark would be appreciated between - ponylang, golang, rustlang - would love some other player like kotlin, dartlang and java too.

[2018-06-06 18:02] SeanTAllen commented on #2746
Finished this. Forgot to close it.

[2018-06-06 18:02] #2746 closed

[2018-06-06 20:02] #2314 closed

[2018-06-06 20:12] sylvanc commented on #2735
It looks like the problem is related to returning GEN_NOVALUE instead of GEN_NOTNEEDED in src/libponyc/codegen/genreference.c

[2018-06-06 20:18] sylvanc commented on #2716
The only path I can see to this is in codegen/host.cc:167, where MDNode::get is called. @plietar points out that this may be inlining a call to MDTuple::get.

[2018-06-06 20:39] mfelsche opened #2753 "RFC 55: Remove net/http package from stdlib"
[RFC text](https://github.com/ponylang/rfcs/blob/master/text/0055-remove-http-server-from-stdlib.md)

[2018-06-06 20:42] mfelsche opened #2755 "RFC 56: Change buffered.Reader.line to return String iso^"
[RFC](https://github.com/ponylang/rfcs/blob/master/text/0056-buffered-reader-line-iso.md)

[2018-06-06 20:56] sgebbie commented on #2741
Slowly trying to work through the code. I realise that this is still somewhat broad, but I think that I can narrow this down to code generated by `gentrace` in between the calls to `pony_gc_send` and `pony_send_done` in `gencall.c:gen_send_message`.

Again, my sense is that the tuple has been packed into a compact representation, but that the code is then trying to later load up a an actual data v

[2018-06-06 20:58] SeanTAllen commented on #2735
The problem with that is that GEN_NOVALUE is needed to prevent #2662

[2018-06-06 21:00] SeanTAllen commented on #2735
I think I have a fix for this. Testing now.

[2018-06-06 21:14] SeanTAllen opened #2758 "Release 0.22.6"
To get out perf fixes from #2751 and #2752 as well as PR #2757 that closes out "triggers release" issue #2735.

[2018-06-07 00:10] SeanTAllen commented on #2758
Waiting for appveyor to clear up so things #2757 can be merged. The queue is rather long at the moment.

[2018-06-07 10:42] #2735 closed

[2018-06-07 10:43] SeanTAllen commented on #2758
#2757 has been merged to master. Waiting for CI on that to pass so I can bless the commit and then away we go.

[2018-06-07 12:00] SeanTAllen commented on #2758
Blessing 9d1bdc2c6a649a3e5ef03713ec34d4c0d10aaec7

[2018-06-07 12:01] SeanTAllen commented on #2758
Release is underway

[2018-06-07 12:05] SeanTAllen commented on #2758
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/28758

[2018-06-07 12:06] SeanTAllen commented on #2758
@stefantalpalaru @kamilchm release underway

[2018-06-07 12:11] SeanTAllen commented on #2758
Release notes PR opened: https://github.com/ponylang/ponylang.github.io/pull/299

[2018-06-07 12:12] SeanTAllen commented on #2758
Windows packages are available in bintray.

[2018-06-07 12:12] stefantalpalaru commented on #2758
Gentoo ebuild updated.

[2018-06-07 12:13] SeanTAllen commented on #2758
Deb package is available in bintray.

[2018-06-07 12:13] SeanTAllen commented on #2758
Thanks @stefantalpalaru

[2018-06-07 12:31] SeanTAllen commented on #2758
PPA finished.

[2018-06-07 12:33] SeanTAllen commented on #2758
Docker image published.
Pony playground updated.

[2018-06-07 12:42] SeanTAllen commented on #2758
Epel 7 Build failed due to a non-pony related issue (mirrorlist timeout). Restarting.

https://copr-be.cloud.fedoraproject.org/results/ponylang/ponylang/epel-7-x86_64/00764087-ponyc/builder-live.log

[2018-06-07 12:45] SeanTAllen commented on #2758
Copr is done.

Waiting on homebrew.

[2018-06-07 14:29] SeanTAllen commented on #2758
Homebrew merged!

[2018-06-07 14:35] SeanTAllen commented on #2758
Release notes out, notices posted. We are done. Thanks for playing along folks!

[2018-06-07 14:35] #2758 closed

[2018-06-07 14:36] #2755 closed

[2018-06-07 15:15] sgebbie commented on #2237
This issue and the more recently logged issue appear to be duplicate: https://github.com/ponylang/ponyc/issues/2741

I've been placing my recent findings on #2741. Should I close this one?

[2018-06-07 15:17] sgebbie commented on #2741
Just being hopeful, so retested following the fix for: #2735 but the bug still occurs for:

[code]

[2018-06-07 15:46] SeanTAllen commented on #2741
Thanks @sgebbie

[2018-06-07 15:47] SeanTAllen commented on #2237
seems reasonable yes as long as there is a reference back to this.

[2018-06-07 17:16] sirscratchalot opened #2759 "Problem with Array[String val] contains using result of `string.substring`"
Hello, I've hit a wall with Array.contains when calling with the result of a `String.substring` operation.
This returns `false` even when equivalent calls using equivalent strings return `true`.

Here is a quick code example with printouts as comments, the unexpected behaviour comes in the final print statement :

[code]
Expected behaviour would be a final print out of:

`Ending .png 4 true`

Orig

[2018-06-07 18:07] EpicEric commented on #2759
By default, the `Array.contains` function receives a second parameter, `predicate`, which is a lambda for comparison of elements.

The default value is a lambda that does identity comparison (i.e. `l is r`), while in this case you would expect a structural comparison (i.e. `l == r`).

In your case, you can provide a custom lambda for structural equality in your code:

[code]

The fact that the fir

[2018-06-07 18:28] SeanTAllen commented on #2759
I'm going to call this a bug. However, its a documentation bug,

Array.contains should explain the predicate. It should explain that "matching" is done based on identity and it should give examples of how to do something like what @sirscratchalot wanted to do.

[2018-06-07 18:57] sheerluck commented on #2083
I want to work on it ^_^

[2018-06-07 19:17] winksaville commented on #2759
Would following be considered good pony form? The types of l and r are inferred and not having the "where" clause?
[code]

[2018-06-07 19:21] SeanTAllen commented on #2759
other than the "not standard library" formatting, yes, that is how you would want to use contains in this situation @winksaville.

[2018-06-07 19:29] winksaville commented on #2759
From the [style guide](https://github.com/ponylang/ponyc/blob/master/STYLE_GUIDE.md) for lambda it looks like I need to add a space before the trailing brace to make it standard, anything else?
[code]

[2018-06-07 19:32] SeanTAllen commented on #2759
space before and after the `=`.

snake case for variables.

[2018-06-07 19:40] winksaville commented on #2759
Txs, so:
[code]

[2018-06-07 19:42] SeanTAllen commented on #2759
yup

[2018-06-07 19:54] slfritchie commented on #2526
Correct.

[2018-06-07 21:40] burjui opened #2760 "Segfault in 'Simplify the CFG' pass with Pony 0.22.6"
Got a segfault compiling my hobby project on Arch Linux x86_64:
https://bitbucket.org/bytefu/funky/src/simplify-cfg-fail/
[code]
Though the segfault goes away after uncommenting the line 66 in `main.pony`:
[code]
GDB shows the following stacktrace:
[code]

[2018-06-07 22:03] EpicEric opened #2761 "Identity equality of different String literals"
When debugging the error in #2759, I've come across some oddities that can cause issues with programmers of the language regarding identity equality; specifically, when dealing with strings. I have written the following Gist to test my hypotheses:

https://playground.ponylang.org/?gist=8c4dc98bd1fbe99bbedf83104ca59e16

Running on current release (0.22.6), I get the following results:

[code]

To m

[2018-06-07 22:44] SeanTAllen commented on #2760
It would appear to be read code removing a giant chunk of the program and then getting angry.

What was the last version of Pony that you know this compiled with?

[2018-06-07 22:48] SeanTAllen commented on #2761
The issue is you are declaring string literals not strings. There is only 1 instance of each string literal.

Its common in most programming languages for string literals to only have a single common instance. I think it would be reasonable to add a note to String literals section of the tutorial that each literal exists only 1 time.

[2018-06-07 23:12] EpicEric commented on #2761
Thanks Sean, this explanation clears up all my doubts. I've opened the issue ponylang/pony-tutorial#297 for continuation.

[2018-06-07 23:12] #2761 closed

[2018-06-07 23:55] svnpenn opened #2762 "Brace syntax"
Is Pony able to use brace syntax, similar to JavaScript? Something like this:

[code]

[2018-06-08 00:05] SeanTAllen commented on #2762
Hi, this isn't really an issue. This is more a question for the mailing list. We try to keep the issues to issues.

"able" is an interesting term. That's a syntax error.
could it be changed? yes
will it be? unlikely.

[2018-06-08 00:05] #2762 closed

[2018-06-08 01:06] SeanTAllen commented on #2760
@burjui could you try to create a more minimal example?

[2018-06-08 01:09] SeanTAllen commented on #2760
This was introduced by 9222f08c97f0079f0d5d7f732d246c09969daa4d and my fix for https://github.com/ponylang/ponyc/issues/2735 which was also caused by the same commit didn't fix this. A minimal example would go a long way to helping with this.

[2018-06-08 01:16] SeanTAllen commented on #2760
Here's a minimal example that I think is the same.

[code]

[2018-06-08 01:47] SeanTAllen commented on #2760
@jemc @Praetonus I think this one is past my current compiler knowledge paygrade.

[2018-06-08 02:03] SeanTAllen commented on #2760
changing the return type at the end of `gen_localdecl` to GEN_NOTNEEDED fixes this bug.

AND... the tests all pass, so, i'm going to open a PR for review.

[2018-06-08 02:09] SeanTAllen commented on #2760
@burjui https://github.com/ponylang/ponyc/pull/2763 fixes your issue. I've tested both my minimal example and your full project.

[2018-06-08 02:12] SeanTAllen opened #2764 "Release 0.23.0"
High priority bug https://github.com/ponylang/ponyc/issues/2760 has a PR open to fix it: https://github.com/ponylang/ponyc/pull/2763

We should do a release once that is merged. Note, there are breaking changes on master so this would become 0.23.0 for the release.

[2018-06-08 08:58] burjui commented on #2760
I tested the fix and it works, thank you. I have never seen bugfixes coming that soon after reporting an issue, wonderful!

[2018-06-08 12:44] SeanTAllen commented on #2764
Another tuple issue case was found that we should address before this release. see end of: https://github.com/ponylang/ponyc/issues/2760

[2018-06-08 12:46] mfelsche commented on #2764
Lets get this inside too: https://github.com/ponylang/ponyc/pull/2707
I am reworking it right now.

[2018-06-08 12:57] SeanTAllen commented on #2760
Interesting. Its looking like a different bug. But I need more time to triage. @burjui I might ask you to open a different issue.

[2018-06-08 13:01] SeanTAllen commented on #2760
@burjui this is a different bug that appears in the same kind of way. can you open an issue for it?

[2018-06-08 13:01] SeanTAllen commented on #2760
This existed at least as far back as 0.21.3

[2018-06-08 13:13] SeanTAllen commented on #2760
This goes back to the introduction of the `_` as valid syntax. Without that, this compiles now, so when opening a new issue, we should note that.

[2018-06-08 13:57] burjui opened #2767 "Segfault in 'Simplify the CFG' pass when discarding a capture in a match inside a loop"
[code]
This causes a segfault on Arch Linux x86_64 with Pony 0.22.6 and on issue-2760 branch:
[code]
GDB stacktrace:
[code]

[2018-06-08 13:58] burjui commented on #2767
Created an issue: #2767

[2018-06-08 14:00] #2760 closed

[2018-06-08 14:04] SeanTAllen commented on #2767
This goes back to the introduction of `_`.

This

[code]

compiles. So this is related to `_`.

[2018-06-08 15:07] slfritchie opened #2768 "Promises.join followed by reject() doesn't reject all subsequent promises"
Observed on macOS 10.12/Sierra using Pony release 0.22.6: if I use `Promises.join()` to join a collection of `P` promises and then reject one of the promises in `P`, then the rejection doesn't propagate to all of the remaining promises.

A reproducing unit test case can be found at https://gist.github.com/slfritchie/a7833aca6ab95b35e09b5b045bfff749

[2018-06-08 15:39] slfritchie commented on #2768
Oops, sorry, the test in that gist is bad.  I'm creating a hopefully-correct one now.....

[2018-06-08 15:46] slfritchie commented on #2768
OK, sorry, I've updated the gist in the initial comment and deleted the gist with the incorrect test case.

I've left a comment that includes a 2 step `.next()` cascade that's similar to an earlier unit test.  In either instance, the 0-arity lambda for the cancellation action isn't being executed.

[2018-06-08 21:11] nordlow opened #2769 "Cannot link pony on Ubuntu 18.04"
When I try building Ubuntu 18.04 with LLVM-6 as `make` it errors in the linking stage as

[code]

. What's wrong?

[2018-06-08 21:16] SeanTAllen commented on #2769
This should solve your problem.

https://www.ponylang.org/faq/#pic-compile-error

try

`make default_pic=true`

[2018-06-08 21:27] mfelsche commented on #2768
Good catch!

I think the issue is that in `Promises.join` ( https://stdlib.ponylang.org/src/promises/promise/#L280 ) the reject case is not handled at all. It should be propagated through to the `_Join` actor.

[2018-06-08 21:27] nordlow commented on #2769
Thanks!

[2018-06-08 21:27] #2769 closed

[2018-06-08 21:40] SeanTAllen commented on #2769
You're welcome. For future reference nordlow, these sort of questions where you aren't sure if its a bug or not should be directed to the IRC channel or mailing list.

https://github.com/ponylang/ponyc/blob/master/SUPPORT.md#should-i-open-an-issue

[2018-06-08 22:19] nordlow commented on #2769
Got it, thanks.

[2018-06-08 22:54] slfritchie commented on #2768
Ja, after drawing a diagram & stepping through everything, I came to the same conclusion.  I've got a 1-liner + new test case to create for a PR, coming soon.

[2018-06-09 00:33] SeanTAllen commented on #2768
Fixed by #2770.

[2018-06-09 00:33] #2768 closed

[2018-06-09 14:42] SeanTAllen commented on #2526
@jemc is (probably) experiencing this bug. If he does't get to this weekend, I'll try to fix this on Sunday.

[2018-06-09 14:42] SeanTAllen commented on #2764
@mfelsche I'm going to release sometime on Sunday after I address: https://github.com/ponylang/ponyc/issues/2526

[2018-06-09 21:54] Theodus opened #2772 "Private methods from other packages accessible through interfaces"
Sylvan and Paul have noticed that private methods are accessible across packages through interfaces that define those private methods. If this is does not immediately sound terrifying, here is a gist provided by Sylvan: https://playground.ponylang.io/?gist=7628fd7629fe74344caceabd147b58cc

Either interfaces must not have private methods, or only types from the same package can fulfill an interface

[2018-06-10 02:40] SeanTAllen commented on #2772
We take advantage of "this" at Wallaroo Labs. Example...

[code]

The idea here is that various methods on the trait need certain fields to be defined in order to operate. We provide a private method that the trait implementer needs to implement, which is then called by methods with said Trait.

See `fun ref _acker(): Acker` in the above example..

I don't like either idea that @Theodus has presen

[2018-06-10 12:13] SeanTAllen commented on #2764
I dont have time to get to #2526 so I'm going to go ahead with this release.

[2018-06-10 12:14] SeanTAllen commented on #2764
Travis and Appveyor are green. Blessing: 4d383a897cd6d6caf5c1815cf71fbd16bef7a980

[2018-06-10 12:16] SeanTAllen commented on #2764
Release is underway

[2018-06-10 12:29] SeanTAllen commented on #2764
Release notes PR opened: https://github.com/ponylang/ponylang.github.io/pull/301

[2018-06-10 12:31] SeanTAllen commented on #2764
Debian and Windows packages are available in bintray.

[2018-06-10 12:33] stefantalpalaru commented on #2764
Gentoo ebuild updated.

[2018-06-10 12:44] SeanTAllen commented on #2764
thanks @stefantalpalaru!

[2018-06-10 12:44] SeanTAllen commented on #2764
packages are now available in PPA.

[2018-06-10 12:50] SeanTAllen commented on #2764
Docker image available.
Playground is now updated to 0.23.0

[2018-06-10 13:07] SeanTAllen commented on #2764
COPR build queue is really deep so that probably isn't finishing for a few hours.

[2018-06-10 15:14] SeanTAllen commented on #2764
COPR is done. Waiting on homebrew.

[2018-06-10 15:27] SeanTAllen commented on #2764
release notes merged.

[2018-06-10 15:34] SeanTAllen commented on #2764
All the notices have been posted. Thanks for playing folks.

[2018-06-10 15:34] #2764 closed

[2018-06-10 20:11] jemc commented on #2772
I think both of these options add some artificial limitations here.

It should be possible to prevent private methods on an interface from "lining up" with private methods on types in a different package.

One example of a way to do this would be to internally munge private methods with the package id, so that they'd end up with different names. However, there's probably a cleaner way to ensure th

[2018-06-10 22:05] jemc commented on #1968
I suggest closing for now. I can reopen later if I'm able to reproduce.

[2018-06-10 22:05] #1968 closed

[2018-06-10 22:20] EpicEric opened #2774 "Docs generation always includes imported packages"
If I have a Pony program with a use statement, all code from other packages will be included in code documentation generation. Running `ponyc mypkg --docs --pass docs` on the following code:

[code]

will generate docs for `mypkg`, `builtin`, and `collections`. This is also the case for packages in Stable environments, and other packages that these packages include.

I understand how this is neces

[2018-06-10 23:18] SeanTAllen commented on #2774
@EpicEric going to disagree with you on the "should be changed to point to official Pony docs page". Official pages update with each release. Documentation generation happens at a point in time. For a library, that could be different than the standard library because..

- it was generated from a previous version.
- it was generated from a custom version.

All that aside, how do you propose the com

[2018-06-11 02:40] winksaville opened #2776 "With config=debug CodegenOptimisationTest.MergeSendMessageReordering fails in Ubuntu 18.04"
When compiling using LLVM 3.9.1 in debug configuration using
Ubuntu 18.04 or Arch Linux we fail CodegenOptimisationTest.MergeSendMessageReordering:
[code]
What is happening is that assertIsChecked, located in file
src/include/llvm/Support/Error.h, generates code that will abort even
if there are no errors when NDEBUG is not defined. In later versions
of LLVM this abort is not compiled in because o

[2018-06-11 02:41] winksaville commented on #2776
I have a fix I'm testing now

[2018-06-11 10:58] SeanTAllen commented on #2526
Closed by #2775.

[2018-06-11 14:58] jemc opened #2779 "Clean up TCPConnection GC-safety mechanism for writev buffers."
We want to remove the `_pending` field discussed in https://github.com/ponylang/ponyc/issues/2526, by using a strategy similar to that used in `File` in https://github.com/ponylang/ponyc/pull/2775.

[2018-06-11 16:11] #2526 closed

[2018-06-11 16:13] dipinhora commented on #2767
I tried to figure out when this was introduced. It was in https://github.com/ponylang/ponyc/pull/1499 when this syntax was first allowed. Prior to that commit, the syntax wasn't allowed.

Also, the following compiles successfully:

[code]

However, when compiled without `--debug` argument to `ponyc`, it results in an `Illegal instruction` error when the program is run.

The following also results

[2018-06-11 17:31] burjui commented on #2767
Just a note: such an "optimization" would violate the semantics of a program. It is safe to remove code _after_ the infinite loop (with a warning, of course), because it's unreachable, but not the loop itself.

[2018-06-11 17:41] SeanTAllen commented on #2767
@burjui can you clarify what you mean by "remove the code after the infinite loop"?

[2018-06-11 18:01] Praetonus commented on #2767
Looks like there's also a type checking bug involved in this.

[2018-06-11 21:15] burjui commented on #2767
@SeanTAllen I mean that _if there is_ some code after an infinite loop, it can be considered unreachable and safe to remove.

[2018-06-12 05:34] jemc opened #2782 "`Pointer._offset` is private, but `Array.cpointer` takes an offset argument."
This is a contradiction in safety boundaries I noticed while working on a fix for how `File` handles `writev` calls that don't complete.

`Pointer._offset`, which allows you to get a relative pointer based on the current one, is private - it cannot be used outside of the `builtin` library.

In contrast, `Array.cpointer` accepts an `offset` argument that allows you to do the same thing, without any

[2018-06-12 05:38] jemc commented on #2782
I think this is a principle of least surprise bug.

I propose we make `Pointer._offset` public. The `Array.cpointer` with `offset` call is already used for `writev` processing in both `TCPConnection` and `File`, so we can't easily remove it. I think you're not really breaking memory safety as long as you can't actually *access* the memory without FFI.

[2018-06-12 14:58] dipinhora commented on #2776
I am unable to reproduce this with stock ubuntu 18.04 provided llvm 3.9. There might be some difference between how ubuntu packages llvm 3.9 vs how your custom llvm 3.9 is compiled.

I ran the following commands to run debug tests in docker (`sudo docker run -it --rm ubuntu:18.04`):

[code]

[2018-06-12 15:50] winksaville commented on #2776
@dipinhora, I'm duplicated your test and no failures, so definitely something different between compiling llvm-3.9.1 from sources and using the ubuntu version. I'll see if I can figure out the difference.

Txs.

[2018-06-12 16:13] quartsize opened #2784 "`var` assigned in `repeat` considered undefined in `until`"
[code]
The real case is [VLQ](https://en.wikipedia.org/wiki/Variable-length_quantity)-decoding, but the above is more concise. The error is
[code]
with both 0.23.0 and 0.23.0-c2f11d2e.

[2018-06-12 16:59] jemc commented on #2784
Thanks for filing this issue. I've marked it as a bug that needs investigation.

[2018-06-13 02:24] jemc opened #2787 "File._pending_writes fumbles in the case that not all bytes were written."
Currently, when handling the return value of `File._write_to_disk`, the logic in `File._pending_writes` treats all failures the same way - freak out and `dispose`.

In practice there are two distinct cases to be handled here that need to be distinguished:
1. the case where `writev` returned `-1`, meaning that a file descriptor error occurred.
2. the case where `writev` returned some number of byte

[2018-06-13 02:28] jemc commented on #2784
I've got a PR to fix this in the works. Stay tuned at #2786.

Thanks again for filing the ticket, and for your interest in Pony.

[2018-06-13 02:43] jemc commented on #2779
The really obnoxious thing here is that Windows and POSIX use opposite order for their `writev` implementations. POSIX puts the pointer before the length, and Windows puts the length before the pointer.

POSIX:
[code]

Windows:
[code]

As such, we can't use a simple implementation of `Array[(Pointer[U8] tag, USize)]`, because that wouldn't work with the Windows equivalent of `writev`.

[2018-06-13 04:45] #2784 closed

[2018-06-13 12:53] ii8 opened #2788 "compiler crashes in gen_break"
The following program will cause the compiler to segfault both on my machine and the playground.
[code]

Here is a backtrace:
[code]

This also looked useful:
[code]

And the version:
[code]

[2018-06-13 14:56] jemc commented on #2788
Thanks for the minimal case to reproduce.

I suspect this is related to the fact that `break` without a value will get its value from the `else` clause, but the `else` clause here will jump away due to the `return` statement.

It's an odd case, but I think the expected behaviour here would be to `return` when you call `break`, but not when you call `break None`. Is that what you were expecting her

[2018-06-13 15:03] ii8 commented on #2788
Yes, thats what I expected.

There is a similar thing I discovered after playing around:
[code]
This fails because the `while` expression has no return type because both of its branches jump away, but there is also no typecheck error so the assert in `pass_expr` fails.

This is probably the same underlying bug.

[2018-06-13 15:21] hanshoi opened #2789 "FFI calls to C functions not allowed for Pony keywords"
If you are calling C function that is also a Pony keyword, like `box` that is also a function in ncurses library.

Example:
https://playground.ponylang.org/?gist=f22054dea5dcab1d22e246826eeaa2d0

Expected Result: Code Compiles
Actual Result:
[code]

OS: Linux Mint 18.3
Ponyc: 0.23.0

[2018-06-13 18:16] jemc commented on #2789
One potential syntax strategy for addressing this would be to put the name of the function in quotes like a string. For example: `@"box"[None](window, lchar, rchar)`.

This would also allow calling functions that are named in unusual ways that are not allowed by C, but are allowed in a shared library general.

[2018-06-13 22:50] slfritchie opened #2790 "Compiler crash in type_append"
Found on OS X using tagged Pony release 0.23.0 and also at https://playground.ponylang.org/?gist=f80edac96516b514918d1a83c6fb7cef

[code]

The playground's execution says:

[code]

A debug flavor of the compiler says this:

[code]

[2018-06-13 23:01] slfritchie commented on #2790
A tiny bit of LLDB inspection.

[code]

[2018-06-13 23:03] SeanTAllen commented on #2790
This works so its related to the array being assigned in the writev call.

[code]

[2018-06-13 23:34] jemc commented on #2790
Maybe a dup of https://github.com/ponylang/ponyc/issues/2701?

[2018-06-14 09:30] sgebbie commented on #2237
I'm closing this in favour of: https://github.com/ponylang/ponyc/issues/2741.

#2741 appears to be a duplicate, but has more recent investigation notes.

[2018-06-14 09:30] #2237 closed

[2018-06-14 09:31] sgebbie commented on #2741
https://github.com/ponylang/ponyc/issues/2237 appears to be a duplicate of this bug, but has been closed because this issue (#2741) has more recent notes.

[2018-06-14 14:17] 7sharp9 commented on #2401
In F# tailcalls are normally not normally turned on in debug mode either.

[2018-06-14 15:55] slfritchie commented on #2790
@jemc Yes, I think so.  The array need not be empty (as 2701's subject says): `f.writev(recover ["foo"; "bar"] end)` will crash for the same reason.  But avoiding some refcap inference by `let goo1 = recover val ["foo"] end ; f.writev(goo1)` will avoid the crash.  *Not* using the intermediate `let` will crash, though.

Closing: duplicate of #2701.

[2018-06-14 15:55] #2790 closed

[2018-06-14 15:57] slfritchie commented on #2701
See also #2790 for a bit more context & example code snippets.

[2018-06-14 17:17] jemc commented on #2788
I tested this a bit last night, and was able to create a fix for your first and third examples. I will file a PR for this soon.

I couldn't get your second example to fail in any way on the [Pony Playground](https://playground.ponylang.org/) - can you explain it more?

The fourth example seems to be an unrelated issue - can you open a separate ticket for it?

[2018-06-14 17:57] ii8 commented on #2788
https://playground.ponylang.org/?gist=2a411b5196eb02301d2f47a24ef80be9
This is the second example and fails for me on the playground.
For some reason the error message only appears if you put the while loop in a separate function.

Note that the fourth example would also apply to loops if they did check for unreachable code in the same manner, which I presume they should since that would fix examp

[2018-06-14 18:31] jemc commented on #2788
Interestingly, your second example (the one for which you just provided a playground link to show the failure) only fails when the snippet is in `fun a` body. If it's placed directly in the `new create` body, there is no failure. This is why I saw a failure and you didn't. The same is true of your fourth example.

So I think the first and third examples are related (failures during codegen that I

[2018-06-15 01:01] winksaville commented on #2776
So I've just pushed another "fix" to #2748, I've found that if you compile either or both lib/llvm and ponyc with clang then this failure does not occur. I feel the most interesting case is compiling lib/llvm with clang and ponyc with gcc and will trying to figure out "why" it works, which will hopefully lead to the "perfect" solution.

Any suggestions or ideas appreciated.

[2018-06-15 03:43] jemc commented on #2788
#2791 should fix the issues from your first and third examples.

I will file another PR later to tackle the second and fourth examples, and link it to the ticket you're going to create.

[2018-06-15 07:51] ii8 opened #2792 "Failure during typechecking of loops that jump away"
This example hits an assertion:
[code]

And this example reports that the print statement is unreachable.
[code]

These only happen if the loop or try are in a separate function instead of `create`

This issue was separated out from #2788

[2018-06-15 11:17] #2788 closed

[2018-06-16 00:38] dipinhora commented on #2776
@winksaville In case you haven't already looked, it might be worth taking a look at the Ubuntu build sources for the LLVM 3.9 package (https://packages.ubuntu.com/source/bionic/llvm-toolchain-3.9). The `llvm-toolchain-3.9_3.9.1-19ubuntu1.debian.tar.xz` can be downloaded from that page and includes all patches that the Ubuntu builds apply. Maybe one of those patches might help resolve the issue you

[2018-06-16 02:27] winksaville commented on #2776
Yeah I downloaded that and used meld to apply all patches to the 3.9.1
sources I had, still failed. I'm added more debug and might have it
narrowed done where a problem might be, but not spotted it yet. Hopefully
I'll get it this weekend, fingers crossed.

On Fri, Jun 15, 2018, 5:38 PM Dipin Hora <notifications@github.com> wrote:

[2018-06-16 11:41] jirutka commented on #2689
What exactly does it fix? Only the problem related to NUMA? If yes, then it does not fix this issue (only part of it) and it should be reopened.

[2018-06-16 22:49] SeanTAllen opened #2796 "Release 0.24.0"
https://github.com/ponylang/ponyc/pull/2775 fixed a high priority issue so we should get that out sooner rather than later.

I might have time on the 17th to do this, otherwise, this would be done by the end of the month unless someone else steps in and does the release. There's a couple other breaking change PRs open right now, I'd like to try to get them into this release but that's not going to

[2018-06-18 10:30] SeanTAllen commented on #2689
@jirutka  can you still reproduce this?

[2018-06-18 23:46] winksaville commented on #2776
So the root cause is that we have two different implementations of the classes in Error.h in the same executable. When you compile libponyc.tests in config=Debug the code in Error.h has NDEBUG not defined and that means any `#ifndef NDEBUG` code will included, as template classes are instantiated. And, of course the inverse is true, when compiling the lib/llvm libraries all of the code in the `#if

[2018-06-18 23:47] winksaville commented on #2776
Hopefully the the above is clear, if not don't hesitate to ask questions.

[2018-06-20 08:40] sgebbie commented on #2741
Looking at the older #2237, it seems that the code snippet was simpler and probably easier to debug. So, for reference, here is the simpler code that causes the same type of failure:

[code]

[2018-06-20 20:14] SeanTAllen commented on #2789
I opened an issue on the tutorial to include documentation for this: https://github.com/ponylang/pony-tutorial/issues/303

[2018-06-20 20:14] sylvanc commented on #2789
As @jemc points out, by using quotes, you can do this right now. For example, from float.pony in builtin:

[code]

[2018-06-20 20:14] #2789 closed

[2018-06-20 20:18] sylvanc commented on #2782
`Pointer._offset` returns `this->Pointer[A]`:

[code]

That's significantly more permissive than `Array.cpointer`, which returns `Pointer[A] tag`.

Having a `Pointer[A] ref` could allow the use of `Array.from_pointer`, etc. I think that's problematic?

[2018-06-21 01:29] winksaville commented on #2776
@SeanTAllen asked on the call today, why we haven't run into this before and @dipinhora [asked a similar question](https://github.com/ponylang/ponyc/issues/2776#issuecomment-396620807) above.

I decided look into @dipinhora question concerning Ubuntu 18.04. What I did was install LLVM 3.9.1 and copied my debug version of Expected in [Error.h, see above](https://github.com/ponylang/ponyc/issues/277

[2018-06-22 18:05] winksaville opened #2802 "Disabled warnings for MSC complilier are not handled consistently"
The following files disable warnings:
 * gendebug.cc
 * genjit.cc
 * genopt.cc
 * host.cc
 * codegen.cc

But the list of warnings is slightly different and also gendebug.cc
is not doing a warning pop using the code sequence below.
[code]
All other file do have that code sequence.

I have a PR that provides a fix coming.

[2018-06-22 20:48] jemc commented on #2782
Correct, yeah. I noticed that while working on this locally, but forgot to update the ticket.

In my local branch that "fixes" this, it keeps the current private function, but adds a new public function that returns a `Pointer[A] tag`.

How does that sound to you?

[2018-06-24 01:04] #2759 closed

[2018-06-25 08:59] burjui opened #2808 "Segfault when matching on a tuple containing a union"
Reproducible on Arch Linux x86_64 with Pony 0.22.6 and 0.23.0

[code]
This causes a segfault:
[code]

[2018-06-27 02:06] winksaville commented on #2802
Closed with #2802

[2018-06-27 02:06] #2802 closed

[2018-06-27 13:28] strmpnk opened #2809 "Possibly remove current source directory from default package path"
This should probably be written up as a change proposal but I've opened up this issue first to get feedback.

There is a simple gotcha with pony use strings. If you're working within a file that wants to use some library, "xyz" and that file is next to a directory xyz, then it will always resolve to that location, even if there is no pony code within that directory. This might seem like an intende

[2018-06-27 19:43] Theodus opened #2813 "RFC 57: SSL ALPN"
Add server and client support for the Application-Layer Protocol Negotiation (ALPN) TLS extension to the `net/ssl` package.

[RFC 57](https://github.com/ponylang/rfcs/blob/master/text/0057-ssl-alpn.md)

[2018-06-27 19:50] Theodus opened #2814 "RFC 58: Partial Arithmetic"
This RFC suggests adding partial versions of basic Integer arithmetic operators (`+`, `-`, `*`, `/`, ...)
that error on overflow or underflow or division by zero. These new operator should combine the base-operators with a `?`:
`+?`, `-?`, `*?`, `/?`, ...

[RFC 58](https://github.com/ponylang/rfcs/blob/master/text/0058-partial-arithmetic.md)

[2018-06-27 19:55] Theodus opened #2815 "RFC 59: Formal Viewpoint Adaptation"
Adopt [George Steed's formal model for viewpoint adaptation][steed], including a new syntax for distinguishing between extractive and non-extractive viewpoint types.

[steed]: http://www.imperial.ac.uk/media/imperial-college/faculty-of-engineering/computing/public/GeorgeSteed.pdf

[RFC 59](https://github.com/ponylang/rfcs/blob/master/text/0059-formal-viewpoint-adaptation.md)

[2018-06-28 17:03] Nyarum opened #2817 "Protoactor as solution to communicate between any language"
Hey guys, I know that Pony still in alpha status but I know one of best framework for Actors in Go.
And I know that it's just framework not like a kernel things of language.

So, what do you think about http://proto.actor and add support for this in future?

[2018-06-28 17:21] kulibali commented on #2817
Hi Nyarum, we like to reserve issues for reporting problems with the compiler.  A better place for this question would be the mailing list: https://pony.groups.io/g/user

[2018-06-28 17:21] #2817 closed

[2018-06-29 19:04] SeanTAllen commented on #2796
Blessing e26540ec7021977eb303686adc1ca79be43a6ddf

[2018-06-29 19:05] SeanTAllen commented on #2796
release underway

[2018-06-29 19:11] SeanTAllen commented on #2796
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/29573

[2018-06-29 19:12] SeanTAllen commented on #2796
@stefantalpalaru @kamilchm release underway

[2018-06-29 19:18] SeanTAllen commented on #2796
Release notes PR opened:

https://github.com/ponylang/ponylang.github.io/pull/308

[2018-06-29 19:19] SeanTAllen commented on #2796
Debian and Windows packages are available in Bintray.

[2018-06-29 19:30] stefantalpalaru commented on #2796
Gentoo ebuild updated.

[2018-06-29 19:31] SeanTAllen commented on #2796
Homebrew released.

[2018-06-29 19:31] SeanTAllen commented on #2796
PPA done.

[2018-06-29 19:40] SeanTAllen commented on #2796
Docker images done.

[2018-06-29 19:45] SeanTAllen commented on #2796
Announcements made. Thanks for playing kids.

[2018-06-29 19:45] #2796 closed

[2018-07-03 13:53] EpicEric commented on #2774
Sorry for the late reply.

I think that the entire issue with the official doc pages being updated with each release would warrant different versions of the documentation to be hosted for every ponyc release, as to avoid API issues with mismatched versions, as well as reasons unrelated to this specific issue. But as you pointed out, this would not be suitable for custom ponyc distributions.

In th

[2018-07-04 01:58] king1600 commented on #2808
Had the same error as well: #2609
![upqccgf](https://user-images.githubusercontent.com/10788293/42252757-d427281a-7f03-11e8-8ef1-35951bf33282.png)

[2018-07-04 02:36] SeanTAllen commented on #2808
Please note, this is fine if you build a non-debug version of the program.

[2018-07-04 02:40] SeanTAllen commented on #2808
What's interesting is this version:

[code]

results in a segfault in debug mode for me, and an illegal hardware instruction when doing a normal compile.

Pony 0.24.0, MacOS, LLVM 3.9.1

[2018-07-06 14:37] jmcclell commented on #2315
This should be documented more thoroughly. This issue is the only documentation I found when I encountered the same issue.

[2018-07-06 21:15] SeanTAllen commented on #2315
It's at the beginning of the tutorial.

https://tutorial.ponylang.org/getting-started/hello-world.html

So... Question, what is the "this" you refer to that should be documented?

Is it "I thought I could compile a single file by passing it's path"? If yes, what in your mind constitutes "more thoroughly"?

[2018-07-06 23:59] jemc commented on #2808
In the function `f`, where `(0, None)` is returned, the `0` is supposed to be "boxed". That is, the value is supposed to be an object with a type descriptor rather than a raw machine word number value. The overhead of a type descriptor is required in this case to distinguish the runtime type of the type union later when we want to `match` against it.

For some reason, the value isn't getting boxed

[2018-07-07 00:57] jemc commented on #2808
It seems this is related to the old "tuple of unions vs union of tuples" issue, in which from a type system perspective `((U8, None) | (None, None))` is logically identical to `((U8 | None), None)`. Issue #1892 indicates that this isn't implemented yet. However, at least in this case it seems to be at play.

During the `reach` pass, the type of function `f` looks like this (as expected):
[code]

H

[2018-07-07 01:05] SeanTAllen commented on #2808
A+ triaging @jemc

[2018-07-10 01:52] aturley opened #2820 "generic type issue when using itertools"
## Description

I came across this issue when trying to create an iterator to iterate over a `Map[String, Map[String, T]]`, where `T` can be `Any #share`. It looks like the code should compile, and it compiles with `ponyc` prior to 0.22.0.

Sorry I don't have more information here, I see a problem but I've only found one somewhat convoluted way to reproduce it and I'm not really sure what's going

[2018-07-10 03:01] SeanTAllen commented on #2820
I had a conversation about this with @sylvanc and he says he believes it is a compiler bug. I also thought as much.  Sylvan should have more details as I believe he created a slightly simplified example.

[2018-07-10 13:04] mfelsche opened #2821 "ProcessMonitor should allow setting the current working directory for the process"
While reviewing a test setup for pony stable (https://github.com/ponylang/pony-stable/pull/73/files) I found that `ProcessMonitor` is lacking the ability to specify the working directory (cwd) for the process to be started.

The python subprocess module allows to specify the working dir: https://docs.python.org/3/library/subprocess.html?highlight=popen#subprocess.Popen
It uses POSIX `chdir` to cha

[2018-07-10 20:24] kulibali opened #2822 "Wrong reference capability for element of array literal in a recover block"
The following program

    class Foo
      var n: USize
      var bar: (Bar | None)

      new create() =>
        n = 0
        bar = None

      fun ref set_n(n': USize) =>
        n = n'

      fun ref set_bar(bar': Bar) =>
        bar = bar'

    class Bar
      let _children: ReadSeq[Foo box] val

      new create(children: ReadSeq[Foo box] val) =>
        _children = children

    class Baz

[2018-07-11 03:08] #1942 closed

[2018-07-11 19:39] SeanTAllen commented on #2776
Closed  by #2812

[2018-07-11 19:39] #2776 closed

[2018-07-11 19:39] SeanTAllen commented on #2776
Thanks @winksaville

[2018-07-11 19:58] jemc commented on #2822
The explicit recover block here is a red herring - this fails in the same way even if that is removed.

The array inference logic here is flawed:
https://github.com/ponylang/ponyc/blob/46668e275032586af18f2495d5b99a36cf106951/src/libponyc/expr/array.c#L379-L385

Here, the right side is coming back as `Array[Foo ref]`, while the antecedent is `Array[Foo box]`. Even though `Foo ref` is a subtype of

[2018-07-11 19:58] SeanTAllen commented on #2740
The following also compiles:

[code]

[2018-07-11 19:59] jemc commented on #2740
Could be related to the `deferred_reify` changes that @Praetonus worked on somewhat recently?

[2018-07-11 20:34] patroclos commented on #2564
Closed with https://github.com/ponylang/ponyc/pull/2816

[2018-07-11 20:34] #2564 closed

[2018-07-15 22:57] jemc commented on #2741
I wonder if this is related to #2808...

[2018-07-16 18:19] laplab commented on #2357
Actually now error is pretty clear and it fails before any syntax checks - on parse. Parser does not expect `(` to be in lambda parameter list. Can we close this?
@mfelsche

[2018-07-16 19:04] mfelsche commented on #2357
I think a better error message would be very neat to have here, but i also think that the initial issue can be considered resolved.

Closing.

[2018-07-16 19:04] #2357 closed

[2018-07-16 23:34] slfritchie opened #2825 "SIGSEGV in 0.24.0's IftypeTest.Codegen_True test on FreeBSD 11"
Howdy, I noticed this today while trying to run tests (using build option `config=release` or `config=debug`, both crash) on 11.1-RELEASE and LLVM 3.9.1 at ponyc's tag `0.24.0`.

[code]
It's a surprising pain to get a core dump with useful symbols in it.  I hacked the `Makefile` to add a `-g` flag for compiling & linking everything (and using `make verbose=true` to try to verify that `-g` is being

[2018-07-17 19:03] jmcclell commented on #2315
Interesting. I'm not sure how I missed it in the tutorial. I may just be conditioned to skim tutorial intros and go straight to the first code snippet.

In my experience, it's far more common (near universal?) for compilers to work with files directly - whether it be a single file or a glob pattern. So, yes, I thought I could compile a single file by passing its path.

I can see that it is documen

[2018-07-18 17:30] patternspandemic opened #2828 "Confusing error message when method only includes variable declarations"
ponyc version:
[code]
source:
[code]
compiler output:
[code]

Furthermore, changing the return type of `confusing_error_msg` to `None` results in a successful build, without any error output mentioning unused variables. I remember receiving errors regarding unused declarations previously, and am unsure if they are still a compilation error.

[2018-07-19 00:33] patternspandemic opened #2829 "Compiler Assert on Subtyped Object Literals"
ponyc version:
[code]
source: [run in playground](https://playground.ponylang.org/?gist=743098b67bb0a1f41d1d7a3dc10e3c9d)
[code]
compiler output of ASSERT:
[code]
*Updated yet again to compare compiler behavior disparity between class and object literal versions of aforementioned types.
**Updated to include results of directly specifying type alias in literals, to represent mfelsche's findings of

[2018-07-20 16:39] patternspandemic commented on #2829
I tried to get around the Assert presented above by playing with `class` versions of the subtyped object literals. I found the compiler  _misses _ generating errors on object literals where it otherwise would on a class describing the same type. Furthermore, I've found two of these subtyped object literals passed through the compiler withour error or triggering the assert.

[2018-07-20 19:55] mfelsche commented on #2829
This is a great issue! Thanks for reporting. I havent had a look at the particular code responsible for raising or not raising an error here, but as soon as i get some time, i will take a look and see what i can do.

[2018-07-21 23:01] dipinhora opened #2831 "Release 0.24.1"
This release is mainly to test out the new debian packaging that allows for installing old versions of ponyc via apt-get.

[2018-07-21 23:07] dipinhora commented on #2831
Waiting for CI on master to run. Planning on blessing ceeb955e5a1845fa4541c00b088b2867c629a182.

[2018-07-21 23:46] dipinhora opened #2832 "Auto-cancel builds on AppVeyor and CircleCI"
My understanding is that we have the TravisCI auto-cancel build feature enabled (https://docs.travis-ci.com/user/customizing-the-build/#Building-only-the-latest-commit).

We should enable the AppVeyor (https://www.appveyor.com/docs/build-configuration/#rolling-builds) and CircleCI (https://circleci.com/docs/2.0/skip-build/#auto-cancelling-a-redundant-build) equivalents for the same reason as we en

[2018-07-22 02:14] dipinhora commented on #2831
CI passed. Blessing ceeb955.

[2018-07-22 02:16] dipinhora commented on #2831
release started

[2018-07-22 02:20] dipinhora commented on #2831
homebrew pr opened: https://github.com/Homebrew/homebrew-core/pull/30350

[2018-07-22 02:20] dipinhora commented on #2831
@stefantalpalaru @kamilchm release underway

[2018-07-22 02:32] dipinhora commented on #2831
releases notes pr: https://github.com/ponylang/ponylang.github.io/pull/315

[2018-07-22 02:39] dipinhora commented on #2831
So.. it seems I've broken the release process for linux somehow with the combination of the debian packaging changes and the non-x86 CI changes. Details can be found here for anyone curious: https://travis-ci.org/ponylang/ponyc/builds/406727331.

I'm going to be looking into what is going on. Hopefully it's a minor/easy fix.

[2018-07-22 05:41] dipinhora commented on #2831
Homebrew released, windows and debian packages available via bintray, playground updated, docker images done.

[2018-07-22 05:45] dipinhora commented on #2831
COPR/PPA are both broken and will require another release to fix because they both download the tar.gz file from github for the specific tag being built (so my fixes to resolve the issues aren't included).

On the bright side, I've resolved all the issues with the build/release process.

[2018-07-22 05:49] dipinhora commented on #2831
I have to wake up at 6:30 am (and it's almost 2 am now) for a long/busy day tomorrow.

Given that COPR/PPA are broken, finishing this release and announcing it right now doesn't make sense. I'll finish this release (and do the next one) tomorrow night hopefully.

[2018-07-22 08:51] stefantalpalaru commented on #2831
I'll wait for the next release, then.

[2018-07-24 11:04] dipinhora opened #2833 "Release 0.24.2"
This release is to fix the previous broken release 0.24.1 (see: https://github.com/ponylang/ponyc/issues/2831).

[2018-07-24 11:06] dipinhora commented on #2833
Blessing 7acd3eea7e0613bdb936b9375d8d3a22be7aca32.

[2018-07-24 11:08] dipinhora commented on #2833
Release started

[2018-07-24 11:13] dipinhora commented on #2833
Homebrew pr opened: https://github.com/Homebrew/homebrew-core/pull/30438

[2018-07-24 11:13] dipinhora commented on #2833
@stefantalpalaru @kamilchm release underway

[2018-07-24 11:31] dipinhora commented on #2833
Debian and Windows packages are available in Bintray.

[2018-07-24 11:40] dipinhora commented on #2833
Launchpad PPA is done for all distributions except for Artful which was rejected with the following:

[code]

[2018-07-24 11:46] dipinhora commented on #2833
homebrew released.

[2018-07-24 11:48] dipinhora commented on #2833
playground updated

[2018-07-24 11:56] dipinhora commented on #2833
COPR done

[2018-07-24 12:42] dipinhora commented on #2833
docker images done

[2018-07-24 12:43] dipinhora commented on #2833
release notes pr merged and announcements made.

[2018-07-24 12:43] dipinhora commented on #2833
release completed

[2018-07-24 12:43] #2833 closed

[2018-07-24 13:30] stefantalpalaru commented on #2833
Gentoo ebuild updated.

[2018-07-24 16:32] dipinhora opened #2835 "Release 0.24.3"
This release is to fix the new bintray deb process (there was one last issue that prevented uploading of the debs to bintray).

[2018-07-24 16:32] dipinhora commented on #2835
Planning on blessing f5bf1b0ece335cbf4d6ce8863a184cc51ad79611 once it passes CI.

[2018-07-24 19:05] dipinhora commented on #2835
Change of plans.. Going to bless 8554a6f2c9384a78b8fd43bfc2e48d012e423c0a once it passes CI because that other commit had a manual changelog entry that I screwed up on so it didn't pass the changelog tool verification.

[2018-07-24 19:27] slfritchie opened #2836 "Clearly document unsupported/experimental/? status of 32-bit platforms"
Howdy, all.  While investigating https://github.com/WallarooLabs/wallaroo/issues/2309, I took a peek at the main `README.md` for this repo and didn't find any clear or obvious text that 32-bit platforms are experimental or unsupported or something else.

According to @dipinhora, 32-bit builds on some/all platforms don't pass the full test suite.  It'd be good to say so in the README and any other

[2018-07-24 21:04] dipinhora commented on #2836
https://github.com/ponylang/ponyc/issues/1576 has some details for x86 builds.

[2018-07-24 21:56] dipinhora commented on #2835
Yet another change of plans... going to bless 6d2fa6d5bbca591bf9f7b603e4ac6233586b02e6 because it was needed to get the deb building to work properly.

Also, **not** going to wait for CI because I realized all the changes are to the travis scripts that only run during a release and deb packaging stuff and nothing else (i.e. everything is functionally the same as the last release). For this same re

[2018-07-24 22:00] dipinhora commented on #2835
blessed 6d2fa6d

release started

[2018-07-24 22:01] dipinhora commented on #2835
As mentioned two comments ago... I'm skipping homebrew, gentoo and nix steps from the release process because this release had no functional changes to ponyc.

[2018-07-24 22:07] dipinhora commented on #2835
Windows packages available on bintray

[2018-07-24 22:16] dipinhora commented on #2835
debian packages available on bintray

[2018-07-24 22:17] dipinhora commented on #2835
COPR done

[2018-07-24 22:22] dipinhora commented on #2835
Launchpad PPA is done for all distributions except for Artful which was rejected with the following:

[code]

[2018-07-25 00:44] dipinhora commented on #2835
docker images done and playground updated

[2018-07-25 05:19] dipinhora commented on #2835
this release is completed.

as mentioned earlier, I'm skipping the usual announcements from the release process because this release had no functional changes to ponyc.

[2018-07-25 05:19] #2835 closed

[2018-07-25 19:50] slfritchie commented on #2825
FWIW, this bug was introduced at commit 41b80eeb6e3e3a132a604869781a8728c4fcd935 according to `git bisect` in release 0.22.0: "Switch from MCJIT to ORC JIT (#2518)"

[2018-07-26 20:11] patternspandemic opened #2841 "Closures over local variables don't work as expected"
pony version:
[code]
Object literals and lambdas which close over and modify local variables don't work as expected, as demonstrated in these examples. Explicit captures (not included below) made no difference.

source: [run in playground](https://playground.ponylang.org/?gist=1c4af5e6f5a5834f6e900c13c9dcc1c9)
[code]
A variation where the closed over var originates in a fun: [run in playground](ht

[2018-07-26 21:39] jemc commented on #2841
The current behaviour is the expected behaviour.

There are two different ways of "changing" a variable:
- *mutation* (for example, `list.push("hello")`) - restricted by writeability/mutability of the r. cap of the reference
- *reassignment* (for example, `count = count + 1`) - restricted by `let` vs `var` declaration of the reference

These two actions are often confused with one another, so it's

[2018-07-26 21:56] patternspandemic commented on #2841
@jemc Thanks again for the expanded explanation. This clears up my confusion. I am going to work your explanation into the tutorial to improve clarity and avoid misunderstandings such as my own when working with object literals. Cheers.

[2018-07-26 21:57] #2841 closed

[2018-07-27 22:36] Shorttail opened #2843 "Nested `try` with `return` ignores outer `then`"
Minimal example:

[code]

When a `try` is nested in an outer `try`, the outer `try`'s `then` block is ignored if the inner `try` `return`s.

[2018-07-29 22:04] dipinhora opened #2848 "0.24.4"
https://github.com/ponylang/ponyc/pull/2840 fixed a segfault and triggers a release.

[2018-07-29 22:42] dipinhora commented on #2848
blessing bd1713b8772168d091040d1058590f29f12e9a23

[2018-07-29 22:57] dipinhora commented on #2848
release started

[2018-07-29 23:04] dipinhora commented on #2848
homebrew pr opened: https://github.com/Homebrew/homebrew-core/pull/30589

[2018-07-29 23:04] dipinhora commented on #2848
@stefantalpalaru @kamilchm release underway

[2018-07-29 23:06] dipinhora commented on #2848
Windows package available in bintray

[2018-07-29 23:12] dipinhora commented on #2848
release notes pr: https://github.com/ponylang/ponylang.github.io/pull/320

[2018-07-29 23:16] dipinhora commented on #2848
COPR done

[2018-07-29 23:17] dipinhora commented on #2848
Playground updated

[2018-07-29 23:18] dipinhora commented on #2848
Launchpad PPA is done for all distributions except for Artful which was rejected with the following:

[code]

[2018-07-29 23:52] dipinhora commented on #2848
docker images done

[2018-07-30 01:47] dipinhora commented on #2848
Debian package available on bintray.

[2018-07-30 01:49] dipinhora commented on #2848
Waiting on homebrew.

[2018-07-30 08:39] stefantalpalaru commented on #2848
Gentoo ebuild updated.

[2018-07-30 13:00] dipinhora commented on #2848
Homebrew released.

[2018-07-30 13:11] dipinhora commented on #2848
release notes pr merged and announcements made.

[2018-07-30 13:11] dipinhora commented on #2848
release completed.

[2018-07-30 13:11] #2848 closed

[2018-07-31 13:03] mfelsche commented on #2843
Thanks for this one.
I was hunting this one through all places of the compiler already, phew! I learned a lot during the last couple of days doing that, so thanks for the opportunity.

It turns out the bug is in the codegen pass in the [gen_return](https://github.com/ponylang/ponyc/blob/master/src/libponyc/codegen/gencontrol.c#L536) function where we only actually generate (actually output this pa

[2018-08-01 11:48] mpbagot commented on #2729
I'm interested in implementing this if no-one else has started work on it. Though I do have a couple of questions.

What sort of test should be added?
Should the test be added to the `_test.pony` file of the time package, or somewhere else?

[2018-08-02 03:06] slfritchie opened #2850 "SIGSEGV crashes in ponyint_heap_mark()"
Howdy, I've got a not-exactly-tiny program that can reliably crash `ponyint_heap_mark()` on OS X and Linux (Ubuntu Xenial) with LLVM 3.9.1.

Fetch the source at `git clone --depth=1 -b slf-file-io-journal5-gh2850 https://github.com/slfritchie/wallaroo.git`, then `cd wallaroo` and then follow the instructions at https://github.com/slfritchie/wallaroo/blob/slf-file-io-journal5/utils/dos-dumb-object-

[2018-08-02 07:51] mfelsche commented on #2843
Btw, while investigating this i also found that it is possible to skip a `then` clause using `break` and `continue` within a loop. Example:

[code]

[2018-08-02 21:36] slfritchie commented on #2850
Closing, due to pilot error.  I now believe that this is expected(*) behavior when the Pthreads stack size is being overrun by a greedy & deep Pony behavior function that uses too much recursion.

(*) "expected" = undefined behavior = WTF OS-specific zaniness

[2018-08-02 21:36] #2850 closed

[2018-08-08 19:36] SeanTAllen commented on #2740
Can someone test this with code prior to #2557 being merged to master? If using a release, that would be 0.21.3?

[2018-08-08 19:39] SeanTAllen commented on #2740
I tested this with 0.21.3 and it crashes as well, so not introduced by #2557.

[2018-08-08 19:47] SeanTAllen commented on #2390
Decision we will make  _SignedInteger and _UnsignedInteger public.

[2018-08-08 19:50] jemc commented on #2782
The issue ticket has the "needs discussion during sync" label because it's pending further discussion with @sylvanc.

[2018-08-08 20:08] #2843 closed

[2018-08-08 20:09] SeanTAllen commented on #2843
@Shorttail this is fixed on master. thanks for reporting.

[2018-08-08 20:15] SeanTAllen commented on #2825
Once this is fixed, we can add FreeBSD 11 x86-64 to the list of supported platforms

[2018-08-08 23:05] SeanTAllen opened #2854 "Create OpenBSD CI task"
Once [OpenBSD support is merged](https://github.com/ponylang/ponyc/pull/2823), we should add an OpenBSD CI task.

@dipinhora can you give insight into how one would go about doing that?

[2018-08-09 14:04] dipinhora commented on #2854
The way all other non-x86-64 Linux/macOS/windows CI works is via cross compiling from x86-64 Linux to the appropriate target followed by qEMU software emulation to run the binaries compiled for the target.

From my limited understanding of OpenBSD, cross compiling from Linux to OpenBSD is not very well supported. Assuming cross compiling is possible, the rest is relatively straight forward (create

[2018-08-09 17:04] ibara commented on #2854
Cross compiling to OpenBSD is likely to be an incredible headache. The actual compilation part is simple enough, just use clang. The difficulty is in linking--on non-ARM platforms, we still use a heavily customized version of binutils-2.17 (aka the last GPLv2 release of binutils).

This will change in time, as the arm and arm64 platforms now use lld, and amd64 and i386 will move to lld eventually

[2018-08-10 08:37] mfelsche commented on #2829
The actual reason is how type aliases are treated in the names pass (i.e. here https://github.com/ponylang/ponyc/blob/master/src/libponyc/pass/names.c#L120 ). I didn't find what exactly causes the issue, but given a union type in the object literal directly triggers the correct compiler error:

[code]

[2018-08-10 17:31] patternspandemic opened #2855 "Should object literals be lifted to actors when their subtyping includes behaviors?"
Should object literals resulting in an anonymous class or primitive be promoted to actor literals when they are sub-typed with an interface or trait including a behavior? As it is now, the literal must also include a behavior to be considered an actor literal. Note that it does not matter whether the trait or interface includes a default implementation for such behaviors.

I would expect such lite

[2018-08-10 18:52] SeanTAllen opened #2856 "Lexer can't catch `let x = I64(1) / I64(0)` as divide by zero"
`let x: I64 = 1 /0` will result in a compilation error but `let x = I64(1) / I64(0)` and other types will not.

[2018-08-10 19:06] patternspandemic opened #2857 "Cannot assign non-sendable fields in actor literals"
It may be desired to include non-sendable fields in actor literals, but there doesn't seem to be any way to include them.

pony version:
[code]

source ([run in playground](https://playground.ponylang.org/?gist=262d204e2ddda7651ad26c73fe107ba6)):
[code]

[2018-08-10 23:04] SeanTAllen opened #2858 "I64.min_value() / -1 returns unexpected results"
When running:

[code]

I would expect the value to wrap back around to I64.min_value because

min value = -9223372036854775808
max value = 9223372036854775807

and -9223372036854775808 / -1 should be 9223372036854775808
which given the I would expect to be be -9223372036854775808 as it is when I do when I run:

[code]

[2018-08-13 14:57] mfelsche commented on #2829
I am having a hard time coming up with an elegant solution to this bug.
@jemc would it make sense to you to make a union in a provides list a syntax error?

[2018-08-13 20:18] patternspandemic opened #2859 "Cannot refer to literal under construction"
There is no equivelant way to refer to the literal under construction, like how `this` can be used in class/actor constructors.

pony version:
[code]

source ([run in playground](https://playground.ponylang.org/?gist=393438c05b1e9cf8d87931b37dac50ee))
[code]

[2018-08-13 22:00] plietar commented on #2857
I think we should check the right hand side of the assignments for sendability, rather than the field type. This would allow `let a: Array[String] ref = recover Array[String] end` to work, which is IMO a good enough work-around.

In order to allow `let a: Array[String] ref = Array[String]`, we could require that all variables used in the right hand side be sendable, which would essentially be the

[2018-08-13 22:08] plietar commented on #2855
The straightforward solution is to look in all declared interfaces and traits for behaviours when deciding whether the literal should be an actor/object/primitive.

However I do find it surprising that the kind of "entity" being created is implicit. I would prefer if a different keyword was used, eg:

[code]

This unfortunately makes parsing ambiguous, since the actor keyword could be either a lit

[2018-08-13 22:14] plietar commented on #2856
`I64(0)` is not a special syntax, but really just a constructor call which helps type inference.

Are you suggesting we special case this if the divisor is a primitive constructor? I guess it should be recursive, so that `let x = I64(1) / I64(I64(0))` gets caught too.

[2018-08-13 22:49] plietar commented on #2858
Looking at the implementation: https://github.com/ponylang/ponyc/blob/a22e9106969547a300e9ed350337a491387e2cde/src/libponyc/codegen/genoperator.c#L194 we intentionally avoid UB and set the result to 0, same as the `x/0` case.

GCC returns INT64_MIN, whereas Clang treats this as UB and optimizes everything out, even if`-fwrapv` is set. https://godbolt.org/g/tpTrZZ

Rust panics, even if overflows ch

[2018-08-14 12:52] mfelsche commented on #2829
One thing that i discovered while working on this that the examples of unions of empty interfaces passed without assert or error is due to that empty interfaces are subtypes of each other and are thus subject to "union-folding" (reducing one union element if it is a subtype of the other). During the `expr` pass the folding comes before the object literal is handled (and the provides list is checke

[2018-08-15 10:37] mfelsche commented on #2857
@plietar :+1:

Also as promised on IRC, here some bigger explanation, an actor-object-literal is rewritten into a definition of the type with some unique cryptic name (like `$1$0`) or something, which has all the methods, fields and provides list as defined in the object literal. Then at the place of the actual object literal, there is a constructor call to that type inserted.
During that process

[2018-08-15 21:24] kulibali opened #2861 "`files/Path.clean()` does not correctly handle multiple instances of `..`"
The following program (https://playground.ponylang.org/?gist=f6a978ce38ac1160adffe0e6e7934d92)

[code]

produces the output

[code]

[2018-08-16 16:41] patternspandemic commented on #2859
A variation on this, admittedly no very useful, but nonetheless results in an assertion:

I thought I could perhaps reference the literal under construction within itself by capturing the variable `o` to which it's being assigned. Of course `o` had to be made `tag` so that it's sendable to the literal.

[code]

results in :
[code]

[2018-08-16 22:40] slfritchie opened #2863 "Hung TCPConnection can interfere with Pony runtime shutdown"
While fiddling with Pony 0.24.4, I've discovered that a suspended/hung/machine crashed TCP peer can interfere with the Pony runtime's shutdown.  "Interfere" means blocking the runtime's timely shutdown due to network sockets remaining partially open and thus causing the ASIO subsystem to continue being noisy.

General steps to reproduce:

1. Run a Pony program that opens a TCP socket to a peer.
2.

[2018-08-17 22:13] #2861 closed

[2018-08-20 12:25] skatbude opened #2864 "Segfault in optimising pass 'Function Pass Manager'"
The following (silly) code causes the compiler to segfault:

[code]

I didn't manage to find a smaller example. Every simplification to the code I tried let the code compile.
Compiler output:

[code]
My setup:
- OS: Ubuntu 16.04.5 LTS
- Compiler installed through ppa-repository
[code]

When replacing the constructor with the following the error message seems to get a bit random.
[code]
Compiling t

[2018-08-20 13:26] #2829 closed

[2018-08-21 18:50] mfelsche commented on #2587
This is fixed. Thanks @aburn!

[2018-08-21 18:50] #2587 closed

[2018-08-21 18:51] mfelsche commented on #2541
@Theodus this is done, isnt it?

[2018-08-21 18:55] mfelsche commented on #2362
This is fixed in master, NetAddress now returns everything in Host byteorder. The translation has been done on the pony level and not in the runtime code.

[2018-08-21 18:55] #2362 closed

[2018-08-22 09:59] mfelsche commented on #2813
Closing this as this is already in master. Thanks @patroclos !

[2018-08-22 09:59] #2813 closed

[2018-08-22 11:57] mfelsche commented on #2753
This is done in master, closing this.

[2018-08-22 11:57] #2753 closed

[2018-08-22 16:15] jemc commented on #2856
Special-casing that smells bad to me, tbh.

I'm tempted to argue that the "right" way to fix this inconsistency is to remove the lexer error for `let x: I64 = 1 /0` - it's inconsistent that we have a lexer error for some cases that are obvious at compile time, but can't ferret out every case outside of runtime.

It's hard to imagine someone "accidentally" dividing by a literal zero in the source c

[2018-08-22 19:41] jemc commented on #2858
It seems like @mfelsche found that this behaviour is not giving the expected zero on arm and armhf?

[2018-08-22 19:45] #2836 closed

[2018-08-22 20:12] kulibali opened #2866 "Hash collisions in `collections/persistent/MapIs`"
The following code

[code]

prints `num_times_found = N`, where N varies by run, indicating that the lookup for an object that is not in the map has succeeded.

[2018-08-22 20:15] jemc commented on #2855
Yeah, I think that's what we should do for now.

Regarding other syntax suggestions, I think stuff like that would have to be tackled in a separate RFC outside this scope.

[2018-08-22 20:54] kulibali commented on #2866
I get `num_times_found = 7336`.  When I run the program repeatedly on Windows the number is different every time.

[2018-08-23 00:01] mfelsche commented on #2858
... and on windows it seems.

[2018-08-23 12:29] mfelsche commented on #2858
So the inconsistency is only valid for `I128` on platforms `arm`, `armhf` and on whatever platform `appveyor` is running on. There is already a comment on this in [genoperator.c]().
The reason seems to be that the code in [make_divmod](https://github.com/ponylang/ponyc/blob/master/src/libponyc/codegen/genoperator.c#L157) for detecting overflows is not working on platforms without native 128 bit su

[2018-08-24 22:29] patternspandemic opened #2867 "type_append: Assertion `0` failed"
I have written code triggering a `pony_assert(0)` found in [genname.c type_append](https://github.com/ponylang/ponyc/blob/master/src/libponyc/codegen/genname.c#L63):
[code]
#### Backtrace
Attempting to compile the code triggering the error (detailed below) inside LLDB reveals the following backtrace (frame # 3 being where `pony_assert` fails):
[code]
Possibly helpful, as you can see above, probing

[2018-08-25 12:15] mfelsche commented on #2866
The playground caches output for the same program, so the numbers there are always the same if the program is the same.

[2018-08-27 17:49] patternspandemic commented on #2867
I have been able to get around this failed assertion by replacing the partially applied behavior with a call to the behavior on a captured reference of the actor as seen [here](https://github.com/patternspandemic/pony-reactors/blob/305966e08a44bc2273565f0663ec5d204659380b/reactors/reactor.pony#L125). The relevant bits:
[code]
The two look equivalent to me, but I suppose the cases are handled diffe

[2018-08-28 12:14] mfelsche commented on #2867
I am still wraping my head around this, trying to create a simplified example and understanding the issue. It seems the typeargs to some function are not completely reified, they still are a `typeparamref` to the typeparam `C`.

Here is the AST for the expression below:

[code]
where `C` should be a `(ChannelReservation | None)` and the type argument to the trait containing the fun with the call a

[2018-08-28 12:17] jtfmumm opened #2868 "Segfault when serializing empty array with initial len set greater than 0"
The following code leads to `Segmentation fault: 11` on macOS Sierra 10.12.6.
[code]

The problem is related to passing in an initial `len` argument greater than 0 to `Array`.  If you change
[code]
to
[code]
then it no longer segfaults.

It also no longer sefgaults if you push something onto the array before serializing.

Changing the `Array` type arg (say, to `String`) makes no difference.

[2018-08-28 12:37] mfelsche commented on #2868
Running this through lldb gives the place where it segfaults:

[code]

[2018-08-28 12:38] EpicEric opened #2869 "Missing dependency on Mint build instructions"
I'm using Linux Mint 18.3 (based off Ubuntu 16.04). Running the build steps for the Ubuntu platform gives me the following errors for the `make` command:

[code]

This was fixed by installing the `llvm-3.9-dev` dependency with the archived codes.

I haven't tested the build process yet on the default Ubuntu installation, or on Linux Mint 19 / Ubuntu 18.04.

[2018-08-28 13:16] SeanTAllen commented on #2869
Can you do a PR to add a new section to the Install from Source part of the README that includes all the instructions needed for mint?

[2018-08-28 16:44] patternspandemic commented on #2867
This sounds right given `open` is called from `Main`, a `Reactor[None]`, in the example program.
[code]

[2018-08-28 19:53] EpicEric commented on #2869
Can reproduce on Linux Mint 19, can't reproduce on Ubuntu. The `llvm-3.9-dev` package is the only necessary addition in both Linux Mint versions. Installing via DEB works no matter what.

I will create the PR later.

[2018-08-29 19:39] #2814 closed

[2018-09-03 14:58] sgebbie opened #2871 "Reading from stdin can loose data."
The current implementation in `builtin/stdin.pony` passed `data.space()` to the underlying `@pony_os_stdin_read` and not `data.size()`. This means that the the underlying read may read more data and the designated size of the buffer.

Note, no overflow occurs since it is not reading more data than the underlying allocated memory.
However, when combined with the implementation of `truncate` the rep

[2018-09-03 14:58] sgebbie commented on #2871
Please see pull request: https://github.com/ponylang/ponyc/pull/2872.

[2018-09-04 08:35] #2869 closed

[2018-09-04 08:36] #2185 closed

[2018-09-04 19:26] enilsen16 opened #2873 "Add issue and pull request templates"
I added templates to Wallaroo last week and realized Pony doesn't have them either(In any repo I could find at least). These [templates](https://blog.github.com/2016-02-17-issue-and-pull-request-templates/) make it easier for contributors(especially first time contributors) to make sure their issue or PR is detailed enough to avoid any back and forth that may normally take place(for instance inclu

[2018-09-04 19:34] mfelsche commented on #2873
Great idea!

For issues I do think pony version and way of installing (from source, deb package, docker,...), llvm version and os and cpu info should be mandatory. A minimal example should be optional, but very much appreciated.

[2018-09-04 20:41] enilsen16 commented on #2873
Ok I'll put something together for feedback tonight.

[2018-09-04 22:47] SeanTAllen opened #2874 "Release 0.25.0"
It's time for our scheduled release.

Before we release this, #2865 is missing documentation from its "How we teach it" that needs to be merged before releasing. Once that is in, we are good to go.

We also need release notes for #2865. I think those release notes should address the 1/0 question and direct the user to an overview of what was added and where in the tutorial to go and learn more.

T

[2018-09-06 06:13] andreasbaumann opened #2875 "IftypeTest.Codegen_True fails with unresolvable _GLOBAL_OFFSET_TABLE_"
Archlinux32, gcc 8.2.1 20180831, LLVM 6.0.1, Intel 32-bit.

[code]

I have seen:

[code]

so, a crash was sort of expected.

I'm aware, this might be a corner case in terms of operating system, compiler and architecture used.
But maybe the bug helps to point to a problem. :-)

gcc 8.2 has now CET enabled (endbr32/endbr64), maybe this has also an influence?

[2018-09-06 23:57] EpicEric commented on #2875
Dis you compile with PIC?

[2018-09-07 06:14] andreasbaumann commented on #2875
yes, default_pic=true

[2018-09-07 06:30] mfelsche commented on #2875
Did you compile from source? Any warnings, other logs? Where did you get llvm from?

[2018-09-07 06:33] andreasbaumann commented on #2875
LLVM 6 is an Archlinux package, PKGBUILD and patches are here
https://git.archlinux.org/svntogit/packages.git/tree/trunk?h=packages/llvm

[2018-09-07 06:34] andreasbaumann commented on #2875
I have no warnings, the compiler builds fine, so do the tests, just the crash..

[2018-09-07 06:36] andreasbaumann commented on #2875
Then there is a 32-bit patch, changing 'x86-64' into 'i686' in the make calls.
I'll recompile with verbose and I'll attach the log..

[2018-09-07 06:45] andreasbaumann commented on #2875
http://archlinux32.andreasbaumann.cc/logs/ponyc.log

[2018-09-07 07:01] mfelsche commented on #2875
Interestingly in your log the g++ calls (mostly for test code) don't have the -fpic flag set, if i am not mistaken. Could this be the issue at hand?

[2018-09-07 07:18] mfelsche commented on #2875
Also llvm-config is able to output the targets that were built and the cflags being used. What does it say?

[2018-09-07 07:27] andreasbaumann commented on #2875
[code]

[2018-09-07 07:29] andreasbaumann commented on #2875
I tried to force PIC from the outside also for C++ compilation:

[code]

same effect.

[2018-09-07 07:57] mfelsche commented on #2875
Are you able to compile and run one of the examples with your ponyc? If so, i think we can narrow down the cause to how we use the orc jit in the test (and others) that failed for you. If so, this is most likely an issue for @Praetonus

[2018-09-07 09:32] andreasbaumann commented on #2875
I just compiled the echo example by:

[code]

compiles and runs without any problems.

I start to think, that just the testing via LLVM is somehow broken.

[2018-09-08 07:05] shelby3 commented on #384
IOW, Pony [lacks move semantics optimization](https://github.com/keean/zenscript/issues/32#issuecomment-419618979)?

[2018-09-08 13:18] mjyusko opened #2876 "libponyrt.bc Not Installed (nor linked) w/ 'sudo make install'"
When using clang for ponyc build, makefile does not install and soft link locally generated 'libponyrt.bc' to '/usr/local/lib/pony/<version>/lib/native/' and '/usr/local/lib', respectively.

Distribution: Fedora 28
Pony build command: make CC=clang default_ssl='openssl_1.1.0' runtime-bitcode=yes -j4
Install command: sudo make install
Application build command: ponyc --runtimebc <directory of build

[2018-09-08 13:26] SeanTAllen commented on #2876
Thanks for reporting @mjyusko

[2018-09-11 15:47] fohly opened #2878 "Building fails, if path contains spaces"
Building in "F:\A B\ponyc\" with make.bat -v

I'm guessing the arguments passed to the linker are missing quotes.
Because it seems like it tries to treat the folder as a lib file.

Results in:
[code]

[2018-09-11 16:28] kulibali commented on #2878
The part of `wscript` that parses the output of `llvm-config --libs` doesn't handle spaces in path names.  I'll fit it.

[2018-09-11 18:05] sgebbie commented on #2871
Resolved via #2872

[2018-09-11 18:05] #2871 closed

[2018-09-11 18:41] #2878 closed

[2018-09-12 19:39] SeanTAllen commented on #2868
If I change to

[code]

then there is no crash from my testing. I'd like someone to confirm.

[2018-09-12 19:48] SeanTAllen commented on #2866
Can confirm I get different results every time. This happens even when its not a debug build (I swapped out the `Debug.out` for one that would happen every time.

[2018-09-12 19:50] kulibali commented on #2868
I can confirm that on Windows the original code segfaults and Sean's change does not.

[2018-09-12 19:52] SeanTAllen commented on #2866
@kulibali when I also output the size of the map, it is always 100,000

[2018-09-12 19:56] jemc commented on #2867
Chatted about this on the sync call.

I think @mfelsche is onto something when it comes to Main being treated specially. In `genexe`, we call `reach` for `Main.create` and `Env.create`, but we maybe need to call `reach_type` on the trait if `Main` has any traits attached to it.

[2018-09-12 20:04] SeanTAllen commented on #2866
If I change from a Foo to a USize for the Map key, we still get an error in that we find the item more than once BUT... its a consistent number each time:

example code:

[code]

[2018-09-13 17:58] patternspandemic commented on #2867
I was about to mention the same after listening to the sync call. Do you still think the [related example](https://github.com/ponylang/ponyc/issues/2867#issuecomment-420730317) is connected in any way? If not I suppose a new issue is in order. For what it's worth, I've worked around the assert presented in this issue, but cannot get around the [above](https://github.com/ponylang/ponyc/issues/2867#

[2018-09-17 20:04] patternspandemic opened #2881 "Possible generics issues / limitations: Type param names, subtyping"
Please forgive my possibly confused language around the topic of generic typing. Hopefully the example will provide clarity. In my attempt to solve my issue, I've come across some interesting behavior by the compiler which may be an issue or limitation with Pony's generics.

The below example ([run on playground](https://playground.ponylang.org/?gist=13def76814c3ee21856c43104ba53f43)) demonstrates

[2018-09-18 15:10] patternspandemic commented on #2881
Related: #1875, #1921
Possible fix: #1888

[2018-09-19 06:07] mfelsche commented on #2866
I just stumbled upon this blogpost: https://nullprogram.com/blog/2016/05/30/ that basically states that the cast from pointer to int in C results in integers that are not meaningful as e.g. the same pointer might cast to different integers. I dont know how this relates to the llvm ptrtoint instruction we use and if our problem here actually roots that deep.

[2018-09-19 15:01] kulibali commented on #2866
In my fumbling attempts to understand this problem I have made my own implementation https://github.com/kulibali/pony-champ-map, but it crashes with LLVM 6 -- there appears to be a problem with prematurely unboxing things -- it keeps trying to dereference pointers that appear to be unboxed integers.

I'm working on comparing my implementation with the standard library's to see if i can understand

[2018-09-23 13:15] mfelsche commented on #2719
@strmpnk you still on this one? Found a very simple version of what has been suggested as a solution here: https://github.com/tavianator/bfs/blob/master/spawn.c#L137

[2018-09-24 21:49] strmpnk commented on #2719
I haven't had a chance to return to it. I mostly ended up not having time to test that signal delivery was working in all cases.

[2018-09-25 02:57] cup opened #2885 "Alternate build systems for Windows"
I looked at Pony some months ago, and wanted to give it another shot. However
the current Windows status is... not good. going here:

http://github.com/ponylang/ponyc/blob/master/README.md#windows-using-zip-via-bintray

it says to get "Visual Studio 2017 or 2015", but the link doesnt offer that, it
offers "Visual Studio Community". Visual Studio has several problems:

1. its huge, between 600 MB -

[2018-09-25 04:44] cup commented on #2885
@kulibali thanks for fast response - however i still have many questions -
however its late so ill just start with the most important one - this site
offers `ponyc.exe`:

http://dl.bintray.com/pony-language/ponyc-win

so where does Visual Studio even factor in? my understanding is Visual Studio
would be **for building Pony itself**. if pony is already built? why do we need
Visual Studio.

as i see

[2018-09-25 04:46] cup commented on #2079
https://github.com/ponylang/ponyc/issues/2885

[2018-09-25 04:46] kulibali commented on #2885
Ponyc relies on the Visual Studio linker, as does Rust.  There is work in progress to use the LLVM linker library, but until that is ready we'll need Visual Studio.

[2018-09-25 04:50] kulibali commented on #2885
Questions like these should really be directed to the Pony mailing list or IRC channel (https://www.ponylang.io/learn/#getting-help).  Issues are intended for specific errors found in the compiler.

[2018-09-25 04:53] cup commented on #2885
@kulibali just because Rust does this, doesnt mean Pony or anyone else should do
it. By your own admission Visual Studio is 7 GB. Compare with Cygwin GCC:

[code]

that means visual studio is over 200 times larger than GCC. perhaps you Pony
could look to other languages that dont put such a burden on the user by
requiring Visual Studio:

- C
- C++
- D
- Go
- Nim

[2018-09-25 04:55] cup commented on #2885
https://github.com/ponylang/ponyc/issues/2885
https://github.com/ponylang/ponyc/issues/2079
https://github.com/ponylang/ponyc/pull/2886

[2018-09-25 04:56] cup commented on #2079
https://github.com/ponylang/ponyc/issues/2885
https://github.com/ponylang/ponyc/issues/2079
https://github.com/ponylang/ponyc/pull/2886

[2018-09-25 17:31] patternspandemic commented on #2881
As suggested by @mfelsche, I applied the same kind of workaround as applied by @Theodus in mfelsche/ponycheck#15 to the example above (with success) as seen in [this playground](https://playground.ponylang.io/?gist=2c1dff9938054b9e508fa5ce7f7fcadb). I think this indicates the underlying problem is the same, and hopefully is resolved by #1888.

[2018-09-26 06:37] malthe commented on #1262
I have updated the PR that I sent some time back: https://github.com/ponylang/ponyc/pull/1323.

[2018-09-26 09:00] malthe commented on #2013
@Theodus – I get the exact opposite: 129 is fine, 128 results in SEGFAULT.

[2018-09-26 09:37] malthe commented on #2371
I can't reproduce this on LLVM 5.0.0. That is, removing the workaround does not cause segfaults.

This comment suggests that the issue may have been fixed in Clang (not LLVM):

https://github.com/kripken/emscripten/issues/5362#issuecomment-313261994

[2018-09-26 11:52] malthe commented on #2013
The issue is not in `String.reserve` but rather in the pool size adjustment logic.

However, the fix shown below reveals a bigger issue here which is that `pool_alloc_size(size)` then fails to allocate a pointer (this time of the correct size) since there is no block which is large enough.

On my system `pool_block_header.largest_size` is 134167552. This is obvious larger than `USize.max_value() -

[2018-09-26 13:01] mfelsche commented on #2866
I was fumbling around with the current implementation and found that from run to run, the intermediate map internals look actually different, sometimes, the root node is filled up before a new tree node is added, sometimes a new node is added at the beginning, although i expect them to do the same thing.

I suspect the index compression to be the source of errors and indeterminism here.

[2018-09-26 13:33] Theodus commented on #2866
@mfelsche Do you see differences in intermediate representation if you use the following replacement for `_compressed_index`?
[code]

[2018-09-26 15:01] kulibali commented on #2866
Why do we bother keeping separate node and data bitmaps, when we're sticking nodes and data in the same array and `match`ing on them?  In my experiment (https://github.com/kulibali/pony-champ-map) I just use one bitmap and it seems to work OK.

[2018-09-26 15:06] kulibali commented on #2371
On first glance that issue doesn't seem related, but we did have to update TBAA for LLVM 4, so who knows?

FYI I have been doing some work on using LLVM 7 (https://github.com/kulibali/ponyc/tree/llvm700), but it's not done yet.  I could use some help with the JIT implementation.

[2018-09-26 17:36] kulibali commented on #2866
It looks to me that in that paper, nodes are stored in the entry array starting at index 0 and going up, and leaves are stored at index N-1 going down.  I don't see the Pony implementation doing that, though.  As I understand it the reason for doing it that way is to avoid the `instanceof` check in Java, but since we're doing a `match` anyway, it seems to me that we can dispense with the double bi

[2018-09-26 17:39] Theodus commented on #2866
The other reason is improved iteration performance

[2018-09-26 20:13] jemc commented on #2782
Discussed this on today's sync call - @sylvanc is fine with this as long as we keep the private `_offset: Pointer ref` and add the public `offset: Pointer tag`.

[2018-09-27 08:15] mfelsche commented on #2866
@Theodus unfortunately the runs are still not deterministic and the map still claims to find the object that is not in it (a different number of times for each run).

I attached two log outputs from two different runs, i hope they are somehow helpful (i only did 1000 runs, as the logs grew quite heavy quickly):

[map_repr1.txt](https://github.com/ponylang/ponyc/files/2423100/map_repr1.txt)
[map_re

[2018-09-29 20:03] Theodus commented on #2866
I have a modified persistent map that seems to solve this problem and includes some performance improvements. I'll create a PR for it once I've completed the deletion algorithm and iterators for collisions.
https://github.com/Theodus/ponyc/tree/champ

[2018-10-01 22:44] kulibali opened #2891 "Readline hangs on Windows when a modifier key is pressed"
When running the `examples/readline` program (or any program that uses the `Readline` class) on Windows, pressing Control or Alt or Shift will hang the program and disallow any more input.

The example program and others work fine on Ubuntu Bionic.

[2018-10-03 19:40] #2876 closed

[2018-10-03 19:41] #2891 closed

[2018-10-03 20:02] jemc commented on #2875
@Praetonus - do you have any thoughts on this one?

[2018-10-03 20:03] jemc commented on #2875
Possibly related LLVM mailing list thread from 2013: http://lists.llvm.org/pipermail/llvm-bugs/2013-December/031941.html

[2018-10-03 21:10] jemc commented on #1973
Opened https://github.com/ponylang/pony-tutorial/issues/324 to track this work, since it is indicated in sylvan's comment above that this would only be a change to the tutorial.

[2018-10-03 21:10] #1973 closed

[2018-10-04 00:13] aturley commented on #2828
I think this is more generally a problem with the error message. At the very least maybe we could have a hint that says something about "destructive read" to give people a place to look? I don't necessarily think we need a specific error message for this situation (where the code indicates that the result of an initial destructive read should be returned by the function). I think the second error

[2018-10-11 00:39] SeanTAllen commented on #2874
Need release notes for:

@mfelsche

<something that encompases all your arthimatic changes>

https://github.com/ponylang/ponyc/pull/2865
https://github.com/ponylang/ponyc/pull/2888

@Theodus

https://github.com/ponylang/ponyc/pull/2894

@dipinhora

https://github.com/ponylang/ponyc/pull/2889

@slfritchie

https://github.com/ponylang/ponyc/pull/2852

[2018-10-11 12:20] fweimer opened #2895 "I32.clz_unsafe is *really* unsafe"
Consider this example program:

[code]

(This can undoubtedly be reduced further, but it will be really brittle.)

When I run it, I get this:

[code]

I believe the reason is this: LLVM treats undefined as *really* undefined. The bounds check `y < 32` is optimized away, and on some CPUs (mine is a Core m7-6Y75), when compiling natively, `clz_unsafe` is implemented as `lzcnt`, which yields 32 for a

[2018-10-11 12:43] fweimer commented on #2895
On a different CPU (Core i7-980X), again with a native build, it's more obvious what is going on.  The disassembly looks like this:

[code]

This CPU does not update the destination register when `bsr` is executed with an input operand which is zero.  After setting a breakpoint on the indicated instruction, I get:

[code]

So the generated code immediately performs an invalid pointer read.

[2018-10-12 18:09] #2013 closed

[2018-10-12 18:14] mfelsche commented on #2866
This is closed by #2894

[2018-10-12 18:14] #2866 closed

[2018-10-12 22:43] SeanTAllen commented on #2874
Waiting on release notes for

#2582 from @slfritchie and #2894 from @Theodus.

[2018-10-12 22:46] SeanTAllen commented on #2874
My plan is to bless b28ca7cee586ddb41c0303d1c5f2213d507f32f2 in the morning.

[2018-10-12 22:50] SeanTAllen commented on #2873
@enilsen16 did you ever do anything for this but not open it?

[2018-10-12 23:07] SeanTAllen commented on #2874
Waiting on release notes for

#2582 from @slfritchie

[2018-10-13 01:28] eloraiby opened #2900 "Failure to install on linux mint 19"
[code]
Any idea on how to fix this ?

[2018-10-13 02:07] SeanTAllen commented on #2900
Can you try:

sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys "E04F0923B3B48BDA"

and tell me if it works?

[2018-10-13 02:30] eloraiby commented on #2900
@SeanTAllen
[code]

[2018-10-13 02:33] SeanTAllen commented on #2900
That's weird that should be the same key. I definitely would not expect that error.

Questions-

- have you tried running more than once to make sure that isn't a transient error?
- does Mint use keyservers that aren't ubuntu's?

[2018-10-13 02:33] eloraiby commented on #2900
[code]
Works (without quotations)

[2018-10-13 02:34] SeanTAllen commented on #2900
Nice. Would you be so kind as to issue a PR for the README to fix that?

[2018-10-13 02:38] eloraiby commented on #2900
sure, I have to sort out the rest:
[code]

[2018-10-13 02:39] dipinhora commented on #2900
@eloraiby that's because `tara` is not a valid `ubuntu` or `debian` distro. For `Linux Mint` the command likely needs to get the "upstream" distro version name.

[2018-10-13 02:40] eloraiby commented on #2900
@dipinhora indeed, fixed. Thanks

[2018-10-13 02:41] SeanTAllen commented on #2900
Thanks @eloraiby. You rock.

[2018-10-13 02:44] eloraiby commented on #2900
@SeanTAllen no problem :), PR #2901

[2018-10-13 03:44] SeanTAllen commented on #2874
Release packaging scripts got broken. Waiting on https://github.com/ponylang/ponyc/pull/2902 to pass CI and be merged before proceeding. Thank @dipinhora for fixing.

[2018-10-13 12:34] SeanTAllen commented on #2874
release underway after a minor hiccup where i needed to resolve a merge conflict on the `release` branch.

[2018-10-13 12:45] SeanTAllen commented on #2874
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/32958

[2018-10-13 12:46] SeanTAllen commented on #2874
@stefantalpalaru @kamilchm release underway

[2018-10-13 12:50] SeanTAllen commented on #2874
There are problems with the debian and ubuntu releases

[2018-10-13 13:06] stefantalpalaru commented on #2874
Gentoo package updated.

[2018-10-13 13:09] SeanTAllen commented on #2874
Thanks @stefantalpalaru!

[2018-10-13 13:12] SeanTAllen commented on #2874
Everything is up and running again

[2018-10-13 13:15] SeanTAllen commented on #2874
Appimage is in bintray

[2018-10-13 13:15] SeanTAllen commented on #2874
Windows release is in bintray

[2018-10-13 13:16] SeanTAllen commented on #2874
Fedora COPR is done

[2018-10-13 13:18] SeanTAllen commented on #2874
0.25.0 is available via Dockerhub

[2018-10-13 13:18] SeanTAllen commented on #2874
@plietar Hey Paul, Playground didn't update to 0.25.0, its still at 0.24.4 for some reason.

[2018-10-13 13:36] SeanTAllen commented on #2874
Release notes PR opened: https://github.com/ponylang/ponylang-website/pull/347

[2018-10-14 12:36] SeanTAllen commented on #2874
Homebrew released

[2018-10-14 13:02] SeanTAllen commented on #2874
All done. Thanks folks!

[2018-10-14 13:02] #2874 closed

[2018-10-15 03:14] SCKelemen opened #2905 "std Math lib implementations"
The [Math Package](https://stdlib.ponylang.io/math--index/) in the standardlib claims to be looking for math implementations. I'd like to try to provide Set and Graph implementations and related algorithms, and possible some matrix/vector implementations. What would be the recommended method for working on this?

[2018-10-15 17:25] fweimer opened #2907 "Reconsider native-by-default builds"
Most native toolchains build against the ABI baseline (perhaps augmented with SSE2 on i386). Pony's default to build for the current CPU is somewhat surprising because quite often, builders and deployment systems are different.

I don't know what practices in general are, but at work, we try to have builders which support the most recent architecture revision, so that we can run as much of the bui

[2018-10-16 16:10] kulibali opened #2909 "Update Windows build to use the new vendored LLVM submodule"
Now that #2748 is in master, we need to update the Windows build system to be able to use it.

There was some discussion a few sync calls ago on using cmake for building both on Windows and Linux, so that might be the approach I take.

[2018-10-16 17:16] rkallos opened #2911 "Path.clean("/") returns ".""
https://playground.ponylang.io/?gist=632ab1520993f82692e5c552a90f4418

One fix might be to check that the size of the cleaned path is greater than 1 before deleting a separator character.

[2018-10-16 18:42] Theodus commented on #2905
An addition to the Pony standard library should go through our RFC process: https://github.com/ponylang/rfcs.
Details are in the README. Let me know if you have any questions. For now, I'm going to close the PR in anticipation of an RFC.

[2018-10-17 10:46] myfreeweb opened #2915 "Bitcode runtime + DTrace == does not link"
Just trying `--runtimebc` when ponyc is built with DTrace on FreeBSD:

[code]

The `backtrace` thing is because it forgets to link `-lexecinfo`, but the DTrace-related symbols come from libponyrt instead of libdtrace_probes…

[code]

and they aren't included in the bitcode version.

[2018-10-17 11:10] myfreeweb commented on #2907
We use `core2` in FreeBSD Ports because `x86-64` complains about atomics:

https://github.com/freebsd/freebsd-ports/blob/0dce3250620b1e2877f09d903c7c9d77457044d1/lang/ponyc/Makefile#L40-L48

[2018-10-17 12:02] myfreeweb opened #2918 "LLVM 6.0.1 assertion failure when optimizing mandelbrot: "Invalid RAUW on key of ValueMap<>""
FreeBSD provides LLVM packages with assertions enabled, so we can't upgrade the port to LLVM 6 because it fails to optimize mandelbrot:

[code]

LLVM 5 optimizes mandelbrot successfully.

[2018-10-17 17:47] EpicEric opened #2920 "Link warnings for Homebrew release on compilation"
On the Homebrew release of ponyc, I get the following warnings when compiling any program:

[code]

Building ponyc from source removes the warnings. I'm running OSX Mojave 10.14.

[2018-10-17 19:45] slfritchie commented on #2825
FWIW, I also see this at the `0.25.0` release tag on FreeBSD 11.

[code]

[2018-10-17 20:20] slfritchie commented on #2825
Also, I've got some `valgrind` output at https://gist.github.com/slfritchie/58427fa40958bde5c1d37f65dd09ce0c, if it's useful.  The most common problem is:

[code]

[2018-10-17 20:21] EpicEric opened #2921 "Repository URL points to old domain"
It currently directs users to ponylang.org instead of ponylang.io.

![image](https://user-images.githubusercontent.com/3129194/47113991-eeb67c00-d230-11e8-8719-9a349f8d36e4.png)

[2018-10-18 00:56] SeanTAllen commented on #2921
Updated. Thanks.

[2018-10-18 00:56] #2921 closed

[2018-10-18 01:46] cup commented on #2885
@kulibali I have just noticed that your Rust argument doesnt actually hold weight.

i didnt challenge it because i hadnt used Rust until now

but Rust actually provides MSVC and GNU builds - which is exactly what I am requesting

So can you clarify your comments?

http://rust-lang.org/en-US/other-installers.html#standalone

[2018-10-18 01:49] cup commented on #2885
@kulibali I have just noticed that your Rust argument doesnt actually hold weight.

i didnt challenge it because i hadnt used Rust until now

but Rust actually provides MSVC and GNU builds - which is exactly what I am requesting

So can you clarify your comments?

http://rust-lang.org/en-US/other-installers.html#standalone

[2018-10-18 03:18] SeanTAllen commented on #2885
@cup this is a volunteer project. you are welcome to open a PR. you are welcome to discuss what would be involved in the cost of support additional options. Whether it is intentional or not, your tone across as entitled.

"i didnt challenge it because i hadnt used Rust until now" <-- is this a confrontation?

"but Rust actually provides MSVC and GNU builds - which is exactly what I am requesting"

[2018-10-18 03:38] cup commented on #2885
@SeanTAllen its not entitled - its a simple statement of fact

1. @kulibali presented rust as solely using MSVC ABI - this is provably false

2. at the time i didnt question him because i hadnt used rust at the time - not sure how that could even be interpreted as a confrontation - again just a simple statement of fact

3. yes i am requesting that the rust project implement GNU ABI - its a request

[2018-10-18 13:22] EpicEric opened #2922 "Invalid call to `this` behaviour/function in lambda"
See the following program that compiles successfully for 0.25.0 ([Playground link](https://playground.ponylang.io/?gist=12aa3e2cb31ecea8c7f10c7a0ef53eee)):

[code]

When compiling without the `-d` flag, the program will crash and return a 0 exit code. With the flag, it will print the following, crash, and return a non-zero exit code (though the second line is omitted from the Playground):

[code]

[2018-10-20 17:46] Theodus opened #2924 "Assertion Failure of iftype within object literal"
The compiler crashes with an assertion failure when compiling the method `bar`, but not `bar` is commented out:
[code]
output:
[code]

[2018-10-20 17:55] Theodus commented on #2924
Actually, this is may be a source of the problem. When the `bar` method is changed to the following:
[code]
The compiler gives this error:
[code]
Playground link: https://playground.ponylang.io/?gist=a4c9ebbe45d801f6d007dea041bb8706

[2018-10-21 03:37] jdhorwitz commented on #2920
Confirmed here on OSX Mojave 10.14 as well.

[2018-10-23 00:47] slfritchie opened #2925 "SIGABRT by ponyint_serialise_actor() in `stdlib` test"
On an `aarch64` platform with Ubuntu Xenial 16.04 Linux, GCC version 5.5.0-12ubuntu1~16.04, and LLVM 6.0 using ponyc release tag `0.25.0`:

[code]

... I see a `SIGABRT` crash of the `stdlib` test program.  To recreate:

1. perl -npi -e 's/rm stdlib/echo Skipping: rm stdlib/' Makefile
2. make config=debug verbose=true test-stdlib-debug
3. lldb-6.0 --file ./stdlib

... yields this set of output & b

[2018-10-23 01:06] slfritchie commented on #2925
Here's a different similar crash, exploring args & different backtrace:

[code]

[2018-10-23 02:13] slfritchie commented on #2925
The same thing happens with LLVM 5.0 and LLVM 3.9.1, though it's *much more likely* to fail when run under LLDB than when run standalone.  (I don't know why, but I've also seen crashes happen much more frequently when output is redirected to `tee` or even `cat`.) For example, when LLVM 5.0's binary is run under LLDB:

[code]

[2018-10-24 06:38] fweimer commented on #2895
What's the status here? I'm a bit surprised by the lack of reaction, considering that this is a memory safety issue.

[2018-10-26 15:09] mfelsche commented on #2920
I think we should update our [homebrew formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/ponyc.rb) according to this doc: https://docs.brew.sh/Formula-Cookbook

E.g. the bottle part is not required anymore as we are @ hombrew/core: https://www.rubydoc.info/github/Homebrew/brew/master/Formula#bottle-class_method

[2018-10-26 16:53] SeanTAllen commented on #2920
Not sure what you mean about the bottle is not required. Without the bottle, then there is no pre-built binary. That means a much longer install time for the user. Without the bottle, homebrew is building from source, it's basically macports at that point.

[2018-10-26 17:01] mfelsche commented on #2920
Ok, I was just comparing to other Formulas to try and find something that might have caused this weird linking issues and they were missing the bottle parts. Agreed i didnt understand the bottling in homebrew ( they have a nice metaphor game going).

I am still unclear, what might cause the error, butnit can only be related to homebrew or that formula.

[2018-10-26 17:46] SeanTAllen commented on #2920
@EpicEric what version of MacOS are you using?

[2018-10-31 14:10] mfelsche commented on #2614
this has been moved to: https://github.com/ponylang/http/issues/8

[2018-10-31 14:10] #2614 closed

[2018-10-31 22:07] jemc commented on #2895
I was waiting for @Praetonus to chime in to see if he had ideas about fixing this.

If this can't be fixed, I would advocate for removing the affected operations from the standard library (and also removing the syntax sugar operators), since memory safety is an important guarantee for Pony. As far as I'm concerned, the only time we're allowed to drop the memory safety guarantee is when the user in

[2018-11-01 01:06] Praetonus commented on #2907
I didn't know there were modern x86 architectures without support for double word atomics. I guess we could add an implementation that doesn't use them and add a switch to the makefile. I expect that new implementation to be slower, though.

[2018-11-01 01:09] Praetonus commented on #2922
I seem to recall that we agreed a while back that `this` in a lambda should refer to the enclosing object and not to the lambda object. Is somebody actually changing the implementation the only thing missing?

[2018-11-02 02:09] jemc commented on #2922
I think we only idly discussed that - I don't know that we actually came to a conclusion.

I'd be in favor of that change, though. Unless someone raises a good counterargument.

[2018-11-02 02:11] aturley opened #2930 "compiler segfaults when calling function with private default parameter that is not visible to caller"
## Environment

OS: MacOS 10.13.6

Ponyc: 0.25.0-232a0abe1 [release]
compiled with: llvm 3.9.1 -- Apple LLVM version 9.1.0 (clang-902.0.39.2)
Defaults: pic=false ssl=openssl_0.9.0

## Description

The compiler segfaults if there is a function call to a function with a default parameter that is private and not visible to the caller.

## Steps to Reproduce

I've created a class called `DoIt` with an

[2018-11-02 02:14] #2905 closed

[2018-11-02 02:15] jemc commented on #2915
This will be fixed by #2916, right?

[2018-11-02 02:20] jemc commented on #2900
Looks like this was fixed by #2901, so I'm closing.

[2018-11-02 02:20] #2900 closed

[2018-11-02 02:29] jemc commented on #2541
Is it?

[2018-11-02 02:33] jemc commented on #2729
It seems like a test of `PosixDate.format` surrounded by `assert_error`, but guarded by an `ifdef windows` clause should do the trick.

Yeah!

[2018-11-02 02:40] Theodus commented on #2541
Yes, sorry for not seeing this previously.

[2018-11-02 02:40] #2541 closed

[2018-11-02 15:41] myfreeweb commented on #2915
No, #2916 is just about the `backtrace` symbol, the issue here is the `__dtrace_*` stuff

[2018-11-02 16:56] Praetonus commented on #2895
An implementation as a third-party package won't be possible. The code generation of most unsafe operations requires compiler support since it uses LLVM instructions, not intrinsic functions. If we really want to remove them from the standard library, then we'd need to come up with a solution to allow specific non-builtin packages to use `compiler_intrinsic`.

I think a good compromise would be to

[2018-11-02 22:32] jemc commented on #2895
It's worth noting that I toyed with these concepts a bit before using real FFI - I created an `unsafe` package to demonstrate (ab)using FFI to arbitrarily change a ref cap:
https://github.com/jemc/pony-unsafe/blob/b940a5475536b814ecb905327d49bfd57982a1ac/lib/pony-unsafe.c#L12-L14
https://github.com/jemc/pony-unsafe/blob/b940a5475536b814ecb905327d49bfd57982a1ac/unsafe/unsafe.pony#L15-L16

The bumme

[2018-11-03 03:08] SCKelemen commented on #2905
These are indeed, in progress.

[2018-11-03 18:40] dipinhora opened #2932 "`git describe --tags` shows unexpected version/tag"
Running the following on current master:

[code]

Results in:

[code]

I would have expected it to be something like the following instead:

[code]

I believe this occurs due to how the `release.bash` script does the following (https://github.com/ponylang/ponyc/blob/master/release.bash#L72-L83):

* Merge the `release-0.25.0` branch into the `release` branch
* Tag the `release` branch after the mer

[2018-11-06 17:13] jemc commented on #2930
This is probably related to the "accidental" "fixing" of https://github.com/ponylang/ponyc/issues/539.

That is, that issue got magically resolved without anyone actually trying to do so, but that resolution probably has bugs, as evidenced by this segfault.

[2018-11-06 17:17] aturley commented on #2932
@SeanTAllen any idea what might have happened here?

[2018-11-07 02:37] dipinhora commented on #2920
I believe this is due to `superenv`. The following is a bit from the log in `~/Library/Logs/Homebrew/ponyc/01.make.cc` after ran `brew install --build-from-source ponyc`:

[code]

`superenv` removes `-mmacosx-version-min=10.8` and replaces with `-mmacosx-version-min=10.9` (among some other things it changes).

We can either update the codebase to use `10.9` in `Makefile-ponyc` and `src/libponyc/co

[2018-11-07 09:32] #1887 closed

[2018-11-07 17:09] allphfa opened #2933 "Add Jenkins window to compile automatically"
It is suggested to add windows auto-compiler. Windows is not like Linux and MAC self-compiler kit. Compiling is very troublesome. Can you add auto-compiler like krita or blender software?

https://binary-factory.kde.org/job/Krita_Nightly_Windows_Build/

Window compilation is really a painful process. Bad game system.

[2018-11-07 17:13] allphfa commented on #2933
Emmmmm, based on the system event cycle, it seems that window is hopeless.

[2018-11-07 18:07] kulibali commented on #2933
For official releases, you can go to https://bintray.com/pony-language/ponyc-win/ponyc#files, and at the bottom of the page you will find the latest release.

If you sign into Appveyor, you can find new Windows builds for every commit to the master branch.  Go to https://ci.appveyor.com/project/ponylang/ponyc, then click on the environment you would like (for example, `Environment: llvm=3.9.1; Con

[2018-11-07 23:09] jemc commented on #2933
As @kulibali mentioned, we already provide precompiled Windows builds. If there is another issue here, we can reopen, but I am closing this for now, because it seems there is no remaining issue.

[2018-11-07 23:09] #2933 closed

[2018-11-07 23:12] #2601 closed

[2018-11-08 05:16] bb010g commented on #2808
Has there been any discussion of / work on this since July? Should matching on tuples involving unions be avoided until this this fixed?

[2018-11-08 11:40] SeanTAllen commented on #2808
@bb010g no work that I am aware of. matching on tuples involving unions is somewhat problematic at this time.

My take: there's a general problem with the implementation of tuples in Pony. It's a regular source of bugs. We need to make a change to have tuples have a type and we can avoid the issue.

[2018-11-09 13:20] allphfa opened #2934 "Add point to type conversion, the basic course of life cycle transformation Tutorial"
eg:

String ref to String box
String val to String box

iso, trn, ref, box, val

[2018-11-09 14:31] SeanTAllen commented on #2934
Sorry, I don't understand. Is this a bug report? A feature request?
Is this about something (what, I'm not clear) that you think should be in the tutorial? If yes to the last, there's a [repo for the tutorial](https://github.com/ponylang/pony-tutorial) where you can open PRs, issues etc.

[2018-11-09 14:51] #2934 closed

[2018-11-10 21:47] pdtwonotes opened #2935 "Segfault in ponyc gen_try"
Compliling a rather complex program gets this fault.  I need help in narrowing down which piece if source code is triggering it.
[code]

[2018-11-11 04:53] mfelsche commented on #2935
Thanks for reporting this. Could you print both the `ast` and ` type` variables when you reached the segfault in the debugger with: ` p ast_print(ast, 80)` `p ast_print(type, 80)` and paste them here?

That would be mighty helpful.

[2018-11-11 14:54] pdtwonotes commented on #2935
[code]

[2018-11-11 19:19] fweimer commented on #2895
For some other unsafe LLVM opcodes, it may be possible to get deterministic but unspecified results by emulating what the target does at the LLVM level. For example, if the target reduces 32-bit shifts modulo 32, you can generate code to do that, and LLVM will optimize the masking operation away if this is performed implicitly by the hardware. But for CLZ, that option doesn't exist, as far as I ca

[2018-11-13 04:38] pdtwonotes opened #2936 "use "path:." is not relative to the file it appears in"
I have a package which uses a custom FFI.  The library for the FFI is within the package directory, but the 'use' statement that references the package, and properly picks up the .pony files there, does not also turn into a library path for the linker.
[code]
into the .pony file.  But it appears the compiler (or the linker) interprets "." in the context of where the compiler is running rather than

[2018-11-14 19:13] allphfa opened #2937 "This is the only language that is hard to understand."
1. how to inherit

2. why not return?

The 3.Sort method is based on comparators, but why is it not implemented?

Four

Let array: Array[String] = ["8"; "2")

Let a = Sort[Array[String], String] (array)

Why do we need some t[Array[String], String]? Can't we deduce it?

5. why arrays are used instead of typing strings are inconvenient.

6. why are there no tutorials? Why is it harder to understand

[2018-11-14 19:59] SeanTAllen commented on #2937
Hi @allphfa,

You probably missed it but in the ["how to get help" section](https://github.com/ponylang/ponyc#getting-help) of the README, it says that issues are for actionable things. You should be using IRC or the mailing list for questions of this sort.

Secondly, "this is the only language that is hard to understand" is not a good way to ask for help. It can be taken as insulting my the peopl

[2018-11-14 19:59] #2937 closed

[2018-11-15 09:59] haarts opened #2938 "Install instructions fail for Ubuntu 18.10"
I've followed the install instruction as found [here](https://github.com/ponylang/ponyc#ubuntu-and-debian-linux-using-a-deb-package-via-bintray).

Updating my packages with `apt update` now fails with:

[code]

This makes I think because Cosmic Cuttlefish does not appear in the `dists` directory here: https://dl.bintray.com/pony-language/ponylang-debian/dists/

[2018-11-16 13:21] mfelsche commented on #2938
Good catch!

We are working on uploading packages for cosmic.
Stay tuned!

[2018-11-16 17:10] allphfa opened #2940 "Stdlib lacks a common time library"
Like the Python library's time and datetime
Gets the timestamp, calculates the date, and gets the current time

It is recommended to add a vscode prompt plug-in to facilitate the ability to view variables

eg:
    class iso AA

In general, if I want to see an AA capability as iso, I have to waste a lot of time flipping through code and documentation

[2018-11-16 18:06] kulibali commented on #2940
The standard library package `time` has:
- `Time` (https://stdlib.ponylang.io/time-Time/) that provides methods for getting the current system time.
- `PosixDate` (https://stdlib.ponylang.io/time-PosixDate/) that provides methods for getting and formatting the current date.

There is a project to develop a Language Server Protocol implementation for Pony (https://github.com/ponylang/pony-language-

[2018-11-16 18:06] #2940 closed

[2018-11-17 15:52] allphfa opened #2941 "#suggest Add uniform coding"
Similar to the python file header encoding, the first line of code
# - * - coding:utf-8 - * -

When coding is not uniform, the editor often overwrites the entire code
Result in code rewrite

I think we should unify the encoding. The default encoding of VS is not necessarily utf-8, sometimes gbk, but UTF-8 by default of gcc. When we switch compiler tools, we often encoding in disorder.

Another pro

[2018-11-19 17:36] jemc commented on #2941
Suggestions for language features/changes should go through the RFC process. See https://github.com/ponylang/rfcs

[2018-11-19 17:36] #2941 closed

[2018-11-19 17:40] jemc commented on #2936
I'll call this a bug - it's violating principle of least surprise, I think.

The compiler should use the folder of the file containing the `use` statement as the basis for relative paths here.

[2018-11-19 17:44] #2390 closed

[2018-11-20 17:15] aturley commented on #2907
We're looking for somebody to drive this forward with the approach that @Praetonus suggested (adding a switch in the makefile).

[2018-11-20 17:17] aturley commented on #2858
This looks like something that needs to have the same behavior across all platforms. We should figure out what behavior is needed here.

[2018-11-20 17:20] aturley commented on #2772
Leaving the "needs discussion during sync" label on here so that one day we can get the folks with a vested interest in this together to hammer out a plan.

[2018-11-20 17:21] aturley commented on #2609
@malthe can you test this again to see if you're still having the issue?

[2018-11-24 13:20] marsuk opened #2944 "Will Pony allow bare methods to use 'this'?"
Sorry, I'm new to Pony and maybe I got this completely wrong. Is using 'this' in bare methods no good idea because of memory safety reasons or is it rather not yet implemented?

If bare methods could pop the first argument away from the actual list that is provided in Pony (do they already?), and use it as 'this' pointer, then I think I would be able to write a Windows GUI app with Pony.

I made a

[2018-11-25 07:12] jemc commented on #2944
From within the bare lambda you only have access to the explicit arguments in the function signature - there is no implicit first argument in that case. I'm not familiar with this Windows API in question, but many C APIs allow you to pass some sort of `void*` or similar that gets passed to the callback, which would allow you to put a Pony object reference there (though, depending on how the callba

[2018-11-25 07:16] jemc commented on #2944
Again, I know almost nothing about Windows APIs, so take this with a grain of salt, but the `GWLP_USERDATA` option in [`SetWindowLongPtrA`](https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-setwindowlongptra) seems promising. It looks like you can use it to attach an arbitrary pointer to the `HWND`, which is probably what you'd want here.

[2018-11-25 19:33] marsuk opened #2945 "Deferred output with env.out.print on Windows"
In Windows 10 this code either works as expected (50% chance) or defers all env.out.print output (even hundreds of lines printed in 5 minutes) to the program exit (50% chance). You have to try several times to trigger this.

I'm aware that env.out.print in Pony does not explicitly flush, but printf, going to stdout, also doesn't automatically flush as far as I know. And in the code below printf al

[2018-11-26 19:50] andrenth opened #2946 "ast_add_sibling: Assertion `new_sibling != NULL` failed."
Hi

The (admittedly nonsense) code below triggers an assertion failure in ponyc:

[code]

Compiling with the latest ponyc from git, this leads to

[code]

[2018-11-26 22:57] jemc commented on #2944
Glad to help!

[2018-11-26 22:57] #2944 closed

[2018-11-26 22:59] jemc commented on #2944
Just for the record for anyone else finding this later, to explicitly answer the question "Will Pony allow bare methods to use 'this'?":

No, Pony won't allow this, by design. Bare lambdas have no value of `this`, and that's what's "bare" about them. Whenever you think you need this feature, you'll have to find some other way of accomplishing what you're doing, as in the example I helped @marsuk w

[2018-11-27 10:02] Heena2411 opened #2947 "undefined reference to `__warn_memset_zero_len' in yocto compilation for ubuntu16.04"

[2018-11-27 17:30] Theodus opened #2948 "RFC 60: Binary Heaps"
Add Priority queues to the collections package of the standard library.

[RFC 60](https://github.com/ponylang/rfcs/blob/master/text/0060-binary-heaps.md)

[2018-11-28 07:15] hinar24 commented on #527
Hi,
I tried to build HLOS for APQ8017  on Ubuntu 16.04, with  gcc 5.I got following errors.
ERROR: oe_runmake failed
ERROR: Function failed: do_compile (log file is located at /home/heena/source-code/apq8017-le-1-1_ap_standard_oem.git/apps_proc/poky/build/tmp-glibc/work/aarch64-oe-linux/libpam/1.2.1-r5/temp/log.do_compile.31715)
ERROR: Logfile of failure stored in: /home/heena/source-code/apq8017-

[2018-12-03 22:23] aturley opened #2951 "ponyc segfaults when using method chaining on the result of a `try` block"
## Description

`ponyc` segfaults when I try to compile this program that has a chained method call on the result of a `try` block:

[code]

Here's the backtrace

[code]

## Expected Behavior

The code looks valid so I would expect it to compile.

## Actual Behavior

The compiler segfaults.

## Steps to Reproduce

1. Compile the program above using `ponyc` 0.25.0

Result: Segfault

## System

Pony

[2018-12-03 23:15] aturley opened #2952 "improve error message when trying to capture a method"
If you try to call a class's method inside of a lambda that is used within the class it won't work. Consider this code:

[code]

If the function is defined *before* the lambda you get the following message:

[code]

But if the function is defined *after* the lambda then you get this message:

[code]

In the second case the error message seems to imply that the problem is that the declaration appea

[2018-12-04 17:11] #2948 closed

[2018-12-08 21:33] catb0t commented on #2367
`--immerr` doesn't suffice?

[2018-12-09 20:12] tmmcguire commented on #2572
I think I am seeing this bug, or a close relative:

$ (cd examples/server; ~/soft/pony/git/ponyc/build/debug/ponyc)
Building builtin -> /home/mcguire/soft/pony/git/ponyc/packages/builtin
Building . -> /home/mcguire/src/pony/shetland/examples/server
Building files -> /home/mcguire/soft/pony/git/ponyc/packages/files
Building time -> /home/mcguire/soft/pony/git/ponyc/packages/time
Building collection

[2018-12-11 14:57] jemc commented on #2367
Fixed by #2931.

[2018-12-11 14:57] #2367 closed

[2018-12-11 19:09] jemc commented on #2772
This was discussed in the sync call today.

I noticed while recapping the current status that I had misinterpreted @SeanTAllen's example - I was seeing it as an `interface`, while it is actually a `trait`. With that in mind, I'm in agreement with the approach suggested by @Theodus in the OP:

@sylvanc was also in agreement, and after re-reading @SeanTAllen's comment, I believe he is as well.

[2018-12-14 18:42] andrenth opened #2958 "Confusing error message with iso parameters"
Hi

As discussed with @SeanTAllen on IRC, we have found an instance of a confusing error message related to `iso` parameters:

[code]

This leads to the following error:

[code]

The issue is fixed by adding the missing `consume`:

[code]

If the `rand` parameter's type is specified as `Random iso^` (i.e. making it ephemeral), the code compiles, either with or without `consume`.

[2018-12-15 16:11] ghost opened #2960 "Enhance compiler error messages by surrounding types with single quotes"
[code]
I'm currently in the process of learning Pony and while doing so I stumbled across these error messages.  (Object / Class) Types mentioned are kinda hard to read and distinguish between actual source code and the error message.

I'd suggest that (object / class) types are boxed with single quotes. That would look something like this:
[code]

[2018-12-17 08:02] EpicEric opened #2963 "Compiler segmentation fault on complex Map union types"
This code causes a segmentation fault during compilation on latest release:

[code]

[code]

[code]

[2018-12-17 10:11] srenatus commented on #2936
I've looked into this some more, and while [it's fairly straightforward](https://github.com/ponylang/ponyc/compare/master...srenatus:sr/issue-2936/resolve-use-path-relative-paths) to wire a call to `pony_realpath` in [`use_path`](https://github.com/ponylang/ponyc/blob/7c44f1400a693837f7ca0b92a76501632e8e3f0b/src/libponyc/pkg/program.c#L146), to make relative paths work, we'd need the file path of

[2018-12-17 20:30] Theodus commented on #2963
This seems to be resulting in infinite recursion of this sequence of calls:

[code]

[2018-12-17 21:16] Theodus commented on #2946
More minimal example:
[code]

Interesting note: replacing `String ref` with `String tag` results in no crash and the correct error message.

[2018-12-18 07:35] srenatus commented on #2936
✔️ I think I've understood the mechanism. I'll open a PR soon, I hope. 🤞

[2018-12-18 17:39] jemc commented on #2960
I think it's fine to put some kind of quotes around the nominal type in the error description, but I'd be opposed to putting quotes around the code snippet showing the source code where the error is.

As far as the style of quote used for the type name, I might suggest backticks (a la markdown) instead of single quotes.

[2018-12-18 17:39] aturley commented on #2960
I agree with @jemc.

[2018-12-18 17:42] Theodus commented on #2963
[Here's a backtrace](https://gist.github.com/Theodus/05b86506c83dc7decfa634191cf4fe1d) (Using `ReadSeq` instead of `Array`)

[2018-12-18 17:45] jemc commented on #2958
Probably the most consistent way to improve this would be to amend the third info message to say:
[code]

That is, just adding a "(did you forget to consume?)" to any error message where we say "[iso|trn]! is not a subtype of [some other cap]".

[2018-12-18 17:49] Theodus commented on #2963
This one's using array, like the example: https://gist.github.com/Theodus/a29405cc7f619494140535c5eea1adf0

[2018-12-18 19:22] Theodus commented on #2963
I've isolated the frames that repeat (middle chunk, repeats at frame 12), with arguments:
[code]

[2018-12-18 19:51] Theodus commented on #2963
The only assumption in `subtype_assume` is `Array[(Array[I8 val] ref | I8 val)] ref <: Array[(Array[I8 val] ref | I8 val)] ref` whenever `check_assume` is called. That list doesn't seem to grow.

[2018-12-20 11:07] bbodi opened #2965 "Map.upsert misleading documentation"
[Documentation](https://stdlib.ponylang.io/src/collections/map/#L4) of ``Map.upsert`` says that

But later in the example

Which is, based on the first paragraph, wrong because value ``4`` is added to the map, not -4.

Please correct me if I am wrong.

Also, the first example is misleading to me.

    add 4 to the current value for key "test", which let's say is currently 2.
    We call
    ``m.up

[2018-12-21 01:09] SeanTAllen commented on #2965
Thanks @bbodi. I've opened a PR to address this: https://github.com/ponylang/ponyc/pull/2966

[2018-12-21 02:45] slfritchie commented on #2965
Oh, spiffy, I was just reading `upsert`'s docs not 15 minutes ago and was puzzled.  I resorted to reading the stdlib source to figure it out.

[2018-12-21 13:48] #2965 closed

[2018-12-26 01:03] erip opened #2967 "Type parameters are not captured in a lambda"
When defining a function in a parameterized interface, any lambdas that use a parameterized method can't find the definition of the generic type.

Sorry that I don't have a simple reproducer -- I can work on that soon. The gist that spurred this is [here](https://gist.github.com/erip/c4810f781606263e0c733cc8e35230fa) with the compiler error in-line.

[Context from IRC](https://irclog.whitequark.or

[2018-12-28 11:48] EpicEric opened #2968 "Broken Travis builds on Debian"
This issue has apparently started on [build 5497](https://travis-ci.org/ponylang/ponyc/builds/462940383). It seems to fail when running [this `docker run` command](https://github.com/ponylang/ponyc/blob/241d1886d2d2262ff34d0ae6e60cb24602c43b2d/.travis_commands.bash#L101).

From [the build logs](https://travis-ci.org/ponylang/ponyc/jobs/462940387#L1429):

[code]

It seems that it fails to install t

[2018-12-29 00:52] SeanTAllen commented on #2968
Yup. That is exactly it.

We've been discussing how to address behind the scenes.

[2018-12-31 21:43] erip opened #2969 "Range.next has surprising behavior that can lead to infinite loops"
I'm trying to write a primitive to do a `reduce` operation:

[code]

This partial check fails in the case of `Range` because `Range#next` is [total](https://stdlib.ponylang.io/collections-Range/#next).

Because of this, the `try` never fails and thus infinitely recurses. If I try to replace `try` with `if iterable.has_next() then` and remove the `?`, I find that I am insufficiently handling the pa

[2019-01-01 15:19] SeanTAllen commented on #2969
@erip there's definitely an issue here but your diagnosis is off.

The problem is with Range as an iterator.

[code]

If you only call next (as your are doing), when it hits the end of the range, it will keep returning the same value (the last one over and over again). In my mind this is a bug and it should error out. I think its a bit of a discussion point for what should be done in this case.

H

[2019-01-02 09:48] Horusiath opened #2970 "Language server protocol"
Correct me, if I'm wrong, but it looks like at the current moment Pony offers only simplified IDE support (basically syntax highlighting). Something like support for [Language Server Protocol](https://langserver.org/) would be a great advantage in language adoption. Are there any people actively working on it or planning to do so?

[2019-01-02 16:10] kulibali commented on #2970
There is a stub project for a language server protocol implementation: https://github.com/ponylang/pony-language-server, but progress has been slow.

Incidentally, please ask questions like this on the mailing list (https://pony.groups.io/g/user) rather than opening an issue.  Please reserve issues on this repo for actionable things in the compiler.

[2019-01-02 16:10] #2970 closed

[2019-01-05 02:17] mpbagot commented on #2729
Should this issue be closed now?

[2019-01-05 16:09] mpbagot commented on #1330
I'd really like to do some work on this, but I don't think I'm particularly qualified. If any tips or pointers could be given on where to start, I'd be happy to give it a go.

Though I do wonder, given that most GPU based code (from what little research I've done) functions by using a host program to send processing kernels to the GPU, and then fetching the results later, how should this behaviour

[2019-01-05 18:04] SeanTAllen commented on #1330
Marked as "needs discussion during sync" to make sure that folks weigh in on @mpbagot's question.

[2019-01-07 00:49] dipinhora opened #2973 "Linux ASIO performance regression"
https://github.com/ponylang/ponyc/pull/2897 has caused a performance regression in the Linux ASIO subsystem where the ASIO thread now takes significantly more CPU for some work loads (this was discovered as part of some performance tuning/testing work done by the folks at Wallaroo Labs about a month and a half ago but was unfortunately not tracked appropriately). A quick fix would be to revert tha

[2019-01-08 16:56] jemc commented on #2969
Yeah, I agree that `Range.next` should be partial, and the `else` clause within it should be `else error`. I don't see any benefit to the current behaviour, as we're not saving anything in microoptimizations (we're already doing the `has_next` check).

Is anyone aware of something that will break if we fix this?

[2019-01-08 17:28] Theodus opened #2974 "RFC 61: Modulo Operator"
Add a modulo operator `%%` for integer and floating point types that is defined as the remainder after floor division. Most importantly the result always has the sign of the Divisor, in contrast to `rem` (`%` operator), whose results always have the result of the dividend.

[RFC 61](https://github.com/ponylang/rfcs/blob/master/text/0061-modulo-operator.md)

[2019-01-08 17:54] jemc commented on #2969
We discussed this on the sync call. We agreed that fixing `Range.next` to be partial is the right way to go.

[2019-01-08 18:00] jemc commented on #1330
We discussed this on today's sync call. I didn't take notes on all of what was said, and I personally don't know a lot about it, but if you listen to the last five minutes of the call, you can hear @sylvanc's comments on it.

One place to start would be to introduce an annotation (`\annotation\` syntax) at the function level to specify that this function is targeting the GPU, with the parameters g

[2019-01-11 12:49] plprofetes opened #2975 "no GC happening with cycles of 50k+ actors"
NOTE: I changed the issue significantly as more investigation was done. This might need to be split into 2 separate issues.

# GC issues with cycles of actors

GC does not free unused actors when they form long cycles (10+) actors.

I'm looking for help in debugging this.
Thanks to @SeanTAllen  for lots of support.

## Miniprogram that fails

Consider program:
* Main creates number of Coordinators

[2019-01-13 01:19] plprofetes commented on #2975
Issue was substantially updated, I added dedicated testing program. Some conclusions changed, based on discussion on IRC channel.

[2019-01-14 19:45] SeanTAllen commented on #2975
I reviewed the code this weekend and talked a bit with @plprofetes. I could be wrong but I think the code is operating correctly and there isn't an issue with the runtime. As far as I can see, there's a ton of actors created and memory used that shouldn't be freed until the program is done computing its results. What @plprofetes is seeing is what I would expect. That said, I could be wrong about w

[2019-01-14 20:47] EpicEric commented on #2975
Using `@sleep` in `Main` will not cause it to be unscheduled, since it'd be a blocking operation in the eyes of the runtime. You should use [timers](https://stdlib.ponylang.io/time-Timer/) instead. Here's a working [gist](https://gist.github.com/EpicEric/255ef60d8fa873b77bc271b90aaa81fb).

Working with timers and decreasing the total number of `Noop`s per `Coordinator` will cause them to be GC'd i

[2019-01-14 21:03] SeanTAllen commented on #2975
@EpicEric if you can get a backtrace for the segfault, can you open a new issue for that and include all the code etc?

[2019-01-14 21:52] plprofetes commented on #2975
@EpicEric, thanks for providing a proper way to wait here.

I increased number of Noops to 230, and nothing gets GCed in 10 seconds (on my machine), with basically no load. After "Fake work" is done, only Main has some work to do. I expected GC to be fast enough free Coordinators before 10s have passed, or should I?

So to paraphrase my two concerns here:
* Performance of GCing cycles of actors, d

[2019-01-15 01:40] SeanTAllen commented on #837
This no longer grows out of control for me. Can I get some other folks to test?

[2019-01-15 02:09] SeanTAllen commented on #1007
So I've been looking at this. Here's some changed sample version of the program that sends some messages around and what-not:

[code]

This will not have memory growth if run with both of these options:

` --ponygcinitial=1 --ponynoblock`

I believe this means two things:

1- a bunch of memory growth from an explosion of block messages
2- without gcinitial=1 then the actors created are below the g

[2019-01-15 13:01] EpicEric opened #2977 "SIGSEGV on GC of actors at the end of execution"
This crash was found while diagnosing #2975.

An [adapted version of the code](https://gist.github.com/EpicEric/255ef60d8fa873b77bc271b90aaa81fb#file-main-pony), run with flags `--ponygcinitial 1 --ponygcfactor 1`, would often cause some (but not all) of the `Coordinator` actors to be GC'd. In these cases, it would occasionally result in a segmentation fault after the 10 second timer in `Main` was

[2019-01-15 15:19] plprofetes commented on #2975
@SeanTAllen very true. I tried to force GC to work as much as possible (run parameters, program being idle), but that may not be enough. And expecting GC to work on demand might be far fetched.

But as far as I am aware - there's no additional pressure on GC when program is using more and more memory. And one can easily run out of memory because of such "reluctant" GC. Which is what might be happe

[2019-01-15 17:45] SeanTAllen commented on #1007
I'm going to be looking into some idea around cycle detector.

1: can we run it more often if it is "overloaded". need heuristic for that.
2: can we run it on its own thread.
3: is there a bug in the cycle detector where it doesnt notice things can be gc'd soon enough.

[2019-01-15 17:47] SeanTAllen commented on #2977
That backtrace looks like what happens when an actor has been garbage collected but the cycle detector still holds a reference to it.

[2019-01-15 18:14] plprofetes commented on #2975
[code]

Another observation on my docker with 3GB of ram. Program ran with ```--ponygcinitial 1 --ponygcfactor 1```. It freezes before fake work is done and gets killed (sig 9 or 15) after a few minutes. Which is interesting, because 1.2M actors, 300bytes each (256b + something for data in fields) is approx. 343MB of memory. Which should be enough. I wonder what the rest of memory is used for. RT?

[2019-01-16 01:24] slfritchie opened #2978 "signed/unsigned conversion bug in siphash24 implementation"
This bug first appeared while working on some code with @dipinhora.  Dipin was using `@ponyint_hash_block` as the basis for a custom hash function.  I discovered that hash collisions with the custom hash function were far more frequent than expected.  The cause is a signed/unsigned conversion bug in `src/libponyrt/ds/fun.c`. The bug was found in release 0.25.0.

I'll have a PR ready in a few minut

[2019-01-16 10:49] srenatus commented on #2936
☝️ has been merged, I suppose this can be closed.

[2019-01-16 13:53] #2936 closed

[2019-01-16 13:53] SeanTAllen commented on #2936
Thanks for the heads up @srenatus

[2019-01-17 21:57] slfritchie opened #2980 "Thundering herd scheduler problem on fan-in messaging patterns"
@seantallen had asked me to create a ticket for discussing a
"thundering herd" scheduling problem that I've seen at Wallaroo Labs.
For the WL app I was working on, the Pony runtime system was AFAIK
working correctly.  But it would be nifty if the scheduler had some
flexibility to adjust to actor communication patterns like this one.

## Overview of the app

Wallaroo is a network stream processor:

[2019-01-19 01:39] plietar opened #2982 "Cannot prove subtyping of (A & B) <: ((A & B) | C)"
[Playground link](https://playground.ponylang.io/?gist=db0912ed785fabf83f3d453e96eded36)

The compiler is unable to prove that the following subtyping relation holds even though the usual rules for unions and intersections should allow it.
[code]

This is because the compiler will start by splitting the left hand side intersection before the right hand side. In other words, it tries to prove `(A &

[2019-01-19 18:38] EEVV opened #2984 "Segmentation fault on array copy"
[code]

Linux (x86_64 Linux 4.19.15_1)

`$ ponyc --version`:
[code]

`$ ponyc`:
[code]

[2019-01-19 18:40] SeanTAllen commented on #2984
I can confirm this causes the same error for me using Ponyc 0.25.0 with LLVM 3.9.1 on MacOS 10.11.6

[2019-01-21 23:35] jemc commented on #2371
To be clear, this is the workaround that we're talking about removing:
https://github.com/ponylang/ponyc/blob/d446387b12561be43cf0a11ca327614e55802cff/src/libponyc/codegen/genopt.cc#L305-L313

When removed, even on LLVM 7.0.1 we still segfault when running standard library tests that were compiled in release mode (that is, when ponyc was run with LLVM optimizations enabled).

---

I've spent quite

[2019-01-21 23:56] kulibali commented on #2371
We updated the Type-Based Alias Analysis implementation for LLVM 4, might want to look at those changes.

[2019-01-22 01:17] jemc commented on #2371
Thanks for the nudge, I'll look into it. I'm guessing that probably has something to do with it, because every other idea I've had about how alias analysis may be getting messed up hasn't panned out to be true so far.

[2019-01-22 04:15] jemc commented on #2371
Here's a minimal LLVM IR repro that acts like Pony code does and shows the problem in action (I've removed most of the generated code to leave only the `counter.value` part of the Pony example code from above, and I've named the SSA values and commented it to show how it works):
[code]

You can run the example with an invocation like: `opt -tbaa -licm -S /path/to/example.ll | tee /dev/tty | lli`.

[2019-01-22 04:35] jemc commented on #2371
Interestingly... running `opt` from LLVM 3.9 with the exact same LLVM IR input as we passed to the `opt` from LLVM 7 gives a program that works properly, without the erroneous optimization.

So the same TBAA format we use now for LLVM >= 4 worked fine in LLVM 3. So either:
- we need to update our TBAA format for LLVM >= 4 for new semantics
- there is a bug in TBAA analysis for LLVM >= 4
- our TBAA

[2019-01-22 04:49] jemc commented on #2371
I'm leaning toward the "our TBAA format has always been broken" option - it seems to me that including the rcap in the TBAA is a mistake that will cause problems in the presence of recovery, since caps may be lifted and in so doing break the subtype aliasing rules that TBAA depends on, right?

Note that this example would work fine if all three TBAA tree nodes (`Counter_ref`, `Counter_box`, and `C

[2019-01-22 17:11] #2978 closed

[2019-01-22 17:23] jemc commented on #2984
Since this is a failure in the heap to stack area that I'm currently looking at these past few days, I can take responsibility for next triaging steps on this one.

[2019-01-22 17:44] SeanTAllen commented on #2980
Want to note that, there are workarounds for the specific case that @slfritchie mentions, the general issue of fan-in with the backpressure system remains.

[2019-01-22 17:45] aturley commented on #2980
Leaving as "needs discussion during sync" because @SeanTAllen wants to discuss it with @sylvanc .

[2019-01-22 17:46] SeanTAllen commented on #2973
Note this should only impact on really high workloads and its not guaranteed that this isn't the cost of a correct implementation.

[2019-01-22 18:14] kapilash commented on #837
FWIW, running the program on windows for >20 min did not result in any uncontrolled memory consumption.  It was around 9GB for a while, then gradually reduced at 5GB.

[2019-01-23 02:40] SeanTAllen opened #2985 "Release 0.26.0"
Our building on buster issue has been temporarily fixed as @dipinhora now has a version of LLVM-3.9.1 for debian buster that can be pulled from our bintray while @jemc and @kulibali work on getting us up onto a newer version of LLVM.

So with that, your much delayed release that should have happened for December 1st, 2018 ish can proceed.

[2019-01-23 03:58] jemc commented on #2371
I tried the approach outlined above (removing caps from TBAA types), and it fixes the minimal LLVM IR repro I outlined above, but when I compile the (less minimal) Pony repro it still has a related issue where the alias isn't getting detected and the `store` is getting moved out of the loop.

Frustratingly, when I copy the full LLVM IR for that Pony repro out, and feed it into `opt`, I can't repro

[2019-01-23 13:54] SeanTAllen commented on #2985
Need release notes for:

- #2971
- #2950

[2019-01-23 15:00] adri326 opened #2986 "Calls to ref function inside of box functions prints a missleading error"
Howdy,

In a small project using Pony, I stumbled across a simple issue, which actually took me a while to figure out: I was trying to call a ref function inside of a box function, though the compiler gave me an error which made it hard for me to find the actual error. Let me phrase this with an example:

[code]

You would have expected the compiler to output an error similar to the one you get wh

[2019-01-24 17:31] Theodus commented on #2985
@SeanTAllen https://github.com/ponylang/ponyc/pull/2950#issuecomment-457284987

[2019-01-24 19:57] adri326 commented on #2986
[Playground](https://playground.ponylang.io/?gist=653bbdf36908132eb589e0bd8f663610) of the above-posted example

[2019-01-25 08:09] mfelsche commented on #2986
I totally agree with you. The error message is confusing and not very helpful. We should make a special case in the error handling where we check both the receiver capability (of `this`) inside the current method, the viewpoint-adapted capability of the field ehose method is called and the original capability of that field.

That will turn out very helpful, thanks for taking the time to report thi

[2019-01-25 19:07] SeanTAllen commented on #2985
Blessing 8276504b32bc6f8cf627ae0e37c65b23296d4efc

[2019-01-25 19:17] SeanTAllen commented on #2985
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/36394

[2019-01-25 19:18] SeanTAllen commented on #2985
@stefantalpalaru @kamilchm release underway.

[2019-01-25 19:51] stefantalpalaru commented on #2985
Gentoo ebuild updated.

[2019-01-25 20:04] SeanTAllen commented on #2985
COPR credentials had expired and had to be renewed. Started the release process again for those, but they will be stuck in line behind anything else that has come through for travis.

[2019-01-25 20:11] SeanTAllen commented on #2985
Debian package is available in Bintray.

[2019-01-25 20:13] SeanTAllen commented on #2985
Windows package is available in Bintray.

[2019-01-25 20:20] jemc commented on #2371
@sylvanc confirmed via Slack that he agrees that this seems to be unsound. It can be removed as part of the fix for this issue, though as I mentioned in my comment above, there is more to be done as well.

[2019-01-25 20:38] SeanTAllen commented on #2985
playground has been updated to 0.26.0

[2019-01-25 20:39] SeanTAllen commented on #2985
AppImage is in bintray

[2019-01-25 21:48] SeanTAllen commented on #2985
Docker images are all up to date.

[2019-01-25 21:53] SeanTAllen commented on #2985
Some not all of the COPR builds failed. Doesn't look to be related to us. Trying again for good measure right now.

[2019-01-25 22:26] SeanTAllen opened #2987 "Unsafe pointer access to packed array in epoll.c"
Found this because of  a Epoll warning when building on Fedora Rawhide. This results in the release package building failing because it errors are considered errors when building on COPR:

[code]

[2019-01-25 22:32] SeanTAllen commented on #2985
Fedora Rawhide build fails because a compiler warning is treated as an error and the build craps out:

https://github.com/ponylang/ponyc/issues/2987

[2019-01-25 22:37] SeanTAllen commented on #2987
I believe that this is because as of 2018-12-20, GCC 9 has a the new `-Waddress-of-packed-member` option, enabled by default.

[2019-01-25 22:41] SeanTAllen commented on #2987
There's interesting info (I'm not sure if it's correct) in https://stackoverflow.com/questions/8568432/is-gccs-attribute-packed-pragma-pack-unsafe

<img width="774" alt="screenshot 2019-01-25 17 40 31" src="https://user-images.githubusercontent.com/193596/51776728-63b70e80-20c8-11e9-96a2-4f10313c5e3e.png">

Switching to not having a pointer to just the event would require rewriting a lot of code.

[2019-01-25 22:53] jemc commented on #2987
Rewriting of code in just the runtime, or would it affect `AsioEvent` in Pony-land as well?

[2019-01-25 22:55] SeanTAllen commented on #2987
I haven't followed it all the way through. Definitely in the runtime, not sure from there.

I stopped when I got to

[code]

My guess is probably Pony-land as well. I need to look.

[2019-01-25 22:56] SeanTAllen commented on #2987
Relatedly, unrelated, I think we should have a CI job that uses GCC 9 with erroring out on all warnings so we can catch this sort of thing.

[2019-01-25 23:09] SeanTAllen commented on #2987
Yeah @jemc. It goes all the way into codegen and into the pony code.

[code]

That `Pointer[AsioEvent]` is an `asio_msg_t` which is:

[code]

And that event is a pointer into the packed data structure.

[2019-01-26 13:08] sylvanc commented on #2987
The error says we are taking the address of a packed member on line 233. However, as far as I can tell, that's not the case. We are copying a pointer out of the union, and the union is packed (reducing the sizeof struct epoll_event from 16 to 12 bytes, but introducing a non-8-byte aligned pointer access).

Once we have copied the pointer out, it is aligned access. So either this is a GCC 9 compile

[2019-01-26 13:10] sylvanc commented on #2987
Also, the lack of a warning on line 230 makes me think this is a compiler bug.

[2019-01-26 13:12] SeanTAllen commented on #2987
clang has the same flag, we should verify that we are using it when we build and check that clang doesn't have any complaints.

[2019-01-26 14:07] SeanTAllen commented on #2985
homebrew is done

[2019-01-26 14:20] SeanTAllen commented on #2985
rawhide issue is a gcc bug so... no rawhide release for 0.26.0

i'm giving tumbleweed one more try but it looks to not be a ponyc related issue in which case, probably no tumbleweed release for this one as I think whatever it is is environmental in COPR and would eventually pass.

Here's the tumbleweed error. Calling it transient and assuming it will be fixed by next release:

https://copr-be.clou

[2019-01-26 14:20] SeanTAllen commented on #2985
Release is done

[2019-01-26 21:41] adri326 opened #2988 ""not match" and "not if" causing compiler error"
# "not match" and "not if"

*This is a repost of an issue mentionned on an [RFC](https://github.com/ponylang/rfcs/issues/139)*

Doing `not match ... end` and `not if ... end` [results in an error](https://playground.ponylang.io/?gist=2652feb86d95f77db66c4b1589358beb):

[code]

As the documentation states, `if ... end` and `match ... end` are expressions, so this edge case should not return this pa

[2019-01-27 12:11] myfreeweb commented on #2985
Update submitted to FreeBSD Ports

[2019-01-27 17:03] jemc commented on #2988
This should be non-controversial, as long as the parser doesn't need to become more sophisticated than the current LL(1) parser, and as long as it doesn't break parsing other things.

[2019-01-27 17:44] SeanTAllen commented on #2985
Awesome. Thanks @myfreeweb. Should we drop you a note each time a release is going on? Is that something you plan on doing on an ongoing basis?

[2019-01-27 18:15] myfreeweb commented on #2985
Yes, I'm the maintainer of lang/ponyc. The ports bot sends me notifications based on new git tags anyway :)

[2019-01-27 18:50] SeanTAllen commented on #2985
@myfreeweb I added a note to ping you about releases that are underway.

[2019-01-27 21:40] #2985 closed

[2019-01-28 16:46] kulibali opened #2990 "Windows CI builds do not build examples"
The *nix CI builds try building the programs in the `examples` directory.  Windows CI builds should do this as well.

[2019-01-28 18:01] kulibali opened #2991 "Need to update Visual Studio version detection for build system and PonyC"
We need to update to the latest version of WAF and include the latest VS versions in our `wscript` file to deal with the latest VS2017 update (and VS2019, for that matter).

Also, we should switch to using [vswhere](https://github.com/Microsoft/vswhere) to detect VS versions in PonyC.

[2019-01-29 03:20] Mouvedia opened #2994 "pony is not listed on learnxinyminutes.com"
https://learnxinyminutes.com/

[2019-01-29 03:44] SeanTAllen commented on #2994
Hi @Mouvedia.

Not sure this is really a pony compiler issue. I've never heard of learnxinyminutes.com. If it's something you think Pony should be listed on, by all means, please feel free to move forward with that. I'm closing this as issues here are for actionable pony compiler, runtime, and standard library related issues.

[2019-01-29 03:44] #2994 closed

[2019-01-29 03:56] Mouvedia commented on #2994
No actually, I wanted to find it there. The ones who should write it are probably working on the compiler.

[2019-01-29 04:03] kiwiMec commented on #2920
Is this a Homebrew or Pony issue?

Incidentally, you can work around this if it's annoying your nice and clean build pipeline.

1. Use the `ponyc --verbose=3` you can see the offending `ld` command.
2. Copy the offending `ld` command.
3. Update the command to use `-macosx_version_min 10.9` instead of `-macosx_version_min 10.8`
4. Execute `ponyc --pass=obj` to generate the object code without linki

[2019-01-29 04:06] SeanTAllen commented on #2920
Technically its a Pony issue in that we use -mmacosx-version-min=10.8 in our `Makefile.ponyc`  and homebrew Xcode is 10.9.

[2019-01-29 16:34] EEVV opened #2995 "Bug in repeat/until construct"
The following code from the tutorial doesn't work:

[code]

The condition variable `a` which is defined inside the loop isn't seen as being available.

[2019-01-29 16:57] SeanTAllen commented on #2995
I told @EEVV to report this. It looks like we updated the tutorial so that it doesn't show the above as being valid. Did we expressly make a decision that that should be the case? Seems reasonable if we did.

[2019-01-30 01:16] kiwiMec commented on #2920
@SeanTAllen 10.8 is also hardcoded in genexe.c was this intentional?

[2019-01-30 01:31] SeanTAllen commented on #2920
Yes. Given how old 10.8 is at this point, changing to 10.9 seems reasonable.

[2019-01-30 01:42] kiwiMec commented on #2920
Cool, I've built it and used it.  Works for me.  Do I need to run tests and update changelog before submitting a pull request?

[2019-01-30 03:07] vijayee opened #2996 "Unhelpful Error : Argument not a subtype of parameter"
I had trouble understanding the error message and sean helped me
The error was produced by this code https://playground.ponylang.io/?gist=c174653b148dc6a17c8a31cd2ecfa9af

[code]

it appears the `val` in the lambda is the problem but the error does not really point you in this direction

[2019-01-30 03:19] SeanTAllen commented on #2920
Nice!

You don't need to update the CHANGELOG. Tests will be run when you open the PR but I suggest running them locally first.

Check out the "how to pull request" portion of our contributing docs. It includes some nice info about squashing, good commit messages etc.

https://github.com/ponylang/ponyc/blob/master/CONTRIBUTING.md#pull-request

[2019-01-30 11:10] kiwiMec commented on #2920
So before proceeding with the change, I decided to try the same process on another mac.  Mostly because we were dealing with a minimum settings flag and which on these macs should not make a difference.

Using `brew` installed `ponyc` resulted in the same error.  However, when I repeated the download and build process on the second mac there were no errors!  So this whole thing smells like a build

[2019-01-31 01:17] kiwiMec commented on #2920
So I reverted to the original mac tried a `brew` install and it had the same issue still.  However, when I tried a `git` clone from github there were no errors.  Magic.  So I suspect that as long as the next release is built cleanly the issue for Brew should go away.

Anyway, the issue was that there were object files in the Pony runtime compiled to a different minimum OSX version.  So as it stand

[2019-01-31 01:21] SeanTAllen commented on #2920
@kiwiMec yes, please PR.

next release isn't scheduled until around March 1st (unless a triggers release bug is fixed in the meantime).

[2019-01-31 08:12] kiwiMec commented on #2920
Pull request created.

[2019-01-31 17:44] SeanTAllen commented on #2920
Closing under the assumption this will be fixed on next release thanks to #2998.

[2019-01-31 17:44] #2920 closed

[2019-02-05 16:37] slfritchie opened #3001 "Ubuntu 18 x86_64's libatomic's 16 byte CAS isn't atomic"
Last week, I'd mentioned in one of the Pony public Slack channels that I'd discovered that a 16 byte CAS operation in the Ubuntu 18.04 x86_64's `libatomic` library isn't what we thought/hope it is: it falls back to an implementation that uses `pthread_mutex_lock`, `memcmp`, `memcpy`, and `pthread_mutex_unlock`.

When using a [Wallaroo](https://github.com/WallarooLabs/wallaroo) application on an Ub

[2019-02-05 17:31] jemc commented on #3001
I haven't deeply familiarized myself with this yet, but is there a way for us to detect this problem in our Makefile when compiling libponyrt? If so, I'd suggest that we issue a warning or error from the Makefile when compiling in such an environment.

[2019-02-05 17:32] SeanTAllen commented on #2995
@EEVV this isn't something that we plan on supporting. You can see that I brought this up previously in https://github.com/ponylang/ponyc/issues/2133 where we had a tutorial example showing what you want.

If you really want to argue for this, you can open [an RFC](https://github.com/ponylang/rfcs/).

Given this would be a special case given that using the lexical scoping that Pony uses everywhere

[2019-02-05 17:32] #2995 closed

[2019-02-05 17:35] SeanTAllen commented on #2968
@EpicEric This has been fixed.

[2019-02-05 17:35] #2968 closed

[2019-02-05 17:37] jemc commented on #2996
For posterity, here's the ponyc error output from the given playground link:

[code]
I think the error output makes sense - you're explicitly marking the lambda to be a `val`, but the `Fulfill` interface requires `iso`. Removing the `val` should fix this message.

[2019-02-05 17:41] jemc commented on #2987
(The flag in question is `-Waddress-of-packed-member`)

[2019-02-05 17:57] jemc commented on #2982
To summarize a bit in lay terms, adopting CNF or DNF would imply making a rule that the normalized form of a type follows certain rules about what can be contained within what, in a sort of order of precedence for the logical expression of that time.

For example, in DNF, the order is OR > AND > NOT, such that an `AND` (type intersection) can never contain an `OR` (type union), and a `NOT` can nev

[2019-02-05 21:20] SeanTAllen commented on #3001
Sounds like a job for `..configure` @slfritchie

[2019-02-06 15:39] jemc opened #3003 "Calling by method name on a union of distinct types with distinct capabilities."
I was doing some brainstorming about a common interface for "byte writers" that would cover both `class ref` and `actor tag` implementations of methods for writing out bytes. I quickly figured out that I couldn't have the same interface cover both cases, but I thought a type union of two interfaces could work well, so I created `OutClass` and `OutActor` interfaces, and called the union of them `Ou

[2019-02-06 15:41] jemc commented on #3003
Is it possible to prove to the compiler that the above code using the type union is sound?

[2019-02-06 15:46] jemc commented on #3003
@plietar @sylvanc - Would you agree that this use of type unions is sound? Any ideas about why the compiler is substituting `ref` as the cap for both?

I know that we have a current restriction that we must not have a type union that could match the same type with different caps, because we must know the cap at compile time (because we don't know about it at runtime). However, I get a similar erro

[2019-02-06 15:51] jemc commented on #3003
It seems like maybe the compiler thinks it needs to check every `print` method in the types in the type union against every type in the type union, instead of just checking against the type that the method came from. That is, I think each method should be checked with the assumption that the receiver has the type which that method was found in. Does anything seem unsound about that approach?

[2019-02-12 17:31] jemc commented on #3003
Briefly brought up on today's sync call. Leaving this as "needs discussion" until we get input from @plietar or @sylvanc.

[2019-02-12 17:31] aturley commented on #3001
Leaving as "needs discussion during sync" because we need input from @sylvanc.

[2019-02-12 19:00] vijayee commented on #2996
This is @SeanTAllen suggestion to bug this. Personally I think the last message in the list is the most relevant message here and it would be better if it was the error that is listed first. If you're new to pony its hard to know what the format and meaning of these errors and traces are but I (as a noob) freak out at the ignorance of the first message before reaching the clarity of the last one.

[2019-02-13 00:54] #2596 closed

[2019-02-15 13:19] EpicEric opened #3008 "Inherited methods allow shadowing"
### Summary

Name shadowing does not take into account inherited methods.

### Example

https://playground.ponylang.io/?gist=d0ce1bc307123f60d556e858fa75c66c

[code]

### Expected Results

A compiler error on line 7 forbidding name reuse.

### Actual Results

The code compiles.

[2019-02-17 05:39] kulibali opened #3011 "Memory corruption on Windows in optimized generated binaries with LLVM >= 6"
I have noticed that release builds of the `stdlib` library tests on Windows fail with strange errors.  They were not caught in CI until now because #3010.

What I see locally and on AppVeyor (https://ci.appveyor.com/project/kulibali/ponyc/builds/22429150/job/b290m7e326qsfj9e) is that tests in the `collections/persistent` package fail due to various memory corruption problems, either trying to dere

[2019-02-18 23:29] mpbagot opened #3013 "Calling behaviours from bare functions causes seg fault"
While working with PortAudio through the FFI, I found that I wasn't able to call behaviours on actors passed in using the userData field. In the past, I've successfully passed objects using userData fields, and called functions on them, but when I tried a similar action using an actor and a behaviour, it resulted in a Segmentation Fault. I've managed to recreate the bug in the following code snipp

[2019-02-19 17:25] jemc commented on #3008
This happens because the "can't reuse" errors are raised in the `scope` pass, which happens before the `traits` pass where trait implementations are copied. We can't move the `scope` pass to be after the `traits` pass because the `scope` pass generates symbol tables that are needed for passes that the `traits` pass needs

There are three basic approaches we could do:
- remove the "can't reuse" err

[2019-02-19 17:37] jemc commented on #3013
The issue here is that your bare function is being called from a non-pony-scheduled thread.

This is okay, but you need to register the thread first, which you can do with this FFI function in libponyrt:
https://github.com/ponylang/ponyc/blob/c42ccd3a275fbadfff0d56d2dd30dd927756e243/src/libponyrt/pony.h#L471-L479

Can you try adding that FFI call to the top of your callback and see if it works?

O

[2019-02-19 17:39] jemc commented on #3011
@kulibali - does this work if you disable the `pony_specific` optimization passes in `genopt.cc`.

[2019-02-19 22:42] kulibali commented on #3011
Well, well, well, the culprit seems to be our old friend the heap-to-stack pass.

[2019-02-19 22:57] mpbagot commented on #3013
Unfortunately, adding that call didn't change the outcome at all. The code still seg faults with the behaviour call, and passes without.

[2019-02-20 11:41] mfelsche commented on #3008
Whatever we chose to fix this, we should keep the logic for doing the "shadowing" checks in one place.
When we add functions from traits, we change the symbol table of the whole entity, and must re-check for shadowing again.

What we could do, and what seems reasonable to me, is to descend into each function/behaviour of the entity, into each symbol table and check for clashes between local names

[2019-02-21 03:12] doesntgolf opened #3015 "Default arguments show as "= seq" in generated stdlib docs"
In the stdlib documentation, function/behavior/constructor signatures where any parameter has a default value show up as `= seq`. Here are two example pages:

https://stdlib.ponylang.io/regex-Regex/
https://stdlib.ponylang.io/term-Readline/

[2019-02-21 03:20] SeanTAllen commented on #3015
docgen.c line 651 is where this is handled.

[2019-02-21 03:54] SeanTAllen commented on #3015
This was working as of f2f326e022692b7305832021fb4bb2e294fce97c (2 years ago)

[2019-02-21 03:57] SeanTAllen commented on #3015
Broken as of 682b45d3 which was 6 months after the previously identified working commit.

[2019-02-21 04:00] winksaville opened #3016 "fatal error: math.h: No such file or directory"
This is exactly the same as issue #797 which was resolved PR #824.

I get the following error:
[code]
This was reintroduced by PR #2976. I will create a PR which reverts [line 436](https://github.com/ponylang/ponyc/pull/2976/files#diff-e3d80c8fcb6d0c98ab08ebc846fa1ed5R436) back to the lines added in #824.

[2019-02-21 04:01] SeanTAllen commented on #3015
Working as of 83826594

[2019-02-21 04:03] SeanTAllen commented on #3015
Working as of 09ab1d35

[2019-02-21 04:05] SeanTAllen commented on #3015
Working as of 48062e64

[2019-02-21 04:07] SeanTAllen commented on #3015
Working as of ce39b5bf

[2019-02-21 04:09] SeanTAllen commented on #3015
Working as of c16ec5f1

[2019-02-21 04:12] SeanTAllen commented on #3015
Working as of 61c856de

[2019-02-21 04:17] SeanTAllen commented on #3015
Working as of 021e3d4b

[2019-02-21 04:19] SeanTAllen commented on #3015
Broken of 5dbe4d84

[2019-02-21 04:21] SeanTAllen commented on #3015
Broken as of 394c94ed

[2019-02-21 04:23] SeanTAllen commented on #3015
Working as of 17b2b838

[2019-02-21 04:25] SeanTAllen commented on #3015
Working as of 77c712c9

[2019-02-21 04:26] SeanTAllen commented on #3015
This broke with 394c94ed, PR #2242

[2019-02-23 02:00] SCKelemen opened #3021 "Question: What tools can I work on?"
I've heard rumours that support for Language Server Protocol is desired. I think that would be a good project to work on. I'd also be interested in developing a debugger for Pony, as well as working on garbage collection issues. Is there any work currently being done on these things, and is there somewhere we can brainstorm some ideas?

[2019-02-23 15:41] SeanTAllen commented on #3021
Hi @SCKelemen,

The Pony slack is probably the best place. It has the most activity.

http://ponylang.io/get-slack-invite

Probably the #tooling channel from the sounds of it.

[2019-02-23 15:41] #3021 closed

[2019-02-24 20:12] dipinhora opened #3023 "Current scheduler thread CPU pinning default is not ideal"
If a user happens to be running multiple pony applications that are CPU intensive, they would run into unnecessary CPU contention due to CPU pinning (at least on Linux) due to the same cores being used used by all the applications because the OS is not allowed to move a scheduler thread to a less busy CPU core. This is particularly troublesome because users may not even be aware that the applicati

[2019-02-24 20:31] mfelsche commented on #2408
This seems to have been fixed with ponyc 0.26.0.
I am not sure, though what exactly caused this to work now.
Maybe:

* https://github.com/ponylang/ponyc/pull/2660/files

I dunno if we should close it, though. Maybe we still have some corpses in the basement? But hopefully any work on: https://github.com/ponylang/ponyc/issues/2982 will fix whatever is still hid.

[2019-02-25 22:09] jemc commented on #2408
Maybe the remaining scope of this issue ticket would be to create a regression test to prevent it from being accidentally broken by future work?

[2019-02-25 22:14] jemc commented on #3013
Hmmm... if I had to guess without seeing your latest example, I'd guess that there is an issue with allocating new objects using the Pony heap from a non-Pony thread?

[2019-02-26 01:50] #3011 closed

[2019-02-26 10:35] mpbagot commented on #3013
The following is the bare function from my complete project. I assume when you say "without allocating any new objects", you are referring to the creation of new variable values (e.g `var num: U8 = 0`) ? If that is the case, my code below does nothing more than pass provided parameters into the behaviour (aside for the casting of `data`), but I still encounter the segmentation fault.

[code]

[2019-02-26 16:40] jemc commented on #2371
To recap, the current state of this is:
- Removing caps from TBAA is necessary, but not sufficient to make the heap to stack pass safe. That is, I tried it a few comments back, and there were still issues that I was having a hard time debugging.
- I thought that using the new PassBuilder would help me debug the issues, but it only proved more troublesome, so I am abandoning that plan.
- What remai

[2019-02-26 17:26] #3015 closed

[2019-02-26 17:40] #3016 closed

[2019-02-26 17:58] jemc commented on #3008
Of the three alternatives I suggested, @sylvanc says the third ("run `catch_up_passes`") is the best.

He also likes @mfelsche's idea better, but says a separate pass after the traits pass might be the cleanest way to do that.

[2019-02-26 18:01] jemc commented on #3003
@sylvanc says this is indeed sound to allow if we want to update the compiler to allow it.

[2019-02-26 18:05] doesntgolf opened #3026 "Int parsing methods on strings error on non-numeric input, Float parsing methods return 0"
I wasn't sure whether this was intentional, but matthias on Slack said I should open an issue for it. She/he also mentioned that there's a TODO in the jemc/ponycc code for it: https://github.com/jemc/ponycc/blob/master/ponycc/ast/_ast_util.pony#L7

If that comment in the code is sufficient, I can close this issue.

[2019-02-26 18:31] EpicEric commented on #3026
Here are the relevant methods: https://github.com/ponylang/ponyc/blob/5facf1e0dd073847052e6d28bfeea70aa649d1da/packages/builtin/string.pony#L1481-L1497

By searching around, I found that the C functions `strtof` and `strtod` _do_ have an `errno` mechanism to detect errors ([man page](https://linux.die.net/man/3/strtof)):

[2019-02-26 20:03] mfelsche commented on #3026
The comment in ponycc was just an interesting coincidence of someone already hitting that same issue before. This is very much an issue and should be tackled.

Yeah. those `strtod/f` functions have a horrible interface. To expose equivalent behaviour as the integer parsing methods, we'd also need to check if strtof/strtod consumed all characters given by using the `char**` argument and ensure it p

[2019-02-26 20:13] jemc commented on #3013
Sorry, I should have been more specific - I meant things that call the constructors of classes and actors to allocate new objects on the heap. Declaring a local variable of a non-object type like `var num: U8 = 0` will just allocate a place on the stack, which should be fine.

It doesn't look like your current example allocates memory, so now I wonder if it is an issue with tracing the `iso` argum

[2019-02-26 21:41] mfelsche commented on #3026
OK, i got a working implementation.
Adding tests...

[2019-02-26 22:02] #3023 closed

[2019-02-26 22:03] SeanTAllen opened #3027 "Release 0.27.0"
Target is first weekend in March.

Release notes:

https://github.com/ponylang/ponyc/pull/3024
https://github.com/ponylang/ponyc/pull/3020

[2019-02-26 22:05] SeanTAllen commented on #3027
@mfelsche can you add release note items for https://github.com/ponylang/ponyc/pull/2997 to this issue?

[2019-02-26 22:06] SeanTAllen commented on #3027
@jemc can you add release notes for LLVM 7.0 support to this issue?

[2019-02-26 22:12] jemc commented on #3027
This release adds experimental support for LLVM 7.0; the highest officially supported LLVM version is still LLVM 3.9, with higher LLVM versions having some code-generation optimizations disabled for stability. Work to stabilize these higher version is still ongoing.

[2019-02-26 22:14] SeanTAllen commented on #3015
@doesntgolf this will be fixed with the release of 0.27.0 this weekend

[2019-02-26 23:40] SeanTAllen opened #3028 "Drop LLVM 4 from CI in favor of LLVM 7"
We have a number of arm jobs, that are testing LLVM 4. They should be dropped in favor of LLVM 7.

Additionally, we don't have an LLVM 7 docker image for regular testing.

[2019-02-26 23:55] mpbagot commented on #3013
Unfortunately, even if the argument has a `tag` or `val` capability, it still causes a segmentation fault. It seems unlikely that would be the result of the `iso`.

[2019-02-27 00:09] SeanTAllen commented on #3028
I've opened a PR that addresses one portion of this:

https://github.com/ponylang/ponyc/pull/3029

[2019-02-27 01:24] jemc commented on #2371
New development in the saga - the optimized LLVM attributes for `val` introduced in #1046 were also unsound, for much the same reasons as I outlined for TBAA. That is, the rationale described in #1046 here is flawed:

It's flawed because LLVM can optimize *across time* in cases such as the LICM pass.

[2019-02-27 01:31] SeanTAllen commented on #2371
Nice find

[2019-02-27 02:18] SeanTAllen commented on #3027
@jemc do you want to change the LLVM release notes at all?

[2019-02-27 02:19] SeanTAllen commented on #3027
I've opened a branch `release-0.27.0` to start including release notes.

[2019-02-27 02:20] SeanTAllen commented on #2987
This is a gcc bug.

[2019-02-27 02:20] #2987 closed

[2019-02-27 04:41] cquinn commented on #3027
The release brings in a refactoring of the process package, and upon that a basic implementation on Windows of child Process creation and monitoring, as well as non-blocking anonymous pipes for stdin, stdout and stderr. The async pipe reading and writing are handled using a Pony timer plus polling, with IOCP support a possible future task.

[2019-02-27 14:53] adri326 opened #3033 "Generic bare functions"
Calling `addressof` on a generic bare function causes a compile-time assertion fail:

https://playground.ponylang.io/?gist=39bc0515159b8212bf02d8b1082dfd0b

[2019-02-27 15:25] #2371 closed

[2019-02-27 15:48] jemc commented on #3027
This release adds official support for LLVM 7, LLVM 6, and LLVM 5. Previously, LLVM 3.9 was the highest officially supported version, while support for LLVM 5 and LLVM 6 was listed as experimental, and did not have all optimizations enabled. Now all the above versions are officially supported with all optimizations enabled.

[2019-02-27 15:49] jemc commented on #3027
@SeanTAllen - sorry, I don't see the branch you mentioned, so I just added updated notes here.

[2019-02-27 15:52] jemc commented on #3013
Well, I guess the next step for troubleshooting this is to construct a pthread-based repro for this that can be tested without involving PortAudio.

[2019-02-28 03:00] #3028 closed

[2019-03-01 18:45] #3026 closed

[2019-03-01 18:50] SeanTAllen commented on #3027
Will start release tonight (my time, eastern US)

[2019-03-01 20:34] SeanTAllen commented on #3027
Blessing 5e6ec1a564dcf617960a03c5eb37bb1ce8712362

[2019-03-01 20:46] SeanTAllen commented on #3027
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/37477

[2019-03-01 20:47] SeanTAllen commented on #3027
@stefantalpalaru @kamilchm release is underway.

[2019-03-01 20:47] SeanTAllen commented on #3027
@myfreeweb release is underway. FYI, we now have CI for FreeBSD 12 with LLVM 7 (officially supported configuration because of that)

[2019-03-01 21:03] SeanTAllen commented on #3027
release notes PR opened: https://github.com/ponylang/ponylang-website/pull/396

[2019-03-01 21:08] SeanTAllen commented on #3027
Windows build is out

[2019-03-01 21:08] SeanTAllen commented on #3027
AppImage is out

[2019-03-01 21:09] SeanTAllen commented on #3027
COPR release is out

[2019-03-01 21:14] SeanTAllen commented on #3027
Debian build is available

[2019-03-01 21:26] SeanTAllen commented on #3027
Homebrew released.

[2019-03-01 21:26] SeanTAllen commented on #3027
Waiting on Docker images and playground update.

[2019-03-01 21:56] SeanTAllen commented on #3027
Docker images are out

[2019-03-01 21:57] SeanTAllen commented on #3027
Playground is now at 0.27.0

[2019-03-01 22:12] SeanTAllen commented on #3027
And announced. Thanks for playing folks.

[2019-03-01 22:12] #3027 closed

[2019-03-01 22:35] stefantalpalaru commented on #3027
Gentoo ebuild updated.

[2019-03-02 20:20] SeanTAllen commented on #2980
#3009 is a possible solution to this problem.

[2019-03-03 19:51] SeanTAllen opened #3060 "Drop Ubuntu Trusty Support"
This can be done in April of 2019 when Trusty is EOL'd.

We should stop building release packages for it. Remove Trusty from README and installation and make sure any Ubuntu CI images we are using are upgraded to Xenial (16.x) or Bionic (18.x)

[2019-03-03 19:53] SeanTAllen opened #3061 "Drop Ubuntu artful support"
We currently build packages for Ubuntu Artful. It is EOL on July 19 2018. We should drop building packages for it at that time.

[2019-03-03 19:57] SeanTAllen opened #3062 "Drop Debian Jessie support"
We currently build packages for Debian Jessie. Jessie stopped seeing official debian support on June 6, 2018. It still has LTS support but note https://wiki.debian.org/LTS "supported by LTS" is a volunteer effort that happens after a version has been End of Life'd. To me, we shouldn't support Debian version once they are end of life'd.

[2019-03-05 17:06] adri326 commented on #3013
Can confirm, Arch Linux, x86_64, using pony v27 and with SDL_mixer's threads

[2019-03-05 22:01] arabelladonna opened #3067 "ponyc can't find MSVC2017 BuildTools link.exe on D:\"
I have MSVC BuildTools version 14.16.27023 installed on my D:\ drive (a non-standard location) and ponyc cannot find it. vswhere.exe returns nothing when passed the -latest command, but Rust finds everything no problem.

The verbose version of the error message is as follows.

[code]

[2019-03-05 23:30] slfritchie opened #3068 "__loc() in trait default fun definition confuses compiler"
In the example at https://playground.ponylang.io/?gist=e14b0bb063257f2f75169d01f43c4779 / below:

[code]
... I see the error:

[code]

I kept the `__loc.line()` in the example because I've managed to trigger a similar error with `__loc.line()` in Wallaroo.  I'm not sure why `__loc.line()` doesn't cause the same error in the playground version.

[code]

The errors there (using Pony 0.25.0) are:

[c

[2019-03-06 07:10] jemc commented on #3068
Sorry, I don't understand this bug report - what is the bug here?

Note that `__loc()` (with parentheses after the `__loc` literal) will cause an error like that regardless of where it occurs, because the compiler assumes you are trying to call the `apply()` method of the `__loc` literal.

Removing the parentheses in your gist from `__loc()` to `__loc` solves the issue.

[2019-03-06 16:50] slfritchie commented on #3068
:facepalm: I've become partially parenthesis-blind.  My future as a Lisper is in doubt.

[2019-03-06 16:50] #3068 closed

[2019-03-07 00:18] BR- opened #3069 "Can't access newly created object fields inside a recover expression"
https://playground.ponylang.io/?gist=87d82b00c39c6c09ddff33d17bf23ccf

Within a recover expression, you can't create a ref object and access its fields, unless you create getter functions for those fields.

This might be the same as #2043 and #2217.

[2019-03-07 00:49] BR- opened #3070 "Auto-recovery doesn't apply to union type with interface."
I'd like to be able to call `.string()` on `(Thing iso | None) & Stringable`, but auto-recovery doesn't apply and currently you have to consume the var.

[Slack discussion](https://ponylang.slack.com/archives/CFFPDRCDT/p1551830429254000)

Some playground links:
[Not Stringable, auto-recovery](https://playground.ponylang.io/?gist=f1934c5281bf3d3f34d29790b2590cf9). Fails.
[Not Stringable, consume](h

[2019-03-07 20:27] SeanTAllen commented on #3061
We agreed during sync to drop support for Artful and only support LTS Ubuntu's with packages and CI going forward.

[2019-03-07 21:18] SeanTAllen opened #3072 "Stop searching hell and back for llvm-config"
In the Makefile we have tons of different checks for llvm-config whereever it might be. Why? Because every system puts it somewhere different with a different name.

I say that we only look for `llvm-config` and the user building from source (including our automated jobs) can use the `llvm-config` first found in the PATH.

Other option:

use a LLVM_CONFIG env variable that if not set, we will set

[2019-03-07 21:24] myfreeweb commented on #3027
Landed in FreeBSD Ports [r494995](https://svnweb.freebsd.org/ports?view=revision&revision=494995) / [e97dac9](https://github.com/freebsd/freebsd-ports/commit/e97dac92347758d378ddb0455ef8e3679eebe344)

[2019-03-07 21:27] jemc commented on #3072
Personally, I already use `LLVM_CONFIG` for everything and don't bother with search paths. However, I think we should keep the `PATH` approach for obvious reasons.

I also think we need to keep the numbered-llvm-config hierarchy where we favor (for example) `llvm-config60` over `llvm-config50`.

But I agree we should try to get rid of platform-specific library path checks in the Makefile.

[2019-03-07 21:30] SeanTAllen commented on #3072
Unfortunately that numbered hierarchy doesn't work. I just discovered that.

I installed LLVM 7.0.1 from their release page and it installs `llvm-config` and it took me a while to figure out why I was building with 6.0.0 still.

ARRGHGHG!

[2019-03-07 23:48] jemc commented on #3072
Yeah, that's unfortunate.

Okay, now I'm in favor of your earlier suggestion:

[2019-03-07 23:58] SeanTAllen commented on #3060
I've opened a PR to move our CI off Trusty and will merge that soon. Give that we don't have a release scheduled before Trusty is EOLd, I'm going to open a PR soon to drop Trusty support.

[2019-03-08 00:50] SeanTAllen opened #3074 "Building using vendored LLVM can end up using system LLVM"
I built Ponyc as follows:

`make -f Makefile-lib-llvm default_pic=true default_ssl=openssl_1.1.0 use=llvm_link_static -j4`

But, it ended up using my system LLVM when it built ponyc. Only after removing the system LLVM (6.0.0) did I get a ponyc using the vendored (LLVM 7.0.1)

[2019-03-08 01:13] SeanTAllen commented on #3072
We tried to be clever, it turned out as clever usually does.

[2019-03-08 02:03] winksaville commented on #3074
I've never tried `use=llvm_static`, I'll try it and hopefully it repropuces
for me. If so, I should be able to fix it. You can assign this to me, but
others are welcome to investigate/fix!

On Thu, Mar 7, 2019, 5:50 PM Sean T Allen <notifications@github.com> wrote:

[2019-03-08 02:22] SeanTAllen commented on #3074
@winksaville i'll add you as a contributor. once you accept, i can assign the issue to you.

[2019-03-08 02:24] SeanTAllen commented on #3074
@winksaville invite sent. "contributor" will make you a member of the organization so things can be assigned to you, but you won't be able to merge anything (or anything else that requires "write" access).

[2019-03-08 15:50] #3060 closed

[2019-03-08 16:04] #3072 closed

[2019-03-09 04:01] #3062 closed

[2019-03-09 23:39] #3067 closed

[2019-03-10 19:52] adri326 commented on #3013
(@jemc)
Here's a working, clean example using `pthread`:

https://github.com/adri326/-threader-pony

[2019-03-10 20:59] SeanTAllen commented on #3013
@adri326 I would expect that to crash. You need to call pony_register_thread()

[2019-03-10 22:03] adri326 commented on #3013
Forgot about this guy; did a push including it, it does not seem to affect anything

[2019-03-10 22:37] SeanTAllen commented on #3013
@adri326 you need to call pony_register_thread in thread_entry.

[2019-03-11 05:55] adri326 commented on #3013
@SeanTAllen
What would that change? The bare lambda should be executed in the same thread, unless there are some hidden mechanics at the beginning of the bare lambda

[2019-03-11 06:00] adri326 commented on #3013
I can't try rn

[2019-03-11 09:54] mfelsche commented on #3013
Given your small example above, i was able to verify the reason for the segfault:

[code]

I was able to run your small example app successfully with the following changes:

[code]

It is important to call this function before calling back into pony code as documented here: https://github.com/ponylang/ponyc/blob/master/src/libponyrt/pony.h#L471:L479

I removed the `pthread_exit` to have repeatable

[2019-03-11 10:36] adri326 commented on #3013
Indeed, it does fix the issue. Thanks for the help!

[2019-03-11 20:15] SeanTAllen commented on #3074
I think this issue was fixed by https://github.com/ponylang/ponyc/commit/f432dbbffd6aba5d4e5acba833e52c35a3e62326

Verifying now.

[2019-03-11 20:48] SeanTAllen commented on #3074
That commit did fix the problem. Here's what happened.

the llvm-config in the vendored version is called `llvm-config`. the system installed one was `llvm-config-6.0`

Building with vendored llvm works by putting `lib/llvm/build/bin` on to the front of the user's path. However, prior to f432dbb, `llvm-config` was the last llvm-config variation we looked for. We search for a variety of others firs

[2019-03-11 21:39] winksaville commented on #3074
I'll change Makefile-lib-llvm to set LLVM_CONFIG, instead of modifying the PATH, but if it's already set to terminate the build with an appropriate error message.

[2019-03-11 21:40] SeanTAllen commented on #3074
Let's get some input from other folks at sync and see what the general consensus for what people would expect to happen is.

[2019-03-11 21:59] jemc commented on #3074
The suggested approach of "if it's already set to terminate the build with an appropriate error message" sounds right to me :+1:

[2019-03-12 00:53] SeanTAllen opened #3087 "Should be able to make clean and make install without needing to define LLVM_CONFIG"
`make clean` never uses LLVM yet, setting LLVM_CONFIG is required (or `llvm-config` has to be in PATH) to run `make clean`.

This is a never ending source of irritation for me at this point as I start to used vendored LLVM.

Exact same issue applies to `make install`

[2019-03-12 00:57] SeanTAllen opened #3088 "Can't build bitcode with vendored LLVM"
This might happen regardless of vendored LLVM.

I'm using clang 6. Default vendored LLVM (7.0.1 at the moment). At commit e8f7c2835a35605a8381611dd15f4105626a3d64 of ponyc.

I get the following warnings while building:

[code]

Then later a mass of:

[code]

command line when building:

[code]

[2019-03-12 01:01] SeanTAllen opened #3089 "`make -f Makefile-lib-llvm clean` has surprising results"
I would expect this to clean the vendored LLVM. It doesn't.

[2019-03-12 01:03] SeanTAllen opened #3090 "Error when using clang-6 with vendored LLVM"
Vendored LLVM 7.0.1.
clang 6.0.0-1ubuntu2
ubuntu 18.04

-----

I tried to do:

[code]

And got

[code]

[2019-03-12 03:26] winksaville commented on #3089
Typically, the user does not need to rebuild LLVM as there are no changes
so clean only invokes Makefile-ponyc `clean`. Use `clean-all` instead.
Another option is `distclean` which deletes `lib/llvm/src/` and will "get
the secret" again, usually from the local git cache.

Do `make -f Makefile-lib-llvm help` for more info.

On Mon, Mar 11, 2019, 6:01 PM Sean T Allen <notifications@github.com> wrote

[2019-03-12 03:30] winksaville commented on #3090
I'll look into this.

On Mon, Mar 11, 2019, 6:03 PM Sean T Allen <notifications@github.com> wrote:

[2019-03-12 03:34] winksaville commented on #3088
Arbitrary parameters were not a goal, this is working as intended. It could
be supported but I feel direct LLVM development should be done in
`lib/llvm/src/`.

On Mon, Mar 11, 2019, 5:57 PM Sean T Allen <notifications@github.com> wrote:

[2019-03-12 03:43] winksaville commented on #3087
A possible solution, is conditionally not use LLVM_CONFIG if MAKECMDGOALS
has `clean`. Other solutions possible. I'll look into it. Also, I tend to
reuse recently used commands. You can also just `make clean`

On Mon, Mar 11, 2019, 5:53 PM Sean T Allen <notifications@github.com> wrote:

[2019-03-12 13:04] SeanTAllen commented on #3089
Given that clean does different things with the two different Makefiles, I find that potentially problematic.

[2019-03-12 13:05] SeanTAllen commented on #3088
This isn't direct LLVM development. Its a feature of the Pony compiler.

[2019-03-12 13:07] SeanTAllen commented on #3087
Sorry I don't understand. That is the command that has the error that I am reporting. Not sure what you mean by "can also just `make clean`.

[2019-03-12 15:13] winksaville commented on #3088
OK, I didn't know that, will look into it.

On Tue, Mar 12, 2019, 6:05 AM Sean T Allen <notifications@github.com> wrote:

[2019-03-12 15:15] winksaville commented on #3089
True, but I found you rarely want to clean llvm because it takes so long to
build.

On Tue, Mar 12, 2019, 6:04 AM Sean T Allen <notifications@github.com> wrote:

[2019-03-12 15:33] winksaville commented on #3087
Regarding my `make clean` comment, I thought I was commenting on #3089, sorry.

[2019-03-12 15:47] winksaville commented on #3090
I was able to duplicate this. The problem is you set CC but not CXX, add `CXX=/usr/bin/clang++`. Here is the output from cmake with just CC:
[code]
Here is the same output after adding `CXX=/usr/bin/clang++`:
[code]

[2019-03-12 15:51] SeanTAllen commented on #3090
Dur. I'll try to replicate later.

[2019-03-12 16:09] jemc commented on #3087
The issue with `make install` is that it may need to implicitly do a build, in which case it indeed would require `LLVM_CONFIG`.

[2019-03-12 16:42] jemc commented on #3070
I'll look into this a bit later.

[2019-03-12 16:44] SeanTAllen commented on #3013
@adri326 can this be closed?

[2019-03-12 16:47] winksaville opened #3091 "Make static linking of LLVM the default"
Currently, when using the system installed LLVM by default is to dynamically link. But when using vendored LLVM the default is to statically. On the sync call it was decided we should have the same default for both and static linking was felt the might be a better solution.

So we will try making static linking the default and revisit this if problems are encountered.

[2019-03-12 17:01] adri326 commented on #3013
I'd say yes

[2019-03-12 17:17] winksaville commented on #3089
Discussed on the sync call and it was agreed that this is surprosing, but that having the capability to clean only ponyc and not llvm is deseriable. Right now we have:

`make -f Makefile-lib-llvm help` supports 3 clean options, `clean`, `clean-all` and `distclean`:
[code]

`make help` supports only `clean`:
[code]

One simplifying change would be to remove `distclean`. Previously `distclean` was d

[2019-03-12 17:21] mfelsche commented on #3013
Closing.

This is a good topic for the ffi chapter in the tutorial (if it is not covered already).

[2019-03-12 17:21] #3013 closed

[2019-03-12 17:25] winksaville commented on #3088
This is missing `CXX=/usr/bin/clang++`, my test seem to work, although I did get a warning about the different target tuples:
[code]
Here is the same test without --runtimebc:
[code]
The sizes are different and both versions of `./helloworld` run so it seemed to work for me.

[2019-03-13 20:48] mfelsche commented on #1484
I am reopening this one, as it hits us again on ubuntu 18.04 when compiling with gcc which has `--enable-default-pie` and LLVM 7.0.1.

Interestingly this only hits us with LLVM 7.0.1 compiled from source (with vendored LLVM using `make -f Makefile-lib-llvm ...`) or downloaded as pre-compiled libs from releases.llvm.org. The ubuntu-packaged LLVM 7.0.1 works fine.

Steps to reproduce:

* build this

[2019-03-13 20:50] SeanTAllen commented on #1484
Im unable to reproduce this using vendored LLVM from source. ONLY from the 7.0.1 download from LLVM. Are you sure it isn't a problem with how that 7.0.1 download was built?

[2019-03-13 20:54] SeanTAllen commented on #1484
To add color @mfelsche, I have built using the vendored LLVM 7.0.1 multiple times without issue.

[2019-03-13 21:21] SeanTAllen commented on #3090
Yup. User error. Dur. Closing.

[2019-03-13 21:21] #3090 closed

[2019-03-13 21:44] insanitybit commented on #1811
Curious - is the PIC performance impact measurable? In particular, I wonder if it would make sense to just enabled PIC on x86_64 hardware, where afaik there is no meaningful performance impact.

[2019-03-13 21:48] SeanTAllen commented on #1811
There's definitely a performance impact. It adds a level of indirection that wouldn't otherwise exist. The higher the load on your system, the more you will feel the impact of that impact.

[2019-03-14 03:54] winksaville commented on #3087
I think this can be closed as its impractical to have `make install` not require LLVM_CONFIG, but we were able to do it from clean.

[2019-03-14 10:45] mfelsche commented on #1484
To add even more color: I have two `ponyc`s here, one with vendored LLVM which does work, one with the one from releases.llvm.org which does not work. Both produce identical IR, bitcode and ASM output, only the object files differ. Fun times!

[2019-03-14 20:32] mfelsche opened #3094 "Failures executing stdlib tests with debug builds of Ponyc on Windows"
When building Ponyc on current master from sources on windows (Windows 10 Home, 64 bit) with `Visual Studio Community 2017 15.9.7` and `Visual Studio Build Tools 2017 15.9.7` with these commands:

[code]

And then executing:

[code]

most of the time the execution just stops with an exit code of `-1073740940`. When running the same command in the VSCode debugger I sometimes get `Critical error det

[2019-03-14 21:05] mfelsche commented on #3094
It seems to be independent of LLVM version. The same behavior appears with LLVM 3.9.1 and LLVM 6.0.1.

[2019-03-15 04:21] patroclos opened #3095 "Output buffering with pipes on Windows"
I have the following problem:
I am spawning a long-living pony application from a nodejs process, making stdout a pipe and processing that output.
What happens however, is that no output is flushed until I either hit the buffer limit of 4kb or the application terminates, both of which are useless to me.

I'm not quite sure about the best way to remedy this, but maybe it involves allowing you to fl

[2019-03-15 14:22] jemc commented on #3095
This seems to be a missing feature, indeed.

[2019-03-16 16:03] patroclos opened #3096 "Runtime segfault when calling a function on a (Trait | Other) type"
Tested on `Windows 10` with `pony 0.27.0-95d94ac [release]`
Simplest example:
[code]

[2019-03-16 16:29] mfelsche commented on #3096
Thanks for providing this small example for the bugreport. Could you add how you compiled/installed ponyc?

[2019-03-16 16:52] patroclos commented on #3096
@mfelsche I downloaded ponyc-0.27.0-win64.zip from [bintray.com](https://dl.bintray.com/pony-language/ponyc-win/)

[2019-03-16 16:58] patroclos opened #3097 "json parser accepts numbers with leading zeros"
If the json package is intended to be RFC8259 compliant, then it should reject examples such as
`[01]`, `[-012]`, `[012]`

[2019-03-16 19:11] SeanTAllen commented on #3096
This segfaults on MacOS with 0.27.0

[code]

[2019-03-16 19:12] SeanTAllen commented on #3096
Segfaults on Linux as well:

[code]

[2019-03-16 19:12] mfelsche commented on #3096
I was able to reproduce this bug both on windows with ponyc compiled from source with different llvm versions and on linux.

An lldb run seems to suggest that the program wants to jump to a frame which is `NULL`:

[code]

[2019-03-16 19:16] SeanTAllen commented on #3096
This segfaults with LLVM 3.9.1 and Ponyc 0.26.0 on MacOS.

[2019-03-16 19:19] SeanTAllen commented on #3096
This goes back to at least 0.25.0

[2019-03-16 19:29] SeanTAllen commented on #1484
I don't think this issue is the one you've reopened @mfelsche. I have been unable to reproduce except with the LLVM 7.0.1 from LLVM releases. The fix for the previous problem is being done. I think what you are looking at is a different issues.

[2019-03-16 19:42] SeanTAllen commented on #3096
This goes back to at least 0.20.0

[2019-03-16 19:44] SeanTAllen opened #3098 "Collections.sort has no examples"
Making it hard for beginners to figure out how to use it.

[2019-03-16 19:45] SeanTAllen commented on #3096
This goes back to at least 0.16.0. I'm going to stop trying to find when it was introduced. Given how far in the past it was, it seems unlikely to be of much value.

[2019-03-16 20:34] #1484 closed

[2019-03-16 20:39] mfelsche opened #3099 "Error during Linking on Ubuntu 18.04 with LLVM 7.0.1"
I am experiencing issues on ubuntu 18.04 when compiling with gcc which has `--enable-default-pie` and LLVM 7.0.1 (from releases.llvm.org):

`/usr/bin/ld.gold: error: ./stdlib.o: requires dynamic R_X86_64_32 reloc against 'pony_personality_v0' which may overflow at runtime; recompile with -fPIC`

Interestingly this only hits us with LLVM 7.0.1 compiled from source (with vendored LLVM using `make -f

[2019-03-16 21:05] mfelsche commented on #3096
When looking for setting a breakpoint in lldb on `Y.string()` I only get:

[code]

When i look into the AST in codegen, right before we enter the `reach` phase, the `string` method is still there.

[2019-03-17 00:21] jemc commented on #3096
Confirmed (from looking at the LLVM IR) that the `Y.string` function is not being generated, and the vtable entry for it is `NULL`.

However, it is indeed seen during the selector painting phase:
[code]

[2019-03-17 00:46] winksaville commented on #3099
You said that the downloaded version was compiled with clang, if so I believe you need to compile ponyc with clang. Have you tried that.

What happens when you compile ponyc and vendored LLVM with clang?

[2019-03-17 00:55] SeanTAllen commented on #3099
I compiled vendored LLVM and ponyc with clang and everything worked fine for me.

[2019-03-17 01:34] SeanTAllen commented on #3099
Vendored LLVM built with clang + ponyc compiled with gcc. Doesn't work.

ponyc builds but when attempting to link examples/helloworld I get:

Error:

[code]

I compiled vendored LLVM  with clang:

Command line:

[code]

Versions:

[code]

Then in top level ponyc directory I ran:

`make clean LLVM_CONFIG=./lib/llvm/build/bin/llvm-config`

to remove the ponyc. Then did:

`make default_pic=true defau

[2019-03-17 01:39] SeanTAllen commented on #3099
Vendored LLVM built with clang + ponyc compiled with gcc & clang. Does work.

This is the same as my above example EXCEPT, I use the same c++ compiler (clang++) when compling LLVM and ponyc. So, problem is definitely related to the C++ bits.

I compiled vendored LLVM  with clang:

Command line:

[code]

Versions:

[code]

Then in top level ponyc directory I ran:

`make clean LLVM_CONFIG=./lib/llvm