[2019-03-17 01:42] SeanTAllen commented on #3099
I think this is a good reason for us to start using a vendored LLVM where-ever possible. And we can include the `pony_personality` error as an FAQ on the website.

[2019-03-17 02:02] SeanTAllen commented on #3096
This works if `Tr` is an `interface` instead of a `trait`.

Another indication that the trait code is messed up in a way that interfaces aren't. I need to clean up my "drop traits from language" RFC so it can be considered.

[2019-03-17 02:10] jemc commented on #3096
When the reachability analysis sees that the `(Tr | None).string` method is reached, this code is responsible for making sure that all subtype implementations of it (such as `Y.string`) are marked as being reached as well:
https://github.com/ponylang/ponyc/blob/4e13f14c935ede5a4ccff6fac72623dcd8ad3d9c/src/libponyc/reach/reach.c#L285-L300

However, the `t->subtypes` of the reach type `u2_Tr_val_Non

[2019-03-17 02:40] jemc commented on #3096
So, strike that, `Y` *is* being marked as a reachable subtype of `(Tr | None)`, but it doesn't happen until *after* the above section is executed.

[2019-03-17 03:40] jemc commented on #3096
@patroclos Thank you for the very clear and minimal repro snippet!

Thanks to your work, it didn't take me long to figure out the issue.

[2019-03-17 04:25] patroclos commented on #3096
@jemc You're welcome, took me quite some time figuring out what the problem was and simplifying it haha

[2019-03-17 14:26] #3061 closed

[2019-03-17 14:26] #3096 closed

[2019-03-17 14:27] SeanTAllen opened #3103 "Release 0.28.0"
I should be the one to do this release as I've been touching all the release scripts in the last month and its possible something broke. Weekend of the 22nd to 24th of March is the target.

[2019-03-17 14:28] SeanTAllen commented on #3103
## Ensure methods reached through a union are detected as reachable

Prior versions of Pony contained a bug in code reachability analysis that caused deterministic runtime crashes due to undetected reachability of a method call under certain specific conditions, including:
- the method being called only through a trait within a union type
- the order of compilation causing the concrete type to be

[2019-03-17 14:30] SeanTAllen commented on #3103
## Stop trying to be clever when finding user's LLVM installation

Clever is bad. Eventually it bites you in the ass. Ask The Narrator, he
knows.

Prior to this commit, we were trying to be clever and helpful and would
bend over backwards to try and find the user's LLVM installation
whereever their package manager of choice might put it. This was, in the
end, a losing battle. We were constantly ad

[2019-03-17 14:32] SeanTAllen commented on #3103
## Stop building packages for older Ubuntu and Debian's

In particular, as of 0.28.0 we no longer build binary ponyc packages for Ubuntu Trusty and Artful as well as Debian Jessie. We are still building binary packages for Ubuntu Xenial and Bionic as well as Debian Stretch and Buster.

[2019-03-17 20:52] mfelsche commented on #3099
@winksaville when both are compiled with clang, everything works ok.

Here is a reproducing Dockerfile for vendored llvm. The final step, compiling `examples/helloworld` fails with the error described above:

[code]

Interestingly, compiling both llvm and ponyc with gcc, but llvm with `-no-pie` and ponyc with `-pie` works fine.

[2019-03-17 23:13] winksaville commented on #3099
Glad to here that my hypothesis that compiling with the same compiler
works. Although I have no idea if mixing PIE and non-PIE is a supported
configuration.

On Sun, Mar 17, 2019, 1:53 PM Matthias Wahl <notifications@github.com>
wrote:

[2019-03-18 01:54] patroclos opened #3105 "Enhancement: Inherit iftype contraints in lambda bodies"
I think there is no apparent reason not to do this.
Here is a small example of what I mean:
[code]

And the error I get:
[code]

[2019-03-18 14:22] EpicEric commented on #3105
You were missing the refcap in the `iftype`. Either way, adding it will still trigger the error.

As a workaround for this case, using a temporary variable with explicit type would work:

[code]

But this is still an issue nonetheless.

[2019-03-18 19:37] cjdelisle commented on #1330
It might be worth considering trying to target SPIR-V, either directly or through the LLVM<->SPIR-V converter ( https://github.com/KhronosGroup/SPIRV-LLVM ) because SPIR-V is an intermediate which can be used to represent OpenCL and that allows vendor drivers to take over and compile it down to native.

[2019-03-18 19:55] winksaville commented on #3099
Are you expecting the following to work or not?

[2019-03-19 03:05] dipinhora commented on #3099
This seems to be related to some sort of memory corruption. Not sure of the root cause but the following steps show memory corruption impacting the `PIC` option for the LLVM `TargetMachine`.

Creating a docker image from the following `Dockerfile`:

[code]

Within the container:

[code]

`git apply` the following diff:

[code]

Then run:

[code]

I see the following output to `./build/release/pony

[2019-03-19 16:23] SeanTAllen commented on #3099
Our plan to address these weird issues is to only support building from source using vendored LLVM. We won't intentionally break using the system llvm but if issues arise, it is on the person building to resolve.

[2019-03-19 16:25] SeanTAllen commented on #3095
At sync, we agreed this is a missing feature (flush on outstream) and can be added without an RFC.

[2019-03-19 16:42] jemc commented on #3105
Improving the sophistication of the iftype implementation and relevant type checking to support things like this would be a major effort.

[2019-03-19 19:29] Theodus opened #3109 "RFC 62: TCPConnection hard_close"
Offer a way to immediately hard close a `TCPConnection`.

[RFC 62](https://github.com/ponylang/rfcs/blob/master/text/0062-tcpconnection-hard-close.md)

[2019-03-20 11:41] WoodyAtHome opened #3111 "compile ponyc on rpi/raspbian stretch"
Hello,

I cloned and compiled ponyc on the current raspbian:
`
sudo apt-get install make gcc g++ git zlib1g-dev libncurses5-dev libssl-dev llvm-3.9 llvm-3.9-dev libpcre2-dev

export LLVM_CONFIG=/usr/lib/llvm-3.9/bin/llvm-config

make default_pic=true
`
The make stopped with an error. I had to change in the makefile line 48 to:
arch ?= native
tune ?= native

Then the ponyc was built and works fine

[2019-03-20 11:46] mfelsche commented on #3111
Good catch, I had a similar problem, but didnt follow it through tbh.

I think we should detect a raspian build and change the `tune` flag to `native` accordingly. Could you have a look on your raspian system how this could be reliably detected?
Maybe there is something we could use similarly to how we do it for other systems: https://github.com/ponylang/ponyc/blob/master/Makefile-ponyc#L1:L39

[2019-03-20 11:55] WoodyAtHome commented on #3111
Maybe this helps:
`pi@homeserver:~ $ lsb_release -i
Distributor ID:	Raspbian
pi@homeserver:~ $ lsb_release -a
No LSB modules are available.
Distributor ID:	Raspbian
Description:	Raspbian GNU/Linux 9.8 (stretch)
Release:	9.8
Codename:	stretch
pi@homeserver:~ $
`

[2019-03-20 15:10] andrewharmellaw opened #3112 "Collections.list has no examples"
Add documentation as per #3098 .

There are a LOT of functions on Collections.list.  I'm only planning on giving examples for the following:
  - Create
  - Add an element
  - Update an element
  - Access an element at an index
  - Append one list onto another
  - Iterate the list
  - Map over the list
  - Filter the list
  - Partition the list

[2019-03-20 15:35] #3098 closed

[2019-03-20 16:22] andrewharmellaw commented on #3112
Thanks for the tags @jemc. (I don't think I have the permissions to do that. If I do and I've missed it, please shout and I'll make sure the next Issues I create are tagged appropriately.)

[2019-03-20 16:24] SeanTAllen commented on #3112
You don't have those permission @andrewharmellaw. If you ever become a committer, you will though. Baby steps!

[2019-03-20 16:27] andrewharmellaw commented on #3112
If anyone thinks the example should include other functions, shout here...

[2019-03-20 16:28] andrewharmellaw commented on #3112
Thought so @SeanTAllen, just wanted to check I wasn't being a bad citizen.

[2019-03-20 20:06] dkarlinsky opened #3114 "Add more detailed documentation for collections.reverse"
The current doc is a bit laconic and may benefit from an example

(Learning pony with @cquinn and @andrewharmellaw and contributing some docs and examples seems like a good way)

[2019-03-21 21:23] jdhorwitz commented on #3097
I will start working on this one.

[2019-03-21 21:27] SeanTAllen commented on #3097
@jdhorwitz I've invited you as a contributor. If you accept, it allows committers to assign you to issues. Let me know when you've accepted and I'll make you the official assignee on this one.

[2019-03-21 21:35] jdhorwitz commented on #3097
@SeanTAllen Thanks! Feel free to assign it to me.

[2019-03-21 21:35] SeanTAllen commented on #3097
@jdhorwitz assigned

[2019-03-22 19:55] SeanTAllen commented on #3103
Blessing 995988edddda2e191f2291ab7978882551dcced7

[2019-03-22 19:56] SeanTAllen commented on #3103
Release is underway.

[2019-03-22 20:05] SeanTAllen commented on #3103
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/38186

[2019-03-22 20:05] SeanTAllen commented on #3103
@stefantalpalaru @kamilchm @myfreeweb release is underway

[2019-03-22 20:12] SeanTAllen commented on #3103
Release notes draft is up: https://github.com/ponylang/ponylang-website/pull/413

[2019-03-22 20:42] SeanTAllen commented on #3103
Running to some issues related to release changes re COPR kickoff, appimage and Debian packages.

[2019-03-22 20:56] SeanTAllen commented on #3103
Debian and Ubuntu packages are in place.

[2019-03-22 20:56] SeanTAllen commented on #3103
Appveyor errored out in a weird, "we didn't touch that" kind of way so I restarted.

[2019-03-22 21:03] SeanTAllen commented on #3103
Restarting Appveyor fixed it. Windows now released.

[2019-03-22 21:09] SeanTAllen commented on #3103
COPR build has started.

[2019-03-22 21:16] stefantalpalaru commented on #3103
Gentoo ebuild updated.

[2019-03-22 21:22] SeanTAllen commented on #3103
AppImage is in.

[2019-03-22 21:23] SeanTAllen commented on #3103
COPR is done.

[2019-03-22 21:23] SeanTAllen commented on #3103
Waiting on Homebrew and Docker images.

[2019-03-22 21:28] SeanTAllen commented on #3103
Playground is updated to 0.28.0

[2019-03-22 22:29] SeanTAllen commented on #3103
Docker images are done. Only Homebrew is left.

[2019-03-23 11:52] SeanTAllen commented on #3103
Homebrew has been merged.

[2019-03-23 12:30] SeanTAllen commented on #3103
Release is done. Thanks!

[2019-03-23 12:30] #3103 closed

[2019-03-23 15:47] myfreeweb commented on #3103
FreeBSD port updated.

[2019-03-23 15:50] SeanTAllen commented on #3103
awesome @myfreeweb. thanks.

[2019-03-24 09:25] chobeat commented on #3112
@andrewharmellaw Your list of examples is missing anything that modifies the list after its creation, like `update` and `remove`. Also it would be nice to include in the examples some of the more "advanced" features of Pony lists like `partition` or some other functional-style staple function beyond `map` like `fold` or `filter`. While I think it's trivial to check the documentation and extrapolat

[2019-03-26 00:20] jemc commented on #3069
The `g1.get_neighbors()` call is known to the compiler as being safe because we've determined that `g1` is a reference originating at the `let` that is within the recover the block. We determine that by checking the nearest `recover` block in the lexical scope hierarchy of the `let` site within the `is_receiver_safe` function here: https://github.com/ponylang/ponyc/blob/ef68a4fda170ac16c776c58051d

[2019-03-26 06:16] andrewharmellaw commented on #3112
Thanks for the input @chobeat. I'll add those to the list and update the examples

[2019-03-26 16:37] SeanTAllen commented on #3114
@dkarlinsky are you interested in taking this on?

[2019-03-26 16:38] SeanTAllen commented on #3111
@WoodyAtHome what is your output when running `uname -s`?

[2019-03-26 16:40] Theodus commented on #3114
This was taken care of by #3113

[2019-03-26 16:40] #3114 closed

[2019-03-26 17:31] WoodyAtHome commented on #3111
[code]

[2019-03-29 08:28] WoodyAtHome opened #3123 "Bug in error message creation"
This (example and therefore absolute useless) program is saved as `main.pony`:

[code]

Building the program I encounter this error msg:

[code]

The error is of course not in the `posix_date.pony`  but `main.pony`, line 7 should be `let d = recover val PosixDate(now._1, now._2) end`
In this example the error is easy to find but in a huge project with 100 of PosixDate.create calls it will be a cha

[2019-03-29 12:56] WoodyAtHome opened #3125 "ponyc/packages/format formats wrong width for 2 (or more) bytes utf characters"
Format("u" where width = 4) results in String with len = 4, "u   ", that is ok
Format("ü" where width = 4) results in String with len = 3, "ü   " on a utf8 encoded system, that is not ok

I realize that's because of the 2 byte length of non ASCII Character and format counts bytes and not characters, but the result finally doesn't look very nice.

[2019-03-29 16:38] EpicEric commented on #1993
Is this still an issue? The docstring appears to have been correctly generated for the example.

[2019-03-29 16:42] SeanTAllen commented on #1993
It might on longer be an issue. Might have been accidentally fixed.

[2019-03-29 17:05] EpicEric commented on #1993
Closing on the assumption it was.

[2019-03-29 17:05] #1993 closed

[2019-03-29 19:44] mfelsche commented on #1993
This was fixed with: https://github.com/ponylang/ponyc/pull/2586

[2019-03-29 21:46] Jwashton opened #3126 "LLVM Optimization Pass Crash on Merge successive reallocations of the same variable"
I'm going through the [this book](https://pragprog.com/book/jbtracer/the-ray-tracer-challenge). When I compile my tests on [this branch of my code](https://github.com/Jwashton/ray_tracer_challenge/tree/compilation_issue) I sometimes get this issue during the optimization step.

[code]

Sometimes it works, sometimes it doesn't. Sometimes the issue disappears if I just try to compile again. Other ti

[2019-03-29 22:11] SeanTAllen commented on #3126
I'm unable to reproduce on MacOS El Capitan Ponyc 0.28.0 built with LLVM 7.0.1

[2019-03-29 22:14] SeanTAllen commented on #3126
Also unable to reproduce using Ubuntu Bionic with Ponyc 0.28.0 built with vendored LLVM 7.0.1

[2019-03-29 22:15] SeanTAllen commented on #3126
@Jwashton would you be able to build a version of ponyc from source, use that and see if you run into an issue?

[2019-03-29 22:34] Jwashton commented on #3126
I can't seem to reproduce this issue with a locally built version of ponyc and the system LLVM. Now recompiling with the vendored LLVM...

[2019-03-29 22:43] SeanTAllen commented on #3126
For the locally built, can you post the `ponyc --version` output?

[2019-03-29 22:46] Jwashton commented on #3126
[code]

[2019-03-29 22:56] SeanTAllen commented on #3126
So this could be an llvm 3.9.1 issue.

[2019-03-29 23:19] SeanTAllen commented on #3126
I am able to reproduce this using MacOS, latest ponyc and llvm 3.9.1.

So, this would be somehow related to the llvm version.

[2019-04-02 16:44] SeanTAllen commented on #3126
Can anyone else triage and verify my findings?

[2019-04-02 16:45] SeanTAllen commented on #3126
This could exist in other non-LLVM 7 versions, if anyone can test for that, it would be great.

[2019-04-02 16:45] jemc commented on #3126
I can try testing this in conjunction with #3122 for multiple LLVM versions.

[2019-04-02 16:47] SeanTAllen commented on #3125
What is the result you were expecting?

[2019-04-02 16:49] SeanTAllen commented on #3123
The error message is completely broken and incorrect. We need to investigate and fix.

[2019-04-02 17:38] WoodyAtHome commented on #3125
Hi Sean, I expect to count characters, not bytes. I know it's not easy for all the different encoding, maybe there will be first a fix for utf-8 encoding and later for utf-16 and so on.
Especially for "Format" it make absolute no sense to rely on bytes.

You can see it here:
https://playground.ponylang.io/?gist=e7c5aadcfe82da26a7df67da7d6a6c9c

I would expect
[code]

Priority is not high, of cours

[2019-04-02 17:44] EpicEric commented on #3125
Using the [String method](https://github.com/ponylang/ponyc/blob/320f248a973decea48e156093a4cfb22fdc7fb09/packages/builtin/string.pony#L261) `codepoints()` instead of `size()` in the Format package would work for this particular case (for `ü`, it returns 1 instead of 2) and other special characters represented by multiple bytes. However, it would still break for Unicode characters with width diffe

[2019-04-02 17:49] SeanTAllen commented on #3125
So, @WoodyAtHome you would expect the length of each to be "1"? I'm unclear based on your initial comments and the 2nd what you were expecting.

[2019-04-02 18:09] WoodyAtHome commented on #3125
Yes, I would expect the length of each character to be 1. Forget my first comment, if you don't understand.
@EpicEric got it, format should use ```codepoints```.

[2019-04-02 18:23] winksaville commented on #3126
I tested this on my Arch Linux desktop:
[code]
I tried 7.0.1 and 3.9.1:
[code]
It worked 10 times with 7.0.1 and **failed** 5 in 10 times with 3.9.1:
[code]

[2019-04-02 19:18] mfelsche commented on #3125
As @EpicEric mentioned, simply using codepoints for formatting might lead to unexpected results when using other languages than english. If we want to make it proper, we'd use *Grapheme Clusters* and apply the rules given here in order to determine the actual formatting-width of a given string: https://www.unicode.org/reports/tr29/#Grapheme_Cluster_Boundaries

This is a major effort and requires h

[2019-04-02 20:23] mfelsche opened #3128 "Create test suite for testing Pony programs in their process environment"
During multiple occassions (e.g. #3127 or #2871 ) it was discovered that stdin interaction was not quite working as expected. Since there is currently no test coverage of this part of the runtime and stdlib, the fixes can only be verified manually.

We want to have an additional test suite, that compiles a pony program and tests its interaction with the process environment.

That is (non-exclusive

[2019-04-02 20:25] mfelsche commented on #3128
If I would do it (which i might), I would do it in python, since its stdlib offers enough low-level apis to do all the things listed above without requiring any 3rd party packages. And the actual test code still remains readable. And I have some experience using python...

[2019-04-02 21:04] jemc commented on #3128
I might have a preference for using something like [`bats`](https://github.com/sstephenson/bats), which could avoid requiring Python to be present, and only require `bash` to be present.

[2019-04-02 22:22] winksaville commented on #3128
What about using Pony itself and/or require the previous version be present for testing?

[2019-04-03 18:17] winksaville commented on #3126
While testing #3122 I created a debug version of llvm-3.9.1 and linked it to a release version of ponyc:
[code]
Here is the version info:
[code]
I then tested it in the loop as before and all 10 succeeded. I'm not sure what that proves but its a data point that seems to point to a problem in LLVM as in this test and in [my other test](https://github.com/ponylang/ponyc/issues/3126#issuecomment-4791

[2019-04-04 14:34] #3123 closed

[2019-04-04 22:57] EpicEric opened #3130 "Official Alpine Docker images"
These would be useful for compiling/running Pony programs in containers with a smaller size.

I was thinking of having images for new releases from now on (`0.xx.xx-alpine`), alongside the Ubuntu ones (`0.xx.xx`); and an `alpine` image that is the counterpart of `latest`. Plus, since Alpine is already a supported platform, it should not require much work outside of the release process itself, whic

[2019-04-04 23:03] SeanTAllen commented on #3130
The images are built from the Dockerfile automatically by Dockerhub. To fit in the current structure (which I would prefer), we should pick either Ubuntu or Alpine. I'm quite ok with switching the Dockerfile to use Alpine.

[2019-04-04 23:06] SeanTAllen commented on #3130
@EpicEric if we were to switch to alpine, i think we should consider doing the same for the changelog tool container and the pony-stable one as well.

[2019-04-05 14:26] EpicEric commented on #3130
Actually, I'd prefer to stick with Ubuntu if we were to use only one image. The reason being people are more used to it, specifically for getting dependencies through `apt`. Alpine would be interesting for slightly more advanced use cases, such as I've mentioned in the OP. There are [other reasons why one base image or another](https://news.ycombinator.com/item?id=10782897) may be preferred.

Circ

[2019-04-06 15:53] andrewharmellaw opened #3131 "Add per-function code examples Collections.list"
The idea is to have snippets of pony code in the comments for each individual function. E.g.:

           let my_list = List[String]()
           env.out.print("A new empty list has " + my_list.size().string() + " nodes.")

    A new empty list has 0 nodes.

Note: @srenatus suggested this improvement on the PR [1] for issue #3112 [2].  I've split it out as a new issue because it seemed like a grea

[2019-04-06 15:53] andrewharmellaw commented on #3112
I'll close this once PR above is merged.

[2019-04-06 18:38] #3112 closed

[2019-04-08 19:24] andrewharmellaw opened #3132 "collections.ListNode has no examples"
Add documentation as per #3112.

There are functions in this class which only make sense when called via collections.List so they won't be covered here.

[2019-04-09 18:40] jemc commented on #3130
We don't have to switch away from DockerHub or add more steps to release processes to add an alpine image. The DockerHub automated build settings allow you to have multiple build rules with an explicit Dockerfile location:

![Screenshot from 2019-04-09 11-37-39](https://user-images.githubusercontent.com/4623870/55826191-53ee7a00-5abc-11e9-9256-d21541279a09.png)

I think we can have our cake and ea

[2019-04-09 18:41] SeanTAllen commented on #3130
Interesting. The RELEASE_PROCESS.md doc would need to be updated to account for this.

[2019-04-09 19:17] EpicEric commented on #3130
That's good news! What we need then is a Dockerfile for Alpine in a different folder (say, `.alpine`), adding an additional test command to [`validate-docker-image-builds`](https://github.com/ponylang/ponyc/blob/2c1e5ae14bc3313773de2510940bc53e73445771/.circleci/config.yml#L20-L26), and the following additional build rules:

Source Type | Source | Docker Tag | Dockerfile location | Build Context |

[2019-04-10 19:54] andrewharmellaw commented on #3132
The first PR was a mess.  I removed than and made a far cleaner one.

[2019-04-16 16:13] jemc commented on #3126
If this is looking like a bug in earlier versions of LLVM, I'm tempted to say we shouldn't bother investigating further until it's been reproduced on a more recent version of LLVM.

[2019-04-16 16:44] EpicEric commented on #3130
I've hit a wall, because `pony-stable` is not available in Alpine from `apk`, unlike the current Ubuntu image which installs it from `apt`.

Would it make sense to A) support Alpine and `apk` as an official installation platform for `ponyc` and `pony-stable`, and add it as another platform to our release process (re-ping @SeanTAllen); B) build and install `pony-stable` from source locally; or C) s

[2019-04-16 17:29] jemc commented on #3130
I would say Option B is best for the short term.

Option A would be a larger commitment to maintain the apk builds.

[2019-04-16 19:02] EpicEric commented on #3130
I can work with Option B for now. Something else to consider is whether the same should be done for our main Ubuntu image as well.

[2019-04-25 15:15] SeanTAllen commented on #2973
Update. This impacts on "less high workloads" as well.

[2019-04-25 18:20] SeanTAllen opened #3137 "Release 0.28.1"
Because it's rolling around to monthly release time and to get the fix to #2973 that will be provided by https://github.com/ponylang/ponyc/pull/3136 when it's released.

[2019-04-26 16:37] #2973 closed

[2019-04-27 15:23] fweimer opened #3139 "UDP and TCP sockets stop listening after a while"
After some time (a few dozen days), my server stops listening on UDP sockets. `lsof` shows that the socket is just gone. This happens after a few weeks. I do not close the socket explicitly in my code. The server has very low utilization.

This happens on Debian 9 with a Git snapshot after 0.27 (commit 0d526e4da15f84b8760e7b3574b8d58e49466552 to be precise). It is not a recent regression; it happe

[2019-04-29 19:59] EpicEric opened #3140 "Compiler crash in ponyc 0.28.0 with LLVM 7+ for certain projects"
Originally reported while working on #3138.

A few Pony projects I tested crash ponyc 0.28.0 on the `Writing ./foo.o` step when running in Docker. For example, [pony-kafka](https://github.com/WallarooLabs/pony-kafka/tree/c767e467a514b326d47aa52575a11e9c73f80cc1) or one of [my personal projects](https://github.com/EpicEric/pcs3866-languages-and-compilers/tree/45f9ec2afadbe6ddb50dd24cf6e957c79346f0f

[2019-04-29 21:25] EpicEric commented on #3140
Removing the make parameters [here](https://github.com/ponylang/ponyc/blob/18a5c87595a19f8f9ff2321a23c913d6ce3182dc/Dockerfile#L34) does not solve the issue.

[2019-04-30 12:00] mfelsche commented on #3140
ponyc in the Dockerfile is built using the release llvm from releases.llvm.org.
We should switch to using vendored llvm there too.

[2019-04-30 12:06] mfelsche commented on #3139
Do you have any logs or metrics for your process? Which port did you listen on with which settings? Do you log anything in `UDPNotify.closed`?

[2019-04-30 12:07] mfelsche commented on #3140
This might be related to #3126 ?

[2019-04-30 12:09] mfelsche commented on #3111
I got it working on my pi and will create a PR to update the makefile soonish.

[2019-04-30 18:40] EpicEric opened #3142 "Use vendored LLVM in Dockerfile"
From #3140:

We should switch to using vendored llvm there too.

[2019-04-30 18:41] EpicEric commented on #3140
Probably not. They crash on different compilation steps (`Writing ./foo.o` instead of `Optimising`), and on different conditions (i.e. both LLVM 7.0.1 in the Ubuntu image and LLVM 5 in #3138 trigger this issue; the other issue only happens on LLVM 3.9.1).

[2019-05-01 08:27] fweimer commented on #3139
I do not see anything useful I could log in `UDPNotify.closed`, except for the timestamp when this happens. I have added logging for this event nevertheless.

I don't have any metrics, only packet captures of incoming and outgoing packets. I'm not sure what kind of metrics I could collect.

[2019-05-01 11:27] mfelsche commented on #3139
I was asking if you have any info if it was closed from within pony stdlib code or from the os somehow. If pony closed the socket somehow you should have been informed via your notify. In order to work around that issue for the time being you could reopen another socket if yours was closed. I am going to check for the possible conditions on which pony might close your socket.

[2019-05-01 15:59] slfritchie opened #3144 "On a linker failure, ponyc ought to provide the linker's stderr diagnostics"
I now stand in the company of several people who've been frustrated by ponyc's lack of diagnostic information when the linking stage fails.  Causes such as lack of sufficient virtual memory and missing a required shared library print only `Error: unable to link:` followed by the linker command & arguments.  One could try to run that linker command + args oneself ... but one or more object files ha

[2019-05-02 16:23] #3095 closed

[2019-05-02 16:25] jemc commented on #3144
:+1:

[2019-05-02 16:27] SeanTAllen commented on #3142
Currently, the dockerfile is used to build on docker hub. Will we run into timeouts building LLVM there? That might take a long time.

[2019-05-02 16:29] jemc commented on #3142
Some discussion of their build limits: https://stackoverflow.com/a/34588866

[2019-05-02 16:30] SeanTAllen commented on #3142
Some things beyond timeouts:

1- we do a new build for every commit. is building LLVM every time an issue for that?

[2019-05-02 16:32] SeanTAllen commented on #3142
I don't think we can build on docker hub given the resource constraints that Joe posted.

[2019-05-02 16:32] jemc commented on #3142
If we verify our build-strategy is cache-friendly, it can alleviate some of those issues, but not completely.

[2019-05-02 16:34] SeanTAllen commented on #3140
This is probably a LLVM 7.0.1 bug?

[2019-05-02 16:34] jemc commented on #3140
To get the rest of the stack dump info about this, we'd need to reproduce with LLVM compiled in debug mode instead of release mode.

[2019-05-02 16:35] SeanTAllen commented on #3140
@EpicEric Is your project avaiable so I could try this with vendored LLVM 7.0.1 to see if I have the problem?

[2019-05-02 16:39] SeanTAllen commented on #3139
@fweimer can you provide before and after lsof output?

[2019-05-02 16:39] SeanTAllen commented on #3139
@fweimer do you have a minimal program that demonstrates the problem?

[2019-05-02 17:00] EpicEric commented on #3140
Here's my repository: https://github.com/EpicEric/pcs3866-languages-and-compilers

Building an image (`docker build -t epiceric/basicc .`) works, but running the ponyc image (`docker run -v $PWD:/src/main ponylang/ponyc:0.28.0 ponyc basicc`) causes the crash.

[2019-05-08 00:22] #3109 closed

[2019-05-09 10:24] EpicEric commented on #3130
There currently appears to be an issue with the GitHub API that is related with webhooks, which is preventing Docker automated build changes from being applied... I'll follow it up and apply the new rules once it's fixed.

[2019-05-09 18:38] rkallos commented on #3144
I might take a stab at this tomorrow for my work's open-source day.

From the looks of it, the linker is invoked with system(3). I think I'll first try replacing it with popen(3) and adding `2>&1` to the command. If that doesn't work, I'll have a go at replacing it with fork, exec and pipes.

[2019-05-09 20:21] EpicEric commented on #3130
**TL;DR:** You probably can't update automated builds in Docker Hub without GitHub repo admin permissions.

My issue is that, when I save the "Automated Builds" configuration, Docker Hub sends a request (`PATCH https://cloud.docker.com/api/build/v1/ponylang/source/...`) that was returning status code `422 UNPROCESSABLE ENTITY`. The response from Docker Hub simply says:

    {"error": "Error trying

[2019-05-12 10:17] WoodyAtHome commented on #1433
I just wanted to install ponyc (on my fresh Ubuntu 19.04) following the instuctions from https://github.com/ponylang/pony. add-apt-repository printed the error that ```https://dl.bintray.com/pony-language/ponylang-debian disco Release``` doesn't contains a  release-file, therefore the repo will be disabled:

[code]

[2019-05-12 11:22] WoodyAtHome opened #3148 "Ubuntu 19.04 provides only openssl1.1.1"
I just compiled ponyc on ubuntu 19.04. I added in the makefile at line 376:
[code]
to get it to compile. Finally everything compiled and my ponyc-TLS connection works.

Why not officially allow to use openssl_1.1.1?

[2019-05-12 19:21] SeanTAllen commented on #1433
@WoodyAtHome There's no disco release. If you want to use Disco, you'll need to build from source. We do releases for Ubuntu LTS versions. The README instructions should be updated to note that only recent LTS versions are supported.

[2019-05-12 19:27] SeanTAllen opened #3149 "Ubuntu and Debian package instructions are incomplete"
We don't do releases for every version and that isn't noted. See https://github.com/ponylang/ponyc/#ubuntu-and-debian-linux-using-a-deb-package-via-bintray

Currently we build and support:

xenial and bionic for Ubuntu.
buster and stretch for Debian. (and buster will be deprecated as it isn't a supported, stable release)

[2019-05-12 19:32] SeanTAllen opened #3150 "Support openssl 1.1.1 in Makefile"
The current Makefile allows for selecting openssl 0.9.0 or 1.1.0. We should support allowing for any 1.1.* version to be used.

[2019-05-12 19:32] SeanTAllen commented on #3148
I've opened issue https://github.com/ponylang/ponyc/issues/3150 for this.

[2019-05-12 19:32] #3148 closed

[2019-05-13 14:52] SeanTAllen opened #3151 "Scheduler scaling issue"
This was originally reported by @Alagos3019 in [zulip](https://ponylang.zulipchat.com/#narrow/stream/190362-performance-help/topic/Problems.20with.20arrays.20and.20parallelization).

When running the code in [this gist](https://gist.github.com/Alagos3019/cf18d9cd83b3c20c9af4f0c86768e073), the runtime scales down the schedulers. You can see this by checking CPU usage using htop. If you run with `--

[2019-05-14 16:34] SeanTAllen commented on #3151
The `999` isn't a magic value, it's merely a placeholder for everyone for "don't scale"

[2019-05-14 16:37] jemc commented on #3151
I'd be curious to see the LLVM IR for the `Main.create` function in this gist, with line 8 commented and uncommented to compare what the underlying implementation difference would be.

[2019-05-14 16:39] SeanTAllen opened #3152 "--ponyminthreads is confusing"
It doesn't control the number of threads. It sets a floor for scaling threads. So if I set `999` it won't create 999 threads, it will not scale LOWER than 999 threads. So if --ponythreads is less than --ponyminthreads no downscaling will occur.

Options:

- better help description
- better flag name

Thoughts?

[2019-05-14 16:43] SeanTAllen commented on #3149
We discussed during sync and think that a support matrix for distros/OS makes sense.

Include 4 levels:

1. pre-built packages available
2. tested in CI
3. should work, "not tested"
4. "not supported"

[2019-05-14 16:45] SeanTAllen commented on #3150
A note about OpenSSL versioning and why this should be fine:

https://wiki.openssl.org/index.php/Versioning

[2019-05-14 16:50] SeanTAllen commented on #3151
@dipinhora this one might interest you.

[2019-05-14 16:56] jemc commented on #3130
I get the same error:
[code]

[2019-05-14 17:11] jemc commented on #3130
I have tried various combinations of linking and unlinking my GitHub account to DockerHub, both for `ponylang` org and my personal account there. In all cases I got the 422 failure shown above.

[2019-05-14 17:12] SeanTAllen commented on #3130
@jemc seems like our linkage is broken in general? does that explain the broken builds recently?

[2019-05-14 17:15] jemc commented on #3130
I have temporarily given @EpicEric the "Owner" role on the `ponylang` repo so he can continue his contact thread with support and figure out what's going on.

Eventually, we probably want to link the @ponylang-main GitHub account to DockerHub instead of any personal account, but for now @EpicEric can try with his personal account to figure out what's going on.

[2019-05-15 04:50] dipinhora commented on #3151
The array allocation on line 8 impacts how many cores are used because the allocation takes time. The longer the allocation takes the more scheduler threads will have suspended prior to the `Worker` actors being created and the scheduler threads not being resumed even though there are actors that can be run in parallel after the `Worker` actors have been created.

[2019-05-15 19:53] EpicEric commented on #3130
I received an e-mail earlier (and I imagine everyone with admin permissions did, too) that "Docker Hub Builder" from Docker was approved as a third-party application. This let me create the automated builds.

I have manually triggered a build for the "alpine" image to see if the configuration works.

[2019-05-15 21:12] SeanTAllen commented on #3130
@EpicEric that was me trying to fix whatever was broken. hopefully it worked. i had to remove from my account (that was previously linked) all permissions for docker  hub and then re-add them then it allowed me to once again grant access to the ponylang org.

[2019-05-15 21:15] SeanTAllen commented on #3130
@EpicEric the alpine build failed as it said it was a directory not a file for Dockerfile location. I changed to `/.dockerhub/alpine/Dockerfile` and kicked off a new build.

[2019-05-15 22:18] EpicEric commented on #3130
You've accidentally added a dash to the end of the Dockerfile location; I've removed it and kicked another build.

[2019-05-15 22:48] EpicEric commented on #3130
The Docker build was successful, and the image works fine. It should build the other images on the next release.

Thanks for the help, @SeanTAllen and @jemc!

[2019-05-15 22:48] #3130 closed

[2019-05-15 22:56] EpicEric commented on #3140
This issue happens on the new Alpine image `ponylang/ponyc:alpine` as well, under the same conditions (i.e. in either `docker build`or `docker run`, but not when `ponyc` has the `--debug` flag). But the stack dump isn't printed:

[code]

[2019-05-18 11:39] fweimer commented on #3139
It happened again:

[code]

So it appears spontaneous and not related to network activity (nothing else was logged around the time). The process was started at 2019-05-01T11:03:04, so the elapsed time is not a particularly round number.

`lsof` output before:

[code]

And after:

[code]

Observe the gap for file descriptor 7.

The last connection is a leftover from an earlier TCP-based query:

[co

[2019-05-19 06:38] mfelsche commented on #3099
This might be a candidate for the bug we are hitting here: https://bugs.llvm.org/show_bug.cgi?id=39427

Gonna investigate if the new 7.1.0 llvm release indeed fixes this.

[2019-05-21 15:20] jemc commented on #3130
Is there any work remaining to switch to using @ponylang-main for the DockerHub/GitHub connection?

[2019-05-23 05:22] creatorrr commented on #1407
@winksaville @SeanTAllen any update on this? Happy to help?

[2019-05-28 16:24] #2975 closed

[2019-05-28 16:29] #3151 closed

[2019-05-28 17:05] SeanTAllen commented on #3137
This release should be happening this weekend.

[2019-05-29 02:21] SeanTAllen commented on #3137
Delaying this release until I can figure out the source of the bug I detail here:

https://github.com/ponylang/ponyc/commit/aa360ced22bce5169841e453335d02eb4121a18d

I suspect the problem is probably in the code that @dipinhora originally did but it doesn't much matter. Just need to track it down so you can use non one shot without having events go bye-byte.

[2019-05-30 18:59] SeanTAllen commented on #3137
Release notes:

## Fix cycle detector issue with checking for blocked actors

Fix issue #2975 where the cycle detector wasn't correctly reaping cycles of dead actors. Change cycle detector to use the maximum of `1000` or 10% of all actors currently alive for how many actors to query when the cycle detector periodically checks to see which actors are currently blocked. This is based on a suggestion

[2019-05-30 19:02] nfuhs commented on #3111
Is there a full blogpost or tutorial somewhere with instructions to compille pony on an raspberry pi for beginners?

[2019-05-31 03:11] SeanTAllen commented on #3111
@nfuhs not at this time. what do you imagine would be a blog post beyond the sort of directions that are the repo README where the installation instructions are?

[2019-05-31 03:13] SeanTAllen commented on #1407
@creatorrr no one is working on this. if you'd like the help out, ping folks on the zulip.

https://ponylang.zulipchat.com/#narrow/stream/189952-compiler-discussion

[2019-05-31 11:51] nfuhs commented on #3111
The installation instructions at [https://github.com/ponylang/ponyc/blob/master/README.md#building-pony-on-non-x86-platforms](https://github.com/ponylang/ponyc/blob/master/README.md#building-pony-on-non-x86-platforms) are just a stub in my opinio.

I tried to run make on my raspi but only got an error message, I bet its my fault not setting up llvm to the right version
[code]
It would be nice if t

[2019-06-01 12:25] SeanTAllen commented on #3137
blessing 13df06bd6c0fd34a959784649fbb7c3f96cef56a

[2019-06-01 12:27] SeanTAllen commented on #3137
release is underway

[2019-06-01 12:34] SeanTAllen commented on #3137
homebrew PR opened https://github.com/Homebrew/homebrew-core/pull/40581

[2019-06-01 12:35] SeanTAllen commented on #3137
@stefantalpalaru @kamilchm @myfreeweb release is underway

[2019-06-01 12:51] stefantalpalaru commented on #3137
Gentoo ebuild updated.

It works with LLVM-7.1.0, so you can add that as a supported version in Makefile-ponyc:300.

[2019-06-01 12:53] SeanTAllen opened #3165 "Upgrade support to LLVM 7.0.1"
Deprecate 7.0.0

[2019-06-01 12:54] SeanTAllen commented on #3137
Thanks @stefantalpalaru, I've opened an issue for that: https://github.com/ponylang/ponyc/issues/3165

[2019-06-01 12:54] SeanTAllen commented on #3137
Debian package is now available in bintray

[2019-06-01 12:54] SeanTAllen commented on #3137
Windows package is now available in bintray.

[2019-06-01 12:55] stefantalpalaru commented on #3165
Typo in the title? Should be "7.1.0".

[2019-06-01 13:01] SeanTAllen commented on #3137
App image package is now available in bintray

[2019-06-01 13:01] SeanTAllen commented on #3137
COPR build is finished

[2019-06-01 13:10] SeanTAllen commented on #3137
Release notes are ready and waiting: https://github.com/ponylang/ponylang-website/pull/439

[2019-06-01 13:17] SeanTAllen commented on #3165
No, I thought yours was a typo. I don't see 7.1.0 as an official release at this point: ﻿http://releases.llvm.org/

[2019-06-01 13:17] #3165 closed

[2019-06-01 13:22] stefantalpalaru commented on #3165
You can find it here: http://releases.llvm.org/download.html

It has only one bug fix: http://lists.llvm.org/pipermail/llvm-dev/2019-February/129985.html

[2019-06-01 13:26] SeanTAllen opened #3166 "Figure out LLVM 7.1.0 support"
So LLVM 7.1.0 isn't currently on the [LLVM release page](releases.llvm.org/), but it is there on the [downloads page](http://releases.llvm.org/download.html). However, there are no prebuilt packages for any Ubuntu other than 14.04 which we no longer support.

It would appear based on this [Phoronix overview](https://www.phoronix.com/scan.php?page=news_item&px=LLVM-7.1-Coming-Soon)  that it fixes t

[2019-06-01 13:26] SeanTAllen commented on #3165
@stefantalpalaru new issue https://github.com/ponylang/ponyc/issues/3166

[2019-06-01 13:34] SeanTAllen commented on #3166
Thought for "right now LLVM 7.1 support".

If someone wanted to build the required packages and open a PR to include at https://github.com/ponylang/ponyc-llvm-dependencies then we could move forward.

We would need:

- Ubuntu 18.04 support (ideally) but 16.04 would be a decent fallback

[2019-06-01 14:40] theindigamer commented on #3166
For using LLVM 7.1.0 in CI, you might find these two repos helpful:

https://github.com/vovkos/llvm-package-travis/

https://github.com/vovkos/llvm-package-windows

[2019-06-01 15:11] SeanTAllen commented on #3137
Playground is up to date.

[2019-06-01 16:53] SeanTAllen commented on #3137
Docker image is done. Alpine release image was misconfigured so that won't happen for a release Alpine until the next release in July.

[2019-06-01 16:53] SeanTAllen commented on #3137
Waiting on homebrew to merge, then we are done.

[2019-06-01 19:13] myfreeweb commented on #3137
FreeBSD Ports patch posted [238280](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=238280)

[2019-06-02 12:09] SeanTAllen commented on #3137
I've published the release notes as its been almost 24 hours now that the homebrew PR has been open and I see other that have been approved for merging that have been open for a couple days. Moving ahead without that having been completed. Will leave this issue open until the homebrew PR is merged but effectively, this release is done.

[2019-06-02 12:27] SeanTAllen commented on #3166
Thanks for the links @theindigamer!

[2019-06-02 16:24] SeanTAllen commented on #3137
Homebrew merged. Thanks for playing folks!

[2019-06-02 16:24] #3137 closed

[2019-06-03 21:46] EpicEric commented on #3140
This is what `git bisect` gave me:

[code]

Which makes sense, since the Dockerfile was [updated in this commit](https://github.com/ponylang/ponyc/commit/68a4984a91d653c4e53316b419143715a206cf15).

Here is my `git bisect log`:

[code]

[2019-06-03 22:39] SeanTAllen commented on #3140
I get this crash using the vendored LLVM 7.0.1 so this isn't the ABI issue that 7.1.0 addresses. This is definitely a "real bug".

[2019-06-03 22:42] SeanTAllen commented on #3140
Release version stack trace from MacOS where it also happens:

[code]

[2019-06-04 16:43] #3097 closed

[2019-06-05 12:22] #3150 closed

[2019-06-07 19:59] Cogitri opened #3169 "Fix `make install` with busybox `ln`"
Hello,

it appears that Busybox doesn't offer the `-r` switch like GNU `ln` does. This is similiar to #951, maybe a more generic approach could be taken instead of just checking for OSX?

[2019-06-07 20:05] SeanTAllen commented on #3169
I don't have busybox to test any fixes but if someone wants to do some legwork on this, I'd be happy to help test the solution on other platforms that I have access to in order to assure that it works.

[2019-06-07 20:05] SeanTAllen commented on #3169
Anyone have thoughts on "a more generic approach"?

[2019-06-07 20:06] Cogitri commented on #3169
Well, I guess it'd be a matter of checking if `ln -r` works in the Makefile and if not don't use it. Sadly I'm pretty bad with Makefiles.

[2019-06-07 20:07] SeanTAllen commented on #3169
That's not really something you'd normally do in a Makefile. In general, that is what `configure` scripts and their ilk are for. I think it would make sense to come up with a solution that doesn't need `-r` that works "everywhere".

[2019-06-07 20:07] Cogitri commented on #3169
Ah, alright.

[2019-06-07 21:06] Cogitri commented on #1837
Hello,

due to ld.gold being rather buggy on musl (it just plain crashes if built without -fPIE: `ld.gold: fatal error: build/release/stable: No error information`) Alpine would be very interested in this too (or maybe I can somehow work around this for now by doing position executable binaries with ponyc? I don't know ponyc too well, sorry for my little knowledge :)

[2019-06-07 21:09] SeanTAllen commented on #1837
Yes, PIE is support already @Cogitri. If you pass `default_pic=true` to make when building Pony, it will use when linking all binaries. See https://www.ponylang.io/faq/#pic-compile-error

[2019-06-07 21:13] Cogitri commented on #1837
Hm, I already build ponyc with that option and just tried with `ponyc --pic` and it resulted in the same build error for pony-stable. Adding `CFLAGS=-fPIE` did the trick for ponyc, but I guess this leaves us with a non-functional compiler nontheless :/

[2019-06-07 21:19] SeanTAllen commented on #1837
We build and release for alpine all the time, so I'm not sure what issue you are running into. I suggest checking https://github.com/ponylang/ponyc/blob/master/.dockerhub/alpine/Dockerfile. Beyond that, please open a new issue as this is off topic for this issue.

[2019-06-07 21:26] Cogitri commented on #1837
Ah, sorry, I felt this was related to this due to using LLD as linker would fix this. I'll open a new issue.

[2019-06-07 21:28] SeanTAllen commented on #1837
No need to apologize @Cogitri. We have veered off from LLD though.

[2019-06-07 21:32] Cogitri opened #3170 "ponyc unable to link programs on Alpine 3.10 rc2"
Hello there,

I'm currently in the process of updating ponyc to 0.28.1 on Alpine Linux Edge. Building anything (e.g. pony-stable) fails though:

[code]

ponyc -v:

[code]

See https://github.com/alpinelinux/aports/pull/8626/files for the APKBUILD I use for building ponyc.

The crash seems to be related to https://sourceware.org/bugzilla/show_bug.cgi?id=23856.

[2019-06-07 21:36] SeanTAllen commented on #3170
It would appear that the `execinfo` library isn't installed and is required.

see: `error: cannot find -lexecinfo`

[2019-06-07 21:39] Cogitri commented on #3170
Ah, sorry, pasted the wrong log (from my native host and not in docker) - this is the right one:

[code]

[2019-06-07 21:44] SeanTAllen commented on #3170
The docker container using Alpine builds fine (and plenty of folks use for building programs after that). First step would be to investigate what is different about your environment:

https://github.com/ponylang/ponyc/blob/master/.dockerhub/alpine/Dockerfile

I'm imagining that a lot has changed since Alpine 3.9 with the Alpine you are using?

[2019-06-07 21:45] Cogitri commented on #3170
This is on Alpine Linux Edge, which will be released as 3.10 soon (it's currently equivalent to 3.10-rc2)

[2019-06-07 21:58] SeanTAllen commented on #3170
What happens if you run:

`gcc -o build/release/stable -O3 -march=native -mcx16 -latomic  -fuse-ld=gold build/release/stable.o -L"/usr/lib/pony/0.28.1/bin/" -Wl,-rpath,"/usr/lib/pony/0.28.1/bin/" -L"/usr/lib/pony/0.28.1/bin/../lib/native" -Wl,-rpath,"/usr/lib/pony/0.28.1/bin/../lib/native" -L"/usr/lib/pony/0.28.1/bin/../packages" -Wl,-rpath,"/usr/lib/pony/0.28.1/bin/../packages" -L"/usr/local/lib"

[2019-06-07 22:06] Cogitri commented on #3170
The exact same thing:

[code]

[2019-06-09 18:00] #2779 closed

[2019-06-09 18:00] #2782 closed

[2019-06-12 15:44] jrasanen commented on #3144
Hi @rkallos,

I'm a bit interested of solving this also, if you ever end up being too busy and don't find time, let me know! :)

[2019-06-12 20:00] rkallos commented on #3144
I gave myself the one day in May to work on it, and made almost zero progress. Note that I'm not a very strong C programmer.

I tried to use `popen(3)` to run the linker, but ran into a bit of a chicken-vs-egg problem. It makes sense to only print linker output when the linker exits with a nonzero exit code. Since `popen(3)` returns the `FILE *` for the subprocess's stdout instead of a pid, you ca

[2019-06-13 04:39] SeanTAllen commented on #3074
@winksaville did a fix for this get merged?

[2019-06-13 04:40] SeanTAllen commented on #3099
@mfelsche can you verify that this is fixed with LLVM 7.1.0 and then we can close this?

[2019-06-13 04:47] SeanTAllen commented on #3091
@winksaville does that mean I don't need the use on this?

`make -f Makefile-lib-llvm use=llvm_link_static`

[2019-06-13 05:58] JacobChang commented on #3091
So only need to change Makefile from 'Makefile-ponyc' to 'Makefile-lib-llvm use=llvm_link_static' ?

[2019-06-13 06:02] SeanTAllen commented on #3091
No. That would use vendored rather than the system LLVM Jacob.

On Wed, Jun 12, 2019, 22:58 Jacob Chang <notifications@github.com> wrote:

[2019-06-14 07:44] sblessing commented on #1837
I do have a running implementation with LLD. Unfortunately LLD is not yet where we need it to be and, and using LLD wouldn't remove vcvars.* :(

[2019-06-14 16:09] winksaville commented on #3091
I did change lib/llvm so that by default it links dynamically. In lib/llvm/Makefile this is controlled by `-DLLVM_BUILD_LLVM_DYLIB=ON -DLLVM_LINK_LLVM_DYLIB=ON`:
[code]

Anyway @SeanTAllen is correct you need to `use=llvm_link_static` to get static linking and then if you build with Makefile-ponyc (the default) you'll be using the system install LLVM and if you use Makefile-lib-llvm you'll be usin

[2019-06-14 16:25] winksaville commented on #3074
Yes LLVM_CONFIG is explicitly passed to Makefile-ponyc and you haven't seen the problem so I think this can be closed.

[2019-06-14 16:37] #3074 closed

[2019-06-14 22:01] SeanTAllen commented on #3091
Correct. We haven't switched, thus this issue is still open and we are looking for someone to help out with making it the default while allowing dynamic as an option.

[2019-06-17 20:41] slfritchie opened #3182 "Recent master branch tcp_connection.pony pathology with small expect size"
The recent `master` branch (after the `0.28.1` tag, today) has a pathological case of a TCP socket that uses small expect messages (e.g. alternating between 4 bytes and 48 bytes, such as reading 4-byte framed length messages).

After tcp_connection.pony's `_read_buf` size grows to `_max_size` (default = 16384 bytes), then `_read_buf_size()` is causing a call to `ponyint_heap_realloc()` for every m

[2019-06-17 23:40] #3182 closed

[2019-06-18 01:19] SeanTAllen opened #3184 "Release 0.29.0"
Targeting the release date for the weekend of June 29.

[2019-06-18 03:45] SeanTAllen opened #3186 "TCPConnection read/write buffer sizes are using the same variable"
The variable used to control how large the TCPConnection read buffer can grow to is also used to control when to yield when writing data. The two should be different.

The usage of _max_size (soon to be _read_buffer_size) in TCPConnection write methods should be replaced a new variable _bytes_to_yield_after_writing. Additionally, constructors need to be updated to allow for setting that variable a

[2019-06-18 03:47] SeanTAllen commented on #3186
@dipinhora I noticed this as part of #3185. just an FYI.

[2019-06-18 16:16] jemc commented on #3186
:+1:

[2019-06-18 16:28] SeanTAllen commented on #3152
From sync. We believe there should be a flag for "don't scale my threads".

And --ponyminthreads will error out if it is greater than --ponythreads.

`--ponynoscale` is the current idea for turning off scaling.

if `--ponynoscale` is used on application startup then it should be a startup error to use `--ponyminthreads`.

[2019-06-18 16:56] jemc commented on #3170
Can you try with `-fPIE` added to that invocation, as mentioned in this comment in bugzilla (https://sourceware.org/bugzilla/show_bug.cgi?id=23856#c2)?

[2019-06-18 17:01] SeanTAllen commented on #3186
additionally, the number of bytes to yield after for writing is also tied to the read buffer size.

we should add a `yield_after_reading` and `yield_after_writing` respectively.

[2019-06-18 21:48] #3186 closed

[2019-06-19 00:13] SeanTAllen opened #3199 "pony_asio_event_resubscribe is only available for epoll"
Which means, you can't use it directly and still have to call `pony_asio_event_resubscribe_read` and `pony_asio_event_resubscribe_write`.

IOCP and Kqueue both need support so that it can be used from Pony code.

[2019-06-20 10:27] Cogitri commented on #3170
Same thing:

[code]

[2019-06-20 21:47] slfritchie opened #3200 "Crash during 'X86 DAG->DAG Instruction Selection'"
In https://playground.ponylang.io/?gist=b3ccdc537c480aaf5ae0a203421bfeab

[code]

The Pony compiler 0.28.1 crashes, saying:

[code]

In the larger code that I was working on, the error I see that's triggered by this line is:

[code]

[2019-06-20 21:51] slfritchie commented on #3200
A tiny amount of LLDB says:

[code]

[2019-06-20 22:14] SeanTAllen commented on #3200
Which version of LLVM @slfritchie ?

[2019-06-20 22:58] slfritchie commented on #3200
[code]

[2019-06-20 23:00] SeanTAllen commented on #3200
Can verify this also happens with LLVM 7.0.1

[2019-06-20 23:03] SeanTAllen commented on #3200
the `shl(8)` is what triggers the issue.

[2019-06-21 02:23] slfritchie commented on #3200
@SeanTAllen

[code]

[2019-06-21 03:10] dipinhora commented on #3200
This is likely because in LLVM `shl` is undefined behavior when the shift amount is equal to or greater than the number of bits in the value to be shifted. See: https://llvm.org/docs/LangRef.html#shl-instruction.

[2019-06-21 03:12] SeanTAllen commented on #3200
Makes sense.

Not a compiler crash would be a good reaction to that.

😉

[2019-06-27 18:15] kulibali opened #3204 "Investigate building PonyC with CMake"
This was discussed in the sync a couple of weeks ago.  We are continually running into platform- and library-specific issues, so a desire for some sort of "configure"-like tool was expressed.  The consensus seems to be that CMake is one of the least worst options.  A build system using CMake would provide a several benefits:

- Hopefully platform and library build issues would be kept to a minimum

[2019-06-27 18:21] kulibali commented on #3204
I propose -- and have started prototyping -- a two-step system where we can build the libraries we need (e.g. LLVM, and perhaps even PCRE2, {Open|Libre}SSL, GTest, GBenchmark) in a first step.  Then we can build PonyC et al in the second step, without CMake having to check all the files in LLVM to see if they need to be recompiled.

[2019-06-29 00:49] patches11 commented on #3111
Any update on this? I can successfully build on a raspberry pi zero w, but any program I compile just says: Illegal instruction

[2019-06-29 01:08] SeanTAllen commented on #3111
@patches11 No one that I am aware of has access to the necessary hardware. A fix would need to come from someone with the environment who can debug it. Sounds like you are having a different issue however as you can build.

[2019-06-29 02:52] SeanTAllen commented on #3184
I'm swamped with work this weekend. Pushing back by 1 week.

[2019-06-29 18:58] SeanTAllen opened #3205 "Add `iftype` examples"
We have none. Having some runable code that people can examine as an example would help folks better understand the feature.

[2019-06-30 19:09] dipinhora commented on #3170
I'm unable to reproduce this on Alpine 3.10 via docker. I ran everything in the following docker container:

[code]

The commands I ran were the following:

[code]

I installed llvm 7 instead of llvm 6 because alpine 3.10 doesn't have pre-built packages for llvm 6.
[code]

[code]

I tried both `master` and tag `0.28.1` without running into issues.

[code]

Output showing OS version, ponyc version,

[2019-06-30 23:03] Cogitri commented on #3170
Yup, llvm6 is in the testing repo for now (like ponyc). I guess I'll try with LLVM7 now that 7.1.0 works better with musl.

I tried the same steps, but it still errors out for me :thinking:

[code]
[code]

[code]

[2019-06-30 23:19] dipinhora commented on #3170
@Cogitri to make sure I understand, did you try in a clean docker container like I did or in your existing environment or some other configuration/environment?

It would be extremely helpful if you're able to provide instructions on how to reproduce the issue in either a docker container or a VM starting from a clean/base Alpine 3.10 install.

[2019-07-01 12:13] Cogitri commented on #3170
I tested this both in a clean environment via Docker and in my own system. I built ponyc manually on my system and via `abuild` in Docker (which is Alpine's package format). To build it with abuild:

`git clone https://github.com/alpinelinux/docker-abuild`t
`git clone https://github.com/Cogitri/aports -b ponyc`
`cd docker-abuild && make`
`cd ../aports && cd testing/pony-stable && ../../../docker-a

[2019-07-01 17:56] patches11 opened #3206 "Compiled Pony programs fail at runtime with an Illegal instruction error on Raspberry Pi Zero W (ARM1176JZF-S)"
Hi,

I am trying to get Pony functioning on a Raspberry Pi Zero W running Raspbian Stretch, which has the same SoC as the original Raspberry Pi. The instruction set is ARMv6, which I see is mentioned in the build scripts, so it seems like it should be supported.

I was able to get ponyc to compile, branching off the 0.28.1 release, using these instructions: https://github.com/ponylang/ponyc/issues

[2019-07-01 21:51] dipinhora commented on #3170
@Cogitri I ran the commands you provided and did not encounter any errors. In case it matters, I ran the commands in a Virtualbox VM of Ubuntu Bionic on Windows 10 on x86_64.

[code]

[2019-07-01 22:29] Cogitri commented on #3170
Hm, no, that shouldn't matter, but that's super weird :o

I guess I'll closes this for now then and see if I can get this working somehow

[2019-07-01 22:29] #3170 closed

[2019-07-02 20:30] patches11 commented on #3206
I have managed to track the issue down to this line: https://github.com/ponylang/ponyc/blob/550477f6d07456a8a7924e4f7a0e81996f405308/src/libponyrt/sched/cpu.c#L383

My guess would be that is not actually supported in ARMv6.

Assuming this works on ARMv7, changing the `# if defined ARMV6` to `# if defined ARMV7` seems like the simplest solution, which is what I've done in my fork.

I would be happy

[2019-07-03 00:23] ibara opened #3207 "Figure out LLVM 8.0.0 support"
Similar to #3166, LLVM has released version 8.0.0 as well. OpenBSD has moved to 8.0.0, which means the ponyc package will be broken until support is figured out :(

[2019-07-03 02:25] kulibali commented on #3207
There's a start on this in #3034, but I haven't had much time to work on it.

[2019-07-03 12:22] mfelsche commented on #3206
That was a good catch, i didnt know about this tick count trick for arm yet.
According to the manual of the CPU used in raspberry pi zero and model 1, which is an ARM1176JZF-S we do it totally wrong for that model. (Other models still need to be checked)

Here is how to check if we can access the necessary registers from usermode: http://infocenter.arm.com/help/topic/com.arm.doc.ddi0301h/Babidacc.

[2019-07-06 14:13] SeanTAllen commented on #3184
Blessing 550477f6d07456a8a7924e4f7a0e81996f405308

[2019-07-06 14:15] SeanTAllen commented on #3184
Release is underway.

[2019-07-06 14:26] SeanTAllen commented on #3184
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/41668

[2019-07-06 14:28] SeanTAllen commented on #3184
@stefantalpalaru @kamilchm @myfreeweb release is underway

[2019-07-06 14:39] SeanTAllen commented on #3184
Debian and Windows packages is now available in Bintray.

[2019-07-06 14:42] stefantalpalaru commented on #3184
Gentoo ebuild updated.

[2019-07-06 14:43] SeanTAllen opened #3208 "Suse tumbleweed release issue"
When doing the 0.29.0 release, tumbleweed failed. Why? Not sure.

The error is

[code]

Which suggests an incorrect version of LLVM (ie 8.x not 7.x) is being used when building for Tumbleweed on COPR. That seems odd. Someone needs to look into the setup for this.

[2019-07-06 14:44] SeanTAllen commented on #3184
COPR build is finished. There was an odd error for Tumbleweed, I've opened [an issue](https://github.com/ponylang/ponyc/issues/3208) for it. No Tumbleweed build for 0.29.0 will be available.

[2019-07-06 14:45] SeanTAllen commented on #3184
thanks @stefantalpalaru

[2019-07-06 14:46] SeanTAllen commented on #3184
AppImage is done.

[2019-07-06 14:51] SeanTAllen commented on #3184
Homebrew PR merged.

[2019-07-06 14:51] SeanTAllen commented on #3184
Waiting on:

- Docker
- Playground update
- Me writing release notes

[2019-07-06 14:54] SeanTAllen commented on #3208
Yup, from the build log:

[code]

So, need to look into that for future releases.

[2019-07-06 15:55] SeanTAllen commented on #3184
Playground updated.

[2019-07-06 15:55] SeanTAllen commented on #3184
Ubuntu docker images are now available. Alpine should be coming up next.

[2019-07-06 16:32] SeanTAllen commented on #3184
Docker is done.

Release notes are out. Thanks for playing along folks.

[2019-07-06 16:32] #3184 closed

[2019-07-07 02:43] SeanTAllen opened #3210 "Add Debian Buster as supported LTS Debian release"
See: https://www.debian.org/News/2019/20190706

Stretch and Buster are now both supported LTS releases. Should verify we work with both and setup release process to include Buster as well as Stretch.

[2019-07-08 00:31] myfreeweb commented on #3184
[FreeBSD Ports patch posted](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=239040).

[2019-07-09 16:43] SeanTAllen commented on #3206
We discussed at sync and decided given that ARM 6 support is currently broken that we will update to only support version 7 which works. We will not support ARM 6 at this time. We will open an issue for adding Arm6 support and if someone wants to add support, they can do it.

[2019-07-09 16:44] SeanTAllen opened #3212 "Add Support for ARMv6"
Currently broken. We will be updating existing ARM support to indicate that ARMv7 and up are supported. If you anyone wants ARMv6 support, they will need to add support for it.

https://github.com/ponylang/ponyc/issues/3206

[2019-07-09 16:46] aturley commented on #3111
@patches11 can you verify that this is an ARM6? ARM6 is currently broken.

[2019-07-09 18:23] SeanTAllen commented on #3206
It appears that when Sylvan did the port, he was using at least an ARM7 so, this has never worked on ARM6. I'm basing this on what I can find about the boards we sent him.

[2019-07-09 18:52] patches11 commented on #3206
Okay sounds good, I will close this issue and use the other one.

I actually tried out the above without success this weekend, I will try to put together my code and reference it in the other issue.

[2019-07-09 18:52] #3206 closed

[2019-07-09 18:54] patches11 commented on #3111
@aturley yes it was a Raspberry Pi Zero which uses the same SoC as the original Raspberry Pi the ARM1176JZF-S

I actually have a working ARMv6 branch just disabling the ASM, and I tried the update the ASM for ARMv6 based on some feedback, but didn't get it working, probably due to me not knowing ASM.

I will try to get my attempt together and comment on the new ARMv6 support issue when I get a cha

[2019-07-10 17:12] SeanTAllen opened #3213 "Static LLVM Linux Glibc Build 7/9/19 Issues"
This issue is to collect any problems that testers using https://www.dropbox.com/s/luqrpajins6rw7j/ponyc-static.tar.gz?dl=0 run into. It can otherwise be ignored as it's for my edification as I work on removing our system LLVM dependency on Linux.

[2019-07-12 17:30] SeanTAllen commented on #3208
I'm marking this as "won't fix" as we are going to be moving away from using COPR and from using system LLVM.

[2019-07-12 17:31] #3208 closed

[2019-07-12 17:31] SeanTAllen commented on #3210
I'm marking this as "won't fix" as we are moving towards using vendored LLVM and not doing distro specific packaged releases anymore.

[2019-07-12 17:31] #3210 closed

[2019-07-12 17:33] SeanTAllen opened #3215 "Turn off Tumbleweed COPR build"
Doesn't currently work with the existing per disto packaging. We are moving away from doing per distro packaging so I don't think it's worthwhile to expend effort fixing this. In the case of Tumbleweed, it would require LLVM 8.0 support to start fixing.

[2019-07-12 17:34] SeanTAllen opened #3216 "Turn off Debian Buster release packaging"
Doesn't currently work with the existing per disto packaging. We are moving away from doing per distro packaging so I don't think it's worthwhile to expend effort fixing this.

[2019-07-12 17:56] SeanTAllen commented on #3140
A bit more info is available if we don't strip debug info:

[code]

[2019-07-12 18:02] SeanTAllen commented on #3140
I don't have any previous experience diagnosing LLVM optimization bugs. I do know that line 1400 in genopt.cc: `pmb.populateLTOPassManager(lpm);` if turned off, we don't have the crash so, definitely related to the LTO pass in some fashion which matches up with the observed crash.

[2019-07-12 18:24] SeanTAllen commented on #3140
Turning on the "VerifyOutput" option gives us an interesting result for this case:

[code]

[2019-07-12 18:30] patches11 commented on #3212
I have put a little work into this, in order to get ponyc working on a Raspberry Pi Zero W.

I believe the issue comes down to some ASM in cpu.c, specifically in the function: `ponyint_cpu_tick`

The simplest fix (not sure its a good idea, but it is what I have been using) is to disable the ASM for ARMv6:

https://github.com/ponylang/ponyc/compare/master...patches11:armv6-simple?expand=1

Based on

[2019-07-14 20:29] SeanTAllen opened #3219 "Update Docker images"
#3218 changes a lot of Dockerfiles. Once it is merged, we need to rebuild and push the effected images.

[2019-07-15 01:10] SeanTAllen opened #3221 "Release 0.30.0"
The next Pony release will feature the removal of some packages from the standard library meaning it will be a breaking release. Expect the release around August 3, 2019.

[2019-07-16 16:18] #3213 closed

[2019-07-16 16:22] jemc commented on #3140
FYI, "does not dominate all uses" basically translates to "this variable gets used before it is assigned".
Here's a talk in which the speaker explains how LLVM Dominator Trees work: https://www.youtube.com/watch?v=bNV18Wy-J0U

[2019-07-16 16:25] jemc commented on #3140
So the error message is saying that we generated code to allocate a thing, and somewhere else we generated code to use that allocated pointer somewhere in a branch where it was not actually ever assigned.

[2019-07-16 16:38] jemc commented on #3140
@SeanTAllen - So there's basically two possibilities:
- :one: Our custom optimization passes are mishandling some edge case and causing the LLVM IR to be transformed in an invalid way (this is my bet right now). If this is the case, the issue should become fixed if you comment-out one or more of our custom optimization passes on these lines: https://github.com/ponylang/ponyc/blob/abfa64f8b0e4335f4

[2019-07-16 19:23] SeanTAllen commented on #3219
Testing of the images is underway. The changes were pushed and #3224 is running to verify everything passes.

[2019-07-16 21:47] SeanTAllen commented on #3219
Verified.

[2019-07-16 21:47] #3219 closed

[2019-07-17 01:37] SeanTAllen opened #3226 "Update Dockerfile to use Ubuntu 18.04"
It's the current LTS, the Dockerfile should be updated to use latest LLVM version available for 18.04.

[2019-07-17 22:07] #3216 closed

[2019-07-17 22:08] #3215 closed

[2019-07-17 23:41] SeanTAllen commented on #3140
@jemc I do not get the VerifyOutput error when running `ponyc --debug`. For now I am assuming that idea number 2 is not the problem.

[2019-07-17 23:46] SeanTAllen commented on #3140
@jemc turning off all our pony_specific passes does not fix the issue either.

[2019-07-17 23:53] SeanTAllen commented on #3140
With "VerifyOutput" on.
With all Pony specific optimizations off.
And with the following turned off:

[code]

that is around line 1428 of genopt.cc then we do not get an error of any sort and successfully compile the program.

[2019-07-18 00:25] SeanTAllen commented on #3140
At `    pmb.OptLevel = 1;` there's no issue. Once we go to `2` or higher, there's an issue

[2019-07-18 00:33] SeanTAllen commented on #3140
Not populating the module pass manager ALSO fixes the issue.

`  pmb.populateModulePassManager(mpm);`

Perhaps an interaction between module pass and link time pass?

[2019-07-18 00:40] SeanTAllen commented on #3140
Running the module pass after the link pass also "solves" the issue:

[code]

Note, that is the ONLY change needed to genopt.cc to get the example code compiling.

[2019-07-18 03:29] SeanTAllen commented on #3140
In the LLVM 7 MPM code that we are executing there is:

[code]

If that isn't run then with everything else as is, we are fine and there's no crash.
Given that reordering mpm and lpm also fixes the problem then it would see that InstSimplifyLegacyPass interacts poorly with something that is happening in the LLVM lpm code that we end up executing.

[2019-07-22 19:32] EpicEric opened #3236 "No formatting section for generics"
There are no rules for how generics should be formatted on multiple lines. Here is an (horrific) example:

[code]

[2019-07-22 22:40] SeanTAllen commented on #3140
@lenary offered some advice on Twitter:

https://twitter.com/lenary/status/1152904673638199296
https://twitter.com/lenary/status/1152904894694793222
https://twitter.com/lenary/status/1152905142641070085

[2019-07-23 16:14] SeanTAllen opened #3237 "Turn off Windows debug builds for CI"
There's a bug as detailed in #3094 that results in deterministic failures of Windows debug builds on Appveyor. The failures are not deterministic outside of appveyor. We are having a hard time figuring out the cause, for now, we will turn off windows debug builds as they provide no value until we sort out the cause of the failures.

[2019-07-23 17:02] #3237 closed

[2019-07-24 15:35] SeanTAllen commented on #3140
It appears that on the optimization side, we are interacting with:

[code]

Without that pass, life is also golden.

[2019-07-24 15:47] SeanTAllen commented on #3140
@EpicEric have you had any luck creating a more minimal example?

[2019-07-24 17:14] EpicEric commented on #3140
No, the last I touched anything in this issue was using `git bisect`.

I can try to come up with a minimal example in the weekend.

[2019-07-24 17:17] SeanTAllen commented on #3140
@EpicEric if you can, it would be very handy. at this point we know what bits are interacting oddly but not what the code that causes it.

[2019-07-24 19:18] SeanTAllen opened #3240 "Remove ssl dependency from CI docker images"
It's no longer a dependency.

[2019-07-25 03:54] marctrem commented on #2977
The behavior can be triggered by running a benchmark on `ponylang/http`'s sample server.

[code]

lldb
[code]

Just another data point!

[2019-07-25 14:37] #3236 closed

[2019-07-25 15:43] plprofetes commented on #2977
Eric says it happened with additional flags back then.
I can confirm that segfault can happen with no flags as well now.
Most recent work on GC was done in #3154 afaik.

[code]

here's debug stacktrace:

[code]

[2019-07-25 15:46] SeanTAllen commented on #2977
what application are you running there as a test application @plprofetes ?

[2019-07-25 15:49] plprofetes commented on #2977
the same I used in #2975, you don't want to get into details again ;)

Then it was about eating up whole memory, now it just segfaults, 99% of the time.

[2019-07-25 15:52] plprofetes commented on #2977
Nope, sorry, I'm using the application that caused me to report #2975. The one with linked list of actors.

Let me test this issue with #2975 thoroughly.

[2019-07-25 15:55] SeanTAllen commented on #2977
@plprofetes can you provide a gist of the application in question? to make sure we have the right one to test with.

[2019-07-25 16:00] SeanTAllen commented on #2977
@EpicEric i'm unable to reproduce this with vendored LLVM 7.0.1 on Ubuntu bionic using the latest master with arch set to x86_64 which would rule out some optimizations being done.

[2019-07-25 16:01] plprofetes commented on #2977
do you want me to describe details and [no]sense of that, again?

https://gist.github.com/plprofetes/768163f6c27b22b9aeda6529ddeb6e21

[2019-07-25 16:06] SeanTAllen commented on #2977
@plprofetes nope. thanks, i have something that is consistently reproduceable. just tried. boom boom boom!

[2019-07-25 16:16] SeanTAllen commented on #2977
This probably dates back to https://github.com/ponylang/ponyc/pull/2709 and is more likely now. @dipinhora do you have any thoughts?

[2019-07-25 19:29] EpicEric opened #3244 "cli.Arg silently ignores type casting errors"
[Brought up on Zulip](https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help/topic/cli.20package.20integer.20argument.20confusion).

`Arg.i64()` (or any other function in `cli.Arg`/`cli.Option` returning its arg value) will silently return a default value if its actual value has a different type (eg. calling `Arg.i64()` when the arg value is `U64` will always return `I64(0)`). This can

[2019-07-25 21:54] EpicEric opened #3246 "Remove SSL from installation instructions in README"
It is no longer a Pony dependency.

[2019-07-25 21:58] SeanTAllen commented on #3246
We should wait til the next release to remove it. So basically a week or so from now.

[2019-07-25 22:30] cquinn commented on #3244
The reason I didn't make them partial is that at consumption time, it is quite inconvenient for the user. I do acknowledge that silently doing the wrong thing is not great either. Maybe we can come up with better sane conversions and error handling at parse time for cases where we can't convert.

[2019-07-25 22:53] #3240 closed

[2019-07-26 02:32] dipinhora commented on #2977
@SeanTAllen some debuggery has shown the following is occurring:

1. `Promise[State]` actors are being created by `Unit`
1. `Promise[State]` actors are being destroyed by the `Cycle Detector`
1. `Unit` is sending a `block` message to the `Cycle Detector` with a reference to at least some already destroyed `Promise[State]` actors
1. `Cycle Detector` asks a `Promise[State]` actor that is already des

[2019-07-26 20:04] Theodus opened #3251 "Dynamic linker issue with libtinfo with nightly builds."
I'm getting the following message from the linux dynamic linker whenever I run that nightly build on Arch Linux:
[code]
This is likely due to the version of `ncurses5-compat-libs` on Arch Linux being lower than that of the ncurses lib used when building the nightly ponyc.

[2019-07-26 23:39] marctrem commented on #3251
Does symlinking libtinfo.so.6 to libtinfo.so.5 help? It's far from ideal but it might be a temporary mitigation.

[2019-07-27 01:08] SeanTAllen opened #3253 "Remove extra `apt-get` calls from circleci config"
Currently needed because the changelog-tool:release image doesn't have curl in it. After the next changelog-tool release, it will and this can be removed.

[2019-07-27 01:53] SeanTAllen commented on #3221
## Make Map insertion functions total

Before this change, code that inserts into maps might look like:
[code]
[code]
[code]

After this change, the question marks and the surrounding `try` expressions can be removed. Respectively, the above blocks become:
[code]
[code]
[code]

[2019-07-27 01:56] SeanTAllen commented on #3221
## Remove `glob` from the standard library

The glob package is being removed from the standard library and
moved to a new home at https://github.com/ponylang/glob/ where it
will live on as an independent library.

It is being removed because it has a transitive dependency on an
external library libpcre and that dependency makes creating release
artifacts more difficult.

At the moment we have to

[2019-07-27 02:00] dipinhora commented on #3221
### Fix segfault due to Cycle Detector viewref inconsistency

Prior to this fix, the Cycle Detector could end up in a situation
where it would have an inconsistent viewref which would result
in a segfault with the cycle detector trying to send a message
to an actor that was already destroyed.

[2019-07-27 02:00] SeanTAllen commented on #3221
## Stop creating Buster Debian packages

When Buster graduated to a supported Debian version, they dropped LLVM 3.9.
We were relying on that LLVM 3.9 support. All our Debian packaging code assumes that
the LLVM version is used across distros. With Buster dropping LLVM 3.9, that is no longer the case.
We could spend time fixing that so that our releases work again, however, we are moving away from

[2019-07-27 03:00] SeanTAllen commented on #2977
As far as I can tell, this is fixed by #3254 which will be merged soon and released not so long after that.
Thanks to everyone who contributed to finding and closing this.

[2019-07-27 03:43] #2977 closed

[2019-07-27 10:36] SeanTAllen commented on #3221
Blessing: bcec4cb2bea54deaf98c3548c4f43dd2c5a285ca

[2019-07-27 10:47] SeanTAllen commented on #3221
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/42525

[2019-07-27 10:48] SeanTAllen commented on #3221
@stefantalpalaru @kamilchm @myfreeweb

release is underway.

note that 0.30.0 no longer has dependencies on openssl/libressl and libpcre2. the code that required those has been moved to independent libraries.

[2019-07-27 10:59] SeanTAllen commented on #3221
Release notes PR has been opened: https://github.com/ponylang/ponylang-website/pull/463

[2019-07-27 11:00] SeanTAllen commented on #3221
Debian packages are available in bintray.

[2019-07-27 11:00] SeanTAllen commented on #3221
Windows packages are available in bintray.

[2019-07-27 11:05] SeanTAllen commented on #3221
AppImage is now available

[2019-07-27 11:33] SeanTAllen commented on #3221
There's currently a huge backlog of jobs waiting for resources on COPR so that is probably going to take a while:

https://copr.fedorainfracloud.org/status/stats/

[2019-07-27 12:43] #3253 closed

[2019-07-27 12:47] SeanTAllen opened #3257 "Add randomized test order nightly CircleCI task"
we merged that PR from Dipin a while ago where the gtests are randomized. We should set up a nightly job that runs at least 1 portion of the matrix with the test randomization going on so that we are always exercising the randomization and might eventually find an issue. It's unlikely but, seems like a reasonable thing to do.

see https://ponylang.zulipchat.com/#narrow/stream/190359-ci/topic/daily

[2019-07-27 12:52] SeanTAllen commented on #3221
Pony playground is now running 0.30.0

[2019-07-27 13:02] stefantalpalaru commented on #3221
Gentoo ebuild updated.

[2019-07-27 16:28] SeanTAllen commented on #3221
COPR build is done

[2019-07-27 16:29] SeanTAllen commented on #3221
Docker builds are done.

[2019-07-27 16:29] SeanTAllen commented on #3221
Waiting on Homebrew.

[2019-07-27 20:47] SeanTAllen commented on #3221
If homebrew hasn't merged by later this evening here in the US, I'm going to update the release notes to state that everyhting is out except homebrew and announce the release.

[2019-07-27 21:54] EpicEric commented on #3140
Found a (deceptively simple) minimal example:

[code]

@SeanTAllen Please test this example if you would, as you might have a different setup than mine.

[2019-07-27 22:55] SeanTAllen commented on #3221
Going to push out the release notes and announce. I won't close this until the homebrew PR is merged.

[2019-07-27 23:36] #3246 closed

[2019-07-28 00:24] mshockwave commented on #3140
So after some dirty hacking, I've confirmed this is the function that has problem:
`collections_HashMap_collections_HashMap_String_val_collections_HashMap_I32_val_u2_pony_kafka_KafkaBrokerConnection_tag_None_val_collections_HashEq_I32_val_val_ref_collections_HashEq_String_val_val_val_t3_collections_HashMap_String_val_collections_HashSet_I32_val_collections_HashEq_I32_val_val_iso_collections_HashEq

[2019-07-28 00:31] mshockwave commented on #3140
Also, just an off-topic thing while I was debugging this problem: we definitely need to find a way to supply command line options of `ponyc` to LLVM (i.e. calling the `llvm::cl::ParseCommandLineOptions(argc, argv)` function). Otherwise we can not use any of the LLVM command line option from `ponyc`.

[2019-07-28 00:42] mshockwave commented on #3140
Another off-topic thing is that during my investigation, I find more places that violate the LLVM verifier. Most of them are related to DebugInfo, especially `DISubProgram`. I probably will post it in a new issue thread.

[2019-07-28 01:20] SeanTAllen commented on #3140
@mshockwave there might be an open issue related to DebugInfo creation. It's a long standing issue to get fixed. If you can't find the issue (it would be an old one), please do open an issue for it.

[2019-07-28 04:16] mshockwave commented on #3140
I've finally found the root cause for the verifier error (and hopefully the root cause of this issue ticket). I will write down the details in some other place, but here is the short version:
First, here was the original program:
[code]
And here are the steps that create the bug:
1. The `MemCpyOptimization` pass tried to hoist `%8` over `%6` because it think `%6` will clobber  (i.e. modify the mem

[2019-07-28 12:12] SeanTAllen commented on #3221
homebrew PR has been merged. thanks for playing along folks.

[2019-07-28 12:12] #3221 closed

[2019-07-28 21:50] lenary commented on #3140
Potentially a few things are going on.

1. Looking at https://github.com/ponylang/ponyc/blob/e55db85d928ce34386edd39b3c135977aba5eb65/src/libponyrt/pony.h#L295 I'm not sure that clang understands `__attribute__((malloc))`, but it does seem to explicitly support `__attribute((alloc_size(...)))` which might allow you to teach the compiler what's going on better. See https://clang.llvm.org/docs/Attri

[2019-07-28 22:14] mshockwave commented on #3140
@lenary I also saw that libponyrt file. However:
1. `__attribute__((malloc))` will lead to adding `noalias` on the *return value*, it won't add any attributes on arguments. The `__attribute((alloc_size(...)))` only deal with the return value, too. Thus I don't think these two attribute will tackle the root cause, which was primarily caused by attributes on arguments, I found earlier. Nevertheless,

[2019-07-30 10:01] jm42 commented on #3251
I can confirm this problem on ArchLinux. I tried to do the symlink to the newer version but it fails with: `./bin/ponyc: error while loading shared libraries: /usr/lib/libtinfo.so.5: file too short`.

[2019-07-31 02:44] rkallos commented on #3251
I had a similar issue on OpenSuse Tumbleweed. Before installing `ncurses5-devel` I had the following error: `./bin/ponyc: error while loading shared libraries: libtinfo.so.5: cannot open shared object file: No such file or directory`

[2019-07-31 02:50] SeanTAllen commented on #3251
@rkallos to be clear, it wasn't merely a warning but it was an error that prevented it from operating, correct?

[2019-08-01 12:07] rkallos commented on #3251
That's correct. It was an error, and I couldn't compile any of my Pony programs as a result.

[2019-08-01 15:54] EpicEric opened #3266 "Differences between `String.split` and `String.split_by` are unclear"
[Reported on Zulip.](https://ponylang.zulipchat.com/#narrow/stream/189934-general/topic/String.20split.5B_by.5D)

The documentation of these two methods doesn't make it clear how (and even if) they differ in their results.

In short, `split` will split with ANY character in the provided string, while `split_by` will split with the entire parameter string. [Here's a playground link](https://playgro

[2019-08-01 18:14] cquinn opened #3267 "STYLE_GUIDE uses "acronym" where it should use "initialism""
In the naming section of the style guide, there are discussions of how to handle "acronyms" when forming identifier names in Pony.

All instances of this term should be replaced by "initialism". An acronym is an initialism that is pronounceable, and may not even be all-caps. Scuba and JSON, for example, are acronyms (and initialisms), but HTTP and XML are just initialisms and not acronyms.

https:

[2019-08-01 19:29] Theodus commented on #3267
I had not idea that this was a thing, thank you.

[2019-08-02 18:40] #3266 closed

[2019-08-04 03:45] SeanTAllen opened #3272 "Update release process and release script to add new features"
The library starter project has a new release script (first version). It's similar to the ponyc one but takes 2 extra args and posts the release notes on GitHub.

[2019-08-05 12:34] thommiller commented on #3226
If you are talking about the continuous integration test Dockerfiles, then I believe this already exists here:
https://github.com/ponylang/ponyc/tree/master/.ci-dockerfiles/ubuntu-18.04-base
Please correct me if I am mistaken.
Thanks.

[2019-08-06 17:07] Theodus opened #3273 "RFC 63: Rename MaybePointer to NullablePointer"
[RFC 63](https://github.com/ponylang/rfcs/blob/master/text/0063-rename-maybe-pointer.md)

[2019-08-06 17:52] SeanTAllen opened #3274 "Release 0.31.0"
Release is aimed for August 31/September 1.

[2019-08-07 09:19] CandleCandle commented on #3274
### Add `proxy_via(host: String, service: String): (String, String)` to `TCPConnectionNotify`

This function is called before the initial TCP connection is made, allowing the `TCPConnectionNotify` to alter the target of the connection. This enables a `TCPConnectionNotify` implementation to handle the proxy handshake and redirect traffic via that proxy.

It is optional to implement, with the defaul

[2019-08-08 14:25] RHagenson commented on #3226
@SeanTAllen I started work on this yesterday and want to run a change by you.

The current Dockerfile downloads a pre-built binary of clang+llvm for 14.04, however there is no equivalent pre-built binary for 18.04. I can either change it to install LLVM+clang from Ubuntu repositories or download/compile from source -- the former does not lock-in the LLVM version precisely, and the second would dra

[2019-08-08 14:43] RHagenson commented on #3152
@SeanTAllen If I am understanding this correctly the changes needed are:

- [ ]  Clarify use and interaction of `--ponyminthreads` and `--ponythreads`
- [ ]  Add a `--ponynoscale` flag that errors if used with `--ponyminthreads`

Should this `--ponynoscale` flag be the same as stating `--ponyminthreads=0`?

[2019-08-08 15:23] SeanTAllen commented on #3152
@RHagenson Not quite.

`--ponynoscale` is the same as setting `--ponyminthreads` equal to the value of `--ponythreads`. That is, it will never try to scale down the number of scheduler threads. Whereas `--ponyminthreads=0` will allow you to scale all the way down to no scheduler threads running.

As part of this, we need to confirm that `--ponyminthreads` <= `--ponythreads`. If it isn't it should

[2019-08-08 15:34] RHagenson commented on #3152
Got it. I had `--ponyminthreads=0` in my head as a special value rather than an actual possibility of zero scheduler threads running. Good to know that is possible (not sure when it is useful, but not a major concern right now).

[2019-08-10 20:03] mshockwave commented on #3140
As a follow up of the potential bug in MemCpyOpt, here is the LLVM IR that can trigger it:
[code]
I'll file a bug in LLVM's Bugzilla and try to come up with a fix soon.

[2019-08-13 16:19] jemc commented on #3226
@SeanTAllen - how does this fit into the recent plans to pivot toward static builds with vendored LLVM?

[2019-08-13 16:20] jemc commented on #3140
Nice work with the minimal repro!

[2019-08-13 16:25] SeanTAllen commented on #3226
We will end up redoing our dockerfile creation including probably where they are built. Vendored LLVM images built on docker hub is probably a non-starter.

[2019-08-13 16:25] rkallos commented on #3274
### Remove unnecessary argument to `Map.sub`

Before:
[code]

After:
[code]

[2019-08-13 17:21] RHagenson commented on #3226
@SeanTAllen should I bother working on this any longer? Of the two options I had previously mentioned, I was working toward using Ubuntu's repos to install dependencies rather than LLVM+clang from source.

[2019-08-15 13:31] autodidaddict commented on #1407
Some random thoughts:
Wasm specification makes no assumption about the existence of a browser. Go's implementation baked in the JavaScript interaction and usage patterns and as such is nearly (and in my use case completely) unusable for non-browser hosts. It's been frustrating to see so many tight couplings with the browser in languages building out their first iteration of Wasm support.

I know m

[2019-08-15 22:15] aturley opened #3280 "some stdlib packages have no documentation"
Some of the standard library packages have no documentation. We should have some kind of descriptive text for all of the standard library packages.

The following packages are missing documentation:
* `capsicum`
* `collections`
* `encode`
* `math`
* `strings`
* `term`

[2019-08-15 22:16] aturley commented on #3280
This issue could be broken out into one issue per package to make it easier to farm out the work.

[2019-08-15 22:16] aturley opened #3281 "some stdlib packages do not have package documentation in a file with the same name as the package"
The convention in the Pony standard library is to include package documentation in a file called `PACKAGE.pony`, where `PACKAGE` is the name of the package. This makes it easy for someone to find the file that contains the package-level documentation.

The following packages have their documentation in other files:

* `bureaucracy` -- documentation in `custodian.pony`
* `ponybench` -- documentatio

[2019-08-19 08:11] niclash opened #3283 "Compiler doesn't see required assignment in try..else structure."
The sample https://playground.ponylang.io/?gist=8b8975e6007b92a892779ac8f6a838ac doesn't compile, even though `_tcp` is being assigned in both branches.

Perhaps there are additional/hidden branches that I am unaware of.

[2019-08-19 10:04] mfelsche commented on #3283
Here is a more minimal example, exhibiting the same bug.

[code]

[2019-08-20 12:01] mfelsche commented on #3283
As I am exploring the reason for this, there is more cases exhibiting the same behaviour.

`while` loops:

[code]
The same is true for `for` loops as they desugar to `while` loops.

The problem with assignment in loops is that they might fail at runtime doing multiple assignments for `let` fields. I think we should forbid this.

[2019-08-20 12:12] SeanTAllen commented on #3283
There's no `let` in your example @mfelsche. You can't do multiple assignments to a `let`. That would be an error. I don't see anything wrong with the example that exists. I think that should be valid code. There's no way for that to error out.

[2019-08-20 12:29] mfelsche commented on #3283
I never wrote there is a `let` in the above example.
In the following example there is a let, but it errors as it thinks `_s` is undefined.
The example above should compile fine. I never wrote it shouldn't.
The one below should result in a different error, possibly doing multiple assignments, which i don't think is checked right now. This is what we should forbid.

[code]

[2019-08-20 12:33] mfelsche commented on #3283
Sorry, I was wrong. We actually do check for assignments to `let` fields/variables in loops.

[2019-08-20 13:25] ORBAT opened #3285 "Compiler assert failure crash with interface default implementations"
Compiling [this](https://playground.ponylang.io/?gist=1968aa68d9a6deb291f708f4f2546c97) causes the compiler to crash. Removing the default implementations from the interface makes the compiler happy again (and removing the defaults for just `varint` and `svarint` works). The stack trace was:

[code]

Compiler version:
[code]

Interestingly enough, in the larger project the playground bit is a part

[2019-08-20 16:04] SeanTAllen commented on #3285
This seems sufficient for now @ORBAT. Thanks.

[2019-08-20 16:32] Theodus commented on #3285
Here's a minimal repo ([playground](https://playground.ponylang.io/?gist=164a5a1fa743ced0d8d73133c7eb2c08)):
[code]
Compiler Output:
[code]

[2019-08-20 16:43] SeanTAllen commented on #3285
If anyone has time to triage this against older version of Pony to see if we can find when this was introduced, that would be great.

[2019-08-20 16:47] Theodus commented on #3285
Here is a list of modifications to my example that gets it to compile successfully:
1. Reorder the type parameter list of `b` to `[U: X, I: Y[U]]`
2. Remove the definition of `class A`
3. Remove the default implementation of `b` and implement it in `A`

[2019-08-20 16:51] aturley commented on #3281
There's currently no rule in the style guide for this. I think we should update the style guide to say that packages should contain a file called `PACKAGE.pony` with the package-level documentation, and then update the packages accordingly. Any thoughts?

[2019-08-20 16:53] SeanTAllen commented on #2465
Crypto is no longer part of the standard library. Closing this.

[2019-08-20 16:53] #2465 closed

[2019-08-20 16:55] SeanTAllen commented on #3226
@RHagenson pause for now. we have a couple things to figure out on this front.

[2019-08-20 17:00] RHagenson commented on #3226
@SeanTAllen sounds good. Just let me know if/when you need me to continue work on this.

[2019-08-23 15:39] aturley opened #3286 "segfault when running lambda with inferred generic type"
## Description

It appears that in certain cases lambda functions created inside type-parameterized methods do not correctly infer the parameterized types. The programs will compile, but they will segfault when run

In testing this it seems that this problem occurs in lambda functions that are nested inside other lambda functions.

## Steps to reproduce

1. Compile [this program](https://playgroun

[2019-08-24 16:34] mshockwave commented on #3140
I think it's a good time to wrap up this issue: My [patch](https://reviews.llvm.org/D66060) works correctly on the example program here and passes all the existing tests.
The biggest problem now is that since this fix is on the LLVM side, how do we propagate it back to ponyc? Currently we don't use custom-built LLVM, so should we just disable `MemCpyOpt` pass for now until the patch is landed in u

[2019-08-26 01:19] niclash commented on #3285
I have verified that the bug existed in 0.13.0, which I think is the first Docker-available version and is from 2 years ago. So, it is not a "new" bug.

[2019-08-27 16:43] sylvanc commented on #3286
Just an intuition, but it's possible the problem is coming from the expression depth at which the inference is happening.

[2019-08-30 14:48] SeanTAllen opened #3292 "Embeded is misspelled in badpony.cc"
it appears as `Embeeded`

[2019-08-31 03:56] #3292 closed

[2019-08-31 12:00] SeanTAllen commented on #3274
Blessing 4a33b2ab00e2284a170b9d2871145327431fee85

[2019-08-31 12:09] SeanTAllen commented on #3274
Homebrew PR opened https://github.com/Homebrew/homebrew-core/pull/43714

[2019-08-31 12:10] SeanTAllen commented on #3274
@stefantalpalaru @kamilchm @myfreeweb release is underway

[2019-08-31 12:18] SeanTAllen commented on #3274
Release notes PR opened: https://github.com/ponylang/ponylang-website/pull/478

[2019-08-31 12:20] SeanTAllen commented on #3274
Debian packages are available in bintray.

[2019-08-31 12:23] SeanTAllen commented on #3274
Windows packages are available in bintray.

[2019-08-31 12:23] SeanTAllen commented on #3274
COPR successfully completed.

[2019-08-31 12:32] SeanTAllen commented on #3274
Waiting on homebrew and docker.

[2019-08-31 12:51] SeanTAllen commented on #3274
Homebrew released. Waiting on Docker.

[2019-08-31 13:35] stefantalpalaru commented on #3274
Gentoo ebuild updated.

[2019-08-31 14:52] SeanTAllen commented on #3274
Docker release tag build failed (no logs!) on docker hub. I restarted it.

I'm looking forward to when I have time to move Docker building off of Docker Hub.

[2019-08-31 15:49] SeanTAllen commented on #3274
Playground is updated to 0.31.0

[2019-08-31 15:57] SeanTAllen commented on #3274
Everything for the release is done except posting a notice to Reddit.

Reddit is having issues at the moment.

Release notes are here: https://www.ponylang.io/blog/2019/08/0.31.0-released/

If someone beats me to submitting to reddit, all the power to you.

[2019-08-31 16:11] SeanTAllen opened #3295 "Release 0.32.0"
Expected release date is September 29th.

[2019-08-31 16:14] mshockwave opened #3296 "Missing '$' in Makefile-ponyc for benchmark target"
Hi,

In line [1006 of Makefile-ponyc](https://github.com/ponylang/ponyc/blob/master/Makefile-ponyc#L1006), it should be
[code]
instead of
[code]
Thank you

[2019-08-31 16:16] SeanTAllen commented on #3296
@mshockwave are you opening a PR? otherwise i can fix now.

[2019-08-31 16:17] mshockwave commented on #3296
@SeanTAllen I'm not doing that now, so go ahead :-)

[2019-08-31 17:37] SeanTAllen commented on #3274
Posted to reddit.

All done.

[2019-08-31 17:37] #3274 closed

[2019-08-31 18:49] #3296 closed

[2019-09-01 19:58] myfreeweb commented on #3274
FreeBSD Ports update [posted](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=240255)

[2019-09-03 16:14] #3273 closed

[2019-09-03 17:09] SeanTAllen commented on #3142
I'm going to do this as part of getting us started using Github Actions.

[2019-09-03 17:13] #3267 closed

[2019-09-11 03:27] niclash opened #3305 "Compiler crash with intersection types of equivalent interfaces"
The compiler crashes after a series of changes to my application, that can be found on https://github.com/niclash/pink2web

'master' branch is the last version that compiles

'3305' branch is containing a single commit and that branch doesn't compile, and the compiler crashes.

[2019-09-17 16:31] SeanTAllen commented on #3305
What's the SHA for the commit on 3305 vs SHA that worked? Can you add in case things change in the future?

[2019-09-17 16:32] SeanTAllen commented on #3152
@alexsnaps has a PR open for this #3303.

[2019-09-17 23:25] niclash commented on #3305
Compiles; d503886898f6b18dc6c436d9b3d5788b3aea9656
Crashes; a52befe77e7d9b1d39166047dbf176b63db8c01f

[2019-09-22 03:25] niclash commented on #3305
Furthermore, I moved the default function from the trait to the class, worked on all the issues and got my code to a working condition. Then I moved the default function back to the trait, and the compiler doesn't crash.
So, it is most likely that the crash is happening for a non-anticipated code error, and that is kind of the whole point with the `assert` in the cpp code.

[2019-09-25 22:34] dipinhora commented on #3295
* Allow fields to be consumed (sometimes)
  Prior to this release, fields could not be `consume`d. This release
changes things to allow fields to be consumed only if they are
reassigned in the same expression where they are `consume`d
(i.e. `z = do_stuff(consume z)` or `z.c = do_stuff(consume z.c)`)
and adhere to the following restrictions:

  * only if that expression does not include any partial

[2019-09-27 11:12] #3152 closed

[2019-09-27 18:20] alexsnaps commented on #3295
* Added sanity checks around `--pony*` arguments to control the runtime's threads
    * `--ponythreads`'s value option can't be bigger than cores available
       The process will now err out on start if the value provided is larger than the amount physical cores on the machine.
    * `--ponyminthreads` option can't be bigger than `--ponythreads`'s value
       The process will now err out on star

[2019-09-28 01:18] dipinhora commented on #3295
* Add `--ponyhelp` option to compiled program
  Prior to this release, the only way to find out what pony runtime
specific command line options a compiled pony program supported
was by running `ponyc --help` and looking at the usage info for
the compiler.

  This release adds a new `--ponyhelp` option to all compiled pony
programs that will output the usage information for pony runtime
related com

[2019-09-28 14:34] SeanTAllen commented on #3295
`MaybePointer` was renamed to `NullablePointer`

The previous name, MaybePointer, has caused confusion for many Pony users who are either new to the language or using the C Foreign Function Interface (C-FFI) for the first time. The purpose of `MaybePointer` was for passing pointers to structs across the C-FFI boundary where those pointers may be null. We've renamed `MaybePointer` to `NullablePoint

[2019-09-29 11:34] SeanTAllen commented on #3295
Blessing 146acc8c73f4c6519e45511e6e568a5f9d51d5ef

[2019-09-29 11:34] SeanTAllen commented on #3295
release is underway.

[2019-09-29 11:46] SeanTAllen commented on #3295
homebrew PR has been opened: https://github.com/Homebrew/homebrew-core/pull/44660

[2019-09-29 11:47] SeanTAllen commented on #3295
@stefantalpalaru @kamilchm @myfreeweb 0.32.0 release is underway.

[2019-09-29 11:52] SeanTAllen commented on #3295
Debian and Windows packages are now available in Bintray.

[2019-09-29 11:57] SeanTAllen opened #3313 "Unable to create Fedora releases due to compilation error"
Fedora COPR builds changed the warnings they have on or otherwise changed the gcc version and ponyc no longer compiles. We need to fix this to get COPR builds working again.

See: https://copr-be.cloud.fedoraproject.org/results/ponylang/ponylang/fedora-29-x86_64/01042125-ponyc/build.log.

What we need to do:

- [ ] investigate gcc version and flag used
- [ ] setup/modify existing ci to match (not

[2019-09-29 11:59] SeanTAllen commented on #3295
0.32.0 can't build on fedora. There will be no fedora COPR packages for this release. With the version of gcc they compile with and options, we now error out. See https://copr-be.cloud.fedoraproject.org/results/ponylang/ponylang/fedora-29-x86_64/01042125-ponyc/build.log.

opensuse and epel are fine.

[2019-09-29 12:11] SeanTAllen commented on #3295
Release notes draft is up: https://github.com/ponylang/ponylang-website/pull/489

[2019-09-29 12:25] SeanTAllen commented on #3295
Waiting on Docker and Homebrew.

[2019-09-29 12:33] SeanTAllen opened #3314 "Release 0.33.0"
The expected release date is the weekend of November 2nd/3rd.

[2019-09-29 13:47] stefantalpalaru commented on #3295
Gentoo ebuild updated.

[2019-09-29 14:11] SeanTAllen commented on #3295
Release docker images are available

[2019-09-29 14:13] SeanTAllen commented on #3295
The playground has been updated to 0.32.0

[2019-09-29 14:21] SeanTAllen commented on #3295
Homebrew CI seems to be horribly horribly backed up. There are still jobs from 5 days ago that aren't finished based on what I can see for open PRs. I'm going to update the release notes to note that we aren't waiting on Homebrew and that it should be available "eventually".

[2019-09-29 14:29] SeanTAllen commented on #3295
Release notes have been merged. Starting with the announcement process but I will keep this issue open until Homebrew version is available.

[2019-10-01 18:06] SeanTAllen commented on #3295
Homebrew released. Thanks for playing folks.

[2019-10-01 18:06] #3295 closed

[2019-10-01 21:24] m-rey opened #3315 "openSUSE is misspelled in the readme file"
The correct spelling of openSUSE can be checked on https://en.opensuse.org/Portal:Distribution

[2019-10-01 21:32] #3315 closed

[2019-10-03 12:17] SeanTAllen opened #3318 "Rename --ponythreads to --ponymaxthreads"
Once upon a time, we had `--ponythreads` as an option to the runtime. It set the number of scheduler threads to use (and if not set, we defaulted to the number of CPUs).

And everything was good and things were simple.

And then we introduced scheduler scaling. Scheduler scaling solved a number of problems. It too was good. As part of scheduler scaling, we added `--ponyminthreads` that specified a

[2019-10-06 02:06] SeanTAllen opened #3323 "Generated documentation default value display bug"
You can see this with both `Array.slice` and `String.substring`. The docs show `call` as the value rather than:

`USize: -1`

and

`ISize.max_value()`

The fix for this is almost assuredly in `docgen.c` as that is the documentation generation code. If you know c, you should be able to tackle this one.

Seems like a boundary bug.

Thanks to `__red__` from Zulip who got me looking at this issue.

[2019-10-06 02:13] SeanTAllen commented on #2384
This is fixed.

[2019-10-06 02:13] #2384 closed

[2019-10-06 04:02] SeanTAllen commented on #3313
I think gcc  8.1 along with the `-Werror=stringop-truncation` flag should be enough to trigger this.

[2019-10-06 04:04] SeanTAllen commented on #3313
It's unclear to me whether this is a real bug or not (the compiler thinks it is). I assume from a quick glance that it is, but we'd need to verify that.

[2019-10-06 04:09] SeanTAllen commented on #3313
@jemc i'm not familiar with what is going on with the AST. Is this an actual error?

[2019-10-06 20:42] SeanTAllen commented on #3318
@alexsnaps you interested in taking this one on?

[2019-10-07 16:45] jemc commented on #3313
I get a 404 error when I click the link to see the build log. Do you have a copy of the error location and message?

[2019-10-07 16:54] SeanTAllen commented on #3313
Ugh. Apparently the build log gets deleted after a week. It's gone.

Building with gcc 8.1 should do the trick. There's a warning about strncpy at 3 locations in verify.c.

The warning to use to see it is: "-Werror=stringop-truncation"

[2019-10-07 21:52] cvik opened #3326 "Compiler crash with repeat until and error in else"
Compiling this:
[code]
Results in a compiler crash. It's reproducable in the playground. Removing the `else error` and letting the alias type become `(U8 | None)` seem to fix it.

Compiler output:
[code]

Compiler version:
[code]

[2019-10-07 23:45] presidentbeef commented on #3323
I believe this is exactly the same as #1262 and is the issue that #1323 is trying to address.

More specifically, the `code_block_doc_params` function assumes default values are literals (?) and [calls `ast_get_print`](https://github.com/ponylang/ponyc/blob/master/src/libponyc/pass/docgen.c#L659-L661) which only returns a string for the first token in the AST node. For positive integers, booleans,

[2019-10-08 16:17] SeanTAllen opened #3327 "RFC 64: LLVM command line options integrations"
The proposed feature allows users of `ponyc` to supply LLVM-specific command line options from `ponyc`'s command line interface in dev builds (i.e. Debug build). This should make development of `ponyc` easier by improving accessibilities of internal LLVM features during debugging and fine-grained tuning.

See https://github.com/ponylang/rfcs/blob/master/text/0064-llvm-cli-opts-integration.md for m

[2019-10-08 16:20] alexsnaps commented on #3314
### Added minima checks around `--pony*` options that accept arguments

* `--ponythreads`'s value option can't be less than `1`
* `--ponyminthreads`, `--ponysuspendthreshold`, `--ponysuspendthreshold`, `--ponygcinitial` can't be less than `0`
  * in previous releases, negative values would have silently overflowed, while being assigned to `unsigned int`

[2019-10-08 16:25] sylvanc commented on #3326
Looks like an implementation bug, not a type system bug.

[2019-10-08 16:26] aturley commented on #3326
@cvik would you have time to run this in a debugger and put the results in here?

[2019-10-08 16:36] jemc commented on #3323
Yeah, we don't have a generic "unparser" within ponyc.

Perhaps an easier (but still significant effort) approach would be to update our parser to track not only the start position of the token but also the token length, so that we could render in the docs the exact string that was in the source code rather than having to generate/reconstruct it ourselves.

@sylvanc says (on today's sync call) tha

[2019-10-08 20:13] SeanTAllen opened #3328 "Add nightly linux packages to installation options"
https://cloudsmith.io/~ponylang/repos/nightlies/packages/

[2019-10-08 23:18] EpicEric opened #3332 "Missing actor in generated documentation"
When building docs for the stdlib, it seems that the file for the [_TestRunner actor](https://github.com/ponylang/ponyc/blob/2c2d32140b335f05e4a643b82f9c32db119a2753/packages/ponytest/_test_runner.pony) is not being generated, which results in the following warnings in MkDocs:

[code]

Sure enough, the actor is missing from the [ponytest documentation](https://stdlib.ponylang.io/ponytest--index/#p

[2019-10-08 23:20] SeanTAllen commented on #3332
Are we only generating public documentation but, there's a bug in that?

[2019-10-08 23:26] EpicEric commented on #3332
I don't understand your question.

Every other type (private or public) is generating documentation. This specific actor is not. Here's what the `stdlib-docs/docs/` directory looks like:

[code]

For some reason, the file for `ponytest-_TestRunner.md` is missing.

[2019-10-08 23:32] SeanTAllen commented on #3332
There's an option to only generate public documentation. My question was, are we using that option when it fails?

[2019-10-08 23:41] EpicEric commented on #3332
I'm still not sure I understand you. Sorry.

The command I'm using is the same used to deploy to [stdlib.ponylang.io](stdlib.ponylang.io). (reference: [.travis_script.bash](https://github.com/ponylang/ponyc/blob/4c6a1b45ef1a32525a874d9ea13b55c78087012a/.travis_script.bash#L102) -> [.travis_commands.bash](https://github.com/ponylang/ponyc/blob/2c2d32140b335f05e4a643b82f9c32db119a2753/.travis_comman

[2019-10-09 00:00] SeanTAllen commented on #3332
@EpicEric there's an option to pony to only create docs for public types. looking at the makefile, that option is not being used when creating stdlib docs via the Makefile. See output of `ponyc --help` for more info about options around generating documentation.

[2019-10-09 20:21] #3318 closed

[2019-10-09 20:39] alexsnaps commented on #3314
### Renamed `--ponythreads` to `--ponymaxthreads`

 - Since the introduction of scheduler scaling, `--ponythreads` was controlling the maximal number of threads the runtime would spawn. Renaming it to `--ponymaxthreads` is more inlined with the `--ponyminthreads`.
   Be aware that `--ponythreads` will silently be ignored from now on. There will be no error if you don't update this to `--ponymaxthr

[2019-10-09 22:32] redvers opened #3336 "ponyc Segmentation Fault (core dumped) when given broken code."
While trying to understand error messages and precedence I may have triggered a compiler bug.  I completely did it myself so please feel free to just close it if it is not useful.

The root error of course is that I'm trying to shr greater than the size of the datastructure.  The error for that is straightforward.

When I try to print the result, I get the expected argument not subtype of paramete

[2019-10-09 23:01] SeanTAllen commented on #3336
@redvers can you run `ponyc --version` and add the output to your report? Thanks.

[2019-10-09 23:20] hideki-lu opened #3338 "no implementation of pow() function for integers and unsigned integers types"

[2019-10-10 00:45] cvik commented on #3326
I can try.

[2019-10-10 02:54] redvers commented on #3336
Done above - also - I installed 0.32.0 too with the same result:

[code]

Red

[2019-10-10 17:51] EpicEric opened #3340 "Generate stdlib docs only with public types"
Currently it generates public and private types. The command currently responsible for generating docs is [here](https://github.com/ponylang/ponyc/blob/2c2d32140b335f05e4a643b82f9c32db119a2753/Makefile-ponyc#L1053-L1057). It should be modified to have an option that only generates public types.

[2019-10-10 17:53] EpicEric commented on #3332
I've opened issue #3340 for that.

This issue is about "why isn't that file being generated" when it should. There's probably some issue with docgen that prevents that file from being generated. I don't know much about how the compile generates documentation to figure out why, if it's related to the generated AST or something else.

[2019-10-10 18:36] SeanTAllen commented on #3332
So, if the file "isn't used" then it would be excluded. However, it is definitely included in the code that is exercised by the stdlib test program. I suppose that it is possible that it is "optimized away" prior to docgen but I would be shocked if that is the case. The documentation generation pass, as far as I know, happens before any optimization such as dead code removal.

[2019-10-10 19:14] mfelsche commented on #3332
The `_TestRunner` is excluded, because the docgen command excludes tests using some naming conventions. E.g. excluding everything starting with `_Test`:

https://github.com/ponylang/ponyc/blob/master/src/libponyc/pass/docgen.c#L130 and https://github.com/ponylang/ponyc/blob/master/src/libponyc/pass/docgen.c#L182

I also have some issues with this when building docs for https://github.com/mfelsche/

[2019-10-10 19:18] SeanTAllen commented on #3332
@mfelsche I should have known that! I'm the one that put that awful hack in.

[2019-10-10 19:22] mfelsche commented on #3332
What is the general feeling about some kind of annotation for that?

If the feeling is positive overall I might start an RFC for that. Maybe we can probe for the feeling with :+1: and :-1: reactions on this comment?

[2019-10-10 19:24] SeanTAllen commented on #3332
I did 👎 because I'd rather revisit just about everything about documentation generation, not because I don't like the idea given the current system.

[2019-10-11 08:18] cvik commented on #3326
@aturley What particular output are you looking for from debugger?

[2019-10-12 15:21] anatol opened #3341 "Figure out LLVM 9.0.0 support"
Similar to https://github.com/ponylang/ponyc/issues/3207.

LLVM 9 has been released, Arch Linux moved to LLVM9 already. It would be great to add LLVM9 support.

[2019-10-12 15:44] SeanTAllen commented on #3341
There's already work underway on this. Would you be interested in assisting?

[2019-10-12 15:44] #3341 closed

[2019-10-12 15:45] SeanTAllen commented on #3207
We aren't going to support LLVM 8. We moved on to doing LLVM 9 work. We are moving towards only supporting a singled vendored LLVM version at a time. As such, I suspect that we are probably going to end up making OpenBSD more difficult while making our overall LLVM support easier for us as a team.

[2019-10-12 15:45] #3207 closed

[2019-10-13 17:07] mshockwave commented on #3314
### Introducing the `--llvm-args` command line option
Now developers can feed LLVM-specific command line options into the LLVM part of `ponyc` via the `--llvm-args` option. Which accepts multiple LLVM options as a comma-separated string. This feature is only available in debug build.
#### Examples
(1)
[code]
Passing `-debug` option to the LLVM part. Which is same as running `opt -debug ...`

(2)
[

[2019-10-15 14:20] mec07 commented on #1988
what happened about this in the end?

[2019-10-15 15:00] SeanTAllen commented on #1988
I'm going to lock this issue now that there is basic "what has happened with this" information on this.

If someone is interested in improving the performance of the `http` library at https://github.com/ponylang/http, they can chime in there.

If folks are interested in working on something related to `http` that isn't that specific HTTP module, they can stop by the zulip community for pointers: h

[2019-10-15 16:13] SeanTAllen commented on #3340
This is a small change to the Makefile. It should be easy for anyone to do.

[2019-10-15 16:22] SeanTAllen commented on #3338
The float support is implemented using LLVM primitives. Integer support needs to be added by us using Pony. An RFC to cover implementation, overflow, and underflow semantics needs to be opened before any work is done address this.

[2019-10-15 16:36] SeanTAllen commented on #3332
This could be temporarily solved by renaming `_TestRunner` to `_RunnerOfTests`. Please don't shoot me.

[2019-10-15 16:38] aturley commented on #3326
@cvik I'm looking for the debugger backtrace here.

[2019-10-15 16:39] jemc commented on #3332
To add another possibly unpopular suggestion, I'll say what I've been saying since the start of my involvement with Pony - tests shouldn't be part of the package they are testing, they should be in a subdirectory or nearby companion directory.

This is what I do on all my Pony projects, and it works quite well, despite some limitations that have been cited by some in the past about not being able

[2019-10-15 16:46] SeanTAllen commented on #3327
Closed by #3337.

[2019-10-15 16:46] #3327 closed

[2019-10-15 16:47] jemc commented on #3336
Thanks for the detailed issue ticket!

As you show, there is an edge case of some kind in which the compiler's logic for statically checking the number of bits to shift against the type width, so that this check isn't happening as it should, or isn't happening correctly, when it is specified inline with the `.string()` suffix.

That is, when we generate LLVM code for the `shr` method, we have two

[2019-10-16 15:55] mshockwave commented on #3140
@SeanTAllen  pinging this issue. Is there any plan on discussing this issue during sync up meeting?

[2019-10-16 16:04] SeanTAllen commented on #3140
@mshockwave we decided a couple of weeks back that in general, we are:

- continuing to move towards using a vendored LLVM for everything, but particularly releases. until we are there the rest of this doesn't matter

once we are doing releases using a vendored LLVM, any patches like this will be applied at build time.

We need to create an issue for working on applying patches as part of the make

[2019-10-16 16:07] lenary commented on #3140
@mshockwave you should definitely ping that patch on review, and maybe point out that it breaks Pony (which may make people wake up).

That patch has not landed in LLVM 9.0, so you're still going to have to manually apply this patch after the upgrade to 9.0.

[2019-10-16 16:25] mshockwave commented on #3140
Just want to double check: "vendored" here means using the upstream LLVM source code tree, right?

I'm generally happy to see all these changes happen. Both the cmake part and the adoption of vendored LLVM + patching.

Yes, I'm happy to help that.

Sure, I believe it would be an interesting topic

[2019-10-16 16:28] mshockwave commented on #3140
@lenary Yes I will ping on the Phabricator and connecting it with ponyc. At the same time, I'm contacting LLVM Weekly to see if they can put a heads-up regarding that review in the issue next week.

[2019-10-16 16:29] lenary commented on #3140
@mshockwave that sounds like a sensible idea regarding llvm weekly.

I think "vendoring" means pony ships with their own pony-specific copy of LLVM, like rust currently does, rather than relying on the version of an LLVM somewhere else in the system.

[2019-10-16 16:37] SeanTAllen commented on #3140
Vendoring means using the LLVM that we have pulled in as a git-submodule.

See: https://github.com/ponylang/ponyc/tree/master/lib/llvm

[2019-10-16 16:40] kulibali commented on #3140
Any help with LLVM 9 (#3320) would be welcome, as I don't have a lot of time to work on it.

[2019-10-17 18:23] Ezbob commented on #3340
Is this possible on a MinGW-w64 toolchain? Can't seem run the makefiles under MinGW-w64...

[2019-10-17 18:24] SeanTAllen commented on #3340
@Ezbob MinGW-w64 is not supported at this time.

[2019-10-18 05:08] dipinhora commented on #3314
### Allow programmatic override of the default runtime options

Prior to this release, the only way to override the default pony
runtime options was via the command line.

This release allows for programmatic override of the default pony
runtime options via a specific bare function created on the Main
actor:

`fun @runtime_override_defaults(rto: RuntimeOptions) => None`

In order to override the v

[2019-10-18 13:48] #3340 closed

[2019-10-18 20:44] mshockwave commented on #3140
FYI: Good news my [patch](https://reviews.llvm.org/D66060) regarding MemCpyOpt fix just got accepted. It will be in the next LLVM release.

[2019-10-18 21:03] SeanTAllen commented on #3140
Awesome.

[2019-10-18 21:03] SeanTAllen commented on #3140
@mshockwave would you be interested in helping to get us up to date with LLVM support?

[2019-10-19 22:44] mshockwave commented on #3140
@SeanTAllen yes I am interested. I will cooperate with @kulibali on issue #3320

[2019-10-19 22:54] SeanTAllen commented on #3140
@mshockwave you are awesome. thanks.

[2019-10-23 19:06] cvik commented on #3326
@aturley I compiled `ponyc` with debug options and ran it in `gdb` and ran `bt`  after the crash, isthis is what you were after?
[code]

[2019-10-25 21:42] erdman opened #3344 "twin bugs in use of itertools fold cause compiler to not terminate"
[code]

Fixing either bug alone allows the compiler to report the remaining bug.  It's the two together that seems to be problematic.
[code]

[2019-10-26 04:08] stronny commented on #3313
I have this error on `gcc (Debian 8.3.0-6) 8.3.0` i686:

[code]

[2019-10-26 04:17] SeanTAllen commented on #3313
An option to fix for now would be:

`-Wno-stringop-truncation` on Makefile line 134.

It doesn't verify if the warning is real or not (this need to look at that, but it should in theory, put gcc 8+ compilation on the same footing as all the others in that it will build.

[2019-10-26 04:18] SeanTAllen commented on #3313
N.B. its quite possible that some of these are false positives.

[2019-10-26 12:07] SeanTAllen commented on #3313
Yeah, these look like false positives.

[2019-10-26 21:02] SeanTAllen commented on #3313
Using Ubuntu Xenial and Gcc 8.3, I am unable to reproduce this. Very odd.

[2019-10-26 22:27] SeanTAllen commented on #3251
I have a fix for this. When building ponyc with the vendored statically linked LLVM, we need to do: `-DLLVM_ENABLE_TERMINFO=OFF`. This will remove the requirement to have ncurses and libtinfo installed.

[2019-10-27 00:10] #3313 closed

[2019-10-28 01:35] #3251 closed

[2019-10-28 08:35] mfelsche commented on #3344
Thanks for reporting!

The compiler on my end runs into a segfault after going into an infinite loop:

[code]

This is during lambda type inference. Will report back with more detailed findings.

[2019-10-29 22:02] SeanTAllen commented on #3166
We are moving to using "Vendored LLVM" for everything. Closing this as for everything we do, we will be building LLVM from source.

[2019-10-29 22:02] #3166 closed

[2019-10-29 22:03] SeanTAllen commented on #3226
Closing this as it will be addressed as we move to building LLVM from source for everything we do.

[2019-10-29 22:03] #3226 closed

[2019-10-29 22:04] #3257 closed

[2019-10-29 22:05] SeanTAllen commented on #3142
This is in progress.

[2019-10-30 14:45] EpicEric opened #3354 "Compiler crash when accessing nested tuple elements"
Example code:

[code]

This has been tested with both the current release and the nightly binary:

[code]

[2019-10-30 17:55] EpicEric commented on #3354
Looking at my nightlies ([before breaking](https://circleci.com/gh/EpicEric/pony-mqtt/741) > [after breaking](https://circleci.com/gh/EpicEric/pony-mqtt/742)), it looks like this was broken by #3304. I'm going to confirm it now.

[2019-10-30 18:50] SeanTAllen commented on #3354
We definitely need a bad pony test for this and then weee a fix.

[2019-10-30 20:17] EpicEric commented on #3354
Not sure if this should be a "bad pony" test, since it was working before #3304.

[2019-10-30 20:19] SeanTAllen commented on #3354
@EpicEric without a test, there can be another regression. therefore, in my mind, there should be a test.

[2019-10-30 20:31] EpicEric commented on #3354
I agree with you. I just misunderstood and thought you meant that the breaking code wasn't valid Pony.

[2019-10-30 23:39] #3091 closed

[2019-10-30 23:39] SeanTAllen commented on #3314
## Default to statically linking LLVM into ponyc

Previously, we built ponyc with LLVM dynamically linked by default. This PR changes to statically link LLVM- except on Windows which hasn't been addressed yet.

There are now 3 options that can be supplied to the Makefile via the `link` option

- static
- llvm-static
- llvm-dynamic

### static

static will only work when using musl libc. it will at

[2019-10-31 02:50] SeanTAllen commented on #3142
This is currently blocked. When GitHub Actions leaves beta in Mid-November, then I think I can send a webhook trigger from Cloudsmith when new packages are uploaded to trigger a new image build in GH. At the moment, I can't because GH Actions beta requires multiple headers in order to trigger and currently with Cloudsmith we can only set 1. I think post beta that a single header is all we will nee

[2019-10-31 02:51] SeanTAllen commented on #3149
Closing this because we are moving away from all the bintray releases (except for Windows which will live on for longer for now).

[2019-10-31 02:52] #3149 closed

[2019-10-31 14:13] SeanTAllen commented on #3204
@kulibali I was going to start work on making building with vendored LLVM our default but thinking about it, I think we should switch to cmake first. Thoughts?

[2019-10-31 14:19] mfelsche commented on #3344
Here is a minimal sample to reproduce the problem:

[code]
The infinite loop is entered when the type of the parameter, for which we provide a lambda without type annotations, is a type parameter that does is not provided. In this case it seems to reference itself.

[2019-10-31 15:00] kulibali commented on #3204
Sure, that might avoid some duplication of effort in the end.

This branch is in a bit of a chaotic state right now as I was playing around with CI stuff that's not intended to be final.  In particular I was using the build cache on Cirrus for Windows to avoid compiling LLVM every build.  But I agree that building a tarball for LLVM etc would be useful.

I haven't got cross-compiling for ARM worki

[2019-10-31 15:06] SeanTAllen commented on #3204
I'd say, let's not worry about caching and CI stuff, for now, just cmake and able to handle locally all the tasks we have and then we can worry about any CI related things afterward.

Re: caching LLVM, that is another thing on my list that I decided should be left until after we do this.

[2019-10-31 15:13] kulibali commented on #3204
I may have some time to work on this on the weekend.

[2019-10-31 15:20] kulibali commented on #3204
Not sure what you mean by "big bang".  It's already set up to use the vendored LLVM by default.

[2019-10-31 15:22] SeanTAllen commented on #3204
I mean, we don't have to support all the things that the current system does before we introduce the change. I'm ok with taking functionality away to make it easier to get up and running with cmake.

[2019-10-31 15:28] kulibali commented on #3204
The smaller bang sounds good to me.  Is CI in `master` in a final enough state where I can integrate cmake into it?

[2019-10-31 15:40] SeanTAllen commented on #3204
@kulibali Almost, yes.  But I think we can move forward. It would break:

- Docker image building
- Cross-compilation tests
- Windows CI
- FreeBSD
- macOS

Docker image building should have a long term fix shortly after GH actions go public in mid-November. I can put a short term fix in for `latest` images before then or we could do it as part of the PR.

Cross-compilation I think we accept that i

[2019-10-31 15:46] kulibali commented on #3204
Ok, I'll try to take a look at this over the weekend.

[2019-11-01 17:02] SeanTAllen commented on #3314
Blessing 405775752fd38fcc4b14c0595ef75d3887e352af

[2019-11-01 17:12] SeanTAllen commented on #3314
Homebrew PR is open: https://github.com/Homebrew/homebrew-core/pull/46077

[2019-11-01 17:13] SeanTAllen commented on #3314
@stefantalpalaru @kamilchm @myfreeweb release is underway

[2019-11-01 17:17] SeanTAllen commented on #3314
Windows build is available

[2019-11-01 17:21] SeanTAllen commented on #3314
Doing docker release images "by hand" from the command line as the command was slightly wrong in the CircleCI config (it has since been corrected)

[2019-11-01 17:25] SeanTAllen commented on #3314
Debian package is available in bintray

[2019-11-01 17:30] SeanTAllen commented on #3314
GNU Linux release is available in Cloudsmith:  https://cloudsmith.io/~ponylang/repos/releases/packages/

cc @Theodus @lskillen

[2019-11-01 17:32] SeanTAllen commented on #3314
Epel and Opensuse didn't build but as they were going to be EOL for next release I'm calling that an "o well".

[2019-11-01 17:36] SeanTAllen commented on #3314
Fedora releases are all available.

[2019-11-01 17:39] stefantalpalaru commented on #3314
Gentoo ebuild updated. I'm sticking with `link=llvm-dynamic`.

[2019-11-01 17:45] SeanTAllen commented on #3314
@stefantalpalaru ok, FYI, support for dynamic linking of LLVM will probably not be available in the next release but might reappear later.

[2019-11-01 17:45] SeanTAllen commented on #3314
Docker images are now available.

[2019-11-01 17:45] SeanTAllen commented on #3314
Playground is down so it will not be updated at this time.

[2019-11-01 17:46] SeanTAllen commented on #3314
Cloudsmith musl release script was messed up slightly, it uploaded the build to "nightlies" rather than "releases". That has been fixed on master. I'm running the job locally now

[2019-11-01 18:16] SeanTAllen commented on #3314
Release notes PR opened: https://github.com/ponylang/ponylang-website/pull/506

[2019-11-01 18:34] mshockwave commented on #3314
Just a little bit curious: Does the release note in github's Releases page pick all the comments from here? or just part of them?

[2019-11-01 18:39] SeanTAllen commented on #3314
@mshockwave none of them from here. Just the changelog goes there. The full release notes go on the website. You can see the preview (as I haven't published them yet) here: https://deploy-preview-506--ponylang.netlify.com/blog/2019/11/0.33.0-released/

[2019-11-01 18:43] SeanTAllen commented on #3314
The musl libc Linux ponyc binary is now available on Cloudsmith. I had to spin up the docker container locally and run the build and upload script manually. being able to do manually if you screw up the invocation in the ci config certainly is nice.

[2019-11-01 18:44] SeanTAllen commented on #3314
It's that time again, waiting on Homebrew.

We aren't however waiting on Docker containers because this is the first release where we aren't building on DockerHub using automated builds. That's a huge win for us as building the images there was very slow. It's much faster to build them someplace like CircleCI or using GitHub Actions.

[2019-11-01 19:24] SeanTAllen opened #3362 "Create GitHub Action to update the stdlib docs website on release."
previous code:

[code]

[2019-11-01 19:26] SeanTAllen commented on #3362
This will be done before the 10th of November.

[2019-11-01 19:29] SeanTAllen commented on #3314
Ok, as @EpicEric noticed. The 1 job that failed on travis was building the docs related to this release. It isn't that bad as the only issue with that is that the new theme wasn't picked up (there are no changes otherwise).

I've opened an issue to address as we are deprecating TravisCI (where doc building was previously run): https://github.com/ponylang/ponyc/issues/3362

[2019-11-01 19:40] SeanTAllen commented on #3314
I don't know how long homebrew is going to take, I'm going to merge and announce the release now even if homebrew isn't done. I will, however, leave this issue open.

I'm unavailable all of tomorrow so, it's possible that the release would spill over til then and not get announced til Sunday otherwise.

[2019-11-01 19:47] SeanTAllen commented on #3314
Homebrew released!

[2019-11-01 19:47] SeanTAllen commented on #3314
Announced in all the usual spots.

[2019-11-01 19:47] #3314 closed

[2019-11-01 19:51] SeanTAllen opened #3363 "Release Pony 0.33.1"
The target release date is December 14th.

[2019-11-03 15:28] SeanTAllen commented on #3362
PR opened #3365

[2019-11-03 19:43] #3362 closed

[2019-11-03 19:43] Teashrock opened #3366 "[Windows] Cannot build with MSVC 16.3"
[code]

[2019-11-03 19:46] Teashrock opened #3367 "Playground is down"
![image](https://i.imgur.com/5A2dVkC.png)

[2019-11-03 20:29] SeanTAllen commented on #3272
PR opened: https://github.com/ponylang/ponyc/pull/3368

[2019-11-03 22:23] SeanTAllen commented on #3367
Hi @Teashrock. We are aware. Thank you for reporting.

There was an update this morning in our weekly newsletter:

https://www.ponylang.io/blog/2019/11/last-week-in-pony---november-3-2019/

Keep an eye on Last Week in Pony and in the announce stream of the Zulip. Those are the channels we will be using to announce when the playground is back.

[2019-11-03 22:23] #3367 closed

[2019-11-04 00:06] #3366 closed

[2019-11-05 14:19] #3272 closed

[2019-11-06 01:21] SeanTAllen commented on #3099
I've verified the fix. Closing.

[2019-11-06 01:21] #3099 closed

[2019-11-06 05:11] SeanTAllen opened #3379 "Cross compilation images need to be updated to LLVM 7.1.0"
But that appears like it might be a pain. Still, should be done.

[2019-11-06 05:12] SeanTAllen commented on #3379
LLVM prebuilt releases are here:

http://releases.llvm.org/7.1.0/

[2019-11-07 01:56] dipinhora commented on #3354
I've opened #3381 to address this.

As part of adding the `badpony` test, I ran into a segfault in the test when I used the original example provided by @EpicEric. Something to do with serialization that I don't have time to dig into.

So I switched to the following example instead:

[code]

Which doesn't segfault and produces the following error `Cannot look up member _2 on a literal` both with t

[2019-11-07 23:34] slfritchie opened #3382 "Example of deadlock with Pony runtime backpressure"
There's a bug in Wallaroo that I've known about for a while https://github.com/WallarooLabs/wallaroo/issues/3015 and have now figured out how & why it happened.  After a chat with @SeanTAllen, we've agreed that this is a good demonstration of the current implementation of Pony's runtime backpressure system.

Wallaroo's use of Pony runtime backpressure is limited.  The use as described by bug 3015

[2019-11-08 01:36] SeanTAllen commented on #3382
In my mind, what is required, is a way for an actor to add and remove actors from being "a friend". Friends can send to other friends without ever being muted. It would allow for the scenario from Wallaroo where there's a primary actor that is under pressure but needs to receive messages from other actors in order to clear itself (like a timer that tells it to "try again").

I'm imagining a couple

[2019-11-09 01:52] ephetic opened #3383 "Turn inexhaustive matches into compiler errors"
Is there a compiler flag that turns inexhaustive matches into compiler errors rather than inserting `else None`?

[2019-11-09 02:05] SeanTAllen commented on #3383
No. That sounds like an interesting idea. We have an RFC process if you'd be interested in presenting the idea. You can learn about it more here: https://github.com/ponylang/rfcs and we also have a Zulip stream for discussing RFCs in a more informal setting: https://ponylang.zulipchat.com/#narrow/stream/189959-RFCs

---

For future reference, we ask that these sort of questions be directed to the

[2019-11-09 02:05] #3383 closed

[2019-11-09 03:16] dipinhora commented on #3363
## Fix nested tuple access regression introduced by #3304

PR #3304 introduced a bug that caused segfaults with nested tuple access such as:

[code]

The issue is now resolved and a test added to prevent another regression.

[2019-11-12 11:55] lenary commented on #3140
I have added this patch to the list of changes to be backported to LLVM 9.0.1: [PR43974](https://bugs.llvm.org/show_bug.cgi?id=43974).

[2019-11-12 15:22] SeanTAllen opened #3388 "GNU latest docker images dont work to build inside"
They don't install the libaries like `libatomic` so you can't compile in that environment.

[2019-11-12 15:42] SeanTAllen commented on #3388
impact on playground.

@Theodus reports that `apt-get install libatomic1` fixes it. need to update the GNU Dockerfile in `.dockerfiles` directory.

[2019-11-12 15:50] SeanTAllen opened #3389 "musl latest docker images dont work to build inside"
Can't link because it can't find `gcc`

[2019-11-12 15:54] SeanTAllen commented on #3389
apk add build-base binutils-gold

[2019-11-12 16:05] Theodus commented on #3388
I believe that it will also be necessary to install a C compiler for linking with `$CC`

[2019-11-12 17:06] #3388 closed

[2019-11-12 17:07] #3389 closed

[2019-11-12 17:13] #3354 closed

[2019-11-13 23:19] #2854 closed

[2019-11-13 23:21] SeanTAllen commented on #2108
I'm going to close this. At this point, the only supported FreeBSD is BSD 12 on x86_64. If someone would like to try expanding FreeBSD support, they are welcome to.

[2019-11-13 23:21] #2108 closed

[2019-11-13 23:23] SeanTAllen commented on #2339
@slfritchie this should be fixed once #3364 is merged. Feel free to test if you still have access to the machine in question. At this point, FreeBSD 12 is the only FreeBSD version that we support, so I'm going to close this issue.

[2019-11-13 23:23] #2339 closed

[2019-11-13 23:23] SeanTAllen commented on #2825
We no longer support FreeBSD 11 so I'm closing this. FreeBSD 12 passes all CI tests.

[2019-11-13 23:23] #2825 closed

[2019-11-14 19:05] vijayee opened #3395 "Compiler Crash"
I have been receiving a compiler crash after adding json serialization to my schema objects in this branch:  https://github.com/vijayee/protocolbuffers/tree/wontcompile I'm receiving an output of ```Building ponytest -> /usr/lib/pony/0.33.0/packages/ponytest
Building time -> /usr/lib/pony/0.33.0/packages/time
Building collections -> /usr/lib/pony/0.33.0/packages/collections
Building random -> /usr

[2019-11-14 19:14] vijayee commented on #3395
After more investigation this appears to be the offending code https://github.com/vijayee/protocolbuffers/blob/wontcompile/protocolbuffers/schema.pony#L91

[2019-11-14 19:39] EpicEric commented on #3395
Minimal reproduction example:

[code]

[2019-11-16 02:37] SeanTAllen opened #3402 "Get Cross Compilation CI jobs setup with vendored LLVM"
We are turning off our ARM cross-compilation jobs that currently run in CircleCI.

We want to:

- Move then to running on CirrusCI
- Build using the vendored LLVM rather than using a system LLVM

Here are the 3 job definitions from CircleCI:

[code]

*N.B.*: the `  cross-llvm-701-aarch64` was failing and was turned off on CircleCI. We expect that the same would happen when switched over.

[2019-11-16 10:51] lenary commented on #3140
Update: the fix has been merged into the 9.0.1 branch. I'm still not sure the timeline of the 9.0.1 release.

[2019-11-16 13:22] #3142 closed

[2019-11-16 13:24] SeanTAllen commented on #3379
This is being replaced by #3402

[2019-11-16 13:24] #3379 closed

[2019-11-16 13:25] SeanTAllen commented on #3140
Awesome. Thanks for the update @lenary.

[2019-11-16 21:25] Archie3d opened #3405 "-rt"

[2019-11-16 21:41] SeanTAllen commented on #3405
There's no content here. I assume it was a mistake. Closing.

[2019-11-16 21:41] #3405 closed

[2019-11-16 21:49] mfelsche commented on #3395
SO, the actual problem with this example is, that [arrow types](https://tutorial.ponylang.io/reference-capabilities/arrow-types.html) do not allow union types on their left side. The example above does not contain such an arrow type, but `ArrayValues` does, given the type params above will try to create the type: `(this->Foo ref)->Foo` in https://stdlib.ponylang.org/src/builtin/array/#L937 with `F

[2019-11-16 22:27] mfelsche commented on #3395
Also the example above wouldn't compile anyways as the return type `ArrayValues[Foo, this->Foo ref] ref^` does not match the method body type and it has wrong type args.

[2019-11-16 22:32] mfelsche commented on #3395
Another even more minimal example:

[code]

[2019-11-16 23:43] SeanTAllen commented on #3395
@mfelsche do you think the fix for this should trigger a release or can it wait until the next scheduled release (that is likely to end up being mid-December)?

[2019-11-17 09:00] mfelsche commented on #3395
Imho this doesnt need to trigger a release.

[2019-11-17 23:12] lenary commented on #3140
[9.0.1-final is scheduled for 9 Dec 2019](http://lists.llvm.org/pipermail/llvm-dev/2019-November/136863.html)

[2019-11-18 13:35] EpicEric commented on #3305
Minimal example:

[code]

[2019-11-18 14:51] EpicEric opened #3406 "No mention of code of conduct at "Getting Help" in README"
When someone uses the public Zulip, we expect them to behave according to Pony's Code of Conduct. Since it's most likely that people will join to ask for help, I think that it would be good to ask users to read it before joining the Zulip chat in that section of the README.

[2019-11-18 15:10] EpicEric opened #3407 "Add table of contents to README"
It should improve navigation for users trying to find specific install instructions.

[2019-11-18 15:11] EpicEric opened #3408 "Add missing "waf configure" step when building from source on Windows"
It should be done before the `make.bat build test` step.

[2019-11-18 15:21] EpicEric opened #3409 "The "Using Docker" section of the README is confusing"
It's currently under the "Installation" section -- which is dedicated to installing the latest release of ponyc --, but the section itself tells users to refer to it when they "want to use the latest revision of Pony source". There are two problems with that text:

1. I'd expect anything that uses latest revision to be in "Building ponyc from source" since it's not a release.
2. The `latest` and `

[2019-11-18 15:23] SeanTAllen commented on #3409
I'm planning on redoing all the installation instructions once ponyup is ready in a few weeks. I think it makes sense to drastically revisit the existing instructions.

My thought:

INSTALL.md
BUILD.md

where INSTALL.md has how to install.
where BUILD.md has how to build from source

I think the Docker related activities would be in a still different file.

Then, from README, links to each.

I thi

[2019-11-18 15:26] EpicEric commented on #3409
That's a good idea.

Do you want me to close the issues I opened for individual problems and open a new one for the documentation overhaul?

[2019-11-18 15:30] SeanTAllen commented on #3409
@EpicEric up to you. I think a general installation overhaul conversation would be good.

[2019-11-18 15:41] SeanTAllen commented on #3408
This is covered in the directions already.
![Annotation 2019-11-18 103226](https://user-images.githubusercontent.com/193596/69066783-f2966e00-09ef-11ea-9daa-04ef579dd985.jpg)

[2019-11-18 15:41] #3408 closed

[2019-11-18 15:43] SeanTAllen commented on #3406
This would apply to equivalent sections on the website and the tutorial.

[2019-11-18 15:44] SeanTAllen commented on #3406
I think prefacing the code of conduct link with some "straightforward" language on being respectful, "not being a dick" or otherwise getting that across is important. A lot of folks might not read the code of conduct or assume they know what it means. "Don't be a dick, don't be rude." As a really short primer seems like it could be appropriate.

[2019-11-18 17:30] EpicEric opened #3410 "Overhaul README installation instructions"
The current README documentation is messy. Aside from general Pony resources and OpenCollective backing, it also includes instructions for installing Pony from the latest release version and instructions for building from source, mixed with Docker instructions that are confusing (quoting myself from #3409):

There are also many installation instructions spread across different sections, and no eas

[2019-11-18 17:30] EpicEric commented on #3407
Superseded by #3410.

[2019-11-18 17:30] #3407 closed

[2019-11-18 17:30] EpicEric commented on #3409
Superseded by #3410.

[2019-11-18 17:30] #3409 closed

[2019-11-20 09:54] riginding opened #3411 "Using Docker ponylang/ponyc:latest workdir not set"
I followed the installation guide to use `ponyc` from docker. I tried it on Arch Linux and on Windows both times resulting in the following error:
[code]

After some investigation I figured out that the `workdir` that should be `src/main` is not properly applied:
[code]
If I specify the `workdir` as an argument to docker it works as expected:
[code]
According to the README.md it should also work w

[2019-11-20 13:31] SeanTAllen commented on #3411
Sorry, those directions are out of date. We are in the process of switching over a lot of release related stuff. They are still valid if you check out the last release (tag 0.33.0) but not for anything after that.

The Dockerfile you are using is purely for our usage for creating the `latest` Dockerfile. If you want to use that Dockerfile, I suggest creating your own that uses ponylang/ponyc:lates

[2019-11-20 13:32] SeanTAllen commented on #3411
Thanks. I'll look into this. The README needs to be updated as we recently switched over.

[2019-11-20 13:33] SeanTAllen commented on #3411
For whoever picks up this issue, we also need to make sure after the change that this works in the pony playground.

[2019-11-20 13:42] SeanTAllen commented on #3411
@EpicEric do you have time to look into this?

[2019-11-21 14:14] EpicEric commented on #3411
This shouldn't break the playground. The scripts that the playground uses ([`compile.sh`](https://github.com/ponylang/pony-playground/blob/f31e8b3e3de7563bc38c6975d89fcae78514391a/docker/bin/compile.sh), [`evaluate.sh`](https://github.com/ponylang/pony-playground/blob/f31e8b3e3de7563bc38c6975d89fcae78514391a/docker/bin/evaluate.sh)) create a temporary directory with `mktemp -d`, create and `cd` to

[2019-11-21 15:38] #3411 closed

[2019-11-27 04:05] Shaping opened #3414 "Remind Windows user to add compiler to path"
The Pony tutorial breaks if you don't manually added the directory containing ponyc.exe to the Path environment variable in Windows.  Please include a reminder about this following the build instructions for Windows.

[2019-11-27 14:07] SeanTAllen commented on #3414
@kulibali thoughts on this? what should it be? I'm going to be redoing all the instructions soon and can add this to the list.

[2019-11-27 16:14] kulibali commented on #3414
I'm assuming this means for the README.

For the "Windows using ZIP (via Bintray)" section we could say something like

    Unzip the release file in a convenient location, and you will find `ponyc.exe` in the `ponyc\bin` directory.  For convenience you can add the `bin` directory to your `PATH` environment variable using the Advanced System Settings dialog in the System control panel, or by using

[2019-11-28 22:15] ilanpillemer opened #3415 "reader.line() does not detect the final line in a file if it ends with an EOF"
If you have a file that looks like this in whitespace-mode in emacs

[code]

And you use a buffered reader to process the file like the example code below...
the final line `23x11x5` is not returned by line().

[code]

[2019-11-28 22:33] SeanTAllen commented on #3415
For reasons I state in https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help/topic/should.20buffered.20reader.20line().20return.20a.20line.20in.20this.20case.3F,

I don't think this is a bug in `line`. I think `line` is doing the right thing.

[2019-11-28 22:36] SeanTAllen commented on #3415
Going over this, I think the problem is a gap in the API for Reader.

[2019-11-28 22:50] SeanTAllen commented on #3415
@ilanpillemer based on our Zulip conversation, are you ok with closing this issue?

[2019-11-28 23:02] ilanpillemer commented on #3415
yes this works..

[code]

[2019-11-28 23:02] #3415 closed

[2019-12-03 16:31] jemc commented on #3305
Anyone have a backtrace of what the compiler crash looks like?

[2019-12-03 17:34] Theodus commented on #3410
We will hold off on this until https://github.com/ponylang/ponyup/issues/50 is resolved

[2019-12-03 17:38] SeanTAllen commented on #3406
@cquinn thinks a short blurb about etiquette and how to ask good questions would be good.

[2019-12-05 22:35] chalcolith opened #3416 "Cannot consume a local in an `else` block in whose `try` block the local is consumed after any possible error"
The following code:

    actor Main
      new create(env: Env) =>
        let foo = Foo[I64](3)

    primitive Foo[T]
      fun one(t: T): T^ =>
        try
          let n = "1234".i64()?
          two(n * (consume t))
        else
          consume t
        end

      fun two(t: T): T^ =>
        2 * (consume t)

Results in

    nightly-20191123 [release]
    compiled with: llvm 7.1.0 -- cc (Al

[2019-12-06 14:30] ilanpillemer opened #3417 "returns in object literals in constructors get failed by compiler"
https://playground.ponylang.io/?gist=57793bd459f8017cb9ffd52c950c2794

should this code really give this error? Playground link above, code below.

[code]

gives a compile error which does not seem right to me.. as the return is part of object literal not the constructor...

[code]

[2019-12-09 15:45] ergl opened #3418 "Array.insert documentation is misleading re: "out of bounds index raises an error""
Apologies if this behavior is expected, but I was surprised. The documentation for `Array.insert` says that "An out of bounds index raises an error."

[code]

This will print both `1` and `2`. Inserting at index `2` will fail. I guess line `343` here:

https://github.com/ponylang/ponyc/blob/7d7a96f6d1246bb12c7e515d7976d30c2365dea2/packages/builtin/array.pony#L337-L350

should be `i < _size`?

Pony

[2019-12-09 17:31] EpicEric commented on #3418
Since the array is resized by 1 on insertion, it makes sense that you can add a new element to the end. So this is not a bug, but the documentation can be improved to account for this particular case, as "out of bounds index" is inaccurate.

[2019-12-09 18:27] jemc commented on #3416
Yeah, currently the compiler is only sophisticated enough to know that:
- the `try` body will execute in part or in full (basically, anywhere between zero and one times)
- the `else` body will either execute or it won't (basically, zero or one time)

In theory we can be more sophisticated and do better, if someone can implement an improved analysis.

If anyone wants to look at this code, it is in

[2019-12-09 18:29] mfelsche commented on #3418
FTR this brhaviour has been introduced in this commit https://github.com/ponylang/ponyc/commit/d97130eaab218b3a3156e99a01e556f242d65a8a

[2019-12-09 21:22] ergl commented on #3418
I see, I wonder how to make the documentation clear to distinguish the normal behaviour with the "push" behaviour. It could be tricky to say "if the insert happens at size + 1, it will push the value instead.

[2019-12-10 13:51] ergl opened #3420 "LLVM 7.1.0 Optimization Pass Crash on Merge successive reallocations of the same variable"
I managed to reproduce the same behaviour as https://github.com/ponylang/ponyc/issues/3126 with the following code:

[code]

(although the code works correctly in the pony playground)

Compiling the above:

[code]

This is on macOS Mojave 10.14.6, `ponyc` version:

[code]

[2019-12-10 14:07] SeanTAllen commented on #3420
Is this the same issue or a different issue @ergl. It sounds like the same issue from your description. If it is, please add a note to #3126 and close this one.

[2019-12-10 14:08] ergl commented on #3420
Sorry, yes, it's the same issue, I'll add a comment there, thanks!

[2019-12-10 14:09] ergl commented on #3126
Managed to reproduce this behaviour on LLVM 7.1.0 with the following code:

[code]

(although the code works correctly in the pony playground)

Compiling the above:

[code]

This is on macOS Mojave 10.14.6, `ponyc` version:

[code]

[2019-12-10 17:08] jemc commented on #3418
Basically, the constraint here is that we cannot insert anywhere that would expand the size by more than one element, because we don't have a value to fill in for the "empty" elements that would need to be created.

[2019-12-10 18:55] jemc commented on #3417
This is probably due to some overly simplistic logic that checks to see if the `return` AST is within a constructor, by traversing upward on the AST until reaching the nearest function definition.

The code in question in the `syntaxuses `opt->check.frame->method` to get the method associated with the return expression, and check if it is a constructor (`TK_NEW`):
https://github.com/ponylang/ponyc

[2019-12-10 19:10] mfelsche commented on #3417
As this happens in the syntax pass, the object literal sugar did not kick in yet, so we don't have a proper function here yet, it seems. Gonna double-check.

[2019-12-10 19:26] mfelsche commented on #3418
I am gonna update the docstring to be up-to-date with the implementation. We agreed during sync that the current behavior is intended and the docs are stale.

[2019-12-10 19:43] jemc commented on #3416
I mentioned in today's sync call that this use case in the example above would be simply resolved if we implemented a change to the language like this one that I suggested back in 2015: https://github.com/ponylang/ponyc/issues/291

If we did what I suggested there, your code example would take the form of:
[code]

Just like an `if`/`then`/`else` construct, the compiler would first try to execute t

[2019-12-10 19:46] jemc commented on #3416
@SeanTAllen mentioned in today's sync call that this reminds him that he would like us to have better specification of how our language constructs work in various situations.

I suggested that we should consider a kind of "literate programming" approach in which we have some text describing the semantics of each construct, interspersed with code examples that can be executed as tests to prove the

[2019-12-13 10:38] cvik commented on #3354
Ran into this exactly bug while running similar code but tuple nested inside an object:
[code]

Will [6442c41](https://github.com/ponylang/ponyc/commit/6442c418b1c6e808fa7b401a24605010aa197bec) fix this case as well?

[2019-12-13 10:50] mfelsche commented on #3354
yes, just verified this on my machine.

[2019-12-13 13:41] SeanTAllen commented on #3363
Release is in progress.

[2019-12-13 13:54] SeanTAllen commented on #3363
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/47816

[2019-12-13 13:56] SeanTAllen commented on #3363
@stefantalpalaru @kamilchm @myfreeweb release underway

[2019-12-13 13:56] SeanTAllen commented on #3363
Windows release is available in bintray.

[2019-12-13 14:03] SeanTAllen commented on #3363
Cloudsmith packages are available via ponyup.
Docker images are uploaded.

[2019-12-13 14:10] SeanTAllen commented on #3363
I manually updated the image on the playground. We need to automate on the new playground. @mfelsche, are you up for doing that?

[2019-12-13 14:26] mfelsche commented on #3363
I can look into automating image updates on the playground this weekend.

[2019-12-13 14:27] SeanTAllen commented on #3363
Release notes PR opened. I asked @EpicEric and/or @Theodus to review:

https://github.com/ponylang/ponylang-website/pull/523

[2019-12-13 14:28] SeanTAllen commented on #3363
We are waiting on Homebrew at this point.

[2019-12-13 17:21] stefantalpalaru commented on #3363
Gentoo ebuild updated.

[2019-12-13 18:54] SeanTAllen commented on #1203
@cquinn I think this can be closed, do you agrfee?

[2019-12-13 18:56] SeanTAllen commented on #837
I'm going to close this.

[2019-12-13 18:56] #837 closed

[2019-12-13 19:10] SeanTAllen commented on #1118
The original version of this segfaults if I add some @printf output that slows everything down some. But, only when doing an optimized build.

0.32.0-a7a80758 [release]
compiled with: llvm 7.0.1 -- cc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
Defaults: pic=true

[2019-12-13 19:14] SeanTAllen commented on #1146
FYI... here's an updated version of the code that compiles with 0.33.1:

[code]

[2019-12-13 19:16] SeanTAllen commented on #1666
Can someone test with macOS from homebrew and verify that this is no longer an issue and can be closed?

[2019-12-13 19:16] SeanTAllen commented on #1554
We do nightly releases to Cloudsmith now.

[2019-12-13 19:16] #1554 closed

[2019-12-13 19:19] SeanTAllen commented on #1837
@sblessing any update on LLD 9.0.0?

[2019-12-13 19:27] cquinn commented on #1203
Yes, I think so. ProcessMonitor on Windows could be improved, but it works OK.

[2019-12-13 19:30] #1203 closed

[2019-12-13 19:39] SeanTAllen commented on #3363
Homebrew released.

[2019-12-13 19:53] SeanTAllen commented on #3363
All done! See you next time folks!

[2019-12-13 19:53] #3363 closed

[2019-12-13 19:54] SeanTAllen opened #3423 "Release Pony 0.33.2"
Target release date is February 1st.

[2019-12-13 20:45] redvers opened #3424 "TCPConnection.close() documentation is unclear on what happens to late arriving data"
In the example:

[code]

The reason being that ```conn.write()```s throw messages in the mailbox and the conn.close() just closes everything down without giving the actor a chance to actually send them.

One can use ```conn.dispose()``` instead which has the very explicit documentation:

```Close the connection gracefully once all writes are sent.```

The documentation for ```close()``` is describ

[2019-12-13 20:55] SeanTAllen commented on #3424
This is definitely a bit of a documentation issue that needs to be cleaned up.

as the actual order of execution will be:

[code]

as the 2 write calls are async and close is sync. So when the write behavior is executed by `conn`, it will already be closed and the data will be silently discarded. Close is graceful. It will send all data already enqueued. The problem is the write call.

I think for

[2019-12-14 17:28] SeanTAllen commented on #3402
I've opened a branch to work on this. The branch is `3402`. At the moment, it is only trying to test for `arm`. When building LLVM, we currently error out part of the way through building due to a syntax error. See #3425.

[2019-12-15 15:16] SeanTAllen opened #3426 "readlink -e unsupported on alpine"
Alpine Linux doesn't support `-e` for readlink. However, we are using it in lib/llvm/Makefile on line 143.

https://github.com/ponylang/ponyc/blob/master/lib/llvm/Makefile#L143

readlink on osx also doesn't support `-e` and so we require `greadlink`.

We should be looking for how we can support the proper flags on a per-platform basis without such hackery. A "configure" script is the tried and tru

[2019-12-17 11:16] rurban commented on #1666
Still fails with llvm-5.0, llvm-7.0 and llvm-8.0 from macports with the very same error.
Couldn't build with Apple clang

[2019-12-17 19:12] SeanTAllen commented on #3402
Dipin sent me a patch that should be able to address this. @kulibali is going to integrate into the build `ponyc` with `cmake` work.
[crossci.diff.txt](https://github.com/ponylang/ponyc/files/3974997/crossci.diff.txt)

[2019-12-17 19:55] SeanTAllen commented on #1666
If LoadCombine is indeed gone from LLVM 5 then it would be weird that this can fail. Someone should check the specific implementation with MacPorts and see why this is failing.

[2019-12-17 19:55] jemc commented on #1666
Here's the LLVM commit that removed the `LoadCombine` pass: https://github.com/llvm-mirror/llvm/commit/e1ae008085fc0ccb07c31544a07302461cd6132d

[2019-12-18 13:30] rurban commented on #1666
Actually my test was outdated. It works now since llvm5.0, as stated.
[code]

Can be closed

[2019-12-18 13:30] #1666 closed

[2019-12-18 14:19] Theodus opened #3428 "Underscores in function names mistaken for formatting"
For example, the documentation for `AppDirs.user_data_dir` shows as "user _data_ dir" (https://www.main.actor/packages/appdirs/0.1.0/appdirs/appdirs)

[2019-12-18 16:41] SeanTAllen commented on #3410
ponylang/ponyup#50 is resolved. marking this as unblocked. I'll get to this over the holidays.

[2019-12-18 16:42] SeanTAllen commented on #3328
Closing in favorite of #3410 that will include this.

[2019-12-18 16:42] #3328 closed

[2019-12-18 16:42] SeanTAllen commented on #3410
Will include #3410 work in this.

[2019-12-18 16:45] EpicEric commented on #3410
Did you mean #3328?

[2019-12-21 18:38] SeanTAllen opened #3432 "macOS nightly build: problems end-users have encountered"
This issue is to collect information about problems people run into using the new macOS nightly builds. We believe they should be trouble-free, however, you never can tell.

When reporting an issue, please include (if possible)

- the nightly build version (e.g. 20191221)
- the output of `ponyc --version`
- the version of macOS you are running on
- what you expected to happen
- what happened that

[2019-12-23 18:55] kulibali opened #3434 "Patch LLVM and re-enable unit test `CodegenTest.TryBlockCantCatchCppExcept` for LLVM >= 9.0.0"
We are disabling the `CodegenTest.TryBlockCantCatchCppExcept`  for LLVM 9 and above for now (see #3320), as there is an LLVM bug that is breaking it (see https://reviews.llvm.org/rG9f4f237e29e7150dfcf04ae78fa287d2dc8d48e2).

As part of the CMake build system work (#3234), we will implement a system to patch our vendored LLVM, and include this patch until the LLVM patch is in their source, then re-

[2019-12-24 02:59] SeanTAllen commented on #3402
@kulibali is working on this as part of the cmake transition.

[2019-12-24 03:02] #3087 closed

[2019-12-24 03:36] SeanTAllen commented on #3140
@EpicEric this is fixed for me on master when using a ponyc compiler built using the vendored LLVM. can you confirm?

- make -f Makefile-lib-llvm default_pic=true -j4

is how I am building said ponyc compiler.

[2019-12-24 15:13] EpicEric commented on #3140
Confirming that current `master` doesn't crash with vendored LLVM.

[2019-12-24 15:13] #3140 closed

[2019-12-24 21:13] #3088 closed

[2019-12-24 21:30] SeanTAllen commented on #3424
I'm closing this as the docs are clear that new writes aren't accepted and we have an RFC open now to discuss the issue of sync vs async.

https://github.com/ponylang/rfcs/pull/156

[2019-12-24 21:30] #3424 closed

[2019-12-24 22:14] SeanTAllen commented on #3410
Work is underway on the branch `3410`

[2020-01-02 16:43] #3410 closed

[2020-01-02 16:44] SeanTAllen commented on #3432
Closing this as no one encountered any issues other than missing instructions that libressl is required to be installed.

[2020-01-02 16:44] #3432 closed

[2020-01-02 17:37] EpicEric commented on #3406
The README has been substantially modified in PR #3436 since this issue was opened, but this issue could encompass creating a new "Getting help" or similar section under "Resources".

[2020-01-03 03:39] rhagenson commented on #3414
I have only passively been watching the surge of progress on [ponyup](https://github.com/ponylang/ponyup), will this reminder still be necessary with the continued advancement toward ponyup as the installation mechanism? If so, I handle the update to [BUILD.md](https://github.com/ponylang/ponyc/blob/master/BUILD.md).

[2020-01-03 15:17] SeanTAllen commented on #3414
@rhagenson Yes. It will still be required for some scenarios.

[2020-01-03 15:30] rhagenson commented on #3414
Understood. I will get the updates made to include a reminder for Windows users to add the compiler to their path.

[2020-01-04 01:35] #3414 closed

[2020-01-06 18:52] SeanTAllen opened #3439 "`--help` handling is odd with Command Parser"
I noticed this with ponyup. @cquinn says it is a command parser bug.

-h and --help are boolean.  and the default is `false` so

--help=false shouldn't display the help.

however, it always does. It is ignoring the `=false`.

[2020-01-07 15:41] rhagenson opened #3441 "Style guide repeat as OK and Not OK"
The style guide lists the following currently:

[code]

Just under the statement about separating multiple function calls onto separate lines. The 2nd and 4th are equal in that respect. Either the fourth needs to be changed or removed. The current difference is there is not space after `.>`, but this space is covered just a little earlier in the style guide.

[2020-01-07 19:37] #3418 closed

[2020-01-07 20:02] SeanTAllen commented on #3406
@EpicEric 535 on the website was merged, can this be closed?

[2020-01-07 20:32] EpicEric commented on #3406
I'd point users to the section that that PR updated. Currently the readme link sends users straight to the Zulip.

[2020-01-08 00:04] #3439 closed

[2020-01-10 13:29] #3406 closed

[2020-01-11 18:21] adri326 opened #3447 "Compiler segfault on a match with generics"
The following code causes the compiler to segfault during the "Functions" step:

[code]

This happens when a function with generics containing in a union the class itself tries to match a variable of that generic type. This function has to be covered in order for this segfault to occur.

Occurs on Arch Linux x86_64, `ponyc` 0.33.0 [release] (installed through the `community/ponyc` package), compil

[2020-01-11 18:32] SeanTAllen commented on #3447
This happens with the latest ponyc compiler as well. Using the vendored LLVM 9.0.1

[code]

[2020-01-12 12:06] wuhkuh commented on #3447
Note that it does not require the class itself to be part of the union. This chunk of code will also cause a segfault:
[code]

However, if I change the `create` call in the Main actor to be of type `I8` instead of `U8`, it compiles just fine.
[code]

I have repeated some tests for three matches and different orders, and the following statement seems to hold:
Only when the caller uses the type matc

[2020-01-13 17:28] wuhkuh commented on #3447
So from a quick glance, it seems to be failing in `gen_match` in genmatch.c.

https://github.com/ponylang/ponyc/blob/b7dc349e86226bef9add59bd3e2141de00f7a8d9/src/libponyc/codegen/genmatch.c#L822-L825

This is where the segmentation fault happens.

### Backtracing

Backtracing shows it's due to setting `next_block` to `else_block`, which is `NULL` in the scenario where it crashes.

https://github.c

[2020-01-13 19:06] wuhkuh commented on #3447
The following change to [genmatch.c](https://github.com/ponylang/ponyc/blob/b7dc349e86226bef9add59bd3e2141de00f7a8d9/src/libponyc/codegen/genmatch.c) seems to work for me:
[code]
Would love to have someone review this, I only started using Pony 2 days ago -- so although this may seem right, it may be completely off.

[2020-01-13 19:10] SeanTAllen commented on #3447
@wuhkuh do you want to open a PR? if yes, I (or someone else who comes along sooner) can walk you through adding a "bad pony" test to prevent a regression and show that a minimal version of the problem has been fixed.

Between that and the existing test suite passing, you should be good.

Not a bad first two days!

[2020-01-13 21:12] wuhkuh commented on #3447
Yeah, I'll send a PR as soon as the fix is correct. I had one which seemed to have potential, but ended up being incorrect. However, since the majority of work seems to be done already, I should have something ready tomorrow.

Having that said, failing test cases would be a great help and I'll gladly accept any help offered.

[2020-01-13 21:56] adri326 commented on #3447
FYI, I stumbled upon this error while writing a small, fun math library:

[code]

[code]

[2020-01-14 19:29] Theodus commented on #2974
Closed by #2997

[2020-01-14 19:29] #2974 closed

[2020-01-15 19:33] adri326 commented on #2986
Similar to #2083 (+bump).

I'll try to address it during the next two days.

[2020-01-16 19:43] #3441 closed

[2020-01-16 22:11] adri326 commented on #2828
I'd like to tackle this issue.

[2020-01-16 22:12] SeanTAllen commented on #2828
@adri326 have at it!

[2020-01-18 04:43] gamedevsam opened #3452 "unable to locate Visual Studio 14.0"
I followed the instructions on this page: https://github.com/ponylang/ponyc/blob/master/INSTALL.md#windows

But instead of installing visual studio I installed `Visual C++ Build Tools 2019` since I use VSCode as my main editor and don't want to waste disk space.

The Visual C++ compiler and linker is properly installed on my machine and is located in:

`C:\Program Files (x86)\Microsoft Visual Stud

[2020-01-18 05:59] kulibali commented on #3452
Can you post the output of running the following in a command prompt, please?

[code]

[2020-01-25 12:27] adri326 opened #3453 "Failed assertion on consuming a tuple accessor of a function result"
The [following code](https://playground.ponylang.io/?gist=d687e4cb60cef47817ac11f38370a348) triggers an assertion fail:

[code]

The error (on a debug build) being:

[code]

[2020-01-26 13:54] mfelsche commented on #3453
The reason for this is that the code in the refer pass at [refer.c](https://github.com/ponylang/ponyc/blob/master/src/libponyc/pass/refer.c#L1129) is assuming it gets a nested reference, if it has something with a DOT at hand and tries to call a method `generate_multi_dot_name` that only supports nested references. If it hits a method call or similar, it simply asserts.

The solution i imagine is

[2020-01-26 13:54] mfelsche commented on #3453
Thanks for reporting btw! :)

[2020-01-27 20:45] jemc commented on #2217
Note that the "isolated regions" ideas mentioned by @plietar in https://github.com/ponylang/ponyc/pull/2043#issuecomment-319835433 have now been implemented by him and others in the Verona runtime and language.

As we work to target the Verona runtime for Pony programs, we can consider this topic as an additional language change that would be supported in a first-class way by the Verona runtime, a

[2020-01-28 18:35] rhagenson commented on #2932
Update on this, checking out master on 8a338c36aff15f7ce34fb0faf04df1d9a69da537 and running `git describe --tags` results in `0.4.0-1988-g8a338c36`.

If I fetch and checkout `release` then I get the correct result of `0.33.1`. I think the issue is that after the `0.4.0` release there was a switch to tagging versions on the `release` branch rather than on the `master` branch.

If I check the `git l

[2020-02-01 13:04] SeanTAllen commented on #3423
I'm planning on doing this tomorrow on the 2nd.

[2020-02-01 21:19] KittyMac opened #3455 "Crash in runtime due to ponyint_actor_run() executing the same actor at same time on two threads"
Full details are here:

https://github.com/KittyMac/pony.problems/tree/master/crash_due_to_parallel_actor_execution

Running the example with ponynoblock enabled is key to getting the crash. But the issue isn't the crash, the issue is ponyint_actor_run() is running for the same pony_actor_t at the same time on two different schedulers. When that happens, one of them reaches the end of ponyint_acto

[2020-02-01 22:08] SeanTAllen commented on #3455
I haven't looked closely at this, but I would think the most likely culprit would be a bug in the backpressure implementation code.

[2020-02-02 20:32] SeanTAllen commented on #3423
I found a problem with the new windows release process that needs to be fixed before this is done. Delaying by a day or so.

[2020-02-02 20:48] SeanTAllen commented on #3423
Release underway.

The new via ponyup/cloudsmith macOS release process failed due to a syntax error in the bash release scirpt. That was fixed and I'll give it another go for the next release. As is, this release is homebrew only for macOS.

[2020-02-02 21:05] SeanTAllen commented on #3423
Restarting release process from scratch as there were several errors encountered.

[2020-02-02 21:55] SeanTAllen commented on #3423
I ran into some issues. Going to try another day.

[2020-02-03 03:39] SeanTAllen commented on #3423
"Manually" triggered this release. Will try the full automated for next release and see if it works. Doing manually I found a number of issues but not sure everything we will work smoothly next time as the first issue that I was totally confused by, I sidestepped.

[2020-02-03 03:46] SeanTAllen commented on #3423
@stefantalpalaru @kamilchm @myfreeweb release underway

[2020-02-03 03:59] SeanTAllen commented on #3423
Linux and macOS releases are now in Cloudsmith.

[2020-02-03 04:00] SeanTAllen opened #3457 "Update release instructions for macOS to use ponyup"
Homebrew, your days are just about done as our recommended means of installation.

[2020-02-03 04:04] SeanTAllen commented on #3423
Docker images are now available

[2020-02-03 04:08] SeanTAllen commented on #3423
I manually updated the playground image. We need to work on automating that.

[2020-02-03 04:12] SeanTAllen commented on #3423
Windows release was broken when we switched from LLVM 7.0.1 to 7.1.0. Unfortunately, the deploy task was set to upload the results on the 7.0.1 job that no longer exists; that was fixed and I'm waiting on appveyor to run and upload to bintray.

[2020-02-03 04:51] SeanTAllen commented on #3423
Windows release is now in Bintray.

I'll work on release notes and an official announcement tomorrow evening.

[2020-02-03 05:12] stefantalpalaru commented on #3423
Gentoo ebuild updated.

[2020-02-04 19:36] EpicEric opened #3461 "Document that ponyup-installed ponyc requires glibc >=2.27"
Installing the bintray deb file still works on my system, but when I install with `ponyup update ponyc release` and run ponyc, I get:

    ponyc: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found (required by ponyc)

I'm running Linux Mint 18.3 Sylvia (based off Ubuntu 16.04 Xenial) with `ldd (Ubuntu GLIBC 2.23-0ubuntu11) 2.23`.

[2020-02-04 19:42] SeanTAllen commented on #3461
However, I'm a little confused. That is saying that the libm.so on the system requires glibc 2.27 right?

So that is something that is already on the machine, that libm.so and it requires a different version of glibc, yes?

[2020-02-04 19:48] SeanTAllen commented on #3461
There is no bintray version for 0.33.2 so I'm not sure what you are saying with that. That using the .deb that worked for Xenial but is no longer updated for new versions works? I'm not sure what you are trying to communicate with that information.

[2020-02-04 20:01] EpicEric commented on #3461
This is just glibc being awkward with different versions. It'd be best to document the current behaviour in the installation instructions.

[2020-02-04 21:03] SeanTAllen commented on #3423
All done.

[2020-02-04 21:03] #3423 closed

[2020-02-04 21:04] SeanTAllen opened #3462 "Release 0.34.0"
Target release date is Sunday May 3.

[2020-02-05 19:32] ivanbakel opened #3463 "Consume on LHS of assignment causes segfault"
I was experimenting with how Pony handles paths on the LHS of an assignment which have side-effects, and I managed to trip over this compiler bug.

## System

[code]
The distribution is Parabola, a free Arch variant. Unless packages contain non-free software, they are normally sourced directly from Archlinux instead of being repackaged.

## Compiler version

[code]

## Minimal Example

[code]
###

[2020-02-05 19:34] mfelsche commented on #3463
Thanks for the detailed report. I think this is the same assertion as is being hit in #3453.

[2020-02-06 03:10] KittyMac commented on #3455
During experimentation, I discovered if i add a pthread_mutex() to ponyint_mpmcq_pop() the problem goes away.

[2020-02-08 15:31] KittyMac commented on #3455
Ok, i understand this a bit more now.

Parts of ponyint_actor_run() does indeed run in parallel, and it looks like that is by design.  So the issue is no longer "there's a danger of messages being processes out of order on two different schedulers", and is back in the realm of "pony is crashing when ponynoblock is true and its under heavy message load".

The synchronization point in pony actors wh

[2020-02-13 05:03] presidentbeef opened #3464 "Undefined reference to `Main_runtime_override_defaults_oo'"
I am just trying to get basic C linking working.

Upfront, this is the error:

[code]

`Main_runtime_override_defaults_oo` was [added recently in 0.33.0](https://github.com/ponylang/ponyc/pull/3342) so I'm guessing it just isn't exposed correctly in `libponyrt.a`

I think this is easy for Pony developers to reproduce, but just in case I'm doing something wrong, here is what I did:

I have a tiny P

[2020-02-13 15:46] SeanTAllen commented on #3464
After looking at this, I believe you are required to add the function yourself in your case at the moment.

@jemc do you concur based on looking at how it currently exists?

[2020-02-13 20:32] jemc commented on #3464
Yeah, based on how it currently exists, doing what OP called "the dumbest thing possible" is the correct way to get this to work. That is, adding a definition like this will make it work:

[code]

Currently, this works in Pony programs by the Pony compiler generating a default implementation of this method if the program had none: https://github.com/ponylang/ponyc/blob/b6265be32d39b371a1b4b9f8dba8

[2020-02-13 21:09] presidentbeef commented on #3464
Just want to point out that I didn't mean  "the dumbest thing possible" in a derogatory way, I'm just not much of a C programmer so I don't know what makes sense.

Thanks!

[2020-02-13 21:43] jemc commented on #3464
Yeah, I didn't take it in a derogatory way - I just found it to be a funny situation and was glad to see that you got the workaround right on your first try.

[2020-02-16 16:18] kulibali commented on #3452
I cannot reproduce this issue.  I did the following:
- Downloaded a Windows 10 virtual machine image from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/
- Installed the Visual C++ Build Tools 2019 from https://visualstudio.microsoft.com/visual-cpp-build-tools
  - Installed the "Desktop Development with C++" workload.
  - Installed the "C++ core features" component.
- Downloaded a

[2020-02-16 16:18] #3452 closed

[2020-02-18 04:41] steakknife commented on #3457
**Suggestion:** HB should manage ponyup-init on macOS.

Some reasons include:
- configuration management
- packaging interoperability
- minimizing system entropy
- piping to shell isn't going to scale for a lot of people

[2020-02-18 12:32] SeanTAllen commented on #3457
Sorry, no. We are moving away from homebrew as a supported means of install. If 3rd parties want to support homebrew, they can. We, however, as a core team aren't going to.

The homebrew team can take a long time to accept updates. They can reject updates for the release process that we want to make including options we want on by default for people. Having a 3rd party team with no interest in the

[2020-02-28 04:35] chalcolith opened #3466 "Make CMake build use a PowerShell script for nightly and release"
Once #3234 is merged, add a PowerShell script to `.ci-scripts` to do nightly and release builds for Windows a la the Unix ones, instead of doing everything in `.cirrus.yml`.

[2020-02-28 04:37] kulibali opened #3467 "Add back the ability to compile without `-pic` to the CMake build system"
Once #3234 is merged, we should update the CMake build system to be able to build without `-pic` for performance reasons.

[2020-02-28 20:42] fdsc opened #3468 "Strange "+~" result"
I'm just learning Pony, but I think the semantics of the "+~ " operator is defined incorrectly.
The "+ ~ " operator assumes that it is translated into a pure machine code. Of course, the help specifies that the result is unpredictable.
However, the meaning of this operation is to translate to the exact machine code of the addition operation.
I can see that this is not happening

[code]
Unfortunate

[2020-03-01 20:09] mfelsche commented on #3468
Thanks for sharing your concerns, but I think we are good here.

Contrary to common belief `+~` does not directly translate to the raw machine instruction for `add`. It translates directory to the LLVM `add` with the `nuw` flag. https://releases.llvm.org/9.0.0/docs/LangRef.html#add-instruction

When compiling your pony program in debug mode (using `--debug`), no optimizations are applied, and `+~`

[2020-03-01 20:09] #3468 closed

[2020-03-01 23:22] niclash commented on #3468
FTR, the given example produces "0" for all on my machine (Linux x64) as it does on playground; https://playground.ponylang.io/?gist=4e6c3e3cdf3cdb26c8501ed6b24ca627

[2020-03-02 18:00] cup commented on #2079
I am willing to donate $800 if this can be implemented, thank you!

[2020-03-03 08:36] sblessing commented on #1837
@SeanTAllen Yes. I do have various examples running and so far it looks good. Do we need an RFC to eventually get this merged (and potentially at first have this as an experimental ponyc option)

[2020-03-03 10:13] mfelsche commented on #1837
I think an RFC would make sense to clarify how/if to expose it to users of `ponyc` (as an experimental flag or just replace using the system linker).
I know I tend to avoid the RFC-route, but in this case I would be fine to bring it in without RFC if it is only enabled via experimental option flag.

[2020-03-19 04:35] zzz6519003 opened #3469 "Is it as a de facto recognition of actor-model?"

[2020-03-19 13:05] SeanTAllen commented on #3469
Please ask questions like this in the zulip in the future.

https://ponylang.zulipchat.com/#

Can you clarify the question? I'm not sure what you are asking.

[2020-03-19 13:05] #3469 closed

[2020-03-26 18:15] #3204 closed

[2020-03-29 20:00] Theodus opened #3481 "Add installed libponyrt to compiler search path for linking"
#3480 partially resolves this issue by copying libponyrt to the same directory as ponyc during install. The compiler should be able to search in the `$(ponydir)/lib/$(arch)` directory. The compiler emits the bin directory as a linker search path, but it is currently unknown how the compiler receives this path.

In short, the linker flags given to link a Pony executable are as follows on my GNU Lin

[2020-04-01 14:42] damon-kwok opened #3485 "[Windows] Support for Visual Studio 2019"
Support for Visual Studio 2019

[2020-04-01 14:54] kulibali commented on #3485
If you are asking whether you can build PonyC with Visual Studio 2019, the answer is yes.  Please see https://github.com/ponylang/ponyc/blob/master/BUILD.md#windows for more information.

If you have further questions about building and running PonyC, please ask them in Zulip: https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help

[2020-04-01 14:54] #3485 closed

[2020-04-01 15:23] damon-kwok commented on #3485
@kulibali
ponyc + vs2019 can't work, please see here:
https://github.com/ponylang/ponyc/blob/master/src/libponyc/platform/vcvars.c#L25

[2020-04-01 15:33] kulibali commented on #3485
We now try using `vswhere.exe` (https://github.com/Microsoft/vswhere/wiki) to find Visual Studio first, and the line you mention is a fallback for if `vswhere.exe` is not found.

See https://github.com/ponylang/ponyc/blob/47eeb5101738c197fc802802efdabdc4ec9f82a3/src/libponyc/platform/vcvars.c#L355 and following.

[2020-04-02 01:39] damon-kwok commented on #3485
@kulibali
it's not work.

- **Ponyc**
C:\Users\damon\Desktop\pp1>ponyc --version
nightly20200326 [release]
Compiled with: LLVM 9.0.1 -- MSVC-19.25.28610.4-x64 1925

- **Vswhere**
C:\Program Files (x86)\Microsoft Visual Studio\Installer>vswhere
Visual Studio Locator version 2.7.1+180c706d56 [query version 2.6.32.15131]
Copyright (C) Microsoft Corporation. All rights reserved.

- **Test**
C:\Users\d

[2020-04-02 01:51] damon-kwok commented on #3485
Visit https://github.com/damon-kwok/ChezScheme/blob/master/c/vs.bat

[2020-04-02 02:34] kulibali commented on #3485
It looks like there's something wrong with your Visual Studio 2019 installation, because `vswhere.exe` is not listing any versions.  Have you installed the `Desktop Development with C++` workload via the Visual Studio installer (see https://github.com/ponylang/ponyc/blob/master/INSTALL.md#windows)?

When I run `vswhere -latest -products *` the output looks like this (PonyC looks for the line start

[2020-04-02 04:22] damon-kwok commented on #3485
yes, `Desktop Development with C++` is work.
`vswhere` can't found the vs2019 preview version

[2020-04-02 05:00] damon-kwok commented on #3485
https://github.com/microsoft/vswhere/issues/218#issue-592358578

[2020-04-02 08:46] damon-kwok commented on #3485
@kulibali https://github.com/microsoft/vswhere/issues/218#issuecomment-607668542

[2020-04-02 22:45] kulibali commented on #3481
The paths are added in `src/libponyc/pkg/package.c` lines 688 and following.  It looks like it's trying to add a '../lib' directory but only if one is there.  I'll investigate further on Linux.

[2020-04-03 00:02] #3481 closed

[2020-04-05 20:46] palash25 opened #3491 "More comments in the example code"
Hi :wave: just started learning Pony a day ago and today I decided to take a look at examples. I found the ring example and started checking out the code, it interested me because I was recently learning about rings in elixir and riak and wanted to see how Pony code differs from it.

I found the file to be lacking in comments explain what the code actually does at a higher level. Since the example

[2020-04-05 21:06] SeanTAllen commented on #3491
Yes, please feel free to submit improvements that make the examples more beginner friendly. We'd definitely welcome that.

Please keep it to 1 example per PR.

[2020-04-07 23:59] SeanTAllen commented on #3402
@kulibali we can close this now, yes?

[2020-04-08 00:43] kulibali commented on #3402
Yes.

[2020-04-08 00:43] #3402 closed

[2020-04-08 02:21] kulibali opened #3496 "Re-implement the Unix Makefile USE_CHECKS features in the new CMake build"
I missed implementing the `use` options (see https://github.com/ponylang/ponyc/blob/5858df3b2c5c2117c986844d948c1caebea71a55/Makefile-ponyc#L214) in the Unix Makefile for the new CMake build.

These need to be integrated into the CMake build.

[2020-04-09 18:33] J0WI opened #3498 "Rename SO_{RCV,SND}TIMEO for Linux 5.1"
https://github.com/ponylang/ponyc/blob/2bf65c0ed5975e97c7ef28ad242ead294b10ff05/src/libponyrt/lang/socket.c#L4473-L4474
https://github.com/ponylang/ponyc/blob/2bf65c0ed5975e97c7ef28ad242ead294b10ff05/src/libponyrt/lang/socket.c#L4530-L4531

They have been [renamed](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=45bdc66159d49bfc7f75fe02d25bc74f5d2660cf) in Linux 5.1.

[2020-04-12 00:52] SeanTAllen commented on #3462
I want to get #3496 fixed before this release

[2020-04-12 00:53] SeanTAllen commented on #3496
I don't want to do the 0.33.3 release until this is in.

[2020-04-13 19:58] slfritchie commented on #3498
Hi, @J0WI, thanks for opening this ticket; I didn't know that this renaming is happening in the Linux kernel.

If you (or anyone else) has the need to use these constants, with the `_OLD` or `_NEW` suffix, it would be straightforward to add them.  A PR with that patch would be nice, but not strictly necessary if you need something to work right now.

At the moment, it looks like `UDP_VENDOR` is th

[2020-04-14 18:42] J0WI commented on #3498
This will still fail to compile on Linux 5.1+:
[code]
Renaming them with `_OLD` works fine for me.

[2020-04-14 21:36] slfritchie commented on #3498
Thanks, @J0WI.  Could you try the patch at https://gist.github.com/slfritchie/954557a58e1afce558db912356ee3c7a ?  That creates the new constants plus the `OSSockOpt` glue to use them.

[code]

When I run this on a machine that doesn't have `SO_RCVTIMEO_NEW` available (like my OS X laptop), the value printed is -1.

[2020-04-15 01:12] J0WI commented on #3498
It does not compile, same error as before.

[2020-04-16 14:30] sblessing opened #3501 "Running the cycle detector in relation to --ponycdinterval"
Hey there,

I have been wondering for quite some time about pony's behavior with respect to garbage collecting actors. It seems to work correctly in simple cases, where `--ponynoblock` is given and no one holds references to actors (see actor.c:452-463). However, this case almost never exists in slightly more complex cases of actor applications, and will probably only ever apply to a small subset

[2020-04-17 05:01] dipinhora commented on #3501
You're right. That's a current limitation that doesn't need to exist and was not an explicitly intended behavior on my part when i was fiddling with things. Adding it onto the `inject` queue for any scheduler thread to pick up is the better option as you've explained.

[2020-04-17 06:50] sblessing commented on #3501
Would [this](https://github.com/sblessing/ponyc/commit/f24a23c7bbd5882d1faccdd9c7db2597dec50862) be a potential fix to achieve the above?

Obviously, we can do this prettier. Moreover, I still see some weird behavior when the cycle detector starts working. Are we positive, in the context of backpressure, that actors are never muted when talking to the cycle detector?

The code in `actor.c` suggest

[2020-04-18 05:00] SeanTAllen opened #3503 "MacOS test suite segfault"
I noticed this segfault as part of a test run. There's really not much info, but we definitely have some sort of bug somewhere or this wouldn't have happened:

https://api.cirrus-ci.com/v1/task/6295747205267456/logs/test.log

[test.log.txt](https://github.com/ponylang/ponyc/files/4496074/test.log.txt)

[2020-04-18 16:35] SeanTAllen opened #3504 "nightly macOS builds aren't working"
This appears to be a post-cmake transition issue. The error is

dyld: Library not loaded: @rpath/libLTO.dylib

which suggests that LTO has been inadvertently turned on.

You can see ponyup bootstrap failure that found the issue here:

https://github.com/ponylang/ponyup/pull/97/checks?check_run_id=598068895

and there's an ongoing Zulip conversation here:

https://ponylang.zulipchat.com/#narrow/str

[2020-04-18 16:36] SeanTAllen commented on #3462
This is currently blocked by https://github.com/ponylang/ponyc/issues/3504

[2020-04-18 17:17] #3496 closed

[2020-04-18 18:58] SeanTAllen commented on #3504
From Rocco in Zulip:

ok, i have finished my investigation. My guess was correct, the libLTO.dylib is being included in llvm, which results in it being linked when building ponyc. I tracked it down to the turning off LLVM_ENABLE_PIC , which gets rid of the lto dependency. That exposed a libRemarks.dylib dependency, which can then be removed by turning off LLVM_TOOL_REMARKS_SHLIB_BUILD.

With those

[2020-04-18 21:26] #3504 closed

[2020-04-19 02:55] dipinhora commented on #3501
@sblessing i'm 99.9% sure (it is possible i'm missing or misunderstanding something) that actors will not get muted due to sending messages to the cycle detector (the messages are not considered application messages and so will not trigger the `maybe_mute` code path in `pony_sendv`).

re: your suggested fix:

* can you move this assertion `pony_assert(ctx->current == actor);` (https://github.com/s

[2020-04-19 09:36] sblessing commented on #3501
@dipinhora thank you very much for the feedback and taking the time to tackle this issue. I have changed & rebased the [commit](https://github.com/sblessing/ponyc/commit/91ecfb27d1640956dffaeafa4e607ec3a696405f) based on you concerns - which are correct and make perfect sense.

I have also changed the implementation to be slightly more re-useable, such that the global inject queue context will be

[2020-04-19 11:39] sblessing commented on #3501
Also, in a [benchmark](https://github.com/sblessing/chat-app) application, we were facing issues were collection of `accumulator` actors has been deferred to basically the entire benchmark becoming quiescent. This prevented us from running larger instances, because of memory limits.

Imho, with the change of commit  https://github.com/sblessing/ponyc/commit/91ecfb27d1640956dffaeafa4e607ec3a696405f

[2020-04-19 12:26] SeanTAllen opened #3508 "builtin/Valtrace fails periodically for Windows debug builds"
I don't see this failure anywhere else. But from time to time, Windows debug builds are failing on builtin/Valtrace:

---- 256 tests ran.
�[92m---- Passed: 255�[0m
�[91m**** FAILED: 1 test, listed below:�[0m
�[91m**** FAILED: builtin/Valtrace�[0m
grammar original hash:  0F1D8ED730FB20A6DCFD3C59D4625420AECCCDD488E2E778F241F2F9D5DB64A4
grammar generated hash: 0F1D8ED730FB20A6DCFD3C59D4625420AECCCDD4

[2020-04-20 12:25] SeanTAllen commented on #3462
RELEASE NOTE FOR #3507
-----

PR #2709 introduced the cycle detector being lazily scheduled once a certain amount of cpu ticks (`--ponycdinterval`) has passed. Scheduler thread 0 would then 'wake up' the the cycle detector by sending it a `CHECK_BLOCKED` message. The cycle detector would then be appended to back of scheduler-0's queue. The cycle detector would then only be scheduled if either

1.

[2020-04-20 14:56] pmamatsis opened #3513 "Makefile 'uninstall' target does not clean up everything"
Hi everyone,
   i wanted to report an issue with the ```make uninstall``` target. When it is invoked it does not delete the folders which are created in ```/usr/local/lib```. Of course it doesn't create any issue but it's not nice to leave a system in a different state as the one you found it! To give some details:

OS Tested: Linux
Distro: Manjaro Linux
Steps to reproduce: build everything and th

[2020-04-20 17:45] Theodus commented on #3513
@SeanTAllen correct me if I'm wrong. Should there be a `/usr/local/lib/native` containing libponyrt when that is already in `/usr/local/lib/pony/$(tag)/lib/native`? That seems like a mistake to me.

[2020-04-20 22:39] SeanTAllen commented on #3513
i'm not sure what the symlinking is doing @Theodus

[2020-04-20 22:40] SeanTAllen commented on #3513
@Theodus it does put symlinks in /usr/local/lib

my older, precmake one has

![image](https://user-images.githubusercontent.com/193596/79806435-67225f80-8336-11ea-8729-b7edb7993a0a.png)

[2020-04-21 06:23] dipinhora commented on #3501
@sblessing re: batching, my idea is a simple hack (which others may or may not agree is a good idea). i was planning on modifying `ponyint_cycle_check_blocked`, `ponyint_cycle_actor_created`, `ponyint_cycle_actor_destroyed`, `ponyint_cycle_block`, `ponyint_cycle_unblock` and `ponyint_cycle_ack` to call a custom copy of `pony_sendv` modified to only call `ponyint_sched_add` when an `ACTORMSG_CHECKB

[2020-04-21 22:03] #3513 closed

[2020-04-21 22:03] #3498 closed

[2020-04-23 02:25] SeanTAllen opened #3520 "Add setting $CC and $CXX to documentation for using prebuilt Pony installs"
It now defaults to clang instead of gcc.

More users will probably have gcc rather than clang.
We could document how to set in the installation instructions.

[2020-04-23 14:58] sblessing commented on #3501
@dipinhora Thanks for bringing me into the loop. I have some thoughs on this, and will open another issue for this!

This one can be closed!

[2020-04-23 17:28] #3501 closed

[2020-04-24 17:41] SeanTAllen opened #3524 "Investigate cause of nightly builds not working when installed"
Since the cmake switch, if we built macOS without:

set(LLVM_ENABLE_PIC OFF)
set(LLVM_TOOL_REMARKS_SHLIB_BUILD OFF)

then you couldn't use the build on a different machine when installing via ponyup.

Once we switch Linux builds from gcc to clang as the compiler to build with, we had the same issue.

We didn't have this issue with macOS prior to the cmake change.
It might have been that these opti

[2020-04-26 11:38] damon-kwok opened #3528 "ponyc crash"
- OS: Windows 10
- VS: Microsoft Visual Studio Community 2019 Preview: Version 16.6.0 Preview 4.0
- ponyc version: 0.33.2-19bf994 [release]

In order to successfully compile in VS2019 preview 4.0
- modified:   src/libponyrt/mem/pool.c:77 insert code: pool_block_t(){}
[code]
- modified: make.ps1  add:"-prerelease" for vswhere
[code]

[code]
[code]
[code]

## build ponyc
[code]

## build info:
[code

[2020-04-26 12:41] SeanTAllen commented on #3528
I'm going to try to reproduce on Ubuntu without the change to pool.c.

It would be helpful if someone can try reproducing in a Windows environment that doesn't require the change to pool.c. The pool.c changes should be unrelated, but fewer variables is always better.

[2020-04-26 12:42] damon-kwok commented on #3528
yes, dont't need change `poo.c` for `linux`

[2020-04-26 13:13] SeanTAllen commented on #3528
Test case inline (in case the playground disappears) is:

[code]
    See also: `map_join`
[code]
    """
    var s: String = ""
    var i: USize = 0
    for e in a.values() do
      if f_str is None then
        s = s + try (e as Stringable).string() else "*" end
      else
        s = s + try (f_str as {(B): String val})(e) else "*" end
      end
      if i < (a.size() - 1) then s = s.add(joiner)

[2020-04-26 13:14] SeanTAllen commented on #3528
I am able to reproduce on Ubuntu 18.04.

 …  3528   ~/code/ponylang/ponyc/build/release/ponyc
Building builtin -> /home/sean/code/ponylang/ponyc/packages/builtin
Building . -> /home/sean/pony-scratch/3528
Building random -> /home/sean/code/ponylang/ponyc/packages/random
Building ponytest -> /home/sean/code/ponylang/ponyc/packages/ponytest
Building time -> /home/sean/code/ponylang/ponyc/packages/

[2020-04-26 13:17] SeanTAllen commented on #3528
It does build with optimizations off (as expected)

[code]

[2020-04-26 13:18] SeanTAllen commented on #3528
@damon-kwok if you can create a smaller minimal example, that would be very helpful.

[2020-04-26 14:43] damon-kwok commented on #3528
I am able to reproduce on `manjaro 19.0.2`

[2020-04-26 15:07] damon-kwok commented on #3528
@SeanTAllen
minimal example:
https://playground.ponylang.io/?gist=088deb24c703163e5befaa0d876926dc
Now if you delete any line, the crash cannot be reproduced

[2020-04-26 15:31] EpicEric commented on #3528
Minimal reproduction:

[code]

[2020-04-26 15:38] damon-kwok commented on #3528
@EpicEric no, your code is works. not crash.

[2020-04-27 20:30] Shaping commented on #1407
@autodidaddict  I agree completely.

[2020-04-28 07:18] damon-kwok opened #3529 "Another way to crash ponyc"
- Note, Operating system independent, version independent.
- Note, It must appear under multiple files, and it will not happen if the code is merged into one file
- This is my minimal example：
main.pony
[code]
any_map.pony:
[code]

any_set.pony:
[code]

[code]

[2020-04-28 19:42] mfelsche commented on #3528
I was able to make the example from compile here https://github.com/ponylang/ponyc/issues/3528#issuecomment-619566893 by using `elseif` with `iftype` https://playground.ponylang.io/?gist=da18b57d948144a4ab4dedfe25db9e9a

This is not solving this bug, but might present workaround for the time being.
I do remember some limitations on iftype, i.e. that it is not safe to use it as basically the whole