[2020-04-29 02:55] damon-kwok commented on #3528
@mfelsche
It may be that multiple iftypes in a row cause some problems in the generated code.
This problem seems to have some randomness, if you comment some insignificant code, it can also be successfully compiled.`iftype` is an enemy worth watching

[2020-04-29 12:51] damon-kwok commented on #568
[code]
@aturley  It's works.
@SeanTAllen This issues can be `closed`.

[2020-04-30 05:09] #2821 closed

[2020-04-30 05:10] kulibali commented on #2719
Is #3530 a good enough fix for this?

[2020-04-30 07:59] damon-kwok opened #3531 "Literal partial application leads to crash"
OS: System independent
Ponyc： Version independent

[code]

<details>
-*- mode: compilation; default-directory: "~/workspace/projects/pony/pony-shoe/" -*-
Compilation started at Thu Apr 30 15:50:25

ponyc
Building builtin -> D:\msys64\home\damon\.ome_local\repo\ponyc-git\build\install\packages\builtin
Building . -> d:\msys64\home\damon\workspace\projects\pony\pony-shoe
Building ponytest -> D:\msys6

[2020-04-30 08:19] mfelsche commented on #2719
To me it is. :)

[2020-04-30 15:19] #2719 closed

[2020-05-01 04:36] kulibali commented on #3462
RELEASE NOTE FOR #3234
-----

A new build system for ponyc based on CMake has been implemented. Requirements and instructions for building from source have changed; please see BUILD.md for updated details.

[2020-05-01 04:40] kulibali commented on #3462
RELEASE NOTE FOR #3530
-----
The ProcessMonitor class now takes an argument for the desired working directory of its child process, and will change to that directory prior to spawning the child.

Also, for debugging convenience, errors that happen before the child process's standard error is set up will be piped to the notifier's stderr.

[2020-05-01 04:45] kulibali commented on #3462
RELEASE NOTE FOR #3532
-----
The types in the `ProcessError` union in the `process` stdlib package now contain error messages.  So instead of matching on the individual types and providing your own error messages, you can call `.string()` on a single value of type `ProcessError` to get an error message.

[2020-05-02 02:25] SeanTAllen commented on #3462
No additional changes should be made release notes on this issue. All additional changes should be added to the branch for the WIP release notes:

https://github.com/ponylang/ponylang-website/pull/553

[2020-05-03 12:52] SeanTAllen commented on #3462
Release is underway

[2020-05-03 12:53] SeanTAllen commented on #3462
@stefantalpalaru release is underway. note starting with this release, the build system is now cmake and using a system installed llvm is no longer an available option. if these changes are such that you don't want to maintain the gentoo e-build anymore, let me know and i will remove notifying you from the release process notes.

[2020-05-03 12:56] SeanTAllen opened #3533 "Update release process to no longer use "release" branch"
With our move to GitHub actions and CirrusCI for all releases, we no longer need to use the magic release branch for doing releases.

The release process can be updated to remove that additional complexity.

I'm assigning myself as I am currently the most qualified to tackle this.

[2020-05-03 12:57] SeanTAllen commented on #3462
@stefantalpalaru I can into a problem with the release process so I'm pausing this for the moment.

[2020-05-03 12:58] SeanTAllen commented on #3462
I ran into a problem with the release process where doing https://github.com/ponylang/ponyc/issues/3533 now rather than after this release makes the most sense.

[2020-05-03 13:35] #3533 closed

[2020-05-03 13:38] SeanTAllen commented on #3462
Release underway again with #3533 having been addressed.

[2020-05-03 14:01] SeanTAllen commented on #3462
@stefantalpalaru rolling again

[2020-05-03 14:04] SeanTAllen commented on #3462
Waiting on Windows package upload.

All other builds are done and uploaded. Docker images are available.

[2020-05-03 14:09] SeanTAllen commented on #3462
Windows upload is done. Next step: I need to update the playground manually.

[2020-05-03 14:46] SeanTAllen commented on #3462
playground has been updated.

[2020-05-03 14:50] SeanTAllen commented on #3462
release is done. thanks for playing along folks.

[2020-05-03 16:54] EpicEric commented on #2932
Fixed by #3534.

[2020-05-03 16:54] #2932 closed

[2020-05-03 16:56] SeanTAllen commented on #2932
Hooray for accidentally fixing things! Go me!

[2020-05-03 20:33] stefantalpalaru commented on #3462
Don't worry, I can package any steaming pile of software you can throw at me ;-)

https://github.com/stefantalpalaru/gentoo-overlay/blob/cac57a6744c390d3c7d0b4ff50f3fdbd653852a7/dev-lang/pony/pony-0.34.0.ebuild

Now, I get that projects relying on LLVM have to fork it, sooner or later, but why are you also vendoring a couple of Google libraries? Why is the build system assuming it's in a Git repo,

[2020-05-03 20:38] SeanTAllen opened #3535 "Release 0.34.1"
Planned release date is June 5, 2020

[2020-05-03 20:42] SeanTAllen opened #3536 "C compiler used as linker gets hardcoded"
When we switched from gcc to clang as our default compiler, I noticed that the path to the compiler ends up as an absolute one for the linker.

So for example if clang was located at /usr/bin/clang on the build machine, when you install the resulting ponyc on another machine, it will require `/usr/bin/clang` to exist. rather than just `clang`.

I don't know if it was like this prior to our switch

[2020-05-05 15:08] Theodus opened #3537 "Linux builds of ponyc require libz3-4"
Recent release and nightly builds of ponyc fail to execute on non-ubuntu distributions with the following error:
[code]
Z3 is used for Clang static analyzers, but I would expect that it would not be required for llvm by default. We may need to set `LLVM_ENABLE_Z3_SOLVER=0` in the CMakeLists somewhere.

~~We should then rebuild the 0.34.0 release of ponyc for LInux for Cloudsmith.~~
This should tri

[2020-05-05 15:18] SeanTAllen commented on #3537
@Theodus I'd prefer to do a 0.34.1 release.

[2020-05-05 17:57] SeanTAllen commented on #3535
Target date has been moved up by "emergency" release when https://github.com/ponylang/ponyc/pull/3538 is merged.

[2020-05-05 19:08] jemc commented on #3536
Some notes from a quick discussion at the end of today's sync call:

There are a few places where the version of clang and the version of LLVM that clang was compiled with come into play.

- We have an LLVM IR snippet that we use for exception handling, and we need to use a clang version compatible with that LLVM IR.

- Users who want to use the runtime bitcode for whole program optimization would

[2020-05-05 20:30] #3537 closed

[2020-05-06 13:40] Theodus opened #3540 "Default type parameter may not access prior type parameters"
I would like to be able to do something like the following:
[code]
which works, but at the callsite the `A` on the RHS of the `=` for type parameter default is not replaced with the `A` given. e.g. `Iter[U8]([0].values())` gives the following errpr:
[code]

[2020-05-07 00:27] SeanTAllen commented on #3535
This is good to go. I'll release when I have a bit of time. At the moment, I'm play bar trivia by Zoom.

[2020-05-07 02:33] SeanTAllen commented on #3535
Release is underway.

[2020-05-07 02:38] SeanTAllen commented on #3535
Docker images are up on DockerHub.

[2020-05-07 02:42] SeanTAllen commented on #3535
Playground has been updated.

[2020-05-07 02:47] SeanTAllen commented on #3535
All packages are up on Cloudsmith.

[2020-05-07 02:51] SeanTAllen commented on #3535
Release is done and announced.

[2020-05-07 02:51] #3535 closed

[2020-05-07 02:52] SeanTAllen opened #3542 "Release 0.35.0"
Target date is the first weekend in June.

[2020-05-08 00:51] damon-kwok opened #3543 "union type bug"
[code]
See: https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help/topic/reference.20capability.20bug.3F/near/196746595

[2020-05-08 01:28] SeanTAllen commented on #3543
@damon-kwok please include all the information in the issue rather than referring to Zulip otherwise people will have to refer to the zulip and someone else will have to copy it over. You can provide a link for additional context but enough information to start addressing the issue should be included. This is missing valuable information.

Thanks.

[2020-05-08 01:34] damon-kwok commented on #3543
Here are some zulip discussions that may be helpful in analyzing bugs：

To add onto this: it does not work with:
fun each(a: A, f: ({(B)} val | {(B): B} val) ): A^ => a
but does work with:
fun each(a: A, f: ({(B): B} val) ): A^ => a
So I think there's an issue with unions here as the former should accept more arguments

[2020-05-08 02:15] damon-kwok opened #3544 "ponyc build error summary on windows"
## LLVM build error and fix method
<details>
PS D:\msys64\home\damon\.ome_local\repo\ponyc-git> .\make.ps1 libs
Source directory: D:\msys64\home\damon\.ome_local\repo\ponyc-git
Build directory:  D:\msys64\home\damon\.ome_local\repo\ponyc-git\build\build
Libs directory:   D:\msys64\home\damon\.ome_local\repo\ponyc-git\build\libs
Output directory: D:\msys64\home\damon\.ome_local\repo\ponyc-git\build

[2020-05-08 02:38] SeanTAllen commented on #3544
everything in lib/llvm/src is LLVM source code and you would need to get a change into LLVM. That isn't source that we have control over.

I find it hard to understand what your changes are, can you please provide diffs instead?

[2020-05-08 02:40] SeanTAllen commented on #3544
@damon-kwok the CI doesn't find the problems because they aren't problems with the systems that we support.

[2020-05-08 02:42] SeanTAllen commented on #3544
@damon-kwok here are what we support for Windows:

https://github.com/ponylang/ponyc/blob/master/BUILD.md#windows

If you would like to expand what is supported, please provide a PR that works shows that it continues to work with those and will also works for you.

[2020-05-08 02:50] SeanTAllen commented on #3529
I'm unable to verify on Ubuntu 18.04 with 0.33.1. I get the correct syntax error message.

[2020-05-08 02:54] SeanTAllen commented on #3529
Can't replicate on Ubuntu 18.04 with latest master. I get the correct syntax error message.

[2020-05-08 02:54] SeanTAllen commented on #3529
@damon-kwok you'll need to provide more detailed replication instructions.

[2020-05-08 03:01] damon-kwok commented on #3529
@SeanTAllen
OS: Windows10
Ponyc: 0.33.2  0.34.1
[code]
-*- mode: compilation; default-directory: "~/workspace/projects/pony/crash_ast/" -*-
Compilation started at Fri May  8 10:58:16

ponyc
Building builtin -> D:\msys64\home\damon\.ome_local\repo\ponyc-git\build\install\packages\builtin
Building . -> d:\msys64\home\damon\workspace\projects\pony\crash_ast
Building collections -> D:\msys64\home\damo

[2020-05-08 03:03] SeanTAllen commented on #3529
@kulibali can you see if you get an error with a windows build?

[2020-05-08 14:51] sblessing opened #3551 "premature termination of pony runtime under some situations"
**EDIT**: it has since been found that this isn't a backpressure situation as much as backpressure is making it more likely to occur. investigation is ongoing**

Running a [benchmark application](https://github.com/sblessing/chat-app) on large machines (> 48 physical cores), shows that the pony runtime backpressure/actor mute feature in combination with `ponyint_sched_mute` does lead to premature

[2020-05-08 14:58] SeanTAllen commented on #3551
Can you explain where this demonstrates premature termination? I'm not sure what you mean by "premature termination" is the same thing that I take it to mean.

[2020-05-08 14:59] sblessing commented on #3551
The program terminates although there is still work left.

[2020-05-08 14:59] SeanTAllen commented on #3551
How is to possible for a program to terminate and for the graph to continue?

[2020-05-08 15:03] SeanTAllen commented on #3551
Can you work on coming up with a specific application environment that is, ideally, reproducible to show the early termination problem?

[2020-05-08 15:05] sblessing commented on #3551
Indeed, that would be ideal. The problem is that I can only observe it on large core count environments and its non-deterministic. The only thing I do know for sure is that the problem goes away with the above linked commit.

[2020-05-08 15:06] KittyMac commented on #3551
@sblessing : if you give me specific instructions on what to download/compile/run i can attempt to replicate here (i have 28 core machine)

[2020-05-08 15:07] sblessing commented on #3551
Thanks, i do have a 48 core box available, and I haven't observed it there. You can checkout https://github.com/sblessing/chat-app and just run the pony implementation at `pony/` with its default arguments.

[2020-05-08 15:12] SeanTAllen commented on #3551
Actor muting will have a performance impact on any application that triggers it. Testing has shown in has no real measurable impact on applications that do not trigger it.

Muting does prevent runaway memory growth that can otherwise result.

Something I've wanted to do with the muting is make it "more advanced" by allowing some actors to process more messages in a batch if they are regularly over

[2020-05-08 15:14] sblessing commented on #3551
@SeanTAllen i'll try to give a useful answer on your question ASAP.

[2020-05-08 15:19] SeanTAllen commented on #3551
@sblessing yes, where an actor is unable to keep up with the messages it is being sent by other actors and memory grows and grows. so if the application in question reaches a stable point memory wise but performance is impacted than woo-hoo! i finally have a good test case for "phase 2" of backpressure work.

[2020-05-08 15:20] sblessing commented on #3551
I am currently running a memory inspection with muting turned on and without muting turned on. I should be able to answer this later today.

[2020-05-08 15:28] KittyMac commented on #3551
@sblessing what is the expected output? what am i supposed to see if it terminates permaturely?

[2020-05-08 16:20] kulibali commented on #3529
Yeah, I can repro this on Windows.

[2020-05-08 16:28] SeanTAllen commented on #3529
@kulibali what's a better title for this issue?

[2020-05-08 17:22] sblessing commented on #3551
@KittyMac you would see a statistics output if everything worked correctly, and if not, you would see only the first benchmark header line.

That is,

OK:

[code]

Broken:

[code]

[2020-05-08 17:43] KittyMac commented on #3551
@sblessing excellent. To confirm, for the error case the executable actually exits?  Or just it just hang.

When I attempt with stock pony I get the correct output as you describe.  But when I try on my fork of pony I get the second, with it hanging without exit, consistently.  If that's the expected error, then I will dig in and see if I can find the cause.

[2020-05-08 17:51] sblessing commented on #3551
No in my case, it always exited. I never did hang.

[2020-05-08 19:42] KittyMac commented on #3551
Ok, I spent a bit looking;  will most probably spend a bit more time looking this weekend.

Here's what I've seen so far. These experiments are mostly on my fork, so take with a grain of salt.

1. when running against a debug ponyrt, I get an assert here

[code]

Which implies to me the is_muted has an unexpected value going into that function.  Perhaps it was asked to be muted twice?  Anyway, I t

[2020-05-08 19:57] SeanTAllen commented on #3551
@KittyMac I'm going to ignore any debugging from your fork. It's against an unknown codebase and looking for assertion problems that might be the result of a change you've made isn't something I'm going to undertake.

I don't take any cautionary tale from it other than "something is wrong in your fork". Might it exist elsewhere? Yes, but there's been tons of production usage of the muting code in

[2020-05-08 20:14] sblessing commented on #3551
@KittyMac quality of service, lower is better, but thats not really the topic here :). I happy to discuss that offline.

[2020-05-08 20:30] SeanTAllen commented on #3551
I'm very dubious that the particulary assertion that was triggered in @KittyMac's fork exists in the stock ponyrt. I can believe that @sblessing is hitting an issue, but that assertion seems really really unlikely. here's the code for mute and unmute:

[code]

to get that assertion in unmute without hitting in mute actor would be incredibly unlike and mean that everything is completely borked some

[2020-05-08 20:41] KittyMac commented on #3551
My apologies, I usually work under the assumption that more information is better than less information.  I will curb myself going forward.

[2020-05-08 20:43] SeanTAllen commented on #3551
There's no need to apologize @KittyMac.

[2020-05-08 21:24] SeanTAllen commented on #3551
@KittyMac are you on ARM on X86?

[2020-05-08 21:30] KittyMac commented on #3551
This is on 28-core X86 machine.

I just tried reproduction using stock pony with mixed results:

1. With the normal hw_cpu_count, his issue doesn't reproduce for me.  But that's not surprising, as he said it needed a machine with > 48 cores.

2. So I tried artificially raising the hw_cpu_count to 112. The program then behaves for me exactly how @sblessing describes, every time.

3. I don't see the

[2020-05-08 21:33] sblessing commented on #3551
@KittyMac good idea for tracking this with hw_cpu_count. I can confirm that it appears it happen every time on really large core/thread counts.

Also, for completeness, I am running on - but this won't be the issue.

[code]

[2020-05-08 21:34] SeanTAllen commented on #3551
@KittyMac as a bonus though of your assertion, i went back and looked at the muting code atomics with sylvan and we think there is a possible but on ARM, so you ended up probably being the result of the fix of a bug on ARM.

[2020-05-08 21:45] sblessing commented on #3551
@SeanTAllen can you briefly explain the ARM bug?

[2020-05-08 22:01] SeanTAllen commented on #3551
@sblessing no because all i got when sylvan reviewed was "hmmm, that is likely to be subtly wrong on ARM"

[2020-05-09 09:22] sblessing commented on #3551
I need to correct: with my commit above, disabling the muting, we see the problem far less often, but it still occurs.

[2020-05-09 11:26] SeanTAllen commented on #3551
@sblessing the plot thickens! are you using the cycle detector? is `pony --noblock` in use?

[2020-05-09 11:31] sblessing commented on #3551
I do, and hence not using `--ponynoblock`. In general, using and not using `--ponynoblock` is quite problematic for the process of benchmarking. Using `--ponynoblock` causes actors not to be collected (at least for this application), or at least their finalizers not to be called. Not using `--ponynoblock` slows down the process considerably, because when lots of actors are in place, ponyrt takes a

[2020-05-09 11:35] SeanTAllen commented on #3551
@sblessing --ponynoblock does not cause actors to not be collected in general, it would however if you have cycles.

@jemc is slowly working on porting to use the verona runtime which doesn't need the cycle detector which is... very nice for performance. I will be happy when the pony runtime no longer has a cycle detector.

Anyway, trying to recap where we stand...

1) happens with cycle detector

[2020-05-09 11:39] sblessing commented on #3551
Yes, your list is complete. I do know about the actor GC in correlation with `--ponynoblock` (as this goes back a long way), but for this application in question, GC'ing with `--ponynoblock` caused actors which are clearly not referenced anymore, to be collected right after all actors in the system are blocked. We should discuss this on maybe a sync call or on a longer 1:1 discussion, then i can e

[2020-05-09 11:44] SeanTAllen commented on #3551
Please open another issue for ", but for this application in question, GC'ing with --ponynoblock caused actors which are clearly not referenced anymore (and not involved in any cycle), to be collected right after all actors in the system are blocked (rather than interleaved with normal execution)." so we can discuss. Based on the logic for gc'ing actors when noblock is used, I find this hard to un

[2020-05-09 15:50] SeanTAllen commented on #3551
@sblessing can you try using `--ponynoscale` and let me know if you see the same results? or rather, it will change things, I'm wondering if without scaling if the problem goes away (would require many runs as it will change the behavior of the runtime substantially in some cases).

[2020-05-10 17:09] SeanTAllen commented on #3542
Im going to do this release early as there is a breaking change on master that impacts 2 ponylang projects (Corral and Ponyup)

Needed for release:

- PR to fix corral against ponyc master (@mfelsche said he would get that)
- Release notes from @mfelsche for #3419 including directions on how to change code to fix the breakage
-

[2020-05-10 17:10] SeanTAllen commented on #3542
## Fix CommandParser incorrectly handling multiple end-of-option delimiters

Fixed an issue where CommandParser was incorrectly handling cases when arguments contain multiple end-of-option delimiters. For example, `corral exec -- lldb ponyc -- $(ponyc) -V=0 -o ./build/`.

[2020-05-11 20:26] mfelsche commented on #3542
## Correctly report process exit status

Processes spawned with `ProcessMonitor` that have been terminated by signals have been reported as exited with exit-code 0. Now `ProcessNotify.dispose` receives a `ProcessExitStatus`, which is either an instance of  `Exited` containing the exit-code, if the process terminated _normally_, or an instance of `Signaled` containing the signal number which termin

[2020-05-11 20:39] SeanTAllen commented on #3542
Release is underway.

cc @stefantalpalaru

[2020-05-11 20:51] SeanTAllen commented on #3542
Release notes draft is up

https://github.com/ponylang/ponylang-website/pull/567

[2020-05-11 20:52] SeanTAllen commented on #3542
All packages except Windows have been uploaded to Cloudsmith.

[2020-05-11 20:53] SeanTAllen commented on #3542
Docker images are all up on Docker Hub.

[2020-05-11 20:55] SeanTAllen commented on #3542
Playground has been updated.

[2020-05-11 20:55] SeanTAllen commented on #3542
All packages are now uploaded to Cloudsmith.

[2020-05-11 20:59] SeanTAllen commented on #3542
Announced on Zulip, LWIP note added

[2020-05-11 21:00] SeanTAllen commented on #3542
Tweeted.

[2020-05-11 21:01] SeanTAllen commented on #3542
All done! See ya next time.

[2020-05-11 21:01] #3542 closed

[2020-05-11 21:01] SeanTAllen opened #3555 "Release 0.35.1"
This will be released within a few days of #3558 being merged.

[2020-05-11 22:09] stefantalpalaru commented on #3542
Gentoo ebuild updated.

[2020-05-12 18:37] SeanTAllen commented on #3544
Without your changes, what is the error you get?

[2020-05-12 19:01] jemc commented on #3529
Given that this is in `ast_has_annotation`. This is probably in the codegen pass, which might help explain why it only occurs on windows - that's one of the only places in the compiler that is platform-specific.

Sylvan also noted in today's sync call that the reference to asio in the backtrace is probably a red herring because it isn't involved in ponyc - probably the backtrace addresses being to

[2020-05-12 19:03] kulibali commented on #3529
Here's a debug backtrace:

[code]

[2020-05-12 19:11] jemc commented on #3529
So I was wrong about it being in codegen - it's in the expr pass.

[2020-05-12 19:32] SeanTAllen commented on #2319
This is currently blocked.

[2020-05-12 19:35] SeanTAllen commented on #1930
This is blocked.

[2020-05-12 19:35] SeanTAllen commented on #1784
This is currently blocked

[2020-05-12 19:35] SeanTAllen commented on #991
This is currently blocked.

[2020-05-12 20:18] #1737 closed

[2020-05-12 20:22] Theodus opened #3557 "RFC: Change type of Env.root to AmbientAuth"
[`Env.root`](https://stdlib.ponylang.org/builtin-Env#let-root-ambientauth-val-none-val) currently has type `(AmbientAuth | None)` to allow for creation of artificial `Env` instances without `AmbientAuth`. Yet, there is no observable usage of this feature. As it is requires extra work to make use of, as one always needs a pattern match or an `as` expression with a surrounding `try`, this RFC wants

[2020-05-12 20:35] jemc commented on #3529
You may (or may not) be able to fix this crash by modifying this line:
https://github.com/ponylang/ponyc/blob/e55db85d928ce34386edd39b3c135977aba5eb65/src/libponyc/type/reify.c#L380

To look like:
[code]

[2020-05-13 00:25] SeanTAllen commented on #3555
Definitely want to release as soon as possible to get this out:

https://github.com/ponylang/ponyc/pull/3559

[2020-05-13 01:18] SeanTAllen commented on #3555
## Fix incorrect Windows process waiting

Pony 0.34.1 introduced a bug in the ProcessMonitor on Windows. The issue is fixed thanks to this change.

[2020-05-13 02:06] SeanTAllen commented on #3555
Release is underway.

[2020-05-13 02:06] SeanTAllen commented on #3555
@stefantalpalaru you can ignore this release. Windows only.

[2020-05-13 02:10] SeanTAllen commented on #3555
Release notes draft is up https://github.com/ponylang/ponylang-website/pull/568

[2020-05-13 02:22] SeanTAllen commented on #3555
Everything up except for the linux musl build that is going to fail due to an error. However, as it has not changes (error has been fixed for next time), we are ok.

[2020-05-13 02:23] SeanTAllen commented on #3555
docker images that will succeed are uploaded but we don't really care about them as this is FreeBSD and Windows only release.

I'll be skipping updating the playground.

[2020-05-13 02:27] SeanTAllen commented on #3555
Release notes merged.

[2020-05-13 02:34] SeanTAllen opened #3560 "Windows builder doesn't follow normal pattern"
On each release it's updated with a date, but there's no pony in it.

The builder shouldn't be update on each release. It should be updated by hand when needed. (same as gnu et al)

[2020-05-13 02:36] SeanTAllen opened #3561 "Latest/Release Windows Docker Image tasks don't create windows images"
They create a builder.

Once Windows ponyup is in place, they should be doing what musl and gnu do and creating docker images from Dockerfiles in .dockerfiles.

[2020-05-13 02:37] SeanTAllen commented on #3561
In the meantime, before ponyup windows is ready, we could "manually" install latest ponyc and corral (release or nightly as required) by downloading from cloudsmith.

[2020-05-13 02:40] #3561 closed

[2020-05-13 02:40] #3560 closed

[2020-05-13 02:41] SeanTAllen opened #3562 "Add corral to windows .dockerfile images"
Currently only has ponyc.

[2020-05-13 02:42] SeanTAllen commented on #3555
Announced. Done.

[2020-05-13 02:43] #3555 closed

[2020-05-13 02:43] SeanTAllen opened #3563 "Release 0.36.0"
To be released the around the first of August 2020

[2020-05-13 18:45] SeanTAllen opened #3564 "Build instructions will build very slowly"
There's no -j recommendations so it will take a very long time to build Pony.

As part of the BUILD documentation, using -j should be documented for folks who aren't `make` power users.

[2020-05-13 18:51] Theodus commented on #3564
This is especially important when building llvm for the `make libs` target. Note that `-j` must be forwarded to the CMake-generated makefiles, so rather than `make libs -j6` one would require `make libs build_flags="-j6"` to do anything useful

[2020-05-13 18:58] SeanTAllen commented on #3564
Yeah I think we only need to advise it being used for `make libs`

[2020-05-13 18:58] SeanTAllen commented on #3564
Where j should be number of cores on the users machine or less.

[2020-05-14 09:31] adri326 commented on #2988
Fixed by #3449

[2020-05-14 09:31] #2988 closed

[2020-05-14 10:21] Theodus opened #3565 "Pattern match on struct violates capabilities"
I assume that pattern matching on a struct is not possible at runtime. However the error message given to the user is very unhelpful.

[code]
[code]
https://playground.ponylang.io/?gist=a59f6464a48ca77f073b4c6b0aceca13

[2020-05-14 15:11] jemc commented on #3565
Seems to be an overreach from our previous effort to give more information in the "violates capabilities" message. It seems that the struct case needs code that gives it a different message.

[2020-05-14 15:16] jemc commented on #3565
Here is the code that generates that message: https://github.com/ponylang/ponyc/blob/e55db85d928ce34386edd39b3c135977aba5eb65/src/libponyc/expr/match.c#L534-L552

The problem is that the matchtype code doesn't give us any specific reason for _why_ the match was denied. This is usually because it "violates capabilities", but as this case demonstrates it can also happen for structs because they have

[2020-05-14 15:33] jemc commented on #568
The original snippet by @aturley, if updated for contemporary Pony syntax still gets roughly the same error:
[code]
[code]

[2020-05-18 23:16] SeanTAllen commented on #3244
@EpicEric any thoughts on this?

[2020-05-18 23:22] SeanTAllen opened #3566 "cli package bug"
[code]
and yet...

[code]

according to the options, that should work.

Either options shouldn't have "=false" as the default for these. or it should work to pass false.

**N.B**

[code]

works correctly

[2020-05-18 23:33] SeanTAllen commented on #3566
Something to explore. If you set `true` as the default for a boolean option and then try to pass `false`, what do happens?

[2020-05-21 18:14] EpicEric commented on #3244
I still believe the best solution is the one I put forward -- make these functions partial.

[2020-05-21 19:28] SeanTAllen commented on #3244
I tend to agree @EpicEric.

I would consider the existing functionality a bug.

@ponylang/committer, any input?

[2020-05-21 19:35] SeanTAllen commented on #3244
@EpicEric I think the other option would be to use a result type.

[2020-05-23 12:04] EEVV opened #3567 "double consume error"
https://playground.ponylang.io/?gist=afa57eb96ba6d48d3fbd38eff12e0ebd

[code]

I was just messing around to see if I can consume a field somehow for my buffer and ran into this... I didn't really expect much (just let ponyc tell me I'm wrong, etc...).

Crashed for me and playground.
[code]

[code]

[2020-05-24 04:56] matthew-russo opened #3568 ""ref is not a subcap of #read" -- #read parameter reification during tyepchecking"
**Summary**:
I don't fully understand whats going on but was told this is a compiler bug so posting here. When trying to create a method that returns the result of `get_or_else` on a HashMap where the value is a List[<anything>], I run in to compiler error: `List[<anything> ref] ref is not a subtype of List[<anything> ref] #read: ref is not a subcap of #read`. I was running in to issues understand

[2020-05-25 20:52] dckc commented on #3557
Yay! I have been hoping for this change since May 2016. https://github.com/ponylang/ponyc/pull/301#issuecomment-202911231

[2020-05-26 18:58] sylvanc commented on #3568
The problem here is that `List[Item]` is _not_ the return type of `mymap.get_or_else` because `get_item` is `box`, not `ref`. So the return type should be `this->List[Item]` (which works, but you can't construct a `List[Item] ref` as the default, you need to pass in a `this->List[Item]` to `get_item`). Alternatively, you could change `fun get_item` to `fun ref get_item`.

This is still a bug, but

[2020-05-26 18:58] SeanTAllen commented on #3567
This should be an error message rather than assertion failure.

[2020-05-26 19:05] jemc commented on #3567
Regarding the code snippet itself from the OP - the first `consume` on the last line isn't valid because you can't consume something that isn't named.

As Sean says, we want to show a compile error message that says you can only consume something that is a variable name. Given the function name `generate_multi_dot_name`, I think this may be part of the code introduced in https://github.com/ponylan

[2020-05-26 19:42] EEVV opened #3570 "generic sendable error"
https://playground.ponylang.io/?gist=cabc4cf1bc725250d8a688af896da229
[code]
it is one liner: I tried to have a generic sendable type, messing around with how I should actually do it and ended up with segmentation fault.
[code]
[code]

[2020-06-02 00:27] jasoncarr0 opened #3571 "Soudness hole: Returning trn with automatic receiver recovery"
This code below produces a `val` and a `trn` which alias. There are a couple variations possible, but thanks to @jemc who has added a diagnosis and greatly reduced the size. The suspected cause was an illegal receiver recovery when using a `ref` fun on EscapeHatch, but inlining here allows us to make an apparently legal assignment without recovery.

https://ponylang.zulipchat.com/#narrow/stream/18

[2020-06-02 00:40] SeanTAllen commented on #3571
@jemc can you add the relevant conversation from the zulip to this issue as not everyone will necessarily have access. Thanks.

[2020-06-02 17:59] jemc commented on #3571
There is a lot of verbose discussion in the Zulip thread, but I will summarize it here.

This is actually *two separate soundness holes* that both allow the same exploit : getting simultaneous immutable and mutable references to an arbitrary object via a container that temporarily holds it as both `trn->trn` and `trn->box`.

I have edited @jasoncarr0's OP to show both variations.

The former varia

[2020-06-02 18:00] jemc commented on #2815
Issue https://github.com/ponylang/ponyc/issues/3571 demonstrates two type system exploits that violate capabilities. One of the two of them can't be properly solved until we resolve this ticket here and adopt the new viewpoint adaptation system that distinguishes extracting viewpoint adaptation.

[2020-06-02 20:20] jemc opened #3572 "Soundness hole: Update viewpoint adaptation table"
As discovered in #3571, it is currently possible to violate capability guarantees in the current viewpoint adaptation table, but this could be prevented by [updating `ponyc` to use George Steed's viewpoint adaptation rules which distinguish between extracting and non-extracting viewpoint adaptation](https://github.com/ponylang/ponyc/issues/2815). However, we wish to patch up the immediate soundnes

[2020-06-02 20:21] jemc commented on #3571
We discussed this in today's sync call.

@sylvanc pointed out that we could easily close the latter hole without implementing the extensive changes required by George Steed's model.

@SeanTAllen asked me to open another issue to track that work, and keep this ticket scoped to only solving the automatic receiver recovery variation of the exploit.

See https://github.com/ponylang/ponyc/issues/3572 f

[2020-06-02 20:25] jemc commented on #3572
Note that we will also need to update the Pony tutorial viewpoint adaptation table using the table row I gave above.

[2020-06-05 18:59] SeanTAllen commented on #717
@jemc do you think the bad pony tests are good enough to close this?

[2020-06-05 19:01] #1761 closed

[2020-06-05 19:01] #1732 closed

[2020-06-13 15:40] hasheddan commented on #3566
@SeanTAllen just getting my feet wet with pony but would love to submit a fix here! I am wondering if it should even be possible to set a default value for a bool option? In reality, setting the default value currently does not make a difference in behavior. Demonstrating with `corral`:

Default value for `--quiet` is `false`:
[code]

Default value for `--quiet` is `true`:
[code]

[2020-06-13 15:42] #3520 closed

[2020-06-14 14:29] hasheddan commented on #3457
I think this may have been fixed by https://github.com/ponylang/ponyc/pull/3460

[2020-06-14 15:30] Theodus commented on #3457
Thanks for the ping @hasheddan

[2020-06-14 15:30] #3457 closed

[2020-06-14 16:23] SeanTAllen commented on #3566
So the default for a bool would always be "off", correct @hasheddan ?

[2020-06-14 16:24] hasheddan commented on #3566
@SeanTAllen yep! That’s what I was thinking

[2020-06-14 17:17] SeanTAllen commented on #3566
Sounds good to me. If that would be a breaking change (which I think it would be probably), it would need to go through the RFC process.

https://github.com/ponylang/rfcs

[2020-06-17 16:32] jemc commented on #717
No, the "bad pony tests" in `badpony.cc` only test compilation. I believe that these all of the tests we've collected in the above-linked minimal repro subdirectory cannot be tested either by compiler tests or by ponytest tests, since they involve runtime behavior that doesn't necessarily occur within the bounds of a ponytest run (e.g. finalizers)

[2020-06-17 16:36] jemc commented on #3244
I don't consider it to be a bug because it's working as designed by Carl. We may not all agree with the design, but it was part of the design in the RFC to adopt the package (I assume, but I did not actually go back and look at it).

I personally think that the signature of the flag "getters" should remain as they are, for the convenience reasons that Carl mentioned above. However, we should have

[2020-06-17 16:39] jemc commented on #3244
That is, I believe it makes sense to handle all errors from CLI arg parsing in a first phase, before you proceed to assign those values to your program's data structures or use them in whatever way you deem fit.

This approach would give you just one place to deal with the error and a convenient way to print a user-friendly error list to show the user, rather than having to handle the partial valu

[2020-06-18 19:48] SeanTAllen commented on #3244
@jemc I didn't really think through the ramifications in the initial RFC. Perhaps "bug" is the wrong word, but I think it's a flaw.

Perhaps there's a way to leverage the type system more. Really what we are talking about is creating a generic type that if you say "this returns a U64", you can only get back and only try to get back a U64.

In Scala, you'd do this with a type safe builder. I think

[2020-06-23 18:47] jasoncarr0 opened #3578 "Soundness hole: Capability subtyping"
Note: this would be fixed by a proper implementation of https://github.com/ponylang/ponyc/issues/2815 , so this issue is mostly for tracking.

In short, the subtyping in the original theory has a hole, by allowing us to convert from `iso` or `trn` to other capabilities without consuming and without aliasing first.

The only problematic place that I can find is in function returns.
[code]

I could

[2020-06-23 18:51] jasoncarr0 commented on #2815
I've added #3578 as another soundness issue which could likely only be solved by this change (as otherwise there would be negative impacts to subtyping elsewhere).

[2020-06-24 19:11] jasoncarr0 commented on #3578
Actually, it seems this is a duplicate of: https://github.com/ponylang/ponyc/issues/1964

[2020-06-24 19:11] #3578 closed

[2020-06-27 00:53] anacrolix opened #3580 "UDPSocket incorrectly maps sockname to localhost"
[UDPSocket.create](url) stores a copy of the local `sockaddr`, but then calls `map_any_to_loopback` in `pony_os_sockname`, which converts `INADDR_ANY` to `INADDR_LOOPBACK` (and the equivalent for IPv6). This results in an incorrect value from `UDPSocket.local_address`, and would probably affect `UDPSocket.set_broadcast` which also uses the field.

[2020-06-27 02:13] anacrolix commented on #3139
Is it possible a write failing, triggering the UDPSocket to close? This can occur on some OS when under a lot of stress (Linux will do it, giving errors like `EPERM`). There seems to be [no way to get the cause of failure for UDPSocket.writes](https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help/topic/udp.20write.20errors/near/202159826).

[2020-06-27 11:07] SeanTAllen commented on #3580
Can you include a minimal example of your UDP code?

[2020-06-29 04:04] anacrolix commented on #3580
https://gist.github.com/anacrolix/dea5407822c317abb09c40416c0d2368

By modifying host, on line 11, you can see it occurs for "" and "::" too. If you check with lsof, or similar, you'll see that the socket is bound correctly however, and not to localhost.

[2020-06-29 04:10] anacrolix opened #3581 "with tuple causes compiler to abort"
The following code causes the compiler to abort:
[code]
I think it's the (a,b) on the LHS. The output:
[code]

[2020-06-29 04:19] anacrolix commented on #991
What's this blocked on?

[2020-06-29 19:26] mfelsche commented on #3581
This is clearly a bug. Though, strictly speaking, `(a, b)` needs to have a `dispose` function or behaviour for this to fully compile, and a tuple doesnt have such a function. On the other hand it is clear that tuple destructuring should work inside a `with`-expression, so `a` and `b` should have a `dispose` method or behaviour.

Also there is also no test coverage yet for tuple destructuring in wi

[2020-06-30 18:13] jemc commented on #3580
The mentioned code where this is happening is:
https://github.com/ponylang/ponyc/blob/1da8604fb6d779083816303c35794d92fbb075b0/src/libponyrt/lang/socket.c#L122-L126

[2020-06-30 18:17] jemc commented on #3580
We discussed this briefly on the sync call.

It's not clear to me off the top of my head why the `INADDR_ANY` is used in this case for UDP or what the expected behavior is.

This would need more research (which we didn't have time for on the sync call).

[2020-06-30 18:24] aturley commented on #991
@SeanTAllen can you elaborate on what the blocker is here?

[2020-06-30 19:19] SeanTAllen commented on #991
I don't know. I removed the blocked label that we removed and added the note.

[2020-06-30 19:24] jasoncarr0 opened #3582 "Cannot access fields of non-sendables created in recover expression"
Currently, a restriction blocks accessing fields of non-sendable objects inside recover blocks. This seems to be a bit of a hack to me, as it is easy to circumvent in many cases. This is contrary to the normal behavior of these caps from outside simply being accessible as tag only.
[code]
and likewise for reads. As inside a recover expression, we can always just use these methods.

Expected:
This

[2020-06-30 19:29] jasoncarr0 commented on #3582
I promise I even searched before creating this. Duplicate of  https://github.com/ponylang/ponyc/issues/3069

[2020-06-30 19:29] #3582 closed

[2020-06-30 19:30] jasoncarr0 commented on #3069
To move my discussion into this issue. This is 100% sound, so long as we allow methods to be called, as this can be circumvented by calling methods which do the mutation instead.

[2020-06-30 19:37] jasoncarr0 commented on #3069
To add from my other thread. There are no safety changes from allowing this: `ref` functions can already be called and do everything this would, so whatever works for those can work here.

[2020-06-30 22:24] SeanTAllen commented on #3580
So, is the issue here that you are expecting a specific value for local address? Binding to 0.0.0.0 can bind to multiple addresses and you don't know what you will get for local_address in that case.

Is the problem that local_address only returns 1 address rather than all possible ones that are bound to when you do "0.0.0.0"?

You say "incorrect value". Can you expand on that? What you are gettin

[2020-06-30 23:32] anacrolix commented on #3580
@SeanTAllen @jemc It's standard practice to use INADDR_ANY like this. 0.0.0.0 is the textual representation for INADDR_ANY. The local address after binding to INADDR_ANY, is INADDR_ANY, which is 0.0.0.0 for IPv4, and :: for IPv6. Removing the mapping line fixes this, and local_address returns the correct value.

[2020-07-01 16:35] ergl opened #3584 "Unexpected GEN_NOTNEEDED in partial application in constructor"
The following code causes a compiler error on ponyc 0.35.1-57947572

[code]

Pony version:

[code]

[code]

Can reproduce on the playground: https://playground.ponylang.io/?gist=04897bac813bf7fed2f2639eccb4a88d

I don't have a debug version of ponyc right now, but this is the backtrace with lldb:

[code]

[2020-07-04 00:10] damon-kwok opened #3585 "What is the correct indent style about match?"
What is the correct indent style about match?? When I finished reading the style guide, I still couldn't judge accurately.
@Theodus We should update the documentation to make this clear.
[code]

[code]

[2020-07-04 00:12] SeanTAllen commented on #3585
I believe it is the first one, but I asked Damon to open this issue to get your feedback @Theodus.

[2020-07-04 00:16] damon-kwok commented on #3585
The first is my intuitive judgment, but after reading the style guide, I suddenly felt that it should be the second.
This happened after I merged PR-136.

https://github.com/ponylang/ponylang-mode/pull/136

[2020-07-04 03:35] EpicEric commented on #3585
From the style guide:

Therefore, from my understanding it should be:

[code]

[2020-07-04 12:48] Theodus commented on #3585
@EpicEric is correct. Here's an example in the pony standard library of this situation: https://github.com/ponylang/ponyc/blob/e55db85d928ce34386edd39b3c135977aba5eb65/packages/collections/persistent/vec.pony#L120-L127

[2020-07-04 12:51] damon-kwok commented on #3585
What happens to the indenting logic if the user does not wrap a line after =?

[2020-07-04 12:59] Theodus commented on #3585
The first option you posted is the closest to being correct, but neither are consistent with the style guide.
https://github.com/ponylang/ponyc/blob/master/STYLE_GUIDE.md#assignment

[2020-07-07 17:44] SeanTAllen commented on #3585
@damon-kwok Are you ok with closing this?

[2020-07-07 18:09] #3585 closed

[2020-07-07 18:30] SeanTAllen commented on #3580
During sync, we took a further look at this. We need to ask Sylvan about the reasoning for this if he remembers.

We don't feel particularly confident in the test coverage around the usage `map_any_to_loopback` to know how much should be changed or if we would notice breakage.

More investigation basically.

[2020-07-07 18:32] jemc commented on #3580
I found these related commits, but we don't understand the reason they were done:

Sylvan added this to `os_connect` as inline logic:
- https://github.com/ponylang/ponyc/commit/465466b0bea366159eeb2f2dd88a7016ce4e9472

Andy McNeil made it a function to use it in Windows UDP:
- https://github.com/ponylang/ponyc/commit/98d10976c627c0881fd387045b1f61dd581be899

Sylvan added it to other address resolu

[2020-07-07 18:38] jemc commented on #3584
Info for whomever wants to look at this: this kind of assertion error means there's a mismatch between one part of the code that thinks the expression value is used, and another part of the code that thinks the expression value is not used.

[2020-07-08 03:02] damon-kwok commented on #3544
@SeanTAllen
problem-1 : The latest code does not appear. This may be due to my testing problem at the time, and if it appears again, I will submit an issue alone.
problem-2: @kulibali solved it in #3576
problem-3: I solved it in #3587
So, if #3578 is successfully merged, this issue can be closed.

[2020-07-08 03:46] damon-kwok commented on #1350
@SeanTAllen I tested this feature on windows and I think this issue can be closed.
See:
[code]

[2020-07-08 11:29] SeanTAllen commented on #1350
I implemented Windows backpressure this shouldn't be closed. There has been zero tuning done to it. I know basically nothing about IOCP and did a very "well that works" approach rather than actually looking at this as a IOCP user. Nothing that I raised in the issue has been addressed.

[2020-07-08 11:55] #3544 closed

[2020-07-08 16:53] teggotic commented on #3570
I'm a new to compiler architecture. Despite this, I tried to investigate this issue and got to this state.
With this diff
![image](https://user-images.githubusercontent.com/16068886/86946693-6ccc5c00-c153-11ea-9783-9d6d618e3ce5.png)
I get 100% tests passed and no seg fault here.
This is the output here
![image](https://user-images.githubusercontent.com/16068886/86946798-92596580-c153-11ea-854e-9cf

[2020-07-08 16:56] SeanTAllen commented on #3570
@jemc thoughts?

[2020-07-08 17:19] SeanTAllen commented on #3570
@EEVV thanks for opening this. I've pinged @jemc who knows this part of the compiler much better than me.

[2020-07-10 03:41] jasoncarr0 commented on #3571
I'm going to put one small addition to this. I originally thought it would not be a problem to recover these if we fixed the adaptation table as the example above relies on unsound extraction. But it is indeed unsound to return `ref` or `trn` with receiver recovery to `trn`, regardless of the viewpoint adaptation table.
[code]

[2020-07-10 15:23] #3581 closed

[2020-07-10 15:31] jemc commented on #3570
@teggotic's fix looks like the correct one. Nice work!

[2020-07-10 15:33] SeanTAllen commented on #3570
@teggotic do you want to open a PR for this?

[2020-07-10 15:55] teggotic commented on #3570
Sure

[2020-07-10 18:55] #3570 closed

[2020-07-14 15:18] jemc commented on #3572
It turns out that this approach to resolving the problem is incompatible with the standard library `collections/persistent` package, as discovered by @jasoncarr0 in #3591.

It seems like to fix the soundness bug in this ticket, we would either need to go ahead with the full, extensive change in #2815 or drop support for the `collections/persistent` package until that time.

It may also be possible

[2020-07-14 18:14] jemc commented on #3572
@Theodus will investigate how the persistent collections package can be refactored to step around this issue. He will either file a PR to fix the usage, or if it can't be done, he will update the issue ticket with his findings on why it couldn't be fixed.

[2020-07-14 19:18] Theodus commented on #3572
PR open: #3592

[2020-07-14 19:34] Theodus opened #3593 "RFC: Iter maybe"
This RFC suggests adding functionality inspired by the [maybe](https://github.com/mfelsche/pony-maybe) library to the Pony stdlib via the itertools package. This provides an alternative API to work with optional types, that is union types with `None`: `( T | None)`. Its goal is to facilitate the usage of such optional types for people for which using pattern matching (using `match` or `as` express

[2020-07-14 19:37] Theodus opened #3594 "RFC: Add a `log_level` argument to logger.LogFormatter"
Add a `log_level` argument to logger.LogFormatter.

RFC 67: https://github.com/ponylang/rfcs/blob/master/text/0067-add-log-level-argument-to-logformatter.md

[2020-07-15 01:34] SeanTAllen commented on #3572
@jemc fyi the tutorial was already updated this change at some point.

[2020-07-15 13:37] #3572 closed

[2020-07-15 13:38] SeanTAllen commented on #3563
## Change trn->trn to box to fix a soundness hole

@Theodus can you edit this comment to include release notes for #3591?

[2020-07-15 13:42] SeanTAllen commented on #3563
## Force removing read-only files on Windows with `FilePath.remove()`

FilePath.remove was broken in some cases on Windows. The underlying usage of the C function _unlink() cannot remove a file if it is read-only. This change calls _chmod(..., _S_IWrite) on files that are about to be removed so as to make sure they are removable.

[2020-07-15 13:43] SeanTAllen commented on #3563
## Fix `with` expressions using tuple destructuring

Prior to this change, a `with` expression like the following caused the compiler to abort:

[code]

[2020-07-17 07:14] jasoncarr0 opened #3596 "Soundness bug / compiler crash: Match bindings should not be consumable unless the discriminee is ephemeral"
So in another round of soundness holes, bindings in a match are regular, consumable, assignable variables.
This would be sound, but not very useful, if we had to consume before matching, but we (rightfully) allow matching on non-ephemerals.

Bonus: This code example makes ponyc segfault.
[code]
Expected behavior: b' should not be consumable or re-assignable, unless it matches on something which is

[2020-07-17 08:04] jasoncarr0 commented on #3596
But in any case, finally get to check all of these boxes:
[X] Your type system is unsound
*  [X] a proof of same is attached
*  [X] invoking this proof crashes the compiler

[2020-07-18 18:26] SeanTAllen commented on #3563
## Add LogLevel as argument to LogFormatter

@rkallos can you add release notes include a small before and after example for how to adjust to this change? Feel free to pull the motivation from the RFC to form the bulk of the release notes plus the code to show how to adapt to the change. You can edit this comment accordingly.

[2020-07-18 20:48] rkallos commented on #3563
## Add LogLevel as argument to LogFormatter

This is a breaking change to the `logger` package. The log level used by a logger is now available for use when formatting log messages. This will be helpful in replacing the custom log facilities in Corral with the logger in the Pony standard library.

This requires a small change to implementations of the LogFormatter interface:

Before:
[code]

After

[2020-07-18 21:05] #3594 closed

[2020-07-21 00:16] rhagenson commented on #3461
I am experiencing the same issue running Linux Mint 19.3 that when I upgrade using ponyup I get the following when trying to use ponyc:

[code]

Version installed by ponyup:

[code]

[2020-07-21 00:26] SeanTAllen commented on #3461
Mint is based on Ubuntu so that would be Ubuntu 19.x, yes?

[2020-07-21 00:30] SeanTAllen commented on #3461
I'm closing this as it is no longer true. We will add prebuilt ponyc versions for whatever distro is needed if the latest glibc version doesn't work on your given distro. Since this was opened, we added an Ubuntu 18.04 version.

We will maintain said distro releases so long as the release version is supported by the particular distro.

[2020-07-21 00:38] rhagenson commented on #3461
Am I understanding you correctly that adding a Mint 19.3 build would fix this then?

[2020-07-21 00:43] SeanTAllen commented on #3461
@rhagenson yes

[2020-07-21 00:43] rhagenson commented on #3461
I will keep an eye out for the Mint build and upgrade after that point. For now I downgraded to 0.33.1 which is the version I had been using without problems.

[2020-07-21 01:28] SeanTAllen commented on #3461
@rhagenson I believe the ubuntu 18.04 package that already exists in nightlies and releases should work for you. Can you check and see? Linux Mint 19.3 is based on 18.04 so I believe that should be what you need.

[2020-07-21 01:46] rhagenson commented on #3461
@SeanTAllen It does not work.

[code]

[2020-07-21 01:56] SeanTAllen commented on #3461
@rhagenson

can you try:

[code]

and then see if that ponyc works?

[2020-07-21 02:03] rhagenson commented on #3461
That went through without issue!

[code]

[2020-07-21 02:04] rhagenson commented on #3461
Did not know `--platform` was an option. I assume unrelated (not entirely though) to the platform in `ponyup default <platform>`?

[2020-07-21 02:09] SeanTAllen commented on #3461
@rhagenson ponyup default allows you to set the default platform so you don't need to provide. however, we might have some issues to work out with it given that ubuntu18.04 only exists for ponyc.

@Theodus can answer that. either way. more documenting is needed.

does the ubuntu18.04 build work for you? if yes, i'll close my linuxmint19.3 work (although I think its done, albeit superfluous if 18.0

[2020-07-21 02:15] rhagenson commented on #3461
Ah so not as unrelated as I thought. My thinking was unfortunate variable name duplication.

The ponyc via ubuntu18.04 appears to be working as it should.

[2020-07-21 02:47] #3461 closed

[2020-07-21 02:49] SeanTAllen commented on #3461
@EpicEric 18.3 is still supported for Linux Mint, but we don't have a compatible release (I think), you could check the 18.04 ubuntu. If you are still using 18.3, would you like me to set up an 18.3 release/nightly build that you'll be able to use? If yes, please open a new issue for that.

[2020-07-21 02:50] SeanTAllen opened #3600 "Document how to install alternate ponyc builds"
In INSTALL.md

How to find non-default GNU builds, how to select, and how to install.

#3598 is the start towards this. Features will probably need to be added to ponyup as well.

[2020-07-21 11:18] EpicEric commented on #3461
I'm no longer using Mint (moved to Debian). Unless there are other users of the distro, there's no need to support it. I'm fine with closing this issue.

[2020-07-28 18:35] #3593 closed

[2020-07-28 18:42] Theodus commented on #3563
## RFC 66: Iter maybe

Note to self

[2020-07-30 19:37] adri326 opened #3604 "Compiler error on trying to assign a value to a cast object's property"
[Demonstration](https://playground.ponylang.io/?gist=0d260a10117e5ba8e504e2834b9e96a7)

When casting an object using the `as` operator and trying to assign a value to one of its properties (`(object as Something).property = value`), the compiler errors out with a failed assertion:

[code]

The error also appears if there are intermediary methods (`(object as Something).some_method().property = val

[2020-07-30 19:39] adri326 commented on #3604
I should also note that one can currently work around the bug using a `match` expression.

[2020-07-31 05:37] jemc commented on #3604
Given the assert location, this regression was probably introduced in #3304

[2020-07-31 19:52] SeanTAllen commented on #3563
Release is underway.

[2020-07-31 19:52] SeanTAllen commented on #3563
@stefantalpalaru release is underway.

[2020-07-31 20:07] SeanTAllen commented on #3563
Docker images are available.

[2020-07-31 20:09] SeanTAllen commented on #3563
Playground has been updated to 0.36.0

[2020-07-31 20:10] SeanTAllen commented on #3563
All packages except for FreeBSD-12.1 are now up on Cloudsmith.

The FreeBSD-12.1 vm was killed while running. It will be restarted in bit.

[2020-07-31 20:20] SeanTAllen commented on #3563
FreeBSD 12.1 is in cloudsmith. Announcements are underway.

Thanks everyone!

[2020-07-31 20:20] #3563 closed

[2020-07-31 20:20] SeanTAllen opened #3605 "Release 0.37.0"
Target release date is the first weekend in September.

[2020-08-01 13:50] adri326 commented on #3604
My old build from january, 2020 was still affected

[2020-08-03 14:55] #3571 closed

[2020-08-03 18:28] SeanTAllen commented on #3605
## Fix unsound return types being allowed for autorecover

The existing autorecover code was checking whether it was safe to write to the recovery cap, regardless of whether it was an argument. That's correct for arguments, but for result types we need to ensure that it's safe to extract.

Safety to extract is derived from Steed's extracting table: a type is safe to extract if results in itself un

[2020-08-04 06:05] jasoncarr0 commented on #3596
On second inspection, this is not enough; the variables included in the match must also not be consumable:
[code]

[2020-08-04 14:15] jemc commented on #3596
It seems overly restrictive to prevent any consuming of both `x` and `x2` during the `match` block, because there are some examples of safe code that does that.

Wouldn't it be a better formulation of the restriction if the part of the compiler that does consume tracking simply treats `x` and `x2` as having a common consume lifetime? That is, the compiler should know that a consume of `x2` is effe

[2020-08-04 18:56] jasoncarr0 commented on #3596
That seems like it would work, although this area does get rather thorny when talking about more complicated expressions than a single variable (we'd likely have to invalidate quite a number of variables when any unique variables are invalidated). Noting that this only applies when the discriminee is *not* consumed already. If it is, then the match binding can be consumed as well.

Could you link

[2020-08-04 19:20] jemc commented on #3596
I didn't necessarily have specific samples in mind - I was just speaking hypothetically about how to rethink the restriction to allow the most flexibility while still fixing the hole.

However, I think your example in the above comment demonstrates that my suggested approach wouldn't cover all cases - there is no local variable to tie the consume tracking to.

I think your suggested approach fails

[2020-08-04 19:24] jemc commented on #3596
Yeah, I'm pretty convinced at this point that we won't be able to get around this until we stop treating a `match` clause as a new `let` binding...

[2020-08-05 00:47] jasoncarr0 commented on #3596
Had you not posted the example, I'd have thought this was a minor issue, and that field writes are implied by consume here. But the example you posted is just a ref method. It can get arbitrarily worse of course, even if we don't use the result, since, so calling any ref method has to immediately invalidate all of these bindings, since it could for instance, take a variable, consume it to val, sen

[2020-08-05 00:51] jasoncarr0 commented on #3596
This too. My first thought was that there was no way to do X because we can't do non-ephemeral match, but then I realized we could

[2020-08-16 10:31] SeanTAllen opened #3610 "Incorrect error message"
[code]

The above results in the error message

[code]

which isn't at all helpful. to be helpful, I think it should say

`    main.pony:10:40: argument type is this->Bar box`

I'm assuming this is a bug. It looks like a bug to me.

[2020-08-16 10:35] SeanTAllen commented on #3610
Here's the relevant section of code that generates the error:

https://github.com/ponylang/ponyc/blob/master/src/libponyc/expr/call.c#L243

[2020-08-16 14:00] stefandd opened #3611 "Octal character literals are broken"
[code]
This prints
13107
27
when it should print
27
27

[2020-08-16 17:51] stefandd commented on #3610
I have the feeling this is related to https://github.com/ponylang/ponyc/issues/3568#issue-623794991

[2020-08-16 19:42] jasoncarr0 commented on #3610
Hmm, while I agree that this error message is not perfect, I don't know about the fix: I think that the current `this->Bar ref` is more "correct", but may be unclear. This box method *may* result in something which is mutable, since it's polymorphic, it's just that in this case it's not. So the "box" part is handled by the viewpoint adaptation `this->...`, when this is instantiated to box.

What w

[2020-08-17 06:59] mfelsche commented on #3611
Hi @stefandd
I can understand the confusion around character literals.

Here are some points that might help clarify this:

1. octal escaping isnt supported in character literals as of now.
2. thus `'\033'` is actually a multibyte-character-literal https://tutorial.ponylang.io/expressions/literals.html#multibyte-character-literals and the behaviour is as expected. The resulting number is `0x3333`

[2020-08-17 06:59] #3611 closed

[2020-08-17 15:34] jemc commented on #3610
Yeah, @jasoncarr0's explanation is correct - the error message is fully correct - it's just not obvious to everyone who reads it that `this->ref` implies a possibility of `box` or `val` depending on the cap of `this`.

[2020-08-18 18:22] SeanTAllen commented on #3610
It was agreed during sync that while the error message is technically correct, it isn't a helpful error message. Changing this is a rather deep change that involves a lot of context and knowledge of the existing compiler implementation and how and when various parts of type reification are done.

At the moment, this is a bad error message that we are mostly stuck with unless someone wants to under

[2020-08-18 18:28] jemc commented on #3610
I wonder if we could get an easy win by making the compiler print `this{ref, val, box}->Bar ref` instead of `this->Bar ref` as the type - which would at least point out that the cap of `this` can vary and the code must account for all three capabilities.

[2020-08-18 18:35] jemc commented on #3610
Another option would be to add to the typechecking logic in which `this->Bar ref` failed to be a subtype of `Bar ref`, some logic that detected the `this->` on the prospective subtype, and tried stripping the `this->` and trying the typecheck again - if the former fails and the latter succeeds, we could print a message that says "this would be possible without the `this->` viewpoint adaptation - d

[2020-08-19 10:55] erf opened #3614 "Add vis to list of editor support"
Add the vis editor to  list of editors supported as it has a lexer for pony.

See https://github.com/martanne/vis/blob/master/lua/lexers/pony.lua

[2020-08-21 15:57] stefandd opened #3615 "Parser does not detect field initialization in a constructor despite exhaustive match clauses"
[code]
The field `bar` should have been successfully initialized in `create()` but the compiler complains about a `'7:5: field left undefined in constructor'` error

[2020-08-21 17:00] damon-kwok opened #3616 "ponyc compile error"
OS: CentOS 8.2
[code]

[2020-08-21 17:07] #3616 closed, assigned to nobody

[2020-08-25 18:17] SeanTAllen commented on #3605
## Revert RFC 67

The original intent behind RFC0067 was to make it easy to add a prefix with the
log level for any given log message. However, there is a logic bug in the
implementation; the log level prefix added to messages in LogFormatter would
always be the log level specified in Logger.create(), not the log level desired
at specific call sites. This would lead to misleading log messages wher

[2020-08-25 18:22] #3069 closed

[2020-08-25 18:34] jasoncarr0 commented on #3605
### Always allow field access for objects defined inside a recover block

Some field accesses were incorrectly being rejected inside recover blocks. This fix allows all nested field accesses on variables which were defined inside the recover block, like the examples below:
[code]

[2020-08-25 18:38] SeanTAllen commented on #3615
We discussed this during sync and @jemc thinks this isn't a huge amount of work but also that it isn't trivial. His fear is that exhaustive match checking happens after the initialization check (which would make this somewhat difficult).

[2020-08-25 18:41] SeanTAllen commented on #3614
@erf would you be interested in opening a PR for this?

[2020-08-25 18:42] erf commented on #3614
Sure

[2020-08-25 18:45] SeanTAllen commented on #3614
Awesome

[2020-08-25 19:01] erf commented on #3614
There!

[2020-08-25 19:04] #3614 closed

[2020-08-25 19:22] erf commented on #3614
@SeanTAllen BTW the list of editors are growing, would you like me to put all the editors in a `EDITORS.md` file and link to it?

[2020-08-26 21:43] #3462 closed

[2020-08-28 01:07] SeanTAllen commented on #3605
Release will be started whenever https://github.com/ponylang/ponyc/pull/3626 is merged.

[2020-08-28 13:50] SeanTAllen commented on #3605
The release will be some time this weekend. Probably this evening.

[2020-08-28 21:48] SeanTAllen commented on #3605
Release is underway.

[2020-08-28 23:13] SeanTAllen commented on #3605
Released.

[2020-08-28 23:13] #3605 closed

[2020-08-28 23:14] SeanTAllen opened #3627 "Release 0.38.0"
Target release date is the weekend of October 3rd/4th.

[2020-08-29 01:23] felixonmars opened #3628 "Build failure with latest GCC"
This looks different than #3618

[code]

[2020-08-29 01:30] SeanTAllen commented on #3628
Can you provide the exact version of gcc you are using?

[2020-08-29 01:45] felixonmars commented on #3628
I am using GCC 10.2.0.

[2020-08-29 01:54] SeanTAllen commented on #3628
Thanks. Do you feel comfortable enough with C to tackle this and open a PR? If yes, it would be the quickest way to get the issue fixed.

[2020-08-29 08:32] felixonmars commented on #3628
@SeanTAllen Sure, opened as #3630

[2020-08-29 14:10] #3628 closed

[2020-08-30 21:50] SeanTAllen opened #3633 "Update what packages we install in our "release" and "latest" images"
At the moment, we use the generic glibc build which means that the builder environment and the docker image base for release and latest need to match.

Once https://github.com/ponylang/ponyc/pull/3632 is done, we will have explicit nightly and release images for ubuntu 20.04.

We should switch release and latest to doing

`ponyup platform ubuntu20.04` to make sure they install the matching release

[2020-08-31 12:42] kapilash opened #3634 "`make.ps1 libs` fails on Visual Studio 16.7.2"
llvm fails to compile with VS 16.7 with `inconsistent behavior between llvm:: and std:: implementation of is_trivially_copyable`

FWIW, by commenting out  the following code in `llvm/include/llvm/Config/config.h` (in build_libs), I managed to move ahead.
All the tests succeeded too.
However, the following patch would not work as is, considering the file concerned is generated.

[code]

References:

[2020-09-01 18:02] #3634 closed

[2020-09-02 15:13] SeanTAllen opened #3636 "Segfault with ponynoblock"
This program doesn't segfault without ponynoblock; it does however feature unusual large, seemingly runaway memory growth.

With ponynoblock, it segfaults.

[code]

Note that for me, this small change makes it not segfault with ponynoblock

[code]

[2020-09-02 15:52] SeanTAllen commented on #3636
backtrace with debug mode:

[code]

[2020-09-02 17:12] SeanTAllen commented on #3636
Ok, a bit more, this also works, basically move where we call `run()` to continue looping from `run()` to `collect()`

[code]

[2020-09-04 19:12] #816 closed

[2020-09-05 12:44] SeanTAllen commented on #1342
@aturley do you still have the code for this around anywhere?

[2020-09-05 12:49] #2713 closed

[2020-09-05 12:53] SeanTAllen commented on #2686
I can no longer reproduce this with the latest ponyc. (0.37.0).

Closing.

This can be reopened if needed.

[2020-09-05 12:53] #2686 closed

[2020-09-05 12:57] SeanTAllen commented on #2441
FYI, as of 0.37.0 this is still a problem with optimized builds.

However, the error is a little different.

[code]

[2020-09-05 13:00] SeanTAllen commented on #2512
As of 0.37.0 I can't reproduce this bug. Closing.

If anyone can reproduce, it can be reopened.

[2020-09-05 13:00] #2512 closed

[2020-09-05 13:04] #2873 closed

[2020-09-05 13:06] #2832 closed

[2020-09-05 13:08] SeanTAllen commented on #2741
This still happens as of Pony 0.37.0.

[2020-09-05 13:09] SeanTAllen commented on #2740
Still present as of 0.37.0

[2020-09-05 13:27] SeanTAllen commented on #2969
PR opened: https://github.com/ponylang/ponyc/pull/3639

[2020-09-05 13:27] #2938 closed

[2020-09-05 13:29] SeanTAllen commented on #2918
We provide our own FreeBSD releases now, closing.

[2020-09-05 13:29] #2918 closed

[2020-09-05 13:29] SeanTAllen commented on #2909
This is done.

[2020-09-05 13:29] #2909 closed

[2020-09-05 13:34] SeanTAllen commented on #3169
We no longer use ln -r in the Makefile.

[2020-09-05 13:34] #3169 closed

[2020-09-05 13:35] #3132 closed

[2020-09-05 13:36] SeanTAllen commented on #3199
I need this to move forward with the part of Lori where I am trying to define a standard interface for IO subsystems.

[2020-09-05 13:37] #3111 closed

[2020-09-05 13:38] SeanTAllen commented on #3094
@kulibali was this fixed when we moved over to building our own Cmake?

[2020-09-05 13:38] #3089 closed

[2020-09-05 13:39] SeanTAllen commented on #3089
Closing as we have switched build systems.

[2020-09-05 13:41] SeanTAllen commented on #2984
This is still an issue as of 0.37.0

[2020-09-05 13:42] SeanTAllen commented on #3001
At this point, this is a "well, it's an issue but we don't know what to do about it".

[2020-09-05 13:43] SeanTAllen commented on #3126
Not an issue with LLVM version we currently support.

[2020-09-05 13:43] #3126 closed

[2020-09-05 13:45] SeanTAllen commented on #3508
Has anyone else seen this happen lately?

[2020-09-05 15:15] kulibali commented on #3094
Seems to have been. There's a debug build in CI that doesn't seem flaky nowadays.

[2020-09-05 23:11] #2969 closed

[2020-09-06 08:55] ergl commented on #3126
@SeanTAllen I can still reproduce this crash on my machine (macOS Mojave 10.14.6) with the example I posted in my comment above. This is with LLVM 9.0.1

[code]

[code]

[2020-09-06 10:59] stefandd opened #3644 "Missing mechanism to pass/receive struct values into/from FFI C functions"
The commit https://github.com/ponylang/ponyc/commit/221169bc60414eebae2ce733a794e2fd3d5fda76 removed the only mechanism that existed to pass value structs into FFI functions or to receive them on the basis of some C ABI-dependent unexpected behaviors. The proposal was made to use libclang to access the correct call signatures and the removal of tuples for FFI functions was intended to be an interi

[2020-09-06 11:15] SeanTAllen commented on #3126
@ergl can you open a new issue?

[2020-09-06 12:12] SeanTAllen commented on #3420
This fails with the latest LLVM.

[2020-09-07 20:50] SeanTAllen commented on #3627
After the release, we need to add the following job back in to `pr.yml`.

[code]

[2020-09-07 23:28] jasoncarr0 commented on #3568
Ran into this somewhere else. The cause of this issue is that `TK_THISTYPE` gets used as `TK_READ` for viewpoint adaptation, which eventually produces the `TK_READ`  as the result. I.e. when it tries to make `Item ref` a subtype of `this->Item ref`, it tries to get the lower bound of that, running across this line: https://github.com/ponylang/ponyc/blob/master/src/libponyc/type/viewpoint.c#L276 an

[2020-09-08 14:31] #3633 closed

[2020-09-08 18:14] jemc commented on #2038
@jasoncarr0 says there may be issues evaluation order of the receiver argument vs the other arguments, and the causing of invalidation.

[2020-09-08 18:29] SeanTAllen opened #3645 "Update FreeBSD install instructions"
ponyc will be available ponyup once some ponyup bugs are fixed.

When https://github.com/ponylang/ponyup/issues/160 is closed, this can be updated.

[2020-09-08 18:31] SeanTAllen opened #3646 "Update install instructions to note that we only have AMD64 prebuilt ponyc binaries"
It should be noted that it currently applies to all of the existing packages.

[2020-09-08 18:31] #3600 closed

[2020-09-08 18:52] jasoncarr0 commented on #2038
Example where there's an issue with evaluation order as brought up wrt https://github.com/ponylang/rfcs/pull/182

[code]

Under Pony's arguments-first evaluation order, we first grab a temporary iso alias to `bar.foo`, then getAsVal() gives us a `val` alias which aliases, so we can do any amount of "bad things" by passing sendables (e.g. sending the val to another actor and then modifying)

[2020-09-09 14:50] SeanTAllen commented on #3463
@kapilash has a PR that fixes #3453. It does not however fix this. So this is probably not the same issue (although it might be similar).

[2020-09-09 21:15] SeanTAllen commented on #1007
This one is a bit tricky.

@dipinhora and I came up with a fix for a similar problem to this one (which will land eventually).

However, this is slightly trickier.

The key to the fix that Dipin and I came up with was that when done running its behaviors, an actor can see if it has no additional messages AND no references to itself and can then tell the cycle detector to skip parts of the CD proto

[2020-09-09 21:59] jemc commented on #1007
@SeanTAllen - thanks for taking the time to write this up.

I wonder if it would be helpful to introduce some static analysis in the compiler, to reduce unnecessary pessimism in the ORCA dance for these "one shot" actors.

For example, if the compiler can detect that the constructor value is discarded/unused by the constructor-caller, does that help the situation? That is, it would prove that any

[2020-09-09 22:10] jemc commented on #2038
Thanks for the great succinct example.

Given that this would be unsafe to allow under current Pony semantics, I'll close this issue, and any further discussion on related topics, new semantics, and how to prove safety of things like this can take place in RFCs.

[2020-09-09 23:28] SeanTAllen commented on #1007
@jemc that could be possible yes.

the create step is here in actor.c:

https://github.com/ponylang/ponyc/blob/master/src/libponyrt/actor/actor.c#L539

And the particular code is:

https://github.com/ponylang/ponyc/blob/master/src/libponyrt/actor/actor.c#L560

Where because context is not NULL, we set the rc count to `GC_INC_MORE`:

https://github.com/ponylang/ponyc/blob/master/src/libponyrt/actor

[2020-09-10 15:23] #3453 closed

[2020-09-11 00:54] jasoncarr0 opened #3652 "Array.chop can be unsound for non-sendables"
Array.chop asserts that it is fine for the pieces to be isolated, because the memory is disjoint, but isolation is a deep property, also applying to all pointers. Notably, they can reference each other, or the array itself.

[code]
`arr1(0)` and `arr2(0).other` now alias from two different isos.

Like with clone, one case which makes this sound is if the data is sendable

[2020-09-11 01:13] SeanTAllen commented on #3652
This is problematic.

If you take a network server, the data comes in as an Array[U8] iso and chop is used on it to slice off sections. This is safe for that case and we need to make sure that we preserve it while ruling out the unsound cases.

[2020-09-11 02:28] jasoncarr0 commented on #3652
In the case of Array[U8] and the like, thankfully there's no issue as U8 val is sendable. But this seems to be a common issue of needing sendability to make isos and I'm not sure if we can use the read_u8 trick to handle it

[2020-09-12 18:02] jemc commented on #2038
@jasoncarr0 - Thinking about this more, maybe we can trivially allow this as long as the receiver is a local variable (rather than a more complex expression)? That would force the user to evaluate a complex receiver expressions first (by assigning it to a local variable), avoiding the issue with order of evaluation and still allowing a lot of useful cases.

[2020-09-12 18:14] jasoncarr0 commented on #2038
That possibility will work, but is weaker. Because if it's a variable it's `iso/trn`, and so disjoint from any other path of relevance

[2020-09-12 18:15] jasoncarr0 commented on #2038
Also: amusing timing here, as I just updated the RFC to fix/simplify the conditions a bit.

[2020-09-12 20:16] jasoncarr0 commented on #2038
Thinking about this, with that condition above, in fact, it's almost exactly the same as recover blocks (which can be fine, for convenience). Since if you've bound it, you can put it in a var by definition:
[code]

[2020-09-14 13:53] d-led commented on #2441
a side remark, the Go run-time [has managed](https://gist.github.com/d-led/066b7a9b8ce52e345e62212716daa02a#gistcomment-3368227) to implement [tight loop pre-emption](https://github.com/golang/go/issues/10958)

[2020-09-15 16:02] #3463 closed

[2020-09-15 16:02] #3567 closed

[2020-09-15 18:49] SeanTAllen commented on #3652
The next step on this would be for someone to try out the read_u8 trick on this and see if it works.

If you would like to help on this and aren't sure what the read_u8 trick is, please ping @jemc, @jasoncarr0, or myself.

[2020-09-15 19:20] jemc commented on #3652
Should be as simple as this, right?

[code]

That seems to do the trick, unless I'm missing some piece of understanding about the problem. It disallows the method for arrays of non-sendables, and allows it for arrays of sendables.

---

Do we need to fix `unchop` as well, or is that one okay?

[2020-09-15 19:40] jasoncarr0 commented on #3652
Unchop is fine. The issue is when we split an iso in half it could have internal aliases. Combining two together is always fine.

Also, this is more trivia than anything, but this is also safe with `trn`.

[2020-09-15 20:25] jemc commented on #3652
We don't have a generic capability like `#send` that also includes `trn`, so I think we'll need to exclude that case for now.

But yeah, just changing that one line I mentioned above should be the only change (and writing release notes). I can probably get to this later in the week if nobody else does it before then (I have a different working branch right now that I don't want stash yet).

[2020-09-15 21:09] dkull opened #3655 "Type alias AST backtrace"
Hi! Really new Pony user here.
Found an issue with the AST parser:

[code]
I understand the type should actually be `(U8 | U32)`.
But the compiler produces on current master (59dddb6):
[code]

[2020-09-15 23:04] kulibali opened #3656 "TCPConnection does not correctly detect connection failure to a recently-closed listener on Windows"
The following test does the following: creates a `TCPListener` and then closes it, then creates a client `TCPConnection` pointed at the  now-closed listener's host and port. On Windows, the client connects "successfully" even though it shouldn't, and then doesn't disconnect even after writing some bytes, so the program never reaches quiescence. The test passes on the [Playground](https://playgroun

[2020-09-15 23:53] jasoncarr0 commented on #3652
Yeah I wasn't genuinely concerned. We could handle this some day with specialization but this is plenty

[2020-09-16 17:18] SeanTAllen opened #3658 "Crash with iftype and generic constraint"
[code]

@jemc found this.

[2020-09-16 17:19] jemc commented on #3658
It compiles correctly if the `UnsignedInteger` trait is not used as a constraint.

[2020-09-16 17:21] SeanTAllen commented on #3658
It appears any constraint that takes a [T] like `Integer[T]` causes the crash.

[2020-09-16 17:22] jemc commented on #3658
Might be a recursion issue, then. :disappointed:

[2020-09-16 17:25] SeanTAllen commented on #3658
[code]

[2020-09-16 17:26] SeanTAllen commented on #3658
backtrace goes on and on... looks like a recursion issue.

here's a random grab on my part of some of it:

[code]

[2020-09-16 21:23] dkull opened #3659 "fill=0 breaks Format returned string"
I 'm not 100% sure this is unintended behavior, but seeing this eat the whole expected value + the proceeding value from string concatenation I am reporting this just in case.
[code]
Produces expected output:
[code]
Changing to `fill=0`:
[code]
produces unexpected output:
[code]
`fill=-1` produces probably expected output:
[code]

[2020-09-17 02:28] jasoncarr0 commented on #2038
As to the question from sync about which examples don't work with this, I would still point to array as being a particularly common case, or any field. Under these rules, like with recover blocks, we have to remove the object from the array before we can use it here, so this helps a few cases, but it's peeling away only one layer of shuffling.

This gets particularly bad if we've received an array

[2020-09-17 14:46] jemc commented on #2038
I don't understand what you mean - can you post a full example?

Today, I can use auto-recovery to call methods of an `iso` field without juggling in a new object, for example:
[code]

Now, with the improvement discussed in this ticket, I could also define a method that operates on String ref as an argument, which would be allowed to do arbitrarily complex `ref` and `box` operations on the field (

[2020-09-17 21:20] #3652 closed

[2020-09-18 18:59] SeanTAllen commented on #3627
The release is going to be moved to when https://github.com/ponylang/ponyc/pull/3653 lands.

We already had a PR land this week that is a "triggers release" issue and #3653 is another that I want to get in with it as it fixes a mess of edge cases. Even with a delay to get #3653 in, the release should still happen before the original target date.

[2020-09-19 18:23] jasoncarr0 commented on #2038
Sorry, in your case above, it would be banned by the requirement that the expression be a simple variable. I did not interpret it to mean fields as fields can be invalidated by other expressions

[2020-09-20 19:48] palash25 commented on #3131
hi there, new to Pony, I have played around a bit with the collections packages and would like to work on this issue. :smile:

[2020-09-20 21:12] SeanTAllen commented on #3131
@palash25 awesome! Let me know if you need any assistance

[2020-09-20 23:09] SeanTAllen commented on #3455
@dipinhora found a bug in the scheduler message queue that would be likely source of this issue. I need to write it up but it could result very (rarely) in an actor having been in 2 scheduler queues and getting run in parallel which would result in bad things.

[2020-09-20 23:10] SeanTAllen commented on #2275
I'm closing this as it is possible to do now using the `RuntimeOptions` functionality.

https://github.com/ponylang/ponyc/blob/master/packages/builtin/runtime_options.pony

[2020-09-20 23:10] #2275 closed

[2020-09-21 15:00] jasoncarr0 commented on #2038
Ah, this was a miscommunication in that case. Yeah, that case is not a priori sound because other arguments could invalidate. `x.foo(y.x, y.method_invalidating_x())` this will evaluate the method after evaluating `y.x`

[2020-09-21 16:29] jemc commented on #2038
So both the receiver and all arguments that follow the auto-recovered argument need to be a "simple" expression requiring no evaluation, but it seems that the auto-recovered argument itself can be.

So my example with `StringDoubler(obj.field)` should still be valid, right?

And other cases can be made valid just by making sure that the arguments are in an order such that the auto-recovered one is

[2020-09-21 17:44] jasoncarr0 commented on #2038
Yeah, that would suffice. So long as anything evaluated after the target of the receiver cannot invalidate (such as being just a simple variable/consume; a constructor with no arguments, or read-only), then it works. Your example should work because `StringDoubler.create()` mentions no writeable aliases which could alias obj.

[2020-09-22 18:17] SeanTAllen commented on #3659
This would be as expected because the 0 is the null terminator in C and is being interpreted as such.

I think that one could argue that this is surprising and should be changed but it is correct for what we have right now.

Joe calls it a "gotcha" and I would agree with it.

If there was a difference between character literals and numbers in the type system, this could be caught but without that

[2020-09-22 18:17] #3659 closed

[2020-09-22 18:18] jemc commented on #3659
Note that the `-1` would give you the maximum-valued unicode codepoint, which seems to be this `ｿ` character

[2020-09-22 18:24] SeanTAllen commented on #3655
We discussed during sync. It would appear the compiler is chocking on getting a tuple where it expects a valid type alias.

We want to catch that and display a nice error message.

[2020-09-22 18:25] jemc commented on #3655
You get a nice error for this when you remove the type alias indirection. The error message is:

So we want this to fix it so that the compiler can show the same nice error message as above, after digging through the type alias reference.

[2020-09-22 18:38] redvers opened #3660 "Large Array[String] causes segfault on windows and compile never completes in Linux"
On Windows, the compiler immediately segfaults:

[code]

$ ponyc -v
0.37.0 [release]
Compiled with: LLVM 9.0.1 -- MSVC-19.25.28612.0-x64 1925
[code]
[nix-shell:~/projects/pony/segfault]$ ponyc
Building builtin -> /nix/store/96zm5fl579d1pd91nm0418p67bdhahxm-ponyc-0.33.2/lib/pony/0.33.2/packages/builtin
Building . -> /home/red/projects/pony/segfault
ponyc -v
[code]
actor Main
  new create(env: Env)

[2020-09-22 18:53] redvers commented on #3660
[](url)
[main.txt](https://github.com/ponylang/ponyc/files/5263448/main.txt)
[test.txt](https://github.com/ponylang/ponyc/files/5263449/test.txt)

[2020-09-22 20:15] kulibali commented on #3660
On Windows it's a stack overflow.  The top of the call stack:

[code]

[2020-09-24 22:37] #1007 closed

[2020-09-24 22:44] SeanTAllen commented on #3627
Release is underway.

[2020-09-24 22:45] SeanTAllen opened #3661 "Release 0.38.2"
Target date is October 31/November 1.

[2020-09-24 23:16] SeanTAllen commented on #3627
Release is done. PR opened to turn back on release image building check:

https://github.com/ponylang/ponyc/pull/3662

[2020-09-24 23:16] #3627 closed

[2020-09-25 15:48] SeanTAllen commented on #3636
There's a fix in progress for this.

[2020-09-29 08:44] jasoncarr0 opened #3668 "Array.from_cpointer with CPointer.create violates memory safety"
Array's methods and Array.from_cpointer basically trust the user outright; but we can make a null pointer publicly with Pointer.create, and generally blow up

https://stdlib.ponylang.org/builtin-Pointer/#create
https://stdlib.ponylang.org/builtin-Array/#from_cpointer
[code]

[2020-09-29 15:34] jemc commented on #3668
I genuinely thought that `Pointer.create` returned a `tag`. In fact when I copied pointer code to Mare, I did it as a `tag`: https://github.com/jemc/mare/blob/44aee9554115e2b17d54c4fe477481dcc34b8ffc/src/prelude/c_pointer.mare#L15-L18

In the docs in Mare I even explained that this is the reason why it must be `tag`.

But you're right - in Pony it returns a `ref`. I swear I thought it was `tag` al

[2020-09-29 15:55] SeanTAllen commented on #3668
What value is there in creating an array that you only have a tag reference to?

[2020-09-29 16:00] jasoncarr0 commented on #3668
I think the point was that Pointer.create would return a tag, and Array.from_cpointer would remain unchanged and return ref

[2020-09-29 16:13] SeanTAllen commented on #3668
ah, thanks for the clarification @jasoncarr0

[2020-09-29 18:39] jemc commented on #3668
If someone wants to working on fixing this, they'll probably run into the fact that Array and String internally rely on being able to create a `ref` null pointer, and changing this to `tag` will break that. So to fix those breakages, we'll need to add `._unsafe()` after those constructor calls.

The `._unsafe()` call can be used within the `builtin` package but nowhere else. If this breaks other p

[2020-09-29 18:39] SeanTAllen commented on #3656
For anyone looking into this, it works fine on Linux.

[2020-09-29 23:47] SeanTAllen commented on #3636
This was fixed by #3667.

[2020-09-29 23:47] #3636 closed

[2020-10-01 05:32] jemc opened #3669 "Compiler crash when if block ends with an assignment that has no result value."
I noticed an issue with `embed` fields in codegen - if the `embed` assignment is at the end of an `if` block, then `ponyc` generates invalid LLVM IR.

For example:

[code]

Looking at the cause of the problem, I noticed it also happens if you use the "don't care" symbol (`_`) as the left side of an assignment at the end of an `if` block. There's not much reason to do this that I can think of, but

[2020-10-01 13:50] jemc commented on #3669
Resolved by #3670.

[2020-10-01 13:50] #3669 closed

[2020-10-05 20:42] ergl commented on #3668
I've taken a stab at this. There's one issue with the `net` and `process` packages requiring usage of a `ref` or `iso` variants of `Pointer`. Since `_unsafe()` is private, it's not visible from those packages. Here are the cases where it happens:

1. `NetAddress.name` requiring an `iso` pointer

    https://github.com/ponylang/ponyc/blob/eb6fbbb16600249e1d90cd3e6674ebe75fecc5b0/packages/net/net_ad

[2020-10-06 15:10] kulibali opened #3674 "ProcessMonitor on Windows does not always receive all of stdout from child processes"
The best way to reproduce this right now is to run the Corral integration test `integration/fetch/scripts` (run `.\make.ps1 -Config debug test` in the corral repo, and then you can run `.\build\debug\test.exe --verbose --only=integration/fetch/scripts` several times. What I observe is that Corral sometimes reads all of the standard output from the powershell script it runs on fetch, and sometimes

[2020-10-06 17:58] jemc commented on #3668
Interestingly enough, `pony_os_nameinfo` used to return the two pointers as a tuple rather than using the `addressof` pattern, but in this commit (https://github.com/ponylang/ponyc/commit/dca188cfde26bdc61f861a29f31e2c90d3aeb0b7) it was changed, and as the commit message implies ("returning a struct from a C FFI on Windows is complicated"), this wasn't safe on all platforms and in fact this is now

[2020-10-06 18:00] jasoncarr0 commented on #3668
Some other options:

3. Allow `ref` pointers to be null, and account for it in all public interfaces. That is, Pointer can optionally point to an allocation.
4. Follow Rust in a null-pointer optimization with guaranteed ABI: There `Option<&Foo>`, which is either a reference to Foo or None, is defined to have the exact same layout as a pointer to Foo. I can see a lot of difficulty with this route t

[2020-10-06 18:03] jemc commented on #3668
For the case of `ponyint_win_process_create` (used by `_ProcessWindows.create`) the C API refactor is more straightforward: we need to make it return the `error_message` pointer instead of using `addressof` for it, then use `addressof` for the value that is currently the return value.

[2020-10-06 18:21] jemc commented on #3668
We discussed on today's sync call that we like approach :three:	the best.

To be more specific, we want to change `Array.from_cpointer` and `String.from_cpointer` so that it will keep accepting a `Pointer ref`, but it will check first for the null pointer case. If the pointer is a null pointer, then it will return a zero-length `Array` or `String`, ignoring the length that you asked for.

This clo

[2020-10-06 18:26] kulibali commented on #3674
@mfelsche have you observed this at all?

[2020-10-06 18:29] jemc commented on #3660
As Gordon pointed out, this is because the parser is parsing the sequence recursively, so a long sequence ends up just nesting deeper into the stack.

We need to figure out if we can parse sequences like this non-recursively somehow.

[2020-10-06 20:04] ergl commented on #3668
@jemc Yes, I think it makes sense. If I understand point 3 correctly, the default Pointer constructor will still be `ref`, and we just add an extra to String / Array to prevent unsafe behaviour.

Also, you're right that I misunderstood the original code. I tried my approach of constructing a string on the pony side but I couldn't get it to work, makes sense now!

[2020-10-07 19:12] jmlazaro25 commented on #164
@sblessing I am working on something else but also using fedora, need to install something only made in .deb, and am running into the same "conflict." Do you mind sharing how to get around using alien?

[2020-10-07 19:27] SeanTAllen commented on #164
@jmlazaro25 we don't have any rpm/deb packages anymore. Those were dropped ages ago. I assume you are referring to something non-pony related?

[2020-10-07 19:37] jmlazaro25 commented on #164
Correct. I need to install something for a class and it looks like my issue is the same one that came up here.
(The package: https://reference.digilentinc.com/reference/software/digilent-agent/start )

[2020-10-07 19:42] SeanTAllen commented on #164
@jmlazaro25 Sebastian is no longer part of the project, so I doubt he will respond.

[2020-10-13 20:13] ergl commented on #3604
The linked code no longer fails with an assertion error; it now emits the following error:

[code]

which definitely points to #3304 as the source of this. It's not clear to me why the `AST_FLAG_CNSM_REASGN` is assigned here, since no field is being `consume`d here, afaik.

[2020-11-03 01:33] jasoncarr0 opened #3677 "Automatic receiver recovery for trn not checked correctly on box methods"
When calling a `box` method on a `trn` expression, automatic receiver recovery seems to occur without proper checks, and the result is `ref`.

[code]
I suspect this comes in due to the ambiguity since `trn` can be coerced to `box` but also recovered automatically to different types, and some code makes a bad assumption and treats it as `ref`. This is independent of the subtype changes. This ambigu

[2020-11-03 01:40] jasoncarr0 commented on #3677
Most probable explanation: this was latent until the change to allow returning `box` for `trn` recovery. TK_THISTYPE likely gets instantiated as `box` and then the `trn` receiver sees the result as safe to recover, and becomes `ref`.

[2020-11-10 19:27] jemc commented on #3677
Proposed solution from Jason during the sync call: when doing receiver recovery on a `box` call, we should reify `this` as `ref` instead of `box` inside the call.

[2020-11-16 19:58] fweimer commented on #3139
@anacrolix Sorry, I don't have access to Zulip. I guess a `write` or `sendto` failure is a possibility. Would this cause the socket go away, though?

[2020-11-16 21:54] ergl commented on #3139
Yes, if an error is raised while writing, the socket will be closed: https://github.com/ponylang/ponyc/blob/eb6fbbb16600249e1d90cd3e6674ebe75fecc5b0/packages/net/udp_socket.pony#L366-L370

https://github.com/ponylang/ponyc/blob/eb6fbbb16600249e1d90cd3e6674ebe75fecc5b0/packages/net/udp_socket.pony#L403-L408

[2020-11-17 10:08] fweimer commented on #3139
Hmm. This is rather awkward. Is it really necessary to close the socket here? It should be fairly easy to reproduce this with packets from a spoof source address to which no route exists in the routing table, assuming that the kernel does not implement IP reverse path filtering.

[2020-11-17 19:13] SeanTAllen commented on #3139
@fweimer do you have a minimal program that demonstrates the problem? it's very hard to know what might be an issue without being able to see code that can demonstrate it.

[2020-11-17 20:10] fweimer commented on #3139
I need to check if I still have the sources somewhere. (The application is more or less a basic UDP echo server, but it speaks DNS.) The issue reproduced only after a long time (several weeks). Close-on-error looks like the most likely culprit, though.

[2020-12-01 19:11] aturley commented on #3139
@fweimer were you able to find anything?

[2020-12-07 18:23] ergl opened #3682 "Syntax pass: "return on constructor or behaviour must not have an expression" before lambda desugar"
Over on Zulip, Rowland Smith raised the following (abbreviated example):

The following program fails to compile with "A return in a constructor must not have an expression", even though the `return` happens inside a lambda.

[code]

If we transform `f` to an object literal, it compiles just fine:

[code]

The above also happens inside behaviours.

The error arises during the [syntax pass](https:/

[2020-12-11 23:34] lutzh opened #3684 "Error "ld: library not found for -lSystem" on macOS Big Sur"
Hi, I'm trying to compile a "Hello World" program on macOs Big Sur 11.0.1 (20B29)

[code]
but linking fails

[code]

Sorry if this is an FAQ... I literally tried pony for the very first time today, so please bear with me...

Thanks for your help!

[2020-12-12 14:58] SeanTAllen commented on #3684
Did you upgrade or do a fresh install of Big Sur?

[2020-12-12 15:02] SeanTAllen commented on #3684
Can you give the output of `clang -v` and `which clang` as well?

[2020-12-12 15:31] lutzh commented on #3684
Hi @SeanTAllen , thanks for looking into this!

- Did you upgrade or do a fresh install of Big Sur?

Upgrade

- Can you give the output of clang -v and which clang?

[code]

and

[code]

- How did you install pony?

I followed the instructions here: https://github.com/ponylang/ponyc/blob/master/INSTALL.md#macos
i.e. I installed `ponyup` with the provided script and then used that to install `ponyc

[2020-12-12 15:35] SeanTAllen commented on #3684
Thanks. As far as I can tell (I don't have a Mac and our CI doesn't have Big Sur yet), with Big Sur they moved the location of a number of libraries. That MIGHT have an impact. I'm unsure. I'm trying to find someone in the Pony community who has a Big Sur install who might be able to help diagnose more fully. The limited information that I've found online for people experiencing similar problems w

[2020-12-12 17:20] SeanTAllen commented on #3684
@lutzh can you run `sudo xcode-select --install` to make sure you have all the latest xcode command line tools installed?

[2020-12-12 22:44] lutzh commented on #3684
I did, I don't think that's the problem, the output is

[code]
but I'm pretty sure the XCode command line tools and everything else are up to date, there are no updates displayed in "Software Update".

I'm not quite sure where/how ld is invoked. Is there a way to pass additional arguments for the library path to the ponyc compiler?

[2020-12-12 22:57] SeanTAllen commented on #3684
Thanks @lutzh.

It does indeed look up to date.

There's a `--linker` option that you can use but you need to supply the entire "ld" command not just additions.

This is the command that is failing. You should be able to try changing to it as long after it fails once you don't run any other ponyc commands in the same directory (at least this is the command based on what you pasted- assuming it is

[2020-12-13 09:37] lutzh commented on #3684
Hi @SeanTAllen ,

Thanks again. Tried that, I can confirm that

`ponyc --linker="ld -L /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/lib"`

does work and I got to the the "Hello, world!" output I was looking for.

So it might be that some lookup rules changed in macOS 10.12 and this has to be passed to the linker as a library path. Or it might still be that some configuration is messed u

[2020-12-13 12:41] SeanTAllen commented on #3684
From what I've read, this appears to be something that will be needed in general for Big Sur.

I'm surprised the xcode update didn't pick that change up automatically as what I read seemed to indicate that it would.

Can you run "which ld" and put the output here.

There's a couple other things to check which I'll add another note for once I'm not on my phone.

[2020-12-13 13:01] SeanTAllen commented on #3684
@lutzh what happens if you run:

[code]

Do you get a working hello world application?

[2020-12-13 16:30] lutzh commented on #3684
Yes I did, see my comment https://github.com/ponylang/ponyc/issues/3684#issuecomment-743979518
Well. I did not put in the "-lSystem" as that seemed redundant, but a quick check revealed it would still work if I did.

As for your other question,
[code]

Maybe also of interest

[code]

[2020-12-13 16:39] SeanTAllen commented on #3684
Excellent. Thanks. So it appears the solution would be to add `-L/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/lib` when on Big Sur or higher. (I believe that is version 11.0).

In `link_exe` we don't currently distinguish between different Mac versions when doing any of the work. I think therefore, it would reasonable to add the -L addition in general when on MacOS as I don't think that

[2020-12-13 16:40] SeanTAllen commented on #3684
@lutzh this is ready for someone to pick up the work. Would you like to do it? It's straightforward. You did most of the diagnosing, so I'd like to offer you the opportunity to fix it if you are interested, if you aren't that's ok too.

[2020-12-13 18:55] lutzh commented on #3684
Tbh given I only tried out ponyc for the first time this weekend and have never built it from source, it might be better someone else takes over from here. When I explore pony further, I'm sure there'll be ample opportunity to find some other issue to work on.

[2020-12-15 18:13] v-almonacid commented on #3684
I just ran into this github issue since I'm facing a similar issue (can't compile an app that uses the `ld` linker after upgrading to Big Sur).

Just wanted to point out that I'm on a recently upgraded Big Sur machine and this directory doesn't exist anymore:`/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/lib/`

[2020-12-15 18:17] SeanTAllen commented on #3684
@v-almonacid does this mean that the fix that worked for @lutzh doesn't work for you?

[2020-12-15 18:21] v-almonacid commented on #3684
@SeanTAllen I don't know, I'm not using this software. It's just a heads up.

[2020-12-15 18:22] lutzh commented on #3684
@v-almonacid Apple apparently had the ingenuous to delete the command line tools with every XCode update, but you should be able to make them reappear with `xcode-select install`.
At least that brought them (and thus `/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/lib/`) back for me after the last update. Have you tried that?

[2020-12-15 19:22] jemc opened #3685 "Segfault in os_socket_connect"
There is an issue in the `os_socket_connect` runtime function where the case of `result` being `NULL` is not handled, leading to a runtime segfault.

See this ticket for more information: https://github.com/ponylang/ponyup/issues/172

[2020-12-15 20:30] v-almonacid commented on #3684
@lutzh I did an upgrade to the command line tools just last night (this is a ~month after I upgraded to Big Sur), and even after doing `xcode-select install` I don't see anything in that path.

I wonder whether this is related to (from Big Sur [change logs](https://developer.apple.com/documentation/macos-release-notes/macos-big-sur-11_0_1-release-notes)):

[2020-12-15 20:42] v-almonacid commented on #3684
@lutzh sorry, forget what I say, I think it's just that the upgrade was not complete (needed to accept license agreement, etc).
Apologies for polluting this thread 😬

[2020-12-16 09:14] ergl commented on #3684
I'm going to give this a try this weekend, so I'm assigning to myself for now.

[2020-12-19 19:46] SeanTAllen commented on #3661
This will be released once #3686 has release notes and is merged.

[2020-12-20 22:31] #3684 closed

[2020-12-23 15:10] ergl commented on #1641
The current error message as of pony 0.38.1 is simply:

[code]

I don't think this is too confusing anymore. Perhaps this can be closed?

[2020-12-26 05:19] alikhaledi commented on #3684
I am using ifort on Big Sur and I ran into this issue, I have read through the comments but still, I am not sure how to resolve the issue. Can someone help me, please.

[2020-12-26 09:11] ergl commented on #3684
Hi @alikhaledi the problem should be fixed in the next release. In the meantime, you can try compiling your programs like so:

[code]

Let us know if that works for you!

[2020-12-26 13:24] #3685 closed

[2020-12-26 13:25] SeanTAllen commented on #3661
This will be going out later today if things work out as planned.

[2020-12-26 13:45] SeanTAllen commented on #3661
Release is underway.

[2020-12-26 14:13] SeanTAllen commented on #3684
This is fixed in 0.38.2 which was released within the last 10 minutes.

[2020-12-26 14:15] SeanTAllen commented on #3661
Release is done.

[2020-12-26 14:15] #3661 closed

[2020-12-26 14:16] SeanTAllen opened #3688 "Release 0.38.3"
Release date is January 29th.

[2020-12-26 14:26] #1641 closed

[2020-12-27 07:05] alikhaledi commented on #3684
Yes, I did but still, I get the same error.

I have the following simple FORTRAN code

`[Implicit none

print*, 'Hello'

end
](url)`

[2020-12-27 13:06] SeanTAllen commented on #3684
@alikhaledi this isn't a fortran project. you'll need to consult with the project in question. this is an issue for the Pony programming language compiler only.

[2020-12-28 01:21] HugoFlorentino commented on #434
I thought everything needed to compile the simple hello world, was included with the release linked in Github, from https://dl.cloudsmith.io/public/ponylang/releases/raw/versions/latest/ponyc-x86-64-pc-windows-msvc.zip

However:
C:\prj\pony\helloworld>ponyc
Building builtin -> C:\proglang\pony\packages\builtin
Building . -> C:\prj\pony\helloworld
Generating
 Reachability
 Selector painting
 Data p

[2020-12-28 01:29] kulibali commented on #434
Please follow the installation instructions at https://github.com/ponylang/ponyc/blob/master/INSTALL.md#windows

[2020-12-28 02:48] HugoFlorentino commented on #434
I just can't download VS2019 right now, it's too big and internet is way too expensive in my country.
More than 3 GB on VS as a dependency just to be able to compile a hello world, is overkill, IMHO.

[2020-12-28 03:02] SeanTAllen commented on #434
Sorry to hear that @HugoFlorentino. VS2019 is needed to do linking. I'm sorry you won't be able to join the community.

We hope to eventually be able to use lld, however, it still isnt where we would need it to be.

I'm locking this issue as it is a very old issue.

[2021-01-22 01:34] SeanTAllen opened #3698 "Send repository_dispatch event for macOS nightlies to ponyup"
So we can do macOS breakage tests

[2021-01-26 19:12] #3698 closed

[2021-01-26 19:12] SeanTAllen commented on #3698
This has been done.

[2021-01-27 21:25] #3668 closed

[2021-01-29 15:38] SeanTAllen commented on #3688
This has been released.

[2021-01-29 15:38] #3688 closed

[2021-01-29 15:39] SeanTAllen opened #3702 "Release 0.39.0"
Earliest release date would be February 27, 2021

[2021-01-31 11:11] pinicarus opened #3703 "Use system LLVM"
Hello,

I'm trying to provide a gentoo package for ponyc, so I need to build it from sources.
I'm working with the 0.38.3 release.

I'm having a hard time working with the current setup of using a custom, patched, LLVM version as a git submodule.
I already created a bunch of patches on cmake files and some sources, but still struggle with building ponyc.
It seems like a really fragile way of maint

[2021-01-31 12:29] niclash commented on #3703
I think the patches are related to LLVM is being used by the Pony compiler to cross-compile for other platforms. The "patch" in question is only about pointing the toolchain to the right tool for those more advanced use cases.
I think you shouldn't try to patch the Pony build system, and instead explain what you have problem with in the building of sources (many of us are doing that daily and no p

[2021-01-31 12:53] SeanTAllen commented on #3703
Hi @pinicarus,

We won't be supporting "system LLVM" for a number of reasons, all of which boil down to "our time". It was a very intentional decision made over the course of a number of years of working as consumers of LLVM for writing a language.

## So, why not system LLVM?

### Keeping up with versions

Using the system LLVM forces us to keep up with and maintain support for any version that h

[2021-01-31 12:53] #3703 closed

[2021-02-01 17:29] pinicarus commented on #3703
Hi @SeanTAllen,

I see your point.
Thanks for your feedback.

Best regards.

[2021-02-07 00:10] mneumann opened #3708 "ponyc fails to compile on FreeBSD 12.2"
FreeBSD 12.2 uses `clang` 10.0.1 as base compiler. Compilation fails during building `gbenchmark`:

[code]

[2021-02-07 01:29] SeanTAllen commented on #3708
I wonder if this is "as simple as" updating to a later version of google benchmark.

[2021-02-07 02:39] SeanTAllen commented on #3708
Upgrading to google benchmark 1.5.2 fixes the issue. There's a PR already open that will be merged soon.

https://github.com/ponylang/ponyc/pull/3706

[2021-02-07 02:39] SeanTAllen commented on #3708
Thanks for finding and reporting this @mneumann.

[2021-02-07 03:39] SeanTAllen commented on #3708
Closing this as the PR will be merged soon.

[2021-02-07 03:39] #3708 closed

[2021-02-11 03:55] SeanTAllen commented on #3702
After the release of this version of ponyc, corral and ponyup should be switched back from installing a nightly version of ponyc for FreeBSD-12.2 to using the release version.

[2021-02-14 17:17] #3564 closed

[2021-02-25 20:13] #3305 closed

[2021-02-27 00:08] Trundle commented on #2609
In the first example, the match's inferred type is `((USize, Bool) | (USize, None))`. That type is a subtype of `(USize, (Bool | None))`, but the code generator doesn't insert the correct cast.

The crash goes away if one changes it to something like:

[code]

[2021-02-27 15:50] #2609 closed

[2021-02-27 15:55] SeanTAllen commented on #3702
starting release

[2021-02-27 16:58] SeanTAllen commented on #3702
Finished.

[2021-02-27 17:00] #3702 closed

[2021-02-27 17:00] SeanTAllen opened #3724 "Release 0.39.1"
Target release date is March 26, 2021

[2021-02-27 23:23] SeanTAllen commented on #3674
I believe I figured out the issue. @kulibali is going to be testing a fix.

[2021-02-28 00:52] Trundle commented on #3285
This is another rescope bug:

https://github.com/ponylang/ponyc/blob/22df673d577367dffdc8f31ecf67fce963ac777a/src/libponyc/pass/traits.c#L435-L441

Method `b` is copied from interface `B` to class `C` and rescoping starts with a fresh scope. Once the parameter type reference is visited, the referenced parameter is looked up and added as data to the reference (see snippet above). As the referenced

[2021-02-28 00:55] Trundle commented on #2808
This should be fixed with the changes in #3723.

[2021-02-28 01:04] #2808 closed

[2021-02-28 01:40] #3285 closed

[2021-02-28 04:04] #3674 closed

[2021-02-28 06:44] bb010g commented on #2815
Implementation in #3643.

[2021-02-28 20:24] jasoncarr0 commented on #2815
@bb010g this isn't quite an implementation of that full theory. It changes the subtyping model but no changes have been made yet for viewpoint adaptation (and I'd like to discuss before doing so).

[2021-03-09 16:56] ergl opened #3727 "Verify pass: partial application of function with default argument expression causes core assertion error"
[Emil Bay reported a bug on Zulip](https://ponylang.zulipchat.com/#narrow/stream/189934-general/topic/Core.20dump.20on.20partial.20application.20on.20Format), the following are the details of the bug:

The following pony code causes an asserion error during the verify pass:

[code]

The problem comes from the `-1` part. Writing `1+1` also fails (or any other operation with integers).

Compiler out

[2021-03-10 08:40] ergl commented on #3727
Here's the AST output for the partial application call when using `f: I8 = -0` and `f: Bool = not true`, to show the difference in inference:

For `I8`:

[code]

For `Bool`:

[code]

The difference is that for `I8`, the compiler infers that `0` is a literal, while inferring that `true` is of type `nominal`. In this case, both should be `nominal`, as we can see in the AST for the definition of the

[2021-03-11 10:58] ergl opened #3728 "Expr pass: partial application of function with out-of-range literal in parenthesis causes core assertion error"
Probably related to #3727, this code causes the compiler to crash:

[code]

[code]

Pony version:

[code]

<details><summary>Backtrace</summary><pre>
* thread #1, queue = 'com.apple.main-thread', stop reason = signal SIGABRT
  * frame #0: 0x00007fff726e42c2 libsystem_kernel.dylib`__pthread_kill + 10
    frame #1: 0x00007fff7279fbf1 libsystem_pthread.dylib`pthread_kill + 284
    frame #2: 0x00007ff

[2021-03-11 11:04] ergl commented on #3584
Further comments, this happens during the `ir` pass of the compiler, and a minimal example:

[code]

Debug backtrace:

[code]

[2021-03-11 12:04] SeanTAllen commented on #3728
I believe there's an issue that exists that looks a lot like this. That's my recollection.

[2021-03-11 12:32] ergl commented on #3728
Maybe. I tried looking for errors related to uifset but couldn't find any open issues.

[2021-03-11 13:31] ergl commented on #3531
Looked into this a bit. The compiler catches that `1~add(1)` should be a compile error "can't do partial application on a literal number", but it keeps running after that.

The actual backtrace:

[code]

Afterwards, it tries to coerce the literal `~` to a type, which crashes. My intution is that at some point the AST gets confused because it is still operating on the pre-sugared version of partial

[2021-03-11 23:46] #3531 closed

[2021-03-16 18:51] jemc commented on #2859
[code]

[2021-03-16 18:54] ergl commented on #2859
[code]

[2021-03-29 17:29] SeanTAllen commented on #3724
Release is underway.

[2021-03-29 17:58] SeanTAllen opened #3733 "Release 0.40.0"
Earliest targeted release date is April 30.

[2021-03-29 17:58] SeanTAllen commented on #3724
Everything is done except for the Windows release which is still churning away.

[2021-03-29 18:37] SeanTAllen commented on #3724
Done.

[2021-03-29 18:37] #3724 closed

[2021-03-30 20:15] Theodus opened #3735 "RFC 68: Force declaration of FFI functions"
This proposal aims to make mandatory the declaration of all C-FFI (Foreign Function Interface) functions through `use` statements, such that the compiler is able to distinguish variadic functions from regular functions. In addition, it also aims to remove from the language the ability to specify the return type of an FFI function at the call site, as this is made redundant in the face of mandatory

[2021-03-31 12:11] ergl commented on #1758
The code currently compiles fine with the current release (0.39.1), but the resulting executable causes a segmentation fault:

[code]
[code]

[2021-03-31 12:24] ergl opened #3736 "Codegen pass: Assertion error on tuples of interface"
The following code causes an assertion under the current release (0.39.1) error on `genexpr.c`. The code seems to need the presence of `iftype`. If one uses a regular `if` (see commented code), the code succesfully compiles and runs.

[code]

Backtrace:

[code]

If we look at the AST, the inferred type for `to_tuple` is an union of tuples, which is also the type of `type` in the backtrace above:

[2021-03-31 12:26] ergl commented on #3736
For posterity: removing the offending assertion doesn't seem to cause any problems, and all tests still pass. I'm wondering if we actually need to make sure that the type is a tuple.

[2021-03-31 12:33] ergl commented on #3736
@jemc I recall you've looked at these issues with tuples and unions before, maybe you can comment on this.

[2021-03-31 12:46] ergl opened #3737 "Aliasing a package import doesn't apply to imported default method implementations"
This issue was raised on [Zulip](https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help/topic/Import.20specific.20elements.3F) by @rhagenson.

If one imports a package using an alias (`use alias = "./path/to/package`), this alias is not applied to all symbols imported from the package, as the following code shows:

[code]

[code]

This issue also applies if we use interfaces, so it's n

[2021-03-31 15:04] jemc commented on #3736
Looks like there is an issue with `iftype` not correctly narrowing the `type` of its result expression based on the selected branch that was chosen statically.

I can explain a bit further what I understand so far:

For the similar case with the regular `if`, what happens is that we create a "boxed" tuple (that is, a tuple inside an object wrapper with a type descriptor, so that the caller can pot

[2021-03-31 20:32] mfelsche commented on #3737
Thanks for that nice writeup.
I am collecting some related existing bug reports in the realm of default implementations of traits that give us a picture of the full defects of the current implementation. Might come in handy when starting to work on that:

* https://github.com/ponylang/ponyc/issues/2365
* https://github.com/ponylang/ponyc/issues/2150

[2021-04-14 13:41] SeanTAllen commented on #3733
Need to update INSTALL doc to include link to ponyc freebsd 13 releases following this release.

[2021-04-15 00:38] SeanTAllen commented on #3733
On release, corral freebsd install script should be switched from nightly 13.0 build to release 13.0 build

[2021-04-18 03:38] autumnblazey opened #3744 "limit LLVM submodule clone depth"
Hey! I was trying to build Pony from source, and I found out that when running `make libs` it clones the LLVM repo as a submodule. This is fine, but it appears that the LLVM repo is really big (1.5GB I think). Is it possible to create a shallow clone (with `--depth 1`)?

[2021-04-20 18:15] jemc commented on #3744
I agree that this would be a good improvement, since we know we only care about a single commit.

If anyone wants to pick this up, let me know and I can mark them as the assignee for the ticket.

[2021-04-20 19:05] SeanTAllen commented on #3744
I think this would be good for building but is somewhat problematic for development where we are switching LLVM versions. I think that perhaps having a make libs target that is shallow and an equiv that isn't shallow for "development" work that involves LLVM makes a decent amount of sense.

That said, can you supply a depth to a submodule if you are specifically not getting HEAD? Previously you co

[2021-04-20 19:11] SeanTAllen commented on #3744
@jemc I'm unsure that this is a "good first issue". From my remembrance, this might not be possible and if it is, it might be rather involved.

[2021-04-21 01:24] autumnblazey commented on #3744
I think I could give it a shot heh, I was looking through the source when I discovered this and I think I have an idea

[2021-04-21 09:14] ergl commented on #3744
@autumnblazey Go for it! If you have any problems, drop by [Zulip](https://ponylang.zulipchat.com/) and we'll try to help you

[2021-04-21 14:42] jemc commented on #3744
Sorry, I didn't realize this was nontrivial, as it seemed like a fairly straightforward operation on the surface.

Looks like this is [only possible with certain versions of `git`, which must be present on both the client and server](https://stackoverflow.com/a/43136160). I'm not sure if our LLVM upstream has a sufficient version and I'm not sure how prevalent these versions are on the client side

[2021-04-21 15:05] ergl commented on #3744
@jemc I _think_ we're fetching from github, so it should work. I tested it locally, although not with a submodule. If the linked stackoverflow is correct, it works with git 2.5.0 and up, which seems to have been [released in 2015](https://github.com/git/git/releases/tag/v2.5.0), so I think we should be good in most cased.

[2021-04-23 19:13] jemc commented on #2815
I have recently had some worries about the way generic caps are represented in `ponyc` that make me worry that we cannot support more than one type operator that modifies generic caps without losing track of the mappings of which input caps correspond to which output caps.

I think `ponyc` skates by right now on the fact that we only have one type operator (viewpoint adaptation) but I fear that ha

[2021-04-23 23:42] jasoncarr0 commented on #2815
Agreed with the concerns, and I'd like to talk about this as suggested.

Worth mentioning:
https://github.com/ponylang/ponyc/pull/3643/commits/f92d601fc1ce797481ce1a8b541e1ea3c3c16587

[2021-04-25 05:25] jemc commented on #1784
I've written a somewhat lengthy explanation in Zulip about what's going up with the signature of `Array.clone`. Maybe it will be helpful to someone reading this ticket, so I'll link to it here: https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help/topic/Debug.28.29ing.20an.20iso.20passed.20through/near/236037204

[2021-04-29 13:30] ergl commented on #1930
This has been fixed in [LLVM 12](https://bugs.llvm.org/show_bug.cgi?id=965#c32). Compilling the original code should now produce an infinite loop. Compiling in debug mode might still throw "bus error" when run.

[2021-04-29 13:40] SeanTAllen commented on #1930
When we upgrade to LLVM 12, we should include a CHANGELOG entry for closing this as part of that PR.

@ergl @jemc @kulibali

[2021-04-30 20:21] SeanTAllen commented on #3733
release underway.

[2021-04-30 20:27] SeanTAllen commented on #3733
hit an issue. looking into.

[2021-05-01 00:08] SeanTAllen commented on #3733
release is underway

[2021-05-01 00:22] SeanTAllen commented on #3733
FreeBSD install instructions have been done.

[2021-05-01 00:24] SeanTAllen commented on #3733
release is done

[2021-05-01 00:24] #3733 closed

[2021-05-01 00:25] SeanTAllen opened #3747 "Release 0.41.0"
Latest planned release date is Friday May 7, 2021

pre-release related tasks:

- [x] release a new version of https://github.com/ponylang/http_server

post-release related tasks:

- [x] merge https://github.com/ponylang/pony-tutorial/pull/449
- [x] merge https://github.com/ponylang/pony-tutorial/pull/468

[2021-05-01 21:22] #1964 closed

[2021-05-03 15:57] #2000 closed

[2021-05-03 15:57] #3565 closed

[2021-05-03 18:42] #3735 closed

[2021-05-04 22:04] Theodus opened #3750 "RFC: Make String.add return String iso^"
This RFC aims to change the signature of the [`String.add`](https://stdlib.ponylang.io/builtin-String/#add) method to return `String iso^`, instead of `String val`.

https://github.com/ponylang/rfcs/blob/main/text/0069-string-add-iso.md

[2021-05-04 22:06] SeanTAllen commented on #3750
@ergl were you planning on implementing this and if yes, do you think it would be soon?

If yes, I'll hold the 0.41.0 release so that it also includes this breaking change.

[2021-05-05 06:14] ergl commented on #3750
@SeanTAllen Yes, I can do it later today.

[2021-05-05 11:59] #3750 closed

[2021-05-07 12:37] SeanTAllen commented on #3747
release is underway.

[2021-05-07 12:54] SeanTAllen commented on #3747
All done! Thanks for playing everyone.

[2021-05-07 12:54] #3747 closed

[2021-05-07 12:55] SeanTAllen opened #3756 "Release 0.41.1"
This is going to be released on the 22nd of May to get out a fix for a bug that came in with the FFI RFC changes.

[2021-05-07 18:55] ergl opened #3757 "Check on NullablePointer[A] type constraint doesn't work with FFI declarations"
This bug also affected version 0.40.0, but the FFI changes in 0.41.0 have made this more visible. On  previous releases, the following code:

[code]

Would fail with the following error message:

[code]

Now that the return type syntax has been removed, we're forced to use a declaration:

[code]

Since `LibT` is defined after the declaration, it seems like the compiler doesn't know enough about it

[2021-05-07 20:38] ergl commented on #3757
Seems like:

[code]

Is enough to fix the problem, although I have no context on the original decision to skip the expr pass for use statements.

[2021-05-13 12:00] ergl commented on #3744
Closed by #3749

As Sean said, if we want to add a flag to enable / disable this, a new issue should be created.

[2021-05-13 12:00] #3744 closed

[2021-05-18 14:08] ergl opened #3759 ""with blocks" with no "else" clause are desugared incorrectly"
[The tutorial mentions](https://tutorial.ponylang.io/expressions/errors.html#with-blocks) that the return type of a `with` block is "_the value of the last expression in the block, or of the last expression in the else block if there is one and an error occurred._"

However, the above is incorrect in cases where the body of a with block doesn't raise an error. In that case, the compiler will gener

[2021-05-18 14:18] ergl commented on #3759
I understand it might be a bit hard to fix the above given how the desugaring takes place.

One solution would be to modify the `else` clause so that it returns the same value as the `try`, perhaps by duplicating the AST and generating the same body for both clauses:

[code]

[2021-05-18 18:07] jemc commented on #3759
I think this is duplicate of: https://github.com/ponylang/ponyc/issues/1571

[2021-05-18 18:16] jasoncarr0 commented on #3759
One way to fix this here is to desugar into try-then (without an else, unless one was provided). This avoids having to add another unique concept to the compiler.

Secondarily, the try-then block typechecking should be fixed so that it does not result in a union with None if the try block cannot error (i.e. if an else block is not necessary). It's not clear how easy this would be in the compiler

[2021-05-19 06:51] ergl commented on #3759
@jemc Thanks for the duplicate check, I tried searching for an open issue but didn't find that one. Do you want to close either one as a dup?

[2021-05-19 20:25] jemc commented on #1571
Closing - not yet resolved. Conversation has moved to ticket #3759.

[2021-05-19 20:25] #1571 closed

[2021-05-19 20:27] jemc commented on #3759
I don't mind closing the older one. Done.

Just note for anyone reading along that the other ticket has a reference to a sync call in 2017 where this was discussed. In case anyone wants to go read that comment and/or listen to the recording from that sync call.

[2021-05-21 12:15] #3757 closed

[2021-05-22 11:16] SeanTAllen commented on #3756
This is underway.

[2021-05-22 11:42] SeanTAllen opened #3760 "Release 0.41.2"
Target release date is the weekend of July 2, 2021

[2021-05-22 11:46] #3756 closed

[2021-05-22 11:46] SeanTAllen commented on #3756
All done. Thanks for playing.

[2021-05-23 18:04] ergl opened #3762 "expr pass: Assertion error on iftype inside lambda"
This code:

[code]

Produces the following error:

[code]

<details><summary>Backtrace</summary>
<pre>
* thread #1, queue = 'com.apple.main-thread', stop reason = signal SIGABRT
  * frame #0: 0x00007fff5efb82c2 libsystem_kernel.dylib`__pthread_kill + 10
    frame #1: 0x00007fff5f073bf1 libsystem_pthread.dylib`pthread_kill + 284
    frame #2: 0x00007fff5ef226a6 libsystem_c.dylib`abort + 127
    fra

[2021-05-23 20:52] ergl commented on #3762
I can verify that the same piece of `ast` goes twice through the scope pass. @jemc you might have some context for this, the `ast_visit` function checks if any ast node has gone through a specific pass before.  Does the "catch up" process for lambdas clear any of these flags?

[2021-05-23 23:58] chenrui333 opened #3764 "ponyc 0.41.1 OSX test failure on big_sur"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>test failure</summary>

[code]

</details>

Full build log is in here, https://github.com/Homebrew/homebrew-core/runs/2651645568
relates to https://github.com/Homebrew/homebrew-core/pull/77850

[2021-05-24 00:26] SeanTAllen commented on #3764
It looks like you need more memory on your build servers. That would be my guess. I don't know how to read the Homebrew logs beyond "yup, I see they ran out of memory".

Here's out CirrusCI config for using our build system to build macOS releases. We are currently building on Big Sur without issue.

https://github.com/ponylang/ponyc/blob/main/.cirrus.yml#L474

And here is our PR CI setup, which i

[2021-05-24 00:44] SeanTAllen commented on #3764
@chenrui333 I looked at the formula, and it looks completely straightforward and normal (as I remember homebrew formulas) and seems to be doing "the right thing". I'm a little curious about that macos zlib inclusion. I don't think we do anything that requires zlib (but might have a few versions ago).

All that aside, given that you had 0.41.0 working, I have no idea why 0.41.1 wouldn't work. The c

[2021-05-24 00:47] SeanTAllen commented on #3764
There are only two changes 0.41.1.

One is to change the LLVM clone depth to 1: https://github.com/ponylang/ponyc/commit/3bdad0dac9b51a03b50609d37027aea587243e0e

The other is a small bug fix:
https://github.com/ponylang/ponyc/commit/5e676cfb92dfb4476a5604aa6bba39e48132068a

@ergl I can't imagine that the bug fix would have any noticeable impact on memory usage building, can you?

[2021-05-24 06:20] ergl commented on #3764
@SeanTAllen No, I don't think so

[2021-05-25 22:39] kiwiMec commented on #3764
I had the same issue.  To deal with it I needed to: update the Xcode CLT,
then do a brew update and upgrade.  Then it worked.
For context: MacBook Pro, 13", 2017, 16GB RAM, 500GB HD, >100GB disk space
spare.

On Mon, 24 May 2021 at 18:20, ergl ***@***.***> wrote:

[2021-05-27 11:54] #3762 closed

[2021-05-27 21:53] redvers opened #3765 "Segfault on Linux at runtime."
It's curious that it doesn't seem to occur on playground, but here's the listing:

[code]

If you change the receiver refcap from val to iso or tag it executes fine.

Here's the backtrace with val:
[code]

Any advice on how to proceed welcomed.

[2021-05-28 07:28] ergl commented on #3765
I was able to reproduce this on macOS by running the resulting binary with `--ponygcinitial 1`.

[2021-05-28 07:46] ergl commented on #3765
Ok, here's the problem:

[code]

The issue is here

https://github.com/ponylang/ponyc/blob/773f76b7c21a33acd206ac101b1dccda8afd163a/src/libponyrt/gc/gc.c#L649-L655

In particular, line 654 tries to take the `pony_type` of `p`, but this cast results in a null pointer, because a struct doesn't have a type at runtime. Then, inside `mark_local_object`:

https://github.com/ponylang/ponyc/blob/773f76b7c

[2021-05-28 08:59] ergl commented on #3765
This code using the built-in `Pointer` type also segfaults:

[code]

[2021-05-28 12:13] SeanTAllen commented on #3765
So, in theory, tuples would have the same problem but... hehe the compiler prevents you from giving them an object capability and viola! they aren't "immutable objects" as part the gc is concerned. The same is not the case for `struct`.

This isn't important to solving the problem, but a bit of checking I did as part of working on "what's the correct fix here?"

[2021-05-28 21:11] redvers commented on #3765
Tuples are an interesting idea... and I'm kinda blown away by how clever the compiler is in that regard.

This code for example works...
[code]

... but if you change the last line to ...
[code]

... the compiler is so freaking smart in finding this:
[code]

... and this answers a different crash that I found that I assumed was the same bug.  Now I know that the compiler is capable of this I'll op

[2021-05-29 17:58] rkallos opened #3766 "Dollar sign in character literal causes lexer error"
[code]

This seems to be due to the use of `$` as a prefix for 'test keywords and identifiers'. See https://github.com/ponylang/ponyc/blob/main/src/libponyc/ast/lexer.c#L1207

Currently, the workaround is to use the ASCII number for that character.

[2021-05-29 21:56] ergl commented on #3766
@rkallos I think the problem comes from the `'\'` after it, which is not creating a scape sequence, but instead it's escaping the `'` character itself. Is it possible do you have another `'\'` before this line that's causing part the `$` to be outside quotes?

The following pony program works:

[code]

It's possible that you have something like the following (notice how even Github gets confused a

[2021-05-30 15:29] rkallos commented on #3766
Whoops! Nevermind!

[2021-05-30 15:29] #3766 closed

[2021-05-31 17:30] ergl commented on #1930
Note: #2592 can be reverted when we upgrade to LLVM 12

[2021-06-03 17:08] ergl opened #3770 ""Code generation failed" when function contains iftype and returns an union type"
The following code:

[code]

Fails with

[code]

The actual code generation failure is here:

https://github.com/ponylang/ponyc/blob/a37b32d03b23bb7200a1145cee70eedb3edde9ed/src/libponyc/codegen/genbox.c#L20-L21

In the code above, it is assuming that `l_type` is a pointer to `i8`.

[2021-06-03 17:10] ergl commented on #3770
Changing the `iftype` to be `iftype T <: None` (or any other type different from the one in the constraint) makes the code work.

[2021-06-06 03:19] ediah opened #3771 "Freezing on dummy cycles"
I have the semaphore which must be triggered after a while:
[code]
If another thread haven't managed to set `sem` not to be zero, then the main thread always freezing at `__pthread_clockjoin_ex`.
Here's what lldb says:
[code]

I've tried to play with ponyrt flags, but nothing happens. What can I do?

[2021-06-06 11:41] ergl commented on #3771
Hi @ediah, since there's a ton of context missing I can't really help you.

1. How are you implementing this semaphore?
2. Are you using the FFI interface to implement it?
3. Do you expect two actors to modify the semaphore concurrently?
4. But more importantly, why are you using a semaphore? Are you synchronizing on some state that lives on C? If not, you should use actors as the unit of concurre

[2021-06-06 11:46] SeanTAllen commented on #3771
I'll add on a bit here while agreeing with everything @ergl said.

The Pony runtime is written with certain expectations like... you aren't writing blocking code including locks (see: https://tutorial.ponylang.io/gotchas/scheduling.html)

The scheduler is cooperative, and you can certainly freeze it.

Doing anything that fights the scheduler's design without understanding the scheduler well is lik

[2021-06-06 16:58] ediah commented on #3771
Thank you for your answers!

Ok, seeing just 3 lines of code not so informative, so I loaded the source code: https://github.com/ediah/ponymath

While I was trying to write matrix multiplying algorithm (naive), I found it very slow (0.53 GFLOPS on my computer). So I decided to use FFI. I wrote on C code which uses AVX extensions, but this was not too impressing for me. Then I thought about actors

[2021-06-06 17:28] SeanTAllen commented on #3771
This isn't a ponyc issue so I'm closing it. Please join the Zulip and ask about your design questions in the beginner help stream. We can help you there as it is the appropriate forum. Thanks.

https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help

[2021-06-06 17:28] SeanTAllen commented on #3771
This isn't a ponyc issue so I'm closing it. Please join the Zulip and ask about your design questions in the begineers help stream.

https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help

[2021-06-06 17:28] #3771 closed

[2021-06-08 19:31] ergl commented on #3770
We discussed this on sync today. @jemc thinks that is probably due to a missing call to `gen_assign_cast` when generating the `iftype`. Probably the issue is that the body of the `iftype` is not boxing `0` correctly, so trying to cast it to `(U8 | None)` fails because of that.

[2021-06-09 19:25] ergl commented on #2150
As raised today on Zulip, this bug also happens with interfaces.

[2021-06-11 02:26] SeanTAllen commented on #3765
This is going to be difficult to fix without taking a seriously nasty hit.

So, there's only one time when we don't know the type of an object and need it.

When we are tracing an immutable object that is on the heap. The garbage collector keeps everything in an object map. We do not store the type with the object in the map because except for this one case that no one has triggered until @redvers

[2021-06-11 02:31] SeanTAllen commented on #3765
Note, there's a small mistake in @ergl's write up of the problem:

The cast doesn't result in a null pointer, it results in a pony that is pointing to some memory that is not a Pony type header so when we go to get the trace field, we do not get what we expect and things end poorly. In the end, this doesn't matter much but it is important to understand the details of the issue.

You can see this i

[2021-06-11 04:59] redvers commented on #3765
tl;dr: The example above was the minimal code required to trigger the bug, not really representative of the code I was writing at the time.  I opened the bug as a crash at runtime is considered a bug - not because it affects the application that I'm writing.

Re-writing Pointer as a class seems like a poor candidate for Risk <--> Reward for a bug that took almost 10 years for someone to stumble ac

[2021-06-11 12:26] SeanTAllen commented on #3765
@redvers I strongly disagree with...

This is a runtime crash that happened to be on a path that no one exercised until now. It could have happened to anyone at any point and still can. Runtime crashes are bad and destroy the primary proposition of safety for Pony. It needs to be fixed and the other options are worse in terms of the Pony Philosophy.

- Changing Pointer to be a class have zero impa

[2021-06-11 13:28] redvers commented on #3765
Agreed 110% - My intent wasn't to suggest leaving the bare wires exposed.

Apparently I edited out my alternate proposed suggestion which I thought could be potentially less disruptive.  Upon deeper review I realized that it probably wouldn't cover all the cases so removed it from the comment (but not that previous clause).

(My proposal was going to be to just block the parser from parsing a ```s

[2021-06-11 14:22] jemc commented on #3765
Regarding the proposed solution from Sean and Sylvan, I think it generally makes sense.

I have a few discrete thoughts about it:

---

In truth, `Pointer` is neither a `class` nor a `struct` - it doesn't really act like either and it's already a one-of-a-kind special case everywhere. So changing the keyword we use to declare it doesn't matter too much - the keyword is still a lie. Again, the goal

[2021-06-11 15:01] jemc commented on #3765
After discussing more [in Zulip](https://ponylang.zulipchat.com/#narrow/stream/189934-general/topic/Struct.20val.20segfault/near/242353659) right now I'm thinking the best course of action would be to leave `Pointer` alone and just prevent behavior definitions from having a `struct` as a parameter.

It seems like that fully solves the issue in a simple way that shouldn't break any programs that ar

[2021-06-11 15:10] redvers commented on #3765
I first triggered the bug by having a struct as a class field and then trying to use it in a ```_final()``` call.  I set the struct to val as ```_final()``` mandated that everything there had to be sendable.

[2021-06-11 15:19] SeanTAllen commented on #3765
Its these sorts of "o right and there" scenarios that lead Sylvan and I to the Pointer idea

[2021-06-11 15:53] jemc commented on #3765
Do we trace the fields used in a `_final()` call as object roots? Is that what y'all are referring to?

[2021-06-11 16:04] SeanTAllen commented on #3765
@jemc it would appear so from @redvers comment. I would have to check.

[2021-06-11 16:10] jemc commented on #3765
@redvers - can you show a minimal repro for the `_final` case that triggers this bug without a behavior call?

[2021-06-11 16:12] redvers commented on #3765
Maybe?

Let me see if I can recreate one.

[2021-06-11 16:17] SeanTAllen commented on #3765
I was unable to create a minimal example using final, so I'm not sure what is going on there.

[2021-06-11 18:32] redvers commented on #3765
I'm unable to either which is odd.  In my defense I had a witness :-) ... but unless/until it's able to be reproduced I'd leave it to the side.

[2021-06-11 18:48] SeanTAllen commented on #3765
I think @jemc it would be reasonable to try and solve with your suggestion and if we find ourselves playin whack-a-mole over time, of moving to the "pointer" plan.

[2021-06-11 19:08] jemc commented on #3765
Sounds good!

So to recap, the plan would be to add the following check:

---

For every actor behavior, for each parameter in it, we check the type of the parameter.

If the type of the parameter is a struct, we show a compilation error to the user that prevents it.

---

If anyone is wondering about interfaces/traits or union types and if they could potentially be hiding a struct secretly within

[2021-06-29 18:15] jemc commented on #2150
I think the best way to fix this would be to split off the part of the `refer` pass that deals with type names into a new pass called `refer_type` which does that part, prior to the `traits` pass, while keeping the rest of the `refer` pass happening in its current position after the `traits` pass.

This is how I solved a similar issue in the Mare compiler.

[2021-06-29 18:15] SeanTAllen commented on #3760
release is underway. a little early so i can have a long 4 day weekend.

[2021-06-29 18:29] #3760 closed

[2021-06-29 18:37] SeanTAllen opened #3773 "Release 0.42.0"
Release date is tomorrow assuming all the usual "test against" latest work for all the ponylang projects.

There's no reason why it shouldn't but... just in case.

This release is primarily to get the fix for #3779 out.

[2021-07-05 17:21] redvers opened #3776 "Flags.remove mutating to an incorrect value."
[code]

The test fails as it's mutating to 0b0110.

PR incoming.

[2021-07-05 17:48] SeanTAllen commented on #3776
Do you have a reproducible example?

[2021-07-05 19:02] SeanTAllen commented on #3776
Example:

[code]

[2021-07-05 20:43] #3776 closed

[2021-07-06 02:31] redvers opened #3779 "ponyc --safe and builtin library security bypass."
After being asked by a friend to describe in *excruciating detail* how corral and ponyc work together I found an exploitable rub.

As a demonstration I have uploaded two repos, one contains the malicious module, the other is the innocent application whose compilation is subverted.

To replicate:
[code]

[2021-07-06 02:42] redvers commented on #3779
The fundamental issue is that if a user downloads a module which contains the directory "builtin" then it overrides the compiler's builtin. The malicious builtin then bypasses ponyc's --safe flag.

I included two simple examples in Env for demonstration:
1. Executing a C-FFI ```@printf``` in Env._create to demonstrate execution can occur without the developer calling any of the malicious API's "le

[2021-07-06 02:55] redvers commented on #3779
I don't really know how the compiler is structured well enough to understand the best way to mitigate it, but I hate to bring a problem with no suggested mitigation.

So maybe, when ponyc is enumerating the entries in PONYPATH, exit if it finds more than one instance of "builtin" available in PONYPATH?

[2021-07-06 03:06] SeanTAllen commented on #3779
I have at least a partial fix for this, but I need to do a bit more analysis.

The basic problem is that we allow for things other than the standard library to appear before the standard library in the search path. This is actually good in some ways, I've used it to test alternate stdlib changes without recompiling ponyc. However, yeah, that has some serious problems as red pointed out.

We do wan

[2021-07-06 03:11] SeanTAllen commented on #3779
I'll open a fix for this tomorrow.

[2021-07-06 13:05] #3779 closed

[2021-07-07 12:46] SeanTAllen commented on #3773
underway.

[2021-07-07 13:35] SeanTAllen opened #3782 "Release 0.43.0"
~~Target release time period is the end of August.~~

Target release date is by July 18.

[2021-07-07 13:36] SeanTAllen commented on #3773
done

[2021-07-07 13:36] #3773 closed

[2021-07-07 14:37] ergl commented on #3760
@stefantalpalaru Latest release should include an ugprade for google-benchmark, so hopefully that should be fixed

[2021-07-07 15:40] stefantalpalaru commented on #3760
Yes, that solves my problem.

[2021-07-07 19:08] rhagenson commented on #3645
@SeanTAllen Is this ready to handle with the recent ponyup release?

I don't use BSD, but was reviewing "help wanted" labels for any stale, "low hanging fruit" issues to get some work done on.

[2021-07-07 19:44] SeanTAllen commented on #3645
Yes, this should be good to do now.

[2021-07-07 19:45] rhagenson commented on #3645
Okay, I will add it to my list then.

[2021-07-08 01:26] xlangthorne opened #3784 "Compile-time crash related to Pony-specific optimization passes"
I'm new to both Pony and to programming in general, so I apologize in advance if this is some obvious error on my part.

I was trying to experiment with ponyc to learn more about the language constructs and what expressions typecheck.  In so doing I think I managed to crash the compiler.  Here is the code I was using on Fedora Linux with ponyc 0.42.0:

[code]

And here is the error text this provo

[2021-07-08 01:29] redvers commented on #3784
Hello there and Welcome!

Invalid code should never cause the compiler to crash so this is a bug.  I'm going to see if I can replicate it locally...

Thank you for the report!

[2021-07-08 01:30] SeanTAllen commented on #3784
I am unable to reproduce this error using:

[code]

as the code.

[2021-07-08 01:34] redvers commented on #3784
I was able to reproduce on NixOS. If I ```animal.clone()``` I don't crash.

[2021-07-08 01:37] SeanTAllen commented on #3784
Working on a reduced version, so far I have:

[code]

[2021-07-08 01:41] redvers commented on #3784
[code]

[2021-07-08 01:52] redvers commented on #3784
* Changing it to ```e.out.print(x + "")``` also fixes the issue.

[2021-07-08 01:52] SeanTAllen commented on #3784
Given that this happens with a single element in the array and requires `a.a()` to be present, it seems like it is trying to chain the `print` and `a` message calls together which if I remember correctly is definitely not ok.

the error is in `makeMsgChains` in `genopt.cc`.

In particular the assertion on 1236 is failing:

`pony_assert(prev_msg == (*iter)->getArgOperand(3));`

hopefully someone el

[2021-07-08 01:54] SeanTAllen commented on #3784
@xlangthorne you didn't write invalid code, you found a bug in an optimization pass. for now, you can compile with `ponyc --debug` to avoid the problem.

[2021-07-08 02:02] SeanTAllen commented on #3784
This might be related to being a string literal.

@redvers pointed out that this works:

[code]

And I tested a slight change that also works:

[code]

[2021-07-08 02:03] redvers commented on #3784
This does not crash:

[code]

This does:
[code]

[2021-07-08 02:48] redvers commented on #3784
Last observation:

If you take this slightly different code-> It crashes.
[code]

However, if you switch the order of the ```let a``` and ```let b``` it doesn't:
[code]

[2021-07-08 06:46] ergl commented on #3784
@SeanTAllen

Isn't creating an actor also a message? That would explain the chain being 3 items long: `create`, `a` and `print`

[2021-07-08 09:59] SeanTAllen commented on #3784
What actor is being created here @ergl that should be part of the chain.

You could chain creating A and sending 'a'.

That's two.

[2021-07-08 11:53] ergl commented on #3784
@SeanTAllen I thought that was the bug–the compiler is adding `print` to a's chain even if it's addressed to a different actor.

[2021-07-08 11:54] SeanTAllen commented on #3784
@ergl I believe that is the bug yes.

[2021-07-08 11:56] SeanTAllen commented on #3784
Another interesting point. The following is not problematic, so this appears related to this happening in a constructor.

Note this doesn't crash:

[code]

but adding a call to `y` in the constructor does:

[code]

[2021-07-08 12:24] SeanTAllen commented on #3784
Ok, so I have this narrowed down to definitely being about heap to stack and related to the list being string literals. But, I don't really understand heap to stack so its very slow going and painful.

[2021-07-08 13:17] chenrui333 commented on #3764
Just FYI, the build still failed the same way in [the 0.42.0 release build](https://github.com/Homebrew/homebrew-core/pull/80792).

[2021-07-08 13:33] SeanTAllen commented on #3764
@chenrui333 our CI that uses big sur continues to pass fine. We don't have insight into your CI system to diagnose.

Here's an example of our cirrus ci setup:

https://github.com/ponylang/ponyc/blob/main/.cirrus.yml#L342

[2021-07-08 14:59] ergl commented on #3784
@SeanTAllen Seems like both behaviours and constructors show this problem. If the code appears in a function, then it will not crash. Also, the last message has to be inside a for loop (even if it doesn't use the values in the iterator); using any other block (if, while, match, try, ...) will also make the problem disappear

[code]

[2021-07-08 15:28] jemc commented on #3784
I'll take a look at what's going on and see what I can figure out.

[2021-07-09 00:53] #3645 closed

[2021-07-09 19:12] jemc commented on #3784
The `MergeMessageSend::makeMsgChains` function seems to have been written with the assumption that if the BasicBlock has multiple message sends to be merged, then none of them are chained yet, because this pass is the only part of the compiler that generates message chains.

That assumption is what is being encoded in the assertion which is being violated:
[code]

It seems that this is not a valid

[2021-07-10 01:26] rhagenson commented on #1828
This work is completed, however the issue was left open.

[2021-07-10 01:26] #1828 closed

[2021-07-10 04:31] jemc commented on #3784
I seemingly fixed the chain issue on my local, and Sean's repro no longer crashes for me, but the original repro now crashes in a later optimization pass, so I still need to do more digging on this.

[2021-07-10 04:58] moustache-de-proust opened #3789 "out of memory: : Invalid argument when running ponyc"
Hi all - new to pony,

I'm having difficulty running ponyc (mac os big sur 11.4) built from source (main branch).

[code]
lldb backtrace:

[code]
Has anyone experienced this issue? Any help would be appreciated.

Thanks!

[2021-07-10 09:00] ergl commented on #3789
Hi @moustache-de-proust, is this on an intel, or arm macOS? There have been some reports of oom errors from the homebrew people before, but haven't managed to reproduce it.

[2021-07-10 09:21] moustache-de-proust commented on #3789
Hi @ergl thanks for getting back to me.

It's on intel.

I was getting the oom from homebrew as well. I then tried  tried shell script from also getting the oom error. So I decided to build from source.

After some investigation it turns out that the flag VM_FLAGS_SUPERPAGE_SIZE_ANY
in ..src/libponoyrt/mem/alloc.c:31 was the source of the error. Commenting it out results in ponyc binary that execu

[2021-07-10 11:50] SeanTAllen commented on #3789
Thanks for looking into this @moustache-de-proust.

Questions

- is `MACOSX_DEPLOYMENT_TARGET=11.0` by itself sufficient?
- is turning off `VM_FLAGS_SUPERPAGE_SIZE_ANY` without any other changes sufficient?
-

[2021-07-10 12:40] SeanTAllen commented on #3789
Ok, I've found we can trigger this in CI using xcode 12.5. our CI is currently 12.4 and it doesn't have the problem.

[2021-07-10 12:42] moustache-de-proust commented on #3789
ah ok i see @SeanTAllen and to answer your previous question:

* MACOSX_DEPLOYMENT_TARGET=11.0 by itself is sufficient
* turning off VM_FLAGS_SUPERPAGE_SIZE_ANY without any other changes is also sufficient (although of course ld warning is still present)

[2021-07-10 12:45] SeanTAllen commented on #3789
interesting. MACOSX_DEPLOYMENT_TARGET is an LLVM option.

[2021-07-10 12:47] SeanTAllen commented on #3789
@ergl I'm going to turn off super pages. It needs to go away for m1 support anyway and if its now an issue with latest xcode then I think we should turn it off. It will hurt performance on older macOS versions but, given its not a server platform, I think that's a reasonable trade-off.

The problem with setting MACOSX_DEPLOYMENT_TARGET is that we build a single ponyc binary for all MacOS versions

[2021-07-10 12:53] SeanTAllen opened #3792 "Update min mac os version"
In genexe.c, it is currently set to 10.12. We have an unofficial policy to support building for the last 3 version of MacOS which means that should be 10.14 now (with it going to 10.15 when MacOS 12 is released later this year).

This should be done after #3789 is fixed.

[2021-07-10 13:00] ergl commented on #3789
@SeanTAllen Sounds fine to me, let's remove the superpages flag

[2021-07-10 13:06] SeanTAllen commented on #3782
We want to get #3793 out so I'm going to do this release much earlier than the end of August. My plan is to do it as soon as the next version of the release-bot-action is ready (which I'll have to make time for in the next couple weeks).

[2021-07-10 13:06] SeanTAllen commented on #3789
@moustache-de-proust thanks for diagnosing this. Quite the intro into the community. There will be a fix on `main` soon.

[2021-07-10 13:11] #3789 closed

[2021-07-10 13:17] moustache-de-proust commented on #3789
@SeanTAllen no problem - thanks for pushing a fix so quickly. Looking forward to developing with pony and getting involved in the community.

[2021-07-10 13:18] SeanTAllen commented on #3782
#3794 makes this a breaking change release so it will be 0.43.0

[2021-07-10 13:21] SeanTAllen commented on #3789
@moustache-de-proust how did you set `MACOSX_DEPLOYMENT_TARGET` env variable on command line?

I'm thinking we should set it to our minimum API version when building our releases to avoid the annoying error message. And perhaps include in our build instructions for MacOS.

[2021-07-10 13:33] #3792 closed

[2021-07-10 15:50] SeanTAllen commented on #3764
Fixed on main. It's a bug related to xcode 12.15

[2021-07-10 15:50] #3764 closed

[2021-07-13 18:13] #3765 closed

[2021-07-13 22:19] SeanTAllen commented on #3782
Changing this to a 0.43.0 as breaking change as we are dropping (perhaps only temporarily) support for 32 bit Arm platforms.

[2021-07-14 00:06] #1930 closed

[2021-07-14 18:36] SeanTAllen commented on #3782
underway

[2021-07-14 19:09] SeanTAllen opened #3805 "Release 0.43.1"
Target date is end of August 2021.

[2021-07-14 20:03] SeanTAllen commented on #3782
all finished except the ubuntu 18.04 build that failed twice in the same way. but.. its a failure that as far as i know shouldnt be possible.

[2021-07-14 20:55] SeanTAllen commented on #3782
done

[2021-07-14 20:55] #3782 closed

[2021-07-14 20:56] SeanTAllen commented on #3782
https://github.com/ponylang/ponyc/commit/fa6b46603f974b22f710c3de96efc2f99c8356d2 is the fix for the odd ubuntu issue.

https://github.com/ponylang/ponyc/commit/fa6b46603f974b22f710c3de96efc2f99c8356d2

[2021-07-15 02:55] felixonmars opened #3806 "error: ‘strncat’ specified bound 1 equals source length [-Werror=stringop-overflow=]"
GCC 11.1.0, Arch Linux x86_64.

[code]

[2021-07-17 00:41] SeanTAllen opened #3807 "FilePath.walk silently eats errors"
FilePath.walk is used in corral but there's no way to get information about if it succeeded or failed.

There should be a way to get error information back. I'm not sure what needs to happen with recursive errors. Currently it will keep going when an error is hit in the handler.

[2021-07-26 00:58] greatmazinger commented on #3128
Looking at doing this since it's still open. Any suggestions before I start?

[2021-07-26 05:11] kiwiMec commented on #3764
Do you know when this fix will be available via Brew?

[2021-07-26 11:57] SeanTAllen commented on #3764
@kiwiMec we don't have anything to do with new brew. It would be available when someone updates the brew formula. If you own a Mac, that could be you. It's a relatively straightforward process that the brew folks have documented.

[2021-07-27 18:24] jemc commented on #3807
We should have an understanding of the cases in which it can fail and which of those should be silently swallowed and which should be surfaced. Then we can add either a return value or an partial call error.

[2021-07-27 18:32] SeanTAllen commented on #3128
Is anyone aware of any unix testing framework/harness for these types of tests? I'd prefer an existing solution (probably) to a roll out own. My assumption though is that "the existing solution" would be relatively lightweight.

[2021-07-27 19:55] redvers commented on #3128
It looks like a very open-ended requirement. I think understanding what it is you think needs testing at least at a high level is probably where we could start?  @SeanTAllen 's  suggestion of seeking out an existing framework (if this exists) would have the added advantage of knowing *what* to test has already been done.

Thank you for raising your hand to help with this.

[2021-07-28 15:34] rhagenson commented on #3281
Closed by #3785

[2021-07-28 15:34] #3281 closed

[2021-07-29 18:17] agtugo commented on #3280
I can take care of this.

[2021-07-30 16:01] chenrui333 commented on #3764
I will take care of the brew update.

[2021-07-31 17:14] SeanTAllen commented on #3805
Release date is now once https://github.com/ponylang/ponyc/pull/3813 is merged.

[2021-08-01 06:23] locriacyber opened #3814 "No way to create iso array from constructor"
Currently, `Array.create` returns `Array ref^`, which can't be chopped.
Is there a way to create an isolated array?

[2021-08-01 11:15] SeanTAllen commented on #3814
You can use a recover block: https://playground.ponylang.io/?gist=40c371c804c144a803037cba52b1e5c2

Please note, per our "how to get help" instructions, that we don't do "how do I" support via GitHub. That is what you begineer's help stream on Zulip is for. In the future, please ask these sorts of questions there.

https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help

[2021-08-01 11:15] #3814 closed

[2021-08-03 02:12] SeanTAllen commented on #3805
Underway.

[2021-08-03 02:14] SeanTAllen opened #3815 "Release 0.43.2"
Target release date is end of August 2021.

[2021-08-03 02:25] SeanTAllen commented on #3805
Done

[2021-08-03 02:25] #3805 closed

[2021-08-03 03:02] kulibali commented on #3656
So I wrote a multithreaded IOCP server/client program in C to see if this problem was unique to Pony (https://github.com/kulibali/iocp_experiments). Turns out that my program exhibits the same behaviour as Pony.  There are some vague references to the issue on the interweb but as far as I can tell the Windows TCP/IP stack may keep listening sockets in a `CLOSE_WAIT` state for a while and accept co

[2021-08-03 13:11] SeanTAllen opened #3818 "Process package field names violate the style guide"
Some field names in classes in the process package are using camel rather than snake case.

The [style guide states](https://github.com/ponylang/ponyc/blob/main/STYLE_GUIDE.md#naming) that fields should be snake_case.

Fields that aren't snake_case in the process package should be switched to being snake_case.

[2021-08-03 18:19] SeanTAllen commented on #3656
Closing as "can't fix".

[2021-08-03 18:19] #3656 closed

[2021-08-03 18:20] SeanTAllen commented on #3280
@agtugo is there any assistance we can provide? if you have questions on what things do, please ask in the beginners help stream on the [Pony Zulip](https://ponylang.zulipchat.com/#narrow/stream/190591-sync).

[2021-08-03 18:29] agtugo commented on #3280
Not at the moment. Thanks for the link and the help. It's my first time in a open source project but I have experience in the private sector.

[2021-08-04 03:11] Theodus opened #3820 "RFC: Split FilePath constructor to guarantee constructor with AmbientAuth"
It should be without error to construct a `FilePath` when `AmbientAuth` is available as `FilePath` is a pairing between some path string and capabilities on that path. For capabilities, the current constructor uses a union of `(FilePath | AmbientAuth)`. Insufficient capabilities or access allows the first half of this union, `FilePath`, to fail, however the latter half, `AmbientAuth`, can never fa

[2021-08-04 03:20] SeanTAllen commented on #3759
I just encountered this one. Boy is it annoying. Would be nice to see this one fixed.

[2021-08-11 03:33] jasoncarr0 opened #3823 "Compiler assertion error when assigning variable using error"
This function body causes an assertion error in the compiler (version 0.42.0 in this case but I also see it in a slightly modified version of 0.45.0). I couldn't find another issue for this yet but it's not easy to search for.

Found this on a hunch/check while looking at the error-flag code, hoping to fix with possible other changes

[code]

This results in:
[code]

In addition, there seems to be

[2021-08-13 22:19] sgebbie opened #3824 "Type inference for methods in union types is too simplistic"
While working with union types while is seems reasonable to call `u.definition()`, on a variable `u`, declared with a union type, as in the code snippet below. However, this produces the following error:

[code]

## Code with method call on a union type
[code]

## Problem statement

Currently it seems that the type inference requires methods for the same dispatch target to share the same return ty

[2021-08-13 22:22] sgebbie commented on #3824
@jemc , @jasoncarr0 , @SeanTAllen - following on from the Zulip chat regarding type inference for method signatures in a union, please see the issue that has been drafted.

[2021-08-15 12:30] #3818 closed

[2021-08-15 12:32] SeanTAllen commented on #3784
@jemc how's progress on this? anything i can do to assist?

[2021-08-17 07:10] sgebbie commented on #3824
A quick superficial look at the error message and the code leads to here:

- [src/libponyc/type/lookup.c](https://github.com/ponylang/ponyc/blob/main/src/libponyc/type/lookup.c#L385)

[2021-08-18 16:43] jpaulm opened #3830 "ponyc-x86-64-pc-windows-msvc.zip on Cloudsmith appears to be empty!"
ponyc-x86-64-pc-windows-msvc.zip on Cloudsmith appears to be empty!

As per Windows install instructions on https://github.com/ponylang/ponyc/blob/main/INSTALL.md

TIA!

[2021-08-18 17:13] SeanTAllen commented on #3830
I used the link and downloaded a 29 meg file that included all the packages expected.

[2021-08-18 17:35] jpaulm commented on #3830
Thanks, Sean, I tried it again, and still no data!  So, then I tried nightlies, looking for a similar file, and found a zip file which is almost 30 Megs.  So it sounds like this is the one you downloaded...?  I assume it is safe to use instead - i.e. not too many experimental features...?!

[2021-08-18 17:50] kulibali commented on #3830
I also used the link from `INSTALL.md` and the zip file downloaded fine for me.

[2021-08-18 17:52] SeanTAllen commented on #3830
I downloaded multiple different ones including the one linked from the INSTALL.md. All were fine.

Nightlies are not guaranteed to work. We attempt to not break things, but changes go into nightlies and are then tested against the pony libraries and applications maintained by the ponylang organization. Sometimes we find breakages in a given nightly from a recent change and then fix. While rare, th

[2021-08-18 18:21] jpaulm commented on #3830
Tried both links - still empty!  I am in Markham, Ontario - about 50 miles from Toronto...  It would be great if you could report it to them...

I will use the nightly for now... cautiously!    Thanks, both!

[2021-08-18 18:31] SeanTAllen commented on #3830
I passed this issue to Cloudsmith.

[2021-08-18 18:37] lskillen commented on #3830
Hey @jpaulm - The cloudsmith team can take a look at it. Usually if this happens, either the account has been disabled and is returning an error response (unlikely in this case), or there is something like a proxy in the middle which is meddling. Although, it may also be something else, so let's diagnose!

First things first, could you check to see using your favourite tooling what the response he

[2021-08-18 18:45] jpaulm commented on #3830
HTTP/1.1 200 OK
Content-Type: application/zip
Content-Length: 30392200
Connection: keep-alive
Date: Wed, 18 Aug 2021 18:44:39 GMT
Last-Modified: Tue, 03 Aug 2021 02:22:12 GMT
ETag: "dc866a793938b353805814717b19a327-2"
Accept-Ranges: bytes
Server: Cloudsmith CDN
Content-Disposition: attachment; filename="ponyc-x86-64-pc-windows-msvc.zip"
Cache-Control: public, max-age=1200, must-revalidate
Access-C

[2021-08-18 18:55] lskillen commented on #3830
Looks pretty good to me. 🤔 How about downloading it using `wget` and then inspecting the file using `ls -l`:

[code]

[2021-08-18 19:00] jpaulm commented on #3830
Sorry, guys!  The zip function is giving me a message saying something like
"this file is not commonly downloaded - please allow" - when I say "Allow",
I get a good zip file!!  I had never seen this message before, and wasn't
looking up at that part of my screen!

Sorry for wasting your time!

Best regards,

Paul M.

On Wed, Aug 18, 2021 at 2:55 PM Lee Skillen ***@***.***>
wrote:

[2021-08-18 19:03] #3830 closed

[2021-08-20 18:02] redvers commented on #3128
Tagging @greatmazinger  -- Github may not have notified you of my answer to your question above, so tagging you just in case.

[2021-08-20 21:43] jemc commented on #3784
Here is a diff that solves both issues I encountered by simply bailing out of the `MergeMessageSend` optimization pass if we see any indication that we've already done some message merging in the particular basic block where we are trying to merge again:

[code]

I think this whole pass would need to be rewritten from scratch if we wanted to make it safe to operate on already-merged sends. So this

[2021-08-20 22:20] SeanTAllen commented on #3784
I'm ok to merge without test given complexity to add.

[2021-08-20 22:41] jemc commented on #3784
PR https://github.com/ponylang/ponyc/pull/3831 has been opened.

[2021-08-22 15:58] ergl opened #3832 "macOS uname lacks `-o` option"
On #3808 we added a way to check if we were compiling under FreeBSD by using `uname -o`. This option doesn't exist on macOS, so running it would fail with:

[code]

The error above doesn't cause any problems in terms of compiling from source, everything still works. However, I think we should either find a way to check for FreeBSD with another `uname` option, or swallow this error somehow.

[2021-08-23 23:19] greatmazinger commented on #3128
Ah thanks for the heads up. Will start on this this week.

[2021-08-28 12:06] SeanTAllen commented on #3815
Release is underway.

[2021-08-28 12:07] SeanTAllen opened #3833 "Release 0.44.0"
Targeted release period is the end of September 2021.

[2021-08-28 13:00] #3815 closed

[2021-08-30 21:40] #3784 closed

[2021-08-30 23:44] SeanTAllen commented on #3806
Ooops. I closed the wrong issue. Reopening this.

[2021-08-30 23:46] SeanTAllen commented on #3806
@jasoncarr0 would the fix from #3826 also work for this.

I thought it was for this at first until I looked closed.

[2021-08-31 00:09] jasoncarr0 commented on #3806
No this is independent although the similarity tripped me up as well. It seems it may be GCC 11 only

[2021-08-31 18:13] jemc commented on #3832
We discussed on the sync call, and I think swallowing the stderr output is the best simple approach for this.

[2021-08-31 18:13] SeanTAllen commented on #3832
We use `-s` for Ponyup so we should be able to do this switch to `-s` there's no need to swallow the error.

[2021-08-31 18:16] SeanTAllen commented on #3832
https://github.com/ponylang/ponyc/pull/3834

[2021-08-31 18:18] jasoncarr0 commented on #3824
We discussed this a bit. Refcaps will also need to match all,
One edge case / compilcation could be when one of the methods is tag, and another is box/ref, so that only the latter needs automatic receiver recovery. It's probably not likely but in that case only the ref method arguments need to be sendable.

[2021-09-01 13:14] #3832 closed

[2021-09-01 16:12] redvers opened #3836 "Confusion with " and """ in syntax and parsing."
Not a huge deal, but this confused me a lot.  Should this fail to compile instead of having this behaviour?

[code]

It may just very well be that I don't fully understand how ```"""``` are supposed to be used?

Results in the following output (from playground):
[code]

[2021-09-01 16:48] SeanTAllen commented on #3836
It is probably interpretting the """ """ not as a string literal but as a docstring.

This gives you what I think you were expecting:

[code]

If someone can dump the AST for @redvers' example, we'd know for sure.

[2021-09-02 12:55] #3820 closed

[2021-09-03 02:47] SeanTAllen commented on #3833
release underway.

[2021-09-03 02:59] #3833 closed

[2021-09-03 02:59] SeanTAllen opened #3839 "Release 0.45.0"
Target date is by the end of October 2021.

[2021-09-05 03:55] jemc opened #3840 "Runtime crash when tracing class iso containing struct val."
This seems to be a related bug to #3765, which was fixed in #3781.

That is, this seems to be another problematic case involving sending structs that we missed in our discussion about what to disallow when we were discussing #3765.

The release notes for #3781 say that it is no longer allowed to send a `struct iso` or `struct val` as a behavior parameter, and in such a case it must be wrapped in a

[2021-09-07 18:04] jemc commented on #3836
Here's the AST output, taken using `ponyc --pass=parse --ast`:

[code]

[2021-09-07 18:31] jemc commented on #3836
The parsing bug here is that it is treating the following expression:

[code]

As if it were the following two separate expressions:

[code]

The bug is that it's not requiring a newline or semicolon to separate the end of the single-`"` string literal from the next two quotes, which are being treated as a separate,empty string literal.

The right behavior would be to have the parser complain upon

[2021-09-07 22:44] chalcolith opened #3841 "Update optimization to use the new optimization pass manager"
Per https://llvm.org/docs/ReleaseNotes.html the LLVM legacy pass manager is going away after LLVM 14. We should update `genopt.cc` and `gengit.cc` to use the new optimization pass manager.

[2021-09-11 19:20] mateusmds commented on #3806
I got the same problem at the same step/percentage. I'm also in Arch Linux using GCC  v11

[2021-09-12 23:22] #3806 closed

[2021-09-13 01:33] SeanTAllen commented on #3806
This is fixed on main.

[2021-09-14 16:54] mateusmds commented on #3823
Investigating I found that the error occurs when [`is_typecheck_error`](https://github.com/ponylang/ponyc/blob/main/src/libponyc/expr/operator.c#L355) returns true, while switching [`ast_id(ast)`](https://github.com/ponylang/ponyc/blob/main/src/libponyc/pass/expr.c#L546). I don't know how the compiler actually works but I presume that when the function returns true without rising an error within t

[2021-09-14 18:14] jemc commented on #3823
Thanks for looking into it.

I think we should add to that line you linked so that we not only return false, but also add a compilation error like this:

[code]

[2021-09-16 01:58] SeanTAllen opened #3848 "Can't build 32 bit Arm code with gcc 8.3.0"
The configure check fails because the tune option from the Makefile of `generic` doesn't exist. Using `native` works, however it might not be the proper option.

[code]

I think we need to discuss how we want to set the default `tune` in the Makefile.

Otherwise it builds.

[2021-09-16 01:58] SeanTAllen commented on #3848
@jemc @kulibali @ergl any thoughts or input on this one?

[2021-09-16 02:16] SeanTAllen opened #3849 "Cant build 32 bit Arm code with clang"
I'll detail the errors more in this later. It's a placeholder. There's gnu unwind specific code in `posix_except.c` for 32 bit Arm that is going to be hard to deal with. There's other errors as well that might be because of differences between unwind for gcc and clang on 32 bit platforms. I need to look into it more.

I've identified some fixes for some of the errors. With those fixes, both gcc an

[2021-09-16 02:20] SeanTAllen opened #3850 "Test failures on 32 bit Arm"
On raspbian with gcc 8.x.

The serialization tests fail with the following output:

[code]

Also failing are some of the Iftype tests. For example:

[code]

There are additional failures with the same error as well:

[code]

[2021-09-16 02:21] SeanTAllen commented on #3850
@kulibali you've done some work with the JIT. Any idea what might be going on here?

[2021-09-16 02:42] SeanTAllen opened #3851 "serialise/Failures stdlib test aborts on 32 bit Arm"
Built with gcc on a raspberry pi 4. When I run `make test-stdlib-debug config-debug`

During the test run, I get "aborted" and the program stops during the `serialise/Failures` test which makes sense given test failures in #3850.

Otherwise, the stdlib tests with minimal testing seem to reliably pass. More testing however would be needed to really validate the "reliably pass" statement.

I havent

[2021-09-16 11:51] SeanTAllen commented on #3850
This was an error I got after building LLVM with clang and then having to switch to gcc so it might be a red-herring.

Closing for now.

[2021-09-16 11:51] #3850 closed

[2021-09-16 11:52] SeanTAllen opened #3852 "Test failures on Arm 32"
You have to use gcc to build LLVM and other components to get to this error as we can't build Arm32 with clang at the moment.

When running tests, I get different errors. Based on the run, so far:

[code]

[code]

[2021-09-16 21:37] SeanTAllen opened #3855 "Raspberry Pi 4 with 32 bit Raspbian isn't detected as ARMV6"
in platform.h we have a number of compiler definition checks and set `ARMV6`.

The definition is only used on 1 place in the codebase; in cpu.c to turn on code to check to see if a hardware cycle counter is available. The Raspberry Pi 4 should be being marked as ARMV6.

This likely impacts on some other Arm platforms as well.

- 32 bit Raspbian
- Raspberry Pi 4

[2021-09-16 22:01] SeanTAllen commented on #3852
I think all tests that are run by the JIT are actually JIT errors as I can't recreate the crashes outside of usage of the JIT.

[2021-09-16 22:15] fancycade opened #3856 "Compiler crash with Promise flatten_next"
OS:
Alpine Linux Stable

openssl 1.1.1

Compiler Version:
[code]

Compiler Error Message
[code]

Repo:
[code]
This isn't a minimal example, but the code size is pretty small. Will update with a minimal example as soon as I get one going.

Direct link to suspect code: https://hub.darcs.net/fancycade/hoof/browse/main.pony#84

[2021-09-16 23:41] SeanTAllen opened #3857 "Remove usage of JIT for tests"
Currently we have a number of tests for functionality that use the JIT to run compiled code. This is handy for tests, however, the ORC JIT is still a "very moving" target. Additionally, it appears that it is buggy (or our usage of it is buggy) on Raspberry PI 4 32-bit which is one of our current Arm development platforms.

We've tentatively decided we will remove JIT usage from the codebase and sw

[2021-09-17 00:16] SeanTAllen opened #3858 "Can't link stdlib tests with release compiler on Raspberry Pi 4 32-bit Raspbian"
This is the 32 bit version.

With a release compiler (config=release), I get the following error when I run `CC=/usr/bin/cc CXX=/usr/bin/c++ make test-stdlib-release`:

[code]

The  `test-stdlib-debug` target links fine.

[2021-09-17 00:18] SeanTAllen commented on #3858
My guess would be that an optimization is removing the symbol for some reason when it shouldn't be.

[2021-09-17 02:43] SeanTAllen commented on #3858
Turning off the inliner fixes the problem so, that's a clue:

[code]

[2021-09-17 02:48] SeanTAllen commented on #3851
It appears that if you turn off inlining so that linking works for `test-stdlib-release` with `config-release` that this doesn't happen.

[2021-09-17 02:59] SeanTAllen commented on #3851
In genopt.cc there is this code:

[code]

I wonder if that is out of date and no longer helpful.

[2021-09-17 15:13] SeanTAllen commented on #3848
Note, for the 64 bit when building on Graviton with clang, this isn't an issue. I'm thinking this is a "secondary" platform and we not in instructions to pass a different "tune" value as part of the make invocation. Are folks good with that as a solution to this issue?

[2021-09-17 17:32] SeanTAllen commented on #3852
Interestingly, turning off

[code]

in `genjit.cc` switches this from a crashing but to a hang.

[2021-09-17 18:29] kapilash opened #3862 "build failure when configured with PONY_USE_MEMTRACK or PONY_USE_MEMTRACK_MESSAGES"
Build fails when configured with options provided in #3284  due to signature mismatch of the [function definitions](https://github.com/ponylang/ponyc/blob/7d38ffa91cf5f89f94daf6f195dfae3bd3395355/src/libponyrt/gc/cycle.h#L29-L31) and their [usage](https://github.com/ponylang/ponyc/blob/7d38ffa91cf5f89f94daf6f195dfae3bd3395355/src/libponyrt/actor/actor.c#L1134)  in the [actor.c](https://github.com/

[2021-09-17 19:14] SeanTAllen commented on #3840
I need to check this out in a debugger and see if it a tracing bug or something else.

[2021-09-18 01:44] SeanTAllen commented on #3840
This is #3765. There's a giant flaw in my "see it fixes the problem" example. It's wrong as it uses a `ref` struct.

[2021-09-18 02:21] SeanTAllen commented on #3840
So this is "the fix" in Pony code for @jemc's bug:

[code]

So if the  fix for #3765 could be changed to "can't use struct not wrapped in a `val` and send" then we would be all good. But that's a bit more complicated than the first fix.

What we would need to do:

For every `iso` that is being sent via a behavior, we need to check all its fields and make sure there are no structs that could cause

[2021-09-18 02:22] #3851 closed

[2021-09-18 02:47] SeanTAllen commented on #3840
Ok, I've coded up the object map fix that we wanted to avoid. We need to do benchmarking. Given that we don't have Wallaroo to use (although I'd love to fork a pony only version), I think the message ubench would be our best take on this.

The branch is `sean/3840`.

[2021-09-18 03:16] SeanTAllen commented on #3840
I've done some "on my local machine" testing with ubench and i can't see any meaningful change in performance. anything i see can be chalked up to noise from my limited test environment.

@jemc here is what i am using for parameters to ubench where i compile release builds on sean/3840 and llvm1300.

 `--pingers 320 --initial-pings 30 --ponynoblock --ponynoscale`

[2021-09-18 03:56] SeanTAllen commented on #3840
I realized that ubench isnt a good benchmark for this as it is sending around machine words.

[2021-09-18 04:03] SeanTAllen commented on #3840
Ok, I modified to send around Strings instead of machine words and I'm seeing a good sized drop in performance.

[2021-09-18 04:07] SeanTAllen commented on #3840
I've done a couple more short runs and i'm not seeing a difference. my local environment might be too noisy to test.

[2021-09-18 04:08] SeanTAllen commented on #3840
here's the patch to message ubench that would be used and run against each:

[code]

[2021-09-18 17:51] SeanTAllen commented on #3857
As part of this, add a regression test for #2976:

[code]

[2021-09-18 18:09] SeanTAllen commented on #3840
Ok, I tested in a more stable environment on my 4 core NUC and I don't see any difference that would be attributable to anything other than noise. @jemc can you test as well?

[2021-09-18 19:46] SeanTAllen commented on #3857
There's a "it could look like this" draft PR open:

https://github.com/ponylang/ponyc/pull/3865

[2021-09-20 16:22] #3862 closed

[2021-09-20 22:02] SeanTAllen commented on #3839
Add ubuntu21.04 as a release option in INSTALL.md when this is done.

[2021-09-20 22:25] jemc commented on #3840
Will test.

[2021-09-20 22:47] SeanTAllen commented on #3840
@redvers is also testing.

[2021-09-20 22:48] SeanTAllen commented on #3840
full testing details are on the PR #3864.

[2021-09-21 15:59] fancycade commented on #3856
[code]

This is the minimum test case I could come up with. The lines labelled BUG are lines that can't be changed in order to reproduce the compiler crash.

[2021-09-21 18:50] SeanTAllen commented on #3848
I'll do -mtune native for CI and we'll add a note to BUILD once we have 32-bit in place.

[2021-09-24 13:55] SeanTAllen opened #3870 "Can't build libponyc.tests on Raspberry PI 4 with Raspbian 64-bit"
gcc version: `cc (Debian 8.3.0-6) 8.3.0`

error when linking libponyc.tests

[code]

Here's the docs on the difference between -fpic and -fPIC

https://gcc.gnu.org/onlinedocs/gcc-4.1.1/gcc/Code-Gen-Options.html#index-fpic-1614

And this document contains a ton of important info:

https://akkadia.org/drepper/dsohowto.pdf

In particular:

![image](https://user-images.githubusercontent.com/193596/134

[2021-09-24 14:02] SeanTAllen commented on #3855
This needs to be tested on 64-bit ARM as well. There's a definite performance issue that this creates.

[2021-09-24 14:21] SeanTAllen commented on #3852
There are other bugs that I will detail in another issue. In the meantime, I'm closing this issue as it is mostly about the JIT issues for which we opened an issue #3857 and there's a PR underway #3865.

[2021-09-24 14:21] #3852 closed

[2021-09-26 17:42] Trundle commented on #3856
A more minimized reproducer:

[code]

[2021-10-02 11:14] SeanTAllen opened #3872 "Can't build ponyc on Raspbian 64-bit with clang"
It appears that any -march or -mtune value is rejected by clang including `aarch64` which it ends up defaulting to. This results in `make configure` failing as we set both `arch` and `tune`.

This very much appears to be a clang on 64-bit Raspbian issue that we probably need to either work around with a Makefile patch or documentation stating that only gcc works.

However, before we get there, a b

[2021-10-02 11:26] SeanTAllen commented on #3870
@kulibali you were going to look into how we can switch these correct?

[2021-10-02 15:26] rtpax commented on #3848
Looking the options here: https://gcc.gnu.org/onlinedocs/gcc-4.8.3/gcc/ARM-Options.html

Under mtune you can do a partial split with arch-generic, but native does not work with generic. That might be good for distributing executables, but then we'd have to detect that in the make file.

[2021-10-02 15:54] kulibali commented on #3870
I haven't looked at it yet; I've been working on #3865

[2021-10-02 20:32] SeanTAllen opened #3874 ""LLVM bug" impacting debug builds on 64-bit Arm"
While getting pony working on 64-bit Arm, we found a bug where the `test-stdlib-debug` tests would segfault. Everything worked fine with `release` builds, but `debug` builds would crash.

After investigation, we've found that in `codegen_machine` in `host.cc` if the `opt_level` is get to either `CodeGenOpt::Default` or `CodeGenOpt::Aggressive` instead of `CodeGenOpt::None` the problem goes away.

[2021-10-03 21:55] SeanTAllen commented on #3870
We have a fix for this, it's a matter of working into the build system when @kulibali has time to decide how it should be done.

[2021-10-03 21:56] SeanTAllen commented on #3857
At the moment, this is waiting for @kulibali's word on if it makes sense to integrate these into cmake build system (which we hope it does).

[2021-10-03 21:59] SeanTAllen commented on #3848
@rtpax thanks for the research. even though gcc is the only way at the moment to build on the Pi, we still treat gcc as a "second class citizen" as a matter of policy. Clang is our officially supported compiler with us doing best effort to keep gcc working. For this particular issue at the moment, we are going with a note in the build instructions for 32 bit Raspian to overload the `tune` option a

[2021-10-03 22:12] SeanTAllen commented on #3849
I believe @rtpax is taking a look at this one.

[2021-10-03 22:14] SeanTAllen commented on #3858
When this is fixed, the build instructions in `BUILD.md` introduced in #3879 will need to be adjusted.

[2021-10-03 22:22] SeanTAllen commented on #3872
`arch=armv8-a` appears to work. testing further.

[2021-10-03 22:28] kulibali commented on #3857
@SeanTAllen I've committed some preliminary work in `no-jit-tests-kulibali` which is off of your `no-jit-tests` branch. In it I build the "associated" libraries for the jit tests during the cmake build (they end up in `build/{release,debug}/test_lib`). Then the `Makefile` (and `make.ps1` could call a runner to compile and run the tests).  I've just started such a runner (in Pony, because why not).

[2021-10-03 22:47] SeanTAllen commented on #3872
`arch=armv8-a` works for clang and if it works for gcc then I will do the directions for both to be the same.

[2021-10-03 22:51] SeanTAllen commented on #3870
https://github.com/ponylang/ponyc/pull/3880 should be updated when this is done and this issue should get closed along with #3872.

[2021-10-03 22:52] SeanTAllen commented on #3857
@kulibali is the plan for you to get everything on that branch to working and then i can take over again on trying to fit the rest of the more complicated tests in?

[2021-10-04 00:23] kulibali commented on #3857
I was thinking you could see if it's an approach you like and then cherry-pick from my branch what you want to include.

[2021-10-04 00:51] SeanTAllen commented on #3857
@kulibali I'd rather work together on your branch together. Whatever either of us doesn't like, we can talk and adjust it.

Does that work for you? If yes, I'd say, let me know when you are ready for me to do whatever my next thing is and let me know when its time and I'll start figuring out the state of things.

[2021-10-04 19:35] mehronkugler opened #3881 "OpenSUSE Leap 15.2 pony post-build wants newer version of glibc"
Hello all,

I am new to building things from source, so apologies if I'm missing something obvious. I'm running OpenSUSE Leap 15.2, x84_64.

I've got pony's dependencies installed, and built pony successfully on my system, following the installation guide, but running ponyc (with a main.pony file as the tutorial describes) yields an error.

    ponyc: /lib64/libm.so.6: version 'GLIBC_2.27' not fou

[2021-10-04 19:39] SeanTAllen commented on #3881
You can follow the instructions to build from source in https://github.com/ponylang/ponyc/blob/main/BUILD.md

Please note for this sort of support that we ask that you join the Zulip and ask in the #beginner-help stream:

https://ponylang.zulipchat.com/#narrow/stream/189985-beginner-help

[2021-10-04 19:40] #3881 closed

[2021-10-04 21:53] SeanTAllen commented on #3857
@kulibali excellent idea to write the runner in Pony. very excellent idea.

[2021-10-05 15:12] SeanTAllen commented on #3874
The host.cc change makes no difference when we are building using musl rather than glibc. We still get segfaults in the debug build on Arm-64 when using musl.

[2021-10-05 18:42] #3848 closed

[2021-10-06 01:31] SeanTAllen commented on #3857
Let me know when you want me to jump in @kulibali.

[2021-10-06 02:17] SeanTAllen opened #3887 "Incorrect version in nightly builds"
This is supposed to be set by doing `version="BLAH"` to the Makefile.

However this ability to override the version is current broken and we get the default.

I've been looking at the cmake build system and I can't figure out how this should be set.

@kulibali can you let me know how this should be done?

[2021-10-06 20:26] #3887 closed, assigned to chalcolith, SeanTAllen

[2021-10-08 01:47] SeanTAllen opened #3898 "Makefile "install" is "broken""
So currently, `install` in our "unix" Makefile isn't hooked into cmake so it can lead to errors.

in particular if you do

[code]

you will end up with a broken install because the `arch` override from `configure` is used during `build` but isn't used during `install`, instead a different arch (our default) is used and you end up with a ponyc that can't find its lib dependencies.

All the function

[2021-10-09 03:11] SeanTAllen opened #3901 "Arm stress test failure"
This needs to be looked into more. First, verify that the assertion is valid. I'm pretty sure it is, but it should be revisited. Next, if it is valid, start figuring out how this might happened. We might need to figure out how to store the core dump when the assertion is hit to be able to investigate further.

[stress_test.log.txt](https://github.com/ponylang/ponyc/files/7314897/stress_test.log.tx

[2021-10-09 03:24] SeanTAllen commented on #3858
I'm not able to replicate this anymore. I'll update the raspbian 32-bit instructions to not require `config=debug`.

I'm assuming that when I was working through initial issues that I got into some odd state that resulted in this error.

It looks like at this point the main 32-bit arm issue are the jit tests not working properly and not being able to build with clang.

[2021-10-09 03:24] #3858 closed

[2021-10-13 21:43] he0xA1 opened #3903 "Discord Community"
Hi
Please, if possible, create a discord server to bring developers together

[2021-10-13 21:54] #3903 closed, assigned to nobody

[2021-10-14 08:59] MahanBi commented on #3903
I want the main developers to be in it to become an official server ...

[2021-10-14 18:19] SeanTAllen commented on #3901
So we can for at least 1 case, change the assert and still basically keep the same constraints with the one caveat.
The assert would become a return if muted.

However, I need to go through all the usage of mute and unmuted and see where they are used in relation to "is muted" checks (and triggers muting checks) to see if there are time of check, time of use violations that might potentially be a

[2021-10-16 18:49] SeanTAllen commented on #3898
The installed ponyc is unable to find the correct pony runtime when linking programs.

[2021-10-22 01:27] rhagenson commented on #1829
I see. Where would be the correct place to then add this "How to contribute" content so it appears on the index page?

[2021-10-22 01:31] SeanTAllen commented on #1829
It would have to be part of the script that creates the docs to update the generated mkdocs to include some additional content.

[2021-11-01 13:08] SeanTAllen commented on #3839
I'm planning on doing this tonight.

[2021-11-01 17:04] SeanTAllen commented on #3839
release is underway

[2021-11-01 17:15] SeanTAllen commented on #3839
PR to add ubuntu 21.04 to INSTALL.md has been opened:

https://github.com/ponylang/ponyc/pull/3909/files

[2021-11-01 18:12] SeanTAllen commented on #3839
All done.

[2021-11-01 18:12] #3839 closed

[2021-11-01 21:57] stefantalpalaru commented on #3839
Fails to build with Clang-13:

[code]

Upstream bug report: https://github.com/google/benchmark/issues/1172

[2021-11-01 22:48] SeanTAllen commented on #3839
@stefantalpalaru is there a google benchmark version that includes the fix? it looks to me like one doesn't exist yet.

[2021-11-01 22:49] SeanTAllen opened #3914 "Release 0.45.1"
Target release date is the end of November 2021.

[2021-11-02 00:51] stefantalpalaru commented on #3839
It was fixed on June 9, so the last 3 releases should have it: https://github.com/google/benchmark/pull/1174

[2021-11-02 18:28] SeanTAllen commented on #3839
@stefantalpalaru google benchmark is up to the latest 1.5.x version on main.

[2021-11-02 22:40] jemc commented on #3914
Audio from the [2021-11-02](https://sync-recordings.ponylang.io/r/2021-11-02.m4a) Pony development sync call is available.

[2021-11-17 12:51] sgebbie opened #3922 "Pony JSON - difficult to modify `iso` JsonDoc"
Currently `json.JsonDoc` provides accessors via the `data` field. However, if one has an `iso` reference to a `JsonDoc` that has already been populated, then it is difficult to modify the data after the fact.

## Background

For example, the following code will work (where a `ref` alias is recovered):

[code]

But then `jdoc'` is no longer `iso`.

One could replace `jdoc.data` altogether:

[code]

[2021-11-17 12:54] sgebbie commented on #3922
In terms of naming, we could go with: `get_data`, which is not my favourite, but makes sense. Unfortunately, we can't use `data()` for backwards compatibility. We could also consider `payload()` or simply `d()`.

Another option that may work well is `apply()` so as to leverage the syntactic sugar.

[2021-11-17 13:23] sgebbie commented on #3922
I've started putting together the following PR:

- https://github.com/ponylang/ponyc/pull/3923

which allows one the write the following:

[code]

[2021-11-17 13:35] ergl commented on #3922
@sgebbie Since this changes the standard library, I think this will be required to do through the [RFC](https://github.com/ponylang/rfcs#when-you-need-to-follow-this-process) process.

[2021-11-18 09:42] sgebbie commented on #3922
I've started drafting and RFC for this change:

- https://github.com/sgebbie/ponylang-rfcs/tree/3922-json-getter

I'll send through a PR once I've completed the documentation.

[2021-11-18 10:06] ergl commented on #3922
@sgebbie Cool. One point to consider is that since pony is pre-1.0, we can be more relaxed about breaking changes. In this case, I'd at least write down the option of making the `data` field private, or of calling the getter `data`. You can put these alternatives on the "Alternatives" section of the RFC.

[2021-11-19 09:02] sgebbie commented on #3922
I've posted an RFC for this proposed change:

- https://github.com/ponylang/rfcs/pull/191

[2021-11-21 17:52] jasoncarr0 commented on #3922
I'm not going to suggest that we should hold this up for it, but I'm marking this as another use case for recover blocks with receiver https://github.com/ponylang/rfcs/pull/182

[2021-11-23 20:06] sgebbie commented on #3922
Following the [Pony sync 2021-11-23](https://ponylang.zulipchat.com/#narrow/stream/190591-sync/topic/2021-11-23) it seems like the issue in the `JSON` API has more to do with the difference in how the compiler is handling field access versus how it is handling method access (with viewpoint adaption).

The suggestion was to rather file a new bug report that isolates an example of this difference in

[2021-12-02 21:38] SeanTAllen commented on #3914
Release is underway

[2021-12-02 22:11] SeanTAllen opened #3926 "Release 0.45.2"
Target release date is around the end of December 2021.

[2021-12-02 22:48] #3914 closed

[2021-12-07 01:46] pmetras opened #3927 "Improve error message when accessing field from lambda"
## Context
Here is some incorrect code [(in playground)](https://playground.ponylang.io/?gist=780e8fae4fa8c385e1fc0d61a59416d4) trying to update the value the first element of array `bar` through a lambda:

[code]
When compiled, the compiler emits the helpful error messages:
[code]

The last part of the information _this would be possible in a ref function_ shows what's wrong and you can quickly f

[2021-12-10 00:02] SeanTAllen commented on #3870
@kulibali got time to look at this one now?

[2021-12-10 00:04] #3857 closed

[2021-12-10 00:05] kulibali commented on #3870
Sure I'll take a look @SeanTAllen. I just installed 64-bit raspbian on my pi.

[2021-12-10 00:05] SeanTAllen commented on #3870
@kulibali nice.

[2021-12-10 15:12] SeanTAllen opened #3928 ""you could consume" addition would make "his would be possible if the subcap were more ephemeral" error message easier to understand"
[code]

Results in the error message:

[code]

This is pretty inscrutable to a beginner. I regularly see this message being referenced on Twitter with people getting tripped up. A note that adding the missing consume would fix the issue would be helpful for beginners.

` String.from_iso_array(consume sortedarray)`

[2021-12-10 16:10] ergl commented on #3928
I find this confusing from time to time. I think what's strange here is that the compiler treats `Foo iso` as different things depending on where it is being used: either as a parameter or as a return value.

[code]

[2021-12-10 16:44] SeanTAllen commented on #3928
@ergl does it have the same error message otherwise I think that should be a different issue.

[2021-12-10 16:47] ergl commented on #3928
@SeanTAllen It has the same error message.

At least when you write `fun test1(c: Foo iso^)`, the error message matches the type you write (not a subcap of `iso^`).

It's just that when you write `fun test(c: Foo iso)`, the compiler is treating `c` as if it was `Foo iso^` instead.

[2021-12-10 16:52] SeanTAllen commented on #3928
@ergl sorry i dont understand. so `fun test1(c: Foo iso^)` can't  be matched as far as I know. The act of creating the binding for `c` makes it an `iso` that binding is an alias. Whereas, on the return value, it needs to be `iso ^` so it can be bound when the return value is aliased.

I'm not sure what you are referring to as being the same as the issue I opened.

[2021-12-10 17:02] ergl opened #3929 "Compiler prints different reference capability on error: iso vs iso^"
Related to #3928:

[code]

Results in the error message:

[code]

Specifically, this part:

[code]

The compiler says that `data` is of type `Array[U8 val] iso^`, even though the code specifies that `data` is `Array[U8] iso` (non-ephemeral version).

These two references may be equivalent from the compiler's point of view for parameter types, but it would be useful if the error messages matches th

[2021-12-10 17:12] jasoncarr0 commented on #3929
So perhaps a better wording would be to specify:
* The argument must be `Array[U8 val] iso^` to be assigned to this parameter of type `Array[U8 val] iso`
as just repeating the parameter literally would create the even more confusing:

`argument type is Array[U8 val] iso`
`parameter type is Array[U8 val] iso^`

This particular wording was just lifted wholesale when changing the aliasing behavior. T

[2021-12-11 10:08] redvers opened #3930 "Compiler Crash with Generics and Types"
Minimal case:
[code]

lldb gives:
[code]

[2021-12-11 10:09] redvers commented on #3930
I accidentally'd the stack.

[2021-12-11 12:04] ergl commented on #3930
From my backtrace, it seems like the compiler is getting into an infinite recursive loop:

[code]

[2021-12-11 20:06] redvers commented on #3930
Well, since this is tagged 'help wanted' and the issue isn't obvious - let's see if I can help:

Minimal Crash:
[code]

Doesn't crash:
[code]

Crashes:
[code]

Doesn't crash:
[code]

Does crash:
[code]

So, I'm concluding that the compiler is having issues with generic types which contain themselves.  I'm guessing (I'm not deep enough in the compiler to fully understand what is going on) that when

[2021-12-11 20:09] redvers commented on #3930
```fun flatten[A: Array[A] #read, B: Array[A]](arrayin: Array[Array[A]]) =>```
Also crashes

[2021-12-11 20:14] redvers commented on #3930
```fun flatten[A: Array[B] #read, B: Array[Any] #read](arrayin: Array[Array[A]]) =>```

Does work when you don't do anything with it, but when you try and use it:
[code]

[2021-12-11 20:24] redvers commented on #3930
The more I think about this, the more that I'm thinking I'm asking the impossible.  This may be something that shouldn't be able to be expressed.  I'm going to think on it some more.