[2016-09-28 10:46] SeanTAllen commented on #625
@jemc There hasn't been much movement on this. I think it makes sense to close and possibly open a RFC that advocates a change should that be what we want. Thoughts?

[2016-09-28 10:52] SeanTAllen commented on #471
@cquin @jemc what's the status of this issue? you still planning on writing an RFC Carl?

[2016-09-28 10:52] SeanTAllen commented on #557
@wilbertom thanks for offering to step in and take this on!

[2016-09-28 10:54] SeanTAllen commented on #617
Assigning myself to this so I remember to open an RFC for this.

[2016-09-28 10:55] SeanTAllen commented on #654
@killerswan do you know if this was resolved by work you did getting us set up to release? Hopefully yes and we can close this.

[2016-09-28 10:58] SeanTAllen commented on #717
@jemc should this be labelled as blocked again as ProcessManger doesn't work on Windows?

Also I'm still unclear on how this would work. This isn't really a "RFC thing" but I think that it might benefit from that process or something like it so we have a write up on what needs to be done with a decent level of detail and than we could open an issue for it and someone from the community could under

[2016-09-28 11:00] SeanTAllen commented on #923
Ugh we are still recommending this. Blarg.

[2016-09-28 11:04] SeanTAllen commented on #923
Closing this as it might be dated. Asking on pony+dev for folks to verify that ubuntu and debian have 3.8 available via standard packaging we can adjust for missing as needed.

[2016-09-28 11:04] #923 closed

[2016-09-28 11:08] SeanTAllen commented on #1131
@Perelandric thanks for the first pass audit. have you had a chance to dig in any further?

[2016-09-28 11:09] SeanTAllen commented on #1138
@jemc should we have new issues for the above action items?

[2016-09-28 11:17] SeanTAllen commented on #1268
@malthe I've sent you an invite join the Pony org as a contributor. It has no write level access but does allow committers to assign you to an issue if you are working on it.

Are you still working on this? Do you need any help?

[2016-09-28 12:00] Perelandric commented on #1131
@SeanTAllen My attempt so far is probably naive. I've merely searched for explicit uses of `Seq` in the standard library, and noted those above. At this point I think I'd need a little direction if more data is needed.

[2016-09-28 12:18] Praetonus commented on #717
Maybe we could use the LLVM JIT framework for this? It would allow us to bundle every "language" tests into `libponyc.tests` or `libponyrt.tests` instead of polluting the standard library tests. I can give it a try next week if people like the idea.

[2016-09-28 12:59] CandleCandle opened #1274 "Linker failure, possible version mis-match?"
On building https://github.com/CandleCandle/pony-eventbus (but not limited to that project)

OSX El Capitan: 10.11.6

Using locally-built ponyc
-------------------------
[code]
works as expected.

Using Brew supplied ponyc
-------------------------
[code]
Produces the below output:
[code]

[2016-09-28 13:47] Praetonus commented on #1274
I think this is related to LTO. With LTO enabled, the Clang linker takes LLVM bitcode files in input instead of object files. The prebuilt ponyc uses LLVM 3.8 and your system has something like LLVM 3.7 (according to Apple versioning). Since LLVM tools in a given version expect bitcode in the same version, it can't work. I'm not sure this one can be solved without disabling LTO in prebuilt package

[2016-09-28 14:30] aturley commented on #416
[This is in reference to [RFC issue 33](https://github.com/ponylang/rfcs/pull/33])]

I had been looking at `export` and library generation as orthogonal concerns, mostly because library generation focuses on exporting methods for classes while `export` focused on exporting methods for actors. In fact, my toy implementation of `export` makes them mutually exclusive. That may be a mistake.

I believ

[2016-09-28 15:09] jemc commented on #717
@Praetonus - I definitely like the idea of using the LLVM JIT framework for "language tests" aimed at preventing certain regressions.  I don't know if that completely removes the need for "integration tests", but it might.

Also having some rudimentary use of the LLVM JIT under our belt would bring us part-way toward having a REPL, so that's cool.

[2016-09-28 15:18] #625 closed

[2016-09-28 15:20] jemc commented on #1118
@peterzandbergen - it definitely still needs to be fixed, and it's still marked as high priority.  Runtime segmentation faults are not acceptable .

[2016-09-28 15:27] jemc commented on #1131
Next step would be for someone to confirm which methods of `Seq` match [`Vector` in `ponyta`](https://github.com/lukecheeseman/ponyta/blob/typevalues/packages/builtin/vector.pony) and draw up an RFC that reduces the surface of `Seq` to those methods, and creates an additional interface that extends `Seq` to cover the other (resize/reserve-related) methods that `Seq` currently has.  Some methods co

[2016-09-28 15:49] kulibali commented on #575
I thought I might take a look at this.

[2016-09-28 16:28] ryanai3 commented on #950
Looks like @Praetonus  in #1176 was right. This is LLVM 3.8 related.
After rebuilding with LLVM 3.9, the problem has disappeared.

[2016-09-28 17:34] SeanTAllen commented on #1274
We can make the specific version of LLVM be the requirement with homebrew rather than any llvm. That should work right @praetonus?

[2016-09-28 17:36] SeanTAllen commented on #575
Awesome!

[2016-09-28 17:46] Praetonus commented on #1274
I've never used Homebrew but it sounds like it could work. Definitely worth a try.

[2016-09-28 18:10] cquinn commented on #471
I have recently started to get back to this work to polish it up. I'll write an RFC.

[2016-09-28 18:47] SeanTAllen commented on #471
Awesome. Thanks @cquinn.

[2016-09-28 19:11] jemc opened #1275 "Compiler assertion failure for array of lambda type as embedded field"
I hit a compiler assertion failure when I have an array of lambda type as an embedded field. Here's what I see, on x86_64 Linux using LLVM 3.8, compiling the pony program with `--debug`:

[code]

[code]

If I use `let` instead of `embed`, it compiles correctly:

[code]

[code]

[2016-09-28 20:06] SeanTAllen commented on #1118
Ok, issue located. @sylvanc will be working on this. Thank you everyone who contributed to finding this. Extra props to @Perelandric for lots of narrowing down a minimal case and @Praetonus for digging into the code.

[2016-09-28 20:07] sylvanc commented on #1118
Yes, thank you VERY much! This is an important and subtle and tricky one.

[2016-09-28 20:07] killerswan commented on #654
If it has been fixed it was not by my actions.  (Perhaps the FPM package used by Travis has been updated to use a better default, say?)

[2016-09-28 20:10] SeanTAllen commented on #416
We are closing this with the idea that the export RFC will address. See: https://github.com/ponylang/rfcs/pull/33

[2016-09-28 20:10] #416 closed

[2016-09-28 20:11] sylvanc commented on #416
1. Yes, `export` subsumes the `use` extension.
2. Yes, `export` should work with actors as well. That allows it to work with `pony_become`.
3. Yes, `export` not only works with library generation, it _becomes_ library generation. That is, if you have some packages, creating a library means creating another package that `export`s your desired API.

[2016-09-28 20:15] SeanTAllen commented on #863
closing. opened this issue to address: https://github.com/ponylang/pony-tutorial/issues/158

[2016-09-28 20:15] #863 closed

[2016-09-28 20:21] peterzandbergen commented on #1118
Well done, never doubted that this would not be picked up in a serious way. Kudos

[2016-09-28 20:28] sylvanc commented on #993
Discussed in a sync call. `undef` is dangerous to leave around, but runtime bounds checking is too expensive, so we'll special case compile-time constant `fptoui` and `fptosi` to do saturation, and leave the non-compile-time constant case as it is now.

[2016-09-28 20:29] SeanTAllen commented on #1133
The problem with

[code]

is that is has a large performance impact that we wouldn't want to pay.

This would result in additional branching having to be done as well as an object allocation inside add:

[code]

[2016-09-28 20:31] jemc commented on #993
Discussed on the sync call, @sylvanc proposed a plan in which we could treat compile time constants as a special case, and make sure that the value is not `undef` in LLVM, but we can't have the overflow semantics for floating point to integer be well-defined in a crossplatform way and still be fast.

So after setting up the special case logic, we can document that the resulting value is undefined

[2016-09-28 20:33] sylvanc commented on #1133
@toblux you are exactly right, thank you!

We need to do two things:

1. Clean up `stdfd.c` to no longer deal with stripping ANSI codes. It still needs to issue `Console` commands on Windows.
2. Add a version of `pony_os_std_write` that inserts the newline in a single `FILE*` operation (i.e. fprintf).

[2016-09-28 20:38] SeanTAllen commented on #654
@satbyy any chance you could check and see if this is fixed for you?

[2016-09-28 20:39] SeanTAllen commented on #654
Given how long this has been open and no one has reported this since the new release process, I'm going to close this with the possibility it can be reopened if @satbyy reports he still has an issue or if someone else reports going forward.

[2016-09-28 20:39] #654 closed

[2016-09-28 20:53] SeanTAllen opened #1276 "RFC: Extend itertools"
see https://github.com/ponylang/rfcs/blob/master/text/0012-extend-itertools.md

[2016-09-28 20:55] SeanTAllen opened #1277 "RFC: Buffered Read Until"
https://github.com/ponylang/rfcs/blob/master/text/0013-buffered-read-until.md

[2016-09-28 21:20] SeanTAllen commented on #1274
I opened a PR for this. There's no way to test without going through their build process.

https://github.com/Homebrew/homebrew-core/pull/5343

[2016-09-28 21:21] SeanTAllen commented on #1274
@CandleCandle thanks for bringing this issue to our attention.

[2016-09-28 21:35] SeanTAllen commented on #1261
I can't think of any fix for this other than removing the test of finding a way to not run as root in Docker containers.

[2016-09-28 21:41] Theodus commented on #1261
Is there any way to determine if a program is running as root?

[2016-09-28 21:47] SeanTAllen commented on #1261
not in a non platform specific way

[2016-09-28 21:48] JONBRWN commented on #1261
@Theodus the test is failing on a docker run for me as well, will be looking into running as a user other than root

[2016-09-28 22:15] jemc commented on #1261
Could the test be amended to try opening a file that doesn't exist, causing a `FileError`?

[2016-09-28 22:29] SeanTAllen commented on #1274
@CandleCandle are you using XCode 7 or 8?

[2016-09-28 22:56] SeanTAllen commented on #1274
upgrading to xcode 8 fixes this problem for me. @CandleCandle can you verify that works for you and we can note in the directions that its required if it works for you.

[2016-09-28 23:23] zmwangx commented on #1274
Actually, I would really appreciate it if you could try

[code]

first without upgrading your Xcode, and see if that works.

It will help us make the right decision on how to fix this problem on the Homebrew side.

[2016-09-29 00:15] SeanTAllen commented on #1274
@CandleCandle see above... ^^^

[2016-09-29 00:16] SeanTAllen commented on #1274
@CandleCandle also see: https://github.com/Homebrew/homebrew-core/issues/5346

[2016-09-29 00:16] SeanTAllen commented on #1274
Thanks for your help @zmwangx

[2016-09-29 00:50] SeanTAllen commented on #1277
@lisael you interested in tackling this one?

[2016-09-29 01:16] SeanTAllen commented on #575
@kulibali I sent you an invite to become a member of the Ponylang org. That will allow committers to assign you to issues you decide to take on.

[2016-09-29 01:31] kulibali commented on #575
Cool, thanks.  I don't have huge amounts of free time, but I'm enjoying pitching in occasionally.

[2016-09-29 01:39] SeanTAllen commented on #575
@kulibali welcome. we appreciate your help. there's a lot of stuff that wouldn't have gotten done without you. i'll add you as assignee on this once you accept the invite. in the meantime, i'll switch this to "in progress". thanks for taking this on.

[2016-09-29 01:50] SeanTAllen commented on #1023
RFC has:

* We should extend the Pony pattern about limiting string allocations to include a section about using trim and trim_in_place.

* We should lead by example, using trim and trim_in_place wherever applicable in the standard library and official Pony examples.

@jemc i think this calls for its own pattern. rather than being included in the limiting allocations one which should probably be r

[2016-09-29 01:52] SeanTAllen commented on #934
I cant reproduce this and there been no movement on this in a long time. Closing.

[2016-09-29 01:52] #934 closed

[2016-09-29 02:04] SeanTAllen commented on #838
I tried running this code again with all the changes we have made and this no longer occurs. Perhaps a change in Pony, perhaps it was related to the llvm I had installed at the time. Closing.

[2016-09-29 02:04] #838 closed

[2016-09-29 02:06] SeanTAllen commented on #806
We have had this in the Sendence fork of ponyc and it has worked for quite a while. I'm planning on opening a RFC fairly soon (I just need the time).

@jemc any problem with this being closed as the RFC will be coming soon?

[2016-09-29 02:10] SeanTAllen commented on #606
@jemc would https://github.com/ponylang/rfcs/pull/23 address this?

[2016-09-29 02:10] SeanTAllen commented on #606
@jemc beyond that question, is this still in progress?

[2016-09-29 02:12] #445 closed

[2016-09-29 02:13] #446 closed

[2016-09-29 02:13] SeanTAllen commented on #460
@jemc Is this impacted by https://github.com/ponylang/rfcs/pull/23 ?

[2016-09-29 02:18] SeanTAllen commented on #647
I tested this to see if it was still the case. With 2 ponythreads, this runs to completion on my machine.
With 4 ponythreads it runs for a short period of time and then segfaults.

[2016-09-29 02:20] SeanTAllen commented on #535
@jemc do you think https://github.com/ponylang/rfcs/pull/23 impacts on this?

[2016-09-29 02:24] SeanTAllen commented on #517
I tested this just now, no matter what I do, this eventually segfaults.

[2016-09-29 04:00] jemc commented on #806
Yep, sounds good.  I'll close and add "turn into rfc".

[2016-09-29 04:00] #806 closed

[2016-09-29 04:02] jemc commented on #606
@SeanTAllen - yep, @Theodus beat me to it on drawing up the RFC we talked about on the sync call.  I'm closing because the RFC is on the way.

[2016-09-29 04:02] #606 closed

[2016-09-29 04:03] jemc commented on #460
Yes, let's close this issue, as I think RFC 23 addresses it.

[2016-09-29 04:03] #460 closed

[2016-09-29 04:05] jemc commented on #535
I don't think that impacts this directly, but seeing as how @andymcn isn't working on the project anymore, let's close this with "turn into rfc", since it's just a (not-fully-fleshed-out) idea at this point.

[2016-09-29 04:05] #535 closed

[2016-09-29 08:57] malthe commented on #1268
I am going to try and write up a test suite for the SSL module.

[2016-09-29 09:29] lisael commented on #1277
Of course! I take it.

[2016-09-29 11:36] SeanTAllen commented on #1277
@lisael I've invited you to join the ponylang organization as a contributor without write access. That will allow committers to list you as an assignee for any issues you decide to take on (such as this one). Once you accept the invite, leave a note here and I'll add you as the assignee.

Thanks for the RFC and thanks for implementing it.

[2016-09-29 11:39] SeanTAllen commented on #471
@cquinn once you open the RFC can you drop a note here about its creation and that this should be closed (feel free to reference this issue from the RFC though, could be quite helpful for background context)

[2016-09-29 11:43] SeanTAllen commented on #950
I checked this out. Using LLVM 3.8 on OSX, I can not reproduce. So, while this might be a LLVM bug, it isnt across all platforms we support.

[2016-09-29 11:44] SeanTAllen commented on #1131
@Perelandric do you want to continue on with this or should I reach out to the dev list and see if anyone wants to take it on?

[2016-09-29 11:49] SeanTAllen commented on #1186
I just tested this out on OSX with LLVM3.8.

Does not happen on OSX.

[2016-09-29 11:52] SeanTAllen commented on #1268
@malthe Awesome. For the PR you have open, just a test for that one bit of functionality is enough for the PR. The test is wonderful, awesome bonus that can come in another PR. Thanks for taking this on.

[2016-09-29 12:01] SeanTAllen commented on #1156
@Praetonus should this be tagged for discussion at the next sync?

[2016-09-29 12:14] lisael commented on #1277
Invitation accepted. Thanks!

[2016-09-29 12:26] SeanTAllen commented on #1276
@Theodus you want this one?

[2016-09-29 12:28] Theodus commented on #1276
@SeanTAllen yup

[2016-09-29 14:41] Perelandric commented on #1131
@SeanTAllen Please put it out on the list. Thanks.

[2016-09-29 15:34] SeanTAllen commented on #1131
@Perelandric email sent

[2016-09-29 17:21] JONBRWN commented on #1261
@jemc a `FileError` will still cause this test to fail as it was expecting `FilePermissionDenied`

I tried to amend the test with the following:

[code]

However, currently there is no error assigned when attempting to write to a file opened with `File.open`

Some questions:
A. Should an error be returned in the case where you attempt to write to a file that was opened with read only permissions u

[2016-09-29 22:40] satbyy commented on #654
@SeanTAllen  I'm getting this new warning:

[code]

[2016-09-29 22:52] killerswan commented on #654
Hmm, there I probably need to mess around a little so my story about which certs you should accept is clear.

[2016-09-30 00:10] SeanTAllen commented on #654
@killerswan ? i don't understand.

[2016-09-30 02:41] SeanTAllen commented on #1261
From an application standpoint, I'm not sure that it matters why permission was denied. If you don't have access to write because of OS permissions or because you opened it read only, that seems pretty similar to me. That said, there's a lot of nuance to this and I don't have a strongly held opinion.

[2016-09-30 02:42] SeanTAllen commented on #1184
@Praetonus is this in progress? should I update the label?

[2016-09-30 08:07] CandleCandle commented on #1274
Building from source with `brew install -s ponyc` does not reproduce the error above, and generates:
[code]

[code]

[2016-09-30 08:27] SeanTAllen commented on #1274
Thanks @CandleCandle.

@zmwangx assuming you do an upstream fix, what do you think the timeline would be on that?

[2016-09-30 10:46] zmwangx commented on #1274
@SeanTAllen I have opened https://github.com/Homebrew/homebrew-core/pull/5415.

Could you please give us a day or two to review and get it merged, and in the mean time ask users with Xcode 7.3 to build from source (`brew install -s ponyc`)? Thanks.

[2016-09-30 11:00] SeanTAllen commented on #1274
I can do that @zmwangx. Could you drop a note here when that gets merged?

[2016-09-30 11:01] zmwangx commented on #1274
Definitely!

[2016-09-30 11:01] SeanTAllen commented on #1274
Thank you @zmwangx!

[2016-09-30 12:48] SeanTAllen commented on #1273
@sylvanc do you have any idea about why this worked?

[2016-09-30 13:25] macropas commented on #87
I think an implementation of the Reflection should be a high priority task. It is much more important than hygienic macros and other bells and whistles. The lack of Pony-lang Reflection and User Defined Annotations prevents a creation of competitive libraries.

Look at the wonderful RESTful framework RPC.dart ( [https://github.com/dart-lang/rpc](https://github.com/dart-lang/rpc) ) with its simple

[2016-09-30 13:30] SeanTAllen commented on #87
@macropas thank you for taking the time to comment on the issue. At this point, additional features such as reflection are not high priority. Currently, stability is high priority. We'd welcome an RFC for a mirror based and capabilities secure reflection API and would be willing to provide pointers to help with the actual implementation. Beyond that, this isn't going to be done in the immediate fu

[2016-09-30 13:48] macropas commented on #87
@SeanTAllen Anyway, I wish you great success! :)

[2016-09-30 15:04] SeanTAllen commented on #1180
I'm working on this. As a difficulty easy, I left it for a bit hoping someone from the community would pick up, but its been a month since this was opened and it needs to get fixed.

[2016-09-30 21:40] zmwangx commented on #1274
@SeanTAllen I have merged Homebrew/homebrew-core#5415.

[2016-09-30 21:57] SeanTAllen commented on #1274
This has been fixed on the Homebrew side.

[2016-09-30 21:57] #1274 closed

[2016-09-30 21:57] SeanTAllen commented on #1274
Thanks for reporting and helping get to the bottom of this @CandleCandle.

[2016-10-01 00:27] Theodus opened #1280 "Unable to use object literal field in constructor"
In objects you can do the following:
[code]
But when this is done for object literals as so:
[code]
it gives the following error:
[code]

[2016-10-01 00:43] SeanTAllen commented on #1280
Can you label this as discuss at sync @theodus? If it gets resolved before the sync, the label can be removed.

[2016-10-01 00:46] Theodus commented on #1280
Sure thing!

[2016-10-01 04:26] jemc commented on #1280
I think it's because in the most common use case for `object` literals, you would assign values taken from the surrounding context, whereas a `class`, there is no surrounding context other than the fields of the class itself, so that's what is searched.

To be honest, I didn't even know your first (`class`) example was valid Pony.  If that's intentionally allowed, then I think it makes sense to ma

[2016-10-02 18:04] IngoHohmann opened #1282 "examples/httpget fails for https urls when compiled with 0.4.0 response always "internal server error""
HTTP/1.1 500 500 Internal Server Error

0.4.0-01579a1 [release] (llvm 3.8.1)

Tried on different https urls.

Tried on 64 Bit Linux (Manjaro)

[2016-10-03 15:08] #1277 closed

[2016-10-03 16:07] Theodus commented on #1280
I don't really have a preference over this being a feature of the language. I agree that it should be consistent between classes and object literals.

[2016-10-05 19:42] #1276 closed

[2016-10-05 20:06] sylvanc commented on #1280
I think this is a very interesting and somewhat deep issue. Perhaps the right solution is to allow implicit closing over variables in both lambdas and object literals, and find a nice clean way to do both?

[2016-10-05 20:10] sylvanc commented on #1273
Looks like forcing IPv4 was a problem on Appveyor. That could be something specific to their environment, or it could be a Windows issue when IPv6 is available. I had originally forced IPv4 to fix a problem with Windows in a different context (running a Windows VM that thought it had IPv6 but didn't), so I'm fine with this change.

[2016-10-05 20:11] #1273 closed

[2016-10-05 20:21] sylvanc commented on #1261
@JONBRWN : I think you're right that `FilePermissionDenied` is perhaps the wrong error for missing write capability, and something like `FileCapError` might be better.

For the test as a whole, trying to detect root is complex because of the way Windows ACLs work and security contexts work.

I'm really not sure how to provoke `FilePermissionDenied` when run as root! I think this is a small enough

[2016-10-05 20:27] jemc commented on #1256
According to @sylvanc it is a documentation bug - the docs should say that this function is only safe when an actor pushes a continuation to itself.

This feature is used by the [Encore Language](https://www.gitbook.com/book/stw/the-encore-programming-language/details) which runs on the pony runtime.  Encore uses this to implement blocking futures, which is something that we currently think we wan

[2016-10-05 20:27] sylvanc commented on #1256
This is a documentation bug :) It should be that only an actor can post a continuation to itself.

[2016-10-05 20:30] sylvanc commented on #1248
I like `NotReallyAStructButCouldBe` :)

More seriously: a better name is a good idea. The main concern is not to give it a name that makes it seem like it's the right choice for an option type (which, in Pony, is `(A | None)`, not some form of `Maybe[None]`).

[2016-10-05 20:30] jemc commented on #1248
This needs someone to come up with a new name for this feature and champion it in an RFC.

[2016-10-05 20:44] Theodus commented on #1133
I'll assign myself to this if no one else is working on it.

[2016-10-05 20:58] Theodus opened #1285 "RFC: String Formatting"
[https://github.com/ponylang/rfcs/blob/master/text/0014-format.md](https://github.com/ponylang/rfcs/blob/master/text/0014-format.md)

[2016-10-05 21:12] dipinhora commented on #1273
NOTE: The following is conjecture based solely on the documentation and not actual testing or validated knowledge.

This seems to be because of a difference in how `AF_UNSPEC` is interpreted/used by `WSASocket`/`socket` on Windows and `socket` on Linux/Mac OS/Freebsd/etc.

The documentation on MSDN for `socket` (https://msdn.microsoft.com/en-us/library/windows/desktop/ms740506(v=vs.85).aspx) and `

[2016-10-05 22:55] SeanTAllen commented on #1285
@theodus can you update the linked RFC to include its original RFC PR?

[2016-10-05 23:02] Theodus commented on #1285
@SeanTAllen done

[2016-10-06 03:57] sirinath opened #1287 "Capability Based Access Modifiers"
Current access modifier scheme is simple but crude. Since pony has capabilities, I feel that object access should be capability based and more fine grain.

You should be able to define access based on:

 - Class, interface or actor:
 - Package
 - Sub typing

E.g. perhaps using something like
 - pvt[this] - visible to only particular object instance
 - pvt[this.type :> ] - visible to only particula

[2016-10-06 06:45] sirinath commented on #424
It will be great if you can consider the following features to be included in the road map. 1st the features can be discussed to see if they fit in the language. Once the feature does add value then they can be added. Some features perhaps can be added as libraries. Also I included some languages which either implement it or considering doing it:
 -  Soundiness - http://soundiness.org/, https://ca

[2016-10-06 16:59] jemc commented on #1287
@sirinath - we're now asking that these language and/or API change proposals go through [the RFC process](https://github.com/ponylang/rfcs).  If you'd like to propose a language change like this, please write up a detailed RFC that explains the motivation for such a change, as well as the design, implementation, teaching, and testing concerns related to the change.

I'm going to close this ticket,

[2016-10-06 16:59] #1287 closed

[2016-10-07 01:20] Praetonus commented on #1184
I started looking at how it could be implemented but I haven't started the actual implementation.

[2016-10-07 02:22] Praetonus commented on #1219
What does that mean regarding ponyc? Should we only restore support of GCC 4.7/4.8?

I've investigated the GCC side and I can see an implementation that should work on mainstream hardware platforms. I still have some checks to do and I'll do a PR.

[2016-10-07 04:15] #1256 closed

[2016-10-07 04:23] #1133 closed

[2016-10-07 16:30] #1285 closed

[2016-10-08 19:06] SeanTAllen opened #1290 "Some process monitor tests always pass"
In the process monitor tests, we verify that everything works in the `dispose` method of `_ProcessClient`. Switching the final line:

` _h.complete(true)` to ` _h.complete(false)` should cause all the tests to fail, however, it doesn't; `process/FileExec` and `process/Expect` continue to pass. I discovered this while adding tests for #1180. I noticed that a FileExec test existed but that it look l

[2016-10-08 19:08] SeanTAllen opened #1291 "Process monitor contains dead code"
Not all the members of

[code]

are used in the package. A number of these can and should be removed.

The enclosed docstrings should be updated to match as well.

`ExecveError` isn't used on master but I am updating `ProcessMonitor` to use it as part of fixing #1180

[2016-10-08 19:40] SeanTAllen commented on #1290
The `process/FileExec` test can be made to fail by changing:

[code]

[2016-10-08 19:42] SeanTAllen commented on #1290
`process/Expect` is actually working. It just uses a different process notifier.

[2016-10-08 19:53] SeanTAllen commented on #1290
`process/FileExec` is passing thanks to this in `failed` of the notifier:

`    | CapError      => _h.complete(true) // used in _TestFileExec`

very sneaky. and not at all clear I think.

[2016-10-08 20:58] #1290 closed

[2016-10-08 21:08] SeanTAllen commented on #1219
I think 4.7/4.8 should get us mavericks support as a side effect @Praetonus

[2016-10-08 22:27] SeanTAllen commented on #1291
@kelcecil is working on this.

[2016-10-08 22:29] SeanTAllen commented on #1291
@kelcecil I sent you an invite to the ponylang org so you can be assigned as the person working on this (and in the future if you pick up any other issues).

[2016-10-08 23:18] kelcecil commented on #1263
What's the process to generate the documentation?

[2016-10-08 23:42] SeanTAllen commented on #1263
I assume you mean locally? Or do you mean what is hosted on the web?

[2016-10-08 23:44] SeanTAllen commented on #1263
If you check the .travis.yaml you will see the command to ponyc to generate documentation. You need mkdocs installed. I think they are in the tutorial. I'm on a plane and unable to lookup for you but can in a couple hours when I get home.

[2016-10-08 23:45] kelcecil commented on #1263
It's all good. All I needed was a breadcrumb to follow. I'll take a shot at
this in my down time.
On Sat, Oct 8, 2016 at 7:44 PM Sean T Allen <notifications@github.com>
wrote:

[2016-10-08 23:52] #1291 closed

[2016-10-09 00:09] afritfr commented on #1011
@pdtwonotes  according to the website : https://www.raspberrypi.org/magpi/raspberry-pi-3-specs-benchmarks/
 it is a ARM Cortex-A53
according to ARM's website : http://www.arm.com/products/processors/cortex-a/cortex-a53-processor.php

[2016-10-09 01:03] kelcecil commented on #1263
<img width="728" alt="screen shot 2016-10-08 at 8 54 46 pm" src="https://cloud.githubusercontent.com/assets/373621/19216817/97d65e7e-8d99-11e6-9d57-fb961187283c.png">

Would something like this work? I think this could be done in the doc_type_list function by inserting a new line and spacing every three or so list items when the separator is a bar.

[2016-10-09 01:43] SeanTAllen commented on #1263
@kelcecil ya. that is basically what I was thinking. much better than the previous.

[2016-10-09 03:55] #1263 closed

[2016-10-09 04:00] SeanTAllen commented on #1261
While I think this is important test to for, I think its more important that tests don't fail based on environment. I'd love if someone came up with a way to test this, however, I think the right approach is to delete this test.

[2016-10-09 04:01] SeanTAllen commented on #1248
So, are we saying that this should be closed and someone should open a RFC to change this?
Is there any documentation that should be updated in the meantime that we can open an issue for?

/cc @jemc @sylvanc

[2016-10-09 04:04] SeanTAllen commented on #1203
Ideally, I think this should be delayed until #1014 is completed. Then, we can make sure that they are feature equivalent. However, #1014 has been open for a long time so I don't think that is actually reasonable. Rather, whoever implements ProcessMonitor support for Windows needs to be aware of the issue that is still outstanding in the *nixen version.

[2016-10-09 16:49] SeanTAllen commented on #1282
I am unable to replicate this fully. I can replicate partially. The problem is with `https` urls. `http` works fine for me.

My guess is its related to `cacert.pem`

[2016-10-09 17:05] SeanTAllen commented on #1282
The update as it exists in #1278 results in a hung connection. So that isn't a fix and is probably problematic for that PR.

[2016-10-09 17:20] jemc commented on #1261
@SeanTAllen - that's basically the same conclusion we came to on the last sync call, so I don't think it needs to be discussed again on the next one.

[2016-10-09 17:33] SeanTAllen commented on #1282
None of the code that was changed in cfe579f is executed as part of this example code which is odd and confusing. I'm unsure what the issue might be. The notifier code that was changed in that commit (`sent` and `sentv`) don't get called plus `write` and `writev` in `TCPConnection` aren't called either. The change in`SSLConnection` to `sent` also isn't called due to #1268.

[2016-10-09 17:37] SeanTAllen commented on #1282
The error being triggered is an SSL auth fail.

[2016-10-09 17:42] SeanTAllen commented on #1282
There is a bug that I found, but its in code that isn't executed yet. In `SSLConnection`, the code in `sent` should be:

[code]

If `_ssl.write` throws an error, we should exit immediately (which wasn't called before either, but was previous behavior)

[2016-10-09 17:55] SeanTAllen commented on #1282
I tried this using release and debug compilers, with and without LTO and get the same error without ever executing the code in question. Rather worried about this.

[2016-10-09 18:10] SeanTAllen commented on #1282
I undid all the changes that were introduced in cfe579f252be8b9f6b48c5731e88b5c25213fb89 against master and still have the issue.

[2016-10-09 18:21] SeanTAllen commented on #1282
So I was chasing my tail a little. It appears `https://google.com` fails going way back. `https://github.com` starts failing at cfe579f

[2016-10-09 18:35] SeanTAllen commented on #1282
Found the issue. `Payload` is calling `writev` and this was relying on the old `error` causes `sent` to be called which no longer happens.

[2016-10-09 19:57] SeanTAllen commented on #1268
So the initial description of this was wrong. It won't work.

To correctly call the wrapped notifier on sent you need:

[code]

Which also raises the issue of, is `received` implemented correctly? Should the wrapped `received` call be delayed until `poll` as currently do? I believe the answer is yes in order to work correctly with `expect`. However I think this raises real issues for me about `sen

[2016-10-09 20:14] #1180 closed

[2016-10-09 20:20] Theodus opened #1297 "release 0.5.0"
This release includes the high priority PR #1279 which resolves issue #1180
The move to `0.5.0` is because of breaking API changes from #1286

[2016-10-09 20:24] Theodus commented on #1297
I think that #1295 should be included as well since it is also high priority

[2016-10-09 20:30] SeanTAllen commented on #1297
@Theodus i think we should include #1296 as well.

[2016-10-09 20:31] Theodus commented on #1297
@SeanTAllen Sounds good to me.

[2016-10-09 20:32] SeanTAllen commented on #1282
I'm opening a new issue for https://www.google.com so that this can be closed with the main fix.

[2016-10-09 20:33] SeanTAllen opened #1298 "examples/httpget fails for https://www.google.com"
Other https links that I tested work, (once #1295 is merged), however, `https://www.google.com` seems to have never worked.

[2016-10-09 20:34] SeanTAllen commented on #1297
@Theodus someone will have to merge it once it passes CI. someone like you perhaps. ;)

[2016-10-09 20:57] #1261 closed

[2016-10-09 21:26] #1282 closed

[2016-10-09 22:11] Theodus commented on #1297
Blessing `8b727b9` as the golden commit

[2016-10-09 22:13] SeanTAllen commented on #1297
And it was good!

[2016-10-09 22:23] Theodus commented on #1297
tagged 0.5.0 and pushed to release

[2016-10-09 23:47] Theodus commented on #1297
Homebrew PR: Homebrew/homebrew-core#5749

[2016-10-09 23:55] Theodus commented on #1297
@stefantalpalaru release underway

[2016-10-10 00:05] stefantalpalaru commented on #1297
Gentoo ebuild updated.

[2016-10-10 00:07] Theodus commented on #1297
@stefantalpalaru Thanks!

[2016-10-10 00:10] kelcecil commented on #1298
Care to elaborate? I get intermittent 500s from their webserver, but this seems to work fine for me otherwise. Built with HEAD commit 8b727b9 and ran on Mac OS Sierra. Included is a screenshot of output (piping to head only to not show the minified JS).

<img width="1102" alt="screen shot 2016-10-09 at 8 07 06 pm" src="https://cloud.githubusercontent.com/assets/373621/19224835/073b7f3e-8e5c-11e6-8

[2016-10-10 00:28] Theodus commented on #1297
Just waiting on homebrew now

[2016-10-10 00:34] SeanTAllen commented on #1298
I only get 500s. Always.

llvm 3.8.0
el capitan

[2016-10-10 01:02] SeanTAllen commented on #1297
@Theodus that can take as little as an hour, up to 24 in my experience

[2016-10-10 17:56] Praetonus commented on #1275
In LLVM IR, the type of the `_fns` field is `Array_$1$0_val` but the compiler treats it as an `Array_$1$1_val` for construction (the `$x$y` are hygienic names for lambda types). The bug is still there with `let` but the pointer goes through `gen_assign_cast`, which converts the pointer and avoids the assertion. We still have a big problem since the wrong type descriptor is used. I'm going to bump

[2016-10-10 18:15] Praetonus commented on #1275
The main problem is in `sugar.c:sugar_lambdatype`. We're creating a new interface type for each lambda type we encounter, but we should create new interfaces only for the first occurrence of each lambda type. I think a possible solution could be storing and comparing the `lambdatype` ASTs to find previously encountered types. Maybe there are corner cases with subtyping, I'm not sure.

@sylvanc Doe

[2016-10-10 18:30] SeanTAllen commented on #1297
@Theodus obviously closer to 24 than 1 this time.

[2016-10-10 18:31] jemc commented on #1275
@Praetonus sounds right to me.

[2016-10-10 18:53] jemc commented on #1275
@Praetonus - actually I worry that the approach you suggested may be difficult.

Note we have `is_eqtype` defined in `type/subtype.h`, so that would be a good option, if it were available.

The problem is that type resolution doesn't happen until the `expr` pass, well after the `sugar` pass, so you won't have types to compare.  I fear you'll have to resort to comparing the nominal types only.

The

[2016-10-10 21:13] Praetonus opened #1299 "Clarify platform support"
Currently, most of the platform requirements for Pony aren't stated explicitly in the readme or some other document. Several assumptions can be made from the readme and the compiler file but it is unclear and it requires an official statement. This issue is related to ponylang/ponylang.github.io#25.

For reference, here is the current expected level of support for different environments, figured o

[2016-10-10 21:19] SeanTAllen commented on #1299
I see you referenced that open ticket.

I think this needs to be broken down into "fully supported", "partial support" and "it should work"

See for example ARM as "it should work" or FreeBSD as "it should work".

Any thoughts on how this gets combined with https://github.com/ponylang/ponylang.github.io/issues/25

?

[2016-10-10 21:35] Praetonus commented on #1299
My idea here was more like "supported => should compile". Maybe the two issues are fine on their own, with this one dealing with compilation and ponylang/ponylang.github.io#25 dealing with running programs?

For context, this is related to my work on #1219, where I'd like to add more platform checks at compile time to make sure we're not doing anything crazy on any platform. If there is a platform

[2016-10-11 01:00] SeanTAllen commented on #1297
@Theodus homebrew seems to be taking ages again. everything else is done, yes? if yes, i'd say announce the release and when homebrew is finally done, announce it as well. I've done that before. Because sometimes homebrew takes forever and eventually we just need to say ¯\_(ツ)_/¯ and do the notification of release before its available via homebrew.

I'd include a link to the homebrew PR in the rel

[2016-10-11 01:23] Theodus commented on #1297
I sent the release notice to pony+user and IRC.

[2016-10-11 02:28] SeanTAllen commented on #1297
@Theodus homebrew was merged just now

[2016-10-11 02:30] Theodus commented on #1297
The pony+user group has been notified. 0.5.0 released!

[2016-10-11 02:30] #1297 closed

[2016-10-11 06:26] Praetonus commented on #1156
Whoops, looks like I've forgotten to respond here. Yes, it would be good to discuss it during the sync meeting.

[2016-10-12 16:33] Theodus opened #1305 "Method overloading with refcaps"
Should it be possible to have two methods of a class that act differently based on the capability of the reference? Here is a simple example:
[code]

[2016-10-12 16:56] jemc commented on #1305
It's an interesting question.

In the scope of "what should be possible right now", I think this doesn't fall in that scope, so it would be a topic for an RFC if we wanted to make such a change.

Regarding the proposal itself, I'm concerned that this could create problematic ambiguity in cases where the receiver capability could be interpreted in either case.  For example if `foo` is a `Foo iso`,

[2016-10-12 16:58] jemc commented on #1305
I think there is some related discussion in https://github.com/ponylang/ponyc/issues/683, but I think it's not a duplicate of this one.

[2016-10-12 17:38] SeanTAllen commented on #1305
I think this should be opened as an RFC for discussion. Note, that I think that this also opens up questions about different methods for different return reference capabilities and method parameters.

[2016-10-12 17:52] jemc opened #1306 "Case methods and match statements allow duplicate cases."
Case methods allow duplicate (ambiguous) cases:

[code]
[code]

Match statements (which case methods compile to) allow the same kind of duplication / ambiguity:

[code]
[code]

[2016-10-12 17:55] jemc commented on #1306
I think it could be argued that this is a compiler bug, as it allows for ambiguity that has the potential to bring subtle bugs to the program.

However, it might be that fixing this for case methods and match statements will be difficult - we want to allow some degree of duplication.  For example, a branch if `x` is `U64(0)`, and another branch if `x` is *any other* `U64` would need to express the

[2016-10-12 18:13] malthe commented on #1145
Facebook's Flow code checker is smart about just checking the diff from a previous check which makes it efficient and provides very quick feedback.

[2016-10-12 19:05] SeanTAllen opened #1307 "Segfault in ponyint_actor_run"
Unfortunately this isn't an easy one.

Still doing more testing on this. What we know...

* It doesn't happen on the Linux with llvm 3.8
* This happens on OSX w llvm 3.8
* It doesn't happen if you build with a debug compiler.
*  It does happen if you build with the release compiler.
*  It does happen if you build with the release compiler but pass `-d` to ponyc.
* It happens whether you build with

[2016-10-12 19:50] malthe opened #1308 "Allow setting SSL certificate from memory"
This is useful in both real applications but also for testing where it's awkward to have to load a test certificate from a file on disk.

We might find some inspiration in the Python issue tracker on the implementation: https://bugs.python.org/issue16487.

[2016-10-12 19:53] #1219 closed

[2016-10-12 20:00] sylvanc commented on #1306
Here's the solution:

http://research.microsoft.com/en-us/um/people/simonpj/papers/pattern-matching/gadtpm.pdf

[2016-10-12 20:00] jemc commented on #1306
This turns out to be related to #60.

[2016-10-12 20:01] #1306 closed

[2016-10-12 20:01] jemc commented on #1306
Closed in favor of #60.

[2016-10-12 20:02] jemc commented on #60
When this is fixed, we must be sure that we also fixed https://github.com/ponylang/ponyc/issues/1306.

[2016-10-12 20:03] jemc commented on #60
I'm bumping this to "priority: medium", since #1306 shows that not fixing this leaves possibility for subtle bugs with case methods where the same method is implemented twice and the former shadows the latter.

[2016-10-12 20:06] Theodus commented on #1298
I get 200 on Linux Mint 18 Sarah and llvm 3.8.0

[2016-10-12 20:06] sylvanc commented on #1298
OSX 10.11.6

I get a 302 on https://www.google.com and a 200 on https://www.google.co.uk

i.e. it works fine.

[2016-10-12 20:29] SeanTAllen commented on #1275
note to myself. @jemc is adding notes from sync on this. the question to @sylvanc was addressed.

[2016-10-12 20:35] jemc commented on #1275
As discussed on the sync call, @sylvanc already has [a hack to elide `type_id`s for interface types that are equivalent](https://github.com/ponylang/ponyc/blob/dd9b77a74ca61672f8704d037ca687bde4796481/src/libponyc/reach/reach.c#L381-L387).  The problem is that this doesn't go far enough.  @sylvanc suggests that we expand this elision to completely combine (or forward) the types to a single type th

[2016-10-12 21:19] SeanTAllen opened #1309 "RFC: C-string vs bytes"
With the introduction of zero-copy trimming methods, some Pony strings are not null-terminated while some are. This is a proposal to ensure that cstring() always returns a pointer to null-terminated data, while at the same time having a new method cpointer() return a pointer to the already allocated data (zero-copy) with no guarantee of null-termination.

See the RFC: https://github.com/ponylang/r

[2016-10-12 21:22] SeanTAllen opened #1310 "RFC: TCP must be connected"
Verify TCP Connections are open before allowing data to be written.

https://github.com/ponylang/rfcs/blob/master/text/0016-tcp-must-be-connected.md

[2016-10-12 21:24] SeanTAllen opened #1311 "RFC: TCP Backpressure hooks"
Add support for TCP backpressure to Pony's TCPConnection actor.

https://github.com/ponylang/rfcs/blob/master/text/0017-tcp-backpressure.md

[2016-10-12 22:17] SeanTAllen opened #1313 "Release 0.5.1"
#1312 is a high priority bug fix so it kicks off the release process. I'll take this one.

[2016-10-12 22:29] drannise commented on #1310
Hi Sean,

This looks simple enough even for me. I'll try this to get familiar with the contribution process  if you don't mind.

[2016-10-12 22:46] SeanTAllen commented on #1310
Awesome @drannise.

This change would require an addition to the CHANGELOG plus, make sure you don't overlook the "How to teach this" requirements. They are small but important.

I invited you to the org so you can be assigned to the issue. Just drop me a note here when you accept.

Have a look at https://github.com/ponylang/ponyc/blob/master/CONTRIBUTING.md if you haven't already. Particularly "h

[2016-10-12 22:57] jemc commented on #1310
I noticed @drannise has accepted the invite and took the liberty of assigning the ticket (after accidentally assigning myself :stuck_out_tongue_closed_eyes:).

[2016-10-12 23:27] SeanTAllen commented on #1313
travis seems pretty backed up tonight. this might not happen.

[2016-10-13 00:04] SeanTAllen commented on #1313
Even if #1312 clears CI tonight and gets merged I'm going to delay releasing as travis is definitely having issues...

https://www.traviscistatus.com/incidents/80y71tv5zkc5

[2016-10-13 13:02] #1299 closed

[2016-10-13 14:20] kelcecil commented on #1309
I'll take this one, but it'll probably be slow progress until November. If anyone else wants it and has a better schedule, then I'd gladly step slide.

[2016-10-13 14:43] malthe commented on #1309
I can take a look as well – I originally proposed it.

[2016-10-13 16:58] SeanTAllen commented on #1311
I want to get this integrated into our code at work and no one has grabbed it, so, assigning myself.

[2016-10-13 17:05] SeanTAllen commented on #1313
Travis is still having issues today. This might not happen today either.

[2016-10-13 17:31] Praetonus commented on #993
Doing a special case for compile-time constants won't be possible because the optimiser can propagate and synthetise constants.

Also, it turns out there are some inconsistencies with unsafe maths.

- Integer arithmetic doesn't use `nuw`/`nsw` flags and division by 0 is checked. Safe.
- Bitwise shifting doesn't check for overflow, which is undefined behaviour in LLVM. Unsafe.
- `clz`/`ctz` use saf

[2016-10-13 17:55] jemc commented on #993
Yes, I agree - recategorizing as a bug and marking with `needs discussion during sync`, though if we manage to iron out the details before the sync, we can remove the latter label.

---

I'm also inclined to agree with your suggestion of fixing all of the default methods for correctness, and adding "fast"/"unsafe" variants as needed for performance-critical arithmetic.  I think this will be a good

[2016-10-13 18:01] SeanTAllen commented on #993
@jemc i generally agree with you on the `unsafe_`.

[2016-10-13 19:56] Praetonus opened #1319 "The ABA-protected CAS loops"
It turns out the change in 83bc2aa, which reduces the number of bits used for ABA protection is bugged as there are now too few bits. This is causing runtime crashes as reported by @malthe on IRC.

This is a tough problem. Going back to the double-word CAS wouldn't be good as it would impact performance, and there are portability issues. A possible solution could be to use a starvation-free algori

[2016-10-13 21:24] Praetonus commented on #993
Here's what I'm thinking, based on LLVM semantics.

## Safe variants

- Integer arithmetic is modular with two's complement. Division by 0 yields 0. No change
- Bitwise shifting
  - Left shift and logical right shift would yield 0 when shifting by more bits than the number's bit width
  - Same reasoning for the arithmetic right shift but filled with the sign bit
- Count leading/trailing zero yield

[2016-10-13 22:06] Praetonus commented on #993
Also, I think we should incorporate the fast/unsafe variants into the language trust boundary and only allow them in safe packages.

[2016-10-13 22:26] jemc commented on #993
I'm not sure how I feel about that - can you explain your reasoning more?  Are they unsafe in any sense other than possibly giving back a wrong answer to a calculation?  Is it because the undefined values could be used on some platforms in an attack to return uninitialized memory that could contain sensitive data?

Also, another question to ask is - if I have a package that I want to allow to do "

[2016-10-13 22:27] jemc commented on #993
Also, thank you for providing the thorough and explicit writeup on the safe vs unsafe semantics in your previous comment!

[2016-10-13 22:43] Praetonus commented on #993
My main concern is hardware trap values and exceptions. For example, the unsafe division by 0 would raise an hardware exception on both x86 and ARM, which is very likely to halt the program.

That's a good point. Maybe that would be better.

[2016-10-13 22:44] SeanTAllen commented on #1319
I think not crashing and less portable is better than crashing. It sounds like our previous state was better than our current. If that is true, I think it makes sense to revert while working on a better solution.

[2016-10-13 22:44] jemc commented on #993
Fair enough - I think I'm on board with calling these operations "unsafe" now :fire:

[2016-10-13 23:13] Praetonus commented on #1319
The bug also occurs with `--ponythreads=1` so it's not the ABA. Strange things are occurring here.

[2016-10-13 23:33] #1268 closed

[2016-10-13 23:59] Praetonus commented on #1319
This looks like memory corruption. In crashing runs, pool-allocated addresses look like `0x7f5a16136dd8`, even when they have nothing to do with the mpmc queue. In the pool allocator, `pool_pull` and `pool_push` are not called on the crashing runs so I'm a bit lost.

[2016-10-14 00:10] SeanTAllen commented on #1319
Is it definitely associated with 83bc2aa?

[2016-10-14 00:15] Praetonus commented on #1319
`git bisect` points at it and replacing the algorithm in `ponyint_mpmcq_pop` by the one I suggested seems to solve the problem. Maybe 83bc2aa uncovered a more general problem, or maybe I did my bisect badly. I'll retry, to be sure.

[2016-10-14 00:18] SeanTAllen commented on #1319
If it is that commit, would you agree it is best to remove it, release (we have one queued up to go) and figure out how deep the problem goes while knowing we have at least made things a little better?

[2016-10-14 00:33] Praetonus commented on #1319
It's not that commit, I bisected badly. It seems to be an old problem, commits from several months ago are also affected by the issue.

Should I close this issue and open a new one describing the problem correctly?

[2016-10-14 00:44] SeanTAllen commented on #1319
seems reasonable @Praetonus

[2016-10-14 00:50] SeanTAllen commented on #1319
out of curiousity, does this span llvm versions @Praetonus?

[2016-10-14 01:46] SeanTAllen commented on #647
I tried this after upgrading from LLVM 3.8 to LLVM 3.8.1 and get the same results.

[2016-10-14 01:46] SeanTAllen commented on #517
I tried this after upgrading from LLVM 3.8 to LLVM 3.8.1 and get the same results.

[2016-10-14 01:58] SeanTAllen commented on #1311
@jemc after giving it more consideration (as it was left open as part of the RFC), I think based on how we are using at Sendence that from a performance standpoint, having two notifier methods related to outgoing connections experiencing backpressure is the correct way to go. all our code does an if inside the

[code]

methods that we have.

I'm thinking `throttled` and `released`.

thoughts?

[2016-10-14 02:14] Praetonus commented on #1319
Okay, so I found the problem and I feel really dumb. First, this was indeed introduced by 83bc2aa, I don't know why I thought I saw the bug at an earlier commit. Second, this is because line 67 at `mpmcq.c` should be `((1 << (POOL_MIN_BITS + POOL_INDEX(sizeof(mpmcq_node_t)) - 1)) - 1)` instead of `((1 << (POOL_MIN_BITS + POOL_INDEX(sizeof(mpmcq_node_t*)))) - 1)`. I'll make a fix ASAP.

[2016-10-14 02:21] SeanTAllen commented on #1311
@jemc testing question as this RFC was before we implemented "how do we test this".

I'm thinking that for read backpressure hook testing, the test can be to set `mute` on a connection and then verify that within some period of time (a ponytest timeout) that `received` is not called on a receiver's notifier (and we should send data to said connection). a timeout is considering passing and `receive

[2016-10-14 02:46] #1319 closed

[2016-10-14 02:50] jemc commented on #517
@SeanTAllen any chance the segfault was cleared up by #1321?

[2016-10-14 02:55] jemc commented on #647
@SeanTAllen any chance the segfault was cleared up by #1321?

[2016-10-14 02:57] Praetonus commented on #647
That's very unlikely, this issue is older than the bug fixed by #1321.

[2016-10-14 03:03] jemc commented on #1311
Regarding splitting `throttled` into two methods - seems appropriate to me for the reasons you explained.  However, I'm not necessarily wild about `released` - seems too vague, and almost sounds related to `dispose` at first glean.  How would you feel about `unthrottled`?

---

Back before we had the RFC process I was working on implementing this feature, and having clean tests was the part that w

[2016-10-14 03:05] jemc commented on #647
@Praetonus - yes, but the segfault result was only mentioned by @SeanTAllen 15 days ago - before that, people were seeing different symptoms.  So it's likely that the original problem remains, but hopefully the relatively new segfault is cleared up.

[2016-10-14 03:05] SeanTAllen commented on #1319
Nice find @Praetonus!

Once travis working again, this will go out in the 0.5.1 release.

[2016-10-14 03:16] SeanTAllen commented on #1311
I like released when you know the context is "backpressure" but that isn't at all clear and I was really hesitant to use "release". I'm good with "unthrottled" although I wish we had something better.

I'm updating to "unthrottled"

[2016-10-14 03:21] SeanTAllen commented on #647
nope, still goes boom.

[2016-10-14 03:23] SeanTAllen commented on #517
nope. still segfaults.

[2016-10-14 03:25] SeanTAllen commented on #517
when i compile this with a debug build of the compiler, i get a more interesting and familiar looking result:

[code]

[2016-10-14 03:27] SeanTAllen commented on #647
When I run this after building with the debug compiler, I get this error that looks awfully familiar:

[code]

see #517 for example

[2016-10-14 04:08] Praetonus commented on #517
@SeanTAllen Could you get a stack trace for that?

[2016-10-14 08:46] malthe commented on #1216
How can the default implementation return `this` and (in theory) satisfy the return type?

[2016-10-14 08:54] iktyrrell commented on #1298
llvm 3.9.1
Ubuntu 16.04.1

302 for google.com / 200 for .co.uk (I'm in the UK)

works.for.me

[2016-10-14 08:58] iktyrrell commented on #725
Given #1087 was merged, can this issue be closed now?

[2016-10-14 11:57] SeanTAllen commented on #1313
Given the latest Travis update, it appears unlikely this release will happen today. Perhaps tomorrow.

[2016-10-14 11:58] SeanTAllen commented on #1308
Once this is in place, we should be able to much more easily write tests for SSL which currently we have none for.

[2016-10-14 12:05] SeanTAllen commented on #517
interesting...

[code]

[2016-10-14 12:07] SeanTAllen commented on #725
Given the importance of string, I think we could add still more to bring ourselves up to having basics.
I'm quite open to convincing.

[2016-10-14 12:09] SeanTAllen commented on #647
@Praetonus given the similarity to #517, I thought you'd be interested in this as well...

[code]

[2016-10-14 12:12] SeanTAllen commented on #1298
This is starting to look like a "only doesn't work on Sean's machine" scenario. :( for my machine.

[2016-10-14 12:13] Perelandric commented on #1216
@malthe It doesn't. That example just illustrates more succinctly the problem in the compiler. The return value could be anything.

[2016-10-14 12:14] iktyrrell commented on #725
I'm touching on this in the string api RFC, but I actually think it would be worthwhile having a chapter in the tutorial on the builtin types that includes common use-cases. Out of scope for this ticket perhaps, as this relates to the class-level documentation.

[2016-10-14 12:18] SeanTAllen commented on #725
I'm not sure the tutorial is the right place for that. A "guide to the standard library" does sound like a good idea. I would imagine it to be a more guided version of what you get from the standard library docs. Perhaps it is the standard library docs but with meta information guiding you through it.

[2016-10-14 12:41] iktyrrell commented on #725
To be clear, I am only talking about types in the builtin package, or at least those with literal syntax. A guide to the standard library sounds nice, though perhaps a cookbook would be an alternative way to illustrate "how to use". Not sure there is an obvious linear narrative for the library, but maybe just a collection of fundamentals - i/o, file access, networking etc.

[2016-10-14 13:08] SeanTAllen commented on #725
From a user standpoint, there's no difference between the classes in the builtin package vs those outside of it. Builtin exists because they require compiler support. There's no other reason for their organization into that package, so I wouldn't use that as a delimiting line for any documentation.

[2016-10-14 14:14] SeanTAllen commented on #1307
We upgraded to llvm 3.8.1 from 3.8 and this still happens but appears to be slightly less frequent.

[2016-10-14 14:59] jmiven commented on #1298
It works fine for me too.

Archlinux amd64 (recently updated)
ponyc 0.5.0, llvm 3.8.1

[2016-10-14 15:46] jemc commented on #517
@Praetonus - is it possible that our atomics aren't actually atomic on @SeanTAllen's platform?

[2016-10-14 16:27] SeanTAllen commented on #517
OSX El Capitan 10.11.6
2.6 ghz Intel core i7

Its a fairly standard Macbook Pro so the not actually being atomic would be concerning.

[2016-10-14 16:51] Praetonus commented on #517
No, that's not possible. Even if the code generation for the C atomics was bugged, which is unlikely, memory operations on x86 are atomic with acquire/release semantics by default.

[2016-10-14 21:49] SeanTAllen commented on #647
this runs fine with 1 or 2 ponythreads.

at 4, you see the error above.

at 3, i get a different error

[code]

and when created with the release compiler and run with 3 ponythreads:

[code]

[2016-10-15 00:36] sparseinference commented on #517
It's been a little while since I seriously used C++ but in  the file "messageq.c" at line #70, shouldn't
`atomic_load_explicit(&tail->next, memory_order_acquire)`
use an atomic pointer?

In the definition of `messageq_t` :

`typedef struct messageq_t`
`{`
`  PONY_ATOMIC(pony_msg_t*) head;`
`  pony_msg_t* tail;`
`} messageq_t;`

the **tail** member is not declared **PONY_ATOMIC**.

[2016-10-15 01:09] SeanTAllen commented on #517
That's true. but, tail->next is:

[code]

[2016-10-15 01:12] SeanTAllen commented on #517
Can anyone else test this and see if they get the same segfault issue?

[2016-10-15 01:16] SeanTAllen commented on #517
This is what has me particularly concerned:

`Assertion failed: (index < POOL_COUNT), function ponyint_pool_free, file src/libponyrt/mem/pool.c, line 602.`

[2016-10-15 01:18] SeanTAllen commented on #517
Adding

`  if (index < POOL_COUNT) return;`

in `ponyint_pool_free`

returns us to the old behavior.

no segfault. funtime memory growth.

[2016-10-15 01:22] SeanTAllen commented on #647
Adding

`  if (index < POOL_COUNT) return;`

in `ponyint_pool_free`

returns us to the old behavior.

no segfault. funtime memory growth.

same as #517

[2016-10-15 01:26] SeanTAllen commented on #647
What I dont understand is that when I add `if (index < POOL_COUNT) return;`

the assertion immediately before it is never reported:

`assert(index < POOL_COUNT);`

[2016-10-15 01:31] jemc commented on #647
@SeanTAllen IIRC asserts are not active in non-debug versions of the compiler/runtime.

[2016-10-15 01:34] SeanTAllen commented on #647
I am using a debug version. But my if is wrong.

[2016-10-15 01:39] SeanTAllen commented on #647
if i compile using the debug compiler and compile with

`ponyc -d` i don't trigger that assert.
`ponyc` i do trigger the assert.

either way, segfault.

[2016-10-15 01:40] SeanTAllen commented on #647
So, I'm guessing that the `Assertion failed: (index < POOL_COUNT), function ponyint_pool_free, file src/libponyrt/mem/pool.c, line 602.` is the result of a bad optimization.

[2016-10-15 01:44] Theodus commented on #647
I have the same problem using a debug compiler on LInux Mint 18 and LLVM 3.8.0

[2016-10-15 01:45] SeanTAllen commented on #517
odd, i can no longer trigger the (index < POOL_COUNT) with the latest code but I still get the segfault. here's my latest:

[code]

[2016-10-15 02:00] SeanTAllen commented on #517
as of 616b075 this has the old non-segfaulting behavior.

[2016-10-15 02:00] SeanTAllen commented on #647
as of 616b075 this has the old non-segfaulting behavior.

[2016-10-15 02:05] SeanTAllen commented on #517
as of 33caa7f we have both memory growth and segfaulting.

[2016-10-15 02:05] SeanTAllen commented on #647
as of 33caa7f we have both memory growth and segfaulting.

[2016-10-15 02:17] SeanTAllen commented on #647
@Praetonus the segfaulting was introduced with 83bc2aa71ad7598275cfdffe858dbd6eabb68738

[2016-10-15 02:18] SeanTAllen commented on #517
@Praetonus the segfaulting was introduced with 83bc2aa71ad7598275cfdffe858dbd6eabb68738

[2016-10-15 02:34] SeanTAllen commented on #517
@sparseinference btw, i tried that change and didnt see an improvement. i figured ¯\_(ツ)_/¯ can't hurt to try.

[2016-10-15 02:42] SeanTAllen commented on #517
oth @sparseinference, @Praetonus is this code from messageq.c problematic with the changes in 83bc2aa71ad7598275cfdffe858dbd6eabb68738?

[code]

I'm not really sure how `atomic_compare_exchange_strong_explicit` works.

[2016-10-15 05:26] sparseinference commented on #517
I'm not sure how it works either, even after reading: [this explanation](http://en.cppreference.com/w/c/atomic/atomic_compare_exchange).

I can also reproduce the segmentation fault, consistently somewhere in `ponyint_messageq_pop`.

I'll try to debug it further.

[2016-10-15 09:34] malthe commented on #1280
One thing that's somewhat annoying about object literals is that unlike lambdas, you have to be explicit about the type of a capture, e.g.
[code]
Else you'll get "expected mandatory type declaration on field after x".

Note that the name *is allowed* to be the same which isn't really shadowing since you aren't able to access to outer scope without making the reference.

[2016-10-15 09:51] Praetonus commented on #517
I don't think the issue is in `messageq`. It looks like pointer values somehow get bitwise-shifted in `ponyint_mpmcq_pop`. That's really odd because I've made sure to handle that case in the bitwise operations for the ABA, and the segfault should happen all the time if the returned pointers are wrong.

@SeanTAllen @sparseinference Can you replace `ponyint_mpmcq_pop` with [this version](https://gis

[2016-10-15 10:04] Praetonus commented on #993
On a somewhat related matter, should `rotl` and `rotr` be defined for signed numbers? These functions are implemented with bitwise shifting, which means arithmetic shifting for signed number, which means the result is wrong in many cases. Also, the functions don't guarantee associativity.

[2016-10-15 11:05] SeanTAllen commented on #517
@Praetonus I assume you mean `PONY_ATOMIC(size_t) ticket` not `ATOMIC_TYPE(size_t) ticket` correct;

[2016-10-15 11:17] SeanTAllen commented on #517
@Praetonus assuming the above is true, then both this and #647 ran to completion (and lots of memory usage) with the change to `ponyint_mpmcq_pop`

[2016-10-15 11:40] SeanTAllen commented on #647
With @Praetonus's fix for segfaulting from #517 in place, i started testing this again.

There's a strong hint of a scheduler issue here.

Up to ponythreads of 4,

Memory growth happens as soon as the number of Ponythreads is number of sending actors + 2

So for example if you use '1' as the first arg to the program and have more than 2 ponythreads
or if you use '2' for the second arg and have mor

[2016-10-15 12:34] SeanTAllen commented on #517
If you turn off work stealing, the memory growth goes away.

[2016-10-15 12:36] SeanTAllen commented on #647
If you turn off work stealing the memory growth issues go away

[2016-10-15 12:55] SeanTAllen commented on #647
further refined, the issue goes away (and we use all our cores) if `choose_victim` in `scheduler.c` is made to always return NULL ie Don't steal work.

[2016-10-15 18:41] SeanTAllen commented on #1313
https://www.traviscistatus.com still isn't clear. Looks like it could get through but no sense chancing it. Will check again tomorrow.

[2016-10-15 19:05] n3f4s commented on #961
Hi,
I don't know if the it's related but I've encountered a code that cause a segfault when compiling
[code]

I'm on  ``Linux manjaro 4.7.7-1-MANJARO #1 SMP PREEMPT Sat Oct 8 13:17:31 UTC 2016 i686 GNU/Linux`` and ``0.2.1-954-ga02c5bf [release]``

Since ponyc is not compiled with debug symbol, I don't know what part of the compiler throw the segfault.

[2016-10-15 19:12] SeanTAllen commented on #961
0.2.1 is pretty old at this point. Can you try using version 0.5.0 ? With 0.5.0 on my machine, this code results in a compilation error, not a segfault.

[code]

[2016-10-15 19:33] SeanTAllen commented on #1305
@Theodus I'm going to close this under the assumption that a RFC is coming.

[2016-10-15 19:33] #1305 closed

[2016-10-15 19:33] SeanTAllen commented on #1298
at this point, I'm going to assume its my machine.

thanks everyone.

[2016-10-15 19:33] #1298 closed

[2016-10-15 19:55] SeanTAllen commented on #950
I'm closing this under the assumption that it was a 3.8.0 bug and we know only support 3.8.1 with its various bug fixes.

[2016-10-15 19:55] #950 closed

[2016-10-15 19:59] SeanTAllen commented on #937
Looking at this, I'm pretty sure this is the same bug as #1118. I can't imagine we have two bugs that result in crashes in trackunknown. @sylvanc would you agree?

[2016-10-15 19:59] SeanTAllen commented on #937
@Theodus can you verify you still get this with the latest master and using llvm 3.8.1?

[2016-10-15 20:05] n3f4s commented on #961
Updating ponyc resolve the segfault (I was sure that the package manager was updating ponyc...).

[2016-10-15 20:31] Theodus commented on #937
@SeanTAllen I get the same segfault.
[code]

[2016-10-15 20:49] SeanTAllen commented on #937
Thanks. Just wanted to verify @Theodus.

[2016-10-15 20:54] ryanai3 commented on #950
@SeanTAllen - to be specific, this was a bug that occurred on my machine under 3.8.1. It was fixed by upgrading to 3.9

[2016-10-15 21:03] SeanTAllen commented on #950
@ryanai3 so you were using 3.8.1 not 3.8..0-1 as you originally reported?

[2016-10-15 21:04] ryanai3 commented on #950
@SeanTAllen The problem showed up on both.

[2016-10-16 00:10] DemiMarie commented on #993
Note that the rotate semantics you are proposing require a runtime check on x86 that could be costly.  I don't know the behavior on ARM.

A potentially better-performing approach would be to define shift and rotation as masking off the excess high-order bits from the shift amount.  That doesn't need any branches on any processor.

[2016-10-16 00:12] DemiMarie opened #1326 "Unboxed unions"
Pony currently boxes union types.

However, it seems to me that there is no fundamental reason for this.  Rust, indeed, does not box union types – instead, it stuffs all variants into a block of memory large enough to hold any of them plus a tag.  I believe Ada and Boost::Variant (from C++) do the same.

[2016-10-16 00:22] jemc commented on #1326
If there is a better strategy for handling union types (a performance improvement) that does not have an API impact, I think this would qualify as the kind of change that doesn't need an RFC - it would just be an optimization.

I've marked this ticket as "enhancement: 1 - needs discussion" to reflect this.  We should take the opportunity to explore:
1. whether such a change would be possible or if

[2016-10-16 00:23] jemc commented on #1326
@Praetonus @sylvanc any thoughts on this?

[2016-10-16 02:46] SeanTAllen commented on #1313
Travis is all clear...

[2016-10-16 02:47] SeanTAllen commented on #1313
1f8b9f4f4bf878bed9022cc80716959429ea2964 is our golden commit

[2016-10-16 02:55] SeanTAllen commented on #1313
This has been tagged and pushed.

CHANGELOG.md updated on master

[2016-10-16 02:59] SeanTAllen commented on #1313
releases entry created: https://github.com/ponylang/ponyc/releases/tag/0.5.1

[2016-10-16 03:04] SeanTAllen commented on #1313
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/5957

[2016-10-16 03:04] SeanTAllen commented on #1313
@stefantalpalaru release underway

[2016-10-16 03:05] SeanTAllen commented on #1313
RPM, deb and Windows packages are available in Bintray.

Waiting on Homebrew.

[2016-10-16 03:06] Praetonus commented on #1326
The only objects boxed in an union (and in any type of interface) are objects without a type descriptor (i.e. raw numbers and tuples). If the object already has a type descriptor then the union will use the object pointer directly. So it seems to me that we're already doing what you're describing, the identifying tag being the type descriptor.

[2016-10-16 03:10] SeanTAllen commented on #1313
Homebrew CI checks passed. Waiting on a merge.

[2016-10-16 03:19] Praetonus commented on #993
Is that check done in the hardware instruction itself or in the potential boilerplate required around it? For reference, here is the implementation of `rotl` in Pony (`rotr` being the symmetrical).

[code]

This implementation isn't currently safe so `rotl` will need a safe and an unsafe variant if we keep that base implementation.

[2016-10-16 05:16] Praetonus commented on #993
Also, I've been thinking about defining real Pony semantics for the "undefined results" here.

First, we need to define the transformations permitted by the compiler to the program. I'm going to mostly draw from the C++ [as-if rule](http://en.cppreference.com/w/cpp/language/as_if) here.

Undefined results (placeholder name):

Trust boundary:

If we keep that, it will need some refinement to work w

[2016-10-16 09:35] stefantalpalaru commented on #1313
The Gentoo ebuild has been updated.

[2016-10-16 11:21] SeanTAllen commented on #1313
Homebrew is updated.

[2016-10-16 12:37] SeanTAllen commented on #1313
pony+user and irc informed of the release. I also tweeted it from the ponylang account.

0.5.1 is done.

onwards to 0.5.2

[2016-10-16 12:37] #1313 closed

[2016-10-16 15:03] SeanTAllen opened #1327 "Misleading TCPConnectionNotify docstring"
The `connected` doc string suggests it is only called for outgoing connections. This is untrue it is called for incoming as well.  While this is being fixed, the other docstrings should be checked to make sure they don't have similar mistakes.

[2016-10-16 15:09] #1327 closed

[2016-10-16 15:09] SeanTAllen commented on #1327
I think i am actually wrong about this.

[2016-10-16 15:22] SeanTAllen commented on #1311
@jemc this write test won't work...

the amount of data we need to send in order to get throttled is unknown. its based on OS buffer sizes. I'm not sure how to test throttling. thoughts?

[2016-10-16 16:36] Praetonus opened #1328 "Refcap violation via gencap-constrained type parameter."
[code]

This compiles fine and prints 0 then 3. The `val` object was indeed modified.

[2016-10-16 17:11] jemc commented on #1328
I'll do some investigation of this one.

[2016-10-16 17:23] jemc commented on #1328
FYI this works exactly the same way (broken) when using type parameters on a type instead of on a method (when `fun bla` is converted to `primitive Bla fun apply`):

[code]

[2016-10-16 17:33] sparseinference commented on #517
@Praetonus - I applied your changes (using PONY_ATOMIC for the new members of `struct mpmcq_t`).
I used the program from @hakvroot to test, compiled with a debug build of ponyc, and it ran without errors or memory leak.

I also ran the test program with `valgrind --tool=drd`  and no errors were reported.

However, if I pass `--ponythreads 2` to the test program under valgrind, it reports many conf

[2016-10-16 17:48] Praetonus commented on #517
@sparseinference Valgrind doesn't know about atomic operations so it sees everything not protected by a lock as a data race. I believe all of these are false positives but unfortunately there is no way to confirm this with tools in the current state of the runtime. IIRC there are ways to make Valgrind aware of operations with acquire/release semantics, maybe we can add that to the Valgrind build o

[2016-10-16 18:11] SeanTAllen commented on #517
@Praetonus i'm not sure why you think that high contention scenario would never happen in the runtime. perhaps i don't understand what you mean by high contention from that description. can you elaborate?

[2016-10-16 18:17] jemc commented on #1328
The problem is somewhere in the logic for type params in `type/subtype.h`.

We need to figure out why the following is seen as true:

[code]

I'll look more into this later today.

[2016-10-16 18:23] Praetonus commented on #517
Contention on a scheduler queue can only happen in the work-stealing scenario, but there are heuristics ensuring that as few threads as possible will try to steal from the same scheduler. We can regularly have ~2 threads popping from the same queue at the same time but high contention would require having multiple threads starving for work and trying to steal from the same scheduler, which is unli

[2016-10-16 18:35] sparseinference commented on #517
@Praetonus can you think of a reason why the conflicts reported by `--tool=drd` disappear with
`--ponythreads` > 2 ?

[2016-10-16 18:42] SeanTAllen commented on #517
@Praetonus i've talked a bit about this w/ sylvan. the memory growth here and #647 happen on my machine when work stealing happens. i can fairly reasonably reproduce memory growth by causing work stealing to happen. any thoughts on why that might be given that you've been in a related part of the code base recently.

[2016-10-16 18:44] SeanTAllen commented on #517
@sparseinference when you ran without memory growth, how many ponythreads did you use?

what os are you using?
what llvm version?
debug version of the compiler? releasE?

any details you can give would really help me.

[2016-10-16 19:02] Praetonus commented on #517
@sparseinference I'm not sure. Maybe the work is more evenly distributed with more than 2 threads, which reduces the probability of multiple threads popping from the same queue at the same time.

@SeanTAllen I don't see anything.

[2016-10-16 19:03] SeanTAllen commented on #517
@Praetonus i'll keep looking.

re: the patch. do you want to PR that or shall I? I have it in place already and can easily commit and open.

[2016-10-16 19:08] sparseinference commented on #517
@SeanTAllen
- I'm using Kubuntu 16.10
- clang-3.9
- 0.5.0-c5ae21e [debug] (llvm 3.9.0) (cc (Ubuntu 6.2.0-5ubuntu12) 6.2.0 20161005)

I ran the test with `--ponythreads` 2 ... 5,  and   `--ponythreads 50`

Interestingly, at `--ponythreads 50` some of the threads are created but never scheduled - I assume this is what's happening because their CPU time is zero while the active threads have an equal

[2016-10-16 19:09] SeanTAllen commented on #517
Thanks @sparseinference.

[2016-10-16 19:09] Praetonus commented on #517
@SeanTAllen The code must be adapted to the pool allocator so I'll do it if you're not sure.

[2016-10-16 19:14] SeanTAllen commented on #517
@Praetonus i'm not sure how it would be adapted, so have at it.

[2016-10-17 01:08] Praetonus opened #1330 "Investigate compilation to GPUs"
LLVM has experimental support of NVPTX and AMDGPU backends. Getting Pony to run on these as a proof of concept would be great.

[2016-10-17 01:08] fribeiro1 opened #1331 "Can't Compile on CentOS 7.2"
All compilations w/ 0.5.1-2115.33eefb1 are failing with the "Illegal instruction (core dumped)" message on CentOS 7.2 and VirtualBox 5.0.26 r108824.

Please advise.

[2016-10-17 01:13] Theodus commented on #1331
@fribeiro1 What version of LLVM are you using? Did you build from source or install a prebuilt binary?

[2016-10-17 01:17] fribeiro1 commented on #1331
@Theodus I've installed from the latest ponyc-release package.

[2016-10-17 02:06] Praetonus commented on #1331
Can you give the program you're trying to compile and the output from the compiler?

[2016-10-17 02:42] fribeiro1 commented on #1331
@Praetonus It is actually failing for every program with the same "Illegal instruction (core dumped)" message.

[2016-10-17 03:47] Praetonus commented on #1331
Can you get a debugger stack trace and disassembly of the crash location? Also, what is your CPU?

[2016-10-17 13:17] SeanTAllen opened #1332 "TCPExpect test isn't isn't run on Windows"
The TCPExpect test isn't currently run on Windows. But looking at the code, it looks like it should work. Is there a reason this is off? At the moment, this looks like a bit of oversight.

@Theodus ?

[2016-10-17 13:34] Theodus commented on #1332
@SeanTAllen I don't see any reason why it shouldn't work, but I currently have no way of finding out. Maybe I'll figure out how to build pony on Windows today.

[2016-10-17 16:04] jemc commented on #1311
If we don't know exactly how much data it takes to throttle, could we try a strategy of sending data on the writer end *until* the `throttled` occurs?

[2016-10-17 16:23] jemc commented on #1328
The issue is that `is_cap_sub_cap_bound` is used, which sees `#read` as being a subtype of `ref`.  So either calling `is_cap_sub_cap_bound` is not the right semantics for this situation (and we need to call a different method), or `is_cap_sub_cap_bound` is implemented with the wrong semantics and needs to be fixed.

[2016-10-17 16:23] SeanTAllen commented on #1311
@jemc i think that would involve a really long timeout which could still be hit without triggering the condition. still seems flakey.

[2016-10-17 16:27] jemc commented on #1328
Docs for `is_cap_sub_cap_bound`:

same. This is used when checking if a typeparamref is a subtype of itself,
possibly with an altered rcap due to aliasing or viewpoint adaptation.

This doesn't seem correct in this situation, and we should use `is_cap_sub_cap` instead.  However, more investigation is needed to be sure that we can change this situation to use `is_cap_sub_cap`, while still keeping `

[2016-10-17 16:28] jemc commented on #1328
Unassigning myself for now since I have knowledge-dumped what I have found, and I probably won't have time to work more on this in the next few days.  Someone else can feel free to pick up where I left off if they wish, or I will come back to it later in the week.

[2016-10-17 19:16] #1332 closed

[2016-10-18 00:43] fribeiro1 commented on #1331
@Praetonus The requested information follows below:

**Stack Trace**

open("/lib64/libtinfo.so.5", O_RDONLY|O_CLOEXEC) = 3

**CPU Info**

processor    : 0

Let me know if you need more info.

[2016-10-18 03:09] jemc commented on #1328
I did take a little more of a look at this tonight, and I don't feel confident stepping in with a solution without @sylvanc dropping some type theory guidance on me first.

[2016-10-18 03:12] jemc commented on #1331
Wasn't there a virtualbox problem we saw in the past that was unrelated to the ponyc or LLVM version?  I'm going to take a quick look through the ticket archives.

[2016-10-18 03:13] jemc commented on #1331
@fribeiro1 - can you check your virtualbox version against [this note in the README](https://github.com/ponylang/ponyc/blob/1f8b9f4f4bf878bed9022cc80716959429ea2964/README.md#virtualbox)?

[2016-10-18 03:15] jemc commented on #1331
(Hopefully this is just a dup of #693 and #441, and upgrading virtualbox will fix the issue.)

[2016-10-18 06:02] Praetonus commented on #1331
I think it's the same issue as #1176. Your processor supports AVX instructions and LLVM 3.8 incorrectly assumes that it also supports AVX-512. This bug is fixed in LLVM 3.9 but we have a few issues to resolve before we can distribute pre-built packages with LLVM 3.9. Until then, I'd recommend to build from source with LLVM 3.9.

[2016-10-18 10:43] fribeiro1 commented on #1331
@jemc Unfortunatelly I am using VirtualBox 5.0.26 r108824 already

[2016-10-18 15:11] Praetonus opened #1334 "Type inference with circular dependency"
[code]

This code is invalid because of the circular type inference, and it makes the compiler assert during the expr pass. The assertion is `src/libponyc/pass/expr.c:319: ast_result_t pass_expr(ast_t **, pass_opt_t *): Assertion 'errors_get_count(options->check.errors) > 0' failed`, which means the pass detected an invalid construct (i.e. a function returned `false`) but didn't report an error.

[2016-10-18 16:08] Praetonus opened #1336 "License isn't up to date"
https://github.com/ponylang/ponyc/blob/master/LICENSE

Causality is still mentioned and the copyright year stops at 2015.

[2016-10-18 16:25] SeanTAllen opened #1337 "Improve map.upsert documentation"
the lambda that upsert takes is in the form of "previous value", "old value"

this isn't in the docstring and the example being addition, doesn't help figure it out.
it should be made clear.

[2016-10-18 17:05] jemc commented on #1336
I think we need to figure out who to list in the copyright, given that Causality Ltd is no more.  Obviously we should retain the old copyright notice, since it is not invalidated by the passing of time.

FWIW I like [the `AUTHORS` file approach used by projects like CZMQ](https://github.com/zeromq/czmq/blob/master/AUTHORS), which includes sections for both corporate contributors and individual con

[2016-10-19 01:27] ryanai3 commented on #1330
Just want to comment saying that this would be awesome - I think the actor paradigm w/ capabilities maps really neatly onto gpus & the compile time types of memory (const, val, etc.).

[2016-10-19 16:03] SeanTAllen commented on #647
I found a "fix" for this.

definitely need to talk to @sylvanc. pretty sure I know what is happening.

[2016-10-19 16:08] SeanTAllen commented on #517
i found a "fix" for this. pretty sure I understand what is going on. need to discuss a proper solution with @sylvanc. FYI, it is the same issue as #647.

[2016-10-19 17:22] Theodus commented on #1225
Does this error occur when using LLVM 3.8.1?

[2016-10-19 19:32] SeanTAllen commented on #647
Fix was wrong.

This happens with debug compiler but not release compiler.

[2016-10-19 19:49] #1309 closed

[2016-10-19 19:50] #1123 closed

[2016-10-19 20:01] SeanTAllen commented on #1336
Sylvan at sync:

 using an AUTHORS file is fine.
Copyright needs to be assigned to someone. We just need to to pick.

[2016-10-19 20:05] SeanTAllen commented on #1326
As far as we understand. We are already doing this.

[2016-10-19 20:05] #1326 closed

[2016-10-19 20:13] SeanTAllen commented on #1248
@jemc is going to open an issue for this on the RFC repo then close this ticket

[2016-10-19 20:17] SeanTAllen commented on #1240
Sylvan says: we should disable returning tuples from via FFI and update the documentation.

[2016-10-19 20:17] SeanTAllen commented on #1240
#140 is the same issue w/ same solution.

[2016-10-19 20:18] dipinhora commented on #1331
This is most likely due to the Travis CI build server CPU having `AVX2` support in addition to `AVX` while the `Intel(R) Core(TM) i5-3340M CPU @ 2.70GHz` CPU only supports `AVX` and not `AVX2`.

[2016-10-19 20:20] SeanTAllen commented on #1225
In the absence of other info, we are assuming this was a llvm 3.8.0 bug. To anyone reading in the future, if you experience this with 3.8.1 or other supported LLVMs please open a new issue.

[2016-10-19 20:22] jemc commented on #1248
Closed in favor of https://github.com/ponylang/rfcs/issues/48.

[2016-10-19 20:23] #1248 closed

[2016-10-19 20:23] SeanTAllen commented on #1307
Hoping that #1329 fixes this. Assigning self to test once that is merged.

[2016-10-19 20:24] SeanTAllen commented on #1186
@Praetonus did you test with LLVM 3.8.0 or 3.8.1 ?

[2016-10-19 20:25] SeanTAllen commented on #1186
@Theodus do you have 3.8.1 installed now? can you test this and see if going from 3.8.0 to 3.8.1 fixes this?

[2016-10-19 20:27] SeanTAllen commented on #1331
Would it make sense to turn off AVX2 in the default builds? I'm unsure of its impact.

[2016-10-19 20:30] sylvanc commented on #1156
@Praetonus figured out that we should use `break` instead of `continue`, and that `break` without an expression should jump to the `else` clause in all uses, instead of being an implicit `break None`.

[2016-10-19 20:31] SeanTAllen commented on #937
We are assuming this is the same issue as #1118 and once that is fixed, will test this again to verify.

[2016-10-19 20:41] jemc commented on #1328
The solution is to change the `is_subtype` call at `reify.c:269` to be there only place where the `is_cap_sub_cap_bound` strategy is used (change it to call another "new" function).  The `is_cap_sub_cap_bound` semantics are only correct for checking type parameter constraints during reification, and at all other times (for `is_subtype` itself), we need to use the "normal" strategy for comparing ca

[2016-10-19 20:46] Theodus commented on #1186
With LLVM 3.8.1 it still works when compiled with the `-d` flag otherwise it segfaults.

[2016-10-19 21:01] SeanTAllen commented on #1186
So no change @Theodus ?

[2016-10-19 21:05] Theodus commented on #1186
@SeanTAllen no change

[2016-10-19 21:19] Praetonus commented on #993
We discussed this during the sync call. The above semantics are fine, we'll probably end up with a similar version somewhere in the documentation.

We also talked about adding new operators for the unsafe operations. I'll open a RFC with a few possibilities for the operators syntax.

[2016-10-19 21:22] jemc commented on #1240
Assigning myself since I agreed I would take responsibility for this one, but if someone wants to cut in and steal it from me, just let me know.

[2016-10-19 21:23] jemc commented on #140
Closing in favor of #1240.

[2016-10-19 21:23] #140 closed

[2016-10-20 02:19] Praetonus commented on #1186
@SeanTAllen I used LLVM 3.8.1.

[2016-10-20 02:59] SeanTAllen opened #1342 "RFC: Export functions for calling class methods from C"
This RFC proposes the addition of an `export` keyword to specify that functions for a class should be generated even if they are not used directly in the Pony program that is being compiled. Additionally, wrapper functions for these functions that conform to the C ABI will be generated, along with a .h file with the appropriate function signatures so that the functions can be easily used from a C

[2016-10-20 03:01] SeanTAllen commented on #1342
I believe that @aturley will be tackling this.

[2016-10-20 03:02] SeanTAllen commented on #1342
@aturley when you start on this, please update to "in progress"

[2016-10-20 03:03] SeanTAllen opened #1343 "RFC: Allow TCP notifiers to cause connections to yield while receiving"

[2016-10-20 03:07] SeanTAllen commented on #1343
@jemc I haven't been able to come up with a good way to test this. Any thoughts?

[2016-10-20 03:19] SeanTAllen opened #1344 "Release 0.6.0"
Triggered by merging of the high priority PR #1329

[2016-10-20 03:20] SeanTAllen commented on #1344
Travis and Appveyor are green. Starting this.

[2016-10-20 03:22] SeanTAllen commented on #1344
Pausing on this as the commit for #1329 hasn't passed CI after merge. Want to make sure that is good before moving ahead with that commit.

[2016-10-20 03:45] SeanTAllen opened #1347 "Make net/Broadcast test reliable"
The `net/Broadcast` test is failing on an intermittent basis on OSX. This needs to be addressed and fixed.

The assumption here is that it is the test that is flakey but, its always possible that we are getting real intermittent failures that need to be fixed.

[2016-10-20 03:46] SeanTAllen opened #1348 "Make net/TCPExpect test reliable"
The `net/TCPExpect` test is failing on an intermittent basis on OSX. This needs to be addressed and fixed.

The assumption here is that it is the test that is flakey but, its always possible that we are getting real intermittent failures that need to be fixed.

[2016-10-20 04:09] SeanTAllen commented on #1344
Blessing: f69e2d96a5f782933baf4394f06dd0a955daa5cd

[2016-10-20 04:12] SeanTAllen commented on #1344
0.6.0 tagged and pushed to release

[2016-10-20 04:13] SeanTAllen commented on #1344
CHANGELOG and VERSION now up to date on master.

[2016-10-20 04:23] SeanTAllen commented on #1344
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/6107

[2016-10-20 04:24] SeanTAllen commented on #1344
@stefantalpalaru release underway

[2016-10-20 04:24] SeanTAllen commented on #1344
Windows 0.6.0 is available in bintray. Still waiting on RPM and Deb.

[2016-10-20 04:26] SeanTAllen commented on #1344
Travis job url: https://travis-ci.org/ponylang/ponyc/builds/169127631

[2016-10-20 04:26] SeanTAllen commented on #1344
I'm going to bed. Deb and RPM should be ready by morning. Perhaps Homebrew as well.

[2016-10-20 08:14] stefantalpalaru commented on #1344
Gentoo ebuild updated.

[2016-10-20 10:10] SeanTAllen commented on #1344
Homebrew is done.

[2016-10-20 10:17] SeanTAllen commented on #1344
Deb and RPM packages are available via Bintray.

[2016-10-20 10:32] SeanTAllen commented on #1344
Announced.

Thanks y'all. That's a wrap.

[2016-10-20 10:32] #1344 closed

[2016-10-20 12:05] SeanTAllen commented on #1348
As part of working on tests for TCP backpressure hooks, I may have found the cause of this. It looks like timing wise, tests could interact with one another when using the network and adding them all to an exclusion group might work here. Testing locally.

[2016-10-20 12:05] SeanTAllen commented on #1347
As part of working on tests for TCP backpressure hooks, I may have found the cause of this. It looks like timing wise, tests could interact with one another when using the network and adding them all to an exclusion group might work here. Testing locally.

[2016-10-20 12:19] SeanTAllen opened #1349 "process/WritevOrdering is flakey"
Just failed on my OSX machine and when it did, it hung the test build.

* Needs to be marked as unreliable
* Needs an issue opened to investigate its unreliability
* Needs an issue opened to figure out why it hung the build on failure

Assigning to myself to do all these various things

[2016-10-20 12:22] SeanTAllen commented on #1348
I just had a net/Writev flakey failure with the exclusion groups. Trying to increase timeout as all the network errors seem to come from timeouts.

[2016-10-20 12:23] SeanTAllen commented on #1347
I just had a net/Writev flakey failure with the exclusion groups. Trying to increase timeout as all the network errors seem to come from timeouts.

[2016-10-20 12:24] SeanTAllen commented on #1349
This also just happened with process/PrintvOrdering to me, probably the same root cause.

I suspect timeout duration where sometimes things on the OS are a little slow:

[code]

[2016-10-20 13:21] SeanTAllen commented on #1347
10 second timeout and this still failed. :(

[2016-10-20 13:23] SeanTAllen commented on #1347
net/Broadcast will fail if there is no network. I'm going to test switching it to use loopback and see if that fixes the issue.

[2016-10-20 13:26] aturley commented on #1342
Yeah. I already have most of it implemented, but I'll move it to in progress when I start the process of whipping it into shape (tests, documentation, etc).

[2016-10-20 17:55] Theodus commented on #575
closed by #1318

[2016-10-20 17:55] #575 closed

[2016-10-20 17:55] Theodus commented on #575
Thanks @kulibali !

[2016-10-20 18:43] fribeiro1 commented on #1331
@SeanTAllen In the mean time, I will try to build it from the source instead.

[2016-10-20 18:44] jemc commented on #1343
Honestly, it doesn't seem very testable to me.  It seems like it doesn't impact anything that is visible from *within* the program - just performance.

[2016-10-20 18:52] SeanTAllen commented on #1343
That was my thinking @jemc.

[2016-10-20 23:11] SeanTAllen opened #1350 "Review/Improve Windows backpressure support"
[RFC 17](https://github.com/ponylang/rfcs/blob/master/text/0017-tcp-backpressure.md) added support for backpressure to the `TCPConnection` class.

We need a Windows developer to

* Review how read and write backpressure were implemented and help refine the implementation (if needed)
* Get the `TCPThrottle` test to pass consistently on Windows.

If you take this on and need assistance, contact @sea

[2016-10-20 23:13] Praetonus opened #1351 "Floating point min_value is inconsistent"
The `min_value` function behaves differently for integers and floating points. For integers, it returns the lower bound of the type, which is negative for signed numbers. For floating points, it returns the smallest positive normalised number.

`max_value` is consistent and returns the upper bound of the type for both integers and floating points (excluding infinity).

I find the behaviour of `min

[2016-10-20 23:15] SeanTAllen commented on #1351
@Praetonus agreed. i have marked as discuss at sync to get other feedback if we still need by then.

[2016-10-20 23:20] jemc commented on #1351
I would also say that both do what I would expect for that type, but I also agree that it's inconsistent, and inconsistent is a problem.

I'm okay with proceeding as described, and if someone comes up with a better name than `min_normalised` they can either chime in here or do an RFC later to change the name.

[2016-10-21 00:25] SeanTAllen opened #1352 "Fix flakey ProcessMonitor tests"
So far, this is only being reported by me on OSX.

Mavericks. Pony version 0.6.0. LLVM 3.8.1

Very occasionally, `process/PrintvOrdering` and `process/WritevOrdering` will fail (independently, I haven't seen them fail at the same time). Example failure:

[code]

When the tests fail, the `make test` run hangs and never exits (or if it exits, it takes longer than my patience - a couple minutes)

We

[2016-10-21 00:25] SeanTAllen commented on #1349
Issue #1352 created.

Labelled as unreliable and pushed.

[2016-10-21 00:25] #1349 closed

[2016-10-21 01:41] Praetonus commented on #1156
Jumping to the `else` clause on `break` and using `break` instead of `continue` in `for` loops seems to kick that `pony_throw` out of the program if the iterated object isn't modified, which is what we want.

[2016-10-21 01:48] Praetonus commented on #1156
And doing any kind of external function call puts it back in. I'll try adding some aliasing metadatas for the runtime functions to see if the problem is solvable at least for them.

[2016-10-21 02:22] Praetonus commented on #1156
It won't be possible that way. It seems that problem isn't solvable at the compiler level. Well, we should still gain some control over that with `break` instead of `continue`.

[2016-10-21 03:15] SeanTAllen commented on #1352
process/Expect also exhibits the same behavior. So far, I've only seen on OSX. Either on my machine or on Travis. Here's a Travis run that failed:

[LLVM 3.6.2 in this case](https://travis-ci.org/ponylang/ponyc/jobs/169401482)

[code]

[2016-10-21 03:48] #1156 closed

[2016-10-21 03:50] SeanTAllen opened #1356 "Release 0.7.0"
#1354 has been merged. It's a high priority bug fix and as such triggers a release. Its late and I'm not going to do this today. But if someone else doesn't pick up before tomorrow night, I'll do the release.

There are some breaking API change PRs that might get merged before then in which case I think we should call the next version 0.7.0 rather than 0.6.1

[2016-10-21 19:40] Nyarum commented on #1356
@SeanTAllen do you planning to do 1.0.0 after 0.9.x?

[2016-10-21 19:46] jemc commented on #1356
@Nyarum - no, we won't bump to 1.0.0 until the language has reached a certain maturity where we don't expect to make more breaking changes for a while (to respect semantic versioning).  Following typical versioning conventions, the next logical bump after `0.9.x` would be `0.10.x`.

[2016-10-22 11:27] SeanTAllen commented on #1356
Appveyor and Travis are reporting all clear. Going to see if I can get this release out today. Rebuilding the last merge to master that failed due to the DDos yesterday so it can be verified and included in the release: https://travis-ci.org/ponylang/ponyc/builds/169584194

[2016-10-22 12:05] SeanTAllen commented on #1356
Blessing b158d04b26d70a70abbd41e7cae6d066cf09bea9

[2016-10-22 12:09] SeanTAllen commented on #1356
VERSION and CHANGELOG updated and along with changes in b158d04b26d70a70abbd41e7cae6d066cf09bea9, merged into release. Tagged and pushed.

[2016-10-22 12:10] SeanTAllen commented on #1356
CHANGELOG updated on master

[2016-10-22 12:18] SeanTAllen commented on #1356
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/6164

[2016-10-22 12:18] SeanTAllen commented on #1356
@stefantalpalaru release underway

[2016-10-22 12:19] SeanTAllen commented on #1356
Windows release is in bintray.

[2016-10-22 12:21] SeanTAllen commented on #1356
Deb and RPM packages are in bintray.

[2016-10-22 12:25] SeanTAllen commented on #1311
This was resolved by #1322.

[2016-10-22 12:25] #1311 closed

[2016-10-22 12:36] stefantalpalaru commented on #1356
Gentoo ebuild upgraded.

[2016-10-22 12:37] SeanTAllen commented on #1356
thanks @stefantalpalaru

[2016-10-22 14:09] SeanTAllen commented on #1131
@jemc can you write up an issue on the RFC repo requesting the RFC and we can close this one out. I'm working on other RFCs now.

[2016-10-22 14:09] SeanTAllen commented on #683
@jemc are you planning on turning this into a RFC?

[2016-10-22 14:13] SeanTAllen commented on #617
Open RFC request. Closing this:

https://github.com/ponylang/rfcs/issues/52

[2016-10-22 14:13] #617 closed

[2016-10-22 14:18] SeanTAllen commented on #489
Created a RFC request for this. Closing:

https://github.com/ponylang/rfcs/issues/53

[2016-10-22 14:18] #489 closed

[2016-10-22 14:19] SeanTAllen commented on #471
@cquinn I'm in the process of taking items tagged as "turn into rfc" and opening issues for those RFCs on the rfc repo. I'm leaving this one as is as you said you have a RFC coming.

[2016-10-22 14:22] SeanTAllen commented on #440
Open a request for RFC for this:

https://github.com/ponylang/rfcs/issues/54

[2016-10-22 14:22] #440 closed

[2016-10-22 14:24] SeanTAllen commented on #418
opened a request for RFC for this: https://github.com/ponylang/rfcs/issues/55

closing this issue.

[2016-10-22 14:24] #418 closed

[2016-10-22 14:27] SeanTAllen commented on #60
I opened a request for RFC for this:

https://github.com/ponylang/rfcs/issues/56

[2016-10-22 14:27] #60 closed

[2016-10-22 14:28] SeanTAllen commented on #87
Opened a request for RFC for this: https://github.com/ponylang/rfcs/issues/57

closing this issue.

[2016-10-22 14:28] #87 closed

[2016-10-22 14:31] SeanTAllen commented on #139
Opened a request for RFC on this https://github.com/ponylang/rfcs/issues/58

Closing this issue.

[2016-10-22 14:31] #139 closed

[2016-10-22 14:32] SeanTAllen commented on #298
@jemc should this be "ready for work" or "turn into rfc". I think "turn into rfc" in which case I can create the request issue on the RFC repo.

[2016-10-22 14:34] SeanTAllen commented on #318
@jemc this is labeled both "ready for work" and "turn into rfc". I feel like this should be "turn into rfc". Looking for your thoughts as that isn't a strongly held opinion on my part.

[2016-10-22 14:35] SeanTAllen commented on #415
@jemc given you added a RFC for this, can I close this as a new issue would come out of the RFC?

[2016-10-22 14:35] SeanTAllen commented on #394
@jemc do you want to turn this into a RFC or should I open a request for RFC for this?

[2016-10-22 15:24] jemc commented on #415
Actually, the RFC I added doesn't address the original issue of this thread - it just encompasses one of the side points we talked about here.  However, I will create a new ticket in the RFC repo to replace this one.

[2016-10-22 15:28] jemc commented on #415
Closed in favor of https://github.com/ponylang/rfcs/issues/59.

[2016-10-22 15:28] #415 closed

[2016-10-22 15:34] jemc commented on #318
Let's ask @sylvanc on the sync call.

This thread ended with @andymcn saying they had a plan, so if @sylvanc remembers the plan and we can document it here, I'm tempted to remove the "turn into rfc" label and leave it as ready for work (and maybe work on it myself after I know the plan).

[2016-10-22 15:37] jemc commented on #683
Closed in favor of https://github.com/ponylang/rfcs/issues/60

[2016-10-22 15:37] #683 closed

[2016-10-22 15:40] jemc commented on #394
I think this is actually a bug, and will relabel as such.

The compiler currently allows ambiguous behaviour here, and the conclusion was that it should be disallowed.  Not sure why it was labeled as an enhancement originally.

[2016-10-22 15:44] jemc commented on #298
I'm going to go ahead and strip it to "turn into rfc" and close the issue - a firm path forward was never decided, and it was a user request to begin with.  At this point @malthe is familiar with the RFC process, and can open an RFC if still seeing this as an important issue.

[2016-10-22 15:44] #298 closed

[2016-10-22 15:46] jemc commented on #1131
Closed in favor of https://github.com/ponylang/rfcs/issues/61.

[2016-10-22 15:46] #1131 closed

[2016-10-22 18:14] SeanTAllen commented on #1356
Homebrew merged.

[2016-10-22 18:20] SeanTAllen commented on #1356
Announced.

That's all folks. See ya next time. Beginning of November if not sooner.

[2016-10-22 18:20] #1356 closed

[2016-10-23 01:07] Theodus commented on #1240
@jemc I can take care of this one, if you're not already working on it.

[2016-10-23 01:33] Theodus commented on #1240
While looking into this I discovered that there is also a problem with structs.
[code]
[code]
Expected output:
[code]
Actual output:
[code]

[2016-10-23 01:37] Theodus commented on #1240
This occurs when optimized and when compiled with `-d`.
`ponyc --version` : `0.5.1-f517ea9 [release] (llvm 3.9.0) (cc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4)`

[2016-10-23 03:54] jemc commented on #1240
@Theodus your C signature is wrong. It should be `EGLEvent* e`, not `EGLEvent e`.  A Pony struct reference corresponds to a C struct pointer.

[2016-10-23 04:01] Theodus commented on #1240
@jemc thanks for the explanation. I copied the signature from the tutorial, so I'll make a PR to change that in the morning.

[2016-10-23 15:14] SeanTAllen commented on #1352
#1358 is an exploratory attempt at addressing this issue. It could be wildly off base.

[2016-10-23 15:14] SeanTAllen commented on #1348
#1358 is an exploratory attempt at addressing this issue. It could be wildly off base.

[2016-10-23 15:14] SeanTAllen commented on #1347
#1358 is an exploratory attempt at addressing this issue. It could be wildly off base.

[2016-10-23 16:13] SeanTAllen commented on #1352
#1358 has been merged to master. Let's see if that helps.

[2016-10-23 16:13] SeanTAllen commented on #1348
#1358 has been merged to master. Let's see if that helps.

[2016-10-23 16:13] SeanTAllen commented on #1347
#1358 has been merged to master. Let's see if that helps.

[2016-10-23 17:59] Theodus commented on #1240
@jemc What should be done about llvm functions in builtin that return tuples such as `@"llvm.uadd.with.overflow.i8"[(U8, Bool)](this, y)`?

[2016-10-23 19:58] Praetonus commented on #1240
Those are fine, the compiler is making sure the underlying types are compatible.

[2016-10-23 20:26] sparrisable opened #1359 "ponyc .deb package gives ld.gold link error on ubuntu 16.10, recommends recompile with -fPIC. --pic don't work with .deb ponyc"
On ubuntu 16.10 (updated on 23 oktobober 2016) the .deb package for ponyc gives the following error:

ponyc -v
0.7.0-4986123 [release] (llvm 3.9.0) (gcc-5 (Ubuntu 5.4.1-2ubuntu2) 5.4.1 20160929)

peter@peter-UX305CA:~/Dokument/programs/pony/ponyc$ ponyc examples/helloworld/
Building builtin -> /usr/lib/pony/0.7.0-2189.4986123/packages/builtin
Building examples/helloworld/ -> /home/peter/Dokument/p

[2016-10-23 22:55] Theodus commented on #1240
So how would we allow returning tuple just in builtin?

[2016-10-23 23:51] Praetonus commented on #1240
Maybe we'd be fine with allowing tuples in FFI return types but saying "don't do that" to programmers? Then, if they don't follow the guideline and something goes wrong, it's their fault, as with every FFI-related feature. It could even enable programmers that know what they're doing to implement various things efficiently.

Thoughts?

[2016-10-24 02:39] jemc commented on #1240
@Theodus thanks, I wasn't aware of the `builtin` cases.

@Praetonus - I think it's reasonable to discourage it as you describe, documenting it's not robust or cross-platform for some cases, and that you shouldn't do it without having an understanding of the impact.

[2016-10-24 02:41] jemc commented on #1240
@aturley @SeanTAllen any objections to that path?  If not, we can close this ticket in favor of a ticket on the `pony-tutorial` repo.

[2016-10-24 03:32] #1240 closed

[2016-10-24 03:37] jemc commented on #1240
Whoops looks like merging @Theodus' PR closed this one.  His PR was written in such a way that it would work well to describe either case, so I proceeded with merging it.

@aturley @SeanTAllen if you think this still needs to be disallowed by the compiler (while somehow allowing it in `builtin`), then please reopen the ticket and we can discuss further.  Otherwise we can call this done as just bei

[2016-10-24 15:36] aturley commented on #1240
Yeah, I'm OK with a "don't do this unless you really know what you're doing" is fine, since that's basically what we should say about anything related to FFI anyway.

[2016-10-25 00:22] Praetonus commented on #1359
So the problem is that the compiler isn't using the PIC version of the runtime library when compiling with `--pic`.

[2016-10-25 01:56] #1359 closed

[2016-10-25 15:25] #1337 closed

[2016-10-25 19:27] SeanTAllen commented on #1307
0.7.0 appears to have fixed this. I'm assuming #1329 was the source of the fix.

[2016-10-25 19:27] #1307 closed

[2016-10-25 19:27] SeanTAllen commented on #1307
@Praetonus see above.

[2016-10-25 22:32] cquinn commented on #471
Thanks @SeanTAllen , I'm working on the RFC now. (sorry I'm so slow)

[2016-10-26 18:20] Perelandric commented on #1146
Hit this bug today (pretty sure it's the same). The `debug` build provides an assertion failure message, so I'm posting it here to help with searching.

[code]

Here's the reduced example I made before I realized it was this issue:

[code]
---

[2016-10-26 19:43] SeanTAllen commented on #1231
This looks to be a bit of a thorny mess. Not something we want to take on at this time. If someone wants to take it on and can find a solid way to support, we'd be in favor of that.

[2016-10-26 19:43] #1231 closed

[2016-10-26 19:46] SeanTAllen commented on #1331
For now, we have decided to document the limitation here. You have to have a AVX2 compatible CPU to use pre-built packages. Otherwise you need to build from source. This should be added to install instructions in the README.

[2016-10-26 19:48] jemc commented on #1331
You can check if your CPU supports AVX2 using `grep avx2 /proc/cpuinfo`.  This should probably be in the README section about limitations of the prebuilt binaries.

[2016-10-26 19:55] fribeiro1 commented on #1331
Great, just forked the project to make that change.

[2016-10-26 20:22] killerswan commented on #1208
If I understand this correctly, now's a good time to figure out the version compat for RedHat and CentOS, and think about the naming a bit more.  I'd like to get these new packages into the package conflicts, that is, so that only one of the following packages can be installed:
* ponyc-release,
* ponyc-release-ncurses-compat,
* ponyc-master,
* ponyc-master-ncurses-compat.

[2016-10-26 20:32] killerswan commented on #1208
Although is the usability of these multiple packages really an improvement?

[2016-10-26 20:36] SeanTAllen opened #1370 "RFC: Additional Iter methods"
Addition of various methods to the Iter class of the itertools package. The methods included are based on functions from Rust's Iterator and Elixir's Enum.

see: https://github.com/ponylang/rfcs/blob/master/text/0020-more-iter-methods.md

[2016-10-26 21:18] dipinhora commented on #1331
Please keep in mind that Travis runs on GCE (https://docs.travis-ci.com/user/trusty-ci-environment#Overview) and GCE machines can have any of the following CPUs (`For the n1 series of machine types, a virtual CPU is implemented as a single hardware hyper-thread on a 2.6 GHz Intel Xeon E5 (Sandy Bridge), 2.5 GHz Intel Xeon E5 v2 (Ivy Bridge), 2.3 GHz Intel Xeon E5 v3 (Haswell), or 2.2 GHz Intel Xeo

[2016-10-26 21:25] fribeiro1 commented on #1331
@dipinhora What would you add there instead?

[2016-10-26 21:38] Praetonus commented on #1331
@dipinhora We could disable AVX2 with `-mno-avx2` in the package builds. Do you think it would work?

[2016-10-26 21:50] dipinhora commented on #1331
@fribeiro1 My intent wasn't to discourage the addition into the documentation.

@Praetonus I think the appropriate solution is to decide on the oldest system architecture that we want to support and target it with a `arch=<ARCH>` to the `make` flags and add a note into the documentation accordingly. For example, we could target Ivy Bridge by adding `arch=ivybridge`. This would only use CPU feature

[2016-10-26 22:10] killerswan commented on #1208
While I'm kicking ideas around, is there a virtual package provided by both older distros' `ncurses-libs` and new distros' `ncurses-compat-libs`, I wonder?

If there is no such virtual package, maybe we could set up the following 😜 :
* ponyc-release (requiring ponydep-ncurses)
* ponyc-master (requiring ponydep-ncurses)
* ponydep-ncurses (a virtual package)
* ponydep-ncurses-libs-5 (requiring actua

[2016-10-26 22:19] Praetonus commented on #1331
@dipinhora That makes sense. For the runtime problem, we could build with Clang on Linux, which would enable us to ship the LLVM bitcode version of the runtime in the packages. The downside is that we wouldn't be testing the compiler against GCC anymore (currently we're doing GCC on Linux and Clang on OSX).

@ponylang/core Any input on what we should set as our baseline Travis architecture? If we

[2016-10-26 22:40] dipinhora commented on #1331
@Praetonus I had the same thought re: the runtime bitcode and found the existing support in the compiler to rely on it. We'd likely have to make that automatic where if the runtime bitcode file exists, it is used automagically as opposed to having to require the user to pass the option to ponyc. I also found the following reference on Wikipedia `LLVM can accept the IR from the GNU Compiler Collect

[2016-10-26 23:10] killerswan commented on #1208
Note: I'll come back to this in a little while.  I've just stubbed my toe trying to take a CentOS install of rubygems from 2.0.14 to 2.0.15 so I can install FPM...

[2016-10-26 23:23] Praetonus commented on #1331
The main issue with using the runtime bitcode by default is that we're running the optimisation pipeline after merging the program and the runtime modules together to get some very good whole-program-optimisations, and that takes a lot of time. But we could certainly supply a `--runtimebc-no-wpo` flag and use that by default if the bitcode file is found.

I've never worked with GCC's IR but I've h

[2016-10-26 23:51] dipinhora commented on #1331
I'm not sure I follow. Are you saying we would want to default to `--runtimebc-no-wpo` for the shorter compile times because of the skipped whole-program-optimizations? Isn't that contrary to the second bullet point of the Pony Philosophy about performance?

Also, I have a strong suspicion that note in Wikipedia may have been linked to DragonEgg (http://dragonegg.llvm.org/) which is deprecated at

[2016-10-27 00:26] Praetonus commented on #1331
The performances of a program built with the runtime bitcode without WPO would be the same as a program linked with the static library (or a bit better, because of the possible CPU feature differences). There would certainly be a difference between WPO and non-WPO but that difference would be on the call boundaries between the program and the runtime. Each of the components would still be fully op

[2016-10-27 00:45] dipinhora commented on #1331
NOTE: When I `release build` or `debug build` below I'm referring to whether `-d` is passed to `ponyc` and not to whether `ponyc` was build with `config=debug` or `config=release`.

I think enabling WPO by default for release builds and disabling it by default for debug builds makes a lot of sense and follows current standards where debug builds disable optimization passes that are enabled for rel

[2016-10-27 01:58] Theodus commented on #677
@SeanTAllen would this be considered an llvm 3.8.0 bug?

[2016-10-27 03:00] SeanTAllen commented on #677
@Theodus I think it was related to the older computer that @jeremyheiler was using. But, it might be. I think its acceptable to assume it might have been. Close this and if someone else reports, we run with that.

[2016-10-27 06:42] #1351 closed

[2016-10-27 07:29] jemc commented on #1331
Agreed.  When I'm iteratively developing and want fast compile times, I always compile my pony programs `--debug`.  I would omit `--debug` for a production-ready build, where I care less about compile times.

[2016-10-27 07:31] #677 closed

[2016-10-27 12:22] SeanTAllen opened #1374 "Release 0.8.0"
Fixing #1359. A high priority issue triggers a release.

We should do this soon.

[2016-10-27 22:47] Theodus commented on #666
This bug does not occur on my machine:
`ponyc --version`: `0.7.0-f9591b2 [release] (llvm 3.9.0) (cc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4) `

[2016-10-27 22:50] SeanTAllen commented on #1374
Travis and Appveyor are operational.

[2016-10-27 22:52] SeanTAllen commented on #1374
Blessing: f9591b2ed4ee95b5db181574c030da22531a13ad

[2016-10-27 22:55] SeanTAllen commented on #1374
Pushed to release

[2016-10-27 22:57] SeanTAllen commented on #1374
CHANGELOG versioned on master.

[2016-10-27 23:03] SeanTAllen commented on #1374
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/6340

[2016-10-27 23:04] SeanTAllen commented on #1374
@stefantalpalaru release underway

[2016-10-27 23:06] SeanTAllen commented on #1374
Windows release is in Bintray

[2016-10-27 23:12] stefantalpalaru commented on #1374
Gentoo ebuild updated.

[2016-10-27 23:28] SeanTAllen commented on #1374
Deb and RPM packages are available via bintray.

[2016-10-27 23:33] SeanTAllen commented on #666
pony version 0.7.0-f1d0ff3 [debug] (llvm 3.8.1) (�F�)
OSX El Capitan

Can not reproduce

[2016-10-27 23:37] SeanTAllen opened #1375 "Incorrect ponyc version info"
with the release compiler

`0.8.0-9d2f9c4 [release] (llvm 3.8.1) (Apple LLVM version 8.0.0 (clang-800.0.38))`

with the debug compiler I get:

`0.8.0-9d2f9c4 [debug] (llvm 3.8.1) (�V�U�)`

Appears the debug build isn't picking up the compiler used to build it correctly.

[2016-10-27 23:37] SeanTAllen commented on #1375
@Theodus can you reproduce on Linux?

[2016-10-27 23:45] SeanTAllen commented on #961
I can't reproduce this anymore. I think we fixed it. Closing.

[2016-10-27 23:45] #961 closed

[2016-10-28 00:43] Theodus commented on #1375
I can't. This is my output:
`0.7.0-d78119d [debug] (llvm 3.8.1) (cc (Ubuntu 5.4.0)`

[2016-10-28 01:11] SeanTAllen commented on #1375
That helps narrow it down. Apparently, just OSX and just went debug.

[2016-10-28 02:32] SeanTAllen commented on #1375
@Theodus you implemented that correct? Is it supposed to be the compiler right now or the compiler used to build pony ?

[2016-10-28 02:35] Theodus commented on #1375
How would we know which compiler was used to build pony?

[2016-10-28 02:43] SeanTAllen commented on #1375
get that info at the time we are building in the Makefile.

[2016-10-28 02:44] Theodus commented on #1375
Is that what we do for the llvm version?

[2016-10-28 02:44] SeanTAllen commented on #1375
@Theodus can you verify this is your output for debug

`0.7.0-d78119d [debug] (llvm 3.8.1) (cc (Ubuntu 5.4.0)`

so, your version is `cc (Ubuntu 5.4.0`

?

the formatting calls for () around it so it looks like there's a problem with your formatting as well.

[2016-10-28 02:44] SeanTAllen commented on #1375
@Theodus yes.

[2016-10-28 02:51] Theodus commented on #1375
Sorry, I must have cut it off, the output was
`0.7.0-e519c41 [release] (llvm 3.9.0) (cc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4)`
The output of `cc --version` is `cc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4`

[2016-10-28 02:55] SeanTAllen commented on #1375
So the bug is this line:

`char buff[60]`

which is allocated on the stack and depending on what your compiler does, might not be available.

the correct c thing to do is allocate a known chunk of memory and deal with that...

like...

[code]

but then you need to release that memory.

[2016-10-28 02:59] SeanTAllen commented on #1375
something like this solves the bug:

[code]

that said I dont think we want to be picking this up at runtime. I think its supposed to be the compiler that we used to build BUT, i'm not sure of that.

Do you remember how this addition came about @Theodus ?

[2016-10-28 03:02] SeanTAllen commented on #1375
Ah here it is... #1245

So yeah, this isn't correct. Because its not the version we built with.

[2016-10-28 03:04] SeanTAllen commented on #1375
I'm reopening #1245

[2016-10-28 03:08] SeanTAllen commented on #1245
I reopened this issue because it displays the compiler at the time you run `ponyc --version` not the compiler we were built with. I'm unsure how to get the correct windows information but I suspect the code in `compiler_version` in `main.c` can lead the way.

For OSX/Linux, we want to add to our makefile a routine to get the compiler version. It should function like the existing c version and do

[2016-10-28 03:09] SeanTAllen commented on #1245
I'm marking as "needs discussion during sync" in case no one with Windows knowledge comes along before then to tell us how we can get this info at the correct time on Windows.

[2016-10-28 03:24] SeanTAllen commented on #1245
There's a problem with the above plan. When we run compile commands that use ALL_CFLAGS, we are apparently doing some form of command substitution on it so the defines can't have spaces nor can they have ( or ).

I need to remember by Make more but I think its related to using the shell function $(shell)

[2016-10-28 03:29] SeanTAllen commented on #1245
This btw will get your the first line the compiler version on Unix type platforms:

`cc --version | sed -n 1p`

[2016-10-28 12:06] SeanTAllen commented on #1374
Homebrew was merged during the night.

[2016-10-28 12:16] SeanTAllen commented on #1374
Announced. See y'all next time.

[2016-10-28 12:16] #1374 closed

[2016-10-28 12:18] SeanTAllen commented on #1352
We've had no flakey test failures since #1358 was merged in. looking good so far but I want to let it ride for another week and a decent chunk of more commits before I call it a success.

[2016-10-28 12:18] SeanTAllen commented on #1348
We've had no flakey test failures since #1358 was merged in. looking good so far but I want to let it ride for another week and a decent chunk of more commits before I call it a success.

[2016-10-28 12:19] SeanTAllen commented on #1347
We've had no flakey test failures since #1358 was merged in. looking good so far but I want to let it ride for another week and a decent chunk of more commits before I call it a success.

[2016-10-28 17:28] Theodus commented on #1245
@SeanTAllen should the `needs discussion during sync` tag be placed on the PR rather than the issue?

[2016-10-28 18:45] SeanTAllen commented on #1245
seems reasonable. i probably wont be at the next sync. hopefully someone there will be able tell us how to get the windows compiler version... another possibility. merge OSX/Linux support with a default value for windows. Open an issue for windows.

[2016-10-28 18:49] SeanTAllen commented on #1375
I'm closing this in favor of #1245.

[2016-10-28 18:49] #1375 closed

[2016-10-28 20:53] Perelandric opened #1377 "Generated C structs of library start with C-invalid (number) prefix."
Compiling the following program with `ponyc --library`...

[code]

We get a bunch of names that start with a `2` prefix, like:

[code]

If I go through and delete all the `2` prefixes, things work better except that it leads to the next problem.

---

We get the following code, which I _assume_ is required to run the Main constructor:

[code]

This requires an `Env` as the second argument, and we

[2016-10-29 02:54] luowuzhe opened #1378 "How to Turn On Multicore Computing"
[code]

[code]

[code]

[code]

[2016-10-29 02:58] SeanTAllen commented on #1378
You have one actor. Actors are the unit of concurrency. You wont ever run on more than 1 core.

This is really more of a mailing list question. In the future, please direct "how do I?" questions there:

https://pony.groups.io/g/user

We try to keep issues limited to bugs.

I'm happy to pick up this conversation with you on the mailing list and talk about designing for the actor model.

[2016-10-29 02:58] #1378 closed

[2016-10-29 03:46] luowuzhe commented on #1378
`use "collections"

actor Main
  new create(env: Env) =>

    var c: U64 = 1000
    for i in Range[U64](0, 100) do
      c = c * 10
      Aaa(env, i, c)
    end

actor Aaa
  new create(env: Env, index: U64, count: U64) =>
    env.out.print(index.string() + "," + count.string())

    var total: U64 = 0
    for i in Range[U64](0, count) do
      total = total + 1
    end

`

`top - 11:41:45 up  2:34

[2016-10-29 03:50] luowuzhe commented on #1378
@SeanTAllen

[2016-10-29 04:39] SeanTAllen commented on #1378
Please bring this up on the mailing list.

[2016-10-29 17:39] #1245 closed

[2016-10-30 00:35] SeanTAllen commented on #1370
Closed by #1372.

[2016-10-30 00:35] #1370 closed

[2016-10-30 00:38] SeanTAllen opened #1381 "Release 0.8.1"
Our regularly scheduled monthly release is coming on November 1st.

Looking at the current state of the CHANGELOG, there are no breaking changes so 0.8.1 seems appropriate.

I'll be traveling that day. Any takers for this?

@Theodus ?

[2016-10-30 01:11] jemc commented on #1381
Since there have been so may releases lately, should we delay the next one a while (to avoid extra administrative effort/fatigue)?

When we agreed to do monthly releases, I think the main goal was to make sure we didn't go too long without a release.  We've done 5-6 releases in the past month, so I think we're meeting this goal.

Maybe we should interpret the monthly release goal as meaning "don't

[2016-10-30 01:32] SeanTAllen commented on #647
This and #517 are the same problem.

In general what happens is, with a higher number of schedulers, when a scheduler goes to steal work or otherwise get work to do, it finds none available. This causes it to send a block message to the cycle detector (the message causes a memory allocation). They do this every time they try to run, which results in a ton of block messages being sent. Combine this

[2016-10-30 01:32] SeanTAllen commented on #517
This and #647 are the same problem.

In general what happens is, with a higher number of schedulers, when a scheduler goes to steal work or otherwise get work to do, it finds none available. This causes it to send a block message to the cycle detector (the message causes a memory allocation). They do this every time they try to run, which results in a ton of block messages being sent. Combine this

[2016-10-30 01:35] SeanTAllen commented on #1381
I think saying that the first of every month we do a release if there hasn't been on in the last month would be good. That could result in something up to close to 2 months between releases but at our current rate, that seems unlikely. Thoughts @jemc @Praetonus? I'm good with the general idea.

[2016-10-30 02:13] SeanTAllen commented on #1381
If @Praetonus signs off on the above to go along with @jemc's thumbs up, I'll close this and we can operate under the updated plan.

[2016-10-30 02:21] SeanTAllen opened #1382 "TCPExpect testing coverage gap"
I am making changes in the Sendence version of `TCPExpect` to try out some possible performance improvements and noticed a gap in the test coverage for `TCPExpect`.

We don't verify after expect has been set to a non zero value and we read some data that setting it to 0 will result in all remaining data being read.

[2016-10-31 09:33] Praetonus commented on #1381
I agree with that.

[2016-10-31 10:01] Praetonus commented on #1377
The first problem occurs because names can start with a digit in LLVM, but can't in C. I guess it could be fixed by switching around the object type and the cardinality, e.g. with `u2_*` in this case.

The second problem is a reachability problem. When compiling a program (or a library), the compiler walks through every type that can be used and every function that can be called and generates code

[2016-10-31 14:48] Perelandric commented on #1377
Thanks @Praetonus. That did get me further. Because there's no public constructor for `AmbientAuth`, and the library only generates `2u_AmbientAuth_val_None_val_Alloc`, I guess there's no way to establish authority?

I don't ultimately need `Main`, and in fact I'd rather just have this as a library, but either way it does need to work with files. Is this an intentional limitation, or am I missing

[2016-10-31 14:51] malthe commented on #423
In a comment on this issue, @andymcn mentions that avoiding deadlocks is possibly the biggest motivator of using actors in the first place.

To me it's more related to the memory model – actors delineate which isolate an object belongs to – and that actors run sequentially. I don't think being able to wait on a promise undercuts the value of being actor-based:
[code]
The `await` statement blocks t

[2016-10-31 15:20] Praetonus commented on #1377
I think the only way to solve this would be to use `export`.

I don't see the limitation you're speaking about, can you give some details? C-API actors can have arbirtrary names and behaviour parameters.

[2016-10-31 15:24] jemc commented on #1377
It seems like we definitely should treat them as reachable - codegen of those types will be required for any use of those behaviours.

[2016-10-31 15:31] Praetonus commented on #423
@malthe The issue here isn't just blocking (like an HTTP request handler), it's mutual blocking aka deadlocking. Actor A starts waiting on a promise meant to be fulfilled by actor B while B is already waiting on a promise meant to be fulfilled by A. This kind of thing is hard to debug and it basically put the most of the traditional thread & mutex problems back on the table.

It's possible to impl

[2016-10-31 15:35] Praetonus commented on #1377
@jemc Yes, it definitely seems like a bug if you put it like that.

[2016-10-31 15:45] Perelandric commented on #1377
@Praetonus As to the limitations, I'm referring to anything that requires `AmbientAuth`. If we don't have `Main`, I'm not sure how we would get the needed authority to, for example, operate on the file system... unless the same `Env.create` approach would be used in that case?

[2016-10-31 15:55] jemc commented on #1377
Maybe we need a `pony_ambient_auth_create()` C function in the runtime?  This would allow C (or FFI) users to "violate capabilities" by creating an `AmbientAuth` out of thin air, but would still preserve capability safety for non-FFI applications.

[2016-10-31 16:03] Praetonus commented on #1377
@Perelandric When building a library, `Main` isn't a special name. You can name your C-API actors however you want and give them arbitrary parameters. So you could have a `create(a: AmbientAuth)` in `actor @Something`.

The C FFI should have absolute ambient authority so not being able to pass `AmbientAuth` in would be problematic. I think the best solution would be to export reachable primitives

[2016-10-31 16:09] jemc commented on #1377
Out of curiosity, will this create any problems with your stateful primitives RFC?

[2016-10-31 16:13] Praetonus commented on #1377
I don't think it would. The C program could access the inner state and modify it but that's nothing new.

[2016-10-31 16:21] Perelandric commented on #1377
@Praetonus Thank you, I think I get it now. There is a `AmbientAuth_Alloc()` function generated, so maybe that would be enough? My testing is limited by the numeric prefix issue but it does make it compile anyway.

[2016-10-31 16:26] Praetonus commented on #1377
That would work, yes. The `*_Alloc` functions just return the global instance for primitives.

[2016-10-31 17:27] #1381 closed

[2016-10-31 21:24] malthe commented on #423
It's a tool that can be problematic in the wrong situation. That doesn't mean it's a bad tool.

[2016-10-31 21:40] Praetonus commented on #1305
I'm going to write up a RFC if you're not already on it @Theodus.

[2016-10-31 21:52] Praetonus opened #1385 "Sendable members in recover expressions are broken"
I implemented this a couple months ago (ab98037) and I just realised it absolutely doesn't work for local variables because of the order in which the error checking occurs.

This is a reminder for me to eventually fix the problem, or for somebody else if anyone wants to have a go.

[2016-10-31 22:34] Theodus commented on #1305
@Praetonus go fot it!

[2016-11-01 01:59] SeanTAllen commented on #423
¯\_(ツ)_/¯. I'm not in favor of this and I seriously doubt I ever will be.

[2016-11-01 04:46] jemc commented on #1385
1. What's wrong about the order - can you be explicit?
2. Do you have a minimal case that shows the issue?

I'm currently mucking around in this corner of the compiler, and may be able to address this if you let me know more about the issue.

[2016-11-01 15:29] Praetonus commented on #1385
The main problem is that the check for the use in a `recover` of a variable defined outside of that `recover` preempts the checks I've implemented when accessing a field or method of that variable. The same problem exists for fields.

[code]

This should work, but currently it gives `can't access a non-sendable local defined outside of a recover expression from within that recover expression`.

Th

[2016-11-02 19:39] killerswan commented on #1208
I've now got the FPM stuff sorted out so I'm going to have another stab this afternoon.  😇

[2016-11-02 19:56] jemc commented on #1377
So it looks like the only remaining action item here is to fix the prefixes so that they do not start with a number, since this is invalid C.

The rest of the needs in this ticket should be addressed via the upcoming https://github.com/ponylang/ponyc/issues/1342.

[2016-11-02 20:14] jemc commented on #317
A concrete path forward was never decided, and this is the kind of change that would need to go through our RFC process now that we have that process.

I'm going to mark this as "turn into rfc" and close this ticket, in favor of moving to the RFC repo.  I've opened an RFC request here: https://github.com/ponylang/rfcs/issues/65

[2016-11-02 20:14] #317 closed

[2016-11-02 20:23] jemc commented on #701
This should go through the RFC process.  Closing in favor of https://github.com/ponylang/rfcs/issues/66

[2016-11-02 20:23] #701 closed

[2016-11-02 20:25] Theodus opened #1388 "RFC: Custom Serialization"
This feature would allow the programmer to specify custom serialization/deserialization that would be run as part of Pony's built-in serialization/deserializaton process.

[https://github.com/ponylang/rfcs/blob/master/text/0021-custom-serialization.md](https://github.com/ponylang/rfcs/blob/master/text/0021-custom-serialization.md)

[2016-11-02 20:27] Theodus opened #1389 "RFC: Unsafe Operators"
Add a set of operators mapping to the unsafe math operations.

https://github.com/ponylang/rfcs/blob/master/text/0022-unsafe-operators.md

[2016-11-02 20:30] Theodus opened #1390 "RFC: Require programmer to implement network failure handling"
Remove default implementations currently provided for failures on `TCPConnectionNotify`, `UDPNotify` and `TCPListenNotify`.

https://github.com/ponylang/rfcs/blob/master/text/0023-network-dont-provide-default-implementation-for-failures.md

[2016-11-02 20:32] Theodus opened #1391 "RFC: Concise Lambda Syntax"
This proposal shortens the lambda literal syntax to match the concise lambda type syntax.

https://github.com/ponylang/rfcs/blob/master/text/0024-concise-lambda-syntax.md

[2016-11-02 23:18] SeanTAllen commented on #1390
This is a breaking API change and should be noted as such via CHANGELOG when done.

[2016-11-04 16:40] Theodus opened #1393 "Type alias is not return type of match expression"
This is the simplest example I could get which causes the problem:
[code]
Output:
[code]
In the line `Foo[B](lambda(s: String)(f): SomeT[B] =>`, if `SomeT[B]` is replaced with the equivalent type `((B^, String) | String)` the code compiles.
``

[2016-11-05 10:21] aochagavia commented on #434
What is the status of this?

[2016-11-05 14:10] SeanTAllen commented on #434
Closed because it's resolved. Please see the README for Windows install instructions

[2016-11-05 20:54] #1334 closed

[2016-11-05 21:09] Theodus opened #1396 "Bad error message when not enough type arguments in method call"
Code:
[code]
Output:
[code]
The error message shows the method definition rather than the location of the error.

[2016-11-05 21:47] Theodus commented on #1396
Update: the error message is fine when the method has more than one type arg.

[2016-11-06 15:37] enigma opened #1398 "Unreported "internal failure" for instantiating an intersection type."
[code]
The compiler exits with `Error: internal failure not reported` when running with `0.8.0-d9f75a8 [release]`.
This also happens if I make Marker a trait.
This does not happen when I don't call `Breaks(x)` or if I remove `& Marker` from `Breaks`'s definition.

I don't know what the reason to error is, but if the definition is invalid I'd expect the compiler to say so just by looking at the def

[2016-11-06 17:01] enigma opened #1399 "Why String.split uses the delim input as set of chars instead of Regex pattern or string delim?"
Eg:
[code]

prints:
[code]

`alternative_split` is still not that great now as one has to escape regex special symbols. Also using `Regex` involves a lot of partial methods.
Given `String.split` takes a string I'd expect a behaviour more similar to what Python does:
[code]

My understanding is that this doesn't matter for the default argument behaviour, ie split by whitespacy symbols.

Could the s

[2016-11-06 17:35] Praetonus commented on #1398
Thanks for the report.

The error is in `expr/postfix.c:constructor_type`. The function should handle `TK_UNIONTYPE` and `TK_ISECTTYPE` in the same way it handles `TK_TYPE`, `TK_INTERFACE` and `TK_TRAIT`.

[2016-11-07 03:38] SeanTAllen opened #1402 "Deb packages don't work on WLS"
I'm trying out the Window's Linux Subsystem in Windows 10. I installed ponyc 0.8.0 via our bintray as per instructions in the README. It installs fine but does nothing. You can run ponyc without errors but it doesn't do anything.

`ponyc --version` prints nothing nor does anything else. its like it starts and ends without doing anything.

I'm opening an issue for this as we should look into eventu

[2016-11-07 07:01] Praetonus commented on #1398
This is resolved by 248fd02.

[2016-11-07 07:01] #1398 closed

[2016-11-07 15:03] #1396 closed

[2016-11-07 15:09] jemc commented on #1391
Implemented in #1401.
Tutorial updated in https://github.com/ponylang/pony-tutorial/issues/166.
Pony Patterns updated in https://github.com/ponylang/pony-patterns/issues/18.
Sublime Text Syntax Highlighter updated in https://github.com/ponylang/sublime-pony/issues/6.

[2016-11-07 15:09] #1391 closed

[2016-11-07 18:47] SeanTAllen commented on #1391
So lambda as a keyword is entirely gone and all code will need to be updated yes?

[2016-11-07 18:49] Theodus commented on #1391
@SeanTAllen yes

[2016-11-08 07:21] Praetonus commented on #1402
Can you try running it in a debugger to see if it gives any information?

[2016-11-08 18:45] jupvfranco opened #1404 "threadring used to be really fast and now it is either too slow or it does not terminate"
Hi All,

I believe that there is some problem with the newest version of pony.
I'm running a version of the threadring benchmark ([main.pony.zip](https://github.com/ponylang/ponyc/files/579036/main.pony.zip) ) and it does not use all the cores available in the machine, and it is taking far too long. I actually stopped its execution after a few minutes, so it might be that it does not terminate.

I

[2016-11-08 19:09] Praetonus commented on #1404
The program runs fine for me without `--ponynoblock`. @SeanTAllen You said a couple weeks ago that you were going to do some modifications on `--ponynoblock`. Could it be the cause?

Note that the 32 threads usage without `--ponythreads` isn't a bug. Pony uses the number of physical cores available by default.

[2016-11-08 19:23] Praetonus commented on #1404
After some investigations, it seems that there is indeed a problem introduced between the two commits you referenced. On my machine, the program launched with more ponythreads than the amount of available hyperthreads never terminates.

[2016-11-08 20:23] jemc commented on #1404
I think this comment (https://github.com/ponylang/ponyc/issues/647#issuecomment-257126350) is the relevant one.

[2016-11-08 21:22] Praetonus commented on #1404
Thanks @jemc. I've investigated the problem more and I don't believe it is related to `--ponynoblock`.

The problem is related to the refactor of the scheduler queue in 0f8ebb5. The schedulers are hitting a degenerate contention case in the inject queue. It doesn't block the program but it seriously slows it down. I'll try a fix.

[2016-11-08 21:44] Praetonus commented on #1404
@jupvfranco I've pushed a fix to #1405. Can you try it and see if it fixes the problem for you?

[2016-11-08 22:40] jupvfranco commented on #1404
It seems to be working! Thanks

```time ./pony 128 10 500000  --ponynoblock```
[code]

[2016-11-08 23:07] Praetonus commented on #1404
Great!

[2016-11-08 23:15] jemc commented on #1404
Solved by #1405.

Thanks to @jupvfranco for reporting, and thanks to @Praetonus for quite a speedy fix!

[2016-11-08 23:15] #1404 closed

[2016-11-08 23:58] jemc commented on #1399
I haven't looked at this in detail yet, but it's possible we might want to consider this as a "principle of least surprise bug".  I'm adding the "needs discussion during sync" label so we can discuss it at the next public weekly meeting.

[2016-11-09 00:15] Praetonus opened #1407 "Investigate compilation to WebAssembly"
In the same vein as GPUs (#1330) LLVM has an experimental WebAssembly backend. A Pony-in-a-browser proof of concept would be great.

[2016-11-09 00:22] Praetonus commented on #876
I'm going to mark this as needs discussion to finally sort out the `_` stuff. When it is resolved, the issue can be closed since the rest of the discussion has moved to @Perelandric's RFC.

[2016-11-09 00:24] Praetonus commented on #1184
I'm going to remove my assignment on this one for now. I've started working on JIT stuff and I expect it take most of my Pony development time.

[2016-11-09 01:20] jemc commented on #1407
Possibly helpful information from Rust land: https://users.rust-lang.org/t/compiling-to-the-web-with-rust-and-emscripten/7627

[2016-11-09 11:34] SeanTAllen commented on #1399
When this came up on IRC, I was very surprised. I consider this a bug.

[2016-11-09 13:21] sgebbie opened #1408 "Delegate compilation fails with multiple compilation units."
When using delegates (i.e. `let x: D delegate T = D`) I am unable to compile the program if some of the types are split across compilation units.

More specifically, if the "delegator" is declared in a different file to the "delegatee" (implementor) then code fails to compile and I receive errors of the form:

    Error:   .../delegate_actor_types.pony:2:31: declaration of 'h' appears after use

[2016-11-09 19:22] Praetonus commented on #1408
I'm going to mark this as needs discussion since we must settle on something for delegates as a whole.

[2016-11-09 19:39] SeanTAllen commented on #1408
I'd like to kill off delegates. I've yet to find a good use case for them. I understand what they were trying to accomplish but I don't think they do it well. I've yet to find a case of something that can't be done with a trait or interface that can be done with a delegate.

[2016-11-09 19:40] SeanTAllen commented on #1402
What sort of information? It doesn't crash or anything of the sort. It just does, nothing.

[2016-11-09 19:56] Praetonus commented on #1402
If you put a breakpoint on `main` in the debugger, does the program stops on it? If it does, what is the assembly code for `main`?

[2016-11-09 19:57] Praetonus commented on #1408
I agree with that.

[2016-11-09 21:25] SeanTAllen commented on #1399
Discussed on sync. This is a "principle of least surprise bug".

[2016-11-09 21:26] SeanTAllen commented on #1399
@enigma do you want to take this on? If yes, I can add you as a read only contributor so you can be assigned to the issue.

[2016-11-09 21:39] Theodus opened #1409 "RFC: Sugar for Method Chaining"
Introduce a syntax sugar for invoking a method such that the return value is discarded and replaced with the object itself allowing further operation.

https://github.com/ponylang/rfcs/blob/master/text/0025-sugar-for-method-chaining.md

[2016-11-09 21:41] Praetonus commented on #1409
I have an almost ready implementation for this so I'll assign myself.

[2016-11-09 21:44] Theodus opened #1410 "RFC: Subtype Checking"
Add a language construct allowing programmers to get information on subtyping relationships.

https://github.com/ponylang/rfcs/blob/master/text/0026-subtype-checking.md

[2016-11-09 22:05] jemc commented on #1408
I'm not particularly attached to `delegate`.  Every time I've tried to use that keyword in a real world context, there's a reason why it doesn't quite work for what it's supposed to.

[2016-11-09 23:34] #1377 closed

[2016-11-09 23:59] Praetonus commented on #1410
I'm going to implement the `iftype` expression first since the change is straightforward. Function specialisations will require more work and will come later.

[2016-11-10 08:12] sgebbie commented on #1408
Fair enough, I was in fact changing my code from using traits to using the delegate mechanism. Also, I must admit that while the mechanism seemed useful, it did not seem to fit into the language as cleanly as other features.

[2016-11-10 21:50] enigma commented on #1399
@SeanTAllen yes please!

[2016-11-10 22:35] SeanTAllen commented on #1399
O wow. we can assign people who aren't team members now @jemc ?

[2016-11-10 22:54] jemc commented on #1399
@SeanTAllen - I assumed you had already added him.

But now that you mention it, I think maybe you can assign someone who is already participating in the ticket (or maybe the requirement is that they filed the ticket?).

[2016-11-11 03:29] Praetonus commented on #1328
I've encountered another instance of this bug.

[code]

Here, `cap_aliasing` treats `#any!` as `#alias`, and then `is_cap_sub_cap_bound` says that `#alias` is a subtype of `ref`.

[2016-11-11 04:14] jemc commented on #1328
To give an update on this, the fix that was discussed earlier seemed not to do the trick.

My plan is to check in with @sylvanc next wednesday to discuss the issue in depth and find the appropriate approach.  However, I've unassigned myself in case anyone else wants to take a shot between now and then.

[2016-11-11 18:07] SeanTAllen opened #1413 "Memory leak in Pony Serialization"
I found a memory leak in pony serialization. I'll be opening a PR for it later today. @sylvanc has already reviewed. He pointed me at the specific cause.

Given how quickly memory usage grows, I've labeled this as high priority and worthy of a release. @ponylang/committer if you disagree, let me know.

Current state of this bug is, if your program uses pony serialization, it will OOM if you call p

[2016-11-11 18:13] jemc commented on #1409
This was marked closed by #1411, but I'm not sure it took care of the full scope of the RFC.

Specifically, I think the remaining work is to revise APIs that return `this` to return `None` (or something else).  I do believe this is part of the scope of the RFC, but perhaps there is disagreement on this point?

[2016-11-11 18:17] Praetonus commented on #1409
@jemc I don't think it is part of the RFC but I was planning to do a PR on that after the method chaining itself was in. I'll open that PR soon.

[2016-11-11 18:19] jemc commented on #1409
Okay, fair enough.  I'll close this for now.  I suppose an RFC would be a good place to discuss what the best meaningful return values for the changed methods should be, instead of resetting them all to `None`.

[2016-11-11 18:19] #1409 closed

[2016-11-11 18:26] SeanTAllen commented on #1399
@jemc that's a pretty cool change. i don't think it used to be that way.

[2016-11-11 20:02] #1413 closed

[2016-11-11 20:35] Praetonus opened #1415 "Call auto-recovery for trn"
[code]

Because of the current rules for auto-recovery (arguments and return value must all be sendable), this code isn't allowed. However, it seems to me that it would be safe to auto-recover a call on a `trn` receiver if the arguments and return value are all sendable or `box`.

[2016-11-11 20:43] Praetonus commented on #1415
And with the same idea, wouldn't it be safe to allow accessing `box` objects from within a `recover` to `trn` or `val`?

[2016-11-11 20:46] Praetonus commented on #1415
Wait, no, that's not safe since `box` can have `ref` aliases. I don't know what I was thinking.

[2016-11-11 20:46] #1415 closed

[2016-11-11 21:16] SeanTAllen opened #1416 "Release 0.9.0"

[2016-11-11 21:25] SeanTAllen commented on #1416
If all goes well, the blessed commit will be 4919f93

[2016-11-11 22:53] SeanTAllen commented on #1416
please commit is looking good

[2016-11-11 22:54] SeanTAllen commented on #1416
appveyor and travis are looking good

[2016-11-11 22:57] SeanTAllen commented on #1416
Merged and pushed to release branch. Tagged as well.

[2016-11-11 22:59] SeanTAllen commented on #1416
CHANGELOG updated on master.

[2016-11-11 23:01] SeanTAllen commented on #1416
CHANGELOG added to releases

[2016-11-11 23:04] SeanTAllen commented on #1416
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/6841

[2016-11-11 23:05] SeanTAllen commented on #1416
@stefantalpalaru release underway

[2016-11-11 23:05] SeanTAllen commented on #1416
Windows release is available via Bintray.

[2016-11-12 01:07] SeanTAllen commented on #1416
Deb and RPM packages are available via Bintray.

[2016-11-12 03:28] stefantalpalaru commented on #1416
Gentoo ebuild updated.

[2016-11-12 03:48] SeanTAllen commented on #1416
Thanks @stefantalpalaru !

[2016-11-12 03:48] SeanTAllen commented on #1416
Homebrew update passed all tests. Just waiting on that to be merged.

[2016-11-12 13:03] SeanTAllen commented on #1416
Homebrew PR merged.

[2016-11-12 13:16] SeanTAllen commented on #1352
This seems to have been fixed by #1358, closing.

[2016-11-12 13:16] #1352 closed

[2016-11-12 13:19] SeanTAllen commented on #1416
Announced. See y'all next time.

[2016-11-12 13:19] #1416 closed

[2016-11-12 13:19] SeanTAllen commented on #1399
@enigma shall i mark this as in progress?

[2016-11-12 13:20] SeanTAllen commented on #1347
This seems fine since #1358. Closing. Will see if that turns out to be wise.

[2016-11-12 13:20] #1347 closed

[2016-11-12 13:20] SeanTAllen commented on #1348
This seems fine since #1358. Closing. Will see if that turns out to be wise.

[2016-11-12 13:20] #1348 closed

[2016-11-12 18:28] Theodus commented on #937
I have not been able to reproduce this with recent versions of Pony.

[2016-11-12 18:30] SeanTAllen commented on #937
interesting

[2016-11-12 18:45] Theodus opened #1417 "httpserver example consumes all memory under load"
When running the httpserver example and running `siege -c100 -r1000 -b 127.0.0.1:50000` the memory usage increases rapidly and the memory is not freed until the server is killed. Add another 0 to the `-r` flag and all of my 7.7GiB of memory will be consumed as well as a few GiB of swap.

[2016-11-12 20:36] Praetonus commented on #1417
I ran it with massif (a heap usage profiler), I'll attach the file if anyone wants to look at it. [httpserver_massif.zip](https://github.com/ponylang/ponyc/files/587426/httpserver_massif.zip)

I'm not really sure what's happening but it looks like many individual actors are allocating things and aren't hitting the required threshold for garbage collection, thus resulting in memory usage growth.

[2016-11-12 21:58] jemc commented on #937
Could it have been fixed by #1321 or #1405?

[2016-11-12 22:14] Praetonus commented on #937
@jemc That's very unlikely for #1321 and definitely not #1405.

[2016-11-13 01:32] SeanTAllen commented on #1417
Can you also try w ponynoblock?

[2016-11-13 12:19] enigma commented on #1399
@SeanTAllen Yes please. I don't think I can change any label.

[2016-11-13 15:59] Theodus commented on #1417
With ponynoblock the memory consumption seems to be more rapid.
Here is the massif output for httpserver with and without ponynoblock:
[httpserver_massif.tar.gz](https://github.com/ponylang/ponyc/files/587836/httpserver_massif.tar.gz)

[2016-11-13 17:37] dipinhora commented on #1417
I believe this is related to the same GC edge case as #1007 where actors that don't create enough garbage to trigger GC with their behavior calls (as @Praetonus noted) and don't have additional behavior calls to generate more garbage don't get GC'd resulting in the runaway memory growth.

[2016-11-13 22:14] Perelandric commented on #937
Commit f9591b2ed4ee95b5db181574c030da22531a13ad seems to be the first commit that doesn't segfault.

[2016-11-14 15:59] kcrimson commented on #1390
This looks like an easy one, if no one is working on it I can take it

[2016-11-14 16:35] Theodus commented on #1390
@kcrimson Go for it! Shall I mark it as in progress?

[2016-11-14 21:27] kcrimson commented on #1390
Yes :)

[2016-11-14 23:50] SeanTAllen commented on #1417
We are experiencing a similar issue with our app @ sendence. We are currently trying to formulate a short term fix and then start working on a longer term fix. I suspect that fix might address this issue as well.

[2016-11-15 03:04] Praetonus commented on #937
@Perelandric That's interesting. I guess there is a bug somewhere in the code generation for GC tracing. I'll look into it.

[2016-11-15 05:06] Praetonus opened #1420 "PonyBench has minor bias"
Because of the way the lambda function for the benchmarking is passed around (e.g. in `_Bench.apply`), the benchmarked code will be executed through a virtual call. This introduces a minor overhead as the function call is included in the measurement. I'm not sure how to fix this.

[2016-11-15 12:11] kcrimson commented on #1145
@Triangle345 I think current ast format is fine, I am playing with Atom package with auto-completion (back after months of procrastination :) ), the thing that is missing is buffer coordinates in AST output. It would be pretty easy to add them, just modify ast.c:print family of methods. At least this would be easy then for Atom to digest this input :)

[2016-11-17 15:36] Perelandric commented on #1097
@SeanTAllen It seems like something needs to change, even if just the docs.

Currently if you pass an `Array[U8]` with the `0` byte as the last member, you get back a string that includes that `0` byte at the end. If that's the intended behavior, then it seems like either:
 - the docs should be updated to no longer suggest that the string will use the `0` as the null terminator.
 - the trailing `0

[2016-11-17 17:49] SeanTAllen commented on #1097
The 0 should have no special meaning. Can you update accordingly @Perelandric ?

[2016-11-17 18:34] Perelandric commented on #1097
Yes, I'll do a pull shortly.

[2016-11-18 20:42] Perelandric opened #1425 "String.is_null_terminated assumes _size < _alloc"
The current implementation of `String.is_null_terminated` is:

[code]

This would seem to point into arbitrary memory when `_alloc` and `_size` are the same (in other words, when the String is not null terminated).

[code]

[2016-11-18 20:43] Perelandric opened #1426 "String.space assumes the string is null-terminated"
The current implementation of `String.space` is:

[code]

This assumes that `_alloc` will always be greater than `_size`, resulting in faulty output.

For example:

[code]

Output:

space:7

[2016-11-18 21:16] Perelandric opened #1427 "String.truncate assumes the string is null-terminated"
When a string is truncated to its own `.size()`, there should be no change in the string data, but a non-null-terminated string loses its last character.

[code]

[code]

[2016-11-19 21:23] Perelandric commented on #1427
I don't exactly know how to fix this since the current `.truncate()` behavior is surprising in that you can truncate to a value *larger* than the `_size` as long as it's less than the `_alloc`. This means that you can truncate a string down and then back up, and you'll have a `0` byte where the null terminator was inserted. It would also seem to pose potential security issues.

[code]
Output:
[cod

[2016-11-21 02:12] Praetonus opened #1431 "Improve the heap to stack optimisation pass"
This optimisation pass, which turns heap allocations into stack allocations, currently doesn't handle stores at all and gives up as soon as it sees one.

Line 314 of `genopt.cc` says "if we store the pointer in something that is stack allocated is it still captured?" The answer to this question is to find all the loads clobbered by the store and to treat them as derived pointers (i.e. the original

[2016-11-21 11:41] Praetonus commented on #1417
Running the program with a low `--ponygcinitial` causes segfaults in various locations. Maybe it's the same premature free bug as #1118.

[2016-11-21 17:55] Praetonus commented on #1186
I've made some progress on this. The assembly code generated by ponyc and by clang (with IR from ponyc) is different.

For @Perelandric's minimal example we get this from ponyc

[code]

and this from clang

[code]

The thing is, when we exit from `pony_throw`, we skip the instruction right after it. So the code from ponyc doesn't restore the stack correctly and jumps to a garbage address.

I still

[2016-11-21 18:09] Praetonus commented on #1186
Update: compiling from IR to assembly with clang with `-O3` gives the same code (and the same crash) as ponyc. The bug is definitely coming from the landing pad location.

[2016-11-21 22:22] Praetonus commented on #1186
Apparently it only occurs in small functions with conditional branching (tested only on x86_64).

[2016-11-21 22:56] pdtwonotes opened #1433 "Pony repo at dl.bintray.com needs signing"
I tried to add the ponylang repository to my Ubuntu system and it refused, saying that the package was not signed.

There are instructions on how to do this at https://blog.bintray.com/2014/12/16/hosting-debian-packages-on-bintray-rocks/

[2016-11-22 00:59] Perelandric opened #1435 "String.from_iso_array does not set the null terminator when preallocated space exists."
Creating a string from an `Array[U8]` that has some pre-allocated space gives an inconsistent result when `is_null_terminated()` is invoked because the first byte of the pre-allocation is not set to `0`.

[code]

[2016-11-22 13:27] Praetonus commented on #1186
I've looked at the personality function for C++ in GCC and it does the same thing we're doing for the relevant part.

The problem appears to be in the LSDA data, the landing pad offset (retrieved at `lsda.c:232`) can be off by one instruction.

I'm a bit lost at that point. A bug in the LSDA generation seems unlikely but I don't really see what else could be wrong.

[2016-11-22 14:40] #1435 closed

[2016-11-23 20:35] killerswan commented on #1208
Hmm.

[2016-11-23 20:59] jemc commented on #1408
In the sync call we discuessed that removing delegate would be a good idea.  We need to open an RFC that says we're removing `delegate`, put it into final comment period, and give folks one last chance to speak up in favor of keeping it.

[2016-11-23 21:05] jemc commented on #1393
`B #any ^` is definitely a subtype of `B^`.

I think this may be another example of the type param subtype checking being broken.  See also #1328.  I'm leaving both tickets open to make sure we solve both when we fix this part of the compiler.

[2016-11-23 21:08] jemc commented on #1193
This is also a symptom of our type param subtype checking being broken.  See also #1328 and #1393.

[2016-11-23 21:12] jemc commented on #876
@sylvanc suggests that we look at getting rid of `TK_DONTCARE`, allowing `_` as a `TK_ID`, and giving it special treatment in various places (allowing it to be shadowed, not allowing to read from it, etc).

[2016-11-23 21:15] jemc commented on #665
This can be considered finalized.  @sylvanc's comment (https://github.com/ponylang/ponyc/issues/665#issuecomment-203606308) should be what we implement for this.

[2016-11-23 21:18] jemc commented on #318
This is now a "turn into RFC" candidate.

If you're interested in doing an RFC for this, please listen to the sync call recording for today (Nov 23, 2016) where @sylvanc discusses some subtleties that we need to be aware of if we implement this.

[2016-11-23 21:18] #318 closed

[2016-11-23 21:21] #1425 closed

[2016-11-23 21:23] #1426 closed

[2016-11-23 23:04] Lordovos opened #1437 "PDB 'libponyrt.pdb' was not found"
Every time I compile, the compiler emits a slew of warnings (as seen [here](https://gist.github.com/anonymous/611e7ab5168faa0894e5a0bc127f7a2a).) The programs themselves work fine, but I'm unsure as to what the warnings mean. I'm using Windows 10 and compiling with version master-0.9.0-19c1111 of the compiler.

[2016-11-23 23:14] Praetonus commented on #1437
Thanks for the report.

I suspect this is an issue with the way Bintray binaries are packaged.

[2016-11-24 01:43] Perelandric commented on #1427
Since Praetonus pointed out to me that preallocated space in arrays does not get zeroed in a release build, it seems like it would be a potential heartbleed-esque security issue to allow `String.truncate()` to continue to accept a value greater than `_size` unless it zeros that memory.

So do we:
 - Change the current behavior to cap the truncated value to the `_size`
 - Keep the behavior, and zer

[2016-11-24 09:10] sylvanc commented on #1427
There's another case in `builtin` that allows access to uninitialised memory:

[code]

Here, `memory` has access to a megabyte of uninitialised memory.

Both "truncate to expand" (which follows the same model as `truncate` for files on Linux) and "undefined to expand" result in exposing uninitialised memory, and for the same reason: performance. For example, creating a large array of numbers which

[2016-11-24 09:18] sylvanc commented on #1208
@killerswan does the "Recommends" approach not work? That is, having a single package that tries to install ncurses-compat but doesn't strictly require it?

[2016-11-24 10:15] Praetonus commented on #1427
I agree with @sylvanc.

I think the main issue here is the null terminator. We don't inherently need it, maybe it would be good to only care about it in `cstring` by lazily adding it when the function is called.

[2016-11-24 15:22] Perelandric commented on #1427
Thanks everyone.

I think I may have been confused on one thing. Does the allocator ensure that the previous data in that new memory location has been in some way overwritten? I understood that it does not, but I see the `undefined` docs say something about populating elements with random memory.

[2016-11-24 15:30] Praetonus commented on #1427
No, that's not guaranteed. The `undefined` docs mean that the contents of the `Array` isn't predictable since it will use the memory as is. Maybe "random" isn't the best choice of word here.

[2016-11-24 16:29] Perelandric commented on #1427
Thanks for the clarification @Praetonus.

I have several questions, but I think I'll take most of them to IRC.

If we lazily null-terminate, then is `is_null_terminated` would seem to just become `_alloc > _size` (and perhaps be renamed), since `cstring` would simply add the `0` in that case, otherwise create a terminated copy. Other things will be impacted too, like `space` should always return `

[2016-11-24 16:45] rurban commented on #665
plus static, right?

[2016-11-24 16:47] Praetonus commented on #1427
I think we could even remove `is_null_terminated`. Yes, that would be a pretty big change, a RFC on that would have to consider all of those cases. Also, to be efficient, I think it would need some specialisation on `ref` vs `val` receiver for `cstring`, to lazily write for `ref` and to copy and write for `val`. I've been thinking about a RFC on that for some time, I'll have to write it up.

[2016-11-24 16:47] sylvanc commented on #665
As in `static` to prefer a static library even when a dynamic one is present? If so, yes, I think that's a good idea.

[2016-11-24 17:18] Perelandric commented on #1427
Then for now I'm going to simply fix the case that chops off the last byte, and leave the case that inserts a null byte in the middle. That way it's partially fixed, and this can be closed and discussion moved to your forthcoming RFC.

I'll post the questions I have surrounding "expand to greater" on IRC at some point in the future.

[2016-11-25 07:06] btab opened #1440 "Windows 10 Compile Error 'unable to locate Visual Studio 14.0'"
Per https://github.com/ponylang/ponyc/blob/master/README.md#installation...

1. downloaded https://bintray.com/pony-language/ponyc-win/download_file?file_path=ponyc-release-0.9.0-1990.5a0bd57-win64.zip
2. downloaded and installed all parts of https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk

Created a simple hello world and attempted to compile (invoking ponyc.exe)...

    Bu

[2016-11-25 21:13] dipinhora commented on #837
We're running into this again.

I've only run these examples on Ubuntu 16.04 so far. I'll confirm on OS X soon. Output of `uname -a`:
[code]

The following two example programs both result in uncontrolled memory growth. Both have notes as comments for when memory growth occurs/doesn't occur if certain changes are made to them.

[code]

[code]

[2016-11-26 15:08] dipinhora commented on #837
I've confirmed this issue occurs on OS X. Both OS X and Linux testing were done with LLVM 3.8.1 and HEAD from master for ponyc.

[2016-11-27 14:18] SeanTAllen opened #1441 "Lambda capture types aren't inferred correctly"
This issue comes from a short discussion with @sylvanc.

I have a method `fun _index_for(id: SeqId): USize ?`.

I add a lambda capture such as

[code]

where `_seq_id_to_incoming` is `Array[(SeqId, (Producer tag, U64 val, U64 val))] ref`.

The method no longer compiles.

I get an error...

[code]

This can be addressed by specifying a type for the capture such as:

[code]

However, in the end, the

[2016-11-28 13:50] Praetonus opened #1442 "RFC: Program annotations"
Add a way to annotate elements in the source code with arbitrary strings.

https://github.com/ponylang/rfcs/blob/master/text/0027-program-annotations.md

[2016-11-29 14:49] Praetonus opened #1444 "Every AppVeyor build is failing"
Recently, all AppVeyor builds have failed with this error: `'llvm-config' is not recognized as an internal or external command, operable program or batch file.`

The last succeeding build is [this one](https://ci.appveyor.com/project/ponylang/ponyc/build/ponyc-master-0.9.0-2020.868138d) and the first failing is [this one](https://ci.appveyor.com/project/ponylang/ponyc/build/ponyc-master-0.9.0-2021

[2016-11-29 18:26] pdtwonotes opened #1445 "strtof and related functions need cstring input"
The string-to-float conversions in builtin/string.pony are done by a call to C library routines that expect null terminated strings.  But the code there is still passing _ptr.   There may be other places where this happens.

[2016-11-29 18:35] jemc commented on #1445
Discussed this in IRC, but that is a good summary.  Should be a pretty simple fix for someone who has time to make the change and write a few tests.

As discussed in IRC, you'll probably have to use `cstring()._unsafe()` in order to do the offset.

[2016-11-29 19:07] Perelandric opened #1446 "String.recalc chops last byte when recalc'd _size == _alloc"
This is similar to the issue with `.trucate()`, #1427.

[code]

Output:
[code]

The fix is simple enough, though in order to maintain the documented behavior, an extra byte will need to be `reserve()`'d, causing an allocation to the next power of two.

[2016-11-29 19:32] jemc commented on #1446
I'm not even sure I believe that `recalc` should be a part of the `String` API anymore now that not all strings are null terminated.

But if we want to keep it, I would suggest changing the documented behaviour to say "If a null terminator byte is not found within the allocated length, the entire allocated length will be used as the size".  Like many of the bugs you've found recently, this should

[2016-11-29 19:40] Perelandric commented on #1446
@jemc

Trouble is that even if a null terminator is found, we really have no idea if it was what the user intended, since pre-allocated space is not zeroed. With pre-allocation, which seems to be almost always the case, the method would seem to be non-deterministic. Even if we do `let s = recover "111.clone()" end`, we can't truly know what a `recalc()` will give us.

I was about to open a PR, but

[2016-11-30 02:57] kulibali commented on #1440
I can take a look at this.

[2016-11-30 03:27] kulibali commented on #1440
Turns out that the SDK doesn't include the linker, which the ponyc compiler uses for linking executables.  I can investigate whether or not we are allowed to distribute the Microsoft linker.  If we could do that we might not need the SDK or VS at all.

[2016-11-30 03:37] jemc commented on #1440
@kulibali - thanks for looking into it!  I'm closing this ticket since we now know and document in the README that Visual Studio is required.

[2016-11-30 03:37] #1440 closed

[2016-11-30 04:21] kulibali commented on #1444
Looks like the cached LLVM was broken.  You can merge my PR to clear the AppVeyor build cache, or use the REST API: https://www.appveyor.com/docs/build-cache/#rest-api

[2016-11-30 13:56] jemc commented on #1444
@kulibali thanks for looking into it!  I merged the PR.

[2016-11-30 16:55] btab commented on #1440
After a couple of days of digging, it seems that the Win10 SDK doesn't install build / compilation tools - so the 'tools' it refers to on its blurb page are just tools for helping with analyzing compiled programs etc.

Thus I needed a compiler and so grabbed http://landinghub.visualstudio.com/visual-cpp-build-tools.

This installer bundles the Win 10 SDK as well so I would suggest pointing to this

[2016-11-30 21:07] jemc commented on #1441
As discussed on the sync call, in `expr/lambda`, for fields that get captured, we need to use the type of how `this` sees the field.  Right now it's not making a distinction between locals and fields.

[2016-11-30 21:30] jemc opened #1449 "String.f32 and f64 should be implemented in Pony."
Currently `String.f32` and `f64` use the `strtof` FFI call internally.

As discussed on the sync call, it would be desirable for us to implement this in pure Pony instead of relying on the C call for something we can do ourselves in a more transparent, debuggable way.

This change should have no impact on the user, so it doesn't need an RFC - it just needs someone to step up and do the implementat

[2016-11-30 21:31] jemc commented on #1446
We discussed on the sync call that the documented/implemented behaviour of `recalc` in the did-not-find-a-null-terminator case should be changed to: "If a null terminator byte is not found within the allocated length, the size will not be changed".

[2016-11-30 21:43] Perelandric commented on #1446
Sounds good @jemc. I'll finish this up in a few hours.

[2016-12-01 03:50] Perelandric commented on #1446
@jemc I just submitted a PR. Still seems non-deterministic since we won't know if a preallocated byte will be null, but I guess there's probably no way around that.

[2016-12-01 03:58] Perelandric commented on #1444
Appveyor still fails. :slightly_frowning_face:

[2016-12-01 03:59] jemc commented on #1446
Yeah, it's true - but as long as this method exists to do what it does, we have that problem... `¯\_(ツ)_/¯`

It's only necessary because some C functions won't return the number of bytes written to the buffer.

[2016-12-01 04:13] pdtwonotes commented on #1445
As requested, here is the code generated by similar C and Pony programs on ARM, as displayed by the LLDB "disassemble" command.
[code]

[2016-12-01 14:05] pdtwonotes commented on #1445
Additional clue.  If the input string is "1.00" the correct output, 1.0, should be represented in hex as 0x3F800000.  But actually it is 0x00800000.  If the input string is changed to "5.00" then the correct output should be represented as 0x40A00000 but what gets returned is 0x00A00000.
In both cases, the exponent byte has been overwritten with 0x00.

[2016-12-01 14:06] Praetonus commented on #1445
This looks like an ABI issue. The code from GCC gets the return value from `s0` while the code from ponyc gets the return value from `r0`.

[2016-12-01 14:08] pdtwonotes commented on #1445
Ponyc is 0.9.0-5a0bd57 using LLVM 3.7.1.
gcc is 5.4.0

[2016-12-01 15:07] #1446 closed

[2016-12-01 15:24] jemc opened #1451 "FFI machine code generation ABI issue on ARM"
@pdtwonotes has uncovered an issue somewhere in our machine code generation process for certain FFI calls on a 32bit ARM platform he works with.

Specifically, in Pony, the strtof function is returning an incorrect float value, even when the arguments are correct.

Discussion for this issue was occurring in #1445, but I've decided to redirect that discussion to this ticket, since there was already

[2016-12-01 15:24] pdtwonotes commented on #1445
Here is the IR code for the Pony test case, showing the main procedure.
[code]
Later on in the same LL file is the declaration of @strtof:
[code]

[2016-12-01 15:26] jemc commented on #1451
I'm going to copy the conversation from the old ticket here, for easy reference:

@pdtwonotes said:

[code]

In both cases, the exponent byte has been overwritten with 0x00.

-----

@Praetonus said:

-----

@pdtwonotes said:

gcc is 5.4.0

[code]

[code]

[2016-12-01 15:27] jemc commented on #1445
@pdtwonotes @Praetonus let's move discussion of this machine code generation issue to another ticket, since the original bug discussed in this ticket is still valid, still easy, and still ready for work.

I've copied the discussion from here to #1451 for further discussion.

[2016-12-01 15:41] Praetonus commented on #1451
The IR looks fine.

@pdtwonotes There should be a data layout and a target triple at the beginning of the IR file. What are those?

[2016-12-01 22:10] pdtwonotes commented on #1451
target datalayout = "e-m:e-p:32:32-i64:64-v128:64:128-a:0:32-n32-S64"
target triple = "arm-unknown-linux-gnueabihf"

[2016-12-01 22:44] Praetonus commented on #1451
This looks correct. Also, Clang 3.7 is generating the right code on the C side. I'm a bit lost.

[2016-12-01 22:45] pdtwonotes commented on #1451
The GCC code, and apparantly strtof, are using the hard float instructions.  Pony is not.

[2016-12-01 22:56] pdtwonotes commented on #1451
See LLVM bug https://llvm.org/bugs/show_bug.cgi?id=27455

[2016-12-02 04:52] pdtwonotes commented on #1451
I find that specifying --triple=armv7l-linux-gnueabihf will make it generate the proper hard-float instructions, but it then fails at link time, complaining that the executable file uses VFP register arguments while the .o file does not (?), failure to merge target specific data from the .o file, and then undefined references to dlopen and dlsyn in libponyrt/threads module.

This may be about gett

[2016-12-02 20:20] pdtwonotes commented on #1451
The exact messages from specifying that triple, compiling the pony test case:
[code]

And the generated code for the strtof call:
[code]

[2016-12-02 21:56] pdtwonotes commented on #1451
The message "/usr/bin/ld: error: ./t uses VFP register arguments, ./t.o does not" is the linker complaining that its own output file ./t is incompatible with its input file ./t.o.  ???

[2016-12-02 22:43] pdtwonotes commented on #1451
objdump of the object file generated by ponyc says architecture is armv4.  This is a rather old ARM architecture, that has the Thumb instructions but no hard float.
[code]
It says the same thing regless of whether the --triple parameter explicitly specifies armv7l.  I wonder if this is what is confusing the linker when I make ponyc generate hard-float instructions?

[2016-12-03 01:41] pdtwonotes commented on #1451
The gcc test case produces an object file with an architecture header of simply "arm".  I don't know if this is significant.

[2016-12-03 22:57] pdtwonotes commented on #1451
It may be that
1. building pony with explicit forcing of CFLAGS="-mfloat-abi=hard" and then
2. Running ponyc with a parameter of --target=armv7l-unknown-linux-gnueabihf
fixes this problem.  I am investigating further to make sure I can recreate this.  It would appear that taking the defaults for both assumes a generic flavor of ARM architecture, even though all the compiling takes place on a machi

[2016-12-04 14:55] pdtwonotes commented on #1451
Yes, that seems to fix the problem.  The combination of building ponyc itself with hard float, and then specifying the armvl+hf triple to ponyc results in a .o file with 'architecture: arm' just like gcc does, and it links and runs properly.

If only the triple is specified, then ponyc generates the hard float instructions but does not change the object architecture value, AND the link fails becau

[2016-12-04 16:10] Praetonus commented on #1451
@pdtwonotes That's interesting. Maybe it has something to do with the platform-specific flags for code generation. I'll try looking into it.

[2016-12-05 01:38] #918 closed

[2016-12-05 20:42] ginahagg opened #1453 "Can't link helloworld from examples on MacOS.."
Update: Brew install gives the same error.
Note: i just checked for libressl, and it wasn't installed. Tried to install through macports, but there was openssl conflict. Could this be causing it. OpenSSL is needed by many other installs so i couldn't deactivate. I will try through brew..

Sorry, i see similar issues, but i didn't want to add this to them, in case they were related to something dif

[2016-12-07 19:14] Theodus opened #1455 "RFC: Behaviour return None"
Change the return value of behaviour calls from the receiver to `None`.

https://github.com/ponylang/rfcs/blob/master/text/0028-behaviour-return-none.md

[2016-12-07 20:33] SeanTAllen commented on #1453
Which version of xcode do you have installed?

[2016-12-07 20:43] #1427 closed

[2016-12-07 20:43] Theodus opened #1457 "RFC: Nuke return this"
Remove the "return this" idiom used for chaining in some APIs of the standard library in favor of the new caller-side chaining feature.

https://github.com/ponylang/rfcs/blob/master/text/0029-nuke-return-this.md

[2016-12-07 21:01] sylvanc commented on #1420
It looks like perhaps we could parameterise `apply` on a concrete type that fulfils the lambda, which would give us a non-virtual call. Talking on the sync, we may need an `_AutoBenchAsync` to eliminate the match statement in `_AutoBench`.

[2016-12-07 21:36] Praetonus commented on #1385
We discussed this during the sync call. We said that we want to allow access to non-sendable locals as `tag` inside of recover expressions, the same way it's currently allowed for `this`. This change will help fixing this issue, or maybe even fix it completely.

[2016-12-07 21:39] sylvanc commented on #1385
Treating locals as `tag` in recover expressions is a good idea!

Some possible corner cases:

[code]

[2016-12-08 00:42] ginahagg commented on #1453
Xcode: 8.1

[2016-12-08 13:18] SeanTAllen commented on #1453
And how did you install ponyc?

If you build using `ponyc -d`, do you get the same error?

[2016-12-08 16:02] #1455 closed

[2016-12-08 16:04] jemc commented on #1420
When we have #1184 it should be possible for the type argument to be inferred to be the concrete anonymous lambda type, avoiding the need for a named type.

[2016-12-08 18:19] ginahagg commented on #1453
i installed ponyc first with Brew. When that didn't link, i cloned from GitHub and built it. But i realized i was missing libressl, so i tried to do a port install, but couldn't due to openssl conflict. So i went back to Brew and do the whole Brew install again..(and all the required libraries through Brew).
Saying that i am sure it is something in my environment, hopefully this weekend i will be

[2016-12-09 03:47] Theodus opened #1465 "Compiler segfault with union type in lambda"
The following code causes the compiler to segfault:
[code]
But it compiles when you change the type `StringTuple` to `(String, String)`

[2016-12-09 17:43] Praetonus commented on #1465
It looks like the compiler believes that `Iterator[(String, String)]` is a subtype of `Iterator[((String, String) | None)]`. I think I understand the reasoning behind it but I'm not sure if it's right in that case.

The compiler failure is caused by `StringTuple` not being reached before code generation (because the compiler takes the `(String, String)` path.

I don't know whether the real bug is

[2016-12-11 12:34] mlajszczak opened #1469 "Compiler doesn't complain when assigning an iso reference to a field of some other object without consuming"
The following piece of code compiles:

[code]

However, before `s` was consumed and sent to Foo, it was assigned to a field of `Bar` instance (without consuming) and compiler didn't complain. Now, we have a reference to the same string in both Main and Foo and both of them modify its content.

[2016-12-11 17:57] SeanTAllen commented on #1469
Can confirm.

[2016-12-11 18:05] SeanTAllen commented on #1469
This has existed for months. At least as far back as `dcf430a93e2d523dd7e829d6466d2192fdd8637f`. Testing much earlier than that involves changing the LLVM version I have installed so I stopped looking at that point.

[2016-12-11 19:03] Theodus opened #1470 "Strange signal behavior on macOS Sierra"
On macOS Sierra (10.12.1) the test of the signals package times out. Typing Ctrl-C while the test is running causes the test to pass. The test uses a call to `signal.raise()` which calls the c function `raise`. If this call is replaced by `@raise[I32](Sig.int())`, the test is interrupted before it can succeed or fail. My understanding is that these three actions should have the same result, but th

[2016-12-11 19:34] SeanTAllen commented on #1470
@Theodus I was talking to @sylvanc recently and he was seeing issues on Sierra with signals. I think he might have found the source of the problem. Not sure.

[2016-12-11 19:44] SeanTAllen commented on #1453
@ginahagg have you installed the XCode command line tools? If not, give that a try.

`xcode-select --install`

[2016-12-11 20:54] sylvanc commented on #1469
Fixed in #1471.

[2016-12-11 21:26] SeanTAllen commented on #1469
Thanks for the report @mlajszczak!

[2016-12-11 21:59] mlajszczak commented on #1469
Thanks for addressing it quickly.

[2016-12-12 02:28] pdtwonotes commented on #1417
You generally do not want to create an actor for each connected client in a server.   You only need as many actors as can reasonably be expected to execute in parallel, given the speed of various resources.   The client request information should be in Class objects that are queued  up to the pool of actors.  These context objects get passed from one actor to another using the 'iso' semantics, pip

[2016-12-12 21:41] SeanTAllen opened #1472 "Release 0.10.0"
Just merged high priority #1471

[2016-12-12 21:41] SeanTAllen commented on #1472
@Theodus i might be able to get to this tonight. you want to take it otherwise?

[2016-12-12 21:43] Theodus commented on #1472
@SeanTAllen Sure, just tell me if you need me to do it.

[2016-12-12 22:59] SeanTAllen commented on #1472
If you can take it @Theodus that would be great. We are having a big push at work for a proof of concept and I'm tired as hell. Thanks.

[2016-12-12 23:04] Theodus commented on #1472
@SeanTAllen sure thing!

[2016-12-12 23:09] Theodus commented on #1472
The blessed commit will be df5b28f if Travis succeeds

[2016-12-12 23:37] SeanTAllen commented on #1472
Thanks @Theodus

[2016-12-13 01:16] Theodus commented on #1472
Travis and AppVeyor builds have succeeded.

[2016-12-13 01:25] Theodus commented on #1472
Merged, pushed, and tagged release branch.

[2016-12-13 01:41] Theodus commented on #1472
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/7807

[2016-12-13 01:44] Theodus commented on #1472
CHANGELOG added to release

[2016-12-13 01:45] Theodus commented on #1472
@stefantalpalaru release is underway

[2016-12-13 01:50] Theodus commented on #1472
@SeanTAllen We have a problem. AppVeyor has given the following message:
[code]

[2016-12-13 01:50] SeanTAllen commented on #1469
This has been merged. Release in progress. Will be part of 0.10.0

[2016-12-13 01:50] #1469 closed

[2016-12-13 02:00] stefantalpalaru commented on #1472
Gentoo ebuild updated.

[2016-12-13 02:00] Theodus commented on #1472
Thanks @stefantalpalaru !

[2016-12-13 02:11] SeanTAllen commented on #1472
@Theodus thats a weird one.

[2016-12-13 02:12] SeanTAllen commented on #1472
@Theodus it doesn't look like the release is on the `release` branch

[2016-12-13 02:13] SeanTAllen commented on #1472
@Theodus i see a `release-0.10.0` branch. Looks like you pushed to the wrong branch.

See:

https://github.com/ponylang/ponyc/commits/release

[2016-12-13 02:14] SeanTAllen commented on #1472
@Theodus as compared to:

https://github.com/ponylang/ponyc/commits/release-0.10.0

[2016-12-13 02:16] SeanTAllen commented on #1472
@Theodus and you put the 0.10.0 tag on master not on release.

I think we need to start over with a 0.10.1 tag.

Merge the prep release branch onto release.
Tag release.

And start the process after deleting the 0.10.0 release from releases.

[2016-12-13 02:21] SeanTAllen commented on #1472
I accidentally deleted my last comment. Arg.

So...

we need to

merge release-0.10.0 into `release`
tag as 0.10.1
push

update the homebrew PR

remove the 0.10.0 tag from master
delete the 0.10.0 release (see https://help.github.com/articles/editing-and-deleting-releases/)
have @stefantalpalaru update for 0.10.1

and then the usual process of waiting on travis and appveyor

[2016-12-13 02:21] SeanTAllen commented on #1472
I just cancelled the wrong travis build, it looks like you had already started.

[2016-12-13 02:24] SeanTAllen commented on #1472
@Theodus i deleted the 0.10.0 tag. I think we should do 0.10.1 to make sure there isn't detritus in Appveyor.

[2016-12-13 02:27] SeanTAllen commented on #1472
you are looking pretty good now @Theodus

you need to push the 0.10.1 tag on `release`.
update homebrew PR

and otherwise go through the normal process with release notes and everything else.

[2016-12-13 02:30] SeanTAllen commented on #1472
I just checked. 0.10.0 is in Bintray. I'm going to see about cleaning that up.

[2016-12-13 02:32] SeanTAllen commented on #1472
ok @Theodus 0.10.0 is deleted. if you want to restart with that tag, that could work as well.

[2016-12-13 02:32] SeanTAllen commented on #1472
Nevermind, I see 0.10.1 is pushed. that works and is safer. Anything else you need an assist with @Theodus or are you good?

[2016-12-13 02:33] Theodus commented on #1472
@SeanTAllen I'm good, sorry about all that.

[2016-12-13 02:35] SeanTAllen commented on #1472
@Theodus It happens. just got to make sure to follow the checklist. I have plenty of checklists at work that I fubar from time to time.

[2016-12-13 02:36] SeanTAllen commented on #1472
@Theodus Can I delete the release-0.10.0 branch now?

[2016-12-13 02:39] Theodus commented on #1472
@SeanTAllen yup

[2016-12-13 02:40] Theodus commented on #1472
Homebrew PR updated

[2016-12-13 02:43] stefantalpalaru commented on #1472
Gentoo ebuild updated again.

[2016-12-13 02:43] Theodus commented on #1472
Thanks a million @stefantalpalaru

[2016-12-13 02:55] SeanTAllen commented on #1472
@Theodus did you update the VERSION number when you tagged? If not, we are going to have to start again with the correct version number.

[2016-12-13 02:56] SeanTAllen commented on #1472
Yeah. Its still 0.10.0. So that is all going to be off.

Ok one more time!

I'll get this going...

[2016-12-13 02:57] SeanTAllen commented on #1472
Theodus, I just deleted 0.10.1

I'm going to go back to 0.10.0

[2016-12-13 02:58] Theodus commented on #1472
@SeanTAllen Ok, thanks

[2016-12-13 03:05] Theodus commented on #1472
I'll create a new PR for Homebrew

[2016-12-13 03:05] SeanTAllen commented on #1472
@Theodus ok you should be good to update Homebrew PR again

@stefantalpalaru sorry, you need to update again, I got 0.10.0 tag in the correct place. 0.10.1 no longer exists.

[2016-12-13 03:06] SeanTAllen commented on #1472
@Theodus it will go smoothly next time, i promise.

[2016-12-13 03:15] Theodus commented on #1472
Homebrew PR updated and the tests have passed

[2016-12-13 03:21] SeanTAllen commented on #1472
Ugh... @Theodus

[code]

[2016-12-13 03:23] SeanTAllen commented on #1472
It looks like Travis is done and 0.10.0 for Linux should be in Bintray, but I don't see it yet.

[2016-12-13 03:23] Theodus commented on #1472
I see all 3 in bintray

[2016-12-13 03:25] SeanTAllen commented on #1472
Ya its good I was looking under master because I'm very tired.

[2016-12-13 03:26] SeanTAllen commented on #1472
Alrighty just waiting on Bintray.

[2016-12-13 03:29] SeanTAllen commented on #1472
Theodus, did you go through open PRs and any that have manual CHANGELOG entry, let them know they'll need to update due to release?

[2016-12-13 03:34] Theodus commented on #1472
I have

[2016-12-13 03:34] SeanTAllen commented on #1472
Sweet

[2016-12-13 03:38] SeanTAllen commented on #1472
What's the Homebrew PR link @Theodus?

[2016-12-13 03:38] Theodus commented on #1472
https://github.com/Homebrew/homebrew-core/pull/7807

[2016-12-13 04:03] Theodus commented on #1472
Bintray releases are ready, just waiting on Homebrew.

[2016-12-13 11:20] Theodus commented on #1472
Homebrew updated

[2016-12-13 11:43] Theodus commented on #1472
IRC and user group have been notified. @stefantalpalaru has the Gentoo build been changed back to 0.10.0?

[2016-12-13 12:55] stefantalpalaru commented on #1472
I've reverted the Gentoo ebuild to 0.10.0.

[2016-12-14 16:46] #1457 closed

[2016-12-16 04:37] SeanTAllen opened #1474 "Segfault"
I haven't fully worked the why of this segfault:

[code]

Minimal case:

CRASHES:

[code]

Changing `class MockTaggable` to `actor MockTaggable` fixes the segfault and the test runs to completion.

Not calling tc.foo from inside the primitive also takes care of the issue:

DOESN'T CRASH:

[code]

[2016-12-16 18:22] Praetonus commented on #1474
In the reachability data structure in the compiler, `MockTaggable` isn't in the subtype list of `(Taggable & Consumer)` (the DS is `reach_type_t.subtypes`). Then, the `behaviour_in_every_subtype` function doesn't see `MockTaggable` and treats the method call as a message send. I think that's a problem with the subtype assignment during the reachability pass.

[2016-12-16 19:07] Praetonus commented on #1474
There seem to be a workaround for the problem, you can make `TaggableConsumer` a trait instead of a type alias.

[2016-12-18 09:52] #1420 closed

[2016-12-21 18:03] Theodus opened #1479 "Unhelpful error message for variable capture in match expressions"
When a `let` or `var` is omitted from a variable capture in a match expression, as shown by this code:
[code]
the compiler gives this error:
[code]
It should probably be changed to something like "variable capture requires let or var declaration".

[2016-12-21 20:36] SeanTAllen commented on #1479
We should definitely do this. Not a good message at all.

[2016-12-21 20:38] jemc commented on #1479
For whoever is interested in doing this - this will require expanding the parser to allow the invalid syntax, then checking for and disallowing the invalid syntax during the `syntax.c` compiler pass.  This is our general strategy for adding more helpful error messages to invalid syntax.

[2016-12-21 20:38] SeanTAllen commented on #1453
@ginahagg sorry for the long delay. work things have been cutting into pony OSS time.

What version of OSX are you using Sierra?

I can't reproduce this.

@Theodus is going to check out on Sierra under the assumption that you are using Sierra.

[2016-12-21 20:50] Theodus commented on #1453
I cannot reproduce this on MacOS Sierra with LLVM 3.9.0 and Xcode 8.1

[2016-12-22 00:15] ginahagg commented on #1453
sorry, i also didn't have much time. i will work on it today. Yes, it is sierra and i have command tools installed as first thing always. I will get back to you. :) Thank you so much..

[2016-12-22 18:01] Praetonus commented on #1444
This was fixed by @kulibali's changes.

[2016-12-22 18:01] #1444 closed

[2016-12-22 18:41] SeanTAllen commented on #1444
Thanks @kulibali!

[2016-12-22 20:03] ginahagg commented on #1453
Hi, after doing bunch of brew doctor's and prune's and cleaning up, I got it to work. Thank you so much for all your help. I will close this issue now.

[2016-12-22 20:03] #1453 closed

[2016-12-23 07:59] laucer commented on #1449
Hey @jemc,
I would like to carry out this task

[2016-12-23 18:54] jemc commented on #1449
@laucer - Thanks for stepping up!

I've sent you an invite to the `ponylang` organization, so that you can be assigned to this issue ticket after you accept the invitation.

[2016-12-23 20:00] agarman opened #1483 "EXC_BAD_ACCESS crash in try_gc when under heavy load"
I'm getting this intermittent error when sending load into a simple web server I created in Pony.
[code]

Here is the minified version of code I'm running.
[code]

Repeatedly running wrk with following options produce the issue.
[code]

Information about my environment.
[code]

[2016-12-24 16:33] jemc commented on #1449
@laucer Thanks for accepting the invite - I've assigned you to this ticket.  Let us know if you have any questions about it.

Thanks!

[2016-12-24 17:23] Theodus opened #1484 "Unable to link Pony programs with gcc defaulting to PIE"
Originally reported by james on the user group [here](https://pony.groups.io/g/user/topic/3842134?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,3842134)

ponyc fails when gcc is used as the linker with the following error:
[code]

I believe the problem is that stdlib.o is being linked with libponyrt-pic.a which is position-independent, so stdlib.o also has to be made position independent by comp

[2016-12-24 23:33] Praetonus commented on #1483
I strongly suspect this is the same GC issue as https://github.com/ponylang/ponyc/issues/1118.

[2016-12-25 17:47] SeanTAllen commented on #1483
@Praetonus agreed.

[2016-12-25 18:36] #1385 closed

[2016-12-25 18:38] #1442 closed

[2016-12-26 16:31] Praetonus commented on #1408
[RFC opened](https://github.com/ponylang/rfcs/pull/73).

[2016-12-26 16:31] #1408 closed

[2016-12-27 17:54] Theodus opened #1491 "Trait subtyping error"
When the `Iterator` interface is changed from an interface to a trait, the builtin package tests should compile as normal since all classes in builtin that should implement the trait declare `is Iterator[..]`.

After making the change the compiler complains that an `Array[String]` is not a subtype of `ReadSeq[Stringable]` because `ArrayValues[String, this->Array[String]]` does not implement `Itera

[2016-12-27 18:06] jemc commented on #1491
I'd suggest trying to create a minimally reproducible example using new types that aren't entangled with the rest of the stdlib.  The problem may be more apparent once it is reduced to its barest elements.

[2016-12-27 19:07] Theodus commented on #1491
The following shows an example of this without any builtin types where it compiles if `Foo` is an interface but not if it's a trait:
[code]

[2016-12-28 20:40] SeanTAllen commented on #1484
@Praetonus I see you did something back in October with Linux and libponyrt-pic. Any thoughts on this?

[2016-12-30 00:05] igortoliveira commented on #1184
Hi Someone is working on this one? Can I take it?

[2016-12-30 00:49] SeanTAllen commented on #1184
@igortoliveira have at it. No one is working on it at the moment afaik.

[2016-12-30 00:50] SeanTAllen commented on #1184
@igortoliveira would you like to be added to the organization so you can be added as an assignee on items you take on? if yes, let me know and we'll add you and can assign this to you.

[2016-12-30 00:54] igortoliveira commented on #1184
@SeanTAllen yep, it would be great.

[2016-12-30 03:35] jemc commented on #1184
Actually, I happen to be working on a somewhat major refactor of parts of the codebase that would be affected by this effort, so it may be a good idea to wait a bit for me to finish up that refactor.  Specifically, I'm decoupling some parts of the `expr` pass and moving them to a later pass so the `expr` pass can be simpler and easier to maintain and extend.

However, if you're anxious to get star

[2016-12-30 16:13] SeanTAllen commented on #1184
@igortoliveira added. i'll add you as assignee on this for now. if you want to back off based on @jemc's comment, that is understandable.

[2017-01-01 15:00] pdtwonotes opened #1493 "More helpful error message for wrong array reference"
I mistakenly used square brackets to index into an array, like this: `arrayname[0]` The error message was surprising:  `Value formal parameters not yet supported`

I eventually realized that it thought I was using a 'type' reference , and I remembered that array subscripting is actually a call to `Array.apply`.  Changing to parens `arrayname(0)` fixed the problem.

But I thought that, since most o

[2017-01-01 18:01] Praetonus commented on #1484
I'm a bit lost on that one. The correct `libponyrt` without position-independent code is linked so I don't really understand what's going on. It works for me with GCC on Archlinux, maybe it's an issue with the build of GCC used in Ubuntu? Is somebody able to test this on other distributions?

[2017-01-02 15:51] #1493 closed

[2017-01-03 23:02] PaperclipBadger opened #1496 "Shareable tuples are not covered by Any #share"
Attempting to compile

[code]

results in the following error

[code]

I would expect a tuple of `val` to be shareable, and hence covered by `Any #share`.

This would allow, for example, the promising of tuples:

[code]

[2017-01-03 23:22] jemc commented on #1496
At first glance, I see no particular reason why this shouldn't be allowed, though I may be forgetting one of the caveats associated with tuples.

[2017-01-04 11:40] Praetonus commented on #1496
This is a known problem. The gory details are described by @sylvanc [here](https://github.com/ponylang/ponyc/issues/1146#issuecomment-248756486).

[2017-01-04 15:02] jemc commented on #1496
I'm going to keep the suggest keeping this issue open, since the symptoms are of a different problem, though it is related to #1146.

[2017-01-04 20:46] SeanTAllen commented on #1496
During sync Sylvan discussed details behind this and the fact that he is working on a fix for this and other tuple problems in general (and pattern matching problems). In general, roughly summed up, the idea is to treat tuples as an object. This raises issues then of, "what is the reference capability of the entire tuple". Sylvan is working to address this problem and eventually we'll have a fix f

[2017-01-04 20:53] SeanTAllen commented on #1465
@sylvanc has work ongoing to fix issues with tuples becoming fully object types that will solve this problem. will get fixed then.

[2017-01-04 20:59] SeanTAllen commented on #1470
We need to take the epoll implementation of signals out of epoll.c specifically how sets signal (the atomic sighandlers) and handle that way and not use kqueue to check for signals on OSX. Talk to @sylvanc if you need more details. Switching off kqueue for freebsd is acceptable as part of this change.

[2017-01-04 21:05] SeanTAllen commented on #1484
@Theodus is emailing the user list to try and get more input on "is this related specifically to this version of Ubuntu".

[2017-01-04 21:07] matixmax commented on #539
I would like to work on that issue

[2017-01-04 21:53] SeanTAllen commented on #539
have at it @matixmax. would you like to be added to the organization so you can be assigned to the issue?

[2017-01-05 00:42] Theodus opened #1497 "FreeBSD CI"
Currently Pony's FreeBSD support is best-effort due to the lack of continuous integration. [This article](https://www.freebsdnews.com/2016/10/07/running-freebsd-travis-ci/) describes running FreeBSD in Travis-CI. This is experimental and I am currently looking into it.