[2017-12-08 14:42] Praetonus commented on #2390
@jemc It looks like you've misread the changes in #1395 as `_SignedInteger` was already taking two type parameters at that point. The change comes from #308, and is part of a fix for the `abs` method which was discussed in #143.

I think we can solve the awkwardness of `_SignedInteger`'s type parameters by adding a language feature to define type aliases within a type. For example:

[code]

(Of co

[2017-12-08 19:10] jemc commented on #2401
Reclassified.

@Praetonus can you elaborate on the "non-negligble efforts" for handling tail recursion in the compiler frontend? Do you already have an idea of what this would look like?

[2017-12-08 20:10] Praetonus commented on #2401
We'd need to

1. Detect tail-recursive functions. Aside from the bit explained below where we need to be careful with partial functions, this is an easy step.
2. Special-case code generation for tail-recursive calls to generate a loop instead. The hard part here would be to figure out how to map the debug information from a recursive source to an iterative IR in a sane way.

Also, we won't be able

[2017-12-08 21:57] jemc commented on #2390
@Praetonus - it's interesting you mention that idea, as I'd been thinking of something similar for other reasons as well. I had been playing with the idea of calling it `lettype`.

The critical thing with that idea is that the constraint for `A` needs to specify that `A` has to have a type reference called `Unsigned`, and that it has to meet some set of constraints as well. This would probably hav

[2017-12-08 22:26] jemc commented on #2401
Thanks.

In the short term, I think we do need to update to the tutorial to make this point clear - that it is *not* a language feature, but is an *optimization* that is applied only in `release` mode.

[2017-12-10 11:08] slayful commented on #1828
So we're talking about https://github.com/ponylang/ponyc/blob/master/packages/builtin/array.pony which could be improved to look more like https://github.com/ponylang/ponyc/blob/master/packages/collections/range.pony for example, correct?

If so, I think I could help out.

[2017-12-10 11:35] slayful commented on #1902
So if I understood correctly:
AC:
- [Date](https://github.com/ponylang/ponyc/blob/master/packages/time/date.pony) is now named PosixDate
- When any PosixDate's constructor are <0 set them to 0

This seems to be similar to [division by zero gotcha](https://tutorial.ponylang.org/gotchas/divide-by-zero.html). Wouldn't we prefer to use Fact to address this and fail if any of the arguments are less tha

[2017-12-10 14:02] SeanTAllen commented on #1902
Fact is a runtime assertion. Not something you want as a default. Some folks might be comfortable with that. Having a fact for when its compiled with debug makes sense, not for release mode though.

[2017-12-10 14:04] SeanTAllen commented on #1828
@slayful correct! with various examples on how to use and what-not. it would be more comprehensive than Range because there's more to Array.

Thanks! If you want, we can add you as a contributor and you can be assigned to this issue.

[2017-12-10 16:46] slayful commented on #1828
Sounds good to me, I can start working today or tomorrow. :)

[2017-12-10 17:57] jemc opened #2412 "Distribute LLVM IR for libponyrt, use WPO by default for release-build pony programs."
I'm opening this ticket to capture some important discussion from another ticket, which got dropped when that ticket was closed: https://github.com/ponylang/ponyc/issues/1331#issuecomment-256494016

The gist of the discussion, as I understand it, is that we should try to distribute LLVM bitcode for `libponyrt` as part of a `ponyc` installation.

When doing `release` builds of a pony program, we'd

[2017-12-10 18:01] jemc commented on #2412
I'm filing this ticket to make sure my understanding is correct, discover what work is required to push this forward, and start working toward this end. My end-goal is to have Pony support creating static binaries as easily and as portably as languages like Go do.

@SeanTAllen Maybe some Wallaroo Labs folks might want to collaborate on this as well, since it should make it easier for their end-use

[2017-12-10 18:04] jemc commented on #2412
It looks like this is at least partially complete with #1058, but it's currently an optional process that takes extra work on the user-developer side to make it happen, rather than something that's available by default.

[2017-12-10 20:24] SeanTAllen commented on #1828
@slayful invitation sent. drop a note here when you accept and one of us will assign this issue to you.

[2017-12-10 20:33] SeanTAllen commented on #2412
@jemc sounds interesting. definitely good for us long term but, not something we'd be able to do much on for at least a couple months.

[2017-12-10 21:18] slayful commented on #435
In case anyone googles into this issue looking for an answer, I'd recommend using String.join and an array if s/he'd want to join strings of varying capabilities.
[code]

[2017-12-11 14:56] slayful commented on #1828
Thanks, I've accepted the invitation. :)

[2017-12-11 17:41] enigma opened #2413 "Operator precedence unchecked in literal object"
Consider the following code:
[code]

It prints:
[code]

Which is unexpected, as in most languages `and` has precedence over `or`.

If we uncomment line 18 `result = a and b or c and d` we get:

[code]

which is what I expected to happen for the object literal to be honest.

As far as I can tell object literals' bodies are not subject to the same compiler checks as other places, and this can lead t

[2017-12-11 22:41] SeanTAllen commented on #1828
@slayful assigned!

[2017-12-11 23:58] jemc commented on #2413
Object literals are treated a bit differently from some other constructs - they are kept "untouched" through many of the compiler passes until reaching the `expr` pass, where the type of the object literal expression can be resolved. In the `expr` pass, the object literal is converted to a top-level type with an arbitrary unused type name, and we finally catch up the compiler passes that were miss

[2017-12-12 22:01] Theodus commented on #2398
I just tried this on another OS with LLVM 3.9.1 and it compiled and runs properly, though verification fails with the same errors.

[2017-12-12 22:08] Theodus commented on #2398
With LLVM 5.0 the compiler still produces invalid IR, even when compiling with `-d`
ponyc version:
[code]

[2017-12-12 22:39] Theodus commented on #2398
As expected, everything is fine when calls to `DoNotOptimise` are removed

[2017-12-13 02:29] SeanTAllen commented on #2379
Looks like I'll probably be doing this Thursday/Friday.

[2017-12-13 14:37] winksaville commented on #2379
Are there rpm release candidates, I’d like to test on Arch Linux?

[2017-12-13 16:32] SeanTAllen commented on #2379
@winksaville there are not. at this time we don't do release candidate releases. that would be master. if someone would be interested in setting up artifactory so that CI against master builds packages and uploads there, we'd be interested in assisting with that.

[2017-12-13 17:17] winksaville commented on #2379
Is there a how-to for releasing? At a minimum I can try to build the rpm
files myself.

On Wed, Dec 13, 2017, 8:32 AM Sean T Allen <notifications@github.com> wrote:

[2017-12-13 18:32] SeanTAllen commented on #2379
There's https://github.com/ponylang/ponyc/blob/master/RELEASE_PROCESS.md. However, it doesn't contain the automated steps that are taken to build packages. Those are in https://github.com/ponylang/ponyc/blob/master/.travis_script.bash

in particular:

https://github.com/ponylang/ponyc/blob/master/.travis_script.bash#L34

[2017-12-13 20:50] jemc commented on #2412
It looks like the next logical step is make it so that the `libponyrt` bitcode gets built for ponyc releases, and bundled with the distribution of `ponyc` binaries, just like we bundle the pony code for the standard libraries.

Note that this means that our `ponyc` releases would need to be to built with `clang` so that they could build the bitcode.

We can do this fairly easily on linux and macos

[2017-12-13 20:52] SeanTAllen commented on #2409
@jemc has a PR for this, he just hasn't opened it yet. But, is planning on it.

[2017-12-13 20:55] jemc commented on #2408
Next step for debugging would be to run in `lldb`, breakpoint the "this pattern can never match" error message, and take a look at what `ast_print` shows for the match type and for the pattern type.

From that we could figure out what the issue is and how to proceed.

[2017-12-13 21:02] SeanTAllen commented on #2346
@Praetonus have you had a chance to look at this?

[2017-12-13 21:05] jemc commented on #2339
We're not sure how to proceed with this, without knowing more about FreeBSD.

@slfritchie says this isn't blocking his work, so this doesn't appear to be a priority for anyone at the moment, but we'd appreciate any help we could get on this.

[2017-12-13 21:06] SeanTAllen commented on #2317
This needs to be tested again with 0.21.0

[2017-12-13 21:08] jemc commented on #2308
@Praetonus - if you're not actively working on this, can you dump what you learned in your investigation so far, so that someone else might be able to pick it up?

[2017-12-13 21:08] jemc commented on #2308
@Praetonus - if you're not actively working on this, can you dump what you learned in your investigation so far, so that someone else might be able to pick it up?

[2017-12-13 21:13] SeanTAllen commented on #2291
@codec-abc we could add `docs-support` directory that is installed alongside the usual installation directories that contains all the contents of `.docs/`.

That would be work for @kulibali and I. @kulibali could handle windows. I'd take the other platforms.

[2017-12-13 21:25] SeanTAllen commented on #2407
@jemc does this require more discussion or should it be closed?

[2017-12-14 00:01] winksaville commented on #2379
So it turned out "easy" to make the rpm file on my Ubuntu 17.10 machine:
[code]
This results in the rpm, deb and tar.bz2 file in build/bin:
[code]
I then copied the rpm file to my Arch Linux and installed it, but it wouldn't run. If was missing libLLVM-3.9.so.1
[code]
With 0.20.0 libLLVM is not shown as a dependency by ldd:
[code]
Is this dependency on libLLVM expected or is it an artifact of how

[2017-12-14 05:27] winksaville commented on #2379
I've built 0.20.0 on my Ubuntu 17.10 machine and ldd lists libLLVM-3.9.so-1:
[code]
I then used readelf to look at the dynamic section and it seems when compiling on Ubuntu 17.10 with gcc 7.2.0 libLLVM is "NEEDED":
[code]
Where as with ponyc 0.20.0 from bintray which was built on Travis with 14.04 and gcc 4.8 it's not "NEEDED":
[code]
So why would LLVM not be needed when compiled on Travis?

This

[2017-12-14 21:19] #2407 closed

[2017-12-14 22:23] winksaville commented on #2379
So I created a Ubuntu 14.04 machine with gcc 4.8 and compiled 0.20.0. I got the exact same results as on Ubuntu 17.10:
[code]
So, again does anyone know why 0.20.0 from bintray isn't dependent upon libLLVM?

[2017-12-15 01:54] Theodus commented on #2398
I am no longer experiencing this issue after uninstalling both versions of LLVM on the original machine and reinstalling LLVM 5.0. So I will close this for now.

[2017-12-15 01:54] #2398 closed

[2017-12-15 07:25] mfelsche commented on #2379
I do remember this. The same happened to me when i installed llvm from their apt repository. Their apt package only contains the shared objects while the binary packages downloaded from the llvm homepage contain the .a files that get linked statically. So if you build against the shared objects ponyc will link them.

[2017-12-15 07:55] mfelsche commented on #2379
The README was updated lately. I use to compile ponyc locally using the prebuilt binaries from llvm:

[code]

This enables m to link the llvm parts statically and thus there are no runtime dependencies on libLLVM for ponyc. @winksaville is your ponyc binary compiling properly? Try a ponyc example. If so, is the created binary running well? Does is also depend on libLLVM?

I think we should discuss

[2017-12-15 08:40] mfelsche commented on #2408
The whole match expr has the following AST:

[code]

The types of the first case and the match expression are indeed identical.

When determining if the pattern can match, it is failing when comparing the following `operand` and `pattern` in `is_x_match_x(...)`:

* operand:
[code]

which is the result of `typeparam_upper` called on  `(typeparamref (id T) val x)`
* pattern:
`(nominal (id $0) (id I8

[2017-12-15 14:39] norbertfuhs commented on #2339
I posted this this issue on FreeBSD forums which guided me to the [FreeBSD porters Handbook](https://www.freebsd.org/doc/en_US.ISO8859-1/books/porters-handbook/)

I normally use Ubuntu so I also have no clue how to solve this issue...

Here is my FreeBSD forum post: [Need help with building ponyc on FreeBSD 10.4-STABLE](https://forums.freebsd.org/threads/63688/#post-368953)

[2017-12-15 15:33] Praetonus commented on #2346
I cannot reproduce with LLVM 5. Also, the code in the IR file linked by @jemc looks correct, so I'm a bit puzzled by this.

[2017-12-15 15:41] Praetonus commented on #2308
This is a GC issue with structs where trace functions aren't getting generated, which in this case causes a premature collection of the inner array. This should be an easy fix.

[2017-12-15 15:42] Praetonus commented on #2379
I'd like us to wait for my upcoming fix for https://github.com/ponylang/ponyc/issues/2308 before starting this release.

[2017-12-15 16:28] SeanTAllen commented on #2379
@Praetonus im happy to do another release afterwards but our Wallaroo release that is in process and testing requires this release to happen in the next couple days. I will do the work do another release after your fix for #2308 is done.

[2017-12-15 16:42] Praetonus commented on #2379
@SeanTAllen I've opened a PR for the fix: #2418.

[2017-12-15 16:49] SeanTAllen commented on #2379
@Praetonus nice

[2017-12-15 21:17] #2308 closed

[2017-12-15 21:18] Praetonus commented on #2379
I've just merged #2418.

[2017-12-15 21:53] SeanTAllen commented on #2379
@Praetonus awesome. i'm probably releasing either Sunday or Monday.

[2017-12-15 23:00] SeanTAllen commented on #2317
There's still a very tiny leak in the sense that so far after 30 minutes I'm still getting some occassional memory growth. I think its because of block/unblock messages not being the same size and triggering an edge condition in the allocator. If there were tons of blocked actors this might be an issue. We could test addressing this  by making unblock messages the same size as block when allocated

[2017-12-15 23:08] SeanTAllen commented on #2291
@codec-abc there are PRs to open and/or merged to address the work @kulibali and I were going to do. You can move forward.

[2017-12-16 03:20] SeanTAllen commented on #517
The memory situation has improved quite a lot with 0.21.0 with this but its still in need of improvement. Before it was a very rapid OOM, now memory grows but it takes quite a bit longer to get there.

However, #2386 solves the problem. Memory usage with --ponythreads=16 is a stable 2976 because the number of actual threads in usage is really low (1) so all the block/unblock etc messages is vastly

[2017-12-16 03:27] SeanTAllen commented on #2255
This has been address in the backpressure work. There's still issues with block/unblock messages for actors but... it's a start.

[2017-12-16 03:27] #2255 closed

[2017-12-16 16:04] SeanTAllen commented on #2379
I'll be doing this release on Sunday.

[2017-12-16 17:35] slayful commented on #1828
@SeanTAllen I've added some examples and I'm looking for feedback on the PR.

[2017-12-16 20:52] slayful commented on #1902
Here's a PR for review
https://github.com/ponylang/ponyc/pull/2424

[2017-12-17 14:06] SeanTAllen commented on #2379
Blessing fad7a873c786ad8ecce06db4da2c48a0b9e902d7

[2017-12-17 14:08] SeanTAllen commented on #2379
Release underway

[2017-12-17 14:13] SeanTAllen commented on #2379
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/21824

[2017-12-17 14:13] SeanTAllen commented on #2379
@stefantalpalaru @kamilchm release underway

[2017-12-17 14:27] stefantalpalaru commented on #2379
Gentoo ebuild updated.

[2017-12-17 14:37] SeanTAllen commented on #2379
RPM and Debian packages are in bintray.

[2017-12-17 14:48] SeanTAllen commented on #2379
Homebrew has been released. I'm working on release notes. It's a big release so that is going to take a while.

[2017-12-17 15:10] SeanTAllen commented on #2379
Windows version is now in bintray

[2017-12-17 15:40] SeanTAllen commented on #2379
Release post is up. IRC, mailing list, twitter informed. Posted to /r/ponylang. Also submitted to HN and lobste.rs.

Thanks for playing folks.

[2017-12-17 15:40] #2379 closed

[2017-12-17 17:02] winksaville opened #2426 "Statically linking llvm"
I created PR #2425 "Support linking llvm statically" so I could test [AUR ponyc-rpm](https://aur.archlinux.org/packages/ponyc-rpm/) project.

Is there already an easy way to build ponyc with llvm statically linked?

[2017-12-18 11:09] exts opened #2427 "Is there a way to send debug info to console w/out passing env to every class?"
Notice most examples show env passed as an argument in the main actor, but I'm used to other languages (C/C++, C#, Java, Python, etc...) having global access to that environment for debugging, etc... is there a way to print to the console without having to pass env as an argument to every class you make?

[2017-12-18 11:14] mfelsche commented on #2427
There is https://stdlib.ponylang.org/debug--index for exactly that purpose.

[2017-12-18 12:31] exts commented on #2427
I love you @mfelsche, pony is such an awesome language. I'm still trying to figure out packages, but I think I figured out how it works.

[2017-12-18 12:31] #2427 closed

[2017-12-18 13:23] SeanTAllen commented on #2427
@exts for future reference, questions of this sort, we ask that folks use the mailing list or IRC.

See: https://github.com/ponylang/ponyc/blob/master/SUPPORT.md

[2017-12-18 20:21] EpicEric commented on #2426
With PR #2425 already merged, this issue should be closed.

[2017-12-18 21:00] lukecheeseman opened #2429 "No warning when storing a value which would overflow 32-bits in a USize on 32-bit platforms"
The error in the expr pass regarding oversize literals always assumes `USize` is 64-bits, this is wrong for platforms where `USize` is 32-bits. The same is true of `ISize`.
[code]

The above will print 0. This is inconsistent behavior but is still, in my opinion, a logical error of the programmer that the compiler is trying to help avoid.

The front end needs more information about the target to d

[2017-12-18 23:13] #2426 closed

[2017-12-19 01:16] exts commented on #2427
@SeanTAllen no problem

[2017-12-19 01:30] jemc commented on #2429
I agree with your points.

There are two ways we could approach this.

1. Setting a `USize` to a literal value whose absolute value is above `USize.max_value()` on the platform you're compiling on will raise a compiler error. This requires checking what platform you're compiling on within that check in the `expr` pass.
2. Setting a `USize` to a literal value whose absolute value is above `USize.ma

[2017-12-19 01:31] jemc commented on #2429
One of the goals of Pony is to make it so that if your code compiles at all, it will compile for all supported platforms. Given that goal, I think the latter approach is probably appropriate.

[2017-12-19 11:19] mfelsche commented on #2429
While i like the goal in general, in this case it conflicts with the goal of avoiding ambiguities like unintended operator precedence. Trying to avoid platform dependent compile errors at the cost of introducing silent bugs due to literal overflows (that are catched in all other cases) is not too good imho.

Sorry to spark a discussion here, but my suggestion on this is to make the limit of `USize

[2017-12-19 13:43] mfelsche commented on #2413
It turns out we create a definition of the anonymous object type itself internally AND a call for instantiating this type. We only "catch up" on the call AST, not on the type definition itself it seems.

I will investigate.

[2017-12-19 17:52] jemc commented on #2429
@mfelsche - Note that my suggested approach also forces them to use an `ifdef`. In fact, it forces them to use `ifdef`s appropriately to make every platform use a safe value, instead of just the platform they're running on.  If they want to opt out of supporting a particular platform, they can use the `compile_error` keyword.

[2017-12-19 19:22] mfelsche commented on #2429
@jemc true.

i have to admit that i tried to start working on this issue, but found out that it is not that easy to implement as all `ifdef`s get resolved into `if`s in the `expr` pass. And i don't know if it is safe to rely on any order of visiting AST nodes in the passes. because otherwise we have to mark `if` branches that got resolved from `ifdef`s to detect that we are inside one. Is there a

[2017-12-19 21:05] mfelsche commented on #2413
For some reason that is still unclear to me we do not fully visit the whole object literal tree in the SYNTAX pass (before we rewrite the object literal into its own anonymous type internally). If anyone has a clue, please speak up.

to be continued...

[2017-12-19 21:07] jemc commented on #2413
@mfelsche - are you aware of `AST_FLAG_PRESERVE` yet? That's the mechanism I was referring to earlier for keeping the object literals "untouched" until the `expr` pass. Is that what you're asking about in the `syntax` pass?

[2017-12-19 21:29] jemc commented on #2429
@mfelsche the visiting order is depth first (unless this is in the `pre` function for the pass, but it isn't), so you should be able to trust that numeric literals in the lexical scope of an `ifdef` would show that in their `ast_nearest(TK_IFDEF)` result, and that the `ifdef` would not have been converted to an `if` yet.

However, IIRC the numeric literal type resolution code will potentially be o

[2017-12-20 11:57] slayful commented on #1902
@mfelsche, @SeanTAllen  would you mind taking a look?
Do you think I could be assigned to the issue if that looks like a good approach?

[2017-12-20 13:30] mfelsche commented on #2413
#2434 is the easiest solution i was able to come up with. This PR will enable the Syntax pass on all object literals and lambdas before the expr pass. As far as i can see this should not be a problem, but i can easily be mistaken.

[2017-12-20 21:08] SeanTAllen commented on #517
Closed by #2386

[2017-12-20 21:08] #517 closed

[2017-12-20 21:09] SeanTAllen opened #2435 "Pony 0.21.1"
With the closing of https://github.com/ponylang/ponyc/issues/517, we have a release triggered.

[2017-12-20 21:20] Praetonus commented on #2429
During the sync call we discussed a potential issue with solution 1. and cross-compilation, where compiling an erroneous program on a 64 bits platform for a 32 bits platform wouldn't cause a compiler error.

The consensus from the people present on sync is that solution 2 is the better one.

[2017-12-21 00:44] SeanTAllen commented on #2291
@codec `add_exec_dir` in package.c has the code for how Ponyc figures out its exec directory.

The logic could be extracted to a more reusable function.

[2017-12-21 00:49] SeanTAllen commented on #1592
Closing in favor of #2371.

[2017-12-21 00:49] #1592 closed

[2017-12-21 00:57] SeanTAllen commented on #2339
I wasn't able to find anything in the porters handbook that helped me figure out what the problem is.

[2017-12-21 00:59] SeanTAllen commented on #2339
@slfritchie which version of clang comes with FreeBSD 10.4?

I ask because of:

https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=216745

[2017-12-21 01:02] SeanTAllen commented on #2317
https://github.com/ponylang/ponyc/pull/2386 completely fixes this as there are no longer scheduler block/unblock messages being sent. If there were multiple schedulers in play, this still might be an isuse. And I'm leaving open for now to discuss if scheduler block/unblock/ack etc messages should all be the same size.

[2017-12-21 01:11] SeanTAllen commented on #1118
Original version still segfaults as of 0.21.0

[2017-12-21 22:17] SeanTAllen commented on #2298
Has anyone seen this lately?

[2017-12-21 22:28] winksaville commented on #2297
I'll look into this.

[2017-12-22 08:15] lukecheeseman commented on #2429
Firstly, sorry, I wanted to attend the sync the other day but was unable. I'm just adding my two cents on what I picked up from the dev chat.

My understanding of the issue you mention @Praetonus is that if we are on a 64-bit host cross-compiling for a 32-bit platform we would still the issue as the max `USize` literal size would be expecting a 64-bit value. I think this would be the case if you u

[2017-12-22 19:18] d-led opened #2441 "Crash in a scheduler exhaustion example"
Hi,

I was writing an example of how monopolizing the scheduler threads with tight loops could lead to standstill. Expected behavior: some output, then full CPU load, but no output. However, the program seems to crash pretty soon (in release mode). The same program does not crash in debug mode:

[code]

on Windows: `ponyc && test.exe` &rarr; crash, but `ponyc --debug && test.exe` &rarr; no crash

[2017-12-22 19:22] d-led commented on #2441
P.S. no rush, by the way. Reporting it, as Pony's stability might be endangered

[2017-12-22 19:25] d-led commented on #2441
curiously, adding some calculation in the tight loop does makes the program run without a crash

[code]

https://gist.github.com/d-led/a92c1e4aa51b87f587976995d397dbcb

[2017-12-23 00:01] SeanTAllen commented on #2441
with debug runtime but release build:

(lldb) run
Process 8042 launched: './issue-2441' (x86_64)
Started the ticker
Tick 1
Started task 1
Process 8042 stopped
* thread #2: tid = 0x60e437, 0x0000000100000e7b issue-2441`Env_Trace + 11, stop reason = EXC_BAD_ACCESS (code=1, address=0x10)
    frame #0: 0x0000000100000e7b issue-2441`Env_Trace + 11
issue-2441`Env_Trace:
->  0x100000e7b <+11>: movq   0x1

[2017-12-23 00:09] SeanTAllen commented on #2441
The bug is triggered by `_spin()` method.

Not sure why though.

[2017-12-23 00:12] SeanTAllen commented on #2441
I don't have time to investigate further but... this happens in `release` but not `debug`. I'm pretty sure this is the result of an LLVM optimization of:

[code]

given that will always be true, i'm interested to see what LLVM is producing in release mode as an optimization.

This for example, has no segfaulting issues:

[code]

[2017-12-23 00:15] SeanTAllen commented on #2441
@d-led you should be able to keep working and get your desired effect with this:

[code]

[2017-12-23 01:39] SeanTAllen commented on #2435
I'm going to do release this weekend.

[2017-12-23 07:46] d-led commented on #2441
@SeanTAllen thanks for your investigation! Will continue poking around + use your proposal

[2017-12-23 16:32] SeanTAllen commented on #2435
Blessing 8bfd7544b83794fac5f3b64b01a32e590188c5a3

[2017-12-23 16:35] SeanTAllen commented on #2435
Travis and Appveyor are green

[2017-12-23 16:36] SeanTAllen commented on #2435
Release underway

[2017-12-23 16:42] SeanTAllen commented on #2435
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/22084

[2017-12-23 16:42] SeanTAllen commented on #2435
@stefantalpalaru @kamilchm release is underway

[2017-12-23 16:48] SeanTAllen commented on #2435
RPM and Debian packages are available

[2017-12-23 17:59] SeanTAllen commented on #2435
There was a problem with the Windows upload related to a change I asked @kulibali to make.

[2017-12-23 18:03] stefantalpalaru commented on #2435
Gentoo ebuild updated.

[2017-12-23 18:58] SeanTAllen commented on #2435
Windows version is up

[2017-12-24 07:47] winksaville opened #2445 "Running stdlib in a loop can hang"
I ran into this hang on my Arch Linux system running on LLVM 5.0. The code is in branch [support-openssl-1.1-simple-travis](https://github.com/winksaville/ponyc/tree/support-openssl1.1-simple-travis)
of my ponyc fork. This is obviously non-standard code and an unsupported  configuration, but I believe its worth while investigating why the hang is occuring. Note: I ran across this testing #2297 whi

[2017-12-24 12:32] ii8 opened #2446 "Segmentation fault with annotation and invalid field identifier"
Given this invalid program the compiler will crash:
[code]

Demonstration on the playground:
[code]

[2017-12-24 13:25] SeanTAllen commented on #2435
Waiting on homebrew still....

https://github.com/Homebrew/homebrew-core/pull/22084

[2017-12-24 17:02] SeanTAllen commented on #2435
homebrew released. will do release notes later today.

[2017-12-24 19:48] SeanTAllen commented on #2435
Release notes are up. Thanks for playing folks.

https://www.ponylang.org/blog/2017/12/0.21.1-released/

[2017-12-24 19:48] #2435 closed

[2017-12-25 23:41] #2445 closed

[2017-12-25 23:41] SeanTAllen opened #2448 "Release 0.21.2"
To get #2447 out

[2017-12-26 02:17] SeanTAllen commented on #2448
Blessing ebb68cf3a889f52054b327aa2916975cc622868d

[2017-12-26 02:18] SeanTAllen commented on #2448
Travis and Appveyor are green

[2017-12-26 02:19] SeanTAllen commented on #2448
release is underway

[2017-12-26 02:22] SeanTAllen commented on #2448
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/22136

[2017-12-26 02:22] SeanTAllen commented on #2448
@stefantalpalaru @kamilchm release underway

[2017-12-26 02:27] SeanTAllen commented on #2448
release notes prepped: https://github.com/ponylang/ponylang.github.io/pull/225

[2017-12-26 03:01] SeanTAllen commented on #2448
RPM and Deb packages are in Bintray.

[2017-12-26 03:27] SeanTAllen commented on #2448
Windows package in bintray.

[2017-12-26 03:27] SeanTAllen commented on #2448
Waiting on Homebrew

[2017-12-26 10:59] stefantalpalaru commented on #2448
Gentoo ebuild updated.

[2017-12-26 17:59] SeanTAllen commented on #2448
Released!

[2017-12-26 17:59] #2448 closed

[2017-12-26 18:34] winksaville opened #2451 "stdlib in a loop hangs"
It appears #2445 isn't solved. Previously I had run for 4 hours but with lots of debug output, yesterday I removed all the [debug](https://github.com/winksaville/ponyc/commits/support-openssl1.1-Fix-some-spurious-process-manager-test-failures) and then reran the simple while loop test:
[code]
And it hung after 18 minutes, so I used gdb to look at the code [here are the logs](https://drive.google.c

[2017-12-26 23:55] KoczurekK opened #2453 "[FFI][LLVM 5] Returning a structure causes segfault"
I can exchange structs between C and Pony code without any problems unless I do so with pointers, but if a C function returns a structure and I try to read it in Pony, segmentation fault occurs. I'm using the latest compiler built with LLVM 5 on Arch Linux. Here's a minimal example causing the problem:
[code]
[code]
(replacing `class S` with `struct S` doesn't change a thing)

I build it with the

[2017-12-27 17:09] Praetonus commented on #2453
There are two issues in your code.

1. Pony objects in Pony code are always references, not values. This means that the implementation type of an `S` in Pony is a pointer. There is currently no way to use the FFI with C functions passing things by value. This is something we intend to support in the future.
2. Only Pony `struct`s should be used to represent C `struct`s. `class`es are incompatible.

[2017-12-27 17:09] #2453 closed

[2017-12-27 20:21] mfelsche commented on #2446
Here is some lldb output:

[code]

[2017-12-27 20:25] mfelsche commented on #2446
This seems to happen because if missing checks of AST nodes in the code leading to https://github.com/ponylang/ponyc/blob/master/src/libponyc/pass/refer.c#L830

[2017-12-27 22:11] mfelsche commented on #1838
The basic issue that emerged with OpenSSL 1.1.0 is that the current FFI is not yet able to differentiate between libraries of different versions. As there are some incompatibilities between OpenSSL 1.0.X and 1.1.X we need to wrap the FFI calls in some conditional compilation statements and only use the 1.1.X API if we know we have it available.

#2415 is fixing this problem for openssl 1.0.0 and 1

[2017-12-27 23:39] winksaville commented on #1838
Just a clarification, defining OPENSSL_API_COMPAT_1_1_0 is only needed to
support 1.1.0. To support the current 1.0.0 API's no define is needed. In
the future it would be deseriable to allow OPENSSL_API_COMPAT to be
assigned a value and then used in expressions based on "==" or comparisions
such as ">=". For instance OPENSSL_API_COMPAT=0x010100 for 1.1.0 or
OPENSSL_API_COMPAT=0x010000 for 1.0.0 AP

[2017-12-28 03:50] Praetonus opened #2455 "Pony can catch C++ exceptions and vice-versa"
A `try` block in Pony can catch a C++ exception, and a `try` block in C++ with a catch-all clause can catch a Pony exception. This is problematic on both sides. On the C++ exception/Pony catch side, the C++ runtime needs to clean up its exceptions in order to behave correctly. On the Pony exception/C++ catch side, the C++ runtime reclaiming the static memory used for Pony exceptions will result in

[2017-12-28 16:04] winksaville commented on #2451
@SeanTAllen any success duplicating this issue?

[2017-12-28 16:45] pannous commented on #1407
ping?

[2017-12-28 16:47] dipinhora commented on #2451
@winksaville I haven't had a chance to look into it yet. Hopefully soon... In relation to that, are there any specifics to reproducing beyond running `./stdlib` in a loop? Do I need to use a specific number of ponythreads?

In the meantime:

* My memory is fuzzy, but I vaguely recall similar `stdlib` hangs in CI prior to the dynamic scheduler scaling changes. Would it be possible for you to see if

[2017-12-28 17:36] Praetonus commented on #2455
According to the Itanium exception handling ABI [manual](https://itanium-cxx-abi.github.io/cxx-abi/abi-eh.html) section 1.6.4, the C++ catch-all clause being able to catch foreign exceptions is intended behaviour. The C++ program is then allowed to either swallow the exception (deleting it the `_Unwind_DeleteException`) or to rethrow it without examining it. In C++ code, this translates to the cat

[2017-12-28 18:35] winksaville commented on #2451
I've add PR #2456 which has just failed on my system running test-stdlib-debug. What specific information would you like to have, here are the backtraces for the 3 running threads:
[code]
Curious, what additional information is available when running stdlib after being compiled with a debug build of ponyc? In the above I used the test-stdlib-debug target which passes the "-d" switch to ponyc when

[2017-12-28 19:05] dipinhora commented on #2451
@winksaville compiling `ponyc` also compiles `libponyrt` which is then linked by `ponyc` into the final binary whenever any pony programs (like `stdlib` are built). Compiling a program using `ponyc --debug` does not impact the underlying `libponyrt` that is linked to but only the relevant code generated for the application level pony source code.

Compiling `ponyc` with `config=debug` results in `

[2017-12-28 19:15] winksaville commented on #2451
Makes perfect sense, now that you explain it, txs. I'll rerun the test with ponyc compiled with config=debug and as well as with a prior commit.

[2017-12-28 19:17] winksaville commented on #2451
whoops, wrong button, reopening.

[2017-12-28 19:19] jemc commented on #1407
@pannous - I don't think anyone is working actively on this at the moment.

If anyone is interested in working on this we can try to provide some pointers about how to proceed.

[2017-12-29 02:22] #2400 closed

[2017-12-29 02:28] jemc commented on #2429
Yeah, I think that's a true statement. However, I don't really see it as prohibitive for this solution - the logic for "safe value" is going to have to be type-aware anyway in the compiler.

[2017-12-29 03:11] winksaville commented on #1407
I'm interested in this too, so I'll help where I'm able.

On Thu, Dec 28, 2017, 11:19 AM Joe Eli McIlvain <notifications@github.com>
wrote:

[2017-12-29 16:26] Praetonus commented on #1407
There are basically 3 things that need to be done.

- At the runtime level, we need to add browser-compatible implementations of the platform-specific parts of the runtime (threading, virtual memory allocation, IO and exception handling.)
- At the language level, we need to establish how the FFI would look like on the wasm target. Things like, do we allow calling to Javascript, or only to C compil

[2017-12-29 19:56] jemc commented on #1407
@Praetonus We could potentially dodge the FFI question for a little while by only allowing FFI calls to the `libponyrt` functions on the `wasm` platform, which would probably themselves be compiled together with the program using whole-program-optimization, right?

[2017-12-29 21:21] Pyrrh commented on #1829
Hi! I'd love to help with this. However, I'm not sure where I would need to add this information in order to make it appear above the list of Packages on the main page of the stdlib documentation. Can you point me in the right direction?

[2017-12-29 21:31] Pyrrh commented on #1829
(Alternately perhaps it needs to go in the tutorial somewhere?)

[2017-12-29 22:53] SeanTAllen commented on #1829
@Pyrrh awesome.

So... there's documentation generation for the standard library built into the pony compiler.
That documentation is then uploaded to a repo for hosting. That is done using the `docs-online` Makefile target.

It first does regular documentation generation using the `docs` target. Then it does other modifications currently:

[code]

If you generate `docs`, you'll see the mkdocs form

[2017-12-30 17:29] winksaville commented on #2451
@dipinhora so I've run two branches in my repo.
[debug-2451](https://github.com/winksaville/ponyc/commits/debug-2451) which is built on master from 12/27 and
[debug-2451-0.21.0](https://github.com/winksaville/ponyc/commits/debug-2451-0.21.0) which is built on tag 0.21.0 from 12/17.

I built both the following, which builds "all" and then builds "stdlib":
[code]
Finally I run test-long-term to star

[2017-12-30 21:01] dipinhora commented on #2451
Hi @winksaville. Thanks for taking the time to do all the legwork and for confirming that the issue didn't exist prior to the dynamic scheduler scaling code changes.

I tried reproducing but my virtual machine doesn't seem to trigger the issue (or I just didn't wait long enough). I'll have to spin up an AWS instance at some point.

The debug information you provided is very helpful and points to t

[2017-12-30 23:24] winksaville commented on #2451
Today, I've been trying to simpily stdlib, it now is down to the code below, the big thing was it doesn't require openssl 1.1.0. It failed once after 20minutes and has now just failed a second time but took 55minutes!

So openssl 1.1.0 isn't directly the problem, but there is one other non-standard change and that's that my Arch Linux system runs llvm 5.0. This definitely has issues as the "normal

[2017-12-31 00:48] winksaville commented on #2451
@dipinhora, I applied your patch and stdlib still hung.

But I think you have the logic backwards, your if statement is true on the "good" case i.e. when ponyint_thread_wake returns 0. I changed it to the opposite logic and also added a printf just to see what would happen:
[code]
As you might expect ponyint_thread_wake always returned 0 and stdlib still hung.

[2017-12-31 03:53] dipinhora commented on #2451
@winksaville Yes, I did have the logic backwards on the `if` conditions. Thanks for correcting the logic and testing.

Still no clue why that last thread is not being woken if the signal is being successfully sent since signals are supposed to not get lost according to my understanding of things.

I know you tested this once previously, but would you be able to test again with `make use= scheduler

[2017-12-31 05:29] winksaville commented on #2451
NP, I'll try it in the morning.

[2017-12-31 05:56] winksaville commented on #2451
Is there a document on the pony runtime, specifically the relationship between the threads, actors and message queues?

Can I ignore GC when delving into these relationships?

[2017-12-31 19:11] winksaville commented on #2451
@dipinhora, stdlib hung within a few minutes when I built with
[code]
Here is the gdb output, notice there were 4 threads still alive instead of the usual 3, but I've also see it with as many as 8 threads so I don't beleive it's related to use=scheduler_scaling_pthreads:
[code]

[2018-01-02 10:28] heyitsmeuralex commented on #2455
Rust panics kill the process. Most possibly-erroring functions will return a `Result` - should a `Result::Err` be counted as an exception when connected to Pony?

[2018-01-02 15:42] Praetonus commented on #2455
@heyitsmeuralex Thank you for the input. I'm not extremely familiar with Rust, so what I'm going to say might be wrong.

From what I can see from the Rust docs, `Result` seems to be a sum type, which would be akin to Pony's union types. By "exceptions" I meant anything resulting in stack unwinding. In Rust it seems like panics are the only constructs able to do that.

In the current state of thing

[2018-01-02 15:48] Praetonus commented on #1407
@jemc Possibly, yes. We could also delay the runtime changes by adding blank implementations of the relevant modules. It would result in a single threaded, `malloc`-based runtime with no IO and no exceptions but it would work for basic tests.

[2018-01-02 16:03] jemc commented on #2455
I agree that we probably don't want to do this, but not sure I agree with your reason. If they're making foreign function calls, those calls are already unsafe.

I think the only thing one could reasonably assume from a `then` block currently is: "either the `try` block ran to completion, *or* it was incomplete, and the `else` block ran to completion". Would that no longer be a valid assumption fr

[2018-01-02 16:32] slayful opened #2460 "[RFC] Adopt unchecked exceptions in pony"
I'd like to discuss the possibility of introducing unchecked exceptions to Pony as I feel that using checked exceptions everywhere makes the code either rigid or silently propagate errors.

I've recently worked on an issue with the Date class https://github.com/ponylang/ponyc/issues/1902. Basically Date does not handle negative values correctly, so now it will transform negative values to 0, behin

[2018-01-02 16:47] Praetonus commented on #2455
That's a good point.

Yes, it wouldn't be a valid assumption anymore. However, it would only impact cases where a foreign exception can traverse the `try/else/then` block.

[2018-01-02 17:05] jemc commented on #2460
Pony has some similarities to Erlang/Elixir when it comes to the actor model and message passing, but when it comes to other areas like type systems they are night and day, I think. I don't think an Erlang/Elixir "let it crash" mentality is on the table for Pony any time soon. If somebody wanted to fork Pony to make it work this way, they'd have to go back to the drawing board on a lot of aspects

[2018-01-02 23:02] slfritchie commented on #2339
LLVM 3.9.1 is used by both 10.4 and 11.1 when installed via `pkg install llvm39`.  (Also noted in the description.)

I tried a small hack to `master`'s `Makefile` to try to use LLVM 5.0.0 on FreeBSD 10.4, installed via `pkg install llvm50`.  No change: same errors about missing `__atomic_compare_exchange`.  But when using LLVM 5.0.0 + the same `Makefile` hack on FreeBSD 11.1, no error & `ponyc` ca

[2018-01-02 23:28] slfritchie commented on #2339
Same results for LLVM 4.0.1 on both FreeBSD 10.4 and 11.1.

[2018-01-02 23:47] slayful commented on #2460
Thank you for a swift and throughout explanation! I'm still a bit concerned about delaying the error handling when the interface does not have a partial signature but you've given me a lot to think about and explore alternative options to just crashing the program on invalid input.

I'm coming from a Java background so this is all a bit mind bending - in a very good sense.

[2018-01-03 02:46] SeanTAllen commented on #2460
@slayful I'm closing this issue. The RFC repo is the proper place for something of this nature.

https://github.com/ponylang/rfcs/

[2018-01-03 02:46] #2460 closed

[2018-01-03 02:47] SeanTAllen commented on #2339
I understand the version of LLVM, but... is that the version of clang that is being used?

[2018-01-03 20:51] #2297 closed

[2018-01-03 21:27] Praetonus commented on #2455
We discussed this during the sync call. Consensus is that when catching a foreign exception, we should rethrow it immediately without running any part of the `try/else/then` block.

[2018-01-04 02:51] #2063 closed

[2018-01-04 04:33] #2413 closed

[2018-01-04 13:50] sgebbie commented on #2280
This problem seems to be resolved when building against LLVM 5.0.1

[code]

I have prepared a pull request with the to add the above snippet to the ponyc examples code base so as to mitigate against future regressions: https://github.com/ponylang/ponyc/pull/2464. However, I feel that there is probably a better way of including a regression test for this issue.

[2018-01-04 18:20] renatoathaydes opened #2465 "crypto package does not document dependency on libcrypto"
Hello!

I was trying to use the `crypto` package but it didn't work for me in Ubuntu.
After doing some research, it seems that I should have libcrypto installed, but I didn't...

So please add something like this to the crypto package docs:

[code]

I spent quite some time to figure this  out :) Sorry but I can't afford to research how to do this in other systems... but hopefully this will help a

[2018-01-04 19:58] SeanTAllen commented on #2465
This is documented in the installation for Pony instructions but I think that a statement in the package docs of what library is required could be good. I don't think it should have platform specific instructions.

[2018-01-05 05:45] dipinhora commented on #2451
@winksaville, thanks for taking the time to test out the `pthreads` variant of dynamic scheduler scaling. However, your `make` command didn't actually use `pthreads` because `make` treats arguments as variable assignments and the last variable assignment wins. In your `make` commands case, the last assignment to `use` was `openssl_1.1.0` overriding the `use=scheduler_scaling_pthreads`. We can also

[2018-01-05 07:51] winksaville commented on #2451
First, txs so much for the explanation of the runtime, I'll have to study it more but it's a great start.

I'll re- run the test to properly use the "use statement".

I'll also make additional changes if the people would like me to, although I'd like to get openssl 1.1 support in ASAP, as I have to do alot of juggling to test drive n my Arch systems. But if will gladly do what's everyone desires.

[2018-01-05 15:54] dipinhora commented on #2451
@winksaville Thank you again for being so very patient and helpful in regards to this while I've been unable to reproduce the issue on my end. I'm still hoping to try and reproduce on AWS at some point but I'm not sure when due to other more pressing concerns (work, etc).

In regards to the openssl 1.1 support, I don't mean to cause additional delay on it. I was thinking of it from the perspective

[2018-01-05 17:37] winksaville commented on #2451
Here's the latest run which failed after 10secs, so very quickly:
[code]

[2018-01-05 17:40] winksaville commented on #2451
@dipinhora, one thing we could do is you could log into my computer and debug it. We could use tmux and I could watch over your shoulder and I'm sure I'd learn alot.

[2018-01-06 01:51] winksaville commented on #2451
So I've modified examples/ring and called it [pony-ring in my repo](https://github.com/winksaville/pony-ring) and when it hangs the stack traces are similar to but not exactly like how [stdlib hung above](https://github.com/ponylang/ponyc/issues/2451#issuecomment-355616518).

I built pony-ring with the same ponyc compiler as I used for stdlib, you can look at the [Makefile](https://github.com/wink

[2018-01-06 02:03] winksaville commented on #2451
Oh, here is the output from the hang without --ponynoblock after quiting gdb and then hitting Ctrl-C on the ./ring run. I think that "user 5m35.268s" represents the approx 5m33s of time it must have spent with the one CPU at 100%:
[code]

[2018-01-06 05:34] dipinhora commented on #2451
@winksaville Thanks for your continued work on this and for your offer regarding the `tmux` session. The bottleneck for both your suggestion and my testing on AWS is time on my side. I am unable to dedicate enough time to properly debug this at the moment (which my guess is at least a good few hours if not a day or two worth of banging my head against it). Also, I'm not sure how much you'd learn f

[2018-01-06 06:33] gin66 opened #2471 "Clashing symbols: logger and net/http"
The stdlib in its entirety should be conflict free, but this is not the case for logger and net/http. Compiling this code piece leads to an error
[code]

The error is
[code]

This is on macOS High Sierra, using pony from brew
[code]

[2018-01-06 07:07] winksaville commented on #2451
K, I'll give it a try in the AM. Its great you've reproduced the problem.
Did you reproduce it using stdlib or pony-ring or another program? How long
did it take to reproduce? Right now pony-ring with --ponynoblock is easiest
for me.

On Fri, Jan 5, 2018, 9:34 PM Dipin Hora <notifications@github.com> wrote:

[2018-01-06 18:10] dipinhora commented on #2451
I reproduced using stdlib (mainly because I hadn't seen your pony-ring update at that time) with the following variant of your looping test (when compiling with `pthreads`; I have not been able to reproduce when compiling with `signals` so far but I'm assuming that's due to the fact I'm running in a VM with only 2 cores):

[code]

No clue how long it took as I wasn't timing it and reproducing was

[2018-01-06 18:45] dipinhora commented on #2451
@winksaville I've opened up the PR (#2472) regarding the pthreads condition variable fix. It would be awesome if you're able to test it out.

As an aside, to avoid any confusion regarding my "inside joke" from my comment last night, the inside joke was the comment about @SeanTAllen confirming that I'm a database guy. The rest of everything I wrote is actually my process and not a joke... 8*/

[2018-01-06 18:58] dipinhora commented on #2451
@winksaville the atomics patch to apply on top of the PR #2472 commit for testing:

[code]

[2018-01-07 00:12] EpicEric commented on #2471
I've created an RFC draft to rename `Logger` in `net/http`:

ponylang/rfcs#116

[2018-01-07 06:22] dipinhora commented on #2451
@winksaville I've updated PR #2472 to fix some edge cases around quiescence. I think I might have done a force push out of habit so keep that in mind when you pull/merge.

Given that I was able to reproduce the issue (at least for `pthreads`) and fix some issues and add some assertions in the PR, it would be great if you could do the following as a next step:

* Run `stdlib` or `pony-ring` or `mes

[2018-01-07 17:15] Praetonus commented on #2471
@gin66 You can use package import aliases to solve this problem. For example:

[code]

You'd then use the `Logger` type from the `net/http` package as `http.Logger`.

I'm going to close this issue as this isn't a compiler or runtime issue. See @EpicEric's link above if you're interested in what will happen to the type name.

[2018-01-07 17:15] #2471 closed

[2018-01-07 20:01] winksaville commented on #2451
@dipinhora, I ran pony-ring and it hung after about 20minutes, I then tried to replicate after rebuilding ponyc and ring again its run 2hrs without hanging. So I may have made a mistake the first run. In the second run I definitlely build ponyc with "make default_pic=true config=debug use=scheduler_scaling_pthreads" and ./ring was with run with the defaults in pony-ring's Makefile "./ring --ponyno

[2018-01-07 20:40] dipinhora commented on #2451
@winksaville Thanks for the update. The hang/backtrace you're showing here looks like the original hang/backtrace from the `signal` version (where `scheduler_count_changing=1` and scheduler with `index = 0` is in `wake_suspended_threads` for termination but a thread doesn't seem to have woken and reset `scheduler_count_changing=0` as it should). Hopefully you're able to reproduce this again (wheth

[2018-01-07 22:29] smason opened #2473 "Handling of TCP connection errors by HTTPClient"
I've just started with Pony and found that the `HTTPClient` doesn't deliver connection errors back to the caller.  I can see the code should be making it to [`_ClientConnection._connect_failed`](https://github.com/ponylang/ponyc/blob/9c912eee7b75b6924f389db9e2d8a7942bc80370/packages/net/http/_client_connection.pony#L137) but things stop propagating pretty soon after that.

I see there's a comment

[2018-01-08 12:37] gin66 opened #2474 "Huge number of unix-systemcalls under macOS"
Currently I am developing a socks-proxy in pony, which should do kind of load balancing via several ssh-socks-channels to three servers. Works well and has been fun to write with actors.

Now I am only concerned,that this little workload is shown with 10% in macOS' system activity monitor, while the actual ssh-proxies (doing the whole work including encryption) are around 1% or less. On a macbook

[2018-01-08 13:40] SeanTAllen commented on #2474
These are wildly different programs that happen to perform the same end task, echo server.

However, correct me if I'm wrong but your python version is single threaded and probably uses synchronous IO. Is that correct?

The Pony version would be using multiple native threads to potentially multiplex many different actors concurrently. Additionally, it operates using async io.

A program designed i

[2018-01-08 13:40] #2474 closed

[2018-01-08 13:49] SeanTAllen commented on #2473
Hi @smason,

Thanks. Indeed it does appear that the HTTPClient was written in a fashion to not expose those errors to the end user. I'm not sure what `//TODO send fail response` refers to in `_client_connection`. But I don't think its to add code to inform the user of the error. But, I could be wrong.

For someone tackling this, I think it would be helpful to get some context of the types of error

[2018-01-08 14:30] smason commented on #2473
I'm happy to write some code and submit a pull request, I just might need some hand-holding as I'm new to this language/project…

I noticed this error because I had an invalid hostname in the URL and my code silently failed.  In more detail, I think the following conditions should be reported:

1. DNS resolution errors
2. TCP socket connection errors
3. SSL certification errors, when applicable

n

[2018-01-09 13:05] SeanTAllen opened #2478 "Release 0.21.3"
This is to get the fix in #2475 out.

Its a high priority that can make ponyc unusable on many platforms due to the LLVM bug.

[2018-01-09 20:30] Theodus opened #2480 "Compiler crash on partial application of Format"
Pony code:
[code]
Compiler version:
[code]
Compiler output:
[code]
LLDB backtrace:
[code]

[2018-01-10 02:27] ehooper commented on #2024
I'll take this.

[2018-01-10 14:41] gin66 commented on #2474
@SeanTAllen As you have proposed, I have collected some data in regard to my concerns. I have performed an strace under linux, because under macOS I do not get dtrace to work (even with sudo). The result is pretty clear. For the actual communication, I count 24 syscalls for Pony, which is same to the 21 of Python. So this confirms my expectation, that Pony and Python should be on par for the workl

[2018-01-10 16:07] SeanTAllen commented on #2474
I'm not sure I follow. If I understand, you are suggesting a semaphore/condition that would allow a scheduler to know that "work is available"?

[2018-01-10 16:29] SeanTAllen commented on #2024
Hi @ehooper. Awesome!

I can add you to the ponylang org as a contributor? If yes, then I can add you as the assignee on this issue.

[2018-01-10 16:32] ehooper commented on #2024
@SeanTAllen: Sure!

[2018-01-10 19:26] SeanTAllen commented on #2024
@ehooper you should have an invite. drop a note here once you've accepted and any team member can add you as the assignee. Thanks and good luck!

[2018-01-10 19:31] ehooper commented on #2024
@SeanTAllen accepted, thanks!

[2018-01-10 19:40] SeanTAllen commented on #2024
@ehooper assigned!

[2018-01-10 21:02] SeanTAllen commented on #2317
We discussed at Sync and agreed that **scheduler** unblock/block message should be made the same size to avoid this issue.

[2018-01-10 21:13] jemc commented on #2380
@sylvanc agrees that allowing something like this would be undesirable because all of the name manglings would be "a combinatorial explosion on the vtable". He also said that even then there may be some type system holes.

[2018-01-10 21:16] CommunicationAnimale opened #2482 "Installing ponyx with nix fails"
I tried to install ponyc on my Fedora 27 machine using `nix -i ponyc`, and while this command apparently succeeded, `ponyc` fails to build the Hello World program:

Building builtin -> /nix/store/by61hisim8mw0hn5rmxx8bzx8bynllgp-ponyc-0.21.2/lib/pony/0.21.2/packages/builtin
Building . -> /home/vogier/Programming/Test/pony
Generating
 Reachability
 Selector painting
 Data prototypes
 Data types
 Fu

[2018-01-10 21:25] SeanTAllen commented on #2380
@jemc should we close this?

[2018-01-10 21:37] jemc commented on #2408
@sylvanc said he could get it to compile if he did two things:
- Remove `Int` from the type intersection.
- Add an `else` branch to the `match`.

On the sync call we determined that it was stopping at `I8` because it was in the middle of `is_isect_sub_x`, and was stopping on the first element of the intersection comparison. I'd be interested to see a full backtrace of where this `is_x_match_x` fai

[2018-01-10 21:42] #2380 closed

[2018-01-10 22:05] sylvanc commented on #267
The first step is to no longer flatten type aliases. Particularly, in `names.c:names_typealias` - don't do that :) Instead, we should promote type aliases to a first-class thing in the AST.

After that, there will be a significant amount of work adding type aliases as first-class concepts to `subtype.c`, `matchtype.c`, and `reify.c` - and other places as well, although I think those are likely to

[2018-01-10 23:21] SeanTAllen commented on #2482
We don’t maintain the Nix packages so it’s going to be hard for us to support. @kamilchm was maintaining. He might be able to assist you.

[2018-01-11 01:54] kamilchm commented on #2482
It looks like you need to explicitly install `gcc` with `ponyc`.
I've tested it with docker:
[code]

I'll try to fix it shortly.
It's nixpkgs issue.

[2018-01-11 02:27] SeanTAllen commented on #2482
thanks @kamilchm !

[2018-01-11 03:02] kamilchm commented on #2482
should be fixed in https://github.com/NixOS/nixpkgs/pull/33732

[2018-01-11 21:16] CommunicationAnimale commented on #2482
It works ! Thanks a lot. Nix seems to be the best option to install ponyc and keep it updated currently.

[2018-01-11 21:16] #2482 closed

[2018-01-12 15:34] Praetonus commented on #2480
Relevant code from the `format` package:

[code]

The default argument for `prec` is sugared to `(1).neg()`. The AST at the moment of the crash is

[code]

We try to lookup `neg` on `1`, which has type `literal` here, and the crash happens because the `lookup` function doesn't handle literals. This means that for some reason the literal inference doesn't happen on the default argument.

If `prec`

[2018-01-12 21:40] mfelsche commented on #2408
I am really sorry to have missed the Sync call, I really liked following along your thinking and digging.

To make things clear, the above code sample and the type definition are not wrong because `U128` and `I128` do not implement `addc` and `subc`. They would just not be captured by the type param `T: (Int & Integer[T] & SafeOps[T])` which is fine for this example.

While the actual issue was wo

[2018-01-13 08:30] gin66 commented on #2474
In the meantime I have forked ponyc. In this [fork](https://github.com/gin66/ponyc/commits/master) I have added an atomic variable prey_count, which contains the total amount of actors available to thieves. Correct update seems to require only to add atomic_add/sub to every mpmcs push/pop for all queues. Together with a push from the inject-queue I currently just wake up a thread without more cons

[2018-01-13 11:33] SeanTAllen commented on #2474
This change will have a really awful performance impact for highly concurrent, heavily loaded servers.

[2018-01-13 12:09] gin66 commented on #2474
From my point of view, a better worked out implementation of this change will only slightly impact the performance of a highly concurrent, heavily loaded server. As long as work is available - which is in general the case for a highly concurrent, heavily loaded server - no thread will ever sleep and this change has no further impact besides atomic counting. On the positive side it allows to simpli

[2018-01-13 13:21] winksaville commented on #2474
I whole heartily in favor of a scheduler that does not need a busy sleep. As pointed out, a busy sleep is unacceptable for some systems, such as one of my targets applications, using pony for embedded systems.

If a single scheduler isn't able to provide a solution maybe we'll need pluggable schedulers or conditional compilication. In any case, I hope we can coalesce on a solution.

[2018-01-13 13:44] SeanTAllen commented on #2474
@winksaville @gin66 please see the work that @Dipinhora has been doing that has built about the generalized runtime backpressure work that I did done: https://github.com/ponylang/ponyc/pull/2483

@gin66 I appreciate your enthusiasm. Your atomic count will have a huge impact on performance. Especially as it is in one of the hottest paths in the runtime. The more scheduler threads, the more contenti

[2018-01-13 16:33] gin66 commented on #2474
@SeanTAllen Unfortunately I am not familiar with the impact of atomic add/sub in today's caching/pipelining L1/L2/L3 multi core CPUs. And I cannot come up with any measurements to prove myself right or wrong, too. Just for my specific use case I value battery runtime over performance. @winksaville's idea with a user (aka SW developer) selectable scheduler would solve this conflict of interest. If

[2018-01-13 17:09] SeanTAllen commented on #2478
I'm going to do this Sunday morning. I could in theory do it today but I'm exhausted.

[2018-01-13 17:27] SeanTAllen commented on #2474
@gin66 I pointed you at an open PR, it is not on master. I think your fork is fine for your use case. It's not a good long term solution but we are working on a long term solution. There's no need to switch it to rust, you'll just need to maintain your fork for a while as we bring down the busy wait.

[2018-01-13 23:05] dipinhora commented on #2474
@gin66 PR#2483 goes a long way towards your goal of lowering syscalls because it will shut down all scheduler threads if possible (depending on workload). I've tried to architect it with performance in mind so it should have minimal impact on a normal busy workload. It's probably a few days or a week or so before that PR is hopefully merged into master.

It would be great if you could run your app

[2018-01-13 23:20] winksaville commented on #2474
Mine use case is if there is no work to do and all actors are waiting for
I/O then all threads should be waiting in the OS. There should be no
polling in the pony runtime.

On Sat, Jan 13, 2018, 3:05 PM Dipin Hora <notifications@github.com> wrote:

[2018-01-13 23:38] dipinhora commented on #2474
@winksaville That should be what should happen once #2483 is merged (assuming no more missed edge cases or bugs) since it will suspend all scheduler threads as long as there is at least one actor subscribed with the ASIO subsystem. If there are no actors subscribed with the ASIO subsystem, then lack of work would mean quiescence so scheduler thread 0 isn't allowed to suspend in that case because i

[2018-01-14 01:50] winksaville commented on #2474
I wonder, what if we had a mode that disabled quiescence detection and put the burden on the app when it's time to exit, would that allow all threads to suspend? In an embedded system I can envision a system were interrupts send messages directly to actors and thus detection of quiescence might be difficult. Although I have no idea how quiescence is detected so maybe a nonsensical question.

[2018-01-14 13:44] dubiousjim opened #2490 "Compiler crash on env.out.printv"
Pony code:

[code]

which probably should not execute (I'm still learning how `printv` works, not sure how to generate a `ByteSeqIter`). But neither should it cause the compiler to crash, as it does. Here is what playground.ponylang.org says:

[code]

Here is what ponyc says on my own machine (Max OSX 10.10.15, using MacPorts):

[code]

[2018-01-14 13:47] SeanTAllen commented on #2490
Confirmed this exists.

[2018-01-14 13:49] SeanTAllen commented on #2478
TravisCI and Appveyor are reporting all clear.

[2018-01-14 16:32] SeanTAllen commented on #2478
Blessing 98b902e8bc6f70888c63881d7713dadc42bf3469

[2018-01-14 16:33] SeanTAllen commented on #2478
Appveyor and TravisCI are still green.

[2018-01-14 16:51] SeanTAllen commented on #2478
Release is underway

[2018-01-14 16:52] SeanTAllen commented on #2478
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/22855

[2018-01-14 16:52] SeanTAllen commented on #2478
@stefantalpalaru @kamilchm release underway

[2018-01-14 16:58] SeanTAllen commented on #2478
Git LFS bandwidth limits for the LLVM dependencies repo I set up. Probably going to need to switch off that . Paid $5 for more usage to get the release moving again.

[2018-01-14 17:00] stefantalpalaru commented on #2478
Gentoo ebuild updated.

[2018-01-14 17:03] SeanTAllen commented on #2478
Windows release is out.

[2018-01-14 17:14] SeanTAllen commented on #2478
Deb and RPM packages have been released.

[2018-01-14 17:18] SeanTAllen commented on #2478
PR opened for release notes:

https://github.com/ponylang/ponylang.github.io/pull/233

Will merge once the release is complete (waiting on Homebrew at this point)

[2018-01-14 17:50] SeanTAllen commented on #2478
Based on the usual homebrew schedule, I'd expect the homebrew PR to be merged late Sunday night EST.

[2018-01-14 19:35] SeanTAllen commented on #2478
homebrew merged!

[2018-01-14 19:37] mfelsche commented on #2490
This definitely has to do with array literal type inference.

The following minimal examples work fine:

[code]

[code]

It seems from the assertion backtrace that the `["one"]` argument gets some strange reified type.

Here is an lldb stacktrace:

[code]

The type for which the assertion is hit is `Main tag->String box`, which is part of a bigger type which seems to be the reification of the type

[2018-01-14 19:38] dipinhora commented on #2474
@winksaville Given the relationship between the ASIO subsystem and the scheduler threads (along with the dynamic scheduler changes PR logic), I think that is effectively already in place (assuming I'm understanding the scenario correctly).

The output in my example comment on the PR (https://github.com/ponylang/ponyc/pull/2483#issuecomment-356774131) shows a situation where an echo server is creat

[2018-01-14 20:23] mfelsche commented on #2490
This is definitely an interesting one. (Do we have prices for elegant minimal examples and excavate interesting bugs? We should!) It is as simple as can be and thus exposes a lot:

So we have array literal inference where an array literal is places as a function argument whose type is [`ByteSeqIter`](https://github.com/ponylang/ponyc/blob/master/packages/builtin/std_stream.pony#L3).

It strangely

[2018-01-14 20:35] winksaville commented on #2474
OK, over time I'll get more familiar, for now things sound more than good enough, txs.

[2018-01-14 21:13] Theodus opened #2493 "Failed verification with DoNotOptimise"
Pony Code:
[code]
Compiler Version:
[code]
Output:
[code]

[2018-01-15 16:23] krig opened #2495 "Compiler crash on underconstrained generic code: literal.c:469: uifset: Assertion `0` failed."
Playground gist: https://playground.ponylang.org/?gist=486472f753f96ec77f665d45dd755a58

Input:
[code]

Crash:
[code]

[2018-01-15 17:15] krig commented on #2495
The assert that's being hit is in `uifset`, `src/libponyc/expr/literal.c:469` in the current master branch:

[code]

[2018-01-15 22:44] smason commented on #2473
I've found some time to have a hack at fixing this.  pushed a patch to the [http-client-failure](https://github.com/smason/ponyc/tree/http-client-failure) branch in my fork

The code locations I noted above seem to allow me to the right thing.  I've also tracked back through the call graph a bit and interfaces like `TCPConnectionNotify` have comments that seem to agree with my usage here

comments

[2018-01-16 07:38] dubiousjim opened #2496 "Compiler crash on default argument?"
Pony code:

[code]

Here is what ponyc says on my machine (Max OSX 10.10.15, using MacPorts):

[code]

Not sure, but it's possible this is related to [issue 2490](https://github.com/ponylang/ponyc/issues/2490).

[2018-01-16 10:18] dubiousjim opened #2497 "Compiler segfaults"
Pony code:

[code]

Playground responds:
[code]

[2018-01-16 13:30] SeanTAllen commented on #2496
I thought perhaps this might be an issue related to using the experimental LLVM 4.0.1 support. However I get this when using LLVM 3.9.1 as well.

Here's a backtrace:

[code]

The default field value of 0 is the problem.

[2018-01-16 14:16] Theodus commented on #2497
LLDB shows that this is due to infinite recursion in typeparam.c:
[code]

[2018-01-16 17:49] Theodus commented on #2497
Minimal example:
[code]

[2018-01-16 18:30] Theodus commented on #2497
I suspect that we shouldn't allow some type to be its own constraint. This should probably be checked before the flatten pass (where this crashes), but I don't know where.

[2018-01-17 12:20] mfelsche commented on #2496
So, the issue here is that the literal `0` as default argument cannot be coerced to a type in the class `Foo`. Without the call this becomes visible:

[code]

https://playground.ponylang.org/?gist=216d012a314d9c2ffb902cdc0aed87f1

The literal inference is not able to work properly on this generic type parameter `A`. It is setting an error message: `"could not infer literal type, no valid types fou

[2018-01-17 12:22] mfelsche commented on #2495
This is the same cause as mentioned in https://github.com/ponylang/ponyc/issues/2496#issuecomment-358287916 . The same solutions would apply here. Maybe we close this one as #2496 would solve this case too?

[2018-01-17 12:34] krig commented on #2495
Makes sense

[2018-01-17 12:34] #2495 closed

[2018-01-17 12:49] mfelsche commented on #2465
we could also add the libssl and libcrypto package dependency to our rpm and deb packages and make sure the docker image has them installed.

I do not know about nix tbh.

Is this all installation paths we support?

[2018-01-17 15:14] Praetonus commented on #2496
As @mfelsche said, the crash comes from the order in which ASTs for default arguments are processed. If the method is defined after the call in the source code, the crash doesn't occur.

I think the most straightforward way to fix the crash would be to handle `TK_LITERAL` [here](https://github.com/ponylang/ponyc/blob/master/src/libponyc/expr/literal.c#L465) in `uifset`.

Also, as @mfelsche points

[2018-01-17 18:13] patroclos opened #2500 "undefined reference to ssl symbols when compiling with net/http package"
I am using Fedora 26 and have open

Below are my installed openssl versions and the compiler output

[code]
Building builtin -> /usr/lib/pony/0.21.3-1/packages/builtin
Building webserver/ -> /home/j.jensch/workspace/pony-basics/webserver
Building net/http -> /usr/lib/pony/0.21.3-1/packages/net/http
Building collections -> /usr/lib/pony/0.21.3-1/packages/collections
Building ponytest -> /usr/lib/po

[2018-01-17 19:01] mfelsche commented on #2500
The code in the current pony releases and on current master only supports openssl <= 1.0.

There is a PR in the works to enable support for OpenSSL 1.1.0 which should fix your problem:

https://github.com/ponylang/ponyc/pull/2415

[2018-01-17 19:41] mfelsche commented on #2490
The type of the array literal is inferred by looking at the expected type for the place where the array literal is used. If this type is not an `Array` itself the following logic applies:

1. the return type of an `apply` method, if available
2. the Iterator element type returned from a `values` method if available.

The second case happens in the first example and usually the type is `this->A` or

[2018-01-17 19:50] mfelsche commented on #2490
The same wrong type for the Array: `Array[(this->String box | this->Array[U8 val] box)]` is inferred in the `fun` case that works, the difference here is that `this` refers to `Main box` and so there does not seem to be a problem as compared to being used in a constructor where (at this point in time) `this` still only has a refcap of `tag`.

**TL;DR** We need better support for cutting of the `th

[2018-01-17 20:26] mfelsche commented on #2408
The comparison that fails and leads to the match being rejected is the comparison of `I16` and `I8` where `I16` stems from the `Int` union and `I8` is also from the union. My best guess up to now is that we handle something wrong with descending down the different intersect and union types, but i need to investigate further.

Here is some output from lldb at the point it actually fails:

[code]

[2018-01-17 20:28] mfelsche commented on #2496
Marking this as ready for work, as @Praetonus suggestions would indeed make those issues disappear.

[2018-01-17 21:14] ehooper commented on #2024
Mentioned this in my PR, but I should have brought it up here:

I didn't include array literals in these changes, but I think those could also be an issue. For example, `[1; 2; 3] is [1; 2; 3]` is false, which could cause the same kind of confusion.

[2018-01-17 21:16] mfelsche opened #2501 "Add stdlib tests against OpenSSL 1.1.0 on CI"
#2415 adds support for OpenSSL 1.1.0 but in our current CI environment we only test against openssl 1.0

Testing that compilation and linking actually succeeds and the stdlib test run successfully.

Thank you Sean, i feel you!

[2018-01-17 21:21] mfelsche commented on #2390
Just checking, as a first step, making `_SignedInteger` and `_UnsignedInteger` public is fine for everyone, right?

[2018-01-17 21:36] mfelsche opened #2502 "RFC: class and actor field docstrings"
add the possibility to document fields of actors and classes.

[RFC 50](https://github.com/ponylang/rfcs/blob/master/text/0050-class-actor-fields-docstrings.md)

[2018-01-17 22:00] Praetonus commented on #2024
This is a good point @ehooper. The error message for that should include something like `use a tuple if you want to compare the individual elements`.

[2018-01-18 04:01] #2501 closed

[2018-01-18 04:02] SeanTAllen commented on #2502
can you link to the RFC from this in the comment?

[2018-01-18 06:40] patroclos commented on #2500
Thanks, I compiled master this morning and it worked perfectly

[2018-01-18 06:40] #2500 closed

[2018-01-18 14:25] winksaville commented on #2500
Nice!

On Wed, Jan 17, 2018, 10:40 PM Joshua Jensch <notifications@github.com>
wrote:

[2018-01-19 14:50] Theodus opened #2507 "Unable to assign to field in constructor with iftype"
[code]
Output:
[code]
Playground link: https://is.gd/S63W6d

[2018-01-19 14:51] Theodus commented on #2507
I'm not sure if this should be marked as a bug or an enhancement.

[2018-01-19 15:14] Praetonus commented on #2507
This is expected behaviour. In the `else` clause of the `iftype`, `X` is constrained to its original constraint, not to `B`. The second assignment should be in an `elseif X <: B` clause.

But there is another problem with that, which is that the compiler doesn't treat the `iftype` as exhaustive and implicitly adds an `else` clause, which results in a `field left undefined in constructor` error. I

[2018-01-20 01:44] winksaville opened #2508 "Compiler crashing when Main.create has an undefined method"
The code below and [here on playground](https://is.gd/m1JCTu) crashes the compiler:
[code]
Here is the stack trace:
[code]
This is from a debug version of current master as of today:
[code]
I'll be working on getting it to compile and updating this issue as I learn more.

[2018-01-20 02:05] winksaville commented on #2508
So here is a simpler version that crashes the compiler, the problem is I misspelled `doIt()`:
[code]
Here is the crash
[code]

[2018-01-20 04:20] #2493 closed

[2018-01-20 05:21] cider-teeworlds opened #2509 "Error in `ponyc': double free or corruption (out)"
This error occurs every time i compile something.

This is the output

OUTPUT:

Building builtin -> /home/love/ponyc/packages/builtin
Building timers -> /home/love/ponyc/examples/timers
Building time -> /home/love/ponyc/packages/time
Building collections -> /home/love/ponyc/packages/collections
Building ponytest -> /home/love/ponyc/packages/ponytest
Generating
 Reachability
 Selector painting
 Dat

[2018-01-20 17:39] SeanTAllen commented on #2509
@cider-teeworlds can you give more information about what version of Pony you are using, what version of LLVM, what Linux distro, etc? Without that information (as much as you can please), no one will be able to attempt to reproduce.

Thanks.

[2018-01-20 18:27] slfritchie commented on #2509
Hrmmmm, that isn't quite the fault that I'd seen on OS X Sierra 10.12.6 plus LLVM 3.8.1, back a couple of weeks ago.  (IIRC I was seeing a free of a pointer that wasn't allocated, also Not Good.  I think I was *running* one of the Wallaroo unit tests, not compiling it.  `pointer being freed was not allocated`)

LLVM 3.7 and 3.8 are no longer supported by Pony.  I'd performed a long-overdue LLVM up

[2018-01-20 22:45] cider-teeworlds commented on #2509
Okay i am using this

0.21.3-42b52179 [release]
compiled with: llvm 3.8.1 -- cc (Debian 6.3.0-18) 6.3.0 20170516
Defaults: pic=true openssl=openssl_0.9.0

I am on Debian 9 (Debian Stretch).

[2018-01-21 03:03] SeanTAllen commented on #2509
@cider-teeworlds LLVM 3.8.1 is no longer supported. Can you upgrade to LLVM 3.9.1?

[2018-01-21 03:04] SeanTAllen commented on #2509
@Praetonus ping bringing this to your attention. see @slfritchie comment above. perhaps something to look into even if 3.8.1 is no longer supported.

[2018-01-21 03:34] dougmacdoug opened #2511 "Assertion fails during compile with case function declared on interface"
[code]

[2018-01-21 03:59] SeanTAllen commented on #2511
Confirmed. Thanks for opening this issue @dougmacdoug

[2018-01-21 04:01] SeanTAllen commented on #2511
backtrace:

[code]

[2018-01-21 06:39] cider-teeworlds commented on #2509
Thank you so much!, i upgraded to LLVM 3.9.1 and compiled ponyc again, and it works 👍 😄

**ponyc examples/timers**

[code]

[2018-01-21 17:36] ii8 opened #2512 "Unshift can corrupt array"
The following prgram outputs `0` on some machines when compiled with optimizations.
[code]
The rest of the array is as it should be.
Works fine when there is only one call to unshift.
Works fine if the array is shorter than 5 intially.
Works fine if compiled with `ponyc -d`

[code]
ponyc is the one from the arch linux package manager.
x86_64

[2018-01-21 23:03] winksaville commented on #1838
I think this can be closed now that #2415 has been merged.

[2018-01-24 02:33] dipinhora commented on #2451
@winksaville now that #2483 has been merged, can this issue be closed based on all your testing of that PR?

[2018-01-24 06:12] winksaville commented on #2451
@dipinhora, yes closing as I'm unable to reproduce this error with #2483 merged.

[2018-01-24 06:12] #2451 closed

[2018-01-24 21:01] sylvanc commented on #2497
This is definitely a type checker bug, it has to do with when recursion is detected. An element in a union type, no matter how deep, should qualify as recursion.

[2018-01-24 21:03] Praetonus commented on #2512
This might be caused by the unidentifed bugs with the heap to stack optimisation pass on LLVM 5.

[2018-01-24 21:07] Theodus commented on #2512
pony version:
[code]
This prints `0` when compiled with optimizations and `1` with `-d`.

[2018-01-24 21:13] Theodus commented on #2508
I can reproduce with latest ponyc

[2018-01-24 21:17] Theodus commented on #2508
This is a problem with the compiler name suggestions (assertion at line 228): https://github.com/ponylang/ponyc/blob/0dfa0e658f13ac74d896ff43633441e331614d28/src/libponyc/pass/refer.c#L192-L233

[2018-01-24 21:17] Praetonus commented on #2509
This was caused by the difference between LLVM 3.8 and 3.9, where the ownership of some data structure is being transferred to the user on LLVM 3.9 but not on LLVM 3.8.

Since we've already deprecated support of LLVM 3.7, what we're going to do is remove support from the compiler, so that ponyc won't compile with LLVM 3.7 and LLVM 3.8 anymore.

[2018-01-24 21:19] Praetonus commented on #2512
From @Theodus's test with LLVM 3.9, this is most likely not caused by the bugs on LLVM 5 I mentioned.

[2018-01-25 03:27] SeanTAllen commented on #2509
We should remove support from the Makefile

[2018-01-25 13:29] Krognol opened #2515 "Invalid UTF-8 character output"
Program:
[code]

Playground output:
[code]

Actual output:
[code]

[code]

I don't see why the output would be different, and not really sure what to do about it.

[2018-01-25 15:41] ii8 commented on #2515
Maybe your terminal does not support utf8.

Try `curl`ing this: `http://www.cl.cam.ac.uk/~mgk25/ucs/examples/UTF-8-demo.txt`
If the output looks wrong then your terminal does not support utf8.

[2018-01-25 21:19] Krognol commented on #2515
The output looks like shown in the browser.

[2018-01-25 23:40] Theodus commented on #2013
Minimal reproduction:
[code]

[2018-01-26 15:44] Praetonus commented on #2280
Closing since this is resolved in LLVM 5. The runtime assertion is most likely unrelated.

[2018-01-26 15:44] #2280 closed

[2018-01-26 16:26] Praetonus commented on #2455
#2466 fixes the issue on *nix systems. There still are issues on windows, foreign code doesn't catch foreign exceptions if they've traversed a Pony frame. During the sync call last wednesday, @sylvanc mentioned that this might be related to the way SEH and LLVM exception code generation interact.

If there are SEH experts out there, feel free to weigh in.

[2018-01-26 19:13] Praetonus commented on #2455
Unassigning myself since #2466 has been merged.

[2018-01-26 19:38] #1902 closed

[2018-01-26 19:42] SeanTAllen opened #2517 "Release 0.22.0"
To turn back on dynamic scheduler scaling.

This is on hold at the request of me and @wallaroolabs as we haven't yet gotten our MacOS setup not tied to brew and this is a breaking change so we need time to update and coordinate the release.

[2018-01-26 19:42] #1838 closed

[2018-01-27 16:13] Praetonus commented on #2455
Looks like the windows problem might be related to [this](https://bugs.llvm.org/show_bug.cgi?id=24233) LLVM bug.

[2018-01-27 17:49] Praetonus commented on #2509
#2516 has been merged, removing support of LLVM 3.7 and 3.8.

[2018-01-27 17:49] #2509 closed

[2018-01-27 22:17] SeanTAllen commented on #2512
Some small findings.

If you change this to:

[code]

you get the correct result of 1.

its calling unshift (or insert, you can do that as well) more than once that triggers the issue.

[2018-01-27 22:33] SeanTAllen commented on #2512
putting a print into `insert` fixes the problem. definitely an issue in how it gets optimized.

[2018-01-27 22:34] SeanTAllen commented on #2512
this is also fine...

[code]

[2018-01-27 22:35] SeanTAllen commented on #2512
I suspect that 0 is a completely random value, its junk memory. part of an insert seems to be optimized away.

[2018-01-30 18:49] jemc commented on #2511
Going to label this "wontfix" because this feature is going to be removed soon.

[2018-01-31 16:24] SeanTAllen opened #2522 "Pony release packages aren't useful for running Pony as a library"
Required headers aren't part of the packaging. So you can do `ponyc -l` and get an archive but you can't link it into c code.

[2018-01-31 20:52] SeanTAllen commented on #2522
Sean is going to double check that more than what is there is required as he went off @doublec's blog post and didn't actually test. Bad sean.

[2018-01-31 21:03] SeanTAllen commented on #2512
Next steps on this are probably... either:

look at the generated assembly

or

hook this up to a debugger and see what's in memory to try and figure out what might be happening and what the bad optimization might be.

or

both

[2018-01-31 21:16] sylvanc commented on #2480
Interestingly, the `neg` call on `(1 [literal])` has been typechecked successfully, and knows the literal is a `USize`. However, the type of the literal isn't set - it seems like perhaps a slightly wrong bit of AST has been cloned? Not sure.

[2018-01-31 21:22] SeanTAllen commented on #2441
Sylvan reports this does not segfault for him on Windows with LLVM 3.9.1

[2018-01-31 21:28] mfelsche commented on #2441
i was able to reproduce this on ubuntu linux with pony:

[code]

[2018-01-31 21:46] sylvanc commented on #2441
I changed `spin` to start with `_counter` at 1 and test for `_counter > 0`, and there was no segfault. This is on master, using Windows + LLVM 3.9.1.

It also works if work is done _before_ the loop that can't be optimised away (for example, printing something to env.out).

It appears that `Loader_Dispatch` optimises away the possibility of receiving a `spin` message otherwise. The `_spin` functio

[2018-01-31 22:23] Praetonus commented on #2441
Many parts of the LLVM optimiser treat infinite loops with no side-effects as causing undefined behaviour, based on the C++ standard. The LLVM IR itself doesn't define infinite loops very well. This is a recurrent topic on the LLVM mailing list. See for example [here](https://lists.llvm.org/pipermail/llvm-dev/2015-July/088095.html) and [here](https://lists.llvm.org/pipermail/llvm-dev/2017-October/

[2018-02-01 20:33] slfritchie opened #2526 "Fixes to fix for FFI & GC interaction in tcp_connection.pony and file.pony"
While working on a Wallaroo data corruption problem, chats with @dipinhora revealed the cause of the data corruption problem & how to fix it.  The Wallaroo code https://github.com/WallarooLabs/wallaroo/blob/master/lib/wallaroo/core/sink/tcp_sink/tcp_sink.pony#L105 and elsewhere in that file is closely related to code in `packages/net/tcp_connection.pony` and `packages/files/file.pony`

The use of

[2018-02-02 20:06] clearyf opened #2529 "Multiple concurrent Process Monitor processes sometimes fails to finish"
I wrote a small program in pony to run a few (4 to be exact) processes in parallel, parse the output, etc, and noticed that sometimes my program hung while one of the subprocesses was stuck in the zombie
state.  The zombie process corresponded to the ProcessNotifier that didn’t have dispose called, so my code was hung waiting for dispose. The code below reliably triggers the problem on my system h

[2018-02-02 21:04] jemc opened #2530 "Improve attached info for "argument not a subtype of parameter" error."
We had a user in IRC today show the following example:

[code]

[code]

The error message is correct, but you have to read to the bottom of the info to understand what the expected parameter type was.

We want to add another two info lines to the top, saying something like:
- `argument type is [print argument type]` (pointing to the argument type in the source code)
- `parameter type is [print par

[2018-02-03 03:16] slfritchie opened #2531 "viewpoint_type: Assertion `0` failed."
While working on my first PonyCheck project (cc: @mfelsche, a simple test model worked, but a tweak then causes this error) with the 0.21.3 version of `ponyc` on OS X 10.12.6:

    0.21.3-98ce09163 [debug]
    compiled with: llvm 3.9.1 -- Apple LLVM version 9.0.0 (clang-900.0.39.2)

The follow assertion error is printed.  It seems different enough from bug #1864 to report it.

[code]

I'll add a l

[2018-02-03 03:56] slfritchie commented on #2531
My home webserver is hosed, so I'll put the source in a shell archive at https://gist.githubusercontent.com/slfritchie/9e996b81511d351c8f8fce07a15839aa/raw/5ae6c7b4d50dabc72afe54ee66211ae511ff9d40/ponyc-bug-2531.shar

If that file is stored in `/tmp/ponyc-bug-2531.shar`, then to reproduce with a 0.21.3 compiler (OS X or Linux):

    mkdir /tmp/ponyc-bug-2531
    cd  /tmp/ponyc-bug-2531
    sh -x /

[2018-02-03 04:11] slfritchie commented on #2526
Or 3. Replace the two data structures in use today, `pending_writev` and `pending` with a single something that also isn't vulnerable to GC races.  (I wrote a non-Windows replacement candidate and started testing it with PonyCheck and then got mired in what has become bug #2531.)

[2018-02-03 18:56] Praetonus commented on #2531
Could you try and see what `l_type` looks like at the moment of the crash in `viewpoint_type`? You can call the `ast_print` function inside of the debugger for that.

[2018-02-03 21:15] mfelsche commented on #2531
the assertion is hit when trying to reify  [`Stringify[T].apply`](https://github.com/mfelsche/ponycheck/blob/master/ponycheck/property_runner.pony#L116) for the type argument `(Array[TestOp ref] ref, String val)`.

l_type:

[code]

r_type:

[code]

[2018-02-04 16:46] #2496 closed

[2018-02-05 06:18] winksaville opened #2533 "Broken revdesp buildling on Windows"
I'm trying to compile Ponyc on Windows, [here is the config.log](https://drive.google.com/open?id=1rF0vXD11Nof54uDcMv_qPGfRKc_ShHzv) and got the following error:
[code]
What have I done wrong?

[2018-02-05 16:39] kulibali commented on #2533
You need a Windows 10 SDK.  https://github.com/ponylang/ponyc/blob/master/README.md#building-on-windows

If you are using Visual Studio 2015, use the download link in the Pony README.  If you are using Visual Studio 2017, install the SDK via the VS installer.

[2018-02-05 16:39] kulibali commented on #2533
After you install the SDK, do `make distclean` and `make configure` to pick up the new one.

[2018-02-05 20:03] winksaville commented on #2533
@kulibali, thanks for the help.  I've tried again (installed build tools, windows 10 sdk and python 3.6) but still must be missing/forgot something. I removed build/ and did the ./make.bat distclean but got an error when doing the ./make.bat configure:
[code]
[Here ](https://drive.google.com/open?id=1Oxmk3VINrujpskq2YDLb85tE-2u9u1bi) is my config again.

[2018-02-05 20:17] mfelsche opened #2534 "Lambda can't capture reference to method defined later"
While a lambda can capture methods in a class or actor or primitive that were declared before that lambda, it is not able to capture methods defined after lambda definition.

Example:

[code]

https://playground.ponylang.org/?gist=7cb67fa246a1e0871a7a0cca054c72b9

This one came up on IRC by users: foofighterbar and Candle

[2018-02-05 20:31] mfelsche commented on #2534
Actually, this is not an issue.

Pony is not able to resolve `_do_something` in the lambda above, even if it is defined before the lambda.
This is correct behaviour and not buggy. A known workaround is to bind `this` to a local field and reference the method through it:

[code]

[2018-02-05 20:31] #2534 closed

[2018-02-06 00:18] winksaville commented on #2533
I got it to compile, I removed build tools, sdk and instead installed the VS Community edition and that worked. @kulibali, when was the last time you or someone has tried using the "build tools"? Maybe the README should be modified to suggest using one of the VS versions.

[2018-02-06 00:22] kulibali commented on #2533
I verified the build tools a few months ago, but I haven't since then, and Microsoft keeps changing how they set registry keys etc for the file locations.  I'll try to fire up a VM sometime this week and see what's wrong.

[2018-02-06 02:54] winksaville commented on #2533
SG, I'm very curious to find out what I may have done wrong.

[2018-02-06 06:39] killerswan opened #2537 ".docs/extra.js is missing?"
Maybe I'm missing something else, but I observe on macOS that when I try to `make install` (or just `make docs` I'm missing this file...
https://github.com/killerswan/ponyc/blob/0ee798fd2c22601ce6cbbfb901ed2258bee9801b/Makefile#L908

😅

[2018-02-06 10:55] #2537 closed

[2018-02-07 20:54] #2028 closed

[2018-02-07 21:23] Theodus opened #2540 "RFC: remove-case-functions"
Remove the existing case functions implementation from Pony.

[RFC 51](https://github.com/ponylang/rfcs/blob/master/text/0051-remove-case-functions.md)

[2018-02-07 21:26] Theodus opened #2541 "RFC: improved-ponybench"
New implementation of ponybench

[RFC 52](https://github.com/ponylang/rfcs/blob/master/text/0052-improved-ponybench.md)

[2018-02-10 18:08] #2540 closed

[2018-02-12 20:26] DestyNova opened #2544 "Won't compile on Ubuntu Artful (17.10)"
After executing these steps:
[code]
...compilation fails with the following output:
[code]

HEAD is at 82844b05a0046930a1bb6bbda31bc1114701cf08. Did I miss a build/config step?

[2018-02-12 20:28] krig commented on #2544
Try `make default_pic=true`

[2018-02-12 20:46] DestyNova commented on #2544
Yup, `make clean` followed by `make -j3 default_pic=true` fixed it! If it would help, I'll add a section for this Ubuntu release to the build docs?

[2018-02-13 22:43] Praetonus commented on #2544
Is there anything more to do before closing this now that #2545 has been merged?

[2018-02-14 13:15] mfelsche commented on #2531
So, leaving the strange paremeterized `primitive _Stringify[T]` in ponycheck aside (will change that) as fixing this to `_Stringify.apply[T]` also does not help:

Either the tuple is slipping through at an earlier stage and should actually be transformed into something else or the tuple case is not handled well in the code in `viewpoint.c`.

[2018-02-14 21:09] Praetonus opened #2551 "F-bounded polymorphism limitations"
[code]

This code is incorrect. Compilation fails with the following error:

[code]

The definition of `D` highlights the problem. In `X`, `this` isn't always an `A` because it is possible to define a type that implements such a trait with a different type as the type argument.

I can see two functionalities that could be implemented to fix the problem.

- Self types. This is probably the most gen

[2018-02-14 22:11] DestyNova commented on #2544
Fixed by #2545

[2018-02-14 22:11] #2544 closed

[2018-02-14 23:39] winksaville commented on #2508
PR #2552 is a possible fix for this issue.

[2018-02-15 23:11] LuigiBaute opened #2554 "hello I would like to collaborate with your project serving as a translator to Spanish which is my native language"

[2018-02-16 09:22] VedVid commented on #2533
As far as I know you did nothing wrong. "MT" refers to mt.exe that used to be shipped with SDK - it's included in 10.0.15063.0, but I can't find it in later (10.0.16299.91, for example) releases.

[2018-02-17 23:06] clearyf commented on #2529
I believe I have found the actual issue; in order to find out what was actually going on, I added ~50 trace/prints through the ProcessMonitor, asio/event and then asio/poll until the difference between processes that exited correctly and processes that did not became clear. This is a process that finishes correctly (greping output for `fd 11`):

[2018-02-17 23:07] clearyf commented on #2529
After a session of printf debugging the problem appears to be clear enough, here is the output of my customised pony runtime / process_monitor (lots of

[code]

[2018-02-17 23:34] clearyf commented on #2529
sorry for accidentally closing the issue, basically I have figured out the root cause, so the problem is that asio subscribe/unsubscribe requests to the same fd overlap, so in a ponyc with lots of extra printfs this is the normal lifetime of an fd of a subprocess:
[code]
but for the problematic fd that is stuck this happens:
[code]
Initially it is subscribed for writing, an event arrives and then

[2018-02-18 10:42] clearyf commented on #2529
A followup: the basic problem is that in the process monitor code, the fds are being closed as the close events arrive from asio, but the unsubscribe only happens later in `_close`. There is a hard rule here: the unsubscribe **must** happen before closing the fd, or else there is a chance for the closed fd to be reused with a different subscribe. Making this change in the ProcessMonitor makes ever

[2018-02-18 10:55] clearyf commented on #2529
I started writing a PR for the commit above, but then the hang triggered again after 30k runs; this is different, subprocesses have been reaped, but the process is still running. There are still two read pipes open.

[2018-02-19 20:39] mfelsche commented on #2531
It seems that the iftype used in `Stringify[T].apply` in this line: https://github.com/mfelsche/ponycheck/blob/a4b2d49548e4b1f2c6c23d2c5e5adf324b3bb99d/ponycheck/property_runner.pony#L120 is causing troubles.

In current master of ponycheck i replaced it with a runtime match and it compiles and runs just fine.

@slfritchie i hope this unblocks your work.

[2018-02-21 04:45] slfritchie opened #2559 "'make test' crashes with SIGSEGV on AWS c4.4xlarge instance type or larger"
This is a puzzler.  I've found that 'make test' crashes quite consistently with a SIGSEGV when used on an AWS instance c4.4xlarge (16 CPUs) or c4.8xlarge (36 CPUs) but not with the same instance family but smaller CPUs: c4.large, c4.xlarge, and c4.2xlarge do not crash.  A 2 CPU VirtualBox VM here on my home machine, configured in a very similar way (different kernel & base Ubuntu Xenial/16.04 LTS

[2018-02-21 21:53] lukecheeseman commented on #2551
Ah, I misunderstood this sorry. I thought you were saying the implementation of F-Bounded polymorphism was incorrect. I see now that you are saying that the above program cannot type check whilst adopting only F-Bounded polymorphism. (I only write this here in case anybody else made this mistake).

[2018-02-21 21:54] lukecheeseman commented on #2551
[code]
As an aside, this causes a segmentation fault in the compiler (I'll raise a bug)

[2018-02-21 21:58] lukecheeseman commented on #2551
Aside: I experimented with this in Java to see what it would do (my other goto language for F-Bounded polymorphism):
[code]
and the Java compiler throws up a bit (this was JDK 9.0.1):
[code]

[2018-02-21 22:03] lukecheeseman opened #2562 "Compiler segfault when using generics"
[code]

I was looking at @Praetonus's [F-Bounded Polymorphism issue](https://github.com/ponylang/ponyc/issues/2551) and tweaked the input a bit and hit a segfault. I'm not sure if this is related to other bugs with generics that I can see on the issues list so thought I would raise it just in case.

[2018-02-22 15:35] SolarLune opened #2563 "No source files in package "." on Docker run"
Hey, there. I wanted to try out PonyLang, but I'm getting an error when trying to run the compiler through docker. I have it downloaded just fine, but when I run:

`
sudo docker run -v /home/solarlune/Documents/Projects/Pony/Test:/src/main ponylang/ponyc
`

I get the following result:
[code]

I believe I'm specifying things correctly? My main.pony file has the following path:

`/home/solarlune/Doc

[2018-02-22 15:38] #2563 closed

[2018-02-23 02:29] patroclos opened #2564 "add ALPN support to the net/ssl package"
Minimal sample serverside implementation can be found in https://github.com/patroclos/pony-h2
(specifically alpn.c and ssl/ssl_context.pony)

[2018-02-25 02:26] jemc commented on #2363
This isn't happening for me anymore.

[2018-02-25 02:39] jemc commented on #2363
Hm... never mind - it's still happening in the minimal examples.

[2018-02-25 23:56] tmmcguire opened #2567 "File.open opens the file in read-write mode"
OpenFile and the File.open constructor are documented as opening the file in read-only mode, but appears to be calling @ponyint_o_rdwr as the second argument to @open and @_open. This seems to fail if the file is not writable.

I'm using Linux and

     $ ponyc -v
     0.21.3-e93d552 [release]
     compiled with: llvm 3.9.1 -- cc (Ubuntu 5.4.0-6ubuntu1~16.04.5) 5.4.0 20160609
     Defaults: pic=fa

[2018-02-25 23:59] tmmcguire commented on #2567
I just created PR #2568

[2018-02-26 01:29] Praetonus commented on #1186
I think I found the root of the issue. LLVM marks the crashing function as `nounwind`, which results in the landing pad address being incorrect. If I remove the `nounwind` attribute manually, the landing pad is generated correctly. I'll sum up all the info gathered in this thread and open that long overdue bug report.

[2018-02-26 02:11] Praetonus commented on #1186
LLVM bug opened: https://bugs.llvm.org/show_bug.cgi?id=36513

[2018-02-26 02:26] Praetonus commented on #2562
This is an infinite loop in the subtyping code. The compiler is stuck trying to determine whether `X[A] box` is a subtype of `X[A] ref`. This happens when checking the generic constraints of the call to `X.apply` in `X.f`.

[2018-02-26 21:55] SeanTAllen commented on #2346
Well there is something funky, with LLVM 3.9.1

[code]

incorrectly returns false but...

[code]

works.

There is a certain similiarity to them.

[2018-02-28 20:31] Praetonus commented on #2562
This looks like a duplicate of #2399. I'm going to leave both issues open since the code example here is simpler.

[2018-02-28 21:00] #2502 closed

[2018-02-28 21:13] mfelsche opened #2570 "Missing tests and unclear behaviour of the File class"
While investigating #2568 during the development sync we found a lack of tests and defined behaviours for the the behaviour of the `files.File` class, especially when a file is opened in read-only mode and writes are attempted, the desired behaviour would be to raise an error here on the write operation.

It would also make sense to have a more extensive documentation on the behaviour and usage of

[2018-02-28 21:34] jemc commented on #2554
Discussed on the sync call.

The best place to start would be creating an unofficial translation of the tutorial, which we could link to from the tutorial, with the caveat that it was a community project, and not guaranteed to be up-to-date with the latest tutorial content from the canonical English version.

[2018-03-01 16:45] winksaville commented on #2508
Fixed with #2552 being merged.

[2018-03-01 16:45] #2508 closed

[2018-03-03 15:56] PatNowak opened #2572 "Message chaining + optimization bug"
Hi,

I have the following program:

[code]

When run with `ponyc --debug` it compiles fine. However, trying to compile normally results in a compiler assertion:

[code]

[2018-03-03 17:25] SeanTAllen commented on #2572
This would be my guess at your minimal example but it works fine for me...

[code]

[2018-03-03 17:45] PatNowak commented on #2572
Actually my minimal example is bit different:

	actor Main
	  new create(env: Env) =>
	    // initialize these objects work
	    var a: HasHello = Poteflon(env)
	    var b: HasHello = Poteflon(env)

	    // this works too without line in the middle
	    env.out.print(a.hello("a"))
	    env.out.print("") // this line causes crashes :)
	    env.out.print(b.hello("b"))

	class Poteflon
	  new create(

[2018-03-03 19:32] clearyf opened #2575 "Error handling inside asio_event_* functions, checking for API misuse"
As part of investigating #2529 I discovered that the process package was triggering errors inside the asio epoll implementation.  I haven’t tested on any platforms other than linux, so I’ve no idea what the other asio implementations are doing.  The problem was that the process package was closing the pipes to the subprocess, but only later unsubscribing the asio event notification once all three

[2018-03-03 19:32] clearyf opened #3569 "Error handling inside asio_event_* functions, checking for API misuse"
As part of investigating ponylang/ponyc#2529 I discovered that the process package was triggering errors inside the asio epoll implementation.  I haven’t tested on any platforms other than linux, so I’ve no idea what the other asio implementations are doing.  The problem was that the process package was closing the pipes to the subprocess, but only later unsubscribing the asio event notification o

[2018-03-03 20:08] SeanTAllen commented on #2572
@Praetonus thoughts on this? appears to be message chaining related.

[2018-03-03 20:11] SeanTAllen commented on #2572
from a performance perspective @PatNowak:

[code]

is potentially less efficient than

[code]

because the first has 3 message sends. the 2nd however has additional memory allocations (which you want to deal with via https://patterns.ponylang.org/performance/limiting-string-allocations.html if you cared)

[2018-03-03 20:18] SeanTAllen commented on #2572
I removed most of the comments on this thread as they were about getting a minimal example. Ive updated @PatNowak's original comment to reflect the problem.

[2018-03-05 18:44] slfritchie commented on #2531
Yup, that workaround indeed works, @mfelsche, sorry about the wait.

[2018-03-06 16:01] Praetonus commented on #2572
For some reason the optimisation pass is running multiple times on the function, and that shouldn't be happening. The most puzzling thing is that it doesn't happen without the interface calls.

[2018-03-07 15:20] winksaville opened #2580 "Assert in pony_asio_event_unsubscribe fired"
[TravisCI failed  in MacOS test](https://travis-ci.org/ponylang/ponyc/jobs/350154261) @slfritchie, could this be related to #2561?

238 tests started, 238 complete: process/WritevOrdering complete
239 tests started, 238 complete: process/PrintvOrdering started
src/libponyrt/asio/kqueue.c:377: pony_asio_event_unsubscribe: Assertion `0` failed.

Backtrace:
  0   stdlib                              0

[2018-03-07 16:38] slfritchie commented on #2580
Ouch, I hope not, @winksaville.

I wonder if it's related to the race(s) described in #2529.  The lost wakeup event work in #2561 wasn't meant to fix ProcessMonitor ... but I suppose that it's possible that #2561 makes the ProcessMonitor problem worse (or more noticable or ... some other adjective)?

cc: @dipinhora

[2018-03-07 16:48] winksaville commented on #2580
@slfritchie, I'm guessing my changes to gbenchmark didn't cause it :)

[2018-03-07 17:28] mfelsche commented on #2580
This seems to be related to #2574 which was recently merged.

[2018-03-07 18:58] clearyf commented on #2529
I wasn't aware of #2561, but it does look very similar to the remaining hangs, iirc I was seeing a situation where asio had sent an event for a ProcessMonitor actor, but the ProcessMonitor actor was not waking up. I just rebuilt current ponyc master fc6a6048bc4c47772a553db9a96f7528c55f9909 and the test program from #2529 is currently burning a hole in my computer, currently at 7k iterations and cl

[2018-03-07 19:13] clearyf commented on #2580
Right, so it appears that in the kqueue code there is an assert that triggers if the event is unsubscribed more than once. I don't have a Mac system so I couldn't test this here myself, but I can update the ProcessMonitor code to only unsubscribe once.

[2018-03-07 19:29] clearyf commented on #2580
79ed140cf42e97c143e354f6a240e25efea7ca56 should fix the problem; on Linux there is no assert to prevent against multiple unsubscribes, instead the epoll implementation just silently exits early instead of triggering an assert. The problem is that after the first `_close_fd` the fd is then set to -1, and that then matches at least one of the cases when all fds are closed in `_close`, unsubscribing

[2018-03-07 19:53] mfelsche commented on #2580
@clearyf could you create a PR with your commit? It makes sense regardless of the question of adding asserts (which should be considered, imo).

[2018-03-07 20:32] clearyf commented on #2580
Done. Changing the linux & windows asio implementations to assert is easy but might break existing code, in which case it's best to do it asap.

[2018-03-07 20:42] mfelsche commented on #2531
coe that triggered the error:

[code]

https://github.com/mfelsche/ponycheck/blob/a4b2d49548e4b1f2c6c23d2c5e5adf324b3bb99d/ponycheck/property_runner.pony#L115

[2018-03-07 20:44] jemc commented on #2575
Discussed on the sync call.

I would tend to think that option :one: is better here. Since these functions are prefixed with `pony_` instead of `ponyint_`, they are considered public functions. So with this in mind, incorrect use of them should be considered a problem with the caller - not a bug in the runtime. This means that error information should be propagated up to the caller as available, a

[2018-03-07 20:48] Praetonus commented on #2530
Resolved by #2577.

[2018-03-07 20:48] #2530 closed

[2018-03-07 21:11] SeanTAllen commented on #2575
We use them extensively, yes.

[2018-03-07 21:27] clearyf commented on #2529
270k iterations and still going; I'll leave it running overnight, but it looks like that as of fc6a604 this is fixed and can be closed.

[2018-03-07 21:47] mfelsche commented on #2580
With merging of #2581 this problem should be solved.

@clearyf i nonetheless think it should be tried to add assertions to linux and windows code and see how we run into them there and if this is a design flaw of the stdlib.

[2018-03-07 21:56] mfelsche opened #2582 "Docstring is inlined into constructor body if there are class/actor fields that are assigned at their definition"
This leads to unnecessary expressions in the generated code and to swallowing informative docstrings e.g. for [FilePath](https://stdlib.ponylang.org/files-FilePath/#constructors).

Minimal example:

[code]

AST (after `expr` pass):

[code]

It is clear, that the docstring is the second expression in the body `seq` and the actual `docstring` AST slot is empty.

The field initializers are added in t

[2018-03-07 22:02] winksaville commented on #2580
Closing with the hope that #2581 resolves the issue.

[2018-03-07 22:02] #2580 closed

[2018-03-07 22:07] winksaville commented on #2533
@kulibali, maybe we should change README.md and suggest using VS Community edition instead of the "build tools"?

[2018-03-07 23:26] Praetonus commented on #1531
Between @jemc's work on reducing the size of `ast_t` and my recent work on deferred reification, this is now fixed. To get some idea of the improvement, compiling the standard library test suite now uses approximately 900 MB of memory instead of 4 GB previously.

[2018-03-07 23:26] #1531 closed

[2018-03-08 02:59] strmpnk opened #2584 "Problem with matching generic types"
After #2499 was merged, I started seeing some odd errors. I still don't understand the ins and outs of generics in Pony very but I've boiled down an example snippet of something I'm not sure how to express after this change was put in place:

[code]

This should display "Answer is 42" and does with the 0.21.3 release. On master I get an error. I'm wondering if a bit too much code was removed or if

[2018-03-08 06:30] clearyf commented on #2529
Successfully ran the test program overnight on current master fc6a604, a million iterations with 20 subprocesses; originally this would hang on almost every iteration, with #2574 it takes several thousand iterations to hang, adding #2561 seems to make everything work perfectly.

[2018-03-08 06:30] #2529 closed

[2018-03-08 07:33] mfelsche commented on #2529
This is great news! Thanks for the time, brain and CPU cycles spent on that!

[2018-03-08 15:26] mfelsche opened #2587 "NetAdress is instantiated with wrong fields on linux"
[NetAddress](https://stdlib.ponylang.org/net-NetAddress/) is instantiated with confusing values on linux both when resolving a hostname using `DNS.apply(...)` or opening a listening socket via `TCPListener`.

The `length` field gets a value of `2` for ipv4 addresses and `10` for ipv6 addresses, which corresponds to the `AF_INET` and `AF_INET6` values on my machine (see below). The `family` field i

[2018-03-08 19:20] slfritchie commented on #2587
Using Pony 0.21.3:

2587-osx-output.txt: https://gist.github.com/slfritchie/42249287660e3e80be91248c2d874923
2587-freebsd11-output.txt: https://gist.github.com/slfritchie/ea408a7ceb5f0f29b8ab560d3f5edec7

Note that these outputs are (probably) using the same DNS resolver address, but they were performed several minutes apart so that the cached responses from the OS X run expired before the FreeBSD

[2018-03-08 19:59] mfelsche commented on #2587
Thank you very much.

This confirms that OSX and FreeBSD don't seem to be affected.

[2018-03-10 00:11] Praetonus opened #2591 "RFC: Compile-Time Expressions"
Adding compile-time expressions to pony, these are pony expressions which are evaluated by the compiler.

[RFC 53](https://github.com/ponylang/rfcs/blob/master/text/0053-compile-time-expression.md)

[2018-03-11 02:19] kulibali commented on #2533
I started up a clean Windows VM just now, installed Git, Python and the Visual C++ Build Tools with the Windows 10 SDK (10.0.16299.0 was the latest one visible in the installer), and with the single fix to `wscript`, I was able to build.

[2018-03-11 02:26] winksaville commented on #2533
Great, I'll close the when the fix is merged!

Thanks.

On Sat, Mar 10, 2018, 6:19 PM Gordon Tisher <notifications@github.com>
wrote:

[2018-03-11 15:33] SeanTAllen commented on #2584
FYI... I don't think we should do a release until this is fixed. Release is currently blocked at my request for Wallaroo Labs so I don't think it matters but I just wanted to make the point we shouldn't have a release with this regression in it.

[2018-03-11 19:19] strmpnk opened #2596 "Compiler assertion failure with intrinsic structs"
While it's reasonable to disallow types like Pointer and MaybePointer from being embedded in something, it currently causes a failed assertion rather than an error in the compiler. It might be worth making this sort of limitation clearer with an error message for those who might be exploring the language.

Example code which reproduces the assertion crash:

[code]

[2018-03-11 19:53] clearyf commented on #2575
I can try to write up an RFC for this, I'll need to look at a few RFCs to get a feel for what kind of detail is actually required. Hopefully sometime in the next week or two. Are there any RFCs I should look at to see how the RFC process works?

[2018-03-12 14:56] Praetonus commented on #2596
This should indeed result in a compiler error. In `pass_flatten` in `pass/flatten.c`, instead of accepting all embedded structs, we should check whether the struct is `Pointer` or `MaybePointer` and reject accordingly. Checking the name of the type is sufficient, as user packages cannot contain types with names identical to builtin types.

[2018-03-15 13:52] matthewp commented on #1407
I'm not sure if wasm can launch web workers or not, but given pony's unique actor model, having actors run in web workers would differentiate it from other languages that are compiling to wasm.

[2018-03-17 09:15] ColdAppleCider opened #2600 "Compiling ponyc fails with an "conversion to ‘size_t {aka unsigned int}’ from ‘uint64_t {aka long long unsigned int}’ " error."
Output

[code]

[2018-03-18 16:45] Praetonus commented on #2584
So after thinking about this a bit more, I do think that the current implementation of pattern matching is correct. If the example code here was allowed by the compiler, it could exhibit a surprising behaviour for some reifications. This is related to #2182.

For example, if `SimpleBox` is reified with `Any ref`, the type of `_data` is `(Any ref | None val)`. `None` provides `Any`, which means tha

[2018-03-18 18:32] Praetonus commented on #2497
Another example with type parameter constraints referencing each other:

[code]

[2018-03-18 19:24] strmpnk commented on #2584
That makes sense. Thanks for the explanation, I had not settled that Any would include None.

In my mind, the A was concrete type at the time of the check so it'd know that it wasn't None as part of the reification (or if it was, it could error). But if the check happens before the reification, there's no way to safely decide at compile time. Should this check be done without reification of the sp

[2018-03-18 23:29] Praetonus opened #2601 "is_cap_sub_cap doesn't do what the documentation says it does"
The rule for capability subtyping is supposed to be "every possible instantiation of the subcap is a subtype of every possible instantiation of the supercap", according to the documentation of `is_cap_sub_cap`.

However, the function implementation assumes that every capability is a subtype of itself, which isn't correct for generic capabilities. For example, in `#read`, which is `{ref, val, box}`

[2018-03-18 23:57] aravind-kumar commented on #2596
First time contributor 🙂
Could you please tell me the api to use which could be used to find the type of the embed ?
I tried the following
-ast_type(type)
-ast_type(ast)
-ast_name(type)
-ast_name(ast)
but it asserts out
I tried to find the filed which would have the type info using lldb
Following is the output for field embed not_ok

(lldb) p *$17
(ast_t) $18 = {
  t = 0x000000010b192f80
  symtab

[2018-03-19 13:30] dangoldin opened #2602 "Compiling fails with an `ast != NULL` failed` assertion when creating a Regex to String map"
I have the following code that tries to create a map with the key type Regex and the value type String and usually I receive a helpful compilation error but in this case I received the error and trace below. This doesn't happen if I make the map String => String so it must be something to do with trying to make a Regex the key.

The example is up on the playground: https://is.gd/gyYKWE

[code]

Th

[2018-03-19 15:36] mfelsche commented on #2602
Here is a lldb backtrace:

[code]

[2018-03-19 15:57] Praetonus commented on #2596
@aravind-kumar For reference, you can use the `ast_print` function in a debugger to print an AST in a human-readable form. The function takes an AST to print and a maximum width for the printed text.

A `nominal` AST has the following structure:

- Base node (`TK_NOMINAL`)
  - Package ID
  - Type name
  - Type arguments
  - Capability

The name is the child node at index 1, which you can access wi

[2018-03-19 16:08] mfelsche commented on #2602
the actual error is that there is a typecheck error for the argument to concat as `Regex` is not `Hashable` which is required for map keys.

The type inference code for array literals does not properly handle that case.

[2018-03-19 16:43] aravind-kumar commented on #2596
Thank you so much 👍
Works like a charm 🙂

[2018-03-19 21:19] ColdAppleCider commented on #2600
OK, i guess, you are dropping support for 32-bit platforms, whatever...

[2018-03-19 21:56] SeanTAllen commented on #2600
We havent dropped support for 32 bit but we have no CI for it so its best effort. Pony is a volunteer project so sometime it takes a bit of time to get an answer. This should be a simple fix assuming you know C. Do you want to open a PR @ColdAppleCider?

[2018-03-19 22:21] BlackYoup opened #2604 "httpserver example sigsegv in ponyint_gc_release on master"
Hello,

I've been playing with pony those last days, it's fun! I took a look at the `httpserver` example and it crashes (sigsegv) when I use the master branch. It doesn't crash using release 0.21.3. I couldn't find any similar issue, sorry if that's a duplicate.

## Trigger the bug
I used https://github.com/ponylang/ponyc/blob/master/examples/httpserver/httpserver.pony and executed the program wit

[2018-03-19 22:31] ColdAppleCider commented on #2600
Okay, sorry. I am not very good in C, i don't know how to fix it properly.

[2018-03-20 02:42] aravind-kumar commented on #2600
@SeanTAllen
I can take this up. 🙂
Should i typecast the before returning ? Ex: pkg/package.c:119
Or Change the return type from uint64_t to size_t ?
Wouldn't the latter be cleaner ..? 🙂

[2018-03-20 02:50] SeanTAllen commented on #2600
I agree size_t seems like it would be clear @aravind-kumar

[2018-03-20 15:22] Praetonus commented on #1186
The bug has been fixed, the fix will be part of the next LLVM release.

[2018-03-20 15:22] #1186 closed

[2018-03-20 18:38] Praetonus commented on #2604
Hi @BlackYoup. Could you try with the following diff?

[code]

[2018-03-21 16:55] #2582 closed

[2018-03-21 17:09] #2533 closed

[2018-03-21 17:23] king1600 opened #2609 "SIGSEGV when accessing tuple element from partial function"
The segfault occurs regardless of the --debug flag.
Compiler version: `0.21.3-98ce091 [release]`
  * (native windows binary) `llvm 3.9.1 -- msvc-15-x64`
  * (windows 10 WSL) ` llvm 3.9.1 -- gcc (Ubuntu/Linaro 6.3.0-18ubuntu2~14.04) 6.3.0 20170519`
### The bugged code:
[code]
### The segfault
[code]
gdb backtrace:
[code]

I do not currently have a proposed solution but the bug itself seems simple t

[2018-03-21 19:57] Praetonus commented on #2609
This is a bug in the union-to-tuple cast code generation.

[2018-03-21 19:58] jemc commented on #2517
@SeanTAllen - This came up on the sync call - what's the status of this release blocker?

[2018-03-21 20:08] jemc commented on #2362
Discussed on today's sync call. @mfelsche will work on creating an RFC to improve the `NetAddress` interface.

[2018-03-22 03:09] SeanTAllen commented on #2517
Couple weeks and I'll do this release.

[2018-03-22 12:08] BlackYoup commented on #2604
This patch indeed fixes the problem because I can't reproduce it since c2c4f5fc3a4efd246cb1d0aecd09883ef90fec6f :)

[2018-03-22 12:08] #2604 closed

[2018-03-22 20:23] Praetonus commented on #2531
I think this has been fixed with the recent work on deferred reification.

Previously, functions were fully reified without taking `iftype` branches into account, which was incorrect, as demonstrated here. The `then` branch was being reified with a tuple, and since looking up a function involves viewpoint adaptation, it caused a crash.

Now that chunks of the function AST are reified as needed, th

[2018-03-22 20:25] mfelsche commented on #2531
I already tried hard to find a better minimal example that reproduces this (on current master) without success. Will try again with the example from this issue and report.

[2018-03-22 22:05] slfritchie commented on #2531
You're correct, @Praetonus.  If I use commit 88bc5f7dbc18452c0fed0105136131e9c348f948 of the `ponycheck` repo (that's the commit before Matthias removed the offending `iftype`), then I see the reported crash when using ponyc 0.21.3 and I see no crash when using ponyc master today.

[2018-03-22 22:21] Praetonus commented on #2531
Great, then I'll close the issue.

[2018-03-22 22:21] #2531 closed

[2018-03-26 07:44] mfelsche opened #2613 "String.cstring() fails to null-terminate a trimmed string under certain circumstances."
This bug happened to me, when extracting the port from a command line arg like `localhost:9999:A` using `String.trim` and passing this to `TCPListener.create`. It failed to start listening, turned out the port/service cstring which should have been `9999`, which was a shared slice of the whole `localhost:9999:A`, was actually: `9999:A`, because `String.cstring()` failed to null-terminate the `char

[2018-03-26 07:46] mfelsche commented on #2613
Here is a snippet of an lldb session which reveals what happens in `String.cstring()`. It copies the contents of the trimmed string properly to that pointer, but fails to do `Pointer[U8]._update(_size + 1, 0)` somehow.

[code]

[2018-03-26 23:20] BlackYoup opened #2614 "HTTPServer closes the connection if the received chunk fails to parse"
I have a problem with the HTTP server where a long request URI would make the server close the connection even if the request is entirely valid. This is because the state machine doesn't seem to implement the "we need more information to decide" case, or at least I couldn't find it / may have not seen it.

## Reproduce
I can reproduce on both `0.21.3` and current master fb10149e116460f908f949310ff

[2018-03-27 10:46] mfelsche commented on #2614
Thanks for reporting this issue.
Your diagnosis is completely right.
The HTTP parser is trying to get a complete line from the [Reader](https://stdlib.ponylang.org/buffered-Reader) which fails with an `error`. See here: https://github.com/ponylang/ponyc/blob/master/packages/net/http/_http_parser.pony#L158

The way the `_ServerConnHandler` is calling the `HTTPParser` it is assuming that any error t

[2018-03-27 19:20] BlackYoup commented on #2614
Thank you for the insights as to how to fix this :)
I'll try to do what you proposed and ask questions here if I need some help :)

[2018-03-28 19:43] Praetonus commented on #2600
Should be fixed on latest master.

[2018-03-28 19:43] #2600 closed

[2018-03-28 19:44] mfelsche commented on #2613
It looks like this is a simple off-by-one issue, which only affects cases where the memory location being returned from alloc has already been used. it should be `ptr._update(_size, 0)`

[2018-03-28 19:46] #2602 closed

[2018-03-30 06:12] slfritchie opened #2620 "TCPConnection._apply_backpressure() problem with _writeable flag?"
I'm 80% somewhat certain this might be a bug. The `_apply_backpressure()` function in `TCPConnection` doesn't appear to be doing the right thing with the object's `_writeable` flag.

If a TCP connection has been throttled, then all is well if a subsequent write is able to write all buffered data successfully.  However, if the object cannot write everything before hitting another `@pony_os_writev()

[2018-03-30 08:12] mewingtree opened #2621 "ponyc build fails recently with: make: *** No rule to make target 'src/libponyc/codegen/genjit.c'"
There seems to be a recent regression where ponyc build fails on Fedora 26:

`
ponyc]$ git checkout 41b80eeb6e3
ponyc]$ make
Makefile:259: WARNING: LLVM 4 support is experimental and may result in decreased performance or crashes
make: *** No rule to make target 'src/libponyc/codegen/genjit.c', needed by 'build/release/obj/libponyc/codegen/genjit.o'.  Stop.
`

(Same situation for current master, 9

[2018-03-30 10:38] vsharathchandra opened #2622 "Ponyc compile from source"
How do I compile ponyc from source on a centos7 system

[2018-03-30 10:44] mfelsche commented on #2622
Hi,

I haven't tried it myself, but this section should be the way to go for centos7:

https://github.com/ponylang/ponyc/blob/master/README.md#other-linux-distributions

You might need to figure out the proper package names you need to install with yum. And the 3.9.1 list entry should be `llvm 3.9.1`

[2018-03-30 11:44] vsharathchandra commented on #2622
I have installed llvm using the steps inn this [link](https://stackoverflow.com/questions/44219158/how-to-install-clang-and-llvm-3-9-on-centos-7?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa) .I have run these commands sucessfully
    wget ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre2-10.21.tar.bz2
    tar xvf pcre2-10.21.tar.bz2
    cd pcre2-10.21
./config

[2018-03-30 11:52] BlackYoup commented on #2622
You may need to install the development headers of llvm. Usually the package name is `llvm-dev` or something similar. On centos, it seems to be `llvm-devel`: https://fedora.pkgs.org/26/fedora-i386/llvm3.9-devel-3.9.1-8.fc26.i686.rpm.html

[2018-03-30 12:59] SeanTAllen commented on #2622
@vsharathchandra `llvm-config` needs to be in your path. i'm not sure what package on CentOS installs taht. I think @BlackYoup's suggestion of installing `llvm-devel` seems like a good idea.

[2018-03-30 13:03] SeanTAllen commented on #2622
According to https://bugs.centos.org/view.php?id=10174, `llvm-config` is indeed part of `llvm-devel`

[2018-03-30 14:26] Praetonus commented on #2621
You need to clear your build directory. The `genjit.c` file was recently removed from the project.

[2018-03-30 20:02] jemc commented on #2584
Part of the goal of compiling a type that has type parameters is to prove that it will have correctness for any possible reification - this is what type parameter constraints are all about - setting the domain of possible reifications, so that the type system can check that all bounds of that domain are sound.

Taking this approach means that you can create a library that compiles for you in your

[2018-03-30 21:26] strmpnk commented on #2584
_My knowledge around type theory is pretty shallow and mostly from experience with the ML family of languages. What follows is how I'm trying to reason about this case but I'm likely missing something so please to tell me where I might be missing something._

I'm not in disagreement here. For this this specific case of a union, explicitly specifying disjointness of a parameter is certainly a reaso

[2018-03-31 00:52] mewingtree commented on #2621
Thanks, it worked after doing 'make clean'.

Out of curiosity, without 'make clean', why does it try to build something on which it does not depend?

[2018-03-31 01:31] #2621 closed

[2018-03-31 01:32] SeanTAllen commented on #2621
You had a left over .o file that make didn't know what to do with

[2018-03-31 14:32] #2613 closed

[2018-03-31 17:02] dipinhora commented on #2622
PR #2623 added instructions on how to compile from source for CentOS/RHEL.

NOTE: There are some errors that I encountered that I've noted on the PR.

[2018-03-31 17:15] dipinhora commented on #2620
@slfritchie Good catch regarding the edge case where the actor is `throttled` and is unable to write out it's full amount. Your change should be a safe fix to the issue.

There is no need for the `if _writeable then` check because `_apply_backpressure` can only be called when `_writeable` is true from `_pending_writes` (all other places it might be called from are not relevant because they are for

[2018-04-02 11:39] vmeno opened #2626 "binog"

[2018-04-02 11:44] #2626 closed

[2018-04-02 20:44] slfritchie commented on #2620
FWIW, this problem appears on Linux kernels from Ubuntu 16.04 LTS "standard" 4.4.0-116-generic as well as 4.13.0-37-generic.

[2018-04-03 01:44] EpicEric commented on #2024
Fixed with #2494

[2018-04-03 03:28] #2024 closed

[2018-04-03 03:28] jemc commented on #2024
Thanks for the ping, @EpicEric!

[2018-04-04 22:28] ikavalio commented on #2158
Hi guys, thank you for the amazing language!

I've faced similar but not exactly the same issue with `walk` when it is invoked on a dir with large number of nested subdirs (depth is relatively small < 10). At a given point I'm reaching max opened files limit on Ubuntu (haven't changed the default 1024). I think it happens because successfully opened dir is never disposed explicitly and gc is never

[2018-04-04 23:05] jemc commented on #2158
@ikavalio - Thanks for working on it!

This looks like a good patch to me, and definitely worth filing as a PR. If anyone sees an issue with this approach, they can raise that in the PR, but it looks good to me.

As far as idiomatic Pony goes, I think it might make sense to move the last line of the loop into the condition and invert the condition, instead of using `continue`. That should be equiv

[2018-04-05 04:36] winksaville opened #2629 "Should LLVM be added to lib/"
It seems strange we need to support a multiude of LLVM versions, what are the downsides of supporting a single version of LLVM by adding it to lib/ and shipping it with pony?

[2018-04-05 07:42] sargun opened #2632 "When Multiple Signal Handlers Register, They Step on One another"
If you try to register signal handlers multiple times for the same signal, the last one wins. This can lead to undefined behaviour if libraries use signal handlers.

[2018-04-05 08:05] Praetonus commented on #2629
The issue here is that LLVM is a very big code base, and I don't think it would be good to require users to compile that whole code base.

[2018-04-05 10:33] ikavalio commented on #2158
Thanks a million @jemc! I'll change the code and open a PR.

[2018-04-05 16:27] winksaville commented on #2629
Would users of the compiler have to compile LLVM? I would assume there
would be a binary generated when we did a release and so it would only
affect ponyc developers.

On Thu, Apr 5, 2018 at 1:05 AM Benoit Vey <notifications@github.com> wrote:

[2018-04-05 16:41] SeanTAllen commented on #2629
Yes they would need to compile unless we provided prebuilts for every
platform.

On Thu, Apr 5, 2018, 12:27 PM Wink Saville <notifications@github.com> wrote:

[2018-04-05 16:57] jemc commented on #2629
Yeah, and even the pre-builts are quite a large package.

I think the best way to offer an "batteries included" experience for ponyc is with our docker containers, which contain everything you need to compile, because we can control the OS version and everything else along with it.

[2018-04-05 22:30] jemc commented on #2158
Fixed in #2634.

[2018-04-05 22:30] #2158 closed

[2018-04-06 14:26] winksaville commented on #2629
I'll give it a try, no guarantees :)

On Thu, Apr 5, 2018 at 10:23 AM Sean T Allen <notifications@github.com>
wrote:

[2018-04-06 19:56] mfelsche commented on #2609
FYI, i am hitting the same issue, when calling a method like:

[code]

[2018-04-09 17:44] JONBRWN opened #2639 "Codegen failure with tuples in recover blocks"
After the merge of PR #2585, certain Wallaroo applications began outputting this error when compiling:

[code]

This was verified by testing commit aabcb184c11960c07feda952b76488894c9c8e0d and verifying that the application compiled correctly and then testing with aec9610cb0a17a0ad5a322e70b613d8dc38a7101 and experiencing the error.

I've narrowed down the offending code to a few hundred lines in t

[2018-04-09 19:14] JONBRWN commented on #2639
@Praetonus I was told I should ping you about this by @SeanTAllen

[2018-04-09 23:12] Praetonus commented on #2639
Could you try compiling with the following changes to get the offending function:

[code]

[2018-04-10 02:13] JONBRWN commented on #2639
@Praetonus thank you, that pointed me to the failing function. I'm looking into it so I can present a minimal failing example

[2018-04-10 15:06] JONBRWN commented on #2639
@Praetonus thanks, I was able to find the offending function and have created a minimal example that will cause the compiler to crash:

[code]

The `apply` function in the `OffendingRecover` class will fail to compile. Commenting out ` (let a, let b) = OffendingRecover()` will show you that the `apply` function in the `NonOffendingRecover` class will compile. Seems to be a weird edge case, let me

[2018-04-10 17:14] Praetonus commented on #2639
I have a working fix. I'll open a PR shortly.

The problem is that the code generator tries to convert an `(Array[String] ref, None)` (the type inside of the `recover`) to a `((None, String) | (Array[String] iso, None))` (the type outside of the `if`) without first converting it to an `(Array[String] iso, None)` (the type outside of the `recover`.) This fails because we don't use the same LLVM typ

[2018-04-10 18:12] Praetonus commented on #2639
Also, note that this bug existed before #2585, that PR only uncovered more cases.

[2018-04-11 20:37] #2639 closed

[2018-04-12 13:57] binary132 commented on #1145
Has anyone had eyes on this recently?

[2018-04-12 14:00] mfelsche commented on #1145
Not really, though there is https://github.com/patroclos/pony_intellisense_vscode now. but i don't know the current status of it.

[2018-04-12 19:50] MightyAlex200 opened #2646 "Segfault occurs when using Iters"
I was trying to implement an algorithm in Pony when I encountered a segfault in my program while trying to use Iters. The reason for the segfault is `invalid address (fault address: 0xffffffff)`, according to lldb.

Here is the code in a [Gist](https://gist.github.com/MightyAlex200/61ac8b165e47314512bea3d79941cffc). (note: `hashgraph.pony` and `event.pony` are located in a directory `hashgraph/`,

[2018-04-12 19:58] mfelsche commented on #2646
Can you provide a full lldb backtrace? This way it is easier to spot the problem.

[2018-04-12 22:58] MightyAlex200 commented on #2646
Just compiled this with the master branch, segfault still occurs.

[2018-04-12 23:15] jemc commented on #2646
Thanks for reporting!

This looks like a nasty one...

[2018-04-13 15:26] Praetonus opened #2647 "Naming conventions of the runtime functions for the standard library"
In #554, the decision was made to add prefixes to exposed runtime functions, with `pony_` for public ones, and `ponyint_` for private ones. Functions used in the standard library (for example for networking, files, etc.) were put in the public bucket, and prefixed with `pony_`. I'd like to propose that we revisit this decision, for two reasons.

- After 1.0, we'll have to guarantee retrocompatibil

[2018-04-14 03:06] michaelsbradleyjr commented on #1407
@matthewp perhaps [Shared Memory and Atomics for ECMAScript](https://github.com/tc39/ecmascript_sharedmem) is more relevant at this point? Not sure.

N.B. the proposal has been merged into the ECMAScript specification as of Feb 2017.

[2018-04-15 00:14] EpicEric opened #2653 "Build error due to fall through in digestof case"
[code]

This appears to be happening after [this line](https://github.com/ponylang/ponyc/commit/04f0d047da5aaf2227852334a937aeb1bead9a04#diff-465803b82526dd409084962c64c5ab6eL414) was removed in `genreference.c` when digestof behaviour was modified in #2615. I suspect this cannot fall through, but it still triggers the warning nonetheless.

I'm using Arch Linux x64 with LLVM 6.0.0

[2018-04-15 01:29] MightyAlex200 commented on #2646
I've created a generalized version that also segfaults:

[code]

It won't work without the generic, so I think it's safe to say they're involved.

*However*, this occasionally compiles to a version with *no segfault* even though no changes to the code were made.

I have attached 2 Linux 64-bit binaries that were compiled the exact same way (`ponyc --debug`) with the same code. One of them segfault

[2018-04-15 15:52] ikavalio opened #2654 "Incorrect atomic initializer for arm 32/64 in libponyrt memory pool"
Hi,

I was tying to compile ponyc on 32bit armv7 cpu (armada xp MV78460, Xenial with gcc 5.4.0) and got a warning/an error while compiling `src/libponyrt/mem/pool.c`:

[code]

I did some investigation and it looks like this is happening because `central` field of `pool_global_t`
struct is defined as a simple pointer on non x86:

[code]

So correct way to initialize `pool_global` on arm (both 32 an

[2018-04-15 20:08] mfelsche commented on #2517
Let us make sure, we update the PyPI package of the https://github.com/ponylang/mkdocs-theme shortly before we actually do the release, so that the newly built stdlib docs will get all the new glory they deserve.

[2018-04-16 15:38] jemc commented on #2653
Resolved by #2655.

[2018-04-16 15:38] #2653 closed

[2018-04-16 15:44] jemc commented on #2647
I think we need to have some form of public ASIO API. It is needed for anyone that wants to have custom logic for dealing with I/O. I think Wallaroo is an example of this, and there may be others.

So maybe the Pony ASIO API RFC is a prerequisite for this.

[2018-04-17 22:55] plietar commented on #2146
This was fixed in #2411, including tests. Can't reproduce on the playground with ponyc 0.21.3

[2018-04-17 22:55] #2146 closed

[2018-04-18 02:55] aravind-kumar commented on #2079
This seems interesting.
Can I work on it? 🙂

[2018-04-18 14:13] SeanTAllen commented on #2079
Yes!

[2018-04-18 14:15] SeanTAllen commented on #2079
@aravind-kumar  I've invited you to be a member of the pony organization as a contributor. If you accept, you can be assigned to issues. Drop us a note here if you accept and someone can assign this issue to you.

[2018-04-18 14:43] SeanTAllen commented on #2079
@aravind-kumar exaplain what in more detail?

[2018-04-18 20:04] sylvanc commented on #2601
Yeah, it's a bug. Good catch. We need to remove the first clause of cap.c:73.

[2018-04-18 20:10] plietar commented on #2601
Minimal example:
[code]

In `foo`, X is treated as a subtype of Y because of [type/cap.c#L73](https://github.com/ponylang/ponyc/blob/10cef015aa6b8ee1e84360aebb3655149ee1b045/src/libponyc/type/cap.c#L73). This allows Main to abuse it to cast box into ref.

[2018-04-18 21:36] MightyAlex200 opened #2659 "Invalid tail-call optimization allows garbage data to be read and illegal instructions to be executed"
Tail-call elimination where it should not be allowed allows functions to get primitives of presumably garbage values, and when creating values from objects it is killed at runtime by SIGILL.

Minimal example:
[code]

Tail call elimination is not done in debug mode, so as expected the program is killed with SIGSEGV when it exceeds its call stack. The program exits normally when compiled without deb

[2018-04-19 14:08] Praetonus commented on #2659
This is a known problem with how the LLVM optimiser models infinite loops and infinite recursion. There is ongoing effort in the LLVM community to fix this class of problems, but unfortunately there isn't much that we can do at our level. See #1930 for more details.

I'm going to close the issue since it is a duplicate.

[2018-04-19 14:08] #2659 closed

[2018-04-19 14:15] Praetonus commented on #1995
With #2592 merged, this now crashes with a SIGILL instead of segfaulting or running the wrong behaviour. I'm going to close the issue, see #1930 for further discussion.

[2018-04-19 14:15] #1995 closed

[2018-04-20 14:25] aravind-kumar commented on #2079
@SeanTAllen : The steps to take for this enhancement
- "Modify the ponyc-windows-libs project (https://github.com/kulibali/ponyc-windows-libs) to add GCC builds."
This one 🙂

[2018-04-20 14:39] SeanTAllen commented on #2079
@aravind-kumar that would be a question for @kulibali

[2018-04-20 18:02] kulibali commented on #2079
Oh, and also you will need to modify `vcvars.c` to provide the correct options for finding required C/C++ headers, and calling the Gnu linker when linking Pony programs.

[2018-04-20 22:47] jemc commented on #2399
This might be a more minimal reproduction of the same issue:

[code]

[2018-04-21 02:34] jemc opened #2662 "Unexpected GEN_NOTNEEDED in code generation of nested tuple for loop captures."
The following Pony snippet crashes the compiler with an unexpected `GEN_NOTNEEDED` value during code generation for a `for` loop with nested tuples in its captures:

[code]
[code]

This fails in the same way both on current master (02f6db76b30bc839e1a2c2d7a329127f15972039) and on release `0.21.3` (reproducible in the Pony playground).

[2018-04-22 14:29] Praetonus commented on #2654
That fix sounds good to me.

[2018-04-23 14:06] jemc commented on #2654
Is this resolved by #2665, or was that a different issue?

[2018-04-23 14:15] Praetonus commented on #2654
@jemc No, it's a different issue.

[2018-04-23 14:19] #2662 closed

[2018-04-23 16:26] jemc opened #2667 "Not possible to return specialized value with iftype."
I would expect the following example to compile, but it doesn't:

[code]
[code]

[2018-04-23 21:41] t-0-m-1-3 commented on #2287
I'm running into the same problem on artful (17.10)
![screenshot from 2018-04-23 17-39-38](https://user-images.githubusercontent.com/20537914/39154806-932ca72c-471d-11e8-98e7-15739275cd2c.png)

[2018-04-24 02:50] jemc commented on #2287
I think this was fixed in #2625?

[2018-04-24 02:51] #2287 closed

[2018-04-24 18:08] winksaville commented on #1407
An FYI, I've added WebAssembly code generation to the llvm/clang to #2663.

[2018-04-24 19:13] SeanTAllen commented on #2517
Can anyone help me put together release notes for the various breaking changes that will be in this release? What previously worked, what it had to be changed to?

[2018-04-24 19:38] SeanTAllen commented on #1407
Is there any reason for bundling those together in a single PR @winksaville. My gut reaction is that they should be separate PRs.

[2018-04-24 20:11] winksaville commented on #2517
@SeanTAllen, adding support to llvm/clang for WebAssembly was trivial, I only needed to add `-DLLVM_EXPERIMENTAL_TARGETS_TO_BUILD=WebAssembly` to one command in the lib/llvm/Makefile. Support for all other targets remain the same and since #2663 is just a proof of concept I thought it would be help to show another advantage of building llvm/clang ourself.

But to answer you question, we can defini

[2018-04-24 20:13] winksaville commented on #1407
@SeanTAllen, adding support to llvm/clang for WebAssembly was trivial, I only needed to add -DLLVM_EXPERIMENTAL_TARGETS_TO_BUILD=WebAssembly to one command in the lib/llvm/Makefile. Support for all other targets remain the same and since #2663 is just a proof of concept I thought it would be help to show another advantage of building llvm/clang ourself.

But to answer you question, we can definite

[2018-04-24 21:26] mfelsche commented on #2517
@SeanTAllen the mkdocs-theme has been updated: https://pypi.org/project/mkdocs-ponylang/

[2018-04-24 23:55] plietar commented on #2667
The problem is that the iftype expression has type `(Bool|String)`, and the compiler is trying to check that this type is a subtype of `A` outside of the iftype blocks. At this point it has lost the fact that the return value is indeed a valid `A`.

You can workaround it by forcing the compiler to check `Bool <: A` and `String <: A` inside the iftype, where it still has the appropriate knowledge:

[2018-04-25 13:59] Praetonus commented on #2654
Fixed by #2668.

[2018-04-25 13:59] #2654 closed

[2018-04-26 13:59] Praetonus opened #2671 "RFC: Subtyping exclusion"
This RFC add an annotation specifying that a given type shouldn't be a subtype of any other type.

[RFC 54](https://github.com/ponylang/rfcs/blob/master/text/0054-subtyping-exclusion.md)

[2018-04-26 21:09] mfelsche commented on #2276
This is merged into master and will be released with 0.22.

[2018-04-26 21:09] #2276 closed

[2018-04-29 01:57] SeanTAllen commented on #2517
Holding on #2671

[2018-04-30 02:30] jemc opened #2674 "Type parameter with union type constraint treats constraint cap as #any."
While working on some refactor changes to [`pony-resp`](https://github.com/jemc/pony-resp) I've noticed what seems to be a bug with union type constraints on type parameters. When using a union type constraint, it treats the cap of the constraint as being `#any`, instead of respecting the caps of the types in the union.

For example, when I use a union type with a `tag` element and a `ref` element

[2018-04-30 02:35] jemc commented on #2674
Note that I can work around this workaround by using a constraint of `((_OutAsync tag | _OutSync ref) & Any #alias)`, but that's rather silly.

[2018-04-30 13:07] sblessing commented on #1837
Hey guys,

slowly but surely returning to this project: I have implemented this and just need to test it on Windows. This issue can be assigned to me and I make sure to submit a pull request soon.

[2018-04-30 13:16] sblessing opened #2676 "Let CommandSpec not bail out on Unknown Option + have it consume parsed args"
Hey,

first of all: the command line parser in the cli package is great! But, I do have a suggestion for minor changes:

- [1] Do not treat unknown options as syntax errors, instead ignore them silently. This can be quite useful for piping options through multiple stages of command line parsing (e.g. benchmark runners).
- [2] Consume successfully parsed arguments from argv (just as the option pars

[2018-04-30 13:37] sblessing opened #2677 "Implement BigDecimal and BigInteger"
Extend the standard library with BigDecimal and BigInteger. I have started to working on this, and I would like to submit this as a pull request soon.

[2018-04-30 20:18] ikavalio opened #2679 "Hashmap benchmark compilation error"
`benchmark/libponyrt/ds/hash.cc` compilation fails after PR #2669 on 32 bit systems:

[code]

I think this is happening because `benchmark::State::range` returns `int64_t` on `v1.4.0`, but returned `int` before and test uses `size_t` a lot.

[2018-04-30 21:30] jemc commented on #1837
Hey @sblessing! Welcome back.

I've sent you an invite to the org so you can be assigned this ticket. Once you accept, write back here and I'll assign you.

[2018-04-30 21:51] ikavalio commented on #2679
The same issue is present in `benchmark/libponyrt/mem/heap.cc` and `benchmark/libponyrt/mem/pool.cc`

[2018-05-02 00:22] jirutka opened #2681 "stdlib test segfaults on armhf musl"
I’m trying to build ponyc on Alpine Linux armhf (armv7 machine). The build succeeds, `libponyc.tests`, `libponyrt.tests` and `ponyc -d -s --checktree --verify packages/stdlib` pass, but `./stdlib --sequential` segfaults when loading `libgcc_s.so`.

[code]

I’ve tried to build it even with `-no-pie` or `-fPIC` instead of `-fpic`, but no change. I’m not sure if it’s a bug in ponyc or some problem wi

[2018-05-02 00:31] jirutka opened #2682 "Allow to set optimization level for codegen"
Why is optimization level hard-coded to `-O3`?
https://github.com/ponylang/ponyc/blob/c76e5900a3453c6f922d68a3e78bb6e0dafeb971/src/libponyc/codegen/genexe.c#L361

I’d expect to be able to specify optimization level using CLI argument for `ponyc`.

[2018-05-02 01:16] jirutka commented on #2681
Eh, this was actually my fault – I passed empty `BUILD_FLAGS`, `LINKER_FLAGS` and `LL_FLAGS` to `make`, to get rid of `-march` and `-mtune`, and forgot that this will also make `BUILD_FLAGS +=` and similar ineffective.

[2018-05-02 01:16] #2681 closed

[2018-05-02 05:50] jasonbking opened #2683 "gen_digestof_box uses wrong type for phi expression"
While porting pony to illumos, I kept triggering an LLVM assertion 'Assertion failed: getType() == V->getType() && "All operands to PHI node must be the same type as the PHI node!" on LLVM 3.9.1 (on LLVM 5.0 and 6.0 I'd get either strange libponyc test failures or segfaults).  The problem appears to be the following line from src/libponyc/codegen/genreference.c:377

[code]

All the other __digesto

[2018-05-02 13:06] jirutka commented on #1719
I’ve encountered the same problem on aarch64 Alpine Linux.

[2018-05-02 19:46] SeanTAllen opened #2684 "Incorrect calls to pony_asio_event_resubscribe_read/write with Disposable/Destroyed event"
See https://circleci.com/gh/ponylang/ponyc/5086?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

In an entirely unrelated PR, process.Expect failed because of an assertion thrown in `pony_asio_event_resubscribe_read`. That shouldn't happen unless there is a race condition.

We need to figure out how the race condition could happen based on that test and how to pr

[2018-05-02 22:44] #2570 closed

[2018-05-03 13:43] crzbear opened #2685 "crash after exhausting memory"
hello,
the following code compiles fine but crashes ( llvm 6.0.0 )
ofc it could be solved otherwise and is generally very stupid ;)
but this shouldnt happen nonetheless imo
the problem is probably that the intermediate strings arent immediately freed
and the gc doesnt run while a single fun/be is being executed
thx

--- --- ---

use "package:collections"

actor Main
    new create(env: Env) =>

[2018-05-03 14:28] EpicEric commented on #2685
Your conclusion is correct, thanks for bringing it up. GC not happening in the middle of a behaviour is a characteristic of the Pony runtime, and more specifically of the ORCA garbage collector.

This is a known issue, and from @SeanTAllen 's message in the [mailing list](https://pony.groups.io/g/user/message/1509):

As expected, the current work-around for similar issues would be to call several

[2018-05-03 14:59] SeanTAllen commented on #2685
we are working on being able to gc during behaviors which would fix this issue but that isn't arriving in the near future. its a few steps away.

[2018-05-03 15:52] crzbear commented on #2685
while intra behaviour gc would fix the issue, wouldnt that be slower than just "cleaning up"
the object that is being assigned to? but that's probably easier said than done

[2018-05-03 16:25] SeanTAllen commented on #2685
what is "cleaning up" @crzbear ? freeing the memory?

[2018-05-03 16:40] crzbear commented on #2685
call its destructor if its an object or yes free if its some allocated plain resource

[2018-05-03 16:46] SeanTAllen commented on #2685
that's intra-behavior garbage collection @crzbear

[2018-05-03 16:50] crzbear commented on #2685
the intented info being communicated here was: only collect that one specific object, not do a full gc run
sorry if i was unclear

[2018-05-03 16:57] crzbear opened #2686 "segfault of generated code"
hi,

here's another somewhat more obscure crash

changing the lambda capability to iso doesnt crash,
passing env.out instead of main to NotifyActor, doesnt crash with either capability

crashing here after tick 17 with 1 timer and after tick 8 of 2 timers
(maybe until a specific number of gc runs have taken place?)
so the lambda doesnt even need to be called
in fact if it is called for all timers

[2018-05-03 19:03] EpicEric commented on #2685
They are the same thing. Intra-behaviour GC means collecting/cleaning/freeing objects in the middle of a behaviour. A "full GC run" is required to find unreferenced allocated objects and free memory, and in order to do this, it must run in the middle of the behaviour.

For the example code, the runtime currently only collects objects some time after executing the `env.out.print(long.size().string(

[2018-05-04 11:15] ikavalio commented on #2683
It happens to me on x86 and 32bit arm (linux) as well, so I believe @jasonbking is correct and `c->intptr` resolves the problem.

[2018-05-04 14:43] jasonbking commented on #2683
That makes me feel better that I've found a legitimate bug, and not just a platform quirk :). So we know there's a potential mismatch in return types of `__digestof` functions on 32-bit platforms.  Since all of the other ones except this one use `c->intptr` to obtain the return type, my assumption is that this one should as well.  However, before I submit a PR, it'd be nice if someone familiar wit

[2018-05-04 21:04] SeanTAllen commented on #1719
Closed by #2688

[2018-05-04 21:04] #1719 closed

[2018-05-04 22:23] jirutka opened #2689 "libponyc.tests segfault on aarch64"
<details>
 <summary>./libponyc.tests</summary>

[code]

</details>

[code]

<details>
 <summary>strace ./libponyc.tests --gtest_filter="IftypeTest.Codegen_True"</summary>

[code]

</details>

[code]

gdb ./libponyc.tests
[code]

* * *

* ponyc 0.21.3 with patches #2688, #2665
* Alpine Linux edge
* llvm 3.9.1
* gcc 6.4.0
* musl 1.1.19
* Linux 4.14.28
* CPU ThunderX

cat /proc/cpuinfo
[code]

[2018-05-04 23:33] vassilvk commented on #2689
Running on an aarch64 Ubuntu running in a Docker container on a Cortex-A53 arm64v8, I am getting the following:

./libponyc.tests --gtest_filter="IftypeTest.Codegen_True"

[code]

* ponyc master (as of May 4 19:00 EST)
* Ubuntu 16.04 aarch64
* llvm 3.9.1
* gcc  5.4.0
* Linux 3.14.79-116
* Cortex-A53

cat /proc/cpuinfo

[code]

Can you install Docker on your host?
If yes, can you try running those

[2018-05-05 07:25] jirutka commented on #2689
You probably overlooked that I'm running it on system with musl libc (Alpine uses musl), not glibc...?

[2018-05-05 14:37] jirutka commented on #2689
ponyc master (cc9866834f420e782456429ce7f1765899494cf1) on the first aarch64 machine:

<details>
 <summary>./libponyc.tests</summary>

[code]

</details>

[code]

It’s quite random, sometimes `IftypeTest.Codegen_True` pass, sometimes does not.

It’s interesting that when I uninstall _numactl_ (ponyc loads `libnuma.so`), it segfaults much later:

<details>
 <summary>./libponyc.tests</summary>

[cod

[2018-05-05 14:53] jirutka commented on #2689
So, ponyc.tests segfaults even on aarch64 Ubuntu.

./libponyc.tests

[code]

No difference with/without numactl.

* Ubuntu 16.04.2 LTS (Xenial Xerus)
* LLVM 3.9.1
* gcc 5.4.0
* Linux 4.4.122

[2018-05-05 15:01] Praetonus commented on #2683
This is an oversight from #2615, sorry for that. Replacing `i64` with `intptr` here is indeed the correct fix.

[2018-05-05 15:08] Praetonus commented on #2689
I'm not sure what could be wrong here. There could be some issues with the LLVM JIT on ARM.

[2018-05-05 16:44] Praetonus commented on #2674
It looks like this is coming from `cap_union_constraint` in `typeparam.c` not handling `#alias` for every possible case.

[2018-05-05 16:46] Praetonus commented on #2686
@crzbear Could you run the program in a debugger and get a backtrace of the crash?

[2018-05-05 17:12] jirutka commented on #2689
If it segfaults on _any_ aarch64 system, then it’s certainly a bug in your code or in some of the dependencies that is just not triggered on some configurations. It’s very unlikely to be a bug in CPU or kernel. It may be a bug in LLVM, I remember from other projects using LLVM that there were some issues with non-x86_64 architectures.

I’ve tested it with LLVM 4.0.0 with the same result. However,

[2018-05-05 18:32] jirutka commented on #2689
I’ve tried to build and test ponyc master (cc9866834f420e782456429ce7f1765899494cf1) with clang 5.0.1 instead of gcc, and with LLVM 3.9 on the first machine. It segfaults on earlier test than when built with gcc!

[code]

`BareTest.Codegen_BareLambdaCall` still segfaults, `IftypeTest.Codegen_True` too when numactl is installed.

[2018-05-05 18:40] vassilvk commented on #2689
Lol @jirutka - I think there's a misunderstanding here.

Of course the issue is not in the processor or the kernel, but rather in ponyc and/or deps.

My point was that just like one cannot say that ponyc works on all aarch64 systems, one cannot say that it fails on aarch64 when it does work on some aarch64 setups.

This is an exercise in finding the culprit.

To be honest, I am flattered, but this

[2018-05-05 19:27] jirutka commented on #2689
I wouldn’t say that it _works_ on aarch64 when it segfaults on first two aarch64 machines I’ve tried and even with different userlands. Program may sometimes work on some setups even when you dereference random pointers, yet it’s still very broken and it may work just by accident. However, this is most likely just a different PoV and wording.

It seemed to me that you were arguing kinda in style “

[2018-05-05 19:39] jirutka commented on #2689
So I’ve tested it even on the second aarch64 machine and all the tests pass even here! ponyc master, LLVM 5.0.1, gcc 6.4.0. It does _not_ segfault when `libnuma.so` is installed, so this causes problem only on the first machine (that with 96 cores).

However, linking stdlib always fails with `gcc: error: unrecognized command line option '-mcx16'`. Thus I’ve tried to build it with clang instead, th

[2018-05-05 22:08] vassilvk commented on #2689
What if you run the tests on the 96-core machine with `libnuma.so`, but limit the process to only 6 cores (through [taskset](http://xmodulo.com/run-program-process-specific-cpu-cores-linux.html) for example)?

Might turn out to be some concurrency issue related to the number of cores being used.

[2018-05-05 22:47] jirutka commented on #2689
Good idea!

[code]

The tests pass.

But when I let it run on 9 cores (0-7) or more, then it segfaults. It doesn’t matter if I choose consecutive cores from a single NUMA zone or mix cores from more zones, always when run with more than 8 cores.

[2018-05-05 23:09] vassilvk commented on #2689
Now I’m wondering if this can be reproduced on an x86-64...

[2018-05-05 23:15] jirutka commented on #2689
Yes, it segfaults on `BareTest.Codegen_BareLambdaCall` even on x86_64 Alpine when `libnuma.so` is installed.

[2018-05-05 23:31] jirutka commented on #2689
The same, segfaults when run on 9 cores or more. The machine has 24 cores in total and 2 NUMA zones.

[2018-05-05 23:38] vassilvk commented on #2689
Sounds like #2559.

[2018-05-06 13:26] #2679 closed

[2018-05-06 19:41] mfelsche commented on #2587
On linux (kernel 4.13.0) all the `sockaddr` structs have a `sa_family` field as the first member that is defined as an `unsigned short int` thus it is 2 bytes. The current definition of `NetAddress` should take this into account and have different fields on different OSes or be decoupled from the `sockaddr` memory representation altogether. But i assume is was modeled after that for performance re

[2018-05-09 13:29] SeanTAllen commented on #2517
For release notes: https://github.com/ponylang/ponyc/pull/2463

Previously `Env.out` and `Env.err` where of the type `StdStream`. This worked fine but didn't make for easy testing of output. `Env.out` and `Env.err` are now of type `OutStream` which is an interface rather than a concrete type. By making Env expose and rely on the OutStream interface it is  possible to create mock environments for t

[2018-05-09 16:33] jemc commented on #2517
For release notes: #2643

The `SourceLoc` interface is used for representing a location in Pony source code, filled in automatically by the compiler when using the `__loc` keyword. A `type_name` function has been added to this interface and the `method` function has been renamed as `method_name` for consistency. Any Pony code that was using `SourceLoc` and/or `__loc` objects to print the name of a

[2018-05-09 18:09] mfelsche commented on #2517
Release notes for #2436 :

The`Date` class has been renamed to `PosixDate` to better reflect that it is not a full grown date class that handles all corner cases, timezones, calendars. It is implemented after the POSIX tm struct. Its API stayed the same with the exception that now if provided with negative constructor parameters it will coalesce them to `0` to avoid creating invalid dates by accid

[2018-05-09 18:38] mfelsche commented on #2517
Release notes for #2617 :

In the same realm of #2463 we made artificial `Env` instances even more customizable, which are mostly used for testing. It is now possible to "mock" both `Env.input` representing stdin and intercept setting the exitcode via `Env.exitcode`.

`Env.input` used to be of type `Stdin` which didn't allow easy mocking, now it is the interface `InputStream` which is easily imple

[2018-05-09 19:36] mfelsche commented on #2683
This is fixed by merging #2691

[2018-05-09 19:36] #2683 closed

[2018-05-09 19:38] #2409 closed

[2018-05-09 19:47] jemc commented on #2689
@jirutka - can you try to see if this issue reproduces on the 0.17.0 release? That was supposedly the last "good" release before we had #2559.

[2018-05-09 19:57] jemc commented on #2682
In the sync call, @kulibali mentioned that the actual place for setting optimization level for LLVM codegen is here: https://github.com/ponylang/ponyc/blob/master/src/libponyc/codegen/genopt.cc#L1366

The line shown above is only for the linker.

@mfelsche is going to read about whether it would be a good idea to allow lowering the linker optimization level.

[2018-05-09 20:06] Theodus commented on #2517
Release notes for #2578:

The `ponybench` microbenchmarking framework has changed to have more flexible configuration and produce more detailed statistics. The API now resembles that of the `ponytest` package and has a greater distinction between synchronous and asynchronous benchmarks. Details of how to use the new API are available in the [package documentation](https://stdlib.ponylang.org/ponyb

[2018-05-09 22:53] jirutka commented on #2689
ponyc 1.17.0 – `libponyc.tests` pass on 24cores x86_64 with `libnuma.so` installed.

[2018-05-09 23:26] jirutka commented on #2682
That’s actually what I’m currently interested in, to optimize size of the output binary (i.e. compile with `-Os`).

[2018-05-10 15:09] jemc commented on #2689
Okay, so one last thing to check would be to test if it fails on 1.18.0.

If so, then @vassilvk is probably right about this being a duplicate of #2559.

[2018-05-10 15:16] jirutka commented on #2689
ponyc 1.18.0 – `libponyc.tests` segfaults on 24cores x86_64 with `libnuma.so` installed.

Just please remember that this issue is originally _not_ about this error, but different issue on aarch64.

[2018-05-11 21:29] sgebbie opened #2695 "directory.open_file fail on OS X"
Hi,

I've recently bumped into a bug with `files.directory.open_file(...)` when using this on OS X.

The issues is that `open_file` drops the `FileWrite` capability, but then calls `File.create()` when not running on `linux` or `bsd`:

[code]

Whereas, `File.create()` expects both the `FileRead` and `FileWrite` capabilities:

[code]

I suspect that the `directory` code is actually meant to be call

[2018-05-11 21:31] sgebbie commented on #2695
Pull request: https://github.com/ponylang/ponyc/pull/2696

[2018-05-11 21:38] sgebbie commented on #2695
Pull request: https://github.com/ponylang/ponyc/pull/2697

[2018-05-12 16:56] crzbear commented on #2686
will do once i'm back home
so it isn't crashing for you (anyone else)?

[2018-05-14 08:47] sgebbie opened #2699 "Surprise with try-then-end"
When using `try ... then ... end` it is easy to accidentally mask errors.

This seems to violate the "principle of least surprise".

Essentially, the following code compiles, rather than causing a compiler error regarding the an unhandled error:

[code]

Without digging into the compiler code, it seems like the above is treated as equivalent to:

[code]

This means that it is easy to accidentally

[2018-05-14 14:48] jemc commented on #2699
This isn't really about the implicit `else` block. A `try` block always exists to catch errors in its body, whether it has an `else` block or not.

The issue here is that `then` muddies the water by mixing in a different concern (cleaning up resources).

I've argued in the past that we need to remove `then` from `try`, and have a different construct for "cleaning up resources regardless of code pa

[2018-05-14 18:15] sgebbie commented on #2699
Yes, I guess that `then` conflates different requirements in the `try/else/end` construct.

However, as I think that the difficulty with the recommendation of the referenced RFC is that `with` only works with elements that implement `dispose()`. In the unit test that led me to this I ended up eschewing `with` because the code that I wanted to ensure was being run did not expose `dispose()` and I d

[2018-05-14 21:07] jemc commented on #2699
Yeah, I agree, and I think that's one reason the RFC stalled.

[2018-05-14 21:08] jemc commented on #2699
I just wanted to make sure to note that this isn't just about `try...else...end` - even a `try...end` block is about catching errors.

[2018-05-15 10:10] crzbear commented on #2686
most of the time it crashes a few steps earlier
[code]

[2018-05-15 12:25] SeanTAllen commented on #2686
@crzbear which version of pony are you using? which LLVM? what platform are you running on?

[2018-05-15 17:28] crzbear commented on #2686
bt from other machine + infos:
[code]
[code]
0.21.3-943156ac [debug]
compiled with: llvm 6.0.0 -- clang version 6.0.0 (tags/RELEASE_600/final)
Defaults: pic=true ssl=openssl_0.9.0

i686 ( Intel Atom D525 )
linux 4.9.60

[2018-05-15 20:45] SeanTAllen commented on #2686
i wonder if this is a llvm 5 bug.

[2018-05-15 20:47] SeanTAllen commented on #2686
This does not happen on my Mac with LLVM 3.9.1

[2018-05-16 00:02] #2554 closed

[2018-05-16 04:44] crzbear commented on #2686
still crashing

0.21.3-7f10574c8 [debug]
compiled with: llvm 3.9.1 -- clang version 3.9.1 (tags/RELEASE_391/final)
Defaults: pic=true ssl=openssl_0.9.0

maybe its a linux thing

[2018-05-16 05:28] crzbear commented on #2686
its only crashing when ponyc is run with --debug
sorry, should have noticed that sooner

[2018-05-16 19:41] #2695 closed

[2018-05-16 22:19] Shorttail opened #2700 "Allow Ponytest color output in CMD and Powershell"
Successful and failed tests come with green and red color ANSI color codes. These show up like `[92m` in CMD and Powershell. I don't know if CMD and Powershell support the same or different color systems, but Git for Windows is able to display colors in both terminals.

[2018-05-16 22:27] Shorttail commented on #2700
Creating a registry entry named `VirtualTerminalLevel` of type `DWORD` with the value `1` enables ANSI escape codes in both CMD and Powershell. The fix requires only restarting the console.

[2018-05-17 17:33] nisanharamati commented on #2686
I can reproduce with 3.9.1 on linux as well, so long as I build with `--debug`

info:
[code]

[2018-05-18 14:40] jemc commented on #2700
[According to `strmpnk` on IRC](https://irclog.whitequark.org/ponylang/2018-05-16#22112036;), there is also an FFI call that Pony could/should do on Windows to enable ANSI escape codes without changing the registry: https://docs.microsoft.com/en-us/windows/console/setconsolemode

[2018-05-18 17:28] ergl opened #2701 "StdStream.writev with empty array causes compiler crash"
Compiling this piece of code causes a compilation crash

[code]

[code]

Pony version:

[code]

[2018-05-18 19:05] jemc commented on #2701
Specifically, this seems to be related to array literal inference interacting with `ByteSeqIter`.

[2018-05-18 21:46] #2700 closed

[2018-05-19 16:32] Praetonus commented on #2517
Release notes for #2615:

The `Hashable` interface now requires objects to provide a `hash()` function returning `USize` instead of `U64`. If some of your types provide `hash()`, you should change the return type and modify the implementation accordingly. A `Hashable64` interface requiring a `hash64()` function returning `U64` is now available.

For #2499:

Pattern matching on generic capabilities

[2018-05-21 21:56] pzel opened #2705 "String.strip() mangles UTF-8 byte sequences"
When the last U8 preceding the trailing whitespace is a fragment of a utf-8 sequence, it gets chopped off along with the following whitespace.
Whe the last U8 preceding the end of the string is a fragment of a utf-8 sequence, that last codepoint gets mangled to its first octet.

This goes against the prinicple of least surprise. Encoding issues notwithstanding, I think a programmer is justified in

[2018-05-22 02:59] SeanTAllen commented on #2705
Closed by #2706

[2018-05-22 02:59] #2705 closed

[2018-05-23 20:18] jemc commented on #2699
I'm going to close this for now because we already have an RFC talking about removing `then` from `try` to clear up this confusion, that just needs to get revived with someone coming up with an alternative construct to use for unconditional cleanup of resources.

@winksaville has suggested an alternative in today's sync call that could be added as an RFC if he writes it up for discussion. Or someo

[2018-05-23 20:18] #2699 closed

[2018-05-24 23:30] SeanTAllen commented on #2517
Blessing 2d98584de1292f86482da0ee1246c399b117f68f

[2018-05-24 23:31] SeanTAllen commented on #2517
TravisCI and Appveyor are green

[2018-05-24 23:33] SeanTAllen commented on #2517
release underway

[2018-05-24 23:42] SeanTAllen commented on #2517
@stefantalpalaru @kamilchm release underway.

[2018-05-24 23:44] SeanTAllen commented on #2517
Homebrew PR submitted: https://github.com/Homebrew/homebrew-core/pull/28250

[2018-05-24 23:44] SeanTAllen commented on #2517
Windows release is done

[2018-05-24 23:46] SeanTAllen commented on #2517
Linux releases are having difficulty getting all the dependencies. pcre in particular is where is timed out and then retried and appears to perhaps be hung.

[2018-05-24 23:58] SeanTAllen commented on #2517
There was what appears to be an environmental issue with the homebrew release. Will see what happens with that.

[2018-05-24 23:59] SeanTAllen commented on #2517
Cancelled travis job for debian and RPM releases. hopefully on restart the PRCE download issue is fixed.

[2018-05-25 00:03] SeanTAllen commented on #2517
Release notes PR opened: https://github.com/ponylang/ponylang.github.io/pull/284

[2018-05-25 00:17] SeanTAllen commented on #2517
Docker release is broken and has been for about a month. So that's also an issue.

[2018-05-25 03:16] SeanTAllen commented on #2517
Going to need to do a 0.22.1 release to get the Docker fixed now that I fixed that.

[2018-05-25 04:16] SeanTAllen commented on #2517
Homebrew is finally fixed. There were makefile changes made that I didn't know about that messed up the homebrew build pretty badly and it took quite a while to work out what had changed in the Makefile and some of the changes are little wonky and off and will need to be fixed.

to get the old equiv of `destdir=/foo` you now have to do `ponydir=/foo prefix=`.

¯\_(ツ)_/¯

[2018-05-25 04:21] #2517 closed

[2018-05-25 04:21] SeanTAllen opened #2711 "Release 0.22.1"
Needed to do broken dockerfile when 0.22.0 was released

[2018-05-25 04:26] SeanTAllen commented on #2711
Release notes created: https://github.com/ponylang/ponylang.github.io/pull/285

[2018-05-25 04:30] SeanTAllen commented on #2711
windows package is up

[2018-05-25 04:48] SeanTAllen commented on #2711
Docker release image is up. Playground has updated.

[2018-05-25 05:12] SeanTAllen commented on #2711
debian and rpm packages are up

[2018-05-25 05:13] SeanTAllen commented on #2711
release notes published

[2018-05-25 05:14] SeanTAllen commented on #2711
thanks for playing folks.

i made a change to not download pcre from the rando internet every time that will be part of 0.22.2 which hopefully will go smoothly.

[2018-05-25 05:14] #2711 closed

[2018-05-25 09:06] rodrigob commented on #2357
Better error messages are always better.

[2018-05-25 09:08] stefantalpalaru commented on #2517
Gentoo ebuild updated.

[2018-05-25 09:44] mfelsche opened #2713 "Support LLVM 5.0.2"
We should update CI and Makefile etc. to support llvm 5.0.2 which has been released on May 16, 2018:

 http://lists.llvm.org/pipermail/llvm-announce/2018-May/000078.html

[2018-05-25 11:21] SeanTAllen commented on #2713
Given that we are working on vendoring LLVM, is this worth our time and effort? If yes, then 5.0.2 will also need to be added to https://github.com/ponylang/ponyc-llvm-dependencies

[2018-05-25 11:22] SeanTAllen commented on #2713
I could see this being worth our time if we find that 5.0.2 is seemingly bug/workaround free.

[2018-05-25 16:44] kulibali commented on #2713
I just checked and LLVM 5.0.2 on Linux exhibits the same behaviour as 5.0.1; i.e. it still needs the workaround for the heap-to-stack optimization (see #2371).

[2018-05-25 17:01] strmpnk opened #2714 "ProcessMonitor is too restrictive with execute bit check"
Currently we have ProcessMonitor checking that execute is set for all users (not just the user or group):

https://github.com/ponylang/ponyc/blob/0.22.1/packages/process/process_monitor.pony#L245

As pointed out in IRC, this could cause problems on systems with more advanced ACLs and also cause unneeded restriction when a user has proper ownership for execution via the other two execute bits (comm

[2018-05-25 19:46] SeanTAllen opened #2716 "Warning during OSX CI builds"
<img width="1152" alt="screenshot 2018-05-25 14 51 32" src="https://user-images.githubusercontent.com/193596/40561418-35cd47b8-602b-11e8-8ea8-445649882bd8.png">

Log file attached...

[log.txt](https://github.com/ponylang/ponyc/files/2040693/log.txt)

[2018-05-25 19:57] jemc commented on #2714
If we remove the check, and let the OS check the executable bit, what kind of error will we see in case of those OS checks failing?

[2018-05-25 20:17] strmpnk commented on #2714
Unfortunately we get no error. Right now the parent process does not call anything upon the child's exit, so we don't get the -1 exit code that the code currently returns from the child after forking but failing to exec. It seems like the ProcessNotifier interface is not working as intended.

It might be worth checking that the file exists but I'm not sure if there is an exotic case where we can't

[2018-05-25 20:53] mfelsche commented on #2714
python for example uses a pipe to signal an error in the child process: https://github.com/python/cpython/blob/e756f66c83786ee82f5f7d45931ae50a6931dd7f/Lib/subprocess.py#L1389

The model here could be to write the return code of execve to the pipe, which only happens on error. On success there is nothing to read.
I think it is a good idea to extend ProcessNotify to be notified here of an execve fa

[2018-05-25 21:26] strmpnk commented on #2714
@mfelsche I agree here. It seems like this is a good path forward.

To break this up into a couple steps, I think changing the local code to check that the file exists is a good sanity check for now. In order to keep compatibility, I can leave the current error code in place since it's unused otherwise.

Moving forward from there, we can use the additional pipe. I can look a bit closer at what we

[2018-05-26 00:08] SeanTAllen commented on #2714
@strmpnk does #2717 close this?

[2018-05-26 00:13] jemc commented on #2714
I feel like the PR does close this issue, but we should open another ticket for the piped exit code improvement. Do you agree, @strmpnk?

[2018-05-26 02:40] SeanTAllen opened #2718 "Release 0.22.2"
I made a change for how pcre is installed when doing a release. I need to do a small release to test.

We have a commit to fix an issue in ProcessManager that can be that release.

[2018-05-26 04:39] SeanTAllen commented on #2718
Appveyor and TravisCI are green.

Blessing 7243965436a8e7fc50e7c9da124645f8dbf60008

[2018-05-26 04:40] SeanTAllen commented on #2718
release underway.

[2018-05-26 04:45] SeanTAllen commented on #2718
homebrew pr opened https://github.com/Homebrew/homebrew-core/pull/28295

[2018-05-26 04:46] SeanTAllen commented on #2718
@stefantalpalaru @kamilchm release underway

[2018-05-26 04:50] SeanTAllen commented on #2718
release note PR opened: https://github.com/ponylang/ponylang.github.io/pull/288

[2018-05-26 04:51] SeanTAllen commented on #2718
RPM and Debian packages are available in bintray.

[2018-05-26 04:59] SeanTAllen commented on #2718
waiting on homebrew, windows and docker image builds.

[2018-05-26 05:42] SeanTAllen commented on #2718
docker images done. only waiting on appveyor which is taking a really long time. job is still queued.

[2018-05-26 05:42] SeanTAllen commented on #2718
playground has been updated to 0.22.2

[2018-05-26 05:51] SeanTAllen commented on #2718
windows build is running. i am getting "itchy". just merged the release notes. going to start spreading the word because i know windows will be done soon.

[2018-05-26 05:55] SeanTAllen commented on #2718
windows release is done. thanks for playing!

[2018-05-26 05:55] #2718 closed

[2018-05-26 08:30] stefantalpalaru commented on #2718
Gentoo ebuild updated.

[2018-05-26 13:54] strmpnk commented on #2714
I was going to keep this issue for addressing the follow up but I'm happy to close this and create an follow up issue which references this.

[2018-05-26 13:54] #2714 closed

[2018-05-26 13:58] cararemixed opened #2719 "ProcessMonitor Needs Improved Error and Exit Code Handling"
Following up from #2714, we now lack a good way to catch errors after forking the child process. It'd be useful to give a more detailed message but we'll require setting up an additional pipe to process special error status codes (see how cpython does this here: https://github.com/python/cpython/blob/e756f66c83786ee82f5f7d45931ae50a6931dd7f/Lib/subprocess.py#L1389).

We also don't currently provid

[2018-05-27 17:17] SeanTAllen commented on #2701
@jemc do you have information you could put here that would allow this to be marked as ready for work?

[2018-05-27 17:18] SeanTAllen commented on #2629
Given that we discussed during sync and agreed we want to do vendoring and there's a PR open where discussion is going on, I'm going to close this issue.

[2018-05-27 17:18] #2629 closed

[2018-05-27 17:19] SeanTAllen commented on #2622
Closed by #2623.

Also note, we have a CI job to test with centos 7 now.

[2018-05-27 17:19] #2622 closed

[2018-05-27 17:21] SeanTAllen commented on #2719
@strmpnk you are going to be working on this yes? if so, i can add you as a contributor and assign you to this.

[2018-05-27 17:53] strmpnk commented on #2719
Yes. I'll be working on this issue.

[2018-05-27 20:31] SeanTAllen commented on #2719
@strmpnk you've been added as a contributor to the ponylang org. that allows you to be assigned to issues. step 1 to the commit bit.

[2018-05-28 12:25] nordlow opened #2720 "Array slices"
Does the Pony language have something similar to fat-pointers (pointer plus length) called (array) slices in Rust, Go and D? Apart from its Array-collection type that is.

Because Pony uses GC-allocation locally in a task I see no reason why it should support this very powerful feature.

For the D case, see https://dlang.org/articles/d-array-article.html

[2018-05-28 14:13] SeanTAllen commented on #2720
Hi @nordlow. Thanks for your question. Please note as per our README's [getting help](https://github.com/ponylang/ponyc#getting-help) section, we have a mailing list and IRC for this sort of question. We keep issues for bugs and such.

Array has some characteristics that are similiar to what you describe and some ways that it diverges. My answer would be: "it depends on what you mean. probably no.

[2018-05-28 14:13] #2720 closed

[2018-05-28 19:59] nordlow commented on #2720
[This article](https://dlang.org/articles/d-array-article.html) explains everything you need to know about the concept.

[2018-05-29 23:32] jemc commented on #2701
It's not enough to mark it as ready for work, but I can provide some pointers:

The code for array literal inference is here: https://github.com/ponylang/ponyc/blob/3f5cf694ba10fba81df4999e167cad6274b990ee/src/libponyc/expr/array.c#L52-L355

The strategy for inference is to try to find a viable antecedent type (left hand side) and use it to infer the array literal on the right hand side.

It has s

[2018-05-30 20:30] aburn commented on #2587
[code]

[code]

windows output: [Gist](https://gist.github.com/aburn/702461ca510634ac5be7b8dd83e54603)

windows seems to be affected too? Also is anyone working on this? If not, I can try to debug this further. disclaimer: I'm completely new to Pony.
[code]

[2018-05-31 12:04] SeanTAllen commented on #2587
@aburn i'm not aware of anyone working on it. if you would like to tackle it, have at it!

[2018-05-31 16:48] dipinhora opened #2727 "Release 0.22.3"
This release is to test out the new PPA/COPR build triggering (and also for someone other then @SeanTAllen to do the release). If all goes well and the packages work as expected, we can update the install instructions to use the new packages and deprecate the old packages/repos if desired in the following release.

This release will include the following two fixes (assuming the master CI build pas

[2018-05-31 17:52] dipinhora commented on #2727
CI build passed.

Blessing 7eca1b18b965d2797ca394ce0a13e35cf61cb5d8.

[2018-05-31 17:54] dipinhora commented on #2727
Release started.

[2018-05-31 18:20] dipinhora commented on #2727
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/28519

[2018-05-31 18:20] dipinhora commented on #2727
@stefantalpalaru @kamilchm release underway

[2018-05-31 18:39] dipinhora commented on #2727
Release notes PR opened: https://github.com/ponylang/ponylang.github.io/pull/291

[2018-05-31 18:39] aburn commented on #2587
@SeanTAllen : How is this usually handled in Pony source code. I've see few places where we have `ifdef linux()`  checks to have platform specific functions. We can get away with the issue with a hack like:

[code]
    """
  let addr: U32 = 0
    """
    IPv4 address in network byte order.
    Will be `0` for IPv6 addresses. Check with `ipv4()` and `ipv6()`.

    Use `@ntohl[U32](net_address.addr)

[2018-05-31 18:47] SeanTAllen commented on #2587
@mfelsche thoughts?

[2018-05-31 19:17] dipinhora commented on #2727
docker images, playground, and windows builds all completed

[2018-05-31 19:27] stefantalpalaru commented on #2727
Gentoo ebuild updated.

[2018-05-31 19:49] dipinhora commented on #2727
RPM and Debian and Windows packages are available in bintray.

[2018-05-31 19:49] dipinhora commented on #2727
Waiting on Homebrew

[2018-05-31 20:14] winksaville commented on #2684
This happened to me in https://circleci.com/gh/winksaville/ponyc/1060, the backtrace was:
[code]
I searched for pony_asio_event_resubscribe_read and see calls to it from src/libponyrt/asio/epoll.c as well as packages/net/tcp_connection.pony which, on the face of it, means that calls to pony_asio_event_* could be from multiple threads and hence there seems likily there would be some race conditions

[2018-05-31 21:51] SeanTAllen commented on #2727
@dipinhora Homebrew merged!

[2018-05-31 21:58] mfelsche commented on #2587
@aburn in your example you are deleting the `length` field and setting the family from `U8` to `U16`, right? This would keep the size of the class, which is necessary for the runtime code that instantiates these objects, but lead to wrong results on platforms like OSX or BSD for the `family` field.

I already had a shot at this, trying to fix is in Pony by having different fields for different pla

[2018-05-31 23:18] aburn commented on #2587
@mfelsche : with the change above, we will have access to `length` and `family` by using the utility function defined towards the end (pasting just that part).

[code]

That way the 16bit is still abstract and based on the platform decoding of the field is also available via the utility functions.

[2018-06-01 00:29] Shorttail opened #2729 "Silent incorrect compilation for incorrect time formats in Windows"
The following program triggers the issue in Windows 10:

[code]

Comment out the second print and a nice ISO timestamp will be printed, up to seconds. Comment it back in and nothing is printed, not even the first one. The trigger is `%L`, which according to [strftime.net](http://strftime.net/) is milliseconds. According to [strftime.org](http://strftime.org/) however, that formatting is incorrect.

[2018-06-01 05:44] Radiergummi opened #2730 "Feature request - Jetbrains/IDEA IDE support"
Hey there, I'm new to pony and would be happy to get my hands dirty -- favorably in my beloved Jetbrains IDE. Unfortunately I don't have any experience with creating Java/Kotlin language support plugins for them, but I was hoping there might be a fellow developer out there able to pull this off.
So I'd like to propose this as a feature request, if I may.

[2018-06-01 06:44] dipinhora commented on #2727
Release announcements made. Release completed.

[2018-06-01 06:44] #2727 closed

[2018-06-01 07:10] mfelsche commented on #2587
Ah sorry, i missed that part of the example. Thats a valid approach. If we go this route, i would suggest to keep the U16 for family (and length on some platforms), make all fields private and add a public function for each one with the same name. These can then do the platform specific stuff. And they can handle the conversion to host byte order, which has been an issue previously.

I would also

[2018-06-01 15:59] kulibali commented on #2729
`%L` is not supported on Windows (https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/strftime-wcsftime-strftime-l-wcsftime-l).  `strftime` on windows will raise a "structured exception" for invalid format specifiers.

Per discussion with @SeanTAllen, what we would like to do is catch the exception in `ponyint_formattime()` using structured exception handling (https://www.codeproject.

[2018-06-01 17:38] SeanTAllen commented on #2729
Definitely want to add a test as well to make sure the bug is fixed.

[2018-06-01 18:34] jemc commented on #2720
Pony's Array does meet the description of a typed pointer and a length. Those are the two fields that make up the Array class.

[2018-06-01 20:34] aburn commented on #2587
I messed up the diff that was committed. I issued the pull request and then noticed some unwanted changes. Sorry about that. Is there a way to correct this? If documented somewhere, please point me to it. I'll rectify this.

[2018-06-01 20:40] mfelsche commented on #2587
You can change your local clone of your fork, on your branch, and bring it to a state you intend it to be in, commit and push to your fork and the pr should be updated automatically. Thanks for tackling this!

[2018-06-01 21:07] aburn commented on #2587
@mfelsche . New [Pull Request](https://github.com/ponylang/ponyc/pull/2734) here. Did not test on OSX/FreeBSD. Just tested on Linux and Windows (little endian systems) only.

[2018-06-02 15:06] nordlow commented on #2720
Are they GC-allocated by default?

[2018-06-02 19:32] jemc commented on #2720
Yes.

[2018-06-03 01:12] aburn commented on #2684
If no one is working on this, I can work on this. Is there a way to reproduce this?

[2018-06-03 02:11] SeanTAllen commented on #2684
@aburn its a race condition and very intermittent. when ponyc is built as a debug version of the runtime, if you hit the issue, an assertion will be triggered, during normal operation, it will silently return.

I took a look at this. The logic in epoll.c around line 275 would appear to be wrong. I'm 99.99% certain that is the bug:

[code]

The problem here is that... the logic is saying

if there

[2018-06-03 02:12] SeanTAllen commented on #2684
LOL. Looks like I had already figured out the problem earlier and didn't need to restate it. Yeah @aburn, have at it.

[2018-06-03 02:12] SeanTAllen commented on #2684
Actually my first explanation was slightly wrong @aburn. The correct solution was in my comment from today.

[2018-06-03 04:51] MecAtWork opened #2735 "Segfault while compiling HTTPServer example code with ponyc 0.22.3"
Tried compiling https://github.com/ponylang/ponyc/blob/master/examples/httpserver/httpserver.pony using ponyc-0.22.3 for MacOS and ponyc-0.22.3-1 under Fedora with this result on both platforms:

[code]

Not sure how to address this one.

[2018-06-03 04:55] SeanTAllen commented on #2735
Verified. I get this on MacOS with LLVM 3.9.1

[2018-06-03 04:56] MecAtWork commented on #2735
What can I do to help?

[2018-06-03 05:01] SeanTAllen commented on #2735
Debug info and backtrace:

[code]

[2018-06-03 05:01] SeanTAllen commented on #2735
@MecAtWork I created a debug build of the compiler and runtime and got a backtrace.

[2018-06-03 05:05] SeanTAllen commented on #2735
So this works.

[code]

It appears that given that host and service arent used, llvm is trying to optimize away the contents of the try block. at least that is my quick take based on the error.

[2018-06-03 05:09] SeanTAllen commented on #2735
@MecAtWork thanks for reporting. sorry that you hit an issue, there's a work around in the example above that should allow you to keep working until this is addressed.

[2018-06-03 06:04] MecAtWork commented on #2735
Nice, confirmed that works for me too.

[2018-06-03 12:42] SeanTAllen commented on #2735
This bug was introduced by @Praetonus's change at 9222f08c97f0079f0d5d7f732d246c09969daa4d

[2018-06-03 12:49] SeanTAllen commented on #2735
Here's a smaller example that @ergl reported in IRC (where their user name is _rck) and I traced to the same commit:

[code]

Working on coming up with a more minimal example.

[2018-06-03 12:53] SeanTAllen commented on #2735
Slightly simplifed:

[code]

[2018-06-03 12:56] SeanTAllen commented on #2735
Further simplified:

[code]

[2018-06-03 12:56] SeanTAllen commented on #2735
ok i don't think it will get simpler then this:

[code]

[2018-06-03 16:41] ergl opened #2736 "Segfault on union types"
This code causes a compiler segfault on pony 0.22.3

[code]

Compiler trace:

[code]

Pony version:

[code]

[2018-06-03 16:44] SeanTAllen commented on #2736
@Praetonus This was introduced in aabcb184c11960c07feda952b76488894c9c8e0d

[2018-06-03 22:28] nordlow commented on #2720
How costly is sub-slicing, that is extract sub-slice from an existing slice?

For instance, in D, the second line in the snippet

[code]

should take about three clock cycles.

[2018-06-04 01:18] jemc commented on #2646
Interestingly enough, I think I've found a type system bug that was hiding a capability safety issue in `filter_stateful`. I'll try to figure out if it is related.

[2018-06-04 02:48] jemc commented on #2720
For slicing without allocation, you'll need to use `trim` or `trim_in_place` instead of `slice`.

These methods require some other constraints because Pony's capability safety still has to be able to guarantee that you don't have multiple mutable pointers to the same memory in different actors.

[2018-06-04 04:57] jemc commented on #2736
I've opened a PR to fix this.

[2018-06-04 07:36] Shorttail opened #2740 "Segfault while compiling on windows with pony 0.22.3"
Here's a minimal example. It doesn't require sqlite3.lib to hit the error.

[code]

The error is the following:

[code]

Moving the code from `_create_table` to `create` removes the segfault.
Removing the `addressof this.callback_sqlite` from the arguments also removes the segfault.

[2018-06-04 11:26] nfuhs commented on #2730
It seems someone has at least started a plugin maybe you can try it [https://github.com/pbuda/intellij-pony](https://github.com/pbuda/intellij-pony)

[2018-06-04 12:50] nfuhs commented on #2339
Is there an update to this issue?

If I try to compile pony on FreeBSD 10.4 with LLVM 4.2.1 Compatible FreeBSD Clang 3.4.1 Iget the following error:

``vagrant@freebsd:~/ponyc % ls
``CHANGELOG.md		STYLE_GUIDE.md		packages
``CODE_OF_CONDUCT.md	SUPPORT.md		pony.cloc
``CONTRIBUTING.md		VERSION			pony.g
``Dockerfile		benchmark		release.bash
``LICENSE			examples		src
``Makefile		lib			test
``README.md

[2018-06-04 13:04] #2736 closed

[2018-06-04 15:07] sgebbie opened #2741 "Application SEGV when sending a tuple"
When using:

[code]

The following short program consistent crashes.

`$ cat crasher.pony`

[code]

The LLDB output shows that values in the tuple seem to be being used as addresses to dereferrence:

[code]

This might be related to: https://github.com/ponylang/ponyc/issues/2237 which is still an open issue.

[2018-06-04 15:54] SeanTAllen commented on #2339
That's certainly a different problem.

Where is your LLVM installed?
Is there a llvm-config app in your path?

[2018-06-04 15:58] SeanTAllen commented on #2730
Hi @Radiergummi,

Pony is a volunteer project. We don't do feature requests. We do have an RFC process to propose changes to Pony or the addition of new features. You can learn more about the RFC process here: https://github.com/ponylang/rfcs/

Request for someone to work on specific editor integration isn't really an RFC thing as it has nothing to do with Pony the language. I would suggest that i

[2018-06-04 15:58] #2730 closed

[2018-06-04 16:08] SeanTAllen commented on #2339
Actually sorry, yeah support for LLVM 4 was removed.

[2018-06-04 16:18] nfuhs commented on #2339
Thanks for the note I'm installing LLVM 5 on 10.4 to see if this works than.. I'm not an FreeBSD expert but since this release seems to be supported till October 2018 this problem might solve itself.

I'm sorry for my latest rants about ponylang and now I will write  little bash script for 10.4 to provide an easier way to install pony on it i will upload it to GitHub when its done maybe this helps

[2018-06-04 17:44] SeanTAllen commented on #2740
Can reproduce on OSX.

[2018-06-04 18:15] nordlow commented on #2720
Ok, great.

One thing yet, is it possible to create a copy of a slice to mutable memory inside the same task, like what is possible D, Rust and Go?

[2018-06-04 19:41] Radiergummi commented on #2730
Hi @SeanTAllen thank you for your thoughtful reply. I'm fully aware of how open source projects work (being involved in some) and I didn't want this to come off as demanding at all. Since the main README file lists the editor support section quite prominently on the front page, I just intended to reach out in case there maybe was someone capable of creating an IDEA plugin, since there seem to be d

[2018-06-04 19:44] SeanTAllen commented on #2730
@Radiergummi I didn't think you were being demanding. I hope you can find some folks to work with you on the project and if any of us committers can help, we'll aid as best we can.

[2018-06-04 19:47] SeanTAllen commented on #2740
backtrace:

[code]

[2018-06-04 19:50] SeanTAllen commented on #2741
I can't reproduce this on OSX w llvm 3.9.1 and lastest master. It might have been fixed. Can you try building from source and checking @sgebbie ?

[2018-06-04 19:51] SeanTAllen commented on #2741
Can verify on OSX

[2018-06-04 21:24] SeanTAllen opened #2742 "Release 0.22.4"
To get the fix for compiler crash bug #2736 released

[2018-06-04 21:28] SeanTAllen commented on #2742
release is underway

[2018-06-04 21:32] SeanTAllen commented on #2742
@stefantalpalaru @kamilchm release underway

[2018-06-04 21:36] SeanTAllen commented on #2742
Release notes PR opened: https://github.com/ponylang/ponylang.github.io/pull/297

[2018-06-04 21:37] SeanTAllen commented on #2742
Windows packages are in Bintray.

[2018-06-04 21:42] SeanTAllen commented on #2742
Deb package is available via Bintray.

[2018-06-04 21:43] SeanTAllen commented on #2742
Available via PPA

[2018-06-04 21:45] stefantalpalaru commented on #2742
Gentoo ebuild updated.

[2018-06-04 21:47] SeanTAllen commented on #2742
Thanks @stefantalpalaru!

[2018-06-04 21:57] SeanTAllen commented on #2742
Available via COPR.

[2018-06-04 22:03] SeanTAllen commented on #2742
Docker image published.

[2018-06-04 22:03] SeanTAllen commented on #2742
Pony playground updated.

[2018-06-04 22:03] SeanTAllen commented on #2742
Waiting on homebrew at this point, everything else is done.

[2018-06-05 00:28] SeanTAllen commented on #2609
With the 0.22.4 on OSX, I get this error for @king1600's example but not @mfelsche's. @mfelsche can you test your's again?

[2018-06-05 01:15] SeanTAllen commented on #2559
I'm unable to recreate this.

[2018-06-05 01:40] SeanTAllen commented on #2559
Nevermind I realized that I was running in an environment where i was only using 1 cpu because of how our default setup scripts work over at Wallaroo Labs.

[2018-06-05 01:56] SeanTAllen commented on #2559
I found the bug that causes this. Getting eyes from @slfritchie to verify. Also, awesome job Scott bisecting to that commit.

[2018-06-05 02:12] SeanTAllen commented on #2559
I've opened a PR to fix this: https://github.com/ponylang/ponyc/pull/2745

[2018-06-05 02:12] SeanTAllen commented on #2689
I've opened a PR to fix this: https://github.com/ponylang/ponyc/pull/2745

[2018-06-05 03:35] #2559 closed

[2018-06-05 03:36] SeanTAllen opened #2746 "Release 0.22.5"
To get https://github.com/ponylang/ponyc/pull/2745 fix out. I'm going to wait til 0.22.4 for OSX has been released before starting this.

[2018-06-05 07:10] sgebbie commented on #2741
Hi,

I've been working with LLVM 5.0.1 because it fixes some other bugs that I
bumped into. So, I haven't tried to confirm that the bug also happens with
LLVM 3.9.1.

Stewart.

--
Stewart Gebbie <sgebbie@gethos.net>
+27 84 738 2899  http://gethos.net

On Mon, Jun 04, 2018 at 12:51:00PM -0700, Sean T Allen wrote:

[2018-06-05 11:09] SeanTAllen commented on #2742
homebrew released.

[2018-06-05 11:11] SeanTAllen commented on #2742
release notes merged

[2018-06-05 11:14] SeanTAllen commented on #2742
Thanks for playing folks!

[2018-06-05 11:14] #2742 closed

[2018-06-05 11:19] SeanTAllen commented on #2746
TravisCI and Appveyor are green.

[2018-06-05 11:20] SeanTAllen commented on #2746
Blessing 7619b4348387ccb6d3b00a35d57b5551945ceb6b

[2018-06-05 11:28] SeanTAllen commented on #2746
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/28669

[2018-06-05 11:31] SeanTAllen commented on #2746
Release notes PR opened: https://github.com/ponylang/ponylang.github.io/pull/298

[2018-06-05 11:33] SeanTAllen commented on #2746
Windows packages are available in bintray

[2018-06-05 11:41] stefantalpalaru commented on #2746
Gentoo ebuild updated.