[2017-04-05 20:04] jemc commented on #1674
Before I can work on this, I have to finish #1715, so this is blocked by that.

[2017-04-05 20:10] jemc commented on #1676
The simplest thing we could do to improve this UX is to add an "info" line to this (using `ast_error_continue`) to point to the definition of the function signature, to show you what arguments are expected, to demonstrate why you're not providing enough.  This would be helpful in general, but would also help in this case to show you that it's trying to call the constructor.

[2017-04-05 20:13] SeanTAllen commented on #1702
This is a bug that should be caught in the syntax pass for not having a type in the parameter.

[2017-04-05 20:23] #1773 closed

[2017-04-05 20:24] plietar commented on #1572
Tried to run the n-body example. Both the commit reported by @TobiasWrigstad, e3b2f6a and latest master work for me on Sierra.
Using llvm 3.8.1 in both cases.

[2017-04-05 20:26] SeanTAllen commented on #1592
@kulibali reports during sync he has this compiling on Windows but it crashes.

@jemc suggested trying to disable some of our custom optimizations and see if that helps.

[2017-04-05 20:29] pwoolcoc opened #1812 "`ponyc` can't find `ld` when trying compile examples"
I am getting an error when trying to compile the `helloworld` example. From what I can tell, it's different from #1588 and #1484 because in my case, it isn't even finding `ld` to use. I have the details below, but I definitely have `ld` on my `$PATH`. I get no issues when running `cd ponyc/ && make` in order to build `ponyc`. My platform is x86_64 linux, specifically SolusOS, but AFAIK the environ

[2017-04-05 20:57] SeanTAllen commented on #1572
I'm going to assume this is fixed and can be reopened if that turns of not to be the case. In terms of the LLVM bug, not much we can do about that.

@plietar thank you for checking.

[2017-04-05 20:57] #1572 closed

[2017-04-05 21:43] SeanTAllen commented on #1812
@pwoolcoc can you try the solution that worked here: https://github.com/ponylang/ponyc/issues/1716

installing ld-gold

[2017-04-05 21:44] SeanTAllen commented on #1812
note to self, if same solution works here as did for #1716, make sure its in the documentation and if not, add it.

[2017-04-05 22:08] SeanTAllen commented on #945
#1014 was never merged

[2017-04-05 22:09] killerswan commented on #1791
Done for LLVM 3.9.1.

[2017-04-05 22:09] #1791 closed

[2017-04-05 22:19] shawnye commented on #1805
It's a pity , I have to try to write tools using nim-lang or other langs  now, as the OSes of the tool users are mostly `win32` in the near future.

[2017-04-05 22:40] sylvanc opened #1813 "lldb `call` can't find function symbols"
When running a Pony program in `lldb`, it is convenient to be able to call functions (as one does in C programs). This used to work.

Unfortunately, at some point it stopped working. For example:

[code]

Note that if we try to set a breakpoint, it works:

[code]

It's possible this has to do with how the language identifier is set in the DWARF info. The right long term solution is full support fo

[2017-04-05 23:39] #1023 closed

[2017-04-06 02:24] pwoolcoc commented on #1812
@SeanTAllen Yea, that seems to work. I don't mind adding it to the docs, if that will help. Probably in `README.md` under the Installation section?

[2017-04-06 06:18] SeanTAllen commented on #1812
@pwoolcoc yup. that would be where it goes. I think it would be a general thing for Linux...

"if you get this error on linux, install ld-gold".

thanks!

[2017-04-06 06:18] #1812 closed

[2017-04-06 07:48] lispmeister commented on #945
Added a gist with test code here: https://gist.github.com/lispmeister/db25536d892d01fe35f28d73fe1eb662

[2017-04-06 10:18] rurban commented on #1666
@jemc: We have this error since llvm-3.5. I don't think it's a LLVM bug per se, more likely wrong usage of ours.

[2017-04-06 15:35] SeanTAllen commented on #945
Thanks @lispmeister

[2017-04-06 18:02] jemc commented on #1666
Got it.  So you're saying someone needs to take a look for bugs in our LoadCombine pass.

I've removed the blocked label, and added the "needs investigation" label.

@Praetonus I think you may have written the LoadCombine pass originally, if memory serves.  If you have time, could you take a look at this ticket?

[2017-04-07 00:03] kulibali commented on #1592
LLVM changed the way of doing TBAA a while back, and have finally deprecated the old way: http://llvm.org/viewvc/llvm-project?view=revision&revision=286291

This will require some changes in code generation.

[2017-04-07 04:16] sailormoon commented on #945
https://gist.github.com/sailormoon/1774ce5b8f499ecbd1b4f0f5d91b44e3

I tweaked it a little bit to compile with the latest `ponyc`. Thanks for posting it, @lispmeister!

[2017-04-07 07:35] russel opened #1821 "Pony will not build on Fedora Rawhide"
Fedora Rawhide (will be Fedora 27) has moved to LLVM 4.0.0 and so Pony will not compile due to the LLVM version check.

[2017-04-07 10:50] SeanTAllen commented on #1821
You'd need to install 3.9.1

[2017-04-07 10:50] SeanTAllen commented on #1821
We do not currently support 4.0

[2017-04-07 11:09] russel commented on #1821
OK, but Fedora is a "one and one only" type of system with regard to packaging, so I won't be able to build Pony on Fedora Rawhide till 4.0 is supported.

I notice that 3.9.0 is not acceptable but 3.9.1 is. Is it right that Pony depends on bug-fix version level?

[2017-04-07 11:14] SeanTAllen commented on #1821
Correct. There are bugs in 3.9.0 that were fixed in 3.9.1.

[2017-04-07 11:15] SeanTAllen commented on #1821
FYI, LLVMhas RPM packages available

[2017-04-07 15:00] Theodus commented on #1483
I can confirm on MacOS 16.4.0
[code]
[code]

[2017-04-07 15:02] SeanTAllen commented on #1483
Thanks. There's another fix coming down the line that I hope might address this.

[2017-04-07 21:03] jemc commented on #1821
I think we should close this in favor of #1592, where we are tracking LLVM 4.0.x support

[2017-04-07 22:52] SeanTAllen commented on #1821
Reasonable.

[2017-04-07 22:52] #1821 closed

[2017-04-07 22:54] SeanTAllen opened #1823 "Release 0.13.0"
high priority fix #1816 was merged. we should do a release.

[2017-04-07 22:56] SeanTAllen commented on #1823
Blessing e362b11b14552717bd7dd5f35f6f4b026dec96a4

[2017-04-07 22:57] SeanTAllen commented on #1823
Release underway

[2017-04-07 23:17] SeanTAllen commented on #1823
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/12205

[2017-04-07 23:18] SeanTAllen commented on #1823
@stefantalpalaru release underway

[2017-04-07 23:18] SeanTAllen commented on #1823
@plietar release underway

[2017-04-07 23:18] SeanTAllen commented on #1823
Windows is in bintray

[2017-04-07 23:34] stefantalpalaru commented on #1823
Gentoo ebuild updated.

[2017-04-07 23:53] SeanTAllen commented on #1823
The current release scripts didnt release for debian or red hat.

Issue seems to be:

[Bintray Upload] Warning: Path: /home/travis/build/ponylang/ponyc/build/bin/ does not exist.

I think its released to @killerswan's change https://github.com/ponylang/ponyc/commit/daa2da222ea1da690459b4170d65de72555c93ea

There was also an issue where the CHANGELOG wasnt updated correctly that @Theodus has identi

[2017-04-08 00:01] SeanTAllen commented on #1823
Closing Homebrew PR as the hash for this is going to change as I try to get the release working.

[2017-04-08 00:04] SeanTAllen commented on #1823
Reopened Homebrew PR.

[2017-04-08 00:05] SeanTAllen commented on #1823
Both versions of the debian and rpm versions are there now. So apparently the warning was really a warning?!?

[2017-04-08 00:05] SeanTAllen commented on #1823
@killerswan so it worked. the warning is weird. I don't know what happened on the bintray side.

[2017-04-08 00:21] SeanTAllen commented on #1823
Waiting on homebrew

[2017-04-08 00:32] SeanTAllen commented on #1671
Netlify in place for ponylang.org

[2017-04-08 00:32] #1671 closed

[2017-04-08 00:34] SeanTAllen commented on #1823
Reopening didnt seem to work. New Homebrew PR:

https://github.com/Homebrew/homebrew-core/pull/12208

[2017-04-08 08:50] dc0d opened #1825 "documentation: Debian packages on Bintray require public key setup (to avoid GPG or authentication errors)"
Doing `$ sudo apt-get update` (on Ubuntu 14.04), I get:

[code]

[2017-04-08 10:01] plietar commented on #1823
Automatic update of the Playground worked fine

[2017-04-08 11:53] SeanTAllen commented on #1825
Public key is available at: https://bintray.com/user/downloadSubjectPublicKey?username=pony-language

[2017-04-08 12:00] v217 commented on #1825
On Ubuntu this works:

    sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 379CE192D401AB61

I found this key here:
https://bintray.com/tvheadend/ubuntu
Maybe these are generic keys for the bintray server for all projects?
Could not find official documentation.
The advantage:
You can run `apt-get` without `--allow-unauthenticated`.

[2017-04-08 12:33] v217 commented on #1825
On Ubuntu 17.04 after importing the keys, I get this error message:

    An error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error: https://dl.bintray.com/pony-language/ponyc-debian pony-language Release: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 379CE192D401AB61Fail

[2017-04-08 12:53] renatoathaydes commented on #1671
Cool! Thanks.

[2017-04-08 14:34] v217 commented on #1825
This stopped all error messages:

    sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 379CE192D401AB61

But this works even without importing https://bintray.com/user/downloadSubjectPublicKey?username=pony-language
?

[2017-04-08 14:53] SeanTAllen opened #1826 "Unsafe string replacements in CHANGELOG updates for release.bash"
I fixed partial problems, but there are more. The CHANGELOG substitution should be rewritten to:

1. only work on the unreleased section always. it should never expand its scope outside of that. the usage of grep to find line numbers to use in final replacement is dangerous and not scoped to the unreleased section.

2. It should only attempt to replace a section if it exists but it empty. Currentl

[2017-04-08 16:59] SeanTAllen commented on #1823
sweet @plietar.

[2017-04-08 17:00] SeanTAllen commented on #1823
@kamilchm should we ping you as part of the release process? I can add it to RELEASE_PROCESS.md (or you could PR that change), same as how we ping Stefan

[2017-04-08 17:24] SeanTAllen opened #1828 "Array class needs full documentation"
Lacks basic examples etc.

[2017-04-08 17:25] SeanTAllen opened #1829 "No indication on standard lib site how to contribute"
Its not reasonable for us to assume that when people find gaps in the standard library documentation that they know they can contribute by opening a PR here. That should be included in standard library doc site.

[2017-04-08 21:16] killerswan commented on #1823
Cool, I was just thinking "I wonder if we should do Nix..."

[2017-04-08 21:39] SeanTAllen commented on #1823
Doesn't work on windows. What were you thinking?

[2017-04-08 21:39] #1823 closed

[2017-04-08 21:53] kamilchm commented on #1823
@SeanTAllen sure, you can ping me on every release.
It could be harder to do it on Nix after pony breaking changes because you need to have all pony dependent packages compile and work, eg. I needed to update pony-stable after Arrays as sequences in 0.12 before I could update ponyc, but I'll try to be as close as it's possible.

[2017-04-09 23:22] SeanTAllen commented on #1825
@v217 if you are having problems updating to 0.13, could you open an issue for that?

[2017-04-10 01:17] killerswan opened #1831 "release builds don't always deploy correctly"
In the Linux packaging build for 0.13.0, [here](https://travis-ci.org/ponylang/ponyc/jobs/219889512), it seems that the following happened:
* the Bintray JSON descriptor files were written OK (as in Makefile [here]()),
* the 'make deploy' and 'make docs' steps didn't fail the build so it succeeded,
* the deployment step found the JSON but not the .DEB and .RPM and other files.

Perhaps one of our

[2017-04-10 01:25] killerswan commented on #1831
1. Note there is no other build which succeeded, @SeanTAllen: [see the RPMs available here by version number](https://dl.bintray.com/pony-language/ponyc-rpm/).
1. I bet if we remove both of the `make clean` lines from the scripts it'll do what we want: [here](https://github.com/ponylang/ponyc/blob/master/.travis_script.bash#L29) and [here](https://github.com/ponylang/ponyc/blob/master/.travis_scri

[2017-04-10 01:53] SeanTAllen commented on #1825
@v217 issue was found. can you try installing 0.13.0 again?

@dc0d can you try again as well and see if it happened to solve your problem.

[2017-04-10 01:57] SeanTAllen commented on #1831
closed by #1832.

[2017-04-10 01:57] #1831 closed

[2017-04-10 08:49] v217 commented on #1825
@SeanTAllen I could update to version 0.13. I think I've been a bit early, ponyc was not yet uploaded to https://dl.bintray.com/pony-language/ponyc-debian/.

[2017-04-10 09:10] v217 commented on #1825
I did remove the key mentioned in https://github.com/ponylang/ponyc/issues/1825#issue-220386337 and installed like in comment https://github.com/ponylang/ponyc/issues/1825#issuecomment-292721905

    sudo apt-key del 379CE192D401AB61
    OK

With this key removed, installing `sudo apt-get install ponyc` worked without a problem.
However when updating `sudo apt-get update`, I get this error: `Err:8

[2017-04-10 11:54] mfelsche opened #1833 "ubuntu bintray package depends on unavailable libLLVM-3.9.so.1"
I upgraded ponyc from the bintray apt repo on ubuntu 16.04 from 12.3 to 13.0.
I was unable to run the binary because it was depending on a nonexistent and unavailable ``libLLVM-3.9.so.1``.

example call:
[code]

[code]

/etc/apt/sources.list.d/pony.list
[code]

[code]

[2017-04-10 13:02] SeanTAllen commented on #1833
which llvm.so is installed on your machine @mfelsche?

[2017-04-10 19:35] mfelsche commented on #1833
i have installed: ``/usr/lib/x86_64-linux-gnu/libLLVM-3.8.so.1``
from

[code]

ubuntu 16.04 repositories only contain these llvm versions:

[code]

So the required libLLVM3.9.so.1 is not available on vanilla ubuntu.
I think maybe the ponyc package should explicitly state the dependency on a package containing this lib and fail to install in the first place (if it cannot be avoided).

[2017-04-12 12:24] Praetonus commented on #1666
The LoadCombine pass is implemented by LLVM. I think what @rurban means is that maybe our pass order is off, or we're generating an invalid load sequence in the compiler. I looked at the IR generated for the test case above and I don't really see what could be wrong on our side.

[2017-04-12 19:42] sylvanc commented on #1697
@jemc and @plietar I think you're right, this should be allowed. The subtype relationship is established.

[2017-04-12 19:42] SeanTAllen commented on #1513
@sylvanc doesn't believe this is tuples related. going to be looking at it. i'm leaving the needs discussion during sync tag so we revisit next week.

[2017-04-12 19:44] sylvanc commented on #1698
Yeah, we should be able to handle this. It's another recursive type edge case.

[2017-04-12 19:44] SeanTAllen commented on #1719
Contents of text file:

[code]

[2017-04-12 19:46] SeanTAllen commented on #1719
@luigino do you have libunwind installed?

[2017-04-12 19:50] SeanTAllen opened #1835 "Turn off -mcx16 for aarch64"
Currently, we set on any 64-bit platform. Should not set on `aarch64`.

See line 100 in Makefile

reported as part of #1719.

[2017-04-12 19:51] SeanTAllen commented on #1719
Googling around Sylvan is seeing that libunwind might lack aarch64 support. @luigino your verification of its installed or not would be key. We opened an issue #1835 for the -mxc16.

[2017-04-12 19:51] SeanTAllen commented on #1719
BTW, @luigino as far as we know you are the first person to try Pony on aarch64, so it might be a little bumpy. We appreciate your help in solving issues that arise and apologize in advance.

Thanks!

[2017-04-12 19:56] SeanTAllen commented on #1734
I've emailed the user and dev lists in hopes of finding another MacPorts user who might be able to assist.

[2017-04-12 19:57] sylvanc commented on #1734
I expect this mostly comes down to the `LLVM_CONFIG` setup in the Makefile between around lines 161 to 207. By adding MacPorts-specific locations where various `llvm-config` versions could be found, we might be able to cleanly support MacPorts.

It's also possible to set `LLVM_CONFIG` on the make line:

[code]

[2017-04-12 19:59] SeanTAllen commented on #1756
@sylvanc thinks this is a GCC 7.0 issue. we need to do a travis run with gcc 7.0 and see what goes boom.

[2017-04-12 20:18] SeanTAllen commented on #1787
Suspicion here is that Kqueue on Sierra (and maybe El Capitan) is firing. We have no proof of that but think we should look into it.

[2017-04-12 20:33] sylvanc opened #1837 "Use LLD for linking"
https://lld.llvm.org

This would eliminate the compiler's dependence on a C compiler for linking on Linux and on `link.exe` for linking on Windows.

LLD could be used as a library rather than needing to shell out to it.

[2017-04-12 21:05] SeanTAllen commented on #1833
@killerswan thoughts?

[2017-04-12 21:21] Earnestly opened #1838 "Add Support for OpenSSL 1.1.0"
* Linux 4.10.8 (Arch Linux)
* GCC 6.3.1
* OpenSSL 1.1.0e  16 Feb 2017

Currently when attempting to link `stdlib.o` I get the following undefined reference errors:

[code]

This is notably due to changes in OpenSSL 1.1.0 and its deprecation of these functions.  For example `SSL_library_init` is now `OPENSSL_init_ssl`.

Perhaps this mailing list post and its referenced links might be of use when fi

[2017-04-12 21:21] killerswan commented on #1833
1. The package itself does not have that dependency in the .deb (here's the FPM call where we're missing an LLVM and version: https://github.com/ponylang/ponyc/blob/master/Makefile#L817).
1. We are indeed building with LLVM 3.9 from [apt.llvm.org](http://apt.llvm.org/) (or [we are now](https://github.com/ponylang/ponyc/commit/070d3b4852763baa8175fe554098e0fef6f2c3e5)).
1. I think @mfelsche is righ

[2017-04-12 22:26] dubiousjim commented on #1734
Hi, I can make a little time to experiment with this again. First off, `llvm-config` on my system is at:

The first is a symlink to `/opt/local/bin/llvm-config-mp-3.9`, which is a shell script that says:

[code]

The `/opt/local` prefix is where the MacPorts system lives (by default).

Second, just running `make` (or `make LLVM_CONFIG=/opt/local/bin/llvm-config`) tries to build with gcc, and that

[2017-04-12 22:38] plietar commented on #1787
I've had a look again and kqueue isn't firing anything spurious events. The [kevent call here](https://github.com/ponylang/ponyc/blob/7fd9b44ae5bd2bb6234b4e33e5267722f8f246b0/src/libponyrt/asio/kqueue.c#L129) only returns once or twice every 2 seconds with a single event every time.

Back to [`ponyint_cpu_core_pause`](https://github.com/ponylang/ponyc/blob/7fd9b44ae5bd2bb6234b4e33e5267722f8f246b0/

[2017-04-12 22:44] dubiousjim commented on #1734
Using the latest master (`7fd9b44ae5bd2bb6234b4e33e5267722f8f246b0` from Sun 9 April), `make CC=clang-mp-3.9 CXX=clang++-mp-3.9 LLVM_CONFIG=/opt/local/bin/llvm-config-mp-3.9 LLVM_VERSION=3.9.1` successfully builds.

I'll experiment to see which simplifications of this also work.

[2017-04-12 22:56] SeanTAllen commented on #1734
Seems like @sylvanc was right in that the problem is related to finding the correct LLVM installation info.

[2017-04-12 23:07] dubiousjim commented on #1734
1. `make CC=clang CXX=clang++ LLVM_CONFIG=/opt/local/bin/llvm-config LLVM_VERSION=3.9.1` also works. (As it should, since bare `clang` stuff on my system is all symlinks to the `*-mp-3.9` versions. This is managed and configured via the MacPorts package system).

2. Dropping the LLVM_CONFIG also works. (As it should, since `which llvm-config` points to that same path.)

3. Dropping both LLVM_CONFI

[2017-04-12 23:20] SeanTAllen commented on #1734
@dubiousjim have we mentioned that you are awesome? if not, you rock. thank you!

[2017-04-12 23:26] dubiousjim commented on #1734
Thanks :-)

Here is the first commit where `make CC=clang CXX=clang++` succeeds:

[code]

On the previous commit `49fb64fa647b63e023ea8344b443a6dd52a28635`, both `make CC=clang CXX=clang++` and `make CC=clang CXX=clang++ LLVM_CONFIG=/opt/local/bin/llvm-config LLVM_VERSION=3.9.1` fail.

Guess that's all on this, so I'll close.

[2017-04-12 23:26] #1734 closed

[2017-04-12 23:38] dubiousjim commented on #1734
[code]

:-)

[2017-04-13 05:48] rurban commented on #1734
Thanks, my fault.

[2017-04-13 07:19] mfelsche commented on #1833
Would it be possible to build against llvm3.8 ? Or chose the llvm version by OS release?
This way ponyc could be installed on vanilla ubuntu 16.04 without depending on additional llvm packages.

[2017-04-13 09:12] luigino commented on #1719
Libunwind version 1.2~rc1 is available on every architecture (probably ppc* too, but I haven't checked).
Thing is, even when explicitly installed it's not being used.

The unwind.h header is supplied by gcc6 instead, see attachment.
[unwind_h_gcc6.zip](https://github.com/ponylang/ponyc/files/918988/unwind_h_gcc6.zip)

[2017-04-14 09:54] dc0d commented on #1825
I've performed:

[code]

Not restarting; still getting GPG error. Then performed:

[code]

GPG error gone, but pony did not get updated (still `0.11.3`).

[2017-04-14 11:19] v217 commented on #1825
@dc0d Did you remove the repository key https://bintray.com/user/downloadSubjectPublicKey?username=pony-language  ?
I wonder if it would be easier to distribute pony as an Ubuntu snap, so you would not have to prepare a package for Ubuntu and Fedora?

[2017-04-14 12:07] SeanTAllen commented on #1825
@dc0d to make sure i'm clear, you've imported the key at

https://bintray.com/user/downloadSubjectPublicKey?username=pony-language

and still get the GPG error?

[2017-04-14 12:28] dc0d commented on #1825
@v217 Personally I use Ubuntu 14.04 and have not snap (used). IMHO it seems only better to avoid it, or if there comes a conclusion that it's a better choice, there should a page with clear instructions.

@SeanTAllen I'll check & report back ASAP.

[2017-04-15 03:06] SeanTAllen commented on #1811
We decided against this.

[2017-04-15 03:06] #1811 closed

[2017-04-15 13:44] shuppyloh commented on #1781
Hi, similar non-deterministic failure when spawning too many threads. Program creates 1000 pair of pingpong actors and each of them passes an Int count between them for 2000 times. Attached is the ponyc version and gdb error log when the program is compiled with `ponyc -d`

[code]
[code]
[code]

[2017-04-15 21:53] dc0d commented on #1825
Sorry for late response. Not being a good Linux user, I think my contribution on this matter could be misleading.

I've added the key and got the `OK` response (the key was not inside `/etc/apt/tructed.gpg`, should it be that way?), and `update` and `upgrade` done without error; yet my `ponyc` is still `0.11.3` (What's going on?).

[2017-04-15 23:35] killerswan commented on #1825
Hmmm, try installing "ponyc" instead of "ponyc-release".

[2017-04-16 07:11] v217 commented on #1825
Without https://bintray.com/user/downloadSubjectPublicKey?username=pony-language installed, but with

    sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 379CE192D401AB61

updating on Ubuntu 17.04 worked. Sorry for this strange behaviour of apt-get.
Without both keys updating worked with this option:

    apt-get --allow-unauthenticated

[2017-04-18 07:10] mkfifo commented on #1336
(IANAL)
Is a copyright naming the authors of the project sufficient?

```// Copyright yyyy-yyyy The Ponyc Authors. All rights reserved.```

This is done by projects like Chromium.

Many other programming languages seem to have copyright assigned to a university where the project started or mention no copyright at all :/

[2017-04-18 07:36] mkfifo commented on #822
(Modified my paths as they aren't important)

[code]

[code]

Any of these resolves the issue:

1) add a let
2) add a var
3) remove the line

It looks like it is deciding that the syntax "str: String..." has to be outside of the while loop.

The same happens for other block constructs such as `if`, so a minimal test case is

[code]

[code]

So this looks like it isn't parsing that 'str: String ...

[2017-04-18 07:52] mkfifo commented on #1088
I've been thinking more about String API design lately, I hope replying here is appropriate.

[code]

I agree that the string itself should be encoding aware - when I put the "characters" in I likely had encoding information, it seems silly to drop it.
I might even say that I think all strings should have the same underlying encoding, but I'm not so sure on that point.

@sparrisable
I dislike the

[2017-04-18 10:25] mkfifo commented on #822
Running a trace I get

[code]

So we can see that the `str` is matched against a rule

```Rule ref: Looking for required token name. Found str. Compatible```

and it tries to then parse the rest `: String...`.

It then gets into a failure state, and starts trying to skip input

[code]

as part of this it skips our `end` token and hits EOF.

This then triggers the 2 errors to be reported

[2017-04-18 10:29] mkfifo commented on #822
This discarding of "end" happens because end is not in the restart set for class_def, which makes sense as "end" is not the valid start of a new unit.

[2017-04-18 10:49] mkfifo commented on #822
So once we are inside the body of the IF the parser then tries to make sense of `str: String ...`

[code]

So we can see here that it matches `then`, it then goes into trying to parse a body (`seq`)

seq -> rawseq -> exprseq -> assignment -> infix -> term

We can then seeing it trying the various terms and failing, until it scores a hit on 'str' under

term -> pattern -> parampattern -> postfix ->

[2017-04-18 11:06] mkfifo commented on #822
The parser is trying to use `str` as the expression returned/yielded by the if block, then trying to find an else/end and failing.

[2017-04-18 15:19] Praetonus opened #1843 "Symbols aren't loaded correctly in JIT compiler tests"
The original problem was found by @aturley.

The `gen_jit_and_run` offers the ability to load symbols from the JITed program. There currently is a bug with that, where an incorrect additional indirection is introduced.

I'm setting the issue to medium priority since it doesn't affect any existing test but it is a blocking issue for #1839.

[2017-04-18 17:05] Praetonus commented on #1843
It turns out all symbol types are affected, not only arrays.

[2017-04-18 18:36] jemc commented on #1088
I don't think that implementations that use anything other than simple byte sequences under the hood are very practical.

At the end of the day, you need to be able to read/write the string from/to a file or a socket, so if the internal representation of the string is anything other than a sequence of bytes (for example, if it were a sequence of codepoints represented as U32 or U64), then it would

[2017-04-18 18:48] jemc commented on #822
Perhaps we could improve the situation a bit just by improving the error message for this kind of syntax error.

instead of:

- "syntax error: unterminated if expression" (pointing to `if`)
  - "expected terminating end before here" (pointing to `str: String`)

maybe something like

- "syntax error: this syntax isn't valid in this context" (pointing to `str: String`)
  - "inside this ongoing synta

[2017-04-18 23:27] dipinhora commented on #1787
I see similar high cpu usage on pre-Sierra:

[code]

With the following ponyc:

[code]

I compiled and ran the following modified program:

[code]

Run output on OS X:

[code]

Same program run in an Ubuntu 16.04 VM on the same OS X host results in the following:

[code]

One similar timing related issue from the Apple Darwin mailing lists is: https://lists.apple.com/archives/darwin-kernel/2007/Fe

[2017-04-19 00:56] agarman commented on #1787
Can the nanosleep value used be calibrated at runtime? Otherwise hardcoded values will become bugs in later OS updates.

[2017-04-19 01:22] killerswan commented on #1825
Interesting, @v217!  However I can't reproduce that first bit with the Ubuntu I'm trying out now.

If I simply install both the bintray and pony-language keys it's not enough:
[code]

And if I (after trying that) add the Bintray key using that keyserver it's not enough either:
[code]

[2017-04-19 01:30] killerswan commented on #1825
@SeanTAllen I haven't read all the docs yet but do we need to click that checkbox?

@v217 What version of the package have you got installed?  One (dubious) theory for why it works for you is that you might be on the "ponyc-release" package which isn't current and was signed by Bintray with `bintray`'s key instead of by Bintray with `pony-language`'s key...  But I'm fairly uncertain right now.

[2017-04-19 01:37] SeanTAllen commented on #1825
@killerswan i dont believe so, if you check it then it turns off using the bintray pair and askes for you to upload a key.

[2017-04-19 01:48] killerswan commented on #1825
Further, I observe that Release.gpg has a signature for Release created with Bintray's key:
[code]

[2017-04-19 01:54] killerswan commented on #1825
@SeanTAllen, if I understand what you were suggesting earlier in our chat, it's that:
* while Bintray is trying to set up metadata for an "automatic" Debian package layout ([see here](https://blog.bintray.com/2014/12/16/hosting-debian-packages-on-bintray-rocks/)),
* we perhaps need to set correct destination target paths to fit our .deb files into that (as described [here](https://www.jfrog.com/co

[2017-04-19 01:55] SeanTAllen commented on #1825
@killerswan that is my guess

[2017-04-19 01:55] SeanTAllen commented on #1825
@killerswan but i could also be completely wrong

[2017-04-19 02:01] killerswan commented on #1825
If you look at our last release build [here](https://travis-ci.org/ponylang/ponyc/jobs/220401638), the bintray deployment descriptor was like so:
[code]

Do we (as my very fuzzy reading of [this doc](https://www.jfrog.com/confluence/display/RTF/Debian+Repositories#DebianRepositories-DeployingapackageusingMatrixParameters) suggests) need to add a deb_path property which sticks the files in "pool" o

[2017-04-19 02:10] killerswan commented on #1825
I'm also concerned about why the signature on the latest .deb file is bad:
[code]

[2017-04-19 07:44] killerswan commented on #1825
After some upgrading and some re-downloading, yeah, something is funny here:
[code]

[2017-04-19 09:12] killerswan opened #1845 "bintray is configured to use its own GPG key to sign things instead of our GPG key"
Noticed this while looking into #1825.

Bintray's key is getting used everywhere, for every signature I've been able to check so far.   I expected (from conversation elsewhere) pony-language's key to be used.

I think the [pony-debian configuration here](https://bintray.com/pony-language/ponyc-debian/edit?tab=general) is causing Bintray's key (8756 C4F7 65C9 AC3C B6B8  5D62 379C E192 D401 AB61) to

[2017-04-19 09:18] killerswan commented on #1845
To see a copy of the keys and how they're used, with gpg 2.1.20:
[code]

From the last two commands right now:
[code]

[2017-04-19 09:27] killerswan opened #1846 "bintray contains bad signatures for various uploaded files"
Noticed this, too, while looking into #1825.

At least the following pairs of files DO NOT verify, for me, AFAICT:
[code]

After setting up the keys:
[code]

Then you can confirm like so (with gpg 2.1.20):
[code]

I've not checked all the signatures but you see there's a trend!!

I hope this is all just me looking at the wrong key from Bintray or something and being confused, but it seems worth di

[2017-04-19 09:29] killerswan commented on #1825
TL;DR: Because I've said a lot today I want to outline three distinct issues I've noted above:
1. Bintray's key is getting used where I expected pony-language's key to be used.
2. Signatures for uploaded .zip, .tar.bz2, .rpm, and .deb files seem bad.  Perhaps I'm misunderstanding but I'm somewhat concerned.
3. Debian / Ubuntu packaging looks unsigned, to Apt, under certain circumstances.  Basicall

[2017-04-19 10:32] killerswan commented on #1825
The difference between what didn't work for me above, and what did work for @v217, might be in an Ubuntu bug:
* https://github.com/owncloud/client/issues/5287
* https://bugs.launchpad.net/ubuntu/+source/apt/+bug/1592040

Basically, after having the wrong / missing keys and trying to install from the repo, Apt was unhappy.  But the easy workaround is to:
1. comment out the `deb https://dl.bintray.c

[2017-04-19 10:51] killerswan commented on #1846
Considering the correct GPG signing of `Release` and its (by way of `main/binary-amd64/Packages`) correct SHA256 hash for `ponyc_0.13.0-3193.af6ef43_amd64.deb`, it seems as though the files were modified after their sibling signatures recorded, but before the Debian package metadata was updated and signed.  :puzzled:

[2017-04-19 11:01] v217 commented on #1825
I have an exam next week, so I won't play with ponyc until next week. If I get an error for the next update, I will report it.
Everything works fine for me with the following settings: (I tried this out just now.)
[code]

[2017-04-19 16:35] kulibali commented on #1846
I can confirm that the signatures are bad:

    C:\Users\Gordon\Downloads>gpg --version
    gpg (GnuPG) 2.0.30 (Gpg4win 2.3.3)
    libgcrypt 1.6.6

    C:\Users\Gordon\Downloads>gpg --fingerprint bintray
    pub   4096R/D401AB61 2015-02-17
          Key fingerprint = 8756 C4F7 65C9 AC3C B6B8  5D62 379C E192 D401 AB61
    uid       [ unknown] Bintray (by JFrog) <bintray@bintray.com>
    sub   4096R

[2017-04-19 19:15] #1550 closed

[2017-04-19 19:17] SeanTAllen opened #1848 "Release 0.13.1"
High priority fix #1842 is in.

[2017-04-19 19:58] killerswan commented on #1845
OK, @sylvanc notes that this was intentional so we should be expecting users to use the bintray key 8756 C4F7 65C9 AC3C B6B8  5D62 379C E192 D401 AB61.

[2017-04-19 19:58] #1845 closed

[2017-04-19 20:06] killerswan commented on #1846
TODO: let's contact Bintray and see if someone can help clarify the situation...

[2017-04-19 20:06] SeanTAllen opened #1849 "Sean figures out how to remove Pony Language GPG from Bintray"
see #1845

[2017-04-19 20:56] #1825 closed

[2017-04-19 21:00] #1849 closed

[2017-04-19 23:27] dipinhora commented on #1787
@agarman I'm not sure I understand your comment/concern. The call to `nanosleep` is in the C code for the runtime scheduler logic for when there are no actors with any work available for the scheduler thread to run.

So far, I think we've been relying on the implicit behavior where `nanosleep` for `0 nanoseconds` actually takes significantly longer than that. I think we should figure out the "appr

[2017-04-20 05:52] agarman commented on #1787
@dipinhora -- thanks for clarification. If I understand correctly, the solution would no longer use `nanosleep` of `0` **nor** any OS specific durations?

[2017-04-20 06:01] dipinhora commented on #1787
@agarman I'm not sure what you mean by "any OS specific durations" but my suggestion is that we move away from using `0 nanoseconds` to a "more realistic" duration that balances cpu usage with time between checks explicitly (instead of the current reliance on the implicit behavior of the `nanosleep` call taking significantly longer than requested. The decision could be that the "more realistic" du

[2017-04-20 12:08] agarman commented on #1787
Got it. Sounds reasonable. FWIW erts looks like it uses sleep 0, but I'm just a tourist wrt ponyc or erts c internals.

[2017-04-20 15:42] jemc commented on #1787
Would we take any significant performance hit if we made the sleep time configurable via a `--pony` option at runtime?

[2017-04-20 15:43] SeanTAllen commented on #1787
Trying to explain how that interacts with things could be seriously difficult and black magic.

I'm always wary of options that are basically black magic.

[2017-04-20 15:45] jemc commented on #1787
Is it black magic? If I'm understanding it correctly, the concept seems fairly simple.

It seems analogous to a global "slop" option, where you can increase the number for less CPU usage, and decrease it for more precise timings, with diminishing returns in eaither direction if you stray to far from the default.

[2017-04-20 15:54] SeanTAllen commented on #1787
@jemc you are referring to the values in `ponyint_cpu_core_pause` correct?

If yes, then I think its black magic because its called as part of quiescent and changing that value can have a large impact on performance and work stealing.

[2017-04-20 16:09] dipinhora commented on #1787
I'm somewhere in the middle. The following are my -$0.02 8*)

I agree with @SeanTAllen that we have to be careful since this is directly related to work stealing and other scheduler internals and not very easy to understand or explain the impact.

On the other hand, I think having it be a configurable option for **advanced** users is acceptable and no more dangerous than some of the thread related

[2017-04-20 20:48] #1843 closed

[2017-04-21 12:45] Theodus commented on #1826
Resolved by #1841

[2017-04-21 12:45] #1826 closed

[2017-04-21 12:47] Praetonus commented on #1184
@igortoliveira Are you still working on this? If so, do you need any help with any part of this?

[2017-04-22 11:55] SeanTAllen opened #1859 "Update release process to account for new release note process"
We now right up release notes that get posted on ponylang.org and announce via that post.

Release process doc needs to be updated to reflect.

https://www.ponylang.org/blog/2017/04/0.13.0-released/

as an example

[2017-04-22 12:00] SeanTAllen commented on #1848
blessing 40bd5c88956fbe7f0d949564bd655710ea9fff72

[2017-04-22 12:04] SeanTAllen opened #1860 "Release script doesn't push CHANGELOG change"
I just ran the release script as part of releasing 0.13.1 and the final step of pushing CHANGELOG changes back to master didn't work correctly (it said it did it but didn't) and I had to manually push.

<img width="703" alt="screenshot 2017-04-22 08 04 07" src="https://cloud.githubusercontent.com/assets/193596/25304282/469a04ce-2732-11e7-9623-513251f1fbc6.png">

[2017-04-22 12:04] SeanTAllen commented on #1848
release underway

[2017-04-22 12:12] SeanTAllen commented on #1848
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/12765

[2017-04-22 12:12] SeanTAllen commented on #1848
@stefantalpalaru release underway.

[2017-04-22 12:12] SeanTAllen commented on #1848
@kamilchm release underway.

[2017-04-22 12:13] SeanTAllen commented on #1848
Windows, RPM and Debian packages are in bintray.

[2017-04-22 12:14] SeanTAllen commented on #1848
I'm working on crafting release notes for ponylang.org

[2017-04-22 12:32] SeanTAllen commented on #1848
release notes are out: https://www.ponylang.org/blog/2017/04/0.13.1-released/

waiting on homebrew and will then announce.

[2017-04-22 12:33] stefantalpalaru commented on #1848
Gentoo ebuild updated.

[2017-04-22 13:10] SeanTAllen commented on #1848
thanks @stefantalpalaru

[2017-04-22 14:48] SeanTAllen commented on #1848
homebrew released.

[2017-04-22 14:48] #1848 closed

[2017-04-22 18:17] agarman commented on #1483
[code]

@SeanTAllen - wasn't sure if the fix you mentioned was in 0.13.1 or not, so I tested again...

[code]

[2017-04-22 21:12] #1860 closed

[2017-04-23 07:53] luigino opened #1863 "Conversion issue on gcc6 and x86"
But not on arm nor x86 with gcc 4.8.

See attached [log](https://github.com/ponylang/ponyc/files/949536/ponyc_gcc6_x86_errorlog.txt).

Edit: I stand corrected, this should be retitled: conversion issues with LLVM 4.0.

[2017-04-23 12:45] SeanTAllen commented on #1863
Inline error log:

[code]

[2017-04-23 12:47] SeanTAllen commented on #1863
@luigino We run our CI using GCC 6.

What OS?
What version of LLVM?

Please provide as much background as you can in terms of environment.

[2017-04-23 12:47] SeanTAllen commented on #1863
@luigino we don't currently support LLVM 4.0. closing this for now.

[2017-04-23 12:47] #1863 closed

[2017-04-24 22:31] SeanTAllen opened #1864 "Compiler error with type"
the following causes an error:

[code]

the error is:

[code]

[2017-04-24 23:58] SeanTAllen commented on #1864
I've been playing around with: it appears to be related to having an `Array` and `Seq` in the same type.

`type SimpleOrNested is (Array[U8]|Array[Bool])` works
`type SimpleOrNested is (Array[U8]|Seq[Bool])` does not

if you take

[2017-04-25 01:21] #1835 closed

[2017-04-25 11:07] plietar opened #1865 "Using `this` in a constructor results in failed assertion in 0.13.1"
Any program which refers to `this` explicitly in a constructor before the object is fully initialised causes an assertion failure. Implicit `this` is fine though.
[code]

[code]

Once the object is initialised everything is fine, eg :
[code]

That snippet works fine in 0.13.0, I'm guessing it was broken by #1715 (cc @jemc)

[2017-04-25 12:04] LaurentTreguier commented on #1225
Hello there, I just tried building ponyc 0.13.1 from source, on Fedora 25 with LLVM 3.9.1 and gcc 6.3.1, but still had this exact issue:
[code]

[2017-04-25 12:31] SeanTAllen commented on #1225
@avsej when you had this issue, were you using gcc 6.3.1? So far reported gcc versions are all 6.3.1. This is looking like a GCC specific issue to me.

[2017-04-26 00:22] patternspandemic opened #1866 "Missing helpful info message with error resulting from call to helper function from constructor"
(I'm new to Pony, hopefully I got the terminology correct.)

A helpful info message "this would be possible if ..." is missing in the following context:

Attempting to use helper functions from constructors for field setup often result in the common error `receiver type is not a subtype of target type`. For example:

[code]
[code]
The helpful info message "this would be possible if ..." is missing

[2017-04-26 03:29] SeanTAllen commented on #1866
@patternspandemic this an awesome first issue to open. thank you.

[2017-04-26 05:09] jemc commented on #1865
Thanks, @plietar. This surely was my fault.

Will resolve it quickly.

[2017-04-26 12:08] SeanTAllen commented on #1186
@Praetonus did you open the issue for this on the LLVM tracker? If yes, can you reference it here?

[2017-04-26 19:33] sylvanc commented on #1864
Looks like this may have to do with flattening union types.

[2017-04-26 19:34] #1865 closed

[2017-04-26 20:02] sylvanc commented on #1798
This looks like a bug in `viewpoint.c`. In particular, for the first example, in `is_arrow_sub_arrow` we compare ask if `this->X <: this->X!`. This calls `viewpoint_reifypair`, which results in:

[code]

Which is good! But then we need to compare those. And when we have:

[code]

It reifies as:

[code]

This is bad! `r_super` is `ref->X`, not `ref->X!` so the reification should be:

[code]

[2017-04-26 20:08] sylvanc commented on #1807
This is happening because union flattening is reducing the constraint to `Bar val`, which is of course wrong.

[2017-04-26 20:12] jemc commented on #1807
This can be solved by: during union flattening, check the current frame and see if we are in a constraint before invoking `is_subtype` - if we are we should invoke `is_subtype_constraint` instead.

[2017-04-26 20:18] jemc commented on #1810
Discussed in sync - we need a better error for saying that `tag` cannot be used as a left hand side of a viewpoint, because it can't view anything.

[2017-04-26 20:22] jemc commented on #1807
Careful caveat though - we don't want to use `is_subtype_constraint` when the union is within the type arguments of a constraint type. For example, in `[A: Array[(B | C)]`, we'd use `is_subtype` as normal - this is important to add a test case for when fixed.

[2017-04-26 20:33] Theodus opened #1868 "Unable to use consumed variable in else branch of try expression"
[code]
output:
[code]

[2017-04-26 20:58] plietar commented on #1809
We talked during the sync about lifting the "no arrow" restriction all together.

There's one concern I see, which is it can lead to constraints with no "reduced form".
For example :
[code]

The constraint `box->Any #any` allows `Any val`, `Any box` and `Any tag`. There's no capability constraint which includes all three caps. We could add more constraints to make them closed under viewpoint adapt

[2017-04-27 00:15] plietar opened #1869 "Iftype body is not reified properly, causing failed assertion"
[code]
[code]

Printing the type [at the assertion](https://github.com/ponylang/ponyc/blob/b1d77f0e9844734b4b6147b468ca3238918e104e/src/libponyc/reach/reach.c#L903) shows it is still a type variable, making me think the body isn't getting reified properly.
[code]

[2017-04-27 12:47] hardliner66 opened #1871 "Unresolved external references on Windows"
I tried to compile the hello world example, but I get about 70 unresolved external symbols.
[out.txt](https://github.com/ponylang/ponyc/files/961547/out.txt)

I tried it on Windows 10 x64 with Visual Studio 2017 Community installed.

[2017-04-27 13:08] hardliner66 commented on #1871
I found the Problem. Visual Studio didn't install the correct Windows 10 SDK.

[2017-04-27 13:08] #1871 closed

[2017-04-27 16:19] Theodus commented on #1868
I'm not sure if this is a bug or working as intended, but it seems like this should be possible.

[2017-04-27 22:46] Cloven opened #1872 "Occasional segfault soon-after-startup for UDP client"
UDP Server: https://gist.github.com/992d3e599fdf4cae164296d2aabcf5a5
UDP Client: https://gist.github.com/1fd3260168f28212e8867c161e75d01e

OSX 10.11.6, pony version 0.13.1-874c0f8 [release] compiled with: llvm 3.9.1 -- Apple LLVM version 8.0.0 (clang-800.0.42.1) (but this also occurred under pony 0.11.x)

When you start a server (a simple UDP reflector) and then the client (a simple UDP spammer),

[2017-04-27 22:50] Cloven commented on #1872
Adding to this: if the printed counter advances beyond around 30k, I haven't seen it crash after that (and have run it to 600k+).  However, if you ^C the process and restart it, it fails about 5-10% of the time.  One doesn't need to restart or otherwise touch the reflection server once it's running, the bug is entirely triggered by the client.

[2017-04-27 22:53] SeanTAllen commented on #1872
@Cloven which segfaults, the client or the server?

[2017-04-27 22:57] Cloven commented on #1872
Client only.

[2017-04-27 23:02] SeanTAllen commented on #1872
@Cloven how many CPUs does your machine have?

[2017-04-27 23:03] SeanTAllen commented on #1872
@Cloven also what type of CPU? Info about the type of Apple computer might be helpful.

[2017-04-27 23:13] SeanTAllen commented on #1872
@Cloven the pause is most likely the OSX giving something else access to the CPU, i get it without a crash from time to time and it appears to be the client being momentarily paused by OSX ( from what I can see).

I'm on 10.11.6
Mid 2015 Macbook Pro.
LLVM 3.9.1
Same ponyc version you are using
I have 4 cpus so both the server and the client are running with 4 ponythreads.

I was about to hit comme

[2017-04-27 23:14] SeanTAllen commented on #1872
@Cloven can you build the client using `--debug` and see if you still get the problem?

[2017-04-27 23:25] SeanTAllen commented on #1872
I was able to recreate in the debugger. This is going to look familiar to some folks:

[code]

[2017-04-27 23:25] Cloven commented on #1872
That box is a 2012 macbook air (dual-core 2.0GHz Intel Core i7 (Turbo Boost
up to 3.2GHz) with 4MB shared L3 cache) with 8G of RAM.  I'll build with
debug when I can.  It's interesting that you're getting the bug more rarely
than I am.

On Thu, Apr 27, 2017 at 4:14 PM, Sean T Allen <notifications@github.com>
wrote:

[2017-04-27 23:29] SeanTAllen commented on #1872
I'm seem to be able to make this happen far more consistently with 2 threads rather than 4.

[2017-04-27 23:33] SeanTAllen commented on #1872
Different segfault this time and yeah, running with 2 ponythreads seems to be the key to easily reproducing for me:

[code]

[2017-04-27 23:42] SeanTAllen commented on #1872
And another slightly different:

[code]

[2017-04-27 23:46] SeanTAllen commented on #1872
with 2 ponythreads, debug compiler, debug client I can seemingly reproduce all the time.

[2017-04-28 00:06] SeanTAllen commented on #1872
It appears that anytime this happens, we've recently gone through this branch in `hash.c` search:

[code]

[2017-04-28 00:19] SeanTAllen commented on #1872
big question: is there a bug in the hash implementation, are we doing a double free, or are we deleting from the object map early?

[2017-04-28 00:50] SeanTAllen commented on #1872
there's a bug in hash.c

[2017-04-28 01:01] SeanTAllen commented on #1872
So what I am regularly seeing and I need @dipinhora's assistance with:

The map size is always 64.
The index that we start from is always near the map size (60,61 etc)
The item we want is in the map. It seems always 2 away from the index we start at:

for example, index is 61
the value we want (for example 8726618367696014013) is at bucket 63.

get_probe_length(map, elem_hash, index, mask) returns

[2017-04-28 02:17] SeanTAllen commented on #1872
A couple updates. The map size has always been 64 for I see this.

The item is always in the hash but its just after an element that should be higher than it based on probe_length. ie

the item is at index 63

but there;s an item at 62

where when you run the probe length, our item when checked at 62 has a higher probe length than the item at 62.

[2017-04-28 03:58] SeanTAllen commented on #1872
@dipinhora thinks its a memory clobbering issue as we can't as yet reproduce with 1 thread and if you get rid of the actor that does the printing, the problem also goes away. its odd because the object map that hits the error looks fine except for being out of order.

very odd.

[2017-04-28 15:54] Praetonus commented on #1869
This occurs when the subtype in an `iftype` condition is an unconstrained type parameter. The problem is that the reification check in `type/reify.c` lines 23 to 32 doesn't account for that case.

[2017-04-28 18:15] agarman commented on #1483
#1872

[2017-04-28 23:14] Praetonus commented on #1592
@kulibali I believe that the LLVM internals can automatically update metadatas in the old TBAA format to the new one. Of course, it doesn't magically add the more precise information that the new format supports, but at least it shouldn't be required to update that part to get Pony running on LLVM 4. I think it would be better as a separate change later.

Have you made any progress on the Windows

[2017-04-28 23:38] kulibali commented on #1592
The JIT tests are failing because they validate the LLVM code, which fails because the TBAA format is old.

[2017-04-28 23:39] kulibali commented on #1592
I have been working very slowly on the TBAA changes -- you can see in my branch https://github.com/kulibali/ponyc/tree/llvm400

[2017-04-28 23:49] Praetonus commented on #1592
Yep, I've seen that just now when testing @rurban's branch. The commit message from the LLVM patch you've linked is a bit misleading.

I wonder why the LLVM folks didn't deprecate the old functionalities in a previous release before removing support, and instead chose to break everything immediately while not mentioning it in their changelog. I hope it doesn't become a trend.

Anyway, if you need

[2017-04-29 04:49] jemc commented on #1809
Fixed by #1870.

Thanks, @plietar!

[2017-04-29 04:49] #1809 closed

[2017-04-29 05:07] jemc commented on #1868
I don't think we can easily allow this.

For symbol status analysis (define/consume tracking) we are not currently taking into account _which_ operations within a `try` block could fail, and we're also not tracking whether a consumed value was actually _used_ (specifically, whether it was sent to another actor). We'd need to be taking both of these into account in order to allow this.

I don't thi

[2017-04-29 05:10] #1869 closed

[2017-04-29 08:24] rurban commented on #1592
Rant: Oh they are constantly doing this, esp. with their various JITs. With a shared llvm lib setup and a jit you have to support now 3 completely different jits, and none of them works right, in llvm-c mode. C++ is a constantly moving target, esp. since the boss went away. If it least one would work properly I could ship a 25MB executable linked statically in other projects of mine. Their shared

[2017-04-29 10:50] SeanTAllen opened #1874 "Release 0.13.2"
high priority #1809 was merged. using that as a release trigger.

[2017-04-29 10:51] SeanTAllen commented on #1874
Travis and Appveyor are green. Proceeding and blessing 05038061bbf488c3f43735f41f9c6ef1764111f2

[2017-04-29 11:15] SeanTAllen commented on #1874
release is underway.

[2017-04-29 11:35] SeanTAllen commented on #1872
I picked this up this morning while talking to sylvan. Same binaries as the other night and can't get a consistent crash anymore.

[2017-04-29 11:41] Theodus commented on #1868
@jemc I understand, that makes sense

[2017-04-29 11:41] #1868 closed

[2017-04-29 11:54] SeanTAllen commented on #1872
AND i just determined that if zoom isnt running, it happens

[2017-04-29 12:01] SeanTAllen commented on #1874
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/13026

[2017-04-29 12:01] SeanTAllen commented on #1874
@stefantalpalaru release underway

[2017-04-29 12:01] SeanTAllen commented on #1874
@kamilchm release underway

[2017-04-29 12:02] SeanTAllen commented on #1874
Debian, RPM, Windows packages are in bintray.

[2017-04-29 12:16] SeanTAllen commented on #1874
release notes are up on the website.

i'm going to hold off announcing til homebrew is ready.

[2017-04-29 12:52] stefantalpalaru commented on #1874
Gentoo ebuild updated.

[2017-04-29 15:15] SeanTAllen commented on #1874
thanks @stefantalpalaru

[2017-04-29 17:02] SeanTAllen commented on #1872
With some teamwork amongst @sylvanc, @dipinhora and myself, we appear to have found the source of the problem. Working on a fix.

[2017-04-29 17:19] mpevnev opened #1875 "Type error in parametrized interface."
The following setup:
[code]
doesn't typecheck. The compiler complains that

Aliasing O to some other name or replacing it with any of the other types in the bind definition makes it compile.

I'm running ponyc v0.13.1 on Arch Linux.

[2017-04-29 17:20] SeanTAllen commented on #1875
@ponylang/committer see: https://pony.groups.io/g/user/message/1077

[2017-04-29 17:36] plietar commented on #1875
I had a look into this, with a slightly reduced test case :
[code]
The unconstrained type params are actually constraint by themselves, so the constraints are `X: X, Y: Y`.

[The loop in reify](https://github.com/ponylang/ponyc/blob/88808091201deb58e771a0535ee5b06c29cff870/src/libponyc/type/reify.c#L216-L221) reifies the constraint by replacing each type variable by its value, in order. It first r

[2017-04-29 20:49] SeanTAllen commented on #1874
Homebrew done. Release is live and announced.

[2017-04-29 20:49] #1874 closed

[2017-04-29 20:50] SeanTAllen commented on #1875
nice triaging @plietar

[2017-04-29 22:11] SeanTAllen commented on #937
I'm closing this because I think its fixed based on the above comments.

[2017-04-29 22:11] #937 closed

[2017-04-29 22:25] SeanTAllen commented on #1118
Just an update. @sylvanc is still working on a fix for this.

[2017-04-29 22:46] macropas commented on #1833
The same error appears in Fedora 25 for the ponyc from the bintray rpm-package

[2017-04-30 00:29] SeanTAllen commented on #1833
Would anyone be interested in taking over release packaging for your platform of choice? We are a fairly small group and building on a per distro per release basis is a level of support we aren't capable of taking on.

[2017-04-30 00:33] killerswan commented on #1833
We have been poking at these for a while though and would be eager help anyone get started with Bintray or Travis, though!!

[2017-04-30 18:42] agarman commented on #1483
Fixed by #1876

[2017-05-01 00:35] kulibali commented on #1592
Ok, I have the new TBAA format in place and validating in my branch (https://github.com/kulibali/ponyc/tree/llvm400).  There are 2 more problems I've found on Windows and will investigate further:
- There is a crash in the `MergeRealloc` custom optimization pass.
- There is an LLVM error when emitting code: `No open Win64 EH frame function!` which I assume has to do with exception handling.

[2017-05-01 03:15] SeanTAllen opened #1877 "Release 0.14.0"
When #1872 is merged, it will close at least 2 high priority issues.

[2017-05-01 12:53] SeanTAllen opened #1878 "Compiler crash referencing invalid this-dot reference in trait."
This was reported via IRC. You can see it in action at:

http://pony-playpen.lietar.net/?gist=9f9c5a11c938dd277f746f8cac4b4a4c

[code]

error as reported in playground:

[code]

[2017-05-01 23:42] funkybob commented on #1878
I'm getting the same error, with the following output:
[code]

Haven't had a chance to whittle down the code yet, but source available upon request.  Figured I'd contribute the more detailed traceback.

[2017-05-02 06:05] jemc commented on #1878
I've filed #1879 to fix this issue.

@funkybob your paste is actually not a more detailed traceback for this bug - it's a traceback for a totally different bug. Luckily I got you to paste your source code that triggers it in IRC.  I'll open a new ticket for that distinct bug.

[2017-05-02 19:24] jemc commented on #1877
Let's make sure #1879 and #1880 make it in as well.

[2017-05-02 19:26] jemc commented on #1875
Based on that triaging, I'm marking as `difficulty: hard`.

[2017-05-02 23:14] iology opened #1881 "ponyc --library failed"
[code]

[code]

[code]

[2017-05-03 00:00] SeanTAllen commented on #1881
You have a compilation error. @Foo  should be Foo

However you should also get an error message not the assertion failure.

[2017-05-03 00:11] iology commented on #1881
@SeanTAllen Hi, I was following the tutorial in this article: https://bluishcoder.co.nz/2015/12/16/c-linkable-libraries-with-pony.html

Without `@` it will give `Error: no C-API actors found in package 'foo'`

[2017-05-03 00:53] SeanTAllen commented on #1881
Note what is in the article is actor@ Foo which isn't what is in your code

[2017-05-03 01:11] iology commented on #1881
@SeanTAllen Oh, edited but that doesn't matter fow now. The result is still the same. :-P Is it only a problem on my side?

[2017-05-03 01:23] SeanTAllen commented on #1881
Home now. Just tried, I have the issue as well.

[2017-05-03 11:03] plietar opened #1882 "None is missing in library mode"
If `None` doesn't appear anywhere in the program, and `--library` mode is used, [the compiler asserts](https://github.com/ponylang/ponyc/blob/9964339617a13c160021f94318fc91a217fcc8f5/src/libponyc/codegen/gentype.c#L771-L775)
[code]

[code]

[2017-05-03 11:26] plietar opened #1883 "Method type arguments incorrectly shadow class type arguments in structural subtyping"
The following code currently fails to compile
[code]
[code]

Changing the code in  `Main` to use `Z` instead of `Y` makes it work.

What's happening here is that the `X` in the constraints gets rewritten into the "wrong" `Y`. Here's the same code annotated with indices to the type variables to make it clearer.
[code]

When reifying `A[Y0]` and `B[Y0]`, it changes (`Y1: X`, `Y2: X`) into (`Y1: Y1`,

[2017-05-03 19:31] jemc commented on #1882
Seems like we'll have to make sure `None` is properly marked as reachable.

@Praetonus is it possible to do a codegen test in library mode?

[2017-05-03 19:44] Theodus opened #1884 "RFC: more-persistent-collections"
This RFC proposes the addition of two persistent data structures to the standard library, Set and Vec.

https://github.com/ponylang/rfcs/blob/master/text/0042-more-persistent-collections.md

[2017-05-03 19:44] #1878 closed

[2017-05-03 19:59] SeanTAllen commented on #1881
Header generated before death:

[code]

[2017-05-03 20:01] SeanTAllen commented on #1807
@plietar says he has a non-flattening removing fix that can address this specifically.

[2017-05-03 20:18] SeanTAllen commented on #1756
We can't get gcc 7 on travis. At this time, we don't support gcc 7 yet.

[2017-05-03 20:24] #1390 closed

[2017-05-03 20:24] SeanTAllen commented on #1390
closed by #1853

[2017-05-03 20:24] sylvanc commented on #1719
I think PR #1885 should fix this.

[2017-05-03 21:32] luigino commented on #1719
I'm afraid it doesn't. aarch64 is still no go, although in another place, but what's worse is that the armv7l build is now broken.
[ponyc_unwind_armv7l_patched.txt](https://github.com/ponylang/ponyc/files/974745/ponyc_unwind_armv7l_patched.txt)
[ponyc_unwind_aarch64_patched.txt](https://github.com/ponylang/ponyc/files/974746/ponyc_unwind_aarch64_patched.txt)

[2017-05-04 15:43] Praetonus commented on #1882
@jemc Not currently. It shouldn't be hard to implement, I'll add that as a part of the codegen tests refactor I'm planning to do.

[2017-05-04 18:22] plietar opened #1887 "Calling box methods on an iso reference replaces this by iso"
Currently, when type checking `box` method bodies,  `this` is reified by `box`, `ref`, `val`.
However, calling such methods only require the receiver to be a subtype of `box`, and replaces `this` by the receiver type, which could be `iso` or `trn`.

This means calling a `box` method through an `iso` receiver will reify a body which wasn't typechecked. This can lead to unsoundness, as shown below.

[2017-05-04 18:26] plietar commented on #1887
This ended up much longer than I expected. Just as a note, here's how I've formalised `this` viewpoints in my model :

I make the distinction between `box` methods and `#read` methods.
 So below for example, `get1` actually always return `B box`, since `this` is always `box`.
`get2` on the other hand behaves like you would expect in normal Pony, where `this` can be any of `box`, `ref` or `val`.
[c

[2017-05-04 18:29] plietar commented on #1887
I'm still getting used to triaging, I'm not sure what the standards are for difficulty and priority.
Feel free to adjust them.

[2017-05-04 20:17] SeanTAllen commented on #1887
@plietar have you seen the triaging guide on the website?

https://www.ponylang.org/contribute/triage

Would love your feedback/PRs to improve that.

[2017-05-05 03:08] plietar opened #1889 "TYPEPARAMREF modifier in constraint isn't applied properly during subtyping"
In the following snippet, the compiler is able to prove `X^ ≤ A iso^` in the `reveal` function.
However given the constraint, `X` can only be `A tag`. It seems to me like the `!` modifer in the constraint is being ignored during subtyping, and so it thinks `X` is just an `A iso`.

This unsound and can be used to convert a `tag` back into an `iso^`.

[code]

[2017-05-05 03:13] plietar commented on #1889
Assigning this to myself, I'll look into this weekend.
My guess right now is [`typeparam_constraint`](https://github.com/ponylang/ponyc/blob/8ab293714b33db043a47c50acedc291ff76d5048/src/libponyc/type/typeparam.c#L502) is being used in places where [`constraint_cap`](https://github.com/ponylang/ponyc/blob/8ab293714b33db043a47c50acedc291ff76d5048/src/libponyc/type/typeparam.c#L480) should be used.

[2017-05-05 07:35] mfelsche commented on #1833
I would suggest explicitly depending on ``libllvm3.9`` (this currently comes with llvm 3.9.1) which can be installed from http://apt.llvm.org/ for most debian/ubuntu versions.

In the installing instructions i'd explicitly state to install llvm from http://apt.llvm.org/

On the downside, the package still contains a dependency that is unsatifsfiable on vanilla ubuntu (<=16.04) but at least it is s

[2017-05-05 10:31] SeanTAllen commented on #1833
@mfelsche please do!

[2017-05-05 15:15] Praetonus commented on #1592
@kulibali It looks like the TBAA format for stores is incorrect, which might be the reason of the crashes you're seeing. I think it's because `s_type` is always `NULL` in `assign_field` (`genoperator.c`), resulting in a scalar access tag always being used. You can run ponyc with the `--verify` flag to get the details of the problem from LLVM.

Also, I've made a few changes based on your branch in

[2017-05-05 15:18] Praetonus commented on #1881
This is my bug, we shouldn't be emitting internal methods.

[2017-05-05 15:26] #1483 closed

[2017-05-05 15:26] #1781 closed

[2017-05-05 15:26] #1872 closed

[2017-05-05 15:26] SeanTAllen commented on #1877
I'm going to release this on Saturday.

[2017-05-05 15:42] jemc commented on #1887
@plietar - Quick thought experiment - what if we auto-decayed to `trn` instead of `ref` or `val`?

I think that would "break" your `Revealer` vulnerability, and still allow more flexibility than `ref` or `val`.  But it's not immediately clear to me whether it would still enable other vulnerabilities.

Also, it's not clear to me whether type checking the body of a `fun box` with `trn` would break a

[2017-05-05 15:52] kulibali commented on #1592
Thanks @Praetonus!  I'll integrate this when I have a spare moment.

[2017-05-05 16:28] kulibali commented on #1592
It appears that I have imperfectly understood the LLVM TBAA stuff I'm getting errors like "Did not see access type in access path!"; I'll need to investigate further.

[2017-05-05 18:22] agarman commented on #539
@SeanTAllen original example now compiles. Did someone miss closing this?

[2017-05-05 19:20] #1881 closed

[2017-05-05 19:26] jemc commented on #539
Yep, can confirm that this now compiles with the latest release of ponyc.

@agarman - it must have been fixed "by accident" by another change, as I don't remember anyone trying to fix this before now.

@matixmax - did you have a similar example to share that doesn't compile? If not, we should probably close this issue ticket. We appreciate your jumping on this issue, and if you want help finding s

[2017-05-05 19:30] jemc commented on #539
Actually, I just realized that @matixmax's assignment happened several months ago. I'm going to go ahead and close this issue ticket, but we can definitely reopen it if @matixmax has an example to share that doesn't work with latest ponyc.

Thanks everyone!

[2017-05-05 19:30] #539 closed

[2017-05-05 20:14] SeanTAllen commented on #1881
@iology the fix for this will in 0.14.0 that is going to be released this weekend

[2017-05-05 21:44] iology commented on #1881
Thanks. Successfully linked to the generated object file.

[2017-05-06 00:08] jemc opened #1892 "Union of tuples / tuple of unions."
Pony currently can't recognize correct subtype relationships when one side is a union of tuples, and the other side is a tuple of unions.

For example, `((A, B) | (None, B))` should be seen as a subtype (and supertype) of `((A | None), B)`. The two are actually equivalent, but Pony doesn't recognize this.

This came up when dealing with exhaustive match, because some tuple-oriented matches are not

[2017-05-06 00:14] jemc opened #1893 "Exhaustive match does not work for case methods."
When implementing exhaustive match in #1891, I had intended to include case methods in the implementation, even though they weren't mentioned in the original RFC. However, case methods proved to add a significant additional challenge of their own on top of the original challenge, and I opted to punt and skip case methods for now.

The central issue is that exhaustive match detection happens in the

[2017-05-06 09:59] SeanTAllen commented on #1877
Blessing ddcf5161c0750310caf7bc7c9afd4434dfda9d68

[2017-05-06 10:16] SeanTAllen commented on #1877
release underway

[2017-05-06 10:16] SeanTAllen commented on #1877
Homebrew PR opened https://github.com/Homebrew/homebrew-core/pull/13309

[2017-05-06 10:36] SeanTAllen commented on #1877
@stefantalpalaru release underway

[2017-05-06 10:36] SeanTAllen commented on #1877
@kamilchm release underway

[2017-05-06 10:37] SeanTAllen commented on #1877
Windows, RPM and Deb packages are available. Waiting on Homebrew.

PR for release notes has been opened. Will merge when homebrew is through:

https://github.com/ponylang/ponylang.github.io/pull/67

[2017-05-06 11:36] stefantalpalaru commented on #1877
Gentoo ebuild updated.

[2017-05-06 11:40] SeanTAllen commented on #1877
thanks @stefantalpalaru

[2017-05-06 12:08] SeanTAllen commented on #1877
Homebrew released. Thanks for playing folks!

[2017-05-06 12:08] #1877 closed

[2017-05-06 12:26] SeanTAllen commented on #1483
Fix for this has been released as part of 0.14.0

[2017-05-06 12:26] SeanTAllen commented on #1781
Fix for this has been released as part of 0.14.0

[2017-05-06 12:26] SeanTAllen commented on #1872
Fix for this has been released as part of 0.14.0

[2017-05-06 12:26] SeanTAllen commented on #1881
Fix for this has been released as part of 0.14.0

[2017-05-06 12:51] Praetonus commented on #1592
I looked into the new TBAA format in more details and I don't think we'll be able to easily move to the new format without giving up some of the accuracy that the current format allows us to express. For example, expressing that `ref` and `trn` should alias with `box` but not with each other looks like a hard problem. I can see some possible solutions, namely by having a different struct type for

[2017-05-06 16:29] kulibali commented on #1592
Yeah, probably best.  The TBAA stuff will need more time.  I've integrated your patch, and implemented the TBAA workaround, which still leaves the crashes in the `MergeRealloc` pass and the `No open Win64 EH frame function!` error when emitting the object file.

[2017-05-08 07:32] KaroLaunonen commented on #1225
Hi, I tried building from source with tags 0.13.1 and 0.13.2 with both gcc and clang using LLVM 3.9.1 libs on Fedora 25 and they all segfault the same way described above.

[2017-05-08 18:11] Theodus commented on #1775
see #1894

[2017-05-09 16:50] Theodus opened #1895 "Failed assertion on expr_tuple"
[code]
Version:
[code]
Output:
[code]

[2017-05-09 22:18] Perelandric opened #1896 "Compiler crash in genname involving "dont care" type."
Updating some code that compiled with `0.9.0` and came across this failure.

Sorry, no code example. Tried to narrow it down but I can't spend more time at the moment. Just wanted to pass the info along in case it was useful.

Seems related to tuples I guess. The most likely tuple in question is `(Token, USize)`, where `Token` is a union of many primitives and classes.

[code]

[code]

[code]

[2017-05-09 22:59] jemc commented on #1896
@Perelandric thanks for filing this ticket.

From `lldb`, could you try navigating to `frame #6` (`genname_type`), and run `p ast_print(ast)`, and paste the output here for us? I think it will help us find a minimal repro.

[2017-05-09 23:27] Perelandric commented on #1896
@jemc Happy to. Let me know if there's anything else that'll help.

[code]

[2017-05-10 00:22] jemc commented on #1896
That explains why the `type_append` is failing, since it doesn't handle `TK_DONTCARETYPE`. However, it doesn't explain how that type got to `genname`.

Could you navigate to `frame #19` (the uppermost `gen_expr`), and do `p ast_print(ast)` again?

[2017-05-10 01:17] Perelandric commented on #1896
@jemc Yep, here you go. It's pretty long. I'll see if I can use it to narrow down to the exact case.

[code]

[2017-05-10 01:28] Perelandric commented on #1896
I narrowed it down to a line in a function.

[code]

The `_source.peek_3_cp()` returns a tuple of three  `U32`.

If I replace the `_` with `var c`, the failure disappears. Or if I remove a `while` loop that comes after that line, it disappears.

---

Here's the full function:

[code]

[2017-05-10 01:49] Perelandric commented on #1896
@jemc Here's a reduced example:

[code]
The `if` is needed to trigger it.

[2017-05-10 18:59] plietar commented on #1887
@jemc Looking at the viewpoint adaptation rules, it seems like decaying to `trn` would not cause any unsoundness. However this would be more of a coincidence than a clean solution.

Checking `fun box` methods with `trn` would break code like this
[code]
It might be interesting to implement this and see how much code breaks. I'm not sure how it is implemented in the compiler, but it probably needs

[2017-05-10 19:39] #1772 closed

[2017-05-10 19:44] Theodus commented on #1895
This only occurs when the array of the wrong type is passed to foo inside of a tuple.

[2017-05-10 19:46] SeanTAllen commented on #1893
General statement from me during sync: without this, case methods aren't particularly useful. So we should definitely solve this or remove case methods.

[2017-05-10 20:02] jemc commented on #1893
@sylvanc @Praetonus @plietar - would it be true that any case method that has no guards would be exhaustive by definition?  That is, if the param type of the wrapper method is the union of the argument types, then any case method with no guards in any of the cases will always be exhaustive, right?

That seems intuitively true to me, but if it's also formally true, we can at least have exhaustive c

[2017-05-11 05:45] cquinn opened #1898 "Compiler error with exhaustive case within a try"
With the latest ponyc on master (0.14.0-719e3870 [release]), compiling the following snippet results in a compiler assertion:
[code]
The assertion looks like:
[code]

[2017-05-11 10:47] KaroLaunonen commented on #1225
The problem only arises with optimization. If I use `--debug` with `ponyc` it works fine.

So then I saw this: http://stackoverflow.com/questions/30114849/crash-on-au-addrequiredloopinfo-in-llvm-pass

And tried this:
[code]

...and now it works!

[2017-05-11 16:42] SeanTAllen commented on #1417
@Theodus as we have replaced the http server since this was opened, can you see if this is still an issue?

[2017-05-11 18:07] Praetonus commented on #1893
@jemc Your reasoning looks correct to me.

I think we should move case methods handling to a later pass, probably between the traits and docs passes. This will also be needed in order to implement method specialisation (because specialisation must be handled before case methods, and specialisation requires type information). Doing this would solve the two problems at once.

[2017-05-11 19:44] Theodus commented on #1417
It is not, closing.

[2017-05-11 19:44] #1417 closed

[2017-05-11 20:35] SeanTAllen opened #1902 "Date class allows you to create "invalid" dates"
Chain is here from the mailing list:

https://pony.groups.io/g/user/topic/date_issues/5036554?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,5036554

The date constructor will happily create dates for which, date.time() is unable to represent.

What exactly we do to clean this up, is an open question.

[2017-05-12 01:25] plietar commented on #1887
Talked a bit about this in the sync this week with @jemc, and decaying to `ref` is probably what is the most flexible while still sound, and also breaks the least amount of code.

I have an *extremely* hacky implementation of it which only decays `iso` and `trn` when the receiver type is a simple `TK_NOMINAL` or `TK_TYPEPARAMREF`. All the test still pass and the standard library still builds. Addi

[2017-05-12 14:56] jemc commented on #1898
This will be fixed by #1903 when it is merged.

[2017-05-12 17:06] #1898 closed

[2017-05-12 18:00] LaurentTreguier commented on #1225
@KaroLaunonen this patch (with some added curly brackets) seems to fix the issue on my end 😃

[2017-05-12 18:09] SeanTAllen commented on #1225
@KaroLaunonen you up for opening a PR?

[2017-05-13 05:35] jemc commented on #1896
Alright, I got this figured out.

The solution was to not `reach` the type at all if the value of the if block is unused (it's not assigned to another variable, or returned, or passed to another function.

[2017-05-13 11:35] #1896 closed

[2017-05-13 11:36] #1895 closed

[2017-05-14 18:19] KaroLaunonen commented on #1225
@LaurentTreguier Ouch, that was embarrassing with those curly brackets. Thanks for pointing out! Pony syntax had already stuck on me. :)

[2017-05-14 19:39] jemc commented on #1225
Resolved by #1910 - thanks @KaroLaunonen!

[2017-05-14 19:39] #1225 closed

[2017-05-15 15:33] Praetonus commented on #1887
It looks like the root of the problem is in the `viewpoint_replacethis` function, with the following backtrace (irrelevant parts excluded):

1. `lookup`
2. `member_access`
3. `entity_access`
4. `expr_dot`

When looking up the function being called in order to assemble a function type, `this` viewpoint adapted types are reified immediately with the type of the receiver (`iso` here, causing the para

[2017-05-15 15:47] plietar commented on #1887
Yes, this is exactly what [my hacky fix does](https://github.com/plietar/ponyc/commit/1486d83b2bafdf2def4c5cae091cfea6333aa065). However it's not obvious to me what to do when the receiver type isn't a `TK_NOMINAL` or `TK_TYPEPARAMREF`.

[2017-05-15 16:00] Praetonus commented on #1887
The most straightforward way would be to add a function recursively walking through the type AST and building the updated type. You can see various examples in `alias.c`.

[2017-05-15 18:28] Praetonus commented on #1592
I've been able to get my hands on a windows machine to test this. I'm encountering the frame function error but not the crash in MergeRealloc. Do you have a minimal case for that one?

Also, the frame function error doesn't seem to occur when running ponyc inside of the visual studio debugger.

[2017-05-15 18:33] kulibali commented on #1592
I've only encountered the MergeRealloc crash when compiling the stdlib package tests, unfortunately :-(, and I haven't had time to investigate it yet.

I've been running in the Visual Studio Code debugger (which I assume is WinDbg), where I can reproduce the frame function error with a moderately-sized program.  It seems to happen when LLVM is generating the trace and/or serialize functions.  That

[2017-05-17 05:49] KaroLaunonen commented on #1676
@jemc Can you take a look at my fix suggestion.

Error messages for too many / not enough arguments now look like:
[code]

[2017-05-17 08:03] jemc commented on #1676
@KaroLaunonen - Thanks, looks perfect! Want to file it as a PR?

[2017-05-17 19:37] kulibali commented on #1592
@Praetonus do you want to take this over?  I have been really busy with Real Life and will be for the forseeable future.

[2017-05-17 20:01] SeanTAllen commented on #1902
Decision from sync:

Dates are hard. A comprehensive date library should come from the community.
We want to make existing date make sense.

We are going to rename to PosixDate from Date
and if passed a value less than 0, we will change it to 0.

we need to document this magic change to 0 behavior.

We decided to do the 0 change rather than switch to an U64 as the underlying system calls use a I64

[2017-05-17 20:04] SeanTAllen commented on #1719
Does anyone have a 64 bit arm who is willing to work on getting the codebase to support it?

[2017-05-17 20:20] sylvanc commented on #1893
Case methods don't do what I'd like them to do, at the moment. They are not very strictly typed. For example:

[code]

That program type checks, when clearly the last two calls to `foo` should not type check. As a result, the return type of the aggregate `foo` is currently `(String | None)`.

[2017-05-17 20:25] plietar commented on #1902
As a data point, rust has 3 (!) APIs to manipulate time and dates.

- [The standard library](https://doc.rust-lang.org/std/time/) offers an extremely minimal API, and is mostly just used for timeouts in other parts of std.
- [The now-deprecated-but-previously-official `time` library](https://doc.rust-lang.org/time/time/index.html) exposes an interface which is very close to POSIX semantics. I'm no

[2017-05-17 20:36] plietar commented on #1893
Another way in which case methods can be weird :
[code]

[2017-05-17 22:01] jemc commented on #1893
I agree that @sylvanc's example is rather undesirable behaviour. @plietar's example seems downright buggy, though I understand why it works that way, based on how it's currently implemented.

I think we need to collaborate to come up with a general idea for what we want case methods to actually be, then someone can write up an RFC with the details of the necessary changes.

[2017-05-17 22:59] Praetonus commented on #1592
@kulibali Sure, thank you for the time you've invested in this.

[2017-05-18 00:23] jemc commented on #1902
I'm in agreement with @plietar's thoughts about the best way forward.

[2017-05-18 01:20] plietar commented on #1893
I'm not sure what the implications of such a change are, but as they are currently implemented, case methods have the advantage that they are simply syntax sugar. This means a bug in their implementation would be caught by the type checking pass, rather than cause unsoundness.
While bugs in a compiler pass are never desirable, not being able to cause unsoundness is always a good thing. For instanc

[2017-05-18 02:44] Praetonus commented on #1893
@plietar That's a very legitimate concern, and it is part of the reason why I suggested to move case method handling to that specific place.

There are two main "events" in the compiler passes regarding types.

- After the traits pass, the relations between types are fully known. In other words, `is_subtype` will always return the correct result once this pass is done.
- After the expr pass, the t

[2017-05-18 03:35] SeanTAllen opened #1916 "Calling FFI with too many args results in a kaboom"
I had some code that declared:

[code]

and would call `@pony_asio_event_create` with 6 args.

`@pony_asio_event_create` only takes 5 args.

This will segfault in `cast_ffi_arg` when `LLVMGetTypeKind` gets passed a null pointer for the last argument.

I think we should be able to do something to give a meaningful error message here.

[2017-05-18 03:48] jemc commented on #1916
I think this is probably related to #1552.

[2017-05-18 03:56] jemc commented on #1893
Yeah, I think that's the core sell here - most of this is work that probably needs to be done anyway for method specialization.  I endorse it.

---

On a side note, I wonder if we should force _all_ case methods to be exhaustive?  That is, stop adding an implicit `None`-returning default case, and raise an error if the overall match is not exhaustive.  Honestly, I think the implicit `None`-returni

[2017-05-18 03:56] #1690 closed

[2017-05-18 05:15] Praetonus commented on #1893
I'd second that. I don't really see a use case for non-exhaustive case methods anyway except to save one an additional `match` at runtime but that doesn't sound like something very common.

[2017-05-18 19:19] Praetonus opened #1919 "Code generation bug related to branching, tuples and function inlining"
[code]

This code sometimes results in an infinite loop in LLVM's code for object file generation. The object file is created but the size stays at 0. Here is the deepest backtrace I've managed to get:

[code]

The bug doesn't seem to happen if either

- All the code is in `Main.create`
- The condition in `Main.kaboom` is true (i.e. when passing `B` instead of `A` as the argument)
- The value of t

[2017-05-18 19:20] Praetonus commented on #1919
This is a blocking bug for #1917.

[2017-05-18 20:47] Praetonus commented on #1919
I can reproduce outside of ponyc, this is an LLVM bug. I'll open a bug report on the LLVM tracker and keep this issue open for tracking.

[2017-05-18 21:12] Praetonus commented on #1919
Here's the [LLVM report](https://bugs.llvm.org/show_bug.cgi?id=33094).

[2017-05-19 18:01] waratuman opened #1920 "Format output incorrect for `I32.min_value()`"
The format package incorrectly outputs the value of `I32.min_value()`. The result should be `-2147483648` but instead is `-18446744071562067968`.

## Code

[code]

## Environment

Operating system: macOS Sierra 10.12.5 (16F73)

[code]

[2017-05-19 20:58] mfelsche opened #1921 "Problems with "nested" type parameters"
I am creating an instance of a type-parameterized class from a type parameterized trait.
Both type parameters are unconstrained.
I feed the class a type parameter that is also an unconstrained type parameter.
the compiler complains:
``CLASS_TYPE_PARAMETER #any is not a subtype of TRAIT_TYPE_PARAMETER #any: the subtype has no constraint``.

In my superficial understanding of the type system, it sho

[2017-05-20 09:41] sophiaIC opened #1922 "Compiler crash on "_" as argument in match case expression."
When using patterns which test for values, as described in the tutorial in https://tutorial.ponylang.org/pattern-matching/match.html, the compiler crashes.  I know how to program around this, but perhaps this section should be removed from the tutorial.

Here code:

[code]
Here the compiler output
[code]

[2017-05-20 11:57] SeanTAllen commented on #1922
Prior to commit e84506dd6a731afa56569720207008101c0746c2, this resulted in the error:

[code]

so, I think i tmakes sense to change the tutorial to a working example and also fix the regression caused by e84506dd6a731afa56569720207008101c0746c2.

/cc @jemc

[2017-05-20 13:51] jemc commented on #1922
I can fix the crash, but note that this example would never have worked in Pony - you should be getting the error @SeanTAllen showed.

The Pony tutorial examples should all still work - none of those examples try to call a constructor/method with "don't care" (`_`) as the argument.

The core reason this doesn't work, is that when you use a value for pattern matching, Pony first has to evaluate the

[2017-05-20 13:56] jemc commented on #1922
Or, in other words, when you're pattern matching on value you have to already know the (complete) value you're looking for, and the value you're looking for has to be a single value, not a set of possible values.

You may already know this, since you said "I know how to program around this", but for the benefit of anybody else that comes across this ticket, the correct approach here would be:

[co

[2017-05-20 14:30] jemc commented on #1921
Somebody can correct me if I'm wrong, but it seems like this should be allowed.

Especially because it compiles okay if the `Generator.map` method is removed, and the `MappedGenerator` is created "by hand". This suggests it has something to do with the mutually recursive relationship between `Generator` and `MappedGenerator`.

[2017-05-20 21:24] #1922 closed

[2017-05-21 14:38] plietar commented on #1921
I believe this is the same bug as #1875. It builds fine with my fix from PR #1888.

[2017-05-21 20:20] mfelsche commented on #1921
I can confirm that this particular case is fixed with #1888
Great stuff! :) can't wait for the release

[2017-05-21 21:03] plietar commented on #1921
Unfortunately this PR is blocked by another issue (#1887), and I'm a bit too busy at the moment to implement the fix required for that one. Maybe we should just merge PR #1888 with the included workaround, and revert it later.
I'll close this since it's confirmed to be the same as #1875, and mark the PR for discussion on this week's sync.

[2017-05-21 21:03] #1921 closed

[2017-05-22 08:39] jemc commented on #1887
In my opinion, we need to have a plan of action here before merging #1888.

I still think that auto-receiver recovery might be the key to pulling this off in a way that makes the maximum amount of safe code possible without extra burden on the user.

@sylvanc can you please weigh in on this ticket at some point?

[2017-05-22 09:03] malthe commented on #1837
LLD is still buggy on Mac: https://bugs.llvm.org/show_bug.cgi?id=32376

[2017-05-22 13:56] Theodus commented on #1884
PR for persistent Set: #1925

[2017-05-24 17:31] cquinn opened #1928 "Ponyc assertion on funky lambda capabilities"
Whilst randomly trying to fix capability errors in my code, I ended up with a combination that causes ponyc to assert. This is the latest master ponyc built and run on MacOS.

I've narrowed the case down to the following snippet (which most likely has errors, but shouldn't break the compiler):
[code]

[2017-05-24 17:45] SeanTAllen commented on #1928
Error is:

[code]

[2017-05-24 17:47] cquinn commented on #1928
Oops, I forgot to include the error. That's what I see too.

[2017-05-24 19:22] plietar commented on #1887
@jemc We talked about this last week on the call.
It seems like replacing `iso` and `trn` by `ref` should would. I was unsure how to handle cases where the receiver type is an arrow, but it would seem that it is possible to just replace it the right hand side of the arrow, and it would be just fine.

[2017-05-24 20:17] SeanTAllen commented on #1916
Closing as a duplicate of #1552

[2017-05-24 20:17] #1916 closed

[2017-05-30 14:45] CandleCandle opened #1929 "HTTPClient cannot perform multiple requests"
There appears no way to re-use a HTTPClient despite the documentation suggesting that one should create one HTTPClient and then re-using it.

The HandlerMaker's apply method is only called once when the HttpSession is created and then stored against the (scheme, host, port) tuple, thus when the second request is made, it uses the Handler from the first request.

https://gist.github.com/CandleCandl

[2017-05-30 15:32] sgebbie opened #1930 "Infinite loops/recursion are optimised incorrectly"
I accidentally coded a recursion which then results in a segmentation fault. The difficulty is not so much that it crashes, but that there is very little feedback as to why it crashed. In my case, since I did this completely inadvertently (some over enthusiastic copy-paste before I reworked the code), I wasn't expecting to find a recursion. Once I found it, it was obvious.

So, my question is real

[2017-05-30 16:18] plietar opened #1931 "Instantiating type variables with ephemeral types can be unsound"
[code]

When typechecking the body the `Cell`, `X` is only reified into the non-ephemeral version of these.
However, I'm able to instantiate `X` with `A iso^`. This creates a stable reference of type `A iso^`, which can be aliased multiple times into an `A iso`, which is unsound.

The obvious fix here is to make sure `#any` and `#send` do not accept `iso^` and `trn^`.

------

However there's anot

[2017-05-30 16:23] plietar opened #1932 "Accessing non-existent field in constructor causes failed assertion"
[code]
[code]

cc @jemc, this seems related to ##1715 and #1867.

[2017-05-30 22:27] Praetonus commented on #1592
I've been able to trace down and fix a crash in MergeRealloc, which is probably the one you've encountered. The details are in #1933.

I've also made some progress on identifying the EH frame error. I'm suspecting an LLVM bug but I'm not 100% sure.

[2017-05-30 22:32] kulibali commented on #1592
I also suspected an LLVM bug because it seemed to occurr in random places, but couldn't track it down.  I bow before your awesomeness!

[2017-05-31 02:32] Praetonus commented on #1930
This is a hard problem, and I don't think there is an ideal solution.

It is possible, but there is no general solution. The basic idea is to look for cycles in the program's Control Flow Graph (CFG, the compiler's view of the "atomic" blocks of code in the program, like a branch of a conditional). Trivial cases like your example can be solved with relative ease but the general case is equivalent

[2017-05-31 07:20] sgebbie commented on #1930
Right that makes sense with regard to the compile time checks causing more trouble than they might solve and therefore probably not being appropriate.

However, taking a quick look at libsigsegv, it does actually seem like a viable solution for providing better feedback - it also seems to support OSX. It looks like it would introduce essentially no extra overhead into the runtime and the binary fo

[2017-05-31 20:33] SeanTAllen commented on #1931
@plietar can you summarize the sync call talk here?

[2017-05-31 20:37] SeanTAllen commented on #1186
@Praetonus says he is going to open the LLVM bug report this week.

[2017-05-31 20:49] plietar commented on #1931
@SeanTAllen Sure, I'll write it up later today or tomorrow

@sylvanc example of this with no fields involved :
[code]

Here we end up with two `Incrementer` actors both having an `iso` reference to the same `Counter ` object, and calling `increment` concurrently.

[2017-05-31 21:07] plietar commented on #1767
This came up again in the context of #1931.

On this week's we talked about an alternative, fairly simple, solution.

We can add a special case in the type checker to make tuple subtypes of empty interfaces, such as `Any`. It doesn't matter what capability the parent interface has, since `Any` is opaque anyway. (I've realised this may not be true, since we still need capability for stuff like safe

[2017-05-31 23:18] jemc commented on #1767
I think we do still need to consider the cap of the tuple elements to determine if the tuple is a subtype of a given empty interface, due to the cap of the empty interface.

One of the reasons for that is definitely sendability, as you suggested in your parenthetical, though there may also be other reasons. For example, consider the `Promise` type in the standard library `promises` package:

[code

[2017-05-31 23:35] plietar commented on #1931
Take the first example :
[code]
1)`X.default()` has type `X ref`
2) `recover X.default() end` has type `X iso^`
3) Assigning this expression to the field requires aliasing it first, which is the type `X iso`
4) The compiler now checks whether `X iso` is a subtype of `X #any`. Because it is true for all the stable capabilities, this succeeds.

However, we are able to create a `Cell[A iso^]` and use

[2017-05-31 23:36] plietar commented on #1767
Because we never actually go through viewpoint adaptation, I think we can get away with saying `(A k1, B k2)` is a subtype of `Any k3` only if both `k1` and `k2` are subcaps of `k3`. That should be simpler.

This way `(String ref, String ref)` is not allowed by `Any #share`, but it is allowed by `Any #any`. A pair containing a `tag` would only be a subtype of `Any tag`.

This is stricter than your

[2017-05-31 23:57] plietar opened #1935 "Make ephemerality part of the capability, not the type."
Today, the type `A iso^` is represented internally by roughly `TK_NOMINAL(A, TK_ISO, TK_EPHEMERAL)`. Because the ephemerality is distinct from the capability, it is easy to overlook it, even though it can have a lot of importance. This representation also allows meaningless types such as `TK_BOX/TK_EPHEMERAL` .

What I suggest is make `A iso^` represented by `TK_NOMINAL(A, TK_ISO_EPH)`. I think th

[2017-06-01 01:52] plietar opened #1936 "failed assertion during codegen with generic Main"
[code]
[code]

[2017-06-01 02:21] SeanTAllen commented on #1936
This is fine if it's

[code]

So the `[X]` is the issue

[2017-06-01 05:12] jemc commented on #1767
I've implemented your simple rule:

But this part doesn't seem true:

`tag` is a subtype of everything, so a tuple containing only `tag` elements should be a subtype of any possible cap of `Any`.

[2017-06-01 05:44] Praetonus commented on #1936
The checks in [`verify_main_create`](https://github.com/ponylang/ponyc/blob/master/src/libponyc/verify/fun.c#L7) should be extended to make sure that `Main` isn't generic.

[2017-06-01 20:14] pdtwonotes commented on #1929
You correctly understand what it is doing.  However, it behaves that way on purpose.   The Handler is related to the connection, not to the request.  A connection can deal with multiple requests as this saves the time of tearing down and re-establishing the TCPConnection each time.  In certain cases it is even possible to pipeline requests, with some restrictions, and if the particular server choo

[2017-06-02 12:36] #1920 closed

[2017-06-02 13:51] CandleCandle commented on #1929
From a usability perspective, the signature:
[code]
implies that the handler is associated with the payload, this is misleading because the handler factory is completely ignored for subsequent requests.

In the API abstraction layer, you would need to maintain a collection of sent payloads, and have the handler call a behaviour of the abstraction layer, where you would need to match the response w

[2017-06-02 13:59] agarman commented on #1930
Support for tail-call elimination would be nice. Having `yield` or `call/cc` for coroutines is also nice. I'm not sure Pony needs either as `while`, `for` & `repeat` would be used instead of recursion and an `actor` `be` would be used whenever you need to trampoline.

[2017-06-02 15:28] andersarpi commented on #1902
Just want to pitch in that JodaTime and NodaTime are very robust and well-used date/time libraries that are designed to handle the multitude of strange issues that can arise when you use calendars, time zones, DST changes etc. While the platforms and languages (Java/.NET) differ a lot from Pony they are great references on how to handle the *human* concept of time in programming.

[2017-06-02 15:33] pdtwonotes commented on #1929
In addition to just looking at the signature of the apply method, you need to read the extensive documentation in file `http_handler.pony` that explains what the Handler is for and when it gets created.  This turns up in the auto-generated package documentation as well.

Yes, if you need to distinguish between responses, you would need a Map of pending sent Requests.  But some of the things coming

[2017-06-02 20:18] Praetonus commented on #1930
@sgebbie I do think that we'll need some compile-time stuff to solve some of the problems, particularly the `undef` stuff and the "semantics" of crashing (more on that below).

@agarman These are all very interesting subjects, but let's keep this issue on topic (the problems arising from infinite recursion). If you'd like to discuss an idea about the language, I'd suggest the development mailing l

[2017-06-03 11:08] #1932 closed

[2017-06-04 01:28] jemc commented on #1893
I've been thinking a lot about this and how the ideal handling of case methods would work, and it's basically exactly what @Praetonus described in https://github.com/ponylang/ponyc/issues/1893#issuecomment-302285393.

[2017-06-05 17:11] Theodus opened #1942 "net/Broadcast test failing on openSUSE"
The net/Broadcast consistently fails on openSUSE Tumbleweed (20170529) with the following output:
[code]

[2017-06-05 17:12] Theodus commented on #1942
This test also fails on Windows and MacOS

[2017-06-05 18:07] SeanTAllen commented on #1942
If you turn of the MacOS firewall, it will pass.

I can't comment on Windows or openSuse.

[2017-06-05 18:20] Theodus commented on #1942
It does work on openSUSE with the firewall turned off. Is this intended and/or should we have a stdlib test that requires the firewall to be turned off?

[2017-06-05 20:33] Praetonus commented on #1893
Do you want to handle it @jemc?

[2017-06-05 20:50] jemc commented on #1893
Not particularly :wink:, but if you don't have time for it, I might have to dive in - did you already make some progress on specialisation that I could start from, or has it all been conceptual work up til this point?

[2017-06-05 21:15] Praetonus commented on #1893
I do have time for it, I just thought you had some ideas on how you'd like implementation details to be since you've been thinking about the issue. In that case I'll start working on it in the coming days.

Also, assuming that the bugs raised by @sylvanc and @plietar are going to be fixed, do we still need to discuss whether we want to remove case methods altogether?

[2017-06-05 21:24] gfmio opened #1943 "Segmentation fault trying to build the builtin package on Ubuntu 16.10"
I just tried to install ponyc on a DigitalOcean server running Ubuntu 16.10 x64 for testing. I installed LLVM 3.9 and all the packages (pony version 0.14.0-3301.681301f) via apt. ponyc starts up but immediately terminates with a segfault, even when just building the HelloWorld example.

[code]

[2017-06-05 23:00] SeanTAllen commented on #1943
@gfmio can you run that under lldb/gdb and provide a backtrace?

ideally build ponyc using "make install config=debug"

then run ponyc under either lldb or gdb so you can get a complete backtrace. that would help quite a bit. if you are unsure how to get a backtrace, see:

https://www.ponylang.org/reference/pony-lldb-cheatsheet/

[2017-06-05 23:02] SeanTAllen commented on #1942
i think the question would be, why does the firewall block it.

[2017-06-05 23:40] Praetonus commented on #1942
Some firewalls block all broadcast traffic by default.

[2017-06-06 01:49] jemc commented on #1893
I don't think we need to remove them if we fix the issues and make them make sense, as you ironed above.

[2017-06-06 04:02] jemc commented on #1942
I used to deal with this problem all the time on Fedora Linux, with Pony, and with various ZeroMQ related projects. There's no way for us to test broadcast on these platforms without disabling ( at least that rule of) the firewall.  Perhaps the best we can do is add some output for the failed test that suggests checking the firewall settings.

I think there may be an old issue ticket about this, b

[2017-06-06 07:34] mfelsche commented on #1943
this seems to be the same error, i experienced in #1939 : https://gist.github.com/mfelsche/1e7cc1974054843295675f912b6d5591

[2017-06-06 08:38] gfmio commented on #1943
Yup, I basically installed the same packages as @mfelsche did. Running lldb gives me:

[code]

I'll uninstall pony and build it from source now.

[2017-06-06 12:59] SeanTAllen commented on #1943
Yes when building from source, you need to compile with --pic

[code]

can you build that and see what you get in a backtrace?

[2017-06-06 19:22] gfmio commented on #1943
Ah, sorry. It doesn't crash anymore now. So probably the issue just seems to be with the pony package in apt?

[2017-06-06 19:25] Praetonus commented on #1893
I started working on the implementation and there are several properties of case methods that seem rather strange to me. Here are the changes I'm proposing:

- Type parameter constraints: currently, the constraints from every instance of a case method are intersected to create the constraint of the match method. This doesn't really have any use case since this constraint will be the most common ty

[2017-06-06 20:46] SeanTAllen commented on #1943
@gfmio that's interesting and good to know. can you run the version from the pony package in apt under the debugger and send a backtrace?

Thanks for your help and sorry you are experiencing problems.

[2017-06-06 20:48] plietar opened #1950 "Comparison of boxed tuples returns false if type identifiers are different."
[code]

Here `x` has a runtime type id `(Any, U8)`, whereas `y` has runtime type `(U8, U8)`.
However, identity comparison of boxed types [requires the type identifiers to be identical](https://github.com/ponylang/ponyc/blob/4638e7a33ffda1bf6789c9a2ca545b21a10abe9a/src/libponyc/codegen/genident.c#L124-L128)

Comparing the tuples unboxed returns true, since they don't have any runtime type.
[code]

[2017-06-06 21:04] Praetonus commented on #1950
I have a few ideas on how to fix this.

[2017-06-07 13:17] jemc commented on #1893
Sounds right to me. The only change to those rules I think we should consider is:

Instead of disallowing case method cases from using different type parameter constraints, we could think of it as a different way to implement #1410. That is, we could allow them to be different, and use that as a way to refine the selection of possible candidates from the `TK_FUNSET`.

So instead of this:

[code]

[2017-06-07 13:28] #1884 closed

[2017-06-07 15:39] plietar opened #1952 "Unaliasing of arrow types can be unsound"
Currently, unaliasing of arrow types is done by [unaliasing the right hand side, and leaving the left untouched.](https://github.com/ponylang/ponyc/blob/9533512dcffef995cbcbf1e45ae7597f2af4ce61/src/libponyc/type/alias.c#L271-L283)

This makes the following code build fine :
[code]
Here `consume x` unaliases `val->(X!)`, which becomes `val->X`

However this is not always the correct thing to, and c

[2017-06-07 19:33] SeanTAllen commented on #1691
@Theodus once the currently ongoing tuple work gets merged, will this be unblocked?

[2017-06-07 19:40] Theodus commented on #1691
@SeanTAllen It should be.

[2017-06-07 19:50] #1833 closed

[2017-06-07 19:59] jemc commented on #1887
As discussed on today's sync call, we need to implement this fix before merging #1888, then remove the workaround for this from #1888.

[2017-06-07 20:08] SeanTAllen commented on #1513
I think this should be fixed with the coming tuple changes.

[2017-06-07 20:17] SeanTAllen commented on #1576
@Praetonus agrees that this looks like #1186.

[2017-06-07 20:28] SeanTAllen commented on #1935
@plietar this was discussed at the end of the sync. i think it would be good if you had a listen. i'll drop the link in here later when i upload it. i'm leaving this marked as "needs discussion during sync" for discussion on the next time you are on the call.

[2017-06-08 00:57] Theodus commented on #1775
closed via #1894

[2017-06-08 00:57] #1775 closed

[2017-06-08 05:17] jemc opened #1954 "Errors are not detected in iftype branches."
I've found that errors are not being properly detected for `iftype` branches (or their `else` branches). Take the following example:

[code]

This is obviously unsound.

[2017-06-08 05:19] jemc commented on #1954
Marking this as priority: low only because this is not an officially released feature yet.

[2017-06-08 09:14] gfmio commented on #1943
Weird, somehow the reply I posted yesterday didn't actually get posted. No worries, I really like Pony, so I'm happy to help (in whatever limited capacity).

Sure, no worries. I really like Pony, so I'm happy to help (and I want to work for my own purposes anyway).

On both Ubuntu 16.10 and Ubuntu 17.04, the package in apt is `ponyc (0.14.0-3301.681301f)` and on both systems I get the following ou

[2017-06-08 11:41] plietar commented on #1935
Thanks for bringing that up on the sync. I see I wasn't really clear on the motivations for this change, so I'll try and explain in more detail.

---

Before getting into the details, I want to point to [George's thesis from last year](http://www.imperial.ac.uk/media/imperial-college/faculty-of-engineering/computing/public/GeorgeSteed.pdf).
That's 144 pages of context, so I obviously wouldn't assu

[2017-06-08 16:46] #1954 closed

[2017-06-10 15:34] QuantumSoul commented on #1838
Yop I have exactly the same problem on Arch too. Since I'm only a beginner in Pony I don't need all that net stuff so I just removed it from the stdlib by commenting lines here and there, and It's working fine now. My /usr/lib/pony/0.13.1/packages/stdlib/_test.pony file looks like this currently :
`
"""
# Pony Standard Library

This package represents the test suite for the Pony standard library.

[2017-06-10 16:35] SeanTAllen commented on #1838
OpenSSL 1.1.0 is currently unsupported. You'd need an older, supported version.

[2017-06-11 14:19] Praetonus commented on #1893
That makes sense @jemc.

However, since the implementation would be roughly similar to #1410, I'm going to hold off on implementing that rule for now, and implement it at the same time as part of #1410. In the meantime, I'll use the rule disallowing differring constraints.

[2017-06-11 19:03] Praetonus commented on #1893
I think we also need to discuss how we want case methods (and method specialisation) to work with method default implementation from traits. For example

[code]

Here, should we add the version of `foo` from `T` to `C`, resulting in `C.foo` being a case method, or should we say that `C` doesn't provide `T`?

Some more complicated cases also raise different issues, like this one

[code]

Here, to w

[2017-06-11 21:05] jemc opened #1960 "Cannot assign to iftype-narrowed trait reference."
I ran into this odd error with `iftype`, where it is disallowing an assignment to an iftype-narrowed reference ~~~that should be allowed~~~.

EDIT: @plietar demonstrated why this *shouldn't* be allowed, but also found some other related issues, so this ticket remains open.

[code]
[code]

Note that this works fine if I remove the intermediate `Method` trait, and use one of the specific classes dir

[2017-06-12 00:50] plietar commented on #1960
That seems like the right behaviour to be. Say you have the `MethodOther` class, whose `with_changes()` returns a different type.

[code]

If this did build, `ast = ast.with_changes()` would assign a `MethodNew` to a variable of type `A` aka `MethodOther`

------

What you want here is a `Self` type in return position of `Method`'s `with_changes`.

[code]

This is still not working, but I'm not su

[2017-06-12 01:05] plietar commented on #1960
This is interesting.
[code]
[code]

`no element of (AST val & Method[A val] val) is a subtype of Method[A val] val`.
From what I understand of the implementation of iftype, it introduces a new type variable in scope
with the same name but different bounds. It seems to me like the right hand side of the iftype is being resolved in the global scope.

Which results in this sort of "desugaring"
[code]

[2017-06-13 16:13] plietar opened #1964 "iso being a subtype of trn is unsound with covariant methods"
[code]

Here the `B` class is correct because the return type `Counter iso` is a subtype of  the return type in `A`, `Counter trn`.

However, in `Main`, the result of `a.get()` is aliased into a `Counter box`. There are now two stable paths to the same object, `counter` with type `Counter box`, and `counter'` with type `Counter iso`. This is a violation of the deny properties of `iso`.

This can b

[2017-06-13 16:17] plietar commented on #1964
This is another instance of where ephemeral caps should be treated differently from stable ones (see #1935). We shouldn't have `iso < trn`, but `iso^ < trn` is fine.

[2017-06-13 16:17] sylvanc commented on #1964
Nice catch! I suspect result type subtyping should require `A <: B /\ A! <: B!`.

[2017-06-13 16:19] sylvanc commented on #1964
That would account for `iso^ <: trn`, as `iso^ <: trn /\ iso <: box`.

Effectively, what is disallowed is `iso <: {trn, ref, val, box}` and `trn <: {ref, val}`.

[2017-06-13 16:25] jemc commented on #1964
Based on @sylvanc's suggestion, I've marked this as ready for work, and "easy", since it just means adding an extra `is_subtype` condition for the covariance check.

[2017-06-13 17:12] plietar commented on #1964
I'm not sure whether we should simply change the covariance check, or should we change the definition of subtyping of capabilities itself.

[George's model](http://www.imperial.ac.uk/media/imperial-college/faculty-of-engineering/computing/public/GeorgeSteed.pdf) of subtyping is very similar to this (Section 3.10, Figure 20)
![subcap](https://user-images.githubusercontent.com/1489775/27093470-b7325

[2017-06-13 17:23] plietar commented on #1964
So I just found that the compiler does what @sylvanc suggested when it comes to the return value: https://github.com/ponylang/ponyc/blob/a093b6084c1f3ba701dba2961819b6574b0e9d14/src/libponyc/expr/reference.c#L888-L896

It prevents this sort of thing :
[code]
[code]

[2017-06-13 22:46] jemc commented on #1964
Backtracking a bit, is there a reason why George's model has not been incorporated into ponyc yet? Is it just that nobody has picked up that work, or are there incompatibilities or breaking changes that would need to be dealt with?

[2017-06-14 11:40] stefanobaghino commented on #1833
I'm currently facing this same issue on Ubuntu 17.04.

I'm following the tutorial and trying to compile the `hello, world` example.

I tried installing manually `libLLVM` (`sudo apt install libllvm3.9`) but when compiling I get a segmentation fault.

You can take a look at the core dump here.

[2017-06-14 18:22] plietar commented on #1952
Talked about this with @sylvanc today.

What we probably want to do is have new nodes, `TK_ALIAS` and `TK_UNALIAS` such that the compiler can eg make the difference between `val->(X^)` and `(val->X)^`

This is quite an intrusive change, since it affects quite a lot of pieces of the compiler, but in the long run we think it should make the implementation simpler /  type system a little easier to un

[2017-06-15 23:35] SeanTAllen commented on #1388
All work for this has been merged. Thanks @aturley.

[2017-06-15 23:35] #1388 closed

[2017-06-16 08:04] mfelsche commented on #1833
Afaik, a new apt/rpm package will only be created for a new release of ponyc.

[2017-06-17 16:22] jemc opened #1968 "LLVM assertion failure - invoking a function with a bad signature"
I ran into this while working on the pony compiler in pony.

I'm still working on figuring out what's going on, but I'll post what I have so far to this issue ticket, and others can feel free to jump in with ideas as I go.

The snippet in question looks like this:

EDIT: Updated by changing the code snippet to yield a smaller, more manageable AST.

[code]

The assert failure looks like this:
[code

[2017-06-17 16:24] jemc commented on #1968
It looks like maybe the first arg is missing a `bitcast` from `%ast_MethodBe*` to `%__object*`?

[2017-06-17 16:26] jemc commented on #1968
The AST in question:
[code]

[2017-06-19 13:25] ilovezfs commented on #1592
Any news here?

[2017-06-19 15:16] kulibali commented on #1592
I have not had any time lately to continue investigating.  I did try compiling against 4.0.1 RC3 and the EH frame error is still present.

[2017-06-19 17:08] jemc opened #1971 "Identity issue when neither operand type is a subtype of the other."
I've found that latest pony master can fail to find equivalent identity based on the type of the operands. The example I found demonstrates the issue when one operand is a trait, the other is a union, and neither type is a subtype of the other.

The following program should print `true` six times, but instead prints `false` the third and sixth time:

[code]
[code]

[2017-06-19 17:09] jemc commented on #1971
Pinging @Praetonus on this one to see if this is already a known issue. I didn't find a ticket that matched this exact issue with identity comparison, but if it is a duplicate, it can be closed.

[2017-06-19 21:18] #1936 closed

[2017-06-20 00:20] cquinn commented on #1737
PR is https://github.com/ponylang/ponyc/pull/1897

[2017-06-20 00:43] jemc commented on #1971
This seems to be the result of [a faulty optimization assumption that the two operands cannot have the same identity unless one operand type is a subtype of the other](https://github.com/ponylang/ponyc/blob/a5ed8aa04ea8d01a6f0be3c0935d7076d8ea3b5b/src/libponyc/codegen/genident.c#L299-L305). As my example shows, this isn't true - it is possible when you have two overlapping operand types with neith

[2017-06-20 01:42] Praetonus commented on #1971
@jemc I think this is the bug that #1951 is intended to fix.

Your point on throwing a compiler error is interesting. However, the fact that the error would depend on the global context of the program could be confusing (e.g. if refactoring the types in the program causes the operands of a seemingly unrelated `is` comparison to no longer overlap).

[2017-06-20 13:33] jemc commented on #1971
Okay, I'll unassign myself from this one, and I won't push the simple fix I did where I just removed the optimization.  I didn't realize we already had implemented the `subtype_kind_overlap` function.

Yes, we probably shouldn't error for cases where a new type could be added to the program that makes the two operand types overlap, where they didn't before.  In practice I think that probably means

[2017-06-20 18:07] dipinhora opened #1972 "Unexpected tuple recovery errors"
In the following example (http://pony-playpen.lietar.net/?gist=c743e444341e9e721aa94a7e732efc5f):

[code]

the second `recover` causes the following error:

[code]

Changing the `(a, let b)` to `(let c, let b)` allows it to compile successfully but changing to: `(let c: String iso, let b)` causes the same error again.

Another related example can be found at: http://pony-playpen.lietar.net/?gist=c

[2017-06-20 18:21] dipinhora opened #1973 "Operator precedence when combining unary and infix operators"
In the following code example:

[code]

The output is `2` even though the value of `b` isn't `2`. This is because the `not` operator is applied prior to the `==` operator.

Similarly, in the following code example:

[code]

The compiler produces the following error:

[code]

This is because the `not` operator is applied prior to the `is` operator.

In both of these cases, the programmer has to rem

[2017-06-20 18:33] jemc commented on #1973
This needs discussion. To me it seems fairly straightforward that unary operators bind more closely to their operand than binary operators, but I understand that not everyone will agree.

So, we need to decide if there is consensus that unary operators whose operand is a binary or unary operator should not be allowed (without parentheses). Right now I am a weak "yes" on leaving this the way it is,

[2017-06-20 18:53] SeanTAllen commented on #1973
I find the behavior that @dipinhora documented to be quite surprising. I think this is a case where subtle bugs can be introduced. I'd like to see this remedied.

[2017-06-20 20:00] dipinhora commented on #1973
@jemc The stated goal behind requiring parenthesis for infix operators (take from the tutorial; emphasis added) applies equally well for the examples I presented:

I do agree that there is likely some discussion needed about which scenarios the requirement for parenthesis should be enforced in. I also think there is a distinction between unary operators like `-` which are bound directly to an oper

[2017-06-20 20:57] jemc commented on #1973
@dipinhora - There's nothing to prevent you from having a space between the `-` and the `x`, though. What would be your desired behaviour in that case?

[2017-06-20 21:19] dipinhora commented on #1973
@jemc Hmmmm... I did not realize that having a space there was possible/allowed. I probably should have tested prior to commenting. 8*/

Regardless, to me, the addition of the space makes the intent ambiguous just like with the `not`. Was the intent of `- x + 1`, `-(x + 1)` or was it `(-x) + 1`.

As a side point, being able to have an arbitrary amount of spaces/newlines/comments between the unary

[2017-06-20 21:48] jemc commented on #1973
Note that if we did what you are asking for here with `-`, Pony would become whitespace sensitive (albeit in a very small way).

Last I knew @sylvanc was opposed to adding whitespace-sensitive rules to the grammar, so I'd be interested to hear his take on this discussion.

[2017-06-21 18:24] cquinn opened #1975 "Compiler seg faults in exhaustive match code gen"
Latest master on MacOS 10.12.5.
Ponyc 0.14.0-a5ed8aa0 [release]
compiled with: llvm 3.9.1 -- Apple LLVM version 8.1.0 (clang-802.0.42)

The code demonstrating the problem is in the cli package in PR https://github.com/ponylang/ponyc/pull/1897 , source command_spec.pony lines 158-160 and 272-274

Building either of these 3-line workaround sections removed causes a segmentation fault during the Gene

[2017-06-21 18:51] cquinn commented on #1975
Here is a smaller repro case:
[code]

[2017-06-21 19:58] SeanTAllen opened #1976 "Release 0.15.0"
We've had a recent high priority fix.

#1951.

[2017-06-21 20:09] SeanTAllen commented on #1943
In theory this should be fixed when #1976 is done

[2017-06-21 20:20] SeanTAllen commented on #1976
We should wait on #1937 going in before do this release.

[2017-06-21 20:22] jemc opened #1977 "Compiler error on identity comparison for concrete types."
As discussed in #1971, and on today's sync call, we want to issue a compiler error when identity comparison (with `is`) is done on disjoint (non-overlapping) types, since references of such types can never hold the same object.

As @Praetonus mentioned and I agreed, we probably want to avoid cases of "action at a distance", where adding or removing a seemingly unrelated type could cause this compi

[2017-06-21 20:23] jemc commented on #1971
Closing this, since the main issue this was opened for has been resolved by merging #1951.

The other conversation can be continued in the new ticket I just opened, #1977.

[2017-06-21 20:23] #1971 closed

[2017-06-21 21:39] kulibali commented on #919
This was fixed in 611b5b6fe4dbdcb02ee9992b657366cd9b70af11.

[2017-06-21 21:39] #919 closed

[2017-06-21 21:57] SeanTAllen commented on #919
sweet!

[2017-06-21 22:11] rurban commented on #1973
I'm with @jemc. The current implementation seems to be correct, even if a agree that it's unfortunate that we don't have a `!` for `not`.
The fix would be to write `if b != 2 then` or use parens, but adding a warning does more harm than good.

[2017-06-21 22:16] SeanTAllen commented on #1973
I'm not in favor of a warning. I'm in favor of an error. The same as we do with other precedence issues. I disagreee that it does more harm than good. If that was the case, then I think we should ditch the other precedence errors as well.

[2017-06-22 03:36] Praetonus commented on #1972
This error comes from the rules ironed out in #1123 to prevent unsafe recovery of tuples.

I think there are two solutions here

1. Improve the error message to better reflect the rules from #1123
2. Base tuple recovery logic on shared fields as briefly discussed in #1123. This could possibly be non-trival and/or lead to bad compilation times

We could also do both, and say which fields are shared

[2017-06-22 13:20] sylvanc commented on #1973
Pony uses a Smalltalk-like precedence order:

1. Method calls bind most tightly, whether `.` or `~` or `.>`
2. Unary operators bind immediately after method calls
3. Binary operators bind last

Smalltalk rules are slightly different:

1. Unary messages bind most tightly (but such messages come after the operand, not before)
2. Binary messages bind immediately after unary messages
3. Keyword messag

[2017-06-22 15:05] dipinhora commented on #1973
@sylvanc Thanks for the overview. It was definitely not common knowledge for me.

Re: Operator precedence, it seems to me that the current rules on when to require parenthesis are incomplete (thus allowing for the concern raised in this issue). According to the tutorial the current rules for when to require parenthesis are:

If this rule were expanded to be:

That would cause the similar parenthes

[2017-06-22 16:28] #1859 closed

[2017-06-22 16:39] rurban commented on #1973
@dipinhora There's no ambiguity. There's a simple rule for operator precedence which you have to learn. Bothering correct code with disambiguity warnings is more harmful.

In perl we solved this newbie problem with `use warnings` and `use diagnostics`, which optionally adds some parser warnings. `ponyc --verbose 1` could do that.

[2017-06-22 16:54] Theodus opened #1979 "Unsafe modification of val"
This program shows a modification to a val Array as if it was an iso reference.
[code]
Expected output:
[code]
Actual output:
[code]

http://pony-playpen.lietar.net/?gist=0f866ad477ff1e3131acc0ee72c9d637

[2017-06-22 17:02] dipinhora commented on #1973
@rurban Based on your comment that `There's no ambiguity. There's a simple rule for operator precedence which you have to learn. `, combining multiple infix operators shouldn't cause a compiler error either.

If learning/memorizing operator precedence is only a `newbie problem`, why does the Pony language design explicitly account for operator precedence ambiguity to prevent bugs related to it?

[2017-06-22 17:22] jemc commented on #1979
Matches that are based only on capability are supposed to be disallowed - for exactly this reason, you're not supposed to be able to pattern-match on a `(Foo val | Foo iso)`.

We need to find out why this safety mechanism is not kicking in - maybe it's because the example is using `as` instead of `match`, and is somehow bypassing that `match` check, or maybe the check is being bypassed for some ot

[2017-06-22 17:31] Theodus commented on #1979
The same thing happens when you replace `var data: (Array[I64] val | Array[I64] iso)` with
`var data: Array[I64] val`. Shouldn't it be possible to check if a val reference is actually iso?

[2017-06-22 17:34] Praetonus commented on #1979
This is coming from the `as` sugar.

[code]

The above expression is sugared to

[code]

The `consume !` is a special construct allowed only in compiler sugar. It means that the operand unaliasing is "raw", e.g. `iso!` (`tag`) becomes `iso`, which is forbidden in a normal consume because `tag -> iso` is unsafe. The result type of the `match` is then `C iso` instead of `C iso^` in a classic `match`

[2017-06-22 18:16] dipinhora commented on #1972
@Praetonus I don't understand how the example is an unsafe recovery of the tuple since both elements seem safe.

If it's not too much trouble, could you explain why the example is unsafe?

[2017-06-22 18:19] jemc commented on #1979
Not at runtime. Capabilities don't exist at runtime (zero-cost abstraction), so you can't match on them. In this case we need a compile time error stopping you from doing any such matching at all, since matching is done at runtime.

[2017-06-22 18:20] Theodus commented on #1979
I see

[2017-06-22 18:29] SeanTAllen commented on #1973
@rurban I'm a cre team member. I write Pony every day. More than most people have. I found this surprising. "Newbie problem" is a term I would like to see banished. Please try to use something less condescending.

[2017-06-22 18:34] SeanTAllen commented on #1973
Banished isn't the right word but I'm sending this from an emergency room so, sorry. I do think newbie problem is condescending.

[2017-06-22 18:56] jemc commented on #1973
@dipinhora - your point about consistency is compelling, but I think it's not quite appropriate to say "we need to treat unary operators exactly the same as binary operators", because I think it glosses over some important differences between binary and unary operators that help to explain why the current system was chosen.

For unary operators, relying on the "simple rule for operator precedence"

[2017-06-22 19:01] jemc commented on #1979
@Theodus If you need to do something like this (support `(Foo iso | Foo val)` in your code), you should probably be using type parameters instead, so you can distinguish the two at compile time, using `iftype`.

[2017-06-22 19:05] jemc commented on #1972
@Praetonus in this week's call, I thought you mentioned another possible solution - expanding the rules to allow examples like this (recovering `(ref, val)` to `(iso, val)`, while still disallowing recovery of tuples where more than one element is `ref` or `box` in the pre-recovered tuple.

[2017-06-22 19:07] Theodus commented on #1979
Yeah, I may end up needing to do that. Thanks!

[2017-06-22 19:26] Praetonus commented on #1972
@dipinhora This particular example is safe, but the compiler currently doesn't try to determine that and simply doesn't recover tuples with mutable elements, which prevents some safe cases from working.

@jemc Yeah this could work too. I think we can recover tuples when all elements but one are sendable (or `trn` when recovering to `trn`).

[2017-06-22 19:39] jemc commented on #1972
Yeah, that sounds right to me. That should cover anything that is possible to do by setting up a `var` outside the `recover` block, and assigning to it on the inside, which is obviously safe iff the cap for that `var` is sendable.

[2017-06-22 20:14] dipinhora commented on #1973
@jemc I don't believe I indicated that `we need to treat unary operators exactly the same as binary operators`. I presented a couple of options for alternative rules (one of which treats them both the same and the other which doesn't) for where parenthesis might be required by the compiler to remove ambiguity for consideration. Also, I think that the history of why the system exists as it does, wh

[2017-06-22 20:57] jemc commented on #1973
@dipinhora To be clear, I'm not saying there's no problem here, or that the current situation is ideal - just that it makes sense in the context of how the decision was made (context which is part of the history, but which definitely carries over into the present as well).

Well, to be clear, I'm not one of the founders, and we don't have detailed documentation of how/when this decision was made,

[2017-06-23 00:12] dipinhora commented on #1973
@jemc Thanks for taking the time for the detailed responses. I agree with most everything you've stated.

It seems I misunderstood (or read too much into) the goals of `removing ambiguity` as stated in the tutorial in reference to operator precedence. That combined with my general dislike of inconsistency in UIs (and ambiguity in code resulting in bugs due to my idiocy) brought about this ticket a

[2017-06-23 00:18] jemc commented on #1973
@dipinhora Definitely hasn't been too much of a distraction - I think it's an important conversation to have. I appreciate you bringing this up, and I also appreciate everything else you've contributed to this community.

[2017-06-23 00:53] dipinhora commented on #1973
@jemc Thanks for the kind words. I appreciate your patience with me in both this and other issues/PRs where I've droned on and on about things I know almost nothing about. 8*)

[2017-06-23 01:00] dipinhora commented on #1972
@Praetonus I don't know if it's possible or not, but having an error message that indicates the this is a current compiler limitation would be much better in my opinion. I spent a considerable amount of time trying to figure out what I was doing wrong in my more complex code before boiling it down to the example above.

If the compiler error indicated that this is a current limitation of tuple rec

[2017-06-23 02:09] Theodus opened #1980 "Strange iftype error and crash"
The following code produces a strange compile error:
[code]
Output:
[code]
And when the signature of push is changed to `fun ref push(v: A->I64) =>` the compiler crashes:
[code]

[2017-06-23 16:41] Theodus commented on #1976
Also waiting on high priority fix #1981

[2017-06-23 17:31] #1767 closed

[2017-06-23 21:38] lisael commented on #1756
I finally got this working on Archlinux with GCC 7.1.1
[code]
[code]

I could install both gcc6 an gcc7 on a debian sid docker container and got the same error with `CC=gcc-7`. Given that travis [allows the use of containers](https://docs.travis-ci.com/user/docker/), it worth it building such a docker to test gcc-7 – and even most of major linux distro incoming releases (at least once in a while)–

[2017-06-23 22:03] Theodus opened #1982 "Valid capture violates capabilities"
This program should be valid, but results in a compile error:
[code]
output:
[code]

[2017-06-23 22:09] Theodus commented on #1982
This is not a result of recent changes, it even occurs with the 0.11.1 version of the compiler.

[2017-06-23 22:12] jemc commented on #1982
@Theodus - I'm not 100% sure it's a bug.

`stuff[None tag]` would be an allowed invocation of `fun stuff[B: Any #share]`, and this would reify as `(B | None)` as `(None tag | None val)`, which you can't dissect with pattern matching because you can't pattern match on capability alone.

[2017-06-23 22:21] Theodus commented on #1982
You're right, I don't know why I keep trying to pattern match on capabilities :).

[2017-06-23 22:21] #1982 closed

[2017-06-23 23:05] Theodus commented on #1691
This has been unblocked by #1937

[2017-06-23 23:40] Theodus commented on #1982
@jemc I think I was too quick to diagnose the problem that I was actually having. Here is a better example:
[code]
output:
[code]
If I make it so that bar requires no argument f, then the error goes away even though it was complaining about the type parameter.

[2017-06-24 02:49] lisael opened #1983 "Segfault when using a recoverd trn Array"
this code segfaults in Bar.result

[code]

Notes, so far:

- this was gutted out from a much larger codebase, I couldn't find as smaller example
- It doesn't segfault when:
  - `actor Caller` is removed and its apply and stop behaviours are implemented in `Main`
  - `foos` is an `(Array[I32] trn | Array[I32] val)` instead of (Array[Foo val] trn | Array[Foo val] val)
  - the Range in `Main.create()

[2017-06-24 14:36] lisael commented on #1983
In my larger code, it sometimes doesn't segfault but in that case the objects in the Array hava inconsistent field values (a random number instead of the expected value). It looks like a bad pointer or use-after-free error.

[2017-06-24 14:42] jemc commented on #1982
@Theodus I think that example's problem is related to #1697.

[2017-06-24 15:29] plietar commented on #1983
This is similar to #1979. `(foos as Array[Foo val] trn)` should not be allowed, since we can't determine the capability at runtime.

I'm not sure what could be causing the segfault though.

[2017-06-24 18:01] lisael commented on #1983
I think the error is here:
[code]
foos as  is possibly not sendable (trn). `recover` should complain about that but is somewhat confused by the composite type.

[2017-06-25 23:32] Theodus opened #1987 "Unable to modify type union field through ref function"
The following code fails to compile even though modification of a trn field through a ref function is allowed when its type is not a union:
[code]
Output:
[code]

[2017-06-26 14:08] 0joshuaolson1 opened #1988 "Improve http server throughput"
https://pony.groups.io/g/user/topic/pony_did_poorly_in_a_recent/5411536

Pony was [recently added](https://github.com/costajob/app-servers/issues/19#issuecomment-310996782) to an [http server benchmark](https://github.com/costajob/app-servers#results), and it performed [especially badly](https://github.com/costajob/app-servers#pony-http-server) in throughput.

[2017-06-26 15:44] lisael commented on #1983
The code in the issue description shows the resulting segfault. The fact that this much shorter chunk compiles is the real issue.

[code]
This compiles as long as `let bar' = ` is commented, showing that the problem occurs when a type is a composite of two different capabilities on the same base type, just like in #1979 . This is probably a duplicate, but I can't prove it without digging the codeg

[2017-06-26 18:42] aturley commented on #1988
@0joshuaolson1 this isn't really an issue. If there are specific issues (parts of the runtime that are slow, things that could be improved in the example, etc) please feel free to open tickets on them.

In general, doing "poorly" on a benchmark is not an issue in and of itself. If we've regressed on a benchmark then that might be worth opening an issue for investigation.

[2017-06-26 18:42] #1988 closed

[2017-06-26 18:44] 0joshuaolson1 commented on #1988
Performance is one of Pony's sellin gpoints, and this issue points to the need to either profile or change the example in the docs that costajob used.

[2017-06-26 18:46] 0joshuaolson1 commented on #1988
Just because I didn't do the work of profiling for you doesn't invalidate my attempt to help a project I just lost faith in.

[2017-06-26 21:44] aturley commented on #1988
I'm sorry you feel that way, it was not my intent to invalidate what you're saying.

I see that you mentioned this benchmark on the mailing list, I hope you participate in the discussion about it there, and that if there are actionable issues there you can help us work them out.

[2017-06-26 22:03] 0joshuaolson1 commented on #1988
This is actionable, and the mailing list entry is no reason to leave this closed. Why not an umbrella issue?

[2017-06-27 16:43] adam-antonik opened #1990 "Compiler crash"
The following (malformed) input causes a crash in
0.14.0-f70dba0 [release]
compiled with: llvm 3.9.1 -- cc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

`actor Main new create(env: Env) => {(x) => true}`

Building builtin -> /usr/local/lib/pony/0.14.0-f70dba0/packages/builtin
Building . -> /home/adam/pony/test
src/libponyc/pass/scope.c:19: set_scope: Assertion `ast_id(name) == TK_ID` failed.

Ba

[2017-06-27 16:51] sebastien commented on #1811
Hi Sean, could you explain that decision? I just installed Pony on Ubuntu 16.10 and ran into the exact same problem. I'm thinking about others who like me ran into the same issue but might have just given up -- and leaving with a bad first impression of Pony (ie: it doesn't even compile "helloworld").

[2017-06-27 18:56] SeanTAllen commented on #1811
Hi @sebastien, I can.

Some Linux distros require --pic, others don't. Building with --pic everywhere would hurt performance on platforms where it isn't required. As such we decided that doing for `gcc` in general was a bad idea. There are probably better ways to address than the rather blunt instrument of turning on for gcc.

[2017-06-27 20:29] sebastien commented on #1811
OK, so what about testing for `$DISTRIB_ID="Ubuntu"` and set the `--pic` flag accordingly in the build system?

[2017-06-27 22:22] SeanTAllen commented on #1811
If that consistently works and doesn't cause issues, then yes, that seems
like a reasonable PR.

On Tue, Jun 27, 2017 at 4:29 PM, Sébastien Pierre <notifications@github.com>
wrote:

[2017-06-27 23:08] Praetonus commented on #1666
[LoadCombine will be gone in LLVM 5](https://reviews.llvm.org/rL306067).

[2017-06-27 23:15] jemc commented on #1811
@sebastien Sorry, I'm a bit lost - where does this `DISTRIB_ID` come from?

[2017-06-28 10:42] sgebbie opened #1991 "Compiler crash on match with union types"
The following code causes a compiler crash if the `/* commented */` section is left commented.

# Code snippet

[code]

# Compiler version

[code]

# Crash details

[code]

[2017-06-28 11:48] SeanTAllen commented on #1991
This seems like it is probably the same issue as

https://github.com/ponylang/ponyc/issues/1975

[2017-06-28 13:31] Praetonus commented on #1991
I'm not sure it is. This example crashes in the expr pass while the one in #1975 crashes during code generation.

[2017-06-28 13:41] sebastien commented on #1811
@jemc it is defined in `/etc/lsb_release`. I am not sure where to add the code, but if it were to be in pony's Makefile, it would look like this:

[code]

Am happy to create a pull request if you can point me to which file sets up the build environment variables for the `ponyc` command.

[2017-06-28 16:05] jemc commented on #717
@georgemarrows is currently working on this, using the JIT test framework that @Praetonus put in place.

[2017-06-28 19:58] sylvanc commented on #1987
Based on the sync discussion of changing the way `as` works, this will be possible with `as` (and it's correctly not compiling with the `match`).

[2017-06-28 19:58] #1987 closed

[2017-06-28 20:00] sylvanc commented on #1983
Thanks very much for the excellent diagnosis, @lisael. This is indeed the same as #1979. The plan is to change the way type checking for `as` works to remove the `match` sugar and remove the compiler internal `consume !` AST.

[2017-06-28 20:06] jemc commented on #1980
The compile error in this case I think is caused by the fact that the `A: Array[I64] #send` type parameter *might* be an `Array[I64] tag`.  Because `I64` is not a subtype of `tag->I64`, you get the compiler error that tells you so (in a very verbose way).

To make your example work, you'd probably want to use a union type instead of using `#send`. You could also maybe try an intersection type with

[2017-06-28 20:06] #1983 closed

[2017-06-28 20:09] jemc commented on #1980
@sylvanc says that @plietar's recent idea about dealing with "bottom types" might make sense here - `tag->X` is a bottom type - no type could fulfill that description, because a `tag` can't *view* anything.

[2017-06-28 20:14] sylvanc commented on #1973
@dipinhora I think this has been an _excellent_ discussion, even though I think we will leave unary and binary binding the way it is. The very idea of "intuitive" is of course relative, as it is _all_ learned experience!

Thanks very much for bringing it up.

@jemc pointed out on the sync call that before we close this, we should update the tutorial to make this clearer and less ambiguous.

[2017-06-28 20:47] mfelsche commented on #1864
Hi, is there any progress on this one?
I am kind of blocked by this bug.
If this is not too hard and there are already ideas on how to fix it i could also step in and try to do the dirty work.

[2017-06-28 21:03] SeanTAllen commented on #1864
@mfelsche i dont believe anyone is working on this right now. are you available next week to stop by the sync call and discuss and get someone to get you the lay of the land on this?

[2017-06-28 21:17] mfelsche commented on #1864
we can definitely try that! :)
But **big disclaimer**: i cannot guarantees by no means that either my brain or my available pony-time will allow me to make any progress here.

[2017-06-28 21:24] SeanTAllen commented on #1864
@mfelsche we are all volunteers here so, that statement applies to everyone. we welcome any contribution you can make.

[2017-06-28 21:28] adam-antonik commented on #1787
I also observe this behaviour on Ubuntu 16.04.

[2017-06-28 22:11] dipinhora commented on #1787
@adam-antonik Can you please confirm some details? It seems surprising to me that Ubuntu 16.04 has the same behavior and I'd like to investigate a bit if you're able to provide the following information:

* output of `uname -a`
* output of `ponyc --version`
* output of `time ./timer-issue` (after compiling the program, without `-d` flag, in https://github.com/ponylang/ponyc/issues/1787#issuecommen

[2017-06-28 22:19] adam-antonik commented on #1787
@dipinhora Requested details below.  Difference to your output on OS X is we don't use so much user time, but sys is still too high.

`Linux adam-750-279na 4.4.0-81-generic #104-Ubuntu SMP Wed Jun 14 08:17:06 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

`0.14.0-f70dba0 [release]
compiled with: llvm 3.9.1 -- cc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609`

`0
1
2
3
4
5
6
7
8
9

real    0m23.083s
us

[2017-06-28 22:51] dipinhora commented on #1787
@adam-antonik Thanks for the quick response. Based on my limited knowledge of linux and it's internal clocksources and timing subsystem, I don't think the behavior you're seeing is an issue with Pony itself but a side effect of how Pony relies on `rdtsc` instruction (see https://en.wikipedia.org/wiki/Time_Stamp_Counter) to read the TSC value for internal scheduler thread timing. I would be very su

[2017-06-28 23:10] Praetonus commented on #1972
We discussed this during today's sync meeting. A more detailed error is desirable and probably possible.

We need to explore how to provide "deferred error contexts". When a tuple is recovered without actually lifting the capabilities because of safety reasons, an error context explaining that should be associated with the `recover` AST (or with the tuple type, depending on which one is easier to

[2017-06-29 16:31] SeanTAllen opened #1993 "Constructors don't have docstrings in generated documentation."
Moved from https://github.com/ponylang/ponylang.github.io/issues/97

The Timers.create page
https://stdlib.ponylang.org/time-Timers/#create

Doe not include the docstring that appears in the 0.14 release

    Create a timer handler with the specified number of slop bits. No slop bits
    means trying for nanosecond resolution. 10 slop bits is approximately
    microsecond resolution, 20 slop bits

[2017-06-29 18:17] SeanTAllen commented on #1787
This is caused by work-stealing. The problem would be to make work stealing nicer in this scenario without impacting on performance during high loads. Sylvan and I are poking at it but we've poked at it before.

[2017-06-29 20:36] dipinhora commented on #1787
@SeanTAllen I believe you're referring to this issue/ticket in general (i.e. the busy waiting related to the internal scheduler thread timing for work stealing) and not specifically about the unusually high `system time` that @adam-antonik is encountering. Please correct me if I'm wrong.

I don't believe @adam-antonik's issue is related to the work stealing busy wait but something with the timing

[2017-06-29 21:01] SeanTAllen commented on #1787
I'm referring to the issue in general. There may be other factors as well.

[2017-06-30 04:06] patternspandemic opened #1994 "Actor appears to stall during GC"
For all details and code see this [Gist](https://gist.github.com/patternspandemic/b0ab0872788831aa5aa52ce071f72ca3).
Discussion on the [User](https://pony.groups.io/g/user/topic/actor_appears_to_stall_out/5357028?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,5357028) list.

- The example essentially makes 10 deferred calls to the `Worker` actor's apply behavior, 1 call every second.
- In my case

[2017-06-30 12:12] SeanTAllen commented on #1994
@patternspandemic are you able to use vtune or instruments to profile only once the stall has happened?

[2017-06-30 12:19] 17studio opened #1995 "a simple loop failed and sometimes segment fault"
- short summary of what you was trying to achieve,
  a simple code test, loop and print

- code causing the bug,
[code]

- expected result
keep loop

- actual results
second
second
or sometimes segment fault

- environment details: at least operating system and compiler version (ponyc -v).
vagrant ubuntu 14.04 x64
0.14.0-0d920b8 [release]
compiled with: llvm 3.9.1 -- clang version 3.9.1 (tags/RELE

[2017-06-30 12:51] SeanTAllen commented on #1995
I'm unable to reproduce this.

How did you install ponyc?

[2017-06-30 13:01] SeanTAllen commented on #1976
I think it is important to note in the release notes that we think this should resolve the issue people had with prebuilt packages on some versions of linux (I can't find the exact issue or PR at the moment but we should reference).

[2017-06-30 14:22] 17studio commented on #1995
I git cloned the repo and make, follow the steps of README.md on ubuntu. I do try **ponyc --debug**. If with **--debug** option, the loop will never end.

But if I use **ponyc** to compile and run the program, the results happened again.

[2017-06-30 14:39] SeanTAllen commented on #1995
what version of vagrant are you using?

[2017-06-30 14:46] 17studio commented on #1995
vagrant 1.9.1 run on virtualbox 5.1.12 r112440

[2017-06-30 14:50] SeanTAllen commented on #1995
can you create a debug version of the compiler and then run your application using `lldb` and get a backtrace when the segfault happens? that should allow us to figure out what is going on. I suspect the issue is vbox related but I have no proof of that.

[2017-06-30 16:10] 17studio commented on #1995
sorry, I met a little problem to setup lldb. I will try it again later.

I ran gdb and got some bt. I hope it will help.

[code]

[2017-06-30 16:15] SeanTAllen commented on #1995
@17studio gdb is fine. thanks.

[2017-06-30 16:17] SeanTAllen commented on #1995
@17studio does this program give you the same issue:

[code]

[2017-06-30 16:20] Praetonus commented on #1995
That backtrace is really strange. I'm suspecting some kind of memory corruption.

@17studio Could you compile the program with `ponyc -r ir --extfun` and upload the resulting `.ll` file?

[2017-06-30 16:26] SeanTAllen commented on #1995
@Praetonus i wonder if something weird is happening with the optimization. it is a very weird backtrace. the ir is an excellent idea.

[2017-06-30 16:31] patternspandemic commented on #1994
Connecting to the process after core usage reaches 100%:
[code]
Also looked to be the same results connecting to the running thread.

[2017-06-30 16:32] 17studio commented on #1995
@SeanTAllen No. I compiled the program and it runs well.

@Praetonus I generated a .ll file.  Please check it.

[actor.zip](https://github.com/ponylang/ponyc/files/1115901/actor.zip)

[2017-06-30 16:42] SeanTAllen commented on #1994
I think a breakpoint inside of  `sweep_small` that can be used to inspect what is going on once this starts happening is needed. do you feel up to that exploration @patternspandemic?

[2017-06-30 16:44] SeanTAllen commented on #1994
Also, out of curiousity, does this happen if you compile your program in debug mode `ponyc --debug`?

[2017-06-30 18:03] patternspandemic commented on #1994
The program uses `Debug` to output it's text, but same results with or without `-d`.

I was thinking the same. I have very little experience with debugging C++. I assume I'll need to compile ponyc with config=debug and compile my example with that pony -d and then run the example with lldb? I'm up for learning how.

[2017-06-30 19:06] SeanTAllen commented on #1994
@patternspandemic to really get a good sense of what is going on you want to build the runtime as debug.

build your ponyc from source using: `make install config=debug`.

then ideally, yes also use `--debug` when building your application.

there's an lldb cheatsheet that should help with lldb (and a little for gdb as well) as long as your are familiar with stepwise debugging.

give that a go and

[2017-07-01 00:34] patternspandemic commented on #1994
Alright, I've been able to walk the thread spinning in `sweep_small`, and determined a couple things:
- The hang up is actually in `final_small_freed`, which is inlined into `sweep_small`
- Stepping shows endless loop between [109](https://github.com/ponylang/ponyc/blob/b2049ac9e99e09a0d74d9dcd72e9945b6438d136/src/libponyrt/mem/heap.c#L109) and [111](https://github.com/ponylang/ponyc/blob/b2049ac9

[2017-07-01 03:14] Praetonus commented on #1995
Thanks.

It is printing `second second` instead of `first second` because of the way LLVM optimises infinite loops, associated with the way Pony messages are dispatched. See #1930 for more details on infinite loops and the ways we'd like to explore to solve the problem. However, I don't see what could cause the segmentation fault.

[2017-07-01 03:47] SeanTAllen commented on #1994
Awesome. We'll be releasing 0.15.0 soon.

Can you run with the latest source and verify the problem is fixed for you?

[2017-07-01 06:04] patternspandemic commented on #1994
Indeed a compilation of the example with master solves the issue!

[2017-07-01 11:17] #1994 closed

[2017-07-01 16:38] sebastien commented on #1988
I would second what @0joshuaolson1 said: writing web services is something that many people want to do, and Pony could be a good alternative to Go (the clear winner right now in this field). However, having not-amazing performance on HTTP sends the message of Pony not being as fast as it claims to be. Most language claim they're fast, but benchmarks are what people look for a reality check. If I w

[2017-07-01 17:09] SeanTAllen commented on #1988
@sebastien if you would like to work on making the HTTP server faster the mailing list thread has a number of items to fix. Foremost is the usage of `error` in hot paths. I'd be happy to help you get started on making the HTTP server faster.

[2017-07-01 17:18] jemc commented on #1988
I don't think anyone is saying that this issue isn't important, just that in its current form, it's not particularly actionable (concrete problem to solve, clear success condition, etc), and we don't want non-actionable issues cluttering the issue tracker. An example of a good actionable issue on this topic would be to discuss a specific issue with the runtime or the HTTP library that was observed

[2017-07-01 19:28] SeanTAllen opened #1996 "Segfault with String.trim_in_place and String.append"
See:

https://pony.groups.io/g/user/topic/segv_by_string_trim_in_place/5435457?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,5435457

[2017-07-01 19:35] SeanTAllen commented on #1976
@Theodus I'd like to get #1996 in as well.

[2017-07-01 20:56] mfelsche opened #1998 "HTTPServer: socket read errors on 'Connection: close' requests"
I wanted to reproduce the benchmark discussed on the pony user mailing list: https://pony.groups.io/g/user/topic/pony_did_poorly_in_a_recent/5411536

A just slightly modified example of the example HTTPServer is used to return only the string ``"Hello world."`` and to run with ``DiscardLog``.

A run of [wrk](https://github.com/wg/wrk/tree/91655b5520b524fc0b802ad12220c9dcd546757e) with ``Connection

[2017-07-01 20:58] #1996 closed

[2017-07-01 21:06] mfelsche commented on #1998
To make it clear, when i talk about the results that are problematic here i mean that nearly all connections (requests) have been closed with socket read errors on client side. This issue is actually not concerned about performance.

[2017-07-02 02:45] dipinhora opened #2000 "Bad error message when matching on a struct in a union"
**Use case:** I'm working with FFI calls where an argument can either be a pointer to a struct or NULL (where it will then use defaults). I set up a variable as either `(struct | None)` but I'm running into a compiler error when trying to craft the appropriate `MaybePointer` (I get a similar error when trying to cast it with an `as` also). It is quite possible that I'm going about this the wrong w

[2017-07-02 02:51] Praetonus commented on #2000
`struct`s can't be part of unions because they don't have a type descriptor. I'm not sure why the compiler isn't telling you that, though.

You want your object to be a `MaybePointer` from the beginning when working with optional `struct`s.

I'll keep the issue open for the error message.

[2017-07-02 03:16] dipinhora commented on #2000
@Praetonus Thanks for the quick response. I'll refactor my code accordingly.

[2017-07-02 13:23] sebastien opened #2001 "Compiler segfault in (A & B & C) type constraint"
Using ponyc on Ubuntu 17.04 x64

[code]

and the following source https://is.gd/aAxMJQ (from the Pony Playground), I get the following error

[code]

It also happend on the playground:

[code]

Source of `crash.pony`

[code]

[2017-07-02 14:03] SeanTAllen commented on #2001
@sebastien can you build a debug version of the compiler (and then with that your program) then run in the debugger and post a backtrace?

[2017-07-02 15:22] plietar commented on #2001
This is a duplicate of #1698

The problem comes from the recursive bound combined with an intersection :
[code]

You could use `Any #send` there, instead of `A #send`
I'm actually surprised that syntax is allowed. Type variables can't generally be suffixed with capabilities.

Note that the intersection of `#send` and `#read` is `val`, so the bound can be replaced with
[code]

https://is.gd/4zlkBP

[2017-07-02 15:22] #2001 closed

[2017-07-02 15:26] sebastien commented on #2001
Yes, this seems to be from `cap_from_constraint`, here is the backtrace from gdb with pony 2adc4e6ec9f673e8f0d5645cbdb4151eebceee49:

[code]

[2017-07-02 16:20] plietar commented on #1991
This builds fine on 0.14.0, so it's likely related to the exhaustive match stuff introduced recently.

Debug backtrace :
[code]

[2017-07-02 16:22] plietar commented on #1980
I was actually talking about a bottom type in a completely different context than `tag->`, but this makes a lot of sense. It would be really neat to have `tag->X` resolve to something.

[2017-07-02 18:05] #1960 closed

[2017-07-02 18:07] jemc commented on #1991
Assigning myself to fix this.

[2017-07-02 19:10] dipinhora opened #2003 "Error when consuming `iso` returned from a function to use as parameter for another function"
**Use case:** I have function `A` which does some work and returns an `Array[U8] iso`. I then want to take that and consume it as an argument for function `B` which is also expecting an `Array[U8] iso`. This results in a compiler error.

**Code:**

Playpen link: http://pony-playpen.lietar.net/?gist=fa2f2f5f8647cd146aa32c3605dc6ad0

[code]

**Error:**

[code]

**Additional info:**

Changing the `is

[2017-07-02 19:37] jemc commented on #2003
@dipinhora - It's not necessarily intuitive, but you need to change the signature of `f` to specify `Array[U8] iso^` - specifying `Array[U8] iso` is not enough.

[2017-07-02 19:55] dipinhora commented on #2003
Thanks for the pointer.

Is it possible to improve the error message to at least suggest that the programmer that adding the `^`?

[2017-07-02 20:39] jemc commented on #2003
Sure, should be possible. I'll give it a shot.

[2017-07-02 21:14] jemc commented on #2003
@dipinhora I've opened #2004 to improve the error message:
[code]

[2017-07-02 21:35] jemc commented on #1866
I've opened #2005 to improve this error message.

[code]

[2017-07-02 22:13] jemc opened #2006 "Iftype-narrowed constraint doesn't pass through prior types' type arguments."
This came up when working on [my CRDT package](https://github.com/jemc/pony-crdt).

If I have a type parameter that is narrowed by an iftype constraint within a block, that constraint doesn't apply to a prior instantiated reference to a type that included the narrowed type parameter as a type argument.

It's much easier to express with a simplified example:

[code]
[code]

One workaround I found i

[2017-07-02 22:14] jemc commented on #2006
I imagine this might be nontrivial to fix, but pinging @Praetonus for thoughts.

[2017-07-02 22:17] mfelsche commented on #1998
when testing with (wrk2)[https://github.com/giltene/wrk2] from another machine, the number of successful requests reported by the tool equals the number of connections configured with the ``limit`` parameter to HTTPServer. All further requests seem to run into a socket timeout.

Looking at the wireshark package capture data, i can see that:
* the FIN from the server is sent with the HTTP Response,

[2017-07-02 22:28] mfelsche commented on #1998
aaaaaaaaaand .....

it really is a wrk2 problem. Running it from https://github.com/giltene/wrk2/pull/33 fixes the memory and socket read error issue.

I actually don't know if this issue is worth keeping and safeguarding against malicious clients making the httpserver eating up memory. So i keep it open and leave the decision to you.

[2017-07-02 22:32] jemc commented on #1998
Great work with your investigation, it's much appreciated!

I'm going to change the ticket title and add a "needs discussion" tag to this to discuss whether it is an important security issue to keep open (for TCP in general, not just HTTP), and how it might be mitigated.

[2017-07-03 01:45] dipinhora commented on #2003
@jemc Thanks. Much appreciated.

[2017-07-03 06:10] plietar commented on #1950
@Praetonus have you made any progress on this ? Otherwise I'll give it a try

[2017-07-03 06:33] plietar commented on #1980
That first error definitely looks like a bug. Within the `iftype` the array is a `val`, and you should be able to write to it.

It builds fine if you make an explicit alias of `data`
[code]

[2017-07-03 13:10] #2006 closed

[2017-07-03 13:20] Praetonus commented on #1950
Yes, I have a basic implementation. I still have to test it and look for optimisation opportunities.

[2017-07-03 14:49] Theodus opened #2008 "Segfault on unsafe assignment to trn field"
When the create constructor is uncommented, this code compiles. I have some Pony code where this is causing a segfault, but I'm not sure why it is unsafe in the first place.
[code]
Output:
[code]

[2017-07-03 16:30] jemc commented on #2008
Just to be clear, you don't yet have a minimal example that reproduces the segfault?

As shown so far, your minimal example doesn't seem to be triggering/demonstrating any kind of bug as far as I can tell.

[2017-07-03 16:43] Theodus commented on #2008
@jemc The bug in this example is that the compiler says that the reassignment is unsafe only when the create constructor is commented.

[2017-07-03 16:46] SeanTAllen commented on #2008
correct me if i'm wrong but a class without a constructor defaults to `iso`, thus the lack of warning because, its an iso and therefore safe.

[2017-07-03 16:49] Theodus commented on #2008
Oh, I had no idea that iso was the default constructor cap.

[2017-07-03 16:52] Theodus commented on #2008
Never mind, the default constructor is ref, an iso constructor causes the compiler to complain as well.

[2017-07-03 16:53] Praetonus commented on #2008
As @SeanTAllen said, a type without any constructor gets a `new iso create` constructor. This means that the type of `f` in `baz` is `Foo iso`.

Then, assigning the `bar` field isn't possible because assigning a `trn` field in an `iso` object is unsafe: the new field could be referenced by a `box` reference outside of the `iso`'s isolation boundary.

[2017-07-03 17:09] Theodus commented on #2008
I'm looking for a minimal example that causes a segfault. In the meantime, here is the lldb output of my segfault in case it's helpful:
[code]

[2017-07-03 17:47] Theodus commented on #2008
Here is the output of LLVM IR varification:
[code]

[2017-07-03 17:55] Theodus commented on #2008
Unless anything can be done based on this information I'm going to close this issue and open a new one if I can get a minimal example that segfaults.

[2017-07-03 17:55] #2008 closed

[2017-07-04 10:17] SeanTAllen opened #2010 "Compiler assert failure on lambda parameter missing type."
The following is from IRC. I didn't personally create. Minimal case needs to be found.

[code]

Results in the following when compiling:

[code]

backtrace:

[code]

the line that causes this to trigger appears to be:

[code]

[2017-07-04 14:37] jemc commented on #2010
Minimal example:

[code]

Note that the param is missing its parameter type.

[2017-07-05 02:58] #2010 closed

[2017-07-05 17:05] Praetonus commented on #1990
This was fixed by #2011.

[2017-07-05 17:05] #1990 closed

[2017-07-05 20:36] #1979 closed

[2017-07-05 20:37] Praetonus commented on #1976
Every blocking issue has been resolved.

[2017-07-06 00:40] Praetonus commented on #1552
@jemc Can I take this issue from you? I'd like to experiment with libclang interoperation but fixing the issue before would be good.

[2017-07-06 01:15] jemc commented on #1552
Be my guest!  Thank you!

[2017-07-07 00:03] kulibali commented on #1592
I have discovered that the `No open Win64 EH frame function` error is caused by the `MergeFunctions` pass (commenting out `genopt.cc` line 885 gets rid of the error.

I am working on getting a minimal example.

[2017-07-07 20:04] tj800x opened #2013 "Format function SegFaulting at Runtime when negative width string is specified"
While attempting to use the Format package on a U128, I managed to create a run-time segfault, by accidentally passing in a negative width value.  I was using position-based arguments when this occurred, but it also occurs with named arguments, as shown below.

[code]

Building builtin -> /usr/local/Cellar/ponyc/0.14.0/packages/builtin
Building . -> /Users/thomasjohnson/Projects/pony/FormatStringS

[2017-07-07 20:09] tj800x commented on #2013
Possibly relevant comments from the 2017-JULY-07 IRC follow:

[15:20] <@jemc> the cause is that `USize(-1) == USize.max_value()`
[15:39] <@jemc> no worries - I was trying to think if there's something that could be done as a sanity check in `Format` against very large values of `width`, but it seems that `width` is used for padding, and I'm not sure where to draw a "sane" limit for padding a strin

[2017-07-07 23:21] tj800x commented on #2013
I've confirmed this on 0.14.0-8781b65.

$ ponyc --version
0.14.0-8781b654 [release]
compiled with: llvm 3.9.1 -- Apple LLVM version 8.1.0 (clang-802.0.42)

[2017-07-07 23:38] nisanharamati opened #2015 "Format.int[A] always formats as U64, even when A is U128 or I128"
When using `Format.int[U128]` or `Format.int[I128]`, it always ends up running the logic from `_FormatInt.u64`.

This is happening because of the identity conditionals in `Format.int[A]` return false, as `x` is never identical to an uninstantiated primitive.
[code]

To reproduce:
[code]

[2017-07-07 23:56] Praetonus commented on #2015
This will be fixed in the 0.15 release, which should happen soon. The fix was done in #1927.

[2017-07-07 23:56] #2015 closed

[2017-07-07 23:58] nisanharamati commented on #2015
Ah! Sorry for the duplicate! I must have missed it when I was searching for existing issues related to this.

[2017-07-08 00:02] Praetonus commented on #2015
No worries, it's better to have a bug reported twice than never.

[2017-07-08 08:23] SeanTAllen commented on #1976
Blessing 752e54b6f3752abac3f6db1f4ccbc14aa160a092

[2017-07-08 08:26] SeanTAllen commented on #1976
release underway

[2017-07-08 08:32] SeanTAllen commented on #1976
@stefantalpalaru release is underway

[2017-07-08 08:32] SeanTAllen commented on #1976
@@kamilchm release is underway

[2017-07-08 08:42] SeanTAllen commented on #1976
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/15412

[2017-07-08 08:45] SeanTAllen commented on #1976
Windows release is in bintray.

[2017-07-08 08:46] SeanTAllen commented on #1976
Linux releases not done yet as I needed to update my personal access token that is used to update the standard library docs. It failed on that. I've restarted the process after giving the new permission that GitHub added that is needed.

[2017-07-08 09:01] SeanTAllen commented on #1976
RPM and Debian packages are available in Bintray.

[2017-07-08 09:06] SeanTAllen commented on #1976
Homebrew merged. Should be in soon.

[2017-07-08 09:08] SeanTAllen commented on #1976
Closing this issue. Thanks y'all.

[2017-07-08 09:08] #1976 closed

[2017-07-08 09:47] ergl commented on #1702
This was fixed by #2011 (thanks!), so I'll close this now.

[2017-07-08 09:47] #1702 closed

[2017-07-08 13:00] stefantalpalaru commented on #1976
Gentoo ebuild updated.

[2017-07-08 13:32] SeanTAllen commented on #1833
This was released with 0.15.0 today.

[2017-07-08 14:32] jemc commented on #1771
Fair warning, all: now that 0.15.0 is released, I'm starting this work. The 0.16.0 release will probably contain this change.

Since this is a breaking change that will probably break every single Pony codebase in existence, and I don't want everyone to hate me, I'm going to try to also create a script that can be used to automatically add the `?` character where needed, based on the error output

[2017-07-08 14:55] SeanTAllen commented on #1771
@jemc when the time comes to release that, can you help me craft the release notes for it that contains info to fols on how to upgrade etc?

[2017-07-08 14:56] jemc commented on #1771
Yes, definitely.

[2017-07-09 01:06] huntc opened #2021 ""Pony" as a name"
I "feel" that the Pony language is let down by its name and will therefore struggle to enjoy the success it deserves. Has there been consideration of an alternate name, perhaps in relation to the language's strengths?

For the record, I also felt that "Groovy" was a poor choice for a language name. :-)

[2017-07-09 04:54] jemc commented on #2021
I, having had nothing to do with Pony at the time the name was selected, don't find it to be particularly weak or dissatisfactory.  However, even if I were dissatisfied with the name, I don't think it would make sense to change the name at this point, with many materials out in the world referencing it by the name "Pony", and already having decent name recognition among those who are interested in

[2017-07-09 04:54] #2021 closed

[2017-07-09 11:38] luigino opened #2023 "Linking problems with gcc7"
Undefined atomic symbols on 0.15.0 and gcc 7.1.
To be completely honest, I'm not certain the problem began with 0.15.0, anyway I wonder if there's a cleaner way than this:

[code]

[2017-07-09 11:59] Praetonus commented on #2023
There has already been some discussion on the subject in #1756. I think we just need somebody to submit a patch with the relevant changes.

[2017-07-09 11:59] #2023 closed

[2017-07-09 12:01] Praetonus commented on #1756
@lisael That would be the correct way for the code changes. I think the only question remaining is whether we need to setup a test environment with GCC 7. @ponylang/commiter Thoughts?

[2017-07-09 14:28] SeanTAllen commented on #1756
Test environment for GCC 7 seems like a good idea

[2017-07-09 16:42] Praetonus commented on #1919
This has been fixed on the LLVM trunk ([commit](https://lists.llvm.org/pipermail/llvm-commits/Week-of-Mon-20170703/467887.html)). The fix will be part of the LLVM 5 release.

[2017-07-09 16:42] #1919 closed

[2017-07-09 17:11] Praetonus opened #2024 "Identity comparison with constructor sugar"
This idea stems from a discussion on IRC.

A common error for new users is to use `is` instead of `as` or `match` to test the dynamic type of an object, resulting in code like that:

[code]

Here, `String` is sugared to `String.create()`, which means that the identity comparison is done with a newly created object and can never be true.

We should issue a compiler error in those cases. Erroring wh

[2017-07-10 13:34] jemc commented on #2024
Whoever implements this should also be sure it accounts for cases where the operand is a `TK_TUPLE` that *includes* a `TK_TYPEREF`, or a `TK_SEQ` whose final child is a `TK_TYPEREF`.

[2017-07-10 14:21] 17studio opened #2027 "quote comments cause compiler segment fault"
- short summary of what you was trying to achieve,
compile a pony file and pass
- a code causing the bug,
a normal program with
"""
"""
quote comments with only newline return
[main.zip](https://github.com/ponylang/ponyc/files/1135817/main.zip)
- expected result,
compile done
- actual results,
compile segment fault
- environment details: at least operating system and compiler version (ponyc -v).
0

[2017-07-10 15:01] Praetonus opened #2028 "Pattern matching of tuples and Any"
Initially reported on the mailing list by @sgebbie.

[code]

This code used to compile under the 0.14 version but doesn't compile anymore. This comes from #1937, which made tuples be subtypes of empty interfaces like `Any`. The above type, `(Any val | (None, None))` is now folded into `Any val`, and then fails to match with the tuple type because it doesn't have the right cardinality. The pattern

[2017-07-10 19:19] Praetonus commented on #2027
Minimal case:

[code]

This happens with any triple quote string that contains only a newline. The crash occurs in `normalise_string` in the lexer.

[2017-07-11 16:36] aslakg opened #2030 "Compiler crash on illegal input"
I had this line of code crash the compiler:

let ev2 = myfun(x, 3, 2, 5)  as I64

with the error:

src/libponyc/ast/ast.c:490: ast_id: Assertion `ast != NULL` failed.

Once I fix the input by adding explicit type to the literal integers, the error goes away.

$ ponyc --version
0.15.0 [release]
compiled with: llvm 3.9.1 -- Apple LLVM version 8.1.0 (clang-802.0.42)

[2017-07-11 16:45] aslakg commented on #2030
This is complete code that will reproduce the error:

type Obj is ( I64 | String )

actor Main
  let out : OutStream tag

  new create(env: Env) =>
    out = env.out

  fun test() : None ? =>
    let m = MyClass
    let ev2 = myfun(m, 3, 2, 5)  as I64

  fun myfun(m : MyClass, x : Obj, y : Obj, z : Obj) : Obj =>
      z

class MyClass
  let x : String = "Hello"

[2017-07-12 17:39] shepheb opened #2035 "Compiler crash when using `as` operator on an uninferrable reference."
While compiling code that looked like this:

[code]
It's incorrect; `_rom` is an `Array[U8]` and indexing it with a `U16` is an error. Also I'm not handling errors in indexing.

I get this stacktrace:

[code]

[2017-07-12 17:58] shepheb commented on #2035
[code]

I managed to reproduce a similar crash like this.

[2017-07-12 19:34] ta3ta1 commented on #2030
Hi

I've looked into the issue.
When compiling the code, NULL is passed as 1st arg at this [line](https://github.com/ponylang/ponyc/blob/master/src/libponyc/expr/operator.c#L499) so it triggers assertion.
But adding NULL-check isn't complete solution, because there are a few other crash cases I've found.

[code]

1st arg is TK_LITERAL triggers assertion too.

[code]

1st arg is TK_ERRORTYPE trigge

[2017-07-12 19:41] #1866 closed

[2017-07-12 19:45] #1991 closed

[2017-07-12 19:46] #1950 closed

[2017-07-12 22:58] jemc commented on #2030
@ta3ta1 - great work investigating!

We have a pattern for dealing with exactly this kind of issue, which looks like:
[code]

This allows the compiler to bail out of whatever it's doing, because the type it encountered represents a type that encountered a previous error and thus the current code cannot continue.

In essence, it basically allows the compiler to bail out of the current action and as

[2017-07-13 01:33] jemc commented on #2035
Thanks for the minimal repro.

I've isolated it to a simple fix, and will post a PR now.

[2017-07-13 13:13] ta3ta1 commented on #2030
@jemc Thanks for the info.

Your PR(#2036) also fix this issue, so that this issue must be a duplicate of #2035.
But it doesn't fix my first sample. I'm going to make a separate issue about it.

[2017-07-13 13:23] #2035 closed

[2017-07-13 13:43] ta3ta1 opened #2037 "Compiler crash when using `as` on numeric literal"
When compiling following code,

[code]

compiler crashes and shows stacktrace.

[code]

Expected Result: No crash at least. I'm not sure what should be done.

Compile version: debug build from 2ca91f9ca30454070926124d4d84a23959c497ee
[code]

[2017-07-13 13:46] ta3ta1 commented on #2037
Using `as` operator on float literal also produce same result.

[code]

[2017-07-13 14:08] jemc commented on #2037
We need to fix the crash, probably in a similar way to the solution in #2035.

But from a larger perspective, we should probably add a check to the `syntax` pass that looks for a numeric literal on the left side of an `as` operator, and gives a compiler error telling you that this isn't how you give the inference hint for a numeric literal - the correct pattern is to use `I64(0)`, not `0 as I64`.

[2017-07-14 00:37] jemc opened #2038 "Extend automatic receiver recovery to include arguments as recovery candidates."
In this week's sync call, @Praetonus mentioned that the compiler is missing out on recognizing some constructs as safe.

Particularly, he noted that the current rule for automatic receiver recovery is more restrictive than it needs to be.

The gist of the current rule is that we can automatically recover the receiver if all the arguments and the return value are sendable. @Praetonus mentioned that

[2017-07-14 17:36] plietar opened #2042 "Assertion failed when using `iftype` and `as`."
I ran into a crash when combining `iftype` and `as`.
Using only one of the two features builds fine.

I've bisected it down to #1981, which changed the `as` sugaring.

[code]
[code]

[2017-07-15 13:24] ta3ta1 commented on #2037
[code]

This also crash. I'll update PR #2041, adding a check to expr pass.

[2017-07-15 13:44] Praetonus commented on #2037
@jemc I'd argue that `0 as I64` should be allowed as a mean to specify a literal type. It's consistent with the explicit array syntax (`[as I64: 0; 1; 2]`).

[2017-07-15 15:39] jemc commented on #2037
@Praetonus - if we allowed that, would it be an "error-raising" operation?

- If yes, it definitely seems unwieldy to me to have an extra error-raising operation where there need not be one if you just used the constructor.
- If no, it seems very inconsistent and confusing for the `as` binary operator to sometimes be able to raise an error, and other times not.

[2017-07-15 15:43] macropas opened #2046 "Can't compile ponyc on Fedora 26"
[johndoe@devhost ponyc]$ sudo dnf install llvm make ncurses openssl pcre2 zlib
    [sudo] password for johndoe:
    Package llvm-4.0.0-2.fc26.x86_64 is already installed, skipping.
    Package make-1:4.2.1-2.fc26.x86_64 is already installed, skipping.
    Package ncurses-6.0-8.20170212.fc26.x86_64 is already installed, skipping.
    Package openssl-1:1.1.0f-4.fc26.x86_64 is already installed, skip

[2017-07-15 15:56] Praetonus commented on #2037
@jemc That's an interesting point.

One possibility would be to make `as` an error-raising operation only when the resulting match would be non-exhaustive (i.e. when the LHS type isn't equivalent to the RHS type). Specifying literal types would probably be the only interesting operation with equivalent types on both sides of an `as`, but at least we'd have a consistent rule.

[2017-07-15 15:58] jemc commented on #2046
@macropas - unfortunately, we're not yet compatible with LLVM 4.0 - that work is ongoing (see #1592).

You'll have to download an older version of LLVM (3.9 should be fine), and make sure that is available on your path. You can hit the subscribe button on #1592 if you want to be notified when that work is complete.

Thank you for your interest in Pony!

[2017-07-15 15:59] jemc commented on #2037
Yeah, that's one option, though it does seem to go against the spirit of #1771, whose purpose is to make it obvious from syntax where an error may be raised.

[2017-07-15 16:13] Praetonus commented on #2037
Good point, I think that's a compelling argument against that new rule for `as`, and by extension against specifying literal types with `as`.

Then the correct fix would be to issue a compiler error in `expr_as` if the LHS type is a literal type.

[2017-07-15 17:04] Praetonus commented on #1184
Unassigning @igortoliveira.

[2017-07-15 17:11] jemc commented on #2037
Agreed - we need to fix it there so that it covers all cases. However, I do think the change in #2041 would be a good additional measure, to provide a more helpful error message for the common, confusing case.

[2017-07-15 17:29] Perelandric opened #2048 "Compiler crash on exhaustive match where last case is a union subset."
*(Maybe related to https://github.com/ponylang/ponyc/issues/2028 ?)*

Given this start of a program that uses a `Tester` class:

[code]

The following two definitions of `Tester` segfault the compiler:

https://is.gd/jgPLZL
[code]
---
https://is.gd/cgfwRR
[code]
---

*EDIT: The error for this one is fixed on master via https://github.com/ponylang/ponyc/pull/2002, so that makes this identical to th

[2017-07-15 18:20] jemc commented on #2048
This turns out to be a pretty simple fix once I found the problematic code. You found an edge case I wasn't accounting for in the codegen for exhaustive match.

[2017-07-15 18:55] #2003 closed

[2017-07-16 16:35] #2048 closed

[2017-07-16 22:40] aslakg opened #2052 "Discussion request: nested closures"
In the following code:

[code]
the inner closure cannot see x, and the code won't compile.
(see [playground gist](http://pony-playpen.lietar.net/?gist=210e04e28dba82b2706cb5041a6feb94) )
This is because the outer closure doesn't capture x.
Normally a closure only captures variables that are references, but it ignores the fact that it's
referenced in the inner closure.

In my opinion, it should con

[2017-07-17 02:26] jemc commented on #2052
You're right, and this is not an enhancement, but a bug - the auto-capture of free references doesn't work correctly for nested lambdas.

In fact there's already a ticket open for this #1708. I'm going to close this in favor of that one.

[2017-07-17 02:26] #2052 closed

[2017-07-17 02:27] jemc commented on #1708
Adding the needs discussion tag here so we can check the status of this.

[2017-07-17 11:01] SeanTAllen commented on #1708
I wasn't aware this issue existed.

[2017-07-17 12:03] SeanTAllen commented on #2046
I'm closing this in favor of #1592.

[2017-07-17 12:03] #2046 closed

[2017-07-17 12:31] macropas commented on #2046
unfortunately the same problem on Fedora 25 with llvm-3.9.1-3

[2017-07-17 12:36] SeanTAllen commented on #2046
@macropas if you check on line 213 of the Makefile you will see how we determine what LLVM is installed. Apparently that doesn't work for however Fedora is installing LLVM. llvm-config isn't anywhere in your PATH (nor any variation thereof). If you can figure it out and do a PR to update the install from source instructions in README.md, that would be appreciated. Feel free to open an issue specif

[2017-07-18 10:00] macropas commented on #2046
@SeanTAllen  I have found the solution for Fedora 25:

    sudo dnf install git gcc-c++ make openssl-devel pcre2-devel zlib-devel llvm-devel ncurses-devel

[2017-07-18 11:11] SeanTAllen commented on #2046
@macropas can you open a PR that updates the "build from source" instructions to include Fedora 25?

[2017-07-18 11:59] macropas commented on #2046
@SeanTAllen
OK, I will try :)

[2017-07-18 12:43] Perelandric commented on #1975
This (at least the reduced example) appears to be fixed as of pull https://github.com/ponylang/ponyc/pull/2049

[2017-07-18 12:51] jemc commented on #1975
@cquinn can you confirm?

[2017-07-18 12:54] #2027 closed

[2017-07-18 13:01] Perelandric commented on #1676
@jemc If I'm not mistaken, this is resolved as of the May 17 commit https://github.com/ponylang/ponyc/commit/939cf25789c72fec3e623570cb4f8cf934fc6214

[2017-07-18 14:06] cquinn commented on #1975
Yes, this fixes the problem found in cli/command_spec.pony.

[2017-07-18 14:58] #1975 closed

[2017-07-18 14:59] jemc commented on #1676
@Perelandric - yes, thanks!

[2017-07-18 14:59] #1676 closed

[2017-07-19 19:28] Perelandric commented on #2024
What about with primitives? It's useful to do `if x is Foo then ... end`. Then again, you can have unexpected side effects from a constructor being invoked.

[2017-07-19 19:31] lgbaldoni opened #2059 "Intermittent files/File.writevlarge failure"
Packaging ponyc 0.15.0 for openSUSE, PR https://github.com/ponylang/ponyc/pull/2047 solved most of the previous test problems, but the one in the subject is still lingering.

It occurs sometimes on i586 and consistently on armv7l (both using gcc7, unsure if relevant):

[code]

Is there a way to find out more about this?

[2017-07-19 19:47] jemc commented on #2024
@Perelandric - I agree with you about primitives, but @Praetonus mentioned that primitives would be exempt from this rule.

[2017-07-19 19:47] Theodus opened #2060 "RFC: gencap-write"
Add `#write`, a new gencap for use in type parameter constraints, implying the capability set: `{iso, trn, ref}`.

https://github.com/ponylang/rfcs/blob/master/text/0043-gencap-write.md

[2017-07-19 19:51] Perelandric commented on #2024
Thanks @jemc, I missed that.

[2017-07-19 20:03] SeanTAllen commented on #1993
@Praetonus believes that the trait pass runs on every method whether there is a trait or not.

[2017-07-19 20:05] SeanTAllen commented on #1993
@Praetonus looking at the code says that the trait pass shouldnt be running here so we have a bug that needs to be fixed.

[2017-07-19 20:09] SeanTAllen commented on #2059
All errors in `_TestFileWritevLarge`

lines 504, 511 are possible points of error
and every usage of `as`.

[2017-07-19 20:12] SeanTAllen commented on #2037
#2041 should fix this.

[2017-07-19 20:18] SeanTAllen commented on #1942
Decision from sync:

1) Update the test with a log message that let's folks know that the test is probably failing because of a firewall if its on and they should try running with firewall off to verify.
2) add a label for the broadcast tests so that they can be excluded if someone doesn't want to turn off the firewall
3) document how to use the label

[2017-07-19 20:19] SeanTAllen commented on #1708
@sylvanc any progress on this?

[2017-07-20 00:28] Praetonus opened #2063 "Removing LLVM 3.7 support"
We're currently in the process of [adding support](https://github.com/ponylang/ponyc/pull/2061) for LLVM 4. When we added LLVM 3.9, we removed support of LLVM 3.6 soon after. The motivation for that was that the burden of maintaining as many LLVM versions was deemed to high.

By this logic, we should remove LLVM 3.7 once LLVM 4 is in.

@ponylang/committer Any objections?

[2017-07-20 00:35] SeanTAllen commented on #2063
I believe we removed 3.6 when homebrew stopped supporting it. I don't believe we made the decision because of the number of LLVM versions that we were supporting. That said, I don't see any reason to continue supporting LLVM 3.7. I think it makes sense to email the user and developer lists and verify no one needs 3.7. If they do, I think it behooves us to find out why 3.7 is required before removi

[2017-07-20 00:47] Praetonus commented on #2063
@SeanTAllen Yes that's right, I didn't remember the whole story correctly.

I'll send the email.

[2017-07-20 00:47] SeanTAllen commented on #2063
@Praetonus I sent emails and a tweet. I'm in favor of removal but I think its best to make sure no one needs 3.7.

[2017-07-20 00:49] Praetonus commented on #2063
Ah, I didn't see your email. Thanks.

[2017-07-20 04:42] Praetonus opened #2068 "Allocation parameterisation of runtime hashmaps"
The hashmap in libponyrt can be parameterised by an allocation function. However, it is always used with `ponyint_pool_alloc_size` in both the compiler and the runtime. Since it looks like it isn't needed, the parameterisation could be removed to allow more optimisation opportunities, such as better inlining.

Does anyone have any objections?

[2017-07-20 11:24] SeanTAllen commented on #2068
Let me check what I'm doing on the back pressure branch

[2017-07-20 12:43] SeanTAllen commented on #2068
Yeah, I'm doing the same in the "sean-runtime-backpressure" branch. I don't have an objection. I think we should get @sylvanc's input.

[2017-07-20 13:05] mfelsche opened #4048 "Ponycheck: Collections generators"
Create more generators for creating collections:

- [x] Set/SetIs
- [x] Map/MapIs
- [ ] persistent collections

[2017-07-20 15:32] #2037 closed

[2017-07-20 17:18] luigino commented on #2059
This patch:
[code]
and not running make test in parallel (-j1) seems to fix this and other random segfaults.
I'll leave to someone more knowledgeable to determine whether the two things are related.

[2017-07-20 18:00] SeanTAllen commented on #2059
the patch seems more like it is removing code that triggers the problem rather than actually fixing the issue so line 511:

[code]

would appear to be what is throwing the error.

[2017-07-20 18:02] #1729 closed

[2017-07-20 19:20] luigino commented on #2059
I do realise that, I was trying to pinpoint the problem among the lines you mentioned.
But unfortunately I'm going to need more handholding on this, although I could simply disable the test and call it a day.

[2017-07-20 21:28] jemc commented on #2059
It might help debugging to try changing:
`let fileline1 = file2.line()`
to:
`let fileline1 = try file2.line() else "<missing>" end`

[2017-07-21 06:07] luigino commented on #2059
Done, here's the result:
[code]

[2017-07-21 13:49] jemc commented on #2059
Okay, this is very interesting - it appears to be uncovering an actual bug on your platform.  `File.writev` is failing to write lines beyond the `IOV_MAX`.

[2017-07-21 20:12] Perelandric commented on #2030
All code examples appear to work as of PR https://github.com/ponylang/ponyc/pull/2041.

[2017-07-21 20:15] SeanTAllen commented on #2030
Thanks @Perelandric. I'll close.

[2017-07-21 20:15] #2030 closed

[2017-07-22 22:49] Theodus opened #2073 "Bad code generation due to underscore"
The following code causes invalid LLVM IR to be generated:
[code]
[code]

[2017-07-22 22:54] Theodus commented on #2073
Here is an lldb backtrace an a debug build of the compiler in case it's useful:
[code]

[2017-07-23 07:34] autodidaddict opened #2074 "Promise sample in stdlib docs doesn't compile"
The `PrintFulfill` sample in the doc string for the `promises` package does not compile/run in the pony playground, reporting the following error:

[code]

The following code does compile and produce the expected output:
[code]

[2017-07-23 11:43] SeanTAllen commented on #2074
@autodidaddict can you PR that fix?

[2017-07-23 11:44] SeanTAllen commented on #2074
Also, the broken part is

`_env.out.print(" + ".join([s, _msg]))`

the comma.

We switched syntax for sequences,

that would be

`_env.out.print(" + ".join([s; _msg]))`

now

[2017-07-23 11:47] SeanTAllen commented on #2074
actualyl nvm i opened #2075 for this

[2017-07-23 23:35] autodidaddict commented on #2074
Sorry I was traveling and didn't get a chance to open a PR.

[2017-07-24 02:03] SeanTAllen commented on #2074
Its ok. I'm closing this as it is fixed in a PR that @jemc has open.

[2017-07-24 02:03] #2074 closed

[2017-07-25 07:37] AlexanderChen1989 opened #2078 "[Question] Is Value-Dependent Types implemented?"
Is Value-Dependent Types implemented ?
Cant find document about Value-Dependent Types .

[2017-07-25 11:17] SeanTAllen commented on #2078
It hasn't made its way into the main repo yet.

[2017-07-25 12:14] SeanTAllen commented on #2078
I'm at my computer now so I can answer more fully.

As far as I know Luke is still working on bringing his work up to date with this repo and working on integrating it. There's no timeline set as Luke is doing it in his spare time.

As a side note, we try to keep issues specific to bugs, etc things that can be fixed, or solved. We ask everyone to use the mailing list and/or IRC for questions of th

[2017-07-25 12:14] #2078 closed

[2017-07-25 12:15] SeanTAllen commented on #2063
@Praetonus no comments on this so far. seems like there are no objections.

[2017-07-25 12:54] fithisux opened #2079 "Support gcc on windows (Enhancement)"
Some people  do not use Microsoft C/C++ compiler on windows.  Please make pony compatible with mingw or mingw-64 on windows.

[2017-07-25 15:23] kulibali commented on #2079
This would be nice to have; I am extremely busy right now and don't have time.  If you want to experiment with GCC, this would require several steps:

- Modify the `ponyc-windows-libs` project (https://github.com/kulibali/ponyc-windows-libs) to add GCC builds.
- In `wscript`, add a config setting for msvc vs. gcc.
- In `wscript`, add gcc configuration to the `configure` and `build` functions.

[2017-07-25 17:57] fithisux commented on #2079
Thanks for the reply. I have to check this out.

[2017-07-25 19:43] mfelsche opened #2080 "documentation generation enhancements"
the docgen process is currently set up so it creates documentation for the code inside the given directory and all reference packages. It documents private types as well as public ones and also includes test types.

I would like to be able to generate and publish API documentation for a pony project. With the current setup i need to manually go through the generated files and exclude stuff from ``

[2017-07-25 20:05] autodidaddict opened #2083 "Improve type mismatch error message by providing hints when the solution might be guessable by the compiler"
As a concrete example, when someone mutates a field inside a `fun`, the error message doesn't suggest that the solution might be to convert it into a `ref fun` to accommodate the mutation. Instead you often see errors that complain about `x` is not a subtype of `y` or that it was looking for `this->x` and it saw `x`. These are technically valid error messages, but if the compiler can detect that i

[2017-07-25 20:54] mfelsche opened #2085 "stdlib documentation enhancements/discussion"
This is related to #2080 but is specifically targeted towards the stdlib docs published at https://stdlib.ponylang.org

I use the stdlib docs a lot for looking up method signatures, exploring packages, classes and actors with or without a particular problem in mind.
They have helped me a lot and their existence is bliss. But i would suggest some improvements:

### Class/Actor TOC

**What?**
A TOC

[2017-07-25 20:57] SeanTAllen commented on #2085
@mfelsche these seem like independent issues. personally, i think it would be easier to have an issue for each one and discuss them individually. thoughts?

[2017-07-25 20:58] mfelsche commented on #2085
no thoughts. just nodding.

[2017-07-25 20:58] mfelsche commented on #2085
will split them and close this one.

[2017-07-25 21:02] mfelsche opened #2086 "[stdlib documentation] class / actor TOC"
## What?

A TOC of all the constructors/fields/functions to be shown before or rather after the class description. This
TOC should contain the full signature of a field/function as link text leading to the current (rather long)
description generated from the signature and docstring. The TOC entry could also contain a really short
summary like javadocs do (e.g. Optional.java). The TOC entries shoul

[2017-07-25 21:03] mfelsche opened #2087 "[stdlib documentation] Known implementing classes / sub-interfaces"
## What?

A list of all known implementing classes (within the current scope of the docgen call) for each trait/interface listed below the implemented traits

## Why?

Better navigation and overview of what how classes relate in the stdlib.

[2017-07-25 21:05] mfelsche opened #2088 "[stdlib documentation] ponylang.org theme colors"
## What?

Let the stdlib docs shine in a theme of the same colors as the pony website.

## Why?

Looks good, doesn't it?

[2017-07-25 21:15] mfelsche opened #2089 "[stdlib documentation] Removal of test types"
## What?

Remove documentation of test types/classes/actors.

## Why?

Ease of navigation and overview can be greatly improved when the confusing test classes are removed.
Especially the left navigation bar is scattered with test classes that are confusing a great deal when exploring packages using the stdlib docs.
In addition most test cases or test Main actors don't implement anything interestin

[2017-07-25 21:16] mfelsche commented on #2085
closed in favor of #2089 #2086 #2087 #2088

[2017-07-25 21:16] #2085 closed

[2017-07-26 05:21] jemc commented on #2089
I'll just give my usual rant that I think tests shouldn't even be in the same package as library code. That avoids this problem entirely.

[2017-07-26 05:29] #1771 closed

[2017-07-26 05:55] jemc opened #2090 "Release 0.16.0"
We've got a major breaking change, and want to release it ASAP so that the release includes as few other changes as possible.

See #2039.

[2017-07-26 06:09] jemc commented on #2090
I'm not supposed to bless a commit for this release until CI fully passes, including the changelog tool task, which is currently not passing.

This release is blocked by the merging of these two PRs:
https://github.com/sylvanc/peg/issues/2
https://github.com/ponylang/changelog-tool/pull/2

[2017-07-26 11:59] SeanTAllen commented on #2090
@jemc is stable up to date with these the explicit partials?

[2017-07-26 14:18] jemc commented on #2090
Yes.

[2017-07-26 18:16] #2073 closed

[2017-07-26 19:52] SeanTAllen commented on #2089
Sync decision is to remove these from docs. And if the check where it is also does strncmp class name starting with "_Test" turns out to be a problem, then we can adjust.

[2017-07-26 19:55] SeanTAllen opened #2092 "[stdlib documentation] Only generate docs for public types"
It should be possible to create docs that only generate the public API documentation.

This enhancement would add a flag to ponyc to generate both public and private docs.

[2017-07-26 19:59] SeanTAllen commented on #2080
"only create docs for public types in the package in the given directory" has been added #2092

[2017-07-26 20:08] SeanTAllen commented on #2080
Take away from sync.

The current document generation has only (afawk) been used for standard library docs. There are changes that we want to make to allow docgen to be useful to libraries.

What we want to be able to do is only include documentation for classes defined in a library or application and not bring in documentation from other libraries. To do this, we would supply a top level path for

[2017-07-26 20:10] Theodus opened #2093 "RFC: match-iter"
Add the ability to continue a regular expression match throughout a subject string multiple times with an iterator.

https://github.com/ponylang/rfcs/blob/master/text/0044-match-iter.md

[2017-07-26 20:11] jemc commented on #2087
This will involve creating a list of every type we know of (respecting the limited scope discussed in #2089, #2092, and #2080).

[2017-07-26 20:16] Theodus opened #2094 "RFC: lamdba-and-array-inference"
Improve inference for lambdas and array literals, allowing implied information to be omitted in cases where there is a definite type on the "left hand side".

https://github.com/ponylang/rfcs/blob/master/text/0045-lambda-and-array-inference.md

[2017-07-26 22:50] ohohho opened #2095 ""make configure" fails"
Hi, I've downloaded the master zip and can't build it. It says this

C:\Users\m\Downloads\ponyc-master\ponyc-master>make configure
fatal: Not a git repository (or any of the parent directories): .git
Waf: The wscript in 'C:\\Users\\m\\Downloads\\ponyc-master\\ponyc-master' is unreadable
Traceback (most recent call last):
  File "C:\Users\m\Downloads\ponyc-master\ponyc-master\waf3-2.0.0-55e02b48abe

[2017-07-26 23:19] SeanTAllen commented on #2095
@kulibali it would appear the Windows build script assumes you are in a git repo? that wouldn't be true with releases.

[2017-07-26 23:20] SeanTAllen commented on #2095
@ohohho sorry about that. in the meantime, if you clone the git repo, then check out the 0.15.0 tag, you should be able to build and install.

[2017-07-26 23:20] SeanTAllen commented on #2095
@ohohho when you say "I've downloaded the master zip and can't build it. It says this" can you detail exactly what you downloaded and from where?

[2017-07-26 23:25] kulibali commented on #2095
Hmm, yes, I'll have to fix the Windows build to not rely on git.

[2017-07-27 00:38] ohohho commented on #2095
Oh, ok I'll clone the git repo, thanks. I had downloaded it from here
![untitled](https://user-images.githubusercontent.com/30481778/28649347-87c7c070-7274-11e7-9013-1591e8208240.png)

[2017-07-27 00:46] #2095 closed

[2017-07-27 00:47] SeanTAllen commented on #2095
I had never noticed that was there. This has been fixed on master @ohohho. It will go out with the 0.16.0 release which you can track #2090.

[2017-07-27 00:48] SeanTAllen commented on #2095
Thanks @kulibali!

[2017-07-28 17:44] SeanTAllen commented on #2090
Blessing fbecd316f145c2d2aceb8a68783e7e768f98b5c3

[2017-07-28 18:44] SeanTAllen commented on #2090
Starting the release /cc @jemc

[2017-07-28 18:44] SeanTAllen commented on #2090
It's on release branch and CHANGELOG on master has been updated.

[2017-07-28 19:00] SeanTAllen commented on #2090
homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/16171

[2017-07-28 19:00] SeanTAllen commented on #2090
@stefantalpalaru release underway

[2017-07-28 19:01] SeanTAllen commented on #2090
@kamilchm release underway

[2017-07-28 19:02] SeanTAllen commented on #2090
RPM, Debian and Windows packages are in bintray.

[2017-07-28 19:18] SeanTAllen commented on #2090
Homebrew is released.

[2017-07-28 19:25] SeanTAllen commented on #2090
Thanks for playing along everyone. Closing this issue.

[2017-07-28 19:25] #2090 closed

[2017-07-28 19:56] stefantalpalaru commented on #2090
Gentoo ebuild updated.

[2017-07-28 20:35] SeanTAllen commented on #2090
Thanks @stefantalpalaru

[2017-07-28 21:43] kamilchm commented on #2090
what's `pony.g` from https://github.com/ponylang/ponyc/blob/25b8b8d9aceb3f86bf9df1d54385e2c9408d0cf9/Makefile#L798?
I'm getting make error after update:
[code]

[2017-07-28 21:58] jemc commented on #2090
@kamilchm - it's an ANTLR grammar - the CI task in the Makefile now checks if the grammar matches the parser.

https://github.com/ponylang/ponyc/blob/master/pony.g

Maybe you're excluding the file from your build tree?

[2017-07-29 01:42] pandaman64 opened #2097 "ANSITerm makes the compiler crash"
I'm trying to implement a twitter client with Pony, and I want to take in user inputs to tweet it.
So I was trying ANSITerm to read a line from the keyboard, but the compiler crashed during code generation when I introduced it.

Here is the minimal code of the crash:
https://github.com/pandaman64/pony-twitter/blob/c0076ef0e507c895b6abf87a60d3425dbf3758c5/src.pony

Expected result: it compiles
Actu

[2017-07-29 01:48] pandaman64 commented on #2097
Here is the compiler log:
https://pastebin.com/ksNwyfQA

[2017-07-29 02:03] SeanTAllen commented on #2097
@pandaman64 I can't reproduce the crash with your minimal example. You appear to have provided the version I gave to you that fixes the problem. Can you verify that is the case?