[2017-01-05 20:24] Praetonus opened #1500 "RFC: Branch prediction annotations"
Add program annotations to control structures to enable the user to make the optimiser aware of the likelihood of a given condition.

https://github.com/ponylang/rfcs/blob/master/text/0030-branch-prediction-intrinsics.md

[2017-01-07 04:00] #876 closed

[2017-01-07 04:05] SeanTAllen opened #1503 "Changelog formatting is a little off"
I've fixed this manually a couple times. I'm not sure if it comes from the bot @jemc created. I think it does though. Do you know if it does, @jemc? The issue in this screenshot was a lack of newline after the `Added` items before `Changed`.

<img width="975" alt="screenshot 2017-01-06 23 01 04" src="https://cloud.githubusercontent.com/assets/193596/21739258/96ab7892-d464-11e6-8b3d-70c305f99dc9.pn

[2017-01-08 13:37] Theodus opened #1506 "Unclear error message on match over different capabilities"
This code produces an error message that is very unclear about why the capture would violate capabilities:
[code]
Error Message:
[code]

[2017-01-09 16:18] SeanTAllen opened #1508 "SSLConnection ignores _notify.received value"
A TCPConnectionNotify received callback returns a boolean to indicate whether further processing should be done. SSLConnection ignores this value and keeps processing.

This would be an easy difficulty task but it requires a bit of time to understand how SSLConnection interacts with TCPConnection in order to get right.

[2017-01-09 18:09] matixmax commented on #539
Yes, thanks

[2017-01-09 18:46] SeanTAllen commented on #539
@matixmax Invite sent. Drop a note here when you have accepted and I'll add you as the assignee.

[2017-01-09 19:27] matixmax commented on #539
Ok, Done

[2017-01-09 19:36] SeanTAllen commented on #539
@matixmax assigned. good luck!

[2017-01-10 03:55] SeanTAllen commented on #1118
I'm trying to verify that #1507 fixes this issue but I'm unable to reproduce the reported problem.

OSX El Capitan.
LLVM 3.9.1

@Praetonus @Perelandric @aturley can any of you reproduce?

[2017-01-10 04:52] SeanTAllen commented on #1433
@sylvanc I think it makes sense for you to be the "owner" of the GPG key that would be needed for this. If you create a key and get it to me, I can set this up.

<img width="689" alt="screenshot 2017-01-09 23 51 53" src="https://cloud.githubusercontent.com/assets/193596/21794241/a1a282d6-d6c6-11e6-85be-4acc1004a62e.png">

[2017-01-10 04:54] SeanTAllen commented on #1399
Hi @enigma,

Any progress?

Need any assistance?

[2017-01-10 04:57] SeanTAllen commented on #1186
@Praetonus any status on this?

[2017-01-10 04:59] SeanTAllen commented on #1023
@jemc can you bring this one home or should I ping the dev list/twitter to try and get someone to finish this off?

[2017-01-10 11:36] jkleiser commented on #1118
Both the original code and the most simplified code here give me "can't find declaration of 'Range'". Why?

[2017-01-10 12:21] #1310 closed

[2017-01-10 16:13] Praetonus commented on #1186
@SeanTAllen No, I've forgotten to open a bug report on LLVM's tracker. I'll do it in the next coming days.

[2017-01-10 16:24] Praetonus commented on #1118
@jkleiser You have to add `use "collections"` at the beginning of the code.

[2017-01-10 17:15] jemc commented on #1023
I have some other pony tasks which are higher priority, so I'll unassign myself from this one for now, then circle back later if it still hasn't been completed.

[2017-01-10 19:13] jkleiser commented on #1118
Thanks @Praetonus . The simplified code now got compiled and ran without problems on my Mac with ponyc 0.10.0-74555f7.

[2017-01-11 02:30] SeanTAllen commented on #1506
Suggestion on an improvement? If we have a suggestion, we can get this moved into "ready for work".

[2017-01-11 10:06] Praetonus commented on #1506
I'd say it's a compiler bug. I don't see why this code would be unsafe.

[2017-01-11 14:18] SeanTAllen opened #1513 "Segfault on Compilation of Tuple of Unions"
[code]

The last line causes the segfault. Remove it and all is good.

I built using latest master. LLVM 3.9.1. OSX.

Was first reported by omarkj on IRC.

Backtrace under LLDB:

[code]

[2017-01-11 15:39] agarman commented on #1483
Quick follow-up.

I tried branch fix-1118 with my code. There is still an issue.

[code]

[2017-01-11 15:40] jemc commented on #1506
@Praetonus I think this restriction does disallow some things that are safe, but if we lifted it completely, it would allow some things that are unsafe.  Basically, it's unsafe to vary the rcap between two types in a match in any case where the type descriptor for the two types could be the same.  This is because we can't match on rcap at runtime, because the rcaps don't exist at runtime.

So, for

[2017-01-11 16:27] omarkj commented on #1513
Compiler details:
[code]

I also ran this against current `ponyc` master (c223fc441dd51de9f0019bafdf919b4dae493365). Backtrace under LLDB with that build:

[code]

Additionally, that compiler returns some more information during the fault:
[code]

[2017-01-11 20:42] jemc commented on #1506
If anybody can think of a way to express that explanation succintly, it would be great, as I agree the error message is rather vague.

[2017-01-11 20:44] jemc commented on #1506
I'm going to propose adding text to the error something like "the match type may not be a union of types with different capabilities".

@Praetonus thoughts?

[2017-01-11 20:49] jemc commented on #1503
Yeah, I've noticed this issue as well.  The issue is that the new changelog sections contain only one empty line between sections, but the bot only adds a new entry to the section without taking this into account.

We could fix this one of two ways:
1. Change the bot to have special-case logic for the first entry in a section, and add an extra newline.
2. Change `release.sh` to put two empty lines

[2017-01-11 20:52] SeanTAllen commented on #1503
@jemc agree with changing release.sh

[2017-01-11 20:53] SeanTAllen commented on #1503
@jemc it is only CHANGED that is missing the 2nd newline. Pushing fix now.

[2017-01-11 20:55] #1503 closed

[2017-01-11 21:06] Theodus opened #1514 "RFC: Remove Delegate"
Remove the implementation and tests for delegates from the compiler and the explanation and examples from the tutorial.

https://github.com/ponylang/rfcs/blob/master/text/0031-remove-delegate.md

[2017-01-12 22:33] Theodus commented on #1514
I have a working implementation of this RFC, but I have a strange problem in the parser macros [here](https://github.com/Theodus/ponyc/blob/remove-delegates/src/libponyc/ast/parser.c#L1056). For reference [here is the code in the master branch of ponyc](https://github.com/ponylang/ponyc/blob/master/src/libponyc/ast/parser.c#L1048).

[2017-01-13 22:11] Theodus commented on #1497
Using the process described in the article I have not been able to send commands to the FreeBSD VM over SSH on either Travis or my computer. This may be a result of being unable to download the image from the stacklet link and having to use another image. Unless someone else is willing to give it a try, I'm going to close this issue until another solution comes up.

[2017-01-13 22:11] #1497 closed

[2017-01-14 03:56] omarkj commented on #1513
Hey,

Been looking into this issue some more, and have narrowed it down to the return from the `if` statement which is bound using `let`. If I instead write this code things compile:

[code]
To get the other path (that is, returning from the `if` statement, binding it and passing it to another function) working I need to handle the impossible case that the `if` statement does not return by wrappin

[2017-01-14 06:01] omarkj commented on #1513
I've been looking into this a little bit, and isolated this to the primitive that's in
the boxed type. `gen_unbox` in `genbox.c` on line 45 returns the unchanged object if
`t->primitive` is `NULL` which happens to be the case here.

When I trace it into that `reach_type` in `reach.c` I get stuck. If anyone has bandwidth to
give me some pointers into how I can debug this further, I'm all ears!

[2017-01-14 10:47] SeanTAllen commented on #1513
@omarkj awesome digging

[2017-01-15 21:26] pdtwonotes opened #1517 "Heap corruption on 32bit systems"
My Main actor creates another actor.  The first line of the other actor is never executed, but the library code goes into a loop.  This only happens on ARM - the same code works correctly on X86_64.  I interrupt the loop with ^C to use the debugger to see the stack:

[code]

[2017-01-15 21:34] pdtwonotes commented on #1517
See issue [#1000](https://github.com/ponylang/ponyc/issues/1000) where an interlock problem specific to ARM was causing a segfault.

[2017-01-15 22:42] SeanTAllen commented on #1517
On IRC @pdtwonotes you said that #1505 is where this started to happen to you, yes?

If that is the case then the problem already existed it was just being hidden or less likely due to a timing issue.

[2017-01-16 05:22] pdtwonotes commented on #1517
Some more clues:

In setting up the new actor, the generated code calls `pony_create` which creates the actor.  Then it wants to send a message - I am assuming this is the actual `create` method invocation, which by the way has 9 parameters.  So it calls `pony_alloc_msg` in the runtime library.  This in turn calls `ponyint_pool_alloc`.  That call (`ponyint_pool_alloc`) does not return.

[2017-01-16 14:53] pdtwonotes commented on #1517
Rebuilding pony with `config=debug` provides more information, due to the assertions buried in the runtime code.  The first line is the actual failure.
[code]

[2017-01-18 20:36] #1506 closed

[2017-01-18 20:52] kulibali commented on #1437
@Lordovos can you try this again with a new build, please?  I have not seen these linker warnings with the new build system.

[2017-01-19 00:59] Theodus opened #1523 "RFC: Packed Structures"
Add program annotations allowing programmers to declare packed structures, i.e. structures without implementation-specific padding between members.

https://github.com/ponylang/rfcs/blob/master/text/0032-packed-structs.md

[2017-01-19 02:12] SeanTAllen commented on #1523
Thanks for creating the issue for this @Theodus

[2017-01-19 04:43] pdtwonotes commented on #1517
I narrowed the suspects down to transaction d715a6bae "Optimise count zeros operations in the runtime (#1443)" since it had to do with counting in the heap, and the assertion failure also had to do with counting in the heap.  And the time of the change also happened during a period when I was not regularly rebuilding my ARM compiler.

So as an experiment I undid just that one transaction, involvin

[2017-01-19 12:41] Praetonus commented on #1517
@pdtwonotes Thanks for investigating that. The change in `pool.c` is indeed wrong on 32 bits systems. I'll make a fix right away.

[2017-01-19 15:22] pdtwonotes commented on #1517
I still get the assertion failure.  I will check again that I am testing it correctly.
I never did get this failure on i686 though, which is also 32 bits.  But that is a completely different architecture and there may be other factors at work in memory allocation patterns, etc

[2017-01-19 21:31] Lordovos commented on #1437
@kulibali Just installed `0.10.0-1c33065 [release]` and tried it. It gives off those warnings for the very first time I compiled my project, but then never did it again even after closing and re-opening my terminal.

[2017-01-19 21:44] kulibali commented on #1437
That build is still too old -- there haven't been any releases yet that use the new build system.  You'll need to try one of the master branch builds, like https://bintray.com/pony-language/ponyc-win/download_file?file_path=ponyc-master-0.10.0-2199.3278261-win64.zip

That build does not give me any link warnings when I build packages\stdlib.

[2017-01-19 21:58] Lordovos commented on #1437
Ah, my mistake. Using that version, the warnings no longer occur.

[2017-01-19 21:59] kulibali commented on #1437
Cool, thanks!  @SeanTAllen I guess we can close this.

[2017-01-19 23:17] #1437 closed

[2017-01-20 11:29] Praetonus commented on #1517
Can you try reverting only one part of the change, to see which function is causing the problem?

[2017-01-20 11:30] Praetonus commented on #1514
What kind of problems is it causing?

[2017-01-20 13:49] pdtwonotes commented on #1517
It would be a complete shot in the dark.  I do not know how these things interact:
1. A change in the builtin function that counts bits in a word.  Left-to-right or right-to-left?
2. Whether a +1 is added to the resulting count.  Fencepost errors?
3. What are these bitmasks in the first place?  A map to used/allocated pages in the heap?
4. What was the purpose of the change?

The source code in th

[2017-01-20 14:17] Praetonus commented on #1517
It's FFS (Find First Set) and CTZ (Count Trailing Zeros) so it starts from the least-significant bit.

This is because `ffs(x)` returns `ctz(x) + 1` for a non-zero `x`.

It's a map to used slots in a chunk of heap memory.

Speed. FFS checks for 0 while CTZ doesn't, and `slots` isn't supposed to be 0 here.

That's true, it's an area that can be improved. In the meantime, you can take a look at @syl

[2017-01-20 15:26] pdtwonotes commented on #1517
Reverting just pool.c (and the small change to platform.h) as you described does appear to fix the problem.  I tested it on ARM.

[2017-01-20 17:07] Praetonus commented on #1517
Something else is wrong in that change then. I'll look into it. Thanks for testing all that.

[2017-01-20 20:55] Theodus commented on #1514
When running `make test config=debug`, if that line is commented out the following error occurs:
[code]

[2017-01-20 21:05] Theodus commented on #1514
Without `config=debug`, the test for BadPonyTest.EmbedNestedTuple causes a segfault

[2017-01-20 21:51] Praetonus commented on #1514
I think there is a function somewhere that still expects the old AST format for the rule you modified. The fastest way to find it probably is to run the asserting code in a debugger and to print the backtrace.

[2017-01-20 23:50] Theodus commented on #1514
I wasn't able to figure out the problem with a debugger. I did find that in [flatten.c L227](https://github.com/ponylang/ponyc/blob/master/src/libponyc/pass/flatten.c#L227) `provides` is null and the AST of `provider` is `(embed (id foo) (nominal (id $1) (id Foo) x ref x x) x)` when it is expecting `(embed (id foo) (nominal (id $1) (id Foo) x ref x x) x x)`. I'm not entirely sure what the extra x

[2017-01-21 09:51] Praetonus commented on #1513
This probably is another case of the general issue with tuples not having a type descriptor.

[2017-01-22 20:45] dipinhora commented on #1517
@Praetonus I don't have time to test this out but I think I see the error.

The line (https://github.com/ponylang/ponyc/commit/d715a6bae7bfce9719e630d1ec35a1846bdf6554#diff-174c1821e490b93d3d279cc44a9a4268R703)

`+  return ((size_t)64 - __pony_clzl(size)) - POOL_MIN_BITS;`

should be

`+  return ((size_t)64 - __pony_ctzl(size)) - POOL_MIN_BITS;`

in commit  d715a6b because you want to count **trai

[2017-01-22 21:30] dipinhora commented on #1517
So, ummm, I thought some more about this (which I probably should have done prior to posting my previous comment) and my previous comment was completely wrong. Please ignore. Also, apologies for the unnecessary noise.

The only thing that jumps out to me at this point is the use of `__pony_clzl` even on `ILP32` (with the changes from PR #1525). it seems that `__pony_clz` should be used on `ILP32`

[2017-01-23 06:54] moesol commented on #1118
The simplified code works on my Ubuntu machine. Both optimized and with ponyc --debug.

0.10.0-1c33065 [release]
compiled with: llvm 3.9.0 -- gcc-5 (Ubuntu 5.4.1-2ubuntu1~14.04) 5.4.1 20160904

[2017-01-23 07:16] peterzandbergen commented on #1118
I have noticed that the issue did not occur in my environment anymore,
being Ubuntu Mate in virtual box. Will test again this week to seeing if
the problem  has been resolved.

Op ma 23 jan. 2017 07:54 schreef Robert Hastings <notifications@github.com>:

--

Peter Zandbergen
Tel: +31 6 460 55 872

linkedIn: peterzandbergen <https://www.linkedin.com/in/peterzandbergen>

[2017-01-23 21:46] Praetonus commented on #1517
The difference on Linux/OSX is that `__pony_clz` takes an `int` while `__pony_clzl` takes a `long`. Since `size_t` on ILP32 is the same size as `long`, I think `clzl` is the correct version to use.

I found another problem with the original change. If the size is a power of two, the resulting index will be off by one. I'll push a fix for that as well.

[2017-01-23 22:04] Perelandric commented on #1118
@peterzandbergen  See the discussion at: https://github.com/ponylang/ponyc/pull/1507

[2017-01-24 11:25] Praetonus commented on #1514
An `x` in the textual representation is a `TK_NONE` child in the actual AST data structure.

I don't know if you're familiar with the relationship between the parser rules and the resulting ASTs so I'll walk you through it. I'll take the rule causing you trouble as an example.

[code]

Because an `IF` rule always creates a child node, the resulting AST will have one child less if you remove one of

[2017-01-24 23:57] pdtwonotes commented on #1517
This latest fix seems to work.  Tested on ARM - i will do i686 tomorrow

[2017-01-25 12:44] Praetonus opened #1531 "The compiler consumes a lot of memory"
Compiling the standard library test suite on latest master with the compiler built in release mode takes approximately 4 GB of memory. That means we currently have a really low upper bound for the size of a compiled program, and we should try to reduce that memory consumption.

Most of that memory is allocated by the `lookup` and `reify` functions during reachability analysis and code generation,

[2017-01-25 16:44] pdtwonotes commented on #1517
Test on i686 gives different results.  My program goes into a CPU loop on startup.  But if I run it with GDB to find where, instead I get a SegFault, again in the message processing:
[code]

[2017-01-25 17:09] pdtwonotes commented on #1517
In pool.c pool_pull, line 515, there is a while loop that never terminates.  (on x86)

[2017-01-25 19:09] jemc commented on #1531
@Praetonus - I'm not finding any calls to `ast_dup` in `lookup.c`.  Can you point me toward them?

Also, I'm going to mark this for discussion during today's sync.

[2017-01-25 19:21] jemc opened #1532 "Automated style linting for C source code"
I've opened this issue to discuss adding automated style linting for the C source.

This was mentioned by @tokenrove in https://github.com/ponylang/ponyc/pull/1526#issuecomment-274977308.

[2017-01-25 19:21] jemc commented on #1532
I'll add my response here as well, for posterity and to kick off the conversation.

[2017-01-25 20:40] #1500 closed

[2017-01-25 21:01] Praetonus commented on #1531
@jemc It's in the call to `viewpoint_replacethis` in `lookup.c` l.161. That function calls `viewpoint_replace`, which duplicates the AST.

[2017-01-25 21:35] jemc commented on #1532
In the sync call, no one was opposed to introducing some automatic style linting to the C style, provided that it doesn't add any additional requirements to building Pony (essentially, that linting is a separate action).

So if anyone wants to do a PR to introduce C style linting to match our current C style, it would be welcome.

[2017-01-26 04:31] pdtwonotes commented on #1517
I have adjusted my environment so I can do all three platforms from a shared copy of the repo, to make sure they have identical code.  With the latest fix from Praetonus it works fine on x86_64 and ARM, but not on i686.  This is odd, becuase both ARM and i686 are 32-bits.  So the difference must lie elsewhere.  Ideas: timing?  LSP32 defined wrong?   ARM and x86_64 are running Ubuntu MATE 16.04.1 a

[2017-01-26 12:34] Praetonus commented on #1517
`ILP32` is defined as

[code]

which seems right to me.

That unterminating loop is very strange. Can you try running it in a debugger and look at the value of `index` in `pool_get` when you hit that loop? The full backtrace could also contain useful data. Thanks.

[2017-01-26 15:12] pdtwonotes commented on #1517
If I run it without gdb, it goes into a loop.  If I  run it under GDB, instead it gets the segment fault.  There was always a rule for debugging that if behavior is different with the debugger, then there is uninitialized memory somewhere.

So I tried using the GDB 'attach' command to remotely attach to the looping program.  In that case, I get this stack:
[code]
I tried stppping through the creat

[2017-01-26 15:21] Praetonus commented on #1517
Those index values aren't normal. A pool index shouldn't be higher than 15 in the current implementation. Can you add `assert(index < POOL_COUNT);` at the beginning of `ponyint_pool_alloc` (`pool.c:605`) and see if that assertion fires?

[2017-01-26 17:07] pdtwonotes commented on #1517
Sure enough, it does fire.  Here is the bt and you can see that `pony_alloc_msg` is being passed the 33 as well, directly from `Main_tag_create_oo` at line 78, which happens to be where it makes the call to create another actor.
[code]

Here is the compiled code form just before the call to `pony_alloc_msg` and you can clearly see it pushing a 33 on the stack.
[code]

You can see the Pony source c

[2017-01-26 17:37] Praetonus commented on #1517
The compiler is using `ponyint_pool_index` to compute that value so we're back to that function. Can you add `assert(index < POOL_COUNT);` just before returning the value at the end of `ponyint_pool_index` and see what the results are? In particular, what is the value of `size`?

[2017-01-26 20:19] pdtwonotes commented on #1517
I turns out that the symbol ILP32 is false on this computer, which `uname -m` identifies as `i686`.  It is indeed a 32-bit processor.   This makes `ponyint_pool_index` assign the wrong value to `bits`, resulting in an `index` value that is out of range.

Verified with this test code:
[code]
It prints "64".

I notice that this place in pool.c is the only place in the Pony code that uses `ILP32`.  O

[2017-01-26 22:20] Praetonus commented on #1517
You're totally right, it's a typo on my side. I'll fix that.

[2017-01-27 14:35] kcrimson commented on #1445
@jemc I can take this one, if its ok

[2017-01-27 18:52] jemc commented on #1445
@kcrimson Great!

I tried to assign you to the ticket, but for some reason wasn't able to do so, even though you are already a member of the `Contributor` group.  Not sure why it didn't work, but we can consider you as assigned to it even though GitHub doesn't show it.

[2017-01-27 18:52] #1514 closed

[2017-01-27 18:57] #1523 closed

[2017-01-28 04:22] pdtwonotes opened #1539 "No TCP backpressure relief on Linux?"
My program gets 'throttled' by TCP, but never 'unthrottled'.  In `tcp_connection.pony` there is a function `_pending_writes` that is the only place the `_release_backpressure` function gets called.

1. `unthrottled` notification is only called from `_release_backpressure`
2. `_release_backpressure` is only called form two places, lines 501 and 529.   Line 501 is inside an `ifdef windows` so will n

[2017-01-28 16:29] SeanTAllen commented on #1539
It shouldn't unthrottle until it empties it's buffer. If you continue to send data while its being throttled, ti will continue to report that its throttled. There's nothing in the current code to prevent you from continuing to send data to a TCPConnection that is being throttled. I suspect that is what you are doing. Throttling on writes requires you do communicate back to senders that throttling

[2017-01-28 18:29] pdtwonotes commented on #1539
Yes I realize that, and I do stop sending when I get the 'throttled' notification.   But the trouble is that I never get the 'unthrottled' notification when it _does_ empty the buffer.  Well, I assume it empties the buffer;  the `wget` program that is receiving the data stalls, waiting for more data.

I put in more Debug calls in `tcp_connection`.  The original `throttled` notifcation arises becau

[2017-01-28 20:37] SeanTAllen commented on #1539
So Epoll doesn't send another writeable event after throttling until disconnect?

If you don't get a writeable event then you aren't going to send more data and its not going to ever be unthrottled. Can you verify that when you get throttled, that the write event is resubscribed?

It's possible there is a race condition with one shot, we've made additional changes to one shot handling at Sendence

[2017-01-28 22:12] pdtwonotes commented on #1539
I have tracing on the event arrivals, and I do not see a 'wriateable' showing up.  I will put tracing in on the re-subscription calls too.   The "buffer" I was referring to there is the `_pending` queue of unsent data.  Once its backlog drops below a threshold (16 I think) there is supposed to be a unthrottle call, but that never happens.  It might be that the pending queue is in fact not emptying

[2017-01-28 22:51] pdtwonotes commented on #1539
When the connection first comes in there is a resub call with flags=0x0101 (`read` + `oneshot`).  After I write a few chunks I see the "length written was less that submitted" conidtion, which triggers a 'throttled'.  No more resubscriptions until I break the connection.  I never see it set the `writable` ASIO bit.

Then when I break the connection, and it is processing that event, it does some mo

[2017-01-29 04:36] SeanTAllen commented on #1539
The threshold on Linux is 0. Once the buffer is cleared. Windows is different. You appear to be mixing Linux and Windows code together in your analysis.

That said, I have figured out where the bug is.
We need to consider resubscribing after any write event as you might have gone from writeable to unwriteable. As a short term fix you can call `_resubscribe_event` at the end of `write` and `writev`

[2017-01-29 04:47] pdtwonotes commented on #1539
Yes, I was looking at the wrong place - Windows and Linux use different unthrottle thresholds.  But since the events were not arriving in the first place, it doesn't matter.
Inserting the extra calls to `_resubscribe_event` did fix the problem.

[2017-01-29 21:54] jemc commented on #1539
In addition to fixing this with the added call to `_resubscribe_event`, can a test be added to the standard library test suite that opens a pair of TCP sockets and proves the correct behaviour?  This seems too subtle (across platforms) and too important to not have some kind of automated test.

[2017-01-29 23:33] SeanTAllen commented on #1539
you would need to force a throttling scenario which is already quite hard to do. its going to be an unreliable test. very unreliable.

[2017-01-29 23:45] pdtwonotes commented on #1539
The complication is that a TCP connection with both ends on the same machine is so fast that throttling hardly ever happens.  I test across multiple machines of varying speed, over a wifi link, which is how I found this.

[2017-01-30 12:08] fgrosse commented on #1225
@SeanTAllen I have this issue on llvm 3.8.1 should I actually open a new issue now?

[2017-01-30 13:10] SeanTAllen commented on #1225
@fgrosse are you using gcc 6?

[2017-01-30 13:30] fgrosse commented on #1225
I had this issue on two different machines with llvm 3.8.1 installed on Linux Fedora 25 via the package manager `dnf`)

[code]

I did now install a more recent LLVM version by building version 3.9.1 from source and was able to compile and run `examples/helloworld`.

[2017-01-30 14:10] SeanTAllen commented on #1225
So the supposition that it is a LLVM 3.8.x and GCC 6.x issue appears to be accurate.

[2017-01-31 02:02] dipinhora commented on #1484
This is likely because Ubuntu 16.10 enabled `PIE` by default for GCC (see: https://wiki.ubuntu.com/SecurityTeam/PIE) which makes it so that the normal `libponyrt` is also position-independent requiring `stdlib.o` to also be compiled with `--pic`.

[2017-01-31 10:49] sylvanc commented on #1484
Nice catch, @dipinhora ! I think the options are:

1. Tell users to compile with `--pic` if their OS prefers it. This is kind of crappy, as it demands that users understand a platform/distro choice that is complex and they shouldn't need to know.
2. Always compile with `--pic` on Linux. This solves the problem, but at a slight performance cost, since PIC code can have indirections that otherwise w

[2017-01-31 11:44] Theodus commented on #1484
We can check for output from the command `gcc -v` (or `gcc -###`) and check if the output contains the string `--enable-default-pie`.

[2017-01-31 12:35] SeanTAllen opened #1543 "Release 0.11.0"
It's close to that time again.

It is:

* about the be the first of the month
* we've gone more than 30 days without a release

Looking at the changes, 0.11.0 seems to be the appropriate version.

Anyone have time to do this in the next few days?

[2017-01-31 13:35] sylvanc opened #1544 "Infinitely recursive types cause an infinite loop during reachability analysis"
Here's an example:

[code]

If we were compiling types at runtime, this would require no instances of `Pair[A]` to exist. However, reachability analysis can't determine how many iterations of `Bar.apply` will happen, so it appears that an infinite number of types are required.

In a JIT compiled language, this is solved by delaying the compilation of such types until they are needed at runtime. In

[2017-01-31 17:57] jemc commented on #1544
It sounds like it's not something we can meaningfully support, at least at this stage.  Maybe we can support something like this if/when we have mechanisms for hot code loading?  For now at least, "useful error to the programmer" sounds like our best shot.

An optimally useful error would include a rendering of the sequence of type definitions that consititutes the recursion.  Just saying there is

[2017-01-31 18:18] SeanTAllen commented on #1544
So, Sylvan is the programmer error id based on reporting an error after some level of recursion or not allowing recursive structures at all?

[2017-02-01 10:58] sgebbie opened #1546 "Compiler aborts on LLVM assert"
# Context

I've been using a build of `ponyc` from October 2016 for a while:

	$ ponyc --version
	0.7.0-038d6e2 [release] (llvm 3.8.0) (cc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609)

I decided that it was time to get back up to a recent version. This required some minor changes in my code to support the new lambda syntax and the function chaining changes. However, once I got the code to compi

[2017-02-01 15:52] jemc commented on #1546
Thanks for the report, and thanks for bisecting!

Two questions:
1. Could you try running the compiler under `lldb` (or `gdb`) to get a backtrace for the abort?  For example, running the compiler with `lldb -o run -- ponyc`, then typing `bt` after the abort, to get a backtrace.
2. Is the project open source, so we could try to reproduce and debug the issue ourselves?  Or maybe you could come up wi

[2017-02-01 21:18] #1517 closed

[2017-02-01 21:34] jemc commented on #1531
Some ideas discussed on the sync call:

1. Implementing the AST trees as persistent/immutable, reference-counted, copy-on-write trees, so that `ast_dup` would not cause an allocation unless/until the new "copy" needed to be mutated (at which point it would *actually* be copied.
2. We could cut memory usage roughly in half by figuring out how to trim down the members of the `ast_t` struct.  Adding

[2017-02-01 21:39] sgebbie commented on #1546
Hi,

Thanks for the prompt reply.

re 2. There is nothing particular sensitive in the project, but it is not opensource and is part of a commercial effort. I will try to see if I can come up with a smaller snippet that reproduces the issue.

re 1. I've captured the backtrace below:

[code]

[2017-02-01 21:58] Theodus commented on #1484
During the last sync meeting we decided to experiment with using LLD as the linker rather than depending on whatever linker is used by the C compiler building pony.

[2017-02-01 22:59] jemc commented on #1546
From that backtrace, it seems to be related to tuple tracing, within `gentrace.c`.

@sgebbie one more request for now. From that LLVM prompt, can you do the following commands to print the AST of the `src_type` and `dst_type`?

- `up` (repeat this command until you reach the stack frame of ```ponyc`gentrace```)
- `p ast_print(src_type)`
- `p ast_print(dst_type)`

Feel free to scrub any identifying

[2017-02-02 03:25] Theodus opened #1548 "RFC: HTTP Streaming"
Rewrite package/net/http to improve memory efficiency and support streaming in various forms.

https://github.com/ponylang/rfcs/blob/master/text/0033-http-streaming.md

[2017-02-02 05:56] plietar opened #1549 "Can call method through tag reference using generics"
Hi,
I've been playing around with generics, and it appears that capability bounds aren't checked properly.

The following code manages to call `foo` on a `Bar tag`, which I believe should not be allowed.
[code]

I've tried both ponyc 0.9 and 0.10 and get the same result

[2017-02-02 06:01] jemc commented on #1549
Yes, I believe this is another manifestation of a known high priority bug - #1328 ("Refcap violation via gencap-constrained type parameter").  It's unfortunate that this hasn't been fixed yet, but it is non-trivial.

[2017-02-02 06:04] jemc commented on #1549
I'm going to close this ticket as a duplicate for administrative purposes, but we appreciate you bringing it to us, and I will add your specific repro snippet to the ticket.

[2017-02-02 06:04] #1549 closed

[2017-02-02 06:06] jemc commented on #1328
We got another report of this in #1549.  I'll paste the repro here, so that we have another test case to check the fix against:

[code]

[2017-02-02 06:09] plietar commented on #1549
This is indeed the same bug, sorry for the duplicate.
Thanks for the pointer, I'll be keeping an eye the other issue then

[2017-02-02 06:13] jemc commented on #1549
No worries - we'd rather have two reports of the same bug than have a bug go unreported.

I've slated the bug for discussion during next weeks sync call, to see if we can get progress kickstarted on it again.

[2017-02-03 09:13] sgebbie commented on #1546
I am busy trimming the code down into a snippet that still triggers the bug. I should have it ready in the next day or so.

[2017-02-03 10:57] kcrimson commented on #1449
it means we can close #1445 as "won't do", as I understand this ticket solves problem with calling `strtof`

[2017-02-03 16:43] dipinhora opened #1550 "Foreign objects are not properly accounted for in GC"
While looking at heap/GC implementation in the Pony runtime, I came across the following comment (https://github.com/ponylang/ponyc/blob/master/src/libponyrt/mem/heap.c#L481-L483):

I didn't notice any code in the GC/heap marking logic that accounted for adding foreign objects to the heap used that was analogous to the code in `recv_remote_object` (https://github.com/ponylang/ponyc/blob/master/src

[2017-02-03 16:49] Praetonus commented on #1543
Since #1521 temporarily removed support of GCC 4.7 and 4.8, we might want to delay that release until support is restored. I'm working on implementing the algorithm discussed in #1521, it should be ready in the next few days.

[2017-02-03 16:57] dipinhora opened #1551 "Finalisers on embed fields don't get run"
Finalisers do not get run for `embed`s.

@sylvanc pointed out that this might be an issue. I verified it by extending the `minimal-cases/finalisers` code to confirm.

The following code:

[code]

Produces the following output when run:

[code]

If the `embed` in `ClassFinal` is changed to a `var` or `let` the following output is produced:

[code]

[2017-02-03 17:41] Praetonus commented on #1551
I think the most straightforward way to fix this is to add calls to embedded fields finalisers in the enclosing objects' finalisers. That would be in the `genfun_fun` function in `genfun.c`, where a special case should be added if the function being generated is a finaliser (i.e. if its name is `_final`).

[2017-02-03 18:22] dipinhora opened #1552 "FFI call LLVM type signatures are not checked for conflicts"
The Pony compiler doesn't handle multiple calls to undeclared FFI calls for the same function with different signatures (which is a bug but typos happen) the same way as declared FFI calls. With a debug build of the compiler, it results in an assertion failure. With a release build, the behavior is undefined where ponyc seems to pick one at random.

The following code causes an assertion failure w

[2017-02-03 18:26] dipinhora commented on #1552
One additional thought. Given that:

Does it make sense to convert some of the assertions that exist (in the compiler, not the runtime) into validations that run even with a `release` build of the compiler to prevent ponyc from producing applications with undefined behavior?

[2017-02-03 19:54] SeanTAllen commented on #1543
@Praetonus sounds good to me.

[2017-02-03 20:54] jemc commented on #1449
@kcrimson - I left it open, as I was anticipating that this ticket might take a long time to complete, and the fix suggested in #1445 is pretty trivial.  The way I see it, #1445 fixes the immediate problem of not using `cstring` as we should be, and this ticket is a more long-term effort to replace the `strtof` call entirely.

[2017-02-03 20:56] jemc commented on #1546
Sounds great, thank.  Let us know if there is anything we can do to help.  I suspect it has something to do with sending a tuple in an actor message (or an object that contains a tuple somewhere within).

[2017-02-03 21:06] jemc commented on #1552
@dipinhora - I think that solution makes sense.  We should convert the assertion into an appropriate compiler error.  I'm going to mark this as "ready for work" because I believe that's the your proposed solution is the most sensible one, especially considering the current behaviour is clearly broken (so we're not breaking backwards-compatibility for anyone depending on being able to use conflicti

[2017-02-03 21:14] SeanTAllen commented on #1552
This one was a lot of fun to figure out. Woot!

[2017-02-03 21:27] sgebbie commented on #1546
Hi,

Thank you for the LLDB pointers. Based on this I was able to find the source code line that was triggering the abort. Following which I was able to whittle down the ~2000 lines and eventually put together a clean snippet that triggers the bug.

Below please find the code snippet and the output of a debugging session with the AST outputs as requested.

# Code Snippet
[code]

# LLDB Session

[c

[2017-02-03 21:46] dipinhora commented on #1552
@jemc I think there are two additional points worth considering (let me know if I should open separate issues for them so they can be discussed/tracked individually):

**First:**

Given:

And (from Pony Philosophy):

It seems like **all** assertions (similar to the one in this issue) in the compiler should be converted to validations/errors that happen in all builds of ponyc (release or debug) bec

[2017-02-03 22:28] jemc commented on #1552
Thanks for raising the additional points you wanted to discuss.  I've added the "needs discussion during sync" label back for additional discussion around the other points.  However, I will add my thoughts here.

---

In general, I think, assertions in the compiler are meant to mark conditions that are "unreachable".  That is, assuming a compiler without bugs, there should be no possible input to

[2017-02-03 22:31] jemc commented on #1546
Great work at coming up with a minimal snippet that reproduces!

It should be fairly straightforward for us to debug the issue from here.

[2017-02-03 23:05] dipinhora opened #1553 "Enable compiler assertions in libponyc/compiler"
This surfaced from the discussions around issue #1552.

(Comments cleaned up a bit to remove minor misunderstanding re: runtime assertions.)

Given:

And (from Pony Philosophy):

It seems like all assertions in the compiler (not the runtime) should be converted to validations/errors that happen in all builds of ponyc (release or debug) because otherwise ponyc could end up generating programs with

[2017-02-03 23:06] dipinhora commented on #1552
Re: Compiler assertions

I agree that they shouldn't be enabled in `libponyrt` but only the compiler itself. I had originally mentioned that but lost that bit when I brought it up again.

I've opened up #1553 and copied over the relevant bits of conversation.

------

Re: FFI calls to the same function with different signature

I'm by no means a C or linking expert, but my limited understanding is

[2017-02-03 23:46] SeanTAllen opened #1554 "Upload SNAPSHOT releases to Artifactory"
Previously, we were uploading snapshots to bintray. Not what it was intended for. We turned that off at JFrog's request (they were very nice about it). We have been approved for a free Artifactory OSS account and need to set up Travis and Appveyor to upload non-release branch builds to there. If you are interested in taking this work on, please ping @seantallen or @sylvanc on this issue.

Document

[2017-02-03 23:48] SeanTAllen opened #1555 "Delete SNAPSHOT releases from Bintray"
Previously we were uploading all our snapshot releases (basically anything that wasn't the release branch) to bintray. Bintray is intended only for releases. JFrog politely informed us of this and was kind enough to give us a free Artifactory account (see #1554). We need to clean up our bintray account and use the REST API to delete all the old SNAPSHOT releases.

If you are interested in working

[2017-02-03 23:56] Theodus commented on #1484
I have finally figured out the combination of flags required to link stdlib.o with LLD, but now the resulting binary results in a segfault. here is the backtrace from LLDB:
[code]
This is the full command used to create the binary using LLD 5.0.0 (trunk 293818):
[code]

[2017-02-04 00:27] jemc commented on #1552
@dipinhora - I don't necessarily think the stackoverflow you linked is relevant, in that it only talks about what is possible in C (the language), and seems to be very limited to that scope.

In fact, it's so limited in scope that none of the answers even mention varargs (for example, `printf`), which are *very* relevant to our discussion here, now that I think of them.

How should we treat these

[2017-02-04 01:21] dipinhora commented on #1552
@jemc I agree that the example SO I linked wasn't the most useful but I disagree about it's relevance. This one is a bit more useful and comprehensive: http://stackoverflow.com/questions/479207/function-overloading-in-c

Let me explain my reasoning. But first, a minor disclaimer. I may very well be misunderstanding things, but so far you have not provided specific evidence that is the case.

1. Po

[2017-02-04 02:14] jemc commented on #1552
Actually, we already have this for FFI declarations.  It uses `...` to denote the varargs:
[code]

Good find.  This seems to imply that we don't have a problem with using multiple undeclared FFI functions, since the varargs LLVM construct seems to work fine for functions which were not meant to be varargs.  However, it makes me wonder if there is a performance penalty in doing so.  If not, we coul

[2017-02-04 03:27] dipinhora commented on #1552
@jemc Thanks for taking the time to explain the case you're referring to with the different memory layouts. I didn't fully grasp it until now.

------

Good point. I am not sure I agree that Pony should allow Pony FFI call typos because they may be varargs in general but I don't have a good argument for why not beyond "the compiler should try and help me not shoot myself in the foot even though I'

[2017-02-04 05:50] jemc commented on #1552
I'm still don't think we're on the same page about my example, and it's implications.

The C example was intending to show `liba` and `libb` compiled against different, but ABI-compatible headers for `libfoo`.  So, both `liba` and `libb` use `libfoo` and you can use `liba`, `libb`, and `libfoo` all together in the same program with no linker issues.

The same should be true of the Pony program.  U

[2017-02-04 07:08] dipinhora commented on #1552
I believe that might be because we've reached the limits of my understanding of things.

I don't understand how your example is using the same headers for both `liba` and `libb` when your code snippets showed two different definitions of `foo_t`. I see how both are ABI compatible (at a basic calling convention level) since they both use pointers for `foo_t*` but I don't see how things are API comp

[2017-02-04 11:41] agarman commented on #1552
Best possible FFI solution would be direct interop with C header files. There's a lot of boilerplate code written to wrap a C library. It's work that can and should be automated as doing it manually is error prone.

[2017-02-04 17:11] Praetonus commented on #993
This was resolved in #1395.

[2017-02-04 17:11] #993 closed

[2017-02-05 14:57] Praetonus commented on #1484
@Theodus Can you try it with a debug build of the runtime to see if you get any additional information?

[2017-02-05 17:03] Theodus commented on #1484
@Praetonus Here is the LLDB output for the binary with the debug runtime:
[code]

[2017-02-05 22:06] Praetonus commented on #1552
I second @dipinhora on thinking that multiple declarations of FFI functions should be identical. While it is true that using the same function with different signatures can be ABI-compatible, this is mostly possible by accident and isn't portable in the general case. Also, since the function has a unique declaration (and therefore a unique signature) on the C side, I think it should also have a un

[2017-02-05 22:09] Praetonus commented on #1546
That's my bug, sorry for that. The fix is straightforward, I'll make a PR shortly.

[2017-02-05 22:43] #1546 closed

[2017-02-06 04:02] jemc commented on #666
Ran into this one while picking up work on `pony-ast` again, where I ended up with a lot of large unions.

It's happening during the flatten phase, while the unions are getting flattened - many subtype checks are used to determine the optimal flattening of the union.

Caching subtype results could be helpful, but looking at #1531 gave me the idea to suspect that the `ast_dup` calls from `viewpoint

[2017-02-06 04:04] jemc commented on #1531
I'm doing some work on #666 - I'd be interested to see how it affects your memory benchmarking after I come up with an improvement.

[2017-02-06 05:10] jemc commented on #666
The patch I came up with helps tremendously, at least in my case, where compile time went from 230 seconds to 10 seconds after applying the patch.

I'm actually finding that my example seems to trigger a different case than the minimal case given by @andrenth in the OP.  I'm assuming this because I can't seem to reproduce the long compile times in the OP example - they all take about 1.5 seconds,

[2017-02-06 05:10] #666 closed

[2017-02-06 05:37] jemc commented on #1531
See #1560 - @Praetonus how were you measuring memory for this investigation?  I'd imagine that #1560 helps a bit, but not sure by how much without testing.

[2017-02-06 05:37] jemc commented on #666
See #1560.

[2017-02-06 08:34] sgebbie opened #1561 "Compiler aborts on LLVM assert revisited"
# Context

#1546 documented the issue with a compiler bug affecting handling of tuples.

Commit b89925f3f5962c3eba0e1794159a9a95ccd68b0d was merged to address this (see #1557). However, unfortunately this seems to only partially address the issue. Compilation of the code snippet still an aborts via `gentrace.c` but now on line 498 rather than on line 486.

# Code Snippet
[code]

# LLDB Session

[c

[2017-02-06 16:48] jemc commented on #1552
Are you talking about memory layout, or the in-language type signature?  If memory layout, then yes, I agree, all function calls from Pony should use the same memory layout, and there is only one correct signature. If you're talking about the in-language type signature, this is true in C for units of compilation, but not true when you start linking object files together - the object files may use

[2017-02-06 17:55] jemc commented on #1561
@Praetonus - can you take another look?

[2017-02-06 17:56] #1539 closed

[2017-02-06 18:27] Praetonus commented on #1561
The problem is that the compiler is trying to trace a boxed tuple as an unboxed tuple, which can't work.

[2017-02-06 21:00] jemc opened #1562 "Performance: Flatten pass does a lot of redundant work on unions."
I'm working on a pure Pony type-safe implementation of the Pony AST trees, for eventual use in a Pony-compiler-in-Pony.  I ended up with a lot of large type unions, and unacceptably high compile times (it was taking so long to compile that my first assumption was that it was stuck in an infinite type recursion).

Implementing the patch in #1560 reduced my compile times by about 23x, but it's still

[2017-02-06 21:14] jemc commented on #1562
If anyone is curious about the code I'm compiling, here it is:

https://github.com/jemc/pony-ast/blob/85f3ad7ec1a9fd2154ff2b759098b1f19238cddc/static/ast.pony

Note that the code is generated, not hand-written.  The definitions that is generated from are here:

https://github.com/jemc/pony-ast/blob/85f3ad7ec1a9fd2154ff2b759098b1f19238cddc/static/gen/ast_defs.pony

[2017-02-07 07:32] sgebbie commented on #1561
My knowledge of compiler phases it a bit sketchy, so purely for my own interest and understanding I was wondering if you would be able to give me a little bit more insight into what gentrace.c and the tracing functions are doing (or even just some pointers to articles that would be applicable).

Thanks in advance, Stewart.

[2017-02-07 13:06] Praetonus commented on #1561
Sure.

The functions in `gentrace.c` are generating the code executed when doing the GC tracing of objects. This applies to both objects traced when sending/receiving messages and reachable objects traced during the GC mark phase.

To trace objects in the most efficient way possible when sending a message, we try to synthesise an "optimal type" to trace from the type on the sending side and the ty

[2017-02-07 16:13] jemc commented on #1562
The extra flattening seems to be due in large part to the way type aliases are eliminated in the `names` pass, just before the `flatten` pass.

That is, in the `names` pass, everywhere a type alias is seen, the alias reference is replaced with the definition being aliased.  So, in the `flatten` pass, every single mention of a type alias is seen as a copy of the alias definition, so *every single m

[2017-02-07 16:14] jemc commented on #1531
Last night I was experimenting with an implementation for option 2.

Basically, my idea is to store the `annotation` as the sibling of the `type`, so we can eliminate the extra annotation pointer added in #1485 and hopefully cut memory usage in half.

[2017-02-07 16:16] jemc commented on #1531
I've assigned myself to this ticket because I'm working on that angle, but if anyone wanted to work on one of the other approaches for reducing memory (the more the better!), then we can assign you at the same time (more than one person can be assigned to an issue).

[2017-02-07 16:50] sylvanc commented on #1562
I think the right change may be to eliminate both flattening and type alias substitution, and modify the typechecker to understand type aliases directly.

This would give:

1. Better error messages (the end user gets the type alias, rather than a substituted type)
2. The right framework for allowing recursive type aliases

The classic example of the latter is:

[code]

[2017-02-07 17:12] SeanTAllen commented on #1562
+1 to getting recursive type aliases in.

[2017-02-07 17:22] jemc commented on #1562
@sylvanc - Just to be clear, which parts of flattening do we want to eliminate?  Get rid of just union flattening?  Get rid of union and intersection flattening?  Get rid of the entire flatten pass?

Apart from that I'm not sure why getting rid of flattening entirely is desirable.  It seems like just getting rid of type alias substitution is enough to accomplish both goals.  That is, it would redu

[2017-02-08 01:18] Praetonus opened #1567 "Identity comparison for boxed types is weird"
[code]

This code prints `true` then `false`, but I'd expect it to print `true` then `true`. This is because

- the numbers are unboxed in `create`, `is` compares their values, which compare equal
- the numbers are boxed in `foo` (i.e. objects with type descriptors are allocated to handle them through the `Any` interface), `is` compares the address of the boxes, which don't compare equal since a d

[2017-02-08 01:23] SeanTAllen commented on #1567
Agreed @Praetonus.

I find that *very* surprising.

[2017-02-08 02:26] SeanTAllen commented on #1550
One additional point on this, each time after we start a gc, we reset used to `0`.

https://github.com/ponylang/ponyc/blob/master/src/libponyrt/mem/heap.c#L364

So when we fix this we need to make sure it takes that resetting after each gc into account. It's not enough to account for the memory when recv the object.

[2017-02-08 07:05] sgebbie commented on #1561
Thank you for the explanation. When I took first too the reference to tracing at face value I thought that it was for escape analysis or inlining and the like at compile time, rather than for generating an optimised runtime garbage collection trace phase.

I will also read [OCG: Ownership and Reference Counting based Garbage Collection in the Actor World](https://github.com/ponylang/ponylang.githu

[2017-02-08 10:59] sylvanc commented on #1567
Interesting, I find it to be expected behaviour. Once a machine-word is boxed, it has an identity based on its boxing.

On the other hand, if `is` and `digestof` can look inside boxed values without paying a performance penalty, then I'm all for making it work that way. Right now, they don't need to do dynamic type checking; in the scenario above, each call to `foo` would have to dynamically check

[2017-02-08 16:17] jemc commented on #1567
@sylvanc I agree the behaviour makes sense in the context of thinking about boxed vs unboxed values, but as far as I thought, the boxing of values was an implementation detail, and not a user-facing language feature.

That is, at a language level, I would find this surprising, since there doesn't seem to be a language-level awareness of what boxing a value means, and when it happens.

[2017-02-08 20:55] jemc commented on #1555
I can take care of this, if someone (@SeanTAllen?) can add my bintray account (`jemc`, linked to my GitHub account) to the ponyc org.

[2017-02-08 20:57] Praetonus commented on #1567
@sylvanc My reasoning was the same as @jemc's. As long as boxed values are an implementation detail, I don't think they should affect high-level language features.

My thought for fixing that was to check at compile time if the interface we're `is`ing is a supertype of a boxed type. If it isn't, we'd just check the address at runtime as we're doing currently. If it is, we'd check the type at runti

[2017-02-08 21:01] SeanTAllen commented on #1550
in `mark_remote_object` we need to do the same `ponyint_heap_used` call for a heuristic hint that we use in `recv_remote_obj`.

in `mark_remote_actor`we want to do the same `ponyint_heap_used` call that we do in `recv_remote_actor`

in the `recv_*` we only do the `ponyint_heap_used` based on the rc >0.

in the `mark_*` ones we can do this `ponyint_heap_used` anytime after `  if(obj->mark == gc->ma

[2017-02-08 21:22] jemc commented on #1567
On the sync call, @sylvanc suggests that we add a type descriptor to tuples by adding one more element (invisible at the language level), which is the type descriptor.

[2017-02-08 22:24] jemc commented on #1552
On the sync call, @sylvanc agreed that we want to validate based on memory layout, and not Pony type signatures.  @sylvanc also mentioned that basically, the underlying LLVM types we use in code generation are what we care about comparing, to recognize incompatible differences.

Here are the action items for this issue ticket:
* In `gencall.c` in `gen_ffi` where we call `cast_ffi_arg`, we want to

[2017-02-08 22:25] jemc commented on #1552
Assigning myself to this one, since I think I'll have time to get to it fairly soon, but will otherwise unassign myself if I need to.

[2017-02-08 22:31] jemc commented on #1562
As discussed on the sync call, @sylvanc was referring to getting rid of union flattening, not the entire `flatten` pass.

Another alternative would be to keep the structural flattening of unions (going from a node with N-1 nested levels of children to a node with N children), but remove the `is_subtype` checks used to fold overlapping types into eachother.  @sylvanc says this wouldn't affect corre

[2017-02-09 01:17] jemc commented on #1555
Deleted the `ponyc-master` packages, leaving only `ponyc-release` packages remaining.

[2017-02-09 01:17] #1555 closed

[2017-02-09 01:22] jemc commented on #1552
Updated the ticket title to reflect the slight change in scope.

[2017-02-09 14:27] Theodus commented on #1484
I have also tested this with compiler-rt and libunwind instead of libgcc with the same result. Here is the updated command:
[code]

[2017-02-09 14:28] Theodus commented on #1484
It should also be noted that linking with clang and `-fuse-ld=lld-4.0` does not produce this issue.

[2017-02-10 16:22] aav opened #1571 "'with' expression body type and exception handling"
The compiler adds None type to the _'with'_ statement body type. _(U8 | None)_ in the example below, although there is no path which may lead to value of type _'None'_

The following code
[code]

Leads to
[code]

At the same type, adding  'else' section to the _'with'_ statement leads to _"try expression never results in an error"_

[code]

[code]

Environment:

[code]

[2017-02-11 12:00] sophiaIC opened #1572 "lack of avx2 for pony installation"
MacOS Sierra 10.12 does not supply avx2. The pony installation does not detect this, thus causing illegal Instruction errors when running compiled Pony programs. The solution is to call the compiler through
           ponyc --features=-avx2   ...

[2017-02-11 20:53] dipinhora opened #1576 "Optimized compile of serialise/Failures causes abort on x86"
Compiling/running the tests for the `Serialise` package results in an `abort` if the tests are compiled without `debug` with `ponyc`. This happens on both `config=debug` and `config=release` builds of `ponyc`. Additionally, this seems independent of `llvm` versions.

The following snippet shows what occurs:

[code]

Runing the command with `gdb`:

[code]

[2017-02-13 09:36] TobiasWrigstad commented on #1572
Same issue (and solution) for me on Dell XPS 13 9350 running Ubuntu 16.10.

I pulled the latest Ponyc (2017-02-12) and built it both with and without SystemTap support. Compiling e.g., the n-body example program was fine but running the compiled program yields `illegal hardware instruction (core dumped)`.

Adding the `--features-avx2` flag to the compilation solves the problem, just as for Sophia.

[2017-02-13 11:31] TobiasWrigstad commented on #1572
[code]

[2017-02-13 14:24] aturley opened #1579 "Segmentation fault when using string created from empty array"
# System

## OS:
OSX 10.11.6

## compiler:
0.10.0-7c7e036 [release]
compiled with: llvm 3.8.1 -- Apple LLVM version 7.3.0 (clang-703.0.29)

# Issue

## Observed Behavior

Using a string that is created using `String.from_array` where the array is empty results in a segmentation fault.

## Expected Behavior

A string that is created using `String.from_array` should behave like a zero-length string.

[2017-02-13 16:08] jemc commented on #1579
Looks like [`String._append` is still assuming that `String` always has a null byte at the end](https://github.com/ponylang/ponyc/blob/c62a1a9f1009a8966830ffc3e17589351a28c392/packages/builtin/string.pony#L1108).

We need someone to rewrite the logic in `String._append` to be aware of the possibility that not all strings are internally represented as being null-terminated.  And we'll also want tes

[2017-02-13 22:36] dipinhora commented on #1572
This seems to be LLVM incorrectly thinking all Skylake cpus support `AVX512` when only some do. See https://github.com/ponylang/ponyc/issues/1176#issuecomment-242925905 for more discussion.

Can you please try again with a newer LLVM (`3.9.1`)?

[2017-02-14 00:30] jemc commented on #1176
@emilbayes - can you please test using the branch in #1580 to see if it resolves the issue for you?

[2017-02-14 08:15] russel opened #1581 "Implicit fallthrough warning on GCC 7.x"
I have git master up-to-date as at 2017-02-14T08:13+00:00, with Fedora Rawhide fully up to date, and attempt to build Pony results in:
[code]

[2017-02-14 09:04] jemc commented on #1581
@russel - Can you please let us know which `gcc` or `clang` version you are using to compile Pony?

[2017-02-14 09:41] russel commented on #1581
Apologies, I should have been explicit. I am using Fedora Rawhide GCC which is now 7.0.1.

[2017-02-14 09:57] sylvanc commented on #1581
https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html

It looks like gcc 7 has added a default fallthrough warning behaviour. Note that it isn't present in gcc 6:

https://gcc.gnu.org/onlinedocs/gcc-6.3.0/gcc/Warning-Options.html

The default level (3) accepts various regular expressions as "fallthrough indicators", along with a gcc specific attribute. I suggest we pick one that level 4 also rec

[2017-02-14 17:28] #1579 closed

[2017-02-14 17:45] jemc commented on #1572
Hopefully this will fix the issue: https://github.com/ponylang/ponyc/pull/1580

@sophiaIC, @TobiasWrigstad - could you try building from that PR's branch (or if it's already been merged by the time you see this, from latest master)?

[2017-02-14 19:08] russel commented on #1581
@sylvanc @jemc Closing this was premature, I'm afraid. I pulled to bfb4b9404029efda737cb35ee76f1f594199977f and then:
[code]
[code]

[2017-02-14 19:17] jemc commented on #1581
@russel if you could experiment with variations on the `fallthrough` comment, and with varying levels for this warning from `-Wimplicit-fallthrough=4` to `-Wimplicit-fallthrough=0`, it would speed up the troubleshooting process a lot, as I don't currently have access to GCC 7.

You can change the compiler build flags in the `Makefile` [here](https://github.com/ponylang/ponyc/blob/bfb4b9404029efda7

[2017-02-14 19:27] russel commented on #1581
@jemc Rather than just play, I will get advice from a person/people who will know the answer off the top of their head(s).

[2017-02-14 19:46] jwakely commented on #1581
Try removing the hyphen, i.e. `// fallthrough` not `// -fallthrough`

[2017-02-14 20:43] russel commented on #1581
@jemc I took the - out, and everything compiles. I'll proffer a pull request.

[2017-02-14 20:43] russel commented on #1581
@jwakely Thanks for the data, much appreciated.

[2017-02-14 20:48] jemc commented on #1581
Ah, I didn't realize that leading whitespace counted as part of the matching regular expression for `-fallthrough`.  Just leaving out the `-` as you suggest seems like the best option.

@jwakely Thanks for the help, we appreciate it!

@russel Thanks, I'll look forward to the pull request.

[2017-02-14 20:54] russel commented on #1581
Pull request https://github.com/ponylang/ponyc/pull/1585 is currently running the tests.

[2017-02-14 20:58] #1581 closed

[2017-02-15 09:51] #1551 closed

[2017-02-15 09:55] #1176 closed

[2017-02-15 15:25] jupvfranco opened #1588 "Problems compiling pony code"
I did a `git pull` of the latest version of pony and I'm having problems compiling pony code.

When compiling code (for example [this code](https://github.com/ponylang/ponyc/tree/master/examples/circle)) with `~/ponyc/build/release/ponyc` I get the following error
[code]

However, if I use the `--pic` option, it compiles without problems.

Pony version:
[code]
Machine:
[code]

[2017-02-15 15:54] Praetonus commented on #1474
After looking into it, unions and intersections aren't picking up their subtypes during the reachability analysis.

[2017-02-15 16:52] jemc commented on #1588
Out of curiosity, do you get different results if you build `ponyc` from this commit, instead of the tip of master? 7986d8d3472b66e785e52c842e9abbc4908feccd

(You can do this by running `git checkout 7986d8d3472b66e785e52c842e9abbc4908feccd` before building `ponyc`)

[2017-02-15 17:00] jupvfranco commented on #1588
yes.
I did the `git checkout` as you said, and  `make clean; make`
So I get
[code]
and I get the same error. Still works with `--pic`

[2017-02-15 17:09] jemc commented on #1588
Thanks, just wanted to make sure my recent change to how CPU features are detected (in #1580) did not cause this problem for you.

However, now I'm noticing that this seems to be the same issue as #1484.

In order to have just one ticket open for each problem, I'm going to close this ticket in favor of moving discussion to the other one.  I will link to the other ticket from here.

[2017-02-15 17:09] #1588 closed

[2017-02-15 17:13] jemc commented on #1484
Also note that if we solve this issue in an automated way, we can revert #1152, which added instructions telling Arch Linux users to always specify the `--pic` flag.

[2017-02-15 21:59] jemc commented on #1571
In the sync call, we discussed that it should be possible to avoid adding `None` as one of the possible types of the result value.  To do this, we'd probably want to make `TK_WITH` a first-class construct instead of sugaring it to a `TK_TRY_NO_CHECK`.

We also discussed that we want to look at changing the fact that `with` will silently swallow errors in the `with` block - we think that raising th

[2017-02-15 22:03] #1474 closed

[2017-02-15 22:15] Praetonus commented on #1567
I started working on this and I think having a type descriptor on unboxed tuples won't even be necessary.

[2017-02-16 00:27] lisael commented on #1576
It looks a lot like what @Praetonus describes in #1186 https://github.com/ponylang/ponyc/issues/1186#issuecomment-244377359

Maybe a duplicate.

[2017-02-16 10:45] ilovezfs opened #1592 "Add support for LLVM 4"
In anticipation of the imminent LLVM 4.0.0 release, I'm testing whether each of the reverse dependencies of LLVM in Homebrew core are able to build. Unfortunately, the ponyc build (28397dae4e96da2c06f56a25b17dd6d9c5b431fe) fails with
[code]

Full build log: https://gist.github.com/ilovezfs/166d8b2494a5ea1dbf73d66cc08114cf

[2017-02-16 11:21] Praetonus commented on #1561
This should be fixed with #1591 merged. Feel free to reopen the issue if you encounter another bug in that area.

[2017-02-16 11:21] #1561 closed

[2017-02-16 12:30] Praetonus commented on #1592
We haven't added LLVM 4.0 support yet. Unfortunately I'm unable to find the changelog for that version so I don't know what kind of changes would be required. Has anyone been able to find it?

[2017-02-16 12:31] ilovezfs commented on #1592
http://www.llvm.org/pre-releases/4.0.0/rc2/docs/ReleaseNotes.html

[2017-02-16 15:01] Praetonus commented on #1592
Thanks for the link. Apparently the changes to the DI API aren't described yet. I think we'll have to wait until there is enough information in the changelog to work on adding the support of that version.

[2017-02-16 21:46] Praetonus commented on #1553
I'm going to assign myself to this one. I'll also implement a more complete crash reporting system in order to track tricky bugs like the one that occurred in #1587 more easily.

[2017-02-17 13:10] sgebbie commented on #1561
Thank you for attending to this.

Unfortunately, while my code now compiles, the resultant program unfortunately core dumps on a segmentation fault :(

(One of my other programs, that shares some code with the SIGSEGV one, now compiles and runs correctly as expected)

[code]

[2017-02-17 13:44] sgebbie opened #1594 "Compiled binary triggers SIGSEGV"
#1561 revolved around a snippet that triggered a compiler abort related to tuple handing and GC tracing.

As of #1591 the code snippet now compiles and runs successfully. Additionally, the original code that uncovered this bug also compiles.

Unfortunately, the compiled program now triggers a SIGSEGV. This may be related to the fix (3d4c5782750b32739c2cef5890ce57c8c7f9bae8) that enabled  it to now

[2017-02-17 13:49] sgebbie commented on #1594
Digging a bit deeper there seems to be a problem with the dispatch code somewhere before it enters the actor `apply` behaviour. The segfault is from trying to dereference register `cx` that is pointing to location 0x019. But beyond stating the obvious, I realise that this doesn't really help show where the problem is :)

[code]

[2017-02-17 14:04] sgebbie commented on #1594
Hunting through the code and taking a stab, it looks like this might be related to code generated by:

[code]

[2017-02-17 14:10] Praetonus commented on #1594
The segfault is between calls to `pony_gc_send` and `pony_gc_recv` so I believe this is yet another bug in the trace generation.

What is the signature of `_SingletonManagerDriver.apply`?

[2017-02-17 14:17] sgebbie commented on #1594
The apply behaviour at _test_singletons.pony:76 is:

`be apply(m: (String | U32 | Singleton | (SingletonManager,Updateable,Lifecycle,Health)) ) =>`

with:

* Health - an interface
* SingletonManager - an actor
* Updateable - a union type of various classes
* Lifecycle - a union type of primitives
* Singleton - a trait

[2017-02-17 14:55] Praetonus commented on #1594
I've already uncovered a bug related to boxed machine word tracing. I'll keep digging into it to see if there are more bugs.

[2017-02-17 15:11] Praetonus commented on #1594
Looking at the location of the segfault, it looks like an unboxed value is being sent in the message when every possible value in that union should be a boxed value or a true object. Are you able to isolate the message send associated to that buggy receive? If you are, what is the type of the value on the sending side?

[2017-02-17 15:23] sgebbie commented on #1594
In short, I am fairly sure the type triggering failure is: `U32`.

Below is a output of the binary when I run only the segfaulting test. The first thing that the `apply` behaviour does is to print out some information about the message (as well as an internal state ID - the number 0, 1, ...).

This would imply that the last message to succeed and be processed by `apply` was of type `String`, with

[2017-02-17 15:30] sgebbie commented on #1594
Ah, further to the above comment, I just twigged:
[code]
with 25 being the expected value of the `U32` in my unit test.

[2017-02-17 15:34] Praetonus commented on #1594
Then that means my above assumption was correct, the `U32` is being sent as a raw number instead of being boxed. That's a really strange bug. How does the code that sends that faulty message look like?

[2017-02-17 15:47] sgebbie commented on #1594
The `destination` in the code snippet below is, in this case, initialised to reference the actor with the `apply` method that is triggering the bug.

[code]

[2017-02-17 16:03] Praetonus commented on #1594
Thanks. I've reduced it to a minimal case.

[code]

What happens here is that from the point of view of `Capture.apply`, there is no need to box the value since it doesn't see the whole set of possible destination types.

I'm unsure on how to fix it. We could look at the signature of the function on every possible subtype and box the value if need be. But then we'd have a problem when one subtype

[2017-02-17 16:38] sylvanc commented on #1594
What theoretically should be happening here is that in `reach.c`, `Main` is seen as a subtype of `Capture`. At that point, `add_rmethod_to_subtype` should add the mangling that takes an unboxed `I32` to `Main`. That seems like it should work, but clearly something is going wrong.

[2017-02-17 16:42] Praetonus commented on #1594
@sylvanc Looking at the generated IR, both mangled functions are generated and present in the vtable. The issue seems to be on the vtable index used when sending the message.

[2017-02-17 16:49] Praetonus commented on #1594
No, wait, that's the correct vtable index. The problem comes from the inlining of the message send in the caller function, which results in the message being sent with a bad ID (the vtable index of the unboxed mangling instead of the index of the boxed mangling). I think the fix should be to suppress that optimisation when the message send is made through an interface and there is a value that can

[2017-02-17 16:51] sylvanc commented on #1594
In `gencall.c`, `dispatch_function` is called with a `reach_method_t*`. This is derived in `gen_funptr`, `gen_call`, and `gen_pattern_eq`. In each case, it is derived from `reach_method` being called on the type, with the receiver capability, with the method name, and the type arguments. Should `reach_method` be accounting for the argument types to get the right mangled version?

[2017-02-17 16:52] sylvanc commented on #1594
Sorry, posted before reading your post. Maybe it doesn't need to account for argument types :) Yes, you're right, when inlining, it may need to call the real `__send` function.

[2017-02-17 21:35] sgebbie commented on #1594
So, if I'm understanding this correctly, the code generation is creating two functions that are placed into the vtable under the assumption that the are sufficiently interchangeable and should have compatible signatures. However, strictly speaking the signatures are different since one accepts unboxed values and the other accepts boxed values. And then the selection of the representation of the va

[2017-02-18 15:42] Praetonus commented on #1594
@sgebbie That's the idea, yes. And the mangling taking an unboxed value simply boxes the value and forwards to the mangling taking a boxed value.

[2017-02-18 20:24] rhencke opened #1600 "Syntax errors in ANTLR Pony grammar."
There are several syntax errors in Pony.g due to backslash symbols not being escaped - they are printed as ```'\'```, but ANTLR requires them to be printed as ```'\\'```

For example, for ```annotatedrawseq```:
```  : ('\' ID (',' ID)* '\')? (exprseq | jump)```

should be:
```  : ('\\' ID (',' ID)* '\\')? (exprseq | jump)```

[2017-02-18 20:48] rhencke opened #1602 "Duplicate token error in ANTLR grammar."
Currently, the ANTLR grammar, when given to ANTLR3, complains with the error:

[code]

It appears that this is due to ```TK_MINUS_TILDE_NEW``` being output as simply ```'-~'```, and not, say, as ```TK_LPAREN_NEW``` is (as a newline, followed by the token).  Its definition in the ANTLR grammar currently is identical to ```TK_MINUS_TILDE```s.

[2017-02-18 21:09] #1600 closed

[2017-02-18 21:09] jemc commented on #1600
Fixed by #1601.

[2017-02-18 22:08] #1602 closed

[2017-02-18 22:08] jemc commented on #1602
Fixed in #1604.

[2017-02-19 01:31] Triangle345 commented on #1203
I started working on this somewhat.. at the very least I can contribute a thin c wrapper for windows processes. Then maybe start incorporating it into proc monitor.

[2017-02-19 05:52] jemc commented on #1203
@Triangle345 Thanks!

[2017-02-19 05:56] rhencke opened #1607 "ANTLR grammar rejects escaped single quote in character literals."
Currently, the ANTLR grammar rejects tokens of the form ```'\''```, but the Pony lexer accepts this as an escaped single quote.

Conversely, the ANTLR grammar accepts tokens of the form ```'\"'```, but the Pony lexer rejects this token.

[2017-02-20 09:10] sylvanc commented on #1607
Fixed in #1608... by you :) Thanks!

[2017-02-20 13:18] mindplay-dk commented on #515
I feel like the implicit name-based privacy thing came back with Go, and I don't feel like this was well-founded - in my opinion, they were favoring brevity over correctness.

As others pointed out, Pony doesn't need this - the compiler makes the guarantees.

As Jonas said, when you bring this up with the Go community, they get defensive.

In most OO communities, prefixing private or protected mem

[2017-02-20 14:13] SeanTAllen commented on #515
We have a RFC process for such changes. If you are interested, please feel free to open a RFC.

https://github.com/ponylang/rfcs/blob/master/README.md

[2017-02-20 21:36] Theodus commented on #1548
closed via #1563

[2017-02-20 21:36] #1548 closed

[2017-02-20 21:37] Theodus commented on #1548
Thanks again @pdtwonotes!

[2017-02-21 15:52] jemc opened #1609 "Assertion failure bug in new robin hood hashmap implementation."
When compiling one of my programs using latest ponyc master, I get an assertion failure, originating from the new hashmap implementation from #1574 (the issue goes away if I `git checkout` a commit prior to that one).

@dipinhora - could you maybe take a look?

Here is a stack trace:
[code]

I can reliably reproduce this issue when compiling, so let me know if you need any other info from lldb.

[2017-02-21 15:53] jemc commented on #1609
Ideally we could take care of getting this fixed before the next release (#1543), since it was introduced recently.

[2017-02-21 18:17] dipinhora commented on #1609
I'll take a look at this later tonight or tomorrow morning.

[2017-02-22 13:36] dipinhora commented on #1609
@jemc I'm working on trying to reproduce the issue so I can further debug and then hopefully resolve it.

In the meantime, would you be able to provide the following output from llvm from stack frame 4?

[code]

So far, I don't see anything obviously wrong with the code and haven't been able to reproduce.

[2017-02-22 15:34] dipinhora commented on #1609
@jemc I've spent the past few hours reviewing the code and trying to reproduce the issue without success (based on commit 75e1fa76ab0d643fe99698b4f03e67d15cea3f81).

I generally work in a `Ubuntu 16.04 64 bit` VM in Virtualbox (on OSX) with the following compiler:

[code]

What compiler and platform are you working on? Are you able to reproduce the issue on a different platform or with a different

[2017-02-22 15:42] jemc commented on #1609
@dipinhora Here's the output of LLDB for the commands you asked about:
[code]
[code]
[code]

[2017-02-22 15:51] dipinhora commented on #1609
@jemc Thanks. That's helpful in narrowing down what might be happening. I'll see if I can reproduce exactly the same scenario based on this additional info and hopefully also get the same assertion failure.

[2017-02-22 16:09] jemc commented on #1609
To answer your other question, I'm using Fedora Linux, 64 bit, clang version 3.5.0.

[2017-02-22 16:13] jemc commented on #1609
@dipinhora - I've uploaded the project in progress to GitHub, with a commit that reproduces reliably for me.  Here's how you can reproduce (if it works on your platform):

[code]

[2017-02-22 19:41] dipinhora commented on #1609
@jemc thanks for uploading the project. I get a different error (a segfault) when I compile it but it is still related to the hashmap change.

I'm not sure why yet, but the following change resolves the error I get:

[code]

Can you apply the same change and see if it resolves your issue also while I try and figure out what's really going on?

[2017-02-22 21:02] dipinhora commented on #1609
@jemc I also don't get the error if I use the code from PR #1597.

Would you be able to test against that version of the code also?

[2017-02-23 20:52] sgebbie commented on #1594
Thank you, it would seem that fa8f7adadc53c6b221b494acda777f20372e9b5e has resolved the issue. When I compile my full code base and run the executable the program now behaves as expected.

[2017-02-23 21:02] SeanTAllen commented on #1594
Awesome. I'm closing this issue.

[2017-02-23 21:02] #1594 closed

[2017-02-23 21:23] jemc commented on #1609
@dipinhora - yes, both workarounds avoid the assert error for me.

[2017-02-23 21:31] Praetonus commented on #1594
Thanks for reporting back @sgebbie. I'm currently in the process of adding tests for trace generation so hopefully this kind of problem shouldn't arise anymore.

[2017-02-24 10:07] #1328 closed

[2017-02-25 00:35] Theodus opened #1616 "Segfault in ponyint_heap_alloc_small"
ponyc version:
[code]
lldb output:
[code]

[2017-02-25 02:13] dipinhora commented on #1616
@Theodus I'm unable to reproduce using the changes from b0affdb applied on top of its parent bfeb0be or current `master`.

Can you rebase onto current `master` or, better yet, on top of PR #1615 (since it fixes a buffer overlow issue) and confirm you still get the error?

[2017-02-25 02:44] Theodus commented on #1616
I'm working on a minimal example that causes this issue.

[2017-02-25 03:21] Theodus commented on #1616
I am now using ponyc `0.10.0-b1648b8 [debug]` with similar results.
Here is the simplest example I could manage:
[code]
Output from running with LLDB:
[code]

LLDB backtrace ends up showing an infinite loop with output like this:
[code]

[2017-02-25 03:37] dipinhora commented on #1616
@Theodus I'm not surprised that that example code is causing what is effectively an infinite loop.

From my reading of the code, every time `foo` is called, it calls itself to get the result and then append `xs` to it. But there's no base case so it will never stop recursing.

[2017-02-25 03:39] Theodus commented on #1616
@dipinhora I agree. After reducing it down it no longer seems like what I thought it might be.

[2017-02-25 03:39] #1616 closed

[2017-02-25 06:27] #1609 closed

[2017-02-25 19:44] #1553 closed

[2017-02-25 21:10] cquinn commented on #471
I finally polished up the RFC and made a PR: https://github.com/ponylang/rfcs/pull/80

[2017-02-25 23:17] Triangle345 commented on #1203
How should we test this functionality. Should I add a windows section to the test file? I notice it is currently linux specific.

[2017-02-26 01:19] SeanTAllen commented on #1203
Yes. If tests that are currently Linux and OSX only pass then we can feel confident that Windows support is working.

[2017-02-26 01:20] SeanTAllen commented on #1203
@Triangle345 once that is in place, if you are interested in further extending ProcessMonitor support then you could revive this PR to bring async write buffering support (which would then be across platforms). Its old and somewhat dated but could serve as a good basis for additional work.

https://github.com/ponylang/ponyc/pull/1014

[2017-02-27 04:02] jemc commented on #471
Great, thanks!  I'll go ahead and close this now, in favor of discussing in the RFC thread.

[2017-02-27 04:02] #471 closed

[2017-03-03 01:21] SeanTAllen commented on #1543
@Praetonus @jemc We ready to do this release?

[2017-03-03 03:28] Shorttail opened #1625 "Extreme busy wait"
I was trying out the Timer class, running an exact copy of the version in the doc: http://www.ponylang.org/ponyc/time-Timer/#timer

[code]
I expected cmd to output numbers every few seconds with little to no CPU utilization.

Cmd did display the numbers, but at 50% CPU utilization. When I ran the program from Git Bash (MinGW64) there was no output. I suspect the overhead of printing to the MinGW c

[2017-03-03 16:01] Praetonus commented on #1543
@SeanTAllen Apparently https://github.com/ponylang/ponyc/pull/1610 broke the build for Clang 3.5. It should be trivial to fix, can we hold off the release until that's resolved?

[2017-03-03 16:06] SeanTAllen commented on #1543
Yup.

[2017-03-03 23:09] SeanTAllen commented on #1625
The Git Bash problems are a known issue #1402.

@Shorttail could you try building from source and see if you get the same issue?

[2017-03-03 23:10] SeanTAllen commented on #1625
@kulibali do you have time to try this out and see if you get the same issue?

[2017-03-03 23:42] kulibali commented on #1625
I'm running Windows 10, but I can confirm that this behaviour exists there as well.  `ponyc --version`:

    0.10.0-211e05d [release]
    compiled with: llvm 3.9.1 -- msvc-14-x64

Compiling and running the timer program uses 50% of 8 CPU cores with `cmd.exe`, and doesn't print numbers in Git Bash.

[2017-03-04 03:12] Shorttail commented on #1625
Git Bash for Windows 7 doesn't use the WLS as far as I know, that's a feature for Windows 10 only.

[2017-03-04 03:35] Shorttail commented on #1625
I'm getting unresolved external symbol ponyint_pool_alloc_size when compiling. Both master and release say Windows build is failing. What branch should I try?

[2017-03-04 04:38] kulibali commented on #1625
What version of Visual Studio are you using?  What version of the Windows 10 SDK do you have installed?

[2017-03-04 04:47] Shorttail commented on #1625
Visual Studio 2015 and Windows 10 SDK 10.1.14393.33.

[2017-03-04 04:49] kulibali commented on #1625
Send me (gordon dot tisher at gmail dot com) the output of `make configure && make -v` on the master branch, please, and I'll try to see what is going on.

[2017-03-04 05:21] kulibali commented on #1625
Thanks for sending me that output.  The crucial error is:

    LINK : warning LNK4044: unrecognized option '/WHOLEARCHIVE:libponyrt.lib'; ignored

It looks like you have a version of Visual Studio 2015 prior to Update 2, since the `/WHOLEARCHIVE` flag was only introduced to `link.exe` in Update 2.  Can you update to the latest VS2015 and try again, please?

[2017-03-04 07:49] Shorttail commented on #1625
Installing update 3 helped and both debug and release build just fine.

The problem persists, however, and I still see 50% CPU utilization.

[2017-03-04 09:20] SeanTAllen commented on #1625
Thanks @shorttail.

Does using the self compiled ponyc fix the Git Badh issue?

[2017-03-04 17:22] Shorttail commented on #1625
It does not fix Git Bash. However, lowering the repeat timer to 2 ms makes numbers get through sometimes.

I'm pretty sure I've observed this problem in programs written in other languages too, the layers of MinGW are a lot of overhead. I'm sure the output will show once the busy waiting is dealt with, Pony programs that actually terminate output just fine in Git Bash.

[2017-03-04 17:32] sophiaIC opened #1635 "syntax supporting a sequence of declarations of same type?"
Is there no syntax to allow a sequence of fields to be declared,
Eg, I would like to write
`    actor Client`
`         var   i1, i2 : I32`
but this is a syntax error.

Is there an alternative way of doing this, rather than
`    actor Client`
`         var   i1: I32`
`         var   i2: I32`

[2017-03-04 19:51] sophiaIC commented on #1635
Thanks, I was wondering whether it was an “issue”

Sophia

From: Sean T Allen <notifications@github.com>
Reply-To: ponylang/ponyc <reply@reply.github.com>
Date: Saturday, 4 March 2017 at 19:33
To: ponylang/ponyc <ponyc@noreply.github.com>
Cc: "Drossopoulou, Sophia" <s.drossopoulou@imperial.ac.uk>, Author <author@noreply.github.com>
Subject: Re: [ponylang/ponyc] syntax supporting a sequence of decl

[2017-03-05 05:54] jemc commented on #1635
@sophiaIC - Pony doesn't currently have that kind of abbreviated syntax for multiple references of the same type.  If we were to add it, it would have to go through [the RFC process](https://github.com/ponylang/rfcs).

[2017-03-06 11:15] Arie-vw opened #1636 "How to install on Windows?"
Hi,
the scarce comments on installing in Windows are not evident at all (for me at least).
Please elaborate a bit more on the individual steps needed.
It would be nice to have binaries for Windows. I tried to download, but what I get is a file without extension. So, what next???

TIA, Arie

[2017-03-07 03:11] Theodus opened #1641 "Bad error message in with block"
ponyc version:
[code]
source:
[code]
compiler output:
[code]

[2017-03-07 12:52] Arie-vw commented on #1636
On the mailing list I got this recipe which is quite adequate:

   1. Installed  Visual C++ build tools from http://landinghub.visualstudio.com/visual-cpp-build-tools
    2. Windows 10 SDK from https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk
    3. Download this zip file from bin tray https://dl.bintray.com/pony-language/ponyc-win/ponyc-release-0.10.0-2090.1c33065-win64.zip

[2017-03-07 13:05] SeanTAllen commented on #1636
How is this different than the existing windows install instructions?

[2017-03-07 13:26] Arie-vw commented on #1636
​In the current docs:
- a Powershell command is shown out of the blue, without stating that it
actually is a Powershell command
- it does not state that that command is kind of an alternative for going
to BinTray and downloading yourself
- it does not say thet the text "VERSION" must be replaced with the version
you wish (but that most people can guess)
- it does not state the latest version to ma

[2017-03-07 13:28] pikeview commented on #1636
Hi Sean,

Personally I do not find bintray navigation user friendly.
I first have to open https://bintray.com/pony-language/ponyc-win
Then click on the "ponyc-release" link to open (https://bintray.com/pony-language/ponyc-win/ponyc-release)
The release version tags are not easy to copy.  I had to click on "Files" tab to find the zip files

I think that's not appealing to new programmers especially

[2017-03-07 13:44] Arie-vw commented on #1636
Yes, that's exactly the point!

2017-03-07 14:28 GMT+01:00 Manas Marthi <notifications@github.com>:

[2017-03-07 14:01] SeanTAllen commented on #1636
You can go to https://dl.bintray.com/pony-language/ponyc-win/ to see the list of download packages, would it be easier to just point people at that url?

[2017-03-07 14:06] Arie-vw commented on #1636
Yes. *Much* easier 😀

Op 7 mrt. 2017 15:01 schreef "Sean T Allen" <notifications@github.com>:

[2017-03-07 14:36] pikeview commented on #1636
I updated the README.md
https://github.com/ponylang/ponyc/pull/1643

[2017-03-07 14:40] Arie-vw commented on #1636
Thank you both!

2017-03-07 15:36 GMT+01:00 Manas Marthi <notifications@github.com>:

[2017-03-08 06:08] wangtxxl opened #1645 "Windows 10 docker"
`docker pull ponylang/ponyc:latest`

`docker run -v E:/work/pony/hello:/src/main ponylang/ponyc`

Building builtin -> /usr/local/lib/pony/0.10.0/packages/builtin
Building . -> /src/main
Generating
 Reachability
 Selector painting
 Data prototypes
 Data types
 Function prototypes
 Functions
 Descriptors
Optimising
Writing ./main.o
Linking ./main
Warning: environment variable $CC undefined, using cc

[2017-03-08 15:15] SeanTAllen commented on #1645
@wangtxxl Its unclear to me why you open this issue.

[2017-03-08 23:17] albertnetymk opened #1646 "ponyint_hashmap_optimize"
According to the name, `ponyint_hashmap_optimize`, and its comment in `hash.h`, it seems that not calling this function would only aggravate the performance, but correctness is kept intact. I wonder if my understanding is correct.

I did try to find the answer in #1574, and the two linked blog post, but can't locate anything.

[2017-03-08 23:47] dipinhora commented on #1646
@albertnetymk, `ponyint_hashmap_optimize` might be a poor name for the function. Please let me know if you have suggestions for a better name and we can rename it.

The intent of the function is to allow for an optimization related to deleting elements due to how the runtime uses hashmaps (objectmaps specifically).

At a high level, the runtime does the following:

1. Run actor behaviors to handle

[2017-03-09 00:30] albertnetymk commented on #1646
Thank you for the prompt response and elaborate explanation. I see, so it's used to restore the (temporarily) broken invariant. IOW, it will be an error (instead of performance deterioration) if it's not called after those consecutive deletes. Then, IMO, it's a bit misleading to name it `xxx_optimize`; possibly sth like `ponyint_hashmap_relocate` might be better. Either way, placing a excerpt of w

[2017-03-09 01:31] agarman commented on #1646
What's described by @dipinhora  is 'defrayment' of an 'amortized' cost.

[2017-03-09 02:42] SeanTAllen commented on #1646
@albertnetymk there doesn't appear to be an issue to resolve here. we have mailing list for more general questions. You can find a listing of them here:

https://pony.groups.io/g/pony

The two most relevant would be pony user and pony dev that are for user questions and conversation related to the development of pony in particular.

I'm going to close this issue as there's nothing to fix here. Ple

[2017-03-09 02:42] #1646 closed

[2017-03-09 03:12] wangtxxl commented on #1645
@SeanTAllen  sorry close  this issue   fault

[2017-03-09 03:17] #1645 closed

[2017-03-10 14:35] SeanTAllen commented on #1543
@Praetonus has the clang 3.5 issue been resolved?

[2017-03-10 15:09] jemc commented on #1543
@SeanTAllen yes.

[2017-03-10 17:25] SeanTAllen commented on #1543
Ok, so @jemc @Praetonus shall i do a release this weekend?

[2017-03-10 17:44] jemc commented on #1543
No objections from me.

[2017-03-11 12:44] SeanTAllen commented on #1543
I'm going to assume that 1 ok is enough. TravisCI and Appveyor are all good. Going to start the release.

[2017-03-11 12:46] SeanTAllen commented on #1543
@Theodus i'm going to assume the release script wasn't tested on OSX? because it errors out on me...

`sed: 1: "CHANGELOG.md": invalid command code C`

[2017-03-11 12:57] SeanTAllen commented on #1543
@Theodus it appears the sed usage is non portable:

http://stackoverflow.com/questions/4247068/sed-command-with-i-option-failing-on-mac-but-works-on-linux

[2017-03-11 13:14] SeanTAllen commented on #1543
@Theodus I pushed a fix for this. Its not pretty but...

https://github.com/ponylang/ponyc/commit/2aaa174537df8d3b166a896ed5dd0bc3947a2040

Something we need to be aware of going forward.

Related: the differences between GNU and BSD said are awful. Ugh.

[2017-03-11 13:42] SeanTAllen commented on #1543
Using `c1a87a0f48e8a40747b52bb5c449e57fdb0da64a` as golden commit

[2017-03-11 13:51] SeanTAllen commented on #1543
Blessing 4ccafba1bfc230dc8d5e00a092cd133d50e80678

[2017-03-11 13:56] SeanTAllen commented on #1543
UPDATE: apparently that didnt work, i still end up with an error, working on it.

[2017-03-11 14:45] SeanTAllen opened #1651 "Release script leaves extra whitespace"
@Theodus I'm not at all a sed person, but I was testing updates to make sure this worked on OSX and I found that when removing empty sections it leaves behind extra newlines that wouldn't be there if we did manually. I tried to figure out how to adjust but I don't know how. Can you take a look?

[2017-03-11 14:53] SeanTAllen commented on #1543
@Theodus i addressed by making GNU sed required. Kind of a pain but it works and I don't know sed and couldn't make the script portable otherwise:

https://github.com/ponylang/ponyc/commit/21d37aa2fed6f5d7e6deff292ef863f6b1fe2e8d

[2017-03-11 14:53] SeanTAllen commented on #1543
Release is underway

[2017-03-11 14:57] SeanTAllen commented on #1543
release branch recreated. VERSION and CHANGELOG updated on master.

[2017-03-11 15:06] SeanTAllen commented on #1543
homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/10899

[2017-03-11 15:07] SeanTAllen commented on #1543
@stefantalpalaru release is underway.

[2017-03-11 15:33] SeanTAllen commented on #1543
The only update standard library docs on release task successfully executed. First time since the change, just wanted to note that all is in fact, good on that front.

[2017-03-11 15:35] SeanTAllen commented on #1543
Windows, RPM and Debian versions are available in Bintray.

Waiting on Homebrew.

Does anyone know why the Windows version creates two archives whereas RPM and Deb create one?

@killerswan ? ^^

[2017-03-11 15:39] SeanTAllen commented on #1543
Homebrew is done (damn that was fast).

The release process change over there, so I might need to update release docs a little.

I'll send out release notice email etc after I make myself some food.

[2017-03-11 16:12] Theodus commented on #1651
@SeanTAllen Just to make sure, how many lines should be between the empty sections? Currently two are placed (with a third after the "Changed" section, which should be fixed).

[2017-03-11 16:32] SeanTAllen commented on #1651
I tested with

[code]

and it ended up as

[code]

[2017-03-11 16:54] SeanTAllen commented on #1543
Release notice sent. Only thing outstanding is Gentoo update that @stefantalpalaru maintains. I assume he still is and will leave this open for now.

[2017-03-11 17:14] #1651 closed

[2017-03-11 17:16] stefantalpalaru commented on #1543
Gentoo ebuild updated. I'll make a PR with the fix for linking with "--as-needed".

[2017-03-11 17:31] SeanTAllen commented on #1543
Awesome. Thanks @stefantalpalaru.

[2017-03-11 17:31] #1543 closed

[2017-03-11 18:17] rurban commented on #1592
The current dev version llvm-5.0.0svn will require some more minor changes.
Basically many `char*` types need to be changed to `std:string` or `llvm::DIFile *`
Nothing serious though.

In my other projects clang-4.0 is about 20% run-time, and with zapcc (based on that) compile-times are drastically faster. (like 5x).

[2017-03-11 19:01] SeanTAllen commented on #1543
re: duplicate windows entries, it appears that setting the tag causes a second appveyor build...

<img width="1053" alt="screenshot 2017-03-11 13 59 44" src="https://cloud.githubusercontent.com/assets/193596/23826053/49c54860-0663-11e7-9284-35ff269af5e4.png">

[2017-03-11 19:09] SeanTAllen opened #1655 "Duplicate Windows Bintray releases"
Currently when we do a release, we first merge to release and then tag then push.

This results in 2 Windows releases. Appveyor builds for both the merge and the tagging.

You can see an example here:

<img width="1053" alt="screenshot 2017-03-11 13 59 44" src="https://cloud.githubusercontent.com/assets/193596/23826139/e2653ba2-0663-11e7-8b50-18c480568822.png">

The explanation of why this happens

[2017-03-11 19:24] SeanTAllen commented on #1655
The other option here is to set `skip_tags: true` in `.appveyor.yml`. With that in place, then I believe appveyor would act like travis and not build on a tag only push. Which might be a better solution as they would then act the same.

[2017-03-11 21:06] agarman commented on #1483
I can no longer reproduce with:

Also latency is much improved:
- 2.5ms in 0.11.0 versus 25ms in 0.10.0
- 99% of <4ms versus <60ms
- only downside is that the 1% maxed at 250ms versus 125ms in 0.10.0

Closing the issue.

[2017-03-11 23:17] SeanTAllen opened #1659 "Release 0.11.1"
Cut official release that will compile on FreeBSD.

Shouldn't be undertaken until #1658 is merged.

[2017-03-12 03:42] #1655 closed

[2017-03-12 13:11] azzuwan opened #1661 "Illegal Instruction ponyc Hello World example"
I'm on Linux Deepin ( Debian Jessie) using the bintray DEB package

Stack trace:

_strace ponyc
[code]
_

[2017-03-12 13:43] SeanTAllen commented on #1661
@azzuwan can you try building from source and seeing if you have the same problem?

[2017-03-12 17:46] azzuwan commented on #1661
I'm on x86 64 bit intel CPU. I just compiled from source. The compilation process was smooth but executing hello world gives me this:
![ponyc-error](https://cloud.githubusercontent.com/assets/816052/23834277/c7a93404-078e-11e7-9cd8-a953bf11343b.png)

[2017-03-12 18:18] davidgiven opened #1662 "Debian repository on bintray isn't signed"
Debian requires repositories to be signed, so it can verify the signatures on the packages. Unsigned repositories are disabled by default, producing this error message:

    Get:19 https://dl.bintray.com/pony-language/ponyc-debian pony-language Release [1,853 B]
    Reading package lists... Done
    E: The repository 'https://dl.bintray.com/pony-language/ponyc-debian pony-language Release' is not

[2017-03-12 18:26] davidgiven commented on #1661
This is happening to me, using the ponyc-release from the Debian archive. ponyc simply won't start. Bare metal, no virtualisation.

    $ gdb ponyc
    (gdb) run
    Program received signal SIGILL, Illegal instruction.
    0x00000000007167d9 in ponyint_next_pow2 ()
    (gdb) bt
    #0  0x00000000007167d9 in ponyint_next_pow2 ()
    #1  0x000000000071691d in ponyint_hashmap_init ()
    #2  0x000000

[2017-03-12 18:27] davidgiven commented on #1572
See also #1661.

[2017-03-12 19:16] SeanTAllen commented on #1662
There's an open issue for this I believe. Someone just needs time to take it on.

[2017-03-12 19:36] SeanTAllen commented on #1661
@azzuwan do you know which specific cpu you have, AVX and AVX2 are somewhat regular sources of problems on certain CPUs.

[2017-03-12 19:39] SeanTAllen commented on #1661
@davidgiven looks like you have an IvyBridge, I don't believe shlx is supported on it.

Sorry you are having difficulties getting started. Can you try building ponyc from source and seeing if that addresses the issue?

[2017-03-12 19:40] SeanTAllen commented on #1661
@azzuwan try building the helloworld app from within the examples/helloworld directory

you would do that by running `ponyc` in the directory. with the pony compiler, it will compile everything in the directory so you don't give it the name of a specific file.

[2017-03-12 20:45] azzuwan commented on #1661
@SeanTAllen  You are right the source compile works without the file name. A careless mistake on my side. Regarding the deb installer,  I will try again on my other machines later. This one will do for me now. Thank you!

[2017-03-12 22:00] SeanTAllen commented on #1662
This is a duplicate of #1433. Closing in favor of it.

Thanks for the reminder @davidgiven.

[2017-03-12 22:00] #1662 closed

[2017-03-12 22:10] SeanTAllen commented on #1661
@davidgiven @azzuwan sorry for the issues you hit. this has been a festering problem with AVX and prebuilts for a while. @sylvanc and I are figuring out the best "basic" prebuilts we can do that might sacrifice performance but should work across more machines. Once we get that figured out, I'll try updating our CI.

I'm going to leave this open and once Sylvan and I have a solution to try, will pi

[2017-03-12 23:41] gumpt commented on #1208
I'm looking at taking since since it's marked as an "easy" bug.

What's wrong with producing two or more rpms with different dependencies depending on the distribution targeted?  It looks like .bintray.sh will find and upload both, so the change is limited to the makefile.

Is everyone really set on having one package?

[2017-03-13 01:08] SeanTAllen commented on #1572
@sophiaIC @TobiasWrigstad can you test with the latest release and see if the issue has been fixed?

[2017-03-13 01:17] SeanTAllen commented on #1659
@andkem can you verify that the last master builds for you on FreeBSD? If you can do that, I'll release and updated version with the fix.

[2017-03-13 14:32] dc0d opened #1665 "libstdc++.so.6 not found"
I've installed Pony using [instructions](https://github.com/ponylang/ponyc/blob/master/README.md#linux-using-a-deb-package-via-bintray) for installing Pony using a deb package, on Ubuntu 14.04, the release branch.

But when I run `ponyc` in terminal, I get this error:
[code]
Also neither `sudo apt-get install libstdc++6` nor `sudo apt-get dist-upgrade` did not help.

Any ideas why am I getting thi

[2017-03-13 15:10] SeanTAllen commented on #1665
Sorry to hear you are having problems dc0d. We haven't had anyone report that issue before. Are you able to try installing from source and see if that works? That might help us determine the issue.

[2017-03-13 18:18] rurban opened #1666 "LoadCombine darwin - llvm bug"
A regression from llvm-3.5, probably caused by https://bugs.llvm.org//show_bug.cgi?id=31099
Tracking this external llvm bug, to enable LoadCombine on darwin when it's fixed.

TODO testcase: `test/libponyc/codegen_my.cc`
[code]

See #449

[2017-03-13 20:24] dc0d commented on #1665
Apparently this error is not that rare. I've found the answer to how to fix this error [here](https://github.com/cutting-room-floor/node-mapbox-gl-native/issues/138).

[code]
Seems the problem is using the lib installed from `sudo add-apt-repository ppa:ubuntu-toolchain-r/test` and not the default installed one (which before this, the latest version was `GLIBCXX_3.4.19`).

[2017-03-13 21:19] dc0d commented on #1665
(I'm no system programmer but) Why the default linker is `gcc-5` instead of just `gcc`?

Trying to compile hello world I got:

[code]

And after setting `$CC` (using `export CC="gcc"`), it compiled the source code and program successfully printed "Hello, world!".

[2017-03-13 22:43] killerswan commented on #1208
Hmm, time for some more VM juggling to see if a single package which has the dependencies is even possible, like I was trying a while back.  😅

[2017-03-13 22:56] jemc commented on #1665
@dc0d - The default for `CC` is taken from the environment in which `ponyc` was compiled.

This obviously won't always be right if `ponyc` is compiled in one environment and transferred to another, but it's at least a way to choose a default that doesn't advantage `gcc` over `clang`, for example, and it's right more often than not.

The fact that it might not be right in all cases is the reason we

[2017-03-13 23:04] insanitybit commented on #1484
I'm on Ubuntu 16.10 and I get this error even when I pass the --pic flag. Also, on a semi-related note, I would be pro "always provide --pic". This is the sane, safe default.

[2017-03-14 00:05] SeanTAllen commented on #1208
@gumpt thanks! perhaps ping @killerswan here and see what needs doing and what you can help with.

[2017-03-14 01:32] gumpt commented on #1208
@killerswan AFAIK rpms don't have the same "recommends" option that debs do, or at least FPM doesn't have a way to use it.  I was going to use `--rpm-dist el7` and `--rpm-dist fc24 -d ncurses-compat-libs` for two separate rpms.  Let me know if I can do anything.

I'll go looking for another way to contribute.

[2017-03-14 01:52] SeanTAllen commented on #1208
@gumpt if you are looking for things to take on, drop me an email. plenty of things that need doing, i'm sure we can find something that interests you. thanks!

[2017-03-14 02:40] #1636 closed

[2017-03-14 02:44] SeanTAllen commented on #1659
If it passes CI, I'm going to bless 0f9159389f8f56f5d9cef5427bfda392c0590cb7 and release that should get us the AVX fix for prebuilt binaries and also working again on FreeBSD.

[2017-03-14 02:57] SeanTAllen commented on #1661
@davidgiven @azzuwan this should be fixed by #1663. And a new version of pony 0.11.1 will be released soon. Can you please give 0.11.1 a try after it is released and see if your issues are fixed. In the meantime, I'm going to close this issue under the assumption that its been fixed.

[2017-03-14 02:57] #1661 closed

[2017-03-14 02:58] SeanTAllen commented on #1331
I believe this should be fixed by #1663. And a new version of pony 0.11.1 will be released soon. Can you please give 0.11.1 a try after it is released and see if your issues are fixed. In the meantime, I'm going to close this issue under the assumption that its been fixed.

[2017-03-14 02:58] #1331 closed

[2017-03-14 03:40] SeanTAllen commented on #1659
Current plan as its almost midnight here... release first thing in the morning.

[2017-03-14 04:13] SeanTAllen commented on #1659
Release in progress. Master has CHANGELOG has been updated. VERSION has been updated. Release branch updated.

[2017-03-14 04:18] SeanTAllen commented on #1659
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/11062

[2017-03-14 04:19] SeanTAllen commented on #1659
@stefantalpalaru release underway

[2017-03-14 04:21] SeanTAllen commented on #1659
Windows release is in bintray. The update to only do a single release #1656 worked correctly.

[2017-03-14 07:13] renatoathaydes opened #1671 "ponylang.org SSL certificate is not valid for domain"
It looks like the certificate being presented by https://ponylang.org has a CN=`www.github.com` so the browser does not trust it.

Consider installing a SSL certificate for the correct domain so that it is possible to visit the site over HTTPS.

The certificate is valid until `6 April 2017` so maybe it's a good time anyway to get a better certificate.

[2017-03-14 10:35] stefantalpalaru commented on #1659
Gentoo ebuild updated.

[2017-03-14 11:00] ilovezfs commented on #1592
@rurban it builds with your patch. However, there's a segfault in the test block:
[code]

[2017-03-14 11:44] rurban commented on #1592
Yes, that's why it's still WIP
I looked at how crystal updated from 3.9 to 4.0 and they had the very same changes. So it's a bit weird.

[2017-03-14 11:56] SeanTAllen commented on #1659
Everything is released. Time to announce.

[2017-03-14 12:04] SeanTAllen commented on #1671
ponylang.org is hosted on github pages. As far as I know, github pages doesn't support SSL for custom domains.

[2017-03-14 12:14] renatoathaydes commented on #1671
Oh, looks like you're right.

https://gist.github.com/coolaj86/e07d42f5961c68fc1fc8

In the comments on the ticket above, most people suggest using Cloudfare to provide the encryption and SSL certificate, and there's a suggestion to use [nginx-pages](https://github.com/samuelcolvin/nginx-pages) rather than GitHub Pages. Could be worth considering one of these options.

[2017-03-14 12:21] SeanTAllen commented on #1671
All of which requires $ that as an open source project without funding we don't have. From a standpoint of things that cost $, before we invested in hosting. That said, it appears Netlify offers a free plan for open source projects:

https://www.netlify.com/open-source/

I'm marking this as something to be discussed at the next sync.

@renatoathaydes if we decide to switch from gh-pages to netlify

[2017-03-14 12:27] SeanTAllen opened #1672 "Have release.sh handle updating CHANGELOG when only some fixes are being released"
There's an assumption in release.sh that the process will work cleanly from beginning to end.

This is true so long as

- CHANGELOG has changed while the script is being run (probable)
- You are releasing from a commit that is the most up to date CHANGELOG

If the latter isn't the case, you will run into issues when merging the CHANGELOG to updates to master and adding a new unreleased section.

M

[2017-03-14 12:27] renatoathaydes commented on #1671
I would love to help if I have the knowledge to do so. Let me know what you decide!

[2017-03-14 12:27] SeanTAllen commented on #1659
Announced.

Thanks y'all 0.11.1 is in the wild.

[2017-03-14 12:27] #1659 closed

[2017-03-14 12:37] killerswan commented on #1208
Regarding @sylvanc's "Recommends" suggestion: if I understand correctly (per [old Stack Overflow conversations](http://unix.stackexchange.com/a/57527) and [the FPM docs](https://github.com/jordansissel/fpm/wiki)), RPM doesn't support weak dependencies like that.

There is, however, FPM's `--provides` flag, which will make RPM virtual packages (which multiple things can provide).  Hence the hierarc

[2017-03-14 14:17] jtfmumm opened #1674 "Fields should be able to be defined in either branch of a try in a constructor"
Currently, if you define a field in both branches of a try, the compiler reports "field left undefined in constructor."

I can see how this would be a problem if the field declaration used `let`, but in the case below it uses `var`, so potentially assigning to `t` twice shouldn't be a problem.

[code]

[2017-03-14 15:50] jemc commented on #1674
I'm currently refactoring this area of the compiler, so I'll probably have the chance to look at this soon. I agree that it *should* work as described.

In the meantime, a workaround would be to move the `t =` assignment to the outside of the `try` block:
[code]

[2017-03-14 16:57] SeanTAllen commented on #1399
I'm unassigned @enigma and setting this back to ready for work.

[2017-03-14 17:00] killerswan commented on #1208
It seems that I spoke too soon about weak dependencies: [they can be specified now](http://rpm.org/user_doc/dependencies.html), although RPM ignores them, I'm not sure FPM can be used to add them, and I'm not sure either Yum or DNF does anything with them yet.

But anyways using the "provides" feature like I was planning above, I've now got a pair of packages to play with at https://github.com/kil

[2017-03-14 17:06] Theodus commented on #1672
@SeanTAllen are you suggesting that `commit changelog and push to master` section should become optional?

[2017-03-14 17:08] SeanTAllen commented on #1672
@Theodus yes. it would allow for smooth handling of the edge case will arise at some point.

[2017-03-14 17:09] Theodus commented on #1672
@SeanTAllen Ok, I'll get on that.

[2017-03-14 17:23] SeanTAllen commented on #1672
I wasn't suggesting you do it @Theodus. Just wanted to discuss with you. Thank you though for taking it on.

[2017-03-14 19:07] #1672 closed

[2017-03-14 19:08] SeanTAllen commented on #1672
Closed by #1675

[2017-03-14 21:17] Jonke commented on #1625
Got the same issue, a unproportional high cpu load for this, on macOS Sierra

`
$ ponyc --version
0.11.0 [release]
compiled with: llvm 3.9.1 -- Apple LLVM version 8.0.0 (clang-800.0.42.1)`
`
$ bash --version
GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin16)
Copyright (C) 2007 Free Software Foundation, Inc.
`

[2017-03-14 21:22] SeanTAllen commented on #1625
@jonke did you compile ponyc yourself or did you get via homebrew?

[2017-03-14 21:25] SeanTAllen commented on #1625
@Shorttail @Jonke does either of you have time to do a "manual git bisect" and isolate the commit when the problem arises?

[2017-03-14 21:25] Jonke commented on #1625
@SeanTAllen with homebrew

[2017-03-14 21:35] Jonke commented on #1625
@SeanTAllen I'll try to make some time but what should be the good commit point?

[2017-03-14 22:06] SeanTAllen commented on #1625
honestly @Jonke i have no idea. when i have time, ill review commits and try to find some good places.

before you do that though, just try building from source to make sure you still have the issue.

also, thank you very much for helping.

[2017-03-14 22:10] insanitybit opened #1676 "Poor error message for missing constructor arguments."
[code]

not enough arguments
    let directory = Directory.open(target)

[2017-03-14 22:16] SeanTAllen commented on #1676
I asked @insanitybit to open this in IRC.

If you look at Directory.open:

`  fun open(target: String): Directory iso^ ? =>`

it takes a single argument that is a string. However, its not a constructor. The error message that results from calling on `Directory` the class rather than an instance of the class could be much better.

[2017-03-14 23:12] Jonke commented on #1625
@SeanTAllen I built with every tag from 0.4 up to HEAD with both llvm 3.8 and 3.9 and could not see any difference with the timer example from the time package.

However it one changes the slop value it get a significant effect on the cpu usage, a slop = 1 gave me a cpu load 200%, a slop value =40 0.2% but then off course the timer don't work as expected.
The default slop = 20 ~25% cpu.

[2017-03-15 02:43] SeanTAllen commented on #1625
@jonke what cpu do you have in your machine?

[2017-03-15 08:25] killerswan commented on #1208
Somewhat tangentially to all this, now I'm currently looking for advice about how basic Fedora package management is supposed to work.

Behold this insanity (with my personal bintray repo [which now has a ponyc-release 0.11](https://bintray.com/killerswan/ponyc-rpm)):
[code]

Consistently `sudo dnf info` finds the 0.11 version, `dnf info` finds the 0.2 version, and `sudo dnf install` finds the 0.2

[2017-03-15 08:50] killerswan commented on #1208
Yep, `dnf --refresh ...` makes it stop using old caches. 🍺

[2017-03-15 09:33] killerswan commented on #1208
Victory is mine!

On Fedora 25:
[code]

On CentOS 7:
[code]

Hooray!! 🍾

[2017-03-15 09:59] killerswan commented on #1208
TODO:
1. Move [my ponydep-ncurses](https://github.com/killerswan/ponydep-ncurses) repository into our ponylang org.
1. Update it's Bintray credentials and start Travis builds for it.
1. Merge https://github.com/ponylang/ponyc/pull/1680, adding that dependency to ponyc-release RPM packages.
1. Consider adding other dependencies besides ncurses!

[2017-03-15 10:10] killerswan commented on #1208
Before I set all that Bintray stuff up, any objections to the naming I've used, above?

[2017-03-15 11:27] SeanTAllen commented on #1661
@azzuwan did this fix the issue for you? i've received a couple of reports of continuing problems with "illegal instruction"

[2017-03-15 12:04] SeanTAllen opened #1682 "Illegal Instruction"
I've received a couple reports via email and IRC that with 0.11.1 people are still getting "illegal instruction" errors from the prebuilt binaries that don't happen when building from source.

`arch=` appears to not have solved the problem or I incorrectly implemented the idea in #1663.

If you are experiencing the "illegal instruction" error when using prebuilt ponyc, please include your OS, LLVM

[2017-03-15 12:05] SeanTAllen commented on #1682
Here's one report I received via email

[code]

[2017-03-15 12:57] SeanTAllen commented on #1682
@dipinhora pointed me to part of the conversation here: https://github.com/ponylang/ponyc/issues/1331#issuecomment-256487973

it seems we should do `arch=i686` for the broadest possible support. there is already a note for linux prebuilt packages that says you should build from source to get best performance. i think setting `arch=686` makes sense and we should cut another release when that is don

[2017-03-15 13:02] MauroJr commented on #654
I'm just getting started with PonyLang, when I installed Ponyc on my Debian system, I had the same warning message.
[code]

[2017-03-15 13:03] agarman commented on #1483
Reopening after 0.11.1 release

[code]

[code]

[code]

[2017-03-15 13:08] SeanTAllen commented on #1483
@agarman there's nothing in the 0.11.1 release that should impact on this. I assume that this doesn't always happen?

Are you building from source?

[2017-03-15 13:09] SeanTAllen commented on #654
we have an issue open for this. should hopefully be closed soon. see #1433.

[2017-03-15 13:13] agarman commented on #1483
use "net/http"
use "time"

// TODO: link hiredis on linux
use "path:/usr/local/Cellar/hiredis/0.13.3/lib/" if osx
use "path:./hiredis" if linux
use "lib:hiredis"

actor Main
  """
  A simple HTTP server.
  """
  new create(env: Env) =>
    let service = try env.args(1) else "50000" end
    let limit = try env.args(2).usize() else 100 end
    let host = "localhost"
    let redis = Redis.connect()

[2017-03-15 13:14] sylvanc commented on #1682
It looks like we want `-march=x86-64 -mtune=intel` when building for an x64 general release.

It turns out a blank `arch=` means the locally installed gcc will pick an architecture, depending on how it was configured, which is unpredictable for CI machines.

For now, we should be able to do `arch=x86-64`. We can add support for `-mtune=intel` later - we should only do it when building for an x64 t

[2017-03-15 13:14] agarman commented on #1483
@SeanTAllen this is an intermittent error. It only occurs when load testing.

[2017-03-15 13:14] sylvanc commented on #1682
And yes, `-march=x86-64` is indeed undocumented :)

[2017-03-15 13:15] agarman commented on #1483
@SeanTAllen I had a series of load tests run for 30 minutes after 0.11.0 release. The error didn't occur. After the 0.11.1 release it occured three times in the first 5 minutes of testing.

[2017-03-15 13:18] SeanTAllen commented on #1682
I'll open a new PR for `-march=x86-64 -mtune=intel`

[2017-03-15 13:19] agarman commented on #1483
@SeanTAllen answer your last question... ponyc is from brew. Though when there's a relevant patch, I have tested against a local build of ponyc as well.

[2017-03-15 13:25] SeanTAllen commented on #1483
@agarman this is very interesting. When did you install 0.11.1 via homebrew, they updated the formula and switched it from using llvm 3.8 to 3.9 yesterday so, perhaps this is an llvm version related issue.

[2017-03-15 13:27] SeanTAllen commented on #1682
note to self

`make arch=x86-64` is what we want but -mtune isnt currently supported by the makefile so I need to update that for that and then make the other changes.

if someone wants to beat me to it, have at it.

[2017-03-15 14:58] plietar opened #1687 "cap_view_upper: Assertion `0` failed."
I'm getting the following assertion failed error. This is using the latest master branch.

[code]

[code]

[2017-03-15 15:30] agarman commented on #1483
@SeanTAllen I did a brew upgrade this morning. ponyc --version still states that it's using llvm 3.8.1, though llvm 4.0 was installed via brew upgrade.

[2017-03-15 15:33] ilovezfs commented on #1483
the change was 3.9 -> 3.8 while everything else was upgraded 3.9 -> 4.0

[2017-03-15 15:36] jemc commented on #1687
Thanks for filing this, and thanks for the minimal reproduction! That should make this quite easy to fix.

[2017-03-15 16:13] SeanTAllen opened #1688 "release 0.11.2"
when #1686 is merged

[2017-03-15 16:14] SeanTAllen commented on #1483
We had an issue with a similar crashing bug with 3.8.1 at Sendence. I'm going to discuss in the sync today if we can/should downgrade to 3.7.1 (in homebrew formulae) and deprecate 3.8.1 support on OSX.

[2017-03-15 16:44] jemc commented on #1687
The issue's a little more involved than I thought - marking for discussion in sync.

[2017-03-15 16:51] Jonke commented on #1625
@SeanTAllen 2,7 GHz Intel Core i5

[2017-03-15 16:53] SeanTAllen commented on #1625
How are you measuring cpu load @jonke?

[2017-03-15 16:55] Jonke commented on #1625
@Shorttail top in terminal

[2017-03-15 17:24] agarman commented on #1483
The issue is not isolated to llvm 3.8.1:

[code]

[code]

[2017-03-15 17:29] SeanTAllen commented on #1483
Wonderful so it was fixed in 3.9 but existed prior to that.

[2017-03-15 17:33] SeanTAllen commented on #1483
Thank you for investing time in this @agarman. If you install LLVM 3.9 and build pony from source on OSX, you shouldn't have an issue. We are going to be figuring out how we want to handle this. We need to get LLVM 4 support finalized but beyond that, issues like this with changing LLVM dependencies might happen with homebrew so, we eventually need a solution to that.

[2017-03-15 17:35] ilovezfs commented on #1483
FWIW: this is why I notified you 27 days ago about the 4.0 problem https://github.com/ponylang/ponyc/issues/1592. This was the only upstream that did not have a 4.0 fix by release date.

[2017-03-15 17:45] Shorttail commented on #1625
If @Jonke sees a 25% default load on an i5 (4 cores, 4 threads, Pony should use 4 threads by default) in macOS, that's the timer busy waiting on a single thread. It is not the same issue as my 50% load in Windows (4 cores, 8 threads, Pony should use 4 threads), where every every thread in use busy waits. Granted, it's still a pretty big issue.

[2017-03-15 17:53] Shorttail commented on #1625
I ran the following echo server from the TCPListener documentation:

[code]

It runs by default at 50% load and with --ponythreads 8 it uses 100%.

I'll try building older versions of ponyc.

[2017-03-15 18:02] agarman commented on #1483
@SeanTAllen still an issue in 3.9.0 ... there's no release artifact for 3.9.1 for OSX
[code]

[code]

[2017-03-15 19:03] Jonke commented on #1625
@Shorttail your net  example on my box seems to behave, i.e. it not uses 50% cpu flat out, more like idle round 0.2 %

pony version
0.11.1-c29443a [release]
compiled with: llvm 3.9.1 -- Apple LLVM version 8.0.0 (clang-800.0.42.1)

[2017-03-15 19:52] Theodus opened #1690 "RFC: bare-ffi-lambdas"
Adds "bare" lambdas for use in FFI interoperation with C libraries that use function pointers as callbacks: https://github.com/ponylang/rfcs/blob/master/text/0034-bare-ffi-lambdas.md

[2017-03-15 19:57] Theodus opened #1691 "RFC: more-promise-methods"
Additional methods for the Promise actor:
https://github.com/ponylang/rfcs/blob/master/text/0035-more-promise-methods.md

[2017-03-15 20:05] Theodus opened #1692 "RFC: improved-persistent-map-api"
Some improvements to the persistent map API:
https://github.com/ponylang/rfcs/blob/master/text/0036-improved-persistent-map-api.md

[2017-03-15 20:11] Theodus commented on #1691
This is blocked due to issues with Tuple types. See #1146, #1393, #1496

[2017-03-15 21:07] xllndr opened #1693 "32-bit compile error"
Compilation for 32-bit architecture fails with the following error:
[code]
The error occurs in this part of the code:
[code]
A suggested fix is:
[code]

[2017-03-15 21:14] Praetonus commented on #1693
Thanks for the report.

I don't think the `UINTPTR_MAX < address` check is necessary (by the way, it should be a logical OR instead of a logical AND). LLVM is storing the generated code and objects in real memory with real addresses.

Do you want to do a PR with the fix @xllndr or should I do it?

[2017-03-15 21:20] Shorttail commented on #1625
I ran all the Windows builds back to 0.2.2, the timer has 50% utilization in all of them. The echo server has that back to 0.10.0, before then the TCP part of the standard library is different and the code does not compile.

[2017-03-15 22:09] davidgiven commented on #1661
Debian updated my ponyc-release from the repository to 0.11.1-2870.922bed4 --- but it still dies. Stack dump and disassembly are identical to the previous report.

(Tangent: remember when you'd routinely install a floating point emulator on machines with no 387 coprocessor, so you could run programs that used floating point? Why don't they still do that? Being able to run binaries for other amd64

[2017-03-15 22:41] SeanTAllen commented on #1661
@davidgiven yeah we did it incorrectly. there's a new release coming soon that should hopefully fix. sorry about that. we did pretty much the wrong thing.

#1686 should fix it

[2017-03-15 22:41] SeanTAllen commented on #1688
Master has a breaking change on it. Switching to version 0.12.0

[2017-03-15 22:42] SeanTAllen commented on #1688
Travis has some scheduled maintenance that might make things slower but should otherwise be fine. Moving ahead with release.

[2017-03-15 22:43] SeanTAllen commented on #1688
Actually we have a really long backlog on master. I'm going to wait til that clears up. Expect release later tonight or maybe tomorrow.

[2017-03-15 23:01] jemc commented on #1688
The change on master actually isn't a breaking change. #1644 does not break any existing code, it only makes more code possible.

[2017-03-15 23:10] SeanTAllen commented on #1688
Ah, its under changed so I assumed that would be breaking @jemc. Thanks. I'd like to discuss changing our changelog format eventually. In the meantime, I'll switch this back to 0.11.2

[2017-03-16 04:58] plietar opened #1694 "Assertion failed in cap_from_constraint"
Ran into another generics related failed assertion
[code]

[code]

[2017-03-16 05:00] plietar commented on #1694
This produces the same failed assertion
[code]

[2017-03-16 05:04] plietar commented on #1694
According to the [comment above the assertion](https://github.com/ponylang/ponyc/blob/f2f326e022692b7305832021fb4bb2e294fce97c/src/libponyc/type/typeparam.c#L335)

So I'm guessing this is just a bug in the parser

[2017-03-16 06:47] xllndr commented on #1693
Although I am new to github, I would like to do so. Is there anything I have to consider to do it properly?
Of course it should be logical OR instead of AND, thanks for pointing that out. Since I don't know much about LLVM I'll just believe you. In the PR I would then describe the `(uintprt_t)` part.

[2017-03-16 12:06] SeanTAllen commented on #1688
Blessing be8296069019c1c23624782f79e79e74f8d1aa83

[2017-03-16 12:08] SeanTAllen commented on #1688
updated changelog is live on master. changes for release have been pushed to the release branch.

[2017-03-16 12:14] SeanTAllen commented on #1693
@xllndr the workflow to do a PR is...

1. fork the ponyc repo. you can do this via the GitHub website. It will result in you having your own copy of the ponyc repo under your account.
2. clone your ponyc repo to your local machine
3. make a branch for your change
4. make your change on that branch
5. push your change to your repo
6. use the github ui to open a PR

some things to note that aren't i

[2017-03-16 12:20] SeanTAllen commented on #1688
Homebrew PR created: https://github.com/Homebrew/homebrew-core/pull/11148

[2017-03-16 12:20] SeanTAllen commented on #1688
@stefantalpalaru a release is underway

[2017-03-16 12:21] SeanTAllen commented on #1688
Windows package is available in Bintray

[2017-03-16 12:31] SeanTAllen commented on #1688
Deb and RPM packages are available in Bintray

[2017-03-16 12:51] SeanTAllen commented on #1688
homebrew updated.

i'm going to announce the release.

[2017-03-16 12:55] SeanTAllen commented on #1688
announced.

[2017-03-16 12:55] #1688 closed

[2017-03-16 13:00] SeanTAllen opened #1695 "Improve Linux package performance"
In order to address problems on older CPUs with "illegal instruction" errors, we set the target CPU to x86-64 for Deb and RPM release builds. Original issue is #1682 and the PR to implement was #1686.

As part of #1682, we discussed that we should also build using `-mtune=intel` to get better performance. This issues exists to address that remaining change. Currently, our Makefiles don't support s

[2017-03-16 13:01] SeanTAllen commented on #1682
This should be resolved by release of 0.11.2

I'm closing this issue an opening a new one for -mtune=intel see #1695

[2017-03-16 13:02] #1682 closed

[2017-03-16 13:18] larkvirtual opened #1696 "ponyc-release 0.11.2 run failure without AVX2"
Hello!
I just upgraded ponyc-release package in Debian:
$ apt-cache policy ponyc-release
ponyc-release:
  Installed: 0.11.2-2905.3dc7568
  Candidate: 0.11.2-2905.3dc7568
  Version table:
 *** 0.11.2-2905.3dc7568 500
        500 https://dl.bintray.com/pony-language/ponyc-debian pony-language/main amd64 Packages
        100 /var/lib/dpkg/status
     0.11.1-2870.922bed4 500
        500 https://dl.bin

[2017-03-16 13:19] stefantalpalaru commented on #1688
Gentoo ebuild updated.

[2017-03-16 13:52] plietar opened #1697 "`The subtype has no constraint`, with type variable bound with another"
The following program currently fails to typecheck :
[code]
[code]

In my opinion, the compiler should be able to infer that `Y <: X`, given the bounds on the type variables.

Interestingly, the following works
[code]

But this doesn't, with the same error as above
[code]

[2017-03-16 14:19] SeanTAllen commented on #1696
I think I found the issue that it was still built with AVX2 because of some sneakiness in how travis works that no one noticed. Verifying now.

[2017-03-16 14:30] plietar opened #1698 "Infinite recursion in compiler when combining cyclic bounds and intersection types"
The following program causes the compiler to recurse infinitely, until it overflows its stack and segfaults. Using a union type `(X | N iso)` compiles fine.

[code]

This is the bottom of the backtrace in lldb. The frames before that just alternate between `typeparam.c:330` and `typeparam.c:314`
[code]

[code]

[2017-03-16 14:31] SeanTAllen commented on #1696
Ok, yup I know what is wrong.

So if you look at our current .travis.yml

It builds ponyc without any arch set. `make test-ci`
When we go to deploy, we run `make arch=x86_64 ... deploy`

The deploy step looks and sees a binary created for `make test-ci` and uses that.

aka arch changes have no impact. so the last PR would correct Docker issues but not Deb/RPM packages. There are a couple ways to a

[2017-03-16 14:33] SeanTAllen commented on #1697
FYI: with latest compiler, on El Capitian for me, compilation of this program never terminates.

[2017-03-16 14:35] plietar commented on #1697
Yes forgot to mention, this is latest compiler on Sierra for me

[2017-03-16 14:40] SeanTAllen commented on #1696
#1699 will address this issue.

[2017-03-16 14:40] SeanTAllen opened #1700 "release 0.11.3"
Once #1699 is merged

[2017-03-16 14:48] #1696 closed

[2017-03-16 14:52] jemc commented on #1694
@plietar Thanks for all the great minimal test cases for these issues.

I have a general idea of what needs to be done here, and I suspect it will be pretty simple, so I'm removing the "needs discussion during sync" label.  I'll put it back if it gets more complicated.

[2017-03-16 14:53] SeanTAllen commented on #1700
#1699 was merged by @jemc.

Once aeda61649c99295220428704aa9223d1b555baf8 passes CI, I'm going to bless it, do another release and hopefully put the "illegal instruction" issue to bed once and for all.

[2017-03-16 15:30] jemc commented on #1697
I agree, though I'd like to get input from @sylvanc, since I suspect that there may be subtle issues with capabilities here. Specifically, I want to make sure we can still use `is_cap_sub_cap_bound` to check the subtype relationship for a pair of specific references to `X` and `Y`. Some quick thought experiments make me believe that we can, but I want to get a sanity check from @sylvanc first.

[2017-03-16 15:38] jemc commented on #1698
Definitely seems like something we should support if it is possible.  I'll have to look into this later and see what's causing the cycle and if we can easily avoid it.

[2017-03-16 15:39] jemc commented on #1700
Don't say that - now you've jinxed it!

[2017-03-16 15:42] SeanTAllen commented on #1700
Crap. You're right.

[2017-03-16 16:22] ergl opened #1702 "Compiler assertion failure for lambdas without explicit type declaration"
I got a compiler assertion error from the following code

[code]

Full backtrace:

[code]

Pony compiler version (installed through Homebrew):

[code]

Running on El Capitan

[2017-03-16 18:17] SeanTAllen commented on #1700
aeda61649c99295220428704aa9223d1b555baf8 is blessed

[2017-03-16 18:19] SeanTAllen commented on #1700
release.sh has done its thing

[2017-03-16 18:21] SeanTAllen commented on #1700
@stefantalpalaru  another release underway

[2017-03-16 18:22] SeanTAllen commented on #1700
homebrew PR opened

https://github.com/Homebrew/homebrew-core/pull/11178

[2017-03-16 18:25] SeanTAllen commented on #1700
Windows release is in bintray

[2017-03-16 18:41] stefantalpalaru commented on #1700
This issue does not affect the Gentoo package.

[2017-03-16 18:54] SeanTAllen commented on #1700
Deb and RPM packages are in bintray.

[2017-03-16 19:02] SeanTAllen commented on #1700
homebrew updated.

[2017-03-16 19:04] SeanTAllen commented on #1700
announced

[2017-03-16 19:04] #1700 closed

[2017-03-16 20:22] davidgiven commented on #1661
Updated to `0.11.3-917610c`; now it works --- thanks!

(By 'working', I mean that I built the 'Hello World' sample and it worked (after adding --pic). That's all the Pony I know. Next step, work through the tutorials...)

[2017-03-16 21:05] SeanTAllen commented on #1661
WOO-HOO! sorry about all the starts and stops on that.

If you want best performance, you'll want to build from source but its a good way to get started.

[2017-03-16 21:22] SeanTAllen commented on #1433
@sylvanc did this. should be in effect starting at the next release.

[2017-03-16 21:22] #1433 closed

[2017-03-16 21:24] #1694 closed

[2017-03-16 23:03] Theodus commented on #1695
@SeanTAllen would there be any reason to use `-mtune=intel` with the Dockerfile rather than `-mtune=native`?

[2017-03-16 23:10] Theodus commented on #1695
@SeanTAllen never mind, I see the issue after trying to build the container with native

[2017-03-17 02:35] #1695 closed

[2017-03-17 02:38] SeanTAllen commented on #1208
@killerswan I believe that my merging #1680 closes this. If I was incorrect to close, please reopen.

@Triangle345 when we do our next release, can you verify that the problem was fixed?

[2017-03-17 02:38] #1208 closed

[2017-03-17 02:39] #1692 closed

[2017-03-17 03:48] SeanTAllen opened #1707 "Add skip_commits.files support to .appveyor.yml"
Appveyor kindly provides free usage to open source projects. We could make better use of the those resources by taking advantage of their `skip_commits.files` functionality to automatically skip CI for commits that are all for types of files that shouldn't need testing. For example a commit that only changed `.md` files in the ponyc repo could be skipped.

I think we should collect together a list

[2017-03-17 05:49] jemc opened #1708 "Nested lambdas can't auto-capture free references from the outer scope."
As of #1648, the following works:

[code]

But the following doesn't:

[code]
[code]

If lambdas can automatically capture free references from the immediately surrounding scope, I'd expect (principle of least surprise) that they can also do so with free references from an outer scope surrounding that scope, with the surrounding scope being made to capture the reference intermediately.

[2017-03-17 08:39] xllndr commented on #1693
Thank you very much for your help and giving me the possibility to do my very first contribution.

[2017-03-17 12:36] SeanTAllen commented on #1693
Thank you @xllndr!

[2017-03-17 12:36] #1693 closed

[2017-03-17 12:46] SeanTAllen commented on #1707
Its a little unclear from there documentation but after talking with Appveyor it sounds like

`**/*.md` is the pattern you would use to do skip ci for .md files anywhere in the repo.

[2017-03-17 14:03] ilovezfs commented on #1483
I have it depending on 3.9.1 again now: https://github.com/Homebrew/homebrew-core/commit/de282db5972e43d7cc2a4ee32f8b0654adba7e33

[2017-03-17 14:08] SeanTAllen commented on #1483
awesome. @agarman you should try updating your ponyc via homebrew.

[2017-03-17 14:21] agarman commented on #1483
[code]

[code]

[code]

[2017-03-17 14:26] SeanTAllen commented on #1707
Having `.travis.yml` in that list makes a lot of sense. No reason to run appveyor CI if the only change is to `.travis.yml`

[2017-03-17 14:26] agarman commented on #1483
Reproduce with:
[code]

[2017-03-17 14:29] SeanTAllen commented on #1483
sounds like it previously not happening with 3.9 was purely coincidental?

[2017-03-17 14:34] agarman commented on #1483
[code]

[2017-03-17 14:40] agarman commented on #1483
@SeanTAllen yeah, I closed it before increasing load. There were changes by @dipinhora and @pdtwonotes that may have made the issue harder to track down. But it eventually occurs whenever I run the stress test now (sometimes in a few seconds, sometimes after a few minutes).

[2017-03-17 15:23] SeanTAllen commented on #1707
I opened #1711 for the `.travis.yml` part of this.

[2017-03-18 03:17] jeremyjh commented on #1691
I'm very new to Pony and probably don't have this signature right but does it make sense to also have a `bind` or `flat_map` method for promises?

[code]

Or, is there a way I can turn a `Promise[Promise[A]]` into `Promise[A]` ?

[2017-03-18 13:29] luigino opened #1716 "Build test fails"
I'm packaging ponyc for openSUSE and I can't make heads or tails of this:

[code]

[2017-03-18 13:38] SeanTAllen commented on #1716
Via IRC. @luigino reported using gcc 6.3

[2017-03-18 13:42] SeanTAllen commented on #1716
@luigino some questions:

* what happens if you run the `cc` command directly:

[code]

* what is the output of `cc --version`?

* is `ld.gold` installed on the machine?

* how did you install ponyc?

[2017-03-18 13:54] luigino commented on #1716
Installing ld.gold seems to fix the issue.

[2017-03-18 13:58] #1716 closed

[2017-03-18 16:29] luigino opened #1719 "Pony build issue for aarch64"
Makefile mistakenly applies the -mcx16 switch to this arch too, but even if removed another error occurs.
(see attached log).

32 bit arm build succeeds.
[ponyc_aarch64.txt](https://github.com/ponylang/ponyc/files/852576/ponyc_aarch64.txt)

[2017-03-18 16:44] Theodus commented on #1691
@jeremyjh I expect that more methods such as flat_map will be added through future RFCs. Currently, the next method acts as "bind".

If you would be interested in starting a discussion about additional methods for the Promise API, then you may write up the RFC with the one linked above as reference. More information about the RFC process can be found here: https://github.com/ponylang/rfcs/blob/mas

[2017-03-19 01:09] jemc commented on #1562
I've opened PR #1723 to implement one of the improvements mentioned above:

However, instead of doing structural flattening in the `flatten` pass, this PR moves it to be done in the parser, so that union type nodes are flattened from the start.

[2017-03-20 02:23] Praetonus commented on #1389
This was implemented a while ago.

[2017-03-20 02:23] #1389 closed

[2017-03-20 05:49] plietar opened #1728 "Extract compiler test cases to individual Pony files"
The compiler test suite in `test/libponyc` forms a nice corpus of both valid and invalid sample Pony programs. However, the Pony code snippets are contained inside C files, making them impractical to reuse for other purposes.

My suggestion is to move to a layout where each test case is a separate `.pony` file. The file can have annotations at the top specifying specific features about the program

[2017-03-20 09:02] sylvanc commented on #1728
I like this. I don't think we need an RFC, as this doesn't impact users, just compiler hackers. I marked this as `under discussion` rather than `ready for work` to show we can have a conversation about the syntax for what should be tested and how, but if you want to start on this with the strawman syntax, go for it!

@Praetonus has been working on the tests recently (particularly JIT compiling) so

[2017-03-20 19:49] ehudkaldor opened #1729 "Add support for musl-based Linux (e.g. Alpine)"
I'm trying compile Pony on Alpine Linux (MUSL based) and failing. is there any guidance on how to do that?

[2017-03-20 19:53] jemc commented on #1729
@ehudkaldor - at the moment, I don't think it is possible.

Last time I tried to compile Pony on Alpine, there were definitely a few things that were broken that need to be fixed.  I don't know that it's ever successfully been compiled with musl.  If someone wants to step up and work on resolving the issues, this ticket can be a place to track that effort.

[2017-03-21 08:32] killerswan opened #1732 "Create a Homebrew Tap for macOS ponyc and dependencies"
Given the Homebrew project's hosting goals, I've had a few conversations now about what Pony should do for macOS dependencies and to provide _ponyc_.

After eyeballing the [demo project](https://github.com/Homebrew/homebrew-tex) and beginning to explore what goes in a Tap and [how binary Bottle packages work](http://docs.brew.sh/Bottles.html), I have some thoughts about the overall system I'd like

[2017-03-22 00:56] killerswan commented on #1732
It may be interesting to note differences between what upstream (homebrew-core) and Julia formulas look like, so here's a diff for [LLVM 3.7](https://gist.github.com/killerswan/51895c0ec2d8ac713d28b69e29da6b9c), and for [LLVM 3.9](https://gist.github.com/killerswan/cc9e8e839c898f15905701ab1feabbb8).  I'm inclined to keep closer to upstream for now, and not rename the packages, yet.

[2017-03-22 03:27] SeanTAllen commented on #1732
I'm inclined to go in whatever direction you think is best. ;)

[2017-03-22 06:40] killerswan commented on #1732
Note, Travis supports these macOS and Xcode versions with `osx_image` (see [here](https://docs.travis-ci.com/user/osx-ci-environment/#OS-X-Version)):
* `xcode8.2` and macOS 10.12 (Sierra)
* `xcode8.1` and macOS 10.12 (Sierra)
* `xcode8` and macOS 10.11 (El Capitan)
* `xcode7.3` and macOS 10.11 (El Capitan)  <-- DEFAULT
* `xcode6.4` and macOS 10.10 (Yosemite)

[2017-03-22 09:44] dubiousjim opened #1734 "Can't compile on Mac with MacPorts"
I'm running Mac OS X 10.10.5 with macports.

I tried building ponyc 0.11.3 with gcc and got an error:

    $ make
    c++: error: unrecognized command line option '-stdlib=libc++'

Apparently, that's a clang option. So the build process thinks I'm
using, or wants me to use, clang. Ok, let's try that...

    $ CC=clang CXX=clang++ make
    [builds and links various things, but in the end fails with

[2017-03-22 12:00] SeanTAllen commented on #1734
The

[code]

error means that you are using both llvm3.9 and 3.8 at the same time.
Which means very odd. Did you switch LLVM versions while compiling?

I'd suggest doing `make clean` in your ponyc source directory and trying again.

[2017-03-22 12:11] dubiousjim commented on #1734
Yeah, that's what it suggests. But as the snippets above attest, I absolutely did `make clean` before trying to build. I've also done everything I could think of using the package system (MacPorts) to make sure that all the installed toolchain is using llvm 3.9.1 only (or llvm 4.0.0 only, I tried each).

I expect that there's some part of the toolchain that's slipping through the cracks, and if so

[2017-03-22 12:14] SeanTAllen commented on #1734
I've built pony from source on OSX using LLVM 3.8.1 on OSX hundreds of times, so I'm dubious of the "build scripts dont work with" comment. Most OSX users are installing llvm via homebrew however (myself included), so its possible there are macports issues that surfaced since the instructions for using it were created.

[2017-03-22 12:14] SeanTAllen commented on #1734
Question... do you have XCode and its command line tools installed?

[2017-03-22 12:25] dubiousjim commented on #1734
Yeah, I have XCode 7.2.1 and the command line tools; they're in `/Library/Developer/CommandLineTools`. Is it possible to build ponyc using just them? I tried removing the MacPorts stuff from my PATH, then sticking `/Library/Developer/CommandLineTools/usr/bin` into the PATH and running `make`, and also setting `DYLD_LIBRARY_PATH=/Library/Developer/CommandLineTools/usr/lib`, but (with the MacPorts s

[2017-03-22 12:46] dubiousjim commented on #1734
Huh... the MacPorts system permits one to have multiple versions of some libraries and toolchain components installed at the same time. In the attempts reported above I had both llvm 3.8.1 and 3.9.1 *installed*, though with aliases set up so that (it was supposed to be the case that) only the 3.9.1 components were being *used* when one said things like `clang` and so on, without an explicit versio

[2017-03-22 12:47] SeanTAllen commented on #1734
I'm on XCode 8 now and that should be working. Did you install the command line tools?

`xcode-select --install`

[2017-03-22 12:49] SeanTAllen commented on #1734
From the 3.9.1 warning it would appear you are using an older version of ponyc. Can you update to the latest source from master?

[2017-03-22 12:50] SeanTAllen commented on #1734
You shouldn't have to define CC and and CXX on OSX which means something odd is going on. I think if we can get to the root of what is going on with that, we might solve a lot of problems.

[2017-03-22 12:52] SeanTAllen commented on #1734
@dubiousjim sorry you are hitting these problems. thank you for you assistance in helping to resolve. another option for getting started with Pony if you get frustrated with this would be to install via homebrew.

`brew install pony`

would get you a prebuilt pony.

[2017-03-22 12:57] dubiousjim commented on #1734
Thanks, I'll have to come back to this later. I'd like to try to get it working without needing Homebrew. Can you give me more explicit instructions how to build using the XCode command line tools instead of MacPorts? They are already installed.

[2017-03-22 13:04] SeanTAllen commented on #1734
There's nothing explicit to do for xcode @dubiousjim. They just need to be installed. Given that I haven't seen your issue popup before, I wanted to make sure they were installed as there seems to be something at least partially environmental going on.

Something that could help.

Remove LLVM installed via MacPorts
Install LLVM 3.8 via homebrew

Try building pony from source.

If you can build fro

[2017-03-22 14:43] Praetonus commented on #1728
This is an interesting problem. A good starting point would be to use `package_add_magic_path` to compile arbitrary packages in the tests suite.

[2017-03-22 15:29] jemc commented on #1728
Something to keep in mind while thinking about this:

A while ago I introduced the `TEST_ERRORS_N` series of macros (where `N` is a number of expected), so that we could test for specific error messages that were expected. This helps to prevent situations where a `TEST_ERROR` case is failing to compile for the wrong reasons, but we don't notice since the test still passes for any error.  I've been

[2017-03-22 19:54] Theodus opened #1736 "RFC: arrays-as-sequences"
Use a sequence to define an array literal instead of a comma separated list of sequences.

https://github.com/ponylang/rfcs/blob/master/text/0037-arrays-as-sequences.md

[2017-03-22 20:00] Theodus opened #1737 "RFC: cli-format"
Provide a standard command line argument syntax for Pony tools and other programs, and a corresponding package named `cli` to be provided in the standard library.

https://github.com/ponylang/rfcs/blob/master/text/0038-cli-format.md

[2017-03-22 20:32] jemc commented on #1708
Discussed on sync call - @sylvanc agrees it should work, and it's an implementation bug.

[2017-03-22 21:58] jemc commented on #1734
It may help to specify an explicit `LLVM_CONFIG` env var in your environment (whose value is the path to the desired `llvm-config` binary).

[2017-03-22 22:37] #1567 closed

[2017-03-22 22:51] killerswan commented on #1592
When you're ready, @rurban, I can help you get the CI bits going for LLVM 4.  (Travis changes will look something like my partial https://github.com/ponylang/ponyc/compare/master...killerswan:llvm4-ci branch.)

[2017-03-22 23:23] killerswan opened #1738 "release 0.11.4"
There's a wee bit of stuff in here now that I'd like to confirm also works right on a release branch: https://github.com/ponylang/ponyc/compare/release...master

Anything pending that we should wait up for? @sylvanc @jemc

[2017-03-22 23:39] SeanTAllen commented on #1738
DO IT!

[2017-03-23 02:38] killerswan commented on #1738
I've been distracted by https://github.com/killerswan/homebrew-pony (for # 1732) this afternoon, but will do this tomorrow, when more people are around.

[2017-03-23 04:38] killerswan commented on #1732
Current status: the syntax of JSON escaped regular expressions is driving me nuts.

[2017-03-23 22:07] SeanTAllen commented on #1738
@killerswan do you have this or should I do it? i'd rather you did it because if something does go sideways you are in best position to address.

[2017-03-23 22:18] killerswan commented on #1738
I'll give it a shot now.  😅

[2017-03-23 22:41] killerswan commented on #1738
Haha, our clever usage of [skip ci] is uncool here.  Because what I have to say is that our potentially golden commit, 44ef576912a78c97ed7e471334fb34b18aaca18f (master), is actually a couple changes since the last master build that was green on Travis (delta from CI: https://github.com/ponylang/ponyc/compare/b99d5b68f...44ef576912a78c97ed7e471334fb34b18aaca18f, delta from last release to master: h

[2017-03-23 22:45] killerswan commented on #1738
Wait that's fine.  Master doesn't deploy anymore, wake up Kevin.  But look it was passing tests both on AppVeyor and Travis:
* https://ci.appveyor.com/project/ponylang/ponyc/build/ponyc-0.11.3-2704.b99d5b6
* https://travis-ci.org/ponylang/ponyc/builds/214039089

[2017-03-23 22:47] SeanTAllen commented on #1738
Why do you say it won't deploy anymore?

[2017-03-23 22:48] SeanTAllen commented on #1738
o because https://github.com/ponylang/ponyc/commit/44ef576912a78c97ed7e471334fb34b18aaca18f

should have triggered a travis build (but not an appveyor one), correct?

[2017-03-23 22:48] SeanTAllen commented on #1738
O no, that had skip ci in it. I'm not sure why you say master won't deploy. What do you mean?

[2017-03-23 22:49] killerswan commented on #1738
I was looking at Bintray and saying "WHERE ARE MY BINARIES!? 😿 "  Only release builds go to Bintray.

[2017-03-23 22:50] killerswan commented on #1738
👍

So now with 44ef576912a78c97ed7e471334fb34b18aaca18f dubbed "golden", I'm running the release script (after creating an "origin" remote, haha)...

[2017-03-23 22:51] SeanTAllen commented on #1738
ah yes, was the release doc not updated to reflect that we don't do master binaries? i thought i updated that.

[2017-03-23 22:56] killerswan commented on #1738
Just my brain needed a couple cycles there.

[2017-03-23 23:08] killerswan commented on #1738
OK, after a bit of tweaking of my local repo (origin, and tracking setup) to make `git pull` work, viola:
*
*

And I've added the new release here:
* https://github.com/ponylang/ponyc/releases

But this change on master is not what I expected: https://github.com/ponylang/ponyc/compare/44ef576912a78c97ed7e471334fb34b18aaca18f...master.  @SeanTAllen what gives?

[2017-03-23 23:12] killerswan commented on #1738
CI:
* release/0.11.4/e91d517 on Travis: https://travis-ci.org/ponylang/ponyc/builds/214456592
* release/0.11.4/e91d517 on AppVeyor: https://ci.appveyor.com/project/ponylang/ponyc/build/ponyc-0.11.4-2712.e91d517

[2017-03-23 23:14] SeanTAllen commented on #1738
@killerswan i've never seen it to do that to the CHANGELOG before. Can you roll it back and fix up by hand?

[2017-03-23 23:15] SeanTAllen commented on #1738
@Theodus the release script did weird things to the changelog. I assume its related to your last change. Can you take a look?

[2017-03-23 23:16] SeanTAllen commented on #1738
@killerswan travis release failed on building documentation to push to standard lib update.

[2017-03-23 23:17] killerswan commented on #1738
It's hard to build the docs when the Pony build failed.  Not sure why this didn't stop the build here:
[code]

[2017-03-23 23:18] SeanTAllen commented on #1738
So, that problem is the version of gcc is old. I believe we recently fixed that.

[2017-03-23 23:19] SeanTAllen commented on #1738
yeah, that was supposed to be fixed by: https://github.com/ponylang/ponyc/commit/82ac4a3c0d857cceb757fc4b68425ddc53a57fc8

did that get undone somehow?

[2017-03-23 23:20] SeanTAllen commented on #1738
also WEEEEEEEE! computers

😅

[2017-03-23 23:23] killerswan commented on #1738
1. My new pull req. to revert the changelog badness: https://github.com/ponylang/ponyc/pull/1742
1. Looking into GCC now...

[2017-03-23 23:30] SeanTAllen commented on #1738
I thought you were in this repo rather than your own when you did everything. The release script and instructions assume you are working in a clone of the ponyc repo. We should update the release instructions to make that clear. You have access to do from a clone of this repo, yes @killerswan ?

[2017-03-23 23:34] killerswan commented on #1738
These are the remotes I have set up:
[code]

That was why my comment about tracking: git pull is not a command I ever type myself.

[2017-03-23 23:36] SeanTAllen commented on #1738
@killerswan write, the release instructions assume you aren't using a fork, but are using upstream: a clone of ponylang/ponyc.

[2017-03-23 23:38] killerswan commented on #1738
Forks and clones are the same thing.

[2017-03-23 23:39] killerswan commented on #1738
Re: changelog issues: we've got it reverted on master, but should fix the script before cutting 0.11.5.

Re: poncy compiling issues: I still don't see the cause yet.  GCC 6 was installed (see [logs here](https://s3.amazonaws.com/archive.travis-ci.org/jobs/214456606/log.txt)):
[code]

[2017-03-23 23:43] SeanTAllen commented on #1738
@killerswan the script will let you do it by hand and skip the auto-doing. do we have to do a 0.11.5? can we update .travis.yml and move 0.11.4 tag to get it to rerun?

[2017-03-23 23:44] SeanTAllen commented on #1738
@killerswan must be something different about release compared to master as master builds fine (sorry to state the obvious)

[2017-03-23 23:46] SeanTAllen commented on #1738
@killerswan forks and clones arent the same thing as you need to set up remote tracking with the fork and dont have to with a clone and the directions don't account for that. i want the directions to be crystal clear so i'm going to update the "How to release" to indicate as such.

[2017-03-23 23:50] SeanTAllen commented on #1738
@killerswan i update the RELEASE_PROCESS.md doc

[2017-03-23 23:51] killerswan commented on #1738
1. @SeanTAllen  The forks and clones discussion is totally orthogonal to anything here.  I'm not even complaining and I don't think this caused any of our problems.
1. We can just move the tag.  But we need to figure out the problem actually...

Earlier, on releases, what we were doing was _basically_ equivalent to:
[code]

And here we're doing simply:
[code]

So I think we should take that "tune=

[2017-03-23 23:52] SeanTAllen commented on #1738
@killerswan i dont think it caused any problems either, i just think someone less experienced than you could have gotten tripped up so i wanted to note that i'd seen and addressed in docs.

[2017-03-23 23:54] SeanTAllen commented on #1738
we wanted to update to `tune=intel` on release. that should give the better performance for release builds than what we currently have.

[2017-03-23 23:55] killerswan commented on #1738
That's also what we have in our Dockerfile.  Are those breaking?

[2017-03-23 23:55] SeanTAllen commented on #1738
ugh. it appears we never verified this worked on travis.

[2017-03-23 23:56] SeanTAllen commented on #1738
i'm about to disappear on you for a couple hours. i'd say, we turn off the tune for now, remove the change log entry for it from release notes and address later.

[2017-03-23 23:56] killerswan commented on #1738
((nod))

[2017-03-23 23:57] SeanTAllen commented on #1738
also what's the emoji for BLARG

[2017-03-24 00:16] killerswan commented on #1738
My removal of 'tune=intel' is going on master now from #1743.

[2017-03-24 00:24] killerswan commented on #1738
To amend this 0.11.4 release:
* master's now here: eaf9a8676f7f584ec5823ff3b512cc9d7fd87695,
* this shows recent changes we've made: https://github.com/ponylang/ponyc/compare/b99d5b68f...eaf9a8676f7f584ec5823ff3b512cc9d7fd87695
* this will be the commits between 0.11.3 and 0.11.4: https://github.com/ponylang/ponyc/compare/917610c48c82e5138153bba30c470def5a550601...eaf9a8676f7f584ec5823ff3b512cc9d7

[2017-03-24 00:42] killerswan commented on #1738
OK, so release is now 0.11.4 at 5618e86985405ed9e69e903d458077596dca3a44, and master's at 8fc1403f2990d1add4fafa95d88dc45ba7fb4a71.

Builds happening here:
* https://travis-ci.org/ponylang/ponyc/builds/214479057
* ? for AppVeyor

[2017-03-24 01:11] killerswan commented on #1738
Issues so far:
1. release.sh garbles the changelog (see [here](https://github.com/killerswan/ponyc/commit/f3e31744e24431a9f112db0d32ca96179000c623)),
1. (resolved temporarily) Travis build didn't work with tune=intel,
1. Travis build has a Travis->Bintray deployment regex problem resulting in a message: `[Bintray Upload] Warning: Path: \/home\/travis\/build\/ponylang\/ponyc\/build\/bin\/ does not

[2017-03-24 01:18] killerswan commented on #1738
@kulibali do you have any idea why AppVeyor wouldn't run even after I've pushed a few new commits to the release branch (and moved the 0.11.4 tag to its latest)?

[2017-03-24 01:52] killerswan commented on #1738
I have a fix for the includePattern (path "does not exist") error in progress here: #1744.

[2017-03-24 02:01] SeanTAllen commented on #1738
@killerswan are the commits all for things in the appveyor skip list?

[2017-03-24 02:06] killerswan commented on #1738
Ahahaa, possibly!

[2017-03-24 02:11] SeanTAllen commented on #1738
@killerswan the previous 0.11.4 should be fine for windows.

[2017-03-24 02:19] killerswan commented on #1738
OK, so that leaves the release.sh issue.

The changes here between 0.11.3 and now didn't introduce the problem: https://github.com/ponylang/ponyc/compare/917610c48c82e5138153bba30c470def5a550601...eaf9a8676f7f584ec5823ff3b512cc9d7fd87695#diff-e55bb7573f1110c8b2a6922fe8cccf48

Have I failed to set some envvar to avoid using macOS's sed? 👻

[2017-03-24 02:58] killerswan opened #1745 "release.sh deletes extra lines from the changelog"
I'm still debugging this, but it's pretty weird.  After using Homebrew to install gsed, I ran release.sh for 0.11.4 (see # 1738) and one of the results was this deletion: https://github.com/ponylang/ponyc/commit/f3e31744e24431a9f112db0d32ca96179000c623.

The changes since the last release don't seem likely to have introduced this: https://github.com/ponylang/ponyc/compare/0.11.3...eaf9a8676f7f584e

[2017-03-24 02:59] killerswan commented on #1745
Ahhh, if I do this, I see it:
[code]

[2017-03-24 03:04] killerswan commented on #1745
CC @SeanTAllen @Theodus

[2017-03-24 03:06] killerswan commented on #1738
I've filed a new ticket for that, #1745, since someone other than me might be able to fix it faster.

Now I'm going to run the script (declining to merge changelog things) and get 0.11.4 going again.

[2017-03-24 03:26] killerswan commented on #1738
Well, release / 0.11.4 / 7c3d44f6351528bfde210e80a83b8933ea57dd67 (delta: https://github.com/ponylang/ponyc/compare/0.11.3...0.11.4) should be building, but I'm really angry at all the automatic changelog editing stuff, and am doing some manual changelog reverts.  🔥

[2017-03-24 03:42] killerswan commented on #1738
More tag munging:
[code]

I'm having angst about so many things here.

[2017-03-24 04:16] killerswan commented on #1738
OK, to really recap, before I go eat food:
* the latest Windows build is now 7c3d44f6351528bfde210e80a83b8933ea57dd67 ([ci](https://ci.appveyor.com/project/ponylang/ponyc/build/ponyc-0.11.4-2719.7c3d44f), [win](https://bintray.com/pony-language/ponyc-win/ponyc/ponyc-0.11.4-2719.7c3d44f#files)),
* the latest Linux and source builds are now bac04bb196f061f2949b982fb19860176167dede ([ci](https://trav

[2017-03-24 04:29] killerswan commented on #1738
@stefantalpalaru, FYI, we're deploying the 0.11.4 release now!

[2017-03-24 05:52] killerswan commented on #1738
@SeanTAllen I've made a post here: https://pony.groups.io/g/user/message/940?p=Created,,,100,1,0,0::recentpostdate%2Fsticky,,,100,2,0,4652245

Feeling I've not used enough emojis yet, but there you go.

[2017-03-24 07:54] killerswan commented on #1738
![shetland-ponies](https://cloud.githubusercontent.com/assets/195060/24285209/4f05edde-102c-11e7-8fe7-a8d25769f900.jpg)
(cuties from [here](https://ssgf.uk/visitors/our-equine-heritage/))

[2017-03-24 08:38] #1738 closed

[2017-03-24 08:42] killerswan commented on #1665
We've just shifted, by the way, from using `g++-6` in the Linux package builds, [here](https://github.com/ponylang/ponyc/blob/master/.travis.yml#L84), which are also using Travis' `trusty` image.

[2017-03-24 09:20] luigino opened #1747 "CodegenIdentityTest.DigestofObject failure on 32bit archs"
i586 and armv7l on 0.11.4.

[code]
Is there a way to test this interactively?

[2017-03-24 09:38] Praetonus commented on #1747
Could you change the test to this to see the values:

[code]

We probably need a better way to report failures in tests executing Pony programs. I'll look into what's possible.

[2017-03-24 10:07] luigino commented on #1747
[code]

[2017-03-24 10:26] Praetonus commented on #1747
So in hexadecimal, that's `A16B0800` and `FFFFFFFFA16B0800`.

This comes from the cast to `intptr_t` in `ptr_to_int`. Since it's a cast to a signed integer type, it does sign extension. The fix is to use `uintptr_t`. I'll open a PR.

Thanks for reporting.

[2017-03-24 11:16] luigino commented on #1747
Works for me.

[2017-03-24 11:19] Praetonus commented on #1747
Good. I'll merge the PR then.

[2017-03-24 11:19] #1747 closed

[2017-03-24 11:59] stefantalpalaru commented on #1738
Gentoo ebuild updated.

[2017-03-24 12:01] killerswan commented on #1738
Thanks, @stefantalpalaru!  🐴

[2017-03-24 16:24] Praetonus opened #1751 "Assertion failure with annotations"
Minimal example:

[code]

Using annotations on an expression results in an assertion failure:

```src/libponyc/ast/ast.c:737: setannotation: Assertion `!hasparent(annotation) && (annotation->annotation_type == NULL)` failed.```

Backtrace:

[code]

It looks like the annotation node gets a type assigned to it. It doesn't happen when annotating a type declaration, only when annotating an expression.

[2017-03-24 17:06] jemc commented on #1751
Yep, this assert was introduced in #1649, but the weird behaviour of the annotation being assigned a type may have existed before the assert was present.

Is there any legitimate reason for an annotation node to get a type assigned to it? I think not, but just wanted to confirm with you.

[2017-03-24 17:15] Praetonus commented on #1751
I don't think there is. I tried to look where the annotation was getting a type assigned to it but I couldn't find the location.

[2017-03-24 17:33] Theodus commented on #1745
@killerswan @SeanTAllen The current changelog also seems to only have entries for 'fixed'

[2017-03-24 17:35] SeanTAllen commented on #1745
? @Theodus

0.11.4 only has fixed because all entries were in fixed. unreleased has fixed, added and changed.

[2017-03-24 17:38] Theodus commented on #1745
@SeanTAllen I mean every prior release only shows the fixed secions:
https://github.com/ponylang/ponyc/blob/master/CHANGELOG.md

[2017-03-24 17:49] Theodus commented on #1745
@SeanTAllen apparently this happened as part of the 0.11.1 release:
https://github.com/ponylang/ponyc/commit/d237311ef08cce93fe2accec5105fb851e38c98f

[2017-03-24 17:52] Theodus commented on #1745
This seems to be a bug introduced by me in https://github.com/ponylang/ponyc/commit/c249fafae4a21b3c0b7ce8688d42226db0cc7d59

[2017-03-24 17:55] Theodus commented on #1745
I'll fix the release script and the changelog if no one else is working on it.

[2017-03-24 18:10] SeanTAllen commented on #1745
Ugh. Please do. Can you resurrect the missing entries?

[2017-03-24 18:14] Theodus commented on #1745
@SeanTAllen I have already pieced it back together from commits just prior to each release after 0.11.0

[2017-03-24 18:23] SeanTAllen commented on #1745
Awesome

[2017-03-24 19:42] #1745 closed

[2017-03-24 23:14] #1736 closed

[2017-03-25 02:45] SeanTAllen commented on #1707
Any objection to adding

- .md
- .txt
- .gitignore
- .gitattributes
- .gitmodules
- Dockerfile
- License
- Makefile

as files that shouldn't trigger a Windows build

?

[2017-03-25 06:55] russel opened #1756 "Support GCC 7"
Building Pony on Debian Sid works fine. When I try to build Pony on
Fedora Rawhide, I get:
[code]
everything before this is fine. I am guessing this is a GCC version
thing. Debian Sid has GCC 6.3 where Fedora Rawhide has GCC 7.0.

Update 2017-08-05: This is now a problem on Debian Sid as it has just switched to GCC 7 as the default compiler suite.

[2017-03-25 07:15] SeanTAllen commented on #1756
Is this on a standard intel cpu?

Can you run the make command using `verbose=1` so something like:

`make verbose=1`

instead of

`make`

and paste the output here?

Its going to be a lot more output. At the moment, I'm most interested in verifying that the `-mcx16` flag is being passed to `cc` when building.

[2017-03-25 07:20] SeanTAllen commented on #1756
also, can you run

`getconf LONG_BIT`

in the terminal and report the result here? i'm expecting to see 64.

[2017-03-25 07:24] russel commented on #1756
Just the end of the output, confirming the hypothesis.:
[code]

[2017-03-25 07:25] russel commented on #1756
Output as requested:
[code]

[2017-03-25 07:41] SeanTAllen commented on #1756
Thanks @russel. Well, that is all very confusing.

If you have a gcc 6/debian machine available could you build pony on that with `verbose=1` and paste the "linking" portion here so we can compare it to the fedora/gcc 7 version:

[code]

[2017-03-25 07:44] SeanTAllen commented on #1756
Also can you try:

[code]

on Fedora and see if linking is successful.

[2017-03-25 07:51] russel commented on #1756
The Fedora experiment on a compiled up repository:
[code]

[2017-03-25 07:58] SeanTAllen commented on #1756
So, what I'm thinking you might have to install libatomic on Fedora.

https://www.rpmfind.net/linux/rpm2html/search.php?query=libatomic

But really, I'm mostly guessing here. The g++ atomics support should have those functions. The only errors I can see people hitting are on non-intel platforms and then the `-mcx16` should solve that.

So my guess would be is that Fedora is doing something interes

[2017-03-25 08:00] russel commented on #1756
Do you want me to ask the RedHat GCC folk to take a peek?

[2017-03-25 08:01] russel commented on #1756
I can't do the Debian test just yet I'm afraid, long story. I will as soon as I can.

[2017-03-25 08:03] SeanTAllen commented on #1756
@russel if you are in a position to ask them where you think they might respond, by all means. I don't have access to a fedora system so I'm flying blind here.

[2017-03-25 08:07] russel commented on #1756
I have send email to a person I know will either know the answer or know the person to ask to get a definitive answer.

[2017-03-25 09:44] jwakely commented on #1756
I don't know what Debian does, but Fedora's GCC is fairly close to the upstream GCC config. There is a separate package for libatomic though.

`dnf install libatomic` but you might also need to add `-latomic` to the linker flags.

[2017-03-25 09:47] jwakely commented on #1756
Note that the `-mcx16` flag is ABI changing, so creates objects that are incompatible with objects compiled without it. It could be that your hardware doesn't support CMPXCHG16B and so gcc is issuing calls to libatomic that other people aren't getting, because they have different hardware.

[2017-03-25 13:00] russel commented on #1756
OK, I have now rebooted to Debian Sid. I have libatomic1 installed automatically because I have TBB and libgcc-6-dev installed, both of which require the atomics. I am guessing Fedora doesn't have an equivalent for this so libatomics must be installed manually. Interestingly I have TBB installed on Fedora, but atomics didn't get installed as a dependency. Oh well.

For the same data as provided ea

[2017-03-25 13:02] SeanTAllen commented on #1756
@russel is libatomic installed on Fedora?

[2017-03-25 13:03] SeanTAllen commented on #1756
@jwakely thank you for the info!

[2017-03-25 13:10] russel commented on #1756
I have now manually install libatomic on Fedora, but this is now a different computer, a laptop rather than a workstation. This is though a good test since it is a different processor and memory architecture. Just running "make verbose=1" on the Fedora Rawhide laptop results in the same behaviour as before even with libatomic installed:
[code]
so whilst an explicit -latomic is needed on Fedora it

[2017-03-25 15:35] SeanTAllen commented on #1756
So to verify, @russel. If `libatomics` is installed and `-latomic` is added to the linking, it works.

Correct?

[2017-03-25 17:37] russel commented on #1756
It definitely seems that way. If you make the change to the build, I can check on Debian and Fedora to make sure no change on Debian and success on Fedora.

[2017-03-26 00:55] killerswan commented on #1732
Question in my head right now: what's the easy way to manage rebuilds and revisions?  Without replicating all of Homebrew's test-bot system?

I feel like what I have now might be halfway manageable, but we'll have to bump revisions manually all the time to get new builds uploaded, hmm.

For example, [this commit](https://github.com/killerswan/homebrew-pony/commit/2fdf2cb53167c948236331b23f4d96c255

[2017-03-27 06:02] jemc opened #1758 "Compiler assert failure in gen_box related to union of tuple."
The following minimal program causes an assert failure in `gen_box` on latest ponyc master:

[code]
[code]
[code]

[2017-03-27 06:03] jemc commented on #1758
@Praetonus - I thought I would run this one by you.  Seems to be an unexpected edge case that we're hitting in the boxing code.

[2017-03-27 09:39] killerswan commented on #1732
After a few more tweaks, here is a model pull request:
https://github.com/killerswan/homebrew-pony/pull/5

The process looked something like this:

And the commit history now like this:
[code]

[2017-03-27 09:56] killerswan commented on #1732
The new process, as I'm noting in the [homebrew-pony](https://github.com/killerswan/homebrew-pony) tap's README:

[2017-03-27 15:56] #1751 closed

[2017-03-27 16:03] Praetonus commented on #1758
It looks like the type `(Array[U8], USize)` isn't considered as reachable, and then the code generator fails when referring to that type.

[2017-03-27 16:29] Praetonus commented on #1756
GCC will try to lower the C atomic operations to hardware instructions instead of library calls when it can. Maybe GCC is configured differently on Debian and Fedora, with only one being able to detect that the hardware supports the relevant atomic operations.

[2017-03-27 20:41] n3f4s opened #1760 "32-bit linux compilation error"
Hi,
I tried to compile _ponyc_ from source.
I have an error:
[code]

I'm on _manjaro linux_ 32bits (a distribution based on _arch linux_).
[code]

[2017-03-27 22:20] SeanTAllen commented on #1760
What version of LLVM are you using?

[2017-03-27 22:23] n3f4s commented on #1760
I'm using llvm 3.9.1-2
[code]

[2017-03-27 23:03] SeanTAllen commented on #1760
@Praetonus looks like #1726 broke this.

[2017-03-27 23:05] SeanTAllen commented on #1760
@n3f4s sorry for that problem, we should have a fix soon. We don't have 32-bit CI so we do best effort to keep it working.

[2017-03-27 23:06] SeanTAllen commented on #1760
@jemc @killerswan per https://github.com/travis-ci/travis-ci/issues/5770, could we use a docker image to 32 bit testing even if it's just with a single LLVM version?

[2017-03-27 23:54] killerswan opened #1761 "macOS platform support clarification"
I'm trying to set up some Travis builds of Pony to go with a new Homebrew tap, and observe that of Travis' [macOS images](https://docs.travis-ci.com/user/osx-ci-environment/#OS-X-Version):
* `xcode8.1` (macOS 10.12, Sierra): ponyc builds just fine,
* `xcode7.3` (macOS 10.11, El Capitan _which is Travis' default_): ponyc builds just fine, and
* `xcode6.4` (macOS 10.10, Yosemite): ponyc fails to bui

[2017-03-27 23:58] killerswan commented on #1761
All I need, regarding my Homebrew tap, is knowing what's possible now.  Our ponylang/ponyc Travis config only tests the default `xcode7.3` image, and anything older for the tap is just nice-to-have.

[2017-03-28 00:04] killerswan commented on #1760
@SeanTAllen @jemc That's an interesting possibility!  But now I need to go down the rabbit hole of understanding what testing we already do of our existing Dockerfile anyways, too...

[2017-03-28 01:35] jemc commented on #1760
@SeanTAllen @killerswan - not 100% sure, but I don't think `Dockerfile`s can be used cross-arch.

[2017-03-28 02:04] killerswan commented on #1760
What that Travis CI thread is talking about (if I follow correctly) is using 32-bit docker images on 64-bit Travis VMs, though.  It'd take making another Dockerfile, I assume, so I was then wondering what else we should be thinking of testing...

[2017-03-28 02:05] killerswan commented on #1760
@n3f4s sorry we're hijacking your ticket here! 😅

[2017-03-28 06:35] Praetonus commented on #1760
It should be fixed in #1762. Sorry for the trouble.

[2017-03-28 08:44] Praetonus commented on #1690
Something from the RFC is unclear to me.

[code]

In this example, should `Foo.foo()`

1. be generated as a direct call to the function?
2. be sugared as `Foo.create().foo()`?
3. result in a compilation error?

[2017-03-28 11:20] SeanTAllen commented on #1760
@n3f4s the fixed has been merged

[2017-03-28 11:21] SeanTAllen commented on #1760
i'm not going to kick off a new release for this as the bug was introduced since the last release so merely updating master should be good enough.

[2017-03-28 11:21] #1760 closed

[2017-03-28 16:06] jemc commented on #1690
Good question. That may not have been clearly defined in the RFC, but we can take a stab at defining it now.

This makes sense to me, given that an instance of `Foo` is not required for invoking the function.  So, "bare" functions would be executable both on a type, or on an instance, much like constructors are.

[2017-03-28 20:51] jtfmumm opened #1764 "ANSITerm bug: SIGWINCH does not exist on Windows"
In the ANSITerm constructor, a signal handler is set up that does not work on Windows,
as seen in this snippet from the file:

[code]

I've opened a PR where I ifdef this line out for Windows.

[2017-03-28 21:35] #1764 closed

[2017-03-29 00:05] #1707 closed

[2017-03-29 05:28] jemc opened #1767 "Tuple allowed for unconstrained type param, but not Any #any type param."
I'm finding that tuples are allowed as type args for type params with no constraints, but are not allowed for type params that are constrained on `Any #any`, or more useful constraints, like `Any #share`.  For example:

[code]
[code]

[2017-03-29 08:09] Praetonus commented on #1690
Yeah that makes sense.

[2017-03-29 13:44] SeanTAllen opened #1769 "Release 0.12.0"
#1768 fixes a critical memory safety issue and should result in a release being generated when that is merged. Given that "Array as Sequences" would be part of this release and its a breaking change, 0.12.0 seems appropriate.

When announcing this release, we should include an example of how to change code to support new Array syntax.

[2017-03-29 16:51] SeanTAllen commented on #1769
Blessing 60d76885a51e2ed5a6314f84810780ea386f97de

[2017-03-29 16:53] SeanTAllen commented on #1769
release underway

[2017-03-29 16:54] SeanTAllen commented on #1769
CHANGELOG and Version updated on master.

[2017-03-29 16:56] SeanTAllen commented on #1769
Windows build: https://ci.appveyor.com/project/ponylang/ponyc
Linux: https://travis-ci.org/ponylang/ponyc/builds/216430296

[2017-03-29 17:00] SeanTAllen commented on #1769
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/11813

[2017-03-29 17:00] SeanTAllen commented on #1769
@stefantalpalaru release underway

[2017-03-29 17:16] SeanTAllen commented on #1769
Windows release appears to be having problems. The LLVM 3.9.1 "release" build task is failing.

There are also issue in travis related to an unbound variable for builds that we would be exiting immediately to not release, it should be fixed so we don't go red but shouldn't impact the release.

[2017-03-29 17:21] SeanTAllen commented on #1769
Linux release blew up as well.

[2017-03-29 17:23] SeanTAllen commented on #1769
It would appear we didnt get the release process back to "it just works" after the last painful bumps @killerswan

[2017-03-29 17:34] SeanTAllen commented on #1769
why the doc building failed is beyond me, i switched the order of packaging and docs because it appears all the doc stuff we need was deleted before build docs was called. not sure. shall see.

[2017-03-29 17:41] stefantalpalaru commented on #1769
Gentoo ebuild updated.

[2017-03-29 17:41] SeanTAllen commented on #1769
process restarted for everything. no idea if i fixed the issues.

[2017-03-29 19:16] Theodus commented on #1769
@SeanTAllen Travis is currently experiencing issues: https://www.traviscistatus.com/incidents/93wfcv0ksqrz

[2017-03-29 19:17] SeanTAllen commented on #1769
Windows release is done.

Travis having issues, redo of release run is backed up waiting for resolution.

[2017-03-29 19:46] Theodus opened #1771 "RFC: explicit-partial-calls"
Change the language to require explicit indication of all partial calls.

https://github.com/ponylang/rfcs/blob/master/text/0039-explicit-partial-calls.md

[2017-03-29 19:48] SeanTAllen commented on #1186
Updated code for this based on lambda change:

[code]

[2017-03-29 19:50] Theodus opened #1772 "RFC: exhaustive-match"
The compiler will no longer insert an implicit else None clause in match blocks where all possible types of the match expression are covered by pattern types of the cases.

https://github.com/ponylang/rfcs/blob/master/text/0040-exhaustive-match.md

[2017-03-29 19:59] Theodus opened #1773 "RFC: TCPConnectionNotify Received Times"
Update `TCPConnectionNotify.received` to take an additional parameters that indicates the number of times during this scheduler run that received has been called.

https://github.com/ponylang/rfcs/blob/master/text/0041-tcp-connection-notify-received-times.md

[2017-03-29 20:18] SeanTAllen commented on #1769
Travis is starting to build this now.

[2017-03-29 20:23] SeanTAllen commented on #1671
Sync discussion says: Netlify is good.

[2017-03-29 20:26] SeanTAllen commented on #1483
@agarman can you test this with the latest master?

[2017-03-29 20:43] SeanTAllen opened #1775 "Create Style Guide"
We have no Pony style guide but enforce the unspoken one on PRs. This sucks for new contributors.

[2017-03-29 20:45] jemc commented on #1767
On the sync call, @sylvanc said that this is expected, given that `Any` is just an empty interface and not a true "top type" that includes tuples.

In other words, an unconstrained type parameter is *not* equivalent to a type parameter constrained on `Any #any`, because the former allows tuples and the latter does not.

There's currently no way to specify a reference capability for a type paramete

[2017-03-29 20:48] SeanTAllen commented on #1773
I have this implemented. Need time to open a PR.

[2017-03-29 21:40] SeanTAllen commented on #1769
Linux failed again. I see the issue. Updating release scripts to work.

[2017-03-29 23:01] SeanTAllen commented on #1737
@Theodus its @cquinn who is working on this yes?

@cquinn can I add you as a contributor to this repo so you can be assigned to this issue and others in the future that you might start working on?

[2017-03-29 23:07] Theodus commented on #1737
@SeanTAllen yes

[2017-03-29 23:09] SeanTAllen commented on #1769
Latest linux build that we are waiting on:

https://travis-ci.org/ponylang/ponyc/builds/216531439

Also homebrew PR is still open:

https://github.com/Homebrew/homebrew-core/pull/11813

[2017-03-30 00:30] cquinn commented on #1737
Sure.

[2017-03-30 00:35] SeanTAllen commented on #1769
Doc building failed again for linux.

[2017-03-30 00:42] SeanTAllen commented on #1769
found the error. the sed command works for bsd but not gnu.

[code]

[2017-03-30 00:48] killerswan commented on #1769
Awww all the poor seds! 😿

[2017-03-30 00:49] SeanTAllen commented on #1769
That sed has been failing for a while, we just weren't erroring out when it happened.

[2017-03-30 00:50] SeanTAllen commented on #1769
quite possibly forever. i created that sed on OSX so....

ya

[2017-03-30 00:56] SeanTAllen commented on #1737
@cquinn invite sent. ping me here when you accept and we can add you as the assignee.

[2017-03-30 01:03] killerswan commented on #1769
Ahhh, so it should specify GNU sed just like release.sh does.

And we should sprinkle some "-o errexit " and Bash and ShellCheck that release.sh script too by the way.  AND run ShellCheck in CI, too! 🐰

[2017-03-30 01:06] SeanTAllen commented on #1769
Linux released!

[2017-03-30 01:06] SeanTAllen commented on #1769
@killerswan can you PR those changes?

[2017-03-30 01:07] SeanTAllen commented on #1769
Only thing left is Homebrew:

https://github.com/Homebrew/homebrew-core/pull/11813

[2017-03-30 01:14] killerswan commented on #1769
@SeanTAllen will do!

[2017-03-30 01:57] SeanTAllen commented on #1769
reminder to self, this is all i care about now...

`curl -sL https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/ponyc.rb | grep url`

[2017-03-30 03:05] SeanTAllen opened #1779 "Release 0.12.1"
Because I broke pony test and didn't notice and as part of fixing the broken linux build for 0.12.1, I released the broken pony test.

[2017-03-30 03:06] SeanTAllen commented on #1769
Closing this. If the homebrew isn't updating to 0.12.0 by the time i release 0.12.1, I'll just bump it straight to 0.12.1

[2017-03-30 03:06] #1769 closed

[2017-03-30 03:07] SeanTAllen commented on #1779
I'm hoping to bless 3a278a77b484de308ec13e0e4740378628340643

[2017-03-30 03:21] SeanTAllen commented on #1779
Blessing 3a278a77b484de308ec13e0e4740378628340643

[2017-03-30 03:25] SeanTAllen commented on #1779
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/11824

[2017-03-30 03:25] SeanTAllen commented on #1779
@stefantalpalaru another release

[2017-03-30 03:48] SeanTAllen commented on #1779
Windows release is in bintray.

[2017-03-30 03:52] SeanTAllen commented on #1779
RPM and deb in bintray.

[2017-03-30 03:54] SeanTAllen commented on #1779
@killerswan completely smooth release. phew.

[2017-03-30 03:54] SeanTAllen commented on #1779
leaving this open til homebrew is merged:

`curl -sL https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/ponyc.rb | grep url`

[2017-03-30 04:03] killerswan commented on #1779
Yay! 🐰

[2017-03-30 04:04] SeanTAllen commented on #1779
@killerswan next we can make it unstable again when we start doing our own OSX fun and other goodness.

[2017-03-30 04:07] SeanTAllen commented on #1779
Homebrew merged. closing this as only gentoo is left.

[2017-03-30 04:07] #1779 closed

[2017-03-30 04:34] jemc commented on #1772
I have a branch for this, but I have to figure out how to merge #1715 first, since it was based on that branch.

[2017-03-30 04:41] jemc commented on #1775
For whatever it's worth, the work I'm currently doing with Pony AST manipulation from Pony is going to be 90% of the way to an autoformatting tool when I'm done.

Also I really hate autoformatting tools.

Also I agree that they sometimes make sense on projects where the average "contributor lifetime" is very low (e.g. lots of drive-bys), and would probably make sense to use here.

Though I want to

[2017-03-30 09:13] stefantalpalaru commented on #1779
Gentoo ebuild updated, even though it's not affected by the testing bug.

[2017-03-30 10:29] albertnetymk opened #1781 "nondeterministic failure when high number of threads are used"
Based on `647.pony` with minor revision so that some object is passed from one actor to another.

[code]

I have made two modifications to ponyrt to cause a failure.

- add `pony_assert(obj_local);` to `ponyint_gc_release` https://github.com/ponylang/ponyc/blob/master/src/libponyrt/gc/gc.c#L670
- hardcode `scheduler_count = 16;` `in scheduler.c` https://github.com/ponylang/ponyc/blob/master/src/li

[2017-03-30 13:32] agarman commented on #1483
With large number of connections (4000+) the test program hit the `EXC_BAD_ACCESS` almost immediately. This is regression from previous tests.

Previously, I thought the problem was resolved because I couldn't reproduce with low connection count (<1000). There's a regression here as well. `-c400` triggered `EXC_BAD_ACCESS` in seconds.

Same behavior with `--debug` compile.

[code]

[code]

[2017-03-30 16:03] jemc commented on #1781
@albertnetymk Thanks for filing this.  For clarificaiton, can you paste the output of `ponyc --version`?

[2017-03-30 16:13] albertnetymk commented on #1781
I have included the `pony` commit id.

[2017-03-30 16:22] cquinn commented on #1737
I have accepted.

[2017-03-30 20:09] jemc opened #1784 "Collection clone methods should return iso when A is sharable."
It's a quite common pain point in Pony that arrays of `#share`able objects (`val` or `tag`) cannot be `clone`d to `iso` or `val`, as would be expected (and is the case with `String.clone`). This isn't possible because doing so would be unsafe when `A` is *not* `#share`able.

This violates principle of least surprise for a lot of our users and we've received three PRs so far of users who were so su

[2017-03-30 20:10] jemc commented on #1784
Marking this a medium-priority bug, blocked until #1410 is implemented.

[2017-03-30 20:19] jemc commented on #1784
Changing the name of the ticket, since this applies not only to `Array`, but all other collections with a `clone` method as well (`List`, `Map`, `Set`, etc...)

[2017-03-30 22:22] SeanTAllen opened #1786 "Release 0.12.2"
About to merge a fix for the high-priority #1625.

Thank you @kulibali!

[2017-03-30 22:25] SeanTAllen opened #1787 "macOS sierra extreme busy wait"
Brought over from #1625

reported by @jonke.
I was trying out the Timer class, running an exact copy of the version in the doc: http://www.ponylang.org/ponyc/time-Timer/#timer

[code]

very high proportional cpu usage, on macOS Sierra

$ ponyc --version 0.11.0 [release] compiled with: llvm 3.9.1 -- Apple LLVM version 8.0.0 (clang-800.0.42.1)
$ bash --version GNU bash, version 3.2.57(1)-release (x8

[2017-03-30 22:26] #1625 closed

[2017-03-30 22:27] SeanTAllen commented on #1625
@jonke we found a fix for the windows related issue of this. opening #1787 for your issue.

[2017-03-30 22:31] SeanTAllen commented on #1786
Hoping to bless d2c32d9cb0822a09c9bf866d084edf583e14fe81

[2017-03-30 23:27] SeanTAllen commented on #1786
Blessing d2c32d9cb0822a09c9bf866d084edf583e14fe81

[2017-03-30 23:28] SeanTAllen commented on #1786
Release underway.

[2017-03-30 23:29] SeanTAllen commented on #1786
@stefantalpalaru here goes another, broken ponytest feature fix and a change that is windows only related.

[2017-03-30 23:33] SeanTAllen commented on #1786
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/11858

[2017-03-30 23:51] SeanTAllen commented on #1786
RPM, Debian and Windows are done

[2017-03-30 23:56] stefantalpalaru commented on #1786
Roger that. I'll skip this one.

[2017-03-31 00:16] SeanTAllen commented on #1786
reminder to myself: `curl -sL https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/ponyc.rb | grep url`

[2017-03-31 02:08] ilovezfs commented on #1592
Any progress here?

[2017-03-31 06:30] killerswan commented on #1732
Hmm, scratch most of that.

![mamz5_s-200x150](https://cloud.githubusercontent.com/assets/195060/24538694/9b928e0a-159f-11e7-8133-04a740b2af04.gif)

The problem with rebuilding everything is that LLVM rebuilds (a) take a long time and (b) seem unnecessary.  So an easy way forward is to just not do any rebuilds, and simply mirror!  That's what I've now set up https://github.com/killerswan/homebrew-

[2017-03-31 06:55] shawnye commented on #1129
I've installed `Visual C++ 2015 Build Tools`, and use `ponyc-0.12.2-win64`, the error still happened,

I found `vsvars32.bat` in  `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\Tools\` , no `vsvars.bat` file , maybe this is the reason ?

[2017-03-31 11:53] killerswan commented on #1732
A problem right now: upload size limits to Bintray.  The Homebrew project has permissions to upload larger files than I can mirror: (see [logs here](https://travis-ci.org/killerswan/homebrew-pony/jobs/217127406)):
[code]

Without being able to use a `root_url` / or mirrors of bottles other than Homebrew's upstream one, I'm not ready to make the next jump from mirroring to arbitrarily-renaming-vers

[2017-03-31 11:54] SeanTAllen commented on #1129
@kulibali any thoughts? I'm always in the dark on "almost all things windows".

[2017-03-31 11:55] SeanTAllen commented on #1786
homebrew released.

see y'all next time.

[2017-03-31 11:55] #1786 closed

[2017-03-31 14:41] killerswan commented on #1732
Yeah, here's a way to use upstream's LLVM to build ponyc:
https://github.com/ponylang/ponyc/pull/1788

[2017-03-31 14:52] kulibali commented on #1129
I'll take a look.  I may have broken this with my recent VS2017 change.

[2017-03-31 14:53] killerswan commented on #1734
@dubiousjim, I believe (based on my work for [this pull req.](https://github.com/ponylang/ponyc/pull/1788)) that here's a way to build ponyc with the upstream LLVM:
[code]

[2017-03-31 16:05] killerswan opened #1791 "Use LLVM's Debian/Ubuntu packages to build Pony"
We currently download the binary archive and extract it like so:
https://github.com/ponylang/ponyc/blob/master/.travis_install.bash#L18

That's cool and all but there's now an Apt repository we can use instead with some one-line addition to each Linux matrix config:
* http://blog.llvm.org/2017/03/some-news-about-aptllvmorg.html
* https://docs.travis-ci.com/user/installing-dependencies/#Installing-

[2017-03-31 18:35] SeanTAllen commented on #1787
I unfortunately can't replicate this.

@sylvanc you are on sierra, can you try to replicate?

anyone else using sierra who can give this a try?

[2017-04-01 03:55] kulibali commented on #1129
Ok, #1794 fixes the broken Build Tools support and cleans up the Visual Studio detection in general.

[2017-04-01 08:50] killerswan commented on #1791
FWIW, the Ubuntu 14.04 LTS (Trusty Tahr) release that I think is Travis' `trusty` default [will EOL in April 2019](https://wiki.ubuntu.com/Releases).

Anyways, http://apt.llvm.org/ describes the following Trusty .debs:
[code]

And I hypothesize (from that blog post above) that we can also try out:
[code]

And the page says:

Translated into Travis config language, I suspect this means we want some

[2017-04-01 09:05] killerswan commented on #1791
See https://github.com/ponylang/ponyc/pull/1795.  🐰

[2017-04-01 12:36] SeanTAllen opened #1796 "Release 0.12.3"
#1794 is a high priority fix for windows users.

Once it is merged, we should do another release.

[2017-04-01 17:26] SeanTAllen commented on #1796
#1794 was merged. Hoping we can bless 21cf66ca8c5b3e24b351fedb825d837082dd4cfe soon

[2017-04-01 17:45] SeanTAllen commented on #1796
Blessing 21cf66ca8c5b3e24b351fedb825d837082dd4cfe

[2017-04-01 17:46] SeanTAllen commented on #1796
Release underway

[2017-04-01 17:50] SeanTAllen commented on #1796
@stefantalpalaru fyi this is underway but changes impacts windows only.

[2017-04-01 17:52] SeanTAllen commented on #1796
Windows release is in bintray

[2017-04-01 17:54] SeanTAllen commented on #1796
Although not technically needed, I opened a PR to update homebrew:

https://github.com/Homebrew/homebrew-core/pull/11939

[2017-04-01 18:02] SeanTAllen commented on #1796
RPM and Debian in place.

[2017-04-01 18:10] SeanTAllen commented on #1796
Announced. Closing.

[2017-04-01 18:10] #1796 closed

[2017-04-01 22:34] SeanTAllen commented on #1787
@jonke which version of sierra do you have specifically?

[2017-04-02 01:05] agarman commented on #1787
@SeanTAllen After changing `let timers = Timers` to `let timers = Timers(1)` the test program took 300% CPU.

[code]

[code]

[2017-04-02 02:15] SeanTAllen commented on #1787
And before the change @agarman ?

[2017-04-02 08:45] rurban commented on #1592
nope, busy with other stuff

[2017-04-02 12:29] killerswan commented on #1592
I've renamed the ticket because this is a new feature, more or less, not a bug.

[2017-04-02 12:59] killerswan commented on #1729
Because I happen to have the tabs open:
* the latest apk for LLVM is 3.8.1, [here](https://pkgs.alpinelinux.org/packages?name=llvm&branch=&repo=&arch=&maintainer=),
* libressl is [here](https://pkgs.alpinelinux.org/packages?name=libressl&branch=&repo=&arch=&maintainer=), and
* pcre2 is [here](https://pkgs.alpinelinux.org/packages?name=pcre2&branch=&repo=&arch=&maintainer=)

[2017-04-02 17:17] agarman commented on #1787
25% with default slop. 300% with slop of 1.

[2017-04-04 02:15] SeanTAllen commented on #1017
I tried @Theodus's examples replacing the , with ; and got much better error messages

The only one I have questions about is:

[code]

which produces...

[code]

which feels like it could be better.

[2017-04-04 02:16] SeanTAllen commented on #1017
I'm marking this as "needs discussion during sync" to address the change in this related to recent Arrays-as-sequence change

[2017-04-04 11:20] plietar opened #1798 "`this->X!` should not be a subtype of `this->X`"
Reduced test case, this creates three references `x`, `y` and `z` to the same object,
[code]

Unless `X` is bounded by `#share` (or similar), this should not be allowed.

This can be used to create two `iso` references to the same object, as shown in the snippet below.
The clone method aliases `this.a`, which results in a `this->A!`. However this bug allows it to cast it to a `this->A`.

[code]

P

[2017-04-04 20:43] Jonke commented on #1787
@SeanTAllen At the time of the report macOS Sierra 10.12.3

However on 10.12.4
Pony built from source
../../ponyc/build/release/ponyc --version
0.12.3-4eb7bb1 [release]
compiled with: llvm 3.9.1 -- Apple LLVM version 8.0.0 (clang-800.0.42.1)

$ uname -a
Darwin Jonas-MBP 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64

slop 0
PID   COMMA

[2017-04-04 22:12] SeanTAllen commented on #1787
Lowering slop values should greatly increase CPU usage.

How are you getting CPU usage? Is that a single moment in time? Is that consistently using that much CPU?

[2017-04-04 23:29] plietar commented on #1798
Simpler test case, which relies on `X! ≤ ref->X`.
The method `alias` duplicates any reference, including an `iso` or `trn`.
[code]

[2017-04-05 08:53] shawnye opened #1805 "How to build win32 application under win64 environment?"
I try `ponyc --triple=i386-pc-win32  -V=3`

got
`
Linking .\libtest.exe
cmd /C ""C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\link.exe" /DEBUG /NOLOGO /MACHINE:X64 /OUT:.\libtest.exe .\libtest.obj /LIBPATH:"C:\Program Files (x86)\Windows Kits\10\Lib\10.0.10240.0\ucrt\x64" /LIBPATH:"C:\Program Files (x86)\Windows Kits\10\Lib\10.0.10240.0\um\x64" /LIBPATH:"C:\Program Files (x86)\

[2017-04-05 10:38] plietar opened #1807 "`Foo iso` is outside constraint `Foo iso | Bar val`"
[code]
[code]
https://is.gd/5upkoo

This error occurs with both `iso` and `trn`. It works with other capabilities.
I'm not completely sure whether this should be allowed or not, but I'd be inclined to say yes.

[2017-04-05 12:59] agarman commented on #1787
When I tested it was non-stop 300% CPU utilization.

[2017-04-05 13:57] SeanTAllen commented on #1787
With a standard slop value @agarman?

[2017-04-05 15:14] agarman commented on #1787
@SeanTAllen I reproduce same results as @Jonke
At default slop (20): 15-25% CPU
at slop (1): 300% CPU

[2017-04-05 15:24] kulibali commented on #1805
Right now `ponyc` on Windows only supports building 64-bit programs.

[2017-04-05 15:24] #1805 closed

[2017-04-05 18:41] plietar opened #1809 "Arrow type in a method's type argument constraint causes a failed assertion"
[code]
[code]

This is the same as https://github.com/ponylang/ponyc/issues/1694, but in a method's type parameters rather than a class. My guess is because of the `(opt->check.frame->method == NULL)` check in [libponyc/pass/syntax.c#L451](https://github.com/ponylang/ponyc/blob/master/src/libponyc/pass/syntax.c#L451)

Removing the check makes the snippet above cause the expected error. However it

[2017-04-05 18:46] plietar opened #1810 "`Y->Z` is outside empty contraint"
[code]
[code]

Given that `Bar`'s type argument is unconstrained, anything should be allowed as an argument.

[2017-04-05 19:39] SeanTAllen commented on #1017
At sync we decided new error message is good. No need to address anymore as there is no longer an issue.

[2017-04-05 19:39] #1017 closed

[2017-04-05 19:44] SeanTAllen commented on #1216
@sylvanc we removed you from this. if you want to take on, that would be awesome or if you can leave a note on what needs to be done to fix so someone else can do the work.

[2017-04-05 19:49] SeanTAllen opened #1811 "Always use --pic when using GCC on Linux"
Solution to #1484 has been decided that we will check for `gcc` for running on linux and use --pic in those cases by default. We believe this should make for a better experience for users. It might cause some issues but we can address them if they arises.

[2017-04-05 19:50] SeanTAllen commented on #1484
Closing in favor of #1811

[2017-04-05 19:55] SeanTAllen commented on #1665
@dc0d do you still have this issue with the latest releases?

[2017-04-05 19:59] SeanTAllen commented on #1665
Discussion from sync: Closing because we feel that the warning covers this currently and we aren't sure what we can do that is better without adding a lot of complexity that might cause other errors.

[2017-04-05 19:59] #1665 closed

[2017-04-05 20:02] jemc commented on #1666
So if I understand correctly, we need to wait for LLVM to push a new patch release, then bump our LLVM version requirement to require that new patch release.

So this effort is blocked by waiting for LLVM to fix the bug.